[2018-04-06 20:39] Leeoku commented on #445
I believe the linter is not accepting ** as exponent in JS, used in VSCODE

Current Code:

[code]

Code that works:

[code]

[2018-04-06 21:45] EWhite613 opened #447 "ESLint is not validating any files yet after vscode: 1.22.1"
No output in the console, or anywhere I can find. Won't lint any files after vscode: 1.22.1

Was working fine prior to update

[2018-04-06 21:47] EWhite613 commented on #447
Fixed after uninstalling and installing extension

[2018-04-06 21:47] #447 closed

[2018-04-06 23:55] jake-lambert-volusion opened #448 "code -add and workingDirectories"
I work with a large number of repos. As a workflow, I have a primary workspace and frequently add and remove folders depending on the set of issues I am working on.

I frequently `code -add ./whatever-i-just-cloned`. From what I can tell, `vscode-eslint` does not lint `whatever-i-just-cloned` unless I add it to `eslint.workingDirectories` in my workspace settings.

In a multi-root workspace, is it

[2018-04-09 06:03] JonWallsten commented on #442
Yep! They are there.
![image](https://user-images.githubusercontent.com/5993909/38481714-716d2762-3bcc-11e8-88ee-4fb005eef726.png)

[2018-04-09 06:05] JonWallsten commented on #442
Edit: Might be a bigger issue:

[2018-04-09 09:47] dbaeumer commented on #442
I am pretty sure that this is not special to ESLint since it fails for other extensions as well. @JonWallsten anything that you can think of is special with our machine. Which VS Code build are you using?

[2018-04-09 11:39] dbaeumer commented on #448
Actually that should work. The ESLint extension listen to workspace folder changes and validates them as soon as they are added to VS Code. But you need to open a folder to get the validation to work and eslint must be configured correctly for the folder you added (e.g. the folder needs to validate using ESLint when you open just this folder)

[2018-04-09 11:42] dbaeumer commented on #445
Does this validate correctly when running ESLint from the terminal.

[2018-04-09 11:44] dbaeumer commented on #446
This message is only shown once per new workspace. On the next open the output channel shouldn't come to front. You can alternatively disable eslint as a user setting and enable on the workspace you need to.

[2018-04-09 11:48] dbaeumer commented on #440
Would one of you be able to debug this if I give you instruction on how to do so? They are:

- clone this repository
- cd into the directory
- npm install
- npm run compile
- open the workspace with VS Code.
- go to client\src\extension.ts
- on line 361 change inspect to inspect-brk
- Run Task > npm run watch:client
- open debug panel and select Lanuch Extension. Press the run button
- in the star

[2018-04-09 12:25] drw112 commented on #440
It seems to be taking a very long time on line 310
`		_globalNpmPath = Files.resolveGlobalNodePath(trace);`

in the globalNpmPath function

It does eventually return the right path for the _globalNpmPath variable.

Looking in files.js it seems to be taking forever on the spawnSync command

Eventually stdout comes back with the npm folder in my roaming profile (Windows)

I see these log lines in th

[2018-04-09 13:49] JonWallsten commented on #442
I'm using the latest version. Updated a couple of days ago, if not yesterday. I tried to debug today, but I can't access all necessary files in the built-in dev tools.

[2018-04-09 19:30] Leeoku commented on #445
i installed eslint from terminal and set up a config file. Running my file still errors
https://i.imgur.com/tvDm2vn.png

[2018-04-09 19:46] dbaeumer commented on #440
The `Files.resolveGlobalNodePath(trace)` call at the end call `npm config get prefix` :-). May be it is a problem when executed from within node.

Thanks for the debug output. This is caused on the client and has no impact on the server startup. I will look into this.

[2018-04-09 19:49] dbaeumer commented on #440
Can you take this little program and execute it in node

[code]

How long does it take ?

[2018-04-09 19:54] drw112 commented on #440
About 3 minutes 😄

PS R:\> node test.js
C:\Users\[username]\AppData\Roaming\npm

[2018-04-09 20:35] agm1984 commented on #164
Hello again, my ES Lint is going haywire again today. It got tripped up on something, like I pasted in some code or otherwise typed in some terrible syntax while reasoning about a lambda function in a React render method, and it started throwing all kinds of non-existent errors. Closing the file did not help.

In fact, there is an error in here and it isn't dismissing it. The error just moves arou

[2018-04-09 20:39] agm1984 commented on #164
Sorry for generating a second notification, should tag @dbaeumer

[2018-04-10 07:25] schmic commented on #440
Thanks @drw112 for helping out with those infos.

[code]

[2018-04-10 08:12] dbaeumer commented on #440
Frankly speaking I have no idea why spawning a shell and running `npm config get prefix` takes 3 minutes on your systems. Interestingly both see ~3 minutes so it looks like node is waiting for something and then times out. Could you change the simple program to for example execute 'dir' / 'ls' to see whether it is a spawn problem or a problem of npm

[2018-04-10 08:30] schmic commented on #440
[code]

[2018-04-10 08:31] schmic commented on #440
The problem is spawning `npm.cmd`.
That alone takes ~3 minutes here with no other arguments

[2018-04-10 08:36] schmic commented on #440
As I said, I'm behind a proxy / firewall.

I've set http_proxy & https_proxy environment variables which npm respects when installing modules. If I switch into our guest wlan and execute the little program from above it works instantly.

[code]

As I said our firewall drops instead of rejecting connections so they end up in a timeout, multiply that 30s timeout by 6 and you get the 3 minutes waitin

[2018-04-10 08:38] agm1984 commented on #164
I absolutely notice high CPU. It's one of the reasons I know it is acting up. Sometimes I hear my fan turn on and pretty much stay on, and I always attribute it to VS Code starting to hemorrhage.

I've been experiencing this issue for a few months. The problem is I've never found a way to reproduce it. I've been looking the whole time. I did QA for 5 years, so I know your pain. It's why I'm trying

[2018-04-10 08:42] dbaeumer commented on #164
@agm1984 thanks a lot for your willingness to help me track this down. The first thing we need to nail down is what causes the high CPU load. It could be the extension host as well. If it happens the next time and you hear your fan can you run `code --status` from another terminal. This will print all code process to the console with the mem / CPU usage. Paste the result here.

[2018-04-10 08:47] dbaeumer commented on #440
What I don't get is when you execute `npm get config prefix` in the terminal directly it is instant. If launched from another node process it is not. Spawn inherits the environment from the parent process so the https_proxy environment variables should be setup as well.

[2018-04-10 08:55] joaomoreno commented on #442
@dbaeumer Related to https://github.com/Microsoft/vscode-extension-telemetry/issues/12#issuecomment-379977047 ?

[2018-04-10 09:01] schmic commented on #440
Some more information.

I run Windows 7 here, running git-bash.exe, usually. In that environment we have that problem. If I execute the same thing from a dos-prompt it works as it should ...

[2018-04-10 09:03] schmic commented on #440
If I start VS Code by double-clicking the .exe:
[code]

[2018-04-10 09:12] schmic commented on #440
foo.js
[code]

foo.cmd
[code]

Executing:
[code]

[2018-04-10 10:08] dbaeumer commented on #442
@joaomoreno thanks for the hint. @JonWallsten are you using insider releases ?

[2018-04-10 10:13] JonWallsten commented on #442
Sorry. I'm using the normal version.
![image](https://user-images.githubusercontent.com/5993909/38551087-994c1b48-3cb8-11e8-8b9e-69a9bc07b374.png)

[2018-04-10 10:26] JonWallsten commented on #442
How do I debug this thing?
Most of the files referenced doesn't exist when using CTRL+P in DevTools and the once that does exist does not break for anything related to dbaeumer.vscode-eslint. Is this thing running in some other context? Feels like I'm missing something.

[code]

[2018-04-10 10:36] dbaeumer commented on #440
@schmic great.

@drw112 what's about you?

[2018-04-10 10:49] #441 closed

[2018-04-10 10:49] #405 closed

[2018-04-10 12:10] drw112 commented on #440
I did a bit more testing. The files provided by  @schmic don't have a noticeable effect on my execution time.  Which I thought was odd.  So, I borrowed a spare machine and installed Node 8.11.1 on it.  The execution time running with the external foo.cmd and with the args are both very fast ~1 second.

So this doesn't seem to have anything to do with the proxy but rather how my Node environment is

[2018-04-10 12:26] drw112 commented on #440
It looks like this issue is already being talked about here: https://github.com/npm/npm/issues/19756

[2018-04-10 14:15] alexandrudima commented on #442
Well, the first place I would check would be on disk. Is there a `vscode-languageclient` node module in the install location of `eslint`?

`C:\users\YOUR_USER\.vscode-insiders\extensions\dbaeumer.vscode-eslint-1.4.8\client\node_modules\vscode-languageclient`

i.e. perhaps the installation of eslint became corrupt for some reason...

[2018-04-10 18:09] agm1984 commented on #164
VS Code is destroying my CPU for no reason this morning. Everything works, but it's using 20% of my CPU:

`code --status` results:

`` bash

Collecting CPU and memory information. This might take a couple of seconds.

Version:          Code 1.21.1 (79b44aa704ce542d8ca4a3cc44cfca566e7720f1, 2018-03-14T14:46:47.128Z)
OS Version:       Windows_NT x64 10.0.16299
CPUs:             Intel(R) Core(TM) i7-

[2018-04-10 20:29] dbaeumer commented on #164
Actually the CPU load of all processes is zero. `C:\Adam\omni-ssr\node_modules\react-scripts\scripts\start.js` used 200 MB of memory. When you captured the status did you observer High CPU load?

[2018-04-10 20:32] agm1984 commented on #164
Yes, after I closed all three VS Codes, there was a remaining VS Code process visible in the Task Manager, and it was maintaining 20% CPU load.

[2018-04-10 23:28] coyle5280 commented on #437
@dbaeumer Sorry I have not been able to get to those steps yet but I will soon.  Hopefully tomorrow the 11th.  Will post back then. Thanks!

[2018-04-11 04:35] JonWallsten commented on #442
@alexandrudima Thanks for joining! Yes, be cleared that up already unfortunately. I would like to dig around with the debugger. Then problem is that when I add breakpoints to module.js it doesn't have this extension. I've made a conditional breakpoint to stop whenever it's trying to load the module 'vscode-languageclient', but it never stops. I've tried adding breakpoints to other places as well.

[2018-04-11 06:01] schmic commented on #440
Good morning.

[code]

[code]

Works for me.

[2018-04-11 06:44] alexandrudima commented on #442
@JonWallsten Sorry about that, I didn't pay enough attention. I wonder if a built-in or another 3rd party extension is causing this. i.e. it is possible for any extension to *mess with* node's `require` and then not show up in the stack traces.

So, could you please:
* Have only eslint in `C:\users\YOUR_USER\.vscode-insiders\extensions\` and move all the other somewhere else temporarily
* Move all

[2018-04-11 08:12] dbaeumer commented on #164
Actually the CPU load of all processes is zero. `C:\Adam\omni-ssr\node_modules\react-scripts\scripts\start.js` used 200 MB of memory. When you captured the status did you observer High CPU load?

[2018-04-11 08:49] #341 closed

[2018-04-11 10:05] dbaeumer commented on #440
@schmic & @drw112 thanks a lot for the great analysis of the problem.

[2018-04-11 10:07] dbaeumer commented on #405
The issue got auto closed since I am not able to reproduce it and not additional steps got provided. I am happy to reopen if I have some steps I can use to track this down.

[2018-04-11 11:56] #440 closed

[2018-04-11 20:02] coyle5280 commented on #437
@dbaeumer I followed the steps you have listed above and was able to step through the file `eslintServer.js`.  Unfortunately I did not come across any errors.  Everything seems to proceed correctly as I step through the program.  Any ideas? Or anything that I need to look for that i might be missing.

[2018-04-12 04:04] GiancarlosIO commented on #405
Guys, I was getting the same issue, no errors with eslint command but vscode show me errors for import using aliases. Thanks for a vscode notification I just check the output tab and it shows me this:
![screenshot from 2018-04-11 22 49 31](https://user-images.githubusercontent.com/17274950/38655591-2a302852-3ddb-11e8-97c9-4628e7db8fd4.png)

yes, I was using spread operator in my webpack config, I'

[2018-04-12 05:02] JonWallsten commented on #442
After the first suggestion:
![image](https://user-images.githubusercontent.com/5993909/38657208-3fef83f6-3e1f-11e8-83d4-29fefe6159aa.png)

After the first and then second suggestion:
![image](https://user-images.githubusercontent.com/5993909/38657242-73f5037e-3e1f-11e8-9efa-354970730fd2.png)

[2018-04-12 05:13] JonWallsten commented on #442
So, it turns out that uninstalling an extension is not actually removing it in the extension folder. So when you install again, it still the same old files. I removed eslint and stylelint and installed both again. Voila! No error! Thanks guys!

[2018-04-12 07:46] alexandrudima commented on #442
The extension on disk is marked for deletion and is deleted at the next restart of VSCode...

@sandy081 Is there a way to avoid this. i.e. We were troubleshooting an extension installation problem, and the very first thing we tried was to reinstall the extension, but uninstall and install resulted in the same old files. Is there a way to prevent this? i.e. we could disable installing again until t

[2018-04-12 07:47] #442 closed

[2018-04-12 08:17] sandy081 commented on #442
@alexandrudima For trouble shooting there is a developer command that will delete and install the extension `Developer: Reinstall Extension`.

In normal scenario where user tries to uninstall and install the same version of extension, we can try to delete the extension on install and if there is an issue while deleting, we can ask user to restart VS Code before installing.

[2018-04-12 09:52] dbaeumer commented on #442
@alexandrudima thanks a lot for your help with this.

[2018-04-12 09:54] dbaeumer commented on #405
The reason for this is that the eslint extension uses the node version that ship with VS Code which is pretty outdated. This will change soon when VS Code moves to a newer Electron version which is planned.

[2018-04-12 10:02] dbaeumer commented on #437
@coyle5280 thanks for doing this. That indicates that it doesn't fail when the initial modules are loaded. Can you try setting a breakpiont at line 244 (content `library = require(path);`) and see if something wired happens there?

[2018-04-12 10:03] dbaeumer commented on #437
And do you have any special firewall or proxy setup which might terminate the connection between the extension host and the ESLint server?

[2018-04-12 15:38] davidtn commented on #341
No, this is a real problem. I'm editing Go code and on save that causes a reformat then the cursor gets thrown to the end of file.

Interestingly this only started to happen when I updated to the latest version of Go (which causes the formatting tools to be rebuilt I think)

[2018-04-13 06:39] SenHeng opened #449 "Prefer-const false positive"
Posting here instead of in eslint repo because the error only appears in vscode, not on the cli.

<img width="584" alt="2018-04-13 15 31 40" src="https://user-images.githubusercontent.com/11208360/38720341-dd56a248-3f30-11e8-9f86-d3b9a86dd2dc.png">

vscode: 1.22.2
eslint: 4.19.2

[2018-04-13 06:50] JonWallsten commented on #442
@alexandrudima @sandy081: I did press the "Restart" button between uninstall and install. But I still had the same files left.

[2018-04-13 08:46] dbaeumer commented on #449
@SenHeng can you provide me with a GitHub repository to reproduce the problem. The ESLint plugin calls the eslint npm libraries so in principal the code is the same and should produce the same errors.

Could it be when you execute eslint in the terminal it uses a global installed one compared to the ESLint extension using a local one?

[2018-04-13 08:47] dbaeumer commented on #341
@davidtn can you please report this then to the Go extension. This is about the ESLint extension.

[2018-04-13 08:48] dbaeumer commented on #445
@Leeoku then this is a problem with eslint npm module itself. Can you please report the error here: https://github.com/eslint/eslint

[2018-04-13 08:48] #445 closed

[2018-04-13 13:06] smoebody opened #450 "[feature-request] parse eslint-report instead"
Hi,

I am running *eslint* as part of several preprocessing-tools within a docker-container. I have not installed eslint locally. Would it be possible to monitor a report-file generated by my docker-eslint?
It would be necessary to configure a path mapping though ( /path/on/host -> /path/in/docker-container)

Thanks in advance

[2018-04-15 19:32] agm1984 commented on #164
Couple notes for @dbaeumer

The other day I noticed WMI Provider Host was using a lot of CPU hovering around 20% CPU.

I also noticed that I am running `node-sass-chokidar` and it sometimes causes issues with closing VS Code while it is performing updates if this occurs while CSS files are open and/or recently edited while `node-sass-chokidar` is watching the project. It's a problem with file lock

[2018-04-16 01:35] SenHeng commented on #449
I'll see if I can reproduce a smaller repo. I took a quick look at the various config files and I think this is how it works.

Grunt -> babelify -> .babelrc -> babel-eslint -> .eslintrc.js

There's also a separate `npm link` run script that's simply `eslint .eslintrc.js app/scripts/`. So both of them end up using the same eslint config but neither of them produce any errors or warnings.

Both glob

[2018-04-16 11:49] #448 closed

[2018-04-16 13:36] telemmaite opened #451 "Error when validating package.json with comments."
Looks like this issue is back.
https://github.com/Microsoft/vscode-eslint/issues/141

I have a package.json generated from ExtJS Sencha command, which is non standard JSON with comments inside. VS Code keeps pinging that there is an error, **even though I have explicitly set**
`
    "eslint.validate": [
        "javascript",
        "javascriptreact"
    ]
`

[Error - 4:27:25 PM] ESLint stack trac

[2018-04-16 17:29] jake-lambert-volusion commented on #448
I think my problem was that I don't use global eslint and was doing `code -add` before `npm install`.

Thank you @dbaeumer!

[2018-04-17 08:56] Tonysmark commented on #389
Same problem bro...

[2018-04-17 09:43] sjorsjes opened #452 "Cannot find module 'vscode-jsonrpc'"
**Windows**: 10.0.16299 Build 16299 x64 based*
**VS Code**: 1.22.2
**Eslint Extention**: 1.4.8
**Eslint**: 4.19.1

The extention is not running because of the following error shown in the dev tools. Tried to reinstall the extention, vs code and installing eslint globally but nothing fixed this error.

[code]

## Error stack
[code]

[2018-04-17 16:40] gregvanl opened #453 "ESLint extension missing 'javascript' tag"
https://github.com/Microsoft/vscode-docs/issues/1420 noted that ESLint is not displayed in the query of popular JavaScript extensions on the languages/javascript topic.
The Marketplace query is simply searching for "javascript".
Adding a 'javascript' tag to package.json should help users find this JavaScript extension.

[2018-04-17 21:01] josephtannenbaum opened #454 "Option to disable highlighting in overview ruler (scroll bar gutter)"
Sometimes the green labelling of lines in the overview ruler (scroll bar gutter) is visually disruptive, it would be nice to turn it off via a `eslint.enableOverviewRulerHighlighting` type setting.

If the option exists already, it should be in the readme!

Example:

![screen shot 2018-04-17 at 5 10 17 pm](https://user-images.githubusercontent.com/28641/38897516-419fed70-4262-11e8-9b9d-b5c8c0d50cf

[2018-04-18 08:59] janbiasi opened #455 "ESLint config in a lerna subpackage is not loaded correctly"
We currently have a problem with the eslint extension in combination with a lerna setup and multiple configuration files. The described issue occurs in a commercial project for a big company with closed source, so we can not add logs or traces to this issue - but we'll describe the error case as good as possible.

# The Problem
ESLint in the VSCode (IDE only) will show errors for the `import/resol

[2018-04-18 09:50] dbaeumer commented on #455
Thanks for the detailed issue report. Looking at your project structure I think you need to configure proper working directories for the ESLint extension. See here for how to do this: https://github.com/Microsoft/vscode-eslint. The setting is: `eslint.workingDirectories`. In our case the working directory is very likely `packages/app/main-app`. If you don't set this the workingDirectory for eslint

[2018-04-18 09:52] dbaeumer commented on #454
This is nothing ESLint controls. The overview ruler is managed by VS Code itself. I checked the VS Code options and couldn't find one. Please open a feature request here: https://github.com/Microsoft/vscode

[2018-04-18 09:52] #454 closed

[2018-04-18 10:00] dbaeumer commented on #453
@gregvanl where do I add this tag. All I have is a `"categories"` field?

[2018-04-18 10:02] dbaeumer commented on #452
This is very likely a broken installation. See comment here https://github.com/Microsoft/vscode-eslint/issues/442#issuecomment-380718451 on how to reinstall.

Let me know if this fixes the problem.

[2018-04-18 10:06] dbaeumer commented on #389
This is a problem with the `.eslintrc.json` file what happens when you run eslint from a terminal using the same configuration.

[2018-04-18 10:10] sjorsjes commented on #452
Aha a complete removal of the directory `C:\Users\<user>\.vscode\extensions\dbaeumer.vscode-eslint-1.4.8` and reinstall through vs code did the trick! Thanks!

[2018-04-18 10:10] #452 closed

[2018-04-18 10:17] dbaeumer commented on #164
Actually the ESLint server is only reading eslint configuration files from disk (e.g..eslintrc, .eslintignore, package.json). I never reads JS files or other files it is validating since the validation happens in memory.

If you see problem with the VS Code installer I would like to ask you to file an issue against vscode itself here: https://github.com/Microsoft/vscode

I still don't have a feeli

[2018-04-18 21:28] gregvanl commented on #453
Looking at the tagging source code in vsce, I think the easiest way is to add "JavaScript" to the extension description.
How about changing the description to: "Integrates the ESLint JavaScript Linter into VS Code"?
You can also add a keyword to package.json but having a better description is probably a good thing.

[2018-04-18 22:37] justinlevi opened #456 "ESLint: Cannot read property 'value' of null. Please see the 'ESLint' output channel for details."
Referencing this issue
https://github.com/Microsoft/vscode/issues/48151

[Error - 14:15:49] ESLint stack trace:
[Error - 14:15:49] TypeError: Cannot read property 'value' of null
at Object.isOpeningBraceToken (/Users/justinwinter/Sites/d8d/front-end/node_modules/eslint/lib/ast-utils.js:354:17)
at validate (/Users/justinwinter/Sites/d8d/front-end/node_modules/eslint/lib/rules/arrow-body-style.js:12

[2018-04-18 22:52] egucciar commented on #389
Same problem ....sad!!!

[2018-04-19 08:40] dbaeumer commented on #389
Actually I can't reproduce this. Here is what I get:

<img width="935" alt="capture" src="https://user-images.githubusercontent.com/1931590/38980773-015dcbda-43be-11e8-9975-9eed0a4316a4.png">

Someone who can reproduce this can you please provide me with a GitHub repository that demos this.

[2018-04-19 08:43] dbaeumer commented on #456
@justinlevi this is a problem in the ESLint npm library itself. TO verify can you run ESLint from the terminal and see if you get the same exception. If yes, please report the issue here: https://github.com/eslint/eslint

[2018-04-19 08:45] dbaeumer commented on #453
Changed the description as recommended.

[2018-04-19 08:46] #453 closed

[2018-04-19 08:47] dbaeumer commented on #452
Happy to help.

[2018-04-19 11:02] egucciar commented on #389
Yeah agree I got it working too. Weird, it turned out to be the Switch Case as Pascal and I had it as camel. Sorry! But the error msg wasn't helping

[2018-04-19 11:35] janbiasi commented on #455
Thanks for the hint @dbaeumer but it looks like that this setting doesn't work properly in our case (added to the workspace settings and reloaded the editor). I'll try to create an example project setup as GitHub repository until the beginning of the next week. 😃

[2018-04-19 14:40] justinlevi commented on #456
The issue seems intermittent and is no working. I'll report back here if it pops up again.

[2018-04-19 14:40] #456 closed

[2018-04-19 14:50] telemmaite commented on #451
Yes the error that is triggered is because JSON.parse cannot handle the comment (checked that myself).
I am perfectly fine with this.
All I want to configure **vscode-eslint** to scan **only .js** files and **exclude any .json** files such as **package.json**.

I dont understand how to properly exclude .json files. I though `"eslint.validate": [ "javascript", "javascriptreact" ]` which are default

[2018-04-19 19:50] coyle5280 commented on #437
@dbaeumer I do not have any firewalls or proxies setup that I am aware of.  I placed several break points on and around line 244 but the program never halted at those locations.

[2018-04-20 07:27] dbaeumer commented on #451
@telemmaite ESLint is not validating the `package.json` file. The ESLint npm module reads the `package.json` file NOT to validate it. It reads it to check if the package.json contains any ESLint configuration options. See here why: https://eslint.org/docs/user-guide/configuring. The section of interest is labeled `Or in a package.json file`

[2018-04-20 07:28] dbaeumer commented on #455
Great. Ping me when available.

[2018-04-20 07:30] dbaeumer commented on #389
The error message comes from the npm module. To improve it please file an issue against https://github.com/eslint/eslint

OK to close ?

[2018-04-20 07:38] egucciar commented on #389
I believe my issue only looked like the issue in the thread. Note the other users switch case case is alright.

[2018-04-20 13:26] telemmaite commented on #451
Thanks a lot for the clarification! I created a .eslintignore file and added the package.json with comments inside. Now I am no longer spammed by the popup message.

[2018-04-20 13:27] #451 closed

[2018-04-20 13:31] bensaufley commented on #389
FWIW I've moved to `eslint-config-airbnb` in most projects, and updated eslint several times at that, so whether or not this has been fixed I'm no longer encountering it. The issue was in a private repo. I'm not sure if I tried recreating it in a public example repo. I'm fine with closing; if I come across it again I'll try to create a public example repo and ask to reopen.

[2018-04-21 07:10] pankaja92 opened #457 "eslint doesn't show the issues on PROBLEMS tab"
I had an existing project (React app created using CRA) and I followed some tutorials and configured eslint for the project. And I've added these on my *USER SETTINGS* config file

[code]

Then after completing it, I created a new project (same as before - React App) and ran the command
`eslint --init` and added the eslint configuration I'm using ( [Wesbos's eslint config](https://gist.github.com/

[2018-04-24 19:54] gufonsecaa opened #458 "The ESLint server crashed 5 times in the last 3 minutes. The server will not be restarted."
I tried to install the ESLint extension but when I open a file ".js" show this error "The ESLint server crashed 5 times in the last 3 minutes. The server will not be restarted".

Info:
Version VSCode: 1.22.2
Architecture: x64

[2018-04-25 03:23] garyking opened #459 "Add syntax highlighting for .eslintignore file"
Please add syntax highlighting for .eslintignore files, mostly so comments are highlighted.

I don't know if it should just use the `Shell script` format, or the same one as used in .gitignore files, etc.?

[2018-04-25 06:34] OneOfOne commented on #154
I'd be fine with it executing `eslint --fix` on the current file.

[2018-04-25 07:50] dbaeumer commented on #459
Actually VS Code has no syntax coloring for .gitignore. Or do you see that colored ?

[2018-04-25 07:53] dbaeumer commented on #458
Dups https://github.com/Microsoft/vscode-eslint/issues/437.

@gufonsecaa Please see the steps around debugging. So far I was not able to understand why this happens on a handful of machines.

[2018-04-25 07:53] #458 closed

[2018-04-25 08:53] dbaeumer commented on #437
@coyle5280  This is really strange. I attached a new vsix with some improved error handling.

[vscode-eslint-1.4.8.zip](https://github.com/Microsoft/vscode-eslint/files/1946241/vscode-eslint-1.4.8.zip)

Can you install the vsix using the steps from here: https://github.com/Microsoft/vscode-eslint/issues/437#issuecomment-379174799 and let me know if there is any special output in the ESLint Output

[2018-04-25 09:08] dbaeumer commented on #455
@janbiasi thanks for the GitHub repository. This is definitely a setup issue. Executing ` .\node_modules\.bin\eslint .\packages\apps\main-app\src\components\AB.js` reports the same set of problems.

![capture](https://user-images.githubusercontent.com/1931590/39236368-f87b50a4-4878-11e8-8640-1cc4ff4fa791.png)

[2018-04-25 09:09] dbaeumer commented on #455
Executing eslint from `packages\apps\main-app` does not report any issues.

[2018-04-25 09:13] dbaeumer commented on #455
Using the following setting
[code]
Makes eslint work.

I will add something to the doc about `changeProcessCWD` which is indeed missing. I added that especially to resolve relative imports.

[2018-04-25 09:13] #455 closed

[2018-04-25 12:32] marekkaczkowski opened #460 "Add option to set --no-color"
Due to Windows problems with ANSI color codes it would be nice to have an option to disable it:

`eslint.noColor: Boolean`

Output in popover:
![ansi-vscode-eslint_042518_022945_pm](https://user-images.githubusercontent.com/273831/39245830-1bac8a40-4895-11e8-8485-b163583fda17.jpg)
Raw text:
[code]

Ref: Same issue in vscode-jest https://github.com/jest-community/vscode-jest/issues/279

[2018-04-25 16:36] garyking commented on #459
I'm using the [gitignore](https://marketplace.visualstudio.com/items?itemName=codezombiech.gitignore) extension for gitignore files, so perhaps the eslint ext could do the same and color eslintignore files the same way?

[2018-04-25 22:32] janbiasi commented on #455
Thank you @dbaeumer, this fixed our issue! Also a huge thanks for the super-fast service 😃

[2018-04-26 06:56] klassicd commented on #455
I'm running into the same issue but the setting doesn't seem to help.

From `/project/web` I can run `node -r babel-register  ./node_modules/.bin/eslint --ext .js src` without any error.  Webpack is able to compile my project normally and run in the browser.

In `/project/.vscode/settings.json` I have the following:

[code]

Yet vscode is still reporting eslint errors. ![example](https://drive.goo

[2018-04-26 09:25] dbaeumer commented on #460
@marekkaczkowski did you run a task to get these errors? Can you provide me with a GitHub repository that I can clone that demos this. I have never seen this. The ESLint extension actually doesn't spawn any external terminal processes. It uses the ESLint npm module directly so it should never receive ANSI control characters

[2018-04-26 11:02] marekkaczkowski commented on #460
Got it! `parser: 'babel-eslint'` is causing this issue. W can close it.

[2018-04-26 11:02] #460 closed

[2018-04-26 13:54] dbaeumer commented on #409
No. The provided PR has some comments which didn't get attention. I am still happy to accept a PR here.

[2018-04-26 17:10] klassicd commented on #455
@dbaeumer Thanks, I think I figured out the issue.

My webpack config is written using babel.

So in `/Workspace/project/web/.eslintrc.yml` I have:
[code]

To run test I have to include babel-register to parse the config file properly.

**Works**
[code]

**Fails**
[code]
My though was that the `nodePath` setting would be prepended to the eslint call.  Any idea how I could accomplish this without r

[2018-04-27 12:44] Herteby opened #461 "Add setting "don't show autofixable errors""
It's kind of distracting to see errors about autofixable things.
It'd be awesome if there was a setting to not show them, and just fix them with autoFixOnSave!
Looking at the ESLint API, message objects have a "fix" property if they are fixable, so you could probably just filter them by that.

[2018-04-27 15:41] coyle5280 commented on #437
@dbaeumer I downloaded the new extension and reran. The output in the console does not appear to have changed any .  Below is a picture. I downloaded and installed the extension twice to make sure that I was getting the newer version.

![image](https://user-images.githubusercontent.com/11877788/39371500-1efe7f58-49ff-11e8-905c-2dc08cce0746.png)

[2018-04-27 19:58] dbaeumer commented on #437
I start to think that something else closes the connection. The server is not hitting the process.exit method nor does not report any uncaught exceptions.

The server exits itself if the connection closes and the client then restarts the server. This could exactly produce the output. I need to think how to best log this to verify this assumption.

I am out for a week. So please be patient.

[2018-04-29 19:48] klassicd commented on #455
@dbaeumer Sure.  If I understand correctly, we need to add a config option that allows an additional argument passed to the child process `execArgv ` here? https://github.com/klassicd/vscode-languageserver-node/blob/master/server/src/files.ts#L152

[2018-04-30 03:16] garyking opened #462 "Disable automatic linting for unnamed documents"
If I create a new tab in VS Code and paste some JavaScript code, then this extension will lint all of the pasted content.

But my settings are `"eslint.run": "onSave"`, yet this doesn't seem to apply for unnamed documents, as mentioned above.

Please make this extension disabled for unnamed documents if `onSave` is set.

[2018-04-30 09:00] dtinth commented on #154
VS Code’s source code has this function [computeMoreMinimalEdits](https://github.com/Microsoft/vscode/blob/14a2bc0214fdee3ed1c30fba88db5ea827093518/src/vs/editor/common/services/editorSimpleWorker.ts#L366) which basically takes a list of TextEdit operations and computes a minimal one.

This allows the whole document text to be replaced while keeping markers and stuff. However, I am not sure how th

[2018-04-30 17:25] coyle5280 commented on #437
Ok thanks for the help.  One interesting thing to note. Not sure if it matters but I removed all of my eslint node modules and I get the same output from the eslint server. I was expecting to get a message about eslint not being installed but that was not the case.  Again not sure if that matters but it might indicate that for some reason the plugin is not finding the eslint module installed globa

[2018-04-30 22:59] Hirse commented on #409
Your single comment was to "not do this", so I am confused how you are "happy to accept a PR here".

Regardless, I have updated the PR to address your concerns.

[2018-05-02 09:43] #457 closed

[2018-05-04 13:41] ValeryVS commented on #400
@dbaeumer
@sebelga
I also faced with this issue.
And it can be reproduced only in VS Code.
eslint in terminal doesn't show error.

[2018-05-07 10:06] dbaeumer commented on #400
@ValeryVS can you provide me with a GitHub repository I can clone that demos the behavior?

[2018-05-07 10:07] dbaeumer commented on #409
@Hirse sorry wasn't clear on my end. I would accept a PR that runs `--init` as a task.

[2018-05-07 10:14] dbaeumer commented on #437
@coyle5280 the plugin will complain in that case. I suspect that the server even has not the change to print that message :-(

[2018-05-07 10:19] dbaeumer commented on #437
After that has happened can you run `code --status` from a terminal. I am wondering if the servers actually don't crash and the client simply looses the connection to the server?

[2018-05-07 10:25] dbaeumer commented on #461
Dups https://github.com/Microsoft/vscode-eslint/issues/267

[2018-05-07 10:25] #461 closed

[2018-05-07 10:53] ValeryVS commented on #400
Can't share my project's repo, but I will try to reproduce it in fresh project.

[2018-05-07 13:44] ValeryVS opened #464 "import/no-unresolved with webpack modules/aliases in the VS Code"
Update:

So, there are few separate issues.

1) To fix issue now, I can adjust my config: replace object spreading with `Object.assign`, or use `babel-register`.
2) Something interpret `Unexpected token ...` as ESLint error and show `no-undesolved`, `no-duplicate` and other.
![2018-05-10 19 55 21](https://user-images.githubusercontent.com/6702994/39882449-7f4fc7bc-548c-11e8-812e-b2694624ac1b.png)

[2018-05-07 13:46] ValeryVS commented on #400
Actually, my issue is not the same.
I have not `Casing of <lib> ...` error.
#464

[2018-05-07 17:19] coyle5280 commented on #437
@dbaeumer Here is a pic of the `code --status` output
![image](https://user-images.githubusercontent.com/11877788/39714826-7c716cfe-51e8-11e8-83e9-54c8d4f02d45.png)

[2018-05-07 21:03] alecf commented on #464
This was driving me bonkers and I was getting other odd errors from the import plugin. Just for kicks I put:

[code]

at the top of my .eslintrc and magically everything seems to work now! (I was already using `babel-register` elsewhere in my project, so it was already installed)

It seems like vscode-eslint runs eslint as a library, and JS imports aren't recognized without `babel-register`

[2018-05-08 04:16] idealife opened #465 "autofix does not autocorrect some rules"
VSCode:1.23.0

User Setting:

[code]
.eslintrc.js
[code]

Code Example:
[code]

After save(autofix)：
[code]

Expectation:
[code]

[2018-05-08 10:17] dbaeumer commented on #465
@idealife if you make a unrelated change to the file and save again will more errors be fixed. If so it is a dup of https://github.com/Microsoft/vscode-eslint/issues/154

[2018-05-08 10:30] dbaeumer commented on #437
OK. That shows that the processes actually die. May be it would work the best if we try to debug this directly on our machine. Would this be something we could do using a screen sharing session?

[2018-05-08 10:32] dbaeumer commented on #433
Can you provide me with a GitHub respository I can clone that demos the behaviour?

[2018-05-09 10:11] idealife commented on #465
I find that `eslint-plugin-standard` write a rule named "array-bracket-even-spacing" which is similar to "array-bracket-spacing"
so autofix do not work.

[2018-05-10 15:12] ValeryVS commented on #464
@alecf
@dbaeumer
No, my webpack config doesn't require babel. It use `require()` for imports, etc.

But, when I create some simple webpack configuration - it works.
The reason is definitely in webpack config, but it is something else, not the new syntax.
I will try to debug it this week.

[2018-05-10 15:40] coyle5280 commented on #437
Yeah. I am open to that. Do you want to send me an email and we can setup a time and method for the screen sharing? You can email me at josh@crestonedigital.com. Again thanks for the help.

[2018-05-10 16:46] ValeryVS commented on #464
@dbaeumer
Found it!

Our project is bundled with node 8.
So, there is some object destructions in webpack configuration.

But there is node v7.9.0 VS Code! Webpack config executed with node 7.9.0 when vscode-eslint try to execute .eslintrc.js with eslint-plugin-import and eslint-import-resolver-webpack.

The wierd thing is, that in most of my files I have strange errors, like at the first image in

[2018-05-10 16:59] ValeryVS commented on #464
So, there are few separate issues.

1) I can adjust my config: replace object spreading with `Object.assign`.
2) Something interpret `Unexpected token ...` as ESLint error and show `no-undesolved`, `no-duplicate` and other.
![2018-05-10 19 55 21](https://user-images.githubusercontent.com/6702994/39882449-7f4fc7bc-548c-11e8-812e-b2694624ac1b.png)
Which is wrong - it should be `SyntaxError` in ESLin

[2018-05-10 18:42] ValeryVS commented on #464
1.1
Ok, now I'm understand how to solve this with babel-register
[code]

It wasn't help me before, because, with default settings, it can't handle spread operator.
With `stage-2` it can.

[2018-05-10 21:52] agrande commented on #245
Is anybody working on this?
I switched over from WebStorm to VSCode recently, and I miss that feature very much.

[2018-05-11 09:34] dbaeumer commented on #245
Not that I am aware of. I can point you to the right code locations in case you want to give it a try.

[2018-05-11 09:38] dbaeumer commented on #464
@ValeryVS thanks for the great analysis. Very helpful.

I will keep the item open to look into 2 and 3

[2018-05-11 09:38] agrande commented on #245
Yes please, I might do just that, if it’s not too complex (I’m new to VSCode, I’d have to read up a bit about developing extensions).
The way I see it, that’d be a couple of additional entries in the Quickfix command contextual menu to suppress the error/warning for the line or the whole file (or even the eslint config file).

[2018-05-11 09:48] dbaeumer commented on #245
@agrande that is correct, however the fixes need to be contribute in the ESLint linting server code. We run the linters outside of VS Code itself in its own process. The corresponding code is here: https://github.com/Microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L1015

So instead of only adding the fixes we would need to:

- have commands for fixes that add an ignore comment.
- ad

[2018-05-11 10:43] dbaeumer commented on #465
@idealife I tried to reproduce this using the provided information and I failed. Can you provide me with a GitHub repository (including a package.json file) I can clone the demos the behaviour.

[2018-05-11 11:46] dbaeumer commented on #436
Can reproduce, but seems to be a problem with VS Code itself. Investigating.

[2018-05-11 14:09] dbaeumer commented on #436
The problem is that parsing errors have no code (e.g. `no-undef`)

[2018-05-11 17:23] gufonsecaa opened #467 "ESLint server stopped."
The ESLint is not working in my computer.
That is the VSCode output log.

[Trace - 14:05:41] Sending request 'initialize - (0)'.
Params: {
    "processId": 15636,
    "rootPath": "c:\\Projects\\gonode\\snippetfy",
    "rootUri": "file:///c%3A/Projects/gonode/snippetfy",
    "capabilities": {
        "workspace": {
            "applyEdit": true,
            "workspaceEdit": {
                "docum

[2018-05-13 15:07] ashrafhadden opened #468 "Feature Request: "Global Rule Severity" Setting"
**Issue**
Most ESLint Shared Configs (ex. [AirBnB](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb), [StandardJS](https://github.com/standard/eslint-config-standard)) use "error" as their default rule severity. I use large eslint-config's through VSCode and prefer to have all of my ESLint Problems (VSCode's "Problems" Window under View menu) show up as warnings since

[2018-05-14 07:01] dbaeumer commented on #468
This is the right repository for this.

[2018-05-14 07:10] dbaeumer commented on #467
@gufonsecaa this sounds like a dup of https://github.com/Microsoft/vscode-eslint/issues/437 however your report has more details. Is this reproducible for you even on a different machine using the same setup. If so, can you provide me with a GitHub repository I can clone that demos this.

[2018-05-14 19:16] coyle5280 commented on #437
Not sure if this is related but I did notice that this error was being posted in the Log(Window) about the same time as the eslint server error appearing.  Again not sure if its related.
![image](https://user-images.githubusercontent.com/11877788/40018246-efb56158-5778-11e8-8824-8237af68044a.png)

[2018-05-15 07:30] shizengzhou opened #469 "There are garbled characters in the eslint error message"
Issue Type: <b>Bug</b>

![eslint](https://user-images.githubusercontent.com/24318019/40042621-9f8e99ce-5854-11e8-8b7f-a07f369d079f.png)
The correct error message is:
![subl](https://user-images.githubusercontent.com/24318019/40042690-d194756a-5854-11e8-89b5-6a36db3820cf.png)

Extension version: 1.4.8
VS Code version: Code 1.23.1 (d0182c3417d225529c6d5ad24b7572815d0de9ac, 2018-05-10T17:11:17.614Z)

[2018-05-15 08:30] dbaeumer commented on #409
Reopening.

[2018-05-15 08:33] dbaeumer commented on #469
Are you using any special ESLint parser.

Could you provide me with a GitHub repository I can clone that demos this?

[2018-05-15 08:36] dbaeumer commented on #437
I think this is a follow up error of the server going down.

[2018-05-15 11:38] gregbty commented on #433
Here is a repo: https://github.com/gregbty/vscode-eslint-issue-433.

[2018-05-15 17:01] chrisdothtml commented on #446
Exactly. So when, for example, vscode restarts for an update, and I had 4 windows open, I'll get the error for each window, which gets annoying quick. This is especially noticeable because I use the vscode insiders build, which has daily updates.

The way [vscode-standardjs](https://github.com/standard/vscode-standardjs) handles this is a simple solution. Setting `standard.usePackageJson` (which i

[2018-05-16 02:38] shizengzhou commented on #469
When using globally installed ESLint, the issuse appears.
[demo](https://github.com/shizengzhou/demo.git)

[2018-05-16 08:11] YlinOu opened #470 "Real-time check failure"
Issue Type: <b>Bug</b>

Real-time check failure

Extension version: 1.4.8
VS Code version: Code 1.23.1 (d0182c3417d225529c6d5ad24b7572815d0de9ac, 2018-05-10T17:11:17.614Z)
OS version: Windows_NT x64 10.0.16299

[2018-05-16 08:45] dbaeumer commented on #446
@chrisdothtml in that example the message should be printed to the Output channel, but the channel shouldn't come to front. So it shouldn't be annoying.

Deciding if a valid eslint configuration file exists in a workspace is quite complicated since ESLint itself has many ways where such a configuration can be stored (e.g. .eslintrc.* file in any parent directory chain, a property in the package.js

[2018-05-16 09:32] dbaeumer commented on #469
@shizengzhou can you please provide me with a self contained example (e.g. a package.json file which installs all necessary dependencies). Your example depends on more than a gloablly installed ESLint. A self contained example in addition ensures we are using the same versions.

[2018-05-16 09:33] dbaeumer commented on #470
@YlinOu can you please provide more details about the problem you are seeing.

[2018-05-16 09:59] shizengzhou commented on #469
When using locally installed ESLint, there is no issue.
My globally installed packages:
![npm](https://user-images.githubusercontent.com/24318019/40109960-5601e724-5931-11e8-8d43-06fc33917dc8.png)

[2018-05-16 10:26] dbaeumer commented on #433
@gregbty thanks. Unfortunately I can't run `yarn install` on the project. It results in
[code]

Any hint?

[2018-05-16 10:36] dbaeumer commented on #469
I can't reproduce this:

<img width="988" alt="capture" src="https://user-images.githubusercontent.com/1931590/40112276-c1f27128-5905-11e8-92ca-cad8a2dc9737.png">

Any additional steps?

[2018-05-16 11:14] gregbty commented on #433
It looks like it didn't find a lockfile when you ran the command, but it's definitely there: https://github.com/gregbty/vscode-eslint-issue-433/blob/master/yarn.lock. Maybe try re-pulling and trying again?

[2018-05-17 06:28] shizengzhou commented on #469
I update my eslint, babel-eslint and eslint-config-alloy, now there is no issue.

[2018-05-17 06:28] #469 closed

[2018-05-17 07:49] dbaeumer commented on #433
@gregbty I deleted the yarn.lock file. If it is present yarn does nothing on my machine. No `node_modules` folder after running and no error message. `npm`fails as well with some strange SHA error message.

[2018-05-17 08:54] hunhejj commented on #392
I have the same problem as @fabioimpe. I would expect that even if the folder containing `package.json` was not part of the workspace, by setting `path` to "the folder of the package.json file that provides the script" should work. Why isn't that the case?

[2018-05-17 10:54] SamStonehouse opened #471 "Error with 'Cannot find module 'espree' (undefined:undefined)'"
When using the vscode plugin I get the following errors in any file which imports 'point', a simple local file which I can provide if required, it simply exports a class definition as default and that's it (no other exports).

`Parse errors in imported module './point': Cannot find module 'espree' (undefined:undefined) (import/no-named-as-default-member)

The vscode eslint plugin shows no errors f

[2018-05-18 10:43] #465 closed

[2018-05-18 13:27] dbaeumer commented on #433
@gregbty no I am not. I can't run yarn nor npm on the cloned GitHub repository successfully (e.g. in a way that a complete `node_modules` folder exists afterwards)

[2018-05-18 13:28] dbaeumer commented on #471
@SamStonehouse can you provide me with a GitHub repository I can clone that demos this ?

[2018-05-18 13:32] dbaeumer commented on #392
Two things: actually there is no need anymore to have your hand crafted ESLint task. Simply set `eslint.provideLintTask: true` and the system will automatically provide the tasks even in a multi folder setup.

@hunhejj I am not understanding your problem. Which path are you setting?

[2018-05-18 16:32] SamStonehouse commented on #471
I'll try to reproduce on a repository I can share, give me some time

[2018-05-18 19:48] chrisdothtml commented on #446
It *does* though; at least for me. Not sure if that's because we a different version of vscode or what.

It doesn't check whether **configuration** is present, but rather the **dependency**. This is much more reliable because most projects won't work without it being in the dependencies. The only edge case is if eslint is globally installed, but in that case, the user can just leave this setting o

[2018-05-19 23:10] agm1984 commented on #164
Update for you @dbaeumer.

My VS Code was fine for weeks, and today I started working on some React Native stuff. Everything was all good, and then as soon as I activated ES Lint in this project, it piled in a ton of errors. It bogged down instantly and now its been super slow since.

Almost all the errors are from:
- `no-mixed-operators`
- `react/prop-types`
- `react/default-props-match-prop-type

[2018-05-21 07:43] #467 closed

[2018-05-21 18:53] Hirse commented on #264
@mikevaleriano For your use case it might make more sense to [publish your configuration and import it as a dependency to your project](https://eslint.org/docs/developer-guide/shareable-configs). That way, they also stay up-to-date.

Slightly related: https://github.com/Microsoft/vscode-eslint/pull/423

[2018-05-22 07:26] MundakaZgz opened #472 "Nested .eslintrc"
Hello,

I am having issues in my project with nested .eslintrc files.

I have a big project and each module has its own linting rules but all modules share some common rules configured in a .eslintrc file placed on the root of the project (eg. use sigle quotes).

When I run the eslint script it correctly evaluates the rules needed for each file but the plugin tells me that my strings should be dou

[2018-05-22 10:21] dbaeumer commented on #437
Reopening...

[2018-05-22 10:27] dbaeumer commented on #472
@MundakaZgz can you provide me with a GitHub repository I can clone that demos this. Since the ESLint extension is based on the ESLint npm module to read .eslintrc files all the features from ESLint standalone should be supported as well.

[2018-05-22 10:34] #409 closed

[2018-05-22 10:45] dbaeumer commented on #264
I agree with @Hirse

OK to close?

[2018-05-22 10:55] dbaeumer commented on #446
@chrisdothtml thanks for the clarification.

I tested it and on my machine using VS Code 1.23 and ESLint latest the Output channel comes only to front once. However the message is printed everytime.

[2018-05-22 12:00] mikevaleriano commented on #264
Yes, I've been doing something similar, but linking that way is faster and more maintainable. Thanks.

[2018-05-22 12:00] #264 closed

[2018-05-23 09:43] #470 closed

[2018-05-24 05:33] Hirse commented on #203
Is this solved by @KyrychukD's discovery?

[2018-05-24 08:54] dbaeumer commented on #203
@KyrychukD you are absolutely correct and when I looked at the issue I totally forgot to look at the source of the errors. They are generated by the TS compiler and don't come from ESLint. This explains why they are not reported when running ESlint in a terminal.

@pronebird if you thinks the errors reported by TS are incorrect please open an issue here: https://github.com/Microsoft/TypeScript

[2018-05-24 08:54] #203 closed

[2018-05-24 15:12] devert opened #474 "Error Notification 'ESLint: sourceCode.getCommentsBefore is not a function`"
Continually receive this error notification in VSCode
[code]

We have a `.eslintrc.js` configuration file
[code]

My user settings for the extension are
[code]

This appears to be related to some odd behavior I am seeing with the linting errors displayed in the editor while coding. Getting a lot of `Parsing error: Unexpected token` errors that appear to display for issues that are behind what is c

[2018-05-24 15:30] devert commented on #474
Here is the stack trace for this problem also

[code]

[2018-05-24 19:34] Hirse commented on #239
Is this issue still relevant given that the StatusBarItem has an icon to indicate the status and the hardcoded color is gone?

[2018-05-24 21:06] Hirse commented on #400
Looks like this is not an issue (any more), right?

[2018-05-25 06:16] sebelga commented on #400
Yeah, never found out why only 1 of my project with eslint was giving this issue.

[2018-05-25 08:32] dbaeumer commented on #400
Great. I will close the issue then.

[2018-05-25 08:32] #400 closed

[2018-05-25 08:33] dbaeumer commented on #474
@devert: can you please report the issue to `eslint-plugin-react` which is actually causing the exception. I am pretty sure will see the same error even when running eslint directly from a terminal. Right?

[2018-05-25 13:59] #433 closed

[2018-05-26 00:08] Hirse commented on #247
What is the state of this?
Does the task contributed by the extension use the latest version yet?

[2018-05-26 07:06] bi-kai opened #475 "error ‘Parsing error: Unexpected token =>’ with eslint default config"
My config file is `.eslintrc.js` with context like this:
[code]

my code:
[code]

I found out it's because of `async/await`, not a error of arrow function itself.
**My question is how to support es7 with eslint on vsc?**

[2018-05-26 17:30] tvvignesh commented on #91
Hi guys. Any plans on making this available? Is it in the roadmap?

[2018-05-26 21:26] tvvignesh commented on #392
@dbaeumer: I updated to v2.0 style and I got eslint working for my workspace as expected but I am not able to get my problem matchers to work. I am using stylish for eslint as the format and hence tried eslint-stylish, and also tried regex and nothing matched.

Infact, I don't see any matches even for simple regex.

First, I tried using `eslint.provideLintTask: true` and the config added did not s

[2018-05-26 21:45] tvvignesh commented on #392
Never mind. Solved it. Adding  --ext=.js,.ts along with my arguments solved the issue and started showing up in problem matchers. Don't know why this behavior is since the error came up in the terminal anyway but it did not get matched earlier.

[2018-05-26 22:34] MundakaZgz commented on #472
I have tried to reproduce it in a smaller project so I can share it with you but it is not happening there. I'll recheck what could be happening in my other project as I think it is misconfigured.
Thanks!!

[2018-05-26 22:34] #472 closed

[2018-05-28 08:12] dbaeumer commented on #392
@tvvignesh good to hear you got it working. If you set `eslint.provideLintTask: true` you don't need to put anything into the tasks.json. `Run Task` should simply show a task to run eslint on the project. Didn't that happen for you.

I will close the issue since with the provided task the problem is IMO fixed and the documentation got updated as well.

[2018-05-28 08:12] #392 closed

[2018-05-28 08:16] dbaeumer commented on #91
I started to work on this last week but nothing finished yet. The branch is https://github.com/Microsoft/vscode/tree/dbaeumer/47386

[2018-05-28 09:15] bi-kai commented on #475
@dbaeumer hi, i can run it in terminal, and got the same error:
![image](https://user-images.githubusercontent.com/15070379/40607163-490c9812-629a-11e8-9712-fc5b47c8590b.png)

I know it's not a error of `vs code` and `ESlint plugins in vsc`, I just don't know how to fix this with eslint configuration, and i haven't found it yet.

[2018-05-28 11:51] bsvipas opened #476 "ESLint errors/warns"
Hi, what do you think by changing the behavior of showing errors and warns inside the editor to not draw lines for the whole function if for e.g. `require-jsdoc` is missing and instead of that just draw it on function? Because it's really hard to read code when there are so much lines, they are very distracting and you can't see other problems because they overrides each other.

So instead of this

[2018-05-29 13:14] Akryum opened #477 "Reload eslint config and clear cache"
Is there a way to tell the plugin to reload the configuration and clear the cache?

For example, when using [eslint-plugin-graphql](https://github.com/apollographql/eslint-plugin-graphql) and updating the GraphQL schema, errors in the GraphQL queries are still reported based on the old schema.

[2018-05-29 21:54] devert commented on #474
🤦‍♂️ Thanks @dbaeumer. You were right. There was an issue about this in `eslint-plugin-react` and I was able to resolve.

[2018-05-29 21:54] #474 closed

[2018-05-30 01:31] achievejia opened #478 "Connection to server got closed. Server will not be restarted."
[Trace - 09:27:43] Sending request 'initialize - (0)'.
Params: {
    "processId": 32364,
    "rootPath": "d:\\Data\\Code\\Webapp\\V2018\\sd_admin",
    "rootUri": "file:///d%3A/Data/Code/Webapp/V2018/sd_admin",
    "capabilities": {
        "workspace": {
            "applyEdit": true,
            "workspaceEdit": {
                "documentChanges": true
            },
            "didChangeConfi

[2018-05-30 01:33] achievejia commented on #478
不知道为什么ESLint总是报这个错误，麻烦各位大神帮忙解决一下，Thanks

[2018-05-30 06:50] nic611 commented on #437
I got the same problem with that while I update my vscode-insider version coincidentally.
I try to install eslint locally but still crash like this.
![image](https://user-images.githubusercontent.com/8542939/40703519-fdff00e2-6417-11e8-8570-a8bc80bedbee.png)

my setting refer eslint:
![image](https://user-images.githubusercontent.com/8542939/40703676-794a3cbc-6418-11e8-8cc6-e6da8b320d26.png)

my v

[2018-05-30 09:38] dbaeumer commented on #437
@nic611 do I understand you correctly:

- the workspace worked before
- you updated VS Code
- now ESLint always crashes when you open it on that workspace

[2018-05-30 09:43] dbaeumer commented on #478
@achievejia the server always stops when trying to validate `file:///d%3A/Data/Code/Webapp/V2018/sd_admin/src/router/index.js`. When you try to validate the file using ESLint in the terminal does that work without problems?

If so could I clone your code somehow to reproduce this locally?

[2018-05-30 09:44] dbaeumer commented on #477
No this is currently not possible.

[2018-05-30 09:49] dbaeumer commented on #476
@bsvipas I want to stay away from tweaking error ranges. The extension takes what comes from ESLint and creates errors for VS Code from it. If has for example no knowledge about teh kind of error or about the AST. So it can't simply only mark function, ....

If we want to achieve something like this then it should be provided by the npm eslint module.

I do have a PR that only highlights the line.

[2018-05-30 09:49] dbaeumer commented on #476
I will close the issue. Discussion should happen https://github.com/Microsoft/vscode-eslint/pull/463.

[2018-05-30 09:51] achievejia commented on #478
@dbaeumer
I didn't try to verify the file with ESLint through the terminal, because I always reported this error since opening the vs code. I don't know why. I can upload my code and let you run it locally. My project is vue + webpack + vue-cli. When installing npm, I need to use npm install to install its required dependencies. Trouble you.

[2018-05-30 09:55] Akryum commented on #477
And kill the terminals 😿

[2018-05-30 09:55] achievejia commented on #478
@dbaeumer this is my project address. https://github.com/achievejia/sd_admin

[2018-05-30 09:57] dbaeumer commented on #475
@bi-kai I know what it is. It is a bug in VS Code itself and I fixed it for the next VS Code release. Dups https://github.com/Microsoft/vscode-eslint/issues/436

[2018-05-30 09:57] #475 closed

[2018-05-30 10:02] nic611 commented on #437
@dbaeumer yes, but only happened when I work with vscode (win), not happened in mac.

[2018-05-30 11:31] dbaeumer commented on #478
@achievejia unfortunatelly the rar is not self contained. Looks like you are having eslint installed globally and use a .eslintrc file outside of the workspace. Could you provide me with a self contained example. Otherwise it will be hard for me to reproduce.

[2018-05-30 11:33] dbaeumer commented on #437
@nic611 would you be able to share the project with me, best in a cloneable GitHub repository.

[2018-05-30 11:33] dbaeumer commented on #477
Valid point.

[2018-05-30 13:36] iamdevlinph opened #479 "Doesn't run. No message or anything at all"
VS Code Version: 1.23.1
node -v:  8.11.1
npm -v: 6.0.1

My **.eslintrc.js**
[code]

I have added the following lines to my user settings:
[code]

But I dont see the eslint icon in the status bar nor the eslint output.

![image](https://user-images.githubusercontent.com/19337229/40723379-66bc174e-6451-11e8-94da-bc7d741c095e.png)

![image](https://user-images.githubusercontent.com/19337229/40723387-

[2018-05-31 08:19] nic611 commented on #437
@dbaeumer I try it in vscode stable version, no problem with that. So I guess the insider version cause that.Hope it will be sovled soon(*^_^*).

[2018-05-31 10:07] dbaeumer commented on #437
@nic611 since everything works for me without problems in the insider and the ESLint extension is independent of insider / stable I would be still interested in being able to reproduce this. Any chance you could share your code.

[2018-05-31 10:12] dbaeumer commented on #479
Looks really strange. One thing: the ESlint extension only contributes a status bar icon / output channel if you have opened a JS file. Looks like your current file is a JavaScript React file. Have you configured ESLint extension to validate those ?

[2018-05-31 10:17] iamdevlinph commented on #479
My ESLint rules are just default. And the weird thing is that it has been working before and there was no changes on my repo or any of my configuration. It just didn't work out of the blue.

I will try to replicate the issue on another machine.

[2018-05-31 10:19] iamdevlinph commented on #479
This will be the [repo](https://github.com/codesandcoffees/react-kit) I will be testing out.

And 2 machines:
1. Home
2. Office

This issue was opened on the home machine.

[2018-05-31 13:55] magnusriga opened #480 "Feature Request: Use .gitignore as .eslintignore"
In eslint via command line, we can use .gitignore as .eslintignore:

`eslint --ignore-path .gitignore`

It would be awesome if we could somehow set this extension to do the same.

[2018-05-31 14:35] majesnix commented on #437
I also got this problem.

Log of ESlint window (version given above).
[code]

VS-code version:
![image](https://user-images.githubusercontent.com/16648292/40787666-70ab6e56-64ee-11e8-8fbd-9ddb0947587f.png)

`code-insider.cmd --status` output:
[code]

[2018-05-31 15:20] iamdevlinph commented on #479
**Home Machine**. ESLint not working

1. **No ESLint** in the output window
2. **No ESLint** text on the status bar
3. **No error was reported** when I removed the semi colon of the same file

![image](https://user-images.githubusercontent.com/19337229/40791096-35bc5d6a-6529-11e8-804f-4632401142ec.png)

[2018-06-01 06:18] ryansully opened #481 "Add support for FileSystemProvider"
I started using an extension that leverages FileSystemProvider to access remote files over SFTP, and noticed that linting doesn't work for any remote files.

I was wondering if support for remote files needs to be added to the ESLint extension or to the extension using FileSystemProvider, or perhaps to VS Code itself?

[2018-06-01 08:38] dbaeumer commented on #481
This is currently not possible and will not be easy to achieve. Major reason for this is that the ESLint npm module we use is rely on a local file system (for example it looks for .eslintrc, package.json, .eslintignore) files which in our case are not locally available.

I will keep the item around however addressing it would either require work in VS Code or in dependent npm modules.

[2018-06-01 08:51] dbaeumer commented on #437
I had a pair programming / debugging session with @coyle5280 last night (thanks again for doing this with me) and we were able to track this down. The ESLint server process basically crashes in the native npm module `child_process` when the server calls `spwanSync`. I have no idea yet why this is happening on your machines (since it doesn't on most of the others) but I will prepare a small test pr

[2018-06-01 09:41] dbaeumer commented on #437
Attached a new version of the eslint extension. Follow the steps from here https://github.com/Microsoft/vscode-eslint/issues/437#issuecomment-379174799 on how to install it. Can all of you give it a try and let me know if ESLint works for you again:

[vscode-eslint-1.4.11.zip](https://github.com/Microsoft/vscode-eslint/files/2062183/vscode-eslint-1.4.11.zip)

[2018-06-01 23:46] majesnix commented on #437
Works for me 👍

[2018-06-02 10:41] iamdevlinph commented on #479
I also tried disabling all other extensions and only run ESLint but still no luck

![image](https://user-images.githubusercontent.com/19337229/40873530-46c28bf4-6694-11e8-9a04-61dab02640b5.png)

@dbaeumer any other way that I can try to debug this? My last resort is to reinstall vscode but I'd rather not reach that point.

[2018-06-02 10:46] iamdevlinph commented on #479
I also found these in the **Log (Extension Host)**
![image](https://user-images.githubusercontent.com/19337229/40873570-44eb8e74-6695-11e8-8be1-e62cc009c2e4.png)

[2018-06-02 12:20] iamdevlinph commented on #479
Reinstalled vscode without deleting the extensions. ESLint still doesn't run

[2018-06-02 12:30] iamdevlinph commented on #479
It works now.

Completely removed everything and reinstalled. But kinda annoying to go through setting up again just to fix eslint

[2018-06-02 12:30] #479 closed

[2018-06-03 17:15] agm1984 commented on #164
I haven't had any issues since. I'm running v1.23.1. I've also been maintaining about 3-5 VS Codes open at all times coding most hours of the day. I haven't noticed any significant bogs, so, well done team.

I'll keep an eye out for any new conditions. I will try to submit them in a new ticket and tag you with steps to reproduce or very specific information. Thanks Dirk.

I also noticed just now I

[2018-06-04 00:56] nic611 commented on #437
it works!! Thanks a lot @dbaeumer :+1:

[2018-06-04 07:27] dbaeumer commented on #164
@agm1984 good to hear that ESLint works fine right now. I will keep the issue open to not loose the initial feature request.

[2018-06-04 07:30] dbaeumer commented on #480
This is possible. The extension has a setting options that should support that.

[code]

Does that work for you?

[2018-06-04 20:00] #437 closed

[2018-06-04 20:10] coyle5280 commented on #437
@dbaeumer Working here again.....thanks!!

[2018-06-04 21:01] dbaeumer commented on #437
@coyle5280 thank you for helping me to track this down.

[2018-06-04 22:31] magnusriga commented on #480
@dbaeumer I added that to User Settings in Visual Studio Code, but it did not work unfortunately. Tried restarting as well, but no luck.

[2018-06-04 22:39] magnusriga commented on #480
@dbaeumer I fixed it by adding the following code to User Settings:

`"eslint.options": { "ignorePath": ".gitignore" }`

As seen [here](https://eslint.org/docs/developer-guide/nodejs-api#cliengine) the right property key was `ignorePath`, not `ignore-path`.

Thanks for the help!

[2018-06-04 22:40] #480 closed

[2018-06-05 07:45] dbaeumer commented on #480
@magnusriga sorry for not providing the right key.

[2018-06-05 16:47] AbdelrahmanHafez opened #482 "config file fallback"
Is there an option to have a global config file, but if the project has an eslint config file, it overrides the global config?

If not, it would be an awesome feature for those who work on different projects.

[2018-06-06 08:41] dbaeumer commented on #482
@AbdelrahmanHafez this is actually the standard behaviour of ESLint since it looks for config files up the parent directory chain and takes the first one it find. So you can simply have one in your home directory which is taken when the project has none.

I will close the issue. Please ping if this was not helpful.

[2018-06-06 08:41] #482 closed

[2018-06-06 10:17] AbdelrahmanHafez commented on #482
@dbaeumer
This only works when we have a linear directory chain, I was hoping for something that could be used in the VSCode settings as a fallback instead of looking for directories, in order to keep all my settings in one folder.

The setting below has this behavior:
Works in all JS files, regardless of the directory. If I work on another project that has its own config file, it still uses the o

[2018-06-06 11:22] scinos commented on #208
Why not introduce a new property, `eslint.rulesToDisableWhileFixing:[]` and leave the semantics of `autoFixOnSave` unchanged?

Also, as an user that is constantly hit by this ""bug"", I think it is far more important to come with an API to solve this ASAP, and maybe deprecate it in the future if/when we have a better API. Because we won't get the perfect API anyway and eventually we will have to d

[2018-06-06 11:43] #478 closed

[2018-06-06 14:17] dbaeumer commented on #478
I am pretty sure I fixed this with 1.4.12

[2018-06-06 15:08] Aliaksei-Martinkevich opened #483 "Feature request: Suppress warning CodeAction"
Proposal: Add CodeActions to suppress warning/error. I think about following options:

- Disable current warning in this file - adds comment at the top of the file `/** eslint-disable ${rule} */`
- Disable current entry of the warning - adds comment `// eslint-disable-line ${rule}` or `// eslint-disable-next-line ${rule}` (probably option in config)
- Disable all entries of the warning in the file

[2018-06-07 08:27] dbaeumer commented on #482
I see. But the ESLint extension fully relies on the features of the ESLint npm module here (see https://github.com/eslint/eslint). I don't have any specific lookup code and I am very reluctant to add some since it will make the behavior different from whether you run ESLint from the extension or from a terminal. If you think such a feature is necessary please try to get it into ESLint itself.

[2018-06-07 11:09] bam opened #484 "eslint.provideTask works incorrectly in handling environment's specific"
As I could notice yesterday, eslint's detected task should adapt to OS and tries to run appropriate command, particularly it uses "\" or "/" in path to eslint executable.
But there is a problem when OS is Windows but integrated terminal is *nix (e.g. Git bash).
So eslint's task tries to run windows command `node_modules\.bin\eslint.cmd` in bash terminal and gets error that there is no such command

[2018-06-07 12:54] dbaeumer commented on #484
Yes, this is a know issue and is something that needs to be fixed on the VS Code end (see all the issues tagged with WSL in the VS Code repository). ESLint doesn't have any knowledge right now that the used terminal will be WSL bash.

I will close the issue since the right fix for this will come from VS Code.

[2018-06-07 12:54] #484 closed

[2018-06-07 18:47] gregbty commented on #433
Any other way to get you a repro?

[2018-06-08 08:35] dbaeumer commented on #433
Can you try this on a different machine and see if you can use yarn or npm to install. Can anyone else provide a repro I can use that is cloneable and installable.

[2018-06-08 11:29] achievejia commented on #478
thank you.

[2018-06-11 08:44] dbaeumer commented on #483
Dups https://github.com/Microsoft/vscode-eslint/issues/245

[2018-06-11 08:44] #483 closed

[2018-06-12 06:52] lucienlugeek opened #485 "Have to press Command+S twice to format code correctly with autoFixOnSave"
I have to execute `save` action twice to entirely indent end bracket of an array inside another block
- vscode-eslint version : 1.4.12
- eslint version : 4.9.0
- .eslintrc.json
[code]
- demo code:
[code]
- demonstration gif
![jun-12-2018 14-48-07](https://user-images.githubusercontent.com/15938765/41274437-f3ea975a-6e4f-11e8-9234-4562fb8271c8.gif)

[2018-06-13 19:51] felipevignon opened #486 "NOT ignoring node_modules by default"
Issue Type: <b>Bug</b>

Recently eslint started linting files inside my node_modules folder, which docs say it shouldn't do by default.
This started happening recently, possibly after some extension or VScode update

Extension version: 1.4.12
VS Code version: Code 1.24.0 (6a6e02cef0f2122ee1469765b704faf5d0e0d859, 2018-06-06T17:37:01.579Z)
OS version: Linux x64 4.13.0-43-generic

<details>
<summary

[2018-06-13 20:43] chrisdias opened #487 "warning icon is slightly different than built-in vs code warning incon"
looks like the eslint one has sharper corners and a bold `!`.  these should be the same.

![image](https://user-images.githubusercontent.com/1487073/41376976-8c0ede96-6f0f-11e8-8ce0-e47f71362283.png)

[2018-06-14 08:09] dbaeumer commented on #487
Agree, but hard to achieve. The problem is that ESLint uses the warning icon from the Octicon font using $(alert) in a text and to my knowledge status bar items can not set icons directly. So the only way to make this the same is to use Octicon icons in the core as well. Do you think we should do this?

[2018-06-14 08:12] dbaeumer commented on #486
I don't know about anything that has changed here. What happens if you run ESLint on a file in the node_modules in the terminal?

[2018-06-14 12:38] joshunger commented on #437
@dbaeumer what version is this fixed in?  I'm seeing this in 1.4.12.

![image](https://user-images.githubusercontent.com/2301847/41412496-6f4a6666-6f9d-11e8-9b1d-55e806909e21.png)

[2018-06-15 07:35] dbaeumer commented on #437
My fix is in 1.4.12

Can you enable tracing to see if the server crashes at a comparable location for you. Set `"eslint.trace.server": "verbose"` and provide me with the content of the ESLint output channel.

[2018-06-15 07:37] dbaeumer commented on #437
Additional question: are you using npm or yarn?

[2018-06-15 13:39] joshunger commented on #437
I'm using yarn.

[code]

[2018-06-18 08:31] dbaeumer commented on #437
@joshunger actually the server crashes at a different location for you. Would you be willing to debug this since I am not able to reproduce this.

[2018-06-18 13:53] joshunger commented on #437
Yes you bet where can I find debugging instructions?  Contributing.md?

[2018-06-19 09:58] dbaeumer commented on #437
Thanks. Here are the instructions:

- clone this repository
- cd into the directory
- npm install
- npm run compile
- open the workspace with VS Code.
- go to client\src\extension.ts
- on line 361 change inspect to inspect-brk
- Run Task > npm run watch:client
- open debug panel and select Lanuch Extension. Press the run button
- in the started Code instance select the workspace that makes the esl

[2018-06-19 12:52] joshunger commented on #437
When I select Attach to server and press the run button I see the following dialog -

![image](https://user-images.githubusercontent.com/2301847/41598338-29ed8456-738d-11e8-8c03-8e810e04b45d.png)

[2018-06-20 08:58] dbaeumer commented on #437
That is strange. Did you see the server crash output before connecting.

[2018-06-21 07:57] TimSusa opened #488 ".eslintrc.js is not loaded when using graphql plugin"
Hey,

I try to make use of the new graphql plugin for eslint. Therefore we are forced to use a eslintrc.js. I also tried to set eslint.validate with different settings for javascript and jsx. But:

On the console it keeps saying:

"Cannot read config file: /Users/blabla/.eslintrc.js Error: Unexpected token ..."

My config looks like this:

[code]

[2018-06-21 08:44] #486 closed

[2018-06-21 08:44] #487 closed

[2018-06-21 11:19] jaeseok-park opened #489 "ESLint error on import statement"
Hi.
I'm using vscode-eslint plugin on my React project.

When I add a new import statement, vscode-eslint displays the below error messages.
![import-error2](https://user-images.githubusercontent.com/8565274/41716017-1630452a-7590-11e8-97c2-a52f335e084b.PNG)
I cannot find the exact English error message, but they mean,
1. 'import ... =' can be used in only .ts file.
2. '=' is required.

And the so

[2018-06-21 17:38] felipevignon commented on #486
this stopped happening (out of nowhere like it did when it started). if it happens again I'll investigate further and repost

[2018-06-22 15:02] iuunhao opened #490 "Error 'eslint-plugin-javascript' in vscode. It is not a plug-in"
[code]

[2018-06-22 15:08] iuunhao commented on #490
OS: MacOS
VS Code: 1.24.1 (1.24.1)
Node: v10.5.0
npm: 6.1.0
eslint: v4.19.1

[code]

[2018-06-25 09:56] nevercast commented on #417
tslint hooks in to vscode's Format Document functionality by providing a language formatter, eslint should do the same if it is not already.

[2018-06-27 07:03] kdong007 opened #492 "plugin not working with symlinked js files"
I have a directory outside of my project directory and it is symlinked into the project.

When I do 'eslint .' it checks all linked sources. But in VSC there it won't work. Only the non-symlinked files gets checked

[2018-06-27 07:48] kdong007 commented on #492
looks like when linting external files. it tries to use global eslint instead of current project's eslint. is there some way to enforce use local eslint?

[2018-06-27 14:08] aeschli opened #493 "Create new ESLint configuration uses wrong workspace folder"
- I have two workspace folders, one of them has ESlint installed
- Use the `Create new ESLint configuration` command
- it runs `eslint --init` in the terminal, but the terminal happens to point be in the wrong workspace folder

-> should prompt, or even detect which workspace folder has eslint

[2018-06-29 17:09] brianblakely commented on #164
I have seen ESLint server crash a lot as I work on some incredibly huge JS files (it's a long story).

Being able to manually restart ESLint without closing my whole IDE would be really helpful.

[2018-06-30 07:30] ztolley opened #494 "Get error using airbnb config but works from cli"
I've created a simple project and am trying to setup linting to use the Airbnb rules

If I edit my App.jsx file in Visual Studio Code vscode-eslint throws an error, complaining about something in the Airbnb source, but if I run eslint from the command line it lints things fine.

![capture](https://user-images.githubusercontent.com/56056/42122825-9d07dd64-7c3f-11e8-9c50-1f6dd01c9eeb.PNG)

The proje

[2018-07-01 15:08] ravshansbox commented on #489
Can you provide your `.eslintrc*` file?

[2018-07-01 15:17] ravshansbox opened #495 "Do not open output window every time a project/file opened without eslint installed/configured locally/globally."
Do not open output window every time a project/file opened without eslint installed/configured locally/globally. That's very annoying.

[2018-07-02 04:43] jaeseok-park commented on #489
Thank you for your reply.
I thought that it was caused by vscode-eslint at that time.
But, now, I think it is caused by VSCode.

[2018-07-02 04:43] #489 closed

[2018-07-02 09:50] dbaeumer commented on #495
This should only happen once per workspace. The second time the Output windows should not come to front. If you see a different behaviour can you please provide steps on how to reproduce.

Or are you asking for a switch to always suppress the Output.

[2018-07-02 10:15] dbaeumer commented on #494
Actually cloning the repository and executing eslint both inside VS Code and outside produces this for me:

[code]

Any additional info?

[2018-07-02 14:14] u3u opened #496 "Cannot read property 'loc' of undefined. Please see the 'ESLint' output channel for details."
I often receive this error notification, is there any way to disable it?

[code]

[2018-07-02 19:20] egamma opened #497 "Contribute ´Fix all autofixable problems´ as code action of type source"
Code Actions can now be shown in the Source menu opened from the ContextMenu>Source..., see the screen shot below.

To make a code action appear in the source menu it needs to be contributed with the type: `CodeActionKind.Source`.

In vscode-tslint the fix all action is contributed both as a QuickFix and a Source action kind so that the action appears in both the quick fix menu (as it did before)

[2018-07-02 21:47] ravshansbox commented on #495
Yes, you are right, it shows once for project, it would be nice if we can suppress this behavior globally somehow.

[2018-07-03 08:33] dbaeumer commented on #495
Would be a good candidate for a PR.

[2018-07-03 11:26] LinusU opened #498 "Automatic detection of preconfigured eslint packages"
**Feature Request:** I would love to have automatic detection of the most common "packaged eslint" flavors, specifically [standard](https://github.com/standard/standard) and [xo](https://github.com/xojs/xo).

I often contribute to many packages which uses both Standard and XO. My current setup is just to have the StandardJS package installed in VS Code, since that is what I use for my own projects

[2018-07-04 10:00] dbaeumer commented on #498
@LinusU I am actually not fully understanding what you want to achieve. Easing the eslint setup? If so shouldn't this be something that should go into ESLint itself then into this extension. I tried hard to not add any features on top of ESLint in this extension mainly because the extension should produce the same result and errors when run or whether eslint is run from the command line.

[2018-07-04 10:13] LinusU commented on #498
Not really. My specific problem is that I contribute to a lot of different open source projects, all using their own setup of linting.

The two absolute most common cases are that the package is using either `standard` or `xo`. Some projects, especially larger ones, also use a custom eslint config.

My goal is for this module to be able to understand when I'm opening a project that uses `standard`

[2018-07-04 10:47] dbaeumer commented on #497
I tried to add this but it is more complicated than adding an additional CodeAction to the result.

See https://github.com/Microsoft/vscode/issues/53525 for the discussion.

[2018-07-04 10:55] dbaeumer commented on #498
I still have problems understanding it.

Would the project that uses standard have corresponding eslintrc.json file (same for the project using xo).

If you have two eslintrc.json files outside of the project folder you can always tell the extension via the options setting which one to use:

[code]

How would someone then run eslint on the command line. To my knowledge `eslint -c standard .` is no

[2018-07-04 10:56] dbaeumer commented on #496
This looks like a problem of the eslint npm module itself (https://eslint.org/). Does the problem occur if you run eslint in a terminal and validate the file there.

[2018-07-04 12:28] LinusU commented on #498
The problem is that they don't have an `eslintrc.json`, that is what's seen as the "benefit" of using standard or xo. All you have to do is add `standard` (or `xo`) as a `devDependency`, and add `standard` (or `xo`) to your `test`-script.

Here is an example of how it works, there are no other files required: https://github.com/ctrl-alt-deseat/ctrlpanel-hkdf/blob/a5975c26e0184fad0af4d7e6ba375a3b70

[2018-07-04 13:45] u3u commented on #496
<img src="https://user-images.githubusercontent.com/20062482/42280397-38e02156-7fd3-11e8-8e06-f12f47203b95.png" width="500">

There will be no problems running in the terminal, only vscode will notify the error from time to time.
I don't know how to reproduce it at the moment.

[2018-07-04 14:09] dbaeumer commented on #493
@aeschli I tried to reproduce this and wasn't able to do so. The command is executed in the correct workspace folder for me in a local setup.

[2018-07-04 14:10] dbaeumer commented on #496
Without steps to reproduce this is very hard to track down. If you have any, please provide them here.

[2018-07-04 14:18] dbaeumer commented on #498
Thanks for the nice explanation. I wasn't aware of `eslint -c standard`. The ESLint extension however doesn't spawn an eslint process on every linting run. It basically uses eslint as a library and programs against the Node API provided (https://eslint.org/docs/developer-guide/nodejs-api#cliengine). From reading through the documentation your approach should be doable using the `configFile` option

[2018-07-04 21:39] bardware opened #499 "Restart server"
Hi,

I modified my `.eslintrc` file. Do I have to restart the eslint server to make it work? How would I do that? Restart `vscode`?

[2018-07-05 12:06] herr-vogel commented on #488
+1

[2018-07-06 02:31] githoniel opened #500 "`eslint` stop work on vscode 1.24.1"
log is below, check after save is no use now

restart vscode or computer is no use, only reinstall vscode and restart my computer works. But after restart my computer again, it broken again......

[code]

[2018-07-06 14:02] dbaeumer commented on #500
Does this happen on every workspace you try to use eslint on. Does this also happen when you disabled auto fix on save.

To better understand what is happening can you enable tracing and attach the output here. To enable tracing use the following setting:

[code]

[2018-07-06 14:05] dbaeumer commented on #488
I assume that the graphql plugin uses JS syntax that needs a modern JS runtime. We load ESLint into VS Code node runtime which is still 7.9.0 (given by Electron). Does this reproduce for you if you execute this in a terminal using node 7.9.0?

If not can you provide me with a GitHub repository I can clone that demos this.

P.S.: VS Code is working on moving to Electron 2.0 which will gives us a de

[2018-07-06 14:07] dbaeumer commented on #499
No, there is no need to restart the server. If you encounter problems, please file a bug with steps how to reproduce. Thanks

[2018-07-06 14:07] #499 closed

[2018-07-06 14:11] dbaeumer commented on #496
The reason why the notification is shown is that there is a serious error. Not showing it would simply mean swallowing it. Best would be to have steps on how to reproduce it so it can be fixed.

I looked at the screen shot and the information doesn't help me to understand why it is failing.

Since the failure happens in the eslint module have you tried to move to never version of the ESLint npm mo

[2018-07-06 14:14] bardware commented on #499
Still observing. Thanks for the reply!

[2018-07-06 14:33] akc42 opened #501 "Warning on number of max-len options - but I can't find such a restriction documented in eslint"
I have a eslintrc.yml file like so:-
[code]
I would really all these max-len options - but this plugin tells me I am only allowed 3.  I can't find any restriction in the documentation of eslint for this rule and I can't see if there is a way for this plugin to increase the number.

[2018-07-06 14:36] dbaeumer commented on #492
This works for me using a simple file link under Windows. See screen shot. Can you provide me with a GitHub repository to clone and instructions which OS you are using.

![capture](https://user-images.githubusercontent.com/1931590/42384588-b6cdd168-813a-11e8-9731-4d3b8ac06a00.png)

[2018-07-06 14:38] dbaeumer commented on #501
@akc42 what happens if you run eslint directly in a terminal. Will it complain as well. This extension uses the ESLint npm module for reading eslintrc.yml files.

[2018-07-06 14:40] dbaeumer commented on #485
Dups https://github.com/Microsoft/vscode-eslint/issues/154

[2018-07-06 14:40] #485 closed

[2018-07-06 14:42] dbaeumer commented on #490
Have you executed `eslint --debug /Users/Arvin.iuunhao/aaaa/app.js` from a terminal to retrieve a trace of the configuration resolved ?

[2018-07-06 18:31] herr-vogel commented on #488
Thanks for the clue, in schema we imported a file which used the spread operator. So it was the old JS runtime.

[2018-07-06 20:34] dbaeumer commented on #488
Any objection to close the issue. This will be solved with the update to Electron 2.0.

[2018-07-10 04:53] iuunhao commented on #490
Sorry, it's a system problem. The problem has been solved.

[2018-07-10 04:53] #490 closed

[2018-07-10 10:46] xpol opened #502 "Some times change import path to wrong path."
Some times i will got my code from:

[code]

be transformed into:

[code]

I'm not sure it is due to vscode-eslint or eslint.

Here is my project `.eslintrc.js`:

[code]

[2018-07-10 21:46] dbaeumer commented on #500
The log looks pretty normal to me and the server is running and returning response as expected.

If you can reproduce this can you provide me with a GitHub repository I can clone that demos this?

[2018-07-11 04:44] majelbstoat opened #503 "eslint stopped ignoring node_modules"
I have the following in `.eslintignore` at the root of the workspace:

[code]

Until recently this correctly ignored all expected files in the workspace. For example, it would correctly ignore all of:

[code]

As of vscode 1.25, (maybe slightly earlier, but definitely not in vscode 1.23), the exact same definition now only ignores:

[code]

and problems are reported for code under `/service/a/node

[2018-07-11 06:20] majelbstoat commented on #503
After further debugging, it appears that the issue is because of this bug: https://github.com/Microsoft/vscode/issues/12448 which causes "jump to definition" to open a file with the entire path defined as lowercase. For some reason, this causes the eslintignore definition not to be respected.

When I open `service/a/node_modules/apollo/graphql/ApolloServer.ts` manually, the file is not linted, as

[2018-07-11 08:49] markusr opened #504 "Add link to the online help of the rule"
It would be good to have a direct web-link to the eslint online help (within the tooltext).

It can always be to ```https://eslint.org/docs/rules/{RuleName}```

#### Example

![grafik](https://user-images.githubusercontent.com/1866703/42560769-c02bd078-84f7-11e8-91c8-694180c9519c.png)
----

[eslint] 'next' is defined but never used. [(no-unused-vars)](https://eslint.org/docs/rules/no-unused-vars)

[2018-07-11 12:36] alex-saunders opened #505 "Render `meta.docs.url` as a hyperlink in error message"
Hi,

Sorry if this has been asked before, I've been struggling to find an answer.

Does `vscode-eslint` currently support displaying the `meta.docs.url` (or any sort or URL) in error message outputs? I'd like to point users to more information in my error messages but the `meta.docs.url` doesn't seem to be included in the output and if I manually type in a URL, it comes out as plain text, rather t

[2018-07-12 02:41] dburles commented on #504
Just came here to look for or create this issue!

[2018-07-12 09:31] evgygor opened #506 "There no whole directory scanning even "eslint.provideLintTask" = true."

[2018-07-12 09:35] evgygor commented on #506
Works well for opened js files, but doesn't scan the whole directory
My config:

eslintrc.json
[code]

vscode settings.json

[code]

[2018-07-12 14:19] gwk opened #507 "Please comment on recent eslint-scope vulnerability"
This just hit Hacker News: https://github.com/eslint/eslint-scope/issues/39

I am in no position to evaluate the severity of this problem, but I do use VSCode Insiders every day and the ESLint extension was enabled (by default?). I would like to know what, if any, risk of compromise to credentials or system integrity might have been suffered as a result. Thank you!

[2018-07-12 23:30] dbaeumer commented on #506
If you set `"eslint.provideLintTask": true` there is a task in the Task > Run Task that lints the whole folder.

![capture](https://user-images.githubusercontent.com/1931590/42664694-e4702156-85f0-11e8-81df-3346506cff5b.png)

I am closing the issue. Please ping if you think there is something to do on the ESLint side.

[2018-07-12 23:30] #506 closed

[2018-07-12 23:33] dbaeumer commented on #505
@alex-saunders you are talking about errors you are producing. Are you adding this to the error message. Can you give me an example how you include the `meta.docs.url`

[2018-07-12 23:43] dbaeumer commented on #503
@majelbstoat thanks for debugging this. Actually what you are describing explains why it fails. The reason is as follows: if `service/a/node_modules/apollo/graphql/apolloserver.ts` is opened as an absolute path if doesn't belong to a workspace folder. Then the ESLint extension doesn't know which directory is the current working directory (which is the workspace folder). The eslint npm module reads

[2018-07-12 23:44] dbaeumer commented on #502
@xpol thanks for the issue. Would you be able to provide me with a GitHub repository I can clone that demos this?

[2018-07-13 01:41] gwk commented on #507
Thank you!

[2018-07-13 01:41] #507 closed

[2018-07-13 15:00] #492 closed

[2018-07-13 15:00] #496 closed

[2018-07-13 21:00] #488 closed

[2018-07-14 02:18] tanzhihang opened #508 "Error reporting when import less from node_modules"
These is a less file，that's no problem;
`
@import '~animate.css';
`
But, when I import a scoped package like this:
`
@improt '~@animate.css';
`
An error out: " '~@animate.css 'wasn't found."

[2018-07-14 02:32] #508 closed

[2018-07-14 02:34] tanzhihang commented on #508
It's not vscode-eslint problem，but another plugin

[2018-07-14 17:17] ztolley commented on #494
Not sure how my reply got deleted. The app has a subfolder, client, that you also need to run yarn install in. Then you get the issue.

[2018-07-16 02:39] githoniel commented on #500
sorry my project is private and huge, so it's had to provide.
It occurs in all my project, node、electron and web. I think it is not relate to specified project.
reinstall the `eslint` plugin when occur will make it work.
still had this problem in vscode 1.25.1

[2018-07-16 08:45] alex-saunders commented on #505
@dbaeumer I spoke with people in the eslint gitter and managed to resolve this, so closing the issue.

[2018-07-16 08:45] #505 closed

[2018-07-16 23:44] dbaeumer commented on #251
@jrock2004 this is something the WSL documentation states and is independent of VS Code.

[2018-07-17 00:31] dbaeumer commented on #505
Cool. May I ask what the resolution is?

[2018-07-17 00:32] dbaeumer commented on #494
Reopening then

[2018-07-17 01:00] dbaeumer commented on #494
Strange. Here is what is see after running yarn install in the client folder

![capture](https://user-images.githubusercontent.com/1931590/42790871-11a18a28-8922-11e8-8092-09a8e937d881.png)

Any additional steps?

[2018-07-17 01:02] dbaeumer commented on #500
Does it fail right from the beginning or stop after some time. In the example above does `git/pos-communicate/src/stateSwitch/client/serial/client.js` have eslint errors?

[2018-07-17 14:02] evgygor commented on #506
I mean not a manual task running, I'm talking about a process when eslint always scans whole project directory, signs the issues in the files and list them in the "Problems" view.

[2018-07-17 15:14] sandy081 opened #509 "Provide diagnostics information in quick fixes"
A light bulb will be shown in Problems view if there are quick fixes available for a problem.

![image](https://user-images.githubusercontent.com/10746682/42762255-1ed868ae-8910-11e8-8228-71af43d203a6.png)

For performance reasons, quick fixes check is done by

- Getting the quick fixes for the complete file
- Check if there is a quick fix for the given diagnostic

So, it is necessary that the ext

[2018-07-17 20:29] dbaeumer commented on #509
I started looking into this and it is basically `blocked` by https://github.com/Microsoft/vscode/issues/53525.

[2018-07-17 20:33] dbaeumer commented on #509
To be precise: the first part is blocked. Providing the diagnostics in the code action is not. However I currently don't know the diagnostic for fixes so I would need to add this information back.

[2018-07-17 20:35] dbaeumer commented on #506
Then it is a dup of: https://github.com/Microsoft/vscode-eslint/issues/91 Help is welcome.

[2018-07-18 20:52] agm1984 commented on #164
Here's a Tweet here that is relevant to all my described issues in here:
https://twitter.com/_SeanGroff/status/1019675531783045120

It makes me wonder. What if there was a function that ran when the number of open tab editors goes from 1 to 0. The function would re-init VS Code as if you restarted the program.

That would stop people from having to close and re-open because they would get the same

[2018-07-19 20:01] dbaeumer commented on #164
Thanks for reaching back on this issue. I know it is annoying (not just for you). If this happens (e.g you have one stale error) could you enable verbose tracing and see if the server is still sending the stale error. (`"eslint.trace.server": "messages"`). IMO there are three different possible problems:

- the stale error is still reported from ESLint (will be detected by the trace)
- the error i

[2018-07-20 00:00] #502 closed

[2018-07-20 08:45] nodkz commented on #164
Current command `ESlint: Disable ESLint` does not stop running server. But how I think it should do it.

My current workaround for `ESlint server restarting` when changed graphql schema or other eslint configs options:
[code]
This command I add to my webpack config, and if it detects some build file changes which affects on eslint configs - just run it. VSCode automatically restarts killed eslint

[2018-07-20 21:36] agm1984 commented on #164
![eslint1](https://user-images.githubusercontent.com/17655219/43025703-a7f0ba1e-8c27-11e8-8873-3ae15d23ba9a.gif)

Here is an animated GIF @dbaeumer

1. I'm not sure if that is the hover information we wanted to see
2. You can see the error is stuck. It was reporting that I needed to add the `type` key, so I added that and sometime while I was typing `required: true`, it started reporting missing d

[2018-07-21 19:04] garyking opened #510 "Option to not lint Untitled files"
Please add an option to not lint Untitled files. The only extension setting I have is `"eslint.run": "onSave"`.

When I open a new untitled file, change it to JavaScript language, and paste some code in, then this ext lints the pasted code. But it doesn't re-lint when I make changes, due to my setting. Therefore, I'd like an option to completely disable linting in Untitled files. Untitled files ar

[2018-07-22 03:32] nenjamin2405 commented on #502
I got the same issue when I try to modify name of a file in vscode (this happens randomly). This auto-replacement is really annoying.

[2018-07-24 01:00] #494 closed

[2018-07-24 02:00] #500 closed

[2018-07-24 10:03] dbaeumer commented on #502
@nenjamin2405 can you provide me with a GitHub repository and steps how to reproduce this. I wasn't able to do so.

[2018-07-24 10:04] dbaeumer commented on #510
Makes sense. It will be re-linted when run is `onType`.

PR welcome.

[2018-07-24 10:19] dbaeumer commented on #164
@agm1984 thanks for all the information. So it looks like the ESLint server is not validating the file anymore. This can be due to two reasons:

- the server is stuck
- the client doesn't trigger the server anymore.

To better understand which one occurs can you let me know if:

- other JS / VUE files are successfully validated when in this state
- if the ESLint server process is causing high CPU

[2018-07-28 20:33] flpStrri commented on #471
I am facing the same issue here. You can check my repo: https://github.com/flpStrri/Lilium

[2018-07-30 06:30] bendtherules commented on #245
Just a temp solution I use -
Add eslint disable snippets as user snippet in VSCode

[code]

To add -
1. Preferences - Configure User Snippets
2. Choose Javascript
3. Paste above snippet

[2018-08-01 20:45] agm1984 commented on #164
Update: everything has been pretty solid @dbaeumer. After my last issues, I restarted VS Code and everything has been good since. I haven't detected any CPU or memory management issues.

In the last two months, it just keeps getting better and better. Both React and Vue have been linting as expected with barely any anomalies, which is historically rare for me.

I noticed last week I was running ES

[2018-08-02 12:50] mikemaccana opened #511 "eslint command line works, eslint vscode extension warns for named arguments"
eslint vscode warns that named arguments are not defined:

![image](https://user-images.githubusercontent.com/172594/43584600-b7cb5cc2-965a-11e8-986d-4f055270aa8c.png)

But on the shell, eslint is fine:

![image](https://user-images.githubusercontent.com/172594/43584613-c4ee977a-965a-11e8-990d-39b0697e9dd9.png)

I have explicitly copied the config into vscode to try and fix this behavior:

    "es

[2018-08-03 02:42] simkessy commented on #417
If I run `eslint . --fix` which is suppose to lint my entire directory, it works but if I open the files and save them, formatting is changed, but my eslint-config is suppose to use the prettier plugging, so I'm not really sure why I'm getting different formatting between linting and formatting on save.

[2018-08-03 08:56] marbuser opened #512 "How to disable eslint from linting <style> parts of VueJS?"
I'm not sure if I'm posting this in the right place, but I'm using eslint + prettier and I want them to ignore the `<style>` tags in a vuejs components so that I can use Stylelint instead for those parts.

As you can see below, stylelint itself works fine. However, upon correcting this I get an eslint warning.

![image](https://user-images.githubusercontent.com/34422459/43634136-ea7ffc3e-973d-11e8

[2018-08-03 20:10] regalstreak commented on #417
`File > Preferences > Keyboard Shortcuts > edit keybindings.json`

[code]

[2018-08-06 16:40] jaygraygray opened #513 "In-line linting broken; can't debug because of truncated message"
![image](https://user-images.githubusercontent.com/20447909/43729181-6d4c3fd6-9975-11e8-9193-62c9bb8b65b3.png)

I have the latest versions of ESLint and VSCode.

The checks in the command line report fine, but the in-line highlighting is broken.

Is there anyway to check the full message being reported above so I can debug?

[2018-08-06 19:31] WraithKenny commented on #417
The key-bind workaround does seem like it comes sorta close, but ... it hardly seems right. It's only in a very narrow case that it works as expected. It's not just the key-bind that is the expectation, but the command, which can be called via other code, tasks, or other extensions.

[2018-08-06 20:09] ianwremmel commented on #417
agreed. prettier, as an example, is able to format while typing and work with other formatters to arrive at a stable final result. because eslint has its own format command that mostly only runs on save, `format document` and `eslint fix` fight eachother. Moreover, `eslint fix` seems to need to be run multiple times to get the same result that the running `eslint --fix` from the command line would

[2018-08-08 01:33] garyking opened #514 "Global plugins aren't loaded in projects created with create-react-app"
I have an ESLint global config file, located at `/Users/gary/.eslintrc.json`, with some plugins installed globally.

I create a new project with `npx create-react-app test-react-app`. I open it in Code. I get the following error:

[code]

This is because CRA installs it's own copy of ESLint, yet it doesn't appear in `package.json`, so presumably it's part of one of the included scripts.

Please ma

[2018-08-09 07:32] QAnders opened #515 ""Problems" window in Panel stops working after a while..."
The ESLint plugin itself works fine and my files in file explorer are indicated with red, orange and green as expected but the "Problems" window in the Panel view kind of "freezes" after some time.
If I re-start VSCode the Panel is working fine but after a few minutes and switching between files a few times it "freezes" again and shows information but trying to click anything in it nothing happens

[2018-08-12 10:54] xlfsummer opened #517 "".eslintignore" Not Work When Path Includes Chinese Char"
my folder structure:
[code]

 .eslintignore :
[code]

"a.js" in "code/dist" was  ignored
"a.js" in “代码/dist” was not ignored

![image](https://user-images.githubusercontent.com/20750969/44001236-eeddd272-9e60-11e8-8698-e983e781b255.png)
(same content in two a.js files)

[2018-08-13 23:25] ddelgadop opened #518 "san"

[2018-08-15 15:52] aaronjensen commented on #208
Would this allow us to do the opposite--ignore `prettier/prettier` for linting/underlining but have it run when saving?

[2018-08-15 17:16] chrumck commented on #515
Same here, except I'm on 1.26.0

[2018-08-15 17:48] davis1410 commented on #515
I started seeing this issue when I upgraded to 1.26.0. I'm wondering if it's a similar problem that's being reported here:
https://github.com/Microsoft/vscode/issues/56317

[2018-08-15 17:55] sandy081 commented on #515
Duplicate of https://github.com/Microsoft/vscode/issues/56371

[2018-08-16 13:48] dbaeumer commented on #515
Closing.

[2018-08-16 13:48] #515 closed

[2018-08-17 08:20] rightaway opened #520 "eslint server crashed"
Just like in #437, I get the server crashed error. Here's an excerpt of the verbose logging information (some parts removed, let me know if they're necessary). I'm using the latest 1.4.12 version and the latest version of eslint.

[code]

[2018-08-17 08:25] dbaeumer commented on #520
@rightaway I assume you are running on VS Code 1.26. Do you have `eslint.nodePath` set? We are aware of an issue were the ESLint server crashes (Electron / Node problem) if the eslint.nodePath points to a non existing directory.

[2018-08-17 08:29] rightaway commented on #520
Yes I'm on 1.26. The setting I have is `"eslint.nodePath": "~/npm/lib/node_modules"` and that directory does exist, e.g. there's `~/npm/lib/node_modules/eslint/bin/eslint.js`.

[2018-08-17 08:30] dbaeumer commented on #520
@rightaway can you try to make the path absolute and see if that helps.

[2018-08-17 08:43] rightaway commented on #520
That works thank you! Maybe not a bad idea to allow `~`, as that was working up until recently. Otherwise we can close this issue.

[2018-08-17 15:13] dbaeumer commented on #520
I have a fix for this. Will publish a new version next week.

[2018-08-19 14:41] hellofolks opened #521 "Linting by Resolving Functions from Multiple Files in Project"
In  `index.html`:

[code]

In  `scriptA.js`:

[code]

In  `scriptB.js`:

[code]

While editing the  `scriptB.js`  **eslint**  gives  `'foo' is not defined`  _error_. And in  `scriptA.js` it gives `never used` _error_. There should be a solution for these errors rather than specifying globals in files. Think that you have 50 global functions in `scriptA.js` and defining all of them as globals is bu

[2018-08-20 09:29] dbaeumer commented on #521
@hellofolks what happens in this case if you use eslint directly in a terminal. The ESLint extension is based on the eslint npm module and so far I stayed aways from adding features on top of the eslint npm module since it will be confusing if things behave differently whether you lint in the editor or in the terminal for example in a build script.

[2018-08-20 09:38] dbaeumer commented on #493
@aeschli ping.

[2018-08-20 09:52] dbaeumer commented on #518
@ddelgadop I am closing the issue since neither the title nor the description contains a sufficient description of the problem.

[2018-08-20 09:52] #518 closed

[2018-08-20 09:53] dbaeumer commented on #517
@xlfsummer does this work correctly when you execute ESLint from the terminal directly. If so can you provide me with a GitHub repository that I can clone that demos the problem.

[2018-08-20 09:57] dbaeumer commented on #512
@marbuser The eslint extension used the ESLint npm module to do the actual validation. So if the feature is available in ESLint itself (https://eslint.org/) then it is available in the extension as well. If not, please file a feature request against ESLint.

[2018-08-20 09:57] #512 closed

[2018-08-20 10:01] dbaeumer commented on #511
@mikemaccana can you please provide me with a GitHub repository I can clone that demos this. Then I can have a look and see why the extension behaves differently than the eslint running in the terminal.

[2018-08-20 10:03] dbaeumer commented on #164
@agm1984 great to hear that things got better for you. I will leave the item open. Please ping if you see experience any problems.

[2018-08-20 10:22] mjbvz opened #522 "Cannot find module 'semver'."
With eslint 1.4.13 on VS Code 1.26.1 (and 1.27 insiders), I'm seeing the error: `Activating extension 'dbaeumer.vscode-eslint' failed: Cannot find module 'semver'.` Seems to happen in all workspaces

[2018-08-20 10:29] aeschli opened #523 "Can't start ESLint: Cannot find module 'semver'."
Version: 1.27.0-insider
Commit: 00649474f2e43a84c61ddbbbc356060257328372
Date: 2018-08-20T05:18:15.557Z
Electron: 2.0.7
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

ES Lint 1.4.13

On activation the ESLint extension prints the error:

Activating extension 'dbaeumer.vscode-eslint' failed: Cannot find module 'semver'.

[2018-08-20 10:44] dbaeumer commented on #471
@flpStrri I cloned the repository but I don't see any errors. Any additional steps.

[2018-08-20 10:45] dbaeumer commented on #523
Thanks. Fixed and published a new version.

[2018-08-20 10:45] #523 closed

[2018-08-20 10:45] dbaeumer commented on #522
Sorry for that. I published 1.4.14 which fixes this.

[2018-08-20 10:45] #522 closed

[2018-08-20 10:58] jondot opened #524 "Strange behavior for fix on save"
Hi,
Tested on vscode and insiders, with latest eslint.

The behavior I'm observing is that it takes *two* saves of a document to get the extension to autofix properly. Running the `eslint` from the command line fixes on the first (and only) run.

I know eslint has a concept of number of iterations but going through eslint's code and vscode-eslint's code didn't bring up anything about a difference

[2018-08-20 10:59] dbaeumer commented on #524
Dups https://github.com/Microsoft/vscode-eslint/issues/154.

[2018-08-20 10:59] #524 closed

[2018-08-20 12:47] flpStrri commented on #471
Nope, It was simply there, I will check It out again and push a commit there if needed.

[2018-08-20 15:58] jondot commented on #154
Trying to understand what's the core issue here - can someone ELI5 this?

[2018-08-20 18:27] Hirse commented on #459
@dbaeumer, can we close this one now?

[2018-08-20 21:51] MartinCerny-awin opened #525 "autoFixOnSave does not work for test files"
I am using eslint with eslint-config-prettier. Everything works correctly for normal javascript files, but auto save doesn't work for jest test (.spec.js) files.

User settings:
[code]

.eslintrjc:

[code]

[2018-08-21 02:39] JingLi-kooboo opened #526 "TypeError: pluginName.match is not a function"
I tried to manage vue with eslint, but vscode-eslint return an error.
![image](https://user-images.githubusercontent.com/20513064/44377106-fd80fb00-a52d-11e8-9eaf-72adedf1b3f0.png)
vscode-eslint version - 1.4.14
eslint version: 5.4.0

[2018-08-21 07:28] hellofolks commented on #521
@dbaeumer Yes also this is an issue. html script resolving feature can be added on the VSCode side but in the future updates of the ESLint, it can give problems. It will be better to ask this feature to ESLint itself. Thanks.

[2018-08-21 14:47] dbaeumer commented on #526
@JingLi-kooboo this looks like a problem with ESLint itself of one of its plugins. What happens if you execute eslint directly in the terminal. Does this error show up as well?

[2018-08-21 15:18] xlfsummer commented on #517
Not correctly either.

Here is the repo:
https://github.com/xlfsummer/eslint-demo.git

[2018-08-21 19:38] hellofolks commented on #521
@dbaeumer https://github.com/eslint/eslint/issues/10774#issuecomment-414707193 :/

[2018-08-21 21:15] Standard8 commented on #345
@dbaeumer Where would be best to file an issue to update the version of node shipped with VSCode? Or do you know if there is one already?

[2018-08-22 00:03] slaughtr opened #527 "Override global eslintrc if one is found in current project"
I am currently the "eslint guy" at work. I have a decently customized .eslintrc that I have crafted over some time. I put this in my home directory, and point at it via `"eslint.options"`

Now, I'm beginning work on a new project, and I've convinced my team that we should use eslint. As the guy yelling about it, I graciously took on the task of getting everything set up and sharing those steps wit

[2018-08-22 06:32] JingLi-kooboo commented on #526
Thank you for your reply. No problem at the terminal.
![bd5v_29p 9na oxj 61q 9](https://user-images.githubusercontent.com/20513064/44446456-80ca4b80-a617-11e8-99c1-47319302d028.png)
Should be wondering why this pluginName is undefined
![7 l76 x59c 40 o76z 2e](https://user-images.githubusercontent.com/20513064/44446582-04843800-a618-11e8-9b85-683aa3b8e995.png)

[2018-08-22 11:00] dbaeumer commented on #526
Actually I am a little lost since the exception is happing in ESLint code not mine. How does your configuration look like. Looks like you specify a plugin name that is not a string and therefore has no match method.

[2018-08-22 11:07] dbaeumer commented on #527
@slaughtr pointing to it via the `eslint.options` setting is like passing it on the command line in a terminal using the `--config`. If you do this ESLint respects this and will not use the one in the project folder.

However, what eslint does is it looks up the folder parent chain for a `.eslintrc` file. So if you have the following setup

[code]

and remove the VS Code setting the following will

[2018-08-22 11:07] #527 closed

[2018-08-22 13:41] dbaeumer commented on #345
The version of Node that ships with VS Code depends on the Electron version used by VS Code. This got lately updated to Electron 2.0 which now uses node `8.9.3` which should make the error go away. In addition there is https://github.com/Microsoft/vscode-eslint/pull/516 which will let you control the node version.

[2018-08-22 13:43] dbaeumer commented on #521
@hellofolks thanks. Any reason why you reopened this?

[2018-08-22 13:43] dbaeumer commented on #459
Yes, we can. thanks for pinging.

[2018-08-22 13:43] #459 closed

[2018-08-22 13:57] #345 closed

[2018-08-22 14:51] hellofolks commented on #521
@dbaeumer Thanks for caring. It was for letting you know the situation at ESLint repo. Probably in the future they will lose their fixedness due to new needs. Regards.

[2018-08-22 15:04] hellofolks commented on #521
@dbaeumer I found [this](https://www.npmjs.com/package/eslint-plugin-html) for achieving this mission. Can we implement **VSCode's** ESLint Plugin to support this feature?
Regards.

[2018-08-22 15:33] slaughtr commented on #527
Ahhhhh so I really just need to move my global config to my project directory root? Jeez, I would never have thought of that, nevermind how obvious it is.

I have tested this, it works. Thank you!

[2018-08-23 05:52] JingLi-kooboo commented on #526
Sorry, I found the problem, which was caused by the misplacement of the configuration item.
![image](https://user-images.githubusercontent.com/20513064/44507030-9dc85280-a6db-11e8-95b3-0feb0e8b0331.png)

[2018-08-23 05:52] #526 closed

[2018-08-23 13:55] dbaeumer commented on #521
@hellofolks this is fully support since the ESLint extension uses the ESLint npm module under the cover. So you can use any eslint plugin that works with the normal eslint.

BTW: you don't need to reopen an issue when you comment. We usually react on comments in closed issues as well.

[2018-08-23 13:55] #521 closed

[2018-08-23 17:14] fform commented on #514
After way to much debugging, I stumbled on this issue too. I was able to run eslint from the command line without errors but it was complaining in VSCode.

I was also having an issue where
- eslint was installed globally
- made react native app with CRNA and ejected it
- made configuration with some plugins, installed them locally
- installed eslint locally and saved to package
- command line outp

[2018-08-24 15:03] macbielecki opened #528 "No quickfix and no lightbulb in vscode v1.26"
After updating vscode to version 1.26 no yellow lightbulb is present when eslint reports errors and no quick fix options are visible in the editor in vue project:
With eslint extension enabled though, I see the red underline and eslint's tooltip with error message:

![image](https://user-images.githubusercontent.com/29729527/44592009-91b5c100-a7bf-11e8-8b64-088cba3bb8e0.png)

But there is no light

[2018-08-24 15:32] ExE-Boss opened #529 "Add support for `pnpm`"
[`pnpm`](https://pnpm.js.org) is the third largest node package manager, which uses symlinks, hardlinks and isolated trees, which prevents packages from using packages which they haven’t declared in their dependencies.

I believe that as it’s the third largest, it should also be supported in the `eslint.packageManager` configuration key.

## See also:
- https://www.kochan.io/nodejs/why-should-we-u

[2018-08-24 16:01] #520 closed

[2018-08-24 20:42] smokku commented on #417
`"eslint.autoFixOnSave": true,` works for me.

[2018-08-26 17:27] garyking opened #531 "Option to globally ignore dirs"
If I open an old version of a file I have in Git, using `git show <sha>:file.js | code -`, then the file is opened in Code, and exists in `/private/var/`. This file gets linted on opening, and since it's not in the project's dir, none of my ESL rules apply. So the file usually has hundreds of error.

Please allow us to ignore folders like `/private/var` for applying ESL rules.

[2018-08-27 06:47] dbaeumer commented on #520
Got delivered with 1.5.0

[2018-08-27 06:57] dbaeumer commented on #531
This should already be possible using the `"eslint.options"` setting in user settings using either the `ignorePath` or `ignorePattern` porperty as documented here https://eslint.org/docs/developer-guide/nodejs-api

Can you give this a try?

[2018-08-27 06:59] dbaeumer commented on #529
@ExE-Boss would you be willing to contribute this. I have no expierences with pnpm and I am sure things will again be different.

[2018-08-27 07:03] dbaeumer commented on #528
This works for me with a normal JS file (see screen shot). Can you provide me with a GitHub repository I can clone that demos this for vue.

<img width="226" alt="capture" src="https://user-images.githubusercontent.com/1931590/44645481-0a8f6580-a9d8-11e8-986c-0ce2ae43ed8b.png">

[2018-08-27 07:58] macbielecki commented on #528
Sure. Doesn't work in a very first vue repo I found - here's a link to a fork I made:
https://github.com/macbielecki/vue-realworld-example-app

![image](https://user-images.githubusercontent.com/29729527/44647754-3f52eb00-a9df-11e8-830b-2ab21a855fe6.png)

But there's no lightbulb and when I click `ctrl+.` I see:
![image](https://user-images.githubusercontent.com/29729527/44647856-95c02980-a9df-11e

[2018-08-27 08:06] dbaeumer commented on #517
@xlfsummer thanks for the demo. I wasn't clear in my last post. If this also happens in ESLint in the terminal, then this is not a issue with the extension but with ESLint itself and the issue has to be reported here: https://github.com/eslint/eslint

Can you please do so since I can reproduce this in the terminal.

<img width="626" alt="capture" src="https://user-images.githubusercontent.com/1931

[2018-08-27 08:06] #517 closed

[2018-08-27 10:01] #511 closed

[2018-08-27 12:45] HoWingYip opened #532 "Failed to load plugin react even when 'eslint-plugin-react' is installed globally?"
The extension keeps giving me the error "Failed to load plugin react: Cannot find module 'eslint-plugin-react'" even when I have installed 'eslint-plugin-react' is installed globally.

Here is my config file .eslintrc.

[code]

The command I ran to install ESLint and its dependencies was
```npm install -g eslint eslint-plugin-react babel-eslint eslint-config-defaults```

Running the `eslint` comma

[2018-08-27 18:03] garyking commented on #531
I tried `ignorePattern` with dozens of variations (`private`, `/private`, `/private/var`, etc.). Only `private` would ignore the file, but that would mean that any path that includes `private` would not be linted. I actually tried these in the `eslint` CLI, so the problem seems to be from ESLint itself.

[2018-08-27 19:29] UnderNotic opened #533 "SyntaxError: Unexpected token e in JSON at position 0"
No matter what eslint config i have I'm getting error:
[code]

Given config .eslintrc file at project root level
[code]

My os is Linux mint 19.

[2018-08-27 20:17] UnderNotic commented on #533
Solved. I was missing some npm packages.

[2018-08-27 20:17] #533 closed

[2018-08-28 09:30] dbaeumer commented on #531
I see the point that this feature makes sense when VS Code is opened in file mode (no folder) or files are opened that are outside the folder.

[2018-08-28 09:32] dbaeumer commented on #532
@HoWingYip thanks for the issue. Can you provide me with a GitHub repository I can clone that demos this?

[2018-08-28 09:34] HoWingYip commented on #532
@dbaeumer https://github.com/HoWingYip/side-project here's the repository I was working on when I discovered this problem

[2018-08-28 09:35] dbaeumer commented on #528
To get light bulbs in vue you need to tell the extension that quick fixes for vue should be computed. To do so cahneg the `"vue"` entry to:

[code]

I am closing the issue. Please ping if this doesn't fix it.

[2018-08-28 09:35] #528 closed

[2018-08-28 09:40] dbaeumer commented on #532
I cloned the project and I get

[code]

[2018-08-28 09:49] HoWingYip commented on #532
Oh dear, I suppose it's my problem then. Do you have any idea what's wrong?

[2018-08-28 12:52] macbielecki commented on #528
It works, thank you.

[2018-08-30 10:35] xlfsummer commented on #517
okay, sorry for opening an issue in wrong place, thank you.

[2018-08-31 08:48] mobal opened #534 ""eslint"."autoFixOnSave" ignores ECMA version"
When I enable this feature the IDE ignores my `.eslintrc.json` configuration. I have the following:

[code]
Every save replaces every `var` to `let`.

[2018-09-02 07:03] pkhodaveissi commented on #514
True and thank you for `"eslint.nodePath": "/usr/local/lib/node_modules"` tip

[2018-09-04 04:49] lifenstein commented on #251
Found more reliable way to use WSL-installed node & eslint, using the `wsl` wrapper command that is part of WSL.

1. Create a batch file with the following content and save it as `node.bat`:
[code]
1.  Make another with `node` replaced by `eslint` (Can repeat this for whatever other commands you need to be made available).
1. Set `eslint.nodePath` to `C:\\path\\to\\batch\\file\\node.bat`
1. Restar

[2018-09-04 04:51] lifenstein commented on #251
Oh and this is quite useful too:
[code]

[2018-09-05 21:00] ryanpcmcquen opened #535 "Optional chaining barks an error ..."
![screenshot 1536181169](https://user-images.githubusercontent.com/772937/45120760-efc59b00-b113-11e8-9e39-b26fb6c3948a.png)

I thought this may have been tied to this issue (https://github.com/babel/babel-eslint/issues/511), but it does not happen in Atom's `eslint` package (https://github.com/AtomLinter/linter-eslint).

[2018-09-06 23:47] crinitic opened #536 "Avoid on-undef and no-unused-vars on vanillaJS project with <script src="file.js"> tags"
My project is based on an index.html calling various .js files declaring different classes, but it seems eslint is not able to parse across files referenced by <script src="xxx.js"> tags.

My scenario:
index.html
`
    <script src="/js/layout/header.js"></script>
    <script src="/js/layout/layout.js"></script>
`
header.js
`
    class Header {
    // I get a no-unused-vars because Header is declar

[2018-09-07 10:38] dbaeumer commented on #536
The ESLint extension uses the ESLint npm module provided by the ESLint community. If this is possible when executing eslint from a shell then it should work in the extension as well. If not, it will not work in the extension and so far I stayed away from adding features on top of the normal eslint behavior.

[2018-09-07 10:40] dbaeumer commented on #535
This error doesn't come from ESLint. It has `[ts]` in front. You can disable JS/TS checking using the TS language server in VS Code.

I am closing the issue. If you think this is a bug in VS Code please report the issue in the vscode repository.

[2018-09-07 10:40] #535 closed

[2018-09-07 10:42] dbaeumer commented on #534
The autofix on save is based on the eslint npm modules. Does this work when running ESLint from a terminal?

[2018-09-07 10:43] dbaeumer commented on #532
ESLint requires and .eslintrc file to work correctly. You can create one using eslint --init in a terminal.

[2018-09-07 10:43] #532 closed

[2018-09-07 10:52] dbaeumer commented on #154
The problem is that the npm eslint module computes all the fixes by running in a loop until no more fixes are computed (see https://github.com/eslint/eslint/issues/5329 for the details). So for a given state S

- it computes fixes F and applied them to S moving S to S'
- it then computes fixes F' on S' and applies them and move S' to S''

To implement that in the extension we need to:

- implement

[2018-09-07 12:17] such opened #537 "React Improved support for Fragment"
Hello,

Is this extension supposed to support the newish React [fragment syntax](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html)?
[code]

My eslint version (`5.5.0`) supports it and `eslint .` yields no error when I use it but the extension somehow reports a parsing error.
[code]
I don't have eslint installed globally so I'm pretty sure the correct version is used.
I'm usi

[2018-09-07 16:35] ryanpcmcquen commented on #535
@dbaeumer, that sounds totally reasonable ... _but_, I have this in my user settings:

[code]

And if I uninstall this extension the error goes away.

[2018-09-07 20:15] WraithKenny commented on #417
Yes, 1 thing of the many involved works with a setting, but none of the other important things work.

[2018-09-07 20:18] crinitic commented on #536
Ok thanks, I guess it is lack of knowledge on my side, or a feature request for eslint. Will check there directly :)

[2018-09-07 20:18] #536 closed

[2018-09-08 17:52] ianwremmel opened #538 "off produces warning in .eslintrc: Incorrect type. Expected one of integer, array"
Similar to https://github.com/Microsoft/vscode-eslint/issues/72, the `off` value for a rule produces a warning, but `warn` and `error` do not:

<img width="574" alt="screen shot 2018-09-08 at 10 51 24 am" src="https://user-images.githubusercontent.com/1182361/45257084-2d653680-b355-11e8-80e0-31439bb64dcb.png">

Wrapping in quotes `"off"` doesn't help.

I looked at the schema referenced in #72 and

[2018-09-08 17:54] ianwremmel commented on #538
Moving to the array form does make the warning go away.

[code]

[2018-09-10 03:57] xpol opened #539 "Eslint will enter error state and needs restart vscode."
After I fixed the eslint error, the it will, sometimes, still have old error there, and only restart can fix this.

![screen shot 2018-09-10 at 11 54 42 am](https://user-images.githubusercontent.com/20248/45275676-91703200-b4f0-11e8-841e-21adc98b0cce.png)

*Note: in the image above, I have already fixed the `Radio` by change it to `Select`, but the old error still exists and can fix until restart

[2018-09-10 08:30] CG-man opened #540 "not work in .vue file,but other that working other files."
not work
![tim 20180910162728](https://user-images.githubusercontent.com/12809498/45285808-a5c72580-b516-11e8-81a9-99db0a6d86ed.png)

working
![tim 20180910162747](https://user-images.githubusercontent.com/12809498/45285830-b5df0500-b516-11e8-93cc-af2079b2064e.png)

![tim 20180910162738](https://user-images.githubusercontent.com/12809498/45285864-cee7b600-b516-11e8-8814-f75ced807287.png)

WTF?!?!

[2018-09-10 08:32] dbaeumer commented on #539
@xpol if this happens can you enable tracing to see if the server is still responding to validation request. To enable it add the setting `"eslint.trace.server": "verbose"` and provide the Output of the ESLint output channel.

Are you able to reproduce this. I would appreciate a GitHub repository I can clone then.

[2018-09-10 08:36] dbaeumer commented on #540
Have you enable eslint checking for vue files. You need to do this using the settings described here: https://github.com/Microsoft/vscode-eslint The setting is `eslint.validate`.

Please ping if you have this setting already enabled and provide a GitHub repository I can clone that demos the problem. Thanks.

[2018-09-10 08:36] #540 closed

[2018-09-10 08:39] dbaeumer commented on #538
Actually this looks like a Yaml file and I have no idea how the schema validation works for Yaml files. This is not controlled by the ESLint.

@aeschli do you know how Yaml validation comes into the VS Code system?

[2018-09-10 08:40] aeschli commented on #538
@dbaeumer There's an [extension](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml) that does that

[2018-09-10 08:41] dbaeumer commented on #535
This is very wired since the error clearly has `[ts]` in its message. If it would be an eslint generated messages it would be `[eslint]`. Can you provide me with a GitHub repository I can clone that demos this?

[2018-09-10 08:42] dbaeumer commented on #538
@aeschli  thanks

@ianwremmel are you using that extension ?

[2018-09-10 08:44] dbaeumer commented on #537
The ESLint extension using the ESLint npm module that is also used when linting in a terminal. So yes, if it works there it should work in the extension as well. Can you provide me with a GitHub repository I can clone that demos this.

[2018-09-10 09:15] such commented on #537
Hello,
My bad, another version of eslint had sneaked in a subdirectory of my project. It works fine indeed with ESlint 5+.
Thanks.

[2018-09-10 09:15] #537 closed

[2018-09-10 16:26] ianwremmel commented on #538
yep, i am using that extension. It's hard to tell which extension is producing the validation error, but rewriting in JSON does seem to make the error go away.

[2018-09-11 08:50] dbaeumer commented on #538
OK. I will close the issue then since there is nothing I can do to fix this in the ESlint extension.

[2018-09-11 08:50] #538 closed

[2018-09-11 08:51] dbaeumer commented on #525
Can you fix them when you execute eslint directly in the terminal with the --fix option.

If yes, can you provide me with a GitHub repository I can clone that demos the behavior?

[2018-09-11 09:04] dbaeumer commented on #535
The @ryanpcmcquen I see the errors but they clearly come from the TS compiler. They are still there even if I disable ESLint for that workspace. Please report the problem aginst the TS support in VS Code.

[2018-09-11 09:05] dbaeumer commented on #535
<img width="899" alt="capture" src="https://user-images.githubusercontent.com/1931590/45349809-97c6e280-b5b2-11e8-910c-d12c51d8545a.png">

[2018-09-11 11:04] crabicode commented on #525
@dbaeumer my bad :( it seemed the project contained `.eslintignore`. It works perfectly. @MartinCerny-awin make sure `.eslintignore` does not include `**/*.spec.js` and vscode will autoFixOnSave. Cheers!

[2018-09-11 13:35] ryanpcmcquen commented on #535
Thanks @dbaeumer. Will do.

[2018-09-13 23:04] nik-john opened #541 "Fix all auto-fixable issues goes into an endless loop with eslint"
Often times when I try to run the **Fix all auto-fixable issues** command on my Javascript files, the app goes into a never ending loop of moving the tabs/spaces around, but never really getting satisfied:

![autof-xable](https://user-images.githubusercontent.com/1117182/45520465-26b44480-b7d7-11e8-8d55-97b0770faa21.gif)

My `.eslintrc.js` is as follows:

[code]

[2018-09-14 06:16] dbaeumer commented on #541
@nik-john: what happens when you execute eslint in the terminal directly. And could you provide me with a GitHub repository I can clone where the workspace settings contain all your user settings. This might be influenced by VS Code settings as well.

[2018-09-14 08:46] himhimlo opened #542 "4 minute delay between ESLint server start and library loaded in Visual Studio Code"
Hi,

this is very annoying and it should be grateful if there is any solution. Thank you.

Description
ESlint is only available after 3~4min after I open the Visual Studio Code. I did not see any high CPU usage during this time. Inspecting the ESlint output can see the delay is between ESlint server start and the library loaded.

Configuration:
OS: Microsoft Windows 10 Pro
ESLint Version: 3.19.0
N

[2018-09-14 11:07] #534 closed

[2018-09-14 14:17] moimael opened #543 "Eslint server crashes all the time"
Hi,

Since a couple of week I cannot get my eslint to work in visual studio. It works perfectly fine on the command line.

I get this error everytime:

[code]

I'm on an up to date Fedora 28 distribution.

Thanks !

[2018-09-16 20:47] MartinCerny-awin commented on #525
It looks like the problem could be solved by restarting VS Code. I do not have spec files in .eslintignore

I am closing the issue for now. If I encounter the problem again I would reopen it.

[2018-09-16 20:47] #525 closed

[2018-09-17 09:07] #539 closed

[2018-09-17 10:57] osramywj opened #544 "How to distinguish undefined variate in the NodeJs environment?"
How to distinguish undefined variates in the NodeJs environment?
There is no difference with other variates!

![image](https://user-images.githubusercontent.com/26902133/45619288-4edbc600-baab-11e8-8616-e3e90b2a830e.png)

[2018-09-17 18:52] joshgeller opened #545 "Uncaught exception"
macOS High Sierra 10.13.6
VS Code 1.27.1

[code]

[2018-09-18 09:04] dbaeumer commented on #543
Looks like your setup doesn't like the node version VS Code ships with. You can configure using a different node runtime using the setting `eslint.runtime` and the PR here: https://github.com/Microsoft/vscode-eslint/pull/516/files

Let me know if this fixes the issue.

[2018-09-18 09:06] dbaeumer commented on #545
For some reason the ESLint extension can't spawn another node process. Does it work if you use the setting `eslint.runtime` and point to a installed node version on your system?

[2018-09-18 09:07] dbaeumer commented on #544
@osramywj can you please provide more details about what your issue is with the ESLint extension. If you have a general question about how to configure ESLint then this is better ask on StackOverflow.

[2018-09-18 09:10] dbaeumer commented on #542
@himhimlo usually ESLint starts in seconds for me. Can you try to run the following command in a terminal and let me know how long it takes for the command to finish: `npm config get prefix`

[2018-09-18 10:46] himhimlo commented on #542
@dbaeumer
npm config get prefix = C:\Users\ASUS\AppData\Roaming\npm
And every time I open VS Code, the ESLint library is loaded 2-3min after the ESLint server is running
[Info  - 11:30:06 AM] ESLint server is running.
[Info  - 11:33:21 AM] ESLint library loaded from: d:\...\node_modules\eslint\lib\api.js

[2018-09-19 10:24] sebastian-nowak opened #546 "Lint changed lines only"
Hello,

is there a way to configure this extension to complain only about the lines that were changed? So only those that are reported by `git diff`, `git diff --staged` or something similar.

It would be super useful for large projects, where new linter rules are introduced and enforced for new code only. Otherwise everything is displayed in red.

Thanks,
Sebastian

[2018-09-19 12:18] moimael commented on #543
I'm not sure how to check that but this might be relevant:

[code]
For the record, my colleague who is on MacOS had the exact same issue as me. Seems like the node version shipped with vscode is broken for eslint.

[2018-09-19 13:53] Fernandolcs commented on #208
Everything works like a charm (at least for my personal experience) when we have **autoFixOnSave** setting with an array of strings specifying which rules you want to automatically save.

This has worked in another Typescript project (TSLint already has this feature) and I have only to thank for this.

And another plus, this feature is already implemented in the PR 325 ([commit](https://github.com

[2018-09-19 14:12] giorgio79 opened #547 "No ESLint configuration (e.g .eslintrc) found for file... - Set eslint config in file comment instead of jsonrc file"
JSHint extension settings enable us to add

`/*jshint esversion: 6 */

In the js file. Could we do the same with eslint instead of having to create a separate file?`

[2018-09-20 08:37] dbaeumer commented on #547
Such a support must come from the ESLint npm module. The ESlint extension doesn't add any features on top of the normal ESLint. It only integrates ESLint into VS Code. Having the feature in ESLint npm will also ensure that it works correctly when executing eslint on the command line.

Can you please file the request here: https://github.com/eslint/eslint

Please ping if I misunderstood your reques

[2018-09-20 08:37] #547 closed

[2018-09-20 08:42] dbaeumer commented on #543
It is not broken in general. It depends on what kind of plugins you install into eslint. If they have native code this code is compiled against a node version which might no match what is shipped in Electron.

There is little the eslint extension can do to fix. If something like this happens all the user can do point to the node version that is available on the system. This is possible via `eslint

[2018-09-20 08:42] dbaeumer commented on #546
This is currently not possible.

[2018-09-20 08:47] moimael commented on #543
I agree, this can't be fixed in the extension and the `eslint.runtime` escape hatch is an acceptable solution.

Yeah you can close this, thanks !

[2018-09-20 13:08] giorgio79 commented on #547
Thx. Discussion with ESLint opened https://github.com/eslint/eslint/issues/10877

[2018-09-20 14:11] platinumazure commented on #547
ESLint maintainer here :smile:

Hi @giorgio79, I took a look at the documentation here and it looks like there is an `eslint.options` configuration setting which takes options that go to CLIEngine.

Try adding the following option there:

[code]

That should allow you not to use a config file, and then you can just use the configuration comments (as we discussed in the ESLint issue).

I don't thin

[2018-09-21 06:40] dbaeumer commented on #543
Thanks. Closing then.

[2018-09-21 06:40] #543 closed

[2018-09-21 06:41] dbaeumer commented on #547
@platinumazure thanks for clarifying this.

[2018-09-21 07:07] #541 closed

[2018-09-25 09:08] #544 closed

[2018-09-25 09:08] #545 closed

[2018-09-26 11:08] #542 closed

[2018-09-26 13:07] stavalfi commented on #91
shouldn't it be on a different issue than Microsoft/vscode#47386?

[2018-09-28 14:49] hadim commented on #91
Any news on this?

[2018-09-29 05:57] chemzqm opened #548 "Fix all autofix problems could be improved"
The fix for all aotufix problems now drop the overlap fixes, so it requires run multiple times to fix all fixable problems sometimes.

The `Linter` of eslint module could be used to get result of fixed code and then calculate the required `textEdit` for fix all autofix problems, instead calculate from each of the fixes.

I've implemented it in my fork https://github.com/neoclide/coc-eslint/blob/ma

[2018-09-30 16:38] techsin commented on #91
+1

[2018-10-01 20:19] garyking opened #549 "Don't use local eslint unless it's explicitly listed in package.json"
If I leave `eslint.nodePath` set to `null` (the default), and I edit an NPM project that does not have `eslint` explicitly listed in its `package.json`, yet one of its deps includes `eslint`, then this VSC extension will still use the local eslint rather than the global one. This is not preferred, because then global plugins will not be loaded.

[2018-10-01 22:37] MattiasMartens commented on #208
Chiming in to say this is on my wishlist as well, particularly any variant where you can exclude rules that are set to warn.

My employer's codebase has gone through some changes to linting standards over the years. If I work on an older file, the auto-linter will make it light up with diffs that aren't very meaningful or useful. I'd prefer if it only fixed those violations that make it refuse to

[2018-10-02 15:49] chipit24 opened #550 "Hidden files (prefixed with a dot) are ignored"
I noticed this when making changes to my `.eslintrc.js` file. ESLint errors will not show up in hidden files (files prefixed with a dot).

If I have a file, `test.js`, with ESLint errors, they are displayed in my editor with a squiggly underline, and in the problems tab. If I re-name the file to `.test.js`, the VS Code ESLint extension seems to ignore it completely.

[2018-10-02 21:01] glachancecmaisonneuve opened #551 "adding support for portable mode (feature request)"
Would it be possible to add vscode's [EnvironmentService.getUserDataPath()](https://github.com/Microsoft/vscode/blob/0c2388a00830063966adeeff97a62b0c0e583966/src/vs/platform/environment/node/environmentService.ts#L94) in the chain of possible locations for finding a valid configuration file?  ```EnvironmentService.getUserDataPath()``` will point to the correct location for vscode user data directo

[2018-10-02 21:17] glachancecmaisonneuve commented on #551
Researching this further, you may want to look at EnvironmentService.appSettingsHome() instead of the base directory ```EnvironmentService.getUserDataPath()````.  That's where the snippets file, the settings file and other config files are going to reside.

[2018-10-03 09:28] dbaeumer commented on #551
@glachancecmaisonneuve can you explain fir which files this should be considered. Are you talking about a `.eslintrc` file ? The extension itself has no logic about .eslintrc file locations. It used the ESLint npm module to find them (https://github.com/eslint/eslint).

You can always point to a specific configuration file using the `eslint.options` setting which supports eslint command line optio

[2018-10-04 23:50] glachancecmaisonneuve commented on #551
I'll try out eslint.options and close if it can use environment variables, wich is a possible approach to portability.  I'll come back with my findings and close if it's doable.

[2018-10-05 07:43] dbaeumer commented on #550
This is standard eslint behavior. If elint is executed in the terminal you get:

![capture](https://user-images.githubusercontent.com/1931590/46522409-f8c89a00-c882-11e8-9ade-c337bd0b9c62.png)

I will close the issue since the extension tries to stick with the normal ESLint behaviour.

[2018-10-05 07:44] dbaeumer commented on #550
Reopening: we do should make sure that the warning is shown in the problem panel. But we will still not validate the file.

[2018-10-06 19:18] andrewmiller1 commented on #356
It might be possible to use https://github.com/owent-contrib/vscode-clang-format-provider/commit/86e773b4acce9e14b8610d2576c11fb56de43433 as inspiration for a workaround

[2018-10-07 22:51] sylv3r opened #552 "Inconsistent errors in the editor compared to eslint output"
My editor is pointing out a lot of issues tagged as `[eslint]` while running eslint in the command line does not report any issue.

As an example :
`[eslint] 'React' is defined but never used. Allowed unused vars must match /^_/. (no-unused-vars)`
`[eslint] 'ThemeProvider' is defined but never used. Allowed unused vars must match /^_/. (no-unused-vars)`

While (I voluntarily explicitly called here

[2018-10-08 11:01] beforan commented on #504
I believe this is blocked by Microsoft/vscode#11847 but once that is done, it should be pretty easy to implement in here?

[2018-10-08 16:35] ahennie commented on #154
Are there any downsides to using this solution?

[2018-10-08 21:51] Tbhesswebber commented on #477
I have had to refresh my VSCode window every two to three minutes for the past four hours.  Well, I didn't know that that restarted the server until someone told me, so I was really closing VSCode entirely for about half of that time. Being able to manually restart the server is probably not valuable in general, but when you're trying to debug why ESLint and other tooling aren't playing nicely tog

[2018-10-09 11:02] VenkattaPidikiti opened #554 "Late response"
- Extension Name: vscode-eslint
- Extension Version: 1.6.0
- OS Version: Windows_NT x64 10.0.14393
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:```json
{
	"activationTimes": {
		"startup": true,
		"codeLoadingTime": 9801,
		"activateCallTime": 6,
		"activateResolvedTime": 0,
		"activationEvent": "*"
	}
}
[code]

[2018-10-11 11:30] sakara opened #556 "Extension loading time"
- Extension Name: vscode-eslint
- Extension Version: 1.6.0
- OS Version: Windows_NT x64 10.0.17763
- VSCode version: 1.29.0-insider

 We have written the needed data into your clipboard. Please paste:

[code]

Is this normal that takes more then 10 seconds to load?

[2018-10-12 07:12] #551 closed

[2018-10-14 06:39] maoryosef2 opened #557 "fdescribe / fit shows redlines on the entire block"
when using focused tests, vscode will show redlines on the entire focused blocked, instead of just showing it on the `fdescribe` / `fit` line

it is forcing me to disable eslint while working on specific tests
see example:

![image](https://user-images.githubusercontent.com/22167090/46913384-96634e00-cf94-11e8-8231-04c0673eba59.png)

[2018-10-16 08:33] dbaeumer opened #558 "Remove error code from message"
See https://github.com/Microsoft/vscode/issues/49215

[2018-10-16 08:39] #558 closed

[2018-10-17 09:39] dbaeumer commented on #504
@thibaudcolas correct. Thanks!

Closing as dup #151

[2018-10-17 09:39] #504 closed

[2018-10-17 09:42] dbaeumer commented on #557
The reason is that the error is reported that way from the ESLint npm module (https://github.com/eslint/eslint) and so far I was very reluctant tempering with any of the information. I see your problem but I have no knowledge about when it would be appropriate to shorten the error range and when not.

Any objection to close this?

[2018-10-17 09:48] dbaeumer commented on #556
No, and I can't reproduce this. Here is what I see

[code]

Any special steps on how to reproduce what you see.

[2018-10-17 09:51] dbaeumer commented on #556
Actually the activation times are accumulated over reloads. In your case the eslint extension for activated 102 time which in total took 10279 ms which give 100ms per activation which IMO is OK. Closing the issue.

[2018-10-17 09:51] #556 closed

[2018-10-17 10:37] dbaeumer commented on #554
I am not able to reproduce this. I see code loading times around 100ms. In your case the extension got activated six times which results in a code loading time of 1600ms which I agree is still bad. Do you have any steps on how to reproduce this?

[2018-10-17 10:48] dbaeumer commented on #154
@ahennie thanks for looking into this. Unfortunately this only fixes it for running the action manually. However a lot of reports came in for auto fix on save as well which then would lead to a total different solution. To not have two code paths here I would still like to see the addressed in a way that it works for the save case as well.

[2018-10-17 10:51] dbaeumer commented on #552
It would be helpful if you could provide a GitHub repository I can clone that demos this.

Looking on how you call this I suspect that you need to set the `src` folder as a working directory. See `eslint.workingDirectories` [here](https://github.com/Microsoft/vscode-eslint)

[2018-10-17 10:57] dbaeumer commented on #356
@andrewmiller1 the ESLint extension depends on the ESLint module (https://github.com/eslint/eslint) for this. The reason why this fails right now is that the checking happens in memory to get validation on type and not only on save. The content in memory doesn't have a BOM hence ESLint complains correctly about it.

[2018-10-17 11:01] dbaeumer commented on #549
As a work around you can set `eslint.nodePath` to your global install eslint.

[2018-10-17 13:08] dbaeumer commented on #91
I opened https://github.com/Microsoft/vscode/issues/61140. The work for this is still on branch https://github.com/Microsoft/vscode/tree/dbaeumer/47386

[2018-10-17 13:11] dbaeumer commented on #548
@chemzqm any objection to mark this as a dup of https://github.com/Microsoft/vscode-eslint/issues/154

[2018-10-17 13:36] maxbax opened #559 "Disappears rule suggestion after upgrade 1.6.1"
After last upgrade to version 1.6.1 of your plugin in Microsoft code when appear an error disappears the suggestion code to skip. For example with airbnb linter code shows the "[eslint] Unexpected dangling '_' in '__SOME_VARIABLE__'.". Before the upgrade the linters showed me "[eslint] Unexpected dangling '_' in '__SOME_VARIABLE__'. **(no-underscore-dangle)**" very usefull to force validation onli

[2018-10-17 15:17] dbaeumer commented on #559
@maxbax this is caused by a bug in VS Code and got already fixed. If you need this urgent you can use VS Code insider release.

[2018-10-17 15:17] #559 closed

[2018-10-17 17:49] moltar opened #560 "ESLint rule name no longer shows in the tooltip"
The error/warning tooltip, when hovering an offending piece code, used to show full name/ID of a rule.

Now, for some reason, it shows the description, and a code snippet, but not the name itself.

This is useful when one wants to disable a rule in a specific instance.

Thanks.

[2018-10-18 00:34] benjamminj commented on #560
Same here too!

This only happened after I updated vscode to `1.28.2`.

Here's what it looked like before

![screen shot 2018-10-17 at 4 53 31 pm](https://user-images.githubusercontent.com/20060118/47124423-aef09400-d232-11e8-8e49-05bc945904cb.png)

And here's what it looks like after updating

![screen shot 2018-10-17 at 5 33 28 pm](https://user-images.githubusercontent.com/20060118/47124445-cd56

[2018-10-21 15:55] thibaudcolas commented on #151
I gave this a shot at https://github.com/Microsoft/vscode-eslint/pull/562, along with the VS Code PR https://github.com/Microsoft/vscode/pull/61436, and for `vscode-languageserver` at https://github.com/Microsoft/vscode-languageserver-node/pull/432.

Feedback welcome! See https://github.com/Microsoft/vscode/issues/11847#issuecomment-431680393 for further details.

[2018-10-24 08:47] axy541877028 opened #563 "Cannot find module 'eslint-plugin-javascript'"
Vscode output：
[Info  - 4:38:33 PM] ESLint server stopped.
[Info  - 4:38:33 PM] ESLint server running in node v8.9.3
[Info  - 4:38:33 PM] ESLint server is running.
[Info  - 4:38:35 PM] ESLint library loaded from: /Users/liulu/Documents/work/printer/node_modules/_eslint@5.7.0@eslint/lib/api.js
[Error - 4:38:35 PM]
Failed to load plugin javascript: Cannot find module 'eslint-plugin-javascript'
Happe

[2018-10-24 10:12] #557 closed

[2018-10-24 11:12] #552 closed

[2018-10-24 11:12] #554 closed

[2018-10-24 13:12] #548 closed

[2018-10-24 19:31] monkeydri commented on #154
+1 @ahennie for this (temporary) solution.

[2018-10-25 07:05] maxxafari opened #564 "sidebar explorer only shows errors on open files"
When i select a project file inte the sidebar, the filname turns red and diplays the number of errors ie: +9 .

When i select a different file the file names return to yellow and the "+9" disappears.

![eslint_vscode](https://user-images.githubusercontent.com/7019830/47481715-d350ff80-d834-11e8-9b53-5ba319cd16ac.gif)

[code]

[2018-10-25 07:44] dbaeumer commented on #564
This is actually following the VS Code error design guidelines. For linters the errors are only shown for files that are open in the editor. Errors are not shown for non visible files.

The ESLint extension however offers a task which validate all JS files in the workspace and create errors for it. These errors stick until the next time the task is run of the file as been opened.

That support can

[2018-10-25 07:44] #564 closed

[2018-10-25 07:47] dbaeumer commented on #563
@axy541877028 have you tried fixing this by trying the provided solutions? If so can you provide me with a GitHub repository that demos this?

[2018-10-25 07:55] dbaeumer commented on #549
Almost. The code 10 lines above needs to be changed to handle the case that only modules from the nodePath should be considered. Basically this line https://github.com/Microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L414 needs to pass in a different directory in the case `eslint.nodePath` is set to `null` explicitly. My be we can pass the global install location as well.

[2018-10-25 08:50] dbaeumer commented on #471
Still not able to reproduce.

[2018-10-26 13:05] flpStrri commented on #471
@dbaeumer it was long ago, I also don't see the error anymore. :/

[2018-10-27 03:30] progmax commented on #471
Getting this error... What data is needed?

[2018-10-29 07:45] trevor34 opened #566 "ESLint crash "Invalid option '--node-ipc' - perhaps you meant '--config'?""
Hello,
I am using version 1.6.1 on VSCode version 1.28.2 Linux.
There is an issue when I start it up, where it states that ESLint server has crashed 5 times in the last 3 minutes.
I have set the output console to verbose, and this is what shows up:
[code]

Thank you for any help.

Edit:
It does work from the terminal, I have installed it globally using npm.

[2018-10-29 14:44] trevor34 commented on #566
Hello, I am on Xubuntu 18.04

[2018-10-29 17:46] leoselig commented on #550
Isn't the underlying problem that we `.eslintignore` is not honored? See https://github.com/eslint/eslint/issues/8429#issuecomment-355967308 – hidden files (leading `.`) can be opted into by negated globs.

[2018-10-30 10:03] dbaeumer commented on #566
The `"eslint.runtime"` setting must point to a node runtime. I will make this more clear in the settings doc.

[2018-10-30 10:09] dbaeumer commented on #566
Checked that the setting states that this is the node runtime.

We could do better to check if the value is actually pointing to an existing file but that wouldn't have help here either. I will close the issue since I can't prevent such a misconfiguration.

[2018-10-30 10:09] #566 closed

[2018-10-30 18:29] vzvu3k6k commented on #418
#562 will solve this issue.

[2018-10-31 08:06] fedulovivan opened #568 "Triggered eslint rule name is no more available in the tooltip"
- VSCode Version: 1.28.2
- OS Version: Ubuntu 16.04 LTS
- eslint: 4.6.1
- vscode-eslint extension: 1.6.1

Steps to Reproduce:

1. Write any code which has any linting problem
2. Hover problem element, see the tooltip contents.

Previously triggered rule name was available, but currently, it's not (only validation message itself):

![screenshot from 2018-10-31 10-56-45](https://user-images.githubus

[2018-10-31 15:30] dbaeumer commented on #568
This is actually caused by a bug in VS Code and is already fixed in Insider and will be available again with the next VS Code update.

[2018-10-31 15:30] #568 closed

[2018-11-01 08:12] #563 closed

[2018-11-01 09:41] dbaeumer commented on #418
Agree. Marking as dup.

[2018-11-01 09:41] #418 closed

[2018-11-01 09:42] dbaeumer commented on #418
Ths dup is https://github.com/Microsoft/vscode-eslint/issues/151

[2018-11-01 11:28] mysticatea opened #570 "Regression: Rule ID has disappeared from the popup."
![image](https://user-images.githubusercontent.com/1937871/47849254-439ee880-de14-11e8-998f-400e9be68258.png)

This change happens at d98bfd60fcbb1be6112bcd6b1e9a4fc9eab318f9.

It's inconvenient to me if I cannot check the rule ID in the popup.
Because we use the rule ID to disable rules with `eslint-disable` directives.
I don't want to open problems tab to check it since I have opened terminal pa

[2018-11-01 18:58] dbaeumer commented on #570
This is actually a bug in VS Code. Code now renders the diagnostic code (which is the rule id) consistently in the UI but there was a bug in the Hover that prevented this. It is already fixed in Insider and will be available in next stable.

[2018-11-01 18:58] #570 closed

[2018-11-01 21:39] mysticatea commented on #570
Thank you for the pointed out!

[2018-11-02 14:51] wmertens opened #571 "rulename no longer shows"
In some recent update, not sure of eslint or this plugin, the eslint rule name stopped showing.

This means I can't easily look it up or disable it.

Can this be reinstated? Preferably, the rulename is the first part of the error message, so it's easy to copy and paste.

[2018-11-02 20:29] GStipick commented on #571
I am also having the same problem.  It appears that work is being done to fix this though.

Reference:
https://github.com/Microsoft/vscode-eslint/pull/562

[2018-11-05 09:13] yukal commented on #417
It should be an automatic mechanism accepting the .eslintrc.json from the root directory of the project. As example: settings from the .vscode/*

[2018-11-05 09:55] dbaeumer commented on #571
Two things: the missung rule name is caused by a bug in VS Code which is already fixed in Insider and will be available in the next stable version appearing soon.

Due to a [PR](https://github.com/Microsoft/vscode-eslint/pull/530) I got from @loune the quick fix now contains actions to disable a rule. No need to copy paste anymore.

![capture](https://user-images.githubusercontent.com/1931590/4799

[2018-11-05 09:55] #571 closed

[2018-11-05 10:42] Friksel commented on #571
Thanks for the info @dbaeumer and great to have an action for it! I also just found out that the rule-names are still visible in the 'problems' tab, so there's no need to search for the eslint-names anymore.

[2018-11-05 11:12] #471 closed

[2018-11-06 08:42] Friksel commented on #571
@dbaeumer When using the 'Suppress ... for this line' we don't get the suppression on the same line, but as a `// eslint-disable-next-line` instead of a `// eslint-disable-line`. I normally put these on the same line as the suppressed line for better readability and less disturbing code flow, but this seems to be impossible with this workflow. Would it be possible to make the '`Suppress .. for thi

[2018-11-06 14:57] dbaeumer commented on #571
@Friksel can you please open a separate issue for this?

[2018-11-06 16:30] Friksel opened #573 "eslint-suppress-line action: please add the suppress-comment on the same line"
When using the new 'Suppress ... for this line' action, which is a very welcome feature, we don't get the suppression on the same line as in the description, but as a `// eslint-disable-next-line`.

I would rather like to have the suppress line as `// eslint-disable-line` after the code. I normally put these on the same line as the rule I want to suppress for better readability and less disturbing

[2018-11-06 16:32] Friksel commented on #571
@dbaeumer Hereby: https://github.com/Microsoft/vscode-eslint/issues/573

[2018-11-12 11:52] sibelius commented on #503
I think this is a bug on eslint, not vscode

this is happening to me as well, but on command line

when using yarn workspaces

[2018-11-13 19:10] brucejo75 opened #574 "[Solved] eslint can't not find the module "babel-eslint" when I have installed the module babel-eslint?"
I found a solution to #82.  You have locked up that issue and no more comments are allowed. So I am adding a new issue with my solution to help anyone else that runs into it.

### Issue
`babel-eslint` cannot be found when loading VSCode.

1. I noticed that this only happened when I opened a certain project, it seems to work fine for my main project.
2. In the Output window I saw the line:
`[Info

[2018-11-14 14:47] thernstig opened #575 "eslint.autoFixOnSave requires multiple saves"
I've installed the eslint extension. The npm packages installed are eslint, prettier, eslint-config-prettier, eslint-plugin-prettier.

Prettier best practices integration with eslint tells you to use `"extends": ["plugin:prettier/recommended"]`. This will make `eslint --fix` also run the prettier formatter. If I run this on command line like so `node_modules/.bin/eslint --fix server FILE` it forma

[2018-11-15 02:30] zhangyunhai210 opened #576 "In the *.vue file, eslint doesn't work when I set <script type='es6'>"
- [x] Did I use a search engine?
- [x] Did I check out other about issuse?
- [x] Did I check the instructions for use?
# Issues
When I set <script type='es6'>, eslint gave up the job.
## Why do I have to do this?
This will give better support for es6.

this will not generate a warning
[code]
This setting works fine
[code]
[code]

------
this is my User Settings
[code]
this is my .eslintrc.js
[code

[2018-11-15 09:08] dbaeumer commented on #576
@zhangyunhai210 does this also reproduce if you execute eslint from the command line ?

If not can you provide me with a GitHub repository I can close to reproduce. This ensures we are talking about the same thing.

[2018-11-15 09:09] dbaeumer commented on #575
Dups https://github.com/Microsoft/vscode-eslint/issues/154 which has all the details around this :-)

[2018-11-15 09:09] #575 closed

[2018-11-15 09:11] dbaeumer commented on #574
Or bot locks it :-)

Thanks for the issue and the solution. Closing the issue. Please ping if you think an action is needed.

[2018-11-15 09:11] #574 closed

[2018-11-15 09:12] dbaeumer commented on #503
@sibelius yes agree. That is why I marked the issue as upstream :-) but forgot to close it. Thanks for reminding.

[2018-11-15 09:12] #503 closed

[2018-11-15 10:37] thernstig commented on #154
Wanted to chime in on this, first reported here (marked as duplicate): https://github.com/Microsoft/vscode-eslint/issues/575

Lots of online resources start to recommend to use eslint+prettier. Basically using eslint for its awesome code-quality rules, but prettier for its awesome formatting rules: https://prettier.io/docs/en/comparison.html

If someone uses VS Code and eslint, they would start by

[2018-11-16 09:08] dbaeumer commented on #573
To not pollute the menu too much I would suggest to make this an options instead having both.

[2018-11-16 17:45] polizz opened #577 "Custom alias in Webpack error"
This is related to the issue titled "Bug with custom alias in Webpack" #405. That issued is locked, so I had to create this one.

I read through that entire history and the difference for me is that I do not have any ES6 features in my webpack config. Furthermore, one alias (Router) works, but the other (CSS), does not.

As the others stated, eslint runs with no errors on CLI and webpack has no is

[2018-11-20 15:50] #577 closed

[2018-11-20 16:30] dbaeumer commented on #577
@polizz can you please provide me with a GitHub repository that I can clone that demos this. Would help tracking down why this fails for you?

[2018-11-21 14:46] dbaeumer commented on #573
PR for this is welcome.

[2018-11-21 15:57] dbaeumer commented on #549
Thinking about this again I have the feeling that this needs a setting as well since implementing this is a semantic breakage. Something like 'eslint.requirePackageDependency`. The default would be `true` to keep the current semantic.

This can not only be derived from nodePath since the resolver also takes global installs into account.

[2018-11-21 15:59] dbaeumer commented on #550
@leoselig the .eslintignore` is honored. If you think otherwise can you provide me with a GitHub repository I can clone that demos what you are seeing?

[2018-11-22 09:13] #576 closed

[2018-11-22 11:17] leoselig commented on #550
@dbaeumer Yes, I can do. And it's good that I did because I discovered that it's specifically realted to nested or non-top-level `.eslintignore` setups.
See my repro repo (_\*pun\*_) here: https://github.com/leoselig/repro-vscode-eslint-ignorefiles

[2018-11-27 14:16] beeplin commented on #417
yes, I strongly agree that vscode-eslint should be able to bind to `shift-alt-f` (format).

[2018-11-27 23:06] NickHeiner opened #578 "Stale config values in cache"
I recently experienced an issue where vscode-eslint's view of the config did not match the files on disk. I edited the files on disk, but vscode-eslint reported the same old config. When I reloaded the window, the problem disappeared.

The file on disk changed as a result of a git checkout.

My versions:

vscode: bc24f98b5f70467bc689abf41cc5550ca637088e.
eslint: v4.19.1.
vscode-eslint: 1.7.0.

I d

[2018-11-28 10:21] dbaeumer commented on #578
@NickHeiner you are talking about a `.eslintrc` file right. I test this but of course it did work for me. The extension is listening to file events provided by VS Code itself. Without a reproducible case very hard to track down.

Will keep it open for some time to see if others hit this as well.

[2018-11-28 15:57] NickHeiner commented on #578
Yes, I am talking about a file required indirectly from an .eslintrc. And I
know this is basically unactionable without repro steps, but your plan to
keep this open and see if anyone else hits it is precisely what I was
hoping for. :)

On Wed, Nov 28, 2018 at 2:21 AM Dirk Bäumer <notifications@github.com>
wrote:

[2018-12-02 19:38] mets11rap opened #579 "Reassignment Issue on Switch Cases"
https://i.imgur.com/1WDzd7m.png

It thinks I'm reassigning the constant even though they won't both run.

Adding a `break` does not solve this either.

[2018-12-02 19:44] mets11rap commented on #579
Never mind, I'm just an idiot. It's an actual Node error.

[2018-12-02 19:44] #579 closed

[2018-12-04 08:17] redben opened #580 "Assumes .eslintrc (without extension) is json"
getting ``[json] Expected a JSON object, array or literal.`` on an .eslintrc that is a yaml

And by the way thanks for the module!

[2018-12-04 08:55] redben commented on #580
My bad I just had to configure file association for .eslintrc...

[2018-12-04 08:55] #580 closed

[2018-12-06 23:54] jaywick opened #586 "Use 'unused code' style instead of error squiggle"
I would like code which fail `no-unused-vars` to use the greyed out code you can see in Javascript and Typescript projects introduced in the [1.24 May 2018 update](https://code.visualstudio.com/updates/v1_24#_highlight-unused-variables-and-imports)

![image](https://user-images.githubusercontent.com/3955052/49618718-aa17b780-fa0d-11e8-9e52-89f174b396d3.png)

Right now it just shows the red error s

[2018-12-10 23:06] jarrodldavis opened #587 "Ignore ESLint parsing errors when linting on type"
With the default `onType` setting for `eslint.run`, I get a lot of annoying "Unexpected token" error notifications as I am typing. This is incredible distracting considering notifications are relatively persistent compared to the Problems area. Is there a way to turn these error notifications off?

![screen shot 2018-12-10 at 4 01 34 pm](https://user-images.githubusercontent.com/235875/49767230-e7

[2018-12-10 23:46] jarrodldavis commented on #587
After some investigation, I've narrowed the cause of the errors to [eslint-plugin-prettier] not handling syntax errors gracefully.

[eslint-plugin-prettier]: https://github.com/prettier/eslint-plugin-prettier

[2018-12-10 23:46] #587 closed

[2018-12-14 13:03] sunpietro opened #589 "Getting "ESLint server shut down itself" message. Linting not working"
Hi,
after the latest update of VS Code, ESLint seems to be not working.
![zrzut ekranu 2018-12-14 o 14 03 08](https://user-images.githubusercontent.com/1736658/50004971-0435f100-ffa9-11e8-8a55-1f9749d0d9c8.jpg)
I'm not sure how can I restart it and make it working again.

[2018-12-14 15:31] dbaeumer commented on #589
@sunpietro Which version of ESLint extension are you on?

[2018-12-14 15:33] dbaeumer commented on #589
THis works for me using VS Code 1.30 and ESLint 1.7.2

[2018-12-16 16:35] barbalex opened #590 "eslint server shuts down"
Checking the output channel reveals:

[code]

This happens every time I open the project immediately after opening the first js file.

Running `cross-env NODE_ENV=development eslint --cache --format=pretty .` on the command line works nicely.

What could I be doing wrong?

This could be related to https://github.com/Microsoft/vscode-eslint/issues/589

This is my package.json file: https://github.c

[2018-12-17 10:53] dbaeumer commented on #590
I am pretty sure that you might use a ESLint feature that requires a newer version of node. By default the eslint extension uses the node that ships with electron. Can you try to configure a different node version using the following setting: `eslint.runtime`. Best point it to the node version you use when running eslint on the command line.

[2018-12-17 11:09] bpasero opened #591 "Panel shows automatically on startup"
I noticed that the output panel was opening right on startup opening a JS project I had checked out showing me this:

![image](https://user-images.githubusercontent.com/900690/50083570-8b2ad980-01f4-11e9-9a6e-afdebd9dbd2b.png)

I suggest to use a notification instead that is easier for the user to deal with. A panel is not easy to dismiss, takes a lot of vertical space and destroys my current work

[2018-12-17 11:11] bpasero commented on #591
Filed https://github.com/Microsoft/vscode-tslint/issues/415 for the related issue in TSLint.

/cc @egamma

[2018-12-17 13:01] bm-stschneider opened #592 "sourceCode.getCommentsBefore is not a function"
Issue Type: <b>Bug</b>
I encountered the following error message in vscode recently.

[code]

Extension version: 1.7.2
VS Code version: Code - Insiders 1.31.0-insider (edf1090b8546ad0d17f30bf6f8075613e37e1b37, 2018-12-17T09:59:53.442Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4980HQ CPU @ 2.80GHz (8 x 2800)|
|GPU Sta

[2018-12-17 14:45] dbaeumer commented on #592
This looks like a problem in ESLint npm module itself.

@bm-stschneider if you run this in a terminal do you see the same error? If yes, please file an issue here: https://github.com/eslint/eslint. If no, can you provide me with a GitHub repository that demos this?

[2018-12-17 16:46] barbalex commented on #590
Not sure if I set this correctly. I tried:

* on Windows: `"eslint.runtime": "C:\\Program Files\\nodejs\\node.exe"`
* on MacOS: `usr/local/bin/node`

But in both cases the crash still occurs.

The mode version I use was 10.13. I just now updated to 11.4. I see that VsCode uses v8.9.3.

[2018-12-17 16:48] barbalex commented on #590
O.k., the setting worked. I now get this error:

[code]

[2018-12-17 16:50] barbalex commented on #590
and after updating to node v11.4:

[code]

[2018-12-17 16:52] barbalex commented on #590
As the error mentions misconfigured ESLint setup as probable cause: here is my config: https://github.com/barbalex/kapla3/blob/56ab81520ad8ad6310cf5864bf277eda11d5d465/.eslintrc

[2018-12-17 17:19] dbaeumer commented on #591
![capture](https://user-images.githubusercontent.com/1931590/50103630-5769a700-0228-11e9-9ab9-612e6c92cc11.png)

[2018-12-17 17:20] #591 closed

[2018-12-17 17:22] dbaeumer commented on #590
@barbalex what happens if you run the eslint command directly in the terminal. Will that work?

[2018-12-17 17:31] barbalex commented on #590
Yes:
[code]

[2018-12-17 17:37] marbuser opened #593 "Is there a way to prevent "spam" notifications?"
This never previously happened, so I'm not sure if this has been a new thing, but when I started coding today I noticed while coding these really annoying popups started showing.

![image](https://user-images.githubusercontent.com/34422459/50104486-1479f480-0265-11e9-83ed-dbe8c895aac3.png)

Is there a way I can disable these since they are pretty annoying. I don't mind having them popup for major

[2018-12-18 05:45] bpasero commented on #591
Thanks!

[2018-12-20 00:30] alexandrenilton commented on #48
Thank's worked for me!

[2018-12-20 09:05] dbaeumer commented on #593
This happens in the ESLint library I use and swallowing them might not be good either. Can you share a GitHub repository that reproduces this. Then I can see if this is a deeper problem in ESLint or a runtime engine problem (e.g. you need to start the server using a different version of node).

[2018-12-20 09:08] dbaeumer commented on #590
@barbalex thanks. Can I easily reproduce this using the `https://github.com/barbalex/kapla3` repository. If so can you provide steps on how to do so?

[2018-12-20 09:33] barbalex commented on #590
I think these should work:

1. clone `https://github.com/barbalex/kapla3` repository
2. yarn (or npm i) in it's folder
3. open a component in vscode => watch output in eslint channel
4. run `yarn lint` on the command line to check if that works (does for me)

[2018-12-20 10:07] dbaeumer commented on #590
@barbalex this is caused by one of your scripts that are loaded into the ESLint server. It is `https://github.com/barbalex/kapla3/blob/master/internals/scripts/CheckNodeEnv.js` which calls `process.exit(2)` which then shutsdown the ESLint server. Fix should be to simply set the required env variable :-)

[2018-12-20 10:07] #590 closed

[2018-12-20 10:33] barbalex commented on #590
By the way (though I am probably being unfair to Microsoft here): After 25 years of using Microsoft products this was probably the first instance of useful help I got from Microsoft.

This may sound negative but I take it as a great sign of what has been changing at Microsoft since Nadella is in charge.

[2018-12-20 10:58] dbaeumer commented on #590
Thanks for the nice comment. I appreciate it. Have you considered using TypeScript for your Electron app. VS Code itself is written in TS and BTW half of the team sits in Zurich :-).

[2018-12-20 11:03] barbalex commented on #590
Yeah, I have started using TypeScript in my newest project.

After first enjoying it I stopped using it because I use function components combined wich many HOC's using compose. And typing HOC's was too much of a hassle for me :-(

Little after removing TypeScript from that project react hooks came out. I refactored the project to use them. And I now wish I hadn't removed TypeScript, as typing hoo

[2018-12-21 16:12] #589 closed

[2018-12-22 04:51] marbuser commented on #593
Hey @dbaeumer

I'm just using a default Vue CLI 3 project. Not sure entirely if it's to do with the project though since this never happened previously, and only started happening maybe a day or two before I initially posted this issue, which is also the time this extension received an update.
🤔

[2018-12-24 15:12] #592 closed

[2018-12-25 08:57] shunjinchan opened #594 "vscode-eslint work wrong"
- OS Version: macOS Mojave
- VSCode Version: 1.30.1
- vscode-eslint: 1.7.0

The config of `.eslintrc.json`

[code]

code

[code]

vscode-eslint error log, it can not detect the es6 syntax error.

![image](https://user-images.githubusercontent.com/4383818/50418316-b3a27b80-0865-11e9-9df0-e7e0e3bd2f0a.png)

use `node_modules/.bin/eslint ` check the same file, it can detect and report `Parsing error`

[2018-12-28 07:05] BPScott commented on #593
Heya folks, I think this is due to eslint-plugin-prettier not handling the SyntaxError that prettier throws when it is given code it can't parse - in this case malformed HTML in a vue template like `<template><div></template>` (note the lack of a closing `</div>`). As the eslint plugin lints on typing by default you'll have invalid HTML pretty often - as you won't have finished writing the correct

[2018-12-28 13:56] siric1 commented on #593
Great thank you very much @BPScott I can confirm that it is working as intended in eslint-plugin-prettier 3.0.1!

[2018-12-28 20:29] hannahjin opened #595 "Unable to resolve path to module in vscode"
My eslint passes when running from terminal and in ci. However, in vscode, all absolute paths inside the project cannot be resolved.

`import formats from 'formatting'`

ex. Error:
[code]

[code]

[2018-12-29 05:00] shunjinchan commented on #594
I found the cause of this problem.

VSCode User Settings:

[code]

If I delete the ESLint config in User Settings, it work right.

I guess for vscode-eslint this priority of ESLint config in User Settings is higher than in .eslintrc.json.

[2019-01-04 14:20] greggman opened #596 "How to debug or add verbose output?"
Is there some way I can get verbose output from eslint inside vscode about which files its checking and where it's getting the configuration info from for each file it checks?

[2019-01-08 09:21] dbaeumer commented on #593
Closing the issue then since there is nothing to do for the ESLint extension itself.

[2019-01-08 09:21] #593 closed

[2019-01-08 09:23] dbaeumer commented on #594
Closing the issue then since the `eslint.options` act as command line paramters for eslint. It is like passing them to `node_modules/.bin/eslint`.

[2019-01-08 09:23] #594 closed

[2019-01-08 15:01] dbaeumer commented on #596
No not really. There is a tracing option for the LSP but this traces all communication (for example user typings as well).

[2019-01-08 19:40] dbaeumer commented on #529
Closing. See https://github.com/Microsoft/vscode-eslint/pull/572

[2019-01-08 19:40] #529 closed

[2019-01-10 04:04] Calvin-Huang commented on #595
@dbaeumer
I tried to add `eslint.workDirectionaries` and it still unable to resolve the path

![Imgur](https://i.imgur.com/iD0YF9u.png)

However, when we use the subfolder as a workspace it is fine.

![Imgur](https://i.imgur.com/6ZTbA2G.png)

[2019-01-10 09:43] dbaeumer commented on #595
How does the configuration look like ?

[2019-01-10 17:54] hannahjin commented on #595
I can't provide you a repo since they are private. But basically the folder structure looks like
[code]
I tried adding `workingDirectories": ["./app1"]` and`workingDirectories": ["./projectRoot/app1"]`. Neither resolved the module paths.

[2019-01-11 02:55] Calvin-Huang commented on #595
@dbaeumer

Here is my workspace configuration. Please take a look. ↓
[code]

[2019-01-11 08:00] LOGANLEEE opened #598 "auto quick fix made double comma to fix trailing comma"
when i use quick fix.
it made double comma to fix which mean is causing another error..

<img width="630" alt="screen shot 2019-01-11 at 16 58 19" src="https://user-images.githubusercontent.com/26853553/51020510-1a43cb00-15c2-11e9-9083-41e7b626f21e.png">

[code]

![comma](https://user-images.githubusercontent.com/26853553/51020598-5d05a300-15c2-11e9-8dec-819960651572.gif)

[2019-01-11 09:18] dbaeumer commented on #598
Can you provide me with a GitHub repository I can clone to reproduce this? It works in my simple example.

[2019-01-13 06:39] Calvin-Huang commented on #595
@dbaeumer
Thanks! `changeProcessCWD` works perfectly.  I checked README again and confirmed what you mentioned are documented. Sorry about didn't take notice of that part.

[2019-01-14 04:58] LOGANLEEE commented on #598
i would like to give you but it's company project which mean is not allowed to share .
But i can provide conf or setting files which you want me to provide.
what kinda info you need?

[2019-01-14 09:24] #595 closed, assigned to nobody

[2019-01-14 09:39] LOGANLEEE commented on #598
[code]

i Think this bug is not related with code..
<img width="450" alt="screen shot 2019-01-14 at 18 39 18" src="https://user-images.githubusercontent.com/26853553/51105203-b58ba900-182b-11e9-902f-01f5d3cee609.png">

[2019-01-15 01:23] sungwoo-lee-qraftether opened #599 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 4.15.0-43-generic`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/sungwoolee/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vs
[dbaeumer.vscode-eslint-unre

[2019-01-15 01:24] #599 closed, assigned to nobody

[2019-01-15 09:47] dbaeumer commented on #598
@LOGANLEEE I am not trying to say it is how you code. To reproduce this on my end I need to have:

- vscode workspace setting
- the package.json file to know which ESLint and plugings you are using
- eslint config files
- a JS file showing it.

The easiest way to provide this is via a GitHub repository. This also ensures that the problem can really be reproduced. Would you be able to provide this

[2019-01-16 14:57] nicobarray opened #600 "eslint.autoFixOnSave does not trigger consistently"
Hi 👋

First of all, thanks a lot for your work, this plugin is amazing and I use it everyday !

Unfortunately, sometimes (as described in _eslint.autoFixOnSave doesn't always fire on save_ #283) eslint shows all file errors correctly but does not trigger the file fixes on save when the setting is correctly set in vscode settings (either in User or Workspace settings).

As asked in #283 I set the s

[2019-01-17 08:54] dbaeumer commented on #600
@yahwastaken A more complete log would indeed help.

Can you think of anything that would help to reproduce this?

[2019-01-17 12:01] codesboy commented on #600
The same problem:￼￼`eslint.autoFixOnSave:true` does not work when I save my file with ctrl+s.
vscode version:1.30.2
vscode-eslint version:1.8.0

![image](https://user-images.githubusercontent.com/9047357/51317340-49f74500-1a92-11e9-88f5-9cd4e914d4e1.png)

[2019-01-18 08:47] dbaeumer commented on #600
@codesboy can you provide me with a GitHub repository that demos your problem. Auto fixing does work for me. Please note that auto fix only works if VS Code's auto save is disabled.

[2019-01-18 08:50] dbaeumer commented on #164
@iamWing the best would be to make the ESLint server aware of this and re-read the configuration. I would accept a PR for this or if you give me an example (GitHub repository) which demos this I can have a look as well.

[2019-01-20 01:02] joshunger commented on #596
Edit `settings.json` and add `"eslint.trace.server": "verbose"` but I'm not sure if it'll get you what you want.

[2019-01-21 12:02] Ayc0 opened #601 "Support yarn --pnp"
With their new versions, yarn has now a option called ["Plug'n'Play"](https://gist.github.com/arcanis/02b49752c385908479734d8027d7a6c7) (there isn't any official doc yet) which removes the `node_modules/` folder

Do you have plan to support this new feature?

[2019-01-22 09:20] dbaeumer commented on #601
I don't have a lot of knowledge about `yarn --pnp` but the ESLint extension only calls yarn to find globally installed packages. I would assume that yarn itself handles this correctly in cases `yarn --pnp` was used.

Installing node modules (even eslint using yarn) is awlays done by the user itself.

I will keep the issue open in case there is something todo.

[2019-01-22 10:44] #598 closed

[2019-01-23 12:07] JakubKoralewski opened #602 "GitLens commit messages being checked by ESLint"
I made a commit that mentions console logs. GitLens displays that commit message inside the file and place where the changes were made and for some reason ESLint is taking this into consideration, as far as I understand.

I think this is pretty funny:
![](https://i.imgur.com/h9MEI4o.png)

[2019-01-23 12:45] Jamesernator opened #603 "eslint.options.fixTypes is not respected"
In Eslint 5.9.0 a new option was added called `fixTypes`, this option allows for opting out of specific fixes while preserving other ones (https://eslint.org/blog/2018/11/eslint-v5.9.0-released).

I wanted to use this to prevent rules like `prefer-const` and the like being auto-fixed but vscode-eslint still fixes the rules anyway.

Running `eslint --fix --fix-type=layout,problem the-file.js` works

[2019-01-24 08:14] codesboy commented on #600
@dbaeumer

![gif](https://user-images.githubusercontent.com/9047357/51663425-beca0200-1ff1-11e9-9530-77e5d4fbf895.gif)

![gif2](https://user-images.githubusercontent.com/9047357/51663739-91318880-1ff2-11e9-9329-367a2b5216ed.gif)

[2019-01-24 08:59] dbaeumer commented on #600
Is this something I could reproduce myself. It is hard to say from a gif what fails.

[2019-01-24 10:34] #603 closed

[2019-01-24 11:02] dbaeumer commented on #602
This must be caused by something else since I can't repro this.

![capture](https://user-images.githubusercontent.com/1931590/51674030-d8f2e880-1fcf-11e9-8add-9fdf9681e0f3.png)

Any additional steps ?

[2019-01-24 13:01] JakubKoralewski commented on #602
Only thing else I can think of is that along with the commit message the actual commit may have removed a console.log in that exact place.

It must have been fixed with a restart of VSCode / plugin / ESLint server since the error is gone now:

![](https://i.imgur.com/nlFR0QF.png)

[2019-01-25 01:00] dpw1 commented on #154
This worked like a charm to me. Thank you!
If anyone's a bit lost, this is how I my files look like:

.eslintsrc.json:
[code]
User settings:
[code]
Also it is worth noting that ESLint will not work at all if you have a typo or non-identified code in your `.eslintsrc` file.

[2019-01-25 08:14] dbaeumer commented on #154
Calling `eslint --fix File` is actually not an option due to the fact that the eslint extension validates the buffer and not the file on disk. Calling the command would change the file on disk and it might collide with edits the user does in the editor. In addition you would loose all markers (like breakpoints) in the document since for VS Code it will look like the whole buffer has changed.

The

[2019-01-25 08:15] dbaeumer commented on #602
@JakubKoralewski thanks for getting back to me. Without reproducible steps hard to fix. I will close the issue for now. If you see it again and provide more information post them here and I am happy to reopen.

[2019-01-25 08:15] #602 closed

[2019-01-25 08:35] dbaeumer commented on #550
@leoselig this is actually expected since eslint ignores them as well if you run the command from the workspace root `.\node_modules\.bin\eslint --ext=js .\packages\pkg1\`

[code]

The reason for that is that the eslint ignore file look up is not relative to the file it is relative to the current working directory in ESLint. So you need to tell the ESLint extension in this setup what the working d

[2019-01-25 14:16] lonix1 opened #604 "Feature request: color of squiggly lines"
The linting results are shown as red squiggly lines.

However red implies "error", so it's hard to tell whether something is an actual error or a linting problem.

It would be nice if we could change to another color, e.g. orange.

[2019-01-25 21:23] NickHeiner commented on #578
This problem is happening intermittently for me again. Is there anything I can do to help debug it, while the error conditions are happening? Otherwise, I'll do the workaround again, which is to restart my window.

[2019-01-26 14:38] peterjuras opened #605 "eslint parserOption.project path issue"
I encountered an issue while using this extension with the new [@typescript-eslint](https://github.com/typescript-eslint/typescript-eslint) parser and plugin. When opening Visual Studio Code with a parent folder of a project, eslint will no longer work because the `tsconfig.json` file will be looked up relative to the workspace root rather than the directory which contains the `.eslintrc` file.

T

[2019-01-28 04:27] doublepithre opened #606 "Extension causes high cpu load"
[dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-eslint/files/2801421/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 4.15.0-43-generic`
- VSCode version: `1.30.2`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-e

[2019-01-28 11:48] dbaeumer commented on #606
@doublepithre do you have any steps to reproduce this. The profile doesn't provide a lot of insights since it doesn't seem to hit any reasonable ESLint extension code.

[2019-01-28 11:50] dbaeumer commented on #604
Making the color customizable is something that needs to come from VS Code.

You can always customize ESLint rules whether they should be reported as an error or a warning.

Any object to close since this is nothing that IMO needs attention in the extension itself.

[2019-01-28 11:52] dbaeumer commented on #578
@NickHeiner you can enable tracing to see if the file event for the change of the `eslintrc` file is sent to the server. To enable tracking do:

[code]

and then add the trace from the ESLint output channel here.

[2019-01-28 11:54] dbaeumer commented on #605
This is an issue with @typescript-eslint/parser since the extension itself doesn't look up any config files. It relies on the ESLint npm module which relies on @typescript-eslint/parser

[2019-01-28 11:54] #605 closed

[2019-01-28 11:54] dbaeumer commented on #605
Please report the issue with @typescript-eslint/parser

[2019-01-28 12:19] doublepithre commented on #606
@dbaeumer I'm not sure how to reproduce this. This happened when I tried to open a workspace which has four projects, a text popped up at the bottom asking to report an issue with an auto-filled body.

[2019-01-28 16:43] LambdaFalcon opened #607 "Add an option to report only the start of an error in the code"
Since ESLint decided to report large error ranges, this tool is completely unusable because multiple errors in a function that e.g. has no return statement will all be covered by the reporting of the "outer" error of the function.

I'm not asking to change the behaviour, but to add an option to visualize just the start of the error.
This should be added because this tool handles visualization of e

[2019-01-29 13:21] dbaeumer commented on #607
I am marking this as a dup of #370.

I am not a fan of this since the extension currently doesn't temper with any results return from ESLint. The only way the extension can do something about this is to store a different range of a diagnostic then reported by ESLint. This will lead to discrepancy between ranges seen in the problems view and ranges seen in the terminal. In addition ESlint tasks tha

[2019-01-29 13:22] #607 closed

[2019-01-29 18:47] komali2 opened #608 "Can't find modules of .ts extension"
I have a project with some .ts files.

Given:

[code]

And the file **hello.vue**:

[code]

I get the in-line error (red underline and tooltip)  `Cannot find module '@/store'.`

This error only occurs for .ts files, not .vue or .js.

How can I have eslint recognize these imports are working? (The imports work, as confirmed by vue-cli serving them properly, build working etc.

[2019-01-30 09:52] jacobrask opened #609 "Autofix lightbulb not shown in TypeScript"
The fixes lightbulb with suppress options does not show up in TypeScript files. If I manually change the language mode of a file to JavaScript, it shows up, and then disappears again if I change it back to TypeScript. The error shows as expected and I have the following settings enabled:

[code]

[2019-02-01 07:52] mysmlz opened #610 "About for loop"
Issue Type: <b>Bug</b>

This template contains "let" and "const",and for ie,none of this has been achieved,so,Can you replace these with var?
[let - Browser compatibility - JavaScript | MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/let#Browser_compatibility)

[const - Browser compatibility - JavaScript | MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScri

[2019-02-01 07:54] mysmlz commented on #610
![tim 20190201153938](https://user-images.githubusercontent.com/38951157/52109780-96698580-2639-11e9-88a9-c3a69de22792.png)

[2019-02-01 09:06] playwhyyza opened #611 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Darwin x64 17.7.0`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/me/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-l

[2019-02-01 09:31] #611 closed

[2019-02-01 15:22] joelricci commented on #91
There should at least be an option in the Command-Palette to lint entire project/directory.

[2019-02-02 02:56] Yzrsah opened #612 "alwaysShowStatus: false - not working, ⚠ eslint always shows in status bar"
The `"eslint.alwaysShowStatus": false,` setting is not working.

Even when set to false, `⚠ eslint` always shows in the status bar at all times for all file types.

[2019-02-02 16:15] henrikdschulze opened #613 "Cannot find"
I prefer to install from a local file, but have not been able to find any .vsix file in this repository. Where am I supposed to find it?

[2019-02-04 03:14] jsejcksn opened #614 "Failed to load the ESLint library for the document... (Windows 10, WSL)"
This works fine for me in macOS. I'm having this issue in Windows:

[code]

### Repro steps:

#### Setup WSL and environment
1. Enable WSL
2. Install an Ubuntu version from the Windows Store
   _👇 in Ubuntu_
3. Go through setup; Install Node.js and npm LTS
4. Modify npm `prefix` to use path owned by me and not `root`
5. Install `eslint` globally (`npm -g i eslint`)
6. Add `.eslintrc` file to `~/`

[2019-02-05 08:33] dbaeumer commented on #608
@komali2 does this work for you when using eslint from the command line. If not, then this is a general ESLint problem. If it does work from the command line, can you please create a GitHub repository that helps me reproduce what you are seeing.

[2019-02-05 08:36] dbaeumer commented on #609
Fixes are only automatically shown for JS right now. You can enable for TS using the following setting:

[code]

Keeping the issue open to consider if we should auto enable TS.

[2019-02-05 08:38] dbaeumer commented on #610
@mysmlz ESLint doesn't provide any code complete or snippet information. Please report the issue against VS Code itself.

[2019-02-05 08:38] #610 closed

[2019-02-05 08:42] dbaeumer commented on #91
There is a setting since a while that contribute a lint task which can then be executed from the `Terminal -> Run Task` menu. The setting is `"eslint.provideLintTask": true`.

[2019-02-05 08:44] dbaeumer commented on #613
You can download the VSIX from the marketplace. https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint

See the `Download Extension` link under Resources on the right hand side.

[2019-02-05 08:44] #613 closed

[2019-02-05 08:50] dbaeumer commented on #614
This is currently not working since the ESLint server is started on the Windows side. The issue needs to be addressed by VS Code itself and there is a corresponding item on the VS Code roadmap (see https://github.com/Microsoft/vscode/wiki/Roadmap , WSL support).

As soon as VS Code has support for it I will start adopting in ESLint.

[2019-02-05 10:12] jsejcksn commented on #614
1. Can you elaborate this? I don't understand what you mean.

2. So there's nothing wrong, in theory, with the procedure I listed, and it's just an issue with VS Code [not really supporting WSL yet](https://github.com/Microsoft/vscode/wiki/Roadmap#wsl-support)?

3. What are the steps to get it working until WSL is adequately supported?

[2019-02-05 13:29] #606 closed, assigned to nobody

[2019-02-07 10:36] TomaszWaszczyk commented on #417
CTRL + SHIFT + P then >Eslint: Fix all auto-fixable Problems.

Here more productive tips for programmer: https://github.com/TomaszWaszczyk/keyboard-shortcuts-productive-hacks

[2019-02-07 13:50] leoselig commented on #550
@dbaeumer Got it. Wow, this is messy. So for our case the conflict actually is that on CI/via our scripts we are running ESLint in each workspace package (monorepo) but in VSCode it is a single ESLint instance running on the root.
Thanks for clarifying. We'll try to figure something out.

[2019-02-08 03:42] mtupper opened #615 "Extension causes high cpu load"
[dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-eslint/files/2843544/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.30.2`

:warning: Make sure to **attach** this file from your *home*-directory: `
[dbaeumer.v

[2019-02-08 07:58] islamideveloper opened #616 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Islam_Ahmed\dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extensio

[2019-02-08 08:00] islamideveloper opened #617 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\Islam_Ahmed\dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extensio

[2019-02-08 17:30] gonxas opened #618 "ESLint server shut down itself"
I started getting this error today out of the blue.

"ESLint server shut down itself. See 'ESLint' output channel for details."

attached is my config: (Haven't touched it since I installed the extention... I actually just found where it was)

[eslintrc.txt](https://github.com/Microsoft/vscode-eslint/files/2846152/eslintrc.txt)

Any ideas what may be causing this?

[2019-02-08 19:28] LambdaFalcon commented on #607
I would say it is not a dup since the other issue is asking about marking the line, whereas in my case I was thinking of marking just the first token.

Can't the extension keep the complete ranges, but then offer the possibility of showing a red underling just at the beginning of the range?

E.g. the range is `[9:28]`, but just a red underline is shown at position `9`.

[2019-02-10 02:01] ferisjuan opened #620 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 4.19.16-1-MANJARO`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/xxx/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:
[dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-esl

[2019-02-11 10:29] manuelbieh opened #621 "Improve highlighting of linting errors"
I'd like to bring an old issue from Stack Overflow (not from me) to the table again:
https://stackoverflow.com/questions/38057227/is-there-a-way-to-improve-linting-errors-highlight-in-visual-studio-code

According to a comment by @DanTup the API to implement such a feature as described on SO is now there:
https://github.com/Microsoft/vscode/issues/16222#issuecomment-425957561

Since it would incre