[2019-12-19 12:14] dugajean commented on #833
Can confirm that increasing the timeout to 5000 fixes the problem for me too, but that's a very poor solution. Before this update the fixes were instant on save. My laptop is fairly performant, so I don't understand the problem.

[2019-12-19 12:59] dbaeumer commented on #833
@dugajean can you provide me with a GitHub repository I can clone that demos this. As said here https://github.com/microsoft/vscode-eslint/issues/833#issuecomment-567462712 I ran with the new version for quite some time and never saw those huge spikes

[2019-12-19 13:32] p3k opened #849 "Version 2.x doing nothing"
I noticed my files are not being validated by the ESLint plugin after upgrade to version 2.x.

![image](https://user-images.githubusercontent.com/16631/71177390-31784780-226c-11ea-928d-22ed3b68d1ea.png)

![image](https://user-images.githubusercontent.com/16631/71177414-3fc66380-226c-11ea-967a-e1f8affa8f86.png)

When I downgrade to 1.x linting works as expected again.

![Screenshot 2019-12-19, 14 2

[2019-12-19 13:49] Alonski commented on #833
@dbaeumer Maybe one of my other extensions is the culprit?
[code]

[2019-12-19 14:47] georgeboot commented on #843
Setting eslint to run `onType` worked for me.

[2019-12-19 14:56] dbaeumer commented on #843
@RiqueBR it is currently not working for `"eslint.run": "onSave"`. It is fixrd in master though.

[2019-12-19 15:05] Tenemo commented on #154
The fix is amazing, thank you!

[2019-12-19 15:26] RiqueBR commented on #843
Thanks @dbaeumer!

[2019-12-19 15:27] dbaeumer commented on #843
@JarrodMFlesch I tested it added the setting to the workspace settings and here is what I get:

![cast](https://user-images.githubusercontent.com/1931590/71185830-799f6600-227c-11ea-83b0-d8034b983f07.gif)

Any additional info?

[2019-12-19 15:29] dbaeumer commented on #849
@p3k can you provide me with a GitHub repository I can clone that demos this. Usually this depends on many things like folder layout, versions, ... and it is hard to find out whats wrong without that information.

[2019-12-19 15:37] joshunger commented on #833
@dbaeumer I'm sorry I don't have a GitHub repository that contains the file but I'm happy to install a new build and run tracing for you.

[2019-12-19 15:47] dbaeumer commented on #848
@tohbansoon parts of this is by design now. If the loading of the eslint library fails I only show an error and update the status if the `eslint.validate` setting contains the langauge id for which you want to enforce and check validation. In all other cases the extension now stays silent.

Can you provide me with a more concrete description in which case you expect the status to show.

[2019-12-19 16:42] sarpik opened #850 "Extension 'ESLint' cannot format '*.tsx'"
Hello, I'm getting this error once I save my `.tsx` (react) file:

[code]

@ the statusbar. The output window of eslint reports no errors / warnings, both with debug on & off.

My stuff:

* eslint config: https://github.com/sarpik/eslint-config-sarpik
* vscode-eslint config: https://github.com/sarpik/eslint-config-sarpik/blob/master/README.md#with-vs-code
* full vscode's setup: https://gist.github

[2019-12-19 16:52] EstebanDworak commented on #833
Increasing Timeout to 1500 worked fine for me 😀
It isn't the most elegant solution but it works. 🤷‍♂️

[2019-12-19 17:16] JarrodMFlesch commented on #843
@dbaeumer weird! I'll give it another go and see if it's something on my end (must be). Curious what version eslint are you testing with above?

[2019-12-19 17:34] dbaeumer commented on #843
The one that gets installed when running yarn in that repository.

[2019-12-19 17:35] dbaeumer commented on #833
@joshunger will look into adding some tracing capabilities.

[2019-12-19 17:37] techsin commented on #846
https://github.com/techsin/eslint_double_auto_fix_vscode_reproducible_error/tree/master

[2019-12-19 17:50] joaohenriquef commented on #417
Same problem reappeared, I haven't changed any settings. Any ideas?

![Screen Shot 2019-12-19 at 14 47 07](https://user-images.githubusercontent.com/14077663/71196345-a3ea2700-226e-11ea-9238-b26797c33034.png)
![Screen Shot 2019-12-19 at 14 48 08](https://user-images.githubusercontent.com/14077663/71196346-a3ea2700-226e-11ea-9836-984fb80c899e.png)

[2019-12-19 18:15] awreese commented on #849
I too have seen this after the extension updated to version 2.x. It appears that perhaps the validating _is_ actually occurring, since I'm able to hover & fix, but the highlighting feature seems to have disappeared. Reverting back to v1.9.1 restores the code highlighting in the editor.

[2019-12-19 19:53] ISRAELISANILLEGITIMATESTATE opened #851 "How do I abolish the illegitimate state of israel?!?!?!?"
Everytime I try to delete it, it keeps telling me that function is protected?? BY (((WHO)))?

[2019-12-19 19:56] sayanything830 opened #852 "React hook missing dependency warning (react-hooks/exhaustive-deps) not appearing"
Running my lint script still notifies me of a missing dependency and up until 2 days ago (December 17th, 2019) there was a visual warning about missing dependencies. After latest extension update, I no longer have the visual warning in VSCode.

Reading the docs, it is not clear if this is a change that needs to be made with editor settings, or if this warning was intentionally removed.

Any furthe

[2019-12-20 02:17] tohbansoon commented on #848
sorry that it's not related to vscode version... I downgrade my eslint extension to `1.9.1` and it's working now

[2019-12-20 02:17] #848 closed

[2019-12-20 02:21] Jer-X commented on #848
@dbaeumer there is a question want to ask you for answers.

If my opening workspace like above photo

[2019-12-20 02:38] Jer-X opened #854 "Eslint not working when open above level directory"
When i upgrade to 2.0.6. It doesn't work when i open above directory. like this photo
![pic](https://user-images.githubusercontent.com/19970845/71225572-ffbabb80-2313-11ea-94f9-135aafcdb27f.png)
Q1: I must to add "eslint.workingDirectories" into setting.json to make It work in version 2.x.x?
Q2: But it must not to be added into setting.json that plugin can working in version 1.9.1? Can the version

[2019-12-20 02:54] thanhlelgg commented on #600
seems like the problem is just the timeout. smh...

[2019-12-20 05:11] AriPerkkio opened #855 "Startup takes 3mins, NO_UPDATE_NOTIFIER"
Starting the extensions takes 3 minutes when running it on environment behind proxy. This issue is was recently seen on prettier extension as well, and was fixed for 3.17.0. https://github.com/prettier/prettier-vscode/issues/1143

This eslint plugin is using the same methods to run npm on child_process:
https://github.com/microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L511
https://

[2019-12-20 05:28] phaibin commented on #854
Some issue, please  help!

[2019-12-20 09:47] guillaumeslash commented on #833
Hello everyone,

A solution I found is to install this fork of eslint : https://marketplace.visualstudio.com/items?itemName=evolution-gaming.evolution-gaming--vscode-eslint

It works for me with these settings :
`"eslint.autoFixOnSave": true,`

[2019-12-20 10:29] YannMCX commented on #843
I've the same problem, but with vue files and eslint-plugin-vue, my vue html <template> block doesn't be linted on save

VSCode version : 1.47.1 26076a4de974ead31f97692a0d32f90d735645c0 x64
VSCode-ESLint : 2.0.6
ESLint : 6.7.2
ESLint-Vue : 6.0.1

ESLint debug output : https://hastebin.com/yukutetogo.log

[2019-12-20 10:58] dbaeumer commented on #609
This got improved and fixed for 2.x. The extension now auto detects TypeScript. No config necessary.

[2019-12-20 10:58] #609 closed

[2019-12-20 11:28] SirCameron commented on #843
Same issue!

[2019-12-20 11:32] dbaeumer commented on #833
@joshunger I released a new version which contains some traces of the time spent to compute the fixes when `"eslint.trace.server": "messages"` or `"eslint.trace.server": "verbose"` is set.

Please let me know what the outcome is.

[2019-12-20 11:34] dbaeumer commented on #848
@tohbansoon I would like to understand what part of the feature you are missing in ESLint 2.0.x in regards to the status?

[2019-12-20 11:42] dbaeumer commented on #849
@awreese could you provide me with a GitHub repository I can clone that demos this or with steps on how to reproduce?

@p3k from your log the eslint library is not loaded. How does the output look like when using 1.9.x?

[2019-12-20 11:45] dbaeumer commented on #843
@YannMCX for some reason the eslint npm module thinks there is nothing to fix. At the end see

[code]

Can you or @SirCameron provide me with a GitHub repository I can clone that demos waht you are experiencing. Then I can investigate

[2019-12-20 12:57] YannMCX commented on #843
@dbaeumer I wasn't able to reproduce the problem on a new Workspace, however, I realized that the lint on save works on small files, not big files...

In the video below, on the left I edit a 456 lines view file, and on the right I edit a 40 lines file, in which the lint on save works...
Vidéo : https://streamable.com/hfdil

[2019-12-20 13:32] piotrblasiak commented on #850
I get this as well, for both ts and tsx files.

eslintrc:

`{
	"extends": [
		"airbnb-typescript",
		"plugin:prettier/recommended"
	],
	"globals": {
		"ASSET_PATH": true
	},
	"plugins": [
		"babel",
		"react",
		"emotion",
		"react-hooks"
	],
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jasmine": true
	},
	"parser": "babel-eslint",
	"rules": {
		"import/no-extraneous-dependencies

[2019-12-20 13:51] jsilveira2 opened #856 "Eslint does not charge and no apply validations"
Hi;
I have a problem with using eslint in the visual code. I am currently trying to use it within a repository that contains more than one project. In total within this repository I have 4 package.json; One for the repository and three for each project that are basically front; api; and loopback;

When I do one of these three projects individually in my workspace eslint loads and applies validatio

[2019-12-20 14:49] #854 closed

[2019-12-20 14:50] dbaeumer commented on #854
Published 2.0.11

[2019-12-20 14:52] dbaeumer commented on #840
@nflaig This is expected as explained in the Readme. If you disable it you can run the command `ESLint: Migrate Settings` manually from the command list

[2019-12-20 14:52] #840 closed

[2019-12-20 14:52] dbaeumer commented on #840
Publish 2.0.10

[2019-12-20 14:56] dbaeumer commented on #856
This got fixed in the latest update `2.0.10`.

Dups https://github.com/microsoft/vscode-eslint/issues/854

Sorry for that. You could alternatively set the working direcotries like

[code]

[2019-12-20 14:56] #856 closed

[2019-12-20 15:05] JarrodMFlesch commented on #843
@dbaeumer hey so I just tested it with `2.0.11` and it seems to be fixed for us! Cool if I close this out or are you still working on things with others in here?

[2019-12-20 15:05] JarrodMFlesch commented on #843
Issue fixed with `2.0.11`

[2019-12-20 15:15] dbaeumer commented on #850
Do you have ESLint configured as the default formatter for TypeScript and TypeScript React files as well? Otherwise the TS language server will be used as a formatter. For works for me as expected if configured correctly

![cast](https://user-images.githubusercontent.com/1931590/71264231-ec274900-2343-11ea-8abd-8218bb1d977f.gif)

[2019-12-20 15:18] dbaeumer commented on #843
@YannMCX as pointed out in the Readme you need to increase the `editor.codeActionsOnSaveTimeout` setting for large files.

I am working with the VS Code team to be able to override this setting when ESLint gets installed. But this needs a new VS Code release which will come early next year.

Closing the issue.

[2019-12-20 15:18] #843 closed

[2019-12-20 15:22] dbaeumer commented on #852
@sayanything830 where was the visual warning. On the ESLint status bar icon?

[2019-12-20 15:24] dbaeumer commented on #417
@joaohenriquef did you open a TS / JS file before. ESLint is only registered inside VS Code for a formatter if a corresponding file is open.

[2019-12-20 15:32] dbaeumer commented on #846
@techsin

Fix All depends on VS Code's code action on save infrastructure. You need to enable this for ESLint first before that action works. Add

[code]

[2019-12-20 15:32] #846 closed

[2019-12-20 15:34] dbaeumer commented on #831
This got addressed. There is now a setting that can be used to enable warnings for ignored files. It is `eslint.onIgnoredFiles`.

[2019-12-20 15:36] #831 closed

[2019-12-20 15:42] techsin commented on #846
I've that in my settings. It does make eslint Fix more consistent but fact remains eslint works and sometimes doesn't. But fix all always works.

[2019-12-20 16:19] joshunger commented on #833
@dbaeumer using `2.0.11`

[code]

[2019-12-20 16:37] dbaeumer commented on #855
@AriPerkkio thanks a lot for the pointer. To be clear. I need to set the env to the string value 'true'

[2019-12-20 16:41] sayanything830 commented on #852
@dbaeumer The visual warning appeared on code as a yellow wavy line and provided an option to auto-fix dependencies.

[2019-12-20 16:46] sayanything830 commented on #852
Closing issue, warning is appearing with latest update.

[2019-12-20 16:46] #852 closed

[2019-12-20 16:57] jsilveira2 commented on #856
Thanks @dbaeumer
I updated the version to 2.0.11 and solved my problem;

[2019-12-20 17:01] dbaeumer commented on #833
@joshunger thanks for the trace. The interesting part is this:

Computing all fixes took: 2778 ms

which is basically measuring

[code]

I actually have no idea how to speed this up unless I go back to the old approach which didn't fix all fixable problems :-)

How big is the file. Is there anything interesting in it? If you execute eslint from the terminal on that file with --fix is that a lot fa

[2019-12-20 17:08] dbaeumer commented on #833
The only ting I can try is to cache the CLI instance. But from my current understanding of ESLint I don't think that this will result in a big win.

[2019-12-20 17:18] dbaeumer commented on #833
Looks like this will not bring anything. Executing it twice results in

[code]

Interestingly this seems to depend highly on what kind of errors need to be fixed. Fixing this line (extra semi)

[code]

in a file with ~2200 lines takes ~520ms. Fixing two extra semi on the same line takes 1126ms :-(

[2019-12-20 17:19] dbaeumer commented on #833
I will investigate a little more but I am not very hopeful considering we want all possible problems being fixed.

[2019-12-20 17:19] dbaeumer commented on #833
Any tip is welcome as well.

[2019-12-20 18:13] awreese commented on #849
@dbaeumer Thanks for the response. You mentioning to @p3k that the eslint library wasn't loaded forced me to check that mine was running and sure enough it was not (for reasons unknown), but running `npm install -g eslint` rectified that and brought back the linting highlighting after updating to latest v2.0.11. Now I have the highlighting back but auto-fix on save doesn't seem to be working corre

[2019-12-20 21:23] Alonski commented on #833
Do we know which fixes weren't being fixed? I use Prettier mostly for formatting on save. That is mainly what I want. The rest is a nice to have I think. Maybe we can whitelist and blacklist rules to fix on save?

[2019-12-20 22:44] sarpik commented on #850
Pretty sure that's true:

[code]

(full config: https://github.com/sarpik/eslint-config-sarpik/blob/master/README.md#with-vs-code)

I don't even see the `Format document WITH`, only `Format document`.

Anything else I could help with?

[2019-12-20 22:54] sarpik commented on #850
Update: nevermind, I think this is specific to [CRA](https://github.com/facebook/create-react-app) (& it's eslint config?).

I just created a sample `test.tsx` file, opened it via vscode - it got formatted just fine, everything worked.

[code]

---

In my CRA app, I don't have an eslint config - I try using my global one from `~/.eslintrc.js`, and everything works fine except `.tsx` (and renaming

[2019-12-21 04:14] joshunger commented on #833
@dbaeumer running `eslint --fix` takes about 1.8s. I also have extends `airbnb`.

[2019-12-21 05:53] maneetgoyal commented on #733
Facing a similar issue with a similar error log as given in the issue description:

<img width="492" alt="Screen Shot 2019-12-20 at 9 37 09 PM" src="https://user-images.githubusercontent.com/25290212/71303763-20b1f980-2372-11ea-8d52-a69d502c745e.png">

Normally, I run `eslint` from the command line like this: `export NODE_OPTIONS=--max_old_space_size=4096 && eslint '**/*.*' --ignore-path ../../.es

[2019-12-21 08:39] piotrblasiak commented on #850
Formatter is set correctly, as indicated by the error message

`Extension 'ESLint' cannot format ...`

and running

`npx eslint --fix nameOfFile.ts` also works so eslint config is clearly good.

And both Eslint and extension host output/logs are empty. So no idea what to do next...

[2019-12-21 14:49] sarpik commented on #850
@piotrblasiak yeah same, formatting with `eslint` CLI works on the CRA app for me too. This must be an issue with eslint-vscode.

[2019-12-22 22:25] helixbass commented on #825
@AntonioMeireles ok opened #857, thanks for the pointer to the right spot in the source code to modify

[2019-12-23 00:52] olaluwe opened #858 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-eslint`
- Extension Version: `2.0.11`
- OS Version: `Linux x64 4.19.0-6-amd64`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2019-12-23 10:24] dbaeumer commented on #858
@olaluwe without the information provided in the clipboard hard to action on. When you see this again can you please attach the required information.

[2019-12-23 10:28] dbaeumer commented on #850
Can one of you provide me with a GitHub repository I can clone that demos what you are experiencing. Without reproducible steps it is very hard to find out why this is not working for you.

[2019-12-23 10:31] dbaeumer commented on #849
It is correct that you should either use formatOnSave or codeActionsOnSave but not both together. I will clarify this in the docs.

[2019-12-23 12:56] rtbo commented on #833
I had a similar issue, but found out that organize import conflicts with the fix-all. It seems that `organizeImports` kicks-in a few ms later than `fixAll`.
These settings:
[code]
Will format to the following line:
[code]
And setting `"source.organizeImports"` to false will format it like so:
[code]
I don't have any timeout set.

[2019-12-23 13:57] sarpik commented on #850
@dbaeumer sure - https://github.com/sarpik/cra-ts-vscode-eslint-broken-demo.
Please read it's README - I noticed that not only `.tsx`, but also `.ts` file are affected, at least in that repo.

[2019-12-23 15:12] dbaeumer opened #859 "Understand performance of `eslint --fix` to better tune for code action on save"
Issue https://github.com/microsoft/vscode-eslint/issues/833 containes various complains that code action on save needs a very high timeout to be successful. First we need to understand the performance implications of `eslint --fix` before any corrective action can be taken.

[2019-12-23 15:12] dbaeumer commented on #833
Pls see https://github.com/microsoft/vscode-eslint/issues/859 for the performance discussion.

[2019-12-23 15:13] dbaeumer commented on #859
Tracing the performance using eslint's debug option reveals the following trace:

[code]

[2019-12-23 15:16] leonardorb commented on #833
This combination worked for me 🎉 :

[code]

Maybe it'll work for someone else.

[2019-12-23 15:17] dbaeumer commented on #859
The trace is for fixing on extra semi colon on the eslintServer.ts file in this repository.

[code]

So the fixing takes most of the time and eslint runs two passes to ensure all fixable problems are fixed. According to these numbers setting up the linting engine and reading config files and rule configuration can be ignored.

[2019-12-23 15:18] dbaeumer commented on #833
@leonardorb thanks. I added that to the readme today (e.g. to not enable both formatOnSave and code action on save.

[2019-12-23 15:34] dbaeumer commented on #859
I did a little profiling and in a simple TS example with a extra semi colon The time is almost equally split between parsing the file and running the rules

![capture](https://user-images.githubusercontent.com/1931590/71366354-0bbbad00-25a2-11ea-8aa1-9a006ba05273.png)

[2019-12-23 15:47] dbaeumer commented on #859
@mysticatea not sure if you remember me but we had some discussions about code fixes when I started to implement the eslint extension for VS Code. I converted the extension to fully rely on ESLint's `--fix` infrastructure but I am now facing some performance issues. It basically takes quite some time to compute all fixes (running the n paths).  Is there any trick I can do to speed this up? For exa

[2019-12-23 18:10] claylevering commented on #833
Still not getting auto save even with that combo, here's my config:

[code]

Output on save:
[code]

Output on fix (which works):
[code]

[2019-12-24 05:06] Fi1osof opened #860 "Incorrect "'title' is declared but its value is never read""
Code:
[code]

But code correct and works fine. And F12 move cursor into [field_as_pagetitle]: title

![Screenshot from 2019-12-24 08-05-11](https://user-images.githubusercontent.com/2550668/71394793-2898c480-2624-11ea-8a20-f01ebb48bca6.png)

But if i change var name, i got correct error/
![Screenshot from 2019-12-24 08-06-14](https://user-images.githubusercontent.com/2550668/71394818-45cd9300-2624

[2019-12-24 09:16] #826 closed

[2019-12-24 10:17] Jer-X commented on #854
@dbaeumer thanks!

[2019-12-24 10:39] dbaeumer commented on #833
@claylevering looking at your trace you need to increase the timeout using the setting `editor.codeActionsOnSaveTimeout`

[2019-12-24 10:40] dbaeumer commented on #833
The timeout is by default 750ms but it took 973ms to comupte the fixes.

[2019-12-24 12:22] singleghost commented on #733
@maneetgoyal Totally agree！

[2019-12-25 01:02] vrufine commented on #833
did someone find the proper fix for this issue? :-(
I had use the _workaround_ and increase "codeActionsOnSaveTimeout" to make it work and auto-fix :/

[2019-12-25 07:21] mysticatea commented on #859
Thank you for working on this.

Hmm, unfortunately, there is no way for right now. I think...

- `CLIEngine` has `cache` option, but it's for only `executeOnFiles` method. ESLint maybe can enhance the `cache` option for `executeOnText` as caching `SourceCode` object (this is parsed result) per the text and filename pair.
- Maybe ESLint can expose an API that applies singlepass autofix (e.g. `CLIEn

[2019-12-25 07:33] Xiongyibo opened #861 "历史版本怎么下载我需要1.9 版本的"

[2019-12-25 08:08] Rathawut-l commented on #833
This is working for me.
`
  "editor.formatOnSave": false,
  "editor.codeActionsOnSave": {
    "source.fixAll": true
  }`

[2019-12-25 08:09] cprasad111 opened #862 "ESLint running but not linting"
Issue Type: <b>Bug</b>

ESLint running. Status is also showing as running but not linting the code

Extension version: 2.0.11
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:57:51.166Z)
OS version: Darwin x64 18.6.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU Status|2d_canvas

[2019-12-25 13:22] charlex opened #863 "Question: Can I / How can I disableRuleComment for a particular file type?"
How can I apply disableRuleComment to just for a single file extension, like `ts`, but keep it on for another file extension like `tsx`. Specifically in my usecase, I'd like to turn it off just for `.graphql` files.

[2019-12-25 14:03] odanado opened #864 "Can't lint .ts files when use vue-eslint-parser"
`eslint-plugin-vue` uses `vue-eslint-parser` as a parser.
https://github.com/vuejs/eslint-plugin-vue/blob/e8f130c20c0ba6213009e1230a294b0f091e57bb/lib/configs/base.js#L7

I need configure `@typescript-eslint/parser` in `parserOptions.parser` so as to lint `.ts` files.
https://eslint.vuejs.org/user-guide/#usage

`.ts` files aren't linted, because `@typescript-eslint/parser` isn't configured in `par

[2019-12-25 15:52] cool-delete opened #868 "vue {{}} eslint warning"
VSCode Version: 1.41.1 (user setup)
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363
Steps to Reproduce:

1.update VScode

the code didn't warn before the updateversion . After the update, eslin has various warnings.
![image](https://user-images.githubusercontent.com/13638610/71448038-9dc5e000-2771-11ea-9468-d720eda3de75.png)

Does this

[2019-12-25 22:16] #842 closed

[2019-12-26 10:48] ShayDavidson commented on #833
This is crippling prettier and autoformat for us across all projects. I tried various solutions as proposed here but without success.

It either:
- Doesn't format (even with increased timeout).
- Or formats everything, ignoring `.eslintignore`, which is bad.

[2019-12-29 06:59] lancerace commented on #833
This is my current configuration and i think it's working well. hope it helps.

[code]

[2019-12-30 06:23] eightHundreds commented on #861
![image](https://user-images.githubusercontent.com/18695431/71570409-e124a380-2b0f-11ea-89a2-b3b7ba51094e.png)

[2019-12-30 09:53] ShayDavidson commented on #833
Fixed it via this config:
[code]

Problem is, like people said, that it's a terrible dev experience compared to what we had (almost instant autofix in some cases). Now I have to wait 1.5 seconds regardless of the file.

[2019-12-30 11:16] #849 closed

[2019-12-30 11:16] #858 closed

[2019-12-30 15:36] andreialecu opened #865 "Wrong typescript version being used with yarn workspace/monorepo (repro inside)"
So I'm not sure who's fault it is here, but when a workspace has packages that each have their own separate typescript version, the one being used by vscode-eslint will be undefined.

As an example I've set up a simple repro where there are two packages inside a `packages/*` directory, and their package.json are these:

[code]

[code]

For some reason yarn determines that typescript 3.5.3 gets to

[2019-12-30 15:56] andreialecu commented on #865
I was able to get it working with this in package.json:

[code]

The nohoist option works, so I guess the problem is in the typescript-eslint plugin and vscode-eslint is working properly. I'll open an issue in their repo instead.

[2019-12-30 15:56] #865 closed

[2020-01-02 12:31] ProjectINT commented on #696
thanks to bartekpacia: https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-559255716

it's working for me

[2020-01-02 16:54] lee-b commented on #546
+1

Note that this ticket is requesting compliance with best practice.  Commits (and arguably even branches) should not be changing code unrelated to the commit, and so lines that aren't being changed shouldn't be reported as something to be fixed, by default.  Mixing bugfixes, new features, and general code cleanups is a mistake, and VSCode should not encourage that by default.

A separate "code

[2020-01-03 06:19] CodeDreamfy commented on #600
I added the deprecated settings and it works again.

[code]

[2020-01-03 17:05] ahuigo opened #866 "vscode does not use rules in .eslintrc.js"
# I have set .eslintrc.js  to  ignore some rules.
[code]
# eslint command works well
[code]

# But vs code  ignore these rules.

![image](https://user-images.githubusercontent.com/1781999/71737054-94352a00-2e8d-11ea-9980-2f1c695a9b38.png)

# Here is my repo example
https://github.com/ahuigo/vscode-eslint-react-ts

[2020-01-04 04:58] maple-leaf commented on #833
same here. I have to add ` "editor.codeActionsOnSaveTimeout": 1200` to make auto fixing works.
`"editor.formatOnSave": false,` doesn't make difference.

[2020-01-04 06:54] HuangHongRui commented on #417
[code]

<br/>or</br>

![image](https://user-images.githubusercontent.com/26321899/71761058-8620f100-2f01-11ea-8446-ccf789bb8b44.png)

![image](https://user-images.githubusercontent.com/26321899/71761077-d13b0400-2f01-11ea-9e80-eab4c72d3211.png)

[2020-01-04 09:29] usernamehw opened #867 "Add button to open Output for notification"
When there's a notification of the sort:

It would be handy to show button <kbd>Open Output</kbd> that should open Output panel with ESLint channel selected.

P.S. I know there's already a command for that `eslint.showOutputChannel`.

[2020-01-06 08:37] dbaeumer commented on #859
@mysticatea thanks for getting back to me. An `CLIEngine.applyFixes` would definitely help. What I can look into for now is to emulate this on my end. I will save one pass.

[2020-01-06 08:54] Xiongyibo commented on #861
3q

[2020-01-06 08:54] #861 closed

[2020-01-06 09:17] dbaeumer commented on #866
@ahuigo can you please add your ESLint version and plugins to the `package.json` of the provided test project. Otherwise it is very hard for me to reproduce the problem since it depends on some global configuration you are using.

[2020-01-06 09:26] dbaeumer commented on #864
@odanado this is what is happening now since version 2.x.

I cloned your project but it is unclear to me what you think is not working correctly. Can you please provide steps to reproduce the problem.

[2020-01-06 09:30] dbaeumer commented on #863
This is a question about ESLint configuration itself and it better ask on Stack Overflow (e.g. https://stackoverflow.com/questions/tagged/eslint).

Your friend might be the `overrides` property of the eslint configuration (See https://eslint.org/docs/user-guide/configuring#specifying-processor as an example).

[2020-01-06 09:30] #863 closed

[2020-01-06 09:31] dbaeumer commented on #862
@cprasad111 can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-01-06 09:33] dbaeumer commented on #860
@Fi1osof does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-01-06 11:00] dbaeumer commented on #850
@sarpik I do have problems reproducing this since ESLint in the terminal doesn't report any issues on App.tsx nor does it fix any problems when using the --fix option.

Can you include the eslint configuration file you are using for the project?

![capture](https://user-images.githubusercontent.com/1931590/71814251-18e59b00-307c-11ea-9666-8ce589320cfd.png)

[2020-01-06 14:05] sarpik commented on #850
@dbaeumer Aight, same for me.

I've

1. ejected,
2. installed my [eslint-config-sarpik](https://github.com/sarpik/eslint-config-sarpik) &
3. extended it through `package.json`,

as explained in https://github.com/sarpik/eslint-config-sarpik#with-create-react-app.

The thing is - now everything works:D

Previously, I was using my global `~/.eslintrc.js`, which is the same as the [eslint-config-sarp

[2020-01-07 00:02] odanado commented on #864
## reproduction steps
- Run `git clone https://github.com/odan-sandbox/vscode-eslint-vue-typescript-reproduction`
- Run `cd vscode-eslint-vue-typescript-reproduction`
- Run `yarn install`
- Run `code .`
- Open `code/code.js`, `code/code.ts` and `code/code.vue` in VSCode

## captures
`code/code.js` and `code/code.vue` have a warning (`Replace `=` with `·=·`eslint(prettier/prettier)`). But, `code/co

[2020-01-07 09:15] dbaeumer commented on #864
The reason for this is that although the `.eslintrc.js` tells to use the `@typescript-eslint/parser` the eslint npm module tells me that it uses the `vue-eslint-parser`. Need to understand why this is the case.

![capture](https://user-images.githubusercontent.com/1931590/71883405-adaccf00-3136-11ea-8f4f-bc2c2d318216.png)

[2020-01-07 09:19] dbaeumer commented on #864
The problem is that the `parser` property is outside the `parserOptions`. So a correct parser configuration looks like this:

[code]

However that doesn't help since vue configuration require the `vue-eslint-parser`.

[2020-01-07 09:50] dbaeumer commented on #864
Actually in your setup parser seems to be a valid option for the `vue-eslint-parser`.

[2020-01-07 09:51] dbaeumer commented on #864
See https://github.com/mysticatea/vue-eslint-parser

[2020-01-07 10:39] paulbargaoanu commented on #417
@joaohenriquef, I'm having the same issue.

Working on a React Native project, VS Code sees the `.js` files I am working on as 'Javascript' language mode, I've enabled ESLint as a formatter in VS Code's settings, both in the workspace and User (global) settings. Still can't see ESLint as an option for a formatter.
I've also tried manually setting `"[javascript]": { "editor.defaultFormatter": "dbae

[2020-01-07 11:43] ozum commented on #864
@dbaeumer, I have same problem with same configuration as @odanado.

VS did not show and/or fix eslint problems for .ts files in Vue project. However

`$ node_modules/.bin/eslint src/some.ts`

lists errors as expected:

![image](https://user-images.githubusercontent.com/1497060/71893188-f165ff80-315b-11ea-9a39-c52fc61e3539.png)

[2020-01-07 11:47] dbaeumer commented on #864
Fixed for 2.0.12

[2020-01-07 11:47] #864 closed

[2020-01-07 11:50] dbaeumer commented on #859
I will now apply the fixes I already know about and then validate the content again. This cuts one pass of the ESLint loop. However there are still cases where code action on save can take a long time due to the nature how ESLint computes them. For those that are unhappy with this I added an option that will only apply the fixes from the known problems as long as they a not overlapping.

[2020-01-07 11:51] #859 closed

[2020-01-07 12:13] ahuigo commented on #866
Here is my full test project with eslint version:

https://github.com/ahuigo/vscode-eslint-react-ts/tree/88a1538d3ea40d0918c5974639a6d61e92ec6290

[code]

[2020-01-07 14:31] dbaeumer commented on #833
Some updates:

- I changed the code so that if problems exists I will first take those and then call eslint again. This cuts off one pass from the eslint fixer but on larger files with quite some fixes the save will still take quite some time due to the nature how the ESLint npm module computes the fixes.
- for those that want to get the old fast behavior back they can set `eslint.codeActionsOnSav

[2020-01-07 14:36] dbaeumer commented on #866
@ahuigo actually the errors you are seeting are from the TypeScript extension not from ESLint. The code is `ts(6133)`. All ESLint error codes start with `eslint`

[2020-01-07 14:36] #866 closed

[2020-01-07 16:44] pruett commented on #417
Might be worth mentioning:

If you do have the Prettier extension installed, you may have to add the following to your `settings.json` in order for `ESLint` to appear as a formatter:

[code]

[2020-01-07 16:53] paulbargaoanu commented on #417
This was it! Now I can format in VS Code using ESLint.

Thank you so much!

[2020-01-07 17:20] pruett commented on #417
@paulbargaoanu Glad that helped!

[2020-01-07 21:12] skaraman commented on #842
@dbaeumer
I've setup a test repo here - https://github.com/skaraman/test
Current behavior
![current](https://user-images.githubusercontent.com/2840020/71929786-39caf080-314f-11ea-88fc-01f17a2d1dc2.jpg)
![error](https://user-images.githubusercontent.com/2840020/71929784-39caf080-314f-11ea-8119-eba7e63e386c.jpg)

Expected behavior
![expected](https://user-images.githubusercontent.com/2840020/7192978

[2020-01-07 23:01] GeoffreyCoulaud opened #869 "Get and set keywords not working"
Eslint supports the new `get` and `set` keywords. However when I write something like this
[code]
The variable name `bar` after `get` and `set` keywords is underlined in wavy red and the message is **';' expected.ts(1005)**.
This is in a .js file, it feels very strange, why is a tslint error given ?
Am I doing this wrong ?

[2020-01-07 23:06] GeoffreyCoulaud commented on #869
Nevermind, getters and setters must be declared outside of the constructor. My bad.

[2020-01-07 23:06] #869 closed

[2020-01-08 08:34] ozum commented on #864
Until 2.0.12 is published as a vs code extension, I would like to share my workaround.

I usually put .ts files in a directory in vue projects. I added a separate `.eslintrc.js` config file into that directory which is specific to .ts files. It works as expected with vscode-eslint 2.0.11. Hope helps.

[2020-01-08 08:40] odanado commented on #864
I also would like to share my workaround.

Add `eslint.validate` option in `.vscode/settings.json`

[code]

[2020-01-08 08:41] Fi1osof commented on #860
Sorry, maybe it's my local case and this hard to reproduce.
I close this issue.
@dbaeumer excuse me for troubling.

[2020-01-08 08:41] #860 closed

[2020-01-08 09:52] dbaeumer commented on #842
@skaraman can you please had a eslintrc config file. Otherwise it is hard to tell what is going wrong.

I do see errors with my eslint configuration.

![capture](https://user-images.githubusercontent.com/1931590/71968345-021e8000-3205-11ea-9ac7-6285b3c3b7a3.png)

[2020-01-08 10:02] dbaeumer commented on #850
ESLint itself is very sensitive when it comes to global configuration and installs. In principal the eslint module and all plugins need to be installed either globally or locally. This is why they mainly recommend local installs.

The extension should actully react to changes in the `.eslintrc` configuration file if it is part of the workspace. I tested this and it does work for me. Anything speci

[2020-01-08 13:53] ozum opened #870 "no validation of .vue files (2.0.12)"
Hi,

After updating to 2.0.12, I removed deprecated configuration `"eslint.validate"`. No validation occurs for .vue files.

[code]

When I add `"eslint.validate": ["vue"]`, it works again. Is it supposed to be added?

Thanks,

[2020-01-08 15:08] skaraman commented on #842
The issue is that the config file is in a node module. Why don’t I need esconfig in atom? What is your configuration file?

[2020-01-08 15:24] thebspin commented on #870
Thanks for the quick fix, `"eslint.validate": ["vue"]` helps me out for now but it it is weird it happens all of the sudden.

[2020-01-08 18:21] dbaeumer commented on #842
This is what I see in VS Code

![capture](https://user-images.githubusercontent.com/1931590/72004502-d70b4f00-324b-11ea-8826-c4189232d094.png)

and this when running eslint in a terminal:

![capture](https://user-images.githubusercontent.com/1931590/72004545-edb1a600-324b-11ea-96a7-a21ea5e43d5b.png)

which is the same result. I am not sure what atom does but I try to stay as close as possible to w

[2020-01-08 18:22] dbaeumer commented on #842
What do you see when you run eslint from the terminal ?

[2020-01-08 19:25] skaraman commented on #842
Hi @dbaeumer I see correct errors in terminal <img width="756" alt="Screen Shot 2020-01-08 at 10 41 59 AM" src="https://user-images.githubusercontent.com/2840020/72008828-83781180-3209-11ea-8f8d-f32a1ac5a137.png">

but i also see this output from eslint saying failed to load 'compat'
<img width="1424" alt="Screen Shot 2020-01-08 at 11 24 49 AM" src="https://user-images.githubusercontent.com/284002

[2020-01-08 19:53] #870 closed

[2020-01-08 21:05] dbaeumer commented on #842
Can you run in the terminal with --debug to see which config files are read and provide them to me as well (best in the GitHub repository so we are using the same config)

[2020-01-08 21:37] skaraman commented on #842
there's a lot of output so i put it in a txt file, all the config is in the node modules so you should have it with npm i and i'm not sure which files you need (if you still need some let me know which ones from the output.txt) , i don't have eslint installed globally either
[debug_output.txt](https://github.com/microsoft/vscode-eslint/files/4037343/debug_output.txt)

[2020-01-09 06:58] ozum commented on #870
Awesome, thanks for quick response. 2.0.13 is working as expected.

[2020-01-09 09:54] dbaeumer commented on #842
Actually comparing your output with mine reports exactly the same errors and for me they are even correctly reported in VS Code itself. I have actually no idea why in you setup the  `compat` plugin can not be loaded.  On which folder do you open the workspace ?

[2020-01-09 14:23] dzintars commented on #477
Same problem there. I'm glad i find this issue and i no more feel lonely. :) I am on i3 tiling window manager, so my terminals are in another pane so i use `CTRL + SHIFT + P > Reload Window` while trying to get typescript linting and formatting to work properly in Lerna monorepo.
Kinda PITA
Take my vote for this.

[2020-01-09 14:25] zacaj commented on #477
I'm having the same issue as @futagoza.  Every time I add a new Typescript file, the ES Lint plugin doesn't pick it up.  I get a single error on the first line of code complaining the file isn't in my project.  If I run eslint manually via a terminal it works fine.  Only way to get the vs code plugin to work again is to reload the window, which is a pain since I sometimes have 5-10 terminals open.

[2020-01-09 14:58] rtmalone commented on #833
I'm still having this issue - eslint not auto fixing problems -  on  2.0.13.  I've tried the above solutions which worked for others. Here are my pertinent editor and eslint settings:

[code]

[2020-01-09 15:09] charlie0228 opened #871 "Auto fix made double comma to fix trailing comma"
When I use Eslint v2.0.13 or v2.0.12 to fix `.vue`, `.ts` or `.js` files, it always adds double comma when fix trailing comma.

![15785828581721578582858172](https://user-images.githubusercontent.com/24387287/72079432-e23aa980-3335-11ea-814d-bfc028633615.gif)

Here are my setting files:

### settings.json
[code]

### .eslintrc.js
[code]

### package.json
[code]

If there needs more information, pl

[2020-01-09 15:18] dbaeumer commented on #833
@rtmalone can you provide me with a GitHub repository I can clone that demos what you are seeing.

[2020-01-09 15:20] dbaeumer commented on #871
@charlie0228 can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Problems like this usually depend on various factors like used versions, plugins, ...

[2020-01-09 15:50] charlie0228 commented on #871
@dbaeumer
Here is the project https://github.com/charlie0228/vscode-eslint-issue
You can edit the files in `src/pages/index.vue` or `src/pages/Example.vue`

[2020-01-09 17:51] skaraman commented on #842
you figured it out!
the workspace i have is setup on a 'dev' root of my own, then i have subfolders for projects, then i have subfolders for branches (you should be able to see by the smudges in the screenshot above), when i open the branch in the workspace as the root, the eslint plugin works and reports errors correctly
<img width="604" alt="Screen Shot 2020-01-09 at 9 50 16 AM" src="https://use

[2020-01-09 20:50] lvidal1 commented on #833
Please, I need support on this too.

[2020-01-09 20:58] skaraman commented on #842
@dbaeumer Altought changing the workspace solves the issue, i would appreciate it if you could try to resolve the issue when there are high up folders, i would like to have a workspace where i can have project folders as some of my projects are like this :
myProject1/oneBranch
myProject1/twoBranch
myProject2/oneBranch
myProject2/twoBranch

if i have two of these same branches set at the roots it's

[2020-01-09 21:24] lakeyjamie commented on #696
Working for me! Thanks!

[2020-01-10 08:51] charlie0228 commented on #871
Here is the list of vscode extension I installed.

[code]

[2020-01-10 09:23] dbaeumer commented on #477
Actually this works for me. Can someone provide a GitHub repository I can clone with steps how to reproduce this.

![cast](https://user-images.githubusercontent.com/1931590/72141506-493a7b80-3393-11ea-8600-da434c68f800.gif)

[2020-01-10 09:31] dbaeumer commented on #842
@skaraman have a look at the `eslint.workingDirectories` setting which allows you to customize these setups (https://github.com/microsoft/vscode-eslint#settings-options).  They new `[{ "mode": "auto" }]` might be your friend here.

[2020-01-10 09:44] dbaeumer commented on #871
I can not reproduce this using the ESLint format action. Are you sure that this is not caused by another formatter?

![cast](https://user-images.githubusercontent.com/1931590/72143000-337a8580-3396-11ea-91ba-86ad18f375c5.gif)

[2020-01-10 10:50] charlie0228 commented on #871
Yes, I am sure that I use ESLint format as a formatter.

Sorry, I change the `Example.vue` file, would you please test it again?
Thanks!

![Jan-10-2020 18-49-12](https://user-images.githubusercontent.com/24387287/72147628-eddfac00-33d9-11ea-844a-1d2eb4478d12.gif)

[2020-01-10 14:06] rtmalone commented on #833
@dbaeumer  further investigating seems like my issue is limited to a specific workspace. So probably not the extension's problem.

[2020-01-10 14:06] Rim4i4ok commented on #833
Same problem with version 2.0.13

[2020-01-10 15:04] dbaeumer commented on #871
@charlie0228 thanks for the additional steps. I can reproduce it. It does not happen with `--fix`

[2020-01-10 20:33] armano2 opened #872 "eslint parserOption.project issue with typescript-eslint"
@dbaeumer i did some digging into issue #605 (i was trying to reproduce it from withing tests) and i can't reproduce this issue outside vscode.

This is somehow related to how vscode interacts with typescript (not sure where is a root cause).

## Context:
This issue at first seems to be related to https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/typescript-estree/src/cre

[2020-01-10 23:31] bradleyayers commented on #733
I hit this problem constantly, and I believe it's because I use typescript-eslint which uses quite a lot of memory to gather type information for the project (as it needs to compile the whole project).

[2020-01-12 00:22] bradleyayers commented on #733
I've ended up using the `eslint.runtime` option for this, with the script:

[code]

[2020-01-12 03:45] mi-mazouz commented on #871
same issue!

[2020-01-13 01:44] singleghost commented on #733
It is a nice approach to work around this.

[2020-01-13 10:07] #871 closed

[2020-01-13 10:34] dbaeumer commented on #872
@armano2 the `vscode-eslint` extension doesn't do any file IO itself except for `existsSync` test which shouldn't trigger any file IO events. Which of these events are causing problems for you. IMO the one in `d:\projects\eslint-typescript-sandbox\src` is correct and the one in `d:\projects\eslint-typescript-sandbox` as well since a child changed. The ones that look strange to me are the one in `n

[2020-01-13 11:40] armano2 commented on #872
it's possible that this is vscode "thing" than, i managed to patch this out by allowing to update folders recursively, i still like to know why it's happening but for consumers it should work after next release.

[2020-01-14 08:37] dbaeumer commented on #872
From our experience dealing with file events can be very tricky since it depends highly on the tool doing the file IO. For example saving a file might create a temp file which is then swapped with the original file to ensure consistency. I will check if VS Code does something special on `create` which triggers this.

So being defensive on your end is the right thing to do.

I am still not sure why

[2020-01-14 12:47] Gizmo-Rishab opened #873 "Jest environment not working"
**Tell us about your environment**
- "jest": true,
- "browser": true,
- "es6": true,
- "node": true

* **ESLint Version:** v6.8.0
* **Node Version:** v13.6.0
* **npm Version:** v6.13.4

**What parser (default, Babel-ESLint, etc.) are you using?**
eslint-config-google
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please

[2020-01-14 15:30] charlie0228 commented on #871
@dbaeumer
Thanks for helping, but I found another related issue.
My settings are the same as the previous comment.

When I try to fix empty function like below:
[code]
It will turn:
[code]
![Jan-14-2020 23-27-46](https://user-images.githubusercontent.com/24387287/72357206-88ffbb00-3725-11ea-9df7-68d8f5089890.gif)

[2020-01-14 17:07] jonkri commented on #36
I'm teaching web design and JavaScript. From my perspective, it would be great if students starting out with JavaScript could get the hints of ESLint without having to install NodeJS.

[2020-01-14 20:55] #862 closed

[2020-01-14 20:56] #868 closed

[2020-01-15 03:45] only4s44u opened #874 "eslint doesn't work in vscode"
there is an error in output
`(node:44839) UnhandledPromiseRejectionWarning: Error: Request workspace/configuration failed with message: Cannot create property 'source.fixAll.eslint' on boolean 'true'
    at /Users/jiali/.vscode/extensions/dbaeumer.vscode-eslint-2.0.14/server/out/eslintServer.js:1:8459
    at /Users/jiali/.vscode/extensions/dbaeumer.vscode-eslint-2.0.14/server/out/eslintServer.js:1

[2020-01-15 05:38] charlie0228 opened #875 "Auto fix made double comma to fix trailing comma (Another issue)"
Dear @dbaeumer
Thanks for helping resolve #871, but I found another similar issue.
(commented under origin issue: https://github.com/microsoft/vscode-eslint/issues/871#issuecomment-574229982)

My settings are the same as the previous comment.

When I try to fix empty function like below:
[code]
It will turn:
[code]
![Jan-14-2020 23-27-46](https://user-images.githubusercontent.com/24387287/72357206

[2020-01-15 10:55] #850 closed

[2020-01-15 12:31] #875 closed

[2020-01-15 12:33] dbaeumer commented on #875
@charlie0228 thanks for the issue. Just to point out why this is happening: you basically have two rules (eslint and prettier) that deal with the comma (you even have two error messages) and I used a fast path for format where I reused the computed edits. I now run the formatter as a whole linting round.

[2020-01-15 12:35] dbaeumer commented on #874
@only4s44u hmm, this is strange. Can you provide me with your settings file? I suspect a problem in there.

[2020-01-15 12:42] only4s44u commented on #874
@dbaeumer

[code]

[2020-01-15 12:54] dbaeumer commented on #874
Thanks.

[2020-01-15 12:54] #874 closed

[2020-01-15 12:56] dbaeumer commented on #36
A PR to contribute an action / command is still very welcome.

[2020-01-15 12:57] dbaeumer commented on #873
@Gizmo-Rishab does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-01-15 16:51] Gizmo-Rishab commented on #873
Sure, see ./tests/index.test.js and notice that I have used jest environment in the .eslintrc.json
https://github.com/Gizmo-Rishab/Greeter_NPM_Package

[2020-01-16 03:22] hutch120 commented on #696
So, there has been a LOT of activity since I posted this [well received comment](https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-521474179) relating to a create-react-app setup.

Since that comment I've had to revisit my vscode settings.json again and update as follows:

[code]

The reason for `"editor.formatOnSave": false` is that it will try to format the code but appears to c

[2020-01-16 03:32] yifanchen commented on #600
I got the problem too, spent the entire morning reading the thread trying to find a solution, haven't been able to yet, super annoying.

[2020-01-16 09:14] dbaeumer commented on #600
@yifanchen do you have a GitHub repository I can clone that demos what you are seeing.

[2020-01-16 09:31] dbaeumer commented on #873
This works for me

![capture](https://user-images.githubusercontent.com/1931590/72511329-47693000-384b-11ea-8b5d-3e037cc60112.png)

and a screen shot showing that ESLint is validating the file

![capture](https://user-images.githubusercontent.com/1931590/72511364-57810f80-384b-11ea-9d30-ce56c24ab608.png)

[2020-01-16 09:35] yifanchen commented on #600
@dbaeumer You meant to clone the repo of `setting.json`?

[2020-01-16 09:43] marianogappa commented on #600
I just fixed the problem without restarting by adding the following two settings, as per @KlaraFickova 's comment:

[code]

In my case, it could be either that I had _only_ the deprecated setting, or that I had the default timeout.

[2020-01-17 00:19] izhan commented on #600
I ran into this issue today and nothing worked even after trying above. But the root cause ended up being an outdated version of the ESLint extension (v1.8.2 – roughly 10 months old). VSCode was also outdated (v1.32.3) and subsequently not auto-updating any extensions. Updating to the newest version of VSCode (v1.41.1) and ESLint extension (v2.0.14) solved this issue for me.

It's probably a rare

[2020-01-17 02:06] tenadolanter commented on #833
[code]

it works for me well !

if you change the vsc settings.json, please restart your vsc.

if your eslint cannot work , please click eslint at vsc status bar to find the reason.

[2020-01-17 10:06] dbaeumer commented on #600
@yifanchen the settings.json alone is not helping a lot since problems like this depend on the overall setup. So a GitHub repository that I can clone (with eslint config, package.json, local settings, ...) would be highly appreciated.

[2020-01-17 21:55] Betanu701 opened #876 "Custom Tags"
Does ESLint has an option to include custom tags so they do not get marked as problems?

I have an extension for EJS, it embeds javascript into html much like the script tags are used for. However when placing the tags inside of script or style tags, the error console is not recognizing the tags for either javascript or css.

Showing the issue:
![image](https://user-images.githubusercontent.com/57

[2020-01-18 04:43] yifanchen commented on #600
@dbaeumer Sure thing, I didn't bring my work machine home, so I am going to do that on Monday. Good thing is, ESlint on my personal machine at home works beautifully, I am temporarily happy~.

[2020-01-18 06:44] Gizmo-Rishab commented on #873
May I now your vscode-eslint settings

[2020-01-18 07:16] #873 closed

[2020-01-19 00:56] tswaters commented on #805
Anyone seeking this without relying on this change can add the following to `settings.json`

[code]

[2020-01-19 01:52] windless0530 opened #878 ""Reload Required" is always shown, even after reload"
- VS Code Version: 1.39.2 (Mac)
- Log file (set `"trace": true` in launch config):
- Extension Version: 2.0.14

My current workspace is a C++ project so this extension is not applicable, gray and disabled. There had been nothing wrong for long time. But these days, maybe after some upgrade, the RELOAD REQUIRED button is always shown, no matter how many times I click it to reload Code, or even rest

[2020-01-20 05:46] NewFuture opened #879 "how to config the ignore file of project root"
I have a `.ignore` in the project root for sharing ignore config.
How to config it with vscode-eslint ?

[code]
it dosen't works,  it will found the .ignore for relative path.

[2020-01-20 08:58] dbaeumer commented on #879
@NewFuture does the validation happen correctly when you use eslint in the terminal (e.g run eslint with --ignorePath). If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-01-20 09:16] dbaeumer commented on #879
Works for me

<img width="917" alt="capture" src="https://user-images.githubusercontent.com/1931590/72713753-e359ab00-3b6d-11ea-9d91-c01776cb1902.png">

Please note that since you named the ignore file `.ignore` (not the default .eslintignore) changing the file is not hot.

[2020-01-20 09:19] NewFuture commented on #879
@dbaeumer thanks for your reply,

yes, it works in the root folder,
but it will fail in the subfolder, such as `src/test.js`.

[2020-01-20 09:20] dbaeumer commented on #878
This is not related to the ESLint extension.

[2020-01-20 09:47] #805 closed

[2020-01-20 09:54] dbaeumer commented on #600
@yifanchen a GitHub repository that contains:
- .eslintrc
- package.json
- .vscode
- test file showing the problem.

[2020-01-20 10:11] dbaeumer commented on #876
@Betanu701 does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-01-21 03:33] yifanchen commented on #600
@dbaeumer It is working now, at least it is working when ESLint config is installed locally per project. The global setting is still not working on my work machine. I will keep looking into it. I managed to upload the entire testing project to Github meaning to help others diagnosing their particular issues and hopefully that will work for some people.

https://github.com/yifanchen/eslint-autosave

[2020-01-22 07:26] #872 closed

[2020-01-22 09:43] dbaeumer commented on #872
@armano2 please ping if you think there is something I can help with.

[2020-01-22 12:51] julian-sb1 opened #880 "Failed to load plugin '@typescript-eslint'..."
( Been banging my head on this issue for a couple hours, tried different versions of node and npm, tried different config settings, any others getting this? Am I troubleshooting this all wrong?!)

# expectations

When I run ESLint from the command line it works just fine:
`eslint --ext .jsx,.js,.tsx,.ts --max-warnings 0 ./src`

# what I get

When I install the `dbaeumer.vscode-eslint` extension it

[2020-01-22 18:07] mrmowji opened #881 "Failed to apply ESLint fixes to the document."
## To Reproduce
- Install VS Code.
- Install Nodejs.
- Open the project folder and `npm init`.
- `npm install eslint --save-dev`
- Install VSCode-ESLint extension.
- `npx eslint --init` and select Airbnb as the base style guide.
- Create a JS file in that folder and put the following code inside:
[code]
- `Ctrl+Shift+P` and `ESLint - Fix all auto-fixable problems`.

## What's expected?
It should i

[2020-01-22 22:02] arcanis opened #882 "Only apply error fixes (not warnings)"
Reviving #208 which got closed with the wrong solution. I'm looking for the following use case:

- Warnings and errors are both shown in the editor
- Pressing Ctrl-S autofixes errors, but warnings are left as-is
- I don't need to use specific ESLint plugins that implement rules without autofixes

The solution with `CLIEngine` would be to use`fix: lintResult => lintResult.severity === 2` in the opt

[2020-01-23 07:55] dbaeumer commented on #882
One idea that got requested in a different context is to run the fix with a different `.eslintrc` config file.

How would you do this when using eslint in the terminal ?

[2020-01-23 08:09] dbaeumer commented on #881
@mrmowji thanks for the detailed bug report. Unfortunately I can't reproduce it. Here is what I see:

![cast](https://user-images.githubusercontent.com/1931590/72966756-f82d7d00-3dbf-11ea-9aac-a47cd847497b.gif)

Does validation work for you (e.g. you see the errors in the problems view) ?

[2020-01-23 08:09] dbaeumer commented on #881
Which version of the plugin are you using?

[2020-01-23 08:12] dbaeumer commented on #880
What happend when you run the local installed eslint which the extension is using in the terminal. E.g. `./node_modules/.bin/eslint --ext .jsx,.js,.tsx,.ts --max-warnings 0 ./src`

If this works can you provide me with a GitHub repository I can clone that demos this.

[2020-01-23 09:43] julian-sb1 commented on #880
Works normally if I run with local istalled eslint `./node_modules/.bin/eslint --ext .jsx,.js,.tsx,.ts --max-warnings 0 ./src` (same as when I run via npm scripts)

[2020-01-23 10:05] tell-y commented on #446
I tried to set `eslint.workingDirectories: [{ "mode": "auto" }]` option to resolve the topic.
It seems it is correctly working. Is it the correct way? @dbaeumer

[2020-01-23 20:09] mrmowji commented on #881
@dbaeumer Thanks for the screen. Unfortunately I don't have those red underlines, not even the light bulb. Problems view just says "No problems have been detected in the workspace so far".

I use vscode-eslint 2.0.15.

I tried adding the following properties to Preferences JSON file. No luck.
[code]

[2020-01-24 00:46] julian-sb1 commented on #880
ok, so this is strange (at least I seem to have narrowed it down a bit while creating a minimal example of the bug)

Apparently it matters where I open vscode? (workspace root?), maybe something to do with relative paths in some config setting somewhere.

![image](https://user-images.githubusercontent.com/48558996/73036173-feb50680-3e4a-11ea-921b-5998cf551e33.png)

[2020-01-24 00:54] julian-sb1 commented on #880
ok, now I feel pretty stupid, turns out I was just not setting the workingDirectories! (didn't read the documentation thoroughly 🤦‍♂ )

[code]

with the above it works perfectly!

[2020-01-24 00:54] #880 closed

[2020-01-24 09:21] dbaeumer commented on #880
Good to see you found a solution. I guess you needed to run eslint in the terminal from `sam-frontend` as well. In the workspace folder it very likely showed the same problems. In general if you have to cd into a directory to make eslint in the terminal work you need to specify `eslint.workingDirectories`. There is a new value for working directories that does some auto inference which would have

[2020-01-24 09:24] dbaeumer commented on #881
This is very strange. Is there anything in the ESLint Output channel ? Can you enable tracing to see if that gives us additional information `"eslint.trace.server": "verbose"`

[2020-01-24 10:01] mrmowji commented on #881
@dbaeumer Thanks for the hint. It seems that it's caused by airbnb package. I get this error on the ESLint Output window:
[code]
If I remove `["airbnb-base"]` from `extends` property, it works. It seems that this issue doesn't belong here.

[2020-01-24 12:17] cdfarkas commented on #881
same issue here, if i remove "standard" in extends everything works fine...

[2020-01-24 12:22] arcanis commented on #882
We use the equivalent of `--fix --quiet`, which autofixes errors but not warnings:

https://github.com/eslint/eslint/blob/master/lib/cli.js#L31-L40

[2020-01-24 13:15] dbaeumer commented on #882
Actually quiet is supported. Setting is `eslint.quiet`. Have you give that a try?

[2020-01-24 13:19] arcanis commented on #882
Yep but when I looked at the source and the PR is sounded like the intent was to hide warnings altogether. In my case it's more like I don't want them to be fixed, but I still want them to appear.

[2020-01-24 14:44] dbaeumer commented on #881
Still strange since the npm install should have installed the `eslint-plugin-import` module. Here is what I see in my `node_modules` folder:

![capture](https://user-images.githubusercontent.com/1931590/73077410-69545980-3ec0-11ea-834d-03492d36dbb3.png)

[2020-01-24 14:48] dbaeumer commented on #882
Now I get it. I think the fix might be simple. If `eslint.quite` is set we could pass it to the engine when computing the fixes. https://github.com/microsoft/vscode-eslint/blob/d40b96d4a2f0d085770b2bdce87b985bdd198bec/server/src/eslintServer.ts#L1817

But may be we need another setting since users might be surprised if they don't get fixed anymore.

[2020-01-24 22:09] mrmowji commented on #881
@dbaeumer I have the same directories. Here is a shot:
![Screenshot from 2020-01-25 01-38-10](https://user-images.githubusercontent.com/7012177/73107612-7c444980-3f13-11ea-85a2-adab0f7e94e4.png)

[2020-01-27 02:38] mdhornet90 commented on #880
I ran into this same problem and I made the same mistake. Setting the `workingDirectories` in my workspace settings file resolved this problem!

[2020-01-27 09:32] dbaeumer commented on #881
This is strange. I have no idea why eslint doesn't find the plugin then. Can you set the setting `eslint.debug` to true and provide me with the output of the ESLint channel. May be there is something interesting in it.

[2020-01-27 10:21] mrmowji commented on #881
@dbaeumer I added `eslint.debug: true` to the Preferences JSON file. VSCode-ESLint is working now. But removing that property from Preferences doesn't seem to have any effect; still working. I'm not sure how. The only thing I can remember prior to this change, is that I used to have multiple Nodejs apps in my workspace (separated by folders) and I decided to open a single folder at a time.

The on

[2020-01-27 10:55] #876 closed

[2020-01-27 14:11] dbaeumer commented on #881
If you have multiple folders each having their own eslint installation you might need to configure the working directory setting if you open the parent folder. See `eslint.workingDirectories` . A config that works in most cases is `"eslint.workingDirectories": [{ "mode": "auto" }]`

I will close the issue for now. Please ping if it reoccurs and the `eslint.workingDirectories` setting doesn't help

[2020-01-27 14:11] #881 closed

[2020-01-28 22:55] jvilk-stripe commented on #833
@dbaeumer Do you know if setting `"source.fixAll.eslint": true` causes other extensions' code action requests in the same file to block saving?

I noticed 1-2 second pauses before prettier finished formatting (in a company repository; sorry :( ), and the performance of eslint didn't seem to be the cause:

(Prettier also wasn't an issue; it ran in <50ms.)

However, it did look like VS Code took som

[2020-01-29 10:01] dbaeumer commented on #833
@jvilk-stripe actually there is a bug in VS Code that request to many code actions and drops them later on if not needed (see https://github.com/microsoft/vscode/issues/84602) which should be fixed with the next insider build. You could try to set `source.fixAll`to see if that helps.

[2020-01-29 10:01] dbaeumer commented on #833
and great analysis!

[2020-01-29 17:05] tcd commented on #124
Any update on this?
Still looking around for a solution but it seems like this is a/the proper issue to follow.

[2020-01-29 21:58] jvilk-stripe commented on #833
I just tried the latest insiders build:

[code]

Unfortunately, the problem still exists. It takes ~1-2 seconds commonly for the document to finish saving/formatting with ESLint + Prettier.

Disabling `"source.fixAll.eslint"` or the Flow extension fixes the problem.

[2020-01-30 09:49] dbaeumer commented on #833
@jvilk-stripe thanks for getting back. Can you please open a new issue in the VS Code repository since this from your great analysis is not related to the eslint extension. Looks more like a problem in VS Code itself and needs to be addressed there. I thought it will be addressed by microsoft/vscode#84602

[2020-01-30 09:52] dbaeumer commented on #124
As I was trying to explain this is something that needs to come from the TS / JS server. Let me ping someone in the TS team if there is any way to inject a d.ts for a specific file.

[2020-01-30 09:54] dbaeumer commented on #124
@DanielRosenwasser is there any way I can teach the TypeScript server to check a certain file using a specific d.ts. file. For example by using some sort of meta comment in the file ?

[2020-01-30 20:11] PSeitz opened #883 "Quick Fix not working for @typescript-eslint/array-type lint"
Rule: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/array-type.md

`"@typescript-eslint/array-type": ["error", { "default": "array-simple", "read-only": "array-simple" }]`
[code]

There is no Quick Fix available, but is fixed when fix all lints is executed

Related:
https://github.com/typescript-eslint/typescript-eslint/issues/1547

[2020-01-30 21:48] jvilk-stripe commented on #833
Done:
https://github.com/microsoft/vscode/issues/89745

[2020-01-31 00:15] michaelfig opened #884 "eslint.run "onTypeOrSave?"

[2020-01-31 00:19] michaelfig opened #885 "eslint.run "onTypeOrSave"?"
This is a feature request.

Would it be possible to add an `"onTypeOrSave"` option to eslint.run?

My custom `.eslintrc.js` scans the sources on disk to determine which overrides should be enabled (i.e. when a `'use awesome-syntax';` token appears at the start of the file).

Currently, `"onSave"` doesn't happen frequently enough for my normal linting workflow, and `"onType"` doesn't trigger after

[2020-01-31 13:58] PSeitz commented on #883
I don't know why, but the error disappeared and the quick fix is now available. The only difference is, that previously the error wasn't correctly underlined, just the line was marked as error.

[2020-01-31 13:58] #883 closed

[2020-01-31 18:52] ostrowr opened #886 "Out of memory when opening files in several different projects"
This is similar to https://github.com/typescript-eslint/typescript-eslint/issues/1192, but is especially pernicious when I'm using vscode-eslint.

I have several TS projects that refer to each other via project references. Running eslint on any individual project works, but every time I open a file in a new project, vscode-eslint tries to lint that one as well, and quickly runs out of memory and c

[2020-02-01 18:40] coreyward opened #887 "Hanging (100% CPU indefinitely) Code Helper process (with repro)"
When using the latest version of vscode-eslint with prettier configured, opening a large minified JavaScript file results in a VSCode “Code Helper (Renderer)” process consuming 100% CPU indefinitely.

Here's a minimal reproduction: https://github.com/coreyward/vscode-eslint-hanging-demo

And lest this be attributed to Prettier, it should be known that running prettier directly on this file on the

[2020-02-03 10:36] dbaeumer commented on #887
I can reproduce this but the CPU cycles are spent in a diff function called by the prettier plugin:

![capture](https://user-images.githubusercontent.com/1931590/73646303-73711780-4679-11ea-83d2-dfb403124f03.png)

[2020-02-03 10:40] dbaeumer commented on #887
Same happens to me when validating the file using eslint in the terminal:

![capture](https://user-images.githubusercontent.com/1931590/73646454-c4810b80-4679-11ea-97b9-f753eeed4fd3.png)

Command used is: `./node_modules/.bin/eslint highcharts-editor.complete.min.js`

@coreyward can you please report the issue against `eslint-plugin-prettier` since there is little I can do to fix this.

[2020-02-03 10:40] #887 closed

[2020-02-03 11:00] dbaeumer commented on #884
Dups #885

[2020-02-03 11:00] #884 closed

[2020-02-03 11:06] dbaeumer commented on #885
In VS Code hitting `Ctrl+S` even if the file is saved will trigger a re-validate of the file. I am not a fan of mixing `onType` and `onSave`.

in your custom `.eslintrc.js` are you doing the scanning without waiting it?

[2020-02-03 11:10] dbaeumer commented on #886
I think the right solution is to be able to specify `max_old_space_size` which makes it a dup of #733. There is also a nice workaround described here https://github.com/microsoft/vscode-eslint/issues/733#issuecomment-573483463 until we have first level support for this.

Closing as dup.

[2020-02-03 11:10] #886 closed

[2020-02-03 11:14] dbaeumer commented on #446
@tell-y yes and no. In your setup the eslint server is still started. The feature request is to not start the server at all if there is no `.eslintrc` file.

[2020-02-03 13:11] fkereki opened #888 "Require initial value for .reduce()"
I'm reposting this from a proposal I found at the TSLINT project, at https://github.com/palantir/tslint/issues/4173, from where I quote:

**Rule Suggestion**
When using `Array.prototype.reduce()` the `initialValue` parameter is optional. As per MDN docs: "If the array is empty and no `initialValue` is provided, TypeError will be thrown." Therefore the suggestion is to provide a rule where the init

[2020-02-03 13:11] fkereki commented on #888
Personally, I found errors in an existing code base, that would have been caught by this rule, so I second it.

[2020-02-03 13:18] dbaeumer commented on #888
@fkereki please propose the rule to the ESLint npm module managed [here](https://github.com/eslint/eslint). The VS Code extension is based on the general ESLint rule engine.

[2020-02-03 13:18] #888 closed

[2020-02-03 15:24] michaelfig commented on #885
@dbaeumer Thanks for your comments.  I am hitting `Ctrl+S` but the `.eslintrc.js` is not being reevaluated (like it is for `onType`).  Maybe that's a different kind of problem.

How can I "wait for" the right time to scan?

[2020-02-03 17:24] daytonlowell opened #889 "No `Disable ESLint for this Workspace` command in Command palette"
I have a workspace open, so I'm not sure what I need to do to make the command show up.

![Screen Shot 2020-02-03 at 10 56 51 AM](https://user-images.githubusercontent.com/305993/73673225-ea0b1680-4673-11ea-9d92-150ce5407300.png)

[2020-02-04 08:58] dbaeumer commented on #885
Both run through the same code path in the eslint extension and it is the ESLint npm module that reads in the `.eslintrc.js` file.

How to you ensure that this is working when executing eslint in the terminal?

[2020-02-04 09:06] dbaeumer commented on #889
The `Disable ESLint` will disable it for the workspace folder not globally. OK to close.

[2020-02-04 19:35] gpbmike opened #890 "Lint changed files only"
Similar to https://github.com/Microsoft/vscode-eslint/issues/546, I would like to be able to run Eslint only after a file has been altered.

Browsing a large project where Eslint rules have changed over time leads to a lot of warnings and errors in files that I am looking through, but do not intend to edit. Similar to running linters in a pre-commit step against staged files only.

Is this somethi

[2020-02-04 21:42] thedv91 commented on #871
Same issue. I had to go back to version 2.0.11

[2020-02-05 10:06] dbaeumer commented on #871
@thedv91 it is fixed in 2.0.15. If you still can reproduce it can you please provide me with a GitHub repository that I can clone that demos it.

[2020-02-05 17:52] LuminescentMoon opened #891 "ESLint with TypeScript not picking up tsconfig's compilerOptions.target under specific circumstance"
Note: ESLint behaves as expected when run from the command line so this is not due to ESLint itself or any project dependencies. TypeScript behaves as expected from the command line as well.

TS configured with child tsconfig does not use any `compilerOptions.target` for particular files when base tsconfig does not contain those particular files via `include`.

Minimal reproduction: https://github

[2020-02-06 02:32] michaelcuneo opened #892 "ESLint over VPN/LocalNetwork"
Hey guys,

This is more of a usage questions than an actual bug or issue... I'm at a loss trying to figure this one out.

I use VSCode on my main PC in my office here, and my code is stored on a Ubuntu server in another room. I network up to that server from here, and sometimes network up to the server from outside the house over VPN.

I cannot seem to get any eslint working over a network connect

[2020-02-06 02:38] michaelcuneo commented on #892
[Info  - 1:38:02 pm] Cannot read config file: \\haldor\Share\app\.eslintrc.js Error: Cannot find module 'babel-plugin-styled-components' from '\\haldor\Share\app'

[2020-02-06 03:08] michaelcuneo commented on #892
Problem solved. I have mapped my network share to a local drive letter, and linting is now working 100% fine.

[2020-02-06 03:08] #892 closed

[2020-02-06 08:08] dbaeumer commented on #891
@LuminescentMoon if I read your description correctly then your issue is the error produced by the TypeScript compiler which shows up even if ESLint is disabled.  Since this error is produced by VS Code itself (e.g. the TypeScript extension shipping in VS Code) please file the issue against the VS Code repository.

[2020-02-06 08:08] #891 closed

[2020-02-06 11:14] basickarl opened #893 "Run autofix to sort these imports!eslint(simple-import-sort/sort) on save?"
`Run autofix to sort these imports!eslint(simple-import-sort/sort)`

I can't seem to the get following plugin to automatically fix on save? ES Lint has a wall of documentation and what I've read so far tells me to do the following:

[code]

Still doesn't work though.

[2020-02-06 11:22] basickarl commented on #893
I found a blog explaining it better than the ESLint docs:

[code]

[2020-02-06 11:22] #893 closed

[2020-02-06 13:52] wuming123 opened #894 "Eslint does not check for errors when the file is closed"
Issue Type: <b>Feature Request</b>

Eslint does not check for errors when the file is closed

Why is that? I've added the project to the workspace

Extension version: 2.0.15
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18362

[2020-02-06 20:43] ostrowr commented on #733
Re #886 – the workaround from bradleyayers unfortunately doesn't work when running vscode remotely, since the eslint.runtime setting isn't respected when running vscode via ssh.

[2020-02-06 20:48] ostrowr commented on #733
Might it be possible to revert https://github.com/microsoft/vscode-eslint/commit/b92413a368434cedf5c3595f74f8a21abb895ff3 so eslint.runtime works remotely?

[2020-02-07 08:14] dbaeumer commented on #894
Support is there using a task in VS Code. See the settings `eslint.lintTask.*`. Triggering it needs an additional user action since it is an expensive operation.

[2020-02-07 08:14] #894 closed

[2020-02-07 08:25] wuming123 opened #895 "Support is there using a task in VS Code. See the settings `eslint.lintTask.*`. Triggering it needs an additional user action since it is an expensive operation."
Support is there using a task in VS Code. See the settings `eslint.lintTask.*`. Triggering it needs an additional user action since it is an expensive operation.

_Originally posted by @dbaeumer in https://github.com/microsoft/vscode-eslint/issues/894#issuecomment-583281625_

[2020-02-07 08:25] #895 closed

[2020-02-07 08:28] wuming123 opened #896 "Eslint.lintask is enable, but it doesn't work"
Eslint does not check workspace files when they are closed.

[2020-02-07 08:29] wuming123 commented on #896
Eslint works when the file is in the editor

[2020-02-07 16:02] hugofabricio commented on #896
I have the same error

[2020-02-08 15:34] arvigeus commented on #896
Noticed this as well

[2020-02-11 00:30] #889 closed

[2020-02-11 05:13] crystalfp opened #897 "Cannot read property 'indexOf' of undefined writing import statement"
Issue Type: <b>Bug</b>

1. Have a types.d.ts file defining and exporting the interface `MyInterface`.
2. In a ts file start writing the import statement `import {MyInterface} from`
At this point a notification appears with the following text:
[code]
The output channel shows the following stack trace:
[code]
Not critical, but annoying.
Thanks for looking!
mario

Extension version: 2.0.15
VS Code ve

[2020-02-12 05:50] GaurangTandon opened #898 "eslint complains of missing module that doesn't exist in npm"
Error received:

[code]

Folder structure:

[code]

`package.json`

[code]

`.eslintrc.json`

[code]

`.vscode/settings.json`

[code]

How to fix this? I already googled about it but there does not seem to be any module in npm by this name. So, I am not really sure where to begin.

[2020-02-13 17:10] barroudjo commented on #882
I completely and wholeheartedly agree with @arcanis proposal !

[2020-02-13 17:27] armano2 commented on #872
@dbaeumer i patched this issue on ts-estree side, than it should no longer cause issues for ppl, than it can be considered closed as for now i'm unable to determine why/how this weird behavior is created, if i find something more i will create appropriate ticket 🐱

[2020-02-14 01:33] #885 closed

[2020-02-14 12:58] telmotrooper commented on #91
If you only want to **check if there are linting errors in the project but not to auto-fix them** (e.g. to use in a CI/CD environment so you won't allow PRs with linting errors to pass) you can use `eslint src --ext .ts,.tsx` (from package.json) or `npx eslint src --ext .ts,.tsx` (from command line). These commands are for TypeScript files, but you can exchange those for `.js` and it should work f

[2020-02-14 18:34] congtrieu112 opened #899 "timeout"
Issue Type: <b>Bug</b>

timout check tyescirpt in visualCode

Extension version: 2.0.15
VS Code version: Code 1.42.0 (ae08d5460b5a45169385ff3fd44208f431992451, 2020-02-06T10:51:33.119Z)
OS version: Darwin x64 17.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2400 CPU @ 3.10GHz (4 x 3093)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash

[2020-02-17 10:24] dbaeumer commented on #897
@crystalfp this looks like a problem in the `eslint-plugin-node` module`  and I am pretty confident it will occur as well when you try to validate the file in that state in the terminal using the eslint command.

Can you please file the issue against the owner of the extension.

[2020-02-17 10:24] #897 closed

[2020-02-17 12:05] dbaeumer commented on #899
@congtrieu112 can you please provide a description of what exactly your issue is with detailed steps on how to reproduce this.

[2020-02-17 12:08] dbaeumer commented on #898
@GaurangTandon  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-02-17 14:06] GaurangTandon commented on #898
I am very sorry, but this was so long ago that I've lost track of the code which experienced this issue. I will post an update if I find something. Thank you.

[2020-02-17 14:06] #898 closed

[2020-02-17 14:12] #806 closed

[2020-02-17 14:42] dbaeumer commented on #896
You have to trigger the task using the run task command. The task is not run automatically since validating all files is quite expensive since ESLint has no incremental update strategy.

[2020-02-17 14:42] #896 closed

[2020-02-17 14:58] arvigeus commented on #896
This makes the whole idea of errors/warnings statusbar item kinda pointless since it is not going to show correct number. TypeScript is the same in that regard.

[2020-02-18 03:38] crystalfp commented on #897
OK opened on `eslint-plugin-node`.
Thanks!

[2020-02-18 11:42] niyati99 opened #901 "Issue in js/ts language feature"
Issue Type: <b>Bug</b>

JS/TS language feature plugin can't stop, continuously checking for errors, which stops checking typescript errors.

Extension version: 2.0.15
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:50:36.977Z)
OS version: Linux x64 4.15.0-76-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3 CP

[2020-02-18 13:10] dbaeumer commented on #896
Usually people combine the reconciling of the open files with the tasks. As said constantly running ESLint over the whole project is not feasible unless they add incremental support.

Regarding Typescript: it does support watch and incremental support and VS Code has support for this via task which always give you the errors for the whole project.

[2020-02-20 08:11] zypA13510 opened #902 "Feature request: option to disable certain rules"
Dup of #755, but I can't reopen or comment on that thus the new issue.

How is this different from #267:
- In #267, the list of rules to disable is determined by this plugin alone. While sometimes it's not only this plugin that can auto-fix on save, others like editorconfig also fix things like indent, EOL, and sometimes we can have scripts to fix things too. A manually configured list is probably

[2020-02-20 09:03] dbaeumer commented on #902
Actually I din't want to build a mechanism on top of `.eslintrc` config files to enable / disable rules. IMO if you want to have two set of rules you typically validate then when running in the terminal you typically have two distinct `eslintrc` files. Pointing the extension to a different config file is supported.

Have you tried this?

[2020-02-20 10:56] zypA13510 commented on #902
Well, sure that'll work for a folder. But what about global config? For example, if I work on Windows, I rely on editorconfig to convert CRLF to LF for me, which will only happen on save. So now I need to include `"linebreak-style": "off"` in my special config for vscode, or else eslint warns me for every new file I create. But which base config to extend? Each project may have its own config. Bas

[2020-02-20 23:57] ijeriomit opened #903 "ES Lint not working in Dev Container"
I am using VS code's docker extension to create a Vue project in a container. For some odd reason my linter doesn't show errors or warnings in my editor. Formatting works just fine. However, **Linting** ( the red or yellow squiggly underlines) does not work. **P.S. The extension works just fine locally with the exact same settings.json!**
I followed the official vue setup from VScode [https://code

[2020-02-21 09:58] dbaeumer commented on #903
I tested it and ESLint works for me in a dev container and WSL setup.

Is there anything in the ESLint output channel. Does eslint work in the terminal when executed in the dev container ?

[2020-02-21 10:00] dbaeumer commented on #902
I will keep it open then but as said I am not a fan of adding another config UI on top of the already very sophisticated eslint configuration.

How do you deal with this in the terminal then ?

[2020-02-21 12:06] zypA13510 commented on #902
These errors will be fixed on save (just not by vscode-eslint), so by the time a terminal is involved, the error is corrected already - usually you'd save your code before doing something in the terminal, no?

[2020-02-21 16:22] ijeriomit commented on #903
For example this is what happens with the ESLint + standard config.
No error in my editor
![image](https://user-images.githubusercontent.com/32554410/75051590-c75e6780-5493-11ea-8e8b-9b4acd73cb00.png)
Here are the errors when I run eslint manually in the terminal
![image](https://user-images.githubusercontent.com/32554410/75051669-eceb7100-5493-11ea-9564-33b9c532d086.png)

[2020-02-21 16:24] ijeriomit commented on #903
My Eslint output is empty

[2020-02-21 19:22] katz12 opened #904 ""Running save participants" hangs indefinitely on VSCode 1.42.1"
![image (4)](https://user-images.githubusercontent.com/1770627/75070685-6184d680-54b9-11ea-81a3-cd8d76fac785.png)

- VSCode Version: 1.42.1
- ESLint Extension Version: 2.1.1
- OS Version: Darwin x64 19.3.0

Steps to Reproduce:

I'm not completely sure where all of my configuration is, but this is my settings.json:
[code]

and this is my prettier.config.js:
[code]

I tried removing the deprecated `

[2020-02-21 21:43] dbaeumer commented on #904
@katz12 can you share your repository with steps on how to reproduce this. Since I don't see this in my workspaces it is very hard to track this down without reproducible steps.

[2020-02-21 21:44] dbaeumer commented on #903
Can you share your container. Best would be to have access to the image.

[2020-02-21 21:45] dbaeumer commented on #903
Are you running eslint from the same directory as the folder you have open in VS Code ?

[2020-02-21 21:49] katz12 commented on #904
Yeah I understand that this is a bit vague, but I am not able to share the entire repository. Is there any other configuration that would be helpful?

[2020-02-24 12:37] #899 closed

[2020-02-24 17:03] katz12 commented on #904
This is a possible duplicate: https://github.com/microsoft/vscode/issues/91057.

Maybe they can share some information to help debug the issue?

[2020-02-25 22:46] katz12 commented on #904
If anyone else is having this issue and can provide the information that @dbaeumer is asking for, we can better diagnose this issue:

[2020-02-26 11:14] dbaeumer commented on #904
@katz12 you can always disable auto fix on save. All you need to do is:

[code]

Will save then work for you?

[2020-02-26 11:15] dbaeumer commented on #879
@NewFuture can you provide me with a GitHub repository I can clone that demos this?

[2020-02-26 13:24] katz12 commented on #904
My current workaround is to use VSCode 1.41.1

[2020-02-27 08:35] dbaeumer commented on #904
@katz12 the difference is that you will not see the dialog but the save participant will not run either in 1.41.1. So it would be really good if I would be able to reproduce this. Could I get access to the code in a non public way ?

[2020-02-27 17:47] Polantaris commented on #904
I'm also experiencing this on VSCode 1.42.1 with the latest eslint plugin. Unfortunately my repo is private and also very large, so I don't really have any code to share, however my settings.json is below.

[code]

I'm happy to try anything to fix it, I've had to disable the eslint plugin for now because every save can take an upwards of five minutes to complete, however that's not a long term sol

[2020-02-27 21:11] toddheslin commented on #904
I discovered this issue when I added into my `.vscode/settings.json`:

[code]

When I comment this out it works fine again.

[2020-02-28 04:44] AbelHu commented on #904
I also hit this issue in our GoLang project after VSCode was upgraded. I use VSCode in Windows (Do not use WSL). It still does not work after I set "source.fixAll.eslint" to `false`.

Version: 1.42.1 (system setup)
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:45:59.656Z
Electron: 6.1.6
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.1

[2020-02-28 15:33] dbaeumer commented on #904
@AbelHu are you using ESLint at all. I guess you need to disable the corresponding go lang contribution.

[2020-02-28 15:34] dbaeumer commented on #904
I would still highly appreciate a GitHub repository to clone. I am pretty sure this depends more on the content of a file that is validated than a setup.

[2020-02-28 17:02] Polantaris commented on #904
So I did a little bit of experimenting and I'm hitting a very interesting behavior.

My repository has @typescript-eslint installed as well (as it is a TypeScript repo). In my .eslintrc.js, I have almost every single rule between eslint and @typescript-eslint defined even if the rules are set to the default because I prefer being explicit about things like this.

When I go into the .eslintrc.js an

[2020-02-28 22:35] #903 closed

[2020-02-29 01:44] AbelHu commented on #904
@dbaeumer  I have disabled esline in my vscode with below settings but it still does not work.
[code]
The repo is not public so I cannot share it with you.

[2020-02-29 15:57] OnkelTem commented on #91
So for 4 years they haven't added this crucial feature.
WebStorm does it out of the box.

[2020-03-01 03:54] donglixp commented on #707
The methods in https://warlord0blog.wordpress.com/2019/09/04/vscode-crlf-vs-lf-battle/ work well.

[2020-03-02 10:52] dbaeumer commented on #91
To be clear about this:

- the support for linting the whole project is implemented using tasks
- linting a whole project requires a user actions (like triggering a build)

Incrementally linting the whole project is not implemented due to the lack of support in ESLint for it. I will look into supporting this when ESLint has support for it.

[2020-03-02 10:53] dbaeumer commented on #904
@AbelHu this sounds like a problem with the Go extension then and has nothing to do with ESLint.

[2020-03-02 10:54] dbaeumer commented on #904
@Polantaris any chance you could share your project with me so that I can try to reproduce this?

[2020-03-02 10:58] AbelHu commented on #904
Thanks, @dbaeumer . My issue should be casued by https://github.com/microsoft/vscode-go/issues/3063. You can igonre it.

[2020-03-02 11:31] OnkelTem commented on #91
Sorry, I mixed things up a bit: I thought this repository and its issue queue - is the origin VSCode repo, while it's actually a ESLint plugin project. Of course, not everything is under your control when you basically write a plugin.

That's said - maybe it's worth closing this topic then? Because keeping it open wikk continue fellows like me to just skip the whole discussion trying to find a all

[2020-03-02 12:51] Polantaris commented on #904
@dbaeumer Unfortunately my project is a private repository not even on Github, but let me see if I can reproduce it with a smaller project example today.

[2020-03-03 06:26] mika76 commented on #91
The problem with this is that it's totally separate from the ide and does not show the errors in the errors view.

Could you be more specific here? Is there an outstanding error on eslint side that can be referenced or do you just mean in general? Could the extension not lint each changed file separately and concat the errors or something like that?

Please don't. It's still a wanted feature by a

[2020-03-03 14:40] Polantaris commented on #904
I haven't been able to reproduce it in a smaller project, but now I also don't have it happening anymore even on the repositories that had issues before. No configuration changes have been done on my side outside of what I mentioned previously and it looks like there have been no updates to eslint nor vscode itself either. I'm really confused as to what's going on at this point.

I'm going to keep

[2020-03-03 20:56] TomKauffeld opened #905 "Failed to load plugin 'import' [...] intrinsic %Symbol.species% does not exist"
When running Eslint (installed locally) on my project via VS, I get the generic error `Failed to apply ESLint fixes to the document. Please consider opening an issue with steps to reproduce.`.

With "eslint.debug" to true, and "eslint.trace.debug.server" to verbose, this is the trace from the output channel :
[code]
Running it via the terminal does work as expected.

Package.json :
[code]

.eslint

[2020-03-04 02:36] maneetgoyal commented on #733
@bradleyayers @singleghost Can you please add some more details? I think I'm doing something wrong. Currently, I have this in my `settings.json`: `"eslint.runtime": "./vscode-eslint.sh",` and `vscode-eslint.sh` contains the code you suggested. Getting the following error:

<img width="880" alt="Screen Shot 2020-03-03 at 6 34 21 PM" src="https://user-images.githubusercontent.com/25290212/75839496-c

[2020-03-04 08:02] SeanSobey opened #906 "failed to tokenize...expected attribute, ">" or "/>"."
Hi

I am seeing this issue using this extension:
![image](https://user-images.githubusercontent.com/6775902/75857659-3a0a0400-5dff-11ea-96ad-5faea5ce97a9.png)

See the source in [this repo](https://github.com/SeanSobey/ts-std-lib/blob/master/src/Optional.ts#L29).

[2020-03-04 09:52] dbaeumer commented on #906
@SeanSobey what happens if you validate the file using ESLint in the terminal. If you see the same error (which I think will very likely be the case) please report the issue to the ESLint repository.

[2020-03-04 09:55] iniatse opened #907 "How disable line within documentation comments"
[code]

That does not work. I'm using `eslint-plugin-jsdoc` and I activated `"jsdoc/check-param-names": 1` which now throws a warning and I want to disable that warning only for that line.

Pls help

[2020-03-04 10:01] dbaeumer commented on #91
When the task is run from within VS Code (see setting `eslint.lintTask.enable`) and the task gets executed using Terminal > Run Task all the errors should show up in the errors view.

The ESLint library has no support for incremental liniting. That means if a project has 100 files if you want to lint the whole project you need to relint all 100 files.

Currently only the opened changed files are l

[2020-03-04 10:06] dbaeumer commented on #904
@Polantaris thanks for getting back and your willingness to provide additional data.

[2020-03-04 10:08] dbaeumer commented on #905
@TomKauffeld can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Without the same setup things like this are very hard to track down.

[2020-03-04 10:10] dbaeumer commented on #907
@iniatse does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-04 11:42] #879 closed

[2020-03-04 12:02] SeanSobey commented on #906
Hi, thanks for the quick reply!

I did check that, and the console command runs fine. It does, however, appear that it may possibly be another extension causing this issue. I will disable and re-enable what I have one-by-one until I can confirm it is coming from here.

I didn't consider it might be another extension, sorry for the rash posting of the issue, I will reopen if/when it is definitely t

[2020-03-04 12:02] #906 closed

[2020-03-04 20:44] threehams commented on #904
This likely isn't helpful, but this is happening inconsistently in our large private project as well (>400K LOC). I've done some minor work on the extension, but I'm unsure of where to start debugging this one since I don't really understand the underlying change in VS Code.

[2020-03-04 23:18] jaycetan commented on #546
+1

The code base I work in has multiple teams contributing. That being said, there is no existing style guide in place. When formatting a page, code that does not belong to my team is formatted as well. Commits become convoluted as many lines are change when I had only meant to update a few lines.

[2020-03-05 09:38] dbaeumer commented on #904
Here is some background for those that want to dig into this:

- the feature in VS Code and ESLint didn't change
- what changed is the UI. If a save participant now takes more than x milliseconds the UI shows a dialog letting the user know that this happened. In the past the editor simply canceled the request and the user didn't even knew that auto fix on save didn't take place.

To get a better u

[2020-03-05 09:40] dbaeumer commented on #91
@mika76 I actually don't know.

[2020-03-05 09:58] mika76 commented on #91
Ok I've posted one just to try move the process along. Let's see what they have to say...

[2020-03-05 15:08] Fi1osof opened #908 "Parsing error: Unexpected token import"
[code]
This is valid code for .mjs https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Statements/import.meta
But i got eslint error and can not disable this.

[2020-03-05 18:01] mika76 commented on #91
@dbaeumer There seem to be some questions there which I can't answer - could you maybe take a look?

[2020-03-05 19:00] rchl opened #909 "Does it makes sense to support workspaceFolders capability?"
Eslint language server doesn't support [workspaceFolders capability](https://microsoft.github.io/language-server-protocol/specification#workspace_workspaceFolders) and instead implements something similar by expecting `workspaceFolder` property on configuration passed from `workspace/configuration`.

Is there a specific reason why it's implemented that way? Would `workspaceFolders` provide compara

[2020-03-05 20:35] threehams commented on #904
Trace. Can provide any other information you'd like, too.
[code]

The next three saves happened quickly:
[code]

[2020-03-09 01:51] kasvtv opened #910 "produces different results than CLI with eslint-import-resolver-typescript"
In the following repository, viewing file `src/index.ts` with the extension enabled will show an error
But, running `npx eslint src/index.ts` will not!

Something is going wrong with the way the vscode extension treats this plugin

https://github.com/kasvtv/js-lint-format-boilerplate

VScode version: 1.42.1
Extension version: 2.1.1

[2020-03-09 09:28] dbaeumer commented on #91
@mika76 Done.

[2020-03-09 09:32] dbaeumer commented on #909
The ESLint plugin has full support for workspace folders. They are resolved in the getConfiguration request sent from the server to the client. See  https://github.com/Microsoft/vscode-eslint/blob/master/client/src/extension.ts#L1055

[2020-03-09 09:32] #909 closed

[2020-03-09 09:36] dbaeumer commented on #904
The problem is very likely this:
[code]

Fix on save is implemented using code actions on save. Since the request takes ~30seconds you see that dialog.

I am actually not sure what I can do about this. I have no influence on the startup not can I cancel it since ESLint itself is not implemented in a async fashion.

Do you see the same delay when validating files the first time in the terminal ?

[2020-03-09 10:09] rchl commented on #909
I know about that functionality but that's not what LSP specification describes.

The eslint server doesn't announce `workspace.workspaceFolders` capability and doesn't send the `workspace/workspaceFolders` request but instead does it in a seemingly server-specific and custom way.

Instead, it expects to receive `workspaceFolder` (no `s` at the end) from the `workspace/configuration` response whic

[2020-03-09 10:09] dbaeumer commented on #910
@kasvtv I actually see errors when running eslint using the version installed in the repository

![capture](https://user-images.githubusercontent.com/1931590/76203166-7ae68c00-61f6-11ea-903e-4d406b2b567b.png)

[2020-03-09 10:09] #910 closed

[2020-03-09 10:10] dbaeumer commented on #910
Please ping if this doesn't solve your problem.

[2020-03-09 10:15] dbaeumer commented on #909
The reason is that for ESLint itself workspace folders don't add a scoping capability and hence separating it from the configuration call will simply complicate the code. I have no problem adding the server capability. Why do you think that is important ?

[2020-03-09 10:18] dbaeumer commented on #908
@Fi1osof  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-09 10:27] rchl commented on #909
To be clear, I'm not saying the server capability should be added unless the relevant implementation is added also. I think it would be wrong to announce the capability while not supporting actual functionality from the spec.

[2020-03-09 10:30] rchl commented on #909
I'm asking this question because I'm coming from the Sublime Text camp and the LSP implementation used there supports `workspace.workspaceFolders` capability but that doesn't help with this server as it supports it in a custom way.

To support this server's implementation in Sublime's equivalent of this client, it requires implementing server-specific handler code there.

So I'm trying to figure o

[2020-03-09 13:52] dbaeumer opened #911 "Adopt new link support in diagnostics"

[2020-03-09 22:36] kasvtv commented on #910
@dbaeumer Those are warnings, not errors :). I added an `eslint-disable` statement for this specific rule now.

Now the CLI reports nothing and vscode just reports `import/no-unresolved`.

[2020-03-10 02:21] Fi1osof commented on #908
Yes, i do.
[code]

Code source: https://github.com/prisma-cms/module-boilerplate/blob/9ce05031e7a84bc06f2e62a6efdeb3d0e9cb011a/src/modules/index.mjs#L12

eslint@6.8.0

[2020-03-10 06:09] arvigeus opened #912 "Not linting markdown files"
**vscode-eslint version**: 2.1.1
**eslint version**: 6.8.0
**vscode version**: 1.42.1

**settings:**
[code]
**file.md** (_note: there is a zero-width whitespace in this code sample to "escape" the backticks_)

[code]

Running eslint (with markdown plugin installed) correctly displays warnings, but editor shows nothing.

[2020-03-10 07:18] rchl commented on #909
@dbaeumer any further thoughts after my clarifications?

Again, I'm asking whether it's feasible to switch to spec-compliant implementation?
That would entail passing all workspace folders to the server with `InitializeParams` and then report changes through `DidChangeWorkspaceFoldersParams`.
The server would have to figure out on its own if a given file belongs to one of those folders.

Is that s

[2020-03-10 09:14] dbaeumer commented on #909
In terms of fetching this information from the client the ESLint server is spec compatible since it uses the `workspace\configuration`  request (see https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_configuration).

So even if I would recode the server a client would still need to implement that request and provide the correct settings which are n

[2020-03-10 09:15] dbaeumer commented on #912
@arvigeus can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-10 09:21] dbaeumer commented on #908
@Fi1osof the error also exist when running ESLint from the terminal hence VS Code reports it as well. I am not sure what exactly you are asking for.

[2020-03-10 09:26] dbaeumer commented on #910
I don't see any errors in VS Code itself:

![capture](https://user-images.githubusercontent.com/1931590/76298306-8949ac00-62b9-11ea-91c2-bc2753aa8354.png)

[2020-03-10 09:31] rchl commented on #909
Sorry, but I would disagree that it's per spec. The `workspace/configuration` message is for getting any arbitrary workspace settings from the client. It's not specifically intended for sending the workspace folder for given file/uri. Sure, you can use it for that also, but since there is a specific API for notifying about workspace folders, the way you do it is custom and server-specific.

Yes, `

[2020-03-10 11:43] Fi1osof commented on #908
@dbaeumer so is this bug in https://github.com/eslint/eslint ?
Am I wrong with the source?

[2020-03-11 10:32] #907 closed

[2020-03-11 10:32] #905 closed

[2020-03-11 10:50] rchl commented on #909
Ping.

Also, I saw you've added fb8194ed0240aa7fef02921b1c4fc2a34bf99f38 but, as I've said before, I believe it's wrong to advertise that capability when not actually supporting connected functionality. That is, not supporting reading folders from `InitializeParams`. It can actually even break functionality in spec-compliant clients.

[2020-03-11 13:52] dbaeumer commented on #909
The ESLint server is workspace folder agnostic and therefore as a side effect supports workspace folders. Structurally it doesn't care about workspace folders. It is working DIRECTORY sensitive and from that regard (to make this more obvious) the `workspaceFolder` property in the config should may be folded into a better structure with the working directory.

I decided to set the boolean in the se

[2020-03-11 13:54] dbaeumer commented on #909
The ESLint server even happily works on files outside of any workspace folder.

[2020-03-11 13:55] dbaeumer commented on #908
Yes, since the bug happens on the terminal this is an issue with https://github.com/eslint/eslint

[2020-03-11 13:55] #908 closed

[2020-03-11 22:01] arvigeus commented on #912
https://github.com/arvigeus/eslint-markdown-issue

[2020-03-12 01:50] wonderlandpark opened #913 "Eslint not working at 1.43"
It worked well at early version, but after I updated my VSC eslint does not show anything. I have checked eslint log, and this works at log, but error is not shown.

[2020-03-12 08:45] dbaeumer commented on #913
It actually works for me. Does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-12 09:04] dbaeumer commented on #912
Actually, probing for markdown is not working correctly right now. You can force markdown linting using

[code]

[2020-03-12 09:12] #912 closed

[2020-03-12 09:55] arvigeus commented on #912
You can deprecate `probe` in the future: https://github.com/eslint/eslint/issues/10828

[2020-03-13 03:41] Fi1osof commented on #908
@dbaeumer thanks!

[2020-03-13 06:41] pailhead opened #914 "Auto import auto fix missing"
I cannot get the import option when trying to auto fix `no-undef`, i can only disable the rule. I've seen vscode offer to import files in this menu. If i start typing the class, it will offer to auto import, just can't autofix. Is there a way to get this functionality?

![image](https://user-images.githubusercontent.com/4681282/76596211-cb8e0b80-64ba-11ea-8677-e5776a5adc6f.png)

[2020-03-13 08:16] Firstnote opened #915 "some problem with custom rules"
I wrote some non-built-in eslint rules myself, but vscode doesn't recognize them.
"Definition for rule 'no-@zl' was not foundeslint(no-@zl)",How to get vscode to recognize these rules

[2020-03-13 08:27] dbaeumer commented on #912
I don't think so. What I want to avoid is that I load eslint extension and server for files that can definitely not be linted by ESLint (for example java).

[2020-03-13 08:33] dbaeumer commented on #914
@pailhead only if ESLint offers is (e.g. https://github.com/eslint/eslint). Can you fix the problem using ESLint when running ESLint in a terminal with --fix.

[2020-03-13 08:33] dbaeumer commented on #915
Does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-13 09:03] Firstnote commented on #915
it really works when i use eslint in the terminal with the option "--rulesdir",here is the GitHub repository:https://github.com/Firstnote/eslint.git.

[2020-03-13 09:06] Firstnote commented on #915
I just want to know if there is any configuration that can solve this problem

[2020-03-13 10:39] kasvtv commented on #910
That is weird, I do!
![eslint](https://user-images.githubusercontent.com/1628729/76613869-438e1d00-651f-11ea-8734-fb261b6ebe7a.png)

[2020-03-13 10:57] kasvtv commented on #910
That's weird, I do!
![eslint](https://user-images.githubusercontent.com/1628729/76615097-a385c300-6521-11ea-876a-988d3e61b71f.png)

[code]

[2020-03-14 16:18] VitalyV opened #919 "Increased CPU Usage"
Hello everyone.
I noticed that after updating VSCode, problems started with the ESLint plugin (dbaeumer.vscode-eslint, v.2.1.1).
I see that it constantly consumes 18% of the processor time.

Version: 1.43.0 (user setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64

[2020-03-14 22:58] JamesHenry opened #922 "Not showing all errors when using ESLint processor on a file"
Hi @dbaeumer, thanks for all the fantastic work you do maintaining this extension.

For the first time I am making use of an ESLint processor (I am starting with that context because perhaps there are known issues with processors I have not come across before) in a plugin I am working on for ESLint to support Angular.

The project monorepo can be found here: https://github.com/angular-eslint/angul

[2020-03-15 08:43] VitalyV commented on #919
The problem resolved by itself.
I restarted the application a couple of times and began to work fine.

[2020-03-15 08:43] #919 closed

[2020-03-16 06:21] DanielRosenwasser opened #923 "Respect the `typescript.tsdk` setting"
I was trying to use a version of TypeScript that was built locally by using the `typescript.tsdk` setting, but was getting strange parse errors like `Parsing error: ',' expected.` and `Parsing error: ')' expected.` when using the `awaited` type. It turns out that the extension wasn't using the same version of TypeScript as the editor itself.

The ESLint extension didn't inform me that these errors

[2020-03-16 06:24] DanielRosenwasser opened #924 "Consistently provide attribution of diagnostics to ESLint"
Based off of the experience in #923

Similar to how TypeScript and ESLint errors have an attribution with a code (e.g. `ts(XXXX)`, `eslint(linebreak-style)`), I think this error should have pointed out that it was coming from ESLint.

[2020-03-16 09:56] dbaeumer commented on #923
@DanielRosenwasser I am not sure exactly what the issue is. The VS Code ESLint extension doesn't ship with any TS reference. It even doesn't ship any eslint version. Are you using the typescript eslint parser. If so I think that parser would need to respect that setting (although I don't know how it would).

[2020-03-16 09:58] dbaeumer commented on #924
Can you provide me with a screen shot on were that error was shown. All diagnostics reported by ESLint should get an eslint prefix.

[2020-03-16 10:38] dbaeumer commented on #922
Actually when I validate the file in the terminal using the same eslint version and working directory the ESLint plugin sees I don't get the extra errors eithers. Here is what I did:

- project setup as described by you
- cd into `./packages/integration-tests/fixtures/angular-cli-workspace`
- open vscode
- the ESLint output channel tells me that eslint is loaded from `[Info  - 11:27:36 AM] ESLint

[2020-03-16 10:39] dbaeumer commented on #904
I am reopening to allow to provide additional informaiton.

[2020-03-16 10:48] dbaeumer commented on #915
@Firstnote the settin `eslint.options` is your friend. See https://github.com/microsoft/vscode-eslint.

Please ping if this doesn't fix your problem.

[2020-03-16 10:48] #915 closed

[2020-03-16 12:08] JamesHenry commented on #922
I’m not in front of a computer right now but did you include HTML files in your ext?

[2020-03-16 13:12] dbaeumer commented on #910
Sorry, still not able. Could you try to tweak the sample so that it reproduce out of the box (without relying on global installed modules / settings)

[2020-03-16 13:13] dbaeumer commented on #922
Not sure what you mean. All I noticed that for me following the instruction you gave me VS Code and the terminal produces the same result.

[2020-03-16 15:33] JamesHenry commented on #922
Back at a computer now. You are not comparing like for like because you are not providing ESLint with ext settings to include HTML, ESLint will not consider HTML by default.

Internally the `pre` part of the ESLint processor extracts the template part and creates a kind of fragment file which gets a name and appropriate extension (.html) so that it can be parsed and linted, and then the `post` par

[2020-03-17 06:42] baconcheese113 commented on #91
Having problems getting the task to run in my monorepo. My folder structure looks like:
[code]

Get this error when trying to run `eslint: lint whole folder`
![image](https://user-images.githubusercontent.com/1386713/76828914-9f8ac700-67e7-11ea-865b-bf0cca39b441.png)

settings.json
[code]
client/package.json script is:
`"lint": "eslint ./src --ext .js"`

`npm run lint` works perfectly from the `/c

[2020-03-17 09:53] dbaeumer commented on #922
Have you tried to use the `eslint.options` setting to provide the `--ext` option to the CLIEngine. If you have sepecial command line parameter needs you need to pass them to the VS Code extension as well using the `eslint.options` setting.

[2020-03-17 09:57] dbaeumer commented on #91
@baconcheese113 have you tried to customize this using the `eslint.lintTask.options` setting.

[2020-03-17 10:24] JamesHenry commented on #922
I had previously set:

[code]

I have now also added:

[code]

...to match the above.

There is no change in behaviour after restarting VSCode, is it working for you via this or some other editor setting?

[2020-03-17 15:26] chbndrhnns opened #926 "Quick fix puts import at wrong location for vue components"
When I try to use quick fix actions for the `no-undef` error, the resulting `import...` statement ends up in the wrong location.
Looking at the screencast, the import statement is put at the top of the file instead of at the top of the `<script></script>` section.

![Kapture 2020-03-17 at 16 24 09](https://user-images.githubusercontent.com/7534547/76871873-ea4e2280-686b-11ea-8a6f-c536a0032412.gif)

[2020-03-18 08:13] baconcheese113 commented on #91
Yea, tried that and specified the .eslintrc location...but the issue was probably needing to specify the eslint bin location. Also created a custom task and got it to actually start up (according to the terminal) but it didn't do anything...
[code]

Finally gave up and moved my .eslintrc, .eslintignore and eslint deps to my root directory. `client` is a create-react-app and has it's own eslint pac

[2020-03-18 13:43] dbaeumer commented on #91
Do you have a GitHub repository I can clone?

[2020-03-18 13:45] dbaeumer commented on #926
@chbndrhnns how does the error look like at that position. I am pretty sure this is a TypeScript error and the fix comes from TypeScript.

[2020-03-18 13:47] dbaeumer commented on #922
The setting you need to use is `eslint.options`. Something like

[code]

[2020-03-18 14:22] chbndrhnns commented on #926
The error message is:

[code]

[2020-03-18 14:24] chbndrhnns commented on #926
An interesting fact is that if there is already one existing import statement in the `script` block, the quick fix succeds like here:

![Kapture 2020-03-18 at 15 24 14](https://user-images.githubusercontent.com/7534547/76970716-93f4e880-692c-11ea-9bc7-6b4b1de99931.gif)

[2020-03-18 15:25] JamesHenry commented on #922
Ok so given it is being passed directly to CLIEngine, the setting needs to be:

[code]

**This works! That is great, thank you for helping find a solution.**

I would say it is little counter intuitive to have `"eslint.validate": []` set with HTML included but then have to set directly related data again in this way just for this processor use-case. I do now get the technical distinction, but does

[2020-03-18 15:38] JohnPiepersSmits commented on #913
ESlint seems to ignore the rules section in its eslintrc.json file.
I have VSC 1.43

[2020-03-19 01:17] baconcheese113 commented on #91
Here ya go https://github.com/baconcheese113/god-help-me-lint
Explained it a bit in the readme, I'm not using the prettier extension since that seems to be mess things up.

[2020-03-19 06:59] BobsLi opened #927 "保存代码右下角一直提示信息"
Issue Type: <b>Bug</b>

vue-cli3，在组件内修改保存代码时，右下角一直提示信息，“正在保存“CommandChart.vue”: 正在从“'Vetur', 'ESLint'”获取代码操作([配置](命令: workbench.action.openSettings?%5B%22editor.codeActionsOnSave%22%5D))。”，从而导致所有扩展插件都不能用，有时候重启打开有用，有时候这样操作也无效

Extension version: 2.1.1
VS Code version: Code 1.43.1 (fe22a9645b44368865c0ba92e2fb881ff1afce94, 2020-03-18T07:01:20.184Z)
OS version: Windows_NT x64 10.0.17763

<details>
<s

[2020-03-19 08:20] Jamesgz opened #928 "Not underlining errors"
No no-undef errors are getting underlined.
[gif of it happening](https://gyazo.com/b45230b3830c0f0887868e64aff5d4a0)

[2020-03-19 08:40] dbaeumer commented on #928
@Jamesgz does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-19 08:43] dbaeumer commented on #927
@BobsLi can you please provide the description in English. And to ease tracking down your problem a GitHub repository that I can clone is appreciated.

[2020-03-19 08:52] dbaeumer commented on #91
Can you please provide additional steps to reproduce the problem.

If I try to lint the client in the terminal I get

[code]

[2020-03-19 09:01] dbaeumer commented on #913
@JohnPiepersSmits  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-19 09:20] JohnPiepersSmits commented on #913
Hi,
I noticed that I was missing eslint in my node_modules directory (don't ask me why that happened) and after reinstalling eslint globally it works perfectly!
Thanks for your time Dirk!

[2020-03-19 09:21] dbaeumer opened #929 "Investiagte to pass probe / validate settings as `--ext`"
See https://github.com/microsoft/vscode-eslint/issues/922

[2020-03-19 09:21] dbaeumer commented on #922
The files types listed under (1) basically denote the files which the VS Code extension should sync to the server to be validated. It is like passing the file to validate when running in the terminal. In your special case there is a sibling file with a different extension that should be validated as well.

I would actually prefer to keep them different for now. I am pretty sure that if I make the

[2020-03-19 09:21] #922 closed

[2020-03-19 09:23] dbaeumer commented on #926
What happens if you fix the error using eslint in the terminal. Does the import statement get inserted at the right location?

[2020-03-19 09:53] chbndrhnns commented on #926
When I am running `./node_modules/.bin/eslint --fix src/components/test.vue`, I get this output:

[code]

[2020-03-19 19:24] Jamesgz commented on #928
Solved. It was a problem in my package.json

[2020-03-19 19:24] #928 closed

[2020-03-20 02:11] iimeepo opened #930 "保存文件存在卡死情况"
使用了'Vetur', 'ESLint'两个扩展配置了vue文件语法检查，保存时自动fix，经常会出现卡死，通知内容如下：
正在保存“index.vue”: 正在从“'Vetur', 'ESLint'”获取代码操作([配置](命令: workbench.action.openSettings?%5B%22editor.codeActionsOnSave%22%5D))。

![image](https://user-images.githubusercontent.com/20764007/77130483-17c8e500-6a93-11ea-8ac9-2f29d4b4d2f6.png)

[2020-03-20 04:54] baconcheese113 commented on #91
@dbaeumer Sorry, didn't try to run it through the terminal since I could already tell eslint was working on some files (but not the exhaustive-deps rule)....

I think my issue is actually due to this https://github.com/microsoft/vscode-eslint/pull/814#issuecomment-593678010 Currently I use eslint-plugin-react-hooks@2.3.0 at work and wasn't aware of the big change between it and 2.5.1 which prevent

[2020-03-20 08:39] #914 closed

[2020-03-20 10:01] dbaeumer commented on #930
@iimeepo can you please provide the description in English.

Very likely a translation problem. Moving to VS Code

[2020-03-20 10:04] dbaeumer commented on #926
@chbndrhnns this indicates that the problem is actually not a eslint problem as I was speculating before. Can you please provide me with a screen shot showing your problems to see who else reported the problem.

[2020-03-20 10:06] dbaeumer commented on #91
Suggestions by definition can't be autofix. But they will show up as a possible fix in the code action menu (when you click on the light bulb). Requires the latest version of the ESLint extension.

[2020-03-20 10:14] chbndrhnns commented on #926
Are you thinking of such a screenshot?

<img width="841" alt="Screenshot 2020-03-20 11 14 19" src="https://user-images.githubusercontent.com/7534547/77154438-f9b3b280-6a9b-11ea-8cb6-65605ffcd697.png">

[2020-03-23 07:23] dbaeumer commented on #926
Yes, exactly. This is actually not a ESLint issue. The error `Cannot find name 'Prop'` comes from the Vetur extension including the fix to insert the import. Please report the issue there.

[2020-03-23 07:23] #926 closed

[2020-03-23 08:02] chbndrhnns commented on #926
Thanks so much for troubleshooting that with me!

[2020-03-23 08:15] chbndrhnns commented on #926
Created https://github.com/vuejs/vetur/issues/1795

[2020-03-23 10:41] #923 closed

[2020-03-23 14:33] #911 closed

[2020-03-23 14:34] dbaeumer commented on #911
Released by adapting latest LSP libs.

[2020-03-23 14:56] SiarheiKuchukBelitsoft opened #931 "Ability to specify separate eslint configuration file for Save fixes."
Hello

I have an idea. It would be awesome to have a possibility to have 2 eslint configuration files. One for checks etc (normal one) and one for Save fixes rules.

Thanks

[2020-03-23 15:36] dbaeumer commented on #923
@DanielRosenwasser anything you can provide for clarification.

[2020-03-23 15:37] dbaeumer commented on #924
@DanielRosenwasser any screen shot you can provide?

[2020-03-23 19:47] DanielRosenwasser commented on #923
@dbaeumer yes, I was using typescript-eslint-parser. So is the idea that this extension strictly uses whatever is in `node_modules`?

[2020-03-23 21:05] DanielRosenwasser commented on #924
@dbaeumer might take me a bit because I'm working off of a spare computer since my main one went bad, but I'll try to get back to you on that.

[2020-03-24 08:01] mika76 commented on #91
So @dbaeumer to get the original discussion back on track - what are your thoughts on a full-project-lint going forward? Do you think the caching feature would work/help?

[2020-03-24 08:45] dbaeumer commented on #923
@DanielRosenwasser No, it uses what a user would use when running eslint in the terminal executed from the workspace folder. So if the `typescript-eslint-parser` is able to pick up a custom TypeScript parser in the terminal I would pick it up when running ESLint inside the extension. I try very hard to stay "terminal" compatible

[2020-03-24 08:45] dbaeumer commented on #924
OK. I will reopen the issue then.

[2020-03-24 08:48] dbaeumer commented on #91
@mika76 from the experiments I did I got the impression that they caching feature will not help a lot since you still need to validate all files in the project.

I still think that a task triggered by a user is currently the right approach for this.

[2020-03-24 08:50] dbaeumer commented on #931
This got discussed here: https://github.com/microsoft/vscode-eslint/issues/902#issuecomment-588805954

Objection to mark it as a duplicate.

[2020-03-25 11:26] SiarheiKuchukBelitsoft commented on #902
Hi
I've implemented saving with execution of fixing eslint through node with different config via plugin Run on Save. But on my development machine it takes 3 seconds (!!!!) to wait till file is updated.

And moreover if i continue edit, VS Code detects that file was changed and asks me to merge them both.

It is really needed to have that in Ms Eslint plugin

[2020-03-25 11:34] SiarheiKuchukBelitsoft commented on #931
Hi

Just in case

@dbaeumer
Scenario in which i'm using 2 set of configs: 1 config for check and 1 config for autofix on save. I want only safe rules to be applied to Save, because after some rules applying unsafe changes are performed and there's no way to prevent it (turn rule off is not an option).

I've implemented saving with execution of fixing eslint through node with different config via p

[2020-03-26 08:36] mrtangdong commented on #927
@dbaeumer  I encountered the same problem, but I am not this project. It should be a problem with the VScode editor. The problem description is: "XXX.vue" is being saved: getting code operations from "'Vetur', 'ESLint'". I don't know how to solve the problem of stuck on the verification when saving the file.

[2020-03-26 10:38] shaileshiyer opened #932 "show documentation not showing up in right click menu"
The show documentation action which used to show up in the right click menu when clicking on a linting problem is no longer showing up. Earlier it even used to show fix issue or peek at issue from the problems panel in vscode.
![Screenshot_20200326_160700](https://user-images.githubusercontent.com/19362829/77637675-06dd0f80-6f7c-11ea-901e-7a7e8664f047.png)

[2020-03-26 13:08] dbaeumer commented on #932
@sandy081 did anything changed here. I see the same and I am pretty sure this worked before.

[2020-03-26 13:11] dbaeumer commented on #932
Look like the UI changed. @shaileshiyer you now have to hover over the error icon. If it is fixable it truns into a light bulb. @sandy081 is this correct ?

[2020-03-26 13:14] dbaeumer commented on #932
Actually there is more to it. It works after there is the first TS error. Otherwise it doesn't.

[2020-03-26 13:48] dbaeumer commented on #932
I debugged it and my code action provider is called and returns code actions. @sandy081 can you please investigate or let me know what I could do wrong here.

[2020-03-26 13:49] dbaeumer commented on #927
@mrtangdong do you have a GitHub repository I can clone that demos what you are seeing.

[2020-03-26 13:50] dbaeumer commented on #931
Yes, the idea is to have two different configs, one for save and one for normal validation.

[2020-03-26 14:46] shaileshiyer commented on #932
Ya hovering on top of the icon works. The Icon changes to a light bulb and shows all the actions available autofix, show documentation etc. Only after that are the actions being showed up after right clicking on the line.

[2020-03-26 21:49] sandy081 commented on #932
@dbaeumer I have not changed anything here. I ask for code actions as follows:

[code]

Can you please keep a breakpoint at following location and see if quick fixes are set?

https://github.com/microsoft/vscode/blob/56a33c4198937092426dac5be064e8dc9c71ecfd/src/vs/workbench/contrib/markers/browser/markersTreeViewer.ts#L631

[2020-03-27 10:17] dbaeumer commented on #932
I was debugging it and the code actions make it to the problems view. They show up today with one exception where I clicked on the error icon right after VS Code opened. In that case the code actions never showed up. I had to reload the window. Is there some cancelling involved or do you cache the result?

[2020-03-27 12:55] mikestopcontinues opened #933 "Nested package.json configs conflict."
This is related to #712 .

In my monorepo project, I have a root package.json and nested package.jsons. I expect that the nearest eslint config will apply to the files within that directory, but so far, the only way I could get that to work was using .eslintrc files instead of package.json.

I tried setting "root" = true in different permutations. And I also tried using package.eslintIgnore in the

[2020-03-27 15:17] mikestopcontinues commented on #933
The problem turns out to be a bit worse. If I switch to .eslintrc, for some reason I then have to use babel.config.js over package babel config, which then breaks my code sharing.

[2020-03-27 17:01] sandy081 commented on #932
Yeah, code actions promise is cached here - https://github.com/microsoft/vscode/blob/9f4af01e72a0196b0f4e6e4e5e60d35168b6e468/src/vs/workbench/contrib/markers/browser/markersTreeViewer.ts#L643

Is there an issue with caching?

[2020-03-27 17:27] dbaeumer commented on #932
I have no steps but what I noticed is that I ended up in a state where the light bulb never showed up even after clicking on it several times. What happens if the code action promise runs for a long time. Is there a timeout.

And in ESLint some of the actions I contribute depend on settings. Might be minor but the problems view wouldn't honor a settings change.

[2020-03-27 17:30] dbaeumer commented on #933
I think you very likely need to define a working directory setting. When you lint in the terminal directly do you need to do a cd into some of the sub folders to make it work correctly?

[2020-03-27 19:20] mikestopcontinues commented on #933
Exactly. I'll take a look at setting working dir and get back to you. Thanks!

[2020-03-27 19:56] mikestopcontinues commented on #933
@dbaeumer that was it! Thanks, man!

For others who find this, the fix was to set settings.json `"eslint.workingDirectories": [{ "mode": "auto" }]`.

[2020-03-27 19:56] #933 closed

[2020-03-28 14:58] JavierRSobrino opened #934 "Parsing error: Unexpected character '#' for ES11"
With this source code on VSCode:
[code]

It does detect an error that shouldn't be so in ES11:

`Parsing error: Unexpected character '#' `

My `.eslintrc.json` is:

[code]
I have eslint installed globabally:

[code]

[2020-03-28 19:09] mvolkmann opened #935 "configuration for .svelte files"
I haven't been able to get this to flag JavaScript syntax errors in `.svelte` files. However, if I run eslint on the same files from a terminal window it does flag errors. Here is what I tried in my `settings.json` file.

[code]

So it should be treating `.svelte` files as the "html" language type and eslint should be running on that language type. Hopefully I am just missing some configuration.

[2020-03-29 10:46] mvolkmann commented on #935
I think the issue is that ESLint is not running on the JavaScript inside `.html` files for me. Maybe if I fixed that, it would start working in `.svelte` files too since I'm telling VS Code to treat those as html. What is needed to get the ESLint extension to work on `.html` files?

[2020-03-29 12:09] mvolkmann commented on #935
I got this to work! Here is what I did:

`npm install -D eslint eslint-plugin-import eslint-plugin-svelte3`

In `.eslintrc.json`:
[code]

Add the following npm script to `package.json`:

[code]

To run ESLint, enter `npm run lint`.

[2020-03-29 12:09] #935 closed

[2020-03-29 14:44] rodrigomcoelho commented on #913
Hi @dbaeumer. That's my VSCode version.

`Version: 1.43.2
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:52:11.516Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.3.0-42-generic snap`

The extensions I have been using:

`bierner.markdown-shiki
christian-kohler.path-intellisense
dbaeumer.vscode-eslint
dracula-theme.theme-dracul

[2020-03-30 02:12] mrtangdong commented on #927
@dbaeumer
This is not a problem with the code, it is a problem with the VS Code editor. I have solved it.

[2020-03-30 08:19] dbaeumer commented on #927
@BobsLi any additional input?

[2020-03-30 08:27] dbaeumer commented on #913
@rodrigomcoelho works for me without any problems:

![capture](https://user-images.githubusercontent.com/1931590/77891312-0e006800-7271-11ea-880d-88099c42d0a5.png)

Any additional information. Is there anything in the ESLint Output channel.

[2020-03-30 10:00] sandy081 commented on #932
I do not look for any settings and I just ask for code actions with specific types. Not sure if there is something I need to adopt there.

Re timeout, I also do not do anything here. I expect the util or service I am calling is taking care of it.

@mjbvz any insights?

[2020-03-30 10:04] dbaeumer commented on #934
@JavierRSobrino  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-30 20:44] rwam commented on #913
Maybe related, but ESLint stop working after upgrade my Mac OS to Catalina. Linting and automated fixing work on the terminal but neither highlighting nor fixing work in VSCode. I'm using **ESLint 2.1.2** on **VSCode 1.43.2**.

[2020-03-30 21:22] tapz opened #936 "React Native components not found"
Started to give me errors about react-native components even though everything works and is as before. Just these ugly eslint errors:

<img width="573" alt="Screenshot 2020-03-31 at 0 21 28" src="https://user-images.githubusercontent.com/11726387/77963201-9fa9bd00-72e5-11ea-81eb-6243b616d72c.png">

[2020-03-30 21:46] rodrigomcoelho commented on #913
@dbaeumer shows no error in the Eslint Output channel.
![screenshot-eslint](https://user-images.githubusercontent.com/45849030/77965044-38244b00-72ae-11ea-888f-878d4e965904.png)

[2020-03-31 00:22] rodrigomcoelho commented on #913
It took me sometime to solve.
I reached out to ESLint chat channel and they told me obvious. The ESlint output was saying that the file that was being considered was one in a previous folder.

`/home/rcoelho/Documents/courses/rocketseat/gostack/desafios/fastfeet/.eslintrc.js`  (backup ESLint field with my rules)

But my project and my eslint file
`/home/rcoelho/Documents/courses/rocketseat/gostack

[2020-03-31 00:43] mjbvz commented on #932
@sandy081 The problems panel only shows code actions with the `QuickFix` kind. We don't have any timeout for code actions themselves but the requester can cancel the request

[2020-03-31 06:43] rwam commented on #913
Hm, the output channel shows:
[code]
I've tried the following without luck:

- installing **eslint-plugin-import**
- reinstalling **@nuxtjs/eslint-config**
- manual creation of file **__placeholder__.js**

The following error is always existent: `Cannot find module 'eslint-plugin-import'`

[2020-03-31 08:03] miomua commented on #927
![image](https://user-images.githubusercontent.com/33140872/78002059-32d80680-7369-11ea-8970-ad30d9236d75.png)

[2020-03-31 14:50] genericandy opened #937 "CPU Spike 99.9% V2.1.1"
`vscode-eslint-2.1.1` has been spiking my CPU recently quite a lot.

` 99.9 aschlossberg     66825 /Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper (Renderer).app/Contents/MacOS/Code Helper (Renderer) /Users/aschlossberg/.vscode/extensions/dbaeumer.vscode-eslint-2.1.1/server/out/eslintServer.js --node-ipc --clientProcessId=65694`

My system details:
Macbook Pro 15" 2019 / Catal

[2020-03-31 18:04] dbaeumer commented on #937
@genericandy can you please enable tracing so that we know the last request sent to the server. You enable it via the settings `"eslint.trace.server": "messages"`. The output will be in the ESLint Output Channel.

[2020-03-31 18:07] dbaeumer commented on #913
@rodrigomcoelho these are errors from ESLint itself and not the extension. What happens when you try to validate the file using ESLint in the terminal?

@rwam same here.  Does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-31 18:09] dbaeumer commented on #936
@tapz does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-03-31 19:06] rwam commented on #913
Hi @dbaeumer, validation and fixing work in the terminal. As an example you can use <https://strapi.io/blog/build-a-blog-using-nuxt-strapi-and-apollo> I've created nuxt with ESLint support and linting in VSCode don't work.

[2020-03-31 21:10] tapz commented on #936
Looks like eslint gives the same error in command line. Weird as the app works perfectly fine.

[2020-04-01 05:09] genericandy commented on #937
Will do. Do you need the output when it is spiking?

[2020-04-01 13:51] dbaeumer commented on #937
Yes. Sorry for not being clear about it.

[2020-04-01 13:52] dbaeumer commented on #936
Then this is expected since the extension relies on the behaviour of ESLint on the command line. I will close the issue then. Please ping if you think otherwise.

[2020-04-01 13:52] #936 closed

[2020-04-01 14:07] dbaeumer commented on #913
@rwam I cloned https://github.com/strapi/strapi-starter-nuxt-blog.git but that doesn't have any ESLint installed into it. Can you provide me with a repository that is self contained in terms of the ESLint setup and the VS Code settings. Thanks.

[2020-04-01 19:06] baybal opened #938 "Solution for global plugin installs with eslint > 6.0"
A solution for global plugin installs have been completely overlooked during discussion about https://github.com/microsoft/vscode-eslint/issues/696

I can confirm that the solution below works for me with eslint 6 and up, with plugins and configs

I think we should get path for resolvePluginsRelativeTo from the system node install
----
Memo for monorepo players:

1. install all modules globally, `

[2020-04-01 19:35] baybal commented on #938
npm root -g to get NODE_PATH

[2020-04-02 08:40] dbaeumer commented on #938
@baybal I am not sure exactly what you think is missing. The extension does honor the global install using the command `npm config get prefix`.

Can you please explain.

[2020-04-02 08:40] dbaeumer commented on #932
@sandy081 any plans to change this?

[2020-04-02 09:41] rwam commented on #913
Hm strange. I've created an example repository for you: https://github.com/rwam/eslint-example It's the frontend part of the strapi tutorial. I've added and configured eslint manually. And the result is: no linting in VSCode but on the shell only.

But here comes the weird part I don't understand: you can find another branch https://github.com/rwam/eslint-example/tree/using-eslint-init where I set

[2020-04-02 11:34] sandy081 commented on #932
@dbaeumer Do the timeout or?

[2020-04-02 14:44] #931 closed

[2020-04-02 14:59] genericandy commented on #937
Keepinng the thread active. I have not forgotten. Just waiting for it to happen again.

[2020-04-02 20:00] cdbattags commented on #124
Any more updates on this?

[2020-04-03 09:40] dbaeumer commented on #124
@DanielRosenwasser any updates on comment https://github.com/microsoft/vscode-eslint/issues/124#issuecomment-580174734

[2020-04-03 09:41] dbaeumer commented on #937
OK. Waiting  :-)

[2020-04-03 09:42] dbaeumer commented on #932
@sandy081 I was referring to this

[2020-04-03 09:42] dbaeumer commented on #932
Not sure if it is actually the problem.

[2020-04-03 09:45] dbaeumer commented on #913
@rwam: which file do you expect to be linted and how do you lint on the terminal?

[2020-04-03 11:26] rwam commented on #913
@dbaeumer all `*.vue` and `*.js` files should be linted. I'm using `yarn lint` which is a shortcut for `eslint --ext .js,.vue --ignore-path .gitignore .`. On `master` this results in
[code]
And with `yarn lint --fix` I can fix all of the errors.

[2020-04-03 19:55] mjbvz opened #939 "FixAll on save doesn't pick up file change from organize imports"
From https://github.com/microsoft/vscode/issues/88131#issuecomment-608048683

**Repro**
1. Clone https://github.com/JacksonKearl/eslint-organizeImports-codeactions
1. This sets:

[code]

1. Open `index.ts` and save the file a few times

**Bug**
Notice the trailing command being added and removed on each save

[2020-04-03 19:55] mjbvz commented on #939
Here's the ESlint trace of what happens:

VS Code update the document using organize imports (removing the trailing comma)

[code]

VS Code request code actions for fix all

[code]

ESlint updates it's diagnostics

[code]

ESLint then returns no code actions

[code]

[2020-04-03 22:17] DanielRosenwasser commented on #924
Okay, I figured it out. The use-case where you'd run into this is

* running the nightly version of TypeScript via the VS Code extension
* having a stable version of TypeScript and ESLint installed locally
* using a feature that's supported by the nightly TypeScript version, but not the local one.

At the time, the experience I had was writing code like the following:

[code]

![image](https://use

[2020-04-03 23:55] genericandy commented on #937
So it finally happened & I saved the file out. I don't think I can post it here though because it could contain some sensitive info. Is there something specific I should be looking for that I could pull and redact?

[2020-04-04 04:32] panoply commented on #890
I might be wrong here, but I believe once a document opens its parsed and diagnostics are sent off. Changes made to the document after that initial parse are incrementally applied to the generated AST.

If this is the case, sending diagnostics could be skipped upon document opens, instead the server could hold off from sending them until an actual change is detected via`onDidChangeContent` If some

[2020-04-05 03:59] up9cloud commented on #938
I guess he just wish you could reconsider https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-566127447. Instead, to use global as default to solve the mono issue.

[2020-04-05 05:03] DanielRosenwasser commented on #124
Sorry, I didn't see the original question. Today I think your best bet would be to install `@types/eslint` and use a JSDoc annotation to get completions.

[code]

[2020-04-06 07:01] DanielSWolf commented on #370
I'm often in the situation that ESLint reports an error for a high-level AST element. For instance, here's a screenshot of `eslint-plugin-jest` reporting an error on a Jest unit test.

Within each unit test, the actual `expect` statement usually follows some amount of setup. As long as I'm writing this setup code, the test (the `it` node) is technically invalid according to the `expect-expect` rul

[2020-04-06 09:36] sandy081 commented on #932
Yeah, I am only asking for quick fixes. Not sure if I have to change this?

[2020-04-06 10:44] #934 closed

[2020-04-06 12:59] dbaeumer commented on #939
I looked into this and for me it looks like this: TypeScript and ESLint do have two conflicting fixes for the organize import.

- Typescript wants this (e.g. one long line):

[code]

- and ESLint wants this (one import per line)

[code]

I don't see how ESLint can address this.

@mjbvz and @JacksonKearl can you please outline what in your opinion ESLint should do to avodi this?

[2020-04-06 13:00] dbaeumer commented on #939
This conflicting behavior results in the fact that the import switches on every Save.

[2020-04-06 13:05] dbaeumer commented on #939
There is something else wrong as well since I see this in the console:

[code]

[2020-04-06 13:14] dbaeumer commented on #939
The problematic piece seems to be
[code]

I always thought the format is

[code]

[2020-04-06 13:17] dbaeumer commented on #939
Change the settings to

[code]

basically avoid printing the `Failed to apply command:` message but make the editor flicker due to the problem that the actions run on save have conflicting goals (e.g. TypeScript and ESLint). I will change the code in ESLint to not fall over

[code]

[2020-04-06 13:51] #939 closed

[2020-04-06 13:55] dbaeumer commented on #939
To make things clear: I fixed the fact that the setting was not read correctly. However the sertup itself still doesn't result in a user friendly behaviour :-). But IMO there is nothing ESLint can do to address this.

[2020-04-06 14:33] dbaeumer commented on #932
@sandy081 I am actually a little at a loss here. In the screen shot below I see quick fixes in the light bulb but hovering over the icon in the problems view nor clicking on it reveals any code actions. Any idea why this would be.

<img width="681" alt="capture" src="https://user-images.githubusercontent.com/1931590/78569172-7fb55480-7823-11ea-9e77-30d9dfbd08c1.png">

It works as expected if anoth

[2020-04-06 14:36] JacksonKearl commented on #939
The idea with #88131 was to allow `"editor.codeActionsOnSave"` to be an array so you can configure "organize the imports first, then run the code through eslint":
[code]
 If instead you use:

[code]
The `fixAll` gets run first, then the organize imports is run so the end state isn't eslint conformant.

If however we use the array syntax, it should run organize imports, converting the working copy

[2020-04-06 14:38] dbaeumer commented on #370
@DanielSWolf this is nothing I can do in the ESLint extension since I don't have the knowledge (No AST, no information about how this is actually rendered). If this should be a setting then it has to go into VS Code itself or the jest plugin. I am actually the opinion that this would best be added to the jest plugin as on options since they are the only one that have the AST in hand.

[2020-04-06 14:40] dbaeumer commented on #124
@DanielRosenwasser THANKS!!

Will close the issue then since there is nothing ESLint needs to do here.

[2020-04-06 14:40] #124 closed

[2020-04-06 14:43] dbaeumer commented on #938
@up9cloud I see the wish but I still have no idea on how to solve this since whatever I do will make another camp unhappy. So the best you can do tight now is to use

[code]

In a mon repro or explicitly list the working directories. I will close the issue. Please ping if someone disagrees.

[2020-04-06 14:43] #938 closed

[2020-04-06 14:45] cdbattags commented on #124
I don't think this suggestion is ideal. You're saying add a JSDoc to every TypeScript file in my repo?

[2020-04-06 14:45] dbaeumer commented on #890
Yes that would work. Still welcoming a PR.

[2020-04-06 14:46] cdbattags commented on #124
Ahhh, no, just the config JavaScript?

Interesting, lemme give this a try within the hour

[2020-04-06 14:47] dbaeumer commented on #124
@cdbattags correct.

[2020-04-06 14:48] jonaskuske commented on #124
@cdbattags Just to the `.eslintrc.js` file. Or why do you need ESLint types/autocompletion in every single file?

[2020-04-06 14:50] cdbattags commented on #124
Might I open/add a different ticket for the long term?

Ideally I don't want to have to remember to add this annotation to each new repo/config.

I don't mind attempting the work on this.

[2020-04-06 14:57] dbaeumer commented on #924
This might be a VS Code UI problem. I the screen shot below the problems view shows that the error came from ESLint. However no code since the ESLint library didn't provide one.

<img width="504" alt="capture" src="https://user-images.githubusercontent.com/1931590/78572299-952c7d80-7827-11ea-832d-d740c0f82476.png">

@sandy081 do you know who owns the code for showing error messages in the hover?

[2020-04-06 14:58] dbaeumer commented on #124
IMO this should be handled by the `eslint init` command. There is nothing I in the ESLint extension can do about this.

[2020-04-06 14:59] dbaeumer commented on #937
What are the last entries in the file?

[2020-04-06 15:07] dbaeumer commented on #913
Here is what I see if I open `nuxt.config.js`

<img width="704" alt="capture" src="https://user-images.githubusercontent.com/1931590/78573564-25b78d80-7829-11ea-81de-18c1d8686ec5.png">

[2020-04-06 15:16] panoply commented on #890
I’ll have a look this week and see what I can do.

[2020-04-06 15:47] rwam commented on #913
Hm, I see. It seems that js files work, but all `.vue` files show no problems furthermore. Maybe an issue with the vue plugin.

[2020-04-06 16:00] sandy081 commented on #932
@dbaeumer Can you provide steps to repro so that I can investigate ?

[2020-04-06 16:01] sandy081 commented on #924
Its me :) So you do not see source in the hover is the issue?

[2020-04-06 18:48] DanielRosenwasser commented on #924
Yeah, I think what I would expect is something along the lines of

[code]

[2020-04-06 18:54] lencioni opened #940 "Editor freezes when using replace in files for > 200 files,"
I am using the following configuration:

[code]

I noticed recently when doing large replace in files operations that my editor totally freezes up. After waiting a few minutes, I get a message saying that the window has become unresponsive.

I tried using `"eslint.codeActionsOnSave.mode": "problems",` to see if it would be better, but it is not.

VSCode stats:

Version: 1.43.2
Commit: 0ba0ca529571

[2020-04-06 19:36] genericandy commented on #937
`2020-04-03T21:08:37.509Z eslint:config-ops Using config from partial cache
2020-04-03T21:08:37.510Z eslint:config-ops Apply environment settings to config
2020-04-03T21:08:37.510Z eslint:config-ops Creating config for environment browser
2020-04-03T21:08:37.510Z eslint:config-ops Creating config for environment commonjs
2020-04-03T21:08:37.510Z eslint:config-ops Creating config for environment es

[2020-04-07 05:03] genericandy commented on #937
Happened once more:
`2020-04-07T05:00:43.916Z eslint:config-ops Using config from partial cache
2020-04-07T05:00:43.916Z eslint:config-ops Apply environment settings to config
2020-04-07T05:00:43.916Z eslint:config-ops Creating config for environment browser
2020-04-07T05:00:43.916Z eslint:config-ops Creating config for environment commonjs
2020-04-07T05:00:43.916Z eslint:config-ops Creating confi

[2020-04-07 07:04] sandy081 commented on #924
Fixed - https://github.com/microsoft/vscode/issues/94588

[2020-04-07 08:42] dbaeumer commented on #924
@sandy081 THANKS!

[2020-04-07 08:42] #924 closed

[2020-04-07 08:46] #927 closed

[2020-04-07 08:46] dbaeumer commented on #940
The problem here is that VS Code opens all these file in the editor, which makes them travel to the ESLint server which validates them. This all happens async so it shouldn't freeze the editor.

@bpasero what is the reason that we are still opening all these files. With @alexdima undo work could we simply not open these files anymore?

[2020-04-07 08:47] dbaeumer commented on #940
I actually don't see what the ESLint extension can do to avoid this. I have no means to distinguish these cases (e.g. editor open versus find / replace open)

[2020-04-07 09:01] dbaeumer commented on #932
@sandy081 fait to ask for steps :-).

- clone https://github.com/Microsoft/vscode-eslint.git
- checkout `88aaa9e`
- chdir `playgrounds/ts`
- npm install
- open VS Code with eslint extension installed.
- open test.ts
- make sure problems view is not visible
- reload Window
- wait until ESLint errors show up in editor
- open problems view
- click on problem to see quick fixes. **Observe**: it doesn'

[2020-04-07 09:02] dbaeumer commented on #913
@rwam Let me know if you think there is anything else not working in regards of the ESLint extension.

[2020-04-07 09:11] dbaeumer commented on #937
It does look like the eslint npm module is hanging. Normally a linting pass in ESLint itself (the npm module) ends like this:

[code]

@genericandy when this happens with a file can you try to validate it on the command line to see if the eslint succeeds there. I am pretty confident that this is not caused by an error in the ESLint extension but in eslint or one of its plug-ins.

[2020-04-07 09:26] bpasero commented on #940
@dbaeumer if we detect that a model changes and thus becomes dirty, we wait for a short delay before opening the model as editor. The rationale is that we do not want dirty decorations in the workbench (e.g. over the explorer) without associated opened editor. A dirty model should always result in a dirty editor.

Now, that delay is little (50ms) I think, so it could result in editors opening that

[2020-04-07 14:59] LeoEatle commented on #642
Any progress? I still need to config `eslint.validate` to make typescript eslint work. But in the doc
[code]

[2020-04-07 15:13] rwam commented on #913
Too bad: after upgrading the dependency tree old projects are affected too now: no eslint in VSCode 😞. Have to check <https://medium.com/@agm1984/how-to-set-up-es-lint-for-airbnb-vue-js-and-vs-code-a5ef5ac671e8> maybe I find a solution to get it work again.

[2020-04-07 16:32] golopot commented on #731
I believe this is fixed by https://github.com/eslint/eslint/pull/12477.

[2020-04-07 18:45] mjbvz commented on #939
Thanks for the details @JacksonKearl. That is correct

@dbaeumer I was surprised to see that changing `editor.codeActionsOnSave` setting to an array caused issues for eslint. VS Code should ask eslint for code actions for `source.fixAll.eslint ` on save. Why does eslint need to read this setting itself?

[2020-04-08 04:20] ayush000 opened #941 "Watch dependencies of eslintrc for changes"
For a list of files, I have set up an override in eslintrc. This list of files comes from another file

overriddenFiles.js
[code]

.eslintrc.js
[code]

Whenever I make a change in `overriddenFiles.js`, I need to reload the whole editor for config changes to take effect. Is it possible to provide an option to watch files other than eslintrc for changes and reload automatically?

[2020-04-08 07:43] dbaeumer commented on #939
@mjbvz the current reason left is settings migration for which we don't have any store in VS Code except that the extension does it itself.

[2020-04-08 07:44] dbaeumer commented on #731
@golopot thanks. Will close the issue as upstream then.

[2020-04-08 07:44] #731 closed

[2020-04-08 07:46] dbaeumer commented on #913
Is there anything special in the ESLint Output channel. What helps as well is to ensure that validation works correctly in the terminal before getting it to work in VS Code.

[2020-04-08 07:47] dbaeumer commented on #642
Actually that got fix for 2.x version of ESLint. TypeScript should work out of the box without providing an `eslint.validate` setting.

@LeoEatle does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-04-08 07:47] #642 closed

[2020-04-08 07:53] dbaeumer commented on #940
@bpasero why do we not save the file after making the changes and don't open the file at all in the editor. To my knowledge one of the reasons for opening it in the editor was to be able to undo the find / replace. With Alex's work I guess we should be able to provide undo (e.g. Something like `Undo find/replace`) which works even if all the files got saved.

[2020-04-08 08:30] bpasero commented on #940
@dbaeumer yes, that is what "Search & Replace" does and it does not result in editors opening to my knowledge.

[2020-04-08 15:56] lencioni commented on #940
I've also noticed that it is slow when using Replace in files in general, even with smaller groups. In some cases, it will save the file in a broken state--like maybe ESLint didn't run autofix enough times to get the file into a stable state before it was actually saved.

[2020-04-08 21:49] cyrilchapon commented on #498
I can expand on this use-case.
I'm contributing to different environments to, sometimes with custom eslint; often with standard or even standardx.

Having to literally disable eslint-vscode and enable standard-vscode is a real pain; as neither of them understand the other

[2020-04-09 08:01] dbaeumer commented on #940
@bpasero you are right that it doesn't show the editor. But it opens a model, makes the changes, and closes the model which generates these events on the extension host side. I always thought we do that to get undo. But I guess that is not correct.

To make this a more pleasant experience we either need to:

- not open these models in a way that the extension host receives an event
- have access t

[2020-04-09 21:19] genericandy commented on #937
I will. Im not familiar with the eslint command line. I can look it up but if you need it run a specific way please let me know.

[2020-04-10 06:43] thernstig opened #942 "codeActionsOnSave as array opens browser tab?"
- VSCode Version: 1.44.0
- OS Version: Ubuntu 16.04.5 (via remote SSH)

Steps to Reproduce:

1. Changed my config to:
[code]
2. Make some changes in a file that ESLint tries to fix. I am using the Prettier plugin+config `"plugin:prettier/recommended"`.
3. It opens https://github.com/prettier/eslint-plugin-prettier#options 😆

Yes, I know it sounds weird, but it is consitent. Restart of VS Code afte

[2020-04-10 06:44] thernstig commented on #942
Here is the change that happened in VS Code 1.44.0: https://code.visualstudio.com/updates/v1_44#_explicit-ordering-for-code-actions-on-save

[2020-04-10 09:34] Julien-Hery opened #943 "Failed to format file when extending config file"
Hi everyone !

I'm facing a problem with the plugin. I have a repository with 2 projects inside, both in React w/ Typescript.
I wanted to make a global eslint config to avoid duplication, so I created an .eslintrc.json at the root of my project and one in each React project to extend from the top one.

In VSCode I open the repo so I have my 2 project inside the IDE. If I try to format a file with

[2020-04-10 10:51] Julien-Hery commented on #943
Btw it doesn't work either if I open only one of my sub-project in the IDE

[2020-04-10 13:46] Julien-Hery commented on #943
I ended up using Intellij, sorry for the inconvenience

[2020-04-10 13:46] #943 closed

[2020-04-13 07:28] 0x80 commented on #942
I'm experiencing the same issue since my vscode updated itself.

Maybe worth mentioning that I'm using prettier v2, and I'm seeing these types of errors in the eslint output:

[2020-04-13 07:32] 0x80 commented on #942
As suggested in the linked issue, reverting back to the object definition solved the issue for me:

[code]

[2020-04-13 08:33] 0x80 commented on #942
I'll have to walk that back a bit. I am now editing a file where the organizeImports and fixAll have a race-condition and organize happens after the fix, messing up the formatting again.

I assume this is why they introduced the array format. So that you can explicitly define the order of actions.

[2020-04-13 09:26] yonifra commented on #942
Happens to me as well all the time, really annoying since I end up with a tab in Chrome for each fix, and it distracts me from working properly.

[2020-04-13 09:31] yonifra commented on #942
Btw, @0x80  - I tried reverting back to object format, I get a huge degregation in performance. I wasn't sure why but I guess I'm experiencing the same race condition as you are.
I see we're all using `organizeImports` in our settings and I guess this specific setting might break stuff like it does in our case.
My setting is:

[code]

[2020-04-14 09:26] 0x80 commented on #942
@yonifra I simply removed organizeImports from the actions for now, until there is a fix. I think you need the array format / sequential order to make it work properly.

[2020-04-14 09:59] dbaeumer commented on #932
@sandy081 did you have time to look into this

[2020-04-14 10:06] dbaeumer commented on #942
Dups https://github.com/microsoft/vscode-eslint/issues/939.

[2020-04-14 10:06] #942 closed

[2020-04-14 10:07] dbaeumer commented on #937
@genericandy Simply something like `eslint path_to_file_name`

[2020-04-14 19:26] genericandy commented on #937
Havent had a spike in a few days. Will follow up when it happens.

[2020-04-15 07:51] #913 closed

[2020-04-15 08:31] dbaeumer commented on #937
Thanks!

[2020-04-15 10:43] MicrochipQ opened #944 "vscode-eslint not working with eslint-import-resolver-typescript@2.0.0"
vscode-eslint works with eslint-import-resolver-typescript@**1.1.1**, but does not work with eslint-import-resolver-typescript@**2.0.0**

ESLint CLI works fine.

Steps to reproduction:
1. Clone repo
2. Install dependencies - `yarn install`
3. Replace paths in this.code-workspace with yours (ex. `/Users/microchipq/wa-eslint-import-error` with `/home/USER/wa-eslint-import-error`)
4. Open VS Code
5.

[2020-04-15 19:29] andrao opened #945 "Error: "Cannot read property 'source.fixAll.eslint' of null""
This issue has come up with the latest version – `2.1.3`:

![image](https://user-images.githubusercontent.com/20170243/79378304-ef0d0180-7f11-11ea-9edf-63b5609c1510.png)

I reckon it's caused by the new `CodeActionsOnSave.isExplicitlyDisabled()` function here: https://github.com/microsoft/vscode-eslint/commit/5d3bc851de5a841ac90432e3bc95797c30eaf1da#diff-bc3c0f2fe3aca9ddbe96347ffb00641eR466-R471,

[2020-04-16 09:06] dbaeumer commented on #945
@andrao How do your user level and workspace level settings look like when this happend?

[2020-04-16 09:57] #945 closed

[2020-04-16 10:09] dbaeumer commented on #944
@MicrochipQ since you run eslint in the terminal in certain directories (you do a cd into `one` and `two` ) you need to let the ESLint extension know that this are your working directories since the import resolver is `cwd` sensitive. See the setting `eslint.workingDirectories`.

Please ping if this doesn't help fixing the issue.

[2020-04-16 10:09] #944 closed

[2020-04-16 10:16] MicrochipQ commented on #944
I just tried it now
[code]
[code]
[code]
But none of them worked

[2020-04-16 10:51] ford04 commented on #929
Not sure, if this is the same issue, as mine is specifically about `eslint.lintTask.options`:

Workspace is linted fine on a per-file basis with no custom config of vscode-eslint.
However, if I define a lint task for the whole project by
[code]
, it does not work out of the box:

I have to manually repeat the extension just for the project linting:
[code]
This came surprising, as the linting on a

[2020-04-16 12:19] henriiik opened #947 "all suggestions being applied on save"
Hello!

Since i upgraded vscode-eslint to 2.1.3 it seems like all suggestions are being applied on save. So for instance if i have an unused variable in a file, it will add a comment to the line above and open up the documentation for the rule.

[code]
my settings looks like this:

[code]

but i change it to the following, the problem goes away:

[code]

[2020-04-16 14:51] Morriz opened #948 "eslint suggested fix for `no-unused-vars` breaks function signature"
When I choose "Delete all unused declarations" this signature (of which `res` _is_ used):

[code]
gets converted to:
[code]
which swaps `req` for `res`

[2020-04-16 15:38] sandy081 commented on #932
Not yet. Filed issue in VS Code repo to track it - https://github.com/microsoft/vscode/issues/95461

[2020-04-16 17:45] ruffin-- opened #949 ""Do you want Code to open the external website?" on eslint errors"
VS Code has started trying to open links to eslint rule failure descriptions related to my code in my browser since it (VS Code) last updated.

Each time my code builds with eslint errors, I receive a dialog with "Do you want Code to open the external website?" with links to eslint issues, like `https://eslint.org/docs/rules/quotes`.

!["do you want code to open" dialog example](https://i.imgur.co

[2020-04-16 18:07] ruffin-- commented on #949
[Issue-947](https://github.com/microsoft/vscode-eslint/issues/947) looks related, huh?

[2020-04-16 21:20] JustFly1984 opened #950 "UnhandledPromiseRejectionWarning: Error: Request workspace/configuration failed with message: Cannot read property 'source.fixAll.eslint' of null"
Got eslint broken for me since yesterday.

Tried to reinstall plugin, removed all plugins except eslint from vscode, have latest eslint in the project. reinstalled vscode

Output of eslint in vscode:

[code]

I have my settings.json

[code]

vscode
[code]

My projects running on node 13.11.0

Why does vscode using 12.8.1 node? How can I run vscode with node 13.11.0 ?

I have node running with `nvm

[2020-04-17 03:04] MicrochipQ commented on #944
@dbaeumer No more solutions to this problem?

[2020-04-17 11:29] JustFly1984 commented on #950
crosslinking an issue in vscode repo: https://github.com/microsoft/vscode/issues/95519

[2020-04-17 12:52] dbaeumer commented on #950
I have a fix for this in master but to ensure it is working correctly I tied to reproduce this but I can't. Can you still reproduce this. If so can you provide me with a GitHub repository I can clone.

[2020-04-17 13:11] dbaeumer commented on #949
@ruffin-- do you have a repository I can clone that demos this. I was not able yet to reproduce. I think I have a fix in master but without being able to reproduce I am not sure :-).

[2020-04-17 13:14] JustFly1984 commented on #950
@dbaeumer  I'm not sure that it is about the repo itself, but I can provide you access to one of my private repo.

[2020-04-17 13:16] JustFly1984 commented on #950
@dbaeumer https://github.com/JustFly1984/drivefromto-gatsby/invitations
please remove repo after you test fix.

[2020-04-17 13:33] dbaeumer commented on #947
I am able to reproduce this. Looking into a fix. In the worst case downgrade to 2.1.2.

[2020-04-17 14:30] dbaeumer commented on #947
@henriiik I have created a new preview version which should address the problem. Can you please give it a try and let me know if it works for you. It is available here: https://github.com/microsoft/vscode-eslint/releases/tag/release%2F2.1.4-next.1 and you can install it using the `Install Extension from VSIX` command.

Thanks.

[2020-04-17 14:30] dbaeumer commented on #949
@ruffin-- I have created a new preview version which should address the problem. Can you please give it a try and let me know if it works for you. It is available here: https://github.com/microsoft/vscode-eslint/releases/tag/release%2F2.1.4-next.1 and you can install it using the `Install Extension from VSIX` command.

Thanks.

[2020-04-17 14:33] henriiik commented on #947
I tried it and it does fix the problem, thanks! 🙂

[2020-04-17 14:42] dbaeumer commented on #947
Thanks for testing it.

[2020-04-17 14:44] dbaeumer commented on #950
@JustFly1984  It works for me with my latest preview version.

Can you please give it a try and let me know if it works for you as well. It is available here: https://github.com/microsoft/vscode-eslint/releases/tag/release%2F2.1.4-next.1 and you can install it using the Install Extension from VSIX command.

Thanks.

[2020-04-17 15:31] adunne-resilient opened #951 ""Extension 'eslint' cannot format file.ts" error"
Eslint extenstion is not formatting my files at all. Random indentation remains, after saving or even when attempting to formatt manually by right-click > format.

[2020-04-17 15:37] dbaeumer commented on #944
Actually this is very wired. I check the extension code and it correctly sets the cwd to either `one` or `two`. I personally thing that the ESLint typescript plugin keeps some state between the two runs hence resulting in the second file you open to fail. It somehow tries to resolve everything relative to the first open file.

[2020-04-17 15:38] dbaeumer commented on #944
All I can suggest for now to use relative imports `./module` since they are independent of this.

[2020-04-17 15:42] MicrochipQ commented on #944
But in my real project without aliases, relative hell happens

[2020-04-17 15:43] MicrochipQ commented on #944
But why is the previous version of eslint-import-resolver-typescript working fine?

[2020-04-17 15:58] dbaeumer commented on #944
I think it is a combination of may things:

- newer version of the `eslint-import-resolver-typescript`
- lerna linking setup.

If I remove the lerna linking setup and install the npm packages locally to one and two everything works fine.

May be the new version of `eslint-import-resolver-typescript` considers the real path as a working start.

[2020-04-17 16:05] dbaeumer commented on #944
<img width="852" alt="capture" src="https://user-images.githubusercontent.com/1931590/79589667-13b1d680-80d6-11ea-8576-117cd0a0befc.png">

[2020-04-17 16:10] dbaeumer commented on #951
Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

It is working for me. Please be aware that format must be explicitly enable to be used with ESLint.

[2020-04-17 16:11] MicrochipQ commented on #944
I removed Lerna but still does not work

[2020-04-17 16:13] MicrochipQ commented on #944
Yarn Workspaces linking node_modules without Lerna

[2020-04-17 16:20] MicrochipQ commented on #944
But if I disable Yarn Workspaces then it works. However I cannot give up Yarn Workspaces in my project, I don't want to duplicate dependencies between several packages

[2020-04-17 17:14] dbaeumer commented on #944
Sorry, you are correct. It was yarn workspace not Lerna.

Since everything worked before you move to `eslint-import-resolver-typescript@2.0.0` and you have a very nice minimal test case have you filed the bug against the owner of `eslint-import-resolver-typescript`. At the end it looks like they changed something.

[2020-04-17 17:24] dbaeumer commented on #932
OK. Ping if there is anything for me to do.

[2020-04-17 22:15] JustFly1984 commented on #951
@adunne-resilient can you please look at output Eslint in vscode? does it have errors? note - you need to have js/ts file open and in focus, to get Eslint output in the list

[2020-04-17 22:19] JustFly1984 commented on #950
@dbaeumer You are awesome! 2.1.4 is working for me too! Thank you

[2020-04-18 06:57] arieltlm opened #957 "eslint格式化jsx的时候总要弹出配置受信任域,并不想打开eslint页面啊"
代码格式有问题了，此时一点保存，就会弹出配置受信任域，但是并不想信任eslint,不配置的话 每次都会弹出来，配置了又每次都在浏览器上打开eslint页面，而且只在jsx中有问题

[2020-04-18 09:49] DarkLite1 opened #956 "Cannot find module 'eslint-plugin-vue'"
Issue Type: <b>Bug</b>

**Statusbar:**
![image](https://user-images.githubusercontent.com/10828570/79634290-dc8d0500-8169-11ea-915e-5e10d8690fa4.png)

**OUTPUT**
[Info  - 11:26:03 AM] ESLint server stopped.
[Info  - 11:26:03 AM] ESLint server running in node v12.8.1
[Info  - 11:26:03 AM] ESLint server is running.
[Info  - 11:26:05 AM] ESLint library loaded from: C:\Users\bob\AppData\Roaming\nvm\v1

[2020-04-18 20:27] MicrochipQ commented on #944
Yes, but is there a way to tell the `vscode-eslint` extension to use the ESLint binary path for each package? It loads ESLint from common `node_modules`, but my packages contain `.bin/eslint` in their `node_modules`.

[2020-04-19 00:18] MicrochipQ commented on #944
Yeah, but how can I change cwd in the `vscode-eslint` extension for each package?

[2020-04-19 00:38] MicrochipQ commented on #944
When I use Yarn Workspaces, `vscode-eslint` loads ESLint from the root `node_modules`, if I do not use Workspaces, it loads the ESLint binary from each `node_modules` package, and therefore cwd ESLint is different for each package, and I want to try it even with Yarn Workspaces

[2020-04-19 00:46] MicrochipQ commented on #944
And if I open this project in WebStorm, ESLint works fine

[2020-04-19 01:17] ryuta69 opened #952 "[Error] not compatible with json? "UnhandledPromiseRejectionWarning: Error: Request eslint/probleFailed failed with message: No provider available for the given text document.""
Hi I got `eslint/probleFailed` when I started to use this plugin inside json.

VSCode: 1.44.2
ESlint Plugin: 2.1.3

This may show that not compatible with json?

[code]

[2020-04-19 10:55] bosens-China opened #953 "Directories starting with. Will not be checked"
## Example
[code]
JS under docs will not be checked，Please tell me how to solve it?

[2020-04-19 19:30] jeanp413 commented on #932
Took a shot at this and created https://github.com/microsoft/vscode/pull/95653 that seems to fix the issue

[2020-04-20 07:16] dbaeumer commented on #932
@jeanp413 thanks.

@sandy081 can you have a  look?

[2020-04-20 08:18] sandy081 commented on #932
Sure.

[2020-04-20 08:19] dbaeumer commented on #953
@bosens-China directories starting with the dot are ignore by default by ESLint. You need to include them in the `.eslintignore` file. After doing that please check if the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-04-20 08:19] #953 closed

[2020-04-20 08:24] dbaeumer commented on #944
The ESLint extension does this automatically for every working directory.

To my knowledge WebStorm runs a new process for every validation. You can to that as well in VS Code using tasks and a task runner that supports watches (like gulp). However this is not very battery friendly.

I think that the underlying problem here is `eslint-import-resolver-typescript@2.0.0` which might cache something b

[2020-04-20 08:25] dbaeumer commented on #952
@ryuta69 does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-04-20 08:39] #947 closed

[2020-04-20 08:40] #949 closed

[2020-04-20 08:40] #950 closed

[2020-04-20 08:46] dbaeumer commented on #948
@Morriz  does the validation/fixing happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-04-20 09:03] dbaeumer commented on #944
I tested a little bit more and I still think this is a problem with the `eslint-import-resolver-typescript@2.0.0` since it doesn't work if you run it from a different directory either. I your example (the initial commit) change the parser options in `eslintrc` file to

[code]

an run the eslint in the terminal from the workspace folder. You get

[code]

So the fact that these modules are linked ma

[2020-04-20 09:27] dbaeumer commented on #944
The actual problem is here since the extension does cache a mapper but only once for the current cwd which results in problem when reused from different directories (https://github.com/alexgorbatchev/eslint-import-resolver-typescript/blob/master/src/index.ts#L148)

[2020-04-20 09:42] dbaeumer commented on #944
I tried to play with the `directory` setting of the `eslint-import-resolver-typescript` plugin but that makes the VM crash
[code]

May be you have more luck with the setting since this seems to be a way to let the import resolve know which directories to look into.

[2020-04-20 09:48] dbaeumer commented on #944
One setup that seems to work is the following `eslintrc` with no `eslint.workingDirectory` setting

[code]

[2020-04-20 12:29] lordisback opened #954 "[Error] Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser"
Hi~ I found an error descibed above, and my versions are listed below:

package | version
-- | --
vscode-eslint | 2.1.5
@typescript-eslint/parser | 2.27.0
TypeScript | 3.7.2
ESLint | 6.8.0
vscode|1.44.1
Node.js|12.8.1
V8|7.8.279.23-electron.0
OS| Linux x64 4.13.0-36-generic

eslint configs:
[code]

This error happens when I use symlink as my workspace dir, e.g.
`/home/xxx/workspace/  -> /workspace

[2020-04-20 12:29] lordisback opened #955 "[E]"

[2020-04-20 12:59] lordisback commented on #954
Hi~ I found an error descibed above, and my versions are listed below:

package | version
-- | --
vscode-eslint | 2.1.5
@typescript-eslint/parser | 2.27.0
TypeScript | 3.7.2
ESLint | 6.8.0
vscode|1.44.1
Node.js|12.8.1
V8|7.8.279.23-electron.0
OS| Linux x64 4.13.0-36-generic

eslint configs:
[code]

This error happens when I use symlink as my workspace dir, e.g.
`/home/xxx/workspace/  -> /workspace

[2020-04-20 13:00] Morriz commented on #948
This only happens when I choose the blue icon suggestion "Delete all unused declarations" in vscode. There is no autofix available for these situations as it needs to be user determined. Right?

[2020-04-20 14:06] kelly-tock commented on #733
with this approach, I can't seem to get it to use the node version that the project is using. I tried setting vscode eslint runtime, setting default node version for nvm, opening code through command line. anyone able to get this to use the node version you want?

[2020-04-20 14:20] kelly-tock commented on #733
ok, update, if I `nvm alias default 13.13.0`, then open code from command line, this seems to be working  to use the node I want.

[2020-04-20 15:12] bosens-China commented on #953
Isn't `.eslintignore` ignore the specified file or directory?
I now want to force check this folder

[2020-04-20 16:18] lolmaus commented on #468
Two years into this, any champion willing to make another attempt?

[2020-04-20 21:23] mbomb007 commented on #91
Source: https://github.com/Microsoft/vscode-eslint/blob/master/README.md#using-the-extension-with-vs-codes-task-running

[2020-04-20 21:42] genericandy commented on #937
The issue has not occurred in a week now. Looks like there have been a few updates to ESLint since I initially reported. Perhaps it was fixed with them. I will close this for now & report back if I see it again. Thanks!

[2020-04-20 21:42] #937 closed

[2020-04-21 07:32] dbaeumer commented on #937
@genericandy thanks for getting back. Let's hope this is the case although from the changes I did I doubt it :-)

[2020-04-21 07:34] dbaeumer commented on #953
See https://eslint.org/docs/user-guide/configuring#eslintignore and the `!` syntax

[2020-04-21 07:35] dbaeumer commented on #948
@Morriz are you sure this comes from ESLint and not from TypeScript itself. How does the corresponding error look like

[2020-04-21 07:36] dbaeumer commented on #955
Please provide a detailed description of the issue you are seeing.

[2020-04-21 07:36] #955 closed

[2020-04-21 08:00] dbaeumer commented on #954
Actually I am not a fan of blindly making this change since it will affect quite some other code passes as well. Can you please elaborate what you think is the root cause of this and why the `typescript-eslint/parser` complain about it with a parsing error. This is absolutely not clear to me.

[2020-04-21 08:10] dbaeumer commented on #956
See the `eslint.workingDirectories` here: https://github.com/microsoft/vscode-eslint. The value `[{ "mode": "auto" }]` does what you want. It uses a strategy to detect the project folders but it might fail.

[2020-04-21 08:10] #956 closed

[2020-04-21 08:10] dbaeumer commented on #956
Please ping if this doesn't fix your problem.

[2020-04-21 08:26] DarkLite1 commented on #956
Yes, this seems to work. Thank you. I wonder why it isn't de default.

[2020-04-21 08:38] dbaeumer commented on #957
@arieltlm  does the validation/fixing happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-04-21 08:49] dbaeumer commented on #956
Because it can cause other problems especially with `.eslintignore` files.

[2020-04-21 12:21] lordisback commented on #954
This error happend at @typescript-eslint/typescript-estree/src/createProjectProgram.ts line 35
![image](https://user-images.githubusercontent.com/13757260/79864024-5263cb80-840b-11ea-94bd-5df0f6504c52.png)

[code]
typescript-estree uses 'extra' opotions to init typescript program, typescript will read all files defined by our '/workspace/tsconfig.json' and stores as a Map, the key is the filename

[2020-04-21 23:35] MicrochipQ commented on #944
I cannot send this issue to `eslint-import-resolver-typescript`, because it cannot be reproduced correctly without VS Code. Any ideas for reproducing it from the CLI without changing .eslintrc?

[2020-04-21 23:39] MicrochipQ commented on #944
With this change, it reproduces even on v1.1.1, but the problem should only be in v2.0.0

[2020-04-22 01:12] ryuta69 commented on #952
Sorry... this was mistaken. I did as you said and it worked. sorry about that.

[2020-04-22 01:12] #952 closed

[2020-04-22 06:14] DarkLite1 commented on #956
Having another issue with this, so let me try to explain. As per your suggestion I have the following in my root folder "T:\Test\Brecht\Node\.vscode":

[code]
This makes Eslint work fine for my project in folder "T:\Test\Brecht\Node\playground\it-portal" which has this Eslint file "T:\Test\Brecht\Node\playground\it-portal\.eslintrc.js":
[code]

Now, when I create a test file "T:\Test\Brecht\Node\p

[2020-04-22 09:51] dbaeumer commented on #956
This is not a problem of the extension. The same would basically happen if you use eslint in the terminal `eslint T:\Test\Brecht\Node\playground\hello-world\test.js`. So yes, you need a .eslintrc config file in one of the parent directories of `test.js` to make eslint work.

[2020-04-22 10:25] DarkLite1 commented on #956
Thank you for your feedback. So just to be clear, the Eslint config of vscode here ""T:\Test\Brecht\Node.vscode" is not sufficient? As this is in a parent folder...

[2020-04-22 10:37] dbaeumer commented on #956
No, the extension is based on the ESLint npm library which needs a eslintrc config file.

[2020-04-23 01:39] ligouhai commented on #904
I have also encountered this problem, and now I have the same solution as you, which is to disable the eslint plug-in every time I encounter this problem and enable it later.

[2020-04-23 08:43] dbaeumer commented on #904
@ligouhai can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-04-23 13:02] lstrzebinczyk opened #958 "TypeError: Cannot read property 'toLowerCase' of null"
For a while now eslint fails to start in my vs code and is returning this error:

[code]

I did not do any changes, it just started failing. How would I fix it?

[2020-04-23 14:22] dbaeumer commented on #958
How does your setting file look like. I guess you have a `"eslint.trace.server"` setting with a value of `null`.

[2020-04-23 15:02] lstrzebinczyk commented on #958
Allright, I did in fact have this, and when I removed it, this error is no longer occuring. Others are, but this must be after some changes on my side after all, and it looks like eslint 6.8 is acting out.
This looks like I should be able to get it to run from here.

If there is anything I can suggest here, is that the error message could have been clearer on this one. Thank you for your help : )

[2020-04-23 15:16] dbaeumer commented on #958
I should protect the code against `null`.

Will reopen the issue.

[2020-04-24 00:22] ydsood opened #959 "vscode-eslint does not work for dotnet-core/react projects in vscode"
`dotnet-core` comes with react templates since `netcore 2.0` which can be used to setup the project with a `dotnet-core` back end and a react front end. To work on this project, the project can be opened in VS code from the root directory with sln file. This allows for appropriate launch and debug configurations to be used for launching the dotnet project with react appropriately.

The ESLint plug

[2020-04-24 00:45] ydsood commented on #959
I tried to read through the suggestions on #696 but nothing has worked for me so far.

[2020-04-24 08:51] thomaslaich commented on #944
I have the same problem. Had to revert to v1.1.1 also.

[2020-04-24 10:31] sandy081 commented on #932
Thanks @jeanp413 for the PR. Its fixed.

[2020-04-27 15:19] dbaeumer commented on #932
@sandy081 can I close this issue ?

[2020-04-27 15:22] dbaeumer commented on #959
@ydsood can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-04-27 15:28] sandy081 commented on #932
Yeah

[2020-04-27 18:10] ydsood commented on #959
Here's a sample repository https://github.com/ydsood/TestESLint.git.
I have committed the .vscode folder so you can have the same setup for launch and ESLint settings. I do not have a global installation for ESLint and use the node_modules location for generating the eslintrc.json using the following command

[code]

Here's the error I am seeing on the ESLint output
[code]

[2020-04-27 22:32] creplogle opened #960 "vscode-eslint unable to resolve path to module"
I have a React project that used .js extensions but to comply with coding standards components need to use .jsx extensions. When I changed src/components/Root.js to src/components/Root.jsx vscode-eslint displays an "Unable to resolve path to module ./components/Root. No error with .js, error with .jsx. Running eslint from the command line does not emit any errors. I've seen the closed issues relat

[2020-04-28 07:45] dbaeumer commented on #960
When you run eslint from the terminal do you change into a special directory. If this is the case VS Code needs to know about this directory otherwise it can't use the same module lookup rules.

Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-04-28 08:00] #948 closed

[2020-04-28 08:23] dbaeumer commented on #959
Since validation needs to happen in the `TestESLint/ClientApp` directory (even in the terminal to work correctly the setting you need to use is

[code]

The `eslint.options` setting needs to be removed.

[2020-04-28 08:23] #959 closed

[2020-04-28 08:30] dbaeumer commented on #932
Closing then. Thanks for looking into this.

[2020-04-28 08:30] #932 closed

[2020-04-28 09:02] #957 closed

[2020-04-28 09:33] DanTup commented on #91
@dbaeumer

Does this mean we're not likely to see this automatic whole workspace linting anytime soon? I was trying to migrate from tslint to eslint because I was getting warnings about it being deprecated, but just noticed I'm not seeing the errors anymore without files open. With tslint, I did get this (I'm not sure exactly through what mechanism - it might be that webpack is running onFolderOpe

[2020-04-28 12:36] creplogle commented on #960
I'm running `npm run lint` from my project root, the same root that is used for the VS Code workspace. The project was generated from this template https://github.com/coryhouse/react-slingshot, then refactored for the actual app that is in a private repo. Cory's template uses .js extension, but to comply with coding standards I refactored index.js, Root.js, App.js, etc. to use .jsx extensions. Whe

[2020-04-28 15:20] dbaeumer commented on #91
To my knowledge the TSLint extension only validated the open files as well (@egamma can you confirm that). So if the whole workspace got linited it was very likley through a task which is also support in ESLint.

[2020-04-28 15:29] DanTup commented on #91
I do have tasks that run on `folderOpen` (`tsc --watch` and `webpack --watch`) with the `$ts-webpack-watch` and `$tsc-watch` problem matchers which I suspect were doing this (the `$ts-webpack-watch` problem matcher is coming from the `eamodio.tsl-problem-matcher` extension) but they're all still running after moving to eslint. I couldn't find any info about whether (and if so how) this should work

[2020-04-28 15:39] creplogle commented on #960
I'll create a sample this weekend, trying to meet project deadlines at the moment.

[2020-04-29 08:23] dbaeumer commented on #960
Great, ping me when available.

[2020-04-30 16:02] maxistahl opened #961 "All plugins stop working"
Issue Type: <b>Bug</b>

Eslint stop working, so I tried to restart my vscode but seems like some random error affect some others plugins cause when vscode start again Eslint stop working, and then GitLens stop working... just that. A message error says eslint server fails 5 times in 3 minutes.

Extension version: 2.1.5
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04

[2020-04-30 16:17] adunne-resilient commented on #951
Apologies, it took me quite a while to sort out my workspace (and forgot to get back to this thread). I believe it was a combination of bad settings and prettier config in vscode.

[2020-04-30 16:17] #951 closed

[2020-04-30 20:19] #904 closed

[2020-05-01 16:12] LowArmour opened #962 "Failed to load plugin 'babel': Cannot find module 'eslint-plugin-babel'"
I keep getting this error on the Eslint vscode extension:
`[Info  - 6:58:21 PM] Failed to load plugin 'babel' declared in 'project/backend/.eslintrc.json': Cannot find module 'eslint-plugin-babel' Require stack: - /home/lowarmour/project/__placeholder__.js`

Indeed, I cannot find the module 'eslint-plugin-babel' in node_modules, however I have installed it. I have tried to solve this issue / searc

[2020-05-02 01:51] #962 closed

[2020-05-02 01:54] LowArmour commented on #962
Solved the issue. It seems that you have to "Open Folder" in VS Code the root folder of the project. I had it opened but as a subfolder of a larger multi-project folder.

[2020-05-02 08:49] Kagami commented on #938
I've installed eslint plugins globally because I find it tedious to install them for every project, especially given amount of dependencies. Linter's plugin versions is not something you need to differentiate much.

Setting `resolvePluginsRelativeTo` helped, but it won't work for parsers due to https://github.com/eslint/eslint/pull/13234. After applying the fix from the PR everything works fine, I

[2020-05-02 10:05] Kagami opened #963 "Cache probing?"
Hi,

As far as I understand the logic of extension, it always tries to find eslint configuration for file types listed in `eslint.probe`.

So if I create empty directory with empty JavaScript file and start typing in it (and `eslint.run` set to `onType`), I see the following log in the output:

[code]

It basically tries to find eslint configuration multiple times per second.
It's probably not som

[2020-05-02 10:15] Kagami opened #964 "UnhandledPromiseRejectionWarning on markdown file"
Hi,

I've created empty workspace, empty markdown file, and started typing.

I see the following errors in the output:

[code]

Environment:
* node v14
* globally installed eslint v6.8.0 to ~/.npm-packages
* vscode v1.44.2
* vscode-eslint v2.1.5

It's probably just cosmetics, but it clutters output window.

[2020-05-04 18:22] creplogle commented on #960
Dirk, thanks for your patience. Here is a sample repo that recreates the issue. Clone the repo and load into VS Code on the master branch and you won't see any eslint errors. Change to the issue-960 branch and you will see an eslint error when you open src/index.jsx (line 7). If you run

`npm run lint`

in the console eslint does not report any errors, and

`npm start -s`

runs the app with no err

[2020-05-04 18:23] creplogle commented on #960
It would probably be helpful if I included the repo link...

[https://github.com/creplogle/eslint-960](url)

[2020-05-04 18:49] dbaeumer commented on #961
@maxistahl  can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-05-04 18:53] dbaeumer commented on #963
The problem is that caching / ignoring this will need to reload VS Code if you create such a file in a parent directory. The extension will have no way to detect that and re-evaluate.

Need to value what to do here is best.

[2020-05-04 18:54] dbaeumer commented on #964
@Kagami do you have eslint installed globally?

[2020-05-04 18:59] Kagami commented on #964
Yes.

[2020-05-04 19:02] Kagami commented on #963
Maybe it's worth to cache for 1 minute or something like that. Or maybe detect `.eslintrc*` config creation (not sure if VS Code extension API allows that).

[2020-05-04 19:04] dbaeumer commented on #960
Actually this is a configuration isssue with ESLint itself. If executed in the terminal I get:

[code]

Since the plugin simply calls into ESLint itself it will surface the same problems. So all I can recommend is to get ESLint running correctly in the terminal. If this is the case the ESLint extension should work as well.

[2020-05-04 19:05] dbaeumer commented on #960
Please ping if you thing there is anything the extension can do.

[2020-05-04 19:05] #960 closed

[2020-05-04 19:25] weihao opened #965 "How to make an import always at the top?"
I want `reflect-metadata` to always be imported first:
[code]

But when I format using eslint organize imports, I get:
[code]

Is there a way to make an import `always placed at the top`? or is there a flag that ignores the sorting of a specific package? Thank you!

[2020-05-05 10:14] dbaeumer commented on #965
@weihao this functionality comes from ESLint or one of its plugins itself and not from the extension and will be the same when executing eslint in the terminal. Please file the issue against the corresponding eslint plugin you are using to do the sorting.

[2020-05-05 10:14] #965 closed

[2020-05-05 10:16] dbaeumer commented on #963
The extension listens to these events but can't outside of the workspace folder.

[2020-05-05 12:38] creplogle commented on #960
Thanks for looking into this, sorry for your trouble.

[2020-05-07 06:10] matzeeable commented on #961
Had the same issue today. I am using the VSCode Remote Extension and a simply `Uninstall` and `Install` of the extension fixed the issue.

[2020-05-07 09:22] dbaeumer commented on #961
@matzeeable extensions don't room to remote automatically.

[2020-05-07 09:33] AndrewSB opened #967 "Disable linter if no .eslintrc.json"
Is it possible to disable the linter if the project directory doesn't contain a `.eslintrc.json`?

[2020-05-08 04:02] biswaranjanb commented on #707
@subz390  You saved me

[2020-05-09 14:00] davidbwaters opened #968 "[Suggestion] Allow paths to configs in 'package.json' key"
Hi, when adding config through package.json using the 'eslintConfig' key, it only accepts objects and won't accept a path to a config file.  It works with both when running eslint-cli through the command line.  It would be nice to have it try to resolve a path when it gets a string value. It would keep the file cleaner and look consistent other popular project's conventions.

[2020-05-10 17:26] hieusmiths opened #969 "Eslint . not working."
Hi, team.

I met a bug about run eslint all project for CI.
if eslint with relative path file as well.
in the progress dev it working.
it only not working with eslint .
Thank so much to team.

[2020-05-10 17:26] hieusmiths opened #970 "Eslint . not working"
Hi, team.

I met a bug about run eslint all project for CI.
if eslint with relative path file as well.
in the progress dev it working.
it only not working with eslint .
Thank so much to team.

[2020-05-10 23:20] sajithneyo opened #971 "Notification toast per each key stroke"
I have configured my ESLint to run on 'onType'.

`"eslint.run": "onType"
`

![Capture](https://user-images.githubusercontent.com/27737837/81513018-d6daa780-9342-11ea-88f5-cf9e7a5e5e53.PNG)

This triggers endless notification toasts in vs-code. Please fix this. I want notifications only when ESLint crashes. Not for my lint errors. Underlining errors is enough.

Thank you!

[2020-05-11 08:22] dbaeumer commented on #971
I am pretty sure that this is a problem with ESLint itself.

@sajithneyo  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-05-11 08:23] dbaeumer commented on #970
Dups #969

[2020-05-11 08:23] #970 closed

[2020-05-11 08:24] dbaeumer commented on #969
@hieusmiths does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-05-11 08:28] dbaeumer commented on #968
A path to the config file is supported via VS Code settings. See the setting `eslint.options`. The default eslint config file `.eslintrc.*` are read by default.

[2020-05-11 08:28] #968 closed

[2020-05-11 08:29] dbaeumer commented on #968
Please ping if this doesn't help solve your issue.

[2020-05-11 08:31] dbaeumer commented on #967
The setting is `eslint.enable`. Set it to false.

Do you have eslint installed globally. The tools shouldn't do anything if it can't find an eslint library.

Please ping if the setting doesn't help.

[2020-05-11 08:31] #967 closed

[2020-05-13 07:17] sajithneyo commented on #971
It's something related to plugin settings `eslint.validate`. I had it as `"eslint.validate": ["javascript", "typescript"],`. After removing it those notifications went away.

[2020-05-13 08:44] dbaeumer commented on #971
Actually a better setting now is `eslint.probe`.

I will close the issue. Please ping if you think there is something outstanding.

[2020-05-13 08:44] #971 closed

[2020-05-13 20:41] sdalonzo opened #972 "Adapt ESLint v7 API"
With the recent [release of ESLint v7](https://eslint.org/blog/2020/05/eslint-v7.0.0-released#new-eslint-class), `CLIEngine` was deprecated in favor of a new async `ESLint` class: [CLIEngine deprecation notes](https://eslint.org/docs/user-guide/migrating-to-7.0.0#deprecate-cliengine)

I've had some difficulty in getting this to work in VSCode (currently stuck in resolving plugins), and I'm wonderi

[2020-05-14 09:57] #961 closed

[2020-05-14 12:08] dbaeumer commented on #972
To my knowledge ESLint 7 still ships the CLIEngine API. So the extension should still work. I have not done any work yet to move the extension to version 7.0 API.

Why do you think the way the extension is implemented affects this?

[2020-05-14 13:29] spoldman commented on #972
Just to add to this conversation an issue that might be related. But during my process of updating to yarn v2 I updated esLint to v7. After this VSCode started becoming very slow and running 100% CPI. I followed the Yarn PnP instructions for VSCode and nothing improved. But now I have downgraded to v6.8 of esLint and everything seams to be running nicely. Not sure if it is important but I just wan

[2020-05-14 13:49] amitshirke1234 opened #973 "ESLint: Failed to load plugin '@typescript-eslint' declared in '.eslintrc.json': createRequire is not a function"
eslintrs.json:
{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType":

[2020-05-14 14:45] sdalonzo commented on #972
I think I was a little unclear - I think my problem was really due to [changes in plugin resolution](https://eslint.org/docs/user-guide/migrating-to-7.0.0#plugin-resolution-has-been-updated) - so when I mapped the extension to my ESLint binary in my monorepo, it was no longer able to resolve plugins. In the short term, I've rolled back to 6.8.0.

[2020-05-15 03:35] liangzr commented on #693
@dbaeumer There is no further progress on this question, but I found that it works fine in the newer version(`dbaeumer.vscode-eslint@2.1.1`), maybe we should close this issue now. Thanks for your works :)

[2020-05-15 13:19] dbaeumer commented on #972
I will keep the issue open since we should look into adapting the new API.

[2020-05-15 13:21] dbaeumer commented on #693
@liangzr thanks for coming back. Will close the issue.

[2020-05-15 13:21] #693 closed

[2020-05-15 13:24] dbaeumer commented on #973
@amitshirke1234
does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-05-17 04:54] crystalfp opened #974 "Error referencing not existing package eslint.config"
Issue Type: <b>Bug</b>

I have a project that reference the node package `tippy.js`.
In VS Code the eslint extension complains about extending a not existent eslint.config in the package:
[code]
The `tippy.js` module `package.json` contains the following lines:
[code]
but the subdirectory `.config` is missing.

Besides the annoying notification, all seems to work.
I opened an issue to the package