[2020-10-13 12:50] dbaeumer commented on #1086
@code-for-coffee great to hear you got it working. Do you remember which values you had set to `null`. May be there is a bug in VS Code itself with `null` values now.

[2020-10-13 15:08] code-for-coffee commented on #1086
@dbaeumer I think that there is/was a bug with VS Code. This is not the only plugin that appears to be affected.

- `editor.defaultFormatter` was `null`
- `eslint.format.enable` was `null`

My workspace `settings.json` were not affected but the default `settings.json` was. After changing these back to the default values, closing VS Code and re-opening my workspace, everything seemed fine. I did ne

[2020-10-13 15:20] code-for-coffee commented on #1090
@chunsenye check out #1086 for a potential fix.

[2020-10-13 16:16] obvioussean commented on #1086
@dbaeumer here is the log:
[code]

[2020-10-13 16:35] tavrez commented on #1086
I can't use ESLint as formatter anymore, and non of the solutions mentioned worked for me, it's not even working with 2.1.11-insiders.
I only get the option back when I go to 2.1.8

[2020-10-13 22:37] BullThistle commented on #1086
Having the same issue here. Tried using ESLint versions 2.1.10, 2.1.8, 2.1.7, and VSCode versions 1.50 and 1.49.

Here is my ESLint log:
[code]

and my VSCode settings:
[code]

[2020-10-14 11:21] hraz-msft opened #1091 "Set node_modules path"
I'm using ESLint for VS Code with a project that its `node_modules` directory path is not in the root of the working dir.
I tried to configure the settings: `"eslint.nodePath": "./src/node_modules"` but I still get an error:

The eslint-plugin-react is installed locally in the `src/node_modules` path.

Note I am able to run the eslint manually from the terminal (when the working dir is `src`).

An

[2020-10-14 16:33] dbaeumer commented on #1086
@obvioussean @BullThistle the traces actually look OK and I have no idea yet why it is not working. From the path I see that @obvioussean runs under Windows. @BullThistle which OS are you on ?

[2020-10-14 16:34] dbaeumer commented on #1086
@tavrez yours looks OK as well and from the paths you are on Windows as well.

[2020-10-14 16:43] dbaeumer commented on #1086
OK. I can reproduce this when using @obvioussean example under Windows when cloning the repository into `C:\Repos`. I will investigate.

[2020-10-14 16:58] dbaeumer commented on #1086
@jrieken I register the formatter with a document filter defining a pattern. The pattern I use is `/c:/Repos/eslint-error/src/App.tsx` since I only register the formatter for active open files since not all JS files might be formattable using ESLint. The corresponding document has an URI with a path property of `path:'/c:/Repos/eslint-error/src/App.tsx'`. This used to work with VS Code 1.49.0 but

[2020-10-15 08:56] bpasero commented on #1086
No change in `glob.ts` I can think of. Is this maybe a path casing issue with the drive letter or other segment? Make sure to use the `RelativePattern` support to rule that out.

[2020-10-15 09:55] dbaeumer commented on #1090
Dups #1086

[2020-10-15 09:55] #1090 closed

[2020-10-15 10:24] Derasm commented on #1086
Is there any solution to this other than "downgrade VSCode to 1.49" ?

[2020-10-15 11:32] dbaeumer commented on #1086
@Derasm no, currently not. I am still investigating.

@jrieken @bpasero I debugged it and it has nothing to do with the pattern. It actually fails here: https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/contrib/format/browser/formatActionsMultiple.ts#L95

I am pretty sure my extension is enabled correctly. Any idea why the format action assumes that my extension can't format the fil

[2020-10-15 11:39] dbaeumer commented on #1086
Actually it fails to find the default formatter. It does find the ID but not the formatter:

![capture](https://user-images.githubusercontent.com/1931590/96118512-e494ea00-0eeb-11eb-8ea9-eb28f6555462.png)

[2020-10-15 11:42] dbaeumer commented on #1086
The array of formatters doesn't contain the ESLint formatter although I do register one. Need to find out why this is the case.

[2020-10-15 11:45] dbaeumer commented on #1086
@jrieken can you point me to the code location where you collect the formatters.

[2020-10-15 11:52] dbaeumer commented on #1086
@jrieken I found the place. It is in language feature registry / updateScore. My formatter is in the registry. Let me first debug it to see if I can find something.

[2020-10-15 14:03] dbaeumer commented on #1086
I was able to track this down. It is the pattern matching. I always thought that from the documentation (it talks about path not fsPath) the matching happens against the `path` property of the URI but it happens against the `fsPath`.

This

![capture](https://user-images.githubusercontent.com/1931590/96139961-a99cb180-0eff-11eb-813e-2bf415244605.png)

doesn't match this

![capture](https://user-im

[2020-10-15 14:04] dbaeumer commented on #1086
Actually it might only be the starting `/`. :-)

[2020-10-15 14:36] jrieken commented on #1086
History tells me that it has always been `fsPath`

[2020-10-15 15:25] myasonik commented on #1055
@dbaeumer Happy to debug with your guidance. I can consistently trigger the hanging issue with any change right now so I'm not sure I can provide an repro steps other than "try saving a file..."

I'll hold off making @cchaos's recommended config changes for a few days so that I don't risk changing anything before getting to the bottom of this.

[2020-10-15 15:30] dbaeumer commented on #1086
So using `fsPath` makes it work again. The interesting part is why this started to fail. I checked the history and the ESLint extension always used path.

[2020-10-15 15:40] dbaeumer commented on #1086
I tested VSCode 1.47.2 with ESLint extension 2.1.8 and there formatting works under Windows.

[2020-10-15 15:42] obvioussean commented on #1086
@dbaeumer That insider release works great!  Thanks for digging into this.

[2020-10-15 15:49] code-for-coffee commented on #1086
Microsoft Released VSCode 1.50.1. There was a specific section in the changelog about eslint workflow changes. Sorry if this information is not helpful but wanted to share.

[2020-10-15 17:58] tavrez commented on #1086
@dbaeumer everything fine here, thanks! (Tested with v1.50.1 on windows)

There is a small change which probably is not related to the extension and it's because of vscode, however it worth mentioning:

I have this in my global settings.json
[code]

And this in my local project setting file:
[code]

Before, local config had priority and it used to make all file formatters to eslint. However, now w

[2020-10-15 19:26] Darcness commented on #1086
Whatever the updates in VSCode regarding ESLint were, they didn't fix things.

VSCode 1.50.1 -> ESLint 2.1.10 [doesn't work]
VSCode 1.50.1 -> ESLint 2.1.12 [works!]

Looking forward to when this fix makes its way into ESLint's main.  Thanks!

[2020-10-16 05:37] bpasero commented on #1086
I have a related issue for this I think: https://github.com/microsoft/vscode/issues/101042

[2020-10-16 10:12] Derasm commented on #1086
When can we expect the fix to make it into Eslint's main branch? :)
- also: It's crazy to see how much of ones workflow gets changed when Eslint goes down. Kudos for making an exceptional extension.

[2020-10-16 20:02] #1085 closed

[2020-10-19 07:05] dbaeumer commented on #1086
@sandy081 any information about whether this has changed recently https://github.com/microsoft/vscode-eslint/issues/1086#issuecomment-709494193

[2020-10-19 07:11] dbaeumer commented on #1086
@bpasero @jrieken I investigated more and it was me that broke that. I moved code around and a path is not always a path even if it looks like one :-).  Sorry for the swirl.

Publish `2.1.13` which addresses this issue.

[2020-10-19 07:11] #1086 closed

[2020-10-19 07:21] dbaeumer commented on #1055
@myasonik thanks for your willingness to debug this. Highly appreciated. Here are the steps:

- clone https://github.com/microsoft/vscode-eslint.git
- cd into `vscode-eslint`
- run `npm install`
- run `npm compile`
- open VS Code on the workspace
- bring the debug viewlet to front
- select `Launch Client`
- press run button
- in the new VS Code instance that opens open the workspace you can trigge

[2020-10-19 07:23] dbaeumer commented on #1091
@hraz-msft the `eslint.workingDirectories` setting will very likely be your friend (see https://github.com/microsoft/vscode-eslint/blob/master/README.md). Set it to the src directory as well.

[2020-10-19 07:26] dbaeumer commented on #1089
The problem is that I can't relate the `GitLens` welcome editor to any meaningful setup. Do you see the same when pressing the button on the `README.md`

[2020-10-19 07:28] dbaeumer commented on #1087
You can very fine granular configure ESLint. See here https://eslint.org/docs/user-guide/configuring#configuring-rules  for all the options you have.

[2020-10-19 07:34] timroes commented on #1055
I am having "excessive saving issues", in the form that I hit "save" very very often while typing (like a couple of times per minutes). Sometimes I guess I hit it when the code is not even in a compilable state. I wonder if that could be related to that issue, because I had - while watching this behavior over the weekend - the feeling it happens more often when it's trying to reformat (prettier vi

[2020-10-19 08:01] hraz-msft commented on #1091
Thanks @dbaeumer , I have changed VSCode settings to this configuration now:
[code]

And my `src` folder contains the `.eslintrc.json` and `node_modules`.

But I still get this error:

It seems that it finds the `.eslintrc.json` (as before) but not finding the `node_modules`. And everything works fine with manual command: `node_modules\.bin\eslint.cmd <path>` under `src` folder.

[2020-10-19 08:32] dbaeumer commented on #1091
@hraz-msft can you provide me with a GitHub repository I can clone that demos this?

[2020-10-19 08:33] lydell commented on #1087
Hi!

By default, ESLint enables no rules at all. Then it _only checks syntax._

What I want is to _only_ see _rule_ errors in from ESLint in VSCode, not parse errors (since I already get that from TypeScript).

As far as I know there’s no way of turning off syntax errors in ESLint, since in isolation that doesn’t make sense in ESLint – if you run `eslint some-file.js` and it has syntax errors, of

[2020-10-19 09:04] dbaeumer commented on #1087
@lydell I misunderstood your first proposal. Nevertheless I am not a fan of hiding these. If parse errors are turned off it might not be easy to understand why normal ESLint errors don't show up. In addition they are not easy to identify since parse errors have no code.

Best would be if ESlint itself would have an option for this or at lease a code for the error. Then the extension could use that

[2020-10-19 09:07] lydell commented on #1087
Ok, I’ll make a proposal in the eslint repo then.

[2020-10-19 09:18] hraz-msft commented on #1091
I can't share the original code yet, so I created a repro repo: https://github.com/hraz-msft/ESLintTest

The root directory is the directory that I open with VSCode (cannot be changed since in our real project we have more parts). `src` contains basic React project with custom ESLint config.

**Note that in this sample there are two `src` directories - one in the root directory and one under `src/

[2020-10-19 13:40] dbaeumer commented on #1091
The working directory setting you specified is an absolute path (e.g. starts with a `/`). Using `./src` makes it work as expected.

I will close the issue. Please ping if this will not make it work for you.

[2020-10-19 13:40] #1091 closed

[2020-10-19 13:40] dbaeumer commented on #1091
<img width="436" alt="capture" src="https://user-images.githubusercontent.com/1931590/96458596-63a65d00-1221-11eb-88f5-776a3e40bf92.png">

[2020-10-19 13:41] dbaeumer commented on #1087
Let me know about the outcome.

[2020-10-19 13:50] hraz-msft commented on #1091
Ahh, one tiny character made all the difference... It is working. Thank you very much!

[2020-10-19 17:45] mikestopcontinues commented on #958
I'm not sure if this is the same issue. Just today, seemingly without any change, linting stopped working. Now I get this output:

[code]

It happens for all files. I don't seem to have any nulls in my settings json, so I'm inclined to think it's a different issue. I figured I'd post here in case.

[2020-10-19 18:01] mikestopcontinues commented on #958
Actually, forget that, turned out it's a deeper issue with (I think) babel-eslint in my case. I just happened to use the same new syntax `?.` in multiple open files.

[2020-10-19 18:52] surdu opened #1092 "Import auto-fix missing"
I have the same issue as described in #914 .

I've created a `jsconfig.json` containing:

[code]
but still, when I try to auto-fix an no-unused-var lint issue, there is no suggestion to import the variable.

@dbaeumer To answer your question from #914: no , the problem is not fixed if I run the linter with --fix. But the same auto-fix works for Typescript.

[2020-10-19 21:12] lydell commented on #1087
I’m not sure exactly how this plugin calls ESLint. But if it’s using `eslint --format json` or the linter API, then parse errors for a given file can already be detected.

[code]

`messages` will contain a single item with `fatal: true`. It’s even documented:

https://eslint.org/docs/developer-guide/nodejs-api.html#linter

So maybe we could add an option (disabled by default) that ignores this?

[2020-10-19 22:15] sn0rcha commented on #1086
Thanks for all your help with this, it's now working again!

[2020-10-20 08:05] dbaeumer commented on #1087
@lydell thanks a lot for the information. I was not aware of the `fatal: true` property.

I do call the API. If you are will to work on a PR you are welcome.

[2020-10-20 08:06] dbaeumer commented on #1087
Whatever we come up with it should be aligned with the PR https://github.com/microsoft/vscode-eslint/pull/993

[2020-10-20 08:08] dbaeumer commented on #1092
@surdu I am pretty sure the auto fix is coming then from the TS support of VS Code not from ESLint. So this sounds more like an issue if the TS language server.

How does the error look like that gets auto fixed?

[2020-10-20 18:53] JacksonKearl commented on #1089
Could it maybe not show up then? I have another codespace (JacksonKearl/CAHours), which does not use ESLint at all, but when the GitLens editor is open the entry appears in the status bar. If I open any other editor it goes away (replaced by prettier).

[2020-10-20 20:12] surdu commented on #1092
This is how the import error that gets fixed looks in Typescript:

<img width="902" alt="Screen Shot 2020-10-20 at 11 10 50 PM" src="https://user-images.githubusercontent.com/11520795/96638972-a6ebf300-1329-11eb-856d-99886ed1af29.png">

[2020-10-20 23:41] Darkzarich opened #1093 "ESLint conflicts with Prettier after VSCode update"
### Summary

After VSCode got updated to version 1.50.1 ESLint started to conflict with Prettier . There is `.eslintrc.js` in my project folder and it states that I prefer using **single quotes** but from the log output of Prettier I see `singleQuote": false`, it puts **double quotes** everywhere and it's not the only rule that gets ignored. I believe there is some conflict happening that wasn't h

[2020-10-21 09:25] dbaeumer commented on #1093
@Darkzarich can you provide me with a workspace that shows this?

[2020-10-21 09:28] dbaeumer commented on #1092
Exactly how I thought it is. In the TS case the error is fixed by the TS/JS server. In the second case the error is reported by ESLin, but ESLint has no fix for it. I would suggest you open an issue against VS Code itself asking why the TS/JS server is not providing a corresponding fix for the JS file.

I will close the issue since there is nothing the ESLint extension can do to fix this.

[2020-10-21 09:28] #1092 closed

[2020-10-21 09:35] dbaeumer commented on #1089
For the status item we decided that if there was a request to load ESLint and it has not been approved yet we show this in the status bar with the item even if the current editor is not validated using ESLint. The reason is that ESLint is actually in an blocked / unconfirmed state.

I am pretty sure that the fact that you opened the `Readme.md` triggered this and not the welcome editor.

[2020-10-21 15:26] JacksonKearl commented on #1089
I don't think so.. the repo has no eslint bits at all, and when I first start it I get only the gitlens editor appearing, but there's still a status bar entry for eslint.

[2020-10-22 13:14] stefan505 opened #1094 "Relative path for "eslint.runtime" appears to cause ES Lint not to load."
Within `.vscode/settings.json` we specify the following:

[code]

This was working fine, but with the combination of VS Code v1.50.1 and vscode-eslint v2.1.13 this has stopped working.

Log (Window) output:

[code]

ESLint output:

[code]

Possible regression?

[2020-10-22 13:31] stefan505 commented on #1094
Noticed now that making the paths absolute paths prevents the error from happening, so it must be something related to relative paths we use (and require).

[2020-10-22 16:20] dbaeumer commented on #1094
@stefan505 the reason for this is a security fix of VS Code itself which will not start the extension host on the workspace folder anymore. But this happened a long time ago and I tested 1.48.0 and it shows the same behavior. I might be able to fix it for some cases but it will not work in a multi workspace folder setup or in a single file validate.

[2020-10-22 16:36] dbaeumer commented on #1094
I looked into it and I can mitigate this in a single folder setup. But the fix needs to go into the LSP libraries so it will take some time until it makes it way into the ESLint version since I need to catchup with a new LSP version.

[2020-10-22 16:36] #1094 closed

[2020-10-22 16:38] dbaeumer commented on #1094
See https://github.com/microsoft/vscode-languageserver-node/commit/12d7aaa38448e8ed5a2fc8f9480a93508ab38884 for the mitigation.

[2020-10-22 19:14] myasonik commented on #1055
Welp, I finally got around to this and I can't reproduce it after being able to reproduce it consistently for two days. (And I haven't touched the repo nor any settings in since then.) Banged at it for nearly an hour with no luck.

The only trace I could get is this one though it seems to just be a warning that wasn't causing any issues...
[code]

[2020-10-23 08:11] Darkzarich commented on #1093
@dbaeumer thank you, I've solved this issue just now: apparently I somehow turned on vscode settings `editor. formatOnSave` and it was conflicting with a similar line from ESLint config. Now everything is alright!

[2020-10-23 11:39] emuguy1 opened #1095 "ES LINT Starting client failed"
TypeError: Cannot read property 'toLowerCase' of null
	at Object.e.fromString (/Users/admin/.vscode/extensions/dbaeumer.vscode-eslint-2.1.13/client/out/extension.js:1:147330)
	at y.refreshTrace (/Users/admin/.vscode/extensions/dbaeumer.vscode-eslint-2.1.13/client/out/extension.js:1:54524)
	at y.initialize (/Users/admin/.vscode/extensions/dbaeumer.vscode-eslint-2.1.13/client/out/extension.js:1:4714

[2020-10-23 13:16] dbaeumer commented on #1095
@emuguy1 do you have any kind of setting set to `null`. ?

[2020-10-23 13:18] #1095 closed

[2020-10-23 13:19] dbaeumer commented on #1095
As a workaround don't use null as a value.

[2020-10-23 14:03] mcchong commented on #1059
For anyone running into similar issues it looks like the issue is actually on react-scripts side:
https://github.com/facebook/create-react-app/issues/8849
https://github.com/facebook/create-react-app/issues/9083

[2020-10-23 14:20] reifnotreef commented on #1055
Just stopping by to say I have this same message popup almost every time I save a .tsx file in a React project.

I tried adding/removing options from the settings.json:
[code]
Tried enabling/disabling each of those but nothing changes the behaviour.

[2020-10-23 14:55] dbaeumer commented on #1055
@myasonik thanks a lot for trying!!

@reifnotreef can you share that repository with steps to reproduce?

[2020-10-23 14:56] dbaeumer commented on #1093
OK. Great. Closing the issue then.

[2020-10-23 14:56] #1093 closed

[2020-10-23 14:57] dbaeumer commented on #1089
That sounds wired. Let me check this.

[2020-10-23 15:02] dbaeumer commented on #1089
I tested with a workspace without ESLint installed and I even don't see the status bar item for JS files. Are you sure you don't have ESLint installed globally?

[2020-10-23 15:36] emuguy1 commented on #1095
eslint.trace.service has the value null
What can i use else then

[2020-10-23 16:03] JacksonKearl commented on #1089
Can I have it installed globally in a fresh codespace? I don't have any dotfiles.

[2020-10-23 16:54] emuguy1 commented on #1095
I used off and it works now. Thank you

[2020-10-23 16:55] reifnotreef commented on #1055
Unfortunately no, it's a private work repo. My first guess is a specific setting we have but I haven't been able to find anything that would cause it in our config files etc.

[2020-10-23 17:44] dbaeumer commented on #958
Added code totday that protects against these null cases.

[2020-10-23 17:44] #958 closed

[2020-10-23 17:50] dbaeumer commented on #1047
@dten I think I have fixed this in the meantime. Are you still seeing this. If yes, can you please provide a repository I can clone that demos this? Thanks.

[2020-10-23 17:52] dbaeumer commented on #36
I am closing the issue. Instead of adding this to the eslint extension a better approach would be to have an extension that prereqs this one and guides the user through a possible ESLint setup. This leave this extension somehow light weight and clean.

[2020-10-23 17:52] #36 closed

[2020-10-23 17:55] dbaeumer commented on #954
@lordisback is this still an issue for you. If so can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-10-23 17:56] dbaeumer commented on #963
I will close the issue. VS Code has no API that allows listening for file events outside of workspace folders.

[2020-10-23 17:56] #963 closed

[2020-10-23 17:58] dbaeumer commented on #1012
I will close the issue. I have delivered a new dialog experience which doesn't pop up a modal dialog anymore. Please open new issue when you think the new experience  still needs polish

[2020-10-23 17:58] #1012 closed

[2020-10-24 03:21] maxedmands commented on #1047
FWIW, I'm facing this issue too! I just set up a (really simple) repository that reproduces this problem:

https://github.com/maxedmands/vscode-eslint-bug-repro

(Note that I'm experiencing this in a repository where switching off of babel-eslint isn't an option, at least not in the near term!)

[2020-10-24 16:34] jrm2k6 opened #1096 "Conflict with prettier rule with fix on autosave"
In one of my file I get a warning related to an import needed to be broken up onto multiple lines:

<img width="858" alt="Screen Shot 2020-10-24 at 9 29 54 AM" src="https://user-images.githubusercontent.com/1088099/97087003-aa0e0a00-15db-11eb-8e23-a5c46019659c.png">

When applying the prettier fix, it becomes:

<img width="436" alt="Screen Shot 2020-10-24 at 9 30 06 AM" src="https://user-images.gi

[2020-10-25 18:38] valtlai opened #1097 "node/no-missing-{import|require} don’t found `fs/promises` module"
The [`no-missing-import`](https://github.com/mysticatea/eslint-plugin-node/blob/v11.1.0/docs/rules/no-missing-import.md) and [`no-missing-require`](https://github.com/mysticatea/eslint-plugin-node/blob/v11.1.0/docs/rules/no-missing-require.md) rules from [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) don’t found the built-in [`fs/promises`](https://nodejs.org/api/fs.html#fs

[2020-10-26 08:10] dbaeumer commented on #1097
Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-10-26 08:13] dbaeumer commented on #1096
@jrm2k6  can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-10-26 08:19] dbaeumer commented on #1047
Thanks for the repository. I will look into why probing for this fails. However if you know that everything is setup correctly you can always force the validation using

[code]

which makes your example work.

[2020-10-26 08:34] #1047 closed

[2020-10-26 08:44] dbaeumer commented on #1089
OK. I tested it with `JacksonKearl/CAHours`  and there I get a status with a check-mark when opening a TS file which is actually correct since ESLint server runs but no file can be validated since no `eslintrc.json` file exists. However what I should do when clicking on the status icon is to simply bring the ESLint output to front.

[2020-10-26 08:50] #1089 closed

[2020-10-26 08:56] Domiii opened #1098 ""ESLint is not running. By default only TypeScript and JavaScript files are validated.""
## Symptoms

* Eslint works fine in other projects, but in this one project, nothing happens.
* When trying to use the "Eslint: Show Output Channel" command, it says (even if js files are open):

* The "Manage Library Execution" command yields the same.
* I do not see any eslint-related buttons in my status bar either.
* When looking for it manually, there is no Eslint Output channel.

These are t

[2020-10-26 09:04] valtlai commented on #1097
@dbaeumer Yeah, here it is: [valtlai/vscode-eslint-issue-1097](/valtlai/vscode-eslint-issue-1097)

[2020-10-26 09:48] FloodGames commented on #1055
At this point in time, it doesn't seem to get stuck anymore (latest vscode, eslint or just the act of upgrading did it?)

[2020-10-26 10:19] jhnsml commented on #1086
`ESLint cannot format` issue for filenames enclosed in brackets. ex: `[id].js`. It works fine for files that aren't in that format.

Version: v2.1.13

[2020-10-26 10:36] dbaeumer commented on #151
Ships since quite some time.

[2020-10-26 10:36] #151 closed

[2020-10-26 10:37] dbaeumer commented on #211
These messages are now all put into the ESLint output channel.

[2020-10-26 10:37] #211 closed

[2020-10-26 10:40] #941 closed

[2020-10-26 10:40] dbaeumer commented on #941
I will still accept a PR if someone wants to work on this.

[2020-10-26 11:59] #964 closed

[2020-10-26 12:06] #977 closed

[2020-10-26 12:09] dbaeumer commented on #1027
This got addressed a while back.

[2020-10-26 12:09] #1027 closed

[2020-10-26 12:13] dbaeumer commented on #268
This will be very hard to archive in a general case since the VS Code API doesn't allow to listen to file events outside the workspace folder. I will close the issue as out of scope however I am willing to help on a PR if someone is willing to work on one

[2020-10-26 12:14] dbaeumer commented on #268
We closed this issue because we don't plan to address it in the foreseeable future. You can find more detailed information about our decision-making process here. If you disagree and feel that this issue is crucial: We are happy to listen and to reconsider.

If you wonder what we are up to, please see our roadmap and issue reporting guidelines.

Thanks for your understanding and happy coding!

[2020-10-26 12:14] #268 closed

[2020-10-26 12:16] reifnotreef commented on #1055
My current, relevant, settings are:
[code]
I did make sure that I have the latest prettier/eslint via npm i -g.
It still pops up every now and then, but it doesn't hang for nearly as long as it used to.
I have all of vs-code's formatting turned off and rely on eslint/prettier specifically.

[2020-10-26 12:18] dbaeumer commented on #356
The corresponding VS Code issue https://github.com/microsoft/vscode/issues/39558 which I need to address this got closed as out of scope. Will close this one as well since there is nothing I can do without the additional API.

[2020-10-26 12:19] #356 closed

[2020-10-26 13:39] #495 closed

[2020-10-26 13:39] dbaeumer commented on #495
I will still accept a PR if someone wants to work on it.

[2020-10-26 13:40] dbaeumer commented on #497
Got addressed a long time ago :-)

[2020-10-26 13:40] #497 closed

[2020-10-26 14:26] #509 closed

[2020-10-26 14:45] dbaeumer commented on #550
Since quite some time there is a setting `"eslint.onIgnoredFiles": "warn"` to enable / disable the warning in the extension.

[2020-10-26 14:45] #550 closed

[2020-10-26 14:51] dbaeumer commented on #586
I no set the diagnostic tag `DiagnosticTag.Unnecessary` for `no-unused-vars` rules. However the rendering of this still depends on VS Code strategy.

[2020-10-26 14:52] #586 closed

[2020-10-26 14:54] #649 closed

[2020-10-26 14:55] dbaeumer commented on #649
I am still willing to accept a PR if someone wants to work on this.

[2020-10-26 14:56] dbaeumer commented on #687
Actually this got addressed by VS Code itself. They time budget is configurable and they show a notification informing the user about the situation.

[2020-10-26 14:56] #687 closed

[2020-10-26 15:02] dbaeumer commented on #690
Made `"eslint.nodePath"` machine overridable.

[2020-10-26 15:02] #690 closed

[2020-10-26 15:05] dbaeumer commented on #708
This got addressed. There is now a setting: `[{ "mode": "auto" }]`

[2020-10-26 15:05] #708 closed

[2020-10-26 15:09] #717 closed

[2020-10-26 15:09] dbaeumer commented on #717
I am still happy to accept a PR if someone wants to work on this.

[2020-10-26 15:11] dbaeumer commented on #1086
The `[id].js`  is a different problem which I fixed today.

[2020-10-26 15:16] dbaeumer commented on #1097
@valtlai I see the same errors in vscode and the terminal

<img width="563" alt="capture" src="https://user-images.githubusercontent.com/1931590/97190814-80550e80-17a6-11eb-982f-26afd74d8d18.png">

<img width="518" alt="capture" src="https://user-images.githubusercontent.com/1931590/97190850-8b0fa380-17a6-11eb-8927-33a2a68d6b16.png">

[2020-10-26 15:17] dbaeumer commented on #1098
@Domiii  can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-10-26 15:20] dbaeumer commented on #819
This got all reworked with the new ESLint status item and the library confirmation (e.g. `Enable ESLint` is basically gone). I will close the issue and will react on the feedback I get for the new status item.

[2020-10-26 15:20] #819 closed

[2020-10-26 15:22] dbaeumer commented on #804
@LeopoldLerch I looked through the code and I couldn't find any place were I compare or access files myself. I always go through node API which is case insensitive under Windows.

I will close the issue. If you still see this please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-10-26 15:22] #804 closed

[2020-10-26 15:28] dbaeumer commented on #730
A lot has change around the status bar item due to the execution confirmation dialog. I will close the issue. Feedback is welcome around the confirmation flow.

[2020-10-26 15:28] #730 closed

[2020-10-26 18:36] #867 closed

[2020-10-26 20:59] agelter opened #1099 "Using ${workspaceRoot} in "configFile" field not working"
I expected to be able to do something like:

`"eslint.options": {
        "configFile": "${workspaceRoot}/.eslintrc",
        "useEslintrc": false
    },`

However, this doesn't appear to be working.  For example, if `${workspaceRoot}` were to point to `/my/workspace/root/`, the parser is instead returning:

`/my/workspace/root/${workspaceRoot}/.eslintrc`

Specifically, it is doing the lookup corr

[2020-10-27 02:32] jrm2k6 commented on #1096
Sure, this is the repo I was having this issue with https://github.com/jrm2k6/akee-electron.

[2020-10-27 07:45] dbaeumer commented on #1099
The reason for this is that VS Code itself has no support for this. See https://github.com/microsoft/vscode/issues/2809

I will close this as upstream since there is nothing I can do without proper API (I don't want to be in the business of reinterpreting this on my end).

One tip: you can use relative paths. The ESLint extension will run ESLint relative to the workspace folder or relative to the

[2020-10-27 07:45] #1099 closed

[2020-10-27 07:47] dbaeumer commented on #1055
Can really no one share a repository with me we I can reproduce this?

[2020-10-27 07:48] dbaeumer commented on #1096
@jrm2k6 Seems to be private. Can you add me to the repository temporarily so that I can clone it?

[2020-10-27 11:26] denis-sokolov opened #1100 ".eslintignore in a monorepo is not applied"
A .eslintignore file in a submodule in a monorepo is ignored and warnings are still shown when opening ignored files.

Given this directory structure:
[code]

Expected:
1. `/module-b/.eslintrc.js` is applied to configure linting on `b-src`.
2. `/module-b/.eslintignore` is applied to ignore some files in `b-src`.

Actual:
1. `/module-b/.eslintrc.js` is applied to configure linting on `b-src`.
2. `/

[2020-10-27 13:50] valtlai commented on #1097
@dbaeumer Which Node version did you use? I can reproduce what’s in your comment on Node 13 or older.

[2020-10-27 13:52] dbaeumer commented on #1097
@valtlai for the extension the node version which ships with VS Code (see About dialog). On the command line `v12.8.1`

[2020-10-27 14:08] dbaeumer commented on #1100
This is actually how ESLint works itself. The `.eslintrc.js` file is resolved relative to the file being validated whereas the `.eslintignore` file is resolved relative to the current working directory. So if you run eslint in a terminal with a cwd of the root (the parent of module-a and module-b) then it will fail as well.

To let the extension know about working directories you can use the setti

[2020-10-27 14:08] #1100 closed

[2020-10-27 14:12] valtlai commented on #1097
@valtlai Oh, the different Node versions caused the issue. Setting the `eslint.runtime` option to use the system Node helped, so closing the issue.

[2020-10-27 14:12] #1097 closed

[2020-10-27 14:13] jrm2k6 commented on #1096
@dbaeumer I am so sorry. I assume you only need to be able to clone it, not actually run it?

[2020-10-27 14:49] agusfesc commented on #1086
Hi, I have the same problem and even in eslint 2.1.13 and the latest version of VS CODE. The npx eslint command works perfectly, but the extesion when saving does not format me

![image](https://user-images.githubusercontent.com/42684825/97318251-6b31bb80-184a-11eb-8a67-d0133ee97bba.png)

[2020-10-27 14:53] cchaos commented on #1055
The repo that some of us have been having trouble with this in is https://github.com/elastic/eui

[2020-10-27 14:58] timroes commented on #1055
@cchaos @myasonik I'd be curious if it happens to you after the latest VSCode upgrade still. I've upgraded last week and worked the weekend on a project, where it didn't happen that often as in EUI, but still often enough to notice, and I haven't had a single issue ont he whole weekend in that repo. But haven't checked yet if it also disappeared for EUI, maybe one of you already tried with the new

[2020-10-27 15:21] dbaeumer commented on #1096
I only need to clone it. Thanks!

[2020-10-27 15:25] dbaeumer commented on #1096
Actually the repository doesn't seem to be self contained. I get

[2020-10-27 15:34] dbaeumer commented on #1096
Actually, the repository is not self contained. Can you provide me with the auto fix on save setting you are using?

[2020-10-27 15:39] dbaeumer commented on #1068
The extension now activates `onStartupFinished `

https://github.com/microsoft/vscode-eslint/blob/master/package.json#L27

[2020-10-27 15:39] #1068 closed

[2020-10-27 15:44] denis-sokolov commented on #1100
I can confirm in my codebase running eslint from the top-level directory does not respect the eslintignore file. I was not aware that was the eslint behavior, I appreciate you taking the time to explain. Thank you!

[2020-10-27 15:58] dbaeumer commented on #1055
I again played with https://github.com/elastic/eui without success. @cchaos which file are you usually editing when you see this.

[2020-10-27 16:16] #1050 closed

[2020-10-27 16:23] denis-sokolov opened #1101 "More visibility for workingDirectories setting"
eslint is sensitive to the current working directory. Monorepos opened in VSCode will usually have the wrong working directory. This leads to eslint extension in VSCode misbehaving in subtle ways.

The official way to solve this is to configure workingDirectories so that the extension knows where to run eslint. It even has an automatic option, which is great.

Unfortunately, this functionality is

[2020-10-27 16:49] h3xsoul commented on #1055
@dbaeumer I started using the stable version of VSCode since the settings sync feature was added to it. But since then, nor Insider nor Stable version didn't have any issues of saving with eslint. This problem just disappeared without updating eslint dependency in repo or plugin. Couldn't reproduce it and debug since then, sorry about that. Might it be dependent on platform? I didn't see the same

[2020-10-28 00:13] EstebanDworak commented on #1098
Same problem here, just today :/

[2020-10-28 00:21] EstebanDworak commented on #1098
Same problem here, i have a few repositories and one of them in particular has this problem since today. I don't have a way of providing a repository but i'm glad to help in any other way. I have already tried to re-install all traces of eslint out of my computer and even re-install vscode.

I have changed my .eslintrc completely with just a basic configuration.

![image](https://user-images.githu

[2020-10-28 00:25] EstebanDworak commented on #1098
Well, now I feel kind of stupid, for whatever reason, a file named setting.json was created in my repository .vscode folder. In this file the following configuration was added.

![image](https://user-images.githubusercontent.com/20653597/97375926-adc2ba80-1881-11eb-991d-b584738fc154.png)

Guess what happened when i changed this to true?....

Maybe @Domiii is having the same issue? :)

[2020-10-28 02:35] jrm2k6 commented on #1096
@dbaeumer Are you talking about checking the extension settings in vscode? What is the easiest way to export those?
From my global `settings.json`:

[code]

[2020-10-28 03:56] albertogasparin commented on #1098
Ha! The same thing happened to me. But I don't remember setting that value to off 🤔
Would be possible to tweak the message? As messing up with `eslint.probe` has nothing to do with it

[2020-10-28 08:15] #1098 closed

[2020-10-28 08:23] dbaeumer commented on #1096
@jrm2k6 I can't reproduce this. This makes me think that you have another extension installed that contributes a formatter for TSX files which will be used on format on save with conflicting settings to the eslint validation. Can you reproduce this when all extension except ESLint are disabled.

[2020-10-28 10:09] dbaeumer commented on #1055
@h3xsoul thanks for reaching back. I actually doubt that this is platform dependent. I still think that it hangs in some ESlint library / plugin. May be switching to a different platform installed a different version of a dependency.

[2020-10-28 10:10] dbaeumer commented on #1086
@agusfesc can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-10-28 13:37] jens-t opened #1102 "compat plugin - advanced browserslist config not respected"
The eslint-plugin-compat has an option to overwrite the package.json browserslist config, with a specific config for the compat plugin, as shown here:
https://github.com/amilajack/eslint-plugin-compat/wiki/Advanced-Browserslist-Configs#inline-eslint-config

This works fine when running eslint at the command line, but not with vscode-eslint. Vscode-eslint ignores the browserslist config defined as

[2020-10-28 13:41] Luqir opened #1103 "此插件不支持.开头的文件夹"
比如 vuepress 的核心文件夹 .vuepress ，eslint 不能在此类文件夹中正常显示。

[2020-10-28 14:26] jrm2k6 commented on #1096
@dbaeumer I think I had something related to this extension https://marketplace.visualstudio.com/items?itemName=rbbit.typescript-hero conflicting. Removing that extension fixed it.
Sorry for the red herring.

[2020-10-28 14:26] #1096 closed

[2020-10-28 16:28] myasonik commented on #1055
I got a trace!

[code]

And in case it's relevent, some random settings that seem related?
[code]

[2020-10-28 17:51] Domiii commented on #1098
Aha!

Problem was that my `settings.json` has no `eslint.enable` in it at all!
Adding `eslint.enable: true` fixes it.

It is an option that has now been deprecated, but  since it defaults to false, omiting it still disables all of `eslint`.

The fix would be for the developers to set the default to `true`, and as long as it does not happen, use the manual override as a workaround.

Oh... you just

[2020-10-28 18:00] alisa-alisa commented on #1095
@emuguy1 I have exactly the same problem. I added trace service line but still has the same issue. Could you please advise me what helped you?

[code]

[2020-10-28 19:00] emuguy1 commented on #1095
I did exactly what you can already have done. Sounds like another issue. sr.

[2020-10-28 23:19] olafurkarl commented on #1055
I had this issue today, which I believe was triggered by me importing an enormous javascript data file (>3MB).
Making eslint ignore the file, and then doing 'Clear Editor History' made the issue go away. Before clearing history the issue would linger.

[2020-10-29 05:11] josh-hemphill opened #1104 "Option to disable vscode user settings from workspace settings?"
What the title says.
I have global user settings that conflict with various repositories, there should be some way for the workspace settings in the repository to reject all settings that are higher in the hierarchy.
I've tried explicitly the base and `overrideConfigFile` without success. Defining `"root":true` and/or `"rulePaths":["./"]` doesn't do it either.

[2020-10-29 08:03] dbaeumer commented on #1104
@josh-hemphill it sounds like you are asking for a general VS Code feature. I would therefore suggest you file an issue against VS Code itself. If you think that is ESLint specific can you please explain.

[2020-10-29 08:15] josh-hemphill commented on #1104
Yes, sorry, I'm talking about ESLint rules specifically. If rules are defined in User settings, then there is no way to clear them just for that workspace and use the workspace's rules or the file-defined rules only.
It's particularly annoying when you have a rule defining indentation in user settings, and the workspace doesn't define the rule explicitly, because it's just inheriting the defaults.

[2020-10-29 10:24] dbaeumer commented on #1055
@myasonik thanks.

Interestingly the linter hangs on a configuration file of the repository which tries to sync get a port. I am pretty sure that this can hang the same in the terminal.

I am not sure what the ESLint extension can do about this except offering a command to reload ESLint. Does anyone know why the validation of a file in ESLint needs to load a webpack configuration file.

[2020-10-29 10:26] dbaeumer commented on #1104
@josh-hemphill can you provide me with an example? Why would you configure ESLint rules in a vscode settings file?

[2020-10-29 10:29] yuan9090 commented on #977
try:
[code]

[2020-10-29 10:29] dbaeumer commented on #1098
Actually the setting defaults to `true`. https://github.com/microsoft/vscode-eslint/blob/master/package.json#L39

[2020-10-29 10:30] dbaeumer commented on #1096
No problem.

[2020-10-29 10:31] dbaeumer commented on #1103
@Luqir can you please provide the description and title in English.

[2020-10-29 10:32] dbaeumer commented on #1102
@jens-t can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-10-29 11:53] josh-hemphill commented on #1104
@dbaeumer Now that I think about it, it doesn't make quite as much sense, but I use it as a default for all of my personal projects so I only have to copy it into a file if I plan to publish the project. With the current synchronization options it might make more sense to stick it all in a user snippet instead. Though if it's not super involved, it might be nice to have boolean option just to excl

[2020-10-29 12:19] dbaeumer commented on #1104
I have to say I am still not understanding your request. Can you please provide me with an example.

[2020-10-29 13:25] josh-hemphill commented on #1104
Having settings like the following let me just open an empty folder and start writing some `.js` files for testing/data-manipulation without adding any `.eslintrc` files `package.json` or anything else. And if vscode-eslint is also my formatter, this means all my code just auto-fixes/formats to my preferred style without additional configuration.

[code]

[2020-10-29 13:39] josh-hemphill commented on #1104
Oh, you mean of a solution? Having a config property in workspace settings like `eslint.mergeUserOptions: false` which would exclude user settings from being passed to `eslint.options`. Or to make it a little more consistent, maybe just let `eslint.options` or `eslint.options.rules` be set to false to only allow options/rules from files, completely bypassing rules or options in vscode settings.

[2020-10-29 15:23] chandlerprall commented on #1055
Looks like its the `eslint-import-resolver-webpack` plugin, which makes sense. We can clean up the sync port detection in the project to avoid it when not explicitly running the dev server.

[2020-10-29 20:29] jens-t commented on #1102
During trying to reproduce this behaviour in a test repo, i noticed this is not a vscode-eslint bug, it is caused by eslint-plugin-compat itself. I will add an issue there.

Sorry, closing here.

[2020-10-29 20:29] #1102 closed

[2020-10-29 22:09] timroes commented on #1055
I've checked the other project where this happened for me. No `eslint-import-resolver-webpack` in there, but `eslint-import-resolver-node` (via `react-scripts` since it's a Create React App application). Maybe this is having similar problems.

[2020-10-29 22:19] timroes commented on #1055
Reloading eslint would already be a huge benefit. I am so far always using the "Developer: Reload Window", but only reloading eslint would be nicer. I am wondering if there might be different plugins which can be stuck in that way and if vscode-eslint could be "more smart" about detecting those hangs independent on what crashed freezes eslint somehow? (Don't know the internals of this plugin to kn

[2020-10-30 11:52] dbaeumer commented on #1055
I will look into providing a reload command. Detecting these cases is not easy. I will look into whether I can auto attach a debugger and then try to get a stack dump when the server becomes unresponsive for a certain time.

[2020-10-30 11:58] dbaeumer commented on #1104
Although you can use the `eslint.options` for this it is by far not the recommended way. It is more there to pass options that you typically pass as a command line argument to the eslint command in the terminal.

You can achieve the same by having a `.eslintrc.json` file in you home folder.  Then this even works nicely when running ESLint in the terminal.

I am actually against extending the ESlin

[2020-10-30 12:04] timroes commented on #1055
Could there be a setting like `killAfter` that could automatically trigger the reload after it became unresponsive for some time? This could be off by default so users not running into those problems will never be affected by it, but for us in this thread knowing we might run into it we could use it to automatically have eslint reload?

[2020-10-30 15:28] josh-hemphill commented on #1104
Yeah, I'm going to change how I'm doing, though it might come up again for some other use case where `eslint.options` in the user settings conflicts with workspace settings.

[2020-10-30 15:28] #1104 closed

[2020-10-30 18:10] #954 closed

[2020-10-30 20:07] leandro-manifesto commented on #477
@rusakovic I'm using ESLint and Typescript-ESLint and that workaround **doesn't** work, the error just stays there.

But reloading the window works, obviously.

[2020-10-31 00:58] charkour commented on #1055
Not sure if this is applicable to this conversation, but the Getting Code Actions from "ESLint" was hanging because I had conflicting rules in my ESLint config. One was an ESLint rule, `import/order`, and the other was an ESLint from a plugin `import-order-alphabetical/order`. Removing one of the rules to resolve the conflict fixed my issue of Getting Code Actions to hang.

[2020-11-01 05:34] jrjbertsch commented on #707
I was having the same problem the CRLF/LF toggle does not work.  This can occur when '\n' is a literal rather than an LF character.  Open the file. Select CTRL+H, Select the .* (regex) to the right of the search bar.  Select any '\n' literal in your open file.  You should see \\n in the search bar.  In the replace bar enter \n. Select replace all.  This should do the trick for you.  You'll notice

[2020-11-02 14:13] dbaeumer commented on #1055
Actually I am not a fan of this since it will not help to track down the underlying reason. I will first try to see if I can programmatically attach a debugger and then try to collect a stack trace to see why it is hanging.

[2020-11-02 14:19] dbaeumer commented on #1101
Thanks for raising this. I do agree that improving this will reduce the amount of issues file. So I appreciate this!

Changing the default is IMO not a good idea. Whenever we tried to do this in VS Code there was quite some swirl especially since it can result in a workspace moving from working to not working.

I would rather opt into writing some code on the server side that does some scanning of

[2020-11-02 18:00] denis-sokolov commented on #1101
Alas, I can not contribute further.

[2020-11-03 12:04] ghaiklor-wix commented on #972
Bumping this issue, because when using shared configurations with plugins relative to the configuration, this extensions does not check and provide no errors in VSCode. Calling lint from CLI works though.

[2020-11-03 15:10] dbaeumer commented on #972
@ghaiklor-wix are you saying that you can't use ESLint v7. To my knowledge it still works with the extension the only drawback is that everything is sync. However this doesn't matter to much since I run the validation in a separate node process anyways.

[2020-11-03 15:36] ghaiklor-wix commented on #972
@dbaeumer yes, ESLint does not work in VSCode, no errors from it. Some context...

We are using a separate npm package, where our company shares configuration for ESLint and other tooling. This package has all the plugins as its dependencies. So our projects have only eslint and its configuration package, nothing else, no peer dependencies to eslint to work.

When running such a setup from CLI - i

[2020-11-04 09:57] dbaeumer commented on #972
@ghaiklor-wix this has nothing to do with the V7 API. Rush patches the eslint command which makes this work. See https://github.com/microsoft/vscode-eslint/issues/1040#issuecomment-669193727 for details.

[2020-11-04 13:14] ghaiklor-wix commented on #972
@dbaeumer

In the issue you gave a link, the solutions was:

It was required for ESLint v6, yes, but ESLint v7 changes the way how it resolves plugins, so the solution from the issue with `resolve-plugins-relative-to` is no longer required, because it is the default behaviour in ESLint v7. And still, it does not work.

[2020-11-05 01:18] drew-royster opened #1106 "I chose "Allow" every time this popup appeared, and now my auto-format on save has stopped working!"
This has also happened to me.

ESLINT output shows

[code]

I chose "Allow" every time this popup appeared, and now my auto-format on save has stopped working!

_Originally posted by @sarahsga in https://github.com/microsoft/vscode-eslint/issues/1012#issuecomment-659546167_

[2020-11-05 07:10] dbaeumer commented on #1106
@drew-royster can you share a repository I can clone that demos this. Are you seeing eslint errors in the problems view?

[2020-11-05 07:12] dbaeumer commented on #972
@ghaiklor-wix what happens when you still use the option together with v7.

[2020-11-05 11:21] #1103 closed

[2020-11-05 17:00] ThaJay commented on #1055
It seems to happen reliably for me when I create a new file in a project that has circular depedencies.

If I let it sit for 10 minutes or more, it usually comes back to a fast state, reloading it all seems to work but that also takes time before it all works.

[2020-11-06 06:53] yangsibao89 opened #1107 "There is a spell error in the Details"
![image](https://user-images.githubusercontent.com/31540844/98335306-acdb1700-203f-11eb-93e3-6721e42c806a.png)

the questures,or gestures?

please forgive to my poor English。

i am so confused.

[2020-11-07 02:22] #1106 closed

[2020-11-07 02:23] drew-royster commented on #1106
Apologies I believe that this was a mistake on my end.

[2020-11-09 10:08] SSmale opened #1108 "Unexpected top-level property "overrides[0].extends""
[I am following this tutorial](https://dev.to/bzvyagintsev/migrate-angular-app-to-eslint-with-prettier-airbnb-styleguide-husky-and-lint-staged-862) to add ESlint to my Angular 10 application but get the following error message in the ESLint plugin console:
` Error: ESLint configuration in <FILE> is invalid:
	- Unexpected top-level property "overrides[0].extends".`

I have had a google but have not

[2020-11-09 10:26] denis-sokolov opened #1109 "node_modules is not ignored by default with VSCode Remote"
[By default ESLint ignores](https://eslint.org/docs/user-guide/configuring) `node_modules`, even when it is not included in the `ignorePatterns` configuration option. vscode-eslint follows this pattern when I open the directory normally.

vscode-eslint starts showing linting warnings in node_modules if I open the same directory using [VSCode Remote with SSH](https://code.visualstudio.com/docs/remo

[2020-11-09 11:55] dbaeumer commented on #1109
What happens when you run eslint in the terminal in that setup.

[2020-11-09 11:55] dbaeumer commented on #1108
@SSmale does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-11-09 12:02] SSmale commented on #1108
Hi @dbaeumer,

yes it seems to be working fine in the cli. Unfortunately i can't provide the repo i am working in but will try to get a mini one up together later

[2020-11-09 12:06] denis-sokolov commented on #1109
If I run it in the directory, it ignores node_modules. But notice I can’t (or don’t know how to) reproduce “that setup”, since it’s specific to VSCode Remote protocol. When I run a script in the terminal, the directory is local from the perspective of eslint binary.

[2020-11-09 12:21] SSmale commented on #1108
Ok, so I reloaded the VS Code window and it just worked.... must have been a red herring....

[2020-11-09 12:21] #1108 closed

[2020-11-09 12:38] SSmale opened #1110 "@angular-eslint/component-selector highlighting in vscode-eslint extension"
Hi,

Not sure where the issue would lie so have created an issue in both projects

https://github.com/angular-eslint/angular-eslint/issues/174

[2020-11-09 12:39] dbaeumer commented on #1106
No problem.

[2020-11-09 12:41] dbaeumer commented on #1055
Circular project dependencies or files.

[2020-11-09 12:43] dbaeumer commented on #1107
Fixed. It is gestures

[2020-11-09 12:43] #1107 closed

[2020-11-09 12:45] dbaeumer commented on #1109
The same is true for the ESLint extension. VS Code remotes the extension into the other 'machine'. SO the extension does see the same as the terminal does.

Can you provide me with a GitHub repository that demos this and instructions which remote setup you are using?

[2020-11-09 12:46] dbaeumer commented on #1110
@SSmale does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-11-09 12:57] SSmale commented on #1110
Please ignore this, i was getting my settings mixed up. Sorry

[2020-11-09 12:57] #1110 closed

[2020-11-09 13:26] denis-sokolov commented on #1109
I see. It’s really unexpected then I receive such behavior. As I’ve said, VSCode on the machine correctly ignores node_modules, only VSCode over SSH does not. I was making an assumption it’s working directory related, that the remote folder is opened as a sort of FUSE path, and that’s what makes it different. If it actually runs on the remote machine, it should behave the same way.

I see, given t

[2020-11-10 07:09] Joshua-Leee opened #1111 "Eslint running times error: Failed to load plugin 'js' declared in 'CLIOptions': Cannot find module 'eslint-plugin-js'"
I have the ESlint plug-in installed in the VSCode editor, and I also have the ESlint tool installed globally, but eslint always reports this error whether it's on the VUE project or the React project：
[code]
I have even reinstalled Vscode several times, but it still doesn't work. The following is the content of my vscode configuration file. I hope someone can give me some Suggestions on how to sol

[2020-11-10 08:48] dbaeumer commented on #1111
@Joshua-Leee this looks like a problem with ESLint itself. If you try to run ESLint in the terminal does it work? The extension only works correctly if validation works correctly in the terminal.

[2020-11-10 08:50] dbaeumer commented on #1109
We architecture remote in a way that it sees the same files and layout as if it would run in a local machine to avoid exactly problems that would come up if you would mount the remote FS into a local machine.

[2020-11-10 08:58] #1111 closed

[2020-11-10 09:01] Joshua-Leee commented on #1111
I reinstalled Node, NPM, and YARN, and now this is the case. I run my project on the ZSH terminal on MAC, and ZSH shows some esLINt detection tips, as follows:

I reinstalled Node, NPM, and YARN, and now this is the case. I run my project on the ZSH terminal on MAC, and ZSH shows some esLINt detection tips, as follows:
[code]
I think Eslint is working, but when I edit my code in Vscode, Eslint sti

[2020-11-10 09:08] Joshua-Leee commented on #1111
There are other cases, like the same React project, running on my colleague's computer, his editor can tell me that the array of dependencies on react hooks are missing or wrong, my editor doesn't work, I think it's the eslint plug-in that's not working, that's causing this.

[2020-11-11 08:55] dbaeumer commented on #1111
What happens if you validate `/Applications/MAMP/htdocs/react-demo/teach-system-react/src/pages/Layout/LayoutHeader/index.js` in the terminal.

[2020-11-13 04:02] vdh commented on #477
this plugin has started caching a bad file path somewhere hidden, causing false positive results that the normal CLI does not report, and it's driving me crazy trying to find a way to clear this plugin's cache 😞

[2020-11-13 09:53] Morriz opened #1112 "jsonschema: eslint.codeActionsOnSave.mode has no default"
Maybe this escaped attention? Me so nitpick ;p

[2020-11-13 09:55] Morriz opened #1113 "jsonschema: source.fixAll.eslint does not seem to exist"
Hi, when asking for the options of `source.fixAll.` vscode gives nothing.

Version: 1.51.0
Commit: fcac248b077b55bae4ba5bab613fd6e9156c2f0c
Date: 2020-11-05T18:14:40.758Z (1 wk ago)
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

[2020-11-13 09:55] Morriz commented on #1112
Version: 1.51.0
Commit: fcac248b077b55bae4ba5bab613fd6e9156c2f0c
Date: 2020-11-05T18:14:40.758Z (1 wk ago)
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

[2020-11-13 10:52] Morriz opened #1114 "shouldFix parameter was false, not attempting fixes"
Hi, recently the fixing stopped working:
[code]
I am using this config:
[code]
I did upgrade to node 14, but the extension found it and is working as you can see from the output.

[2020-11-13 10:53] Morriz commented on #1114
Version: 1.51.1
Commit: e5a624b788d92b8d34d1392e4c4d9789406efe8f
Date: 2020-11-11T01:11:34.018Z (2 days ago)
Electron: 9.3.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

[2020-11-13 11:16] Morriz commented on #1114
nevermind, it was a regression in the workings of plugin:prettier/recommended, as it was working before (all year up till now) without excplicitly registering it. It now needs to be registered before the rest of the prettier config:
[code]

Hope this report is of help to others suddenly without auto formatting.

[2020-11-13 11:16] #1114 closed

[2020-11-13 12:03] eurobob commented on #1055
I started a new project to try and get to the bottom of this, and for me the hanging on code actions occurred once I tried to include this plugin: `eslint-plugin-import-order-alphabetical`

package.json
[code]

.eslintrc
[code]

tsconfig.json
[code]

.prettierrc
[code]

[2020-11-13 13:00] charkour commented on #1055
@eurobob, is it possible you have settings configured in your workspace or user level in VSCode to auto-organize imports in addition to the ESLint alphabetize? I was experiencing the "Getting Code Actions" hanging behavior when I had two conflicting formatters trying to organize my imports in different ways. One was an ESLint rule and the other was in my editor workspace settings. Removing one sol

[2020-11-13 16:16] dbaeumer commented on #1112
Hmm, it does: https://github.com/microsoft/vscode-eslint/blob/master/package.json#L370

Can you clarify what you mean.

[2020-11-13 16:18] dbaeumer commented on #1113
@mjbvz is there any way I can contribute to the value set of that setting. I don't own the code action setting, I only contribute a value.

[2020-11-13 18:41] 06000208 commented on #1086
I've started experiencing this issue again with vs code 1.51.1 and eslint extension 2.1.13, but only with certain files in certain repositories, so I've produced [this repo]() which seems to replicate the issue consistently.

It contains working.js (which eslint formats as expected) alongside broken.js in the `/.example/` folder, which returns the error:

![image](https://user-images.githubusercon

[2020-11-13 20:33] osharaki opened #1115 "ESLint cannot find tsconfig.json in a Firebase project"
I have a Flutter project with a Firebase project located in a directory (called cloud) within it. I have an _index.ts_ file located at _cloud/functions/src_. The Firebase project structure looks like this:

![image](https://user-images.githubusercontent.com/38385026/99115601-f6ed6b00-25f2-11eb-8588-fd830f5cbd7c.png)

For some reason, I get an error on the `import` keyword in the first line of _ind

[2020-11-13 20:47] sn0rcha commented on #1086
Here we go again, I'm also experiencing this issue since the new update yesterday.

[2020-11-15 18:50] denis-sokolov commented on #1109
I can reliably reproduce the problem with a particular project directory that I have, but I am unable to create an independent reproduction.

The closest I’ve got is noticing that if I use the exact same directory with the exact same file, but I move it (rename it), then the editor starts behaving correctly. This implies there’s some state preserved somewhere that is bound to my project path, but

[2020-11-15 18:50] #1109 closed

[2020-11-16 04:09] vdh opened #1116 "Plugin cannot handle filename case changes"
When a file is renamed in a way that changes case (e.g. `components/foo.jsx` to `components/Foo.jsx`), the plugin never stops caching the previous file's pathname. Even after reloading the window or restarting VSCode, it still reports false-negatives on the file (e.g.`Filename 'foo' must match the exported and transformed name 'Foo'.` for the `filenames/match-exported` rule). The ESLint CLI doesn'

[2020-11-16 08:23] dbaeumer commented on #1116
@vdh can you please provide me with a GitHub repository I can clone that demos what you are experiencing. This ensure I test it with the same setup. This might be a problem with VS Code itself. I don't know if VS Code changes the URI on case insensitive file systems in that case.

[2020-11-16 08:25] dbaeumer commented on #1109
@denis-sokolov thanks for the information. I will have a time limited look to see if I notice something.

[2020-11-16 08:27] dbaeumer commented on #1086
@06000208 can you please add a package.json file to the repro so that I install the same eslint and plugin versions.

[2020-11-16 08:28] dbaeumer commented on #1115
@osharaki  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-11-16 08:30] dbaeumer commented on #1055
@eurobob can you share that setup in a repository I can clone including some source files showing the problem.

[2020-11-16 08:31] dbaeumer commented on #477
@vdh a window reload does a hard reload of the ESLint server. So even a command as requested in this issue will not help you.

[2020-11-16 09:11] osharaki commented on #1115
`npm run lint` works fine. I created a dummy repo [here](https://github.com/osharaki/firebase-eslint) that reproduces the error.
Don't forget to run `npm install` inside the */functions* directory.

[2020-11-16 17:02] isaacparker2 opened #1117 "ESLint typing imports from custom paths as "any""
I've defined custom paths in tsconfig.json, and though the compiler finds/types them correctly and eslint itself seems to work correctly when running in the terminal, within VSCode I get errors when trying to use imports from these custom paths. The linting errors I get are come from rules including "no-unsafe-call", "restrict-template-expressions", "no-unsafe-access", and are all explained as due

[2020-11-16 18:48] sepehr500 commented on #1055
This drove me crazy for a long time. But I figured out what was happening. In my case, vscode had accidentally auto imported `import { collapseTextChangeRangesAcrossMultipleVersions } from "typescript";` and I didn't notice. This is what was causing eslint to be super slow. When I removed it things were back to normal. Not why eslint is analyzing npm modules like this, but maybe we should add a fl

[2020-11-17 02:39] vdh commented on #1116
Here's a minimal reproduction I was able to make: https://github.com/vdh/rename-issue-test

If the problem doesn't appear in VSCode after a clone and `npm install`, you might have to check out the previous commit (`8842e4008dde82ad1b1ad566e27c5ea5cbf27122`), open the file in VSCode, then check out the rename commit (`95ad5f537a468cebf4ec878c047fd528048a4abd`).

For context I'm currently on macOS C

[2020-11-17 02:40] 06000208 commented on #1086
@dbaeumer Added, and updated the readme to consolidate version info posted above. Didn't think of that as my eslint was globally installed and the original private repo didn't have a package file.

[2020-11-17 08:37] dbaeumer commented on #1086
@06000208 by default eslint (the npm module) ignores files and folders starting with a . This is the same when you run eslint on the command line. You can use the setting `"eslint.onIgnoredFiles": "warn"` to tell the extension to warn you about these ignored files.

[2020-11-17 08:55] dbaeumer commented on #1116
@vdh thanks for the repository. How do you do the rename. I tested it with renaming inside VS Code and there everything works for me:

![cast](https://user-images.githubusercontent.com/1931590/99368068-08689880-28bb-11eb-84ac-06748980ecad.gif)

[2020-11-17 09:00] dbaeumer commented on #1116
If I checkout `8842e4008dde82ad1b1ad566e27c5ea5cbf27122` open the file and then checkout master again VS Code correctly shows me that the old file got deleted and when opening the new one no errors are shown.  Can you please add some steps.

[2020-11-17 09:02] dbaeumer commented on #1055
@sepehr500 in this setup do you see a slow down when running eslint in the terminal?

[2020-11-17 10:05] dbaeumer commented on #1117
When running eslint in the terminal in which working directory do you do that. It it is not the workspace root then you need to let the eslint extension know about such a working directory setup using the `eslint.workingDirectories` setting.

I actually guess that when you run eslint in the terminal you do that in `packages/package1`

[2020-11-17 10:07] dbaeumer commented on #1117
Without a working directory setup the terminal and the extension produces the same result

<img width="664" alt="capture" src="https://user-images.githubusercontent.com/1931590/99376336-14f1ee80-28c5-11eb-8134-6a2b466cda8e.png">

<img width="680" alt="capture" src="https://user-images.githubusercontent.com/1931590/99376369-21764700-28c5-11eb-9203-8030ac5b2dac.png">

[2020-11-17 10:11] dbaeumer commented on #1115
Actually you see the same problem when running eslint in the terminal in the workspace root

<img width="744" alt="capture" src="https://user-images.githubusercontent.com/1931590/99376667-8467de00-28c5-11eb-8c32-dc91586fef1c.png">

Validation works correctly when running inside the `functions` folder. So you need to let the extension know about this working directory setup using the `eslint.workin

[2020-11-17 10:11] #1115 closed

[2020-11-17 13:33] Morriz commented on #1112
Thanks for the quick reply.

But I don't see it:

<img width="1009" alt="Screen Shot 2020-11-16 at 17 14 25" src="https://user-images.githubusercontent.com/941865/99396272-d585cb00-28e1-11eb-9ed0-f9e1afd8d1c0.png">

<img width="1018" alt="Screen Shot 2020-11-17 at 14 28 43" src="https://user-images.githubusercontent.com/941865/99396304-df0f3300-28e1-11eb-9341-fc59dd7667bc.png">

[2020-11-17 13:34] Morriz commented on #1112
Thanks for the quick reply.

But I don't see it:

[2020-11-17 13:35] Morriz commented on #1112
Maybe it's a yaml extension quirk. They have some when it comes to enum types and default values.

[2020-11-17 14:01] isaacparker2 commented on #1117
Ah, adding eslint.workingDirectories to `.vscode/settings.json` in the root fixes it!

[code]
Thanks so much for taking the time to help!

[2020-11-17 14:01] #1117 closed

[2020-11-18 07:58] michalkvasnicak opened #1118 "Extension eslint cannot format .../[id]/index.tsx files"
I use eslint as a formatter for `.tsx?` files but it is unable to format files that contain `[]` in the path. I found that it was mentioned in #1086 in comment https://github.com/microsoft/vscode-eslint/issues/1086#issuecomment-716451836.

It doesn't work for `[id]/index.tsx` and `[id].tsx`

![image](https://user-images.githubusercontent.com/174716/99501136-a328ac00-297b-11eb-94f7-db7fcc1b0df4.png

[2020-11-18 10:12] dbaeumer commented on #1118
This works for me with js files. In the extension there is no difference between tsx / js or ts files in regards to formatting. Can you provide me with a Github repository I can clone that demos what you are seeing.

<img width="744" alt="capture" src="https://user-images.githubusercontent.com/1931590/99516793-e50f1d80-298e-11eb-94ab-f4b0b4b3884c.png">

[2020-11-18 10:17] Morriz commented on #1112
Sure, try any other boolean: it will show the word "default" top right for one that is set as such.

[2020-11-18 10:20] Morriz commented on #1112
<img width="431" alt="Screen Shot 2020-11-18 at 11 19 26" src="https://user-images.githubusercontent.com/941865/99517789-10463c80-2990-11eb-8a5d-bfeacd8e43fa.png">

[2020-11-18 10:21] Morriz commented on #1112
I see a lot of the spec's defaults are not showing this now...but some are...very strange

[2020-11-18 14:28] joealden commented on #387
@dbaeumer I can see that this issue is currently part of the "On Deck" milestone, could you please clarify what this means? I would presume that it means that it hasn't yet been put into a release milestone, but is one level above "Backlog" in terms of priority? I'm wondering as I recently ran into this when settings up [`import/no-unused-modules`](https://github.com/benmosher/eslint-plugin-import

[2020-11-18 14:50] dbaeumer commented on #387
@joealden your interpretation is absolutely correct.

[2020-11-18 14:51] dbaeumer commented on #1112
@aeschli do you know when we show the default value in the code complete. I did define it here:  https://github.com/microsoft/vscode-eslint/blob/master/package.json#L370

[2020-11-18 15:09] willian opened #1119 "Reopening: issue with eslint-plugin-cypess"
Reopening issue #1061

I have two React apps that use the same versions of `eslint`, `cypress`, and `eslint-plugin-cypress`. The only difference is that one app was bootstrapped using create-react-app and the other was not.

Unfortunately, I can't publish that PR publicly anywhere, it's a private project.

## The problem

Every time VSCode tries to run ESLint it shows me an error:
![image](https:/

[2020-11-18 15:16] willian commented on #1119
The issue does not happen on NeoVim:
<img width="1387" alt="Screen Shot 2020-11-18 at 12 14 31" src="https://user-images.githubusercontent.com/19230/99548636-9f0a8780-2997-11eb-92a5-91164f2b0228.png">

Same file with same linter error on VSCode:
<img width="1392" alt="Screen Shot 2020-11-18 at 12 16 17" src="https://user-images.githubusercontent.com/19230/99548880-ded16f00-2997-11eb-8c4a-730fda109

[2020-11-18 15:28] willian commented on #1119
Both react apps and another backend app that uses Rails are in the same monorepo. I realized that the problem I am having only happens if I open the entire monorepo in VSCode. But, if I open only the directory of that `saf-ops` app, the linter works just fine.

So, I am assuming that, for some reason, the extension could be using the wrong executable when running eslint, and it causes the configur

[2020-11-18 15:48] willian commented on #1119
Okay, I found the fix for the issue. I added the following to my `settings.json` and everything is working now:
[code]

[2020-11-18 15:48] #1119 closed

[2020-11-19 03:48] vdh commented on #1116
I think this might be an issue with VSCode and case-insensitive file systems (WSL emulates Linux which is case-sensitive, so you probably didn't encounter it).

This issue looks like it might be what I'm experiencing, based on the similar misbehaving tabs, and something bad being cached somewhere inside the `workspaceStorage` folder: https://github.com/microsoft/vscode/issues/102627 It's unfortuna

[2020-11-19 07:34] aeschli commented on #1112
Yes, that should work.

[2020-11-19 07:41] dbaeumer commented on #1112
@aeschli do you know why it doesn't. See screen shot here: https://github.com/microsoft/vscode-eslint/issues/1112#issuecomment-728929799

[2020-11-19 07:43] dbaeumer commented on #1116
Let me test this on Windows then.

[2020-11-19 08:47] Kirun1 opened #1121 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `2.1.13`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.51.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\ps\AppData\Local\Temp\dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain

[2020-11-19 13:13] dbaeumer commented on #1116
Reopening...

[2020-11-19 13:15] #1116 closed

[2020-11-19 13:25] dbaeumer commented on #1121
@Kirun1 can you please attach the cpu profile.

[2020-11-19 17:13] davemckenna01 commented on #1098
I'm having the same problem. All of a sudden now when I CMD+Shift+P and try and find `>eslint: enable` it doesn't show up. And when I click `>eslint: show output channel` I get the message:

[code]

It's like it doesn't realize that the file is a Javascript file?

Here's my `.eslintrc.js`:

[code]

[2020-11-20 09:05] numanaral opened #1122 "How to enable eslint intellisense / suggestions for the rules property in .eslintrc.js"
I wanted to see the rules and their props via intellisense and modify them without having to go to the eslint website. I came across #124 which provides the following solution but it's only displaying the first level suggestions and not the inner ones:

### Referenced Solution:

[code]

_Originally posted by @DanielRosenwasser in https://github.com/microsoft/vscode-eslint/issues/124#issuecomment-6

[2020-11-20 10:26] MLKiiwy opened #1123 "Eslint cannot format document that are too deep in the filetree ..."
Took me a while to reproduce the issue. The plugin cannot accept file that are deeper than 6 directories ...

I have a document under `packages/ask-generic-react/src/theme/storybook/text/index.stories.tsx` -> if I try to format it with eslint using the command Format or in autosave, I get a error message in the taskbar "Cannot format document ...."

If I move the same file, one level upper in the

[2020-11-20 12:58] dbaeumer commented on #1123
Works for me.

![cast](https://user-images.githubusercontent.com/1931590/99802689-68b83e00-2b38-11eb-81b5-8e8de75f2bfa.gif)

Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-11-20 13:02] MLKiiwy commented on #1123
Sorry I can't with my actual repo, it's a company private one.

[2020-11-20 13:07] dbaeumer commented on #1122
@numanaral thanks.

However there is nothing I can do in the ESLint extension to make this work out of the box. I will therefore close the issue, but others can still access it.

[2020-11-20 13:07] #1122 closed

[2020-11-20 13:14] numanaral commented on #1122
No problem!

Yes, that's understandable. This is just to have an easy way out to enable intellisense :)

[2020-11-20 13:32] dbaeumer commented on #1123
Can you distill something?

[2020-11-20 21:59] NicolasBuecher commented on #1055
Hello guys, I'm running into this issue for 3 days now, in a private repo (sorry) using Typescript.

On other repos using only JS, everything works great.

As I recently switched to this TS repo, I'm not sure if the issue came with the recent Typescript support or not.
I can see in my `settings.json` file that I was using the depreciated `eslint.validate: [typescript, typescriptreact]` and I don't

[2020-11-20 22:03] sepehr500 commented on #1055
@dbaeumer I see the slowdown when running eslint in the terminal as well.

[2020-11-21 14:52] entropitor opened #1124 "Document eslint-server"
Right now, there is no documentation on the server part. It would be nice if there is some documentation on what needs to be done to support this for non-vscode editors

[2020-11-21 17:02] entropitor opened #1125 "Do not use Number.MAX_VALUE but 2147483647"
E.g.
https://github.com/microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L1833
and
https://github.com/microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L1729

Because
https://github.com/microsoft/vscode-languageserver-node/blob/3690f97c7997d883fcc97d365e5e1d5c3af4dd31/types/src/main.ts#L131-L138
namely
https://github.com/microsoft/vscode-languageserver-node/blob/3690f97c

[2020-11-23 09:38] dbaeumer commented on #1125
Agree, especially since in 3.16 version of the spec integer and integer are defined.

[2020-11-23 09:41] #1125 closed

[2020-11-23 09:43] dbaeumer commented on #1124
Folding with #1003. The only part missing there is the documentation. I am happy to accept another PR for this.

[2020-11-23 09:43] dbaeumer commented on #1113
@mjbvz ping!

[2020-11-23 09:47] dbaeumer commented on #1055
@sepehr500 thanks.

@NicolasBuecher I think your problem is unrelated to the slowness described in these issues since ESLint is not working in your setup in the first place. Are you suing a mono repository?

[2020-11-23 09:59] dbaeumer commented on #1055
@NicolasBuecher I would still like to understand why this is happening for you. Would you be able to distil a reproducible case  or share the project with me using another channel than a public GitHub repository?

[2020-11-23 17:36] entropitor commented on #1125
Is `uinteger.MAX_VALUE` something that needs to be added to the shared library? If so, is there a link to a ticket somewhere?

[2020-11-24 03:47] NicolasBuecher commented on #1055
No it's not, there is only one `package.json` file at the root.
But I can tell there are several `.eslint.rc` files.
One at the root and one in `./src`. The latter contains the` typescript-eslint` rules. Because only `./src` dir contains TS files.

<details>
  <summary>Just in case, here is the structure of the project (I opened folders with `.eslint.rc` inside)</summary>

![image](https://user-im

[2020-11-24 05:29] hjhopp commented on #1086
I am having this issue too since updating VSCode.

[2020-11-24 07:51] mjbvz commented on #1113
@dbaeumer See https://github.com/microsoft/vscode/issues/82718

For now, you can try use schema augmentation for the settings.json. See what tslint does for `plugins` in `tsconfig` files for example: https://github.com/Microsoft/vscode-typescript-tslint-plugin//blob/f9fdfa554fbb9af192d39d7947001ddff043ae8b/package.json#L50

[2020-11-24 08:56] dbaeumer commented on #1113
@mjbvz thanks!

[2020-11-24 08:57] dbaeumer commented on #1086
@hjhopp can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-11-24 08:58] dbaeumer commented on #1125
I already added it but didn't release a new version yet.

[2020-11-24 09:07] greenhat616 opened #1126 "can't detect eslint-config-standard"
OK, the node env is based on WSL 2. VSCode is running at Windows 10 20H2 x86.
VSCode Version Details:
![image](https://user-images.githubusercontent.com/41122242/100072928-cff72a80-2e77-11eb-9dfa-973278365da4.png)
![image](https://user-images.githubusercontent.com/41122242/100072977-ddacb000-2e77-11eb-9661-1297d075665e.png)

Some version details:
[code]
if used eslint directly, the log is below(wi

[2020-11-24 14:37] dbaeumer commented on #1126
I cloned the repository and I think this is due to how yarn installs the node modules (e.g. there is no `node_modules` folder). And I think they do something special if you later on execute `yarn lint`. Can you explain which yarn mode this is.

[2020-11-24 14:40] dbaeumer commented on #1126
Installing the packages using npm works as expected.

[2020-11-24 16:59] greenhat616 commented on #1126
yes. it used pnp(a yarn 2,called berry also, feature). Before standard v16, it seems work by `yarn pnpify --sdk vscode`. But now, it doesn't work as expexted.(however, the eslint can parse it correctly by command)

---Original---
From: "Dirk Bäumer"<notifications@github.com&gt;
Date: Tue, Nov 24, 2020 22:40 PM
To: "microsoft/vscode-eslint"<vscode-eslint@noreply.github.com&gt;;
Cc: "Jonson Petard"<

[2020-11-24 18:16] hjhopp commented on #1086
https://github.com/hjhopp/frameshift-client I have eslint globally installed.

[2020-11-24 18:38] dbaeumer commented on #1126
There was a long discussion about this here https://github.com/microsoft/vscode-eslint/issues/601 and the yarn community addressed this by also wrapping ESLint in that setup. May be something broke on there end. Have you tried what is described here: https://github.com/microsoft/vscode-eslint/issues/601#issuecomment-518743322.

The reason why it works in the terminal is that you run the `yarn lint

[2020-11-24 20:54] sandy081 opened #1127 "Synchronise always allow key"
When Settings Sync is on and if accept `Allow Everywhere` key in following eslint dialog, it shall be synced in all machines.

<img width="581" alt="image" src="https://user-images.githubusercontent.com/10746682/100150205-99cda100-2e9f-11eb-98ad-6b5924cafc37.png">

[2020-11-25 01:20] greenhat616 commented on #1126
yes, i have tried. vscode eslint can parse plugin&config(prettier) successfully in PnP mode. Just `eslint-config-standard` v16  not work currently

[2020-11-25 11:01] #1118 closed

[2020-11-25 12:22] dbaeumer commented on #1126
Actually I am lost here. If someone from the community knows how to address this, I appreciate any help.

[2020-11-25 12:47] dbaeumer commented on #1126
I read a little in the yarn documentation and running `yarn pnpify --sdk vscode` in the project made everything work for me.

[2020-11-25 12:48] dbaeumer commented on #1126
Will close the issue for now.

[2020-11-25 12:48] #1126 closed

[2020-11-25 12:48] #1127 closed

[2020-11-25 13:04] dbaeumer commented on #1086
Does validation happen correctly in the terminal? Usually eslint doesn't like if eslint itself is installed globally and extensions / plugins locally.

[2020-11-25 14:20] vzaidman opened #1129 "Improved TypeScript detection"
Hey I saw

In changelog. Can you explain what it does, please?

Can I run the extension with TypeScript?

[2020-11-25 15:29] dbaeumer commented on #1129
Yes, you can run the extension with TypeScript. See https://github.com/typescript-eslint/typescript-eslint on how this works in ESLint itself.

[2020-11-25 15:29] #1129 closed

[2020-11-25 15:51] vzaidman commented on #1129
thanks!
can you please explain how `eslint.validate` works with typescript?

[2020-11-25 17:23] hjhopp commented on #1086
Yes. It seems like the `eslint-plugin-jest` package was not seeing my global `eslint` installation. Running `npm link eslint` in the root directory cleared this up. Thank you!

[2020-11-25 17:26] tpoppen opened #1130 ""Casing of {file path} does not match the underlying filesystem" Mac"
![image](https://user-images.githubusercontent.com/6015146/100261857-fc12ba00-2f10-11eb-91cd-38fc0a79f1fb.png)

The file path and casing does match.

This issue started happening a couple days ago. I've reloaded the VSCode window, I've restarted VSCode, tried uninstalling and reinstalling the extension, and have restarted my machine several times.

[2020-11-26 07:55] dbaeumer commented on #1129
With `eslint.validate` you can force TypeScript validation. But I am not aware of a single case right now where this is necessary. TypeScript is validated correctly if ESLint is configured correctly to do so.

[2020-11-26 08:02] dbaeumer commented on #1130
Did you rename those lately. There is an issue in VS Code that keeps the old casing of a file when listed in the editor group. Removing them all there should get you into a clean state again.

I fixed this in ESLint, but haven't released a new version yet. Will come mid Dezemeber.

Dups https://github.com/microsoft/vscode-eslint/issues/1116

[2020-11-26 08:12] JounQin opened #1131 "`.mdx` files are not been validated via `eslint.options#extensions` correctly"
Context: https://github.com/mdx-js/eslint-mdx/issues/250#issuecomment-734143015

[2020-11-26 08:38] vzaidman commented on #1129
gotcha. for me it worked only when I used:
[code]

[2020-11-26 14:09] tpoppen commented on #1130
No, they were brand new files, only one name was given to them.

[2020-11-26 14:16] dbaeumer commented on #1130
Because is sounded like being a dup of #1116 and you can always comment on closed issues.

Does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-11-26 14:19] #1121 closed

[2020-11-26 14:20] tpoppen commented on #1130
Fair enough. I'll work on getting the additional information today and tomorrow between thanksgiving events. Thank you.

[2020-11-27 07:52] dbaeumer commented on #1130
Great. Ping when available.

[2020-11-27 07:57] dbaeumer commented on #1131
@JounQin can you provide me with a GitHub repository I can clone that contains a setup for mdx files. Then I look what I can do.

[2020-11-27 14:23] #1123 closed

[2020-11-27 15:01] AndrejGajdos commented on #1055
I have the same issue, but I cannot share my project :(

[2020-11-30 15:28] tpoppen commented on #1130
I tried duplicating it in a fresh project and I can't get it to happen... For now I'm going to close this and investigate if it's something to do with our own configuration or if it's a side effect of our configuration and the duplicate you linked to.

[2020-11-30 15:28] #1130 closed

[2020-12-01 13:00] MatejBransky opened #1132 "JS variables in shareable ESLint config doesn't work"
Hi, I have a problem that VS Code ESLint plugin doesn't work with JS variables in ESLint config. If I remove variables then it works.

ESLint command works in both cases.

working config:
[code]

malfunctioning config:
[code]

ESLint log for malfunctioning config in VS Code:
[code]

`package.json` for shareable config:
[code]

environment:
OS: Windows 10
Node.js: 12.14.0
VS Code: 1.51.1
VS Code ES

[2020-12-01 13:24] dbaeumer commented on #1132
@MatejBransky can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Otherwise it is very hard to ensure that I reproduce the same setup that you have.

One thing that immediately comes to my mind is the `const`. Does it work when you use `let`. The problem might be that the eslint extension run on node `12.14.1` (the version VS Code uses) and that mig

[2020-12-01 13:29] MatejBransky commented on #1132
Thanks for the quick response. I need some free time to create repository with the reproducible issue (it's an internal repository). But I've tried `let` and `var` and none of them fixed the issue.

[2020-12-02 09:44] madandrija opened #1133 "Task to lint the whole workspace does not show up"
I'm using ESLint `2.1.13` with VSC `1.51.1`, I've enabled the option in settings:
![image](https://user-images.githubusercontent.com/44572935/100855643-b0b95800-348a-11eb-9b45-ad2402e87be0.png)

but the the only tasks shown are the ones I have defined in my `tasks.json` (plus the one I recently deleted, which seems to be [working as intended](https://github.com/microsoft/vscode/issues/93931)):

![

[2020-12-02 18:52] dbaeumer commented on #1132
@MatejBransky ping me when you have something ready. And thanks for your willingness to produce it.

[2020-12-03 08:12] dbaeumer commented on #1133
That works for me.

![cast](https://user-images.githubusercontent.com/1931590/100981908-b6c13e80-3547-11eb-8bc0-b26ab5e1f77f.gif)

Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-12-03 16:30] nichalko opened #1134 "VS Code ESLint does not format white spaces"
Hi,

I started fresh with a clean set of extensions and settings, but I can't get ESLint extension to format white spaces.

Gif:
![eslint](https://user-images.githubusercontent.com/22373203/101058136-b8f5be00-3584-11eb-9333-b6fad383fc9d.gif)

Repo to reproduce: https://github.com/nichalko/eslint-vscode-issue

[2020-12-04 08:16] #1131 closed

[2020-12-04 08:31] dbaeumer commented on #1134
@nichalko did you configure eslint as the formatter to use?

If yes, does the validation / fixing happen correctly when you use eslint in the terminal using the `--fix` option?.

[2020-12-04 09:43] nichalko commented on #1134
@dbaeumer I did configure it. Please see latest commit. Also please see below picture, when `--fix` option does not pick up incorrect spacing.

Also, both vsocde and your extension are latest versions.

![Capture](https://user-images.githubusercontent.com/22373203/101147949-f4d86400-3614-11eb-820a-ddcd1853e037.PNG)

[2020-12-05 03:25] minig0d commented on #267
Not sure if it warrants a separate issue, but it looked like one of the more recent issues mentioning this got merged into another which got closed into this one, and there was an older one #222 closed as upstream (but not sure if anything has changed in the past 3 years) so...

What irks me isn't so much that some rules get autofixed at save, it's more that a tiny change (ex moving around a line

[2020-12-06 13:32] hithomasmorelli opened #1135 "Firebase/TypeScript project: 'Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser'"
Related to #1115

When a TypeScript Firebase Cloud Functions workspace is open in VS Code, opening `functions/.eslintrc.js` causes the following error to be presented:

<img width="698" src="https://user-images.githubusercontent.com/22722644/101280324-6e608580-37c0-11eb-8223-3c229d51ee40.png">

In the workspace's `.vscode/settings.json` file, I've set `"eslint.workingDirectories"` to `["./function

[2020-12-07 08:35] dbaeumer commented on #1134
If running eslint in the terminal with `--fx` does not pick up incorrect spacing as well then this is a configuration issue with ESLint itself and has nothing to do with the extension. Can you please try to make eslint in the terminal work as expected and when it then doesn't work in the ESLint extension come back here. You might consider asking questions on stack overflow in the ESLint group.

[2020-12-07 12:59] MatejBransky commented on #1132
I've found out that it's a bug on my side. Sorry. It was caused by this line:
[code]

Thanks for your time. And again sorry about my stupid mistake.

Best regards!

Matej

[2020-12-07 12:59] #1132 closed

[2020-12-08 14:38] dbaeumer commented on #1135
Same happens to me when executing eslint in the terminal.

<img width="694" alt="capture" src="https://user-images.githubusercontent.com/1931590/101497470-4d886380-396b-11eb-8c13-3d0b5aea64c6.png">

Since the extension requires a correctly setup eslint there is nothing I can do except showing the error as well.

I am closing the issue. Please ping if you think there is something that should be add

[2020-12-08 14:38] #1135 closed

[2020-12-08 15:12] hithomasmorelli commented on #1135
Apologies, this appears to be an issue with (or with my setup of) `typescript-eslint`. Sorry for raising it here!

[2020-12-08 16:13] hithomasmorelli commented on #1135
@dbaeumer is there a way to tell vscode-eslint to only lint files that match a specified pattern *within* the `./functions` working directory?

i.e. `npm run lint` on the dummy repo calls `eslint "src/**/*"` - it'd be good if I could set up the VSCode ESLint extension so that it would only lint the files that match that same pattern.

Changing `.vscode/settings.json` to

[code]

doesn't work, as t

[2020-12-08 22:44] #1134 closed

[2020-12-09 09:32] dbaeumer commented on #1135
ESLint itself has support for this. Check for `.eslintignore` files.

[2020-12-10 16:32] Friksel opened #1136 "[2.1.13] Suddenly not resolving modules anymore on working projects"
For some reason the eslint extension cannot find/resolve NONE of the modules anymore on a working project that was finding everything before without issue. It looks like this is a change in the extension I don't know about or an issue.

At first when I saw this I thought I needed to upgrade the eslint package, so I'm at the latest version of eslint now, but without success.

Looking in the Output

[2020-12-11 09:36] datbth opened #1137 "Cannot lint .eslintrc.json"
## Problem
I'm using `eslint-plugin-json-format` to lint json files.
The plugin is working fine when using `eslint` cli, and on vscode for json files that are **not** `.eslintrc.json`.
So not sure if I'm missing something to make vscode-eslint lint `.eslintrc.json` as well?
## What I'm seeing
Output of `yarn eslint .`:
![image](https://user-images.githubusercontent.com/15865062/101886212-c38c0500-

[2020-12-11 13:38] dbaeumer commented on #1136
@Friksel  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-12-12 21:35] Goldziher commented on #1055
I have a reproducible repo: https://github.com/Goldziher/dtsgenerator

[2020-12-13 11:51] Friksel commented on #1136
@dbaeumer  Thanks for your response.

When running `npx eslint path-to\file.js` in the a terminal eslint executes, but there are no messages in the output other than the `console.log()` I put inside the `webpack.config.js` myself, but repeated several times in a row. This is probably due to me using the `import` plugin and the `webpack` import/resolver.

It doesn't make sense to remove this plugin

[2020-12-13 17:46] Goldziher commented on #1055
I suspect that the issue happens if a code base uses the typescript compiler directly - this is what is happening in the above repo.

[2020-12-14 14:18] dbaeumer commented on #1055
@Goldziher thanks for the repository. I looked at the case and I can confirm the slowness. However already the eslint command in the terminal exposes that:

[code]

So there is nothing I can do in the ESLint extension to speed this up.

Did you consider filing this against ESLint or one of the used plugins?

[2020-12-14 15:41] vicatcu opened #1138 "Error: Failed to load plugin '@typescript-eslint/tslint' declared in '.eslintrc.js': Cannot find module 'tslint'"
Here is my .eslintrc file contents, why am I getting the error above? I followed the tslint to eslint migration instructions to the best of my ability.

[code]

[2020-12-14 16:07] dbaeumer commented on #1136
@Friksel can you please provider me with a GitHub repository I can clone that demos this.

[2020-12-14 16:08] dbaeumer commented on #1136
Could be a working directory issue. You might want to have a look at the `eslint.workingDirectories` setting.

[2020-12-14 16:08] dbaeumer commented on #1138
@vicatcu does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-12-14 16:45] Friksel commented on #1136
Sorry, I never send projects for obvious reasons. Also I'm using both webpack es well as eslint setups both pretty standard with webpack and eslint configs in the root of the projectfolder, together with the package.json. And it always worked fine that way (for years). But if you have a particular question I can always look of course.

I don't have that setting set. Never had either. So I would ex

[2020-12-14 20:09] dbaeumer commented on #1136
The working directory setting is usually necessary if you have a multi project repository with different configs per folder.

It is hard to say why this is not working for you unless I get a GitHub repository I can look at. If you can share your project could you distil a reproducible case.

[2020-12-15 10:27] mvirbicianskas commented on #1136
Having same issue, previously had this:
[code]
Removing it didn't help, resetting decisions didn't help, reinstalling the extension didn't help.
It seems with newer VSCode versions ESLint doesn't respect `.eslintrc.json` in the root directory for some reason.
VSCode version: 1.52.0
Node: 12
ESLint version: 2.1.14

[2020-12-15 10:32] dbaeumer commented on #1137
@datbth the problem is that the langauge id of `.eslintrc.json` file is `jsonc` sinc rc files support comments. Simply add `jsonc` to the validate list and it will work

[2020-12-15 10:32] #1137 closed

[2020-12-15 10:35] dbaeumer commented on #1136
@mvirbicianskas can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-12-15 10:51] mvirbicianskas commented on #1136
hey @dbaeumer apologies, should've started with that, here's public library I just created https://github.com/mvirbicianskas/Eslint Not sure whether it's correct approach to share such stuff?

[2020-12-15 10:55] dbaeumer commented on #1136
@mvirbicianskas this works for me as expected

<img width="731" alt="capture" src="https://user-images.githubusercontent.com/1931590/102206153-727d5900-3ecc-11eb-8f55-7aaa5755440e.png">

[2020-12-15 11:01] mvirbicianskas commented on #1136
@dbaeumer this is weird, I've restarted the editor multiple times and it didn't work, after now, after quitting - it started working ¯\_(ツ)_/¯ except for my project is still not working 😂  but apparently this is not extension's issue.
Sorry for bothering 🙏

[2020-12-15 11:03] Friksel commented on #1136
I don't have a multi-project repository. And so don't have different configs per folder. As said, the config was working fine before for years. Without that setting.

As I wrote before I never send projects. And it shouldn't be necesary to debug this issue.

[2020-12-15 11:34] datbth commented on #1137
I see. Thank you for your response

[2020-12-15 12:31] Goldziher commented on #1055
@dbaeumer thanks for taking the time. I can open up an issue in the typescript eslint repo.

[2020-12-15 12:44] dbaeumer commented on #1136
The working directory setting you use is basically a noop since using the workspace root is the default. An example on how this setting is supposed to be used is here: https://github.com/microsoft/vscode-eslint#settings-options look for the bullet about `eslint.workingDirectories`.

Since ESLint depends on so many parameters (version, plugins, configuration files, package.json entries, and eventua

[2020-12-15 12:49] Friksel commented on #1136
Why then did you give this advise in the first place? Come on man, read my posts before advising.

A good developer knows what questions to ask. Requesting a full project from a user to debug an issue in your own extension is pretty lame to me.

Several times I now asked you to ask questions so I can help you, but you refuse to ask these questions. You obviously don't want to help. I quit helping

[2020-12-15 13:09] mvirbicianskas commented on #1136
whoa there, @Friksel chill dude. I don't think you're being asked to provide full project repo. See my example above - try to reproduce the issue in a separate repository with as minimal configuration as possible and if it happens that it's really a bug inside the extension you will have to share that minimal reproduced repo here.

[2020-12-15 13:47] dbaeumer commented on #1136
@mvirbicianskas thanks for jumping in. You are correct I don't need the full repository, a distilled version is enough which I tried to point out in this comment https://github.com/microsoft/vscode-eslint/issues/1136#issuecomment-744681195 via

This is also documented in our issue guidlines: https://github.com/microsoft/vscode/wiki/Submitting-Bugs-and-Suggestions#writing-good-bug-reports-and-featu

[2020-12-16 03:44] sdalonzo opened #1139 "Schema validation fails in `ignorePatterns` that was added in eslint v7"
I have an `@scope/eslint-config` package published from our monorepo and I'm trying to consume it in a separate project.

ESLint works correctly when invoked via the CLI. However, in `vscode-eslint`, I get the following error:

[code]

We use the `ignorePatterns` to exempt a list of folders by convention (build dirs, coverage reports, static storybooks, etc) in the `eslint-config` so that all of o

[2020-12-16 08:20] Jet132 opened #1140 "Option to disable error notifications"
Hello, I would like to suggest a setting that allows one to disable the error notifications.
Unfortunately, VSCode as far as I have found does not have good build-in notification controls, so an option like `Disable Error Notifications` would be nice to have. Else each time I edit a file with errors I get spammed with notifications that there was an error which is distracting.

[2020-12-16 08:47] denis-sokolov commented on #1109
The logs above already suggest that the problem is more about incorrect detection of basePath, and is unrelated to ignoring node_modules. Today I can further confirm that by observing another difference in behavior between a local and Remote versions: I get “Parsing error: parserOptions.project has been set for @typescript-eslint/parser. The file does not match your project config.” only in the Re

[2020-12-16 09:13] dbaeumer commented on #1139
@sdalonzo actually the extension doesn't do any schema validation by itself. It delegates everything to the eslint npm module. Since it is working in the terminal can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-12-16 09:15] dbaeumer commented on #1109
@denis-sokolov thanks for getting back and the clarification!

[2020-12-16 12:43] FDIM commented on #164
I just bumped into this edge case as well. Currently migrating from tslint -> eslint and to reuse config rules I have a function in a separate file that returns root eslint config based on some parameters. Default merging strategy is not a good option.

Took me a bit to realize that changes in this js file ends up cached by node runtime as module is already imported!

[2020-12-17 10:20] nickmccurdy opened #1141 "Automatically detect package manager"
Based on https://github.com/microsoft/vscode/issues/102050

VSCode now automatically detects the package manager by default and exposes the package manager (whether automatically discovered or manually specified in `npm.packageManager` setting) in the `npm.packageManager` command. As a result we can use the `npm.packageManager` command instead of our own `packageManager` setting.

There's a simila

[2020-12-17 13:03] haojun99 opened #1142 "Read rules from VS code's settings.json"
Can I put the rules (in .eslintrc.json) in VS code's settings.json? The reason is I have multiple machines and want the rules in sync across all machines. VS code's settings can be synced. If we can add the rules directly inside VS code's setting, the rules for eslint will also be in sync.

[2020-12-17 16:36] Friksel commented on #1136
@dbaeumer Doing more testing the issue has to do with the latest version of the Eslint package which was released 12 days ago (or something that stopped working with that version) in combination of npm vs pnpm and the vscode-eslint extension.

When downgrading to an earlier version, I just tested 7.11.0 up to right before 7.14.0, so right before the latest version 7.15.0 (updates also automaticall

[2020-12-17 19:21] Friksel commented on #1136
Alright. The issue didn't have anything to do with Eslint, nor everything related.

There is an issue in the latest version of the `svg-sprite-loader` node package; it's trying to execute some internal code to require 'webpack/package.json', but can't find it and so throws an error causing the full vscode-eslint process to stop by this error.
Changing the webpackVersion constant in that module by

[2020-12-17 19:21] #1136 closed

[2020-12-19 01:06] SE2Dev opened #1143 ""Fix-on-Save" Produces Incorrect Output"
When enabling "fix on save", vscode-eslint appears to produce different results than it would if you were to explicitly run the "ESLint: Fix all auto-fixable problems" command.

I've managed to correct this behavior by overriding the `mode` in (resolveSettings](https://github.com/microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L1933) by forcing it to treat all fix requests as though

[2020-12-19 01:41] NicolasBuecher commented on #1055
@dbaeumer You were right my problem was unrelated to this issue. In my case it was something about an async Webpack config and `getPackageMetaSync` from `package-meta` looping endlessly. Resolving the latter and updating dependencies fixed my issue.
Thanks for your time.

[2020-12-19 03:33] AlexzZzNM opened #1144 "vscode unstart ESLint server stopped"
TypeError: Cannot read property 'toLowerCase' of null
	at Object.e.fromString (c:\Users\Administrator\.vscode\extensions\dbaeumer.vscode-eslint-2.1.14\client\out\extension.js:1:44688)
	at R.refreshTrace (c:\Users\Administrator\.vscode\extensions\dbaeumer.vscode-eslint-2.1.14\client\out\extension.js:1:139367)
	at R.initialize (c:\Users\Administrator\.vscode\extensions\dbaeumer.vscode-eslint-2.1.14\

[2020-12-19 19:26] lexicalunit opened #1145 "Unable to detect Jest version in create-react-app project"
I'm using [create-react-app](https://github.com/facebook/create-react-app) [v4.0.1](https://github.com/facebook/create-react-app/releases/tag/v4.0.1).

**Error Log:**

[code]

**tsconfig.json:**

[code]

**.eslintrc.js:**

[code]

**package.json:**

[code]

**settings.json:**

[code]

[2020-12-19 19:37] lexicalunit commented on #1145
Also, with this configuration I can not run `yarn lint`:

[code]

But I can get `yarn lint` to work if I modify `.eslintrc.js` like so:

[code]

Note that I changed `project` from `./dash/tsconfig.json` to `./tsconfig.json`. The actual location of this file on my system is at `$REPO_ROOT/dash`, which is where all my React app code is also located.

With this change, `yarn lint` works:

[code]

[2020-12-19 19:45] lexicalunit commented on #1145
Using `project: './tsconfig.json',` and if I open the `dash` directory directly instead of the repository root, then both `yarn lint` and `vscode-eslint` seem happy.

So I guess my real issue is that I have a react app that is not at the root of the repository and `vscode-eslint` is getting confused about how to resolve the path `'./tsconfig.json'` correctly?

Is there something I can do to resolv

[2020-12-20 15:25] rhernandog opened #1146 "Constant dialogs"
I'm working on a project with Vue and I keep getting this dialogs popping up whenever a validation problem comes up. The normal and expected behaviour is the error/warning underline in the particular code and the indication of the number of errors/warnings in the status bar, but this is new and quite annoying.

![eslint-dialogs](https://user-images.githubusercontent.com/4622323/102716769-ab4a7300-

[2020-12-21 02:20] TheDutchCoder commented on #1146
I hav this issue too, but less frequent.
Usually it starts when typing some unimported method like Vue's `ref` (it auto-imports obviously).

[2020-12-21 05:28] ljharb commented on #1055
I'm seeing this in https://github.com/enzyme-js/enzyme, while editing basically any file. I have no typescript in the project.

I'm happy to follow any debug steps.

[2020-12-21 16:44] #1138 closed

[2020-12-23 09:44] #1139 closed

[2020-12-23 19:42] almeidx opened #1148 ""Parsing error: Debug Failure. Expected -1 >= 0" everytime a new file is created"
Everytime I create a new file on any project that uses ESLint, I get this error:
![](https://i.imgur.com/iMAPVHN.png)

This error then appears on all files until I restart vscode

<details>
<summary>Details</summary>

`devDependencies`:
[code]

`.eslintrc.js`
[code]

VSCode about page:
![](https://i.imgur.com/4jrQXDN.png)
</details>

[2020-12-24 10:23] zhongzhong0505 opened #1149 "Cannot read property 'loc' of undefined"
type const in ts file , output above error messages

[Error - 6:22:23 PM] ESLint stack trace:
[Error - 6:22:23 PM] TypeError: Cannot read property 'loc' of undefined
Occurred while linting /Users/xxx/xxx/test/unit/xxx/src/core/xxxx/xxx/cell/xxxx.spec.ts:1
    at Object.VariableDeclaration [as listener] (/Users/xxxx/xxx/node_modules/eslint/lib/rules/indent.js:1422:69)
    at /Users/xxx/xxx/node_mod

[2020-12-24 11:05] dbaeumer commented on #1146
@rhernandog what happens if you validate that file in the error state in the terminal. Do you see some kind of exception?

And can you please provide me with a GitHub repository I can clone that demos what you are experiencing. That I can reproduce this and can investigate as well.

[2020-12-24 11:12] dbaeumer commented on #1149
@zhongzhong0505 also surfaced via a dialog in the ESlint extension for VS Code this is caused by an exception in ESLint itself (the npm module). Could you please file an issue against ESLint itself (https://github.com/eslint/eslint).

Let me know how it goes with that issue.

[2020-12-25 03:37] zhongzhong0505 commented on #1149
ok, i already create issue in eslint repo.

[2020-12-25 07:25] nbyavuz commented on #1138
Hi, I got same error when I used eslint in the terminal.
Here is my .eslintrc file:
[code]

[2020-12-25 08:01] nbyavuz commented on #1138
I believe I found a fix.
@vicatcu can you try to install `@typescript-eslint/eslint-plugin-tslint` and `tslint` packages ?

[2020-12-25 14:23] #1149 closed

[2020-12-25 15:37] brandonwoz commented on #1149
Also have this issue and posted on ESLint's git

[2020-12-28 03:29] juunone opened #1150 "eslint setting option deprecated"
hello, i have one question.
i have `.vscode/setting.json` with local project vscode settings.
but there is deprected option, it is `eslint.enable`
it has view warning with this messages.
`This setting is deprecated. Disable ESLint using the extensions viewlet.`

i use eslint extenstion with version `2.1.14`
is it ESLint extension version < 2.x, eslint.enable option was deprecated right?

[2020-12-29 00:44] JasonYadi opened #1151 "不想显示那屎黄色的波浪线，要怎么处理？"
![image](https://user-images.githubusercontent.com/24763020/103251047-fdbd1b00-49b1-11eb-8d4b-2c717d616b99.png)

[2020-12-29 02:18] #1151 closed

[2020-12-29 02:18] JasonYadi commented on #1151
是因为 HTML CSS Sopport 插件导致。

[2020-12-29 03:53] stoplion opened #1152 "Saving Getting code actions from` happening all the time"
Getting frequent `Saving Getting code actions from` from VSCode.

VSCode freezes, the file is NOT saved. It seems to happen for Prettier, Eslint, React plugins, so many. This didn't used to happen, now it **happens all the time**.

Is there a way to STOP this from happening?

![image](https://user-images.githubusercontent.com/231343/103257431-07109e00-4946-11eb-904f-e3fc58b1b491.png)

`Version: 1.

[2020-12-31 11:45] #1146 closed

[2020-12-31 14:22] Ranguna commented on #1145
Should this issue be opened in https://github.com/jest-community/eslint-plugin-jest instead ?

[2020-12-31 16:38] lexicalunit commented on #1145
@Ranguna i don’t think it has anything to do with that package. Everything works fine on the command line. It’s only in vscode that issues arise. If I open the project at the repo root it doesn’t work. If I open the project at the sub directory, it works.

[2020-12-31 17:19] Ranguna commented on #1145
The plugin tries to get jest's version from a path starting at the cwd, probably vscode executes eslint from the root of your workspace directory.

I think it's that eslint's plugin fault into thinking that the cwd will always be the root of the project where node_modules is located.

Vscode is just executing commands here, I'm not really sure what can be done on this side. But maybe I'm wrong.

[2021-01-03 15:23] andig opened #1153 "High CPU load"
Having vscode-eslint installed kills the macbook's battery:

<img width="1280" alt="Screenshot 2021-01-03 at 16 20 33" src="https://user-images.githubusercontent.com/184815/103482181-a10d9600-4ddf-11eb-883f-6b9022023705.png">

These are the relevant eslint settings:

    "editor.codeActionsOnSave": {
        "source.organizeImports.eslint": true,
        "source.fixAll.eslint": true
    },
    "es

[2021-01-04 13:23] wunnle commented on #1152
I have the exact same issue.

[2021-01-04 23:17] Tsenzuk opened #1154 "debug.log CreateFile: The system cannot find the file specified"
Issue Type: <b>Bug</b>

When several VSCode Insiders is opened
And the projects are with React.js
Then Creates debug.log in each folder where .jsx file is opened.
content of the debug.log:
[0105/011038.242:ERROR:registration_protocol_win.cc(102)] CreateFile: The system cannot find the file specified. (0x2)
[0105/011059.935:ERROR:registration_protocol_win.cc(102)] CreateFile: The system cannot find

[2021-01-05 14:44] dbaeumer commented on #1154
@Tsenzuk can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-01-05 14:45] dbaeumer commented on #1152
Do you also see this if you disable the ESLint extension?. If so can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-01-05 14:47] dbaeumer commented on #1153
@andig this is very likely caused by a problem in ESLint or one of its plugins which are used to compute the fixes. Can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Otherwise it is impossible to tell what is going on.

[2021-01-05 14:50] dbaeumer commented on #1145
@lexicalunit this can very likely be addressed using the `eslint.workingDirectories` setting. If in the terminal you need to change directory into the sub directory you need to let VS Code now about this. By default VS Code executes ESLint in the workspace folder root.

[2021-01-05 14:52] dbaeumer commented on #1150
Instead of using the `eslint.enable` setting you can now enable / disable ESLint using the extensions viewlet. That is why the setting is deprecated. If you have set it to true simply remove it. If set to false disable the extension for the corresponding workspace folder which will have the same effect.

[2021-01-05 14:52] #1150 closed

[2021-01-05 14:54] dbaeumer commented on #1148
Actually it works for me so it is for sure related to some config or plugin configuration. Can you please provide me with a GitHub repository I can clone that demos what you are experiencing. This ensure I see the same setup in which you see the error.

[2021-01-05 15:02] dbaeumer commented on #1055
@ljharb I can't access the repository. Any debug steps are highly welcome.

[2021-01-05 15:05] ljharb commented on #1055
@dbaeumer whoops, mistyped the URL, fixed. i don't know what debug steps you'd like, but i'll follow any explicit instructions you provide :-)

[2021-01-05 15:18] dbaeumer commented on #1144
@AlexzZzNM any steps to reproduce. Do you set a value in your vs code settings to `null`?

[2021-01-05 15:19] dbaeumer commented on #1055
@ljharb which file to open to reproduce this and what to type in that file to make the error show up.

[2021-01-05 15:56] ljharb commented on #1055
Any one, but try https://github.com/enzymejs/enzyme/blob/master/packages/enzyme/ShallowWrapper.js and make any change that requires an autofix - add trailing whitespace or omit a semicolon or something.

[2021-01-05 16:02] swift1719 opened #1155 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-eslint`
- Extension Version: `2.1.14`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-01-05 18:34] lexicalunit commented on #1145
@dbaeumer What if the editor just ran the commands from the base directory of where the eslintrc file is located?

[2021-01-05 18:35] dbaeumer commented on #1143
@SE2Dev thanks for the great test case.

[2021-01-05 18:39] dbaeumer commented on #1145
ESLint has many ways to store configurations including package.json files. So simply looking for eslintrc might not be good enough.

There is an auto mode for the `eslint.workingDirectories` which does some probing but might not work in all cases. Auto is not the default since it might break exising users relying on a different working directory to resolve the ignore file.

[2021-01-05 18:40] dbaeumer commented on #1155
@swift1719 do you by any chance still have the data in the clipboard. Otherwise there is little I can do.

[2021-01-05 18:50] dbaeumer commented on #1055
I am not able to reproduce this

![cast](https://user-images.githubusercontent.com/1931590/103686515-39964880-4f8f-11eb-86ef-be9bcb5f3987.gif)

[2021-01-05 18:53] dbaeumer commented on #1136
I am happy to hear that you could solve the issue.

[2021-01-05 18:57] dbaeumer commented on #1142
No there is no support to store eslint configurations in the settings.json and there are no plans to add this support since ESLint itself has already a sophisticated settings story.

[2021-01-05 18:57] #1142 closed

[2021-01-05 18:59] ljharb commented on #1055
@dbaeumer the implication is that there's something in my local config that's causing the slowdown. How can i help reveal the delta?

[2021-01-05 19:00] dbaeumer commented on #1141
The problem is a little that VS Code doesn't expose this as API so it needs to be re-implemented here.

[2021-01-05 19:00] dbaeumer commented on #1141
PR welcome.

[2021-01-05 19:02] dbaeumer commented on #1055
How is your local `"editor.codeActionsOnSave"` and `"editor.codeActionsOnSaveTimeout"` setting.

[2021-01-05 19:03] dbaeumer commented on #1140
@Jet132 can you provide me with steps to reproduce this. Usually error notification should be rare and usually point to problems with the ESLint setup. Best would be a GitHub repository to clone.

[2021-01-05 19:17] ljharb commented on #1055
[code]
and `editor.codeActionsOnSaveTimeout` doesn't appear.

note that because i *only* want to use eslint, because vscode's default formatting violates a ton of my sensibilities, i also have "format on save/paste/type" all disabled.

[2021-01-05 20:49] nickmccurdy commented on #1141
It actually does now.

[code]

I tried to port https://github.com/prettier/prettier-vscode/pull/1700 to this repository but unfortunately `executeCommand` doesn't seem to be available in language servers. I have no idea how to edit a language server so I'd appreciate help with that, though anyone is also welcome to port the PR themselves as long as they add me as the `--author`.

[2021-01-06 09:41] dbaeumer commented on #1141
Nice, I didn't know this.

For the PR:

- we would need to deprecate the setting in ESLint
- when we resolve the configuration in the client code call the command and sent that result instead. https://github.com/microsoft/vscode-eslint/blob/master/client/src/extension.ts#L1435

[2021-01-06 09:57] dbaeumer commented on #1055
@ljharb still the same result for me using the settings you provided.

[2021-01-06 17:04] ljharb commented on #1055
@dbaeumer very strange. here's my vscode version:
[code]
I'm not sure what version i have of the eslint extension.

Can you confirm you lack a global install of eslint, and that you ran `npm install` in the repo root first? (it shouldn't be globally installed anyways) Can you confirm you have the eslint extension set to use npm? How did you install node and what version are you using? I'm using nv

[2021-01-06 19:59] probablykasper commented on #1055
In some configuration where I was trying to marry svelte-preprocess, hmr, typescript and eslint, running eslint manually caused an infinite loop of printing the linting output. Just throwing it out there in case it's be related

[2021-01-06 20:28] probablykasper commented on #1055
Was able to get the `Getting code actions from ''ESLint'` message consistently. Hopefully it's rooted in the same issue.
1. Run `npx degit NicoCevallos/svelte-template example-app` ([this repo](https://github.com/NicoCevallos/svelte-template))
2. Run `cd ./example-app`
3. Run `npm install`
4. Run `code .`
5. Install the three recommended extensions (Not sure if necessary)
6. Open, edit and save `s

[2021-01-07 03:05] AlexzZzNM commented on #1144
i dont setting vs code ,yesterday is work.but  now stopped.
Below is the console log
[Info  - 上午11:02:34] ESLint server is starting
[Info  - 上午11:02:34] ESLint server stopped.
[Error - 上午11:02:34] Starting client failed
TypeError: Cannot read property 'toLowerCase' of null
	at Object.e.fromString (c:\Users\Administrator\.vscode\extensions\dbaeumer.vscode-eslint-2.1.14\client\out\extension.js:1:446

[2021-01-07 08:35] dbaeumer commented on #1144
Can you please provide me with your settings (both user and workspace settings). Or even better can you provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-01-07 08:41] dbaeumer commented on #1144
Are you sure you are not setting `eslint.trace.server.format` to `null`. This is the only explanation for the exception.

[2021-01-07 08:48] dbaeumer commented on #1055
@ljharb yes, no global ESLint and I did run `npm install`. And the default package manage is `npm`. Can you try to run in a terminal the following command `npm config get prefix` and see if this executes fast.

VS Code comes with node and  that node version is used by default. You can configure a different node version using the `eslint.runtime` setting.

[2021-01-07 08:53] dbaeumer commented on #1055
@probablykasper doesn't reproduce for me. Any additional hints about your configuration

![cast](https://user-images.githubusercontent.com/1931590/103872049-26d65d80-50ce-11eb-967f-0abb4d9fb57c.gif)

[2021-01-07 17:32] Jet132 commented on #1140
I can't seem to reproduce the issue right now though I haven't put that much time into it. It could be something with the configuration or the setup as the affected project used symlinks in windows (via `yarn link`) which also caused some other issues. I'll close this issue for now until it happens again and I can better investigate it.

[2021-01-07 17:32] #1140 closed

[2021-01-07 20:58] probablykasper commented on #1055
@dbaeumer Hmm, there seems to be something that triggers the bug, but then once it's triggered, it always happens, even after reloading the window.

I tried following step 1-3, and then this:
1. Open VSCode by running `code . --user-data-dir ./vscodewhatever --extensions-dir ./vscodewhateverext`
2. Install the recommended extensions
3. Open `src/main.ts`
4. Click the "ESLlint" button in the bottom

[2021-01-07 22:51] ljharb commented on #1055
@dbaeumer indeed (`npm config get prefix` is a very slow command, i removed it from nvm recently for that reason):
[code]

interestingly enough, it's using my default nvm version, but maybe the terminal is different than what vscode-eslint uses?

[2021-01-08 00:11] rolandoldengarm opened #1156 "Have to reload window often"
We've recently switched from TSLint to ESLint in a large mono repo. After a while, about every 10-30 minutes, ESLint stops working and I have to reload the VSCode window. It will then no longer show new issues, and when I click CTRL + . on an issue it found before the crash, it shows "No code actions available".

When I check the Output console, I see these errors all the time:
[code]
Once it has

[2021-01-08 07:41] dbaeumer commented on #1156
It looks like the ESLint server is running out of memory. You could use the `eslint.runtime` setting to point to a script that starts node with `--max_old_space_size` set yo a higher value.

What is suspicious is the fact that restarting the server doesn't correctly register a `confirmESLintExecution` handler. Will look into why this is happening.

[2021-01-08 07:46] dbaeumer commented on #1055
It is not super fast but it is tolerable and a slow response should only lead to one waiting dialog. What do you mean by

Being able to execute the command is necessary to make the ESLint server work correctly.

[2021-01-08 08:19] dbaeumer commented on #1055
@probablykasper I was able to reproduce. The server hangs in an endless loop here:

<img width="334" alt="capture" src="https://user-images.githubusercontent.com/1931590/103991033-6cf4f500-5192-11eb-8622-628490e318ac.png">

Which does some magic `deasync-promise` code which is actually out of my control. I guess the code is loaded and executed via the eslint svelte plugin.

[2021-01-08 08:29] dbaeumer commented on #1055
@probablykasper actually the deasync code seems to fail on electron (the node runtime) that ships with VS Code. you can set the runtime to use to a normal node runtime and things seem to work. The setting is `eslint.runtime`.

[2021-01-08 14:33] TheDutchCoder commented on #1152
We're experiencing the same issue, VSCode is starting 4 Code Helper (Renderer) threads all at around 100% CPU and never finishing.

It only happens when ESLint is enabled.

In our case we have it enabled for Vue files with TS support. It might be related to the vue plugin.

I can't share our business repo unfortunately.

[2021-01-08 17:29] ljharb commented on #1055
@dbaeumer i just meant that i refactored https://github.com/nvm-sh/nvm to no longer call `npm config get prefix`; its use of it is different than the eslint server. Either way tho, I'd expect that call not to change for the lifetime of a vscode run, so you should be able to cache it after running it once.

I'm not using a svelte plugin tho, so that doesn't seem like it'd be my issue :-/

[2021-01-08 18:15] probablykasper commented on #1055
@dbaeumer Apparently [deasync doesn't support electron](https://github.com/abbr/deasync/issues/81#issuecomment-290894119). Are you able to tell if the code is coming from the eslint-svelte plugin?

[2021-01-08 18:24] probablykasper commented on #1055
@dbaeumer Pretty sure [this](https://github.com/sveltejs/eslint-plugin-svelte3/pull/62#issuecomment-743298805) is the problem. Shouldn't have anything to do with vscode-eslint then.

[2021-01-08 23:55] rolandoldengarm commented on #1156
Thanks @dbaeumer , yes if the restart would work properly then it's better.
I see there's a lengthy discussion on the Typescript eslint repo: https://github.com/typescript-eslint/typescript-eslint/issues/1192

I tried using the `runtime` setting but keep getting `Launching server using runtime ./vscode-eslint.sh failed` despite the file being there. I'm on Windows, the rest of my team is on MacOS

[2021-01-09 21:56] DmitrySkibitsky opened #1157 "Does not work editor.codeActionsOnSave > source.fixAll.eslint"
Reinstalled OS, synced settings and stopped fixing files before saving.
At the same time, everything worked with this settings.json file before.
At the same time, WebStorm performs Eslint fixing files, but vscode stopped doing it.

**Tell me what could be the problem?**

**vscode-eslint**
[code]

**vscode about**
[code]

**Demo video**

https://user-images.githubusercontent.com/20288556/104109393-

[2021-01-09 22:00] DmitrySkibitsky commented on #1157
Same thing in WebStorm

https://user-images.githubusercontent.com/20288556/104109465-e433a180-52d6-11eb-93e4-ccc8ec0464d4.mp4

[2021-01-10 19:50] andig commented on #1153
What might help is if there was some output showing what jobs are running plus their elapsed runtime. At least thats what e.g. gopls does. Gonna close here- has not happend again since.

[2021-01-10 19:50] #1153 closed

[2021-01-11 08:02] dbaeumer commented on #1153
@andig: you can do that. Use the setting `eslint.debug=true`

[2021-01-11 08:04] dbaeumer commented on #1157
@DmitrySkibitsky can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-01-11 08:06] dbaeumer commented on #1156
I agree on the possibility to configure that as a eslint setting. PR welcome.

Regarding the shell script. That will not work on Windows since there it will try to use cmd.exe. Does it work for your team mates using Mac?

[2021-01-11 08:09] dbaeumer commented on #1055
@probablykasper yes, when debugging the stack trace came out of svelte plugin

[2021-01-11 08:16] dbaeumer commented on #1055
@ljharb I only call the once per loaded ESLint library version. So if you only have one version one call :-).

If you be able to debug this it would be a big help:

- clone this repository
- npm install
- open it in VS Code
- Run the launch config `Launch Client`
- open the workspace that shows the behavior
- open a file
- Run the launch config `Attach to Server`
- You can break the server and see

[2021-01-11 08:18] dbaeumer commented on #1152
The DutchCoder. Without steps to reproduce hard to tell why it is not working. What is strange is the fact that all 4 processes are at 100%. ESLint only starts one server. So this sounds like a broader problem. Can you provide me with the command line of the 4 processes.

[2021-01-11 12:25] HomyeeKing opened #1158 "why there's a forbid icon before eslint ?"
![image](https://user-images.githubusercontent.com/49113249/104182208-136b1f80-544b-11eb-9f48-f007ba704c65.png)

every config file about eslint is done ,but look the pic, what's the icon mean

[2021-01-11 12:31] #1158 closed

[2021-01-11 16:49] DmitrySkibitsky commented on #1157
@dbaeumer
Sorry, I didn't start the server. (
![Захват экрана_google-chrome_20210111184832](https://user-images.githubusercontent.com/20288556/104212201-9f764a80-543d-11eb-9443-7b1343de59d7.jpg)

[2021-01-11 16:49] #1157 closed

[2021-01-12 08:10] dbaeumer commented on #1157
Great that you were able to fix it.

[2021-01-12 08:17] some-user123 opened #1159 "Improve documentation on configuration option eslint.validate"
At the moment the docs regarding `eslint.validate` say:

In my case, typescript files are not linted in VSCode if I don't specify this explicitely in `eslint.validate`. I'm wondering if this is already a "non-normal case". Could this be specified in more detail in which cases `validate` is not needed ("normal cases") and when it is needed?

[2021-01-15 16:38] robross0606 commented on #1154
I am also seeing this issue.  ESlint from cli reports multiple errors in a file, but vscode doesn't show any of them.

[2021-01-16 02:27] Doeke opened #1160 "No ESLint configuration found for /snap/code/[...]/node_modules/typescript/lib/lib.esnext.intl.d.ts"
No errors/warnings with running eslint on the project directory, but In the VSCode ESLint output I get following warning spammed after a few seconds:

[Warn  - 1:02:57 AM]
No ESLint configuration (e.g .eslintrc) found for file: /snap/code/52/usr/share/code/resources/app/extensions/node_modules/typescript/lib/lib.esnext.intl.d.ts
File will not be validated. Alternatively you can disable ESLint by e

[2021-01-16 12:59] wunnle commented on #1152
@dbaeumer I also had "PropTypes generate" extension just like @stoplion so first I tried to disable it to if that somehow caused this issue. I got the error with just ESlint too.

Unfortunately I can't share the repos I'm working on but I'm getting this on multiple repos. It's not happening all the time, most of the time ESlint is pretty smooth, but occasionally something triggers this and the err

[2021-01-18 08:33] dbaeumer commented on #1152
@wunnle thanks. Would you be able to distill a case. Without any steps it is very hard to track this down.

[2021-01-18 08:34] dbaeumer commented on #1160
@Doeke  does the validation happen correctly when you use eslint in the terminal from the worspace folder root. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-01-18 08:35] dbaeumer commented on #1154
@robross0606 any steps you can share best via a GitHub repository I can clone

[2021-01-18 08:36] dbaeumer commented on #1159
@some-user123 validation of TypeScript files should happen automatically if ESLint is configured correctly. Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-01-18 10:05] some-user123 commented on #1159
Sure, please find the repo here: https://github.com/some-user123/vscode-eslint-issue-1159

`yarn lint` will complain about `test.ts`. In VSCode I don't see any error, unless I add a `.vscode/settings.json` with
[code]

Also noticeable: If I remove this `settings.json` linting in VSCode still works -- until the next restart.

[2021-01-20 17:04] almeidx commented on #1148
Unfortunately, I cannot, since apparently this error only happens on 2 specific projects (which are extremely similar, structure-wise), and both of them are not open source. However, I contacted a friend which also has access to one of the projects (told them exactly what to do, extensions, configuration) and the error does not happen on their side.

Knowing this information, I uninstalled VSCode

[2021-01-20 17:08] almeidx commented on #1148
And something I forgot to mention, by the time I created this issue, I have updated both projects and error stopped occurring, so I guess I will just close this.

[2021-01-20 17:08] #1148 closed

[2021-01-21 10:20] bkimminich opened #1161 "Nested projects with multiple .eslintrcs and ESLint installations"
I work on a project where the backend (Node.js) and frontend (Angular) are using entirely separate ESLint installations and configs:

## Backend
<https://github.com/bkimminich/juice-shop/blob/master/.eslintrc.js> with
[code]
installed in `./node_modules`

## Frontend
<https://github.com/bkimminich/juice-shop/blob/master/frontend/.eslintrc.js> with
[code]
installed in `./frontend/node_modules`

##

[2021-01-21 17:17] cssinate opened #1162 "Plugin showing issue that isn't reported in the CLI version"
I need some help. I can't understand what I'm doing wrong here.

I have a monorepo using lerna for multiple packages. My directory structure looks like this:

[code]

I started down these changes because I'm using Vue 2 for this project, but I'm getting warnings about Vue 3 issues. If, in the CLI, I go to `./packages/components` and run `npx eslint`, I get no issues. But the ESLint extension shows

[2021-01-21 18:08] ChrisOtto1014 opened #1163 "ESLint giving false positives for unused vars in typescript code"
I am using Visual Studio Code with the ESLint extension and am getting false positives on imports being reported as violating the @typescript-eslint/no-unused-vars rule.

Visual Studio Code version info:

Version: 1.52.1 (user setup)
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:34:46.910Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: W

[2021-01-22 00:11] bkimminich commented on #1161
Seems that setting `"eslint.workingDirectories": [{ "mode": "auto" }]` was all I needed... 🤦

[2021-01-22 00:11] #1161 closed

[2021-01-22 08:30] dbaeumer commented on #1163
@ChrisOtto1014 does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-01-22 08:34] dbaeumer commented on #1162
@cssinate can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-01-22 19:42] cssinate commented on #1162
It was not this plugin's fault. For anyone else still having issues and banging their head against the wall:

You probably have Vetur installed, right? Vetur does some linting, but it's not very good! If you're using ESLint AND Vetur, add the following to your settings:

`"vetur.validation.template": false,`

Sorry to bother you, @dbaeumer

[2021-01-22 19:42] #1162 closed

[2021-01-24 15:10] Doeke commented on #1160
@dbaeumer Yes, validation in terminal works as expected (no errors)

Here's a repo: https://github.com/Doeke/vscode-eslint-bug/tree/master

I installed VS Code with snap, if that matters.

[2021-01-24 17:16] Aron4u commented on #1154
I have this also, And i figured out it is this repo with a bisect. What I have right now is the svelte next setup
`
npm init svelte@next
`
I did an `npm install`, and a `npm run dev -- --open`

 I just click in the vscode explorer on any file / folder, and at some point it appears. The debug log can appear in the root folder, or any other.

In general I suspect that this is nothing that you can re

[2021-01-25 08:32] dbaeumer commented on #1154
@Aron4u thanks for the investigation.

[2021-01-25 08:39] dbaeumer commented on #1160
This fails for me with a different error message:

<img width="612" alt="capture" src="https://user-images.githubusercontent.com/1931590/105681262-31c42700-5ef1-11eb-95cf-61aa6eb3bf5c.png">

[2021-01-25 14:29] Aron4u commented on #1154
Damn, I somehow typed something that I did not mean. I meant, that I figured out that its this **extension**, by doing a bisect.
Sorry for the confusion.
@dbaeumer Are you able to reproduce this with the svelte next repo?
otherwise, I could try to get some extra logging for you, if you tell me what you need and how to get it :)

[2021-01-25 17:03] AlexZeitler commented on #1150
What is the "extensions viewlet"?

[2021-01-26 07:47] dbaeumer commented on #1150
This viewlet in VS Code
<img width="305" alt="capture" src="https://user-images.githubusercontent.com/1931590/105815367-16b9eb80-5fb3-11eb-918a-060aeb8660c9.png">

[2021-01-26 07:48] dbaeumer commented on #1154
From my experience something like this depends on a lot of things including eslint and plugin versions. That is why I usually ask for a repro to ensure that we are looking at the same setup.

[2021-01-26 19:13] AlexZeitler commented on #1150
@dbaeumer Thanks!

[2021-01-28 08:14] retorquere commented on #1138
When I install `tslint` it says it's deprecated.

[2021-01-28 11:48] mingluzhang opened #1165 "Support static configuration options which are evaluated on server start and hence can be relative."
The folder structure of the project is like this,

/Src
----.eslintrc.js
----package.json
----/node_modules
----tsconfig.json
/Core

I'd like to use /Src/.eslintrc.js in both /Src and /Core.
But currently only errors in /Src can be found.
What settings should I set in VSCode to achieve my goal?

[2021-01-28 16:49] dbaeumer commented on #1165
@mingluzhang  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-01-28 18:54] kzimny commented on #1156
I had exactly the same issue. None of the solutions I found in similar issues worked on my Windows environment. The only one which work is to set `"eslint.runtime": "node"` without passing `--max_old_space_size=4096` option. The settings.json file looks as follow:
[code]
It works fine in monorepo project with four angular, cordova and  electron projects in the same workspace with over 1'200 ts fil

[2021-01-29 04:36] simkessy opened #1166 "vscode-eslint only validating open file not entire project"
I only get eslint validation on the active file and not the entire project which makes it challenging to find all errors.

Is it possible to get all the files validated?

[2021-01-29 08:05] dbaeumer commented on #1166
There is a VS Code task you can run to validate all files. This isn't done automatically since ESLint doesn't support incremental linting and linting all files in a project can take quite some time. See the setting `eslint.lintTask`.

[2021-01-29 08:05] #1166 closed

[2021-01-29 21:12] JaLe29 commented on #1156
Tip:

Try to update your `.eslintignore`.

You must put `node_modules` folder to your `.eslintignore` to prevent eslint analys scan over this huge folder.

[2021-01-30 04:16] mingluzhang commented on #1165
You can repro this issue from [this repo](https://github.com/mingluzhang/eslint-trouble-shoot). Thanks.

[2021-01-31 14:38] ipid opened #1168 "Extension 'ESlint' cannot format file 'index.ts' caused by probing failure"
I encountered the problem `Extension 'ESlint' cannot format file 'index.ts'` while trying to format my TypeScript code in a Vue project. Here is the snapshot:

![image](https://user-images.githubusercontent.com/5251264/106387123-31f18480-6413-11eb-92f4-9e08ae4f9382.png)

And here is my `settings.json` in the workspace:

[code]

Then, I try to turn on the trace log of plugin with `"eslint.trace.ser

[2021-01-31 17:00] rimasirich opened #1169 "2.1.10 version of vsix is missing"
Hi,
Is it possible to upload the latest 2.1.10 version of vsix to the GitHub release?
Thanks,
Rima

[2021-02-01 08:16] dbaeumer commented on #1169
The releases are uploaded to the VS Code marketplace. I only upload releases to the GitHub page if they are experimental or pre-releases. You can also get old releases from the marketplace.

And the latest release is 2.1.14.

Closing. Please ping if you still need support with this.

[2021-02-01 08:16] #1169 closed

[2021-02-01 08:19] dbaeumer commented on #1168
@ipid actually the probing is "difficult" since it require me to inspect the parser and plugins used and if something changes there I might fail with the probing.

Can you provide me with a Github repository I can clone that demos your behavior. Then I can have a look and see why the probing fails.

[2021-02-01 08:28] dbaeumer commented on #1165
@mingluzhang Thanks

Can you please provide me with the command line (e.g. calling eslint directly) that makes it validate. I notice that you only have a `.eslintrc.js` in projects. When validating core you need to let the extension know that it should use the `.eslintrc.js` from project. You can do this using the `eslint.options` setting. Something like `"eslint.options.configFile": "path to the

[2021-02-01 09:22] rimasirich commented on #1169
Hi @dbaeumer ,

Thank you for your response. We are downloading .vsix during the docker build so it is very convenient for us to download it from the releases ;) If you don't mind to upload it to the releases, we would very appreciate it :)

Thank you in advance,
Rima

[2021-02-01 11:03] fcole90 opened #1170 "Parsing error: Cannot read file tsconfig.json, when it's in subfolders and not in root"
Hi, I have nested subprojects, with individual `esling` and `tsconfig` configurations, which get parsed correctly from command line, but not from the extension.

You can check the repo in its current state at: https://github.com/fcole90/fullstack_open_2020_part9/tree/f56f5c6c2df77b80c2f7e4df42c07fe6718ff53a

### Details
I have a root folder `fullstack_open_2020_part9`, which contains some subfolde

[2021-02-01 16:57] ipid commented on #1168
@dbaeumer Here it is: [ipid/vscode-eslint-probing-issue](https://github.com/ipid/vscode-eslint-probing-issue)

Note: The problem seems to be reproducible only on Windows.

Again thank you for your help!

[2021-02-02 02:53] mingluzhang commented on #1165
Actually I would use the command,
`cd ../Core
eslint -c "../Project/.eslintrc.js" --ext ts --ext tsx .`

[2021-02-02 02:55] mingluzhang commented on #1165
You can ref the script of "npm run test" which defined in file of /Project/package.json

[2021-02-02 02:57] mingluzhang commented on #1165
I think I have tried to add `"eslint.options.configFile": "{$workingdirectory}/.eslintrc.js" but still had no effect on files in /Core.
Could you please try to confirm that for me? Thanks a lot!

[2021-02-02 05:32] LP-Codes opened #1171 "Eslint Not Working - Not Showing in status bar though always show is set to enable"
Issue Type: <b>Bug</b>

ESLint is not running because the deprecated setting 'eslint.enable' is set to false. Remove the setting and use the extension disablement feature.
Though- setting has been set to true

Extension version: 2.1.14
VS Code version: Code 1.52.1 (ea3859d4ba2f3e577a159bc91e3074c5d85c0523, 2020-12-16T16:34:46.910Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System I

[2021-02-02 09:00] dbaeumer commented on #1171
@LP-Codes can you please provide me with a GitHub repository I can clone that demos this. Did you disable the extension in the extension viewlet?

[2021-02-02 09:18] dbaeumer commented on #1169
@rimasirich actually I have to say no on this since I don't have any plans to maintain two places where I publish releases.

Are you using VS Code remote for docker? If so the `devcontainer.json` can contain extensions to install from the marketplace which will do all the magic for you. You can also have an `.vscode/extensions.json` in the workspace folder which list the extensions to install.

[2021-02-02 09:30] dbaeumer commented on #1165
You can't use varaibles like `${workingdirectory}` in settings since there is no support in VS Code for it. So you can only use a full path right now. Alternatively you can create a symlink from Code to project if you want to ensure that you only have one content.

[2021-02-02 11:08] marcelbeumer opened #1172 "`Enable|Disable ESLint for this Workspace` commands not available"
Hi, thanks for the great work on vscode-eslint!

The README says there should be two commands

[code]

But they are not available in vscode. Using latest everything: vscode 1.52.1 and vscode-eslint 2.1.14

I turn on/off the plugin regularly because of how slow eslint becomes with the modern complex TS linting rules. I now do that through the extensions panel, but would be great to have those comma

[2021-02-02 11:35] LP-Codes commented on #1171
@ dbaeumer  thanks for checking out FYI after fresh install the issue was resolved it seems user & workspace settings were conflicting

[2021-02-02 11:35] #1171 closed

[2021-02-02 13:25] deyvisonsouto commented on #1145
Guys, It's missing to Jest a devDependencie, that was the fix on my end

`npm install --save-dev jest`

[2021-02-02 16:28] fractionalJoe opened #1173 "Not linting json files in VS Code"
Linting works when running the command `npx eslint **/*`. These issues show up for my TS files but not for my JSON files, even though there are a lot of issues in my JSON files.

.eslintrc.json
[code]

[2021-02-03 03:17] mingluzhang commented on #1165
How to make the symlink? Could you please provide one complete example config based on my repo which can cover both /Core and /Project?

[2021-02-03 09:40] dbaeumer commented on #1165
Sym links are a OS concept. From the path separator you are using it seems that you are on Linux / Mac. Then `ln -s` is your friend.

In the `Core` directory run `ln -s ../Project/.eslintrc.js .eslintrc.js`

[2021-02-03 09:45] dbaeumer commented on #1173
@fractionalJoe since this can depend on a lot of different things can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-02-03 09:47] dbaeumer commented on #1145
Thanks for the suggestion.

[2021-02-03 09:48] dbaeumer commented on #1172
@marcelbeumer actually the commands got removed in favour of the Extension Panel to have a consistent experience. I will update the documentation.

[2021-02-03 10:02] #1172 closed

[2021-02-03 14:10] fractionalJoe commented on #1173
@dbaeumer https://gitlab.com/fractionalJoe/demo-eslint. Thanks for looking into this!

[2021-02-04 01:10] mingluzhang commented on #1165
No, but I'm on the Windows platform.

[2021-02-04 01:39] mingluzhang commented on #1165
Base on the repo which used to reproduce the issue, could you please provide an example of the config which can make /Core be covered as well?

[2021-02-04 06:08] midorizemi opened #1175 "The static import statement shows "Resolve error: Missing binary""
vscode-eslint is working my react application project on working directory.
It, however, fails to find fibers package via vscode. I cant find a solution yet. please help me.

Here is my repository. https://github.com/midorizemi/react-sample.git

My environments:
- Windows10 64bit
- nvm v1.1.7 via scoop
- node v14.15.4
- npm v6.14.10

I installed npm packages, and open vscode, and add ESLint plugin

[2021-02-04 08:11] dbaeumer commented on #1175
This works for me:

<img width="813" alt="capture" src="https://user-images.githubusercontent.com/1931590/106863406-cb958c00-66c8-11eb-9104-bd84931d2eb4.png">

Are you sure your system is setup so that binaries can be complied on `npm install`

[2021-02-04 08:12] dbaeumer commented on #1175
And what happens if you execute `./node_modules/.bin/eslint src/main.tsx` in a terminal.

[2021-02-04 10:41] dbaeumer commented on #1165
I can't since the setup depends on your folder structure. Assuming that the workspace folder is under `C:\Users\mingluzhang\projects` the setting's value is `C:/Users/mingluzhang/projects/eslint-trouble-shoot/Project/.eslintrc.js`.

The command to create links under Windows is `mklink`.

[2021-02-04 10:45] dbaeumer commented on #1173
Which json file in your repository do you want to see linted.

I also noticed that you haven't installed any plugin to lint JSON files. ESLint out of the box doesn't lint JSON. You need a plugin like `eslint-plugin-json`

[2021-02-04 11:39] midorizemi commented on #1175
Thank you so much for quick response.

yes, I am. And I've uninstall nvm from scoop, and, install nodejs-lts(14.15.4) via scoop.
Then I've executed `npm install`, and I've was ensure that was completed.

I've executed `./node_modules/.bin/eslint src/main.tsx`, and It didn't put anything.
![image](https://user-images.githubusercontent.com/927671/106886081-d121bf00-6726-11eb-94a7-f1d05b653062.png)

[2021-02-04 11:40] mingluzhang commented on #1165
Actually after using "mklink /d" to create a new link of /Core in /Project, vscode-eslint can find errors from the path of /Project/Core, but can't from the path of /Core.
I think it partially solved this issue.

[2021-02-04 11:55] mingluzhang commented on #1165
@dbaeumer I wonder do you have the plan to support relative path in `eslint.options.configFile`?

[2021-02-04 12:10] dbaeumer commented on #1165
@mingluzhang relative path are complicated since the eslint server is kept alive for validating n files and therefore the current working directory of the server changes to accommodate different files. We would need a `eslint.staticOptions`  section that is evaluated only once on server startup.

[2021-02-04 12:13] dbaeumer commented on #1175
Wild guess: can you use node as the runtime for eslint by using the setting `eslint.runtime`. Could be the the node shipped with Electron is not capable of executing / loading the binary.

[2021-02-05 01:58] midorizemi commented on #1175
It works! Thank you so much!
I added the settings `eslint.runtime` to setting.json as follows and restarted VS Code.

[code]
The runtime path is "Environment:" from `scoop info nodejs-lts`.

I don't understand yet why the node included in Electron cannot executing / loading the binary, although, This issue was solved.
Thank you so much for your support again, @dbaeumer!

[2021-02-05 01:58] #1175 closed

[2021-02-05 03:07] mingluzhang commented on #1165
Thanks for your explanation, and your advices to solve this problem.

[2021-02-05 08:22] dbaeumer commented on #1175
The problem is that when you install the package it is complied against the node version you have installed (which in you case is 14.15.4). Electron ships node version 12.18.3 and the binary compiled for 14.15.4 can't be loaded / executed in 12.18.3.

I know, not something a user usually wants to deal with :-)

[2021-02-05 10:43] midorizemi commented on #1175
Thank you for additional information.
I can understand the cause finally.
But Can I ask a question?
When I used VSCode in other OS environments (Ubuntu, etc.), I installed 12.18.3 version of node to develop, and in that environment, I was able to load it without any problems like this.
I'm sorry I don't have that knowledge at all.
Does this mean that the version of node provided by Electron is dif

[2021-02-05 11:15] mingluzhang commented on #1165
Hope to see the feature release asap. 👍

[2021-02-05 16:17] edemaine opened #1176 "Validate coffee script by default"
I'm having trouble getting this extension to run at all, within a Meteor project on a Windows 10 machine. I can run `eslint .` and `eslint <filename>` fine from the terminal. But in the ESLint output I get:

[code]

I believe the relevant context is that Meteor creates builds in `.meteor/local` which includes `package.json` files that (on Windows) are weird Windows symlinks.

What I don't understa

[2021-02-05 22:01] fractionalJoe commented on #1173
Thank you! I didn't realize that plugin was needed. I was able to remove my overrides for JSON. I've changed the indent in the package.json file so that it doesn't conform (rule expects 2 but I have it set at 4). But the eslint cli command isn't catching this either, so it's not an issue with this extension. This can be closed, but if you could point me in the right direction I would be grateful.

[2021-02-06 12:25] Florian-Schoenherr commented on #446
Just saying, this would align with what prettier has:
![image](https://user-images.githubusercontent.com/65456722/107118041-ae0a2300-687e-11eb-8f0a-07c880118de6.png)

[2021-02-07 06:36] zhuijing opened #1177 "eslint can not work，this is my logs."
![image](https://user-images.githubusercontent.com/25924193/107138836-d878e080-6951-11eb-82f6-7c28f32a03b6.png)

[2021-02-07 15:37] C-alcium commented on #1149
For situations like this where we are waiting on a fix, is there an option to silence this toast inside Vscode? It pops up every time I type a character

[2021-02-08 01:48] quoyi commented on #1136
You are my hero! Thanks!

[2021-02-08 09:26] dbaeumer commented on #1177
@newBird01 does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-02-08 09:28] dbaeumer commented on #1173
Thanks for getting back. Closing then.

[2021-02-08 09:28] #1173 closed

[2021-02-08 09:52] dbaeumer commented on #1176
@edemaine I am pretty sure that this fails because the ESLint server by default tries to run with the node version that ships with VS Code and therefore tries to do some asar resolving.

Can you try to use the `eslint.runtime` setting and point to to you local node install. If it is on the path you can simple set it to `node`.

[2021-02-08 09:55] dbaeumer commented on #1175
No it is not. The problem is that binaries are node version dependent. So if you install 12.18.3 it will work since the binaries are built against the right node API surface.

[2021-02-08 11:42] dbaeumer commented on #1170
@fcole90 the `eslint.workingDirectories` setting is your friend here since you need to do a cd when running in the terminal.

Please ping if this doesn't help.

[2021-02-08 11:42] #1170 closed

[2021-02-08 14:30] edemaine commented on #1176
Thanks for the quick response! I tried setting `eslint.runtime` to `"node"`, and ESLint server now says "running in node v15.5.1" which is the version I have installed.  Unfortunately, I'm still getting the same error.

[2021-02-08 14:40] zardoy opened #1178 "[QUESTION] `.eslintrc.json` vs `.eslintrc.yml`"
Similar to #76.

I'm just wondering here why this plugin doesn't show autocomplete for rules in `.eslint.yml`? It's not a big deal for me, but I'd like to know what is preferable format and which one should I use: `.eslintrc.json` or `.eslintrc.yml`?

<details>
<summary>.json autocomplete screenshot</summary>

![image](https://user-images.githubusercontent.com/46503702/107233057-34fffc80-6a33-11eb

[2021-02-08 16:30] fcole90 commented on #1170
Thanks, for reference I add here a link to the documentation for [eslint.workingDirectories](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint#version-2.0.4)

[2021-02-08 16:47] fcole90 commented on #1170
Solved by adding `.vscode/settings.json` to the root of the project with the following content (as you suggested):

[code]
Link to repo with fix: https://github.com/fcole90/fullstack_open_2020_part9

[2021-02-08 17:12] efeminella commented on #1149
As @C-alcium had suggested, is there a configuration setting that can be used to suppress specific toasts, such as this one while a fix is pending?

[2021-02-08 18:51] zardoy commented on #1178
@dbaeumer

[2021-02-09 03:11] midorizemi commented on #1175
Oh. I understand. Thank you so much.

[2021-02-09 08:49] dbaeumer commented on #1178
It is up to you to decide. VS Code ships with a JSON language pack this is why you get code complete. VS Code doesn't ship with a YML language pack so there is no smartness in YML files.

[2021-02-09 08:49] #1178 closed

[2021-02-09 08:51] dbaeumer commented on #1149
There is no setting in VS Code to filter those and adding code to ESLint seems wired especially since there is a easy fix for this. See https://github.com/eslint/eslint/issues/13957

[2021-02-09 16:58] dpolugic commented on #1055
For what it's worth, my issues went away by changing the `eslint.run` setting from the default `"onType"` to `"onSave"`. I save so often that I mostly get annoyance from the default behavior. :)

[2021-02-10 06:11] allardy commented on #1154
@dbaeumer We are in the process of switching from TSLint to ESLint in a relatively big codebase, and I have the same issue, but only in one specific package. When I run the CLI, it displays correctly the different warnings and errors, but the ESLint plugin doesn't show anything, and autoFix on save isn't working either.

Usually I run the CLI from the root of the project, which has all the plugins

[2021-02-10 10:42] dbaeumer commented on #1154
@allardy a GitHub repository I can clone with steps to reproduce is always welcome. Please keep in mind that ESLint is very sensitive to the current working directory when resolving things. So the `eslint.workingDirectories` setting might be your friend here.

[2021-02-10 11:32] allardy commented on #1154
@dbaeumer Clone this branch: https://github.com/botpress/botpress/tree/ya-mig-eslint
Then remove the config `eslint.nodePath` from `.vscode/settings.json`, then reload the window.

If you open the file `src/bp/ui-admin/src/api.tsx` and change the order of the imports (or type any code that should be fixed by eslint), nothing will be highlighted and if you save, it doesn't fix it. But if you add th

[2021-02-11 00:05] SamuelColacchia commented on #1154
I was about to post the below then as i was getting my version of vscode insiders I noticed there was a update avaible, on the latest version i am unable to reproduce the issue.

Version: 1.54.0-insider (system setup)
Commit: 40b3204d70a9c72305c613164272175d0b344b5f
Date: 2021-02-10T17:39:27.208Z
Electron: 11.2.3
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 1

[2021-02-11 04:09] Neurrone opened #1179 "cannot lint with @typescript-eslint/parser on remote"
I'm experiencing the same problem as described in #1075.

When running eslint in the terminal, I'm able to lint typescript files without any issues. However, it doesn't work with the vs code plugin and displays the following error: "The file does not match your project config"

Is there any way that I can see what the project config the extension is using?

[2021-02-11 11:45] oguru opened #1180 "ESLint not working in some components in React"
Hi

I've been having issues with ESLint. It seemed to work fine in an older project but i think it's even broken in that now. I've managed to get it working in at least 1 component in a React project, but it doesn't on another in the same directory heirarchy (at least not with the rules i've added - the default create-react-app linting works).

I made the project with create-react-app. In my packa

[2021-02-11 16:16] some-user123 commented on #1159
Is the provided information sufficient? Do you need anything else?

[2021-02-11 21:33] mrvisser commented on #1168
I had this issue just now, same error, not vue or anything, just a typescript project with no TSX files. I

I nuked my `node_modules`, ran `npm install`, then `shift+cmd+p: Reload window` / restart vscode. I didn't update the eslint.validate setting.

Not the solution we need, but perhaps the one that we deserve.

[2021-02-12 08:29] dbaeumer commented on #1168
@mrvisser that is strange. May be a plugin was missing hence the probing didn't work correctly.

[2021-02-12 08:30] dbaeumer commented on #1159
@some-user123 missed it. I will have a look.

[2021-02-12 08:36] dbaeumer commented on #1159
I tried to use the repository but it doesn't work. The repository depends on many node modules that seem to be gloablly installed on your system (e.g. typescript, eslint-plugin-vue, @vue/typescript/recommended). Can you please provide me with a repository that is self contained otherwise it is very hard to tell why things aren't working (we might use different versions of the modules)

[2021-02-12 08:37] dbaeumer commented on #1180
@oguru does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-02-12 08:39] dbaeumer commented on #1179
@Neurrone very hard to tell without reproducible steps. Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-02-12 09:02] dbaeumer commented on #1154
@allardy works for me without any problems. See

![cast](https://user-images.githubusercontent.com/1931590/107748453-5e61a680-6d19-11eb-8a2f-18aa66e8a8b9.gif)

[2021-02-12 09:15] dbaeumer commented on #1154
@SamuelColacchia works for me. No debug.log in any of the folders where I opened the TS file from
<img width="1124" alt="capture" src="https://user-images.githubusercontent.com/1931590/107749622-2bb8ad80-6d1b-11eb-9819-cfec89097e2a.png">

[2021-02-12 09:16] dbaeumer commented on #1055
@ljharb any luck debugging this?

[2021-02-12 09:17] dbaeumer commented on #1176
@edemaine can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-02-12 12:24] some-user123 commented on #1159
Thanks for looking into it.

I don't have globally installed modules except npm and yarn. Typescript is referenced in `app1/package.json`. I should have pointed out more clearly that the repo uses yarn workspaces.

Steps to reproduce:
- `git clone ...`
- `yarn install --frozen-lockfile`
- `yarn lint`
[code]

- Open folder in VSCode, open `app1/test.ts`.

![image](https://user-images.githubusercont

[2021-02-12 13:40] oguru commented on #1180
@dbaeumer I'd not used the terminal for ESLint before but it was working so after some further investigation I found that I was extending things that didn't exist which seemed to have been causing the issue, so it's all good now. Sorry for messing you around!

[2021-02-12 13:40] #1180 closed

[2021-02-12 15:11] Suntechnick opened #1181 "ESLint can't detect Babel config if @babel/eslint-parser is used as parser"
package.json dependencies:
[code]

.eslintrc
[code]

Babel config is located on the root of my project, same as .eslintrc:
![Screenshot 2021-02-12 at 16 59 06](https://user-images.githubusercontent.com/30172623/107784029-a4d3f700-6d53-11eb-92b4-185a1807351a.png)

But vscode-eslint can't seem to detect babel config:
![Screenshot 2021-02-12 at 16 56 01](https://user-images.githubusercontent.com/3017

[2021-02-12 17:45] ljharb commented on #1055
@dbaeumer i haven't had a chance to clone the repo just yet :-/ but now that I'm checking again, i can't reproduce it in actual vscode (which might be a newer version than when i tried before).

[2021-02-12 17:51] edemaine commented on #1176
Sure! Here are reproduction instructions (just tested):
* `git clone https://github.com/edemaine/comingle.git`
* For full effect, you need to [install Meteor](https://www.meteor.com/developers/install).
  * On Windows (the platform where I'm experiencing the issue), you need to [install Chocolately](https://chocolatey.org/install) and then run `choco install meteor`.
* Then run `meteor` within thi

[2021-02-15 06:31] Neurrone commented on #1179
I'm attempting to create a minimal reproduceable example.

On [this repository](https://github.com/Neurrone/vscode-eslint-issue), I have it in a WSL2 instance and have it opened in Vs Code.

I get the following error when opening index.ts:

[code]

Here's the error in the logs:

[code]

Running `npm run lint` in the terminal works.

[2021-02-15 07:11] Suntechnick commented on #1181
It seems this problem is with my configuration of eslint. Sorry.

[2021-02-15 07:11] #1181 closed

[2021-02-15 08:11] nbaleli-w opened #1182 "eslint extension keeps giving errors for a node_modules package - Failed to load config "./.config/eslint.config" to extend from"
the error `Error: Failed to load config "./.config/eslint.config" to extend from.` is flooding the output channel, showing popups none-stop

Ive tried looking everywhere for a solution, no luck yet -/
these are my configs:

[code]
error output:
[eslinterror.txt](https://github.com/microsoft/vscode-eslint/files/5980207/eslinterror.txt)

config file:
[eslintrc.txt](https://github.com/microsoft/vscod

[2021-02-15 08:41] dbaeumer commented on #1182
@nbaleli-w does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-02-15 08:47] dbaeumer commented on #1179
How do you open VS Code since the path looks absolutely strange. Can you try to do the following:

- open Ubuntu terminal
- `cd home/dickson/source/vscode-eslint-issue`
- open VS Code via `code .`

This will start VS Code in a special WSL mode and the path the eslint library is loaded from will be `home/dickson/source/vscode-eslint-issue/node_modules/eslint/lib/api.js`

You shouldn't start VS Code

[2021-02-15 08:47] #1179 closed

[2021-02-15 08:47] dbaeumer commented on #1179
Please ping if this doesn't help.

[2021-02-15 09:10] dbaeumer commented on #1176
@edemaine can you use ESLint correctly when running in a terminal and using ESLint from the `node_modules` folder using something like `node node_modules\eslint\bin\eslint.js file to validate`

Usually we expect a smaller reproducible case and installing something like Meteor is not what I want to do.

[2021-02-15 09:12] dbaeumer commented on #1055
@ljharb thanks for getting back

[2021-02-15 09:29] nbaleli-w commented on #1182
@dbaeumer could you please direct me on how to run it from the terminal ?

when using this
`./node_modules/.bin/eslint -c .eslintrc.js`

I get no output

[2021-02-15 10:34] Neurrone commented on #1179
I'm using code-insiders, and open it by using `code-insiders .`. I also have the remote development extensions installed.

Based on the path, its being accessed via the WSL$ network drive that you can use in windows explorer to view the contents of the WSL distribution.

[2021-02-15 10:35] Neurrone commented on #1179
Oh, I also forgot to mention that the contents of my repositories live in the WSL2 ext4 filesystem, not the normal windows filesystem for convenience and massive performance improvements when working in WSL2.

[2021-02-15 12:37] nbaleli-w commented on #1182
@dbaeumer
thanks for your help.
this issue is actually exactly the same as this one: https://github.com/microsoft/vscode-eslint/issues/974

[2021-02-16 01:36] edemaine commented on #1176
I tried to make a smaller reproduction, but it's tricky because the error seems to be transient, from *during* a build; probably the file gets created and removed before the ESLint server can access.

Fortunately, on further investigation, it seems that the error message doesn't actually cause the ESLint server to crash; it keeps going despite the transient errors.

My actual problem seems to be t

[2021-02-16 09:56] dbaeumer commented on #1176
@edemaine just to double check. Validating coffeescript using ESLint in the terminal works (e.g. `eslint --ext .coffee .`)?

[2021-02-16 09:57] dbaeumer commented on #1182
@nbaleli-w thanks. Can you provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-02-16 10:00] dbaeumer commented on #1179
@Neurrone Yes, having your wworkspace on the WSL2 ext4 file system is exactly how this should be used. However VS Code's extension host doesn't seem to run in the WSL environment since it tries to access the file system via a Windows Network Path (e.g. `\\wsl$\Ubuntu\home\dickson\source\vscode-eslint-issue\node_modules\eslint\lib\api.js). Can you provide me with a screen cast showing how you start

[2021-02-16 10:37] nbaleli-w commented on #1182
@dbaeumer unfortunately for me I was unable to reproduce this in a fresh repo.
If I ever succeed Ill repoen this, thank you.

[2021-02-16 13:13] mariusrak opened #1183 "Autofix is different from format on save"
Running `ESLint: Fix all auto-fixable Problems`  formats code differently that it is done on format on save.
Exactly in
[code]
is difference with space before parenthesis. On fix it is added, on save it is removed and error appears.

[2021-02-16 13:55] edemaine commented on #1176
Yes, correct.

[2021-02-16 20:33] Murad-Git opened #1184 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `2.1.14`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.53.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\MISHMU~1\AppData\Local\Temp\dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/E

[2021-02-16 21:31] Ranguna commented on #1145
You can define this in the root of you eslint config:
[code]

It fixed it for me.

[2021-02-17 10:44] dbaeumer commented on #1145
@lexicalunit did the suggestions fix the problem for you?

[2021-02-17 10:44] dbaeumer commented on #1184
@Murad-Git can you please attach the referenced profile (e.g. `c:\Users\MISHMU~1\AppData\Local\Temp\dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt`)

[2021-02-17 10:46] dbaeumer commented on #1176
I assume the probing for coffee script fails. You can always force validation using the deprecated `validate` setting. I will look into making coffee script probing work.

[2021-02-17 10:48] dbaeumer commented on #1183
Are you sure that you use eslint for format on save and not the built in TS/JS formatter. You need to configure this using

[code]

[2021-02-17 11:46] Neurrone commented on #1179
I realized I didn't install all the extensions in the remote containers pack, and I was also missing the remote WSL extension.

After ensuring that I was correctly running in the WSL instance of vs code server, everything's working perfectly.

Sorry for the false alarm

[2021-02-17 12:50] mariusrak commented on #1183
Yes, I have this in my settings.

[2021-02-17 14:41] Fr33maan opened #1185 "Extension cannot parse file under @tests directory"
If I rename that directory `@test` or `@tests`, then it's working.

`Generating fixed text for /home/freeman/dev/app/src/screens/settings/account/@testss/unit/CancelSubscription.cmp.test.tsx`

`Generating fixed text for /home/freeman/dev/app/src/screens/settings/account/@test/unit/CancelSubscription.cmp.test.tsx`

But with a directory named `@tests` I got:

`Extension 'ESLint' cannot format 'src/s

[2021-02-18 02:36] lexicalunit commented on #1145
@dbaeumer I will give it a try. We've been without power for a few days now. It might take a while to get to it.

[2021-02-18 10:38] dbaeumer commented on #1145
OK. Understood.

[2021-02-18 10:39] dbaeumer commented on #1185
Need to investigate. How are you triggering format. Via keyboard or on save automatically.

[2021-02-18 10:44] dbaeumer commented on #1183
One thing the extension does is to reuse fixes from previous linter runs. Since they can overlap some of the fixes might be dropped. You can force the extension to re-compute the fixes on save (which slows down save) using the setting `"eslint.codeActionsOnSave.mode": "all"`. If this doesn't help  can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-02-18 10:47] Fr33maan commented on #1185
Both: Save or Ctrl + Shift + I
Saving the file does not even display the message.
Only when keyboarding

[2021-02-18 18:33] lexicalunit commented on #1145
@dbaeumer Power's back on and I was able to quickly test this. It works! 🎉

I added the following to my `.eslintrc.js` file:

[code]

And now when I open up the root of the repository in vscode my eslint plugin seems to work just fine.

[2021-02-18 19:45] mariusrak commented on #1183
I have this setting also. It'd be difficult to share a repo. But am I only one who experience this discrepancy?

[2021-02-19 10:15] dbaeumer commented on #1183
Open once yes. I had a handful of those issues in the past but they got resolved. Is your source on GitHub. You could invite me to the repository only giving me read access.

[2021-02-19 10:16] dbaeumer commented on #1145
@lexicalunit Thanks a lot for getting back. I will close the issue then.

[2021-02-19 10:16] #1145 closed

[2021-02-19 10:16] dbaeumer commented on #1185
OK. Thanks.

[2021-02-19 10:17] snebjorn commented on #929
To others finding this looking for a fix to ESLint squigglies in HTML files.
I only had to add: `"eslint.validate": ["typescript", "html"]`

🤞 for a fix

[2021-02-19 10:17] dbaeumer commented on #1179
No problem.

[2021-02-19 13:00] snebjorn opened #1186 "Unexpected token in Angular HTML (prettier rule)"
I'm getting errors reported in my Angular HTML

I've applied the workaround mentioned in #929 for getting linting squiggles in the HTML.

**What version of `eslint` are you using?**
7.20.0

**What version of `prettier` are you using?**
2.2.1

**What version of `eslint-plugin-prettier` are you using?**
3.3.0

**What version of `vscode-eslint` are you using?**

Actually it's pretty hard to tell that

[2021-02-19 15:13] mariusrak commented on #1183
The repo is under NDA so I cannot share it. But maybe would help that I'm running VSCode with remote connection on WSL2 Ubuntu 20.04 and here's my `.eslintrc.json`:
[code]
and my `.editorconfig`:
[code]

[2021-02-19 16:14] mariusrak commented on #1183
I have also noticed, that when I create a new file and pres format (Shift+Alt+F) it will ignore .eslintrc.json and format it with 8 spaces instead of configured 2.

[2021-02-19 17:17] Fr33maan commented on #1185
@dbaeumer I just discovered that everything under a `lib` directory will be ignored too.
message is:
"File ignored because of a matching ignore pattern. Use "--no-ignore" to override.eslint"

Not sure how to add this param to the runner of the extension

[2021-02-22 07:29] rudyhuynh opened #1187 "Visual Studio Code does not show red underline for eslint errors, although the extension still works"
The extension works as expected in PROBLEMS panel, there is also a lightbulb, but there is no red underline on the code:

<img width="630" alt="Screenshot 2021-02-22 at 3 27 02 PM" src="https://user-images.githubusercontent.com/17097854/108675937-6c39d780-7522-11eb-9b30-3df7607debc5.png">

Version: 1.53.2
Commit: 622cb03f7e070a9670c94bae1a45d78d7181fbd4
Date: 2021-02-11T11:45:54.515Z
Electron: 11.

[2021-02-22 07:50] nbaleli-w commented on #1182
Ive managed to create a repo for reproduction
https://github.com/NitsanBaleli/eslint-vscode-repro-test

thus Im reopening this sue, thank you

[2021-02-23 04:42] lifeiscontent commented on #1163
@dbaeumer I have a similar issue, I can give you access to the codebase I'm seeing it in if you have time to debug it

[2021-02-23 09:31] JonFranchi commented on #1181
I'm experiencing this same issue @Suntechnick , so I'm curious what your issue was.  I am using `babel.config.js` and upgraded to use `@babel/eslint-parser` and now VScode lint rules seem broken.

I'm having no issues with Babel or ESlint anywhere else, but VScode-eslint seems to think it's broken with a `no babel config file detected...` error.

[2021-02-23 14:28] hxsaber commented on #1055
When I disabled the vue-helper plug-in, the problem was solved.

[2021-02-23 15:07] snebjorn commented on #1186
I got this working. Don't remember what made it work. I just tried all the things.

[2021-02-23 15:07] #1186 closed

[2021-02-25 10:10] thernstig opened #1188 "Automatically use current node from environment"
Hi!

I am using a project such as https://direnv.net/ to set my environment per directory. I.e. if I change into various project directories where I do coding, I can have an `.envrc` (or `.env`) file that gets automatically loaaded on dir change. There are many other similar projects (autoenv etc.).

In regards to this, `eslint.runtime` is explained like:

[code]

Looking at other issues here, it

[2021-02-27 00:25] brettcannon opened #1189 "Don't show "ESLint" in the status bar when a non-applicable file is open"
Based on https://github.com/microsoft/vscode-eslint/issues/1068 I assume that minimizing the activation scope to specific file types isn't desired (but maybe I'm wrong?), but would it be possible to not show "ESLint" in the status bar when you have e.g. a `.rs` file open?

[2021-02-27 02:07] mjbvz opened #1190 "ESLint status bar entry flickers when focusing on output/debug console and then back"
Issue Type: <b>Bug</b>

**Repro**
1. Open a JS or TS file
1. See the `ESLint` entry in the status bar
1. Now open the output view or the debug console.
1. Focus on the debug console

**Bug**
The `ESLint` status bar entry disapears. This shifts the rest of the status bar contents around

Extension version: 2.1.14
VS Code version: Code - Insiders 1.54.0-insider (e590188f17162393f50feec19263398e6fe02

[2021-02-27 02:08] mjbvz commented on #1190
For VS Code's JS/TS support, we consider the last active JS/TS file as being active when the user focuses on the output or debug console

https://github.com/microsoft/vscode/issues/117813

[2021-02-27 21:15] phillsv87 commented on #1115
This worked for me too. My functions directory was in a backend project under the root of my main project.
[code]

[2021-03-01 01:56] axetroy opened #1191 "The eslint process becomes a zombie process and takes up a lot of CPU"
![截屏2021-03-01 09 53 23](https://user-images.githubusercontent.com/9758711/109442767-05fa0b00-7a74-11eb-8f18-05f1cc0d3ab4.png)

It can be seen from the image. ref: https://github.com/microsoft/vscode/issues/117647

1. There are multiple instances of eslint server running, and they are isolated processes
2. These processes will not exit and consume a lot of CPU

[2021-03-01 12:23] dbaeumer commented on #1191
The extension starts an ESLint server for every open VS Code window.

When this happens do you still have a VS Code window open? Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-03-01 12:27] dbaeumer commented on #1189
The problem here is that we can only decide whether ESLint will validate a file if the user gave permission to run the ESLint library (the status bar item has NO blocked sign). Is this the case for you? If so can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-03-01 12:29] dbaeumer commented on #1188
Have you simply tried to use `node` as the value. However that needs node to be available through your environment.

[2021-03-01 12:35] dbaeumer commented on #1055
@hxsaber can you share a repository were I can reproduce this with the vue-helper plug-in enabled?

[2021-03-01 12:36] dbaeumer commented on #1163
@lifeiscontent does validation happen correctly for you in the terminal? If so access to the repository you are seeing it is apprecaited.

[2021-03-01 12:54] dbaeumer commented on #1182
@nbaleli-w thanks for the repository. I am not able to reproduce this. Can you provide me with concrete steps

<img width="444" alt="capture" src="https://user-images.githubusercontent.com/1931590/109499754-9b59c700-7a95-11eb-946a-231bde02533d.png">

[2021-03-01 12:59] nbaleli-w commented on #1182
@dbaeumer really no special steps, as soon as I open the VScode window of that workspace, this is what I see when I open the ESLint panel:

![image](https://user-images.githubusercontent.com/56867262/109500282-b8df5e80-7a9e-11eb-82dd-932621b798ad.png)

[2021-03-01 13:09] dbaeumer commented on #1182
Here is what I see:

<img width="889" alt="capture" src="https://user-images.githubusercontent.com/1931590/109501332-bd544900-7a97-11eb-9beb-5d2df2cdd85d.png">

[2021-03-01 13:11] dbaeumer commented on #1182
Do you open a folder or the workspace file?

[2021-03-01 13:13] dbaeumer commented on #1187
Very likely a dup of https://github.com/microsoft/vscode/issues/116305. Do you have the settings described here: https://github.com/microsoft/vscode/issues/116305#issuecomment-780099359

[2021-03-01 13:15] dbaeumer commented on #1185
Do you have a `.eslintignore` file?

[2021-03-01 13:16] nbaleli-w commented on #1182
@dbaeumer
no special workspace settings (empty workspace settings file)

it is opened as a directory, not a workspace.

any additional info I can add here ?

[code]

[2021-03-01 13:18] dbaeumer commented on #1183
I am pretty sure that this has nothing to do with WSL2 since I am a heavy user of it as well :-)

Unfortunately something like this depends on a lot of things (eslint version, install plugins, config files, settings) so without steps on how to reproduce this it is very hard to track down. Could you distill a small test repository?

[2021-03-01 13:21] thernstig commented on #1188
@dbaeumer That did fix it. I wonder if that should not be the default really rather than the built-in one?

[2021-03-01 13:22] Fr33maan commented on #1185
omg Im so sorry bro. I indeed have it and lib is inside.
My bad for that time waste.

[2021-03-01 13:22] #1185 closed

[2021-03-01 13:23] Fr33maan commented on #1185
`.eslintignore` file content

[code]

[2021-03-01 13:24] dbaeumer commented on #1182
Can't reproduce even if I open the folder (e.g. the repository root I cloned),

<img width="955" alt="capture" src="https://user-images.githubusercontent.com/1931590/109502848-d1994580-7a99-11eb-9950-3f5c5ed84e3e.png">

[2021-03-01 13:25] dbaeumer commented on #1185
No problem. Stuff like that happens :-)

[2021-03-01 13:26] dbaeumer commented on #1188
No, since it would require users to install node to have ESLint support. The direction of VS Code is to work out of the box without any additional executable installs.

I will close the issue.

[2021-03-01 13:26] #1188 closed

[2021-03-01 14:18] nbaleli-w commented on #1182
I guess this is a local issue?
Ill close it for now, maybe some one else will come up with the same issue and we will be able to find the cause

thanks for you time, @dbaeumer!

[2021-03-01 14:18] #1182 closed

[2021-03-01 14:22] reifnotreef commented on #1055
Just wanted to drop in and say that I recently moved my dev environment to the cloud and haven't seen this error since.
All VS Code settings are the same, all extensions are the same, all npm packages are the same, same repo I'm working in.

I have no idea why it happens locally. My initial thought was something wonky with WSL2, but it sometimes happens to my coworkers who are on Mac as well.

[2021-03-01 14:26] thernstig commented on #1188
@dbaeumer But `"eslint.runtime": "node"` cannot be set in the user settings in VS Code. It is grayed out and hovering over it reports `This setting cannot be applied in this window. It will be applied when you open local window.`.

I agree with that direction, but _if_ a node is found in the environment, then I think it should opt to use that instead of the builtin. I.e. the config `eslint.runtime

[2021-03-01 17:32] lifeiscontent commented on #1163
nope, its only via your plugin. I'll send you an invite, I'm seeing it in this branch `feature/components` on file `packages/react-components/src/Sliderdiscrete/Sliderdiscrete.tsx` line 89 `React.Children.map`

[2021-03-02 10:34] dbaeumer commented on #1163
OK. Will wait for the invite :-)

[2021-03-02 11:40] mariusrak commented on #1183
I just had to set it up one more time, but through GUI.
Right click on document > Format Document With > ESLint
I don't understand why it ignored my settings, but it works now.
Thanks for your time.

[2021-03-02 11:40] #1183 closed

[2021-03-02 13:08] dbaeumer commented on #1183
No problem.

[2021-03-02 13:09] dbaeumer commented on #1188
You mean having an auto value for the runtime setting?

[2021-03-02 13:11] dbaeumer commented on #1055
@reifnotreef interesting. But I have no glue why things should be different in the cloud. Only thing that comes to my mind is that you got some different versions of eslint / plug-ins when doing the install.

[2021-03-02 14:14] thernstig commented on #1188
As your answer was very short, I can only guess what you mean, but I _guess_ yes. Was the problem description in my last post not good enough? The essence is that using a built-in `node` version is a bad idea if I have one already in my environment. And I cannot set `"eslint.runtime": "node"` settings (see error above).

[2021-03-02 19:03] brettcannon commented on #1189
Unfortunately I can only reliably trigger it on a personal, private repo, but it's causing the "✔✔ ESLint" to show when opening the `README.md` file (the repo itself only contains JSON and Python files otherwise).

[2021-03-03 21:15] lifeiscontent commented on #1163
@dbaeumer already sent during the comment I left. https://github.com/lifeiscontent/lifetime/invitations

[2021-03-04 22:05] bachmannn opened #1193 "Text cursor jumping randomly in editor when autoSave enabled"
I have these rules enabled using ``eslint 6.8.0`` in the workspace and ``autoSave`` vs code set to 1000.

[code]
**Bug**
The text cusor jumps pack 4 spaces or the nearest word, sometimes it deletes words too, for example:

[code]
Is there a specific rule causing this, a bug makes more sense?

[2021-03-05 06:34] lifeiscontent commented on #1163
@dbaeumer any updates here?

[2021-03-05 09:52] selrond opened #1194 "Add `requireConfig`-like option to only run eslint if it's configured"
Currently, when I work inside projects, that don't have eslint set up, it always runs (and marks a lot of things as errors / warnings), as it's not configured properly.

One solution to this may be something like `prettier-vscode`'s [`prettier.requireConfig`](https://github.com/prettier/prettier-vscode#prettierrequireconfig-default-false) option.
It prevents prettier from formatting files if prett

[2021-03-05 14:10] thernstig commented on #1188
I can create a new, better issue for this if wanted with a better description. Will give it a go later.

[2021-03-05 14:12] rudyhuynh commented on #1187
@dbaeumer Indeed, it is, thank you and closing the issue now.

[2021-03-05 14:12] #1187 closed

[2021-03-05 14:29] dbaeumer commented on #1188
@thernstig can you describe your setup a little bit more. Since I can set `"eslint.runtime": "node"`.

[2021-03-05 14:33] dbaeumer commented on #1194
There is a deprecated setting `eslint.enable`. The recommended way to do this in VS Code is to disable the extension for the workspace folder using the extensions viewlet.

[2021-03-05 14:45] selrond commented on #1194
Thanks, yes, seems to be the only solution for now. I was looking for a more automated solution though

[2021-03-05 14:49] dbaeumer commented on #1163
I see no unused var error. Here is what I see:

<img width="606" alt="capture" src="https://user-images.githubusercontent.com/1931590/110131325-5225b200-7dca-11eb-8466-03dd157efb56.png">

[2021-03-05 14:49] dbaeumer commented on #1194
What do you mean by automated ?

[2021-03-05 14:51] dbaeumer commented on #1193
Can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Otherwise it is alamost impossible to investigate errors like this.

[2021-03-05 14:53] dbaeumer commented on #1189
OK, the two check marks explain it. You have allowed ESLint to run everywehere. To signal this to the user we show ESLint status icon always when running in the mode.

[2021-03-05 15:22] selrond commented on #1194
is there an `.eslintrc` (or any other eslint config) ? enable extension : disable extension

see the prettier link in the original comment

[2021-03-05 17:14] brettcannon commented on #1189
So is the expectation that I install it disabled and then manually enable it per workspace?

[2021-03-05 17:19] ranisalt commented on #1156
Putting `node_modules` into .eslintignore does not help, eslint server crashes in the first run always. It started happening after updating to 2.1.14, it was not so often with 2.1.8.

I can use `--max_old_space_size` but I tested up to 4096 and it still crashes and worse, it starts killing other processes.

[2021-03-05 17:47] Awyssa opened #1195 ""Cannot read property 'toLowerCase' of null""
Hello, apologies in advance as I can see this issue has come up before,  but I still have no workaround.

[code]

tried removing the  "eslint.trace.server", and/or changing it, but to no avail. Did uninstall on npm and vscode, still same issue. Cannot resolve issue.

Maybe I am being very stupid and it's an obvious fix, or perhaps many others are having the same issue and we can all resolve this t

[2021-03-05 20:33] bachmannn commented on #1193
You can replicate the issue by doing ``create-react-library -t typescript``. It comes with a bunch of linting rules but the issue is specific to how vscode editor works on them.

**Additional Steps to Reproduce**
1. Install 3 VSCode addons ESLint-EditorConfig-Prettier
2. Set autoSave 1000 that causes frequent jumping cursor (easier to reproduce)
3. Use Prettier addon as default formatter in vscode

[2021-03-06 16:11] jcready opened #1196 "Provide option to interface with eslint binary (command line interface)"
First, thank you for providing this very helpful extension. I am probably in a very unique situation (based on the fact that I don't see any similar issues/PRs), but I was wondering if it would be possible for this extension to provide an option to interface directly with an eslint binary (e.g. [the Command Line Interface](https://eslint.org/docs/user-guide/command-line-interface)) instead of thro

[2021-03-07 00:15] lifeiscontent commented on #1163
@dbaeumer yep, but if you run the lint in the terminal that doesn't show up as an error. its exclusive to the vscode plugin.

[2021-03-07 00:17] lifeiscontent commented on #1163
@dbaeumer there are other issues that you've closed in the past that are similar but failed to provide a reproducible example. So this is what I'm providing for you, however I guess its not this exact issue as stated above.

[2021-03-07 19:27] GBrachetta opened #1197 "Cannot read property 'type' of undefined when run: onType"
Eslint extension throws an error permanently when the setting selected is run: onType, for example while typing

[code]

And in many other ocassions.

As soon as I enter the first parentheses pair (as in the snippet above) I get the following

![Screenshot 2021-03-07 at 20 20 05](https://user-images.githubusercontent.com/57924268/110251844-d28f1300-7f82-11eb-8cc9-4f1720946bdc.png)

And the output

[2021-03-08 03:06] phoenixeliot commented on #1087
Just to add a use case here: I work with a repo that has "before" and "after" code for programming problems for students. The "before" code often has some pieces missing, making it not technically valid code. It would be nice if I had a way to easily disable those errors, and only view the actual linting errors, since so many parse errors that I must not fix show up in the current output.
I could

[2021-03-08 11:35] dbaeumer commented on #1197
The exception happens in a eslint plugin not in the ESLint extension itself:

[code]

So I guess it has something to do with the version of ESLint or the react plugin

[2021-03-08 11:39] GBrachetta commented on #1197
Thank you, in fact I believe the error was triggered by this setting:

`"eslint.validate": []`

I am not sure how to use that rule to be honest, but so far removing "javascript" from the array seems to have sorted that permanent error triggering.

[2021-03-08 11:41] dbaeumer commented on #1163
Actually I see the same error when running ESLint in the terminal for the given file using:

[code]

[2021-03-08 11:45] dbaeumer commented on #1197
@GBrachetta but that disables all linting of JS files. Have you tried to update to the latest version of ESLint and the plugins you are using?

[2021-03-08 11:47] dbaeumer commented on #1196
The only way how this is currently possible is why a VS Code task. There is currently no way to do this using the extension itself and very likely never will be since the extension manages a lint server to not load and start ESLint over and over again.

[2021-03-08 11:49] dbaeumer commented on #1195
@Awyssa do you have any `null` value in your settings (user or workspace)?

[2021-03-08 11:50] GBrachetta commented on #1197
I'm fully up-to-date. I must say the errors happen when working on jsx files as far as I can tell (that's basically all I'm working on lately). Currently this is my setting:

    "eslint.validate": [
        "javascriptreact"
    ]

It previously contained as well "javascript". Removing it has stopped the error, while I still have linting in jsx files.
I cannot think of what can be wrong otherwise

[2021-03-08 11:52] dbaeumer commented on #1193
@bachmannn can you please provide me with a GitHub repository I can clone. From my experience something like this depends on many things (settings, used versions, ...) that it will be very hard to ensure we are looking at the same setup without me cloning something were you can produce the error.

[2021-03-08 11:53] dbaeumer commented on #1197
That sounds very strange. But as comment it happens in the react library. There is nothing I can do anyways to fix this.

[2021-03-08 11:54] dbaeumer commented on #1156
@ranisalt does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-03-08 11:55] GBrachetta commented on #1197
Thank you! Maybe you would like to try and replicate it and see if the same happens on your end?
I'll experiment a bit more as soon as I have the chance to work on non-jsx files.

[2021-03-08 11:57] dbaeumer commented on #1189
Yes and No. The problem is that I need to show an indication when `Always Allow` was selected to indicate the mode. Instead of having another status item we decided to show the ESLint one instead. However this will change when ESLint will adopt the trusted workspace model VS Code is working on.

[2021-03-08 11:57] dbaeumer commented on #1197
Will see what I find.

[2021-03-08 11:59] dbaeumer commented on #1194
@selrond Then we should un deprecate `enable` and not find yet another solution.

[2021-03-08 11:59] dbaeumer commented on #1194
I am still don't understand what you mean by automated.

[2021-03-08 12:06] haojun99 opened #1198 "how to make eslint work with Remote SSH"
I have eslint installed globally and it works fine when I use VS code on the machine. But it doesn't work when I use VS code from another machine and remote SSH to it.

ESLint extension doesn't seem to be able to find the globally installed ESlint engine. I have path to be ESlint added in .bashrc.

[2021-03-08 18:00] brettcannon commented on #1189
Ah, OK, now I get it: because I said I trusted ESLint you're being upfront by visually indicating it's always running so people are aware of that fact. And since ESLint is being triggered for me by e.g. `README.md` it's showing up all the time even for repos with zero JS/TS.

I'm going to go ahead and close this since the trusted workspaces approach totally solves the reason I brought this up. I c

[2021-03-08 18:00] #1189 closed

[2021-03-08 18:15] lifeiscontent commented on #1163
@dbaeumer is there a possibility that vscode-eslint is not finding the root eslint config?

[2021-03-08 18:59] lifeiscontent commented on #1163
@dbaeumer I've been chatting with @bradzacher as well on this issue about it: https://github.com/typescript-eslint/typescript-eslint/issues/3053

[2021-03-09 10:36] selrond commented on #1194
ok nevermind, not big of an issue

[2021-03-09 10:36] #1194 closed

[2021-03-10 10:58] CTS-Sadegh commented on #707
https://stackoverflow.com/a/61030524/12526205

[2021-03-10 13:12] dbaeumer commented on #1197
Makes sense.

[2021-03-10 13:14] #1197 closed

[2021-03-10 14:12] dbaeumer commented on #1163
@lifeiscontent VS Code eslint uses the eslint npm module under the hoods. So if the eslint command in a terminal (e.g. `./node_modules/.bin/eslint packages/react-components/src/Sliderdiscrete/Sliderdiscrete.tsx`) finds the config or doesn't find it then the same is true for the extension.

[2021-03-11 07:50] dbaeumer commented on #477
Version 2.1.17 now contains a Restart Server command.

[2021-03-11 07:50] #477 closed

[2021-03-11 07:50] dbaeumer commented on #164
Version 2.1.17 now contains a Restart Server command.

[2021-03-11 07:50] #164 closed

[2021-03-11 09:06] chungweileong94 commented on #164
@dbaeumer Cool, but how can we run the restart command? Because I can't find any of that.

[2021-03-11 12:06] stenzengel opened #1199 "Reduce each severity by one level, i.e. display ESLint error as VS Code warning and display ESLint warning as VS Code info"
**Issue**
As pointed out in issue #468, most ESLint shared configs use "error" as their default rule severity, but should often be displayed as warnings in VS Code since they are often less important and thus should not be mixed with TypeScript errors. In addition, an even less important (e.g. stylistic) rule in ESLint is normally (or can be) configured with severity "warn", which should be displa

[2021-03-11 19:58] Awyssa commented on #1195
Hi Dirk, thanks for the response! 
My VSCode settings were setting the trace.server to null, was silly of me to not check that initially. Followed these steps to fix it, just in case anyone else ran into this.

Open settings.json in VSCode, not the one that says default settings
See if you’ve got the line 'eslint.trace.server: null'
If it is in there then remove it.

Thanks again for the response,