[2016-11-02 13:25] joshfttb commented on #154
Personally I'm less worried about on save than when I run the command manually. 

Josh F

Sent from
https://polymail.io/

On Wed, Nov 02, 2016 at 08:58 "Dirk Bäumer"

<
mailto:

a, pre, code, a:link, body { word-wrap: break-word !important; }

https://github.com/darkred
thanks for the pointers. Reading through it makes it clear that the n round approach is here to stay. So I will look into how we

[2016-11-03 05:14] kentor opened #164 "command to restart server or plugins without quitting vscode"
This may be a rare use case, but I'm actually *developing* an eslint plugin. I live test the plugin by symlinking the package to node_modules, and load it up in my eslintrc file. So I develop and live test at the same time.

When I make changes to the implementation of a rule for my plugin, it doesn't get picked up by this extension. Is there a way to restart the eslint server or tell it to reload

[2016-11-03 10:37] abdonrd commented on #21
+1 about this!

I have the `eslint-plugin-html` installed but doesn't work in the VSCode.

[2016-11-03 15:02] smlombardi opened #165 "func-call-spacing error?"
I have an Angular controller which is wrapped in an IIFE.  When I use VSCode's "format code" command, it adds a space between the function and parens, which is correct:

`_this.deploy = function () {...}`

But "format code" does this to the end if the IIFE, which is equally ok but eslint flags it as an error:

![screen shot 2016-11-03 at 10 54 56 am](https://cloud.githubusercontent.com/assets/8351

[2016-11-04 10:43] qinershi commented on #37
@dbaeumer It works after I reinstall the vscode and eslint ext, thanks all the same

[2016-11-04 11:27] czak opened #166 "editor.action.formatDocument vs ESLint rules"
I sometimes use `editor.action.formatDocument` (<kbd>Shift</kbd>+<kbd>Alt</kbd>+<kbd>F</kbd>) after cutting/pasting.
I also use ESLint to detect (among others) formatting issues.

I notice these two aren't agreeing on correct formatting.
Here's a demo of <kbd>Shift</kbd>+<kbd>Alt</kbd>+<kbd>F</kbd> introducing ESLint warnings:

![vscode-eslint-format](https://cloud.githubusercontent.com/assets/140

[2016-11-04 11:57] dbaeumer commented on #166
@czak not that I am aware of. To get this working you would need to file an issue against VS Code since the JS/TS formatter would have to respect this.

[2016-11-04 11:57] #166 closed

[2016-11-04 11:57] dbaeumer commented on #37
OK. I will close the issue then.

[2016-11-04 11:58] dbaeumer commented on #37
Issue was closed.

[2016-11-04 11:58] #37 closed

[2016-11-04 11:59] dbaeumer commented on #165
@smlombardi you need to file this against vscode (https://github.com/Microsoft/vscode). Thanks.

[2016-11-04 11:59] #165 closed

[2016-11-04 12:01] dbaeumer commented on #164
@kentor this is currently not possible. PR welcome. All that needs to be done is to add a command and then in the extension code call client.stop() and client.start().

[2016-11-04 12:03] dbaeumer commented on #103
Agree, but this needs to get more dynamic since you could change the settings and want eslint to respect this. This is currently not possible with the LSP protocol I use. I am working there to enable this.

[2016-11-05 23:46] Serguzest commented on #71
Guys, don't forget adding  "plugins": [ "react" ] to your .eslintrc.json

[2016-11-07 02:56] kentor commented on #164
seems like client.stop() is async, and client.start() will throw if it's already started

[2016-11-07 10:06] dbaeumer commented on #164
Good catch. Will add a promise to stop.

[2016-11-07 14:07] dgieselaar commented on #163
Yeah, I mean Windows Subsystem for Linux. I've decided to install the npm modules on the host, because even if this works a bunch of other stuff will not and it should probably be fixed (if possible) at a higher level. Thanks for the help!

[2016-11-07 14:07] #163 closed

[2016-11-08 14:31] dbaeumer opened #167 "Support multiple node_modules/eslint version in one workspace"
Currently only one ESLint version is support and that must be installed in the workspace root folder or globally. We should support more than one module for typical client / server setups.

[2016-11-08 14:46] #167 closed

[2016-11-09 14:59] ifelsee commented on #103
same proble

[2016-11-09 22:21] egucciar opened #168 "ESLint Not Working"
I've been working with a few people using this extension and it's inexplicably "not working" in two people's code editors (It was working then it stopped). We went through basic steps, reinstalling, restarting, enabling/disabling, and nothing seems to work. But I'm not sure what other troubleshooting steps I could take to "force" it to work? Please let me know.

EDIT: 5 other people using the same

[2016-11-10 09:07] dbaeumer commented on #168
@egucciar There is a ESLint output channel. You can open it using Vies > Output and the switch to the ESLint channel using the drop down (you need to open a JS file first to activate ESLint). Is there any error information in the channel.

If not you can enable eslint tracing using `"eslint.trace.server": "verbose"`. This will print a verbose log to the output channel. Can you attach the log here?

[2016-11-10 09:37] #160 closed

[2016-11-10 09:45] dbaeumer commented on #92
Fixed with upcoming 1.1.0 release

[2016-11-10 09:45] #92 closed

[2016-11-10 09:46] dbaeumer commented on #7
Fixed.

[2016-11-10 09:46] dbaeumer commented on #10
Got fixed a long time ago.

[2016-11-10 09:46] #10 closed

[2016-11-10 09:48] dbaeumer commented on #26
This got addressedin latest versions. ESLint no logs to the output and only shows the output once per workspace. After that it is quite.

[2016-11-10 09:48] #26 closed

[2016-11-10 09:48] dbaeumer commented on #32
This is addressed in the upcoming 1.1.0 release of ESLint.

[2016-11-10 09:48] #32 closed

[2016-11-10 09:49] dbaeumer commented on #55
Closing. No response received.

[2016-11-10 09:49] #55 closed

[2016-11-10 09:50] dbaeumer commented on #56
The owner for eslint problems is now correctly set to eslint.

[2016-11-10 09:50] #56 closed

[2016-11-10 09:52] dbaeumer commented on #63
I added support to the LSP to restart a server when it crashes. And ESLint now handles the case when the eslint server calls process.exit() which is the case in some eslint plugins.

[2016-11-10 09:52] #63 closed

[2016-11-10 10:40] dbaeumer commented on #71
Unfortunately ESLint doesn't offer any API to tell me which .eslintrc file is used (unstandable since it is a merge of many files). If this happens I now print the following to the output window instead of showing a flashing window message

[code]

Fixed in the upcoming 1.1.0 release

[2016-11-10 10:43] abhinavjain1607 opened #169 "ES Lint not working properly with enters and if else"
This was the piece of code before:
**The if else is not aligned properly**

if(this.props.selected) {
	image = LeadsSelectedImages[this.props.action.actionKey];
}
else {
	image = LeadsNotSelectedImages[this.props.action.actionKey];
}

## After linting, it comes to this.
Here, the tabs before else is not proper. Please look after this :)

if (this.props.selected) {
	image = LeadsSelectedImages[this

[2016-11-10 10:58] dbaeumer commented on #71
Polished the message a little
[code]

[2016-11-10 10:59] #71 closed

[2016-11-10 11:01] dbaeumer commented on #156
Fixed in upcoming 1.1.0.

[2016-11-10 11:01] #156 closed

[2016-11-10 11:02] dbaeumer commented on #152
@KiltedViking any new insides. I will release 1.1.0 soon which has more tracing to better track this down.

[2016-11-10 11:37] dbaeumer commented on #150
Fixed with 1.1.0

[2016-11-10 11:37] #150 closed

[2016-11-10 11:37] dbaeumer commented on #149
Fixed with 1.1.0

[2016-11-10 11:37] #149 closed

[2016-11-10 11:56] dbaeumer commented on #122
I added two commands to enable and disable ESLint. These will only be available if a workspace folder is open since changing a global setting can be very confusing.

[2016-11-10 11:56] #122 closed

[2016-11-10 11:58] dbaeumer commented on #105
Closing since I haven't received any response. Please ping if you still think this is a problem.

[2016-11-10 11:58] #105 closed

[2016-11-10 11:59] dbaeumer commented on #101
Closing then.

[2016-11-10 11:59] #101 closed

[2016-11-10 12:00] dbaeumer commented on #120
Fixed by using max(0, value);

[2016-11-10 12:00] #120 closed

[2016-11-10 12:01] dbaeumer commented on #96
Closing issue since this is fixed.

[2016-11-10 12:01] #96 closed

[2016-11-10 12:02] dbaeumer commented on #6
I am closing this issue since I can't reproduce and @ArianeLu issue is different.

[2016-11-10 12:02] #6 closed

[2016-11-10 12:02] #7 closed

[2016-11-10 12:03] dbaeumer commented on #18
This is available in the latest eslint although with only one pass of fixes. For the n pass case a issue exists.

[2016-11-10 12:03] #18 closed

[2016-11-10 12:05] abhinavjain1607 commented on #169
The else in the comment is not what came after linting:
It was like  [tab][tab]else
the tabs were taken from the next line

[2016-11-10 13:25] dbaeumer commented on #169
@abhinavjain1607 can you share a workspace / git repository showing the behavior. Do you have auto fix on save enabled ?

[2016-11-10 13:56] dbaeumer commented on #164
Added promise in latest.

[2016-11-11 09:33] Pszek opened #170 "Problems with nested rules"
Rules like that ones:
[code]
are breaking eslint. I use Node 5.12.0, but also tried it with 7. System is OSX, and VScode is newest stable version. Also using global eslint, babel-eslint (newest ones) and config from config.json.

These problems started showing just today (I guess this is somehow connected wit the update)

How can I help you to solve the problem?

![zrzut ekranu 2016-11-11 o 10 25

[2016-11-15 18:58] cheapsteak commented on #107
Is it possible to set the location of the eslint config?

An app ejected out of create-react-app has the configs in `/config/eslint.js`

A workaround is to either create a `.eslintrc.js` in the project root that only contains

[code]

Or move the config back out to the root

Neither is ideal (bending the project to satisfy the editor). Would hope to be able to tell the plugin where to look for a c

[2016-11-15 23:53] dbaeumer commented on #107
You can configure this using the following VS Code setting: `eslint.options.configFile`

[2016-11-16 04:49] sonnn commented on #6
I have the same problem.
could you try with .eslintignore with  **/*.js ? mac environment.

[2016-11-16 14:00] lrs commented on #156
Unfortunately, I'm still seeing the error with version 1.1.0. I tried re installing the ESLint extension with no effect.

Maybe I'm using the wrong syntax for the nodePath setting?

Here's the ESLint trace:
[code]

[2016-11-16 19:45] dbaeumer commented on #156
@Irs the nodePath value has to look something like this:

`{ "eslint.nodePath": "drive:\\path\\to\\global\\npm\\node_modules" }`

without the eslint in the path. The value is added to the NODE_PATH env variable interpreted by node when resolving modules.

If this still doesn't work can you provide a little workspace I can clone from to reproduce the issue.

[2016-11-16 19:46] dbaeumer commented on #6
@sonnn do you have a workspace I can reproduce I could clone.

[2016-11-16 21:09] lrs commented on #156
Looks like the nodePath is right.

I've added this repo as an example - [vscode-eslint-test](https://github.com/lrs/vscode-eslint-test)

Thanks.

[2016-11-16 21:19] lrs commented on #156
FYI the package.json for my global eslint is:

[code]

[2016-11-18 02:19] dbaeumer commented on #156
@lrs I cloned your example. What I don't fully understand is why you set the nodePath value. The eslint extension does take global install eslint packages into consideration.

[2016-11-18 02:23] dbaeumer commented on #156
OK. What I see is the following: if nodePath points to a unexisting directory the server fails with an exception

[code]

Are you seeing the same ?

[2016-11-18 07:31] lrs commented on #156
Yes. When I leave the dummy user in the nodePath ESLint falls over. So the nodePath is definitely being read. However, I think the point is that even though the global ESLint package is taken into consideration, you will still see the error in Git View that is caused by using the older local version.

I get the same error as you if the nodePath is incorrect ("C:\\Users\\[user]\\AppData\\Roaming\\n

[2016-11-18 09:21] lrs commented on #156
I should add that I'm ignoring node_modules in the test repo. So you would need to run npm install to get the local package. That might explain why you're questioning the need to set nodePath?

Thanks.

[2016-11-18 09:35] sz332 commented on #103
I have quite similar problem with html files and eslint. I installed eslint-plugin-html, and from command line, the problems are displayed. However, from Visual Studio Code, even with enabled file extensions:

    "eslint.options": {"extensions":[".js", ".html"]}

No error is displayed.

[2016-11-18 18:12] dbaeumer commented on #156
OK. I fixed the problem of the exception and now your test workspace works fine (after doing an npm install). Until I publish a new version of the eslint extension I recommend to have eslint installed locally.

[2016-11-18 18:22] lrs commented on #156
Thanks, my bad for not explaining in the README! Do you mean have ESLint installed globally and not rely on nodePath?

[2016-11-18 18:25] lrs commented on #156
I mean all is fine using the global package without a local package installed and not setting the nodePath.

[2016-11-21 17:52] dbaeumer commented on #156
You should only need to use eslint.nodePath if our eslint module lives in a non default location (local of global)

[2016-11-21 18:08] lrs commented on #156
Or if somehow another instance is being recognized by vscode-eslint and I want to ensure what instance to use by setting the nodePath.

With respect, this is the issue that you asked me raise here in the first place.

[2016-11-21 22:58] maraisr opened #171 ".eslintrc file external to project"
I have a npm repo package that contains all my linting configs, styleint, eslint etc... It would be kinda nice to be able to set a config in my current workspace to grab the config from a file you can specify.

Something like

[code]

[2016-11-22 16:05] jhjdesigns opened #172 "Lightbulb/autofix not appearing for all linting errors"
I've noticed that the lightbulb is no longer showing up for some errors. A week ago, it was popping up for everything, now it's only showing up for certain errors. Specifically, I'm not seeing it for comma-dangle or padded-blocks. Is this a bug, or is there some new setting I'm missing?

[2016-11-22 17:40] dbaeumer commented on #156
Agree and if you want to override and the override should work now. Or did it still not work for you.

[2016-11-22 18:16] lrs commented on #156
Have you pushed an update to the extension? I'm on 1.1.0. and there's no notification of an update for me.

[2016-11-22 20:47] dbaeumer commented on #156
1.1.0 should behave correctly in terms of preferring nodePath over locally installed packages. However I have not delievered a new version yet for the fix in https://github.com/Microsoft/vscode-eslint/issues/156#issuecomment-261431451

[2016-11-22 21:03] lrs commented on #156
In that case, I am not seeing that the extension is preferring the nodePath setting for 1.1.0. I am still seeing the exception "ErrorPath must be a string. Received null" in Git View when there is an older version of ESLint installed locally.

I think the server crashing for a non existing nodePath is a separate issue?

[2016-11-22 21:08] lrs commented on #156
Snippet from the Eslint trace:
[code]

[2016-11-22 21:31] CalebKester commented on #21
Can't wait to get this in. Been doing a lot of .vue files and been missing linting inside my script tags.

[2016-11-22 21:33] CalebKester commented on #42
Would love to have this in .vue files

[2016-11-22 23:21] dbaeumer commented on #156
"ErrorPath must be a string. Received null" is a separate issue caused by older eslint version running on node 6.x. Node now throws if you call some of the path methods with undefined/null. Before they simply returned and empty string. You will experience the same behavior on the command line

From which location do you expect ESLint to be loaded in your example?

[2016-11-23 09:04] lrs commented on #156
I was following on from the point you made [here](https://github.com/Microsoft/vscode/issues/13496#issuecomment-254294920).

So I thought it was agreed that EsLint should be using the location set in nodePath regardless of any other instances?

[2016-11-25 10:14] jaganathanb opened #173 "Error: Cannot read config file: X:\package.json"
I am using eslint with VS Code
* **ESLint Version:** 3.10.2
* **Node Version:** 5.4.1
* **npm Version:** 3.3.12
* **VS Code Version:** 1.7.2

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:**
.eslintrc from [here](https://gist.github.com/cletusw/e01a85e399ab563b1236)

**What did you do? Please include the actual source code causing the i

[2016-11-25 11:40] dbaeumer commented on #173
@jaganathanb what happens if you run eslint from a terminal on your source code. ESLint (the limiting tool itself and not the extension) walks up the directory chain to look for configuration files. Since eslint configuration can be put inot package.json files it looks into those as well and fails to read it in your case. This is standard eslint behavior. Have you checked the package.json file. Do

[2016-11-25 11:44] dbaeumer commented on #156
It should prefer node modules from the nodePath over locally over globally installed once. If no module is found in nodePath but one locally or globally it still uses the local or global one. This is in line with the general NODE_PATH environment variable.

Could you share a workspace on GitHub that shows the problem you are seeing. I think I don't really understand your problem.

[2016-11-25 12:38] jaganathanb commented on #173
Thanks for the update. It seems to be eslint issue. I could not run it from CLI.

[code]

[2016-11-25 12:46] padamson opened #174 "Warning in default ESLint settings: Null must be declared as a valid type"
From [Microsoft/vscode#2856](https://github.com/Microsoft/vscode/issues/2856).

I have a warning in the status bar.

![eslint_warning](https://cloud.githubusercontent.com/assets/5460406/20625673/d8e8d72a-b2e2-11e6-8ee8-f34e3e034a07.jpg)

To fix this, add 'null' as valid type of the setting
e.g.

[code]

[2016-11-25 12:57] dbaeumer commented on #173
Closing then since there is nothing the extension can do about it other than surfacing the issue.

[2016-11-25 12:57] #173 closed

[2016-11-25 13:00] dbaeumer commented on #174
Fixed in next version.

[2016-11-25 13:00] #174 closed

[2016-11-25 14:27] lrs commented on #156
I created a new workspace and uploaded it to a new repo [here](https://github.com/lrs/vscode-eslint-2) to double check any problems with the previous workspace I uploaded and hopefully be more descriptive.

It does appear that the nodePath in .vscode/settings.json is being ignored for some reason. I am happy to be corrected if I have configured anything wrong.

If this is by design then that's tot

[2016-11-26 12:54] gatzjames opened #175 "Eslint traverses up from the project directory causing the extension to fail."
Reproduction Steps:
Lets say you open a project in vscode located at C:\users\username\project
with your eslint configuration file.
If for some reason you have an eslint configuration file in e.g. C:\users\username
the extension also tries to load that file's settings causing unexpected errors (missing plugins, config packages etc).

I don't know if this is a problem related to the extension or es

[2016-11-28 10:11] dbaeumer commented on #175
This is the default ESLint library behavior and is not controlled by the extension. This also happens when you run eslint from the terminal in directory ` C:\users\username\project`.

The extension shouldn't change this default ESLint library behavior.

[2016-11-28 10:11] #175 closed

[2016-11-28 10:21] dbaeumer commented on #156
Thanks again for the test case. I was asking for it again since I couldn't repro it and interestingly enough I can't repro it using your new example on ESLint 1.1.0 :-(

Here is what I see after changing the nodePath to `"eslint.nodePath": "C:\\tmp\\node_modules"`. Is there anything special you could think of with your D: drive?

![capture](https://cloud.githubusercontent.com/assets/1931590/206647

[2016-11-28 11:17] lrs commented on #156
The error only occurs when using the *Git View* and clicking on the js file. Can you screen shoot what you see when you go to Git View and click on index.js?

From the Explorer view I see the same as you:
![explorer_view](https://cloud.githubusercontent.com/assets/582574/20666298/7b41eac8-b55b-11e6-8ab0-dc227161cb01.jpg)

I just added the node_module path to D:\Temp to see if there would be any di

[2016-11-29 11:17] dbaeumer commented on #156
I can reproduce it. Need to investigate what causes this. Looking at the trace the error seems not to come from the eslint server.

[2016-11-29 13:51] tajinderbirdi commented on #171
You can do this with something like:

`"eslint.options": {
    "configFile": "C:/mydirectory/eslintrc"
}`

And you can apply any of the other settings as defined in the CLIEngine
http://eslint.org/docs/developer-guide/nodejs-api#cliengine

[2016-11-29 16:57] nicolechung opened #176 "Failed to load plugin flow: Cannot find module eslint-plugin-flow"
I am having an issue where eslint doesn't appear to be using my local `eslint` in `node_modules`.

I'm trying to run `JS Standard` with `Flow`.

Please see screenshot.

![screen shot 2016-11-29 at 11 52 13 am](https://cloud.githubusercontent.com/assets/771170/20719668/99db3f6e-b62a-11e6-959b-e6caac5efb4f.png)

When I try to run `eslint` via command line, it works as expected, see output:

[code]

[2016-11-30 00:13] maraisr commented on #171
Thanks @tajinderbirdi appreciate your feedback. Do you think we can add this into the `readme.md`?

[2016-11-30 01:48] nicolechung commented on #176
Closing this. I think eslint-config-standard is not supposed to be run with both JS Standard and ESLint, just ESlint.

[2016-11-30 01:48] #176 closed

[2016-12-01 11:25] #171 closed

[2016-12-02 01:30] lednhatkhanh opened #177 "Cannot find module 'eslint-config-defaults/configurations/eslint'"
Hi, Im trying to install ESLint for my React Native app by the tutorial [here](https://www.npmjs.com/package/eslint-plugin-react-native):

My packages.json:

[code]

and I keep getting this error:

`Cannot find module 'eslint-config-defaults/configurations/eslint' Referenced from: c:\Users\lednh\.eslintrc`

and I don't have eslint installed globally.

[2016-12-02 09:37] plug-n-play commented on #97
https://github.com/dbaeumer - Also, please suggest if it is possible to have a standard fallback file .eslintrc.json for all projects which do not have a local file. The idea is to make eslint validate using a local .eslintrc.json if it is available, else refer to a global rule-set defined centrally.

[2016-12-04 13:16] karlpatrickespiritu commented on #105
I'm having this issue

[code]

I already have it installed
[code]

[2016-12-05 08:55] dbaeumer commented on #97
@plug-n-play: Yes, this is possible. ESLint by itself looks up the directory parent chain for an ESLint configuration. You can always test this in a terminal by running eslint in there. The ESLint extension doesn't do anything than using the ESLint node library to do its job :-).

[2016-12-05 08:57] dbaeumer commented on #177
@lednhatkhanh: can you try running ESLint from a terminal opened on the VS Code workspace that shows the problem. Will that work ?

[2016-12-05 09:45] dbaeumer commented on #171
@tajinderbirdi thanks for pointing this out. Added your example to the readme.md

[2016-12-05 11:14] dbaeumer commented on #42
OK. This was quite some work and basically required to change a lot of things in the LSP as well as the implementation of the ESLint extension. So I would like to find volunteers to test this before I publish this in the market place.

Attached a zip that can be installed using vscode command line installer. For example to install the version in VS Code stable download the attached file and rename

[2016-12-05 11:16] dbaeumer commented on #42
One additional note: due to https://github.com/BenoitZugmeyer/eslint-plugin-html/issues/38 auto fix is not available for files other than JS.

[2016-12-05 11:19] dbaeumer commented on #21
I have this working but since it is a bigger change I am looking for volunteers to test this. See comment https://github.com/Microsoft/vscode-eslint/issues/42#issuecomment-264828064 on how to install it and get it working for different file types.

[2016-12-05 11:19] dbaeumer commented on #42
Actually dups #21.

[2016-12-05 11:38] dbaeumer commented on #103
Closing as a dup of #21 #42.

I am looking for volunteers to test this since it was a bigger code changes. See steps in #42 on how to install the latest version and on how to provide feedback.

[2016-12-05 11:38] #103 closed

[2016-12-05 11:56] er1x commented on #42
It works like a charm for me (VS Code 1.7.2, Win10). Using in .vue files, as easy as adding .vue extension to eslint.validate (had eslint-plugin-html installed previously):

[code]
Thank you @dbaeumer ! 😄

[2016-12-06 01:56] faceyspacey commented on #81
whats the status of this now that https://github.com/Microsoft/vscode-eslint/pull/74 is done?

[2016-12-06 10:01] dbaeumer commented on #81
Follow the steps here to beta test the new extension: https://github.com/Microsoft/vscode-eslint/issues/42#issuecomment-264828064

I will close this one as a dup of #42.

[2016-12-06 10:01] #81 closed

[2016-12-06 13:26] RogierKonings opened #178 "ESLINT not working at all for VSCODE"
For a while, this plugin was working great. But recently it has been completely useless. ESLINT errors are not showing, except when I delete the plugin, and re-install it. Than I see the errors, but when I fix one of the errors, it does not get updated to reflect the fixes. In order to update the fixes I made, I would have to AGAIN delete (so not just disable but actually delete) the plugin and re

[2016-12-06 14:17] sebastiandedeyne commented on #42
Gave it a spin on VSC 1.7.2, OSX Sierra, works like a charm!

[2016-12-06 18:09] dbaeumer commented on #178
@RogierKonings assuming you are running the latest version of the plugin could you do the following:

- open the workspace that reveals the problematic behavior
- add the workspace setting `"eslint.trace.server": "messages"` to VS Code
- Click on the ESLint text in the status bar. This should open the ESlint output panel
- Make ESLint fail, ... Type in a JS file, ...

Provide the output from the E

[2016-12-07 13:56] Arackow opened #179 "ESLint cannot understand templates"
When using a template heavy language like Django, ESLint wont work on the HTML files because it sees the template markers of {{ }} and {% %} as general errors and wont lint the rest of the file. I don't know if there is a way to trick the language server to ignore them or not but it makes the plugin useless for templated languages.

[2016-12-08 10:05] bpasero opened #180 "Typing into .eslintrc.json config with auto save enabled shows annoying warning"
Testing: https://github.com/Microsoft/vscode/issues/16497

![image](https://cloud.githubusercontent.com/assets/900690/21005706/22bece42-bd36-11e6-974e-5d2569cfc3fe.png)

[2016-12-08 10:05] bpasero opened #181 "Cannot run any ESLint commands until opening a JS file"
Testing: https://github.com/Microsoft/vscode/issues/16497

For example the action to create ES Lint can not be run until you open a JS file.

[2016-12-08 10:09] bpasero opened #182 "ESLint: show quick fixes for entire line"
Testing: https://github.com/Microsoft/vscode/issues/16497

It seems that today I only see quick fix light bulb when being exactly at the location of the warning or error. I think a nicer model would be to show all warnings and errors of the line you are in and offer quick fixes for each.

[2016-12-08 10:44] #181 closed

[2016-12-08 10:45] dbaeumer commented on #182
@bpasero I like the idea, however this is how code actions currently work. I will open a issue in vscode world

[2016-12-08 10:53] dbaeumer commented on #182
See https://github.com/Microsoft/vscode/issues/16911

[2016-12-08 10:59] dbaeumer commented on #182
Closing as upstream.

[2016-12-08 10:59] #182 closed

[2016-12-08 11:02] dbaeumer commented on #180
@bpasero the design around this is as follows:

- such a dialog should show up only once. The reason why I show it is that a broken config file can result in errors appear / disappear or in stale validation.
- when you continue typing in the file the error should not be shown again.

This was the best compromise I could find between informing the user about validation issues and not being to spamy

[2016-12-08 11:02] #180 closed

[2016-12-08 11:05] dbaeumer commented on #179
@Arackow the HTML validation is contributed through https://github.com/BenoitZugmeyer/eslint-plugin-html. Please open a issue there.

[2016-12-08 11:05] #179 closed

[2016-12-08 16:17] bpasero opened #183 "Bad contrast of ES Lint in status bar"
![image](https://cloud.githubusercontent.com/assets/900690/21017612/3321f460-bd6a-11e6-9604-54b732ec3954.png)

[2016-12-08 19:18] MauroJr commented on #42
I tested here on VSC 1.7.2, Linux Debian 64 bits, works perfectly!!! Thanks a lot!!! Great job!!!

[2016-12-09 02:42] linx4200 commented on #42
still not working on .we files.  `.we` is the extension for [Weex](https://alibaba.github.io/weex/) file.

[2016-12-09 04:02] kevinongko commented on #42
Tested on VSC 1.7.2 OSX Sierra, works on .vue files 👍

[2016-12-10 05:24] kevinbarabash commented on #48
I'm having a similar.  Here's my .eslintrc which is in the root folder of my project:
[code]
The `shared_linters` folder contains its own `node_modules` with all of the eslint plugin modules.

[2016-12-10 05:42] kevinbarabash commented on #48
Setting the `eslint.nodePath` setting to the absolute path of the eslint module within  `shared_linters` and that fixed it for me.

[2016-12-11 07:52] sz332 commented on #42
Tested on VSC 1.7.2, Windows 7 64 bit, works on .html files. When can we expect an official plugin update?

[2016-12-11 09:27] lednhatkhanh commented on #177
Sorry for late respond! I realized that there's a global eslintrc left and vscode tried to find the configs in that file, not in my local file. So I deleted that file and everything started working fine.

[2016-12-12 14:27] sebastiandedeyne commented on #42
Having issues with the `no-console` rule though, it always highlights the everything before the line that contains the error (this in is a `.vue` file)

<img width="740" alt="screen shot 2016-12-12 at 15 25 19" src="https://cloud.githubusercontent.com/assets/1561079/21102679/6e66ee8c-c07f-11e6-931d-ff6dcdac3094.png">

[2016-12-12 19:39] dbaeumer commented on #42
@sz332 in the next days.
@sebastiandedeyne what errors do you get when executing this n the terminal. The ESLint extension simply takes the error range it receives from ESLint and the corresponding plugin.

[2016-12-13 12:32] sebastiandedeyne commented on #42
Running eslint:

[code]

In the editor:

![screen shot 2016-12-13 at 13 31 59](https://cloud.githubusercontent.com/assets/1561079/21140484/96a0f992-c138-11e6-912f-0e50c6ee3eeb.png)

[2016-12-13 13:24] jtmthf commented on #42
Tested on VSC 1.7.2 OSX Sierra, with the graphql plugin and it worked well. Only requirement was that a language service for graphql needed to be installed so that the language id could be picked up.

[2016-12-14 21:25] Gheoan commented on #42
@sebastiandedeyne That might be a bug in `vscode`.

[2016-12-15 03:14] mysticatea opened #184 "vscode-eslint 1.2.0 has not appeared"
In [the release note of VSCode 1.8](http://code.visualstudio.com/updates/v1_8#_linter-extensions), it has the notation about `eslint.validate` option.
But it seems to not be published.

![image](https://cloud.githubusercontent.com/assets/1937871/21210615/e2dfa73a-c2bf-11e6-9251-f7ee9adf58f4.png)

[2016-12-15 10:25] dbaeumer commented on #184
Done. I wanted to do some final testing on the final VS Code 1.8 version.

[2016-12-15 10:25] #184 closed

[2016-12-15 10:28] dbaeumer commented on #42
@sebastiandedeyne very strange. Do you have a project / sample you can share. Helps understanding what is going wrong

@sz332 release eslint 1.2.1 today.

[2016-12-15 10:47] dbaeumer commented on #21
Closing as dup of #42.

[2016-12-15 10:47] #21 closed

[2016-12-15 10:47] dbaeumer commented on #21
This is available in the 1.2.1 version of the extension

[2016-12-15 10:55] abdonrd commented on #21
Thanks @dbaeumer!

[2016-12-15 11:27] mysticatea opened #185 "Autofix does not work on .vue files"
I'm using ESLint with [vue-eslint-parser](https://github.com/mysticatea/vue-eslint-parser) then I enabled `vscode-eslint` for `.vue` files.
`vue-eslint-parser` supports autofix for `.vue` files. But `eslint.autoFixOnSave` option and `eslint.executeAutofix` command did not work on `.vue` files.

[2016-12-15 11:30] dbaeumer commented on #185
This is because of https://github.com/BenoitZugmeyer/eslint-plugin-html/issues/38. I took a defensive approach here to ensure that this doesn't break code especially when enable during save. I will update the readme to make this more clear.

I am still debating whether I should provide different options for different file types.

[2016-12-15 15:14] congrady commented on #185
@dbaeumer Any estimated time on this?
Sacrificing autofix when migrating from React to Vue.js is a huge issue for me and my team.

Anyway, great job with the plugin! Thanks for the good work!

[2016-12-16 09:51] dbaeumer commented on #185
I am working on making this a configuration. However as long as the plugins are not fixing this I can't do much. The vue-eslint-parser is showing the same problem. That auto fix positions are of therefore applying them results in incorrect textual changes:

![cast](https://cloud.githubusercontent.com/assets/1931590/21258489/8cb75c54-c37d-11e6-8a23-b51d2418e8a7.gif)

@mysticatea are you aware of th

[2016-12-16 09:56] mysticatea commented on #185
Oh, I had not aware of that. Thank you for pointing it out!
I will fix it.

[2016-12-16 10:07] mysticatea commented on #185
Hmm, actually, I cannot reproduce it with `eslint --fix` command... :thinking:

[2016-12-16 11:01] dbaeumer commented on #185
I published version 1.2.2 of the ESLint extension. It allows for selective autoFix configuration. From the readme:

Added configuration options to enable code actions and auto fix on save selectively per language. In release 1.2.1 code actions and auto fix on save very still only
available for JavaScript. In 1.2.2 you can now enable this selectively per language. For compatibility it is enabled by

[2016-12-16 11:01] #185 closed

[2016-12-16 11:05] mysticatea commented on #185
Thank you so much!

[2016-12-16 11:09] dbaeumer commented on #185
OK. Let me have a look then. I take the fixes directly from the reported problem.

[2016-12-16 13:40] congrady commented on #185
@dbaeumer Thank a lot.
Still not working properly, having very similar issue that you encountered.
When I try to autofix my elsint issues, I get incorrect textual changes.

![screen shot 2016-12-16 at 14 38 04](https://cloud.githubusercontent.com/assets/16255695/21264657/90c80be8-c39d-11e6-9f3a-ef2445aa4d3d.png)

[2016-12-16 13:56] dbaeumer commented on #185
@congrady yes, this is why I made this an option and disabled by default. Which ESLint plugin are you using? eslint-pluing-html? If so please follow https://github.com/BenoitZugmeyer/eslint-plugin-html/issues/38

[2016-12-16 13:58] dbaeumer commented on #185
@mysticatea I can't reproduce it with an simple example either:

![cast](https://cloud.githubusercontent.com/assets/1931590/21265106/0fd31a48-c3a0-11e6-848f-42c5e9608cd3.gif)

Will investigatre further.

[2016-12-16 14:03] dbaeumer commented on #185
It does reproduce with this example

[code]

[2016-12-16 14:12] dbaeumer commented on #185
The reported problem looks like this:

![capture](https://cloud.githubusercontent.com/assets/1931590/21265318/3e59dac2-c3a1-11e6-9d82-4f0efd2b323c.png)

And the range [117, 118] reported in the fix denotes "(" of "foo()".

The string content is

![capture](https://cloud.githubusercontent.com/assets/1931590/21265393/85807d3e-c3a1-11e6-8ae3-5c2edd8ee824.png)

@mysticatea any idea why this is happeni

[2016-12-16 14:20] dbaeumer commented on #185
An easier example is
[code]

The fix denotes position [91,92] in that string which is the ")" of foo()

[2016-12-16 14:22] dbaeumer commented on #185
Minimal case:

[code]

[2016-12-16 14:30] dbaeumer commented on #185
OK. I found it. It is related to the line ending everything works correct if the line ending is Unix style `\n and it is broken when the line ending is Windows style `\r\n`.

Since I pass the string with `\r\n` to ESlint I am expecting the fixes to be computed taking this into account. There is no problem with ESLint on JS files with this.

[2016-12-16 14:37] dbaeumer commented on #42
For those that helped me testing please uninstall and reinstall the eslint plugin since the plugin will not update itlsef anymore if directly installed from a vsix. For the details see https://github.com/Microsoft/vscode/issues/17290.

I apologize for the inconvenience this causes.

[2016-12-16 14:38] dbaeumer commented on #21
For those that helped me testing please uninstall and reinstall the eslint plugin since the plugin will not update itlsef anymore if directly installed from a vsix. For the details see Microsoft/vscode#17290.

I apologize for the inconvenience this causes.

[2016-12-16 15:13] congrady commented on #185
@dbaeumer Tried updating eslint-plugin-html to 'BenoitZugmeyer/eslint-plugin-html#v2'

Issue still persist (autofix doesn't fix the real problem, but instead does random stuff).
+ I started getting this error everytime I edit my .vue file
![screen shot 2016-12-16 at 16 11 14](https://cloud.githubusercontent.com/assets/16255695/21267442/9b475a76-c3aa-11e6-8734-e0cc719b5042.png)

[2016-12-16 15:41] dbaeumer commented on #185
@congrady can you please open an issue against 'BenoitZugmeyer/eslint-plugin-html with steps to reproduce. There is little I can do to fix this.

[2016-12-17 05:30] mysticatea commented on #185
@dbaeumer Oh, wow, thank you very very much for the investigation!!
I confirmed the bug of `vue-eslint-parser` with `\r\n`.

[2016-12-18 19:58] dbaeumer commented on #185
@aeschli would your HTMl parser help here?

[2016-12-18 20:59] mysticatea commented on #185
Oh, sorry, that problem has solved in https://github.com/mysticatea/vue-eslint-parser/commit/c3150daeab65388d125d8887901751ed017d6d96.
I have published vue-eslint-parser 0.1.3.

[2016-12-19 07:29] dbaeumer commented on #185
Great. Thanks a lot. Will give a test today.

[2016-12-19 11:17] dbaeumer commented on #185
Verified that the problem is gone using  vue-eslint-parser 0.1.4

[2016-12-19 11:44] congrady commented on #185
@dbaeumer Hello, could you please show me a working .eslintrc config file? For me it stil doesn't work, using this  configuration:
![screen shot 2016-12-19 at 12 41 58](https://cloud.githubusercontent.com/assets/16255695/21311677/b49f5d9e-c5e8-11e6-8fd6-ec688197378f.png)

Doesn't fix the right issue and some issues aren't even shown.

[2016-12-19 12:25] mysticatea commented on #185
@dbaeumer thank you very much!

@congrady please try removing plugins property.

[2016-12-19 12:35] congrady commented on #185
Works like a charm! 👍  Thank you so much!

[2016-12-19 20:05] brianegan opened #186 "Git window: "Error: Path must be a string. Received undefined""
As a user, when I have ESLint installed, and I modify a JS file, and I navigate to the Git window, and I select a JS file, I see the following error:

"Path must be a string. Received undefined"

Screenshot:

![screenshot 2016-12-19 12 03 52](https://cloud.githubusercontent.com/assets/126604/21327309/5f0bf928-c5e3-11e6-8149-221b94337374.png)

[2016-12-20 06:49] FallenMax commented on #28
I still run into this issue. I'm using yarn and my global eslint has path: `/usr/local/bin/eslint`.
By reinstalling eslint **using npm instead of yarn**, the extension can now resolve eslint (at `/usr/local/lib/node_modules/eslint/lib/api.js`) and run without problem.

[2016-12-20 09:06] dbaeumer opened #187 "Support ESLint module install globally via yarn"
Need to add yarn's global module install location to the NODE_PATH when resolving the node module. Something comparable to `npm config get prefix`

[2016-12-20 09:06] dbaeumer commented on #28
The ESLint extension has currently no support for globally install eslint module via yarn. I opened: https://github.com/Microsoft/vscode-eslint/issues/187

[2016-12-20 09:14] dbaeumer commented on #186
@brianegan I can't reproduce this. Which version of ESLint are you using. Node changed the path API to throw if args aren't strings and this requires to uses the latest version of the ESLint module.

[2016-12-20 09:17] dbaeumer commented on #177
@lednhatkhanh good to hear that it is working now. Will close the issue.

[2016-12-20 09:17] #177 closed

[2016-12-20 09:20] dbaeumer commented on #172
@jhjdesigns no new setting and it works for me. Can you share the project or a reproducible setup so that I can investigate.

[2016-12-22 10:56] jnachtigall opened #188 "autoFixOnSave not listed under Settings Options in Readme"
Seems like [Settings Options](https://github.com/Microsoft/vscode-eslint/blob/f77ca3498ebe92d3445315cdddf4621a5a6259fa/eslint/README.md#settings-options) does not list certain options like  `"eslint.autoFixOnSave": false`

Two solutions:
a) Either just provide a link to the settings json where there's some documentation in the comments
b) Keep above docs and the actual settings in sync

[2016-12-23 09:02] Rwing opened #189 "excess spaces when "Fix this prefer-template problem""
[code]
fixed
[code]

[2016-12-23 17:00] gcazaciuc commented on #154
Is anyone still looking into this ? if not i might take a stab at it in the next few days

[2016-12-24 10:10] paror commented on #36
Why Linting Javascript Out-of-the-box when you install ESlint extension is not possible? Thats not convenient for new users and for users who can't use npm for security reason.

[2016-12-24 19:45] AvraamMavridis commented on #178
I have the same issue

[code]

[2016-12-25 23:20] Yohanna opened #191 "Show the light bulb icon regardless of cursor position in the current line"
It'd be nice to show the light bulb icon while the cursor is at any position in the line. Currently it's only displayed when the cursor is placed on the first letter of the underlined word.

![image](https://cloud.githubusercontent.com/assets/6926228/21473211/102887aa-cace-11e6-994d-8c433136210f.png)

![image](https://cloud.githubusercontent.com/assets/6926228/21473221/5a5bafc8-cace-11e6-8c4e-282c

[2016-12-26 14:20] icetbr commented on #186
I can confirm the error in  "eslint": "^1.10.3". Fixed in "eslint": "3.12.2".

[2016-12-27 11:09] dbaeumer commented on #186
@brianegan objection to close the issue?

[2016-12-27 11:11] dbaeumer commented on #191
This has to be fixed in VS Code itself and there is an open issue in VS Code to address this.

@jrieken do you have the issue number handy.

[2016-12-27 11:11] #191 closed

[2016-12-27 11:12] dbaeumer commented on #178
@AvraamMavridis actually the trace looks ok. Would you be able to share your project so that I can investigate.

[2016-12-27 11:44] shreyas-a commented on #97
Any update on the issue. I'm stuck with the same problem.

[2016-12-28 10:06] shreyas-a commented on #97
.eslintignore is not being honored, .eslintrc.json does.

[2016-12-28 16:23] ibigpapa opened #192 "Option to output all Issues found on current document to a list like ESLint Output."
Would like to have a running list of all issues in the file when I'm viewing it.  Sometimes the lines that just have the { highlighted I miss because it's not as noticeable.  So it'd be nice to have an output where all issues are listed.

The really nice to have on the output is clickable links that take you to the line that is listed by the issue.

[2016-12-28 17:50] ibigpapa commented on #192
Err found it on the status bar.

[2016-12-28 17:50] #192 closed

[2017-01-04 09:40] nurp commented on #178
I installed ESLint on VS Code for the first time and it doesn't care my user settings.
[code]
I have same trace results as @AvraamMavridis

[2017-01-04 09:58] nurp commented on #178
Mine works now. I ran "eslint --init" in the root of project folder. It then installed ESLint locally (it was installed global before). Restarted VS Code and it works now.

[2017-01-09 10:41] dbaeumer commented on #154
A pull request is highly appreciated here.

[2017-01-09 11:12] dbaeumer commented on #178
@nurp the "eslint.options" are for settings usually passed to eslint in a terminal. They are not a replacement for a .eslintrc* file.

[2017-01-09 11:15] dbaeumer commented on #97
@shreyas-a does it work for you in the terminal in our setup. If so could you share your project so that I can investigate?

[2017-01-12 02:19] unional commented on #6
Just encountered this still.... in windows and using `.eslintignore`

[code]
still linting `dbin/x.js`

[2017-01-15 02:45] ehahn9 opened #193 "different results from within vsc and command line"
So sorry to raise the issue here, I'm sure it is operator error :-(

from within vsc, the (wonderful!) eslint extension flags a number of things which running from the command line does not (e.g. ``` `npm bin`/eslint .```).

They appear to be using the same .eslintrc, etc. but results vary. Some rules (like no-console) work in vsc, but not from the command line.

Any thoughts on where to look for

[2017-01-15 17:01] ehahn9 commented on #193
*doh* - it was just that the cli doesn't include .jsx by default.

[2017-01-15 17:01] #193 closed

[2017-01-16 23:05] PyroSA commented on #71
I'm on windows if that makes a difference.

If I rename the `eslintrc.json` file in my eslint-config-standard folder the error changes, so it is hitting the right module's index.js, but for some reason still does not load.

[2017-01-18 20:51] gmaggess opened #194 "Configuration for rule "eqeqeq" is invalid"
Hi there,

The plugin seems to be failing with the latest eslint. I now get the following error:

Visual Studio Code: 1.8.1
Eslint Plugin: 1.2.2
Eslint: 3.13.1

I'm pretty sure my config is right:

extends: 'xyz'
env:
  node: true
  es6: true
  browser: true
rules:
  arrow-body-style: ['error', 'as-needed']
  comma-dangle: ['error', 'always-multiline']
  newline-before-return: error
  no-confusing

[2017-01-19 16:06] beturs commented on #194
I have this config in my settings.json file and works ok
`"eslint.options": {
      "rules": {
        "eqeqeq": 1
      }
    }`

[2017-01-20 12:28] SuhairZain commented on #134
Hi @dbaeumer
This is a very nice to have feature. Any updates on this?

[2017-01-22 04:27] WoodyWoodsta commented on #187
For those wondering, a workaround on Linux is to set the following:
[code]

[2017-01-23 11:01] spacegoing opened #195 "auto fix on save doesn't work with editor's autoSaveDelay"
When I enable `files.autoSaveDelay`, `auto fix on save` doesn't work. It works if I disable editor's auto save mode.

[2017-01-23 17:26] robbawebba commented on #164
Hi @dbaeumer, is this feature still in progress/needing help?

[2017-01-24 18:01] shreyas-a commented on #97
root
|
--- client
------.eslintignore
------ eslintrc.json
|
.eslintignore
eslintrc.json

[2017-01-25 11:53] idibidiart commented on #187
Doesn't work on Mac

[2017-02-01 11:22] dthielman commented on #195
Related: with the settings
[code]
auto fix does not appear to work.

ESLint 1.2.2
Windows 7
VSCode data attached
![code_2017-02-01_06-22-08](https://cloud.githubusercontent.com/assets/1881074/22504935/cc4c72ee-e846-11e6-8b39-14decbe81869.png)

[2017-02-01 17:25] danielberndt opened #196 "Do not always run eslint from the project's root directory"
First off, thanks for all the great work you've been doing so far! 👍

I just ran into an issue:

I'm working on a project with a structure like this:
[code]

when I open vscode for a web-app via `code /path/tp/project/web-app-1` vscode-eslint works as expected.

If I open the *whole* project via `code /path/tp/project` however I get plenty of linting errors on files that worked before. Errors look

[2017-02-02 09:11] dbaeumer commented on #196
@danielberndt the eslint extension runs basically a eslint server to speed up validation time and to save battery. The eslint server process is kept alive as long as VS Code is alive for that project. The server is started on the same directory than VS Code. It does support reading multiple eslint library version however it can't support multiple cwd and changing the cwd on the fly might not be a

[2017-02-02 09:38] danielberndt commented on #196
Thanks for the quick reply, @dbaeumer!

From my perspective the simplest approach seems to be to spin up one server per web-app. This would probably also make it quite straight forward to support various eslint versions and rules that might be present in each of the different web-apps.

And rather than guessing where to locate the web-apps, I personally would be fine with an option within the sett

[2017-02-02 16:15] dbaeumer commented on #178
I will close the issue. I haven't received any additional information for the initial reported problem nor on what @AvraamMavridis reported. @nurp problem is now covered by some additional messages shown in the output window if no .eslintrc config can be detected.

[2017-02-02 16:15] #178 closed

[2017-02-02 16:17] dbaeumer commented on #195
@dthielman this is covered by #158

[2017-02-02 16:39] dbaeumer commented on #195
@spacegoing this is by design since the save has a high likelihood to infer with the user typing and might remove characters that the user just typed or were incomplete. For this reason fixOnSave is always disabled when autoSave === delay. There is an issue open in VS Code to trigger the fixOnSave with Ctrl+S even if the file is not dirty in this case. See https://github.com/Microsoft/vscode/issue

[2017-02-02 16:39] #195 closed

[2017-02-02 16:42] dbaeumer commented on #196
Good idea. The support for various eslint version and configuration is already present today since node can load n versions of the same library.

@danielberndt would you be willing to work on a PR for this.

[2017-02-02 17:27] dbaeumer commented on #187
Does anyone know how to determine the global module location for yarn. I tried `yarn config get prefix` and `yarn config list`but nothing contains the global install location.

[2017-02-02 17:28] dbaeumer commented on #187
Under Windows is seems to be `~\AppData\Local\Yarn\config\global\node_modules`.

[2017-02-02 19:33] #158 closed

[2017-02-02 21:27] #97 closed

[2017-02-03 09:38] dbaeumer commented on #196
@danielberndt I think I found an easier way to fix this. The ESLint library allows to set a cwd for every lint run. I change the code in ESLint and will publish a new version beginning of next week. Can you check if this fixes your problem?

[2017-02-03 09:40] dbaeumer commented on #164
@robbawebba  yes, a PR is still welcome.

[2017-02-03 10:13] danielberndt commented on #196
Ah great! And yeah, just let me know once it's out and I'll check it as soon as it's out :)

[2017-02-03 11:02] dbaeumer commented on #134
This got implemented and is available in the latest version of the ESLint extension. To enable you need to set the VS Code setting `eslint.autoFixOnSave: true`.

I will close the issue. Auto fix is available, but must be enabled differently since the trigger is the save action in VS Code.

[2017-02-03 11:02] #134 closed

[2017-02-03 11:04] SuhairZain commented on #134
@dbaeumer
Great. 😄

[2017-02-03 11:14] dbaeumer commented on #161
I checked this and the edit actually looks ok to me:

[code]

Moving to VS Code since this is nothing ESLint can fix.

[2017-02-03 11:16] dbaeumer commented on #161
This issue was moved to Microsoft/vscode#19828

[2017-02-03 11:16] #161 closed

[2017-02-03 11:19] dbaeumer commented on #100
Works for me on latest. Closing.

![capture](https://cloud.githubusercontent.com/assets/1931590/22589538/0ca90846-ea0b-11e6-8643-9ca7df643bb9.png)

[2017-02-03 11:19] #100 closed

[2017-02-03 11:24] dbaeumer commented on #194
This works for me using latest ESLint extension and ESLint library. Closing. Please ping if you can still reproduce and provided a test case to do so.

![capture](https://cloud.githubusercontent.com/assets/1931590/22589682/c24ea124-ea0b-11e6-9c66-73b58d3c06e6.png)

[2017-02-03 11:24] #194 closed

[2017-02-03 11:31] #188 closed

[2017-02-03 12:41] eduedix commented on #187
yarn global bin?

[2017-02-05 09:02] BasixKOR opened #197 "Using local eslint, not global"
I installed eslint in global and local workspace. but I want to use local eslint in this extension. Is there any options about it?

[2017-02-06 10:26] dbaeumer commented on #187
`yarn global bin` prints the same as `npm config get prefix` however this is not the location yarn installs global npm modules. I am still a little lost here.

[2017-02-06 10:28] dbaeumer commented on #197
ESLint always prefers a local installed version over a global installed one. Can you provide a workspace that demonstrate the problem since I am not able to reproduce this locally.

[2017-02-06 10:31] dbaeumer commented on #111
Fixed in next update. See comments in #97

[2017-02-06 13:45] BasixKOR commented on #197
Well.. It was just my mistake. Sorry!

[2017-02-06 13:45] #197 closed

[2017-02-06 14:17] cubodehelio opened #198 ".eslintignore is completely ignored"
* vscode-eslint: v1.2.3
* eslint: v3.15.0
* vscode v1.9.0
* linux mint 17

The `.eslintignore` file is in the root of the project. `eslint` cli is installed in the workspace and works as expected running `node_modules/.bin/eslint .` but the VSC extension keeps linting all directories including the ignored once and even **node_modules**!

.eslintignore
[code]

[2017-02-07 08:51] eduedix commented on #187
https://github.com/yarnpkg/yarn/issues/2652

[2017-02-07 10:24] NicolasVargas commented on #97
Hi,

I'm using a custom name for my .eslintrc file. I only got one in my project and it is located in the root dir. After this fix, i can't refer my file. I can't even use `${workspaceRoot}` variable.
`{"configFile": "${workspaceRoot}/eslint_rules_sonar.json"}`.

Did i do something wrong ?

[2017-02-07 10:56] dbaeumer commented on #97
@NicolasVargas the change I did does break something for you. The problem is that when I trigger a validate of a file in a sub directory I used the workspace directory as the current working directory and not the sub directory hence not correctly reading .eslintignore file chains. With the change I did you can't point to the options file using a relative path in our case since the relative path is

[2017-02-07 11:05] dbaeumer commented on #198
I can reproduce this. With the fix I did now an .eslintignore file in the build directory is honored but not a single global one anymore. Need to investigate.

[2017-02-07 11:12] dbaeumer commented on #198
I will revert the fix with setting the cwd for now since I think this broke quite some use cases which worked before.

[2017-02-07 11:27] dbaeumer commented on #111
Reopening. I need to revert the fix since it broke https://github.com/Microsoft/vscode-eslint/issues/198

[2017-02-07 11:31] #198 closed

[2017-02-07 11:38] dbaeumer commented on #111
OK. After thinking about this again it is nothing the extension can fix without letting the user configure this. As @jdforsythe pointed out and my testing confirmed the behavior of eslint reading the .eslintignore file depend on the directory that eslint as started from. To reiterate:

So I need to let the user defined which cwd directory to choose when linting which files.

[2017-02-07 17:49] matheusrocha89 opened #199 "Is there a way to show the error on status bar?"
The eslint plugin on vim have a nice feature that if your cursor is on the line of a eslint error it shows the error on status bar, this plugin can do this too?

[2017-02-08 00:08] lrowe commented on #6
With or without an .eslintignore, I'm seeing eslint retporting problems for open javascript files within my node_modules (which should be ignored by default.) This is on a Mac with VS Code 1.9.0.

[2017-02-08 07:52] foisonocean opened #200 "Don't lint git diff."
![2017-02-08 15_51_07](https://cloud.githubusercontent.com/assets/15059605/22727967/7cd8ce30-ee16-11e6-9913-9d99563d0ea5.gif)

[2017-02-08 08:49] dbaeumer commented on #6
@Irowe the linting of files inside the node_modules folder was caused by a bug I introduced in 1.2.3. If fix this in 1.2.4.

[2017-02-08 08:50] dbaeumer commented on #200
This actually requires work in VS Code.

[2017-02-08 09:33] dbaeumer commented on #199
This should be a general concept in VS Code IMO and not implemented by the extensions. I opened https://github.com/Microsoft/vscode/issues/20183

[2017-02-08 09:33] #199 closed

[2017-02-08 09:35] dbaeumer commented on #168
Closing the issue. Will reopen when the requested information is available.

[2017-02-08 09:35] #168 closed

[2017-02-08 09:41] dbaeumer commented on #111
I read through the documentation of ESLint again and ESLint itself (on the command line) doesn't support merging .eslintignore files. From the [doc](http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories):

What I added for ESLint now is support for specifying working directories to better control which .eslintignore file is choosen. The syntax is as follows:

[code]

So will

[2017-02-08 09:41] #111 closed

[2017-02-08 10:15] dbaeumer opened #201 "Provide setting to control the working directory used when linting files."
See https://github.com/Microsoft/vscode-eslint/issues/196 and https://github.com/Microsoft/vscode-eslint/issues/111 for why we need this.

[2017-02-08 10:16] #201 closed

[2017-02-08 10:17] dbaeumer commented on #196
Published 1.2.5. However I need to make this a configuration options along the lines you proposed since always taking the files directory as a cwd breaks other use cases.

[2017-02-08 10:17] dbaeumer commented on #111
Delivered in 1.2.5

[2017-02-08 10:41] danielberndt commented on #196
That's good news :)

I just updated the plugin to v1.2.5, and updated the workspace settings to
[code]

and restarted vscode. The error still seems to persist however. I still get the same message as before:

[code]

[2017-02-08 10:48] danielberndt commented on #196
Ah also: I'm on Win 10 and VSCode 1.9

[2017-02-08 14:53] matheusrocha89 commented on #199
My bad, I thought it was a plugin feature because the vim mode plugin shows which "mode" I am using (Normal, Insert, Visual)

[2017-02-08 15:17] dbaeumer commented on #196
@danielberndt I guess that you need to install eslint into the web-app directory as well.

Can I clone your project from a GitHub repository. Then I can look into why this is not working ?

[2017-02-08 23:55] stephen-hardy opened #202 "baseDir should be an absolute path"
When opening a JavaScript file hosted on SharePoint, accessed on Windows via WebDav, I get the following error on load and every time I type:

"baseDir should be an absolute path"

I don't think I saw this before v1.2.4. Everything was working well, until a couple days ago. Is this a configuration issue?

[2017-02-09 09:35] dbaeumer opened #203 "Linting issue"
_From @pronebird on February 8, 2017 12:34_

Hi,

I use babel-eslint 7.1.1. and I see syntax issue with the following piece in my JSX:

[code]
It points at `::` and says that "expression expected"

My .eslintrc:

[code]

ESLint works as expected and does not produce warnings:

_Copied from original issue: Microsoft/vscode#20198_

[2017-02-09 09:36] pronebird commented on #203
Thanks @dbaeumer I wasn't aware of this sub-repository.

[2017-02-09 09:38] dbaeumer commented on #203
@pronebird can you provide a more complete example that demonstrates the issue (e.g. a workspace folder with package.json, ...). I am happy to clone a GitHub repository as well.

This depends on many things mainly on the working directory used when limiting the file.

[2017-02-09 09:43] danielberndt commented on #196
I just sent out an invite. The sub-folder in question is the `./web-app` one.

[2017-02-09 09:51] pronebird commented on #203
@dbaeumer sure.

1. Clone https://github.com/jschr/electron-react-redux-boilerplate
2. Run `npm i` to install dependencies
3. Open folder in VSCode and navigate to `[app/components/Login.js](https://github.com/jschr/electron-react-redux-boilerplate/blob/master/app/components/Login.js)` to reproduce the described issue.

It could be I miss some configuration for VSCode linter but `npm run lint` tha

[2017-02-09 10:20] dbaeumer commented on #196
@danielberndt I could not reproduce this. Here is what I did:

- cloned the repository
- switch to web-app directory
- ran npm install
- opened VS Code on the root directory
- added a setting workspace setting:
[code]
- opened a JS file.

Here is what I see:

![capture](https://cloud.githubusercontent.com/assets/1931590/22779116/b8166608-eeb9-11e6-9d17-e6a06afdfee7.png)

Any additional steps?

[2017-02-09 10:25] dbaeumer commented on #202
ESLint has no configuration property baseDir, but TypeScript has which provides the JS smartness in VS Code.

Does this happen if you disable ESLint for the workspace? Which version of VS Code are you using?

[2017-02-09 10:47] danielberndt commented on #196
I'm referring to all the red markers you can see on the screenshot in the upper right. Around the `import` statements.

[2017-02-09 18:00] stephen-hardy commented on #202
Hi, thanks for the reply!

I just updated to 1.9.1 this morning, and the issue persists. I'm still getting to know VSCode, having switched from Sublime, but I don't believe I can disable ESLint for the workspace because I'm not opening a folder - just a file. However, I tried disabling the extension altogether. When I did that, the error went away. When I re-enabled the extension, it came back.

I

[2017-02-10 08:50] dbaeumer commented on #202
@stephen-hardy can you provide me a little more information about you setup:

- which eslint version do you have installed
- how does your eslintrc file look like
- can you provide me with the content of the JS file you are validating

And could you enable eslint tracing to get more information. To do so please set the user settings `"eslint.trace.server": "verbose"` and attach the output of ESLin

[2017-02-10 08:54] dbaeumer commented on #202
@stephen-hardy I think I know what is going on. How does the path of the file look like. Is it a UNC path or is the server directory mounted as a drive letter?

[2017-02-10 08:59] dbaeumer commented on #202
In noder `path.isAbsolute('\\192.168.1.2\folder\test.txt')`evaluates to true. But I guess that the path you are using is not consider an absolute path hence resulting in an exception in this piece of ESLint code from `path-util.js`:

[code]

The change in ESLint that causes the problem is:
[code]

[2017-02-10 09:02] dbaeumer commented on #196
I am a little bit puzzled. In the original post you set you are seeing exception which I don't see
[code]

I will see what makes the difference when opening on the folder

[2017-02-10 09:26] dbaeumer commented on #196
OK. Now I see. The eslint error message is Resolve error: ENOENT: no such file or directory, open /path/tp/project/package.json'  import/no-unresolved

I though it was a message on the console.

[2017-02-10 09:30] dbaeumer commented on #196
Actually running it from the terminal prints the same set of problem when in the root folder

[code]
I have to admit I even don't know why eslint is trying to open the package.json. Very lilkey one of the eslint plugins.

[2017-02-10 10:41] danielberndt commented on #196
Yeah it's most likely the eslint-plugin-import package (which seems to be quite popular given its download numbers on npm) causing this issue. Here's a [section of their README](https://www.npmjs.com/package/eslint-plugin-import#sublimelinter-eslint) discussing something thats probably related.

[2017-02-10 11:52] dbaeumer commented on #196
I investigates a little more and this is only a problem on startup. Somehow one of the plugins you are using needs a package.json file and doesn't respect the cwd setting of ESLint. As soon as the plugin is loaded you can validate any file from the web-app sub directory without problem. @danielberndt  do you know which of your ESLint plugins need / read the package.json file during first use.

[2017-02-10 12:45] darkred opened #204 "Move the 'Release Notes' inside the separate 'Changelog' tab"
Currently the 'Release Notes' for every version of the extension
is listed inside the 'Details' tab of the Extensions view (Ctrl+Shift+X):
![2017-02-10_144024](https://cloud.githubusercontent.com/assets/723651/22827158/0e86a0e4-ef9f-11e6-88e9-50ded861b3b6.jpg)

I'd suggest moving them inside the separate 'Changelog' tab:
![2017-02-10_144213](https://cloud.githubusercontent.com/assets/723651/228271

[2017-02-10 13:18] danielberndt commented on #196
This error seems only to show up if I include the settings for [eslint-import-resolver-webpack](https://www.npmjs.com/package/eslint-import-resolver-webpack) in the eslintrc.

And indeed [its source](https://github.com/benmosher/eslint-plugin-import/blob/master/resolvers/webpack/index.js) shows some references to package.json

[2017-02-10 14:15] dbaeumer commented on #196
Looks like they have some sort of config setting options (from reading the code). Have you tried to set this?

[2017-02-10 14:58] danielberndt commented on #196
yeah I'm pointing it to the correct webpack config file. But even using an absolute path doesn't help here. Issue stays the same.

[2017-02-10 17:53] stephen-hardy commented on #202
Correct, the file does have a UNC path:

\\microsoft.sharepoint.com@SSL\DavWWWRoot\teams\...

I'm currently on version 1.2.5, and a blank js file will cause the error.

[2017-02-10 18:31] dbaeumer commented on #202
Thanks. What is wired is that `path.isAbsolute('\\microsoft.sharepoint.com@SSL\DavWWWRoot')` evaluates to true. @stephen-hardy can you sent me the full path to my MS email address. Then I can have a look and see why this fails.

[2017-02-10 18:44] stephen-hardy commented on #202
Done!

Using a mapped drive works, just in case anybody is looking for a workaround. But then, unfortunately, TypeScript breaks (I opened the issue referenced directly above). So, if you want TypeScript you can open the file directly (as of VSCode 1.9.1), or if you want ESLint you can map a drive.

[2017-02-13 09:50] dbaeumer commented on #202
OK. The underlying problem is that
`path.dirname('\\microsoft.sharepoint.com@SSL\DavWWWRoot\teams\myteam\myFile.js')` returns `\\` which is clearly not the directory containing the file. Need to see how I best handle this.

@stephen-hardy what error do you get with TS on a mapped network drive.

[2017-02-13 11:30] #202 closed

[2017-02-13 11:35] dbaeumer commented on #196
I couldn't get it to work either. I did the following enhancement. The workingDirectories take an object literal as well which allows you to tell ESLint to change the process.cwd as well. Changing this has to be used with care and is therefore off by default. A config looks like this:

[code]

[2017-02-13 11:35] #196 closed

[2017-02-13 16:53] stephen-hardy commented on #202
Best described here: https://github.com/Microsoft/TypeScript/issues/13997

[2017-02-13 16:59] stephen-hardy commented on #202
Also, just wanted to confirm that this is fixed. Finally, TypeScript and ESLint working using the same method. :) Thanks for all your help!

[2017-02-13 20:06] darkred commented on #204
I've made this pull request: #205.

[2017-02-15 03:02] zzzgit commented on #185
1. add `"parser": "vue-eslint-parser"` into `.eslintrc`
2. add `"vue"` to `"eslint.validate"` for the editor's setting
3. add `"plugins":["vue"]` into`.eslintrc`

besides the 3 steps,what else I have missed?
autofix still not works
and the linting behavior changed,less mistakes been shown after the 3 steps

[2017-02-15 07:28] dbaeumer commented on #185
@zzzgit you need to let the eslint extension know that it should autofix your file type. Some like described in comment https://github.com/Microsoft/vscode-eslint/issues/185#issuecomment-267570350

[2017-02-15 07:33] #204 closed

[2017-02-15 07:33] dbaeumer commented on #204
Thanks for the PR. Merged.

[2017-02-15 15:32] zzzgit commented on #185
thanks,it works

[2017-02-16 16:25] knownasilya commented on #124
Any movement on this? Not getting any linting based on this file.

[2017-02-17 06:33] awebdeveloper commented on #105
still exists in the latest version of eslint & vscode

[2017-02-17 08:33] kumarharsh commented on #105
It works well for me. @awebdeveloper  Can you post a reproducible project link to test?

[2017-02-17 09:00] dbaeumer commented on #124
No movement so far.

[2017-02-18 08:11] afaayerhan opened #207 "Eslint not using Package.json config"
to reproduce this problem just download this boilerplate which configures eslint in package.json no eslintrc  https://github.com/react-boilerplate/react-boilerplate everything works fine in comand line and in webstorm but in vscode it does not it just lebels errors based on config that i don't know where the are coming from

[2017-02-20 05:09] benpigchu opened #208 "Can I only auto-fix all error and do not auto-fix warnings ?"
Some warnings is auto-fixable but we do not want to fix it, like "prefer-const" .
Can we just fix errors when we auto-fix all ?

[2017-02-22 10:33] jthomas1 commented on #186
I am getting this same error with eslint v3.16.0 so maybe they broke it again?

[2017-02-22 15:08] tbassetto opened #209 "Autofixing quote-props should take into account quotes configuration"
The following bug can be reproduced with VS Code `Version 1.9.1 (1.9.1)` and its ESLint plugin v1.2.6. Note that I have `"eslint.autoFixOnSave": true` in my VS Code config.

This is the relevant configuration in my `.eslintrc.js`:
[code]

It means that quotes should always be single quotes, unless there is one that needs to be escaped in the string. It also means that the properties of an object s

[2017-02-23 20:52] jungchris commented on #186
@dbaeumer I disabled ESLint 1.2.6 and issue doesn't appear on VS Code Insiders (v1.10.0-insider)

[2017-02-24 15:59] aeschli opened #210 "Extensions: update patch doesn't show immediatly for locally installed extension"
Verifying #17290

- download https://github.com/Microsoft/vscode-eslint/files/630866/vscode-eslint-1.2.0.zip and rename to `vscode-eslint-1.2.0.vsix`
- run `code-insiders --install-extension ./vscode-eslint-1.2.0.vsix`
- run vscode-insiders. The extensions view shows in the extensions viewlet, but with the old version
![image](https://cloud.githubusercontent.com/assets/6461412/23310270/4a98f690-fa

[2017-02-24 15:59] aeschli commented on #210
This issue was moved to Microsoft/vscode#21375

[2017-02-24 15:59] #210 closed

[2017-02-24 17:58] jiqiangbing commented on #186
I am getting this same error and I disabled eslint plugin then error does't appear.
![qq 20170225015342](https://cloud.githubusercontent.com/assets/3283628/23314578/7c339d0e-fafd-11e6-9c5f-d285e480ee83.png)

[2017-02-27 11:30] dbaeumer commented on #186
@jiqiangbing, @jungchris which version of the eslint npm package are you using?

[2017-02-27 11:32] dbaeumer commented on #186
I tried this again today and I can't reproduce this. Can someone share a GitHub repository that I can clone that reveals the problem?

[2017-02-27 11:37] dbaeumer commented on #209
ESLint when called with --fix runs the fixing strategy n times until no new fixes are computed. The ESLint plugin currently only runs the fixing strategy once.

Dups https://github.com/Microsoft/vscode-eslint/issues/154 which explains the problems around this more deeply.

[2017-02-27 11:37] #209 closed

[2017-02-27 11:38] dbaeumer commented on #208
@benpigchu do you know if this is possible on the command line when calling eslint --fix?

[2017-02-27 11:56] benpigchu commented on #208
@dbaeumer NO, but it seems that we can do it with the eslint node.js api.

[2017-02-27 12:05] dbaeumer commented on #207
This works for me. I cloned the repository run npm install. Here is what I get. I honors the package.json config and even hot updates as expected. ESLint extension version is 1.2.6

![cast](https://cloud.githubusercontent.com/assets/1931590/23360734/6e174080-fced-11e6-89ae-a2a13a519858.gif)

Any additional information?

[2017-02-27 13:53] dbaeumer commented on #208
Cool. Interested in working on a PR to support this ?

[2017-02-27 13:54] dbaeumer commented on #187
@eduedix thanks for opening the yarn issue.

[2017-02-27 13:57] dbaeumer commented on #189
@Rwing does this happen as well when running eslint --fix on the command line. Might be a multi pass problem as well.

[2017-02-27 14:35] Rwing commented on #189
so, how to fix?

[2017-02-27 14:48] jiqiangbing commented on #186
@dbaeumer v3.16.1. And when I click a js file in the SCM panel could probably cause this problem (see the screenshot above). But I also encounter such problem in the explorer panel when I use eslint plugin in a big project.
the .eslintrc is https://gist.github.com/jiqiangbing/cdfd7f8c51487c66e9998cf7857106f6

[2017-02-27 15:07] jthomas1 commented on #186
I am on ubuntu 16.04, eslint v3.16.0, node 6.9.2

![image](https://cloud.githubusercontent.com/assets/3570594/23366308/225d8c06-fcfe-11e6-8ce5-ccc9d2403bd3.png)

[2017-02-28 08:43] sgal commented on #200
@dbaeumer Is there any issue in VSCode repo that could be linked here? I'm having similar issue and it's super annoying singe it's a tooltip error that comes from above (using ES6 modules and babel).

![image](https://cloud.githubusercontent.com/assets/2971261/23397799/5134d434-fd9a-11e6-8c69-ba7d7a43c075.png)

[2017-02-28 09:26] dbaeumer commented on #200
The discussion in VS Code takes place here: https://github.com/Microsoft/vscode/issues/20859

[2017-02-28 14:10] #200 closed

[2017-02-28 14:12] dbaeumer commented on #186
OK. I fixed the problem with the git index file by not validating them. However I would be interested in a reproducible case for seeing this when opeing a file from the explorer. @jiqiangbing could you provide such a case.

[2017-02-28 14:15] dbaeumer commented on #189
Dups https://github.com/Microsoft/vscode-eslint/issues/154 if it works when executing eslint from a command line with --fix

[2017-02-28 14:37] jiqiangbing commented on #186
I got it, my project's package.json had `  "eslint": "^1.10.3"`. When I upgrade it to 3.16.1, problem sloved which encountered in explorer.

[2017-03-01 13:09] pronebird commented on #203
@dbaeumer any progress on supporting bind operator in ESLint? Not sure maybe related to JSX syntax that confuses ESLint.

[2017-03-01 14:42] dbaeumer commented on #203
@pronebird I am able to reproduce but I have no idea why this is happening. The ESLint extension actually uses the eslint npm module to do the actual validation. I don't know why it behaves different when running outside from the command line version inside VS Code.

[2017-03-01 15:57] dbaeumer commented on #186
@jiqiangbing cool. I will close the issue then.

[2017-03-01 15:57] #186 closed

[2017-03-01 20:47] brandonmp commented on #178
had this problem. Embarrassingly, I had an `.eslintignore` file in my project root that had a wildcard (`/**`).  Deleting that fixed the issue.

Had thought I was just writing perfect code :/

[2017-03-02 09:36] carlosvillu commented on #207
hi @dbaeumer
I have the same issue, but using the key `eslintConfig` in the package.json.

The config file is ignored :(

![captura de pantalla 2017-03-02 a las 10 33 54](https://cloud.githubusercontent.com/assets/179462/23501424/176319b4-ff34-11e6-94a6-0c95383cb4f2.png)

Thx!

[2017-03-02 11:16] dbaeumer commented on #207
@carlosvillu that looks different than the one reported from @afaayerhan

Can you please open a new issue with steps to reproduce. Best would be a GitHub repository I could clone.

[2017-03-02 15:51] joaomoreno opened #211 "Info, warning, or error?"
This happened when I deleted `node_modules`.

![image](https://cloud.githubusercontent.com/assets/22350/23514706/68b7ca38-ff68-11e6-89df-97863f41ee0c.png)

[code]

IMO this shouldn't be anything. It should be silent.

[2017-03-05 00:16] AlexEvanczuk commented on #6
Hi @dbaeumer has this been fixed?  I'm still seeing the same issue:

`.eslintignore`
[code]

eslint results:
[code]

[2017-03-06 17:27] moberemk opened #212 "Error bar showing "Cannot read property 'value' of null""
Right now any lint operation using plugin version 1.2.7 with local eslint 3.17.0 fails on one of my files specifically by showing the error message "Cannot read property 'value' of null". Looking at the console it's registered as an error but the stack trace doesn't call out specifically this plugin; I determined it was likely to be the culprit based on disabling extensions until the error stopped

[2017-03-07 19:42] anniee commented on #105
I had the same issue and was using a similar solution to hmmChase's until I installed eslint-config-google globally, and used `"extends": "google"` in my config. For reference: https://github.com/google/eslint-config-google

[2017-03-08 08:43] dbaeumer commented on #212
@moberemk can you share a project which I could clone. Makes it a lot easier to track down.

And do you see any exception when linting from the shell?

[2017-03-08 18:08] JzKUO commented on #103
format code not working on vue

[2017-03-08 18:42] moberemk commented on #212
Good call on linting from the shell, didn't think to do that for some reason. The output looks like this, seems like a bug in `eslint-plugin-flowtype` to do with the type for the `constructor` parameter being a callable:

[code]

I'll have to throw an issue up on that repo then. That said, is there any way to make eslint errors more obvious to the user? There was nothing in the error message to cl

[2017-03-08 19:13] dbaeumer commented on #212
They should show up in the ESLint channel in the output panel. Can you try to reproduce and look if it shows up there?

[2017-03-08 23:29] molant commented on #42
@dbaeumer testing on Windows 10 with insider 1.11 and TypeScript and seems to be working fine. What else is needed to have this in the official release?

[2017-03-09 00:23] dyst5422 commented on #178
I have this plugin choking on a ~3000 line file.

[2017-03-09 10:23] dbaeumer commented on #178
@dyst5422 could you provide a test case for this (the file, or a GitHub repository to clone)

[2017-03-09 10:24] dbaeumer commented on #42
@molant nothing. I simply forgot to close the issue.

[2017-03-09 10:25] dbaeumer commented on #103
@JzKUO what do you mean by format code ? Format vue files? The eslint extension doesn't provide any formatting support at all.

[2017-03-09 13:46] molant commented on #42
It wasn't working with the latest version of the plugin and that's how I end up in this issue. Is it going to be available in the next one or is there something broken with my current configuration?
Thanks!

[2017-03-09 15:21] lukejpreston opened #213 "doesn't fix errors correctly first time"
I have `"eslint.autoFixOnSave": true` and if the file has multiple eslint errors, nested as in example then it will fix it a little but still be incorrect. Then to get around this problem you have to introduce a new error and save again. Atom solves this by running lint every time you save, maybe this should do it as well but I feel it should keep trying on auto save until the file looks the same

[2017-03-09 16:59] souzadevinicius opened #214 "Default rules"
What are the default rules?

When I create a new .eslintrc, the previous rules are overwrited.
I'd like to extend the default plugin rules.

[2017-03-09 17:12] dyst5422 commented on #178
Unfortunately, the file in question is ITAR, so I can't provide it. I will definitely post something else should it come up on code that I can let out there.

Just for more information that may or may not be helpful. There are ~1000 eslint issues with the file (refactoring some old stuff) and the specific issues I'm seeing are that it is either slow to update when a fix is made, or won't update at

[2017-03-10 10:06] dbaeumer commented on #42
@molant it should work with the latest version, however you need to configure this. Please see: "vs/editor/contrib/format/browser/formatActions":["Made 1 formatting edit on line {0}","Made {0} formatting edits on line {1}","Made 1 formatting edit between lines {0} and {1}","Made {0} formatting edits between lines {1} and {2}","Format Document","Format Selection"]

[2017-03-10 10:06] #42 closed

[2017-03-10 10:08] dbaeumer commented on #178
Thanks for the information. The ~1000 error case is indeed something to optimize.

[2017-03-10 10:09] dbaeumer commented on #214
For the default rules please refer to ESLint itself. The extension uses whatever ESLint defines.

[2017-03-10 10:09] #214 closed

[2017-03-10 10:10] dbaeumer commented on #213
Dups #154

[2017-03-10 10:10] #213 closed

[2017-03-10 16:47] jdylanstewart commented on #178
This might be completely unrelated, but I noticed at some point yesterday that I had my Flow server hogging a TON of resources and killed it. Didn't pay much attention to if that was related, but I'll keep it in the back of my mind to investigate that a bit for you when I get a chance.

[2017-03-12 09:17] RaniSharim commented on #178
Yes, this thing chokes on large (3000+ lines) files, it seems.

[2017-03-13 15:11] magebarf commented on #71
It seems that running the command line just as written may not always give the information you're trying to get. I'm guessing due to wrong working directory etc.

Had a case with the same react-plugin that was present in a config file in the user's home directory but when looking at the --debug output it did not list that .eslintrc file at all. For some reason it was picked up when running from wi

[2017-03-13 17:57] lekhnath commented on #103
I was trying to lint typescript files using this extension and [typesciprt-eslint-parser](https://github.com/eslint/typescript-eslint-parser) but cannot get to work with .ts files

[2017-03-13 18:01] lekhnath commented on #103
Solution found #42

[2017-03-14 03:44] benduran opened #215 "Slowdown on code assist with eslint enabled"
Just recently, I've been experiencing some issues with medium-sized javascript files with Redux.js action creation and dispatching-type code. I've tried installing the nightly build version of VSCode to see if it may have been something related to the latest stable version of VSCode. I've disabled a number of extensions, as well as the **github** integration. These had a marginal impact on perform

[2017-03-14 08:19] dbaeumer commented on #215
@benduran are you able to share your project. ESLint runs in a complete separate process than the JS code assist. I would like to understand why/how ESLint affects the JS code assist. Do you have high CPU load ?

[2017-03-14 09:19] BairDev commented on #28
@dbaeumer Should I comment this issue, if the problem has reoccurred? Or #92?

I still have this problem:

    Failed to load the ESLint library for the document /home/path/to/my/file.js

    To use ESLint in this workspace please install eslint using 'npm install eslint' or globally using 'npm install -g eslint'.
    You need to reopen the workspace after installing eslint.

Some versions:

ESLin

[2017-03-14 15:02] benduran commented on #215
@dbaeumer I may be able to share the specific file in question, but not the whole project, as it is a work-related project and contains sensitive information and features we cannot share with the public at the moment. I will try running a CPU profiler on VSCode while running my project and report back later this afternoon / early evening.

[2017-03-15 05:33] crunchyintheory opened #216 "Linting is still enabled when viewing git diff."
Steps to reproduce:
 - Set eslint to look for Windows (LF) line endings
 - Open a git diff with a github remote
 - The eslint console will say that the line endings are inconsistent in the diff window

![image](https://cloud.githubusercontent.com/assets/5205015/23934975/0cba4c16-0917-11e7-9fc9-4fc75c86c1dd.png)

[2017-03-15 14:44] gilesbradshaw opened #217 "differentiate between syntax errors and style errors"
Could you underline proper syntax errors in say red and style errors in a different colour like yellow?

That would be massively helpful as the red underline pops up for example when you declare a parameter and before you use it.

[2017-03-16 02:49] mwadden commented on #215
I'm experiencing the same issue. I enabled the ESLint extension (dbaeumer.vscode-eslint) a few weeks ago and set `{"eslint.autoFixOnSave": true}`. Ever since, I quite frequently run into significant lag with code assist and often with vscode as a whole.

The lag becomes so noticeable that characters appear a solid second or two after I type them. After a while of increasing lag, the `autoFixOnSave

[2017-03-16 03:23] benduran commented on #215
@mwadden Thanks for chiming. I've been so busy at work that I haven't had time to run my CPU profile. I found that by switching to this: `"eslint.run": "onSave"` corrects my issue. It is really only noticeable when `"eslint.run": "onType"` is set (which it is by default)

[2017-03-16 04:50] ta-run commented on #186
Still face this issue for

eslint 3.16.1
vscode 1.10.2
npm 4.0.5
node 7.4.0

![image](https://cloud.githubusercontent.com/assets/3349253/23982239/2643fc06-0a32-11e7-8664-6c939cfab8d8.png)

[2017-03-16 09:50] #216 closed

[2017-03-16 09:54] dbaeumer commented on #186
@ta-run can you share your project so that I can investigate.

[2017-03-16 09:55] dbaeumer commented on #217
This is something you can control in your .eslintrc. For every check you can define whether it will be an error or a warning. We render warnings with a green underline but are considering to change this to yellow.

[2017-03-16 09:55] #217 closed

[2017-03-17 11:22] nerdbeere opened #218 "Make linting error indicator configurable"
Hi there,

it would be super cool if I could change how the error is displayed.
Currently I'm using the theme "One Monokai Theme" and the error for me is almost invisible.

<img width="329" alt="screen shot 2017-03-17 at 12 15 17" src="https://cloud.githubusercontent.com/assets/423218/24040963/bfbbbd4a-0b0b-11e7-80be-015035728081.png">

Feature request:
Let the user choose a background and a foreg

[2017-03-17 14:54] dlong500 opened #219 "Eslint randomly stops working in vscode insiders build"
Platform: Windows 7 x64
vscode version: latest insiders build (as of 3/17/2017 10:50am)
vscode-eslint version: 1.2.7

Not sure exactly where to start searching for answers, but I'm using the latest vscode insiders build (updated every time a new build is released) and as of the last week or so eslint will randomly stop working.  What I mean by that is it will "freeze" whatever suggestions/warnings

[2017-03-17 16:25] erlethor commented on #186
I have the same problem every time I open the Git Diff window. Is there a way to exclude git diffs from the validation?

[2017-03-17 18:57] n0f3 opened #220 "ESLint not loading local config unless you specify nodePath local"
Hello,
not sure if this is intended behavior, but I have a globally installed instance of eslint and when I try to install eslint locally and load it from my local folder, ESLint in vscode will always prioritize the global installation found under %USERPROFILE%/AppData/Roaming/npm.

I have installed Node using the regular windows install:

- Node version 6.9.1
- npm version 4.4.1
- eslint global v

[2017-03-17 22:00] alexgorbatchev commented on #218
I would like to second this request. No lint issues is a pre-commit hook on the project I'm working on. It would be ideal for me to highlight whole line in bright red or something equally as obvious.

[2017-03-18 23:18] pgraci commented on #186
^ i am having the same problem as @erlethor. i get this error every time I open the Diff window.

[2017-03-19 21:33] svipben opened #221 "ESLint auto fix on save"
Hello,

ESLint auto fix on save not working if you're using `"files.autoSave": "afterDelay"`. Only works if you're pressing `CTRL + S`. It will be very good if it will work with `files.autoSave` setting without pressing `CTRL + S`.

VS Code: 1.10.2
OS: Linux Ubuntu 16.04
ESLint installed localy: 3.18.0
ESLint plugin: 1.2.7

[2017-03-19 21:34] svipben commented on #221
Sorry, my fault, just read the docs and found this:

[2017-03-19 21:49] oullah opened #222 "Debounce keypresses?"
ESLint seems to run on every keypress, and my machine falls behind. I have to wait after typing some code to see if there are any final errors when I'm done. Is there some way around this? I would like it to wait until I haven't typed for a second or two before running eslint.

[2017-03-20 12:05] dbaeumer commented on #222
The client de-bounces right now for 200ms but then forces the error detection to not fall behind to far. However we need to do better for large files here were error checking takes more than 200ms. This is on the plan for the future.

Marking as upstream and closing since this has to happen in the base library we use for linter (vscode-languageserver-node).

[2017-03-20 12:05] #222 closed

[2017-03-20 12:06] dbaeumer commented on #186
@erlethor @pgraci published 1.2.8 today which should disable all validation of git diff windows.

[2017-03-20 12:08] dbaeumer commented on #218
@nerdbeere @alexgorbatchev please open an issue against VSCode (https://github.com/Microsoft/vscode). The ESLint simply creates diagnostic object with a severity. The extension doesn't have any logic in terms of colors.

[2017-03-20 12:08] #218 closed

[2017-03-20 12:10] dbaeumer commented on #219
@dlong500 with suggestions do you mean code complete / IntelliSense. This comes from VS Code itself and not from ESLint. Regarding the errors: do they start with [js] or [eslint]?

[2017-03-20 15:34] oullah commented on #222
Cool, I just saw that I can run the linter on save so I'll just do that.

[2017-03-20 17:44] dlong500 commented on #219
I'm talking about the errors/warnings from eslint.  Yes they do start with `[eslint]`.

[2017-03-21 06:27] ta-run commented on #186
@dbaeumer can't share the project as it's a corporate one.
But error's gone after today's update. Thanks :)

[2017-03-21 20:09] erlethor commented on #186
Thanks for the quick fix! It worked well.

[2017-03-23 15:24] dlong500 commented on #219
Any updates on this?  I'm also noticing an issue that others have mentioned where eslint appears to be processing extremely slowly.  For example, I can type something, hover over what I've just typed and watch the error/warning get updated at about a one-character-per-second rate.  This is really hurting productivity.

[2017-03-23 18:01] leandono commented on #154
Any update about this issue?

[2017-03-24 07:18] n0f3 commented on #207
@carlosvillu I seem to be having the same issue where a eslint doesn't load locally and I have to specify it every time in the workspace settings. is that also what you're experiencing?

[2017-03-24 09:08] dbaeumer commented on #154
No update. PR is still welcome.

[2017-03-24 09:12] dbaeumer commented on #219
We know about problems with very large files and validating them in ESLint. We know how to improve it but I haven't found the time yet to work on it.

If your files aren't large then it would be cool if you can share a reproducible example since I have no explanation why VS Code and the ESLint extension would act like you describe.

[2017-03-24 09:13] dbaeumer commented on #221
I will close. The afterDelay will cause problems with both the user typing and eslint computing fixes. This is why this can only be trigger using Ctrl+S in this case.

[2017-03-24 09:13] #221 closed

[2017-03-24 09:15] dbaeumer commented on #220
This works for me without a problem. ESLint extension always prefers a local install eslint over a global one. Can you share a reproducible case (a git repository) that demos the behaviour?

[2017-03-24 09:18] dbaeumer commented on #215
@benduran I have an idea what could cause this since it becomes more responsice for onSave. Will look into this beginning of April.

[2017-03-24 09:22] dbaeumer commented on #28
@BairDev how did you install eslint globally. Using yarn?

I just checked and the ESLint extension works correctly if:

- global module is install using npm
- npm get config prefix returns the location where the global eslint is installed.

[2017-03-24 16:25] dlong500 commented on #219
I'll have to try to put something together.  The project I'm working on now is private so I can't share that, but anecdotally it hasn't seemed to make much difference what the file size is.  Most of my files are going to be less than 1000 lines (probably 300-700 lines on average).

Does it make a difference how many files are open in vscode?

[2017-03-25 03:11] benduran commented on #215
@dbaeumer Thanks for checking into this. I'm glad I have a temporary work around for this issue, but I look forward to hearing more about a possible fix 👍

[2017-03-27 11:43] edwinwright opened #223 "Link to specific eslint rule in tooltip"
I'm coming from Atom and have found that having a link to the specific failing eslint rule (http://eslint.org/docs/rules/) in the tooltip has been very useful.

If you're not familiar with the ruleset being enforced, then having a reference to hand helps explain what you're doing wrong. Useful for new starters to the dev team or when implementing a third party configuration.

![eslint-rule-link](h

[2017-03-28 00:28] fedegos commented on #197
I'm having the same problem. The eslint command in the terminal is running from global location, not local. I'm using vscode version 1.10.2 and eslint extension 1.2.8.

[2017-03-28 07:56] dbaeumer commented on #197
The eslint command in the terminal is honor your path setting which very likely point to the global one. You can always run the local one using `.\node_modules\.bin\eslint`

[2017-03-28 07:59] dbaeumer commented on #219
@dlong500 no, the number of files shouldn't make a big difference since ESLint only validates single file (no inter file dependencies). However what does make a difference is the time it takes to check a single file which can increase through plugins which do extensive checking. So usually the time it takes is proportional to the size of the file but can increase by some plugins as well. If you ru

[2017-03-28 08:53] BairDev commented on #28
@dbaeumer Sorry for kind of spamming this issue, but the problem has disappeared. I've just created a .eslintrc and then the stuff started to work. *Thanks anyway.*

But in order to answer your question: I've installed eslint via `npm install -g`, if I remember correctly. We have a quite complex project set-up, with using `npm link` and stuff like that, maybe this was the reason for the hiccup.

[2017-03-28 13:48] Rojoss opened #224 "Cannot read property 'type' of null"
Every time I type and/or save a file I get the following message which is quite frustrating.
![image](https://cloud.githubusercontent.com/assets/1093861/24407650/d7ed9a96-13cb-11e7-8a94-9ff906dd3bf7.png)

I disabled all extensions then it went away, so I re-enabled them till I found out that it was  eslint.
I've done some research and found that it might be related to ``eslint.nodePath`` setting.

[2017-03-28 19:34] dlong500 commented on #219
There is definitely something odd going on, because the lag seems to get worse over time and can be improved temporarily by restarting vscode.  So (at least for me) it doesn't appear to only be related to the size of a particular file.  I'm sure there could be other vscode core issues going on (or other plugins affecting things as well), so I understand it could be hard to pin down (especially wit

[2017-03-28 21:01] fedegos commented on #197
Thanks! That worked.

I defined the following task for running eslint:

[code]

Could you confirm if this is correct? I couldn't find any documentation on creating a task for this extension.

[2017-03-29 19:03] n0f3 commented on #220
Hi @dbaeumer it seems to happen for create react app applications, but it's been documented to be a problem within eslint itself. We can probably close this, I'll open up another issue if I see more weird behaviours. Thanks for the reply!

[2017-03-29 19:03] #220 closed

[2017-03-31 01:02] jameswomack commented on #189
@dbaeumer I see the same issue and it is present even when running `--fix`, regardless of the amount of passes used. It happens with `3.1.x`, `@latest` as well as `github:eslint/eslint#indent-rewrite`.

[2017-04-04 09:56] dbaeumer commented on #219
@dlong500 although the issues might come from different source I will mark this one as a dup of #215. I makes communication easier and helps me track down the issue.

[2017-04-04 09:56] #219 closed

[2017-04-04 10:04] dbaeumer commented on #215
@dlong500 @benduran I worked on a new version of the ESLint extension that uses a more sophisticated validation queue. It will allow for even tweak the timeouts if necessary.

Since the change is bigger and it might not even fix the problems you are seeing I would like to ask you to beta test the version. To do so following these steps:

- download
[vscode-eslint-1.2.9.zip](https://github.com/Micr

[2017-04-04 10:07] dbaeumer commented on #197
I updated the doc to provide an example for an eslint task. It looks like this

[code]

[2017-04-04 10:09] dbaeumer commented on #224
I thought I fixed this a while ago. Which version of ESLint extension and VS Code are you using?

Can you share the whole project? Would help to investigate why you see this.

[2017-04-04 10:33] dbaeumer commented on #189
If it is even present when running eslint in a terminal with --fix then this looks like a eslint problem to me and an issue needs to be opened here: https://github.com/eslint/eslint

[2017-04-04 10:35] dbaeumer commented on #223
Good idea and we have a issue for this in VS Code repository since the support needs to be enabled there first. See https://github.com/Microsoft/vscode/issues/11847

[2017-04-04 10:35] #223 closed

[2017-04-04 19:43] dlong500 commented on #215
Thanks.  I'll test it out over the next few days and let you know how it goes.

[2017-04-06 02:29] benduran commented on #215
I've installed it tonight. Will test it thoroughly between now and end of
the week. Will report back with my findings

On Tue, Apr 4, 2017 at 12:43 PM, Davison Long <notifications@github.com>
wrote:

--
- Benjamin

[2017-04-06 05:48] viix opened #225 "show the tips when the cursor is on the code that has error or warning"
For now, if you want to see the eslint issue tip, you have to move the mouse to the code with wavy underline. I think it's better to support that when the input cursor move to the code, it shows the issue tip. Especially when using vim extension, it will be more convenient.

[2017-04-06 08:34] rohmanhm commented on #42
Same issue here, anyone will help?
https://github.com/octref/vetur/issues/115

[2017-04-07 17:01] benduran commented on #215
@dbaeumer I've been using the eslint build you prepped. **I can confirm that it no longer affects intellisense while coding. Code assist is snappy like it was previously.** However, some of my files do cause noticeable performance issues with the linting messages I receive in the eslint console in VS Code. The linter does eventually catch up, however, it is a bit sluggish. There are two files in q

[2017-04-10 08:31] Kovensky commented on #215
I've been having a similar issue with eslint in vs code -- sometimes it takes a _very_ long time to catch up with linting a file that is being edited. Right now I am working on refactoring a ~2000 line file, so it is particularly noticeable, but it used to not be a problem 😕

The messages trace looks somewhat like this:
[code]

Often, when it starts lagging behind, the delays just keep getting lar

[2017-04-10 09:39] dbaeumer commented on #225
This issue was moved to Microsoft/vscode#24422

[2017-04-10 09:39] #225 closed

[2017-04-10 09:54] dbaeumer commented on #215
@Kovensky thanks a lot for the trace. Would you be able to include the whole trace. To really understand what is going on I need to see the change notifications send from the client as well. They show up as `Sending notification ...` in the trace.

@benduran could you produce such a trace as well. To do so enable the setting `"eslint.trace.server": "messages"`

One thing that the trace shows is th

[2017-04-10 10:16] Kovensky commented on #215
I disabled and re-enabled eslint usinc <kbd>⌘+Shift+P</kbd>, waited until the output stopped, cleared the output, and then wrote `(const thread of threads) {`<kbd>ENTER</kbd> (continuation of a `for` statement head). This is the full output at that point:

[code]

You can see the increasing delays towards the end.

[2017-04-10 19:50] dbaeumer commented on #203
Help is appreciated here.

[2017-04-10 19:50] dbaeumer commented on #183
This got changes a while ago to a yellowish color.

[2017-04-10 19:50] #183 closed

[2017-04-10 19:52] dbaeumer commented on #24
The loading code has changed quite a bit since March 2016. I will close the issue. Please ping if one still sees the issue.

[2017-04-10 19:52] #24 closed

[2017-04-10 20:05] dbaeumer commented on #48
Keeping as feature request due to https://github.com/Microsoft/vscode-eslint/issues/48#issuecomment-221884230

[2017-04-10 21:05] mwadden commented on #215
I haven't yet tried the new version you posted a few days ago but I wanted to share this trace from a few mins ago. I'm currently working on a file that's 472 lines long.

I'm going to try your latest version now and I'll report back once I get a sense of if it's helping or not.

[code]

[2017-04-11 08:57] dbaeumer commented on #215
@Kovensky @mwadden thanks a lot for the traces. I know better understand what is going on. I will look into a new version of the extension for you. From my first analysis this will requires some changes in the VS Code core as well since we are triggering far too many `codeAction` requests.

[2017-04-12 07:24] awestroke commented on #175
This should be reopened, as this is not default ESLint behaviour.

http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy

Emphasis mine:

[2017-04-12 07:24] awestroke commented on #175
I have the same problem running VSCode on Windows. The problem only happens in VS Code, not if I run ESLint from terminal.

[2017-04-12 09:24] dbaeumer commented on #175
@awestroke can you share a GitHub repository demoing this. When I tried this eslint does travers up the parent directory chain until it finds a .eslintrc* file. If it doesn't find one it takes the one from the home directory.

[2017-04-12 15:39] dbaeumer commented on #215
We fixed parts of this in master which is already in insider (thanks to @jrieken). However there is more work to do which has to happen in the ESLint extension. The problem is that codeAction requests should only be sent if the diagnostic the code action is requested for contains a ESLint generated error. Otherwise ESLint is not able to provide any code action.

[2017-04-13 14:19] dbaeumer commented on #215
@Kovensky @mwadden @benduran @dlong500

Attached a new version of the eslint extension. Please follow the steps in https://github.com/Microsoft/vscode-eslint/issues/215#issuecomment-291454472 to install.

The extension requires features from the insider build to work optimal. It is working with stable as well but it will not profit so much.

Please let me know if this improves your experience (not

[2017-04-13 20:21] jameswomack commented on #189
@dbaeumer true / agreed. FWIW I learned of a rule called template-curly-spacing that solves this.

[2017-04-14 05:20] Kovensky commented on #215
Running `code --install-extension vscode-eslint-1.2.9.vsix` with the new extension is failing with:

[code]

[2017-04-14 13:51] dbaeumer commented on #215
@Kovensky sorry for that. Since I didn't official publish I didn't increment the version number.

[2017-04-16 23:43] cesaraaron commented on #91
I need this badly (I come from standard and the plugin for vscode does this by default)
Any news?

[2017-04-16 23:45] oshalygin commented on #91
Willing to help if someone can give direction on where to even start.

[2017-04-17 01:26] evanwarner commented on #36
Agreed that it seems like an unnecessary requirement to have users also install eslint globally on their own. I've never had an editor extension that didn't install itself with all dependencies included.

[2017-04-18 18:07] fsmaia opened #226 "Static property initializers linting error"
By using ESLint with `babel-eslint` I'm getting `no-undef` errors when using [static property initializers](https://babeljs.io/docs/plugins/transform-class-properties/).

My `.eslintrc` is setting `babel-eslint` properly and `.babelrc` is also well configured.

When running ESLint from CLI these errors aren't listed.

[2017-04-19 06:43] awestroke commented on #175
The problem is that even though vscode-eslint finds a .eslintrc file, it still uses the ~/.eslintrc file too. Both me and my colleagues have this problem, we all use Windows 10. The problem does not arise when using eslint from the command line.

[2017-04-19 21:14] cdb opened #227 "Linting not running on jsx files"
It may be something in my setup, but AFAIK nothing has changed. Linting has stopped running on JSX files, where I am pretty sure it did in the recent past (I got a VSCode update recently)

When I run `./node_modules/.bin/eslint --ext .js,.jsx src test` locally it finds issues in .jsx files, however not within the VSCode "Problems" tab

I went into my VSCode settings and have added ```    "eslint.o

[2017-04-20 13:47] llozesdome commented on #91
I understand that linting the whole project all the time could damage the performance. A dedicated action that could be run on demand would still be great.

[2017-04-20 17:54] egamma commented on #91
Here is an example for how to do this for eslint using Tasks https://github.com/Microsoft/vscode-eslint/blob/master/eslint/README.md#using-the-extension-with-vs-codes-task-running

[2017-04-24 05:30] merdmann commented on #48
Sounds a bit like https://github.com/walmartlabs/eslint-config-defaults/issues/38. I think I have the same problem. I have eslint installed globsally and locally in my project. eslint seems to work only with the local installatuion, e.g.

 .\node_modules\.bin\eslint --c jsconfig\.eslintrc.yml src

calling it globally you will get:

Cannot find module 'eslint-config-walmart/rules/eslint/node/on'
Re

[2017-04-24 07:20] kurtextrem opened #229 "Cannot read property 'Symbol(tokens)' of undefined"
- VSCode Version: Code - Insiders 1.12.0-insider (84b2a1ecb6a342d7d82605a330581f06cb726fc3, 2017-04-24T06:11:54.376Z) (previous version from friday had this problem as well)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions: the listing exceeds the lower minimum of browsers' URL characters limit
---

Steps to Reproduce:

1. Edit any file

Cannot read property 'Symbol(tokens)' of undefined
e.do

[2017-04-24 07:20] kurtextrem commented on #229
Also reported here: https://github.com/Microsoft/vscode/issues/25217, because not sure what's broken - the ESLint module or Code.

[2017-04-24 07:40] kurtextrem commented on #229
es-bautifier's fault

[2017-04-24 07:40] #229 closed

[2017-04-24 16:18] anilreddykatta opened #230 "ESLINT configuration declared in package.json is not recognised"
In `create-react-app` which adds `eslintConfig` to `package.json` is not recognised. When I create  `.eslintrc` with exact configuration it works.

[https://github.com/facebookincubator/create-react-app/issues/1955](https://github.com/facebookincubator/create-react-app/issues/1955)

[2017-04-25 14:25] dbaeumer opened #231 "eslint github page does not have setup documentation"
_From @isidorn on August 30, 2016 13:11_

Refs #11100

Our javascript docs page mentions how to setup eslint https://code.visualstudio.com/docs/languages/javascript
However the https://github.com/Microsoft/vscode-eslint has no mention on how to set this up.

I would copy the documentation from our docs page to the github page, especailly since it is a first google hit for 'vscode eslint extension'

[2017-04-25 15:53] benduran commented on #215
Wanted to mention that the latest version you've provided has improved the performance again, but there is still some "catching-up" that eslint is doing when my settings are set to run `onType`. I will work on getting a trace for you within the next few days.

[2017-04-25 18:12] Venryx commented on #227
Does putting this in your settings.json file help? (it worked for me, to enable in typescript (ts/tsx) files)

[code]

[2017-04-26 08:46] dbaeumer commented on #227
The default `"eslint.validate"` value is `["javascript", "javascriptreact"]` so out of the box jsx files should be validated. However if you specify  `"eslint.validate"` in your settings you need to list all languages you want to validate.

[2017-04-26 08:49] dbaeumer commented on #227
I tested this with VS Code 1.11 and ESLint 1.2.8 and it works as expected.

Will close the issue. @cdb if you still see problems here can you please provide a workspace I can use to reproduce this.

[2017-04-26 08:49] #227 closed

[2017-04-26 08:51] dbaeumer commented on #215
@benduran thanks. Would you be able to share your workspace. Would ease tracking this down further.

[2017-04-26 17:59] cdb commented on #227
FWIW, I found out the issue...my `*.jsx` files were being classified as `JSX` instead of `Javascript React`, I believe due to another extension I had added. I removed the extension (but was also fixed by just adding 'jsx' to the  `eslint.validate` settings as you had suggested @dbaeumer - thanks!

Had a fun time learning how to run an extension in the Extension Development Host and debug it along

[2017-04-27 15:07] dbaeumer commented on #227
Cool. Then you are all set to write your first extension and publish it to the market place :-)

[2017-04-27 15:21] dbaeumer commented on #230
See my comments in facebookincubator/create-react-app#1955

[2017-04-28 07:23] dbaeumer commented on #230
@anilreddykatta I will close the issue. The work should happen in `create-react-app`.

[2017-04-28 07:23] #230 closed

[2017-04-29 19:32] chrisdias opened #232 ""Cannot read config file..." error when editing eslintrc.json"
AutoSave is on

As soon as i start editing `.eslintrc.json` i get an info popup message that i have to constantly dismiss.  I know its not valid, i'm not done editing :).

![image](https://cloud.githubusercontent.com/assets/1487073/25558248/8a0a7a0e-2cd7-11e7-9272-98aaf2c7b45c.png)

[2017-04-30 13:42] Rojoss commented on #224
Ugh, I didn't get a notification for this so I'm sorry for the extremely late reply.

**ESLint** version is ``3.19.0``
**VSCode** is the latest version ``1.11.2``

I'm not really able to share the project as it's private for work.
If it's really needed I could probably set up a repo with a similar project to reproduce the issue.

Hopefully I'll be able to receive notifications next time.

[2017-05-01 21:39] mwadden commented on #215
Quick update... I've been using the version from Apr 4th for a few weeks now and it's been great. No noticeable concerns. I just installed the latest version from Apr 13th now so I'll give a few days and report back.

Thx again for the quick turnaround on fixing this, it's made vscode usable again!

[2017-05-02 21:14] ProLoser opened #233 ""Path must be a string. Received undefined" on unsaved files"
I repeatedly see this error on every keypress when working with unsaved files that don't exist on disk. Are you not sending a blob of the current session (and not just what's saved to disk)? Perhaps new editor panels that are unsaved (aka: `Untitled-*` files) should be ignored until they are saved to disk and renamed?

[2017-05-04 16:27] mjbvz opened #234 "[eslint] Parsing error: Unexpected token"
_From @AkashiX on May 4, 2017 14:14_

- VSCode Version: 1.11.1
- OS Version: Win 10

I get this error when using async/await keywords to declare a function, what's matter? by the way, I had installed eslint plugin inside Vscode.

_Copied from original issue: Microsoft/vscode#25896_

[2017-05-04 16:28] mjbvz commented on #234
@AkashiX What version of eslint are you using? Can you share some example code?

[2017-05-04 20:06] cdierkens commented on #6
@dbaeumer Open files are still being linted in VS Code 1.12.0 and ESLint extension 1.2.8

[2017-05-05 13:00] mwadden commented on #215
Following up from my last comment, it's been a few days now of heavy usage and everything seems great still.

[2017-05-08 13:50] bmarkovic commented on #24
This affects me with VS.Code 1.12.1 f6868fc Ubuntu 17.04

I have node setup so that global modules end up in `~/.node` and that is added to NODE_PATH in my .zshrc file. But ok, I understand that VS Code does not inherit my shell environment, which is why I added `"eslint.nodePath": "/home/bmarkovic/.node"` to my user settings JSON file. I still get this error tho.

[2017-05-08 19:48] MrSkinny opened #235 "ESlint extension stopped working and will not install"
VSCode: 1.12.1

I noticed ESLint wasn't running in my project and went to the extensions tab. ESLint was no longer installed.  I searched for it on the marketplace but when I hit "Install", the button changes state for a second and immediately flicks back to "Install".  I am able to run/install other extensions.

Anyone else having this issue?

[2017-05-08 20:22] MrSkinny commented on #235
I've fixed the issue -- despite ESLint not appearing in my extensions list or linting the code in my editor pane, when I went to `~/.vscode/extensions` the folder for the extension still existed.  I deleted it and then tried installing from the marketplace, and this time it worked.

Other steps taken prior to fixing:-
* Hard reboot
* Updated to Node 6.10.3
* Reinstalled eslint -g
* Deleted and rei

[2017-05-09 07:31] chenxsan opened #236 "Lint problems don't show up in editor."
I'm running VSCode insider 1.13.0 on macOS 10.12.4.

![vscode-eslint](https://cloud.githubusercontent.com/assets/1091472/25839964/799fe4d6-34cc-11e7-898a-66da54669b03.gif)

As you can see in the gif, when we have `Unexpected token (4, 1)`, there's no red mark inside the editor as other ranges.

[2017-05-09 09:01] Irnis18 opened #237 "Error: Cannot find module 'array-union'"
- VSCode Version: Version 1.11.2 (1.11.2)
- OS Version: OSX - macOS Sierra - iMac

Vcode:  Developer toggle developer tools - Console:
 `messageService.ts:126 Cannot find module 'array-union'e.doShow @ messageService.ts:126e.show @ messageService.ts:105(anonymous function) @ mainThreadMessageService.ts:64n.Class.derive._oncancel @ winjs.base.raw.js:1641t.showMessage @ mainThreadMessageService.ts:3

[2017-05-09 10:53] Moejoe90 commented on #119
Make sure you download all the dependancies and if this is a local installation then try installing all packages globally.

[2017-05-09 20:18] theel0ja opened #238 "Add support for .eslintignore"
![image](https://cloud.githubusercontent.com/assets/5832930/25870702/b9f5a372-350d-11e7-856b-7d3e7d8e3c8f.png)

That's while `eslint .` isn't saying anything of that because I'm using `.eslintignore`, so this haven't support for it.

[2017-05-11 07:09] orgkhnargh commented on #203
I just noticed that vscode-eslint extension does not emit the "Expression expected" message!

![selection_297](https://cloud.githubusercontent.com/assets/699961/25936554/e3479cca-3630-11e7-9da0-50d3d48d02b0.png)

As a workaround I can suggest to disable JavaScript validation by putting the following into your user or workspace config:

[code]

I think vscode uses TypeScript for JS (because the `ja

[2017-05-11 09:44] dbaeumer commented on #238
The ESLint extension does have support for .eslintignore since it calls into the eslint npm modules.

@theel0ja can you share a workspace showing the problematic behavior. I can not reproduce this locally in my setup.

![cast](https://cloud.githubusercontent.com/assets/1931590/25943156/3fac8814-363f-11e7-9f66-d2da1a2bded8.gif)

[2017-05-11 09:48] dbaeumer commented on #237
@Irnis18 can you share your workspace.

I looks like ESLint can't find 'array-union' which it needs to validate js files. What happens if you run eslint form the terminal with the JS file that produces the error from your workspace folder?

[2017-05-11 09:52] dbaeumer commented on #236
This is a problem of the editor partly understandable.

Since line 4 has no character but eslint reports an error on [4,1] there is no character to underline. Moving to VS Code to discuss whether we can do something in the editor about it.

[2017-05-11 09:53] dbaeumer commented on #236
This issue was moved to Microsoft/vscode#26446

[2017-05-11 09:53] #236 closed

[2017-05-11 09:55] dbaeumer commented on #235
Will move to VS Code to see if there is something extension install in VS Code can do to help here.

[2017-05-11 09:55] dbaeumer commented on #235
This issue was moved to Microsoft/vscode#26448

[2017-05-11 09:55] #235 closed

[2017-05-11 10:05] dbaeumer commented on #24
You can enable tracing support by adding to your workspace settings `"eslint.trace.server": "messages"`. This should print more to the output channel.

@bmarkovic if you want to load global npm modules from a different location did you tweak the `npm get config prefix` setting. This should point to the gobal npm location and is respected by the ESLint extension.

[2017-05-11 10:08] dbaeumer commented on #6
@cdierkens can you provide a workspace to reproduce. I can't not using my setup:

![cast](https://cloud.githubusercontent.com/assets/1931590/25944142/8d3a81be-3642-11e7-8d0c-86014c66a69a.gif)

[2017-05-11 10:10] dbaeumer commented on #234
This error usually indicates a problem with your ESLint config file like .eslintrc.json.

I am closing the issue. Please share and example if the explanation is not solving your problem.

[2017-05-11 10:10] #234 closed

[2017-05-11 10:15] dbaeumer commented on #233
This is a problem with older eslint npm modules. Please update to a newer version of eslint (https://www.npmjs.com/package/eslint) not ESLint VS Code extension.

![cast](https://cloud.githubusercontent.com/assets/1931590/25944416/823d23ec-3643-11e7-8bcc-e96d0c3f1068.gif)

[2017-05-11 10:15] #233 closed

[2017-05-11 10:16] dbaeumer commented on #224
@Rojoss you need to update the ESLint VS Code extension as well (1.2.8 is latest).

Will close if you can still reproduce the error on latest setup.

[2017-05-11 10:16] #224 closed

[2017-05-11 10:18] dbaeumer commented on #232
Instead of showing a message I should report a problem marker.

[2017-05-11 10:21] dbaeumer commented on #48
@merdmann ESlint npm module requires itself and all plugins either being installed locally or globally. Mixing doesn't work.

[2017-05-11 10:29] dbaeumer commented on #215
Great to hear.

[2017-05-11 12:02] theel0ja commented on #238
I'm using this `.eslintignore` and it's in `web/.eslintignore`:
[code]

The file that I was editing was in `web/public_static/js/wb404.js`.

[2017-05-12 09:15] dbaeumer commented on #238
@theel0ja this behavior is inherited by eslint. eslint (the tool run in a terminal) only honors eslint ignore file from the current working directory upwards not from the file linted. Since VS Code is opened I guess on a parent folder of the web folder the .eslintignore file is not honored.

The ESLint extension does offer a working directory configuration to support these cases (it is comparable

[2017-05-12 09:15] #238 closed

[2017-05-14 01:35] obkalu commented on #24
Thanks @dbaeumer. I encountered this issue in my VSCode+eslint setup. Great pointer in your comment above. I enabled tracing support by adding "eslint.trace.server": "messages" in my settings; and noticed that "eslint.nodePath" was pointing to the wrong directory, instead of where npm global packages are installed. So, correcting that fixed it. The plugin is now loading the eslint library successf

[2017-05-15 07:19] sapegin opened #239 "Warning status bar color should not be hardcoded"
[code]

Now you can [configure](https://code.visualstudio.com/docs/getstarted/theme-color-reference#_status-bar-colors) status bar color, so it’s possible to have bad contrast:

![image 2017-05-15 at 9 17 44 am](https://cloud.githubusercontent.com/assets/70067/26046474/5d0e0938-394f-11e7-8b68-28bb2950cbb1.png)

Not sure what would be the best fix there since there’s only one foreground option. Pro

[2017-05-15 12:24] Irnis18 commented on #237
Basically it happens to every .js files on my project, when i try running eslint with the js file in the terminal, nothing happens. I just did eslint  filename.js on one random js file in my project. So everytime i enter a js file in that project i get the Error Cannot find module 'array-union'. @dbaeumer, tell me if it didn't make sense.

[2017-05-16 10:13] #215 closed

[2017-05-16 11:49] ankon opened #240 "(Insiders/1.2.10) "Cannot read property 'then' of undefined""
[code]

Only thing I can remember is that I did update VSCode and the extension, and then did my usual "work on projects".

[2017-05-16 11:51] ankon commented on #240
Some more thinking/playing: This happened in a project where `npm install` hadn't been executed; I did that now and the extension seems to be slightly happier...
[code]

[2017-05-16 11:56] guppie70 opened #241 "ESLint down due to server crash"
I just updated the ESLint extension to versus 1.2.10 and now suddenly it stopped working completely... Visual Studio code says "The ESLint server crashed 5 times in the last 3 minutes. The server will not be restarted." And that's it...
Tried re-installing the plugin and reinstalling ESLint using: `npm install -g eslint`, but nothing seems to work.
Would love to share more (log) information, but I

[2017-05-16 12:38] MarkSMT commented on #241
same here.. on macOS, i updated to the newest vscode version..

[2017-05-16 12:55] cecilemuller commented on #241
Adding`"eslint.trace.server": "verbose"` in settings.json should output some information hopefully.

[2017-05-16 13:00] guppie70 commented on #241
That indeed provides some debug information!

Here is the relevant part I think:
`[Trace - 1:58:08 PM] Sending response 'client/registerCapability - (0)'. Processing request took 2ms
C:\Users\jtadmin\.vscode\extensions\dbaeumer.vscode-eslint-1.2.10\server\server.js:613
    return document2Library[document.uri].then((library) => {
                                         ^

TypeError: Cannot read p

[2017-05-16 13:01] cecilemuller commented on #241
That looks like the culprit, good find 😃

[2017-05-16 14:12] oliversalzburg commented on #240
Sadly, installing all dependencies only temporarily resolved the issue for me. Now the server keeps crashing again.

[2017-05-16 14:33] dbaeumer commented on #240
This is a bug I introduced in 1.2.10. Will work on a fix.

[2017-05-16 14:40] svipben commented on #241
Same here, this is the output:

[code]

[2017-05-16 14:40] svipben commented on #240
Same here, this is the output:

[code]

[2017-05-16 15:02] #240 closed

[2017-05-16 15:03] dbaeumer commented on #240
Sorry for this. I optimized performance be reordering some notifications and request and not tried to validate closed documents. Published 1.2.11 which should fix the problem.

[2017-05-16 15:08] dbaeumer commented on #241
Dups #240. I published 1.2.11. Sorry for the breakage.

[2017-05-16 15:08] #241 closed

[2017-05-16 15:19] oliversalzburg commented on #240
Seems to work like a charm. Thanks for the quick fix :)

[2017-05-16 15:49] scottsauber commented on #240
@dbaeumer - thanks for the quick fix!

[2017-05-16 16:40] guppie70 commented on #240
Indeed - update works perfectly! Many thanks for your support!

[2017-05-16 21:55] yoojene opened #242 "Error while loading rule 'comma-dangle': "listener" argument must be a function"
Upgraded to the latest version this morning and now every time I save or navigate to anything this message appears in the error bar. _Pretty_ sure this was also happening before 1.12.2 as well..

![image](https://cloud.githubusercontent.com/assets/14247260/26104098/3035f96c-3a34-11e7-9d0b-aa69bd986330.png)

- VSCode Version: 1.12.2
- OS Version: macOS 10.12.5

Steps to Reproduce:

1. Open VSCode
2

[2017-05-18 01:42] TheMaxMarchuk opened #243 "Settings to override which eslint installation is used"
Since I'm using eslint for vscode I like to keep my eslint installation and plugins installed globally. Sometimes when I'm working on a project that has a local installation of eslint, I want to be able to configure vscode to use the global installation instead, that way all of my plugins can be installed globally instead of locally. An example use case would be when working on projects created wi

[2017-05-22 11:43] dbaeumer commented on #243
@TheMaxMarchuk this option exists: it is eslint.nodePath. If set the extension will prefer it over a local or global install eslint.

Please give it a try. If it doesn't help you please ping in this issue.

[2017-05-22 11:43] #243 closed

[2017-05-22 14:37] cfrank opened #244 "Experimental Decorators error present with option set in config"
[code]

![Error](https://f.xor.al/SdKzk.png)

This error appears even after adding the `experimentalDecorators` flag in `.eslintrc`

[code]

[2017-05-23 14:34] timfoley commented on #242
I got that error message today! Then I found the typo I made. I thought it was a bug until I copied and pasted example code from the [ESLint docs](http://eslint.org/docs/rules/comma-dangle). Your case might be a bug, but it's worth knowing that it's also the error message you might get from a typo in your rules.

**With error**
[code]

**No error**
[code]
It's a tough typo to spot!

[2017-05-25 09:00] bmarkovic commented on #24
@dbaeumer Sorry I've missed this reply. You probably meant `npm config get prefix` and yes it was set, but it was only when I made sure that in global npm config (the `globalconfig` entries when you get when you do `npm config list`) the prefix is set to the same location that it finally worked.

So setting it only in local npm config (`~/.npmrc` in my case) doesn't cut it. Hope someone else finds

[2017-05-25 13:41] OliverJAsh opened #245 "Idea: quick fix to disable rule for selected line(s)"
I make frequent use of comments to disable selected ESLint rules for selected lines, for example:

[code]

It would be great if VSCode provided a "quick fix" option in the UI to silence rules it is complaining about by automatically adding these comments for the selected lines. I get quite tired of writing them, especially looking up the precise rule names.

Has this idea come up before?

[2017-05-25 20:39] croraf opened #246 "Dynamic import shown as error"
The issue is described here.

https://github.com/babel/babel-eslint/issues/475

Running `eslint <file> `from comand line shows no errors, but `vscode-eslint `plugin underlines my dynamic import:
`import(...)`

[2017-05-31 14:31] jzaefferer opened #247 "Bundle task with the extension"
If I understand this comment correctly ( https://github.com/Microsoft/vscode/issues/1435#issuecomment-303058258 ), the latest VS Code supports extension bundling tasks, which sounds like a good (better?) solution to defining tasks globally.

In other words, it might now be possible to replace the instructions here ( https://github.com/Microsoft/vscode-eslint/tree/master/eslint#using-the-extension-

[2017-05-31 14:43] marvinhagemeister commented on #247
This portion of [tslint](https://github.com/Microsoft/vscode-tslint) might be really interesting. They define a `ProblemMatcher` in `package.json` that runs automatically. Meaning all errors of all files show up in the Problems view. No need to create custom tasks for linting.

https://github.com/Microsoft/vscode-tslint/blob/master/tslint/package.json#L157

[2017-06-01 07:06] dbaeumer commented on #247
Yes, that is the goal. But this is not the default yet since we want to get more feedback on this from the community. But users can opt into it using a dummy tasks.json with the content
[code]

[2017-06-01 16:59] sandy081 opened #248 "eslint constantly compains about no-use-before-define rule"
From @oliversalzburg  - https://github.com/Microsoft/vscode/issues/27827

- VSCode Version: 1.12.2
- OS Version: Windows 10

Steps to Reproduce:

1. Open [spodr](https://github.com/fairmanager/spodr) in VS Code

ESLint shows an alert saying: `d:\spodr\.eslintrc`: Configuration for rule "no-use-before-define" is invalid: Value "[object Object]" no (or more than one) schemas match.

The rule is defi

[2017-06-02 10:26] nickyoung23 commented on #247
I'm trying to test the bundling of tasks in a extension (using Code Insiders), but can't get it to work. My understanding is that there will be a "tasks" key within "contributes" in package.json, is that correct?

I have assumed that this will be an array in the same way that "languages" and "grammars" are, but have tried many different options without success. Please could you provide a quick exa

[2017-06-02 20:51] knownasilya commented on #66
This might also be related https://github.com/Microsoft/vscode/issues/27947

[2017-06-02 20:53] CodeCharm opened #249 "Identify target file in error message"
First, I'll admit that I'm not 100% sure that an error message I saw came from this extension.

But I'm about 95% sure it did.

The error message looks like this:
![screenshot](https://i.stack.imgur.com/LThSY.png)

Notice that the error message gives me absolutely no idea which file had the problem that it's reporting. It doesn't even tell me what line the message is from, but even a file name wou

[2017-06-05 17:21] atif089 opened #250 "Cannot read config file: Error: Unexpected token E in JSON at position 0"
[code]

I get the following every time I open a JS file.

`Cannot read config file: c:\Users\111111111\.eslintrc.json Error: Unexpected token E in JSON at position 0`

http://i.imgur.com/9Y6hX9H.png

I don't understand where this configuration is stored so that I can remove it.

###Workspace Settings

http://i.imgur.com/eW2YtTT.png

###User Settings

http://i.imgur.com/FruFW9Y.png

[2017-06-06 07:43] dbaeumer commented on #250
This is eslint (http://eslint.org/) default behavior. It looks for .eslintrc files up the parent chain of your current working directory. Does that file exist on your machine ? Another possibility is that one of your other .eslintrc files include that file.

You should see the same error when you execute eslint directly from the terminal. @atif089 I will close the issue since this is not specific

[2017-06-06 07:43] #250 closed

[2017-06-06 07:46] dbaeumer commented on #249
@CodeCharm this looks like an exception that is throw by an eslint plugin. Can you reproduce this? If so does it happen when you run eslint from the terminal as well. Is the error message more descriptive in this case?

[2017-06-06 07:49] dbaeumer commented on #66
@benjamincharity an additional question. Does that work without any problem if you execute eslint from the terminal? And which OS are you on.

The eslint extension itself doesn't read the config file. It simply forwars this the to the eslint npm module.

[2017-06-06 08:59] dbaeumer commented on #247
@nickyoung23 task will be contributed by code, not descriptively via the package.json. This gives more flexibility in terms of customizing tasks. The API to do so is still in proposed state and available here: https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.proposed.d.ts

[2017-06-06 09:05] dbaeumer commented on #248
@oliversalzburg I can't reproduce this. I did:

- cloned https://github.com/fairmanager/spodr
- ran npm install
- opened the repository in VS Code
- opened JS from lib and bin

I only received in error from bin/spodr.js

Am I missing something ?

[2017-06-06 09:12] dbaeumer commented on #245
Would be a good opportunity for a PR

[2017-06-06 09:14] dbaeumer commented on #24
@bmarkovic correct it is `npm config get prefix`

[2017-06-06 09:19] dbaeumer commented on #242
The ESLint VS Code extension doesn't do any config parsing itself. I only relies on the eslint npm module to do so. In case the parsing fails the npm module throws an exception which I present in an error message. Usually these exceptions show up when running eslint from the terminal as well. And the ESLint output channel mostly contains more info.

There is not much I can do about this besides te

[2017-06-06 09:19] #242 closed

[2017-06-06 09:21] dbaeumer commented on #244
The error message comes from the JS support in VS Code (see [js] in the error message). ESlint errors are prefixed with [eslint].

[2017-06-06 09:21] dbaeumer commented on #244
This issue was moved to Microsoft/vscode#28097

[2017-06-06 09:21] #244 closed

[2017-06-06 09:26] dbaeumer commented on #237
@Irnis18 it does make sense but I still can't reproduce this. There is one additional thing to consider. ESlint itself and the plugins it used must both be either installed globally or locally. The VS Code ESLint extension prefers a local install eslint over a global one. Could it be that you have eslint installed in your workspace but not the array-union plugin and that when you execute eslint in

[2017-06-06 09:27] dbaeumer commented on #239
Agree.

@aeschli any advice which color to use here.

[2017-06-06 09:30] aeschli commented on #239
@dbaeumer What does the color signal? Error/Warning?

[2017-06-06 09:35] dbaeumer commented on #175
I was not able to reproduce this. I added

[code]
to my home directory and this is only executed if no other .eslintrc file is found in the parent chain. @awestroke could you please provide a GitHub respository I could clone that demos this.

[2017-06-06 09:35] dbaeumer commented on #239
@aeschli  attention. Both error or warning would be fine.

[2017-06-06 09:38] dbaeumer commented on #226
@fsmaia can you share a workspace that demos the problem ?

[2017-06-06 09:40] dbaeumer commented on #189
I will close the issue then. Either follow up on https://github.com/eslint/eslint or #154

[2017-06-06 09:40] #189 closed

[2017-06-06 09:41] aeschli commented on #239
https://github.com/Microsoft/vscode-docs/blob/vnext/docs/getstarted/theme-color-reference.md has all the colors (for 1.13).
I'd suggest using:
- `statusBarItem.prominentBackground`: Status Bar prominent items background color. Prominent items stand out from other Status Bar entries to indicate importance.

For error/warning we have:
`editorWarning.foreground` and 'editorError.foreground` but they

[2017-06-06 11:40] oliversalzburg commented on #248
Huh, I don't get it. I had this all the time last week. Now I can't repro it either. I'll watch out if it happens again and report back.

[2017-06-06 11:45] benjamincharity commented on #66
@dbaeumer It's actually been a bit since I've used ESLint (all work projects have been in TypeScript as of late). That being said, I do believe it was working well from the CLI as I was using ESLint from Vim and the terminal.

OS X Sierra.

Hmm so possibly it can't forward a symlink?

[2017-06-06 16:45] gcazaciuc commented on #154
@dbaeumer I've began taking a look at it. However, it seems we are doing loads of processing with the ranges reported by Eslint and it's really hard to figure out what's going on.
My question is why we can't use the outputFixes() CLI method on Eslint and remove all that range translation logic which is error prone ?
Similar to how Atom does it( https://github.com/AtomLinter/linter-eslint/blob/mast

[2017-06-06 16:53] CodeCharm commented on #249
@dbaeumer Ever since I fixed up some launch settings in VSCode, I have not been reproducing this. I had been relying on a gulp task to run eslint. Some of the plugins are from a pregenerated template that was given to me from other in-house assets. Just glancing inside node_modules, it looks like I have the eslint-plugin-angular and eslint-plugin-react plugins. I'm not using react, but it's a depe

[2017-06-07 20:21] fsmaia commented on #226
Sorry, it was solved when I bumped all versions in package.json. Probably it was a conflict between versions.

[2017-06-07 20:21] #226 closed

[2017-06-08 10:38] dbaeumer commented on #226
Thanks.

[2017-06-08 10:41] dbaeumer commented on #249
I agree that having an indication in the message that hints to the fact that it comes from the ESLint extension will be very help. I accept this as a feature request.

[2017-06-08 10:47] dbaeumer commented on #154
The problem is  that `eslint.CLIEngine.outputFixes(report)` writes to the file to my knowledge. Since the file is open in the editor conflicts are IMO not harmless since they might result in UI interaction in the editor. The fixes and possible typings might even be conflicting which will show a merge editor.

In addition we support to apply all fixes per action even to an unsaved file.

The range

[2017-06-08 16:27] CodeCharm commented on #249
Cool! I haven't looked into the code -- is it a big lift to get the filename integrated into the error message?

[2017-06-09 19:23] sladiri opened #251 "Support running the ESLint server in the WSL under Windows."
This is the error I get in the output pane of Vscode. There is no log in the developer tools console.

[code]

I can lint the file fine if I start eslint in the console (Bash for Windows).

I do use Vscode in Windows 10, and eslint (and nodejs) is installed inside Bash for Windows (Linux subsystem). My Windows build is `15063.296`. Node.js version is `v8.1.0`, eslint is `v3.19.0`.
So I start the W

[2017-06-12 08:11] dbaeumer commented on #251
This will not work right now. ESLint is run in its own process and kept alive to lint while you type. Otherwise we would need to start eslint command line version while you type. The process we start to run eslint in is not running in the Linux subsystem hence it doesn't see the same environment.

[2017-06-12 08:14] dbaeumer commented on #249
No, should not be too complicated. The code is here: https://github.com/Microsoft/vscode-eslint/blob/master/eslint-server\src\server.ts#L803

[2017-06-12 08:16] dbaeumer commented on #248
@oliversalzburg thanks. I will close the issue for now. Please ping if you see it again.

[2017-06-12 08:17] dbaeumer commented on #239
@aeschli thanks !

[2017-06-12 16:28] Asing1001 commented on #185
I only add this to settings.json and it works :
[code]

[2017-06-13 09:19] awestroke commented on #175
.eslintrc in project:
[code]

.eslintrc in $HOME:
[code]

Result from running eslint in terminal: no errors

Result from opening a js file in VS Code:
![2017-06-13 1116_23-index js eslint-vscode-dbg visual studio code](https://user-images.githubusercontent.com/1098408/27075300-00cfdccc-502a-11e7-9c54-596a32c31e5a.png)

[2017-06-15 08:34] croraf commented on #246
I answered on the referenced thread: https://github.com/babel/babel-eslint/issues/475

[2017-06-15 08:34] #246 closed

[2017-06-20 03:37] xgqfrms-gildata commented on #12
https://stackoverflow.com/a/31402280

[code]

[2017-06-21 15:47] TuxujPes opened #252 "Error: command 'eslint.*' not found"
Hi there,
some time ago eslint has totally stopped working for me :(
And currently, I am out of ideas why.

tool/env | version
------------ | -------------
System | OS X El Capitan 10.11.6
VSCode | 1.13.1
ESLint plugin | 1.2.11
ESlint | 3.19.0

List of my extensions (not all of them enabled per workspace):
[code]

Eslint commands are not found, nor eslint is listed in output's tool selection.
Wher

[2017-06-23 14:33] mcmunder opened #253 "Error: Cannot find module 'locate-path'"
### my setup and config:

vscode: 1.13.1
vscode-eslint: 1.2.11
ESlint version: 4.0.0
Node version: 8.1.2
npm version: 5.0.3
parser: babel-eslint

.eslintrc.json:
[code]
Please be aware that this is in a create-react-app project so I do not know what other (eslint) magic might be going on behind the scenes.

### issue
I am opening a new file in vscode and editor throws an error:
`Error Cannot find

[2017-06-26 08:59] codeofsumit commented on #42
ESlint autofix doesn't seem to work for me.

[2017-06-28 06:01] awestroke commented on #175
Can anyone else reproduce this?

[2017-06-29 05:16] scott-plutovr opened #254 "Numerous red underlines for things being not defined"
Command line eslint is fine. In VSCode I see hundreds of red underlines with similar messages to, `[eslint] 'describe' is not defined. (no-undef)`
I'm on Windows 10.

Here's our .eslintrc.json file,
[code]

[code]

[2017-06-29 13:03] dbaeumer commented on #254
Is both the eslint and the babel-eslint installed locally. ESlint doesn't support having the eslint npm module install locally (e.g in the workspace's node_modules folder) and a plugin globally. I guess when you run it in a shell both is used from the global path.

[2017-06-29 13:04] dbaeumer commented on #254
I that is not the case can I close a repository showing the behavior.

[2017-06-30 03:48] scott-plutovr commented on #254
Sorry I don't totally understand your questions. Are you asking are eslint and babel-eslint installed (i.e. `npm install`)? Looking at my devDependencies in package.json eslint is not in there (it is installed globally on the system).

[code]

[code]

[2017-06-30 03:49] scott-plutovr commented on #254
So your recommendation would be to add eslint to my devDependencies?

[2017-06-30 10:07] dbaeumer opened #255 "ESLint server should create connection without reader / write to respect command line arguments"

[2017-06-30 10:08] dbaeumer opened #256 "ESLint server should fall to default JS linting when client doesn't support dynamic registration."

[2017-06-30 12:53] blackmiaool commented on #154
Quick fix:
    I added command **eslint.executeAutofix10** to fix this. You can get the code from [here](https://gist.github.com/blackmiaool/4e9d38ac4dbbc88d18af1d2541429146). Replace the *extension.js* and *package.json* in your local vscode-eslint with the files in the gist.

[2017-06-30 19:45] doasync commented on #48
You do not need to install everything globally. Check this:
`npm i -g eslint-config-airbnb-standard`
`eslint -v`
Here is the [guide](https://medium.com/@doasync/eslint-with-airbnb-standard-js-sublime-text-965a1db58793)

[2017-06-30 21:36] sseiber commented on #253
I just started getting this error:
I had a sub-package in my project that used `eslint-plugin-import`
If I cd into that sub-package and `npm ls locate-path` it returned:
[code]
When I did it from the root of my project I got:
[code]

This fixed it and restored the dependency:
`npm uninstall --save-dev eslint-plugin-import`
`npm install --save-dev eslint-plugin-import`

[2017-07-01 07:00] blackmiaool commented on #154
I wrote a command **eslint.executeAutofixThoroughly** to walk around this. You can get the code from [here](https://gist.github.com/blackmiaool/4e9d38ac4dbbc88d18af1d2541429146/976297015f1d4aa965547d65df0a5005e5448901)
![output](https://user-images.githubusercontent.com/5674588/27759911-d5dab10c-5e6d-11e7-95be-4dc77b3cfc3a.gif)

This is what I added to it:

[code]

[2017-07-04 07:08] TuxujPes commented on #252
bumping up. Any thoughts?

[2017-07-04 07:59] dbaeumer commented on #252
Can you share a workspace (best via GitHub) that demos the behavior.

Since no ESLint commands are available (F1 > ESlint) it is very likely that the extension is disabled. The commands don't require to run any code. The come from the package.json file.

Another idea is that the ESLint installation is broken for some reason. Yoo could go to our home directory and then to .vscode/extensions and del

[2017-07-04 11:00] dbaeumer commented on #154
@blackmiaool interesting approach. How would that work with fix on save which a lot of people want to work with multi round as well.

[2017-07-05 08:20] TuxujPes commented on #252
Removing folder with eslint in `.vscode/extensions` and reinstalling have helped indeed!
Should have tried that firsthand...
Thanks, really helped me! :)

[2017-07-05 08:20] #252 closed

[2017-07-06 06:14] liangzr opened #258 "'Fix all auto-fixable problems' added a comma an end of params Incorrectly"
before:
[code]
after:
[code]
auto-fix always add this comma, that can make mistake under node 6.+ LTS (node 8.+ seems all right)

[2017-07-10 09:06] medikoo commented on #208
Yes, in general it'll be great to be able to filter some rules specifically from auto-fixing.

It was discussed also at ESlint, and it's the recommended approach (solve it on editor side).
See the [thread](https://github.com/eslint/eslint/issues/7549#issuecomment-314041266)

[2017-07-10 10:44] ItsNoHax commented on #215
I have everything up to date, including the ESLint plugin with latest version and this is still happening.
For me this started appearing after updating Watchman to the latest version.

[2017-07-10 15:17] EthanNYT opened #259 "Configuration error: Configuration for rule "indent" is invalid: Value "error" must be an enum value."
eslint installed version is 4.2.0
eslint plugin version is 1.2.11
pc is running OSX 10.12.5

I created a local eslint.json file using `eslint --init`

Now I receive this error when opening vscode:

What is the correct format for the config file, if it is not the one generated by eslint itself?

[2017-07-12 09:20] iddan commented on #154
I suspect that because of vscode's paste mechanism indent don't work well cause when I use eslint cli it indents well

[2017-07-12 12:00] toyflish opened #260 "path of debugging if it does not lint"
Hi,
I have eslint installed globally and in my project.
I have an .eslintrc in my folder.
i have installed eslint extension to vscode.
I have it enabled in the preferences.
[code]

I start my vscode in the same directory I have my .eslintrc but it in vscode it does not lint.
When I lint from commandline it works.

Where do I start debugging?

regards Kai

[2017-07-13 04:18] scott-plutovr commented on #254
???

[2017-07-13 08:37] XaveScor opened #261 "[object Object]: ESLint configuration is invalid: - Unexpected top-level property "ecmaFeatures"."
eslint version is 4.1.1
I have valid config and can run eslint from terminal. My config: https://gist.github.com/XaveScor/90a24430aeac9b6c7b4241e27647c7a8
Error in subject

[2017-07-13 09:47] dbaeumer commented on #215
@ItsNoHax can you please open a new issue with steps to reproduce (best would be a clonable GitHub repository).

[2017-07-13 11:18] ycjcl868 opened #262 "I cant't use it~"
![image](https://user-images.githubusercontent.com/13595509/28164026-feab0ca8-67ff-11e7-9cfd-cc0ed34487e2.png)

[2017-07-14 03:59] liangzr commented on #258
ref: [Trailing commas](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Trailing_commas)

it does as a new feature in ECMAScript 2017，but I can not use it in production env with node LTS

[2017-07-14 10:19] mattacosta opened #263 "Typo in function name"
Someone probably meant "update".

`udpateStatusBarVisibility` in extension.ts at [L228](https://github.com/Microsoft/vscode-eslint/blob/master/eslint/extension.ts#L228)

[2017-07-14 10:21] KevinNTH commented on #42
@codeofsumit Hi,

[code]

refered here #185

[2017-07-14 10:22] ItsNoHax commented on #215
Not sure I can, this is happening at my work's React-Native project which has a substantial size code base which could be related to why it's sluggish.

[2017-07-14 13:00] mikevaleriano opened #264 "How to use my own rules when using the "Create eslintrc.json file" command?"
Is there a template somewhere? I couldn't find it in the extension directory.

I just want to paste my own eslintrc file on top of it, as I have a standard one that is used by 99% of my projects.

Thanks.

[2017-07-14 14:06] RealBlazeIt opened #265 "ESLint is not showing not working in VS Code."
I have ESLint installed as a developer dependency in the project and I do not have it installed globally. I have the VS Code ESLint extension enabled.

In order to ensure my rules actually work, I have tested running ESLint via command line on my source directory and everything worked fine, errors were detected.

All my `User Settings`/`Workspace Settings` have been untouched, and all the ESLint d

[2017-07-14 14:14] RealBlazeIt commented on #260
Have you found a fix for this issue?

[2017-07-15 02:52] #265 closed

[2017-07-15 14:30] RealBlazeIt commented on #261
Exact same issue^

[2017-07-15 14:41] VapidSlay commented on #261
I have the same problem

[2017-07-15 14:51] hornydevil commented on #261
yeee, same here 😩

[2017-07-15 14:51] Lyroo commented on #261
Same Problem here

[2017-07-15 15:50] toyflish commented on #260
I found out it was actually just not linting my .vue files from vuejs framework. I fixed it by changing  my vscode preferences to:
[code]

now when I edit my .vue-files I have the linting-hints in my prolbems-tab but the bulb showing on the line I only have in the .js files.

[2017-07-16 16:18] sosspyker commented on #261
I have a typescript project with:
default tsconfig.json file - no references to eslint.
package.json file: No reference to eslint - only dependency is the typescript package.
I do not have .eslintrc.json or eslintDefaults.json files in my typescript project.

However I did install npm install -g eslint when VSCode started complaining about eslint with install suggestion.
For some reason the ESLint

[2017-07-17 15:01] Aladdin-ADD opened #266 "[eslint] Definition for rule 'internal-no-invalid-meta' was not found on eslint codebase"
![image](https://user-images.githubusercontent.com/13050025/28276559-df35046c-6b49-11e7-8bbc-95d6815e3e7b.png)

vscode version: 1.15.0-insider

[2017-07-17 15:06] Aladdin-ADD commented on #262
what about using cli?

I guess it is related to eslint -- it disable jsx by default. you can enable it like this:
[code]

[2017-07-17 15:18] Aladdin-ADD commented on #261
it is related to [ eslint@4.0.0 breaking change.](http://eslint.org/docs/user-guide/migrating-to-4.0.0#-unrecognized-properties-in-config-files-now-cause-a-fatal-error)

linking: https://github.com/eslint/eslint/issues/8867

[2017-07-18 02:12] ycjcl868 commented on #262
I use cli like this but ~
[code]
it display:
`error  Parsing error: Unexpected token <`

I enable it you mentioned, `token <` problem solved.  But it occurred a new question.

![image](https://user-images.githubusercontent.com/13595509/28297566-41ed59b8-6ba1-11e7-8a48-65106b5bb4cf.png)

[2017-07-18 02:20] Aladdin-ADD commented on #262
arrow function is a ES6 feature. you should also enable it.

ref: http://eslint.org/docs/user-guide/configuring#specifying-parser-options

[2017-07-18 02:26] ycjcl868 commented on #262
I set up `.eslintrc` before like this:

[code]

but it error as again

[2017-07-18 02:42] Aladdin-ADD commented on #262
as far as I can see, it is your syntax error(not eslint's). would you change `=` to `:`?

[2017-07-18 02:45] ycjcl868 commented on #262
`handleClick = () => ` is ES6 arrow function , to bind this .

[2017-07-18 11:34] XaveScor commented on #261
I found error. plugin tries open config from my home directory. I deleted it and eslint works now. Please add logs about some events.

[2017-07-19 19:19] ryaninvents opened #267 "Feature request: hide warnings/errors if they will be auto-fixed"
Proposal: Add a new config option `eslint.hideAutoFixedIssues`.

If `eslint.hideAutoFixedIssues` and `eslint.autoFixOnSave` are both `true`, then do not show the error/warning in the text editor if ESLint suggests a fix. This is helpful when scanning a file, as it makes real errors (such as a typo in a variable name) much more visible.

I've got a bit of time coming up and would love to implement

[2017-07-19 23:18] benblank opened #268 "Linting doesn't update after ESLint package upgrade"
Linting doesn't update when upgrading ESLint (as it does when editing a file or `.eslintrc`).  This can be worked around by disabling and re-enabling linting on the workspace, but having it update automatically would be quite nice.

Operating System: macOS 10.12.5
VS Code version: 1.14.1
vscode-eslint version: 1.2.11
System `node --version`: 8.1.2
System `npm --version`: 5.0.3

Steps to reproduce:

[2017-07-22 23:51] atif089 opened #269 "Feature Request: Enable support to source config over the Network"
## For example

[code]

[2017-07-23 20:14] nahuelhds commented on #24
This should also have in mind that you could have eslint installed globally with yarn, not only on NPM... that's my case. EsLint works but the message shows as if eslint is not there and it's actually working

[2017-07-25 16:15] kristajg commented on #261
I was have identical problems, and uninstalling the `prettier` extension made everything better. I also uninstalled / reinstalled eslint @ v1.2.11 and that is fine.  Prettier seemed to be the issue in my case, if any of you have that installed as well.

[2017-07-25 19:45] Aladdin-ADD commented on #261
will fixed in `eslint@4.4.0`.

[2017-07-25 19:49] Aladdin-ADD commented on #266
closing, as it will be fixed in eslint.

[2017-07-25 19:49] #266 closed

[2017-07-26 08:00] touzoku commented on #227
@dbaeumer I would like to reopen the issue.

I'm authoring a plugin for Visualforce (Salesforce flavor of JSP pages). VSCode Visualforce plugin adds `Visualforce (visualforce)` language support, so I have configured eslint plugin like follows:
[code]

This configuration works for linting as expected — the editor highlights the issues correctly, but autofixing does not work: neither on save, nor ex

[2017-07-27 21:18] prograhammer commented on #42
Hey guys,

With the latest version of VS Code, I'm still not able to lint Vue files. If you pull down this simple example here: https://github.com/prograhammer/hello
Then `npm install` and you'll see linting works perfectly for .js but not for .vue. For example, add some extra spaces after a brace `{` in `doc.js`. Works perfectly. Now try the same in `app.vue`. No error.

Here's my settings.json:

[2017-07-29 21:07] prograhammer commented on #42
Solved! My settings.json was incorrect. Updated to be like this now:

[code]

Works beautifully!

[2017-07-31 01:49] wontoncc opened #270 "Error seen when running `eslint` in command line but not in VSCode"
I use `eslint-plugin-flowtype-errors` to integrate flow into eslint. Errors can be got from flow typecheck when running eslint in terminal, but nothing shows up in VSCode.
And it is even more puzzled that errors other than those from flow can be detected and displayed as usual...

Any thoughts on what's wrong here?

[2017-08-01 08:02] touzoku opened #271 "Autofixing for extensions other than ".js" and ".jsx" does not work"
I'm authoring a plugin for Visualforce (Salesforce flavor of JSP pages). VSCode Visualforce plugin adds `Visualforce (visualforce)` language support, so I have configured eslint plugin like follows:
[code]

This configuration works for linting as expected — the editor highlights the issues correctly, but autofixing does not work: neither on save, nor explicitly through running "Fix all auto-fixabl

[2017-08-04 09:40] dbaeumer commented on #271
You need to opt into autofixing per file type. For visualforce something like
[code]

[2017-08-04 09:40] #271 closed

[2017-08-04 09:41] dbaeumer commented on #270
Actually no. Would you be able to share a setup that I can copy / clone. Then I can have a look and understand why this doesn't work.

[2017-08-04 09:43] dbaeumer commented on #227
@touzoku See my comments in https://github.com/Microsoft/vscode-eslint/issues/271

[2017-08-04 09:45] dbaeumer commented on #261
I will close the issue then. Please ping if you disagree.

[2017-08-04 09:45] #261 closed

[2017-08-04 09:45] dbaeumer commented on #261
And thanks for the investigation.

[2017-08-04 09:51] dbaeumer commented on #267
Nice suggestion. A PR is welcome here. The file to look at is: https://github.com/Microsoft/vscode-eslint/blob/dbaeumer/multiroot/eslint-server\src\server.ts#L899

[2017-08-04 10:02] dbaeumer commented on #262
@Aladdin-ADD thanks for your support here.

@ycjcl868 the eslint extension basically surfaces the errors greated by eslint in VS Code. So if an error exist when running eslint in a terminal then it is usually not a problem of this extension and should be better discussed in the corresponding eslint GitHub repository.

[2017-08-04 10:05] dbaeumer commented on #260
To enable the bulb you need to tell the extension to compute auto fixes for vue files by doing:
[code]

[2017-08-04 10:05] #260 closed

[2017-08-04 10:06] dbaeumer commented on #264
This is currently not supported.

[2017-08-04 10:07] dbaeumer commented on #215
@ItsNoHax something like this is hard to track down without a test case :-(

[2017-08-04 10:09] dbaeumer commented on #263
Correct.

[2017-08-04 10:10] dbaeumer commented on #258
The plugin applies the auto fixes provided by the eslint node module. Can you please file the issue here: https://github.com/eslint/eslint. Thanks!

[2017-08-04 10:10] #258 closed

[2017-08-04 10:13] dbaeumer commented on #254
ESLint (https://github.com/eslint/eslint) requires eslint itself and the plugins to both be installed locally or globally. Since the plugins are installed locally you need to install eslint locally as well. This is how ESLint itself works and has nothing to do with the ESLint VS Code extension.

If this is not fixing your problem can you please provide a GitHub repository I could clone to reproduc

[2017-08-04 12:42] dbaeumer commented on #259
@EthanNYT I can not reproduce this. Can you provide your `eslint` config file.

[2017-08-04 12:45] dbaeumer commented on #208
@medikoo thanks for the pointer.

[2017-08-04 12:47] dbaeumer commented on #48
@doasync this looks to me like both eslint and eslint-config-airbnb-standard are installed globally. Am I missing something ?

[2017-08-04 13:25] eric-burel opened #272 "Opens multiple tmp tabs when using @flow"
Hi,

On Linux Ubuntu, when using the `@flow` tag, we get the following issue: [https://github.com/flowtype/flow-for-vscode/issues/132](https://github.com/flowtype/flow-for-vscode/issues/132).
To sum it up, some weird tmp tabs opens up continuously whenever a file contains the `@flow` tag.
It seemed to be related with flow, however the bug disappears when deactivating `Eslint`, so I am suspecting t

[2017-08-04 14:22] mehas commented on #259
@dbaeumer Thank your for responding, updating to ESLint 5.3.0 appears to have solved the issue, please close it.

[2017-08-04 14:23] EthanNYT commented on #259
@dbaeumer Thank your for responding, updating to ESLint 5.3.0 appears to have solved the issue, please close it.

[2017-08-04 14:47] toyflish commented on #260
thanks, even the autofix is pretty cool!

[2017-08-04 15:07] wontoncc commented on #270
https://github.com/wontoncc/bug-test
A minimal project to reproduce the situation. And I'm on Windows 10, if that matters.

[code]
should get errors from locally installed flow, but no errors in VSCode.

[2017-08-04 20:10] r24y commented on #267
Unfortunately it looks like if the error is reported, it _must_ be displayed, and if the error is not reported, it will not be auto-fixed. Bit of a Catch-22.

However, I was able to successfully downgrade issues with available fixes to `DiagnosticSeverity.Hint`, which provides a nice user experience. If the cursor is on the line, it displays as an unobtrusive lightbulb in the gutter, and if the cu

[2017-08-04 20:30] r24y commented on #267
I've made the PR, but it's open to maintainers, so you can modify the name of the option if need be.

[2017-08-06 15:02] doasync commented on #48
@dbaeumer No, just install `eslint-config-airbnb-standard`, no need for `eslint` itself, it's bundled inside with all the plugins. And when you run `eslint -v` after installing the module, you are using that featured version from it. It's convenient in some situations.

[2017-08-07 09:44] dbaeumer commented on #48
No, this will not work for the eslint extension since it doesn't shell out to eslint on the terminal. For performance reasons it loads the eslint npm module directly which it will not find since it is buried into `eslint-config-airbnb-standard`

[2017-08-07 09:45] dbaeumer commented on #48
So for this setup you need to install both  `eslint-config-airbnb-standard` and `eslint` either globally or locally

[2017-08-07 09:55] dbaeumer commented on #267
@r24y thanks for looking into this. I think it should still be possible to hide the errors all together without downgrading them to a hint. The code flow should be something like this:

- recordCodeAction should return whether there was a fix or not
[code]

Have you tried this?

[2017-08-07 10:07] dbaeumer commented on #270
@wontoncc are you using yarn to install the npm modules. If so this is very likely a dup of: https://github.com/Microsoft/vscode-eslint/issues/187

[2017-08-07 10:10] dbaeumer commented on #270
Using npm shows:

<img width="465" alt="capture" src="https://user-images.githubusercontent.com/1931590/29022366-61e0f748-7b69-11e7-97d2-5a7032de0ba4.png">

[2017-08-07 10:11] dbaeumer commented on #259
@EthanNYT  Thanks. Closing.

[2017-08-07 10:11] #259 closed

[2017-08-07 11:28] wontoncc commented on #270
Yes, I tried to use `yarn` in the test repo but no luck since my project I'm working on is managed by npm. And the output of ESLint shows that the library is loaded:
![snipaste_20170807_191922](https://user-images.githubusercontent.com/993963/29024626-8a919f76-7ba5-11e7-97dd-0af4e5f6b22f.png)
![snipaste_20170807_191947](https://user-images.githubusercontent.com/993963/29024629-8e4d21a8-7ba5-11e7-8

[2017-08-07 11:50] wontoncc commented on #270
Reinstall VSCode(64bit) and finally find that I accidentally installed the 32bit version of VSCode.
Now it's working. Thank you for your aid!

Maybe a tip may help other people like me?

[2017-08-07 11:52] #270 closed

[2017-08-09 04:33] scott-plutovr commented on #254
Adding `eslint` to the package.json did in fact address the bulk of the red lines I was seeing. The other thing I did was to add `"jasmine": true` to the `env` section of my .eslintrc.json file. That addressed all the red lines under the `describe` etc. Thanks for your assistance!

[2017-08-09 04:33] #254 closed

[2017-08-09 06:57] eromoe opened #274 "How do I disable warning and error which wouldn't break code?"
Hi,

I only want `vscode-eslint` tell me where has syntax error , such as `function not found`  or something else which make my code broken.

Others like below are really annoying:

![image](https://user-images.githubusercontent.com/3938751/29108622-64588d6a-7d12-11e7-9328-6f26b8f0c1af.png)

![image](https://user-images.githubusercontent.com/3938751/29108613-5a9ef340-7d12-11e7-9c13-618e78ab98e0.pn

[2017-08-09 08:57] dbaeumer commented on #274
The ESLint extension only 'surfaces' functionality from the eslint module (https://github.com/eslint/eslint) so such a configuration has to be defined in the eslint config file. Have you tried to setup eslint accordingly in the eslintrc.json file?

[2017-08-09 09:01] dbaeumer commented on #272
@eric-burel eslint doesn't produce or open any tmp files. So I have no explanation why this should be caused by eslint. Can you provide a GitHub repository with a setup that demonstrate the behavior. Then I will investigate and see how the tmp file comes to live.

[2017-08-09 09:06] eric-burel commented on #272
I can simply send you my extensions, a fresh install of vs code 1.14.2 on Ubuntu (I am not sure about other distros, but it seems to be related to Linux in general) with them will produce this bug.

[code]

When deactivating tje `eslint` package the issue disappears.
It is not related to flow packages themselves, the issue also appears when flow related packages are not even installed.

So yes it

[2017-08-10 00:44] eromoe commented on #274
Nope, I don't know much about eslint,  after some researching, I found settings in package.json

[code]

So, does this mean I have to know  every rule  and decide to turn on or off ?

[2017-08-10 13:07] wmertens commented on #245
Yes, I often wish for this too. There could be a button on the tooltip "disable for this line".

I'd love to help but don't know where to start. Basically there should be two commands, `disable-eslint-linebefore` and `disable-eslint-sameline`, and they should insert or amend the currently hovered or cursored error into the editor.

[2017-08-11 09:26] dbaeumer commented on #272
I tried to reproduce this but I can't using VSCode 1.14.2 & dbaeumer.vscode-eslint extension only. @eric-burel can you reproduce this in that setup. If so can you provide me with the workspace you use?

[2017-08-12 22:59] danielo515 commented on #42
I'm still experiencing this problem. Is any official solution?

[2017-08-14 06:48] ankit-m opened #275 "Nested .eslintrc files not detected"
I have a file structure which looks like this:

    -- folder1
    -- folder2
    -- folder3
    -- client
      |-- **
      |-- .eslintrc (1)
    -- .eslintrc (2)

The plugin only detects the (2) .eslintrc. I have set the working directory to `"./client". The (1) .eslintrc file is supposed to add extra rules for client code.

[2017-08-14 08:23] eric-burel commented on #272
Hi, did you try on Linux specifically ? I'll try to reproduce with a minimal setup asap

[2017-08-15 09:08] dloret commented on #248
Hi, I had the same issue and discovered that, for me the root cause was that I updated the node version to 8.3.0 using NVM. Unfortunately, I didn't see the 'default' alias was still pointing to an older version, that I uninstalled just after updating. Without seeing it, I was trying to use a 'N/A' node version, which messed with the functioning os eslint.
I just had to point the NVM 'default' alia

[2017-08-15 13:54] eric-burel commented on #272
@dbaeumer Maybe this is related to eslint itself, because VSCode use the local node_modules version. I use eslint v3.19.0 for my current project, I'll check if I can reproduce on another project.

[2017-08-15 23:41] ylg commented on #224
Since this has been happening for us from 1.11.2 through 1.2.11, @Rojoss' silence likely didn't mean "fixed". If more help is needed with reproduction steps, let me know.

[2017-08-16 07:01] yvesyao opened #276 "Is there any config to avoid autofix for some specific rules?"
After I updated eslint to v4, everytime when I saved my file with `debugger;` line to debug my code, the autofixer will  always 'help' me to remove my debugger line.

Is there anyway to tell the autofixer not to fix `no-debugger` errors when I'm saving files?

Thank you!

[2017-08-18 02:45] Kunine opened #277 ".eslintigonre Ignore node_modules!"
![image](https://user-images.githubusercontent.com/25576524/29442152-635baf7c-8402-11e7-8f09-ade488874e71.png)

[2017-08-18 09:55] cppcho opened #278 "The plugin will underline the whole object / function when there is a lint error."
For example there is an error at 17:14: `Color literal: { backgroundColor: '#fff' } `

![screen shot 2017-08-18 at 17 50 25](https://user-images.githubusercontent.com/1287355/29453934-fbb1db4e-843d-11e7-8407-f1c7f3cad0e4.png)

But in the editor, the whole object is underlined.

![screen shot 2017-08-18 at 17 49 48](https://user-images.githubusercontent.com/1287355/29453833-a42454f6-843d-11e7-93a0-

[2017-08-19 02:20] #277 closed

[2017-08-20 13:29] JStiller opened #279 "minimap"
It would be nice if i could configure the minimap. Because i would like to have the same behaviour as the default minimap of vscode.

![unbenannt](https://user-images.githubusercontent.com/646868/29495271-4c7fa964-85bc-11e7-880b-8289d06f1a09.PNG)

[2017-08-24 15:22] jmfgdev opened #280 "Numerous "definition for rule" errors"
I get 3 errors like this one for every file I work on:

severity: 'Warning'
message: 'Definition for rule 'react/jsx-sort-prop-types' was not found (react/jsx-sort-prop-types)'
at: '1,1'
source: 'eslint'

Any idea how to fix this?

[2017-08-26 23:53] pwicks86 opened #281 "vscode-eslint doesn't work on .vue files"
I've got an app with some .vue files in it and I've installed the official vue eslint plugin, so when I run on the command line, eslint provides useful output for these files. In vscode, the eslint plugin appears to only work for .js files, despite eslint being configured to work correctly for .vue files.

[2017-08-29 00:38] jmlag opened #282 "The ESLint server crashed 5 times in the last 3 minutes. The server will not be restarted."
Windows 10 x64, node v6.11.2, npm v5.3.0, VSCode v1.15.1

Stopped working for me when I updated node from 6.11.0 to 6.11.2.  Then I tried rolling back to 6.11.0 but it didn't work so I must've borked something but I have no idea what.

Tried multiple fresh installs of node and VS, restarted computer, removed all node stuff from PATH, AppData, etc.
Using default settings which usually works for me.

[2017-08-29 02:02] jdb8 opened #283 "eslint.autoFixOnSave doesn't always fire on save"
I have `eslint.autoFixOnSave` set to true in my settings, but I've been able to get into a weird state where the command palette 'fix all fixable problems' command works, but hitting save doesn't appear to do anything. I also have `eslint.run` set to `true`, so errors are correctly highlighted - some of which are fixable and should be caught on save.

Could this possibly be caused by hitting save

[2017-08-29 07:00] donaldpipowitch opened #284 "autoFixOnSave doesn't work for TypeScript"
Hi! It looks like the auto fix on save doesn't work for TypeScript files. JavaScript seems to be fine.

[code]

[code]

[code]

This will be fixed in a `.js` file, but not in a `.ts` file. The error is shown in both cases correctly.

[2017-08-29 15:19] jmlag commented on #282
Did a system restore and it works now

[2017-08-29 15:19] #282 closed

[2017-08-29 16:32] Tyriar opened #285 "eslint extension complains during eslint --init about missing modules"
https://github.com/Microsoft/vscode/issues/33261

1. `git clone https://github.com/gwtw/js-avl-tree`
2. `code-insiders js-avl-tree`
3. Open integrated terminal
4. Run `eslint --init` and use "standard JS"

![image](https://user-images.githubusercontent.com/2193314/29832340-ba165bda-8c9c-11e7-85d4-365c8a6d6bdc.png)

[2017-08-29 16:33] Tyriar commented on #285
This actually still happens unexpectedly after reloading the window. Note I'm using a global eslint install but the modules are installed locally.

![image](https://user-images.githubusercontent.com/2193314/29832429-140806b6-8c9d-11e7-9798-734d855b9c8f.png)

[2017-08-29 16:34] Tyriar commented on #285
`npm i -S eslint` resolves this but it would not be clear how to get rid of the error and get the extension working to many people.

[2017-08-29 16:45] Tyriar opened #286 "Disable/enable eslint commands should only show the workspace roots that will be disabled/enabled"
https://github.com/Microsoft/vscode/issues/33261

1. Open a 2 folders `a` and `b` as a workspace
2. Disable eslint for `a` via command palette
3. Run the disable eslint command again, notice `a` is still presented as an option

[2017-08-29 16:48] Tyriar opened #287 "Fix all auto-fixable problems needs multiple runs to fix everything"
https://github.com/Microsoft/vscode/issues/33261

1. `git clone https://github.com/gwtw/js-avl-tree`
2. `eslint --init`
3. Select standard JS
4. Open avl-tree.js, you should see a lot of errors, in particular extra semi colon errors
5. Run fix all auto-fixable problems via command palette
6. Notice that semi colons are still present at the end of function definitions:

![image](https://user-images

[2017-08-29 16:51] Tyriar opened #288 "Create .eslint file creates .eslintrc.json event when .eslint* already exists"
Microsoft/vscode#33261

Both `.eslintrc` and `.eslintrc.js` are valid, running the create .eslintrc.json command should point to the existing files when run instead of creating:

![image](https://user-images.githubusercontent.com/2193314/29833223-94c5225a-8c9f-11e7-8f9e-0de1232e498f.png)

[2017-08-30 01:30] eromoe opened #289 "Error show wrong path"
Hi , I don't know why it take wrong path `node_modules\redux-saga`,

[code]
![image](https://user-images.githubusercontent.com/3938751/29851231-8a806798-8d65-11e7-842a-abaf3ec9daf8.png)

`webpack.prod.babel.js`  is in  `e:\Project\allproject_git\annotator-v2\internals\webpack\webpack.prod.babel.js`

Config is :

[code]

[2017-08-30 02:25] zhaojinxiang commented on #76
@kaelig Could you tell me how to solve YAML support problem? Thanks.

[2017-08-30 02:27] zhaojinxiang commented on #76
My bad, after uninstall es-beautifier, it works.

[2017-08-30 07:43] dbaeumer commented on #287
Dups #154

[2017-08-30 07:43] #287 closed

[2017-08-30 07:50] dbaeumer commented on #285
This also happens in a normal terminal. The problem is that ESLint requires that both the ESLint npm module and all plugins into ESLint are either install globally or locally. You can't have the npm module install globally and the plugins locally.

I know that this is confusing and I get reports / complains about this from time to time but the issue needs to be addressed in ESLint. I usually point

[2017-08-30 07:50] #285 closed

[2017-08-30 07:57] dbaeumer commented on #284
You need to tell ESLint to enable autoFix for TS. This can be done like this:
[code]

AutoFix is only enabled by default for JS. There were quite some problems with parser and autofix computing wrong fixes and therefore breaking the code. So I made this an opt in.

[2017-08-30 07:57] #284 closed

[2017-08-30 12:39] dbaeumer commented on #283
@jdb8 autofix on save will only work if the eslint server is up and running. However you can always trigger the auto fix on save even with automatic save on by pressing Ctrl+S manually.

Please be aware of the following from the ESLint extension doc:

If this doesn't solve your problem please provide a repository I can clone which demos your problem.

[2017-08-30 12:39] #283 closed

[2017-08-30 12:40] dbaeumer commented on #280
I would suspect a missing eslint plugin. Do you have repository I could clone that demos this.

[2017-08-30 12:43] dbaeumer commented on #281
You need to tell the ESLint extension to validate vue files. To do add the following to your VS Code settings.

[code]

[2017-08-30 12:43] #281 closed

[2017-08-30 12:44] dbaeumer commented on #279
Since ESLint is an VS Code extension this should work by simply configuring the minimap in VS Code. Please add more details if this doesn't help solving your problem.

[2017-08-30 12:44] #279 closed

[2017-08-30 13:49] dbaeumer commented on #289
@eromoe what happens if you try to run ESLint from a terminal (e.g. bash, cmd.exe or PowerShell)

[2017-08-30 14:08] dbaeumer commented on #278
@cppcho when you hover over the error what does the error hover show.

Can you provide a workspace I can clone to reproduce this. The ESLint simply hands the eslint error reported by the ESLint npm modules to VS Code. The extension doesn't adjust / compute any line column information.

[2017-08-30 14:10] dbaeumer commented on #276
No, this is currently not possible. Closing as dup of #208

[2017-08-30 14:10] #276 closed

[2017-08-30 14:11] dbaeumer commented on #272
Tried on Linux (Fedora & Gnome) and no tmp files are opened.

[2017-08-30 14:13] dbaeumer commented on #248
@dloret Thanks

Still closing due to my comment here: https://github.com/Microsoft/vscode-eslint/issues/248#issuecomment-307720606

[2017-08-30 14:13] #248 closed

[2017-08-30 15:07] jmfgdev commented on #280
yeah sure give https://github.com/freilabs/amidabot.js/ a clone, I personally get errors on it

[2017-08-31 00:47] eromoe commented on #289
[code]

[2017-08-31 01:07] jdb8 commented on #283
Hi @dbaeumer! Thanks for responding.

In my case, I believe the eslint server *is* up and running, because running the explicit 'fix all fixable problems' command via cmd+p works correctly. What doesn't work is the hook to autoFixOnSave when I hit cmd+s. I'd imagine that if the server was down, the former would also not work.

I can confirm that I have `"files.autoSave": "off",` (the default). I d

[2017-08-31 01:09] Likivik commented on #42
Linting for vue started working for me with setup from the comment above: https://github.com/Microsoft/vscode-eslint/issues/42#issuecomment-318859607
Thanks, @prograhammer.

[2017-08-31 02:55] cppcho commented on #278
@dbaeumer

I have uploaded a demo project here.
https://github.com/cppcho/vscode-eslint-issue-278-demo

Run `yarn install` and open `App.js` in VSCode with all default settings (`settings.json`s are all empty), and with only `vscode-eslint` plugin enabled. The following is my screenshot.

![screen shot 2017-08-31 at 10 52 39](https://user-images.githubusercontent.com/1287355/29904270-976a006a-8e3a

[2017-08-31 07:32] dbaeumer commented on #283
@jdb8 you can enable tracing to see if the will save request is sent to the server. To do so set the `"eslint.server.trace": "messages"` options. When you have gathered the trace please post it here.

[2017-09-04 22:25] TimMeade commented on #6
Did anyone find a fix for this on OSX?  Just installed vscode for the first time and the very first project and node_modules has 100's of issues with eslint.    Deal breaker.....

[2017-09-06 00:15] keplersj opened #290 "Publish Server on NPM for use in other Editors"
It would be super appreciated if the LSP server in this package were published on NPM for use in other editors that support LSP - like Atom and SublimeText.

[2017-09-06 07:24] sshmyg commented on #191
+1

[2017-09-06 07:27] sshmyg commented on #191
@dbaeumer What's status of an issue?

[2017-09-08 08:49] #286 closed

[2017-09-08 08:49] #288 closed

[2017-09-08 14:19] dbaeumer commented on #191
@sshmyg things got polish for this in VS Code and we are working on more polish for the next release. If you take latest insider you can see the changes already in.

[2017-09-08 16:20] sshmyg commented on #191
Thnks for an info.

[2017-09-09 09:24] chenxsan opened #291 "Activating extension `dbaeumer.vscode-eslint` failed: vscode_languageclient_1.ProposedProtocol is not a function."
I'm trying to run the source code on my computer, only got this:

<img width="1915" alt="screen shot 2017-09-09 at 5 20 02 pm" src="https://user-images.githubusercontent.com/1091472/30238901-3a84420c-9583-11e7-945f-3eb83ccc115b.png">

And I checked repo https://github.com/Microsoft/vscode-languageserver-node/tree/master/client, there is no `ProposedProtocol` exported.

1. Node.js - 8.4.0
2. npm -

[2017-09-10 04:55] xcatliu commented on #42
Please note that `eslint.validate` accept all types in vscode, including `"typescript"` and `"typescriptreact"`

![image](https://user-images.githubusercontent.com/5453359/30246249-33f4e6cc-9627-11e7-9774-e431404568ab.png)

You can add settings below to support [typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser)

[code]

[2017-09-11 11:39] JStiller commented on #279
Hello,
i made another gif. This time an animated one, to pin out the different behavior. While the standard minimap doesnt take the whole height of the screen, the minimap of eslint does. This leads to the problem, that those minimap, visually doesnt match the same.

![screen](https://user-images.githubusercontent.com/646868/30272703-18702d7e-96f6-11e7-9ff5-f3a80ce34231.gif)

Does that gif made th

[2017-09-11 14:06] sjelfull opened #293 "settings.library.CLIEngine is not a constructor"
Upgraded VS Code today to 1.16.0, and i'm suddenly getting this error: `settings.library.CLIEngine is not a constructor`

After checking with/without extensions, I was able to pin it down to vscode-eslint 1.3.0 and https://github.com/Microsoft/vscode-eslint/blob/master/server/src/server.ts#L698

Found no such settings in VS Code or the docs - is this something I'm suddenly missing, after upgrading

[2017-09-11 15:13] chanceaclark commented on #293
+1

[2017-09-11 19:01] #291 closed

[2017-09-11 19:01] dbaeumer commented on #291
We had some last minute changes in the LSP API that the ESLint extension needed to adopt.

[2017-09-11 19:06] dbaeumer commented on #293
@sjelfull & @chanceaclark this can only happend if the extension doesn't find the ESLint library to load and the code path should exit before.

Do you have steps to reproduce since this has to be fixed. I can't reproduce this with my examples. Version 1.3.0 of the library has now support for multi root folders which required a bigger change in the ESLint extension and I abviously broke something :

[2017-09-11 19:07] dbaeumer commented on #263
Got addressed for 1.3.

[2017-09-11 19:07] #263 closed

[2017-09-12 06:08] Youzhigang commented on #293
@sjelfull @chanceaclark  this can be fixed by change the 'eslint.nodePath'.
[code]

[2017-09-12 07:02] chenxsan opened #295 "Failed to lint Untitled JavaScript file."
I just created a new Untitled file, and add some js code, then changed language mode to javascript, and got this in OUTPUT panel:

[code]
The problem is at https://github.com/Microsoft/vscode-eslint/blob/master/client/src/extension.ts#L527, since the `workspaceFolder` value of `Untitled` is `undefined`.

I just don't know how to fix it with the latest code.

[2017-09-12 08:25] #295 closed

[2017-09-12 08:27] dbaeumer commented on #295
Published 1.3.1

[2017-09-12 08:30] dbaeumer commented on #279
As said the minimap feature comes for VS Code itself. The ESLint extension can't control the minimap. The feature you are describing can be control via the VS Code editor setting `"editor.scrollBeyondLastLine": false`

[2017-09-12 14:37] chanceaclark commented on #293
@Youzhigang that did the trick.

[2017-09-13 02:37] BiteBit commented on #293
+1
Not fixed by **eslint.nodePath**.

[2017-09-13 07:10] dbaeumer commented on #293
Can any of you provide steps on how to reproduce this (e.g. a GitHub repository I can clone). I would like to understand why this doesn't work anymore.

[2017-09-13 11:24] sjelfull commented on #293
@dbaeumer Would be helpful if you had any advice on exactly how I could provide steps for you to reproduce this. I basically was updated after restarting VS Code, and that was when this error appeared.

If it helps, I'm managing node with nvm, and the path for eslint is
[code]

[2017-09-13 17:44] PrasannaGumpalli opened #296 "Getting “ESLint: Error:No ESLint configuration found""
Hi,
I tried running a project developed using webdriverIO framework. But wasn’t able to run the project due to “ESLint: Error:No ESLint configuration found” . Please can you help me why I’m receiving this error message ?.

Thank you.

Prasanna

[2017-09-14 07:51] dbaeumer commented on #293
@sjelfull the `nodePath` value has to point to the `node_modules` folder and not bin folder of eslint. In our example something like this:

[code]

Regarding steps. Preferable is:

- a GitHub repository to clone
- information about the env (OS, node version, npm version, nvm, yarn, ...)
- steps how to reproduce this in cloned repository.

Will ESLint work for you in a simple setup where you do the

[2017-09-14 07:58] dbaeumer commented on #296
That means that you haven't configured ESLint. You can either run the command `ESLint: Create .eslintrc.json file` from within VS Code or execute eslint --init in a terminal on the workspace folder.

[2017-09-14 07:58] #296 closed

[2017-09-14 08:01] dbaeumer commented on #290
Same response as here: https://github.com/Microsoft/vscode-tslint/issues/250#issuecomment-328123305. But starting with TSLint makes sense and than ESLint can mimic.

[2017-09-14 08:01] dbaeumer commented on #289
OK. I will close the issue then since there is nothing the ESLint extension can do here.

[2017-09-14 08:01] #289 closed

[2017-09-14 13:00] jas99 opened #297 ".eslintignore ignored when vscode is loaded"
Attached below is screenshot of vscode 1.6 where for abt first minute; after vscode starts .eslintignore file is not working. After few seconds like maybe 1 minute, everything works fine. If I reload the vscode instead of restarting the program there is still no issue.

![screenshot 12](https://user-images.githubusercontent.com/1231593/30430787-f3f6c63e-9979-11e7-850d-21143ba6c353.png)

Thx

[2017-09-15 02:27] AdenFlorian commented on #208
Would something similar to this work here? https://github.com/Microsoft/vscode-tslint/pull/231

[2017-09-15 07:31] dbaeumer commented on #208
@AdenFlorian having `autoFixOnSave` to be a string[] alternatively and then only autofix the onces listed makes sense to me.

[2017-09-15 07:34] dbaeumer commented on #297
@jas99 can you provide me with steps to reproduce this. I am not able to do so. Best would be:

- a GitHub repository to clone
- your env: which npm version, ...

[2017-09-15 15:52] somewhatabstract opened #298 "Latest update appears to have broken nodePath specification"
ESLint is no longer loading modules from the configured nodePath, and therefore fails to load the configured plugins.

VS Code 1.6.x (both 1.6.0 and 1.6.1 had this problem)
ESLint 1.3.1

[2017-09-16 06:46] Domiii commented on #76
Thanks for this great plugin!

Turns out, the issue is not with lack of support, it's lack of documentation.

The first thing a new developer sees is [this introductory text](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint) which states, and I quote:

As you can see, it only talks about `.eslintrc` and `.eslintrc.json`. Maybe there can be a list or a link to reference to

[2017-09-17 05:18] jas99 commented on #297
https://gitlab.com/lesson/meteor_react_score_keep
[code]
[code]
[code]

[2017-09-17 05:19] jas99 commented on #297
Let me know if more info is required

Thx

[2017-09-18 11:59] dbaeumer opened #299 "ignoreEOLComments has additional properties"
_From @xovel on September 17, 2017 16:35_

- VSCode Version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09-14T16:38:23.027Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-color|ans|0.4.5
vscode-eslint|dba|1.3.1
githistory|don|0.2.3
beautify|Hoo|1.1.1
vscode-regexp-preivew|le0|0.0.3
sublime-keybindings|ms-|2.9.1
debug

[2017-09-18 11:59] dbaeumer commented on #299
@xovel do you see the same error when executing ESLint from a terminal ?

[2017-09-18 13:03] xovel commented on #299
@dbaeumer No, eslint works very well while using a bash CLI.

I try to reinstall eslint, but failed again.

[2017-09-18 17:40] coderpatsy opened #300 ""semi" rule broken with ESLint 4.7.0"
VSCode version: 1.16.1
ESLint version: 4.7.0
ESLint plugin version: 1.3.1

.eslintrc.json config:
[code]
JavaScript:
[code]

Expected behavior:
1 error for missing semicolon

Actual behavior:
0 errors

The rule works fine in the plugin with ESLint 4.6.1, and ESLint command line notices the error in both 4.6.1 and 4.7.0.

[2017-09-18 21:10] dacz commented on #298
I'm having the same problem. Breaker. It there way how to install previous version?

[2017-09-18 21:13] somewhatabstract commented on #298
Great question, @dacz. I didn't find a way around this issue yet. I've been trying since it's broken ESLint for me. If I work it out, I'll be sure to post it here. In the meantime, it would be nice to get some acknowledgement that this issue is a legit problem.

[2017-09-19 08:21] dbaeumer commented on #298
@somewhatabstract @dacz

That still works for me in a test setup that looks like this:

- eslint npm module installed under `C:\tmp\es-298\node_modules\eslint`
- VS Code workspace under `P:\mseng\vscode\playgrounds\bugs\es-298`
- workspace settings file like this:
[code]
- open VS Code on `P:\mseng\vscode\playgrounds\bugs\es-298`
- .eslintrc.json file
[code]
- test.js
[code]
- results in:
<img wid

[2017-09-19 08:29] dbaeumer commented on #298
I installed eslint 4.7.1 and tested above under Windows.

[2017-09-19 08:31] dbaeumer commented on #298
And can you enable tracing to verbose (`"eslint.trace.server": "verbose"`) and attach what is printed to the output channel. May be this already gives me a hint what is failing.

[2017-09-19 08:34] dbaeumer commented on #300
That still works for me:

<img width="869" alt="capture" src="https://user-images.githubusercontent.com/1931590/30583040-181b1f10-9d26-11e7-9fc4-8e59781e0dd6.png">

Do you have a GitHub repository I can clone to reproduce what I am seeing?

[2017-09-19 08:35] dbaeumer commented on #300
I used ESLint 4.7.1 (latest). May be it was broken in 4.7.0 :-)

[2017-09-19 08:36] dbaeumer commented on #299
@xovel can you provide me with a GitHub repository I can clone to reproduce this?

[2017-09-19 15:01] dacz commented on #298
I downgraded plugin to 1.2.11 and downgraded eslint (locally installed) to 4.6.1. It worked. Because I need to work I have no courage to try upgrading the plugin.

I suspect that the problem is not the plugin but the eslint 4.7.0.

[2017-09-19 16:12] coderpatsy commented on #300
Folder's just the config and a test.js as above.

However the plugin seems to be working fully again. Installing 4.7.1 didn't fix it, so I turned off all my user settings in VSCode. After a forced restart, it's working again. It's still working even with my user settings back on, and with 4.7.0.

I should say, I did close all VSCode windows between installs of ESLint, so I don't know what was diff

[2017-09-19 16:12] #300 closed

[2017-09-19 16:47] somewhatabstract commented on #298
For me, we have several ESLint plugins in a sub-folder, so we point node_modules to that. But it is picking up eslint and node_modules from the very first node_modules folder it finds, rather than the path provided.

[2017-09-19 21:50] dbaeumer commented on #298
@somewhatabstract is there anything in the trace when `"eslint.trace.server": "verbose"` is set that looks suspicious?

[2017-09-20 00:56] somewhatabstract commented on #298
@dbaeumer A few things look strange, but this specifically:

[code]

And:

[code]

Interestingly, BUILD_LOCATION_NOT_REFERENCED_IN_ESLINTRC is the first folder that contains a `node_modules` folder. Though, I suspect that's a red herring.

[2017-09-20 07:33] dbaeumer commented on #298
@somewhatabstract  I think I know what it is. Can you do the following to verify it:

- make the nodePath variable in the settings file absolute. This should fix the problem.

The underlying cause of the problem is the support for multiple workspace folders which got added to ESLint 1.3.1. To implement this the ESLint language server is not running on working directory of the workspace anymore (si

[2017-09-20 07:44] egamma commented on #298
@dbaeumer thanks, issue on this came in today https://github.com/Microsoft/vscode-tslint/issues/264 ;-)

[2017-09-20 08:08] dbaeumer commented on #298
Published 1.3.2 which has support for relative nodePath.

[2017-09-20 08:08] #298 closed

[2017-09-20 08:09] dbaeumer commented on #293
This is very likely a dup of #298.

Did you use relative node path before?

[2017-09-20 16:14] somewhatabstract commented on #298
Hmm, I tried an absolute path and it didn't seem to work. Let me try again.

[2017-09-20 16:15] somewhatabstract commented on #298
Ha, I see that 1.3.2 fixes it anyway. Great! Thank you!

[2017-09-21 17:50] reybango commented on #187
@dbaeumer I reached out to the FB team and pointed them at this issue. Hoping they'll jump in and help.

[2017-09-22 08:03] dbaeumer commented on #187
@reybango thanks. I retested this today and yarn still doesn't provide me with command to find the global node modules install location.

[2017-09-22 17:11] BYK commented on #187
Added a PR here: https://github.com/yarnpkg/yarn/pull/4522

[2017-09-22 19:10] BYK commented on #187
Released Yarn 1.1.0 with this PR merged.

[2017-09-23 09:03] xovel commented on #299
I cannot reproduce this quirk problem again.

**BUT**, I just solved it by reinstalling `eslint`, the warning is not shown again.

I think this maybe caused by the old version eslint. The version of `eslint` in our project before update is `v3.0.1`, but `ignoreEOLComments` is supported in `v4.0.0`.

[2017-09-24 12:31] i328638 opened #301 "Integrate eslint server with other client"
According to the server it supports IPC connection. I changed the connection to use a stream insted.

I have replaced the code of 'create connection' in the server with this code:
let connection = createConnection()

but it failed at https://github.com/Microsoft/vscode-eslint/blob/master/server/src/server.ts#L303

resultPromise = connection.workspace.getConfiguration({ scopeUri: uri, section: '' }

[2017-09-25 04:04] poppinlp opened #302 "A wrong error shows in vscode."
![image](https://user-images.githubusercontent.com/1970625/30791943-0fe4fdd4-a17c-11e7-8672-98293c3a39ec.png)
In this image you could see a error which is `Missing semicolon`. But there is a semi for sure.
I have tried to remove other code. It not work. So this error is really produced by this code.
I have tried autofix by eslint but it not work( just add one more semi and this error is still ther

[2017-09-25 06:26] datoml opened #303 "The 'initialize' request has a pretty long response time"
Hello,

I have a really strange behavior when starting vs code with the eslint extension.
The request to initialize ESLint takes about 190039ms.

Here's the trace log from VSCode.

[code]

Is this a problem with the extensions or do I have a problem inside my dev environment?
Thank you in advance.

[2017-09-25 08:20] dbaeumer commented on #303
Which version of ESLint are you using?.

In general ESLint needs to find and load the ESLint npm module. If you have a lot of plug-ins installed this might take some time.

Since ESLint 1.3.1 the discovery of the ESLint npm module happens when a file gets validated the first time.

[2017-09-25 08:22] dbaeumer commented on #302
Can you share a GitHub workspace that demos the behavior I can clone. That will help understanding this. And can you please let me know what the error exactly is (e.g. hover over it and send me a screenshot).

[2017-09-25 08:31] dbaeumer commented on #301
@i328638

- regarding createConnection: You need to change this to `let connection = createConnection(ProposedFeatures.all);` This is some I can change in code since it is not necessary to pass in the IPC readers a writers. The are determined via --node-ipc command line argument anyways.
- the eslint extension 1.3.x has support for multiple root folders. Therefore it needs to get the settings scop

[2017-09-25 08:31] #301 closed

[2017-09-25 08:33] dbaeumer commented on #299
@xovel thanks for the clarification. Closing the issue then.

[2017-09-25 08:33] #299 closed

[2017-09-25 08:34] dbaeumer commented on #187
@BYK Thanks!

[2017-09-25 09:20] datoml commented on #303
I am using version 1.3.2 of the extensions and ESLint 3.19.0.
The package is installed in the local node_modules folder.

[2017-09-25 09:32] dbaeumer commented on #303
This is strange then. The only thing ESLint 1.3.2 does in the initialize is to get the global npm configuration by executing `npm get config prefix`. If you type this is into a terminal does it take long to respond?

[2017-09-25 10:09] datoml commented on #303
You in the VSCode terminal?
When I execute the `npm get config prefix` the response is undefined and takes about 1 sec or so.

[2017-09-25 15:38] dbaeumer commented on #303
Thanks. The fact that it is undefined is strange. Do you have any global npm modules installed ?

[2017-09-26 05:48] datoml commented on #303
Nothing special tbh.
Only create-react-app, rimraf and typescript.
I also tried Atom and there the eslint server is starting within seconds.

[2017-09-26 08:59] poppinlp commented on #302
You could clone [this repo](https://github.com/poppinlp/vscode-eslint-issue-demo) and install dependencies. Then open it in vscode with eslint plugin and you'll see this:

![image](https://user-images.githubusercontent.com/1970625/30851661-e32643e0-a26e-11e7-8176-283b04774397.png)

[2017-09-27 16:03] trs opened #304 "Indent option MemberExpression does not support "off""
ESLint now defaults the `MemberExpression` option of the `indent` rule to `1`.
It also gives the option to set it to `"off"` to ignore this option (https://eslint.org/docs/rules/indent).

Unfortunately, this is viewed as an invalid type and gives the error:
`Configuration for rule "indent" is invalid: 	Value "off" is the wrong type.`

The configuration I am using looks like this:
[code]

[2017-09-28 10:00] amiramw commented on #301
Is this proposal documented somewhere? I couldn't find it anywhere in the language server repository/issues.

[2017-09-29 00:40] igorvisi opened #305 "Does not work with eslint installed globally"
Visual studio code  1.16.1
OS: Arch Linux

[2017-09-29 09:37] dbaeumer commented on #305
@igorvisi this works for me. Are you using yarn to install eslint globally. If so, yarn is currently not supported.

If you use npm can you provide a setup that shows the problem. And does `npm config get prefix` return the right installation location?

[2017-09-29 10:01] dbaeumer commented on #301
How to propose new protocol is documented here: https://github.com/Microsoft/language-server-protocol/blob/master/contributing.md

For the workspace folder the issue is: https://github.com/Microsoft/language-server-protocol/issues/298

[2017-10-01 01:22] igorvisi commented on #305
I'm using nvm . It can be the source of problems ?

the resultat of  **npm config get prefix** is :
/home/visi/.nvm/versions/node/v8.1.2

[2017-10-01 08:07] avizov opened #306 "onClose action sends notification with empty diagnostics"
When I open a file it sends to me the diagnostics but when I close it all the diagnostics are vanish. It looks that "onClose" action, it sends notification with empty diagnostics.
In general (for example in jdt server), I expect that when I close the file the diagnostics remain the same unless I fixed the issues. In addition, I expect that when I open a file I get diagnostics for all project and n

[2017-10-01 09:26] dbaeumer commented on #306
No, VS Code has the rule that if you do single file validation (as ESLint currently does) the errors are cleared on close. If there is a project knowledge (e.g. for C#, Java, ...) then the errors remains. The reason is that errors should be consistent. If you open a workspace all errors should reappear the same as when you last closed the workspace. This would not be the case if we wouldn't clear

[2017-10-01 09:26] #306 closed

[2017-10-01 11:23] avizov commented on #306
If I understood you correct the vscode-eslint is currently on single file validation and not in project level validation like for example the jdt server is. If this is the case, do you plan the vscode-eslint to support also in project level validation?

[2017-10-01 11:42] avizov opened #307 "Do you plan "vscode-eslint" to support validation on a project level and not in a file level?"
#https://github.com/Microsoft/vscode-eslint/issues/306
If I understood you correct the vscode-eslint is currently on single file validation and not in project level validation like for example the jdt server is. If this is the case, do you plan the vscode-eslint to support also in project level validation?

[2017-10-02 13:21] dbaeumer commented on #307
Dups #91.

[2017-10-02 13:21] #307 closed