[2020-05-17 04:55] crystalfp commented on #974
Running eslint externally show no error.

[2020-05-17 09:35] crystalfp commented on #974
The issue for `tippy.js` [here](https://github.com/atomiks/tippyjs/issues/780#issuecomment-629747378) states it is not a package problem, but `eslintConfig` in package.json should be ignored by eslint extension.

[2020-05-17 10:59] darkred opened #975 "Diagnostics are not linkified in tooltip after session restore(reopen last session), or when opening file from Recent menu at initial program launch"
- VSCode Version: 1.45.1 stable / 1.46.0 insiders (both x64)
- OS Version: win10 x64

Steps to Reproduce:

In a fresh VSCode stable/insiders installation, with only [ESLint 2.1.5](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint) extension installed.
Also, ESLint 7.0.0 (with some config file) with node 14.2.0 x64.
1. Launch VSCode and use File|Open File to open a .js file

[2020-05-18 10:19] #969 closed

[2020-05-18 10:26] dbaeumer commented on #974
The ESLint extension doesn't read any config by itself. It fully relies on the behavior of eslint itself (e.g. https://eslint.org/)

Does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-05-19 15:29] amitshirke1234 commented on #973
Hi @dbaeumer,

Below is my git repository, you can clone it:
https://github.com/amitshirke123/sample-project.git

**Steps I followed:**
1. Added eslint plugin through Extensions option in View menu of Visual studio.
2. Installed eslint using sudo npm install eslint.
3. Executed sudo eslint --init command in Terminal (Command ran successfully)
4. Then went to project files e.g, app.component.ts fil

[2020-05-20 05:16] crystalfp commented on #974
Embarrassing. The error no longer appears. I have only rebooted and restarted VS Code. Anyway, if it reappears, sure I will reopen this issue.
Thanks for the patience!
mario

[2020-05-20 05:16] #974 closed

[2020-05-20 10:19] #975 closed

[2020-05-20 10:24] dbaeumer commented on #973
In the steps you are using you need to install `@typescript-eslint` as well. See https://github.com/microsoft/vscode-eslint#using-eslint-to-validate-typescript-files how to setup eslint for typescript. Or simply run npm install in the project.

[2020-05-20 10:24] #973 closed

[2020-05-21 01:33] cyberbiont opened #976 "Shareable config as baseConfig"
The situation:
My aim is to use some default shareable config across all of my projects, while being able to override it with local .eslintrc.js config files.
At the same time, I also need this setup to work globally in case when I for example work with remote project via SSH and cannot install any local modules.

So I have created a shareable config package eslint-config-myconfig and installed it

[2020-05-21 14:16] veikovx opened #977 "Cannot format files with brackets in the name"
When trying to format a file with square brackets in the name ESLint plugin fails
`Extension 'ESLint' cannot format 'somepath/somefile.[square].ts'`

Also fails for `{curly}`

Files without brackets are formatted correctly.
`eslint --fix` works correctly with these files.

Tested in Windows and also in WSL2

[2020-05-21 15:29] Mossop commented on #974
I'm seeing this locally too:

[code]

In this case `kcd-scripts` is a dev-dependency of `@testing-library/dom` and so not installed. Running eslint directly from the command line shows no errors. It looks like simply importing something from `@testing-library/dom` causes the issue. This is a demonstration repository: https://github.com/Mossop/vscode-eslint-974

[2020-05-25 19:24] cawoodm commented on #973
None of the guides I've seen say to install `@typescript-eslint`. They mostly say install `@typescript-eslint/eslint-plugin` and `@typescript-eslint/parser`.

[2020-05-26 06:17] ericblade commented on #972
I have an issue where I have a plugin resolution problem in a particular repo.  It is configured as a pure javascript server sort of thing, with a typescript webapp inside it.  The server project uses airbnb-base, and the webapp uses typescript-airbnb.  With ESLint 6, this seemed to work pretty well, but with ESLint 7, it seems to pretty randomly break with a complaint about module resolution betw

[2020-05-26 07:58] dbaeumer commented on #972
The eslint plugin allows to pass these options using the `eslint.options` setting in VS Code.

[2020-05-26 08:18] ericblade commented on #972
having some issue with that -- first, setting it at the project level, with ````{
    "eslint.options": {
        "resolvePluginsRelativeTo": "."
    }
}```` doesn't seem to be capable of doing the right thing -- i think? i need it to resolvePluginsRelativeTo the root of the project when i'm editing code there, and relative to the "public" directory when i'm editing code below that structure.

As

[2020-05-26 09:03] ira-gordin-sap commented on #446
What is the current status of this issue?

[2020-05-26 09:35] dbaeumer commented on #977
The problem is that I need to escape these brackets since they have a special meaning in glob patterns.

@jrieken I am now escaping them to `somepath/somefile.\[square\].ts` when I create the document filter but I am still not called. Anything else I would need to consider?

[2020-05-26 09:45] dbaeumer commented on #976
@cyberbiont I am not sure I fully understand what you are proposing. Could you make an example. And could it be related to https://github.com/eslint/eslint/issues/3371

[2020-05-26 09:47] dbaeumer commented on #972
The `resolvePluginsRelativeTo` is relative to the working directories which are specified using `eslint.workingDirectories`. It is like the current working directory in a terminal.

[2020-05-26 10:00] jrieken commented on #977
Not sure I understand. Is there a special formatting registration for names with square- and curly-brackets which uses glob-patterns?

[2020-05-26 12:11] cyberbiont commented on #976
Thanks for your attention!

Not sure what eslint/eslint#3371 is about, it seems to be already addressed somehow. I presume currently baseConfig works as intended:

[see](https://eslint.org/docs/2.0.0/developer-guide/nodejs-api#cliengine)

OK, the general idea is to have a global (base) configuration for eslint, that can be extended by local `.eslintrc.js` files per-workspace.
The requirement is to

[2020-05-26 19:51] ericblade commented on #972
like this?
[code]

That doesn't seem to work -- it looks like eslint is working, but it's not reporting very much at all, i'm not seeing anything other than regular javascript warnings in the typescript code, and i'd expect that it would be very vocal about my usage of 'any' all over this project.

[2020-05-26 21:57] subbiah-logichub opened #979 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-eslint`
- Extension Version: `2.1.1`
- OS Version: `Darwin x64 19.4.0`
- VSCode version: `1.41.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-05-27 02:47] hgl opened #980 "vscode-eslint doesn't work for folder that is added as another workspace folder"
If you have a project structure like this

[code]

and `vscode-eslint` is enabled in `settings.json` only for this workspace, and then add `inner/` as a root folder in the workspace, `vscode-eslint` will stop work completely, for both `inner.js` and `outer.js`, not auto-fixing either on save.

Linting errors are still correctly displayed in the editor though, and it's possible to use the quick fix

[2020-05-27 02:54] hgl commented on #980
It works if settings are specified in the `code-workspace` file

[2020-05-27 02:54] #980 closed

[2020-05-27 08:52] dbaeumer commented on #979
@subbiah-logichub can you reproduce this? If so can you share the repository?

[2020-05-27 08:58] dbaeumer commented on #972
Yes, but without the "." in the working directories. If you provide me with a GitHub repository I can clone and steps on how to reproduce I can have a quick look.

[2020-05-27 09:02] dbaeumer commented on #976
Actually I am still lost :-(. In general the ESLint extension is relying on the ESLint npm module to resolve and read config files. And I am very reluctant to deviate this is any from since.

Are you able to do what you want in the terminal using normal ESLint cli options? If so can you please provide me with an example?

[2020-05-27 14:13] Mahan-F opened #981 "Extension showing Eslint errors that don't exist"
Hi, I have an issue where my javascript files on the first line I always see this eslint error highlighted:

![image](https://user-images.githubusercontent.com/6375360/83031076-d0377a00-a03c-11ea-8f36-669ebd8b69f9.png)

As far as i'm seeing this is not an actual eslint error because when I run the eslint command, it reports that everything is okay. I did a test to make sure the eslint is working c

[2020-05-27 18:46] cyberbiont commented on #976
OK, I see your point. The vscode-eslint strictly relies on ESlint options, and that is how it should be, I don't propose you to deviate from it.
The things that vscode-eslint is responsible, though, is how this options are set (with configuration object in settings.json, in this case) and then passed to ESlint itself.

So, the problem is that ESlint itself does not provide `baseConfigFile` option,

[2020-05-27 21:01] garrett-gottlieb opened #982 "Can't read config file in monorepo"
File structure:
[code]

Because of Yarn workspaces, the eslint and eslint-config-universe both get hoisted up to the root `node_modules`, but eslint seems to be looking for it only in the package's `node_modules`:
[code]

[2020-05-27 21:11] garrett-gottlieb commented on #982
Fixed by changing `auto` to `location`:
[code]
This is for eslint 6.8 and vscode-eslint 2.1.5, btw.

[2020-05-27 21:11] #982 closed

[2020-05-28 07:10] dbaeumer commented on #976
@cyberbiont thanks for the clarification. You can't do that right now. As I was trying to explain the vscode-eslint extension tries to not provide any features that are not available on the ESLint CLI. So all I can ask you is to create an issue against ESLint directly and see if they are willing to add this.

OK for you to close?

[2020-05-28 07:40] dbaeumer commented on #977
Sorry for not being preceise. To only register the formatter for file I care about in ESLint I create a `DocumentFilter` with a pattern where the pattern is basically the file path (e.g. '/home/dirkb/project/file.ts`) Now if the file name has a `[]` in it I need to escape it. So in the example I convert the pattern to `/home/dirkb/project/file\[square\].ts`. But even with that pattern I will never

[2020-05-28 07:42] dbaeumer commented on #981
@Mahan-F can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-05-28 08:28] jrieken commented on #977
Thanks for clarifying. Adding @bpasero who implemented the glob pattern matching

[2020-05-28 08:30] bpasero commented on #977
To my knowledge, our glob library does not support escaping.

[2020-05-29 08:20] dbaeumer commented on #977
@bpasero can you give me a tip on how to create a pattern for a file name that has `[` in it ? Is the recommendation to exchange it with a `.`

[2020-05-29 08:37] bpasero commented on #977
`?` matches any single character except path separator (/ and \)

[2020-05-29 08:41] dbaeumer commented on #977
@bpasero thanks.

[2020-05-29 19:11] mattlubner opened #983 "Some eslint plugins crash without NODE_ENV"
Currently it's impossible to use vscode-eslint with any plugin that needs `NODE_ENV` because there's no way to define it.

The ideal solution would be to expose a `eslint.nodeEnv` setting, or a more generalized `eslint.processEnv` setting, so that users can define whatever environment variables are needed by their eslint plugins.

Example:

This is essentially the same issue as #741, but for some

[2020-05-31 21:52] cyberbiont commented on #976
OK, thanks. Let's close it then.

[2020-05-31 21:52] #976 closed

[2020-06-01 02:41] lixiaomei0921 opened #984 "提示 Couldn't start client ESLint"
![image](https://user-images.githubusercontent.com/9361042/83373672-bf4f8580-a3fb-11ea-9939-e2048bafc97e.png)

[2020-06-02 07:34] dbaeumer commented on #984
@lixiaomei0921 can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-06-02 07:37] dbaeumer commented on #983
Anyone interested working on a PR for this?

[2020-06-03 09:27] #979 closed

[2020-06-03 14:13] amitshirke1234 commented on #973
@dbaeumer I have already install @typescript-eslint/eslint-plugin and @typescript-eslint/parser.
**My Package.json:**
{
  "name": "test-proj",
  "version": "0.0.0",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@angular/animations": "~8.2.4",
    "@a

[2020-06-03 14:43] dbaeumer commented on #973
@amitshirke1234
does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-06-04 08:27] #981 closed

[2020-06-04 20:26] IanVS opened #985 "Configure `rulePaths` relative to project root?"
I have custom eslint rules in a directory of a monorepo, and am using `eslint.workingDirectories` like `{"directory": "./projectA", "!cwd": true}`.  But when I try to add a `rulePaths` in my workspace settings to point to my custom rules, it always seems to try to resolve from `projectA` instead of the root of my project.  I've tried using `${rootPath}`, but it seems that it is not being interpret

[2020-06-04 22:52] daiky00 commented on #91
wow this was open 4 years ago and is not resolved  O.o

[2020-06-04 23:08] rkanjani commented on #973
+1 seeing the same issue, noticing it in the ESLint server within VSCode itself

[2020-06-05 02:44] amitshirke1234 commented on #973
@dbaeumer @rkanjani @cawoodm
Yes. Updating VSCode to latest version fixed the issue. Thanks

[2020-06-07 09:31] jaydenseric commented on #972
ESLint ignores dotfiles by default, so to lint files like `.babelrc.js` with ESLint v7 you have to add this to your `.eslintignore` file:

[code]

With ESLint v6, you had to do this:

[code]

Otherwise you would end up linting dotfiles in `node_modules`.

Unfortunately, `vscode-eslint` has the v6 behavior even if your project has v7 as a dependency, and has the v7 compatible `.eslintignore` config

[2020-06-08 08:35] aeschli opened #986 "Language client is not ready yet"
Got the following in the extension host log:

[4595:0605/172358.880980:INFO:CONSOLE(144)] "%c  ERR color: #f33 Language client is not ready yet: Error: Language client is not ready yet
    at b.sendNotification (/home/martin/.vscode-oss-dev/extensions/dbaeumer.vscode-eslint-2.1.3/client/out/extension.js:1:41373)
    at /home/martin/.vscode-oss-dev/extensions/dbaeumer.vscode-eslint-2.1.3/client/out

[2020-06-08 14:35] rchl opened #987 "Invalid range in diagnostic"
When there is a "critical" issue that prevents eslint from working, eslint server might return invalid range with `null` values. Here is one example:

[code]

According to spec only number values are allowed for `line` and `character`.

The main reason I've noticed this is because such diagnostics are not displaying in Sublime Text client at least. VSCode does some recovery in that case and marks

[2020-06-08 16:50] mattlubner commented on #983
I'm willing to take a stab at it, although I haven't worked with code in a VSCode extension before, or written much TypeScript either (just FYI).

Is this the right place to add environment variables? https://github.com/microsoft/vscode-eslint/blob/master/client/src/extension.ts#L886

Would these be the right places to add a new configuration setting?
- https://github.com/microsoft/vscode-eslint/b

[2020-06-08 17:47] mattlubner commented on #983
PR is submitted, and changes seem to work correctly while running the debugging task! :)

[2020-06-09 08:27] #984 closed

[2020-06-09 19:52] jorgedavila25 commented on #973
What was the VSCode fix? I'm seeing this issue in GCP's Cloudbuild using their node container:
[code]

I know it's unrelated to VSCode, but whatever VSCode did to fix the issue could be helpful to pin down why it's happening in GCP.

Thank you

[2020-06-10 07:59] mb21 commented on #477
We seem to be having this problem when switching git branches on the terminal... it always complains "does not match the underlying filesystem" afterwards, which is quite annoying. But yes, [reloading window](https://github.com/microsoft/vscode-eslint/issues/477#issuecomment-504853991) fixes it.

[2020-06-11 07:34] WangJiangJiaoZi opened #990 "The ".ts ", ".tsx "files cannot be highlighted"
You can format the code with commands, but VsCode does not highlight error syntax. Also, the ".js" file is good.

version:
vscode v1.46
vscode-eslint v2.1.5
node v14.3.0
eslint v^6.8.0
typescript v^3.7.3
@typescript-eslint/parser v^2.12.0
@typescript-eslint/parser v^2.12.0

.eslintrc.js:
[code]

settings:
[code]

[2020-06-11 10:40] #987 closed

[2020-06-11 10:43] dbaeumer commented on #986
@aeschli did you execute the auto fix command. This is the only place were I sent custom messages which are affected by the client not being ready?

[2020-06-11 10:50] #986 closed

[2020-06-11 10:52] dbaeumer commented on #990
This works for me in TS files

<img width="420" alt="capture" src="https://user-images.githubusercontent.com/1931590/84377023-4f52b380-abe2-11ea-8771-c8f20a2e2b21.png">

@WangJiangJiaoZi  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-06-11 15:27] dbaeumer commented on #91
@daiky00 have you use the setting `eslint.lintTask.enable`

[2020-06-11 15:29] dbaeumer commented on #985
@IanVS does the validation happen correctly when you use eslint in the terminal no cd into `projectA`. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-06-12 10:12] ylesaout opened #991 "Being able to configure eslint.runtime at workspace level"
Hi,

Sometimes ago, it was possible to configure the eslint runtime at workspace level. It was perfect for my use case because I need to work with different legacy code and then run different version of eslint and node.
It would be great if this can be re-enabled.

The change is probably due to the fact the runtime configuration scope has been moved from `window` to `machine` in this commit:  http

[2020-06-12 10:42] ylesaout commented on #991
After looking at the [scope documentation](https://code.visualstudio.com/api/references/contribution-points) on vscode, the `machine-overridable` could be the scope to use as it is machine specific but allows to override the configuration at workspace/folder levels.

If needed I can make a pull request for such a change.

[2020-06-12 11:49] dbaeumer commented on #991
@ylesaout eslint.runtime needs to be a machine level setting due to remote.

@sandy081 any suggestions?

[2020-06-12 11:50] dbaeumer commented on #991
@sandy081 missed @ylesaout last comment. Is that the way to go?

[2020-06-12 13:36] sandy081 commented on #991
Yeah this is exactly the suggestion.

[2020-06-12 14:35] rchl opened #992 "Diagnostic code is not per spec"
The `code` property in the diagnostic notification is specified as:
[code]

but eslint sends, for example: `'code': {'value': 'no-trailing-spaces', 'target': 'https://eslint.org/docs/rules/no-trailing-spaces'}`

Useful information to have but nonetheless not per spec.
Is spec gonna change in this regard?

[2020-06-14 22:33] rareyman opened #994 "Get Show Documentation Link instead of opening in default browser…?"
When choosing to Show Documentation for an Eslint rule…

![image](https://user-images.githubusercontent.com/846457/84605685-01dd7d00-ae54-11ea-9b0b-84a0ad7d0369.png)

…it automatically opens in Safari for me. Yes, I have Safari set as my default browser, which is why this is occurring.

Is there a way to just get the link to the documentation instead of forcing open the URL in my default browser?

[2020-06-15 09:22] dbaeumer commented on #994
Actually no. VS Code has no API to tell which browser to use. I would accept a PR to allows a code action to Copy the documentation link. But that needs to be behind a setting.

[2020-06-15 09:27] dbaeumer commented on #992
@rchl. Yes, it it proposed that way for 3.16 which I already started to adopt in ESLint.

[2020-06-15 09:27] #992 closed

[2020-06-15 09:29] #991 closed

[2020-06-15 09:29] dbaeumer commented on #991
@sandy081 thanks !

[2020-06-15 15:27] s7dhansh opened #995 "Is there a way to show the error and warning count separately in the Problems Panel/Sidebar badge"
If not, can it kindly be added as a feature request.
TIA

[2020-06-15 22:02] rareyman commented on #994
Excellent! Thinking out loud…

I’d expect the menu to look like this:
…
**Open Documentation for xxx-yyy
Copy Documentation URL for xxx-yyy**
…
Settings can be something along the lines of:
`offerDocumentationUrl: true,`

[2020-06-16 07:21] dbaeumer commented on #994
The setting should be along the lines of `eslint.codeAction.showDocumentation`

[2020-06-16 07:22] dbaeumer commented on #995
This is not under the control of this extension. Please open a feature request against VS Code itself.

[2020-06-16 07:22] #995 closed

[2020-06-16 09:13] aFcFzF commented on #91
npx tsc --noEmit

[2020-06-17 01:49] moltar opened #996 "Code Helper (Renderer) hangs with 100% CPU usage"
Process:

[code]

This happens randomly, but often, on save.

I get the following alert at the bottom right corner, which just sits there with a progress going left to right for a long time:

<img width="473" alt="image" src="https://user-images.githubusercontent.com/491247/84845540-0cc42780-b077-11ea-8564-7dba46f0ec47.png">

This happens on several code bases, but all of them in TypeScript, not s

[2020-06-17 10:41] JustFly1984 opened #997 "How to lint yaml files with eslint-plugin-yaml?"
I have setup eslint-plugin-yaml, and it works in terminal and with lint-staged, but doesn't work in vscode. No highlighting, or errors in Eslint output.

I've added

[code]
to .vscode/settings.json,

but it doesn't fixed highlighting

Do I miss some steps?

[2020-06-17 16:07] Undistraction commented on #996
Seeing the same thing after the last VSCode update (`Version: 1.46.0`). My code is vanilla JS.

Relevant settings:
[code]

[2020-06-18 08:14] dbaeumer commented on #996
@moltar @Undistraction  can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Otherwise it is very hard to understand what is going on.

[2020-06-18 08:15] dbaeumer commented on #997
@JustFly1984 since it works for you in the terminal can you provide me with a GitHub repository that demos the failing YAML validation?

[2020-06-18 09:56] moltar commented on #996
I don't have any public repos that this happens on.

But it also seems to happen randomly, on ramdom repos.

I think it would be good to have some steps to produce some debug artifacts, when this does happen.

It is really difficult to repro. Even on the same repo, it will happen, then if I kill the process, and restart VS Code and then edit the same exact file, in the same exact project it may no

[2020-06-18 11:27] #990 closed

[2020-06-18 16:27] #985 closed

[2020-06-18 19:59] ecraig12345 commented on #477
@dbaeumer Would #845 fix this issue as well, or is some additional step needed to also clear the cache?

[2020-06-20 16:39] stuartZhang opened #998 "Run across "eslint/probleFailed" for typescript in Vue project"
Hello guys,

I enabled eslint.server.trace to gather the logs:

None of eslint warnings and errors were reported in the code editor.

However, vscode-eslint works well for "*.vue" files along with <script lang="ts">.
Moreover, the command "npx eslint src/app.ts" work as expected.

This is my project: [ts-admin-elementui-demo2.zip](https://github.com/microsoft/vscode-eslint/files/4808221/ts-admin-e

[2020-06-22 02:21] liumt1993 opened #999 "Stuck in Saving 'foo.vue' Getting code actions from 'ESlint' or 'Vetur'"
- VSCode Version:1.46.1
- OS Version:Windows_NT x64 10.0.18362

Steps to Reproduce:

1.Write a self close tag, eslint will make tag self close
`<router-link></router-link>`
gonna be :
`<router-link />`
2.Make the tag split and insert value
`<router-link>foo</router-link>`
3.Execute Save action then VSCode Stuck in Saving 'foo.vue' Getting code actions from 'ESlint'
4.
![image](https://user-images.

[2020-06-22 08:02] dbaeumer commented on #998
@stuartZhang  does the validation happen correctly when you use eslint in the terminal.

Having this probe massage is expected if the project is not setup correctly to validate TS files.

[2020-06-22 08:05] dbaeumer commented on #477
@ecraig12345 good point. I think stopping & restarting the server is the most save thing to do.

[2020-06-22 08:07] dbaeumer commented on #996
@moltar can you enable eslint debugging. The setting is `eslint.debug`. The trace should appear in the ESLint output channel.

[2020-06-22 22:38] rwols commented on #992
Shouldn't this be guarded by a client capability?

[2020-06-23 08:18] dbaeumer commented on #992
@rwols  if we publish the ESLint server independent of VS Code I agree.

[2020-06-23 09:18] rwols commented on #992
That sounds fair. I hope this language server can be published as an independent package one day.

[2020-06-23 09:25] JustFly1984 commented on #997
@dbaeumer sorry, it is private repositories, and I don't have access rights to add users

[2020-06-25 11:38] kachkaev opened #1000 "An option for autofixing certain types of suggestions"
The [suggestions API](https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions) helps avoid unwanted 'magic' changes, but may become an inconvenience in some circumstances. We recently bumped the dependencies in one large project and noticed that [`react-hooks/exhaustive-deps`](https://reactjs.org/docs/hooks-rules.html#eslint-plugin) is no longer being autofixed.

I underst

[2020-06-25 16:49] ajkovar commented on #586
I might be interested in contributing here but am a bit confused.  It seems like it does gray out unused items?

![image](https://user-images.githubusercontent.com/144447/85762838-c0fa2980-b6d9-11ea-8f61-f732a8769055.png)

However, it is also showing the error squiggle.  Would it be sufficient to just not show the error squiggle in this case (possibly under a configuration setting)?

[2020-06-25 18:53] branflaker commented on #719
Another idea for a possible implementation.  Instead of specifying specific rules to disable for autofixing, how about specifying a path to a separate config when autofixing?  You get a lot more control over how you want your autofixes applied then (more than just disabling specific rules).

[2020-06-26 08:08] dbaeumer commented on #586
@ajkovar  Are you sure these are ESLint errors?

[2020-06-26 08:11] dbaeumer commented on #1000
@kachkaev I see your point but IMO something like this shouldn't go into the extension. It would IMO be more consistent if the react ESLint plugin would allow you to say to generate an auto fix instead of a suggestions. This would then keep all the ESLint config in one place.

[2020-06-26 08:12] dbaeumer commented on #997
WIthout a repository to clone this is hard to track down. Can you make me a small example?

[2020-06-26 15:01] ajkovar commented on #586
Good question... it seems there is an error being reported both by ts and eslint.  Not sure which is triggering the squiggle.
 Maybe both.

<img width="561" alt="Captura de Pantalla 2020-06-26 a la(s) 10 00 09 a  m" src="https://user-images.githubusercontent.com/144447/85871454-0c710e00-b794-11ea-8782-4af2ebd85283.png">

[2020-06-27 14:23] mattfbacon opened #1001 "prefer-template autofix adds extra spaces inside placeholders."
Here's an example:
[code]
Invoking `eslint --fix` from the command line results in the proper correction: ``var baz = `bar${foo}`;``. However, using VSCode's Quick Fix ("Fix this prefer-template problem") results in the following: ``var baz = `bar${··foo}`;`` (The dots indicate spaces). It would seem that the number of spaces (in this case 2) around the concatenation operator are prepended inside

[2020-06-29 02:13] ooyyloo commented on #91
I want to lint all files of the project when opening the project folder, and then show errors on opened files. Is this possible using APIs provided?

[2020-06-29 08:55] dbaeumer commented on #996
Reopening

[2020-06-29 20:43] MuseofMoose opened #1002 "Template Literals Appear to Break Linting"
A few days ago, I noticed strange behavior with my project's linting.

First, vscode eslint was not working if there was a template literal present in the .js file (it would continue to highlight existing lint issues but not detect or highlight any new issues). This would happen on a per-file basis. So if a file had any kind of template literal in it, it would stop detecting/highlighting lint issu

[2020-06-30 08:39] dbaeumer commented on #1002
@MuseofMoose  can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-06-30 08:56] dbaeumer commented on #586
The grayed out code comes thorugh the TS error which is reported at the same location as the ESLint error.

[2020-06-30 08:58] dbaeumer commented on #1001
@mattfbacon  can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-06-30 09:27] #999 closed

[2020-06-30 21:53] mattfbacon commented on #1001
Here you go: <https://github.com/mattfbacon/prefer-template-issue-demo>

[2020-07-02 14:32] justinabrahms opened #1003 "Feature Request: Can we make the server npm-installable?"
I'd love the ability to start the server with something like this:

[code]

This will allow me to use this language server in other proceses (beyond eslint) with easy installation mechanisms.

[2020-07-02 22:44] rchl commented on #1001
@mattfbacon you should probably also provide relevant eslint configuration in your repo.

[2020-07-02 23:42] danbergelt commented on #996
I'm getting this issue also. Code Helper (Renderer) hangs and uses a huge chunk of CPU on save before ultimately failing. In my case it doesn't seem random at all, the issue impacts every file on every save in this one specific code base (I set up another test repo and everything was working fine).

VSCode version 1.46.1

See below for stack trace from ESLint output:

`[Trace - 7:40:17 PM] Sending

[2020-07-02 23:44] mattfbacon commented on #1001
Hmm, now that I've added prefer-template to the .eslintrc, it seems to be an issue with `eslint --fix` as well. I've opened https://github.com/eslint/eslint/issues/13453 and I'll close this.

[2020-07-03 02:17] moltar commented on #996
I also noticed a pattern when that happens more often. It happens on a large file, that is codegen'ed and when I open it, there are a ton of lint failures. So I think it tries to process that and somehow gets stuck, or it just takes a very long time maybe.

[2020-07-03 07:14] rchl commented on #1002
I can reproduce this on repo linked from another issue: https://github.com/mattfbacon/prefer-template-issue-demo (once the code is fixed by eslint).

I normally run with my own eslint dependency so I don't have this issue but I saw it in my projects that include eslint dependency and I think the solution could be to just install `@babel/types` manually (`npm i @babel/types`) to force the latest ve

[2020-07-03 07:29] dbaeumer commented on #1003
Agree that this would be cool.

[2020-07-03 07:34] dbaeumer commented on #996
@danbergelt did the server hang after that (e.g. consume a lot of CPU?).

Did you configure validation happen on save or on type. (e.g. did you change the setting `eslint.run`)

[2020-07-03 07:35] dbaeumer commented on #1001
@mattfbacon thanks for reporting this back.

[2020-07-03 08:06] moltar commented on #996
Mine is on type.

[2020-07-03 08:27] #997 closed

[2020-07-03 08:28] #1000 closed

[2020-07-03 13:34] danbergelt commented on #996
@dbaeumer yes the server would hang and consume about 95% CPU. Sometimes the lint would push through after about 2-3 minutes, other times it would hang for what felt like indefinitely before I cancelled the request.

I'm validating on type.

[2020-07-06 13:11] dbaeumer commented on #996
That is really strange since the save notification is more or less a noop on the server when validating `onType`. Without some test bed that allows to reproduce very hard to tell what is going on. I actually assume even an issue in ESLint itself.

[2020-07-06 15:17] scottastrophic opened #1005 "Exclude directory from rules via settings config?"
My team has two JS projects in the same repo. One was written long before the other and each has its own `eslintrc.json`. We noticed that a number of the rules in project 1 were quite slow (those in the `import/` family) and were dragging down our continuous deployment speeds, so we moved them into VSCode directly so they only run in the editor now. We achieved this with
[code]
in `settings.json`.

[2020-07-06 20:19] AlexandreBonaventure commented on #998
@dbaeumer please consider reopening, I stumble upon the same issue when I switched from Mac OS to Windows WSL (Ubuntu). Node runtime is 12.4
I can totally confirm everything @stuartZhang said, that is:
- eslint CLI validation works just fine
- in VSCode, ts validation works inside .js files + script block in .vue files but probe fails in .ts files.
+ in Mac OS I don't have any issue.

Do you need

[2020-07-06 22:31] chriswoodle commented on #998
I've got a similar problem when using yarn2

[2020-07-07 01:52] ooyyloo opened #1006 "Feature Request: Lint the whole project when file is closed and has changed."
I want to lint the whole project when opening the workspace, and whenever I change the code or I close a file, the specific rules can be executed and the infos of errors that is to be displayed on VSCode are changed.

[2020-07-07 08:12] dbaeumer commented on #998
I need a project I can clone that demos the problem. The zip from @stuartZhang doesn't install for me. I get a ton on npm error.

[2020-07-07 08:13] dbaeumer commented on #1006
The extension provide a task that can lint the whole project. See `eslint.lintTask` setting. VS Code has the ability to mark task as auto start when opening a workspace. Hope that helps.

[2020-07-07 08:15] dbaeumer commented on #1005
Actually I am not an expert with this either. May be someone from the community can help.

[2020-07-07 08:16] dbaeumer commented on #1005
And may be a better place to ask these questions would be Stack Overflow

[2020-07-07 08:18] ooyyloo commented on #1006
The rule that I want to implement should be executed when the code is changed and when the file is closed. And I want to see the errors displayed in the code(not in the command line).

[2020-07-07 15:01] AlexandreBonaventure commented on #998
got it! I'll free some time to send you a repro

[2020-07-07 20:30] chriswoodle commented on #998
I've created a repo where I can produce the same original behavior described above:
* No eslint warning or errors in `.ts` files. (expected linting wernings/errors)
* Correct linting in .vue files
* Correct linting via the cli

## https://github.com/chriswoodle/vscode-eslint-998

It uses Vue3, and Yarn2 PnP.

I've included screenshots, commands and console output in the repo, I'll add some screens

[2020-07-07 20:32] AlexandreBonaventure commented on #998
nice! If anything I am also using yarn2 ...

[2020-07-08 00:53] mattfbacon commented on #1001
Hmm, interesting. The folks at ESLint suggested to add `"parserOptions": { "ecmaVersion": 2015 }` to my .eslintrc, which made `eslint --fix` work. However, the code action in VS Code still exhibits the same issue.

[2020-07-08 12:20] dbaeumer commented on #1001
@mattfbacon can you please update your sample to contain a package.json file with the eslint version and plugins to install. Thanks

[2020-07-08 14:57] mattfbacon commented on #1001
Yes, of course. I was using my global version 7.4.0. It has been added.

[2020-07-08 15:02] dbaeumer commented on #998
@chriswoodle thanks for the great repro. I know what fails. An easy workaround for now is to change the parser line in the `.eslintrc.js` to `parser: '@typescript-eslint/parser'`. That makes it work for now.

[2020-07-08 18:42] chriswoodle commented on #998
@dbaeumer  Oh wow, this works, glad it was that easy. Thanks for the fast solution.

[2020-07-09 07:29] dxiuxiu opened #1007 "my eslint config exist in my project but my vscode warning: can not find it ,so my eslint not work"
- VSCode Version:1.46.1
- OS Version: win10

Steps to Reproduce:

1. reload my vscode window

2、error like this
[code]
3、my eslint config is : `D:\code\20200701-szrsj\kuxueyuan-enterprise\.eslintrc.js`

4、my .eslintrc.js content like this
[code]
vscode also warning `Cannot read config file: D:\code\20200701-szrsj\.eslintrc.js`
[code]

[2020-07-09 07:47] dbaeumer commented on #1006
The errors produces by task are presented in the code and the problem view.

[2020-07-09 08:06] #998 closed

[2020-07-10 07:44] dbaeumer commented on #1007
@dxiuxiu  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-07-10 07:58] dbaeumer commented on #1001
Actually this is correct. eslint --fix fixes all autofixable problems. If you run the same in VS Code (for example using the command or source actions on save) then everything is fix correctly as well.

Internally ESLint generates two fixes, first for the template error and then for the spacing problem.

I am closing this issue since this is the intended ESLint npm module behavior.

[2020-07-10 07:58] #1001 closed

[2020-07-10 12:30] zuhairtaha opened #1008 "show the warning or issue underline only for variable name with `no-var`"
When I enable `no-var` rule at vscode it shows a line under the variable declaration and value, but at webstorm it shows that only under the word `var`. It is annoying when the variable name is long for example when it is a function like this:
[code]
all code lines will be underlined, but at webstorm only under `var`
Is there anyway to do that for vscode, or maybe if not exists I suggest to add an

[2020-07-10 14:15] mattfbacon commented on #1001
Ah, I see. I guess it's just my opinion that the prefer-template fix uses my preference for the curly spacing, but this plugin fixes each issue one by one. Just a different way of thinking about it, and I can appreciate the extra control that that give you.

Thanks for your help.

[2020-07-13 10:58] razvanmandache opened #1009 "VSCode eslint not showing warnings from "plugin:" rules"
I'm migrating from TSLint to ESLint in a React CRA project.
Using eslint 6.6.0.

I have the following eslint config
`{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "react-app",
    "prettier"
  ],
  "rules": {
    "no-console": "

[2020-07-13 13:27] #996 closed

[2020-07-13 15:43] crystalfp opened #1010 "Parsing error of a not existent tsconfig.json file"
Issue Type: <b>Bug</b>

I was not able to determine what triggers the following behavior:

- I'm editing the file `client/client.ts`
- Suddenly, for various files opened in tabs (not all of them), the following error appears:
`Parsing error: Cannot read file 'c:\program files\microsoft vs code\client\tsconfig.json'.` The details of one of them are:
[code]
See the screenshot:
![image](https://user-

[2020-07-14 08:28] #1005 closed

[2020-07-14 08:30] heavenkiller2018 commented on #998
I've got a similar problem when using yarn monorepo

[2020-07-14 14:46] dbaeumer commented on #998
@heavenkiller2018 please open a new issue with a GutHub repository attached that demos what you are seeing.

[2020-07-14 14:51] dbaeumer commented on #1010
@crystalfp  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-07-14 17:56] ablakey opened #1011 "Just updated to 2.1.7 but I can't find anything about this release in the repo."
Just got a quasi-suspicious "user needs confirmation before executing code in local library" pop-up. So I went to see what the latest version's code is to verify it's legit.  I cannot find anything about 2.1.7 in this repo. Can someone point me in the right direction?

![image](https://user-images.githubusercontent.com/9021944/87459736-c9a79680-c5d9-11ea-9660-b1a4bcdb77f6.png)

From: https://marke

[2020-07-14 21:07] dbaeumer commented on #1011
Will be merged in soon.

[2020-07-14 23:16] guanzo commented on #1011
What if I have multiple projects in the workspace that all have their own eslint installations?

[code]

The prompts only ask to use the global eslint installation, or asks to use one of projectA/projectB's eslint for the whole workspace. It doesn't ask to use A's eslint to lint A, and B's eslint to lint B. is this possible?

[2020-07-15 00:40] ablakey commented on #1011
Appreciate it.  I use vscode-eslint constantly and it makes my job easier. Thank you and all the other contributors for the hard work they do.

I was really hoping to see a release tag or PR that I could diff to understand the changes and more easily scrutinize security. It's unfortunate that such a popular extension seems to get updated behind the scenes.

[2020-07-15 06:37] crystalfp commented on #1010
Thanks! This does not happen from the terminal, only in VS Code. The problem I have to provide an example is that I don't know yet what triggers this behavior. It happens sometimes. Do you have any suggestion on what to collect when it happens?
Thanks!
mario

[2020-07-15 07:44] ooyyloo commented on #1006
The errors produced by task are a bit different in the code from the errors produced by the extension itself, and it's unnecessary to show errors in the problem view when I'm coding.
Could you add a setting which tells this extension to lint the whole project when opening the workspace if the setting is true?

[2020-07-15 07:45] rw251 commented on #999
I also came across this.  At the time I had:

[code]

It only happened intermittently and upgrading to `eslint v7` resolved the problem.

[2020-07-15 07:48] crystalfp commented on #1010
It seems that eslint plugin loses the workspace directory value and resort to the program installation directory.

[2020-07-15 12:15] tjohnsonBCM commented on #1011
Please add an option to disable the prompts. Adding them is a significant change that I would have not expected on a patch release. And there is no mention in the release notes of an option allowing us to disable the prompts to restore the old behavior.

![image](https://user-images.githubusercontent.com/50887074/87543762-420e6600-c673-11ea-9f21-9314b1f94513.png)

[2020-07-15 14:05] kasvtv opened #1012 "Popups with every folder I open"
With every project folder that I open in VScode (File > Open folder...) I get the following popup:

"The eslint extension will use the eslint library node_modules/eslint installed locally to the workspace folder 'reponame' for validation. Do you allow this?"

This is really annoying and when the popup window is just closed without giving permission, ESlint will not load at all. This is a huge prob

[2020-07-15 14:44] spersico commented on #1012
I'm seeing this too since yesterday, and I didn't change anything, though yesterday VSCode updated itself so it could be a VSCode problem.
I'm using WSL2 Ubuntu 20.04.

[2020-07-15 15:10] TurboLion commented on #1012
I saw this popup after VS Code updated to version 1.47.1 and I clicked on "Allow"; after that I had a couple weird bugs with auto-import not working in a React project, not sure if this is related to the popup or not.

[2020-07-15 16:48] captDaylight opened #1013 "Unable to resolve path to module"
Code runs as expected when I start me server, and I can run `eslint` on the command line without any errors. However, in vscode I'm getting the errors `Unable to resolve path to module './routes/index'.eslintimport/no-unresolved` and
`Missing file extension for "./routes/index"eslintimport/extensions` when I open `./src/index.ts`:

[code]

Vscode will even autocomplete the file structure but still

[2020-07-15 18:10] Lightfire228 commented on #1012
Probably related to [the security patch 1.47.1 for vscode](https://github.com/microsoft/vscode/issues/102513)

The [MS CVE](https://portal.msrc.microsoft.com/en-us/security-guidance/advisory/CVE-2020-1416) says

So I'd imagine that popup is related to the change in how external dependencies are loaded

[2020-07-15 21:14] chrisdias commented on #1012
@Lightfire228 that is correct, both VS Code and the ESLint extensions were updated yesterday.

Suggestion: Improve the message to make it more clear, such as:

With the following options:

`[Ok]` `[Cancel]` `[Don't Show Again]`

//cc @kieferrm @misolori

[2020-07-15 21:36] eamodio commented on #1012
Alternate suggestion:

`[Allow]` `[Disallow]` `[Cancel]`

[2020-07-15 21:49] spersico commented on #1012
The most important thing to me, is to have a flag that *always* allows eslint to be run for the entire workspace, or in general. Because, for some reason, VSC showed me this message inside of the same workspace like a hundred times today 😞

[2020-07-15 22:21] chrisdias commented on #1012
are you pressing `Cancel` each time, or `Yes` or `No`?

[2020-07-15 22:41] spersico commented on #1012
The first time, I pressed yes, and it kept opening when I changed files.
Then, after a few restarts of VSC, I pressed no, and still, it kept opening, same behaviour.
With cancel, same behaviour.
At some point, I pressed Yes, and the error went away, and it started working properly.

On Jul 15 2020, at 7:22 pm, Chris Dias <notifications@github.com> wrote:

[2020-07-16 01:08] kieferrm commented on #1012
Changed the buttons to 'Allow' and 'Do Not Allow' and the message to

There was also a bug that caused the confirmation dialog to pop up for all open editors when the user did not trust the local version and answered with 'No' (now 'Do Not Allow').  I suspect that this is what @spersico has experienced.

[2020-07-16 01:15] kieferrm commented on #1012
@kasvtv we can't introduce a project setting here. The scenario the change is addressing is
1) You clone a repo, for example from GH, that has `node_modules/eslint` checked in, and then you open a file that eslint checks in VS Code
2) You download a zip of a repo, for example from GH, that contains `node_modules/eslint` inside, you unzip, and then you open a file that eslint checks in VS Code

[2020-07-16 09:42] LadIQe opened #1014 "No error highlighting"
Hi guys, I have really strange problem with my projects.

I have multiple projects but 2 of them have same base and use same versions of eslint and prettier and also same version of .eslintrc.js. Both of them are typescript react projects

Weird thing is that one project is working fine, eslint is highlighting errors and also formatting them. Second project only formats and thats it.

I tried
- re

[2020-07-16 17:05] sarahsga commented on #1012
I chose "Allow" every time this popup appeared, and now my auto-format on save has stopped working!

[2020-07-17 01:35] liumt1993 commented on #999
I'll try it, and i found this issue it's not intermittently.There is a problem when you make the self-close tag to split, even make the tag self close again, there still have this problem.

[2020-07-17 02:09] sramzan commented on #1014
+1 I had to downgrade my version of the eslint plugin to 2.16 and everything is working again.

Due to the latest version of either the plugin or VSCode there is a prompt when launching VSCode that asks if I would like to allow "node_modules/eslint" to be used. Seems like there is a class between the latest eslint version and VSCode.

[2020-07-17 08:01] s-h-a-d-o-w commented on #1012
I think there should be a global setting to completely disable this behavior. It should be possible for a user to choose comfort over security, since there are probably many who don't use random eslint installations but always get them from npmjs.

[2020-07-17 08:06] rjgotten commented on #1012
Be that as it may, the entire thing is still a major annoyance and there are better solutions possible that choose a mid-road between (overly) stringent security and comfort.

A very simple one is to put the user in control and allow them to opt-out of this behavior by turning it off.
A more involved one would reduce the amount of times the prompt appears by comparing the installed eslint module a

[2020-07-17 08:28] #1007 closed

[2020-07-17 13:50] heavenkiller2018 opened #1015 "eslint error: Received request 'eslint/probleFailed in yarn monorepo project"
I created a vue typescript  project. Eslint works correct in alone repo, but occurs some error in  in yarn monorepo project.

I created a repo to show this problem: https://github.com/heavenkiller2018/vue-monrepo-eslint_error.
![image](https://user-images.githubusercontent.com/45555611/87792651-c5e47000-c876-11ea-8e63-80f376e32853.png)

eslint of vscode could function correct in *.vue,
![image](ht

[2020-07-17 19:29] coreyward commented on #1012
@kieferrm I do not have `node_modules` under SCM and the dependencies were installed via `yarn` (not an unzipped project repo), but this still shows for me in every relevant project. I suspect something is wrong with the source tracking.

[2020-07-17 23:31] tgreen7 commented on #1012
How about an "Always Allow" option? Or at least a setting that we can configure to disable this popup?

[2020-07-18 00:57] jjuannn opened #1016 "Formatter not working just in one file"
Hello, i installed eslint for my project. I have six .js files but i only can use eslint formatter in five of them. When i try to use the formatter in the other file, it doesn't work. I only get the message "Extension 'ESLINT' cannot format 'src/manejador.js' "

.eslintrc.json:
`{
    "env": {
        "browser": true,
        "es2020": true
    },
    "extends": [
        "standard"
    ],
    "pa

[2020-07-18 01:05] #1016 closed

[2020-07-18 01:06] jjuannn commented on #1016
solved, sorry 😅

[2020-07-18 03:53] Andr3sAmaral commented on #707
Thanks @subz390

[2020-07-18 12:33] brunoparga opened #1018 "Extension won't run with pnpm"
Hello! Whenever my editor tries to run ESLint automatically via the extension, I run into the following error:

[code]

Is this related to the newly-added support for pnpm on vscode? Any ideas on how to get the extension working again?

Thanks!

[2020-07-18 12:48] andygock commented on #1012
Having a config setting to "always use local install ESLint  for validation when available" would be a good option. Having a interactive popup interrupting the user for every single project that is opened isn't great.

[2020-07-19 12:59] Domiii commented on #91
## Workaround

Since this is maybe low priority for the team for now, here is a few notes, ideas and suggestions:

1. I have a monorepo with several packages, each having an `src` folder I want to lint.
1. My `eslint` command looks like this: `npx eslint **/src/**/*.js`
1. We can simply `grep` all problematic files like this: `npx eslint **/src/**/*.js | grep ^[\\w/].*\\.js`
   * Why does this wor

[2020-07-20 07:46] MrKafr commented on #1014
+1 same problem. Even downgrading eslint extension does not help. One project is working and others doesnt.

[2020-07-20 09:27] dbaeumer commented on #1012
Regarding some of the suggestions:

- always using a global installed ESLint version is not possible of all the version differences that exists. On top older ESLint version are very sensitive to loading plugins depending on whether ESLint is loaded globally or locally.
- detecting how the local ESLint version came on disk is very hard and might lead to problems as well. Simply the fact that it was

[2020-07-20 09:33] dbaeumer commented on #999
I need a GitHub repository that demos the problem to investigate. If not provided our bot closes issues automatically to keep the number manageable.

[2020-07-20 09:34] dbaeumer commented on #1015
@heavenkiller2018  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-07-20 09:39] dbaeumer commented on #1018
@brunoparga what happens when you run `pnpm root -g`

[2020-07-20 09:41] rjgotten commented on #1012
And this is no different with a prompt that explicitly asks you to trust a version of ESLint installed in a particular folder. Trusting that installation of ESLint does not magically make a plugin referenced via an `.eslintrc.js` file trust-worthy either.

Actually; that's an even bigger issue: even if you'd use a global installed ESLint, an ESLint plugin loaded via an `.eslintrc.js` config file c

[2020-07-20 09:43] dbaeumer commented on #1014
@LadIQe does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-07-20 09:58] dbaeumer commented on #1012
I will update the message to make this more clear.

[2020-07-20 09:59] jsejcksn commented on #1012
@dbaeumer When we select "Allow" or "Deny" in this dialog for each workspace: Where are our preferences being stored?

[2020-07-20 10:21] dbaeumer commented on #1012
@jsejcksn in a scoped store that the VS Code API provides to me.

[2020-07-20 10:22] dbaeumer commented on #1011
@tjohnsonBCM please see the discussions here on why that got added: https://github.com/microsoft/vscode-eslint/issues/1012#issuecomment-659097449

I have merged the changes into the release/2.1.x branch in this repository.

[2020-07-20 10:23] #1011 closed

[2020-07-20 10:28] rjgotten commented on #1012
Just to get this straight: you're going to point out in the popup-message that you're pestering the user for a net zero gain in actual security, over just axing the feature because it's effectively useless to prevent what you set out to prevent with it?

Ok then...

[2020-07-20 10:35] dbaeumer commented on #1012
IMO the right solution is to have something like a trusted workspace in VS Code itself which would make the whole concept more first class and will for example allow to trust certain GitHub URLs as well (e.g. trust every repository under `https://github.com/myOrg` like VS Code does for browser URLs). I have cycled that back to the corresponding devs in the VS Code team.

[2020-07-20 10:37] rjgotten commented on #1012
I was just going to point out as well that having a workspace-level sandbox would be the way to truly solve this.
Hope to see the VS Code team respond to that.

[2020-07-20 10:40] jsejcksn commented on #1012
@dbaeumer I understand that there might be some discussion involved to make a decision about how to address this. Perhaps right now, you can switch from a blocking modal dialog to something like https://code.visualstudio.com/api/references/vscode-api#window.showWarningMessage with selectable options in the notification. This would be more in line with the expected behavior of other notifications a

[2020-07-20 11:01] rjgotten commented on #1012
Using non-blocking notifications presents a different problem though: too easy for developers to forget to allow the linter to run and they'll work without feedback, only to be confronted with a pile-on of linting violations when e.g. a commit hook enforces linting conformation.

[2020-07-20 11:31] jsejcksn commented on #1012
@rjgotten A developer's ignoring notifications is a kind of personal issue, not one specific to this or any other extension.

No modal should ever disrupt interactions which are not directly related to the purpose of the modal.

This is a case where a modal dialog is inappropriate.

[2020-07-20 12:20] ThiefMaster opened #1022 "Formatting not working for javascriptreact files"
I tried enabling it using

[code]

but I always get the "extension eslint cannot format ..." error. For plain js files it works fine though.

[2020-07-20 12:33] dbaeumer commented on #1022
@ThiefMaster can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-07-20 12:35] ThiefMaster commented on #1022
I was testing on my project https://github.com/indico/indico/ but it's kind of huge, so not sure if it's a good way to reproduce it. I hoped it may simply be some hardcoded check that only allows it to run on `javascript` files but not any other JS-like file type.

Let me know if there's any place I can look for details what may cause this error. There's nothing in the ESLint output pane related t

[2020-07-20 12:53] brunoparga commented on #1018
[code]

That's the same error I get when I try `pnpm add -g <package_name>`. What I think this means is that something in the extension is trying to do something I can only do as root.

[2020-07-20 13:26] dbaeumer commented on #1018
Yes, that problem is that I need to know where global package are installed. The interesting thing is that I only need to read a setting not to write to a global location. Has anyone a idea how to solve this. I am not a `pnpm` expert.

[2020-07-20 13:32] dbaeumer commented on #1022
Actually it is huge. Can you try to produce a stiped down version. The formatter works for me without problems.

One thing: do code actions on save work for you?

[2020-07-20 14:13] ThiefMaster commented on #1022
OK I just had the same problem with a normal .js file, and found some JSX files where it worked just fine...

![image](https://user-images.githubusercontent.com/179599/87947202-45ef1d80-caa3-11ea-8bcc-b93e36b3f26d.png)

In case it helps, `permissions_widget.js` is one of the files where it does not work. If I run "Format document with" I also don't get eslint as an option to choose.

[2020-07-20 14:34] spersico commented on #1012
These are, IMO the best approachs:
- a **global setting** so that VSCode doesn't show me any message related to plugins running from **a** local project.
- a **per-workspace setting**, so that VSCode doesn't show me any message related to plugins running from **this** local project.
- Clear up the **wording** in the modal dialog, it's not clear what's happening, nor what's the result of pressing e

[2020-07-20 16:57] jjensen-ebsco commented on #1012
How do we unset or change whatever setting the popup sets? I'm now getting errors for every single carriage return in my code.

[2020-07-20 17:59] brunoparga commented on #1018
Thank you for your replies. I am not an expert either, just a user. I have forwarded your explanation to their Gitter channel. Is there anything else I could do to help you help me?

[2020-07-20 18:12] andygock commented on #1012
@jjensen-ebsco As a workaround, until this gets resolved, you can right click on the extension and select "Install Another Version...", version 2.1.6 seems to not have this focus stealing popup issue. Reload/restart required.

[2020-07-20 18:59] dbaeumer commented on #1012
@jjensen-ebsco this is very likely unrelated to the dialog since it doesn't change any of the ESLint rules.

To manage the saved premissions run the following command `ESLint: Reset Library Decisions`

[2020-07-21 10:23] goloroden commented on #977
Any update on this?

[2020-07-21 10:47] chenchenwuai commented on #1012
Downgrade eslint to version 2.1.4

[2020-07-21 12:56] nojvek opened #1023 ""The ESLint extension will use 'node_modules/eslint' for validation" make this warning go away."
I usually have multiple projects open at any time. This warning appears every single time and is quite annoying. Is there a setting to turn it off. Why does it block the user's flow?

[2020-07-21 13:06] dbaeumer commented on #1023
@nojvek pls see https://github.com/microsoft/vscode-eslint/issues/1012. It is basically a security fix.

Actually you should only be prompted once per workspace folder unless you press Cancel. Do you see the prompt more often.

Closing as dup of https://github.com/microsoft/vscode-eslint/issues/1012

[2020-07-21 13:06] #1023 closed

[2020-07-21 13:06] dbaeumer commented on #977
Actually no :-).

Would you be willing to work on a PR?

[2020-07-21 13:08] dbaeumer commented on #1018
Lets see what is coming back.

[2020-07-21 13:09] dbaeumer commented on #1014
@jjensen-ebsco this is expected. Since the ESLint extension loads and executes code on the users behalf we had to add a dialog letting the user know about it. If you don't allow it the extension will not load the ESLint library and hence can't validate the file.

[2020-07-21 13:12] dbaeumer commented on #1022
Can you do two things:

- on a file where it fails can you run eslint in the terminal with the --fix option to see if it works there.
- if yes,  can you add the `eslint.debug: true` setting and provide the output of the ESLint channel.

[2020-07-21 13:13] dbaeumer commented on #1013
Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-07-21 13:14] dbaeumer commented on #1010
@crystalfp actually the server set the workspace directory on every validation run. So a GitHub repository that demos that would be highly appreciated.

[2020-07-21 13:16] dbaeumer commented on #1008
Actually the extension doesn't post process any error generated by ESLint itself. So if you do see the same error range in the terminal then there is little I can do.

[2020-07-21 13:19] ThiefMaster commented on #1022
Oh, I found the problem. This file is listed in my `.eslintignore`. It would be nice if there was an option to use eslint's `--no-ignore` option because while I may not want to see eslint warnings when running eslint via pre-commit or CI, I may want to see them when actually editing such a file.

[2020-07-21 13:21] dbaeumer commented on #1002
I can't reproduce this using the linked repository. Any additional steps?

[2020-07-21 13:23] dbaeumer commented on #1009
@razvanmandache can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-07-21 13:25] dbaeumer commented on #1022
@ThiefMaster you can. See the setting `eslint.options` documented here: https://github.com/microsoft/vscode-eslint According to the CLI documentation the property to set is `ignore`

[2020-07-21 13:29] goloroden commented on #977
What a pity 😞
But being an open-source maintainer myself, I know that you hardly have the time to care about *everything*.

Anyway, theoretically I'd say "yes", but in this case it's not something I need personally, but one of our customers.
So given that I have lots of other things as well, unfortunately, I have to pass …

Thanks anyway, for the quick reply, and for the work you do on the plugin!

[2020-07-21 13:39] ThiefMaster commented on #1022
Thanks, this helped:

[code]

[2020-07-21 13:39] #1022 closed

[2020-07-21 14:44] nojvek commented on #1023
I see it every single time I open a vscode workspace. Even the same
workspace re-opened shows the dialog.

Have to shut it off at-least a couple of times a day.

It’s the same crap Windows vista had. Too many dialogs so users just close
it as annoyance.

I don’t see how this is a big security issue since a node_modules by
definition have access to the system and vscode itself uses a ton of them.

[2020-07-21 15:13] razvanmandache commented on #1009
Hi @dbaeumer
Thanks for taking an interest in this.

I created a new CRA project in this repo here https://github.com/razvanmandache/vscode-eslint-test

Had some trouble reproducing the issue, but managed to do in the end.
I started by copying the relevant config (e.g. .eslintrc) files and the relevant packages (e.g. eslint, typescript-eslint, etc.) from the project I encountered the issue in to t

[2020-07-21 21:00] NotWearingPants opened #1024 "All files with an `eslintignore` file extension should be considered of type "Ignore""
The extension only applies the "Ignore" language to files with the exact name `.eslintignore` by default.
It should instead include all files ending with the extension `eslintignore`, regardless of the prefix.

VSCode's built in file icon theme recognizes the file as an eslintignore file and shows the matching icon beside it,
but this extension doesn't apply the language to it.

A project might in

[2020-07-22 08:33] chenbingchang commented on #1012
I choose "not allowed". Now my auto format has stopped working when saving!

[2020-07-22 10:29] dbaeumer commented on #1012
@chenbingchang this is expected. If you don't allow the extension to load the ESLint library auto format will not work either.

[2020-07-22 10:31] dbaeumer commented on #1024
Makes sense to me.

[2020-07-22 10:31] #1024 closed

[2020-07-22 10:53] dbaeumer commented on #1009
Actually, I cloned the repository and I don't see any errors when executing eslint in the terminal using `./node_modules/.bin/eslint src/usePromise.ts`. In general the extension behaves as eslint executed on the command line. Can you please ensure that executing eslint in the terminal works correctly. If you still don't see an error in VS Code, please ping with steps to reproduce.

[2020-07-22 10:54] dbaeumer commented on #1023
@nojvek which button do you press on the dialog? And which version of the ESLint extension are you using. We had a bug that is fixed in 2.1.8.

[2020-07-22 14:08] LadIQe commented on #1014
ok so I have update, I deleted everything that have eslint in name, reinstalled packages, created config files from scratch, now it is working. I have no idea where was problem, I got this idea when I created test project where everything was working as expected, so sorry for no more usable info for this kind of problem :/

[2020-07-23 03:46] nojvek commented on #1023
I was on latest (2.1.8). But I downgraded to eslint without that annoying modal. Thank god vscode lets you choose the version.

[2020-07-23 07:58] razvanmandache commented on #1009
Thanks for testing this out.

I have tested myself too and it does work as expected when running eslint from command line.
Seems that it's most likely an issue with how CRA handles the eslint config and not with vscode eslint extension.

[2020-07-23 08:29] dbaeumer commented on #1009
@razvanmandache how did you run ESLint in the terminal.

[2020-07-23 08:30] dbaeumer commented on #1014
OK Thanks. I will close the issue then.

[2020-07-23 08:30] #1014 closed

[2020-07-23 08:38] razvanmandache commented on #1009
I ran it as you described with "/node_modules/.bin/eslint src/usePromise.ts".
I was confirming that, just like yourself, I did not get any warnings or errors when running from the command line.
Sorry if my phrasing wasn't clear.

The vscode eslint extension seems to be handling the eslint config correctly i.e. produces the same results as when linting from the command line.

[2020-07-23 13:53] OriAmir commented on #1012
How could I change my decision ? in mistake I clicked "now allowed" and then it's stop to show me eslint errors on the editor.
I have to downgrade a version of the extension to make it work, the question if we could change the popup decision?

[2020-07-23 14:31] waynebloss commented on #1012
How does one make an educated decision on whether to trust one projects `node_modules/eslint` over another?

Otherwise - I'm pretty much always going to trust eslint unless I read some news about a security breach in the published package.

[2020-07-23 20:33] sean256 opened #1026 "The extension is behind the editor and improperly reports errors"
I can't reliably replicate this on demand, but it's been happening frequently enough that it's becoming a problem.

Here is a snippet of what code I have in the editor

[code]

This is what the ESLint Extension sees

![Screen Shot 2020-07-23 at 1 26 23 PM](https://user-images.githubusercontent.com/6920955/88335863-d9656000-cce8-11ea-8b6d-e602fdb75460.png)

Eventually after enough edits it will eve

[2020-07-23 22:17] Michael-Macal opened #1027 "Schema fetch failures when systems proxy protection requires SSL"
Network traffic protected by the preferred secure ONLY (https only) security settings will not be able to fetch the eslintrc schema.

see https://www.blog.google/products/chrome/milestone-chrome-security-marking-http-not-secure/

Suggested fix: update jsonValidation urls from http to https

existing entries in package.json
[code]

suggested change:
[code]

[2020-07-24 08:46] dbaeumer commented on #1027
Makes sense. Will make the change.

[2020-07-24 08:49] dbaeumer commented on #1026
As always it would be best to have reproducable steps. But I understand that this is hard in that case. Could you enable tracing `"eslint.trace.server": "messages"` and post the trace from the eslint output channel here.

[2020-07-24 08:52] dbaeumer commented on #1012
@OriAmir To manage the saved permissions run the following command `ESLint: Reset Library Decisions`

[2020-07-24 08:53] dbaeumer commented on #1009
OK. That makes sense then. I will close the issue. Please ping if you still think there is something that needs to be done in the extension itself.

[2020-07-24 08:53] #1009 closed

[2020-07-24 10:05] rjgotten commented on #1012
One typically doesn't. It's not just eslint which needs to be trustworthy. It's also all its dependencies ; any plugins loaded via an `.eslintrc.js` file; _and_ their dependencies. The average ESLint user is not going to vet their entire package tree. They're just going to do what you're planning to do:

And that's why the existence of this dialog is bad. It trains users to just hit "Allow" and go

[2020-07-25 00:44] sean256 commented on #1026
I got something to reliably replicate,

stringFunctions.js
[code]

If I open this file eslint will be fine. But, if I cut and paste back the contents inside the `foo` object it will error out and tell me there is a false error.

Here is the output you asked for:

[code]

[2020-07-25 00:58] sean256 commented on #1026
Finally have something legit. I found a file which reliably replicates the issue and I have no idea why.

Output:

[code]

Since this is for work, I had to heavily redact some of this, but the "problem" line is intact.

[code]

The full file is 320 lines. I discovered if I cut it down to less than 100 lines it doesn't happen. Maybe some async race condition with line processing??

[2020-07-25 07:54] amirhoseinsalehi commented on #1012
<img width="739" alt="Screen Shot 2020-07-25 at 12 21 54 PM" src="https://user-images.githubusercontent.com/32030546/88452149-879c1180-ce71-11ea-9511-5c4de6dd9158.png">
click on 'ESLint' on downside of vscode and next a popup shows to you and you can reset all eslint settings. :)
<img width="628" alt="Screen Shot 2020-07-25 at 12 22 11 PM" src="https://user-images.githubusercontent.com/32030546/88

[2020-07-25 17:18] MagicHacker commented on #1012
so, what's the best solution?

[2020-07-25 17:27] ryanblock commented on #1012
@dbaeumer sorry if I missed it, but I've been following this thread and I'm still unclear: will the maintainers of this project be handling this issue? If so, specifically how?

[2020-07-26 02:12] LiteracyFanatic opened #1028 "Specify path of eslint executable"
In some cases I like to use `eslint` on one-off scripts that aren't part of a proper project. In other words, there is a single file that I run with with `node` and I don't use `npm` to install any tooling into a `node_modules/` folder. I understand that I can use `npm install --global eslint`, but I prefer to install command line tools using my operating system's package manager whenever possible

[2020-07-27 02:51] yaegassy opened #1029 "Is it possible to upload the latest 2.1.9 version of vsix to the GitHub release?"
Thanks for this language server and VSCode extension!

I build `vscode-eslint` and use it primarily in `Vim`.

It is very useful to have a pre-built vscode-eslint available.

No vsix uploads on GitHub release since the "2.1.4 preview release".

https://github.com/microsoft/vscode-eslint/releases/tag/release%2F2.1.4-next.1

Is it possible to upload the latest 2.1.9 version of vsix to the GitHub rel

[2020-07-27 10:28] #1015 closed

[2020-07-27 13:56] dbaeumer commented on #1029
2.1.9 is not officially released yet. I uploaded 2.1.8.

[2020-07-27 13:56] #1029 closed

[2020-07-27 14:00] dbaeumer commented on #1028
Pointing to a executable is not possible since the extension doesn't run an executable. It loads the ESLint npm library and uses the CLIEngine API. So `eslint.nodePath` will allow you to point to a custom install location to load the node npm module.

I will close the issue. Please ping if you think there is still something the extension should do.

[2020-07-27 14:00] #1028 closed

[2020-07-27 14:06] LiteracyFanatic commented on #1028
That makes sense. Thanks for the reply.

[2020-07-27 14:11] dbaeumer commented on #1012
I had longer discussion with the VS Code team about this and there will soon be work happening for a a `trusted workspace` concept in VS Code itself which the ESLint extension will then adapt to. If a workspace is trusted there will be no need for ESLint to confirm execution.

[2020-07-27 14:28] ryanblock commented on #1012
@dbaeumer thats dope! In the mean time will y'all consider rolling this back until this trusted workspace feature ships?

[2020-07-27 14:32] dbaeumer commented on #1026
@sean256 thanks for getting back. This actually looks like a problem with ESLint itself (e.g. `Cannot read property 'value' of null Occurred while linting /Volumes/REDACTED/source/lib/web/REDACTED/REDACTED.js:38` https://github.com/eslint/eslint/blob/master/lib/linter/linter.js#L1182)

Since you can reproduce this. When it happens does linting work in the terminal on that file.

[2020-07-27 14:33] dbaeumer commented on #1012
Just to ensure there is not another bug with the dialog. You should only see the dialog once per workspace folder / global install unless you close the dialog with Cancel or Escape.

[2020-07-27 16:00] jsejcksn commented on #1012
@dbaeumer If the workspace is not trusted, a blocking modal dialog is still a problem. Did you see my previous suggestion? https://github.com/microsoft/vscode-eslint/issues/1012#issuecomment-660949644

[2020-07-27 16:29] missferret commented on #1010
This is actually happening to me with Webstorm...

[2020-07-27 21:42] sean256 commented on #1026
If I run eslint from the CLI it's fine. I'm not sure how this plugin works, but somehow it (with eslint?) are seeing an outdated version of the file. In my very first post here you can see the discrepancy in the screenshot. What the eslint plugin shows is not what is actually in the editor.

[2020-07-28 10:26] dbaeumer commented on #1026
That is really strange since the actual exception comes from ESLint itself. The line `Cannot read property 'value' of null Occurred while linting /Volumes/REDACTED/source/lib/web/REDACTED/REDACTED.js:38` is issued by the ESLint npm module. It doesn't come from the extension.

Do you see a chance to provide me with a GitHub repository I can clone that demos this?

[2020-07-28 12:23] brunoparga commented on #1018
As per the referenced issue, this has been solved by `pnpm` allowing access to the setting your extension needs. Thank you very much for your help, Dirk!

[2020-07-28 12:23] #1018 closed

[2020-07-28 13:28] #1002 closed

[2020-07-28 13:28] #1008 closed

[2020-07-28 13:28] #1013 closed

[2020-07-28 13:59] samselikoff commented on #1012
This dialog is very costly, as most users who encounter a blocking dialog not triggered by an action they took will take the default action to dismiss it. A blocking dialog is absolutely inappropriate here and I really wish it could get rolled back before the larger "trusted workspace" feature lands!

Also

is not relevant for those of us who work with many different projects (often OSS) throughou

[2020-07-28 19:16] gonpeche commented on #1023
I accidentally pressed "cancel" and now I cant get the ESLint format while typing...
Is there a way to pop-up again the original message and allow it?

[2020-07-28 21:18] wapenshaw commented on #972
I was using eslint v7.x on a create react app ejected project, and the whole linting/intellisense experience was running at a crawling pace. I had to downgrade to v 6.8.0 because I figured out this was the extension that's slowing down everything. After downgrading to 6.8.0 everything is working as intended and snappy as ever. if you want to replicate my env, run vscode on my [repo here] (https://

[2020-07-29 09:26] garyee opened #1030 "Create a run command"
Hi,

very good extension I would be lost without.
For my workflow it would be great if there where a doLint command, so that I could bin a keyboard shortcut to it.
My problem basically is that if i set `eslint.run` to `onType`  I get overwelmed with all the red lines so I set it to `onSave`. But if I save the file my project will immediatly start to rebuild which is good, just not if I got an erro

[2020-07-29 14:20] dbaeumer commented on #1030
The `eslint.lintTask.enable` option might be your friend. It adds a task to which you then can bind a keyboard shortcut. If you only want to validate a single file you can always create a custom task using variables and bind a keyboard short cut to the custom task.

[2020-07-29 14:20] #1030 closed

[2020-07-29 14:21] dbaeumer commented on #1023
Yes, run the command `ESLint: Reset Library Decision`

[2020-07-29 14:26] dbaeumer commented on #1012
@jsejcksn the problem here is that VS Code doesn't offer any API to make the notification sticky meaning that the dialog will go away after n seconds making it easy to miss it. That would mean that ESLint will stay disabled with all the problems that will lead to.

[2020-07-29 14:28] dbaeumer commented on #1010
A reproducible case would still be helpful.

[2020-07-29 14:30] ryanblock commented on #1012
As I asked before: in the mean time will y'all consider rolling this back until this trusted workspace feature ships?

[2020-07-29 14:54] jsejcksn commented on #1012
@dbaeumer

VS Code provides a persistent symbol for unread notifications:

_Unread notifications:_
<img width="150" alt="notifications" src="https://user-images.githubusercontent.com/868251/88814969-617fb580-d180-11ea-984f-2be52732aae7.png">

_No notifications:_
<img width="150" alt="no-notifications" src="https://user-images.githubusercontent.com/868251/88814853-41e88d00-d180-11ea-9155-b4cbebf1eb

[2020-07-29 14:58] farrukhjalil opened #1032 "Extension issue take time"
- Issue Type: `Bug`
- Extension Name: `vscode-eslint`
- Extension Version: `2.1.8`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.47.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-07-29 19:15] dbaeumer commented on #1032
@farrukhjalil you don't have the content from the clipboard anymore. Without it there is little I can do.

[2020-07-29 20:09] nojvek commented on #1023
At this point I don’t know how much value that modal is adding. Reminds me of windows vista popups. So many that users just learn to ignore them. Why can’t the plugin just do an integrity check of the node_modules installed eslint.

Even if you show the modal, a user doesn’t really know what to do other than clicking a button. If you really care about security then go the extra mile and only alert

[2020-07-30 05:03] wadim opened #1033 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `2.1.8`
- OS Version: `Darwin x64 19.5.0`
- VSCode version: `1.47.3`

[dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt](https://github.com/microsoft/vscode-eslint/files/4998886/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt)

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-c

[2020-07-30 10:03] tapz opened #1034 "Trust this eslint version asked every time"
Every time I start VSCode each window asks this question. Every time I answer yes, but the extension asks this again next time I start VSCode. Can't you add Always allow button?

<img width="466" alt="Screenshot 2020-07-30 at 13 00 23" src="https://user-images.githubusercontent.com/11726387/88910487-3753f380-d265-11ea-8754-5da26bcd3b5b.png">

[2020-07-30 10:10] dbaeumer commented on #1023
The problem is that ESLint itself has a plugin system. So even if the hash for ESLint is OK it doesn't necessarily mean that all plugins are. And without help from ESLint it is very hard to know upfront which plugins ESLint will load and which configurations files (interesting are the once containing JS code).

I talked a lot to the VS Code team about this and VS Code will introduce a concept of t

[2020-07-30 10:13] dbaeumer commented on #1034
@tapz this shouldn't happen and actually doesn't happen for me. Would you be able to give me access to your workspace (e.g. as a GitHub repository) so that I can investigate why this is happening for you?

Is there anything special when you start VS Code. Are you using the `--user-data-dir` option?

[2020-07-30 10:17] tapz commented on #1034
This happens with all of my 5 workspaces. Sorry, the projects are not my personal, so I cannot give access to the repos.

I'm not using --user-data-dir option.

[2020-07-30 10:25] dbaeumer commented on #1033
Thanks for the trace. I looked at it and it spent 1.5 seconds in `proivdeCodeActions` which basically just offloads the computation to the server in an async fashion. When this happened where there many problems in the file?

[2020-07-30 10:27] dbaeumer commented on #1034
@tapz just to clarify. You get ask once per workspace right. This is expected since every workspace usually has its own version of ESLint.

I talked to the VS Code team about this as well and they will start to work on a trusted workspace model which will allow the ESLint extension to remove the dialog again. The team recognized that the approach of every feature doing the checks is not scaling.

[2020-07-30 10:28] SirCameron commented on #1033
Same issue here. disabling this extension, vscode runs quietly. I think it has something to do with the extension using the project-local installation of eslint and not the global version. There was a popup that asked me to select which... I selected local and since then this has chewing up my machine.

[2020-07-30 10:32] tapz commented on #1034
Thanks @dbaeumer !

[2020-07-30 17:38] mattlubner commented on #983
Still waiting on a final PR review + merge. Some attention on this issue would be really appreciated! 🙏😅🙏

[2020-07-31 00:54] wyuenho opened #1037 "Please manage the release process with a little more professionalism"
Extension is pushed to VS code before tagging or even available on npm, or sometimes the exact reverse, commit messages are full of noise, change log not kept up to date, server breaks all the time due to silly mistakes such as requesting non-existent methods due to spelling errors and introducing out-of-spec LSP methods all over the place, causing problems with downstream users not on VS code.

T

[2020-07-31 07:19] pkrukp opened #1038 ""lint whole folder" task on Windows does not work if "bash" is used as default shell"
Hi,

I'm using "Git Bash" as default shell for vscode. If I try to run "lint whole folder" task it ends with error:

[code]

bash interprets "\\" as special character.

I wonder if there's some solution for this... Maybe force using "Command Prompt" (cmd.exe) as shell?
I tried using forward slashes: `node_modules/.bin/eslint.cmd .`  but cmd.exe does not like it: `'node_modules' is not recognized a

[2020-07-31 08:25] dbaeumer commented on #1037
This extension is has its name says special for VS Code and its marketplace and the server is currently not meant to work outside of VS Code and therefore NOT published to npm. There is a separate issue https://github.com/microsoft/vscode-eslint/issues/1003 that requests a server that can be used using npm install and either only depends on LSP methods or clearly documents what additional methods

[2020-07-31 08:25] #1037 closed

[2020-07-31 08:32] #762 closed

[2020-07-31 08:38] dbaeumer commented on #983
Sorry. Slipped through the cracks. Will have a look.

[2020-07-31 08:49] dbaeumer commented on #983
I merged the PR. Will look into a new version when we ship a new version of VS Code beginning of August.

[2020-07-31 08:50] dbaeumer commented on #1034
Will treat it as a dup of 1012 then

[2020-07-31 08:50] #1034 closed

[2020-07-31 09:50] dbaeumer commented on #1033
@SirCameron the extension always preferred a local install over a global one. The dialog is for security since the extension runs code on the users behalf.

Can you share a repository that demos the performance problem.

[2020-07-31 09:53] dbaeumer commented on #1012
Yes, but if it is easy to be overlooked I think it is not good either. It will result in lots of user having ESLint being disabled without knowing it. The good thing about having a trusted workspace concept in VS Code itself will make it a lot easier to come up with a good UI since the solution will not be bound to VS Code API capabilities.

[2020-07-31 12:14] jsejcksn commented on #1012
This is your opinion (and I'm not saying it's necessarily wrong—it depends on how "lots" is defined), but it's hostile to **everyone** to continue to use a blocking dialog just because a subset of people don't pay attention to their notifications. That's their own problem, not everyone else's.

[2020-07-31 23:49] bluepnume commented on #1012
Yep, for now can we please get a configuration setting to always allow this?

[2020-08-01 17:50] liby commented on #1012
What I want to know is that if I choose to `Allow`: when I open a workspace, the `ESlint` version of the project may be different from the global installation. Which one has a higher priority?

[2020-08-02 14:51] wyuenho commented on #1037
The problem, is not merely whether you have an npm package or not, but that fact you care little of the user experience of your end product, therefore you don't test with different project setups, don't care for describing the rationale for changes in the commit message, and don't even care for maintaining good a publishing process. 2.1.8 was published before even merging to master, and issues lik

[2020-08-02 22:23] chaddjohnson commented on #1012
It would be really nice if this didn't pop up every single time I open a file. It's super annoying. A setting or button to globally allow is needed.

[2020-08-03 09:44] dbaeumer commented on #1012
@liby the one in the workspace folder wins over a globally installed one.

@bluepnume and @chaddjohnson I am working with the VS Code team on something that gives you more global control about this. If something like `always allow` is enabled it must be properly reflected in the user interface and this is best done in VS Code and not by the extension itself.

@chaddjohnson this should only happen

[2020-08-03 09:50] dbaeumer commented on #1037
We always self host on the extension before I publish it. 2.1.8 was a big exception in the release process since it was a security release and the code could not show up in public before it got released to the marketplace. In the meantime the code got correctly merged into the open source repository (into the release branch and master). In ALL other cases the code was always available in the repos

[2020-08-03 13:16] SirCameron commented on #1033
@dbaeumer at the moment, I can't. Private repo and it will take too long for me to create a new repo to attempt to reproduce. I've just disabled the extension so I can continue work. Sorry, I will when I can.

[2020-08-03 14:16] Balashov-nikita commented on #1012
Hi all, accidentally chose `disallow` option for my directory in this pop up.
Is there any way to show this pop up again or remove a directory from ignore list?
Where does the ignore list with directories can be located?

[2020-08-03 14:31] dbaeumer commented on #1012
@Balashov-nikita yes, run the command `ESLint: Reset Library Decisions`

[2020-08-03 14:36] Balashov-nikita commented on #1012
@dbaeumer Thank you!

[2020-08-03 19:41] awreese commented on #1033
@dbaeumer I seem to be experiencing the same with this extension grinding vscode to a halt. It makes using any other extension (like gitlens for committing code changes, and others) impossible to use. Disabling this extension entirely frees up the high CPU usage and vscode responds without issue.

I'm in the same boat as @SirCameron with a private repository and don't have the time now to create a

[2020-08-04 06:50] antikvarBE commented on #1033
Yes, same here.

[2020-08-04 08:26] dbaeumer commented on #1033
I understand that you can't share the repository in public but would any of you be able to invite me to the repository so that I can clone it. I would like to understand why you see these performance problems.

[2020-08-04 08:34] antikvarBE commented on #1033
@dbaeumer , would, eventually, a remove VS Code session (Live Share) do?

[2020-08-04 08:43] dbaeumer commented on #1033
@antikvarBE thanks for your offer. Usually no since I need to debug VS Code / ESLint extension which requires VS Code dev tool environments on your machine.

[2020-08-04 08:46] antikvarBE commented on #1033
Got it. I can send you a link with credentials to our repo in private. What's the preferred way?

[2020-08-04 09:51] dbaeumer commented on #1033
@antikvarBE send it to dirkb@microsoft.com

[2020-08-04 10:28] #1026 closed

[2020-08-04 18:03] dinofx commented on #1012
I opened a workspace and did something like COMMAND+P to open a file.  In the middle of typing, this dialog stole focus, and the ENTER key chose ALLOW before I even noticed the dialog had appeared.

[2020-08-04 18:07] jsejcksn commented on #1012
Another problem with modal dialogs: stealing focus and accidental input (<kbd>Enter</kbd>, <kbd>Escape</kbd>, <kbd>Spacebar</kbd>, etc.)

[2020-08-04 22:40] xaviermandri opened #1039 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-eslint`
- Extension Version: `2.1.8`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.47.3`

[code]

[2020-08-05 08:10] pauliunas opened #1040 "Plugin not found in Rush monorepo"
Here's a repo that reproduces the problem:
https://github.com/pauliunas/rush-example

When I change a file, triggering `vscode-eslint`, it fails to load any eslint plugins. Here's what I see in the output window:

[code]

Going to `D:\test_projects\rush-example\apps\my-app` and running `npm run lint` works just fine.

I've tried following advice from other similar issues, Stack Overflow etc., and

[2020-08-05 13:28] dbaeumer commented on #1040
The reason for this is that some tooling (I don't know which one) patches the ESLint script (./apps/my-app/node_modules/.bin/eslint) that runs eslint and adds this to it

[code]

The ESLint extension doesn't use the script since it loads ESLint directly. But the extension offers a setting to tweak the NODE_PATH as well. It is `eslint.nodePath`. You might want to talk to the rush people that they w

[2020-08-05 13:29] dbaeumer commented on #1040
Let me know if you hear back something from the rush people.

[2020-08-05 13:31] dbaeumer commented on #1039
This seems to be an issue with `CoenraadS.bracket-pair-colorizer-2` extension. Please file the issue there.

[2020-08-05 13:31] #1039 closed

[2020-08-05 13:51] pauliunas commented on #1040
Thanks for looking into this. I didn't know it patched eslint (that's weird and ugly). Now I took a better look at Rush issues and documentation and found this:
You can use the `resolvePluginsRelativeTo` option to point it to the package that contains the config. In my case, I ended up with a config like this:
[code]
Their alternative recommendation is to add `require("@rushstack/eslint-patch/mode

[2020-08-05 13:51] #1040 closed

[2020-08-05 15:28] #1010 closed

[2020-08-05 19:28] #1032 closed

[2020-08-06 07:36] heemoe commented on #999
some here

[code]

<img width="925" alt="image" src="https://user-images.githubusercontent.com/9105193/89503880-c0d16b80-d7f9-11ea-9724-845115d0d7e6.png">

vscode infomations:
[code]

<img width="2011" alt="image" src="https://user-images.githubusercontent.com/9105193/89504352-6e447f00-d7fa-11ea-87c2-eea39bc09056.png">

it seems come from the latest version of vscode.

[2020-08-06 09:51] dbaeumer commented on #999
Actually the high CPU load is in the extension host not in the ESLint server (which would actually do the computation of the code actions). @heemoe can your reproduce this and could you share the repository?

[2020-08-06 09:52] dbaeumer commented on #1040
Good to hear you got it working.

[2020-08-06 18:26] agcty commented on #1010
Also see this happening  🤔

[2020-08-07 01:42] jasonswearingen opened #1041 "extension does not work with extended config files"
If I have a ```.eslintrc.js``` like this, it works for build-time linting but not the eslint VSCode plugin:

[code]

I tried a lot of different things, including just having the ```@xlib/eslint-config``` do nothing except a single rule, and do nothing except itself extend ```@rushstack/eslint-config```  but nothing works.

Here is a git branch with the example code:  https://github.com/jasonsweari

[2020-08-07 01:44] jasonswearingen commented on #1041
I should add, that with some extend choices it seems to work, but when trying to create a repro step to show that I wasn't able to find an example of it sometimes working.

[2020-08-07 07:22] dbaeumer commented on #1041
@jasonswearingen this is very likely caused by the same reason described here: https://github.com/microsoft/vscode-eslint/issues/1040#issuecomment-669193727

The rush tool patches the ESLint script to make ESLint work in their setup which VS Code doesn't know about. IMO they should if this patching is necessary do the same for VS Code settings.

Please ping if you think this is not a dub of #1040.

[2020-08-07 07:22] #1041 closed

[2020-08-07 07:23] dbaeumer commented on #1010
@agcty can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-08-07 07:42] agcty commented on #1010
I'm not sure how to reproduce this to be honest, I just tried to copy my repo and then I was presented with this popup:

![image](https://user-images.githubusercontent.com/12101091/89621780-36891600-d892-11ea-88c9-d9cd69a958f0.png)

After you click allow it seems to work as expected. Is there any way to force this popup in existing repos?

[2020-08-07 07:46] heemoe commented on #999
It seems fixed after add `editor.codeActionsOnSave`

Here is some related settings

[code]

[2020-08-07 09:39] jankeromnes opened #1042 "Please publish an updated version to OpenVSX"
Hello! 👋

ESLint users from VSCodium, Gitpod, Theia, etc. are all reporting that https://open-vsx.org/extension/dbaeumer/vscode-eslint is now outdated -- it's still `2.1.3` on OpenVSX, while it seems that vscode-eslint `2.1.8` is already out.

See https://github.com/open-vsx/publish-extensions/issues/91

Could you please publish an updated `dbaeumer.vscode-eslint` to https://open-vsx.org ? (It's t

[2020-08-07 09:57] bskydive opened #1043 "eslint.lintTask.options doesn't work"
I'm try to make project independent config file and rule set

[code]
has no effect, when I try to use external eslintrc config

In `/coding/lint/` all works fine, but in other project folders not. I've got eslint error messages about conflicting plugins in `--config` and `local` .eslintrc

cli wariant `eslint --no-eslintrc --debug` works fine in any folder

[2020-08-07 10:01] bskydive commented on #1043
workaround: rename local project `.eslintrc.js` into `.eslintrc.js1`

[2020-08-07 14:36] jasonswearingen commented on #1041
@dbaeumer it may be related, but not the same problem I think.

In my project's main branch if I use ```extends: ['@rushstack/eslint-config'],```  your eslint plugin works.     It's only when I try to  ```extends: ['@xlib/eslint-config'],``` my own (basically empty) eslint-config that the VSCode ESLint plugin doesn't work.

I didn't mention this because in my basic repro steps because it doesn't s

[2020-08-07 18:06] jasonswearingen commented on #1041
i created an sample project from scratch and eslint seems to work with extends.  so probably is a rushstack problem.  I'll be doing more research on this.

[2020-08-07 18:32] jasonswearingen commented on #1041
@dbaeumer so I figured out the problem.   mostly "user error"

If people are having problems, I would recomend you tell them to troubleshoot by first running ```eslint .``` from the command line.

In my case, the ```"extends": [ "@xlib/eslint-config",],``` is referencing a project that doesn't have the various eslint plugins installed, so running ```eslint .``` errors with the appropriate messages

[2020-08-08 10:41] finnp commented on #267
Atom has “Ignore fixable rules while typing”. I'm really missing this in VSCode. Would've been nice to see that PR merged.

[2020-08-08 12:48] brunoparga opened #1044 "Autofix being seemingly applied twice"
This is possibly a follow-up to #1018 .

I don't have a 100% clear picture of what's going on, but my best guess is that the autofixes on save are being applied twice. For example, I often get two semicolons at the end of a line which had none. For a more specific and harder to explain example:

[code]

What could be going on here?

VSCodium v1.47.3, extension v2.1.5, node v14.7.0, pnpm v5.4.12.

[2020-08-08 17:06] itsalb3rt commented on #999
I made a risky decision and deleted the line.

[code]

[2020-08-10 12:47] henryboisdequin opened #1045 "ESLint Crashes and Will Not Restart"
Issue Type: <b>Bug</b>

Message: The ESLint server crashed 5 times in the last 3 minutes. The server will not be restarted.

After updating VSCode, ESLint crashed and I couldn't use ESLint in my project before reinstalling the extension.

Extension version: 2.1.8
VS Code version: Code 1.47.3 (91899dcef7b8110878ea59626991a18c8a6a1b3e, 2020-07-23T13:08:29.692Z)
OS version: Darwin x64 19.5.0

<detail

[2020-08-10 13:17] fortinmike commented on #1012
I agree that this popup does nothing to enhance security. Most if not all people will just click "Allow" (it's well-known that users dismiss unsolicited popups as quickly as they can) and those who click disallow, probably by accident, will get a "broken" editing environment without linting, which can be problematic in a team as some pointed out. When you think about it, all dependencies must be t

[2020-08-10 22:08] webOS101 commented on #1033
See also this related thread: https://github.com/microsoft/vscode/issues/101555

I'm constantly having to restart VSCode and, lately, having to kill rogue processes after shutting down VSCode to clear up processes that consume ~100% CPU.  They seem related to the ESLint plugin.  Recently I upgraded my global eslint to v7, if that's important, but I believe the high CPU usage goes back a long way.

[2020-08-11 08:58] jtarvainen opened #1046 "Plugin not working with create-react-app projects"
I cannot get vscode-eslint to work in Visual Studio Code with create-react-app projects. Command-line linting works fine from the project root, but not in the editor (i.e. I get warnings in the command line, but they don't appear in the editor). The plugin also works fine with other projects not created with create-react-app.

I have not installed eslint globally, and have also not installed it lo

[2020-08-11 16:32] dten opened #1047 "Probe not enabling checking for ts files even though eslint is configured if using `babel-eslint` parser"
Hey, we have typescript enabled via babel. (hoping that's not cause for an immediate no).
But basically the plugin won't detect that it's configured. because it expects a very specific parser

Was hoping it could be changed such that the presence of the plugin `'@typescript-eslint'` could be counted as sufficient configuration.

My feeling is that this is similar to the detection of the vue plugin

[2020-08-12 01:35] webOS101 commented on #1033
Output of top command (filtered for code helper):
[code]

The second and third in the list are eslint processes.  I didn't check the rest.

[2020-08-12 16:10] dten commented on #1047
<_< seems my config works for the normal eslint rules without that plugin though, and the config doesn't help do the ts specific rules (uh).
which i guess means that nothing about the config would tell you that ts was enabled. you'd have to check the babel config

[2020-08-13 17:42] lencioni commented on #940
Could this be related? https://github.com/microsoft/vscode-eslint/issues/1033

[2020-08-13 19:10] rdrnt commented on #1033
Having the same issue.

My ESLint configuration settings:

[code]

I have a workspace with 5 projects in it (all using TypeScript & ESLint), sitting idly with a few files open causes the CPU usage to spike. In general VSCode's performance hasn't been great, I chalked it up to my setup, but it's especially bad when I have a few files open from the different projects in the work space.

I can't shar

[2020-08-14 13:11] y0nd0 commented on #1012
Yes this is annoying. Just use it. Priority: Try to use the local in node_module of the workspace and if not the globally installed one or nothing. And if you can't decide it for now, display a vscode notification. This notifications has the same features as the dialog. But I prefer a silent solution. Just use the workspace eslint or global one. Display an information about it if you want.

[2020-08-14 21:18] sean256 commented on #1026
I found my issue!

I was using the old `babel-eslint` parser. When I swapped it out for `@babel/eslint-parser` it all started working.

It's still very strange that running `eslint` from cli worked thought, 🤷‍♂️

[2020-08-15 10:18] rickbeerendonk commented on #1012
I made a search/replace in 171 files and now I have two options:
* Click away 171 dialogs
* Kill VSCode in the task manager

[2020-08-17 01:30] fanda2013 commented on #1012
very annoying popup very time

[2020-08-17 06:55] jmcantrell opened #1048 "Browserslist config is not respected when using eslint-plugin-compat"
When editing a file, eslint reports that features are incompatible with the current browser settings when it should not.

When running eslint at the command line, no warnings are shown.

In `.browserslistrc`, I have:
[code]

![Screen Shot 2020-08-17 at 1 47 13 AM](https://user-images.githubusercontent.com/33200/90365938-42ac6a80-e02c-11ea-8e7e-3358e2d51c37.png)

[2020-08-17 09:06] dashersw commented on #1012
Please remove this. If I deliberately install an ESLint in a project, I for sure want to use that version. Why should I ever use another version?

[2020-08-17 10:40] dbaeumer commented on #1048
Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-08-17 10:41] dbaeumer commented on #1026
@sean256 for better performance the extension keeps an ESLint process running that it reuses. Otherwise we would need to launch a new process after every n ms

[2020-08-17 10:42] dbaeumer commented on #1033
@webOS101 since you seem to be able to reproduce this can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-08-17 10:44] dbaeumer commented on #940
@lencioni no it is unrelated since the scenario described here causes unnecessary load on the extension.

[2020-08-17 10:47] dbaeumer commented on #1047
@dten your analysis is correct. Still can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Helps setting up a repro and fixing it.

[2020-08-17 10:48] dbaeumer commented on #1046
Does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-08-17 10:49] dbaeumer commented on #1045
Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-08-17 10:51] dbaeumer commented on #1044
@brunoparga what happens if you run eslint in the terminal with the `--fix` options.  And can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Otherwise it is very hard to tell why this is happening.

[2020-08-17 10:54] dbaeumer commented on #1041
@jasonswearingen happy to hear that you were able to track this down. And yes `eslint --debug .` helps a lot :-)

[2020-08-17 10:59] dbaeumer commented on #1043
Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-08-17 12:04] jtarvainen commented on #1046
Thanks for your response.

Yes, the validation works correctly in the terminal.

I tested the issue by simply creating a new React app ('npx create-react-app myApp') and opening it in VS Code. Since this example contains no customization on my end, could you use the same command to verify the issue? I can of course also provide a GitHub repo if that would help.

[2020-08-17 12:39] sidntrivedi012 opened #1049 "How does vscode-eslint decide which ECMAVersion to use?"
Hey all 👋 ,

Was setting up ESLint using the VSCode-ESLint extention, but was amazed to see that it added ecmaVersion to `2020`. Since I don't exactly know which version my project follows. Should I put it as 2020 to get better results or 6 (ES6) so that I may be safe from new syntax? Wanted to confirm that is putting a new version like`2020` backwards compatible?

Thanks!!

[2020-08-17 14:21] fortinmike commented on #1012
Since initially commenting on this, I accidentally dismissed the dialog a dozen times (I don't know what choice I picked) because I was typing when the dialog unexpectedly popped up (I think I had just quick-opened a file in a different project in my workspace, or opened one of those files in find results).

Did I disable eslint for part of my project, or did I keep it enabled when this occurred?

[2020-08-17 14:54] ryanblock commented on #1012
@dbaeumer really feels like folks are trying to tell you this is not working for them. Will you continue to hold the position that you won't fix glaring usability issue until eventually VS Code itself supports trusted workspaces? (Is that even something that could feasibly ship this year?)

For everyone else: *you can opt out* of this by:
- Opening extensions
- Click the gear next to ESLint
- Clic

[2020-08-17 16:38] bduffany commented on #1012
Thanks @ryanblock for the suggestion to revert back to 2.1.6! Didn't know it was possible to install a previous version.

[2020-08-17 19:37] webOS101 commented on #1033
@dbaeumer Yes, I can do that.  Here are some instructions so you can have the same setup I do.  Keep in mind I usually have several windows open and many tabs per window.

Pre-requisites:

[code]

Open an editor in both `enact` and `moonstone` directories  Open the file explorer in each window.

Go through the explorer and open several `.js` files in each editor.  Randomly add or remove semicolons

[2020-08-18 14:00] dbaeumer commented on #1033
@webOS101 I followed your steps (even using find replace to remove all semicolons) and was not abel to reproduce this neither the high CPU load nor the lingering processes. Since the lingering processes are used to find the eslint module I am wondering if there is anything special with your setup. Are you running with a special npm setup. And which OS are you using. I tried to reproduce on Linux.

[2020-08-18 14:46] dbaeumer commented on #1012
I will not be able to revert this back due to the fact that this is a publicly know security vulnerability (see https://github.com/microsoft/vscode-eslint/issues/1012#issuecomment-658920804)

Having an `Always Allow` button can only come with a good UI indication that ESLint is trusted in general which goes along the lines of having a good UI for trusted workspace. So instead of me coming up with

[2020-08-18 14:47] dbaeumer commented on #1049
The extension is relying on the setup the comes with eslint itself. See https://eslint.org/

[2020-08-18 14:47] #1049 closed

[2020-08-18 14:55] dbaeumer commented on #1046
This works for me after creating a poper `.eslintrc.json` for react.

<img width="451" alt="capture" src="https://user-images.githubusercontent.com/1931590/90529044-8d84ca00-e173-11ea-8ef7-3dbaef023e32.png">

[2020-08-18 15:26] bduffany commented on #1012
@dbaeumer I think a lot of people are going to revert back to 2.1.6 or possibly even uninstall vscode-eslint simply out of pure frustration. For me personally, I kept switching between different packages inside a monorepo, where each package was using a different version of eslint, and I kept seeing the warning, which just got to be too annoying and actively thwarting my productivity.

IMO a tempo

[2020-08-18 17:09] awreese commented on #1033
@dbaeumer Just an FYI, since the VScode July 1.48.0 update I've not experienced the high-CPU/poor performance issue. Just prior to the July update I was being forced to completely close out of and restart VScode about once an hour because it would become so unstable. Since the update I've had several instances open and running without issue for several days.

[2020-08-18 17:15] antikvarBE commented on #1033
Happens to me on MacOS.

[2020-08-18 17:30] webOS101 commented on #1033
I believe all the reports I've seen reference OS X.  I do have a slightly different setup for npm, it requires installing the following globally instead of letting the Enact cli handle the redirection to the packages. If it helps at all:

[code]

I still have the problem with the VS Code `1.48.0`.

[2020-08-18 23:55] jsejcksn commented on #1012
The modal dialog is much more problematic than these listed concerns.

[2020-08-19 08:53] dbaeumer commented on #1012
The problem with the `Always Allow` is that I need to design something that is acceptable from a security perspective. It is not only about adding a button. Since VS Code needs to do the same I simply want to avoid the double effort.

The concerns are not the API the concerns are the problems that raise with this. I will add the changes I already did to a branch. @jsejcksn may be you want to contr

[2020-08-19 08:56] dbaeumer commented on #1033
@webOS101 since it seems that it reproduces for you quite frequently can you do the following: add the setting `eslint.debug: true` and when it happens can you provide me with the trace that is printed to the ESlint output channel.

[2020-08-19 11:33] jsejcksn commented on #1012
@dbaeumer [I shared an idea](https://github.com/microsoft/vscode-eslint/issues/1012#issuecomment-660949644) earlier in this conversation about using a notification instead of a modal dialog, but you dismissed it.

Are you saying that you have changed your mind and now would like for someone to contribute a PR that replaces the modal dialog with a notification like the one I mentioned?

[2020-08-19 14:09] jtarvainen commented on #1046
Could you please share the .eslintrc.json file so I could try it out?

Also, can you confirm that you don't have eslint installed globally?

[2020-08-19 14:14] dbaeumer commented on #1012
@jsejcksn I did another attempt at it but it is still not nice. The easy thing about the dialog is that there is one question at a time and the user can't open another file when the dialog is present. This is completely different with notifications and the way how the API works. You might end up with n stacked notification asking for n different eslint libraries. In addition quite some management

[2020-08-19 14:16] dbaeumer commented on #1046
I created the eslintrc file by running `eslint --init`

[2020-08-20 11:35] jtarvainen commented on #1046
I had previously not done that, since selecting any of the popular style guides as a basis results in the local installation of a version of eslint (in my case, 7.7.0) that is incompatible with create-react-app's requirements and prevents the project from starting with the following error:

However, I now ran the command with the following selections:

This results in the following:

After doing t

[2020-08-20 11:54] jtarvainen commented on #1046
EDIT: the problem seems to have disappeared by itself. It may have something to do with the fact that I deleted a VS Code workspace settings file, but even that doesn't sound plausible. Anyway, all seems to be well now. Thanks for your help.

[2020-08-20 15:05] bduffany commented on #1012
@dbaeumer I think I understand where you're at now. You could implement your own "Always Allow" button, but the solution would essentially be identical to what the VS Code team is already trying to implement.

But I would hazard a guess that the VS Code is trying to implement something much more comprehensive, with UI controls for trusted workspaces, etc.

It seems to me like all you would need to

[2020-08-20 17:18] DLehenbauer commented on #1012
I avoided being prompted for each new folder in a mono repo by pointing the plugin at a specific ESLint instance:
[code]

[2020-08-21 03:12] webOS101 commented on #1033
Here's a trace.

[VSCode Eslint Trace.txt](https://github.com/microsoft/vscode-eslint/files/5106588/VSCode.Eslint.Trace.txt)

[2020-08-21 04:37] linuxsimba commented on #1033
After suffering with high cpu due to vscode-eslint for months, changing the Estlint run mode from the default  `onType` to `onSave` now keeps my dev PC nice and cool :)
[code]

Perhaps changing the default from `onType` to `onSave` may resolve the problem for others?

[2020-08-21 08:15] dbaeumer commented on #1012
@bduffany do I understand you correctly that what you are suggesting is for all eslint lbraries in one workspace folder. It is not about allowing eslint for all workspace folders including future once.

[2020-08-21 08:43] dbaeumer commented on #1033
@webOS101

Thanks for the trace. The bad thing is that the hang actually appears to happen in ESLint code itself when loading the configuration.  Without actual steps to reproduce this is very hard to track down and at the end very likely needs support from the ESLint team. So any steps would be highly appreciated.

Another thing that is interesting is that validation gets slower and slower over t

[2020-08-21 08:48] dbaeumer commented on #1046
I will close the issue then. Please ping if you have new insights.

[2020-08-21 08:48] #1046 closed

[2020-08-23 22:26] webOS101 commented on #1033
I can give that a shot.  It's easy enough to install the typescript plugins, though I don't have any typescript files in my project.  I also tried testing to see if something was multiply invoking the same tests for each run of the linter.  However, that does not appear to be the case.

[2020-08-24 07:32] dbaeumer commented on #446
The problem is that ESLint has quite some locations where a eslint configuration can be stored. It is not only `.eslintrc` file in various directories but also `package.json` files. If we only want to check for `.eslintrc.*` files in the root directory then it is easy (see https://github.com/microsoft/vscode-eslint/blob/release/2.1.x/client/src/extension.ts#L838). But this will very likely not wor

[2020-08-24 09:18] iRoachie commented on #446
@dbaeumer Outside of checking for multiple locations, do you see any other cases that might block this?

I was also thinking maybe it's an optional toggle, and v1 could be just .eslintrc with the others to follow

[2020-08-24 10:07] wyuenho commented on #1037
Are you telling me [all of this](https://github.com/microsoft/vscode-eslint/compare/master...release/2.1.8) has to do with a security fix? How many silly spelling errors to interfaces have you made in the code base? Where's the tag for 1.9.2? Where's the Changelog between 2.0.5 and 2.0.9?

[2020-08-24 11:21] #1043 closed

[2020-08-24 11:21] #1045 closed

[2020-08-24 11:21] #1048 closed

[2020-08-25 07:24] dbaeumer opened #1050 "Adopt extensionUri and joinPath"
See https://github.com/microsoft/vscode/issues/105277

[2020-08-25 07:41] dbaeumer commented on #1037
Yes, this was all due to the security fix.  There is still a difference between 2.1.8 and master since the security fix was made on a branch and no new release as been made off master. It could be that same older version don't have proper tags. If I recall the version 2.0.6 - 2.0.8 correctly then these were some internal testing version provided as insider version for special testing.

As said ear

[2020-08-25 07:43] dbaeumer commented on #446
The major problem is that this put the extension into a catchup with the ESLint library. If they add a new config location or a new way to define the config we need to honor this. This is why in general I stay away from this and such a feature can only go behind a flag and must be off by default.

[2020-08-25 07:46] wyuenho commented on #1037
Does your code get reviewed before merging or is this entirely a one-man project?

[2020-08-25 09:29] donggua-c commented on #1023
i use this command but it tips command not found: ESLint:
what should i do? (installed eslint but it doesn't work  )

[2020-08-25 11:45] crystalfp opened #1051 "Plugin complains that *.d.ts not included in a project"
Issue Type: <b>Bug</b>

I'm adding *.d.ts files in the same directory as the corresponding *.ts files to satisfy the import statements.

The `eslint.yaml` file contains `parserOptions.project` that points to the corresponding tsconfig.json file. This file contains: `include: ["*"]` statement. But the plugin, and **not** eslint standalone, complains:
[code]
Explicitly putting `"*.d.ts"` in `include

[2020-08-25 12:10] crystalfp commented on #1051
Solved: I have to reference my *.d.ts files in "include" with `**/*.d.ts` Instead `"*"` or `"*.d.ts"` apparently do not find the file.

My question. Are these globs relative to the `tsconfig.json` file location or relative to the workspace directory?

Thanks!

[2020-08-25 12:14] dbaeumer commented on #1023
@donggua-c that is strange. Which version have you installed?

[2020-08-25 12:16] dbaeumer commented on #1051
@crystalfp those are relative to the `tsconfig.json` file. In general question about the `tsconfig.json` file are better ask in the TypeScript repository.

[2020-08-25 12:16] #1051 closed

[2020-08-25 13:57] crystalfp commented on #1051
Well, no. "include" works as specified outside the plugin, inside the plugin seems the base directory is the workplace one, not where the tsconfig file is located.

[2020-08-25 14:30] ranyitz commented on #1012
Thanks @ryanblock I'm going to revert to `2.1.6`.

@dbaeumer In case someone successfully inserted a malicious version of `eslint` to my `node_modules` directory I would most probably won't know about it and press `allow` anyways. Therefore I don't see how this increases the security. It just resulting with more manual clicking and like most people said, you can easily ignore the popup and you'll

[2020-08-25 14:34] ranyitz commented on #1012
Adding a visual explanation for the workaround (Installing the version of this plugin that didn't include this change)

![image](https://user-images.githubusercontent.com/11733036/91187507-eb2b9000-e6f8-11ea-896c-0e10a8d49a14.png)

[2020-08-25 22:10] rjgotten commented on #1012
Doesn't even have to be eslint itself which is malicious. Could be any plugin loaded by the eslint configuration and in case of the configuration being a `.eslintrc.js` file, i.e. full on JavaScript, it could even be the configuration file itself.

[2020-08-25 23:32] stevage commented on #1023
I'm finding this message super annoying. I work on tons of different projects, so even "once per workspace" is a lot, and really breaks my flow. It adds zero value to me. Would love to be able to suppress this globally.

[2020-08-26 00:28] danielpza commented on #1003
@dbaeumer any news on this issue? I'll be glad to work on this feature if needed.

[2020-08-26 00:57] Mossop opened #1052 "Failed to load config "./node_modules/kcd-scripts/eslint.js" to extend from."
Since #974 is locked this is a re-file for the same issue that still occurs and is reproducible with the repository at https://github.com/Mossop/vscode-eslint-974.

Simply clone, `npm install` and then open the directory in VS Code and open the test.ts file there. You'll quickly see a popup notification complaining about referencing `./node_modules/kcd-scripts/eslint.js` which correctly doesn't ex

[2020-08-26 01:34] donggua-c commented on #1023
v7.7.0

[2020-08-26 01:42] donggua-c commented on #1023
sry i tried it in a wrong way and i retry it successed. sry to waste ur time

[2020-08-26 07:17] ramigs commented on #1012
as suggested by @ryanblock reverting to 2.1.6 solved it for me

[2020-08-26 07:18] ramigs commented on #1023
as suggested by @ryanblock in #1012 reverting to 2.1.6 solved it for me

[2020-08-26 09:51] dbaeumer commented on #1003
No news. Feature is marked as `help wanted`

[2020-08-26 09:52] dbaeumer commented on #1051
Hmm, I think I misunderstood you then. The include inside a tsconfig should be relative to the tsconfig.

[2020-08-26 11:43] dbaeumer commented on #1052
This works for me without problems. Here is what I see after running npm install and opening the workspace

<img width="845" alt="capture" src="https://user-images.githubusercontent.com/1931590/91299601-2d5cdc00-e7a2-11ea-89dc-4d6bd6e264de.png">

[2020-08-26 14:02] pauliunas opened #1054 "Nested plugins not loaded correctly"
There have been various (now closed) issues regarding shared configs in monorepos and the loading of eslint plugins. The config often works with eslint when running from command line, but doesn't in the plugin because it can't load this or that eslint plugin. The usual suggestion is to use the `resolvePluginsRelativeTo` option. This works fine if all the packages in the monorepo use the same confi

[2020-08-26 16:02] Mossop commented on #1052
Ah you're right, looks like it depends on some settings. I narrowed it down to requiring these settings:

[code]

So perhaps this is actually a bug in the TypeScript project diagnostics?

[2020-08-27 00:53] danielpza commented on #1003
@dbaeumer I made a PR #1053

[2020-08-27 07:50] dbaeumer commented on #1003
Commented on the PR.

[2020-08-27 07:52] dbaeumer commented on #1052
Could be. Best would be to file an issue against VS Code then. I will close the issue. Ping if you think there is something this extension needs to do.

[2020-08-27 07:52] #1052 closed

[2020-08-27 07:54] dbaeumer commented on #1054
@pauliunas without having a GitHub repository I can clone to debug this it is hard to tell. Could you please provide one?

My guess is that since you have a mono repository it might have something to do with the working directory setup.

[2020-08-27 13:14] pauliunas commented on #1054
I copy/pasted the relevant parts into this repository I had created for a previous issue. That reproduces the problem for me.
https://github.com/pauliunas/rush-example

[2020-08-27 15:48] martintasker commented on #1012
I've just downgraded eslint to 2.1.6.

I'm really sad about this.  VS Code is a fabulous IDE, the eslint plugin is brilliant tool.  But this UX since mid-July is the first really silly thing that's happened since I've started using Code.

Just to add another dimension of pain, I have very poor eyesight, which means on the one hand that I particularly appreciate VS Code's beautiful design, and on t

[2020-08-27 15:52] adriencaccia commented on #983
Thanks a lot @mattlubner, I'm using `eslint-import-resolver-babel-module` also with a custom `babel` config that requires a custom `NODE_ENV`, so this feature will gladly improve my workflow :smile:.

@dbaeumer, do you have an ETA for a new version of the extension containing this feature ?

Thanks again for all your work !

[2020-08-28 01:42] Laev commented on #1012
This also helped me

[2020-08-28 19:55] h3xsoul opened #1055 "Getting code actions from ''ESLint''"
Issue Type: <b>Performance Issue</b>

I got a performance regression after an update of VSCode insider, not sure which version was working fine, updated on 08.26.2020 - 08.27.2020. Today decided to report an issue.

I found a couple of similar problems:

https://github.com/microsoft/vscode-eslint/issues/999
https://github.com/microsoft/vscode/issues/102956

settings.json
[code]

ESlint node module

[2020-08-30 07:36] snowManF opened #1056 "Casing of [import] does not match the underlying filesystem."
hello

 I‘m getting false positive with the plugin on the rule "import/no-unresolved" in Visual Studio Code.
Casing of [import] does not match the underlying filesystem.

But  run eslint , I don't got this error.

i don‘t know how to fix this problem, if anyone knows please help me，Thanks a bundle!

[2020-08-30 11:57] remcohaszing opened #1057 "Limit underline for large reported nodes"
Some ESLint rules highlight large nodes. This causes large code blocks to get reported in the editor. This is a bad UX, as this makes it hard to see other issues in the file.

In a discussion in jest-community/eslint-plugin-jest#539, jest-community/eslint-plugin-jest#641, and jest-community/eslint-plugin-jest#654, a collaborator stated this should be solved by the editor plugins, not the plugins.

[2020-08-31 14:14] petrnymsa opened #1058 "Format on save took to long to process"
ESLint version: 2.1.8
VSCode: 1.48.2
OS Version: Windows version 2004, OS Build 19041

When saving the file, the eslint formatter takes too long to format and save the file. Unfornutaley this issue happens very randomly.

The message box with the following message appears: `Saving 'xzy.ts': Running 'ESLint' Formatter` and took about 2 seconds.

Within developer console, i could see
[code]

[2020-08-31 16:04] mcchong opened #1059 "Overrides warnings not showing in problems pane"
I am migrating from a javascript project to typescript, and have set up a eslintrc.yml file with the following overrides:

[code]

However, the warnings emitted by that overrides (which appear when building in the terminal) do not show in the problems pane.  I can't figure how to enable them so I think this is a bug.

Some more details:
- lint task is enabled
- I can see warnings from eslint from

[2020-08-31 16:46] Nokel81 opened #1060 "Plugin is unresponsive with typescript v4.0.2"
I am currently trying to use this plugin in the following environment:

OS: macos 10.15.6
VSCode: 1.48
Plugin: 2.1.8
TS: 4.0.2

But as soon as I type anything that is an error (eg the first `/` in a comment which is also the beginning of a regex expression) that is the only error reported and that error is never retracted (eg after typing the second `/` in a comment).

Expected behaviour: update t

[2020-08-31 17:05] Nokel81 commented on #1060
I have found that I was using an outdated version of the typescript parser, (which coincidentally prints out a warning) maybe that warning should be displayed to the user.

[2020-08-31 18:20] willian opened #1061 "issue with eslint-plugin-cypess"
Hi there.
I don't have any npm package related to eslint installed. Actually, this is all I have:
[code]
Then, in my project I have these installed (filtered with `grep eslint`):
[code]
And I get this warning anytime I open a `.js` file from the project.
![Screen Shot 2020-08-31 at 2 59 59 PM](https://user-images.githubusercontent.com/19230/91751100-970e2900-eb9a-11ea-877e-41259d365482.png)

The s

[2020-09-01 07:59] dbaeumer commented on #983
Actually this got delayed due to the security work. I will look into it in September.

[2020-09-01 13:08] pauliunas commented on #1054
@dbaeumer any luck debugging this issue?

[2020-09-01 13:19] dbaeumer commented on #1054
@pauliunas how is this different from https://github.com/microsoft/vscode-eslint/issues/1040. I am a little reluctant to look into considering all the tricks the rush tooling does to make ESLint work.

[2020-09-01 13:26] dbaeumer commented on #1054
I cloned the repository and ran rush and they still patch the eslint command and patch in a custom `NODE_PATH` which very likely makes loading the typescript plugin work.

Any additional insights why this is different than #1040.

[2020-09-01 13:26] pauliunas commented on #1054
First of all, in the previous one, the config was hosted as part of a regular npm package. I was expecting that switching to an actual eslint plugin with shared configs would make it work better, as that workflow is more "standard".

But more importantly, I found a use case in which the `resolvePluginsRelativeTo` workaround doesn't work: as outlined in the top comment, adding additional eslint plu

[2020-09-01 13:28] dbaeumer commented on #1061
@willian can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-01 13:35] dbaeumer commented on #1054
The `--resolve-plugins-relative-to` option can only specify one directory. However the `NODE_PATH` env which rush patches into the ESLint command can provide n path which very likely makes this work since it gives you n relative paths.

I think to track this down we need someone from the community with rush expertise.

Have you every tried to use the `eslint.nodePath` setting with the same value?

[2020-09-01 13:37] dbaeumer commented on #1060
@Nokel81 are you still experiencing the slowness. If so can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-01 13:38] dbaeumer commented on #1059
Please see https://github.com/microsoft/vscode-eslint#settings-options especially the setting `eslint.lintTask.enable`.

Please ping if this doesn't address your problem.

[2020-09-01 13:39] dbaeumer commented on #1059
Just to be clear: you need to run the task to get problems for all files using the Run Task command in VS Code.

[2020-09-01 13:40] Nokel81 commented on #1060
Before updating my typescript parser for eslint I was still experiencing the slowness.

The repo I was working on is LensApp/Lens

[2020-09-01 13:41] dbaeumer commented on #1058
@petrnymsa which version of ESLint are you using. The latest version doesn't use `onWillSaveTextDocument`. It uses code action on save instead.

And could you please enable debugging using the `eslint.debug` setting. The ESLint output channel will then contain a trace showing what takes the extra amount of time.

[2020-09-01 13:42] dbaeumer commented on #1060
Can you provide steps on how to reproduce. This otherwise very hard to track down.

[2020-09-01 13:45] dbaeumer commented on #1057
I intentionally stayed away from modifying the ranges reported by ESLint in any ways since I have no knowledge about the actual rendering of the error (for example is the file open?). So I would suggest that something like this is implemented in the UI itself (e.g. VS Code).

I am leaning towards closing the issue.

[2020-09-01 13:47] dbaeumer commented on #1056
Are you sure that error comes from ESLint and not the TypeScript compiler. I know that they have a corresponding setting. If it comes from ESLint then can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-01 13:50] dbaeumer commented on #1055
Without a reproducible case this is very hard to track down. Almost all cases I have seen so far result in high CPU usage in the eslint npm module itself. To verify that you could use the setting `eslint.debug` which prints a performance trace to the ESLint channel.

Can you provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-01 13:50] pauliunas commented on #1054
Interesting, I can't reproduce it anymore in the example repo. I'm guessing it might have been something wrong with my environment setup. On a clean monorepo, setting `resolvePluginsRelativeTo` to the internal eslint plugin now loads plugins both from the target package and from the internal plugin.

I've since moved all our rules into modular/optional configs in our internal plugin as a workaroun

[2020-09-01 13:50] #1054 closed

[2020-09-01 13:52] dbaeumer commented on #1012
@martintasker the VS Code team started work to come up with a better UI that I can reuse. See my comments here https://github.com/microsoft/vscode-eslint/issues/1012#issuecomment-675523469 explaining that I am unable to simply revert that back.

[2020-09-01 13:55] dbaeumer commented on #1054
If you have a repro please ping me in this issue. We can then reopen.

[2020-09-01 14:01] petrnymsa commented on #1058
@dbaeumer
Installed version:
[code]
VSCode plugin version: 2.1.8
-----------------------------------
I've turned on debug mode, as as soon as possible I will add more info. Like I said it occurs very randomly and its hard to reproduce it.

[2020-09-01 14:15] dbaeumer commented on #1058
Thanks!

[2020-09-01 14:38] mcchong commented on #1059
Sorry, updating my description for clarity:
- lint task is enabled
- I can see warnings from eslint from other rules in the "Problems" tab
- I can modify my eslintrc.yml file and disable and enable other rules
- The rules from the overrides item above are not visible in the problems tab, but visible when compiling other ways (e.g. running the build task).

[2020-09-01 15:19] martintasker commented on #1012
Sounds good.  Thanks @dbaeumer.

[2020-09-01 15:26] petrnymsa commented on #1058
@dbaeumer Got little progress.

[code]
Sometimes, more often, when creating new file this error appears `parserOptions.project" has been set for @typescript-eslint/parser.`
This slower save like I said occurs randomly and still not have a way to reproduce it.

[2020-09-01 15:54] Nokel81 commented on #1060
Sure,

1. Clone https://github.com/lensapp/lens/commit/cb3e19f2f09b226dfb8b96a874f14e944cd7e5db
2. Run `yarn`
3. Configure vscode (with the above version) to use the repo version of eslint
4. The error should now occur in any file

To fix the issue git checkout https://github.com/lensapp/lens/commit/8c0ee5dc37d3c21e53dc79f63038b63d9c74985a instead which updates the version of the parser.

[2020-09-02 08:46] petrnymsa commented on #1058
@dbaeumer  Can confirm once more, different file, same error

[2020-09-02 11:54] dbaeumer commented on #1058
@petrnymsa this is very wired and somehow outside of my code. It is inside the TS eslint plugin. What happens if you run eslint in the terminal in that state?

[2020-09-02 11:57] dbaeumer commented on #1060
@Nokel81 thanks for the repository. Actually when using TS 4.x with an older version of the eslint TS plugin I get a warning that this is not supported. So moving to 4.x there as well makes sense to me.

From a extension perspective there sis not much I can do about this. So I opt to close and if you think that is something that needs to be addressed you should open an issue against the typescript

[2020-09-02 11:57] #1060 closed

[2020-09-02 11:58] dbaeumer commented on #1059
@mcchong can you provide me with a GitHub repository I can clone that demos that.

[2020-09-02 12:42] Nokel81 commented on #1060
I think that displaying the same warning while in VS code would be good

[2020-09-02 16:17] h3xsoul commented on #1055
@dbaeumer Unfortunately I can't share the project but let me try with debug info.

[2020-09-03 08:53] Daaron3 opened #1062 "eslint-plugin-sort-class-members sorting class members"
Eslint: 6.8.0
eslint-plugin-sort-class-members: 1.8.0
Vscode Eslint Plugin: 2.1.8
Vscode: 1.48.2
OS: Windows_NT x64

Hello, I use plugin for eslint sort-class-members https://github.com/bryanrsmith/eslint-plugin-sort-class-members that sorts class members by groups and then sorts members alphabeticaly in this groups.

The plugin works perfectly in the console and sorts members alphabeticaly right.

[2020-09-03 09:43] numfin commented on #477
is it seriously not implemented yet?

[2020-09-03 12:39] SergioKastro commented on #1023
The same here , thanks for the suggestion to downgrade to 2.1.6. Now the pop message is gone.

[2020-09-04 07:29] dbaeumer commented on #1060
The warning is displayed in the ESLint output channel. I had code in the past the pop the channel to the front in these case but users opted against this since it is at the end very disturbing

[2020-09-04 07:30] dbaeumer commented on #1055
@h3xsoul thanks. Let me know what you find out.

Dirk

[2020-09-04 09:49] mdazy opened #1063 "Plugin stops working when specifying options for sort-imports rule"
Using eslint 7.8.1 and ESLint plugin 2.1.8.

I'm in the process of adding the `sort-imports` rule in our code base. Adding this in the `.eslintrc.json` file works fine:
[code]
However, adding options to customize the rule does not:
[code]
This ends up with the plugin reporting one of these:
[code]
or
[code]
After that the plugin appears to stop entirely - in-code highlights are not updated, includ

[2020-09-04 11:35] dbaeumer commented on #1063
@mdazy can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-04 11:36] dbaeumer commented on #1063
The error is thrown by the eslint npm module itseld (`node_modules\eslint\lib\shared\config-validator.js:187:9`) so to my knowledge the terminal should produce the same problem.

[2020-09-04 12:15] mdazy commented on #1063
I expected as much, but CLI run seems to be working.
Working on extracting a minimal repro.

[2020-09-04 12:40] Nokel81 commented on #1060
Okay fair

[2020-09-04 13:36] mdazy commented on #1063
Tried hard to repro, but no luck. I eventually restarted VSCode on my main project and of course everything's running fine now.
I thought maybe upgrading eslint under the plugin's feet might have caused this but I tried to redo the same version changes back and forth and still no problem.
Still no clue what might have happened, but I'll close this as a non-issue.
Sorry for the trouble.

[2020-09-04 13:36] #1063 closed

[2020-09-04 15:26] dotansimha opened #1064 "Dynamic comment prefix based on file type?"
As I can see in the code here:
https://github.com/microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L1666-L1680

The actions for disabling are always using `//` or `/*`, but in some cases, like with files of type `.yaml`, a `#` needs to be used instead of `//`.

What do you think? Is that a valid use case? If so, I can open a PR ;)

[2020-09-07 09:06] dbaeumer commented on #1064
Actually that does make sense and someone already started to look into this for Coffeescript. So may be you can simply extend the PR https://github.com/microsoft/vscode-eslint/pull/857/files

[2020-09-07 10:07] rchl opened #1065 "Proposal for supporting Diagnostic.code in object form"
As discussed in https://github.com/microsoft/vscode-eslint/issues/992, the `Diagnostic.code` will also allow an object form in the next version of the spec. Yet when I look at https://microsoft.github.io/language-server-protocol/specifications/specification-3-16/ it's still not included there.

Can this be clarified? Is it on track to make it and where it's being proposed?

[2020-09-07 17:02] Timmmm opened #1066 "Support to customize eslint location for lint task"
According to the Readme:

I enabled that setting, but if I press Ctrl-Shift-P and type `whole folder` it doesn't find anything. I'm using VSCode 1.48.2 with the ESLint plugin version 2.1.8.

[2020-09-07 17:03] Timmmm commented on #1066
Ah, it's a "Task" not a "Command". You might want to explain in the Readme how to activate it since it isn't obvious!

[2020-09-07 17:05] Timmmm commented on #1066
Although... it still doesn't work:

[code]

I don't have `eslint` in my `PATH`, (it's in `node_modules`). This extension can find it in normal operation. I guess you need to use the "find eslint" logic for this task too.

[2020-09-08 01:53] hengkx commented on #1058
Rule                               | Time (ms) | Relative
:----------------------------------|----------:|--------:
@typescript-eslint/no-implied-eval |  3492.658 |    18.8%
import/no-named-as-default         |  1726.897 |     9.3%
import/named                       |  1334.207 |     7.2%
import/no-extraneous-dependencies  |  1091.333 |     5.9%
import/no-unresolved               |   977.847 |

[2020-09-08 07:58] dbaeumer commented on #1065
The reason for this is that we had internal discussion about a different approach. But I do agree this needs to be documented. I will follow up on this.

[2020-09-08 08:00] rchl commented on #1065
I think I've meant to file this in the LSP repository so feel free to move if possible.

[2020-09-08 08:01] dbaeumer commented on #1065
The LSP issue is: https://github.com/microsoft/vscode-languageserver-node/issues/601

[2020-09-08 08:01] dbaeumer commented on #1065
I will close the issue.

[2020-09-08 08:01] #1065 closed

[2020-09-08 08:03] dbaeumer commented on #1058
@hengkx how did you produce these numbers ?

[2020-09-08 08:05] petrnymsa commented on #1058
Sorry for the late response. Unfortunately, I was not able to verify this as the issue happens randomly without any pattern to reproduce it.
However, through CLI it seems without any issues.

[2020-09-08 08:07] dbaeumer commented on #1066
Where do you have eslint installed. The best I think would be to provide a setting since it might be difficult to handle all locations correctly.

[2020-09-08 11:05] Timmmm commented on #1066
It is in a parent directory's `node_modules`, i.e. `../node_modules/.bin/eslint`.

I don't understand how it works already though - or does the extension bundle its own copy of ESLint?

[2020-09-08 14:08] #1056 closed

[2020-09-08 14:09] #1057 closed

[2020-09-08 14:09] #1061 closed

[2020-09-09 08:58] dbaeumer commented on #1066
No, the extension doesn't bundle its own copy of eslint

[2020-09-09 09:02] dbaeumer commented on #1058
This is very hard to understand without a reproducible case. I still think that it is something in ESLint itself and not with the extension.

[2020-09-09 09:09] Arjanvanmaren opened #1067 "Eslint plugin not taking the right tsconfig"
In our project we have several tsconfig files.

We have a
tsconfig.json (for react-native-web)
tsconfig-app.json
tsconfig-eslint.json

What we are trying to accomplish is to use the tsconfig.eslint.json as the tsconfig for eslint. We have configured it like below.

[code]

After setting this we noticed that the eslint cli takes this configuration into account. But the vscode plugin keeps looking a

[2020-09-09 10:33] Timmmm commented on #1066
Ah so I looked into the code and when running normally, it [calls](https://github.com/microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L737) VSCode's [`Files.resolve()`](https://github.com/microsoft/vscode-languageserver-node/blob/d2a3322666101a3c246369f4098d430adc18f2d5/server/src/node/files.ts#L41) function which returns `/Users/me/myproject/node_modules/eslint/lib/api.js`.

So it'

[2020-09-09 11:44] jasonwilliams opened #1068 "Minimise activationEvent scope"
Instead of the * currently in use (in package.json), it would be better to use onStartupFinished.
I believe this would need to bump the minimum version from 1.43 to 1.46 but sounds like it would be a worthwhile change for user experience and performance.

I’ve also noticed this plugin running in process explorer when working in other projects, like Rust for example.
Should it have an onLanguage[ja

[2020-09-09 19:36] JekRock opened #1069 "Different formatting on each file save"
When using the vscode-eslint and eslint-plugin-prettier on each file save the formatting result will be different.
### Project setup
#### package.json
[code]
#### .eslintrc.json
[code]
#### VSCode settings.json
[code]

#### index.js
[code]
### Steps to reproduce

1. Install the vscode-eslint extension
2. Open the project with all setting specified above
3. Call npm i
4. Change anything in the inde

[2020-09-10 09:13] dbaeumer commented on #1069
Which formatter do you have configured in VS Code. From how this looks it is not ESLint. Might be TS which would explain this.

And can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-10 09:16] dbaeumer commented on #1068
`onStartupFinished` will only delay the startup. The plugin is written in a way that the activation itself is pretty fast. It doesn't start the eslint server either. Only when a file type opens that is considered to be validated.

The problem with ESLint is that it has plugins and can therefore validate file types different than TS/JS. Since the list is pratically open ended `onLanguage` doesn't w

[2020-09-10 09:18] dbaeumer commented on #1066
For all the details around this please see https://github.com/microsoft/vscode-eslint/issues/91. Any objection to dup it.

[2020-09-10 09:19] dbaeumer commented on #1067
@Arjanvanmaren does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-10 09:24] Timmmm commented on #1066
Yeah seems reasonable. I don't think supporting a custom location for the task is that useful given that I can easily just write my own task to run eslint.

[2020-09-10 09:24] #1066 closed

[2020-09-10 09:38] jasonwilliams commented on #1068
@dbaeumer hmm even if startup is fast I’m not sure why it needs to be started instantly over after VSCode has started? The docs themselves say to use * “only when no other activation events combination works”.

I agree about language, it sounds like that’s not really possible to guard like you said.

[2020-09-10 13:39] Arjanvanmaren commented on #1067
@dbaeumer Hi, I found out what the issue was.

We had three different tsconfigs as you know:
tsconfig.json (for react-native-web as we can not set a path for a custom tsconfig)
tsconfig-app.json
tsconfig-eslint.json

In the ts-config.json (for react native web) we excluded the paths node as these are not supported by react native web. If we leave these in, the file is edited after running the comm

[2020-09-11 07:18] dbaeumer commented on #1062
The VS Code ESLint extension doesn't do the sorting. It forwards to the eslint and the plugin. Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-11 07:19] dbaeumer commented on #1067
Makes sense. I will close the issue then. Feel free to report it directly against VS Code.

[2020-09-11 07:19] #1067 closed

[2020-09-12 14:30] BjMrq opened #1070 "[feature request] Warnings not display but still formated on save"
Hello,
I Was wondering if it is possible (or could be made possible) to have a configuration option as such:
- eslint rules with a "warn" level would be not displayed in the ide to avoid visual "pollution" but still formatted on saving

use case:
- Set up some rules like indentation and spacing on warn level
- writing a bunch off code, not taking care of indentation and spacings
- I don't get "bot

[2020-09-12 14:32] BjMrq commented on #1070
Or a

eslint.displayRuleLevel

and you can choose the level off the rules you want displayed

[2020-09-14 07:47] dbaeumer commented on #1070
Dups https://github.com/microsoft/vscode-eslint/pull/993

[2020-09-14 07:47] #1070 closed

[2020-09-14 12:06] BjMrq commented on #1070
Hello, thanks your response.
I am not sure how it is a duplicate.
It will allow to override rules, but will be able to not display some in the IDE but still fix them on save?

[2020-09-14 19:00] JekRock commented on #1069
@dbaeumer please find the repository with instructions [here](https://github.com/JekRock/vscode-eslint-formatting)

[2020-09-15 09:33] dbaeumer commented on #1069
This is due to your configuration. The default prettier config recommends no space and you ask for a space. Since ESLint (the npm module) computes these fixes in a loop the once either complains about the other or vice versa. I had some code that always force a re-computation but that had negative performance impacts so I took it out for code action on save.

I suggest that you make the configurat

[2020-09-15 09:34] dbaeumer commented on #1070
Yes, that was the request and the started implemention in the PR.

[2020-09-15 16:39] brunoparga commented on #1044
Sorry it took me a while to post this. [This repo](https://github.com/brunoparga/cicero/) has the problem. Running eslint --fix in the terminal performs the right fixes, only once.

The versions have since been updated to VSCodium 1.49.0, vscode-eslint 2.1.5, node 14.10.1,  pnpm 5.5.13.

[2020-09-16 09:10] #1058 closed

[2020-09-16 09:13] JekRock commented on #1069
@dbaeumer thanks for your answer.
That behaviour of the plugin still looks strange to me. I thout that eslint and prettier apply changes sequentially so the result for the provided example will be file formatted by either eslint or by prettier. But it contains the result of both formatters in the same file (and they switch on each save).
Shouldn't the result of the formatting be consistent?

[2020-09-16 09:29] dbaeumer commented on #1069
See this

What I basically do is I remember the fixes from the reported problems to speed up the save. If I have overlaps I drop the overlaps. So the fix for you would be to give you a setting to always force the re-computation. But as said that makes things slow. This is why I recommend to use the same configuration for both prettier and eslint.

[2020-09-16 09:34] dbaeumer commented on #1044
Can you provide me with the VS Code settings.json and which file you are seeing the issue in?

[2020-09-16 12:34] brunoparga commented on #1044
On this repository, I saw the issue on ./src/components/App.tsx and ./src/components/shared/Topbar.tsx, but I expect it would happen on pretty much any TS files. I think I also saw it on CSS files. On another repo, it also happens on non-TS JavaScript files.

Here's my `settings.json`:

[code]

[2020-09-16 14:45] Bow2Jesus opened #1071 "VS Code: Couldn't start client ESLint"
The ESLint extension quit working in VS Code when I closed and reopened VS Code.  It still works fine when ran from the command line.  It produces the following output when the extension is invoked by VS Code:

[Info  - 9:37:15 AM] ESLint server stopped.
[Info  - 9:37:16 AM] ESLint server stopped.
[Error - 9:37:16 AM] Starting client failed
Error: spawn UNKNOWN
	at ChildProcess.spawn (internal/chi

[2020-09-16 16:09] dpistoleKUBRA commented on #1012
This one bit me. I've lost 3 days of productivity trying to move eslint config around trying to figure out why I would get way more typescript lint errors from my `npm link` script (which uses local to project eslint) but not in the code editor. I assume at some point in the past I clicked something other than `Allow` on the prompt out of frustration at its frequency. I was getting _some_ errors (

[2020-09-16 20:10] JekRock commented on #1069
I got your point.
Thanks for the answer!

[2020-09-17 07:22] dbaeumer commented on #1069
Closing the issue then. Thanks for your understanding.

[2020-09-17 07:22] #1069 closed

[2020-09-17 07:25] dbaeumer commented on #1012
For others that hit this: there is a visual indication in the status line that ESLint is blocked.

<img width="46" alt="capture" src="https://user-images.githubusercontent.com/1931590/93433902-b65dc380-f8c7-11ea-9be0-b849ec201338.png">

[2020-09-17 07:28] dbaeumer commented on #1071
Actually no idea. The client can't spawn the server process. Any specific security settings on your machine. And is there anything in the console (Help > Toggle Developer Tools).

[2020-09-17 07:52] dbaeumer commented on #1044
I don't fully understand why but the eslint server is called two times to compute the fixes. You can woraround this but removing `"source.fixAll": true` from your settings.

[2020-09-17 08:08] dbaeumer commented on #1044
Root cause is this: https://github.com/microsoft/vscode/issues/106924

I also added some protection code on my end.

[2020-09-17 08:09] #1044 closed

[2020-09-17 10:59] cat-street opened #1072 "VSCode: cannot initialize ESLint by 'Create ESLint Configuration' from command palette"
- ESLint Extension: 2.1.8
- ESLint: 7.9.0 (installed locally with --save-dev)
- VSCode: 1.49.0
- Node.JS: 12.14.1
- NPM: 6.14.7
- OS: Windows_NT x64 10.0.19041

Steps to reproduce:
- Open a project folder
- Open a VSCode command palette
- Choose 'ESLint: Create ESLint Configuration' and execute

Expected behavior:
- ESLint initialization dialogue

Actual behaviour:
- VSCode bash terminal error:
[c

[2020-09-17 13:27] Gameghostify commented on #1012
Had to revert to 2.1.6 as well

It would be awesome if there was a flag to opt-out

Being opt-in by default is a good thing as it's for security, but letting us opt out with a setting like `eslint.disableLibraryDecisions` is something that feels like it's missing at this point

[2020-09-17 19:04] karlhorky opened #1073 "Creating a Global Config Package"
Hi there!

First of all, thanks for all of your work on this, ESLint is great, especially for beginners learning what is correct and what isn't.

Similar to @cyberbiont's query from #976, I'm trying to create a global ESLint config for all projects that will get replaced by a local configuration file + local ESLint install, if it exists.

The reason I want this is so that I as a teacher and also a

[2020-09-18 03:25] blackLearning opened #1074 "doesn't apply right fix comment in jsx/tsx context"
Can we check the context of code, when apply quick fix comment?

Expect:
![image](https://user-images.githubusercontent.com/15011394/93551632-f04ec880-f9a0-11ea-9061-a537fb1aab8e.png)

got:
![image](https://user-images.githubusercontent.com/15011394/93551531-acf45a00-f9a0-11ea-9db7-c9b6cf10b11c.png)

[2020-09-18 07:42] #1062 closed

[2020-09-18 08:21] dbaeumer commented on #1074
See https://github.com/microsoft/vscode-eslint/pull/857. May be you want to extend that one to handle jsx/tsx context as well.

[2020-09-18 08:27] dbaeumer commented on #1073
@karlhorky actually I think this is not a good approach. Tweaking nodePath, configFile and plugin resolving are expert level knobs and I am pretty sure such tweaks will cause problems if you later on add additional ESLint plugins.

ESLint (the npm module) support default configuration stored in an npm module. See https://eslint.org/docs/user-guide/configuring#using-a-shareable-configuration-packag

[2020-09-18 08:28] dbaeumer commented on #1072
Which terminal are you using under Windows?

[2020-09-18 08:34] cat-street commented on #1072
It's Git Bash

[2020-09-18 09:43] karlhorky commented on #1073
Right yeah, I would like to avoid this if possible too.

Right yeah I would like to use a shared configuration if that would be possible without installing any libraries in a project. As per in the original description, one of the main motivations is this:

So the workflow looks like this:

1. Create a throwaway demo project folder with only an index.js inside
2. Show some concept or feature in No

[2020-09-18 13:03] rjgotten commented on #1012
... would open a security hole. A malicious project could include that setting in a `.vscode/settings.json` file local to the project, override your choice and force their doctored ESLint to be used directly.

[2020-09-19 16:50] bduffany commented on #1012
@rjgotten I don't see your point -- if you downloaded a malicious project, you are already screwed. Running `yarn install` within that project could do god knows what to your computer.

[2020-09-21 08:56] dbaeumer commented on #1012
@bduffany the problem is that you can create a Git repository with all node_modules included. In this case the user simply needs to open VS Code on it and the ESLint extension executes the code without the user knowing.

In the yarn install case the user needs to type an install command in a terminal.

[2020-09-21 08:59] dbaeumer commented on #1073
In this case I would opt that you use yeoman generator. All a student has to do is to type yo myexample and you can generate everything. The generator even runs npm install.

[2020-09-21 10:44] karlhorky commented on #1073
Scaffolding and generating tools can be useful to save typing, but we do not want to have tooling installed in all of our super small demos.

The idea is: when a code editor is opened with a new `index.js` in an empty folder, it should have some default best practices linting provided without having to install anything.

Does this go against the ideals of this project? It seems that there is some

[2020-09-21 12:23] dbaeumer commented on #1073
All I can say is that your current approach will sooner or later cause problems. If you look how ESLint is normally used things are installed locally into your workspace.

Another idea would be to have a VS Code extension that does this. You could even bundle extensions into a feature pack.

I will close the issue since there is no intention in the ESLint extension itself to support this. We can s

[2020-09-21 12:23] #1073 closed

[2020-09-21 13:14] karlhorky commented on #1073
Ok, thanks for the feedback.

Maybe the best "correct" way of doing it would be another VS Code extension, with built-in binaries for ESLint.

Could you quickly expound on your comment below as to what types of problems configuring `eslint.nodePath`, `eslint.options.configFile` and `eslint.options.resolvePluginsRelativeTo` can cause?

[2020-09-21 15:14] bduffany commented on #1012
@dbaeumer Does not every other extension run into this problem? What about Prettier, TypeScript, etc.?

[2020-09-21 16:10] dbaeumer commented on #1012
I can't talk about Prettier. TypeScript doesn't since by default they use the TS version that ships with VS Code. If you want to use a workspace version you get prompted and need to confirm that.

[2020-09-22 08:38] rjgotten commented on #1012
That's pretty much the point I've been making before as well. There are way too many attack vectors possible to cover them all.

Even when a project doesn't pre-include a malicious `node_modules` folder and the user has to actively perform `npm install` it's still possible to be screwed over with a malicious module. _Even_ if you vet the `package.json` file. Because most people will still forget t

[2020-09-22 09:19] dbaeumer commented on #1073
`eslint.nodePath` change the way how node looks for modules. This might not work with all plugins available for ESlint. Same for `resolvePluginsRelativeTo`

[2020-09-22 09:28] karlhorky commented on #1073
Alright, I'll keep that in mind.

I suppose I won't get around to creating a new VS Code extension any time soon, so instead I've reverted to setting up a "shared config" and requiring that it be installed in each project.

It's unfortunate for smaller projects that shouldn't have any dependencies, but I guess that's the state of the art for tooling right now.

[2020-09-22 10:13] yxzh614 opened #1075 "cannot lint with @typescript-eslint/parser on remote under ~/"
Issue Type: <b>Bug</b>

![image](https://user-images.githubusercontent.com/25242391/93870106-4ef8a700-fcff-11ea-9576-608c9d58d1a4.png)

Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser.
The file does not match your project config: ../../../../../home/yuexianzhe/repos/trident/src/ad/business/basic-plan-info/components/stock-table/BusinessInfo.tsx.
The file must be i

[2020-09-22 13:30] isidorn opened #1076 "ESLint allow message wording"
Current wording:

The ESLint extension will use 'node_modules/eslint' for validation, which is installed locally in 'Node'. If you trust this version of ESLint including all plugins and configuration files it will load, press 'Allow', otherwise press 'Do Not Allow'. Press 'Always Allow' if you trust all local installed ESLint versions in any folder or 'Cancel' to disable ESLINT for this session.

[2020-09-22 14:44] dbaeumer commented on #1076
@isidorn thanks. Good improvement.

@isidorn & @bpasero : do you know how to add a checkbox to a messag dialog triggered via our API

[2020-09-22 14:47] bpasero commented on #1076
@dbaeumer I am not the original author of the API but looking at it it seems we do not allow you to have a checkbox, mainly because it seems both notification and dialog share the same API and in notifications we do not allow a checkbox either. Best you can do is have a "Always Allow" button, and not a checkbox.

[2020-09-22 14:57] dbaeumer commented on #1076
@bpasero Thanks!

[2020-09-22 14:57] isidorn commented on #1076
Oh sucks. I was not aware we do not support the checkbox from extension API.
Then my suggestion is getting worse... You would have to have three buttons
"Trust Always" "Trust for This Folder" "Do Not Trust"

[2020-09-22 15:15] dbaeumer commented on #1076
@bpasero next question :-) How do I add a line break in an information message shown in the notification center ?

[2020-09-22 15:24] bpasero commented on #1076
@dbaeumer also not possible sorry. We wanted to prevent extensions spamming the user with lots of text. That is really not the intention of the API, so formatting is limited to just text and links within.

[2020-09-22 15:26] bpasero commented on #1076
Btw I think a modal dialog is good for this and I am not opposed to having new API to make this work nicely if something is missing (e.g. like checkbox support).

I am not in the loop of the discussion about UX, but what is the final result going to be?

[2020-09-22 15:27] dbaeumer commented on #1076
Will demo something today in the standup.

[2020-09-23 08:19] trideepgogoi commented on #1012
This might seem like a minor inconvenience, but for folks that work on multiple projects and a large code base this is turning out to be a nightmare.
When If I accept the security issues around this the dialog is completely unintuitive. I would guess that most folks are simply going to click the "Allow" Button since there's no indication of why you would want to click Do not allow. And if you clic

[2020-09-23 10:26] rusakovic commented on #477
confirm the issue:
Hot fix for now:
`CMD + shift + p`  and type `typescript: Restart TS server`  or `typescript: Reload Project`

[2020-09-23 11:24] dbaeumer commented on #1075
@yxzh614  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-23 15:11] rowild opened #1077 "ESlint activated for Workspace only not recognised"
I have eslint enabledin my Workspace only:

![Screen Shot 2020-09-23 at 17 07 44](https://user-images.githubusercontent.com/213803/94032032-d574bd80-fdbf-11ea-8f2d-3052f3de4c2b.png)

but it does not seem to be recognised at all, since I get error message in the console saying that I should install it:

[code]

Not sure if this is a bug? Or am I conffiguring sth wrongly? This is what I have in my *

[2020-09-23 15:53] tbuschto commented on #1075
I have the same issue under Windows using WSL/Ubuntu, VSC 1.49.1, extension v2.1.8. It works fine using the eslint cli AND it works when starting VS Code without WSL. It also works if I create a tsconfig.json dedicated to eslint at the project root instead of separate tsconfig.json files for my different sub-projects.

[2020-09-24 06:31] yxzh614 commented on #1075
hello @dbaeumer , here it is https://github.com/yxzh614/eslint-demo
clone it on devbox, use vscode remote to open it, and npm install and then eslint will ask if allow to use local eslint, allow it and the error will show in src/index.tsx
![image](https://user-images.githubusercontent.com/25242391/94108667-4aa0cb00-fe72-11ea-8f20-ffa7bc731503.png)

is there something wrong with eslintrc or tsconfi

[2020-09-24 07:31] #1071 closed

[2020-09-24 19:58] javierguzman commented on #1012
I have a workspace with two folders inside. Each folder has its own "node_modules". Is there a way to tell ESLint to use the respective eslint within the respective node_modules depending what file I am viewing? So far, let's say I choose eslint uses folder1 node_modules, even if I do stuff in folder2, eslint will keep using folder1's node_modules which I think it does not make sense.

Thanks

[2020-09-24 20:59] sploders101 commented on #1075
I just found this issue diagnosing a similar problem. VSCode ESLint was validating vue files (as well as the typescript within them), but not the typescript files themselves. Adding this to my settings fixed the problem:

[code]

However, typescript is still listed under `eslint.probe`, so it may be an issue with probing for language support.
![Screenshot_20200924_145832](https://user-images.githu

[2020-09-25 08:41] dbaeumer commented on #1076
@isidorn I changed the wording and buttons to get it more alligned with the key chain dialog. I also try to avoid the word `trust` but talk about executing code on you behave. This is what I actually do :-)

<img width="429" alt="capture" src="https://user-images.githubusercontent.com/1931590/94246119-9e1b2380-ff1b-11ea-87e6-93648e707da0.png">

Please ping if you disagree with this.

[2020-09-25 08:41] #1076 closed

[2020-09-25 09:17] dbaeumer commented on #1075
Here is what I get when cloning it:

<img width="658" alt="capture" src="https://user-images.githubusercontent.com/1931590/94249303-fc4a0580-ff1f-11ea-90d1-8172a66e5237.png">

It even works without problems using GitHub Codespaces. Any additional info?

<img width="819" alt="capture" src="https://user-images.githubusercontent.com/1931590/94249827-b93c6200-ff20-11ea-9ff1-bf16ae024dd9.png">

[2020-09-25 09:20] dbaeumer commented on #1012
The extension uses the installed eslint version closest to the file you are validating using ESLint's lookup rules. Can you provide me with a GitHub repository that demos what you are seeing. It should work the way you described it.

[2020-09-25 09:20] dbaeumer commented on #1077
@rowild  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-25 09:36] isidorn commented on #1076
Looks good. The empty line gave it more clarity and the wording is clearer now. Good job :)

[2020-09-25 15:59] javierguzman commented on #1012
I have tried to reproduce it but I have been unsuccessful. I have reset everything now and I have observed I get this output:
[code]

I guess once the eslint plugin has the library loaded it switches between them on the fly depending on whether you are editing a file from client folder or from server, right?

Thank you in advance.

[2020-09-25 21:17] mcchong commented on #1059
https://github.com/mcchong/react-image-compressor

[2020-09-25 21:22] mcchong commented on #1059
Specifically, looking at DemoComponent.tsx vs ImageCompressor.jsx

Building with "npm run build" or the build task emits 2 linter warnings, one for the jsx file on line 64, and one for the tsx file on line 8.
In the "Problems" pane, with both files open, I only see the warning for the issue in the jsx file.

[2020-09-26 02:22] JimBeam2019 opened #1078 "After its update, VSCode fails to show error underlines on javascript."
Issue Type: <b>Bug</b>

Version: 1.49.2
Commit: e5e9e69aed6e1984f7499b7af85b3d05f9a6883a
Date: 2020-09-24T16:26:09.944Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.8.0-kali1-amd64

Steps to Reproduce:

1. Open vscode
2. Reload all extenstions
3. Comment variable declaration
4. Vscode doesn't underline undeclared variables or any other kinds of e

[2020-09-26 16:29] sploders101 commented on #1075
It looks like @yxzh614 forgot to include the main piece of the issue in the reproduction. It only seems to happen (at least for me) when using the extension *through* a remote session. GitHub workspaces (to my knowledge) works differently, in that it sends the *UI* to you, where VSCode Remote extensions essentially split the program in half, and do a lot of processing locally still, while proxying

[2020-09-27 03:16] yxzh614 commented on #1075
@sploders101 you are right it only happen on vscode remote

![image](https://user-images.githubusercontent.com/25242391/94354903-1ddaf680-00b2-11eb-8304-2a3e2844a0f2.png)

This is output of eslint when I open my dir by /data00/home/yuexianzhe/repos/trident

![image](https://user-images.githubusercontent.com/25242391/94354925-44009680-00b2-11eb-94c1-a582e16bcc42.png)

This is output of eslint when

[2020-09-27 03:51] yxzh614 commented on #1075
trying to debug
[code]

[2020-09-27 08:41] hacknlove opened #1081 "option to disable rule in .eslintrc.js"
regarding disabling eslint rules you offer:

* disable ___ for this line
* disable ___ for the entire file

I would love to also have

* disable __ in .eslintrc.js

Thank you.

[2020-09-27 15:26] rowild commented on #1077
HI @dbaeumer ! Thank you for your response!

Sorry for having wasted your time! My eslint setup was incomplete (no .eslintrc, no dependency installations). Following your install instructions again made everything work.

Closing this issue.

[2020-09-27 15:26] #1077 closed

[2020-09-28 07:22] dbaeumer commented on #1012
I talked to the VS Code team about trusted workspaces and unfortunately the feature will not be ready this milestone. So I invested quite some time to improve the situation in ESLint knowing that this is throw away work. Here is how the new model works:

- when ESLint starts on a file for which the executing of the ESLint library has not been approved yet you get a red status in the status bar. No

[2020-09-28 09:13] dbaeumer commented on #1077
No problem. Thanks for getting back.

[2020-09-28 09:18] dbaeumer commented on #1075
This is not correct. From a Remote perspective GitHub code spaces works the same as VS Code remote with docker containers. The difference is that the UI is run in the Web browser instead of Electron.

I also tested the problem locally using a remote session (see first screen short in https://github.com/microsoft/vscode-eslint/issues/1075#issuecomment-698821622). To understand why this is not worki

[2020-09-28 09:18] dbaeumer commented on #1078
@JimBeam2019  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2020-09-28 09:26] dbaeumer commented on #1059
@mcchong I can not reproduce this. Running in the terminal gives:

<img width="713" alt="capture" src="https://user-images.githubusercontent.com/1931590/94415089-69a6a200-017d-11eb-9e9b-fbfcbed6939b.png">

[2020-09-28 09:26] dbaeumer commented on #1059
There is no file DemoComponent.tsx in the repository.

[2020-09-28 10:18] infacto commented on #1012
What is this dialog for? Why allow / disallow? Just use the eslint of the workspace or if not exist, use global. Other settings could be configured in the settings json of vscode. I do not understand the problem. Simply use the eslint of node_modules from my project. Every team mate should use the workspace one. No options / dialog.

[2020-09-28 10:39] javierguzman commented on #1012
@infacto I have a workspace with two folders "client" and "server" and each one has its own node_modules so I guess that dialog is for that. However, **if in reality you can only select one eslint for workspace** (I do not know about this), then you are right, it does not make sense to ask about this.

[2020-09-28 11:47] dbaeumer commented on #1012
You can individually allow or deny each eslint version in client and server.

[2020-09-28 14:28] infacto commented on #1012
@javierguzman Hmm... no I doubt it. Because eslint should just take the eslint from the related node_module folder. So, in your case it should work.

Why should I "individually allow or deny each eslint version"? Just use the only one installed from node_modules of the related workspace / path. If a Workspace have multiple node_modules (package.json) so just take this. I'm really confused, because

[2020-09-28 14:28] mcchong commented on #1059
Try cloning from here [https://github.com/mcchong/react-image-compressor.git](https://github.com/mcchong/react-image-compressor.git) ?  It the forked repository The latest commit should be d785f00949794c1a80278112b2806939e26c9a6c, and DemoComponent.tsx is in src/components.  I just tried cloning it myself and was able to reproduce..

[2020-09-28 14:33] mcchong commented on #1059
But running `react-scripts build` gives me different errors than `./node_modules/.bin/eslint ...`.  Am I missing some config then?

[2020-09-28 14:35] robole commented on #1068
I agree with Jason that this is unusual @dbaeumer .

Having an extension running all the time should be avoided unless its use is almost universal. ES Lint typically targets JS and TS. I understand that ESLint can target other languages through plugins, but would it not be more sensible to target the most just TS and JS?

Emmet's setup in VS Code could be a good pattern to follow. Emmet has [2 set

[2020-09-28 15:26] rjgotten commented on #1012
Because it's a possible attack vector. If the extension automatically executes `node_modules` code within VSCode, then it's possible for doctored projects to be put on e.g. GitHub to leverage this to infect unaware users with malware. All that takes is a specially prepared malware-laden ESLint tucked into a `node_modules` folder that comes as part of the project's Git repository.

There are plenty

[2020-09-28 16:39] infacto commented on #1012
That's not the only extension which executes node_modules. It's a general problem of all node scripts. Security is a good thought. [DinoJS](https://deno.land/) is one attempt to solve this. But ESLint requires file access etc. So such general sandboxed runtime will not work. At most only the Workspace should be sandboxed. But does this work? Some extension may requires more stuff from outside. Suc

[2020-09-28 17:36] rjgotten commented on #1012
@infacto
You've just pretty much cited all the concerns I previously _also_ voiced with this type of dialog.
We're sort of on the same page here, it seems. 😉

[2020-09-28 17:46] iccicci opened #1079 "Error: Plugin "@typescript-eslint" was conflicted (two configuration files?)"
Hi all,

I'm getting following error and the plugins stops running:
`Error: Plugin "@typescript-eslint" was conflicted between ".eslintrc.js » plugin:@typescript-eslint/recommended » ./configs/base" and "../.eslintrc.js » plugin:@typescript-eslint/recommended » ./configs/base".`

So three questions, first one: why conflicting if it is the same plugin?

But more over: why it tries to load two confi

[2020-09-29 11:38] iccicci commented on #1079
Solved setting to `true` the [root](https://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy) attribute in my _eslintrc_.

[2020-09-29 11:38] #1079 closed

[2020-09-29 12:03] dbaeumer commented on #1068
I do agree but with ESLint this is a chicken and egg problem since you can add a plugin that adds validation for arbitrary file types. So whether you activate on file patterns or language ids will not make a difference. This is why the ESLint extension activates with a minimal main and then inspects a setting which you can only react on if the extension is running.

The only difference that `onSta

[2020-09-29 12:05] dbaeumer commented on #1059
Yes, I guess react-scripts build will run with different ESLint settings. You need to look into these script to find out which settings they use from where. The ESLint extension uses the same settings as the eslint command in the terminal.

Let me know if you need further help.

[2020-09-29 13:26] robole commented on #1068
It's your decision Dirk, I know it's an awkward situation!

The way I use the extensions now is to have it disabled by default, and only enable it for JS and TS projects.

I would urge you to change the Activation Event to `onStartupFinished` to prevent it slowing down VS Code startup. There is no downside to that.

[2020-09-29 14:12] mcchong commented on #1059
Were you able to reproduce the issue from the repo above?  Both scripts seem to be using my .eslintrc file, but the eslint command seems to be missing some rules.

[2020-09-29 14:49] mcchong commented on #1059
Okay figured it out.  There is an "eslintConfig" option in the package json that webpack uses that I didn't see.  I made that consistent with the .eslintrc.  Thanks for the tips.

[2020-09-29 14:55] #1059 closed

[2020-09-30 15:28] rowild opened #1080 "Error using console in "then()""
...aah, damn it! my error! Please delete, if possible!

[2020-09-30 15:35] #1080 closed

[2020-09-30 18:37] nair-sumesh commented on #1038
Same here. Any solution found yet?

[2020-10-01 18:54] wmhilton commented on #1033
I have this problem too! I can reliably reproduce it by running `yarn --force` in my project, or simply deleting `node_modules` and then running `yarn`. I always assumed it was VS Code trying to re-index everything in node_modules but maybe it's because this eslint plugin doesn't handle it gracefully if `node_modules` is deleted / overwritten?

[2020-10-01 20:23] rareyman commented on #994
For whatever it's worth for anyone having similar issues:

There is a $10 utility for macOS called Choosy that allows you to configure how links are handled from any program. Basically, you set Choosy as your default web browser, then you can set rules on how links are handled.

So, in this case, I can say any links opened in VS Code will be forced to open in a particular browser.

https://www.cho

[2020-10-02 07:41] dbaeumer commented on #1033
@wmhilton can you share a repository and steps. I tried `yarn --force` and couldn't reproduce it.

[2020-10-05 09:28] #1078 closed

[2020-10-05 09:45] #1075 closed

[2020-10-05 19:04] josh-hemphill opened #1082 "Is the extension using eslint library for the eslint.format.enable?"
I'm tying to implement using only Eslint for both linting and formatting in another extension for Vue SFC files but I couldn't find anything in the eslint docs about using its library for applying the formatting.
When looking through the codebase, it looked like it was using vscode functions, but I couldn't follow exactly what it was doing.
Could someone point me in the right direction?

[2020-10-06 08:53] dbaeumer commented on #1082
Two things you need to do:
- enable that the extension hooks up the formatter using `eslint.format.enable` setting
- if you have more than one formatter you need to let VS Code know which one to use using the `editor.defaultFormatter` setting.

[2020-10-06 08:53] #1082 closed

[2020-10-06 15:11] timroes commented on #1055
I've having the same issue on a couple of repositories regularily. One of the repositories where I can reproduce it always is [EUI](https://github.com/elastic/eui). Just opening that project and trying to save a file a couple of times, usually from around the 5th saving on it'll always be in that state where it's stuck in the "Getting code actions from ESLint" phase. `eslint.debug` does not seem t

[2020-10-06 15:35] dbaeumer commented on #1055
@timroes actually the trace is helpful. It shows that the linting hangs in the ESLint npm library. The `2020-10-06T15:02:34.292Z eslint:linter Verify` should at some point be closed with something like `eslint:cli-engine Linting complete in:`

[2020-10-06 15:40] dbaeumer commented on #1055
@timroes I tried to reproduce this using the repository you pointed out. Any more steps you can provide (e.g. which file to save and what to type beforehand)

[2020-10-06 15:42] dbaeumer commented on #1082
The corresponding code is here: https://github.com/microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L1997

[2020-10-06 19:24] timroes commented on #1055
@dbaeumer for me it happens pretty regularily. I e.g. just edited the `combo_box.tsx` file in a couple of places and saved it a couple of times and it got stuck. In general I don't have noticed any specific steps or actions I took, than just coding, saving and after some saves it's stuck.

[2020-10-07 04:20] chungweileong94 commented on #164
The "restart" command is really necessary, I'm still struggling today, especially when I wanted to migrate javascript file to typescript, or even just rename some files, the ESLint server will break for sure.

[2020-10-07 11:58] JonasBa commented on #1055
Happens pretty regularly to me too, with the message ': Getting code actions from ''ESLint', 'TypeScript Importer'' (configure)' I tried disabling the ts import plugin but it didnt solve the issue.

[2020-10-07 12:11] rony1987 opened #1083 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-eslint`
- Extension Version: `2.1.8`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.49.3`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-10-08 19:54] indignant opened #1085 "Run onSave vs onType setting is broken"
Hey there!

There's a setting for deciding when to run eslint: either on save or on type.

[code]

I have it set to `onSave` because I find it distracting otherwise, but unfortunately the linting still happens as I type.

ESLint Plugin: v2.1.8
VSCode: 1.49.2
OS: Catalina 10.15.4

Not really sure what other information I could provide, except that disabling the plugin prevents linting; of course I'

[2020-10-09 04:24] sn0rcha opened #1086 "v2.1.10 - Extension 'ESlint' cannot format file"
Hey There,

My ESLint plugin updated a few hours ago in VSC and it no longer is able to format .js files. It was working fine prior to the update. Anyone else seeing this?

It says the ESLint server is running down the bottom right with 2 ticks.

Cheers,
Ben

[2020-10-09 07:18] dbaeumer commented on #1086
This works for me without problem.

![cast](https://user-images.githubusercontent.com/1931590/95554361-595db500-0a10-11eb-8fb5-36b6231cef27.gif)

@sn0rcha can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Might be a setup problem.

[2020-10-09 07:25] dbaeumer commented on #1085
This works for me:

![cast](https://user-images.githubusercontent.com/1931590/95554830-22d46a00-0a11-11eb-8218-c7724b367b68.gif)

Can you make sure you upgrade to the lastest both VS Code (1.50.0) itself and the ESLint (2.1.10) extension

If you still see that please provider me with a GitHub repository I can clone that demos this.

[2020-10-09 07:31] dbaeumer commented on #1083
@rony1987 without the needed data from the clipboard there is little I can do. When you see that the next time please don't forget to paste the data from the clipboard into the issue.

Thanks!

[2020-10-09 07:31] #1083 closed

[2020-10-09 07:38] sn0rcha commented on #1086
thanks for the reply - I don't have that option in vscode just "Format Document" - is there a way to reset the default?

[2020-10-09 07:55] #1033 closed

[2020-10-09 08:15] dbaeumer commented on #1055
@timroes I tried again with the repository you provided but without any success. But I have to say I didn't make any meaningful changes. Not an expert in the code. When this happens to you the next time could you provide me with the content of the file when it gets stuck. May that helps to track this down.

[2020-10-09 08:18] dbaeumer commented on #1055
And two general question

- when this happens do you experience high CPU load ?
- @timroes would you be willing to run the extension out of source? Then we could attach a debugger when it happens and get some more insight about where it hangs?. I can provide you with instructions. It is not complicated.

[2020-10-09 08:20] dbaeumer commented on #1086
Actually if you only have one formatter the option is not available. Have you enabled eslint formatting using `"eslint.format.enable": true`. Or did you specify `"editor.defaultFormatter"`

[2020-10-09 11:23] antonbobrov commented on #1085
I have a similar problem. I enabled formatting on save. Today, after the update, it works wrong. Before the update my code was formatted according to my eslint rules, now it isn't. Although, when I try to "fix all auto-fixable problems", it works fine.
![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/11936437/95577516-f59cb180-0a3a-11eb-96fe-eb9d23b14af7.gif)

[2020-10-09 14:07] marcelriegr commented on #1086
I'm also experiencing this problem. I did an update to vscode v1.51.0-insider and ESLint to v2.1.10 and now the format function isn't working anymore.

Formatting the file directly using `eslint --fix` works fine but not through the VS Code extension. Linting still works, format however wasn't
![Bild1](https://user-images.githubusercontent.com/6038615/95590306-2fbf8080-0a46-11eb-8c73-dc5a751229df.

[2020-10-09 16:39] dalexander-mdsol commented on #1086
Same issue for me while using insiders build of vs code. I have the default formatter set to "dbaeumer.vscode-eslint" and it no longer formats. It is also unavailable through the Command Palette as well.

[2020-10-09 18:11] dbaeumer commented on #1086
Since this works for me I would highly appreciate if someone can provide me with a repository I can clone that demos that. It might depend on many things. Are you using format on save or are you execute format using a command?

[2020-10-09 18:12] dbaeumer commented on #1085
@antonbobrov how do you enable format on save. Via code actions or via format?

[2020-10-09 18:17] dbaeumer commented on #1085
@antonbobrov you might be more interested in https://github.com/microsoft/vscode-eslint/issues/1086

[2020-10-09 18:20] dbaeumer commented on #1086
I even tested format on save using the following settings:

[code]

Here is what is happening to me when pressing save:

<img width="358" alt="capture" src="https://user-images.githubusercontent.com/1931590/95618055-b8511780-0a6c-11eb-9526-95f8cab0c829.png">

As said best would be to get a repository I can clone that demos the broken behaviour.

[2020-10-09 18:35] antonbobrov commented on #1085
Via format. I've also tried
`"editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
}` and it works. Thank you for the idea. Though, still don't know what's wrong with the "format".

[2020-10-09 19:18] dbaeumer commented on #1085
@antonbobrov can you provide me with a repository I can clone that demos the broken format behaviour. As you can see in #1086 format on save works for me.

[2020-10-09 20:02] sn0rcha commented on #1086
Just some further info, the linting still works, just not the formatting.

[2020-10-09 20:15] obvioussean commented on #1086
Happening for me too, just do npx create-react-app --typescript and use this settings.json:
{
    "editor.codeActionsOnSave": [
        "source.organizeImports",
        "source.fixAll.eslint",
    ],
    "[javascript]": {
        "editor.defaultFormatter": "dbaeumer.vscode-eslint"
    },
    "[javascriptreact]": {
        "editor.defaultFormatter": "dbaeumer.vscode-eslint"
    },
    "[typescript

[2020-10-09 21:25] cchaos commented on #1055
I can attest to @timroes' problem as I personally had the same issue with the same repository a while back. It would definitely throttle my CPU and I'd always have click "Cancel" where it would skip the auto-formatting and then save the file.

I can't remember exactly what my previous configuration in my settings file was, though something similar to what the OP pasted. I removed all of those conf

[2020-10-09 21:34] dbaeumer commented on #1086
@obvioussean can you give me an example of an error that usually gets auto fixed on save. I am not an react expert :-)

[2020-10-09 21:56] obvioussean commented on #1086
Oh, you don't have to have any actual formatting issues for the error to happen

[code]
 Trying to format the code above gives you an error in the status bar.

[2020-10-09 22:19] dalexander-mdsol commented on #1086
With settings similar to what @obvioussean has presented above, I see no option to format using ESLint when I open the Command Palette and choose "Format Document With...". Presently I only see the "TypeScript and JavaScript Language Features" option. Previously Ian option for ESLint was available.

[2020-10-09 22:21] dalexander-mdsol commented on #1086
Something else I noticed that was new was a dialog from VS code explaining that the ESLint extension would use the globally installed ESLint package (or similar to this) and if I will Allow this. In my case I chose "Allow".

[2020-10-09 23:38] FloodGames commented on #1055
It keeps coming up for me too since the latest releases from Eslint I guess.
![image](https://user-images.githubusercontent.com/60991890/95639574-3e835300-0a99-11eb-9580-fd17916a3e9c.png)

[2020-10-10 06:04] 06000208 commented on #1086
Just started experiencing this. Worked fine before, but now won't format anything, with the following message popping up in the status bar when trying to format `example.js`

![2020-10-10_00-53-11](https://user-images.githubusercontent.com/52764066/95647222-4b9d4380-0a93-11eb-8c4c-7a3e6c54900d.gif)

The eslint npm module is installed globally (version 7.11.0) and I have VS Code 1.50.0 + ESLint Ext

[2020-10-10 07:45] 06000208 commented on #1086
The issue persisted when downgrading just the extension and keeping VS Code 1.50.0, but ESLint Extension 2.1.8 and VS Code 1.49.3 doesn't seem to have the issue.

[2020-10-10 10:56] temoncher commented on #1086
It worked perfectly fine for me, but then I restarted VSCode, it updated to 1.50 right before my eyes and after this update formatter stopped working.

It still works via Ctrl+Shift+P -> ESLint: Fix all autofixable problems
But Alt+Shift+F shortcut doesn't work anymore

I tried to reinstall eslint extension, it didn't help a lot, but after deleting all language-specific rules in `settings.json` on

[2020-10-10 14:17] dbaeumer commented on #1086
@obvioussean You mean a red status bar indication with a blocked sign. Please refer to the release notes on how we changed the approval flow for the execution of the ESLint library here: https://github.com/microsoft/vscode-eslint#version-2110

To all the other: how is that status of the ESLint extension if you see something like this

<img width="352" alt="capture" src="https://user-images.githubu

[2020-10-10 14:19] dbaeumer commented on #1086
@06000208 have you enabled eslint as a formatter using the setting `"eslint.format.enable": true`

[2020-10-10 14:19] dbaeumer commented on #1086
@temoncher can you share your repository?

[2020-10-10 14:20] 06000208 commented on #1086
@dbaeumer Yes, refer to my comment again as I included my settings.

[2020-10-10 14:22] dbaeumer commented on #1055
I believe all of you that you see this. But without me being able to reproduce it there is very little I can do. So if someone has steps please provide them here. Or if someone is willing to debug please ping as well. I can provide steps on how to do this.

[2020-10-10 14:25] dbaeumer commented on #1086
@06000208 sorry overlooked that. This is really strange since as you can see that same setup work for me: https://github.com/microsoft/vscode-eslint/issues/1086#issuecomment-706016338

Can you share a repository that demos this?

[2020-10-10 14:27] dbaeumer commented on #1086
@06000208 wait a second....

[2020-10-10 14:31] dbaeumer commented on #1086
OK. There is something to it. This happens to me with a fresh workspace and adding the setting @06000208 provides. Approving the ESLint execution and reopening the workspace makes it work for me.

[2020-10-10 14:34] dbaeumer commented on #1086
Closing an reopening the file will help as well.

[2020-10-10 14:57] dbaeumer commented on #1086
OK there is one flow that makes the formatter not work:

- create a new workspace
- configure eslint and the formatter.
- open a JS file
- approve the library execution
- try to format that file

Workaround right now is:

- close and reopen the file
- reload the workspace

From then on forward formatting will work

Unfortunately the fix is non trivial. Need to think a little to not make things wor

[2020-10-10 15:05] obvioussean commented on #1086
So that’s definitely not my experience. I’ve reloaded VS Code multiple times on an existing folder and have already approved the library execution.

[2020-10-10 15:08] obvioussean commented on #1086
@dbaeumer are you using the local eslint when approving?  I don’t have it installed globally.

[2020-10-10 20:24] dbaeumer commented on #1086
@obvioussean  I use a local eslint when approving. Since it looks like your case is different can you provide me with a GitHub repository I can clone that demos what you are seeing. The example you gave me works for me (eslint is called to format the code). However in my setup there is nothing to format for
[code]

ESLint doesn't generate any edits for this.

[2020-10-11 00:55] obvioussean commented on #1086
@dbaeumer here is the repo: https://github.com/obvioussean/eslint-error

A slight deviation is I added an .eslintrc.js so that there are some formatting rules.  You'll see when you open the App.tsx there are two errors, and pressing "alt+shift+f" gives this error in the bottom left:
![image](https://user-images.githubusercontent.com/15038374/95667937-bac17900-0b21-11eb-8d0b-279be31b514a.png)

If y

[2020-10-11 07:11] temoncher commented on #1086
@dbaeumer
Here's my repo, lint rules are pretty strict, so any broken indent will do
https://github.com/temoncher/consigliere

As well I followed @06000208's advice, downgraded VSCode to version [1.48.2](https://code.visualstudio.com/updates/v1_48).
And ESLint appeared as a formatter there
![image](https://user-images.githubusercontent.com/48395731/95672446-901b0300-0ba9-11eb-8543-1e1300c29a20.png

[2020-10-11 13:39] lydell opened #1087 "Ignore parse errors? (TypeScript)"
When writing I often end up with invalid code (syntax wise) as I type, and maybe stop and think before finishing. This can be a bit noisy.

In the following example, both ESLint and TypeScript tell me that an expression is expected:

[code]

But it would be enough if just TypeScript told me so!

Is it possible to only get syntax errors from TypeScript, not ESLint?

[2020-10-12 07:47] libt-web commented on #1086
When I downgrade the extension to 2.0.8 and keep vscode on 1.50.0, it runs good

[2020-10-12 08:15] kongxiangyan commented on #1086
When I downgrade the VSCode to 1.49.3 and keep extension on 2.1.8, it runs good

[2020-10-12 13:51] dbaeumer commented on #1086
@obvioussean I was able to reproduce the problem however the formatting works as expected after approving the ESLint execution and closing and reopeing the file. Please see the attached screen cast:

![cast](https://user-images.githubusercontent.com/1931590/95753983-abb60480-0ca2-11eb-9b32-bb2a3831e7ac.gif)

So the fix I am working on will fix this as well.

Is there anything I overlooked?

[2020-10-12 13:58] dbaeumer commented on #1086
I created a new Insider release here: https://github.com/microsoft/vscode-eslint/releases/tag/2.1.11-Insider that IMO fixes the problem. Since it is a little risky I would like the once experiencing the bug to test it first. Simply download the VSIX from the release and install it using the `Install from VSIX` command.

[2020-10-12 14:12] dbaeumer commented on #1086
@temoncher I could reproduce your problem as well but it looks like an ESLint setup problem to me. I did the following

- cloned
- ran yarn in root, client and server
- opened the code-workspace file
- approved the execution

I get the following in the ESLint output channel

[code]

Do you see the same? If not can you provide me with a hint what I need to do different in the project setup.

[2020-10-12 15:34] code-for-coffee commented on #1086
@dbaeumer I just tried out your Insider's install.

Mac OS 10.15.7 (19H2)
VS Code Version: 1.50.0 / Commit: 93c2f0fbf16c5a4b10e4d5f89737d9c2c25488a3

When enabling `format on save` and setting this plugin as the default formatter I get the following error on every save:

![image](https://user-images.githubusercontent.com/1757078/95764291-df2e6a00-0c75-11eb-8474-63d53455d2b6.png)

The eslint plugin

[2020-10-12 15:42] dbaeumer commented on #1086
@code-for-coffee that would be very appreciated. I tested this again and I am not able to reproduce this anymore if the ESLint execution is allowed.

[2020-10-12 15:44] code-for-coffee commented on #1086
@dbaeumer I saw you reference allowing execution in this thread; is that something I can easily do via config/settings? Sorry if I missed it. I'll gladly try it. 💯

[2020-10-12 16:04] code-for-coffee commented on #1086
@dbaeumer understood. Thank you.

I performed those steps, saw this:

![image](https://user-images.githubusercontent.com/1757078/95767152-ee171b80-0c79-11eb-97ed-5e0f7a011ed7.png)

Confirmed via popup:

[code]

I then Allowed the execution, closed the file/workspace, restarted VSCode. When I go to save a file you'll see that ESLint looks good but I get a formatting error in the toolbar.

![image](

[2020-10-12 16:38] code-for-coffee commented on #1086
@dbaeumer good news! This works. I am sorry to draw this out with another comment. After restarting my workspace I noticed that a lot of my VS Code settings were just _missing_ (specifically `null`, as someone above mentioned). After updating them to their prior values, ticking this box specifically enabled format on auto save.

![image](https://user-images.githubusercontent.com/1757078/95770717-7

[2020-10-12 16:55] obvioussean commented on #1086
@dbaeumer I get the same error with your insiders build  as I do on the released version.  I am get a different result than what you showed in the repro.

![eslint-error](https://user-images.githubusercontent.com/15038374/95771994-e4d58100-0c70-11eb-8037-54265897cf19.gif)

[2020-10-12 19:39] heshammourad opened #1088 "ESLint is not working after upgrading to 1.50.0"
Issue Type: <b>Bug</b>

I have the dbaeumer.vscode-eslint extension installed and configured as my default formatter for JS files.

On 1.49.3, if I navigate to "Format Document With" (from right-click in editor menu), the list that appears contains ESLint and it is marked as default. After entering Alt+Shift+F, eslint errors are fixed automatically and the ESLint output panel shows a trace of the

[2020-10-12 19:43] heshammourad commented on #1088
I was searching for issues in the wrong repo, this is a duplicate of #1086.

[2020-10-12 19:43] #1088 closed

[2020-10-13 00:18] JacksonKearl opened #1089 "Codespace: Only provided options to reset?"
Clicking the crossed out icon at bottom in the status bar I expected to have the option to allow eslint in this workspace but instead I'm only given options to reset?

![image](https://user-images.githubusercontent.com/8586769/95801331-dc9c3680-0cae-11eb-8e31-eb7182949d1b.png)

[2020-10-13 08:04] chunsenye opened #1090 "v2.1.10 - Extension 'ESlint' cannot be a formatter"
In older versions, the formatter works
![image](https://user-images.githubusercontent.com/30768615/95832349-bd63de80-0d6c-11eb-8b6b-80bb4ea4ea7a.png)
when I update to v2.1.10 it doesn't work
![image](https://user-images.githubusercontent.com/30768615/95832522-f13f0400-0d6c-11eb-9bc2-aab91e5d34e0.png)
I had add the option
![image](https://user-images.githubusercontent.com/30768615/95832677-34997280

[2020-10-13 12:47] dbaeumer commented on #1086
@obvioussean this is really strange. Can we do the following:

- enable tracing using the setting `"eslint.trace.server": "verbose"`
- reload the workbench
- try to format the file `App.tsx`
- switch to the Output panel
- select the `ESLint` channel from the drop down
- attach the trace here. Please note that the trace might contain paths to files on your disk. If you want you can shorten them.