[2019-08-23 07:47] dbaeumer commented on #733
How to you pass `--max-old-space-size` when running eslint in the terminal ?

[2019-08-23 07:48] dbaeumer commented on #739
@bpasero do you know if I can disable ASAR support for the spawned server. I am sure I don't need it.

[2019-08-23 07:51] dbaeumer commented on #738
The problem is that the new file is not on disk but we ask to validate it. I don't know if the TS parsing can be tweaked that way.

Another option would be to only validate files on disk in this setup. What exactly does `parserOptions.project` do?

[2019-08-23 08:08] bpasero commented on #739
@dbaeumer https://electronjs.org/docs/api/environment-variables#electron_no_asar

[2019-08-23 08:14] singleghost commented on #733
like `node --max-old-space-size=8192 eslint.js `

[2019-08-23 08:33] gong12339 opened #742 "Definition for rule not found"
Hello there, I use custome rules on my repo, but it keeps reporting this error while I'm writing code. feels really annoying. Is there any way I can disable it or apply them to the current repo?
![image](https://user-images.githubusercontent.com/16729152/63578664-89a38380-c5c3-11e9-9886-df5e723f1478.png) .

I use command line eslint to check files like this .
`npx eslint --rulesdir eslint_rules so

[2019-08-23 09:56] sshmyg commented on #696
Works with locally installed `eslint 5.16.0`;
Doesn't work with locally installed `eslint >= 6`;

[code]

[2019-08-23 10:00] tkesgar commented on #738
I'm following the README from [@typescript-eslint/parser][tep] when creating the config:

[tep]: https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/parser

[2019-08-24 11:45] argarner commented on #600
Sure @dbaeumer, clone [this repo](https://github.com/argarner/react-native-auth), and see line 24 in the TextInputField.js

I've added files with my vscode settings in the latest commit.

[2019-08-24 11:59] yegorgunko commented on #738
I even get this type of error on my `webpack.config.js` file.
![Screenshot](https://i.imgur.com/5nWYdOQ.png)
`.eslintrc.json`:
[code]
`tsconfig.json`:
[code]

[2019-08-24 19:49] Kostanos commented on #741
Thank you for support.
In Dev tools the `process.env.NODE_ENV` is undefined.

I found how to fix it.
I edited the - **/usr/share/applications/code.desktop** file
And added there: **env NODE_ENV=development**, to every Exec.

Now the file looks like:

[code]

This resolves the issue. Thank you for help.

[2019-08-25 08:14] scarcoco commented on #609
when config in project, it's not work, but when i config it in user, it is ok

[2019-08-25 16:03] ivo-urbanek commented on #696
**Please follow the information from 'hutch120'.**
**In short:**
- If you have got folder per project (inc. package.json and .eslintrc) and many projects inside one folder (e.g. 'dev'), you can see described problem (eslint v6 failed).
- In this case create a new folder `dev/.vscode`
- Inside new folder create a file `settings.json` (dev/.vscode/settings.json)
- Finally write each folder name usin

[2019-08-26 09:10] dbaeumer commented on #741
@Kostanos great to hear you were able to solve the issue. Closing then.

[2019-08-26 09:10] #741 closed

[2019-08-26 09:11] dbaeumer commented on #733
OK. Makes sense

[2019-08-26 09:12] dbaeumer commented on #739
@bpasero thanks.

[2019-08-26 09:30] dbaeumer commented on #739
Fix in VS Code LSP libraries which actually launch the server.

[2019-08-26 09:30] #739 closed

[2019-08-26 09:33] dbaeumer commented on #742
@gong12339 if this happens when using the command line (e.g. `npx eslint --rulesdir eslint_rules somefile.js`) then you need to report this against the eslint node module directly.

[2019-08-26 09:34] dbaeumer commented on #738
@yegorgunko does this also happen when you validate from the terminal in the workspace folder ?

[2019-08-26 09:52] #732 closed

[2019-08-26 09:58] yegorgunko commented on #738
@dbaeumer well, on webpack.config.js - yes. But on the other files (in src for example) - no. Fixed by using .TS version of webpack config.

[2019-08-26 10:05] sshmyg commented on #696
@ivo-urbanek Works as expected, thks, but it's just work around rather than solution.

[2019-08-26 10:40] gong12339 commented on #742
emmmm. what I mean is I use `pre-commit` hooks  to `eslint --fix` all the staged file.but when I'm writing code, The plugin check the `.eslintrc` file and can't find my custome rule location.So it keep having this warning.It won't affect anything, but it's kinda annoying.

[2019-08-26 11:51] hutch120 commented on #696
@sshmyg Hope I'm not overstepping, but as far as I can tell using the option `eslint.workingDirectories` documented in the project [Readme](https://github.com/microsoft/vscode-eslint/blob/master/README.md) file is the recommended solution to get this extension working with ESLint ^6 as discussed in this very long thread, with highlights [here](https://github.com/microsoft/vscode-eslint/issues/696#

[2019-08-26 12:04] samrith-s commented on #696
So, weirdly, I downgraded to `eslint@5.16`, and now I get this exact same error for the downgraded version too..

And, setting working directory didn't work either. Here is my `.settings.json`
[code]

[2019-08-26 12:21] linonetwo commented on #696
I run into this too.

I have `/gateway` and `/gui` in my repo, and I put the following config in `/.vscode/settings.json`:

[code]

[2019-08-27 09:40] futagoza commented on #477
This is really becoming a headache when:

1. Linting `.ts` files because the problem now is that when using `"include": [ "**/*.ts" ]` in my `tsconfig.json`, the ESLint server will read it and get the current `.ts` files, but if I add a new `.ts` file to my project, `typescript-eslint` will throw an error because it's not in the project files list passed to it at the start (I'm presuming something

[2019-08-27 11:57] IanIsFluent commented on #685
I'm now looking at some JS and thought I'd revisit this. I'm still very confused as to what autofix is, and what list of problems its meant to be able to autofix.

This example https://oprea.rocks/blog/automatically-fix-eslint-code-validation-errors-in-visual-studio-code/ shows auto-fixing a comma-dangle warning - but that's consistently the _only_ auto fix I've ever seen?

Is there a list of avai

[2019-08-27 13:29] bmakan commented on #696
Setting the working directories helped. Otherwise, I can confirm that eslint fails to load plugins when workspace root doesn't contain `node_modules`.

[2019-08-27 13:41] SantoJambit commented on #721
Same here.

[2019-08-27 16:29] stevemc4 opened #743 "extensions.map is not a function"
Hello there

As the title suggest, VSCode shows this error:
![Screenshot from 2019-08-27 23-22-47](https://user-images.githubusercontent.com/20576341/63789498-b20fe280-c921-11e9-8329-0f784097ee5b.png)

And the ESLint extension output giving me this:
![Screenshot from 2019-08-27 23-24-39](https://user-images.githubusercontent.com/20576341/63789636-f602e780-c921-11e9-9b75-6ec23bcc60e4.png)

The erro

[2019-08-27 18:21] shapkarin commented on #464
Maybe this extention should parse `jsconfig.json`? Users need that file to make IDE [understand aliases](https://code.visualstudio.com/docs/languages/jsconfig#_using-webpack-aliases).

[2019-08-28 06:42] tHBp commented on #737
@dbaeumer According to [this comment](https://github.com/microsoft/vscode/issues/2809#issuecomment-396842807), extensions are supposed to resolve variables. For example, [python extension](https://github.com/Microsoft/vscode-python) does this.

[2019-08-28 10:07] dbaeumer commented on #737
@tHBp I added this https://github.com/microsoft/vscode/issues/2809#issuecomment-525675543 to convince them to add it. Let's see and wait.

[2019-08-28 10:09] dbaeumer commented on #464
I think if this is necessary then eslint itself or the corresponding eslint plugin should read the `jsconfig.json` file.

[2019-08-28 10:14] dbaeumer commented on #742
@gong12339 can you provide me with a GitHub repository I can clone that demo's this?

[2019-08-28 12:00] dbaeumer commented on #477
@futagoza the `*.ts` is an interesting case since we should only react to this when validating TypeScript.

For the rest the plugin actually should react and reparse things after changes to the following patterns:

[code]

The case that is not covered are arbitrary changes to the `node_modules` folder. IMO this is fine since usually users run `npm install` with save or save-dev.

[2019-08-28 12:02] dbaeumer commented on #685
@IanIsFluent will the error be fixed if you run eslint in the terminal using `--fix`?

[2019-08-28 12:12] dbaeumer commented on #721
I tried to reproduce this using the vega repository but couldn't. Could someone point me to the file to open that triggers the CPU load?

[2019-08-28 12:17] dbaeumer commented on #743
@stevemc4 this error comes from the ESlint library itself and I am pretty sure you see this as well if you validate the file in the terminal. Is this the case?

[2019-08-28 12:25] shapkarin commented on #464
I can provide a PR at this weekend. But if that solutions is OK for the author and community.
[Project example](https://github.com/shapkarin/shapkarin.me) with that bug.

[2019-08-28 12:30] shapkarin commented on #464
I'm not sure about this solution. But here is the [project with that bug](https://github.com/shapkarin/shapkarin.me).

[2019-08-28 14:06] IanIsFluent commented on #685
It doesn't. I've spoken to our JS expert who points out that `eqeqeq` _is_ different to `comma-dangle` in that `eqeqeq` _could_ have been desired behaviour.

[2019-08-28 14:06] #685 closed

[2019-08-28 14:43] jean-moldovan opened #744 "Need to press save multiple times to have the warning autofixed"
Hello!

I'm using vscode-eslint to autofix my vue files on save with the following setup:
[code]

I have this rule where multiple html attrs are not allowed on the same line. vscode-eslint identifies the issue correctly, although it does not fix it properly when I press save. After I press save file a couple more times it finally gets it right.

Please see the video attached:
![eslint](https://use

[2019-08-28 16:04] SantoJambit commented on #721
I just tried myself and couldn't get it to 100% cpu by simply opening any of the src/* files.

Maybe it's something other than plainly loading the files though. Maybe it's something that happens while editing a file or while browsing type definitions inside node_modules? Just spit-balling here.

[2019-08-29 07:50] dbaeumer commented on #721
@domoritz & @SantoJambit thanks for getting back. Any additional steps are welcome.

[2019-08-29 14:40] jbinto commented on #721
This is happening for me and a few other members of my team. Seems to have started in the last 1-4 weeks. We are using `@typescript-eslint/parser`.

Notably we'll see `Code Helper` processes that get orphaned (they continue to run away with 100% CPU after VS Code has closed, and in Activity Monitor their parents are `launchd`, which is odd.)

I don't know how to trigger this condition but it seems

[2019-08-29 15:28] shapkarin commented on #464
Seems that it's `eslint-plugin-import` problem
https://github.com/benmosher/eslint-plugin-import/issues/496

[2019-08-29 18:25] nemchik commented on #36
I would much rather ESLint be bundled with the extension than having to install it globally. I believe the VSCode TSLint extension already does this. https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-typescript-tslint-plugin

[2019-08-29 20:14] lukejagodzinski opened #745 "Improve extension in a Multi repository setup with Lerna."
I've tried everything to make this work with mono repositories but nothing helps. My eslint config works when run from command line but it fails to work in vsc.

Here is my directories structure:

[code]

When I run eslinter from command line everything works perfectly but in the vsc I constantly see error that `tsconfig.json` file can't be found in the `web` directory. It's pretty annoying as it

[2019-08-29 20:16] agg23 commented on #696
As @hutch120 said, the ESLint working directory appears to be the underlying issue for many of these problems.

[2019-08-29 21:18] jbinto commented on #721
OK some developments here. I have a Code Helper process at 100% CPU right now, and it's not orphaned (yet).

I'm still figuring my way around these tools, but I was able to debug the live running process by figuring out which `Code Helper` PID was vscode-eslint, running `kill -USR1 $PID`, and by some luck I had that PID being traced with dtruss and saw the message telling me how to connect with Ch

[2019-08-30 07:52] #740 closed

[2019-08-30 09:06] dbaeumer commented on #721
@jbinto First thanks a lot for tracking this down. Very very helpful!

For me it looks like an endless while loop in `createIndexMap`. I think the best we can do is to report this to the ESLint npm module itself since it needs to be fixed there.

[2019-08-30 09:11] dbaeumer commented on #745
@lukejagodzinski I am pretty sure that eslint in the terminal will fail as well if you execute the command from the workspace root (e.g. the `web` folder).

ESLint itself is very sensitive to the current working directory in terms of resolving files. Since it why if in the terminal you have to do a `cd` to make eslint work correctly you need to tell the extension these working directories using `e

[2019-08-30 09:14] dbaeumer commented on #744
Dups https://github.com/microsoft/vscode-eslint/issues/154

[2019-08-30 09:14] #744 closed

[2019-08-30 10:40] ba55ie commented on #725
I have the same problem with `ecmaVersion: 2020`. See the [6.2.0 release notes](https://eslint.org/blog/2019/08/eslint-v6.2.0-released).

[2019-08-30 11:17] lukejagodzinski commented on #745
@dbaeumer it work in the root directory because I'm using lerna + yarn workspaces which makes it possible. As I said I can't set `eslint.workingDirectories` as I would need to use glob pattern and it doesn't work there and I don't want to list every possible sub package there as I'm not sure how it really works in such context. I will prepare reproduction

[2019-08-30 12:18] lukejagodzinski commented on #745
@dbaeumer ok I've create reproduction repository here https://github.com/lukejagodzinski/vsc-eslint-monorepo-bug.git

There is also README file explaining everything and what scripts to run to lint from root and package directory. Let me know what you think about it

[2019-08-30 13:47] jbinto commented on #721
@dbaeumer I thought so too, but that area of the eslint codebase hasn't been touched for 3 years (other than some renaming), and this problem is way newer than that. Somehow the call to `createIndexMap(tokens, comments)` is sending it token lists it can't process. We recently changed our project to TypeScript
 and `@typescript-eslint/parser` so we suspect that is a contributing factor. It could be

[2019-09-02 12:19] ProHronus opened #746 "Disabling of Eslint marks on the scrollbar"
Is it possible to disable the error indicators on scrollbar (color dots)?

[2019-09-03 06:47] Stephen2 commented on #609
FYI, this very fixed a problem I was having just now.

`react/jsx-sort-props` wouldn't autofix in TSX, but all other eslint rules would autofix fine in TSX.

Also CLI eslint autofixed them fine.

I am very happy it fixed stuff, but similarly confused as to why I need to do this.

[2019-09-03 06:55] gazedash commented on #696
I tried some of the solutions mentioned, it didn't help me

[2019-09-03 07:30] iniatse opened #747 "Apply two eslintrc.json files for one workspace, possible?"
I have the following folder strucure:

[code]

`.vscode/settings.json` does look like this:

[code]

`branches/dev-branch/.eslintrc.json` looks like this:

[code]

`branches/dev-branch/.eslintignore` looks like this:

[code]

`branches/dev-branch/test/.eslintrc.json` looks like this:

[code]

`branches/dev-branch/test/.eslintignore` looks like this:

[code]

As you can see I need different configu

[2019-09-03 07:48] iniatse opened #748 "IE11 support?"
Hello,

my `eslintrc.json` looks like this:

[code]

Now IE11 supports es5 but also some keywords like `let` and `const` can be used within ie11. Problem is eslint will throw an error for these two keywords, when

"parserOptions": {
        "ecmaVersion": 5
}

is set.

Obviously I do not want to set `"ecmaVersion"` to `6`, because I only need to support IE11. What do do now? I could not find any p

[2019-09-03 18:36] thomassuckow commented on #739
For reference:
https://github.com/microsoft/vscode-languageserver-node/commit/1e7962e4b6484c66e784af1c9fc343a630872db0

[2019-09-03 19:30] ivo-urbanek commented on #696
@samrith-s Hi, short notes:
1. Check name and path of your VS Code settings file. It's `.vscode/settings.json` (not `.settings.json`)
2. File has to be out of project folder with package.json file.
3. Check your folder names named in `workingDirectories`. Maybe:
 `"eslint.workingDirectories": [ "./shopA", "./shopB", "./starter"]`
In each of them you can find folder `src`. Try do not use just only

[2019-09-03 19:54] dbaeumer commented on #748
@iniatse please open the issue against [ESLint](https://github.com/eslint/eslint) directly. The VS Code extension reuses the linter code from there.

[2019-09-03 19:54] #748 closed

[2019-09-03 20:05] dbaeumer commented on #747
`.eslintignore` files are not resolve relative to the file validated. They are resolve relative to the working directory. This is native ESLint behavior. To make this work you need to tell the ESlint extension to do a change directory by using the following syntax for the workind directory entries:

[code]

If this doesn't solve your problem can you please provide me with a GitHub repository I can

[2019-09-03 20:06] dbaeumer commented on #746
@alexandrudima is there a setting for this in VS Code?

[2019-09-03 22:45] chrisdothtml opened #749 "autoFix doesn't work with markdown files"
eslint **v6.2.2**
vscode **v1.37.1**
vscode-eslint **v1.9.1**

Repro repo [here](https://github.com/chrisdothtml/vscode-eslint-749)

[2019-09-04 03:32] ProHronus commented on #746
The problem is that I did not find any settings for this either in the VScode or in the ESlint plugin. Can you, please, guide how to achieve it?

[2019-09-04 09:41] dbaeumer commented on #749
You need to tell the extension to accept auto fixes from the markdown plugin. Simply use the following line in the validate setting: `{ "language": "markdown", "autoFix": true }`

[2019-09-04 09:41] #749 closed

[2019-09-04 09:43] dbaeumer commented on #746
@ProHronus to my knowledge there is none in VS Code. Since this can't be controlled via the ESLint extension please file an issue against VS Code to get this feature.

[2019-09-04 09:43] #746 closed

[2019-09-04 09:57] crimx commented on #721
Updated the typescript parser to v2.1 and eslint to v6.3 so far so good.

[2019-09-04 10:03] dbaeumer commented on #745
For me that fails the same way whether you validate in the terminal or in VS Code

<img width="828" alt="capture" src="https://user-images.githubusercontent.com/1931590/64245432-33abd580-cf0b-11e9-910c-dd3c7ecaf251.png">

Validating in the right directory works in the terminal

<img width="646" alt="capture" src="https://user-images.githubusercontent.com/1931590/64245545-61911a00-cf0b-11e9-82cd-16

[2019-09-04 10:52] #742 closed

[2019-09-04 12:52] #743 closed

[2019-09-04 18:53] lukejagodzinski commented on #745
In my real project I have more packages in the `packages` directory and I have been playing with the `eslint.workingDirectories` option. I've assumed that when I add more than 1 working directories then it will fail to work but after testing it right now I see that it works. Here is my `.vscode/settings.json` file.

[code]

I don't know why I've assumed that having 2 working directories will fail

[2019-09-04 21:59] iniatse commented on #747
[https://github.com/iniatse/vscode-eslint-issue747](https://github.com/iniatse/vscode-eslint-issue747)

In the ´README.MD` I try to describe what the problems are and what I would expect and why I would expect it to work like that.

Thank you very much.

[2019-09-05 09:24] milost1982 commented on #154
I can't believe that after 3 years since reporting this issue is still not fixed.
Any ideas is this is ever going to be fixed?

[2019-09-05 10:39] 2color commented on #696
Try changing
`
"prettier.eslintIntegration": true
`
to
`
"prettier-eslint.eslintIntegration": true
`
in Settings (JSON) for VS Code.

Fixed the problems that I was having after upgrading to ESLint 6.x.

[2019-09-05 14:23] afkatja commented on #696
same error happens in Atom. I don't really have any idea where to adjust the settings for prettier plugin in Atom? Maybe @2color you can give some pointers?

[2019-09-05 14:27] samrith-s commented on #696
@afkatja In Atom, you can go to the Preferences (`Cmd + ` on Mac) and add it to your `settings.cson` file.

[2019-09-05 14:36] samrith-s commented on #696
@ivo-urbanek Hey, did all of that. Still doesn't work. Going to try @2color's solution today or tomorrow, and hope it works! 😁

[2019-09-05 14:36] afkatja commented on #696
@samrith-s thanks for your reply!
The `config.scon` in Atom's settings contains the following for prettier:
[code]
Not sure what should be changed here?

[2019-09-05 14:44] samrith-s commented on #696
Afaik, you need to do:
[code]

Also, I think it'd be better suited to ask in the `prettier-atom` repository, since a lot of here don't use Atom regularly, and hence wouldn't be able to help you out as well as them! 😄

[2019-09-06 01:13] kevflynn commented on #696
I just started getting this error out of nowhere. Trying to follow along for how to fix... what do I need to do?

[2019-09-06 01:33] rhbecker commented on #696
Is @dbaeumer's [post here](https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-519936333) about setting `eslint.workingDirectories` supposed to be the ultimate solution, or just a work-around until the issue can be resolved?

As an ultimate solution, it doesn't seem like the end of the world, but it does seem non-ideal, given it's one more thing to have to remember to manually do wh

[2019-09-06 11:04] marksamman commented on #696
Agree with @rhbecker. Has this been reported to the ESLint maintainers since it was broken by ESLint 6? This used to work out of the box up until ESLint 5 and it's bothersome to have to configure working directories for every VSCode workspace that uses ESLint. Could this plugin implement default logic for workingDirectories if it isn't set, e.g. traverse the parent directories until it finds .esli

[2019-09-06 20:56] iniatse commented on #747
What I see is that the concept is missing some points in order for this to work.

At the moment eslintrc and eslintignore files have no connection. When they live within the same folder there should be a connection between them as follows. When a file is linted and it is ignored within the next eslintignore upwards, then the eslintrc on the level or in other words in the same folder should be void

[2019-09-07 03:04] ProHronus commented on #746
Thank you, @dbaeumer !

[2019-09-07 04:37] verbumfeit commented on #600
I discovered it works with  `editor.defaultFormatter`, you just have to add
[code]

So the combination of `autoFixOnSave` and `autoFix` works, don't know why though.

[2019-09-07 09:22] raix commented on #738
Setting the parser option `"createDefaultProgram": true` will circumvent the included check in typescript/eslint (with a performance penalty)
I suspect they might have a caching issue eg. if they store a map of all asts/files to lint. It could be that the map is not updated using watch when used in long running instances webpack/vs code eslint extension etc.

[2019-09-07 09:35] raix commented on #154
@dbaeumer do you know if this is an issue in the vs code extension or is it the CLIEngine?

[2019-09-07 12:35] tkesgar commented on #738
I tried this on the

[2019-09-07 18:01] Bkucera commented on #154
trying to get a fix in PR this weekend

[2019-09-07 22:31] paupaugoz opened #750 "ESLint failed to load config "react-app" to extend from."
I was recently working on a project and used create-react-app.

I don't have eslint installed globally, and only configure ESLint on a project-by-project basis.

Steps done to install ESLint on VSCode

1) npx create-react-app
2) installed on VSCode
3) npm install eslint on local root folder
4) run ESLint --init locally through node_modules

Here is my .eslintrc.js

[code]

And my package.json:

[c

[2019-09-09 17:33] icantgetittowork123 opened #751 "Cannot lint anything under node_modules, even if excluded in .eslintignore"
Hi,

I want to exclude 1-2 files under node_modules (using npm link for local development) so that if someone navigates to them the eslint plugin highlights problem areas. If I add files to the .eslintignore file (!node_modules/blah/blah.js) it seems to work for eslint itself, but I don't see anything happening inside of the vscode editor.

[2019-09-10 02:55] StephenHaney commented on #696
Are you all committing your `.vscode/settings.json`?

We've been gitignoring it so each person can have their own settings. But if the workingDirectories is the fix for this issue, we'll need to start committing it so ESLint works in VSCode out of the box.

[2019-09-10 06:33] AknEp commented on #600
I met same problem, it solved by @verbumfeit 's solution. Thanks a lot verbumfeit !

[2019-09-10 06:59] samrith-s commented on #696
@StephenHaney That defeats the entire purpose of having a `settings.json` file. 😄

That file is meant to contain settings for the workspace, so that the workspace behaves exactly the same on every machine.

[2019-09-10 07:15] StephenHaney commented on #696
Aah - thanks for the explanation @samrith-s. I think I was thrown off by the auto-format on save setting, which seems like an individual preference. Now I see that anything available as a user setting is also available as a workspace setting. Cheers.

[2019-09-10 09:12] arcanis commented on #154
Fwiw and as one data point, our engineers are reporting significant productivity loss due to this bug (we recently added a few new rules in our configuration that causes this problem to appear more than before). If VSCode's stance is to not fix this bug because it could lead to slower auto-save, consider that the alternative is for engineers to press ^S up to four times, which is hardly more effic

[2019-09-10 09:33] nunogois commented on #154
I still believe this should be fixed but, if it helps anyone, the way I mitigate this problem is to add `fix: true` to my webpack options:

[code]

For reference, my **.vscode\settings.json** are like so:
[code]

This way I ensure it always runs `--fix` before building, which it does recursively (i.e. the right way). For any other use, remember you can always integrate your `eslint --fix` command

[2019-09-10 09:52] arcanis commented on #154
We already have autofix on precommit, but there's still a hefty amount of frustration caused by the lack of confidence in the editor display - is a line red because of how an import is ordered, or because the imported file doesn't exist? Hence why they save multiple times in a row, even though they could fix it through the CLI.

[2019-09-10 15:28] thernstig commented on #154
@arcanis and @nunogois it is already possible to fix this with VS Code ESLint + Prettier extension as I explained here in this post https://github.com/microsoft/vscode-eslint/issues/154#issuecomment-438995360

[2019-09-10 15:30] Bkucera commented on #154
@arcanis also, potential performance is not the blocker here, it's the merging fixes logic. I just mentioned performance since that should also be considered

[2019-09-11 13:20] fox1t commented on #738
We have the same problem on https://github.com/HospitalRun/hospitalrun-server/tree/next. If we rename a file or add a new one, eslint flags it as "not watched" by tsconfig.json project. We mitigated it adding `"createDefaultProgram": true` to our `parserOptions`.
The issue occurs only in VSCode: restarting VSCode fixes the problem and it works as expected in terminal.

[2019-09-12 14:37] rchl opened #752 "language server sends invalid position sometimes in publishDiagnostics"
For an issue like `Newline required at end of file but not found`, eslint doesn't report endLine or endChar and current code is wrong in checking those properties for null but not for undefined. So server ends up sending `null`/`None` value for `line` and `character` properties in `Position` object which is invalid according to the spec [1] (only numbers are allowed).

[1] https://microsoft.github

[2019-09-13 17:01] zfeher commented on #154
I've experienced this multiple save or exec of `ESLint: Fix all auto-fixable Problems` command to fix/format a file completely recently.

Can be reproduced on this repo: https://github.com/octref/veturpack Clone it, install deps, and open `Counter.vue` and try issuing the `ESLint: Fix all auto-fixable Problems` a couple of times it needs 3-4 round.

Hope it can be fixed one day, really annoying an

[2019-09-13 20:43] raix commented on #154
@Bkucera are you still working on a pr? and is it solving the actual issue or just fix a couple of times behind the scenes? (I would imagine that the basing fixes on a list of rules might not be enough - aka eslint should be able to provide the fix?)

[2019-09-14 08:11] kurtextrem commented on #696
I got this link when I reported the issue to eslint: https://eslint.org/docs/user-guide/migrating-to-6.0.0#package-loading-simplification
"If you use a config file located outside of a local project (with the --config flag), consider installing the plugins as dependencies of that config file, and setting the --resolve-plugins-relative-to flag to the location of the config file."

However, when set

[2019-09-14 12:27] Skriptach commented on #741
I have faced this issue
https://github.com/electron-react-boilerplate/electron-react-boilerplate/issues/2157

My question is. How to set `NODE_ENV` for a `vscode-eslint` **only**? Preferably Workspace scoped

[2019-09-14 23:17] jenseralmeida commented on #696
For Visual Studio Code users there, this is a documented feature https://github.com/microsoft/vscode-eslint and below I am sharing mine just to save a few hours of the next one who gets stuck with this issue.

[code]

[2019-09-15 16:03] freshollie commented on #696
PSA anyone has is having issues with monorepos:

`vscode-eslint` can pick up the wrong `eslint` package in a subproject if not explicitly given in the project settings:

[code]

[2019-09-15 18:22] Bkucera commented on #154
@raix running fix multiple times behind the scenes (until there are no more fixable problems left) which is what ESLint does via the cli.

[2019-09-16 12:57] jeffschwartz commented on #696
I am experiencing this as well with eslint v6.4.0.

Result Of Running $ npm ls --depth 0:

[code]

Output Channel:

[code]

[2019-09-16 13:28] gregtatum opened #755 "Consider adding a feature to not show warnings for specific rules"
I work on a codebase where I am not in control of the eslint rules, and we have linting running during hooks to autofix errors. I would like to be able to disable showing errors for certain rules, without modifying the eslint configuration. Specifically my use case is that these rules are not helpful to show errors on while I'm writing new code, but are useful for when I'm committing and pushing t

[2019-09-17 04:25] jeffschwartz commented on #696
Running `npm audit fix` fixed it for me.

[2019-09-17 06:01] HosseinAgha commented on #738
This is being tracked here https://github.com/typescript-eslint/typescript-eslint/issues/864

[2019-09-17 06:01] torava opened #756 "Irrational "irregular whitespace not allowed""
Issue Type: <b>Bug</b>

Irregular whitespace not allowed might show up with no reason in totally well formed expression like "asd = 1" or "foo || bar". It appears only on one side. When I rewrite the whitespace, the error disappears.

Extension version: 1.9.1
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:31:32.854Z)
OS version: Darwin x64 18.7.0

<details>
<

[2019-09-17 09:09] dbaeumer commented on #696
@rhbecker actually standolne ESLint has the same issue. When you execute eslint in the terminal without changing into the right working directory the execution will fail with the same error as the extension does.

However I do see the fact that changing directories in a terminal is more natural then specifying working directories in a settings file. Although I have to say you always have to do thi

[2019-09-17 09:10] dbaeumer commented on #756
@torava does this also occur when running eslint in the terminal?

[2019-09-17 09:22] dbaeumer commented on #738
@HosseinAgha thanks for pointing to the typescript eslint issue.

[2019-09-17 09:23] dbaeumer commented on #738
As state over there this is best fixed on the typescript eslint side since it affects all integrations of the parser (WebStorm, watch mode, ...)

I will mark the issue as upstream.

[2019-09-17 09:25] dbaeumer commented on #655
https://github.com/microsoft/vscode-eslint/issues/755 requests to make the rules configurable as well.

[2019-09-17 09:25] dbaeumer commented on #755
I will fold this issue with https://github.com/microsoft/vscode-eslint/issues/655.

[2019-09-17 09:25] #755 closed

[2019-09-17 09:49] #752 closed, assigned to nobody

[2019-09-17 10:16] dbaeumer commented on #751
Interestingly I can only get this working in a terminal if I put the following into the `.eslintignore` file:

[code]

If I put a specific file in there (e.g. `!node_modules/cli-width/index.js`) and validate the file on the command line using `.\node_modules\.bin\eslint .\node_modules\cli-width\index.js` I get

[code]

@icantgetittowork123 can you provide me with a GitHub repository I can clone th

[2019-09-17 10:19] dbaeumer commented on #750
This looks like a ESLint 6.0 issue. See https://github.com/microsoft/vscode-eslint/issues/696 for a lengthly discussion about ESLint 6.x issues, especially https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-519936333 on how to make it work.

Please ping if this doesn't solve your issue.

[2019-09-17 10:19] #750 closed

[2019-09-18 11:16] cinic commented on #738
I've solved trouble used VSCode workspace setting `eslint.options` to add `parserOptions`.

[code]

[2019-09-19 19:16] inferusvv opened #757 "eslint.executeAutofix shortcut not working in typescript files"
I configured **Option+F** shortcut to run `eslint.executeAutofix` command (Mac OS). It works fine in javascript and javascriptreact files. But if I open typescript/typescriptreact then nothing happens. But errors are underlined with red line which means that ESLint works fine in this type of files. I have this in my **settings.json** file:

[code]

VSCode Version: 1.38.1
ESLint Plugin version: 1.9

[2019-09-20 09:55] TheHolyWaffle commented on #601
Some more info can be found here https://next.yarnpkg.com/advanced/pnpify#vscode-support

[2019-09-20 13:58] allyson7 commented on #696
This worked for me

[2019-09-20 16:37] dtinth commented on #154
This issue can be solved by registering ESLint as a formatter rather than a command.

I tried playing around with `vscode-eslint`’s source code and modified it so that it takes the final output from `eslint --fix` and send the whole formatted code back to VS Code (rather than sending individual fixes as separate edit).

As you can see here, when I run the autofix command, the cursor, which used to

[2019-09-21 00:21] SpencerCarstens commented on #154
Brilliant!

On Fri, Sep 20, 2019 at 9:38 AM Thai Pangsakulyanont <
notifications@github.com> wrote:

--
Best,

Spencer Carstens

[2019-09-21 16:52] futagoza commented on #477
@dbaeumer It seems either this isn't the case anymore, or the ESLint plugins aren't being reloaded when there are changes to the `.eslintrc*` config files (the files are in the root of the workspace).

[code]

Both compiling and linting work fine via the CLI, but vscode-eslint complains every time I create a new file. I've tried modifying the `.eslintrc*` file and saving, but there's no noticeable

[2019-09-22 04:56] electric-skeptic commented on #417
With ESLint's existing level of integration, and the fact that .eslintrc is increasingly ubiquitous, this seems so close to being perfect and harmonious.
Format Document's old js-beautify does a great job of making something mangled into something quite readable, but with hardly any configurability exposed it's frustrating that this helpful formatter is always going to fight our linter.

[2019-09-23 07:55] hadihallak commented on #721
Same issue:
<img width="703" alt="vscode 1" src="https://user-images.githubusercontent.com/13556017/65409487-e5e30880-ddf8-11e9-8760-f8bef47787e8.png">
[code]
tried running eslint only on save but didn't help

[2019-09-23 08:09] dbaeumer commented on #721
@hadihallak any reproducible steps?

[2019-09-23 08:17] StephenHaney commented on #721
Our entire team has the issue that @hadihallak pasted above across a variety of setups... it's hard to troubleshoot because it appears randomly, though consistently, but might not appear for an hour or two of work.

Our setup that seems to trigger it:
- CRA
- Styled Components
- The ESLint plugins pasted above
- `@typescript-eslint/parser`
- extends: `['react-app', 'airbnb', 'plugin:react/recommen

[2019-09-23 09:39] dbaeumer opened #758 "Document change might not cause re-validation. Results in stale errors"
On early returns the processing of the message queue doesn't re-trigger checking the queue. This might result in not all validation events being processed.

[2019-09-23 09:51] #758 closed

[2019-09-23 11:21] itwara opened #759 "Failed to load plugin 'react' declared in 'react1/.eslintrc.js': Cannot find module 'eslint-plugin-react'"
[Info  - 7:07:59 PM] ESLint server stopped.
[Info  - 7:07:59 PM] ESLint server running in node v10.11.0
[Info  - 7:08:00 PM] ESLint server is running.
[Info  - 7:08:00 PM] ESLint library loaded from: /Users/wubin02/work/react1/node_modules/eslint/lib/api.js
[Error - 7:08:01 PM]
Failed to load plugin 'react' declared in 'react1/.eslintrc.js': Cannot find module 'eslint-plugin-react'
Require stack:

[2019-09-24 08:30] lcospain commented on #756
Hi, I am also encountering this issue in VsCode since some months and can confirm running the eslint cli tool alone also trigger this error.

[2019-09-24 10:52] #751 closed

[2019-09-24 14:22] lucksp commented on #696
I added `  "eslint.workingDirectories": ["./dir-goes/here"] based on https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-524833673 and it resolved.

[2019-09-24 15:01] ekobayu commented on #696
Try add `"sinon": "^7.1.0"` on the package.json
https://www.npmjs.com/package/sinon

It work for me when eslint give error `'cannot read module eslint-plugin-react'`

[2019-09-24 18:54] mateusbds commented on #759
I'm having the same problem

[2019-09-24 19:12] StephenHaney commented on #721
Got it again today... heard my fans cranking, checked activity monitor:
"Code Helper" 99% CPU

Checked VSCode's process explorer... it's eslintServer.js at 100% CPU.

Here's some more info I was able to gather about the runaway process (Code Helper in Activity Monitor):

When I did VSCode > Toggle Dev tools and checked both the performance audit and JavaScript profiler, they had basically no load.

[2019-09-25 04:38] Thorocaine opened #760 ""Fix all auto-fixable problems" does not seem to do anything"
I am trying vscode-eslint plugin in VS Code.

I took a file (typescript) that is formatted incorrectly, and I ran "Fix all auto-fixable problems", and nothing happened.

To make sure this isn't a problem with ESLint I run
`node_modules/.bin/eslint src/Path/File.ts --fix`

This works as expected, and the file is reformatted.

[2019-09-25 08:38] sprietNathanael commented on #759
I have the exact same issue. I found something about it that partially solves my issue : https://github.com/Microsoft/vscode-eslint/issues/71#issuecomment-218286281
When I put `plugins` and `extends` into `parserOptions`, it doesn't tells me that plugin is not found, but my rule `react/jsx-uses-vars` is not found.
Here is my current config that works like a charm in terminal, and fails in vscode:

[2019-09-25 09:55] dbaeumer commented on #759
@itwara what happens if you run eslint from a terminal using the workspace folder as your current working directory. Will it work or do you get the same errors.

If it does work can you provide me with a GitHub repository I can clone that demos what you are seeing.

[2019-09-25 09:57] dbaeumer commented on #760
@Thorocaine auto fix is not enabled by default for TypeScript since there were cases in the past that it caused problems. To enable it do
[code]

[2019-09-25 09:57] #760 closed

[2019-09-25 10:00] dbaeumer commented on #756
@lcospain thanks. I will close the issue then since it is nothing that should be fixed in the VS Code extension. As anyone reported this to the eslint itself?

[2019-09-25 10:00] #756 closed

[2019-09-25 10:10] dbaeumer commented on #477
@futagoza can you provide me with a GitHub repository I can clone that demos this? But as said adding new TS files is currently not handled correctly.

[2019-09-25 10:12] dbaeumer commented on #757
Autofix support for TS is not enabled by default since there were problems in the past. You need to do:

[code]

[2019-09-25 10:12] #757 closed

[2019-09-25 10:27] sprietNathanael commented on #759
@dbaeumer Oh, I think I found my problem: my workspace contains both my server and my client, with a `eslintrc.json` for each. When I open VsCode with only my client, it works fine.
Adding both folders to my workspace as multiple roots works too.
So, sorry but I think my issue is not related to the original one, but thanks for leading me to the solution!

[2019-09-25 13:23] Thorocaine commented on #760
Thank you, I missed that.

[2019-09-25 14:28] mateusbds commented on #759
@dbaeumer I have the same setup as @sprietNathanael, my client folder is inside my server folder. Tried the eslint command inside my client folder and it worked, but on vscode it keeps saying that I don't have react plugin installed. Checked other project with eslint 5.x and it is still working.

Repo: https://github.com/mateusbds/eslint-test

Thanks in advance :)

[2019-09-25 14:58] sprietNathanael commented on #759
@mateusbds Well, I **think** I know what's going on: VsCode looks for `eslintrc.json` in your working directory. It founds one that does not contains react plugin, so it issues an error.
In my project, I don't have exactly the same file tree as yours: my server and my client are both on the same level and there is a `eslintrc.json` at the root directory and in the client.
What I did is simply move

[2019-09-25 15:39] golopot opened #761 "Plugin do not recover after correcting an erratic `.eslintrc`"
When I tweak `.eslintrc` and left `.eslintrc` in an erratic state (e.g. syntax error), this plugin will **not** recover after I correct the `.eslintrc`. Instead, a reload is needed to get the plugin working. I would expect the plugin to watch `.eslintrc` and recover when possible.

[2019-09-25 16:10] mrxdst opened #762 "Disable rule for entire file places inserted comment above shebang"
The comment gets inserted like this:

[code]

The eslint rule should be inserted under the shebang.

vscode version: 1.38.1
eslint extension version: 1.9.1
eslint version: 6.4.0

[2019-09-25 18:54] milesj opened #763 "`reportUnusedDisableDirectives` top-level property"
This property was added in ESLlint v6.3. It's currently erroring in VSCode when used:

[code]

[2019-09-25 21:13] pmithunish commented on #696
Try removing the `"prettier.eslintIntegration": true` setting from both `settings.json` and `.vscode/settings.json`

Firstly thank you 🎉 @2color and @allyson7 for suggesting the same fix that worked for you. Unfortunately in my case, the setting was enabled in both user settings and the workspace settings which I wasn't aware of. Of course, didn't work for me. My bad.

My project setup might seem

[2019-09-26 08:41] AndreyPatseiko commented on #417
I use in default react native project this settings.
Install `yarn add --dev eslint @react-native-community/eslint-config`.
`.eslintrc.js`

    module.exports = {
       root: true,
       extends: "@react-native-community",
       rules: {
            "prettier/prettier": 0,
             "jsx-quotes": ["error", "prefer-double"]
       }
    };

then  [open short keys JSON](https://code.visualstud

[2019-09-27 06:12] firozqburst commented on #696
`yarn add eslint prettier-eslint eslint-config-prettier --dev` worked for me

[2019-09-27 19:45] sshmyg commented on #759
For me this issue occurs when I add a few projects to workspace, but this projects has one common root folder, like on the screen
![image](https://user-images.githubusercontent.com/1410608/65781599-954f1080-e154-11e9-9db7-e8f50e352b68.png)

And every of this projects (Project-1 and Project-2) has it's own eslint config etc. This is independents projects but combined in workspace within one root fo

[2019-09-29 15:00] youzizi1 commented on #759
@sshmyg
This problem has been bothering me for a long time！Thanks

[2019-09-29 20:41] DragonOsman opened #765 "ESLint fails to load config files"
When I try to write JS code in VS Code, I get an ESLint error that says:
[code]
I need help on fixing this error.  Note: I don't know where to find the ESLint output channel.

[2019-09-30 07:09] nikolay-borzov commented on #759
Specifying working directory solved the problem for me
[code]

[2019-09-30 07:54] alecmce commented on #600
I'm experiencing the same problem, roughly every second save eslint works. However, I've been able to mitigate that by changing my settings to `formatOnSave: false`. Now it appears to be more stable... though I'm not sure what knock-on consequences there might be.

Sadly, as for everyone else, I can't share my full repo. However, before changing `formatOnSave`, I got these logs:

[code]

With `for

[2019-10-01 10:03] pablobirukov opened #767 "Allow specifying a subset of rules to be autofixed on save"
With `eslint.autoFixOnSave` on, ESLint applies all the fixes to a file while I only need just few of them to be applied automatically and have ability to decide whether the rest is ignored or fixed via Quick Fix.

It might be achieved via supporting `boolean | string[]` as a value for `autoFixOnSave`, as it was done in older version of [TSLint plugin](https://github.com/microsoft/vscode-tslint/blo

[2019-10-01 18:47] dtinth commented on #154
PR to register vscode-eslint as document formatter submitted — https://github.com/microsoft/vscode-eslint/pull/766

[2019-10-01 20:45] DragonOsman opened #768 "ESLint doesn't seem to work (there are no errors or warnings no matter what I do)"
This is an .eslintrc.json file local to a project I just made:
[code]
I installed ESLint and babel-eslint locally (though I do also have both globally; VS2019 uses the global ESLint) and I also have the VS Code ESLint Extension enabled.  And this is my JS code:
[code]
I tried changing the first line inside the `createList` function to
[code]
but no error was given.  What's going on?  Is there some

[2019-10-02 10:34] undermuz commented on #696
I have the same problem after upgrading to version eslint 6.x:
`Error: Cannot find module 'eslint-plugin-react'`

I temporarily fixed this by rolling back to version 5

[2019-10-02 10:40] dbaeumer commented on #768
@DragonOsman does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-10-02 10:47] dbaeumer commented on #767
@pablobirukov there was a long discussion about that feature here: https://github.com/microsoft/vscode-eslint/issues/208 and it got not implemented in favour of a solution that works in eslint itself even when executed in the terminal. See https://www.npmjs.com/package/eslint-plugin-no-autofix

Would that work for you?

[2019-10-02 11:12] orionrush commented on #696
This issue has become a catchall thread for a number of different problems that can trigger the same error. A few solutions are buried in here, so to summerise:

### Least invasive
From @jeffschwartz 's [comment](https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-532052994) `npm audit fix` seems the least invasive, worth a try. If it works for you, great!

### Subdirectories
If you

[2019-10-02 11:27] DragonOsman commented on #768
How do I test this?  And here's the [link](https://github.com/DragonOsman/modifying-dom-task4_create-list) to the GitHub repository.

[2019-10-02 12:29] pablobirukov commented on #767
@dbaeumer thanks for pointing me out, couldn't find the original issue.

I want _all_ rules to be autofixed once I run `eslint --fix` and a very few of them to be fixed while I edit a file.

Having namespaced (with `no-autofix/`)  rules names makes it impossible to maintain two separate configs.

For the moment being, I'm thinking of creating a pipeline for building and distributing `master`+https

[2019-10-02 13:52] jonaskello commented on #721
FWIW, I have the same problem. Whenever I leave vscode open on my macbook and later come back it has the fans blowing at full strength. In activity monitor the process is Code Helper but running ps aux on that process shows that it is the eslint plugin.

[2019-10-02 15:36] dilansql commented on #596
hi

[2019-10-02 16:20] bacsonvv opened #769 "ESLint not working no matter how i try to fix"
I'm new to Node and JS. I'm following a course and trying to use ESLint and stuffs but ran into problems that i couldn't fix.
ESLint not working at all even i set up and config all the things just like my mentor showed me.
My eslintrc:
`{
	"extends": ["eslint:recommended", "airbnb", "prettier", "plugin:node/recommended"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error",
		"spa

[2019-10-03 09:04] dbaeumer commented on #769
Does eslint work for you in a terminal. If not this is not a problem with the vscode-eslint extension so you are better of asking this question on Stack Overflow. If it works for you in a terminal can you please provide me with a GitHub repository I can clone that demos what you are seeing.

[2019-10-03 09:14] dbaeumer commented on #721
As @jbinto pointed out this is very likely an issue in eslint itsel. See https://github.com/eslint/eslint/blob/master/lib/source-code/token-store/index.js#L44-L58 and https://github.com/microsoft/vscode-eslint/issues/721#issuecomment-526366654

But without steps to reproduce this is very hard to fix. Even moving the issue to ESLint without steps will not help.

@StephenHaney could you capture the

[2019-10-03 10:07] dbaeumer commented on #767
@pablobirukov what exactly do you mean by editing a file: typing / saving ?

[2019-10-03 10:08] dbaeumer commented on #768
Open a terminal and run `eslint` in it.

[2019-10-03 10:08] pablobirukov commented on #767
@dbaeumer saving an opened file in VS Code

[2019-10-03 10:18] dbaeumer commented on #768
I tested it and running `.\node_modules\.bin\eslint .\scripts\script.js` in a terminal on the workspave folder doesn't report any problems either. So I think this is not a eslint extension problem. Closing the issue.

[2019-10-03 10:18] #768 closed

[2019-10-03 10:19] StephenHaney commented on #721
Yeah agreed – although we think it started for us when we moved to the typescript parser, so there may be something the parser or vscode-eslint can do in the short term to avoid the issue (just conjecture).

It seems to happen most often when jumping around lots of files. It's just infrequent enough that it's hard to repro, but still happens multiple times per day if we're really digging into a se

[2019-10-03 10:20] dbaeumer commented on #696
@orionrush thanks for providing this good summary.

[2019-10-03 10:21] dbaeumer commented on #721
@StephenHaney agree that this could be a problem in the typescript eslint parser as well.

[2019-10-03 10:25] dbaeumer commented on #761
This works for me using a .eslintrc.json file without problem. Can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-10-03 10:26] dbaeumer commented on #762
Agree.

[2019-10-03 10:28] dbaeumer commented on #763
@milesj does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-10-03 10:29] dbaeumer commented on #765
@DragonOsman does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-10-03 10:29] yoshi415 commented on #721
Another data point, this is happening to me with `@typescript-eslint/parser` enabled.

[2019-10-03 10:30] golopot commented on #761
I cannot reproduce this. Probably a mistake by me. Sorry.

[2019-10-03 10:30] #761 closed

[2019-10-03 10:32] dbaeumer commented on #759
In all cases `eslint.workingDirectories` will very likely be your friend. As a rule: if eslint fails in the work space folder in a terminal but succeeds in a project folder using working directories very likely fixes it.

[2019-10-03 10:43] bacsonvv commented on #769
My eslint works fine in terminal, so i think problem comes from VSCode
Here my repo: [https://github.com/bacsonvv/eslintissue](url)

[2019-10-03 10:46] bacsonvv commented on #769
My ESLint works fine in terminal, so i think problems come from VSCode
Here my repo: [https://github.com/bacsonvv/eslintissue](url)

[2019-10-03 10:48] bacsonvv commented on #769
My ESLint works fine in Terminal, so i think prolems come from VSCode
Here my repo: [https://github.com/bacsonvv/eslintissue.git](url)

[2019-10-03 10:55] bacsonvv commented on #769
My ESLint works fine in terminal, so i think problems come from VSCode
Here my repo: [https://github.com/bacsonvv/eslintissue](url)
I tried to run ESLint in terminal with my index.js and it warned me all the rules i config, but when i try it with VSCode nothing happens

[2019-10-03 23:50] willmtemple opened #770 "Rush monorepo: cli working, vscode-eslint throwing exception"
In https://github.com/Azure/azure-sdk-for-js we are using [Rush](https://rushjs.io) to manage our packages as a monorepo. We have a set of eslint rules in a different package that are referenced from an eslintrc file in each package (e.g. `sdk/template/template/.eslintrc.json`). That eslintrc extends a root eslintrc (`sdk/.eslintrc.json`) that is two folders up in the hierarchy and specifies more

[2019-10-04 05:43] StephenHaney commented on #721
Is anyone with this issue NOT using `@typescript-eslint/parser`?

I [opened an issue on their repo ](https://github.com/typescript-eslint/typescript-eslint/issues/1042)as it seems to be the commonality here. Maybe someone there will have some helpful context.

I spent some more time trying to reproduce today, but I can't figure out any concrete repro steps. It really seems random. After working on

[2019-10-04 05:58] fabb commented on #721
Since I changed ESLint extension setting `eslint.run` from `onType` to `onSave` it works fine. It slightly reduces usability though since I see old warnings in the wrong places until I save. It seems like the ESLint extension has some issue with aborting the old run when a new keystroke arrives, or maybe when it aborts it invalidates some cache and needs to completely recalculate it on the next ru

[2019-10-04 06:56] hadihallak commented on #721
@fabb I have it set up onSave and it doesn't seem to be fixing the issue as I still get 100% CPU usage occasionally

[2019-10-04 07:39] dbaeumer commented on #721
The reason why `onSave` might mitigate it is that far less validation runs happen.

[2019-10-04 07:51] dbaeumer commented on #770
I am pretty sure that you need to use the `eslint.workingDirectories` as described here: https://github.com/microsoft/vscode-eslint.

If you use eslint in the terminal with the workspace folder (not changing into a project folder) as the current cwd will eslint in the terminal work correctly. If not this is mostly an indication that you need to configure `eslint.workingDirectories`

[2019-10-04 08:10] deka opened #771 "eslint conflict (local and global)"
Hi @dbaeumer ,

Exension throw (timeout) when i have eslint in global yarn directory and in devDependencies.

Regards

PS : You can close, i remove from devDependencies

[2019-10-04 09:41] ShadixAced opened #772 "WSHint: use esversion 6 while having an eslint file that says it"
Issue Type: <b>Bug</b>

- Have an javascript file and a .eslintrc.yml or .eslintrc.json file
- on the eslint file :
parserOptions :
    ecmaVersion: 6
- on the javascript file, use the import from.
- WSHint will say that you do not have the correct "esversion" while you clearly stated in your parserOptions file that you have es6.

Extension version: 1.9.1
VS Code version: Code - Insiders 1.39.0-in

[2019-10-04 09:45] ShadixAced commented on #772
Opening same thread on jshint, since they're related to both extensions.

[2019-10-04 11:02] mathieug opened #773 "High CPU usage"
High CPU usage on eslint server, here's the status command result:

[code]

[2019-10-04 13:45] kelly-tock commented on #733
I get this sometimes as well if eslint is enabled and I open a directory without an eslintrc file, but am using the working directories option. I setup an ignore at the root and it seems to have helped.

[2019-10-04 15:20] willmtemple commented on #770
Right, I cannot do that. But I thought that I had set up workingDirectories correctly in the workspace settings. Am I misunderstanding how the workingDirectories works? My understanding is that if I specify a path relative to the workspace root in that setting, and set `"changeProcessCWD": true`, then whenever vscode-eslint inspects a file that is within that directory, it will first `chdir` to do

[2019-10-04 19:20] ShadixAced commented on #772
Solved on JSHint. -> Solution is to use the ESLint extension available in the marketplace : dbaeumer.vscode-eslint

[2019-10-04 19:20] #772 closed

[2019-10-04 23:06] StephenHaney commented on #721
I also run `onSave` and experience the issue. Maybe a good idea to turn it off to try to get quicker repro steps though.

[2019-10-05 21:02] willmtemple commented on #770
I've been digging into this over the past several days. I don't think this has anything to do with the workspaces or monorepo. If I open the package folder directly in vscode it still doesn't work because vscode-eslint is somehow trying to resolve plugins differently than the CLI. Still works in CLI but does not work in vscode. If I create a symlink `node_modules -> ../common/temp/node_modules` ne

[2019-10-05 22:56] ericbiewener opened #774 "Not getting option to disable rule on line"
As far as I can tell, this feature [should exist](https://github.com/microsoft/vscode-eslint/pull/530). But the code action doesn't appear for me:

<img width="660" alt="Screen Shot 2019-10-05 at 3 55 06 PM" src="https://user-images.githubusercontent.com/253298/66261779-8f76b200-e788-11e9-9d51-b618998e57b1.png">

<img width="401" alt="Screen Shot 2019-10-05 at 3 55 11 PM" src="https://user-images.

[2019-10-05 23:36] willmtemple commented on #770
I think I've gotten to the bottom of it, but it isn't pretty.

Actually in my little repro repository doing `.\common\temp\node_modules\.bin\eslint .\packages\a\index.ts` __does__ work. It just causes a parser error because the `project` is no longer pointing to `tsconfig.json` relative to cwd.

I can override that setting manually and it works fine:

[code]

It __does not__ work if I invoke node

[2019-10-05 23:36] #770 closed

[2019-10-06 14:14] mateusbds commented on #759
I just found something interesting today. I have a folder with all my projects and a eslint file inside that folder, so I can copy the file inside other projects that I create. And for some reason, when I open any of those projects on vscode, it says "Error: Failed to load config "airbnb" to extend from."

The folder structure looks like:

[code]

Looks like vscode is looking for the first eslint

[2019-10-06 22:33] guilhermejcgois commented on #763
I have the same issue...

https://travis-ci.org/guilhermejcgois/gor-commit/builds/589981166
https://github.com/guilhermejcgois/gor-commit/tree/greenkeeper/eslint-config-xo-0.27.1

[2019-10-06 23:01] guilhermejcgois commented on #763
@milesj I've updated eslint to >= 6.4 and the problem was solved to me.

[code]

[2019-10-06 23:43] milesj commented on #763
I was using v6.4 and it was happening. Let me double check I don't have dupe modules and get back.

[2019-10-07 19:28] frederico-kluser commented on #696
Try change your nodejs version

you can do this with nvm (node version manager) its look like a node versions problem (try the stable version, or older) [sorry brazilian english kkkk ]: https://github.com/nvm-sh/nvm

[2019-10-08 02:31] singleghost commented on #733
Yes, set a ignore would help. But I need eslint to lint large numbers of files at a time in vscode.

[2019-10-08 04:19] crystalfp opened #775 "After modification eslint signals non existing comma-spacing errors"
Issue Type: <b>Bug</b>

- Load the attached file (change extension to .ts). Eslint should signal no error.
[formats.ts](https://github.com/microsoft/vscode-eslint/files/3700674/formats.txt)
- Make a change.
- Suddenly eslint will signal comma-spacing, space-infix-ops, keyword-spacing and other similar errors that are not there.

Here is the eslint.json in use:
[eslint.json](https://github.com/micr

[2019-10-08 09:03] gwsbhqt commented on #477
@dbaeumer If you add a new ts file and you get an error, try adding `"createDefaultProgram": true` in parserOptions

[2019-10-08 09:06] gwsbhqt commented on #477
I also encountered the same problem, it seems that eslint will only verify the file when it is reloaded. When I fixed these errors, the old error message still exists. This is very frustrating. Does anyone know of any way to solve this problem?

[2019-10-08 12:59] kelly-tock commented on #733
Completely agree.

[2019-10-08 13:29] viniarruda commented on #696
Hi guys, I had the same problem and I resolved following the steps here: https://github.com/prettier/prettier-vscode#vscode-eslint-and-tslint-integration

[2019-10-08 20:27] GleidsonDaniel commented on #696
@orionrush tks, you saved my life!
It's been a while since I've been looking for a solution.
Most of the time I had to downgrade the eslint version to 5.4.0.
But your solution solved the problem, thank you very much for the solution and the explanation.

[2019-10-08 20:50] WraithKenny commented on #417
There's an Extension API, which means that extensions may trigger code to Format Document, or execute code on Format Document, and simply doing a key-bind or on-save is ***completely irrelevant*** to the issue.

[2019-10-08 20:53] WraithKenny commented on #417
The patch on the other hand looks great!

[2019-10-09 03:22] zhanyuzhang opened #776 "It doesn't work on vscode when upgrading from eslint5 to eslint6"
I use `vscode-eslint` plugin to enable eslint on vscode editor. When I install local eslint@5.16.0 , it work perfectly , but it doesn't work when upgrading to eslint@6.4.0 , the `.eslintrc.js`'s content as follow:
[code]

[2019-10-09 06:15] crystalfp commented on #775
Should add that the squishes signalling the errors are in positions that have no relation to the potential error
![image](https://user-images.githubusercontent.com/865866/66456015-b6750280-ea6c-11e9-83da-07545ae6c60e.png)
I'm desperate. I should disable eslint if I want to work.

[2019-10-09 06:19] crystalfp commented on #775
It does not happen with 1.9.0 Or better it happens if there is a legitimate error, like a trailing space.

[2019-10-09 06:49] BertelBB commented on #477
Something is definitely not how it should be, this is happening to me on a daily basis. ESLint starts hanging, showing errors where there are none and auto-formatting stops working. The only thing that works is reloading vscode.

[2019-10-10 01:36] xlc commented on #775
I am having similar issue, just like the file been processed does not have any spaces. Running `eslint` from command line does not find any spaces issue.

[code]

[2019-10-10 01:49] gwsbhqt commented on #477
@BertelBB Oh, my God, why is this? I am constantly reloading vscode at least half of my time every day, which is too bad.

[2019-10-10 06:55] vksbansal commented on #600
Disable to default formatter of vs code and it will work.

<img width="545" alt="Screenshot 2019-10-10 at 12 24 41 PM" src="https://user-images.githubusercontent.com/43640008/66545741-03ce9e00-eb59-11e9-9156-d5bab83158ab.png">

[2019-10-10 10:52] #765 closed

[2019-10-10 16:27] salowenh commented on #600
nope..

[2019-10-15 10:08] nmussy opened #778 "Handle workingDirectories glob paths"
It would be a nice feature to be able to set wildcards in `workingDirectories` directory paths.
The use-case I'm facing is a large lerna project with lots of packages, and more to come in the future ([aws-cdk:packages/@aws-cdk](https://github.com/aws/aws-cdk/tree/master/packages/%40aws-cdk)). Creating and maintaining that package list would be a bit of a pain:

[code]

[code]

As a side-note, I tr

[2019-10-15 14:25] jsamr commented on #769
I can reproduce the same issue.

- Vscode version: 1.39.1
- Eslint version: 6.5.1

**Tests**

- eslint does work properly when launched from command line `npx eslint ...`

**Prerequisites**

- eslint 6.X installed in project node_modules

**What did I witness when the bug occurred?**

- Errors are not reported when I open a file covered by tsconfig.json
- ESlint status bar button is not visible

*

[2019-10-15 14:51] viT-1 opened #779 "ts2307 for .vue files imported to ts"
Related: https://github.com/vuejs/vue-cli/issues/1198
ESLint configuration is ok, I haven't this error in console & unit testing npm scripts (tsc & eslint),
but IDE & vscode-eslint plugin giving me error suggestion & underlines path in import.

[2019-10-16 03:01] fanguyun214 commented on #696
@viniarruda Thanks，It's resolve my problem!

[2019-10-16 08:39] ekobayu commented on #696
@orionrush Wah thanks awesome. Add eslint.workingDirectories in the settings.json work for me. Running well in node version 12.

[2019-10-16 16:21] chrisauinmotion commented on #696
After working to resolve this issue for a day and change the below is what I came up with:
![image](https://user-images.githubusercontent.com/30058437/66938522-530c4700-f00f-11e9-9a40-4ebdbd61fc2d.png)

[2019-10-16 16:28] chrisauinmotion commented on #696
And to be clear when I say "setup all linting at the highest level/root of the project" I mean your eslint, prettier and any other packages you may be using with eslint needs to be installed at the highest level of your project and saved in the dev dependencies.  I also created one central eslintrc.json with all my needed configurations at the root of the project as well.

[2019-10-17 07:26] cawoodm opened #780 "Inline linter is lagging"
If I correct a reported error, the error remains reported in the VS Code editor long (minutes) after it has been corrected. Also, new mistakes are reported very late. Laptop is not "spinning" or overloaded.

Options: run onType true

Windows 10, latest VSCode 1.39.2 (user) and ESLint 6.5.1 and ESLint plugin 1.9.1.

![image](https://user-images.githubusercontent.com/498834/66983272-750dd400-f0b8-11

[2019-10-17 08:22] orionrush commented on #696
@chrisauinmotion

This isn’t my experience, believe I have it working in a setup similar to what you’re describing.

Did you try explicitly pointing VSCode to your subdirectories in your workplaces' .vscode/settings.json file? here is an example of what that looks like.

’’’
"eslint.workingDirectories": [
    "./backend",
    "./frontend"
],
’’’

It’s true though that it doesn’t work out of the bo

[2019-10-17 09:36] dbaeumer commented on #780
@cawoodm any steps on how to reproduce what you are seeing.  Best would be a GitHub repository I could clone.

[2019-10-17 09:45] dbaeumer commented on #779
@viT-1 can you please provide me with a GitHub repository I can clone that demos what you are seeing?

[2019-10-17 09:47] dbaeumer commented on #769
@jsamr you want to have a look at https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-537445913

[2019-10-17 09:56] dbaeumer commented on #769
@bacsonvv I can't reproduce this using the provided repository. I get

[code]

Can you please make the example self contained.

[2019-10-17 09:59] dbaeumer commented on #778
Dups https://github.com/microsoft/vscode-eslint/issues/745

@nmussy PRs are always very welcome.

[2019-10-17 09:59] #778 closed

[2019-10-17 10:03] dbaeumer commented on #775
Can either of you provide me with a GitHub repository I can clone that demos what you are experiencing?

[2019-10-17 10:03] dbaeumer commented on #776
Dups https://github.com/microsoft/vscode-eslint/issues/696

[2019-10-17 10:04] #776 closed

[2019-10-17 10:06] dbaeumer commented on #763
@milesj can you still reproduce this?

[2019-10-17 10:10] dbaeumer commented on #759
@mateusbds can you provide me with a GitHub repository I can clone that demos what you are experiencing ?

[2019-10-17 10:12] dbaeumer commented on #774
The second screenshot in my opinion shows a TS quick action not a quick fix from ESLint.

Can you provide me with a GitHub repository I can clone that demos what you are seeing.

[2019-10-17 10:14] dbaeumer commented on #773
Dups #721

@mathieug any steps are highly appreciated.

[2019-10-17 10:14] #773 closed

[2019-10-17 10:15] #771 closed

[2019-10-17 10:19] #66 closed

[2019-10-17 10:20] dbaeumer commented on #66
@benjamincharity if you are still experiencing this please ping and I will consider reopening it.

[2019-10-17 10:21] #249 closed

[2019-10-17 10:21] #256 closed

[2019-10-17 10:23] #319 closed

[2019-10-17 10:24] #324 closed

[2019-10-17 10:25] #290 closed

[2019-10-17 10:25] #231 closed

[2019-10-17 10:26] #4 closed

[2019-10-17 10:26] #83 closed

[2019-10-17 10:27] #269 closed

[2019-10-17 10:27] xlc commented on #775
@dbaeumer https://github.com/laminar-protocol/flow-protocol-ethereum/blob/master/test/flowToken.ts

[2019-10-17 10:29] #75 closed

[2019-10-17 10:30] dbaeumer commented on #411
Closing since no reproducible steps were provided.

[2019-10-17 10:30] #411 closed

[2019-10-17 10:31] dbaeumer commented on #449
Closing since no reproducible steps where provided.

[2019-10-17 10:31] #449 closed

[2019-10-17 10:32] #374 closed

[2019-10-17 10:33] dbaeumer commented on #408
Dups https://github.com/microsoft/vscode-eslint/issues/600

[2019-10-17 10:33] #408 closed

[2019-10-17 10:35] dbaeumer commented on #420
I am marking this as out-of-scope. What is still something we work on is to allow using eslint as a formatter and on format on save.

[2019-10-17 10:35] #420 closed

[2019-10-17 10:36] #450 closed

[2019-10-17 10:38] #481 closed

[2019-10-17 10:40] dbaeumer commented on #399
Dups https://github.com/microsoft/vscode-eslint/issues/497

[2019-10-17 10:40] #399 closed

[2019-10-17 10:42] #498 closed

[2019-10-17 10:43] #510 closed

[2019-10-17 10:44] #546 closed

[2019-10-17 10:45] #514 closed

[2019-10-17 10:52] #531 closed

[2019-10-17 11:37] milesj commented on #763
Sorry, I'm out of country for 2 weeks. Will have to report back after that.

[2019-10-17 11:45] viT-1 commented on #779
@dbaeumer https://github.com/viT-1/systemjs-ts-es6-vue/commit/d0cbb3bcfaa32436fd74e4f37372aeedd2efa02a#diff-30f7c26bd279aea412e8d79fff465f5bR4

[2019-10-17 19:06] garyking commented on #721
When editing a .ts file in vsc with this eslint ext enabled, in one of my projects with about 5000 sloc, my cpu usage on my mac hits about 400%. This only happens when I open a .ts file in this project, therefore forcing vsc to activate ts extensions. I'm using the typescript eslint parser, of course.

I'm also using `onSave`, and all I have to do is open a .ts file (doesn't matter how big or smal

[2019-10-17 20:11] wkoutre commented on #721
Same findings as @garyking for me, across the board. Downgrading to `@typescript-eslint/parser@2.3.3` also resolves the issue for me.

[2019-10-18 03:15] kumarharsh commented on #707
You can use an .editorconfig for specifying line endings
And use the `code-eol` extension to visualize the end of line.

@dbaeumer - if the `code-eol` plugin can do it, I think the information is available somewhere.

[2019-10-18 03:17] kumarharsh opened #781 "import/resolver not working for webpack aliases in VSCode eslint"
Hi, I'm using the eslint-plugin-import along with eslint in a project which as this folder structure:

[code]

I have defined some aliases in webpack like so:

[code]

This is my relevant eslint config:
[code]

I have opened the `project_root` folder in vscode, and all eslint rules work fine in VSCode, except for `import/extensions`, which keeps throwing errors for imports from the `src/apps/inv-p

[2019-10-18 06:21] cawoodm commented on #780
Hey Dirk, it's a sporadic problem which is behaving now. Anything I can check the next time it happens?

[2019-10-18 06:50] up9cloud commented on #696
Memo for monorepo players:

1. install all modules globally, `npm i -g ...`
1. add the option to force vscode-eslint to use global path (`npm list -g | head -n 1`) instead the local path it should 200 but 404 😂 .

[code]

Refs:

- https://eslint.org/docs/user-guide/migrating-to-6.0.0#-plugins-and-shareable-configs-are-no-longer-affected-by-eslints-location
- https://eslint.org/docs/developer-guide

[2019-10-18 07:34] CodingDive commented on #696
@up9cloud

I'm using a monorepo and the prior solution of setting working directories
worked fine for me.
All my configs now live in local dependencies and the workspace settings of
the project. No more global dependencies means that getting started is as
easy as running npm install/yarn. 🚀

On Fri, Oct 18, 2019, 08:50 up9cloud <notifications@github.com> wrote:

[2019-10-18 12:36] BO41 opened #782 "high ram/memory usage"
- Issue Type: `Bug`
- OS Version: `Linux x64 5.3.6-1-MANJARO`
- "@typescript-eslint/eslint-plugin": "2.4.0",
- "@typescript-eslint/parser": "2.4.0",
- "eslint": "6.5.1",
- "eslint-config-prettier": "6.4.0",
- "eslint-plugin-prettier": "3.1.1",
- "eslint-plugin-promise": "4.2.1",

The Ram usage of eslint is very high (~2,4GiB).
Is this normal for this many rules and plugins?
Is this a eslint or a t

[2019-10-18 13:15] mustafa-cosar commented on #782
I was just about to open an issue. The extension consistently runs out of memory and crashes.
[code]

[2019-10-18 13:16] stone89son commented on #600
I same problem . cannot fix? why eslint cannot auto fix on save?
My config:
[code]

[2019-10-18 13:49] dbaeumer commented on #782
@BO41 can you provide me with a GitHub repository I can clone that demos this. I think this is at the end a TSLint plugin issue which hangs onto the memory. So it depends on the workspace.

[2019-10-18 13:52] dbaeumer commented on #780
You can enable tracing to see if the server is still responding. See the setting: `"eslint.trace.server": "messages"`

[2019-10-18 13:55] dbaeumer commented on #781
I am pretty sure that the `eslint.workingDirectories` setting is your friend. You even might to set `"changeProcessCWD": true`. Something like:

[code]

If this doesn't help please provide me with a GitHub repository I can clone that demos what you are seeing.

[2019-10-18 14:22] dbaeumer commented on #779
Actually the error comes from the TS language server not from ESLint (see the ts source).

![capture](https://user-images.githubusercontent.com/1931590/67102262-72e46c00-f1c3-11e9-9fd6-5b71c55f45cc.png)

Please report the problem against TS.

[2019-10-18 14:22] #779 closed

[2019-10-18 14:30] dbaeumer commented on #775
@xlc I can not reproduce this with the provided repository.

![capture](https://user-images.githubusercontent.com/1931590/67102938-9956d700-f1c4-11e9-90c9-3b012c34e87a.png)

Any additional steps ?

[2019-10-18 14:31] dbaeumer commented on #763
Thanks for letting me know.

[2019-10-18 14:41] kumarharsh commented on #781
Thanks, I'll try it out and report back next week

[2019-10-18 15:59] viT-1 commented on #779
Related and solved: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/24788#issuecomment-516981522

[2019-10-18 16:48] BO41 commented on #782
I can try to make a minimal viable repo to reproduce.
If this is really a problem of the TSLint plugin, then feel free to move this issue to their tracker :wink:

[2019-10-18 22:37] xlc commented on #775
Ha not sure what's going on. I tried last time and it wasn' working so I always had eslint extension disabled for this workspace. Just enabled it now and it works. Since last time I tried I downgraded my node version from 12 to 10 because it was causing trouble to other dependencies and bumped few dependency versions.

[2019-10-19 09:19] lydell commented on #745
Hi!

I have a similar setup. Here’s my story. I think it might be relevant to anyone migrating from TSLint to ESLint.

I regularly work on a repo that is a "master repo" to a bunch of micro services. The folder structure looks like this:

[code]

In other words, each folder is its own service. They all use TypeScript and TSLint (yes, TSLint – I’ll get back to that), but with slightly different ver

[2019-10-20 20:24] hamzahamidi opened #783 "Format Document doesn't trigger fix all auto-fixable problems"
Format document or alt + shift +f used to fix all auto-fixable problems. Is it because I use ESLINT 6?
Here's a minimal package.json:

[code]

[2019-10-21 02:17] alejo-jm commented on #721
For me, i'm working in a react-native project and the cpu it was at 178%,
mi fix is open the src folder (not the entire project), copy and paste the `tsconfig.json` inside the `src` directory, change the path of the node_modules in that file:
`"extends": "../node_modules/react-redux-typescript-scripts/tsconfig.json",`
that is all :-)

[2019-10-21 11:06] kumarharsh commented on #781
It works. Thanks.

[2019-10-21 11:06] #781 closed

[2019-10-21 12:35] doplumi opened #805 "Autocompletion inside package.json for tooling packages configs (e.g. eslint, babel)"
A lot of tooling packages are now offering the capability to declare the configuration inside of `package.json`

E.g.

[code]

I was wondering if autocompletion inside of the file for the various tooling packages was a WIP.

Otherwise, I’d love to produce a PR for it.
What are the modules involved with the autocompletion in this repo?

[2019-10-21 13:38] dbaeumer commented on #783
@hamzahamidi can you provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-10-21 13:40] dbaeumer commented on #775
Good to hear that it is working for you now. Although I have to say that downgrading node shouldn't have this impact.

I will keep the issue open a little longer. If someone can provide me with a test repository I can clone I am happy to investigate.

[2019-10-21 13:41] dbaeumer commented on #782
I will move it after I investigate the repro. I want to be sure it is them :-)

[2019-10-21 16:08] BO41 commented on #782
I can't share the repo I am having the problem with.
I assume it needs to be a "big" one, or one with angular. I can investigate if this has something to do with angular.

But I tried to open the project in vim (+ eslint integration) and the same thing happened.

So it is not a problem of vscode-eslint :wink:
Either eslint or typescript-eslint

@dbaeumer thanks for the help
@mustafa-cosar if your

[2019-10-21 19:09] bmalehorn opened #784 "eslint runs from /, not working directory"
I'm trying to use [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import). This takes in a `src` directory to better understand import statements:

[code]

# Reproduction

I've made a small package showing the error here: https://github.com/bmalehorn/eslint-monorepo-example

When I run `yarn eslint`, `src` is resolved to `./src`, and runs correctly:

[code]

However, when I open

[2019-10-21 19:28] hamzahamidi commented on #783
Thank you for your reply @dbaeumer Here's the [repository](https://github.com/hamzahamidi/fetch-layer).

[2019-10-22 04:42] stone89son commented on #600
here my setting. i worked. please try my code.
[code]

[2019-10-22 07:08] salowenh commented on #600
@stone89son can you please specify in which file you placed this? It still doesn't work for me

[2019-10-22 07:47] stone89son commented on #600
teamview. i can help you.

[2019-10-22 07:49] salowenh commented on #600
Thank you but this is a corporate system so I can't, furthermore, it may help others to have the full instructions listed here :)

[2019-10-22 14:06] stone89son commented on #600
on Window OS is worked, but i change to Ubuntu 18, it cannot work. :(

[2019-10-22 14:40] salowenh commented on #600
@stone89son I'm on windows and it still doesn't work

[2019-10-22 18:08] GordonBlahut opened #785 "eslintServer.js locking files under node_modules?"
Trying to update packages with yarn are getting lots of `An unexpected error occurred: "EPERM: operation not permitted, unlink 'D:\WebClient\ClientApp\node_modules\loader-fs-cache\node_modules\find-cache-dir\node_modules\.bin'".` error messages. The actual file may differ each time.

Running SysInternals Process Explorer and VS Code's Process Explorer shows file handles from the **electron_node es

[2019-10-23 08:15] up9cloud commented on #696
@CodingDive

Yes. The keywork is `working directories`. That's why i choose using global! (too many directories need to set...)

The situation i met is: (https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-508580721 mentioned)

[code]

And those should work:

- always open one vscode per project (Your suggestion)
- open the projects root folder with ...
  - adding all projects to wo

[2019-10-23 08:40] SantoJambit commented on #721
I'm on `"@typescript-eslint/parser": "^2.0.0"` and I have the issue, so either it was fixed in 2.3.3 and later re-introduced or @garyking and @wkoutre just had a lucky moment. Or maybe it's not the parser that is causing the issue but another package.

[2019-10-23 08:47] maxnowack commented on #721
The issue is fixed for me with `@typescript-eslint/parser@2.5.0`

[2019-10-23 09:45] dbaeumer commented on #785
I checked locally and for me this doesn't happen.

I am not sure if this is a problem with the eslint extension or with a ESLint plugin in your configuration. Since the ESLint server loads the configured ESLint plugins a misbehaving plugin is very likely causing this.

Can you share your setup that demos this?

[2019-10-23 10:12] dbaeumer commented on #783
Actually the ESLint extension is not contributing a formatter. So Format Document never used eslint fixes. So I am not sure what formatter you had configured before to make this work. There is: https://github.com/microsoft/vscode-eslint/issues/417 to enable this.

I will close the issue.

If you use prettier you might be interested in https://github.com/microsoft/vscode-eslint/issues/696 which des

[2019-10-23 10:12] #783 closed

[2019-10-23 10:20] dbaeumer commented on #784
Since you use relative paths you need to let the extension know that you want to change the working directory (which is off by default since it might cause other side effects since eslint is very sensitive to the current working directory).

Something like
[code]

[2019-10-23 10:20] #784 closed

[2019-10-23 10:22] dbaeumer commented on #782
I am pretty sure it is `typescript-eslint`. Depending on the enabled rule this might construct the whole project in memory. The only fix I see right now is to support https://github.com/microsoft/vscode-eslint/issues/733.

I will close the issue.

[2019-10-23 10:22] #782 closed

[2019-10-23 10:30] SBRK commented on #600
Doesn't work for me either. It works when I restart VSCode, then at some point, stops working and I have to restart again...

[2019-10-23 10:38] #549 closed

[2019-10-23 10:51] dbaeumer commented on #48
The describe improvements have happened a while ago. See https://github.com/Microsoft/vscode-eslint/blob/master/client/src/extension.ts#L617

I will close this issue since from an extension point of view no further work is needed.

[2019-10-23 10:51] #48 closed

[2019-10-23 10:53] #370 closed

[2019-10-23 10:55] #623 closed

[2019-10-23 10:56] #643 closed

[2019-10-23 10:58] dbaeumer commented on #641
I think this is obsolete now that we have quick fixes to add these comments.

I will close the issue.

[2019-10-23 10:58] #641 closed

[2019-10-23 10:59] dbaeumer commented on #644
Auto fixing on save exists. No plans right now to implement it on paste.

[2019-10-23 10:59] #644 closed

[2019-10-23 14:03] GordonBlahut commented on #785
Thank you for clarifying that it's likely a plugin.

I will see if I can reproduce in a minimal setup to share and/or narrow it down to a specific plugin and go from there.

[2019-10-23 14:09] adamprocter commented on #696
Unfortunately I do not really understand any of the suggested fixes and any tweaks I make to my vue don’t help. :(

[2019-10-23 14:10] dbaeumer commented on #91
There is now `eslint.lintTask.options` which allows to specify the command line passed to the external lint task.

[2019-10-23 14:12] dbaeumer commented on #677
https://github.com/microsoft/vscode/issues/72042 got fixed on the VS Code side. I will close the issue. Please ping if you still see the problem.

[2019-10-23 14:12] #677 closed

[2019-10-23 14:29] dbaeumer commented on #701
Actually the problem is that the JS/TS extension formats the file as well hence you see the jumping. Using

[code]

made it work for me.

[2019-10-23 14:29] #701 closed

[2019-10-23 14:37] dbaeumer commented on #738
Closing since the fix needs to come from the typescript plugin.

[2019-10-23 14:37] #738 closed

[2019-10-23 14:38] dbaeumer commented on #655
Dups #267

[2019-10-23 14:46] dbaeumer commented on #785
Thanks for getting back. Ping when you have a minimal setup.

[2019-10-23 18:14] garyking commented on #721
I upgraded to `@typescript-eslint/parser@2.5.0`. The problem seems fixed for me too, so far. I tested in two of my largest projects.

[2019-10-23 19:17] Rowno commented on #738
It looks like it already has been fixed on the typescript plugin side?
https://github.com/typescript-eslint/typescript-eslint/issues/864
https://github.com/typescript-eslint/typescript-eslint/pull/973

Is there anything that needs to be changed on the vscode-eslint side?

[2019-10-23 20:41] garyking commented on #738
I've got the new parser 2.5.0 installed, and the error still occurs in VSC.

[2019-10-24 08:42] BO41 commented on #782
@mustafa-cosar I think your problem got fixed in https://github.com/typescript-eslint/typescript-eslint/issues/1107 with the new 2.5.0 of typescript-eslint

[2019-10-24 10:21] BO41 commented on #782
Issue got mostly resolved duo to an update of typescript-eslint to [version 2.5.0](https://github.com/typescript-eslint/typescript-eslint/releases/tag/v2.5.0) (just released) which drops the ram usage to about ~1GiB :tada: and also fixes some other bugs :tada: :tada:

[2019-10-24 10:30] #774 closed

[2019-10-24 11:44] mustafa-cosar commented on #782
Thanks for the heads-up

[2019-10-24 14:54] AndySteel-kcom commented on #775
I too have been seeing this error since upgrading packages and/or working more on typescript files recently. Basically, as soon as you type a change into the editor (typescript file in my case), the eslint extension goes really corrupt from the point where you'd typed. The errors bear no relation to the code. Disabling & Enabling the extension doesn't solve the problem. I have to close vscode fold

[2019-10-24 14:58] AndySteel-kcom commented on #775
As an example, I loaded vscode and proceeded to line 192 which had eslint reporting that the comment needed a space after the double slash //. So I added a space at column 6 and then ESLint extension went wrong thereafter as you can see below. It appears to be miscounting the number of spaces everywhere as I now have 782 problems reported all relating to spaces.

![image](https://user-images.githu

[2019-10-24 15:06] AndySteel-kcom commented on #775
I just realised that the installed versions of packages may be later than those listed in the package.json so i've listed out the actual packages being used locally below.

[code]
And here's my global install base of packages.
[code]

[2019-10-24 16:05] AndySteel-kcom commented on #775
I've been changing versions of a couple of packages in my project devDependencies to narrow down what may be the cause. simply by editing the typescript file and removing a space between // and following text will cause the error.

@typescript-eslint/eslint-plugin v2.5.0
@typescript-eslint/parser v2.5.0
The above combination results in the errors within vscode.

@typescript-eslint/eslint-plugin v2

[2019-10-24 16:54] GordonBlahut commented on #785
I suspect this was caused by a specific version of the typescript-eslint plugin and fixed in the next version. I can no longer recreate the issue since I've updated the plugin.

[2019-10-24 16:54] #785 closed

[2019-10-24 23:17] tmswartz12 commented on #600
Confirming that this issue persists. If you restart VScode it will work for a bit of time!

[2019-10-25 03:25] xuanxuan321 opened #786 "gray out unused variables in js is not working when I turn eslint plugin on in vscode 1.39.2"

[2019-10-25 14:30] #780 closed

[2019-10-25 15:30] #763 closed

[2019-10-25 17:51] ievgenk commented on #696
Unfortunately with Create React App setup, none of the suggestions worked either...

Thanks to @orionrush for all of the suggestions, but possibly because I am using CRA it changes something.

[2019-10-25 19:30] dugajean opened #787 "ESLint (or Prettier?) randomly stops working"
I have the latest VS Code and I use ESLint and Prettier for my projects. Very often, ESLint, which is supposed to work together with Prettier according to the rules I've setup and plugins I've installed, will just stop working.

For example: I have some badly formatted code and ESLint will show the red underlines normally. With my current settings, saving the file will fix those errors automatical

[2019-10-25 20:31] odebroqueville opened #788 "Need help to get eslint-plugin-amo to work in VSCode"
I've installed both eslint 6.51 and eslint-plugin-amo@latest globally.
My eslintrc.json looks as follows in VS Code:
<img width="391" alt="Screenshot 2019-10-25 at 22 20 56" src="https://user-images.githubusercontent.com/4818315/67602331-a486a580-f776-11e9-8bd6-bd2670201b03.png">
You can see that eslint is picking up a problem "browser not defined" from browser.i18n.getMessage in my background.js

[2019-10-25 21:15] willdurand commented on #788
`eslint-plugin-amo` is a plugin for the AMO website, so it is configured for a browser + node app, not for a web extension (`browser` only exists in the context of a web extension, not in the browser or node IIRC).

[2019-10-26 06:53] javierguzman opened #789 "ESLint does not do anything"
Hello all,

I am trying to setup my VSCode ES Lint but it does not seem to work properly. I have to specify where my lint configuration is because is not in the root, and because of that it does not find "eslint-plugin-react". To fix this late error I specify the "nodePath" option but still it does not find eslint-plugin-react!

This is my workspace configuration:
[code]
Thank you in advance!

[2019-10-26 12:11] odebroqueville commented on #788
Does that mean that there is no way not to have

 show up as a problem? Is there no eslint plugin for web extensions?

[2019-10-26 15:05] willdurand commented on #788
You can probably declare `browser` as a global variable, I dunno.. I am not aware of an eslint plugin for web extensions, but that is a neat idea.

[2019-10-26 15:57] #788 closed

[2019-10-27 09:10] crystalfp opened #790 "Cannot read property 'parent' of null"
Issue Type: <b>Bug</b>

Load the attached file, change it, after a while this error appears:
Parsing error: Cannot read property 'parent' of null - eslint [1, 1]

The above error does not appear when running eslint outside VSCode.

[eslint.yaml](https://github.com/microsoft/vscode-eslint/files/3775657/eslint.txt)
[synonyms.ts](https://github.com/microsoft/vscode-eslint/files/3775651/synonyms.txt)

[2019-10-27 17:33] walleXD opened #791 "extension breaks in vscode while using extends in overides"
HI all,

I have mixed js/ts project and am currently using overrides to lint ts until the whole codebase migrates to ts. Unfortunately it breaks the vscode eslint integration. Any ideas on how to get around it?

I have the latest eslint version `6.6.0` installed as well as the latest versions of all the plugins. Thanks for all the help!

[code]

[2019-10-27 23:50] RodyGL commented on #790
Same error happening to me. I can't continue to use ESLint cause is throwing none existing errors...
I get

- **Cannot read property 'parent' of nul**
-  **`>` can be escaped with `&gt;`.**

Among other errors just by editing or adding files. The only fix for now is reloading vscode like 1000 times a day...

[2019-10-28 10:58] dbaeumer commented on #790
@crystalfp can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Usually errors like this highly depend on the used npm package versions as well.

[2019-10-28 10:59] dbaeumer commented on #791
@walleXD can you please provide me with a GitHUb repository I can clone that demos what you are experiencing.

[2019-10-28 11:23] dbaeumer commented on #789
@javierguzman can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-10-28 11:24] dbaeumer commented on #787
@dugajean can you please provide me with a GitHub repository I can clone that demos what you are experiencing (including steps how to replay).

[2019-10-28 11:26] dbaeumer commented on #786
Dups #586

[2019-10-28 11:26] #786 closed

[2019-10-28 11:29] dbaeumer commented on #775
@AndySteel-kcom thanks for the detailed analysis. Can you reproduce the exception mentioned here: https://github.com/microsoft/vscode-eslint/issues/775#issuecomment-545957027 in the terminal as well. This looks like a general eslint problem to me and should be filed against them.

[2019-10-28 15:35] tjx666 opened #792 "eslint doesn't work in my project"
os: win10pro 1909
vscode: 1.39.2
project repository: https://github.com/tjx666/refined-nowcoder

I use typescript + prettier + react.
It works well when I use the command tool, but VSCode can't real-time show the error or warning Infos of lint problems.

[2019-10-28 17:26] AndySteel-kcom commented on #775
hi. eslint on the terminal was fine. problem only with vscode editor

[2019-10-28 18:26] walleXD commented on #791
it's private repo but I'll put together a repo which reproduces the issue

[2019-10-28 21:02] dpkirchner commented on #747
Do you mean that it should already support the top down approach or that it should at some point in the future?

[2019-10-28 21:14] dpkirchner commented on #700
@dbaeumer Do you have an example demonstrating workingDirectories? It's not working for me, either, although my exact scenario is different (no errors, it just ignores the .eslintrc files in the specified working directory.

[2019-10-29 08:45] dbaeumer commented on #700
@dpkirchner this repository has a working directory setting for its server and client folder.

[2019-10-29 08:56] dbaeumer commented on #747
The eslint extension doesn't implement any lookup algorithm itself. It uses the standard eslint npm module and its provided API. So all lookup behaviour are the same for running eslint in the terminal and running eslint inside the VS Code extension.

The only  thing that you need to keep in mind is that when executing eslint in a terminal and you do a change directory into a sub directory of the w

[2019-10-29 08:57] dbaeumer commented on #791
OK. Thanks

[2019-10-29 08:58] dbaeumer commented on #775
@AndySteel-kcom thanks. Any GitHub repository I can clone that demos this?

[2019-10-29 09:56] dbaeumer commented on #792
Since you try to validate TS you need to tell VS Code to validate TS files. See here to find out how: https://github.com/microsoft/vscode-eslint#using-eslint-to-validate-typescript-files

[2019-10-29 09:56] #792 closed

[2019-10-29 10:24] dugajean commented on #787
@dbaeumer It happens in all of my code bases. I'll try to provide a recording of it happening.

[2019-10-29 13:38] dugajean commented on #787
@dbaeumer

![req](https://user-images.githubusercontent.com/2448254/67772056-b8255b00-fa59-11e9-8313-474259de544e.gif)

[2019-10-29 15:21] dpkirchner commented on #700
Thanks, that helped me figure out what I was doing wrong.

[2019-10-30 07:30] xg4 commented on #790
It seems that typescript-eslint error https://github.com/typescript-eslint/typescript-eslint/issues/1114

[2019-10-30 11:07] dbaeumer commented on #790
@xg4 thanlks for pointing this out.

[2019-10-30 11:07] dbaeumer commented on #790
I will close the issue in favour of typescript-eslint/typescript-eslint#1114

[2019-10-30 11:07] #790 closed

[2019-10-30 16:45] obendev commented on #91
Hey, I'm getting a lot of `'niceFunction' is not defined.eslint(no-undef)`-errors. But `niceFunction` is defined in another file of my project.
When this feature gets implemented, would this mean eslint also 'understands' that there are other files to scan for?

[2019-10-30 18:06] kumarvaibhav45 opened #793 "Eslint not working properly"
Hi, i am trying to configure eslint in vs code and real time linting doesn't work. It shows this as output---

[code]

It works fine if i run on a particular file like
```eslint ./src --fix```
this shows 3 errors and all.

Here is my local configuration file:
### .eslintrc.json

[code]

### .package.json
[code]

#### I tried installing eslint-plugin-react globally and locally. it doesn't help.
Tha

[2019-10-30 20:26] agwells commented on #91
What you're describing is unrelated. If `niceFunction` is declared in "file A", then referencing it in "file B" is a mistake unless:

* You are importing it into "file B" via an `import` or `require`, in which case eslint will not complain about it being undefined
* OR You've made `niceFunction` into a global variable, in which case you need to specifically tell eslint that it's a global variable

[2019-10-31 08:28] dbaeumer commented on #793
@kumarvaibhav45  can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-10-31 08:30] dbaeumer commented on #787
@dugajean I am not questioning that you are seeing this. But without reproducible steps something like this is hard to track down and to fix. So I still welcome a GitHub repository I can clone that demos this.

[2019-10-31 09:23] kumarvaibhav45 commented on #793
@dbaeumer
Here is Github Repo of project: [eslint-issue](https://github.com/kumarvaibhav45/eslint-issue)

[2019-10-31 14:20] kumarvaibhav45 commented on #793
I think linter is not working as a folder with both client and server sides codes was opened on the editor. It works perfectly fine for just the client folder. Thank you for responding.

[2019-10-31 14:20] #793 closed

[2019-11-01 19:43] javierguzman commented on #789
Hello @dbaeumer !!

Thank you for your response and sorry for the delay, I have been away this weekend. I have created this simple example, I hope is good enough for you:

https://github.com/javierguzman/eslint-plugin-test

You will have to modify the settings.json as it contains absolutes paths but the project represents the folder structure I am trying to make work.

[2019-11-02 11:58] foxdonut commented on #696
@orionrush setting `"eslint.workingDirectories"` worked for me, thank you so much for your help!

[2019-11-03 15:16] desmartDev commented on #696
I just restarted VSCode after installed `"eslint-plugin-vue"` and everything works fine.

[2019-11-04 07:19] tvkit commented on #124
Yup, there's code assist support for JSON, but conditionals are problematic.

Here's a default vue setup, _.eslintrc.js_,  with ENV conditionals.

[code]

[2019-11-04 23:09] tcg commented on #600
Not sure if it's directly related, but I'm currently researching a fix for ESLint `autoFixOnSave` behavior "toggling" (when it *does* work) over here: https://github.com/tcg/vscode-eslint-prettier-autoformat-glitch

If this is definitely unrelated / known as something else, I apologize for piling on and I'm very happy to delete this comment.

[2019-11-04 23:15] tcg commented on #154
I don't want to pile on, just wondering: Is this related to the "toggling" behavior, where multiple saves will result in content switching among 2 or more formatted states?

(I'm researching solutions for issue shown in the gifs here: https://github.com/tcg/vscode-eslint-prettier-autoformat-glitch)

[2019-11-04 23:22] moltar commented on #154
@tcg afaik this issue is unrelated to what you are experiencing.

Your issue is a conflict of different formatters fighting for the right format. Just use ESLint with prettier config, and disable prettier itself. I.e. get ESLint CLI config to work properly with prettier and disable prettier ext.

[2019-11-05 00:15] tcg commented on #154
Thanks @moltar. Unfortunately I already “just” did that. I think. I’m reading your last two sentences as recommending opposite things.

So , ESLint w/ eslint-prettier plugin and no Prettier extension (my current setup) ??

Or ESLint and Prettier extensions, somehow configured not to interfere w/ each other’s rules?

[2019-11-05 01:36] Joker0824 commented on #623
I find the issue when the .vue file is to big(when the code is more than 1000 lines)

[2019-11-05 08:07] ThomasKientz commented on #154
@tcg no prettier extension, but running eslint --fix at save by your IDE or webpack. https://prettier.io/docs/en/integrating-with-linters.html

[2019-11-05 09:46] #775 closed

[2019-11-05 09:46] #791 closed

[2019-11-05 09:46] #747 closed

[2019-11-05 15:20] LadIQe opened #794 "Plugin prettier not found"
Hello, I have problem with prettier plugin not loaded correctly or not found. We upgraded whole project to newer packages, everything works fine, but we found out, that prettier/eslint is not working at all (at least in VS Code, in terminal it works).

We upgraded from
[code]

to newer one:
[code]

and eslint/prettier stop working in VS Code, here is info from vs code terminal
[code]

We have also

[2019-11-05 17:04] tcg commented on #154
@ThomasKientz Thanks for that clarification.

Sorry to hijack!

I started everything from scratch, and followed those directions (yesterday, and again this morning) and still seeing some weird behavior, but I now think it's specific to rules/code I'm looking at, and not across the board.

I really appreciate the extra info! 👋

[2019-11-05 19:09] matthewwithanm commented on #154
@tcg I think you're still going to see weird behavior. With the suggested "ESLint with prettier config", you'll need to save multiple times to get all your fixes run. (That's what this issue is about.)

[2019-11-06 11:19] Elberet opened #795 "Generated task fails when running on Windows with a POSIX-style shell"
This is a followup to #484 and a re-report of the same issue. I believe that the issue is unrelated to WSL, the reason why it was closed, but I can unfortunately not reply to or reopen the original issue.

The problem:

The auto-supplied eslint task detects the current OS and discovers the installed eslint binary as `node_modules\.bin\eslint.cmd`. It then tries to run that command in the integrate

[2019-11-06 11:44] dbaeumer commented on #795
This is a general issue in VS Code and nothing the ESLint extension can fix. See https://github.com/microsoft/vscode/issues/38381

[2019-11-06 11:45] dbaeumer commented on #794
@LadIQe does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-11-06 11:49] LadIQe commented on #794
@dbaeumer  hello, thank you for reply. Yes validation is working in terminal, but inside VS Code it doesnt work.

I can give you repo for eslint-biq, which we are using:
https://www.npmjs.com/package/eslint-config-biq

than we have .eslintrc
[code]

Unfortunately, I cant give you repo for project, because its our internal private project.

[2019-11-06 12:00] Elberet commented on #795
Really? 🤨

Because this task works just fine for me:

[code]

Isn't that equivalent to using a `ProcessExecution` instead of `ShellExecution` as mentioned in the initial report?

[2019-11-06 12:02] dbaeumer commented on #789
This also fails for me in the terminal:

[code]

I recommend to get this working in the terminal first. If you then still see problems in the VS Code extension please ping again.

[2019-11-06 12:02] #789 closed

[2019-11-06 12:05] dbaeumer commented on #794
A GitHub repository I can clone that demos what you are seeing is highly appreciated. Without it it will be hard to understand what causes this for you.

[2019-11-06 12:33] LadIQe commented on #794
yes I understand you, but as I said, its project for our customer and we cant share any code. But if it can help you, its based on create-react-app where we are using eslint-config-biq, thats all

almost forget, we are using docker, but as I said, I cant give you repo for project, and also we are using gitlab, not github

[2019-11-06 12:50] arcanis commented on #600
I've opened a thread on the VSCode repository (https://github.com/microsoft/vscode/issues/84049) to try to open the discussion regarding the time budget. This issue along with https://github.com/microsoft/vscode-eslint/issues/154 leads me to think that the problem is deeper than just `vscode-eslint` (although it's certainly a prime example).

[2019-11-06 13:56] markmckim commented on #794
I wonder if this is related to this issue (which is still impacting me)...

#759

Seems like ESLint / VSCode cannot find plugins when running as part of a multi project workspace, but if I open the project in its own VSCode window (or run lint via terminal), it works fine

[2019-11-06 14:47] dbaeumer commented on #794
@LadIQe it must not be your private repository. I could also be a repository that only contains an example that demos what you are seeing.

[2019-11-06 15:01] evanwellens opened #796 "Autofix lightbulb not showing / Autofix on save not working (Typescript)"
Even the most trivial fixes are not auto fixing (like making let -> const or spacing) . It finds the  problems , just no option to fix. I tried auto fix on save ,
The following is set
"eslint.autoFixOnSave": true,
"files.autoSave": "off",

.eslintrc.js
module.exports = {
  parser: '@typescript-eslint/parser',
  plugins: ['@typescript-eslint'],
  extends: ['plugin:@typescript-eslint/recommended'],

[2019-11-06 15:15] LadIQe commented on #794
@dbaeumer here is sample project

https://github.com/LadIQe/eslint-test

[2019-11-06 17:32] Elberet commented on #795
@dbaeumer: looks like you're not reading comments on closed issues. 😁
Any feedback on the above? Is there a reason for running eslint through a shell that I'm not aware of?

[2019-11-06 21:37] javierguzman commented on #789
Hello again @dbaeumer,

Sorry I missed a couple of dependencies. I have updated the package.json to reflect this.

I run now ok in the terminal but when using the plugin it says "No ESLint configuration (e.g .eslintrc) found for file: " blabla.

[2019-11-07 08:46] #787 closed

[2019-11-07 10:47] dbaeumer commented on #794
@LadIQe in the example you provide which folder do you open in VS Code ?

[2019-11-07 10:48] dbaeumer commented on #789
When you run in the terminal do you run the command from exactly the same folder on which you open VS Code.

[2019-11-07 10:49] LadIQe commented on #794
@dbaeumer whole project, because we are constantly changing FE and BE code, so always switching is not a good idea

before it works great but now after upgrading packages it doesnt work

[2019-11-07 10:52] dbaeumer commented on #795
I do read comments on closed issue. But I have other things to do as well :-)

In the provided example the OS will very likely spawn a windows command interpreter which executes fine. I talked to the task dev on VS Code and she confirmed that there are still problems executing tasks on bash shells under Windows. T

[2019-11-07 10:54] dbaeumer commented on #794
Then you need to set the workingDirectory settings to tell VS Code eslint to treat them as working dirs. See https://github.com/microsoft/vscode-eslint. Best with `changeProcessCWD` set to true.

[2019-11-07 10:54] dbaeumer commented on #796
Please see:  https://github.com/microsoft/vscode-eslint#using-eslint-to-validate-typescript-files

You need to enable auto fix for TS.

[2019-11-07 10:54] #796 closed

[2019-11-07 10:59] markmckim commented on #794
So do we need to set every single directory in this setting? e.g. if I have one large workspace with 10+ projects, and cloning other repos regularly, I need to update this setting each time? Is there not a way to have this auto detect to current directory you are working in? Thanks!

[2019-11-07 11:01] iniatse commented on #747
Can you please not close a issue after 2 days... I'm busy until next month at the moment. I will respond as soon as I can.

[2019-11-07 11:34] LadIQe commented on #794
@dbaeumer thank you for your quick fix, now its working like before (at least in directory, which is set under `eslint.workingDirectories`). But, as @markmckim mentioned, is there auto detect function, which can detect it by itself? thank you

[2019-11-07 16:07] Elberet commented on #795
Hm, apologies... I've accidentally removed a part of the example. Please pretend that the task definition includes `{ "linux": { "command": "./node_modules/.bin/eslint" } }`. Anyway, the significant bit in the sample is the `"type": "process"` setting which I understand causes VS Code to run the command directly instead of invoking a shell with the task command as one of the shell's command line a

[2019-11-07 17:14] pablobirukov commented on #767
@dbaeumer too bad, GitHub doesn't want on label's change. I already have made a straight fix (keep the list of edits, apply the ones that are listed under `autoFixOnSave`) and even published the forked plugin, which we use inside of my company

Please take a look at submitted PR #798

[2019-11-07 20:24] mikew opened #799 "Fix doesn't give the same output as `eslint --fix`"
We're using jsx-sort-props, and with the recent update to VS Code, have noticed that fix is ... introducing errors.

With this input:

[code]

The output of running `fix all auto-fixable problems` is:

[code]

While the output of `./node_modules/.bin/eslint --fix eslint-issue.js` is:

[code]

[2019-11-08 08:23] dbaeumer commented on #799
@mikew can you provide me with a GitHub repository I can clone that demos this.

I have no idea why an update of VS Code should change this since the ESLint extension computing the fix didn't change.

[2019-11-08 08:30] dbaeumer commented on #767
@pablobirukov the PR has merge conflicts since the way how the fixes are computed change to fix other problems around auto fix (e.g. that basically not all fixable problems got fixed. See https://github.com/microsoft/vscode-eslint/issues/154). In addition the auto fix will migrate to a Code Action to support other wanted features.

You approach will still be valid however it needs some different c

[2019-11-08 08:36] dbaeumer commented on #795
Yes, but calling the cmd directly doesn't work on all Windows systems.

One alternative would be to specify the shell to use. Need to check if the API allows this.

As a workaround you can always define your own task.

[2019-11-08 08:41] dbaeumer commented on #794
For auto detection see: https://github.com/microsoft/vscode-eslint/issues/745

The problem is that the auto detection is not trivial without reimplementing internals of the ESLint npm module.

Interestingly devs have no problem doing a cwd in a terminal to make this work since eslint in the terminal will fail in the root directories of these setups as well. Or does this work in the roots for you a

[2019-11-08 08:42] dbaeumer commented on #600
This will be addressed with the next version of ESLint. Parts are already in master.

[2019-11-08 09:41] Elberet commented on #795
In what way, and why shouldn't the user be expected to provide a sane environment?

(And no, using a POSIX-style integrated shell in Windows is not non-sane, because VS Code explicitly suggests this in its documentation. :wink:)

[2019-11-08 12:28] LadIQe commented on #794
I spoke with other devs in my team and we are going to use `eslint.workingDirectories`. Its not that great, but at least its working.

But interestingly, before it worked well

[2019-11-08 12:28] #794 closed

[2019-11-08 14:19] christos312 opened #800 "eslint does not work unless I terminate all nodejs processes"
Hello

After searching over the internet for days now, and finding many posts either here or other places I still haven't manage to make VSCode run eslint on the editor.

Suddenly I noticed something by accident, and I would like to have your opinion

ESLint is installed globally and in the project using npm. As soon as I open VSCode and I go ti OUTPUT > ESLINT I see the following output

[code]

[2019-11-08 18:37] dbaeumer commented on #795
As said this is a problem in VS Code and all I can do is to provide a work around. I can not fix this in ESLint :-)

[2019-11-08 20:59] javierguzman commented on #789
Hello!

At the end I have managed to solve the problem. The solution was to use VSCode workspaces. I guess the problem was I had the parent folder open on VS Code rather than the client/server folder only, so with workspaces I can have both folders open at the same time with individual settings set and it seems to work in this way.

Thank you for your help Dirk!

[2019-11-09 06:48] garyking opened #801 "Load workspace eslint config file for untitled files"
If we're in a workspace, then please load the workspace's eslint config file for untitled files.

Otherwise, when we're in a workspace, and we open a new untitled file, and set the language to JavaScript, we get the following error in eslint-vscode:

[code]

Unless there is a way to apply eslint to an untitled file, that I'm not aware of? Other than placing an eslint file in the user's home dir.

[2019-11-09 13:53] pablobirukov commented on #767
@dbaeumer I'd love to adopt my changes.

However, this time I'm struggling with #600 in ext debug mode, hope to find a way to have it gone

[2019-11-09 17:03] yamenarahman commented on #600
Following options are working.

Extending @verbumfeit answer:
[code]

`eslint`  is installed locally, also this is a `nuxtjs` project and I have extra nuxt/plugins and module installed.

[2019-11-10 17:58] pablobirukov commented on #767
Oh, my, didn't notice [disabled `willSaveWaitUntil`](https://github.com/microsoft/vscode-eslint/commit/861931b0e0f876d1aab7279fd663eeaac5a13661#diff-2cb5369b1fe91d5b13cb5a36ce8fdd58R816).

Now the fix seems straight, I just want to make sure I get it right.

The changes on save will be applied the same way they applied via code action. Which means that a new setting for specifying the subset of ru

[2019-11-11 14:12] waldothedeveloper commented on #759
@sprietNathanael  do you mind explain to me maybe a little bit more "visually" what you meant with: Adding both folders to my workspace as multiple roots????

that's where I'm confused.
I get it to make it work individually but when I open on VSCode my root folder containing the client and the server folders there's no way ESLINT understands.

-root_folder
  -client => .eslintconfig.json
  -server

[2019-11-11 14:21] dbaeumer opened #802 "Improve setup experience with TypeScript repositories."
Currently a user has to manually enable TypeScript validation in the settings file. We should have more auto detection here.

[2019-11-12 09:56] asherccohen commented on #600
For anyone having troubles with eslint, make sure the folder in your workspace is the root of your project. Adding a folder that is not the root of the project makes eslint server look at that instead of your project and can't load.

Eg. If add a folder that contains many projects you won't get linting or formatting unless you add an eslintrc file to it. Just add project folders separately so that

[2019-11-12 13:47] synchronos-t commented on #596
I just debugged why ESLint in VSCode gave different results than ESLint run on command line. In the end, the reason was CLI loading different versions of plugins from the global node_modules.

However, I would've found useful if ESLint in VSCode would had somehow given the similar information I get through running ESLint on CLI with `--debug`, e.g. in my case I wanted to see this row, revealing th

[2019-11-12 18:33] Seefer commented on #696
Are any of you having problems using VS Code's Workspace feature? I've noticed that I get Eslint errors lately when working with project folders within a VS Codes Workspace. If I open my project folder directly and not within a Workspace, everything works fine.

[2019-11-13 09:39] SantoJambit commented on #721
I haven't had it in a long time, so yeah, it's very likely fixed!

[2019-11-13 11:01] dbaeumer commented on #600
@asherccohen you can multi folder setups work using the `eslint.workingDirectories` setting.

[2019-11-13 11:17] dbaeumer commented on #696
@Seefer please have a look at the `eslint.workingDirectories` settings which exactly serves the purpose of defining these project folder for eslint.

[2019-11-13 13:43] dbaeumer commented on #596
@synchronos-t I was just in the process of implementing this. A next version will have a 'eslint.debug' setting which prints something like this to the console:

2019-11-13T13:41:40.975Z eslint:ignored-paths contains:
2019-11-13T13:41:40.975Z eslint:ignored-paths   target   = "C:\\Users\\dirkb\\Projects\\mseng\\VSCode\\Playgrounds\\linters\\lib\\test.js"
2019-11-13T13:41:40.975Z eslint:ignored-pat

[2019-11-13 13:55] synchronos-t commented on #596
Nice!

[2019-11-14 02:36] mikeyamato commented on #696
I too have a monorepo and I had one hell of a time trying to figure out where to put the `settings.json` file and how to format it. So to hopefully save some people the trouble here's my setup...

![Screen Shot 2019-11-13 at 6 32 25 PM](https://user-images.githubusercontent.com/27756216/68821873-501f6900-0644-11ea-8765-e5dc5abb1217.png)

**settings.json**
[code]

[2019-11-14 04:54] crhayes commented on #770
@willmtemple I am experiencing the same issue and stumbled across this issue.

I found someone's workaround that involves monkey patching module resolution so that ESLint resolves plugins relative to the config file they are referenced in (i.e. the base config in a shared config setup).

Thought you might find the discussion and code interesting:

https://github.com/eslint/eslint/issues/3458#issue

[2019-11-15 08:46] #799 closed

[2019-11-15 08:54] Drink-Tea13 opened #803 "I have a problem"
@react-native-community/eslint-config#overrides[2]: Environment key "jest/globals" is unknown . Please see the 'ESLint' output channel for details.

[2019-11-15 09:17] SikoSoft commented on #154
The issue still persists. :(

Also, there are no other formatters installed, and my settings file looks like this:

  "eslint.autoFixOnSave": true,
  "editor.formatOnSave": false

[2019-11-15 12:03] LeopoldLerch opened #804 "Mark working directory case insensitive on case insensitive file system."
Hi, I know, that happens quite often, but my searches did not reveal a solution to my problem

I have following constellation:

My Frontentpart (with .eslintrc.json and node_modules) is under

./DAP/Webkomponenten

I installed eslint & Co locally and also did a eslint --init. so everything is installed correctly. Linting a file from the command line also works.

However, the eslint-plugin always f

[2019-11-15 12:57] LeopoldLerch commented on #804
Just figured it out:

It is obviously case-sensitive. is there any way, to bypass this (as windows is not really case-sensitive?)

[2019-11-16 01:33] elado commented on #774
Can confirm - disabling lint rules function shows only on `.js` files, not `.ts`.

I also enabled `eslint.validate` with typescript.

[code]

[2019-11-16 19:10] dtinth commented on #154
[A new version with the fix is not released yet](https://github.com/microsoft/vscode-eslint/pull/766#issuecomment-550270147). You can run download and run this extension from source code in the meantime.

[2019-11-18 07:20] baixiaoji commented on #696
I'am ok with eslint@6.6.0;
first I see the above comments, when downgraded 5, then I realize did I spell wrongly about `eslint:recommended`,  then upgrade to 6.6, I work for me.

[2019-11-18 11:50] dbaeumer commented on #805
@aeschli any tip on how to achieve this for eslint. I have the following already in my package.json

[code]

[2019-11-18 11:55] dbaeumer commented on #803
@Drink-Tea13  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-11-18 11:58] dbaeumer commented on #696
@mikeyamato try

[code]

[2019-11-18 11:59] dbaeumer commented on #721
I will close the issue then. Please ping if you see it again.

[2019-11-18 11:59] #721 closed

[2019-11-18 12:03] dbaeumer commented on #767
@pablobirukov I think we can make this now a lot easier. Since auto fix on save now re-runs CLIEngine#executeOnText with `{ fix: true }` I would implement that as follows now:

- have a custom eslintrc* file for this
- add one setting to point to that custom file.
- use that file in https://github.com/Microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L1516

This will give users the fu

[2019-11-18 12:54] Lakitna commented on #696
So all these workaround and fixes are nice, but is this ever going to be fixed in a plug-and-play way?

One of the amazing things about this plugin with eslint@5 is that it just always works automagically, no matter your application/workspace layout. That's a great experience. The fact that this is no longer something I don't have to think about bums me out :(

[2019-11-18 13:02] Dewep commented on #696
Especially when people like @up9cloud or me have something like 20-30 projects in the same workspace.

[2019-11-18 16:32] pablobirukov commented on #767
@dbaeumer  I, personally, don't think this is a desirable behavior of the plugin.

I don’t see the right place for another eslintrc file. It does not belong to version control, as it’s an IDE-specific and even if we use the same IDE, some people prefer having different set of rules they want to be auto fixed.

Also, some people store their .vscode/ configs in non-project VCS and I can imagine such

[2019-11-19 05:02] mikeyamato commented on #696
@dbaeumer I'm guessing your way is better, but why?

[2019-11-19 08:59] aeschli commented on #805
Example is here: https://github.com/microsoft/vscode/blob/782f1592de7733cfbc6675300371ae8fd88bdd57/extensions/css-language-features/package.json#L792

https://github.com/microsoft/vscode/blob/782f1592de7733cfbc6675300371ae8fd88bdd57/extensions/css-language-features/schemas/package.schema.json

[2019-11-19 14:28] dbaeumer commented on #805
@aeschli thanks. I don't want to come up with my own schema. I actually want to express that in the package.json under the `eslintConfig` property the `http://json.schemastore.org/eslintrc` schema applies. Is this possible?

[2019-11-19 14:31] dbaeumer commented on #696
I am currently working ontwo changes for the next 2.0 version of the extension:

- glob support for `eslint.workingDirectories`
- making changing the process cwd the default since it majorly helps with eslint 6.0.

I also looked into detecting project folders but I couldn't come up with a good solution with wouldn't require prompting for review. If someone has ideas I am happy to consider them.

[2019-11-19 14:41] dbaeumer commented on #767
I don't see a big difference between having a setting in the settings.json file or having a separate file (which by the way could easily live the the .vscode folder). I really want to avoid re-implementing something that eslint already supports including defining JSON schemas for it.

[2019-11-19 14:42] dbaeumer commented on #800
The eslint library is loaded from the opened workspace folder.

can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-11-19 15:02] marksamman commented on #696
@dbaeumer I would suggest either traversing parent directories to look for .eslintrc with "root": true, or using the parent directory of `npm root`, as a default when eslint.workingDirectories "directory" is not set.

[2019-11-19 16:11] ark120202 commented on #805
@dbaeumer you can use `$ref` to reference schema by url, Prettier extension uses it: https://github.com/prettier/prettier-vscode/blob/master/package-json-schema.json

[2019-11-19 20:30] dbaeumer commented on #805
@ark120202 thanks for the pointer. Very helpful.

[2019-11-19 20:32] dbaeumer commented on #696
@marksamman this is exactly what I want to avoid since it is not only looking for .eslintrc files. ESLint has so many different ways to be configured (including a property in a package.json) that I don't want to be in the boat of re-implementing this.

[2019-11-20 06:51] christos312 commented on #800
Sure this is a test [repo ](https://github.com/christos312/vscode_eslint_test) that experience the same behavior. Its a simple test project since its happening for all projects.

[1] I open VSCode and this is what I see in the Output > ESlint
[2] Then I open PowerShell, kill all node processes and this is what I see. Then VScode starts working and underlining errors

![1](https://user-images.githu

[2019-11-20 09:53] rfgamaral commented on #696
Can't you use [`cosmiconfig`](https://github.com/davidtheclark/cosmiconfig) to solve that problem for you?

[2019-11-20 09:58] alejandroclaro commented on #745
Hi!

Any update about this?

I have a similar mono repository structure and the same issue. Updating the 'eslint.workingDirectories' each time a new package is added to the repository is far from an optimal solution.

It would be nice if it were possible to configure the eslint vscode extension to automatically detect the location of packages (for example, locate thepackage.json file) and change t

[2019-11-20 10:00] Lakitna commented on #696
Eslint actually uses cosmiconfig as you can see in the cosmiconfig readme: https://github.com/davidtheclark/cosmiconfig#searchplaces

[code]

[2019-11-20 10:53] dbaeumer commented on #696
Even with a library I want to stay away from this since the version I might use and the one used by the eslint in your workspace might be different in versions and produce different results. I was more hoping for suggestions on how to find this out using normal ESLint API.

[2019-11-20 10:54] dbaeumer commented on #745
The code for supporting glob patterns is is master, but no new version yet.

[2019-11-20 10:57] dbaeumer commented on #800
@christos312 can you please add a package.json to the repository that list your eslint version and plugins you are using. This makes it self contained and ensures we are seeing the same behaviour.

[2019-11-20 11:14] christos312 commented on #800
Sorry for that, I have added the package.json

[2019-11-21 10:04] dbaeumer commented on #800
This works for me without any problems.

![capture](https://user-images.githubusercontent.com/1931590/69327905-9b420900-0c4e-11ea-939f-68a4c912ac64.png)

Anything that you think could be special for you?

[2019-11-21 10:47] christos312 commented on #800
So you got the message

`ESLint library loaded from: c:\Users\Username\Desktop\development\project1\node_modules\eslint\lib\api.js`

as soon as you opened VSCode?

[2019-11-21 13:16] dbaeumer commented on #801
Agree.

[2019-11-21 19:30] sman591 commented on #799
Hi @dbaeumer, I'm seeing what I believe is the same thing. This seems like the working directory respected by eslint might have changed in a recent VSCode update?

[2019-11-22 18:06] wdoug opened #806 "Support new eslint suggestions API"
Eslint has a new Suggestions API that was initially described in [this RFC](https://github.com/eslint/rfcs/pull/30/files), and recently [merged](https://github.com/eslint/eslint/pull/12384) and released in eslint [6.7.0](https://github.com/eslint/eslint/releases/tag/v6.7.0).

The suggestions API provides information for users to manually apply fixes for lint issues that don't have enough context t

[2019-11-23 08:07] KyorCode commented on #696
Please keep in mind the structure the PNPM uses. Currently this plugin isn't able to load config/plugins even with the `workingdirectories` setup in an PNPM structure. Mainly due to the way ESLint resolves it's config/plugins. ( Explained here: https://github.com/pnpm/pnpm/issues/1951#issuecomment-526747199 ).

[2019-11-23 11:30] Seefer commented on #696
Some great tips and clarification in here. Thanks to all.

I must admit that my 'use case' for VS Code's Workspaces may not be as it's intended to be used. When the Workspace feature appeared I realised that the VS Code Extensions tools allowed you to enable or disable them on a Workspace basis so I was using it for that filtering capability.

I'm somewhat of a new-comer to Web development and I'm

[2019-11-23 21:37] Stanzilla opened #807 "Parsing error: Unexpected token"
This keeps happening in html files of this format https://github.com/squidfunk/mkdocs-material/blob/master/src/partials/integrations/analytics.html

[code]

eslintrc is here https://github.com/squidfunk/mkdocs-material/blob/master/.eslintrc

[2019-11-25 04:41] tjx666 opened #808 "Cannot read property 'body' of null"
I made a .d.ts file that contains a class without constructor function body, the eslint plugin report the error message as title.

screenshot:
![Snipaste_2019-11-25_12-40-45](https://user-images.githubusercontent.com/41773861/69512893-db6ff700-0f80-11ea-89e0-6c2da27d843b.png)

[2019-11-25 09:48] dbaeumer commented on #808
@tjx666 what happens when you validate the file in the terminal. I am pretty sure it results in the same exception since it originates from a eslint npm module.

If it occurs in the terminal can you please report this against ESLint (see https://eslint.org/)

[2019-11-25 09:48] dbaeumer commented on #807
@Stanzilla does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-11-25 09:57] dbaeumer commented on #806
I agree that adopting this in ESLint makes sense. However for auto fix on save there can't be an additional UI and for single error fixing we would simply provide both fixes as a code action.

[2019-11-25 09:57] dbaeumer commented on #806
This would be a good candidate for a PR.

[2019-11-25 09:59] dbaeumer commented on #799
No, the working directory is a pure eslint extension feature not influenced by VS Code.

Can you provide me with a GitHub repository I can clone that demos what you are seeing?

[2019-11-25 09:59] dbaeumer commented on #800
Yes I did.

[2019-11-25 10:32] Stanzilla commented on #807
Yeah it works from the CLI. You can use the repo I linked above for testing

[2019-11-25 11:44] christos312 commented on #800
Then something is wrong with my system :/

I will have to check it. Thanks for taking the time to check this

[2019-11-25 12:14] #803 closed

[2019-11-25 13:12] #808 closed

[2019-11-25 18:42] erdemalpay opened #809 "opened by mistake"

[2019-11-25 18:42] erdemalpay opened #810 "opened by mistake"

[2019-11-25 18:42] erdemalpay opened #811 "opened by mistake"

[2019-11-25 18:42] erdemalpay opened #812 "opened by mistake"

[2019-11-25 20:05] #812 closed

[2019-11-25 20:06] #809 closed

[2019-11-25 20:06] #810 closed

[2019-11-25 20:06] #811 closed

[2019-11-26 17:10] rfgamaral opened #813 "Add support for latest ESLint (v6.7.1)"
With [ESLint v6.7.0](https://eslint.org/blog/2019/11/eslint-v6.7.0-released) a new `ignorePatterns` property was added to config files but this plugin currently doesn't support this:

![image](https://user-images.githubusercontent.com/96476/69655833-4dbf0500-106f-11ea-89f3-b72be8487c60.png)

When can we expect a new release of `vscode-eslint` including this new feature?

In the mean time, is it po

[2019-11-26 20:54] kufii commented on #696
my use case for this is I like to have some basic linting when I'm just messing around outside of any projects writing test JS in VS Code. The fact that this doesn't work anymore has actually proven to be a pretty big loss for me

[2019-11-27 10:51] rfgamaral commented on #813
Never mind, I've realized that `http://json.schemastore.org/eslintrc` needs to be updated and this extension will support it without an update.

[2019-11-27 10:51] #813 closed

[2019-11-27 11:03] rfgamaral commented on #813
For the ones interested, I've opened a PR with SchemaStore:

- https://github.com/SchemaStore/schemastore/pull/870

[2019-11-27 16:57] dbaeumer opened #815 "Need Insider Testers for new ESLint extension version"
Hi all,

I have spent some time to add highly voted features to the ESLint extension. I am asking people in the community to help me test the features since they required quite some rewrite and a bunch of new code. New features are:

- better support for fix on save. The feature is now integrated in VS Code's code action on save feature which allows to define a time which is helpful for large JS f

[2019-11-27 21:24] bartekpacia commented on #696
Honestly, this is kinda ridiculous. In the last 2 days I've lost about 3 hours fighting it, reinstalling my dependencies, deleting them one by one, nothing helped.
Fortunately the workaround (open Code in the folder with .eslintrc.json) works fine.

[2019-11-27 22:46] Naragod commented on #696
The following worked for me
`export NODE_PATH=`npm root -g`

[2019-11-28 18:22] gso-visiona commented on #815
Thank you! Working like a charm, so far.

[2019-11-28 20:14] dbaeumer commented on #696
There is now a new Insider version of the extension that should help improve this. Please see https://github.com/microsoft/vscode-eslint/issues/815 on how to beta test it. Please be aware that this is a bigger rewrite of some functionality so other things might break :-)

[2019-11-29 08:48] rchl commented on #815
Getting this:
<img width="454" alt="Screenshot 2019-11-29 at 09 47 19" src="https://user-images.githubusercontent.com/153197/69856167-4d9c5080-128d-11ea-8cee-e220fa2b0ae7.png">

[2019-11-29 10:53] gso-visiona commented on #815
@rchl you should use vscode insiders, which is at v1.41.0, to test the extension.
https://code.visualstudio.com/insiders/

[2019-11-29 13:56] dbaeumer commented on #815
@gso-visiona thanks for providing this. I should definitely mention this.

[2019-11-29 13:57] rchl commented on #815
Is there a reason for that requirement though? Older versions are missing some required API?

[2019-11-29 13:59] dbaeumer commented on #815
It is not an API problem it is an internal VS Code implementation problem. To get things working I needed fixes in VS Code itself for settings and code actions on save. These are only in insider but will be in the next stable release.

[2019-11-30 07:09] beto-aveiga commented on #696
Having `eslint-config-prettier` and `eslint-plugin-prettier` worked for me. I'm currently using a lando drupal recipe for development and I added these packages on the root folder of the `lando` install. Hope that helps.

[2019-12-01 12:15] Ranguna opened #816 "No quick fix availabe"
There are lot's of closed issues in the repo about this but this problem still persists.

The image bellow shows an example of this bug. I have the `quotes` rule enabled to use single quotes and vscode doesn't show any quick fix.

![image](https://user-images.githubusercontent.com/5003755/69913743-c63d1180-1433-11ea-8a40-4df5fd31f10d.png)

I'm using vscode 1.40.2, the latest version of the eslint

[2019-12-01 18:41] gyratorycircus commented on #767
I would also like to see this feature, and I agree with @dbaeumer. Separate rules for linting vs fixing is already supported in ESLint by way of separate config files (I use this via `$ eslint --config <path>/.eslintrc-fix.js --fix <path>`), so it would make sense to accept a specific autofix config file. This implementation would be compatible between IDEs.

I'd expect this to be configured simil

[2019-12-02 07:48] Terryzjn opened #817 "自动插入分号"
Issue Type: <b>Bug</b>

自动插入分号没有办法关闭。试了很多种方法。放弃了

Extension version: 1.9.1
VS Code version: Code 1.40.2 (f359dd69833dd8800b54d458f6d37ab7c78df520, 2019-11-25T14:54:45.096Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-9400F CPU @ 2.90GHz (6 x 2904)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_sta

[2019-12-02 11:04] dbaeumer commented on #817
Can you please provide a GitHub repository I can clone that demos the problem you are seeing. Otherwise it is very hard to react on this.

[2019-12-02 11:08] dbaeumer commented on #767
The code for the next ESLint version is not in master. @gyratorycircus are you interested in providing a PR for this. The code to addresses this is here: https://github.com/microsoft/vscode-eslint/blob/master/server/src/eslintServer.ts#L1621

[2019-12-02 11:10] dbaeumer commented on #816
This is addressed with the next version of ESLint. If you want to help me to test it, please see: https://github.com/microsoft/vscode-eslint/issues/815

[2019-12-02 11:10] #816 closed

[2019-12-02 11:12] dbaeumer commented on #800
OK. Please ping if you find something. I will then reopen the issue.

[2019-12-02 11:12] #800 closed

[2019-12-02 11:20] dbaeumer commented on #807
Actually I get the same when executing it in the terminal:

<img width="627" alt="capture" src="https://user-images.githubusercontent.com/1931590/69955437-ea652500-14fd-11ea-8488-5e5f9656166b.png">

If this doesn't happen for you in the terminal when 'cding' in another directory you need to tell the extension about this using the `eslint.workingDirectories` setting.

Closing for now. Please ping o

[2019-12-02 11:20] #807 closed

[2019-12-02 11:48] Stanzilla commented on #807
I think it might just have needed `eslint-plugin-html` is there a way to make the extension tell the user when it opens a certain filetype that needs a plugin?

[2019-12-02 14:25] #802 closed

[2019-12-02 15:09] zanza00 commented on #815
I am in the processing of introducing eslint in our typescript codebase and found this issue.

I am not using anything fancy (no format on save, or autofixes) and i can confirm it works in displaying the error.

<img width="619" alt="image" src="https://user-images.githubusercontent.com/3732011/69970164-07115500-151e-11ea-9629-c857b5d0caac.png">

[2019-12-02 16:14] dbaeumer commented on #815
@zanza00 thanks for reporting this back.

[2019-12-02 16:24] dbaeumer commented on #807
Actually, that would be something eslint itself has to do. Otherwise I start to reinterpret something that depends on the npm eslint configuration. Have you reported the idea to the eslint repository ?

[2019-12-02 16:26] Stanzilla commented on #807
Not really, no. It does make sense that that's exactly what caused this, right?

[2019-12-02 16:27] dbaeumer commented on #807
Yes, it does make sense.

[2019-12-02 16:29] Stanzilla commented on #807
Alright, thank you! :)

[2019-12-02 22:06] Ranguna commented on #816
Will do, thanks.

[2019-12-02 22:46] robatwilliams commented on #696
In case it helps anyone searching, the following (based on previous comments) fixed it for me in a lerna monorepo. ESLint is installed in the root project, and its config file is there too.

[code]

[2019-12-03 01:55] matthewwithanm commented on #815
So excited about this! I have a little discrepancy…

I have a project using eslint-plugin-prettier and, while running `eslint --fix path/to/file/ignored/by/prettierrc` will (correctly) not report any errors, vscode-eslint does and its formatter corrects them.

[2019-12-03 11:11] dbaeumer commented on #815
The solution I imagine for this is that user can provide different config file for format and fix which will allow them to customize this.

[2019-12-03 13:43] nkas17 opened #818 "Eslint server running under old Node version"
I have Node v10.15.0 installed however, the Eslint server is running in v8.9.3.  This is causing an issue with Eslint since Eslint no longer supports that version of Node. see issue - https://github.com/eslint/eslint/issues/12620

I expect the eslint server to be running under the version of node i have installed.

[code]

[code]
Eslint extenstion settings:
[code]

the Eslint extension version is

[2019-12-03 13:51] nkas17 commented on #818
looks like the issue may be with an outdated VSCode installation that I have running.
[code]

[2019-12-03 14:13] isidorn opened #819 "ESlint easy for the user to not notice it is misconfigured"
Refs: https://github.com/microsoft/vscode/issues/85933

As specified in https://github.com/microsoft/vscode/issues/85933 when the workspace has eslint misconfigured the eslint extension is pretty quite and not in the users face complaining. I personally like this, however due to this it is easy for the user to not be aware that eslint is misconfigured.

I suggest the following, if the user trigger

[2019-12-03 14:23] isidorn opened #820 "ES Lint not reacting to changes in eslint configuratino files"
Refs https://github.com/microsoft/vscode/issues/85933

1. Use the workspace https://github.com/microsoft/vscode-eslint/tree/2.0.1-next.1/playgrounds/ts
2. Change the `eslint.base.json` to have something invalid
3. Reload the workspace -> notice how eslint properly does not detect any errors (since it is misconfigured). Fix the `eslint.base.json`. In order for eslint to start working I have to relo

[2019-12-03 14:38] nkas17 commented on #818
ok, after updating VSCode all is well.

[code]

[code]

[2019-12-03 14:38] #818 closed

[2019-12-03 17:21] matthewwithanm commented on #815
Sorry, I'm not following. Shouldn't the CLI and plugin behave the same by default? Currently, they're doing different things.

[2019-12-03 19:39] sana-ajani commented on #820
Yeah, agreed here. If I have ESlint enabled, I'd like for the problems view to pick up when I fix the .eslintrc

[2019-12-03 22:10] crscaballero commented on #759
@waldothedeveloper
this solutions worked for me
https://github.com/microsoft/vscode-eslint/issues/745#issuecomment-528036677

I don't really like it, but works

[2019-12-04 10:41] dbaeumer commented on #745
There is a new version (Insider testing) that addresses this is two ways:

- glob pattern support
- more eager working directory changes.

The version can be found here: https://github.com/microsoft/vscode-eslint/issues/815

[2019-12-04 10:43] dbaeumer commented on #815
@matthewwithanm  I think I misread what you posted. I was talking about different config and ignore files.

Your case should actually work in the new version. Did it fail for you? If so can you please provide me with a GitHub repository I can clone that demos this.

[2019-12-04 10:46] dbaeumer commented on #820
The plugin does react to changes in `.eslintrc*` file which are the normal ESLint setup files. The `eslint.base.json` was my name choice and someone else could name this `xyz.json`.

I could make this a setting put this feels like an overkill. Given that `.eslintrc*` file work any objection to close as wont fix?

[2019-12-04 11:26] isidorn commented on #820
I noticed that the .eslintrc files you watch. However the `eslint.base.json` is specified in the `.eslintrc`. Can we not auto detect this?

[2019-12-04 13:45] dbaeumer commented on #820
ESLint has quite some rules and different file type which I would all need to understand and reimplement how the resolving works in them. In addition users usually reach to a base config that is outside of the workspace (in some home directory) which I can't watch anyways. The example I gave you is very unusual :-).

[2019-12-04 14:00] isidorn commented on #820
Ok, thanks for explanation. It is fine to close as will not fix as far as I am concerned.

[2019-12-04 16:51] MarceloPrado commented on #696
In my case, I had the following folder structure:

[code]

I just had to add a `.vscode/settings.json` at the root of the project, with the following content:

[code]

This removes the mentioned error (for reference, I'm using eslint v6.7.2).
Not entirely happy with this though, as I have to manually add the projects to this setting file.

[2019-12-05 09:41] dbaeumer commented on #696
@MarceloPrado the next version will improve this. I do want to point out that eslint in the terminal fails as well in this setup if not executed from one of the directories front, back and shared.

[2019-12-05 09:42] dbaeumer commented on #820
Thanks @isidorn. Closing then.

[2019-12-05 09:42] #820 closed

[2019-12-05 18:47] gyratorycircus commented on #767
Very interested! I may not be able to commit to this immediately, but I can hopefully find some time over the holidays. I'm not well-versed in TypeScript, nor VSCode plugins, so it may take me a bit to get up to speed.

[2019-12-06 09:01] dbaeumer commented on #767
@gyratorycircus great. Ping me if you need support.

[2019-12-06 13:21] sebinsua commented on #815
Can I suggest that [`typescript` and `typescriptreact` be added to the `eslint.validate` config](https://github.com/microsoft/vscode-eslint#enable-typescript-file-validation) **by default**?

Since `tslint` has been deprecated, this is the main way that TypeScript developers will lint their code, and currently they have to reconfigure the extension to be supported.

[2019-12-06 13:40] dbaeumer commented on #815
@sebinsua this is now supported. Did it not work for you? From the above comment:

"javascript", "javascriptreact", "typescript", "typescriptreact", "html", "vue".
The validate setting is still available, but by default now empty. If you add a language id to the validate setting the language will show errors if validation fails.

[2019-12-06 13:58] sebinsua commented on #815
Apologies, I just went into this issue and didn't understand what `probe` was! I tested the extension and it works.

[2019-12-06 14:17] AGMETEOR commented on #759
Thanks I was facing similar issue and this solved it. Is this per workspace?

[2019-12-06 14:29] dbaeumer commented on #815
@sebinsua  Great to hear that it works for you!

[2019-12-06 14:58] papadi opened #821 "Incorrent trigger of react/no-unused-state when using optional chaining operator"
If a state variable is used only with the optional chaining operator, like this:
`this.state?.something`
then the following will trigger the "react/no-unused-state" rule:
`this.setState({ something });`

[2019-12-06 17:19] patrickliechty opened #822 "ESLint Plugin warnings don't match npm run lint output"
I need to get my output to match.

The ESLint Plugin is saying my indent is wrong in a javascript file (IIFE), but Node eslint says it is ok.  Both are using my .eslintrc.json file.  I did not do any custom settings to the ESLint Plugin except to add the same task options as my package.json script file which is this:

    "lint": "eslint --cache --ignore-path .gitignore ./**/*.html ./**/*.js && po

[2019-12-06 17:26] crscaballero commented on #759
What I did, was create in my root project `.vscode/settings.json` file, with this content:
    {
        "eslint.enable": true,
        "eslint.packageManager": "yarn",
        "eslint.validate": [
            "javascript",
            "javascriptreact",
            { "language": "typescript", "autoFix": true },
            { "language": "typescriptreact", "autoFix": true }
        ],
        "esl

[2019-12-06 20:10] mmahdigh opened #823 "`Fix all auto-fixable Problems` doesn't yield the same result as `eslint file.js --fix`"
I have configured ESLint for an already written project, but the problem is when I click `Fix all auto-fixable Problems` it doesn't do a great job of fixing indents whereas running `eslint file.js --fix` does it well (to be precise sometimes after two times of running it ).

Below is a code sample with which `Fix all auto-fixable Problems` doesn't work well:

        <LanguageContext.Consumer>

[2019-12-07 16:43] s-h-a-d-o-w commented on #815
I installed this to resolve missing error detection in my first, recently created lerna repo and it works out of the box now. Thanks for this improvement!

[2019-12-07 17:32] sfsccn commented on #815
The formatter option is working great (ESLint 2.0.1, VSC Insiders 1.41.0). I really like having that option in addition to fix on save (which is also working for me with the new system).

[2019-12-08 17:45] jgwinner commented on #417
This really needs to be "Fixed". Basically, the defaults on loading VSCode should 'just work'. Instead, every time you edit a file, all hell breaks loose. This is annoying and you lose productivity this way.

I should be coding, not getting irritated and surfing the web on an ocean of orange underlines.

[2019-12-09 10:11] dbaeumer commented on #417
This will be available in the next version. Please see https://github.com/microsoft/vscode-eslint/issues/815 if you want to help test this.

[2019-12-09 10:11] dbaeumer commented on #823
This got addressed for the next version of ESLint. Pls see https://github.com/microsoft/vscode-eslint/issues/815 if you want to help test this.

[2019-12-09 10:17] dbaeumer commented on #822
@patrickliechty are you validating the files using a task inside VS Code (e.g. executing a task) or are you relying on live validation in the editor. If the second you need to use the `eslint.options` setting to customize the linting.

If this doesn't help please provide me with a GitHub repository I can clone the demonstrates what you are experiencing.

[2019-12-09 10:19] dbaeumer commented on #821
@papadi please report this to the owner of the rule. The ESLint extension is relying in ESLint (https://eslint.org/) itself and doesn't implement its own rules.

[2019-12-09 10:19] #821 closed

[2019-12-09 11:14] #817 closed

[2019-12-09 17:52] Timmmm opened #824 "Provide quick fix for prettier suggestions"
You [can run `prettier` through ESLint](https://prettier.io/docs/en/integrating-with-linters.html) and it works very well, *except* it gives you quite hard to understand instructions. For example:

![image](https://user-images.githubusercontent.com/376842/70459562-528eaa80-1aac-11ea-883f-1b9882804c5d.png)

Normally I ignore these and fix them later via `npm run lint` which does some kind of magic

[2019-12-10 08:51] dbaeumer commented on #824
@Timmmm this should be addressed with the new version since it will execute the same code path as  `eslint --fix`.

Can you please test this as soon as I have released the new version which should happen the next couple of days.

[2019-12-10 11:56] Timmmm commented on #824
Excellent, will do!

[2019-12-10 12:35] rfgamaral commented on #696
I'm not sure if the issue I'm currently having is related to this one but here's my file structure:

[code]

And this are my `settings.json` contents:

[code]

An my `.eslintrc.json`:

[code]

And my `angularjs-component/.eslintrc` is just this:

[code]

And to finish, this is my `angularjs-component/tsconfig.json` file:

[code]

And here's my issue...

When I run `eslint` directly in the CLI insi

[2019-12-10 19:37] matthewwithanm commented on #815
[here you go!](https://github.com/matthewwithanm/dbaeumer-example)

[2019-12-11 09:40] dbaeumer commented on #815
@matthewwithanm thanks a lot. This is indeed something I broke to easy the setup of eslint 6.x repositories. However ignore files are not consider up the hierarchy (neither for eslint nor for prettier) and in these cases I shouldn't set the cwd to dir.

[2019-12-12 08:29] AntonioMeireles opened #825 "improve out of the box support for coffeescript"
Hi all,

there's now on `eslint`'s (and `prettier`'s btw) ecosystem side proper support for **coffeescript** per @helixbass 's **[eslint-plugin-coffee](https://github.com/helixbass/eslint-plugin-coffee)**  and **[prettier-plugin-coffeescript](https://github.com/helixbass/prettier-plugin-coffeescript)** ongoing (great) work.

This is all good and things work out of the box mostly on `vscode-eslint`

[2019-12-12 08:36] dbaeumer commented on #825
A PR would be welcome here.

[2019-12-12 08:42] AntonioMeireles commented on #825
@dbaeumer, thanks for the quick reply.  Sadly, i'm not privy with vscode's internals nor with typescript (sorry). fwiw and afaics on a quick glance all it is needed is to look at files's `languageId` and in `eslint.{createDisable{,Same}LineTextEdit}` turn the comment style conditional on it.

[2019-12-12 08:45] dbaeumer commented on #696
These settings look good to me:

[code]

Do you have a repository I can clone that demos this. Otherwise it is very hard to tell what is going on. The extension does use the ESLint npm module to do all the resolving and validating. So code wise it does the same as the eslint comment in the terminal. So it can only be a config / cwd issue.

[2019-12-12 08:46] dbaeumer commented on #824
Let me know how it goes.

[2019-12-12 09:31] rfgamaral commented on #696
@dbaeumer I don't have one for the moment and I'm kinda busy this sprint but I'll try to create one as soon as possible and post back. Thank you.

[2019-12-12 09:39] dbaeumer commented on #745
I tested it with the repository and the upcoming new version and here is what I get now:$

![capture](https://user-images.githubusercontent.com/1931590/70700880-b93ddf00-1ccb-11ea-932f-a0af130462fa.png)

[2019-12-12 10:11] rfgamaral commented on #696
@dbaeumer Just remembered something that might be relevant to my issue... I'm using Windows 10 and my project is stored in the Windows filesystem. However, when I open the terminal inside VS Code I'm running WSL and that's where I have installed all my dependencies with `yarn`. I don't have `node`, `npm`, `yarn` or any other tool installed in Windows, only WSL.

[2019-12-12 15:02] snario commented on #815
It would be nice if the extension did not auto-change the `settings.json` file and instead just marked as a warning the now obsolete arguments such as `autoFix`. I am working in a team that checks `settings.json` into `git` and not everyone is using Insiders, and so I need to now dance around this single file in my folder that should remain unstaged.

[2019-12-13 01:01] EtienneBourque commented on #815
With the 2.0.2 version of this extension with VSCode 1.41.0, having the `parserOptions.project` option set to `"./tsconfig.json"` to be able to use type checking rules as described [here](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin#usage), I now get these errors:

![image](https://user-images.githubusercontent.com/50217898/70760877-317ec180-1d19-11ea-8

[2019-12-13 01:37] nevir commented on #550
It's probably worth opening this on the eslint repo. The logic appears to be here:

https://github.com/eslint/eslint/blob/ca3b2a62c9e829dc4534bca3643d6bc729b46df0/lib/cli-engine/config-array/ignore-pattern.js#L136-L170

[2019-12-13 08:37] dbaeumer commented on #815
@snario I noticed the same and working on a new version that fixes this. The old settings will be deprecated and you can have both in parallel for a while.

[2019-12-13 08:38] dbaeumer commented on #815
@EtienneBourque I am working on a fix for this. To ensure this will fix your problem can you provide me with a GitHub repository I can clone that demos your problem.

[2019-12-13 15:26] dbaeumer commented on #815
I published a new version of the insider here: https://github.com/microsoft/vscode-eslint/releases/tag/2.0.3-next.1

It addresses @snario concerns about settings migration. It keeps the old settings for now, however to get the code action on save working it add some new once. However this will not affect users using the old version of the extension.

I also addressed problems around choosing the r

[2019-12-13 15:33] gso-visiona commented on #815
Vscode released version 1.41, which means this can now be installed without the need for Insiders release.

[2019-12-13 15:35] dbaeumer commented on #815
@gso-visiona thanks for pointing this out.

[2019-12-13 15:37] dbaeumer commented on #696
@rfgamaral actually that shouldn't make a difference. But you never know :-)

[2019-12-13 15:53] EtienneBourque commented on #815
While you published 2.0.3, I was creating a little demo workspace to show the problem I was having with 2.0.2.

I just tested with 2.0.3 and it's fixed.

Here's my demo anyway: https://github.com/EtienneBourque/eslint-tsconfig

With 2.0.2, I would get errors with tsconfig.json not being found when opening any file not in the root directory.

[2019-12-14 12:02] s-h-a-d-o-w commented on #815
I just wanted to experiment with `eslint.workingDirectories` but with most of the @dbaeumer mentioned (such as `mode` or `pattern`), when I save `settings.json`, the object literal gets converted to `null`.

Could that be related to the changes that were made here or is it something different?

So e.g.:
[code]

After saving:
[code]

[2019-12-14 23:25] alamothe commented on #417
@dbaeumer Thanks so much for working on this!

Ideally, the formatter should only fix **formatting** rules, not code smells. The problem with auto-fixing on format is that it changes what the code does, and  can sometimes produce a bug.

Can you please consider using `--fix-type layout` as documented by ESLint CLI for formatting? This setting should only apply formatting rules.

[2019-12-15 15:51] ajoslin103 opened #826 "Code Helper (Render) processes not quitting"
I see Code Helper (Render) processes not quitting when dealing with large files

Steps to Reproduce:

1. open a .js file containing a large object (attached)

[datasets-RI.js.zip](https://github.com/microsoft/vscode-eslint/files/3965102/datasets-RI.js.zip)

2. wait for Code Helper (Render) process to climb
3. see that the Code Helper (Render) process doesn't quit

Does this issue occur when all ex

[2019-12-15 20:35] dbaeumer commented on #815
@s-h-a-d-o-w which version of the extension are you using. The `{ "mode": "auto" }` is only available in 2.0.3 and it works for me (e.g. doesn't replace it with `null`). If you see this with 2.0.3 can you please provide me with a repository I can clone that demos this. Thanks !

![capture](https://user-images.githubusercontent.com/1931590/70868627-c20c0a80-1f82-11ea-85f7-65a852e21078.png)

[2019-12-16 00:00] vjancik opened #827 "Typescript support?"
Hi, I'm trying to use Typescript with ESLint in VSCode.

The problem si two-fold:
1. The ESLint extension doesn't initialize when opening `.ts` files. Only `.js`.
2. The extension doesn't seem to be respecting `eslint.options` nor `eslint.lintTask.options`. I've tried both:
[code]
The extension still doesn't run on `.ts` files. But it still runs on `.js` files even if I remove the extensions from

[2019-12-16 06:52] larshp commented on #827
Same problem, guess https://github.com/microsoft/vscode-eslint#using-eslint-to-validate-typescript-files is required

But yea, https://code.visualstudio.com/updates/v1_41#_eslint says its not required anymore, but the changes mentioned in https://github.com/microsoft/vscode/issues/85933 is not part of the latest release of the extension

🤔

[2019-12-16 08:43] vjancik commented on #827
That solved the issue. It's still worth noting however, that those config options that are perfectly valid (worked in command line) got ignored.

[2019-12-16 09:22] dbaeumer commented on #827
@vjancik  @larshp: Please see https://github.com/microsoft/vscode-eslint/issues/815 which ask for feedback for the new ESLint version which will be released soon.

[2019-12-16 09:22] #827 closed

[2019-12-16 09:30] dbaeumer commented on #826
I can not reproduce this using a basic ESLint setup. Can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Here is what I see:

<img width="713" alt="capture" src="https://user-images.githubusercontent.com/1931590/70895328-09c87b80-1fef-11ea-87bc-7f2dd65c25af.png">

[2019-12-16 09:35] dbaeumer opened #828 "Support separate `fixType` setting for format command"
See for the details. https://github.com/microsoft/vscode-eslint/issues/417#issuecomment-565762050

PR welcome

[2019-12-16 09:36] dbaeumer commented on #417
@alamothe  I created https://github.com/microsoft/vscode-eslint/issues/828 to track this. Please note the the fixType option is already supported however can not be separately be controlled for the formatting.

[2019-12-16 09:39] dbaeumer commented on #550
Just as a pointer: the upcoming ESLint version has two improvements here:

- a auto setting to infer the working directories
- glob pattern support (e.g. `/packages/*/`). So for large mono repositories you very likely only need one entry :-)

[2019-12-16 10:33] Lakitna commented on #696
With the VS code `1.41.0` this issue should be resolved for most people. From the release notes:

I was able to verify that Eslint now works in my projects.

[2019-12-16 11:12] simon-lorenz commented on #696
[...]

With plugins? It still fails on my machine if I don't configure `eslint.workingDirectories`.

ESLint Output-Channel:
[code]

eslint --debug ouput:
[code]

Version: 1.41.0
Commit: 9579eda04fdb3a9bba2750f15193e5fafe16b959
Date: 2019-12-11T18:32:17.711Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Linux x64 5.3.0-24-generic

[2019-12-16 11:21] Lakitna commented on #696
I do not use prettier, but it does work with all of `eslint-plugin-import`, `eslint-plugin-sonarjs`, and `eslint-plugin-unicorn`.

I've installed `eslint-plugin-prettier` too to try it out and things seem to be working fine for me.

As mentioned before there are probably a bunch of cases where things will continue to not work but it's worth checking if you can use eslint@6 now. For the failing sit

[2019-12-16 11:52] dbaeumer commented on #815
I officially publish 2.0.4 of the extension. Please provide any kind of feedback using a new issue.

Thanks you all for your testing!

[2019-12-16 11:52] #815 closed

[2019-12-16 11:54] dbaeumer commented on #600
This got addressed in the new 2.0.4 version. Please note that in that version auto fix on save is enabled using the `editor.codeActionsOnSave` setting.

[2019-12-16 11:54] #600 closed

[2019-12-16 14:31] sfsccn opened #829 "Suggestion for README: include formatter settings for settings.json"
For some reason my ESLint formatter got lost when I was using the pre-release. In the 2.0.4 release the "select a default formatter for JavaScript file" dialog inserts this into settings.json when ESLint is selected:

`"[javascript]": {
        "editor.defaultFormatter": "dbaeumer.vscode-eslint"
}`

I assume this need to be set in addition to `"eslint.format.enable": true`, is that right? If so, t

[2019-12-16 15:00] it-sha opened #830 "After last plugin updating eslint quick fix is not working."
Before updating it was possible to fix prettier errors with context menu.

For plugin version 2.0.4 it is not possible,

![Screenshot_2](https://user-images.githubusercontent.com/54891989/70916977-34cdc200-2025-11ea-8244-b621476bc518.png)

![Screenshot_3](https://user-images.githubusercontent.com/54891989/70917199-93933b80-2025-11ea-8644-80f2da24c2d0.png)

[2019-12-16 15:04] it-sha commented on #830
@dbaeumer, should I provide additional information?

[2019-12-16 15:22] mifi commented on #696
For me with 1.41.0 it still doesn't work. I get no error but there is no linting whenever I open a root with many projects. However opening only one project folder (which has .eslintrc) it works. Using eslint 5.16.0

[2019-12-16 15:52] dbaeumer commented on #596
Available in 2.0.4

[2019-12-16 15:52] #596 closed

[2019-12-16 16:01] dbaeumer commented on #696
I released version 2.0.4 of the extension which should improve this but it will still require some configuration work if the workspace is not a single project (e.g. the workspace root doesn't contain the package.json and .eslintrc file). The major reason why this can't be fixed in all cases is that ESLint itself (the npm module) is very sensitive to the current working directory for the module and

[2019-12-16 16:09] dbaeumer commented on #696
@simon-lorenz please see my comments in the previous post.

I will close the issue since in a more complex folder setup (e.g. mono repository) I couldn't find a way, without false positives, to detect a correct setup.It is comparable to the fact that eslint executed in a terminal usually requires to cd into the right directory. I am open for suggestions to further improve this though.

If you stil

[2019-12-16 16:09] #696 closed

[2019-12-16 16:12] dbaeumer commented on #829
Good point. Updated the readme. To see it in VS Code we need a new version of the extension.

[2019-12-16 16:13] StinsonZhao opened #831 "how to prevent eslint linting .eslintrc.js(yep, with extension '.js')"
I added `.eslintrc.js` as my eslint config file, and then added script `"lint" : "eslint src --ext .ts,.tsx,.js,.jsx"` in `package.json`.

[code]

If I use `yarn run lint`, everything is ok. But if I open `.eslintrc.js`, a warning will appear, which is "File ignored by default.  Use a negated ignore pattern (like "--ignore-pattern '!<relative/path/to/filename>'") to override." I think it was been

[2019-12-16 16:14] dbaeumer commented on #830
@it-sha can you please provide me with a GitHub repository I can clone that demos this. Would be really helpful.

[2019-12-16 16:17] dbaeumer commented on #154
I released 2.0.4 today which addresses this. Please note that for large file you need to increase the time budget to compute the fixes using `editor.codeActionsOnSaveTimeout`

[2019-12-16 16:17] #154 closed

[2019-12-16 16:18] dbaeumer commented on #745
Now available in 2.0.4. See new auto mode a glob pattern support for working directories.

[2019-12-16 16:18] #745 closed

[2019-12-16 16:19] dbaeumer commented on #417
Fixed in 2.0.4. See `eslint.format.enable`.

[2019-12-16 16:19] #417 closed

[2019-12-16 16:19] dbaeumer commented on #823
2.0.4 now shipped.

[2019-12-16 16:19] #823 closed

[2019-12-16 16:24] dbaeumer commented on #831
All I can do is to add another setting. The problem is that other wanted to see that message since it is usually printed in the terminal as well.

[2019-12-16 16:33] StinsonZhao commented on #831
I see. But I want the **vcode-eslint**'s behavior is consistent with my **lint** script, maybe according to some certain mechanisms.

[2019-12-16 16:38] dbaeumer commented on #830
This still works for me in my simple sample:

<img width="383" alt="capture" src="https://user-images.githubusercontent.com/1931590/70924991-cab81b80-202a-11ea-9919-fc039b8af289.png">

[2019-12-16 16:40] StinsonZhao commented on #831
What do you think:

If **vscode-eslint** detects a script called `lint` in package.json, it will use the `lint` script to run the lint task. And further to say, this mechanism can be configurable.

[2019-12-16 17:22] sgywzy opened #832 "Vscode Fix-all auto fixable problem not working"
Vscode(latest): 1.41.0
Vscode extension: Eslint 2.0.4

[code]

Auto-update is turned on by default and i got the latest version too (2.0.4) which broke the
Fix-all auto-fixable Problems function. Every problem shows up correctly but it's unable to correct it.
It's on a hotkey for me but invoking directly from the console(F1->...) doesn't do anything either.

As a quick fix, you can navigate to the

[2019-12-16 17:55] lydell commented on #745
Thank you so much for all the improvements available in 2.0.4! :100:

[2019-12-16 18:52] joaohenriquef commented on #417
`eslint.format.enable` had no effect here. Had to switch back to v1.9

[2019-12-16 19:16] dracozombie19 commented on #832
I am experiencing the same issue.  VSCode just updated and the extension along with it.  I've been monkeying around with the new settings that the extension provides and I've been able to get it to apply auto-fixes using the Format Document action, but explicitly running the auto-fix command or trying to setup auto-fix on save is not working.

I'm still running ESLint version 5.16.0, for reference

[2019-12-16 19:34] dbaeumer commented on #417
@joaohenriquef did you have another JavaScript formatter set as a default formatter. Then the eslint one will not win. To force the use of the eslint one you need to configure: `"[javascript]": { "editor.defaultFormatter": "dbaeumer.vscode-eslint" }`.  In total

[code]

[2019-12-16 19:37] dbaeumer commented on #417
@joaohenriquef if you execute Format Document With from the context menu which opens do you get presented ?

[2019-12-16 20:22] dbaeumer commented on #832
@sgywzy @dracozombie19 my mistake and thanks for reporting. Reason is that I moved the fix all to the source action menu. You can now do

<img width="479" alt="capture" src="https://user-images.githubusercontent.com/1931590/70940028-c3543a80-2049-11ea-912b-cc6d2ba7e332.png">

Executing the action will fix all ESLint errors.

You can also use `Fix All` from the command palette which works as well.

[2019-12-16 20:34] #832 closed

[2019-12-16 20:40] dbaeumer commented on #832
I rebound the command to the new source action code.

[2019-12-16 20:46] dbaeumer commented on #832
Published 2.0.5

[2019-12-16 20:46] #829 closed

[2019-12-16 21:08] #822 closed

[2019-12-16 21:08] dracozombie19 opened #833 "Extension not auto-fixing on Save"
I got the upgrade to 2.0.4 (and subsequently to 2.0.5 a little bit ago) and I'm having trouble configuring ESLint to auto-fix issues on Save.  Previously we had the "eslint.autoFixOnSave" setting, but it looks like this was replaced by the "editor.codeActionsOnSave" setting.  I'm trying this configuration, but nothing is happening on Save:

[code]

I've tried different combinations of "editor.form

[2019-12-16 21:32] VitorLuizC commented on #833
Same happening here.

[code]

[2019-12-16 22:57] ajoslin103 commented on #826
I'm sorry I may not have been clear -- the ESLint plugin does it's job wonderfully and always performs very well, I depend on it and it works fine.

The problem is that for some reason the Code Helper (Render) process that does the work for the ESLint extension proceeds to take up more and more cpu -- even after the offending file has been closed it just keeps working on it.  The process has to be

[2019-12-17 01:55] Jer-X commented on #833
Same happening here.
Other Eslint settings is default
`javacript
"editor.codeActionsOnSave": {
      "source.fixAll.eslint": true
    },
    "eslint.alwaysShowStatus": true,
`

[2019-12-17 02:10] zhenghui0705 commented on #833
Same thing

[2019-12-17 02:37] mandaputtra commented on #830
Hmm quickfix also missing on my machine, @dbaeumer what shoud I provide you to debug?

My Machine
[code]

package.json

[code]
vscode configuration?

<details>
 <summary>settings.json</summary>
[code]
</details>

[2019-12-17 03:04] takumiya081 commented on #833
same issue

before(worked these days)
[code]

now(not work)
[code]

[2019-12-17 03:29] AliasT commented on #833
Not working with vue files.

[2019-12-17 03:30] chenbigcur commented on #833
me too.

[2019-12-17 03:33] AliasT opened #834 "Not working with vue files."
Not working with vue files.

_Originally posted by @AliasT in https://github.com/microsoft/vscode-eslint/issues/833#issuecomment-566364223_

[2019-12-17 03:34] #834 closed

[2019-12-17 05:01] bobzurad commented on #833
Also experiencing this with .vue files.

@AliasT solution works, but it is not optimal.

[2019-12-17 05:02] kg-currenxie commented on #154
Works so well! My life is completely changed! No more Cmd+S, Cmd+S, Cmd+S, Cmd+S 😂 ❤️

[2019-12-17 06:47] AleshaOleg commented on #830
The quick fix is downgrading to 1.9.1.

[2019-12-17 07:39] it-sha commented on #830
@dbaeumer
I have the same case as for mandaputtra
Quick fix not available on the modal pop up but available for this icon
![image](https://user-images.githubusercontent.com/54891989/70974540-abfc6800-20b0-11ea-9dcb-e0271024c71e.png)

I will prepare repo with this bug in the nearest time.

[2019-12-17 08:26] hrastnik opened #835 "Explain the difference between using ESLint as a formatter and formatting on save vs running ESLint through codeActionsOnSave"
Since the 2.0.4 update I've noticed there are two approaches to getting ESLint to run when the file is saved. These are the contents of the VSCode's `settings.json` file:

Approach 1.
[code]

Approach 2.
[code]

Is there a difference between the two approaches? Is there a preferred method between the two?

The documentation on this could be improved.

[2019-12-17 08:35] dbaeumer commented on #826
@ajoslin103 could you please provide me with a GitHub repository I can clone. This very likely also depends on the eslint and eslint plugin versions you are using. Do you see the same behavior if you disable the eslint plugins (e.g. `plugins: ['prettier', 'redux-saga', 'react', 'react-hooks', 'jsx-a11y']`).

The ESLint extension at the end loads the eslint npm module so I am almost confident that

[2019-12-17 08:44] dbaeumer commented on #833
The correct settings are:

[code]

to enable autofix on save. `"editor.formatOnSave": true`  is not necessary.

To compute all possible fixes (see the lengthy discussion in https://github.com/microsoft/vscode-eslint/issues/154 why this is complicated in  ESLint) I needed to change the way how these fixes are computed resulting in a more complex algorithm. Hence it takes more time and might run out

[2019-12-17 08:51] dbaeumer commented on #830
I think I have an idea why this is broken now. Let me investigate. I was under the impression that the quick fixes are missing all together but they are only missing in connection to presenting problems.

[2019-12-17 09:46] narnia1991 opened #836 "forcing codeActionsOnSave config in settings.json"
this is getting added.

"editor.codeActionsOnSave": {
        "source.fixAll.eslint": true
    }

code cannot be removed in settings.json

[2019-12-17 10:11] pistou commented on #833
I feel this issue is due to format order:
`codeActionOnSave` seems to trigger before `formatOnSave`.

This result in a wrong format if the `defaultFormatter` or/and the options are differents. The old setting use to work the other way.

---

**This is a real issue**.

I have two kind of projects: ones with ESLint, others without ESLint.
In both case, I use prettier as a formatter.

_With ESLint:_

[2019-12-17 10:40] fhollste commented on #833
Automatic fixing on save not working for me either after update. I realized that the issue might be that eslint is unable to fix automatically. When hovering a simple error (which used to be autofixable), it says "no quickfixes available".
![image](https://user-images.githubusercontent.com/7222251/70988144-f63e1300-20c9-11ea-8527-c4681f461b20.png)

[2019-12-17 10:45] #830 closed

[2019-12-17 10:46] dbaeumer commented on #824
Dups https://github.com/microsoft/vscode-eslint/issues/830

[2019-12-17 10:46] #824 closed

[2019-12-17 10:51] dbaeumer commented on #835
Good question:

The recommended way is `editor.codeActionsOnSave` since it allows for better configurability. Format on save is either on or off. Code action on save can be configured differently for n providers. I updated the readme.

[2019-12-17 10:51] #835 closed

[2019-12-17 10:54] dbaeumer commented on #836
The reason is that you have `"eslint.autoFixOnSave": true` in your setting. To preserve the feature with the new code action on save implementation the setting gets added. If you remove `"eslint.autoFixOnSave": true` the setting will not be added.

[2019-12-17 10:54] #836 closed

[2019-12-17 10:54] dbaeumer commented on #836
Please ping if this is not the case for you and provide steps on how to reproduce. Thanks!

[2019-12-17 10:56] dbaeumer commented on #833
@fhollste this dups https://github.com/microsoft/vscode-eslint/issues/830 which will be fixed for the next release.

[2019-12-17 11:05] dbaeumer commented on #833
@pistou I see the issue but this is unfortunately not under my control. I have no influence on the order of the requests sent by VS Code itself. And converting to the code action on save infrastructure was necessary since otherwise there is no control over the time budget causing another set of problems.

All I can recommend for now is  the following: in the case where you use ESLint to fix on sav

[2019-12-17 12:21] dugajean commented on #833
Can confirm that it isn't working with Vue files. My relevant settings look as follows:

[code]

[2019-12-17 12:54] itsparser opened #837 "crashing while restarting the vscode after installing Eslint"
Issue Type: <b>Bug</b>

* i have add es-lint extentsion into my vscode
* In my project i have es-lint in root folder and src folder
* which make the lint to run in recrussion

Extension version: 1.9.1
VS Code version: Code 1.41.0 (9579eda04fdb3a9bba2750f15193e5fafe16b959, 2019-12-11T17:58:38.338Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs

[2019-12-17 13:30] narnia1991 commented on #836
Thanks about that.

[2019-12-17 13:30] FaridSaleh commented on #833
I found the solution for react users.
just set ```"editor.formatOnSave": false``` and keep ```"source.fixAll.eslint": true```
It worked for me.

[2019-12-17 14:01] dbaeumer commented on #837
@itsparser can you please provide me with a GitHub repository I can clone that demos that. I can not reproduce this.

[2019-12-17 14:03] dbaeumer commented on #833
@FaridSaleh which formatter are you using?

[2019-12-17 14:20] dbaeumer commented on #833
It does work for me:

![cast](https://user-images.githubusercontent.com/1931590/71003034-b898b480-20e0-11ea-9b6c-444bbf53ae3c.gif)

Can someone post a GitHub repository I can clone that demos the failure. Then I can have a look.

[2019-12-17 14:37] AlgusDark opened #838 "how to silence warnings about ignored files in eslint?"
After upgrade, the plugin is showing:
[code]

Yes, it's included in `.eslintignore` but in my `eslintrc` I added to `project` a new `tsconfig` that adds that file.

Before the update was working linting as expected, but with change now isn't working anymore.

[2019-12-17 14:39] dbaeumer commented on #838
I already started looking into this and I agree that you should be able to silence this.

[2019-12-17 14:41] cb109 opened #839 "Please mention editor.codeActionsOnSave > source.fixAll.eslint in the settings.json autoconverter popup"
As I understand the former `eslint.autoFixOnSave` has been deprecated and now we should use `editor.codeActionsOnSave` with a key of `source.fixAll.eslint` instead. That's fine, but the current way the settings.json file is converted automatically can be quite confusing.

If the old `eslint.autoFixOnSave` is present in settings.json, a new `editor.codeActionsOnSave` is added automatically to the e

[2019-12-17 15:01] #838 closed

[2019-12-17 15:04] dbaeumer commented on #839
@cb109 very good catch and suggestion. I should document that in the read me and in addition don't convert if the setting is set actively to false.

[2019-12-17 15:20] bobzurad commented on #833
Can confirm adding `"editor.formatOnSave": false` fixed this issue for me. I also removed `"editor.codeActionsOnSaveTimeout": 1200`

I also created a new vue project with the Vue CLI, selected "ESLint + Prettier" linter / formatter and "Lint on save" options, and auto-fix works without having to change any settings or configuration. But for some reason I had to add `"editor.formatOnSave" : false`

[2019-12-17 15:52] nflaig opened #840 "Writes to settings.json"
The extension keeps writing to the `settings.json` file in the `.vscode` folder.

The written setting is
[code]

Even after deleting this manually it gets rewritten to the file automatically which means there is no way to remove this besides deactivating or uninstalling the extension.

I would prefer if the extension doesn't write to files automatically. The deprecation warning on the `"eslint.aut

[2019-12-17 16:31] dracozombie19 commented on #833
@dbaeumer I tried out that "editor.codeActionsOnSaveTimeout" setting and that fixed the issue for me.  I bumped it up to 1500 ms (default is 750 ms) and now my files are auto-fixing on save.  I also tried the `"editor.formatOnSave" : false` option, but that didn't make any difference for me.

[2019-12-17 16:31] #833 closed

[2019-12-17 16:45] dugajean commented on #833
@dracozombie19 As you can see, this issue is occurring to many people, so just because you got it fixed, doesn't mean that everyone else had it fixed. Closing this issue was a mistake.

[2019-12-17 17:20] threehams commented on #840
While I appreciate the idea behind this automatic settings migration, it's causing a ton of disruption in my company because we check in a workspace file to the project. _Every branch_ which isn't up to date now has to go through the same process for every person in the company: switch branches, shut down VS Code, pull latest master, start up VS Code again.

Can this be changed to a prompt to upda

[2019-12-17 19:14] dracozombie19 commented on #833
I guess I'll leave it to @dbaeumer and how he wants to manage this.  I was the one who opened the issue and my problem has been resolved.  If the resolution that worked for me doesn't work for you, it may be worth opening a new issue since it may have a different root cause.

[2019-12-17 20:02] dbaeumer commented on #833
In general I am in line with @dracozombie19 opinion that separate issues are better. However if someone can provide me with a GitHub repository I can clone that demos the issue they are seeing here then I am happy to reopen the issue.

[2019-12-17 20:06] dbaeumer commented on #840
I see the problem but there are competing goals. The old setting `eslint.autoFixOnSave` has no effect anymore and I only write into the settings file if that setting exists and is set to true. So you can turn this off by removing `eslint.autoFixOnSave` from the setting.

Without this migration I would have ended up with 100 of issue compaining that auto fix on save is broken.

I do agree that I sh

[2019-12-17 20:06] dbaeumer commented on #840
Please be also aware of the isseu https://github.com/microsoft/vscode-eslint/issues/839

[2019-12-17 20:50] threehams commented on #840
For cases where the settings file isn't checked into the project, this makes sense, but the problem is happening on 400+ branches which are all out of date and have `eslint.autoFixOnSave` into the committed settings file. This means that because of an extension update, we're needing to update all those branches (manually or automatically), with VS Code shut off each time to prevent it from interfe

[2019-12-17 21:17] dokugo opened #841 "Eslint isn't running on save"
Since the 2.0.4 release eslint is running only when I try to «double save». What I mean is, first I edit the file, then I press `ctrl+s` and instead of autofix eslint just starting to show an error without doing any fixes. Magically error is being fixed if I press `ctrl+s` again.

Demonstration: https://streamable.com/1qciz
First I spam some spaces, then save and see an error in the "problems" tab

[2019-12-17 21:23] skaraman opened #842 "Doesn't work with external config file from node module"
I have my own eslint config that is hooked into .eslintrc.js ->
`extends: ['eslint-config-myconfig']`

this causes an error to be thrown in VSCode, note that the same setup works in Atom.io

```Failed to load plugin 'promise' declared in 'myProject/.eslintrc.js » eslint-config-myconfig': Cannot find module 'eslint-plugin-promise' Require stack: - /Users/{...myWorkspace}/__placeholder__.js Referenc

[2019-12-17 22:48] dbaeumer commented on #840
I added a user setting `eslint.migration.2_x` which can be set to `off` to turn this off. But just to be sure: this means that after using eslint 2.x auto fix on save will be disabled and needs to be enabled by changing the settings file you check in. In addition I want to point out that the settings are compatible. So even though the new code action on save setting gets added the old one stays fu

[2019-12-17 22:50] dbaeumer commented on #842
@skaraman can you please provide me with a GitHub repository I can clone that demos what you are experiencing. Thanks.

[2019-12-17 22:53] dbaeumer commented on #841
You might need to increase the `editor.codeActionsOnSaveTimeout` setting (see also https://github.com/microsoft/vscode-eslint#release-notes). If this doesn't help can you provide me with a GitHub repository I can clone that demos what you are experiencing.

[2019-12-17 23:18] JarrodMFlesch opened #843 "Eslint is not linting on save (with new setting in json)"
We have been using eslint heavily, but with the new update(2.0.4) our files are no longer being linted.

My output dialog box keeps saying `Cannot find module 'babel-eslint'` and `Cannot find module 'eslint-config-airbnb'` if I attempt to use the default formatter.

Is there a new way to tell eslint to use my current directory? I have all of my node modules installed and set up, I have uninstalled

[2019-12-18 00:41] AbdelrahmanHafez commented on #841
@dbaeumer
I am not sure I know what an example of a GitHub repo that can help you reproduce the issue would look like, but here is a video explaining the issue further. Hope it helps.

https://streamable.com/fhx78

[2019-12-18 00:48] AbdelrahmanHafez commented on #843
As a quick fix, you can use an older version (1.9.1) by clicking the gear icon beside ESLint on VSCode extensions.

Meanwhile, I made a video demonstrating the auto fix on save issue https://github.com/microsoft/vscode-eslint/issues/841#issuecomment-566814419 Is this the same problem you're having or a different one?

![Screenshot_260](https://user-images.githubusercontent.com/19984935/71046335-ab

[2019-12-18 01:08] threehams commented on #840
Thank you for the quick update! From local testing the setting is suppressing the upgrade as I switch around branches. Getting a few dozen people to manually update user settings tomorrow shouldn't be a problem.

[2019-12-18 01:38] JarrodMFlesch commented on #843
@AbdelrahmanHafez that will be handy, I will definitely be doing that for the time being. Our issue is different because ours never lints, even after multiple saves.

[2019-12-18 03:02] joaohenriquef commented on #417
@dbaeumer I'm not sure about what happened, ESLint wasn't showing up on that list, even after reinstalling the extension and double checking that the formatter was enabled in settings.

Now, trying to replay this bug I upgraded it again but somehow everything worked fine, maybe I missed something. Thanks for your help and quick reply!

[2019-12-18 07:56] dokugo commented on #841
@dbaeumer
Increasing the `editor.codeActionsOnSaveTimeout` doesn't help.
I was recording a demonstration with [this](https://github.com/dokugo/getajob) repo opened in VS Code (but I'm experiencing the same eslint behaviour in any project).

[2019-12-18 08:43] dbaeumer commented on #417
@joaohenriquef no problem. You are welcome.

[2019-12-18 09:26] magom001 commented on #696
For whom it might help, the only thing that has worked in my case was

[code]

[2019-12-18 10:25] Alonski commented on #833
@dbaeumer Thanks for the replies. I think that in general the community is used to formatting happening immediately onSave. I bumped up the timeout to 1500ms and sometimes it still wasn't triggered.

When I was formatting with Prettier before these changes the formatting happened instantly from what I can tell.

I am pretty sure it will depend on the developer machine as well. So I could give you

[2019-12-18 10:43] wight554 commented on #843
Confirm having this issue, tried toggling all auto save toggles available

[2019-12-18 10:51] FaridSaleh commented on #833
I'm using only eslint formatter

[2019-12-18 14:23] Andriy-Kulak opened #844 "ESLINT is changing a setting without my permission"
Every time it's trying to alter the file automatically. wtf is going on. It's blocking me from pulling from origin because I have an uncommitted change (that's already origin).

<img width="1340" alt="Screen Shot 2019-12-18 at 9 20 25 AM" src="https://user-images.githubusercontent.com/12179976/71093763-d5cc9200-2177-11ea-90af-6c4d4a1e01c7.png">

 Please stop automatically updating settings that ca

[2019-12-18 14:40] dbaeumer commented on #844
Dups https://github.com/microsoft/vscode-eslint/issues/840.

I am working on a confirmation dialog before I write the settings.

[2019-12-18 14:41] #844 closed

[2019-12-18 14:41] dbaeumer commented on #840
I decided to add a confirmation dialog that allows you to disable the update.

[2019-12-18 14:43] dbaeumer commented on #833
@Alonski the problem with the old fix code was that it didn't fix all fixable problems due to the nature how ESLint computes them. So I change the way which made it more complex and hence more expensive. Positive is that now all fixable problems will be addressed.

[2019-12-18 14:56] KlaraFickova commented on #600
I added `"editor.codeActionsOnSaveTimeout": 2000` to my config and it successfuly formated the problematic piece without even reloading the app.

From eslint plugin description:
"Also note that there is a time budget of 750ms to run code actions on save which might not be enough for large JavaScript / TypeScript file. You can increase the time budget using the editor.codeActionsOnSaveTimeout setti

[2019-12-18 15:39] itsparser commented on #837
@dbaeumer, sorry it private repo and this accrue for the first time once I restarted my vs code it working now, so I am closing this ticket, thanks a lot

[2019-12-18 15:39] #837 closed

[2019-12-18 15:42] dbaeumer commented on #840
@threehams @nflaig @Andriy-Kulak

I created a new prerelease 2.0.8 which can be downloaded here: https://github.com/microsoft/vscode-eslint/releases/tag/2.0.8-next.1

This release ask for confirmation before updating and also allows to disable the automatic update globally or per workspace folder.

I would appreciate if you could give it a test run.

[2019-12-18 16:19] dbaeumer commented on #839
I added a confirmation dialog to inform the user about the conversion.

[2019-12-18 16:19] #839 closed

[2019-12-18 16:21] dbaeumer commented on #843
@JarrodMFlesch @wight554 can you provide me with a GitHub repository I can clone that demos what you are seeing. It works for me in various setups and I need a reproducible case to investigate. Thanks!

[2019-12-18 16:21] nflaig commented on #840
@dbaeumer

Thanks for the fast update. I tested the 2.0.8 release in different repositories and it does not update the settings file automatically anymore but it also didn't ask for confirmation to do an automatic update.

[2019-12-18 16:23] dbaeumer commented on #841
@dokugo: I cloned the repository you provided and can't reproduce this after adding the setting

[code]

Please note that fix on save (as previous) is not enabled when auto save is on. If you have auto save on you need to press Ctrl+S to get the fixes applied.

[2019-12-18 16:25] dbaeumer commented on #841
![cast](https://user-images.githubusercontent.com/1931590/71103981-637da100-21bb-11ea-8ef4-6d956450cdf1.gif)

[2019-12-18 16:26] dbaeumer commented on #841
In the above video I pressed Ctrl+S to trigger the fixing.

[2019-12-18 16:27] dbaeumer commented on #841
Any additional information you can provide?

[2019-12-18 16:29] JarrodMFlesch commented on #843
@dbaeumer for sure! This repo is using eslint and does not seem to be linting properly for us: https://github.com/trouble/react-mouse-info

[2019-12-18 16:42] dbaeumer commented on #840
@nflaig it only asks if you had `"eslint.autoiFixOnSave": true` setting. All other settings I was able to keep compatible.

[2019-12-18 16:44] threehams commented on #164
PR to fix this above, and it was just as simple as suggested. I thought it would take more than this, but I tested by switching out eslint with a much older version and it recovered well from that.

[2019-12-18 17:53] nflaig commented on #840
@dbaeumer I am have the `"eslint.autoFixOnSave": true` setting but it is not asking if it should the update

[2019-12-18 17:54] dokugo commented on #841
If I have only the following setting (the same setting as yours) everything works fine.
[code]
But if I add `"eslint.run": "onSave"` there comes that "double save" problem. My main concern is that I don't want ESLint running `onType`.

[2019-12-18 17:55] threehams commented on #840
Working for me, at least. I was able to check suppressing at user level and folder level, though I'm not sure where the extension writes information about the folder-level suppression so I couldn't check the rest.

That's a lot of options to choose from. I'm curious what people will select since it's a modal prompt.

[2019-12-18 17:57] techsin opened #846 "Multiple "Fix all" or "Auto fix" and one one always works, other doesn't!"
<img width="1009" alt="Screen Shot 2019-12-18 at 12 55 18 PM" src="https://user-images.githubusercontent.com/4664695/71110745-e25fe300-2195-11ea-8ba7-0ec7339e4330.png">

Fix all works always and shows up as blue bulb icon,
Eslint: Fix ... doesn't and shows up as yellow icon.

I'd rather have only one option. Fix all.

[2019-12-18 18:10] skaraman commented on #842
@dbaeumer setting up a repo isn't something i can do just to preserve my project integretity but you can reproduce this issue by using https://www.npmjs.com/package/eslint-config-synacor in a project, it follows the same principles, please review the readme

[2019-12-18 18:12] JarrodMFlesch commented on #846
What version are you using?

[2019-12-18 18:21] techsin commented on #846
eslint 2.0.6
vscode 1.41.0
eslint 6.7.2
mac

[2019-12-18 18:47] vincaslt commented on #841
So for me, the new option did not work on save, but when I executed the command manually, sometimes it worked. I found that if I increase the allowed time for autofix, it works. So my guess it just slowed down a lot?

[code]

[2019-12-18 20:05] icleolion opened #847 "Quick fix context menu in problems pane"
Apologies if this is a vscode issue and not an issue with the ESLint extension.  Might not be terribly clear from my poor attempt at screen capturing, but the wrong context menu appears when right clicking on problems.

It's something I've noticed since back in the 1.9.x days. I'm running 2.0.6 at the moment and it's taken me till now to realise it happens if I right click on the line before the r

[2019-12-18 20:46] dbaeumer commented on #847
This is actually a VS Code issue. Moving.

[2019-12-18 20:49] dbaeumer commented on #840
The folder level is stored in a memento store provided by VS Code  to not change anything in the workspace itself. I agree on the number of options but since the dialog will not show up constantly I thought it is better to offer them than taking another short cut.

[2019-12-18 21:01] dbaeumer commented on #841
@vincaslt the reason why fix on save got slower is that it is more complex to ensure that all auto fixable problems get fixed. ESLint (the npm module) uses an n path approach to compute all possible fixes. In the past I only did one pass leaving a lot of problems not fixed. The new approach ensures that all n paths are executed.

[2019-12-18 21:03] dbaeumer commented on #841
@dokugo now I see. I think I can fix this :-)

[2019-12-18 21:39] #841 closed

[2019-12-18 21:45] dbaeumer commented on #842
@skaraman my experience shows that bugs like this depend on many things, especially on workspace settings and versions used. So I would highly appreciate if you could provide me with reproducible steps.

If you use eslint from the terminal validating that file from the workspace folder (e.g. the folder you have open in VS Code) will it succeed ? Or do you need to do a cd into one of the sub folder

[2019-12-18 21:49] dbaeumer commented on #846
This is strange since I fixed this in 2.0.5. @techsin can you provide me with a GitHub repository I can clone that demos what you are seeing.

I agree that only having one command is preferable. The reason why I left the old one in is that users bound a key board short cut to it and it would be breaking for them if I remove the command.

[2019-12-18 22:47] nflaig commented on #840
@dbaeumer After doing some more testing I got the dialog where I could disable the automatic update for the current folder but I noticed it is also does not update for other folders now and the dialog does not show up. This could be a problem on my end again I am still not sure what caused the problem I had before.

[2019-12-19 02:26] tenadolanter commented on #833
[code]
my setting worked fine before, but now visual studio code tips `The setting is deprecated. Use editor.codeActionsOnSave instead with a source.fixAll.eslint member`, then i updated as tips, but it does not work !
Can anybody tell me why ?

[2019-12-19 03:19] dxy2233 commented on #831
很多脚手架工具配置eslint使用的的是`.js`文件
希望尽快解决！

[2019-12-19 04:21] joshunger commented on #833
@dbaeumer on a 279 line file (is that large?) I had to bump `"editor.codeActionsOnSaveTimeout": 6000` to get the formatting in a single save. This is on a MacBook Pro 3.1 GHz Intel Core i5, 16 GB laptop. If you need any tracing, please let me know what I can provide to help improve the performance. ESLint 2.0.6.

[2019-12-19 09:16] tohbansoon commented on #833
why close the issues??? how to resolve it??

[2019-12-19 09:31] BensonLiao commented on #833
On my vscode environment (use only eslint as linter / formatter),
none of these solutions above works.
And finally figure it out myself,
I changed my `"eslint.workingDirectories"` to the following value and it worked!
[code]
p.s. my working directory structure:
[code]
p.s.2 also tried other value like default: `"mode": "location"` but still don't work.

[2019-12-19 10:08] heylying commented on #833
it works for me.
`  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "eslint.autoFixOnSave": false,
  "editor.codeActionsOnSaveTimeout": 5000,`

[2019-12-19 10:22] tohbansoon opened #848 ""eslint.alwaysShowStatus": true not working anymore after vscode upgrade"
Here is my vscode setting, but after upgrade vscode to the latest version.. my eslint do not show the warning or error status bar anymore...

VSCode Settings:
[code]

VSCode Version:
[code]

[2019-12-19 11:41] Alonski commented on #833
Setting a timeout works... But waiting 5 seconds to formatOnSave is bad UX with what we are used to from before :)

Thanks for all the great work being done on this!

[2019-12-19 11:59] RiqueBR commented on #843
I can confirm the above. Following your example on #841, it's not formatting on save.

`  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "eslint.enable": true,
  "eslint.run": "onSave",`

Also tried with `source.fixAll: true`, and it didn't work.

[2019-12-19 12:05] dbaeumer commented on #833
@joshunger can you provide me with a GitHub repository that contains the file so that I can try to reproduce. I ran with the new version for quite some time and I never saw such huge spikes. I would like to understand what causes this.

The formatting code runs exactly through the same path as the code action on save. So there seems to be something else wrong that causes that huge delay in save.