[2021-09-07 18:09] webdevnerdstuff commented on #1055
@dbaeumer Unfortunately I don't think any repo anybody will give you is the problem. I gave you access to a repo that had the problem and you found no issue, but I assure you I have the issue. Not only is it that repo, I've had the issue across multiple repositories, some using webpack, some using grunt, some using no task loader, some just a simple JS file. So I don't think getting access to repo

[2021-09-08 13:05] ChrisSargent commented on #1055
We are suffering from this issue at the moment. We have done a tonne of troubleshooting and in case it is most likely related to the fact that we're doing typescript-checking in eslint too. Note as well the we were also seeing similar issues in Webstorm.

The 'critical' rule which causes the slowdown for us is `@typescript-eslint/no-unsafe-assignment`.

This is the logs when the rule is enabled

[

[2021-09-09 08:43] dbaeumer opened #1334 "ESLint extension broken on VSCode Insider release"
The reason is the change of the proposed Window.openEditors API in VS Code which we use in LSP for pull model diagnostics

Since ESLint is not depending on this we can disable the proposed features for now.

[2021-09-09 08:45] #1334 closed

[2021-09-09 10:48] BartaG512 commented on #1294
[code]

[2021-09-09 13:01] dbaeumer commented on #1055
@webdevnerdstuff  This is equally frustrating for me. Believe me. And if I would know where the problem could be I would go and fix it. I spent hours and hours trying to reproduce this mostly without any success. I can't fix something I can't reproduce.

In cases were I was able to reproduce slowness it was in almost all case either some slowness in ESLint itself or one of its plugins or the use o

[2021-09-09 13:12] dbaeumer commented on #1055
@ChrisSargent Setting the rule in  `eslint.rules.customizations`  to `off` doesn't actually disable it. It simply suppresses to generate the problem. The reason is that users still wanted to have these errors see fixed but didn't want to be bothered about them during development.

[2021-09-09 15:13] reifnotreef commented on #1055
I've noticed that I haven't seen this error once when using my M1 mac mini.
I have checked my configs multiple times, any dot files, vs code settings, extensions and their settings.
Everything is identical between my Mini and my macbook pro, on which I see this error literally every day, in terms of configs/extensions/codebase.

My coworkers have only seen this error a couple times, and usually a

[2021-09-09 18:05] webdevnerdstuff commented on #1055
Here is the latest output of the last time it just happened. The time it started was at 10:36 AM, but the output doesn't show the start time, instead it shows the finish time. Outside of that difference, nothing looks out of the ordinary to me in this output.

[code]

I was also watching my CPU and Memory usage while it was happened.  CPU usage looked just about the same as when it was happening a

[2021-09-09 21:02] webdevnerdstuff commented on #1055
Here are two different times the actions happened.

![process-1](https://user-images.githubusercontent.com/14927668/132762075-97fe2fd2-daac-4b02-b9dc-442e05c6bb08.png)
![process-2](https://user-images.githubusercontent.com/14927668/132762083-3af2c5b0-e7c9-45b7-9dd2-1a221ccea779.png)

[2021-09-10 13:52] mohsinhijazee commented on #374
Someone stumbling upon this problem in 2021:
Add following to `.vscode/settings.json`

[code]
And also, add `@yarnpkg/sdks` to your dependencies

[code]
And then:
[code]

Should wrap the ESLint with `pnp.js` supplied properly. Please restart VS code afterwards.

[2021-09-10 14:34] dbaeumer commented on #1055
I created a new Insider release that support to customize the rules execute when running code action on save. This should allow to exclude rules that are expensive and very likely don't provide a fix in the first place. The insider release can be downloaded from here: https://github.com/microsoft/vscode-eslint/releases/tag/release%2F2.2.20-Insider and installed via the command `Install from VSIX`.

[2021-09-10 14:52] dbaeumer commented on #1055
@webdevnerdstuff I looked at the trace and I am 99% confident that this is not a problem of the ESLint extension also it seems to hang in the save in ESLint. This can happen due to 2 other reasons:

- the editor window is busy. I think this is unlikely but you can easily find this out. If you can still type in the editor or press the cancel button on the notification then it is not the editor wind

[2021-09-10 17:37] webdevnerdstuff commented on #1055
Here's another one, TabNine was disabled this time.

![image](https://user-images.githubusercontent.com/14927668/132892166-595e3b3a-36b4-4e3a-9bb7-19aff2f68880.png)

For the "busy editor window", most of the time I can still type in the editor no problem. I can push the cancel button also, but the loading bar of VS Code keeps going if I do that and doesn't seem to stop the process that's running.

[2021-09-10 18:14] Meligy commented on #1301
I'm seeing the same issue with and without setting `eslint.validate`. I think it's not specific to it.

[2021-09-10 19:50] tizmagik commented on #1238
+1 to @justingrant 's suggestion of mimicking how Prettier handles this. I'd be happy to contribute a fix if someone could point me in the right direction...

[2021-09-11 23:45] mdjermanovic opened #1335 "[ESLint v8 Beta] missing rule documentation links"
vscode-eslint version: v2.1.25
eslint version: v8.0.0-beta.2

When I open a file with linting errors, those rules have documentation links:

![image](https://user-images.githubusercontent.com/44349756/132965827-87f61ad0-af1e-4575-9879-7cfa16e07cc3.png)

If I add some code that produces linting errors from _other_ rules, those rules don't have links:

![image](https://user-images.githubusercontent.

[2021-09-13 07:09] dbaeumer commented on #1055
@webdevnerdstuff I looked at the trace and same outcome as last time: the timing for the validation in ESLint are all under 500ms (most of them below 100 ms) and the code action request was delivered in 348 ms.

This time the extension host has a CPU load 95% the VS Code editor window of 4%. I am pretty sure that you see the dialog since the extension host is kept busy by another extension making

[2021-09-13 13:15] dbaeumer commented on #1238
@tizmagik VS Code is currently working on a language status API which we should use instead. It is in a proposed state here: https://github.com/microsoft/vscode/blob/main/src/vs/vscode.proposed.d.ts#L2933

IMO we should use this since it will help to declutter the status bar. If you want to give it a try I can help you with that.

[2021-09-13 15:41] justingrant commented on #1238
Here's the issue discussing the new language status API: https://github.com/microsoft/vscode/issues/129037

@dbaeumer the code link in the comment above is no longer valid. It points to a line that doesn't exist anymore.

[2021-09-13 21:06] MickeWest opened #1336 "Extremely High RAM and CPU usage"
Issue Type: <b>Bug</b>

With the latest version of VS Code when opening TS files the RAM fluctuates between 1.5GB and 5.5GB continually and CPU usage is very high. The culprit is the ESLint extension and was determined using the the "bisect" functionality in VS Code.
The more TS files that are open the bigger the issue but still the open files are less than 10.
Version:          Code 1.60.0 (e7d7e

[2021-09-14 07:43] jpike88 commented on #1336
Yes I observed similar thing. How is it a linter can be taking more memory than my angular language service extension and typescript processes combined?

[2021-09-14 08:58] dbaeumer commented on #1336
@MickeWest when this happens can you please capture a screen shot of VS Code's process explorer window (e.g. Help -> Open Process Explorer) and attach it here.

[2021-09-14 09:00] dbaeumer commented on #1238
New link: https://github.com/microsoft/vscode/blob/main/src/vs/vscode.proposed.d.ts#L2841

[2021-09-14 13:12] #1335 closed

[2021-09-14 13:42] MickeWest commented on #1336
@dbaeumer  Please find attached Memory status first of when the scenario occurs. This capture doesn't not reflect the highest memory usage. I will enable the extension again and capture what you requested. Thanks for looking into this so fast! It has been a lingering problem for a long time but with the latest release of VS Code it went exponentially worse.

`Version:          Code 1.60.0 (e7d7e9a

[2021-09-14 13:55] MickeWest commented on #1336
@dbaeumer Please find two screenshots attached
![ESLint_Usage_Max](https://user-images.githubusercontent.com/71844639/133270780-b5ea9b0e-f8e5-41c1-8488-3fcd0ab97442.png)
![ESLint_Usage_AfterReleaseMemory](https://user-images.githubusercontent.com/71844639/133270819-1c982297-5819-43c6-9169-75cae2d97cf2.png)
. One depicts the close to max memory usage by ESLint right before it releases the memory ag

[2021-09-14 14:45] jpike88 commented on #1336
I had a similar experience, eslint server consumes multiple GB of memory over time. Above screenshots are practically identical to what I see as well.

[2021-09-14 15:05] dbaeumer commented on #1336
Can you share the repository you are seeing this in with steps you to best reproduce it. I am pretty sure that this is caused by `@typescript-eslint/eslint-plugin` and the fact that some rules more or less require a full TS type checker run.

Your analysis is correct that the eslint server very likely crashes (with OOM) and the extension restarts it.

Dirk

[2021-09-14 15:31] MickeWest commented on #1336
Unfortunately I cannot share this project. However, as it seems to happen to others both here and other individuals around the globe it can hopefully easily be recreated. I will copy the .eslintrc.json file here so you can see what rules we have setup. In addition, I forgot to mention that the memory increase is occurring without being in a debug session at all. No code actually running.
Besides t

[2021-09-14 18:21] dbaeumer commented on #1336
@MickeWest usually something like this is highly sensitive to the version's of the npm modules, the config and the source code. I understand that you can't share the source code publicly, but could you invite me to the repository?

@jpike88 can you share anything.

[2021-09-14 20:05] MickeWest commented on #1336
@dbaeumer Hi, unfortunately I cannot invite you either as it is on a local "gitHub". I can see and understand that ESLint can be sensitive to its own config which may make it slower if too many rules or advanced rules are enabled but if the Extension is sensitive to the user's source code or npm modules then an extension which job it is to scan the User Code maybe not written correctly as there wi

[2021-09-15 09:15] dbaeumer commented on #1336
@MickeWest VS Code's eslint extension uses the ESLint npm modules and plugins to do the scanning and problem generation (the extension code itself is actually very minimal). This is why the extension is sensitive to the versions installed (it takes the npm modules that are installed in the workspace). The eslint typescript plugin is based on the side installed TypeScript npm module and the content

[2021-09-15 11:21] jpike88 commented on #1336
Are there instructions you could provide to help us debug our eslint process internally? To have a reproducible setup is time consuming and would involve large amounts of proprietary code, so it's not feasible. It's more realistic to either:

- provide instructions on how we can help inform you about where the leak/large use is coming from (enough to get us going, I know I'm smart enough to take i

[2021-09-15 11:53] dbaeumer commented on #1336
@jpike88 from all my experiences it is easier (and faster in total time) to track down those problem with a reproducible case.  But I can understand your resistance to share the code although I can commit to not sharing the code in any form. We can even agree on a secret way to share it.

I will work on a special version of the extension (not minified, web packed, ...) and instruction how you can

[2021-09-15 13:35] dbaeumer commented on #1336
Here you go:

- download the attached zip: [vscode-eslint-2.2.0-debug.0.zip](https://github.com/microsoft/vscode-eslint/files/7170366/vscode-eslint-2.2.0-debug.0.zip)
- rename the zip to vsix
- uninstall the ESLint VS Extension
- Reload
- Run the command: 'Install from VSIX'
- Select the `vscode-eslint-2.2.0-debug.0.vsix` VSIX
- Reload
- Open the workspace that reveal the memory leak
- create a se

[2021-09-15 13:46] dbaeumer commented on #1336
If you have a certain pattern that shows the behavior I am happy to help tracing the memory allocation.

[2021-09-15 17:52] dbaeumer commented on #1336
I wanted to point out one additional thing: ESLint, all it's plugins are usually written assuming some sort of short lived processes (e.g. eslint is usually executed in a terminal runs for n seconds and stops again). So their main focus is not to be leak free :-). However starting processes on type doesn't scale so the ESLint extension keeps the ESLint `process` alive to get a decent on type exper

[2021-09-15 18:25] purkhusid commented on #1042
Bump! Would be super nice if it was made part of the release process to also release to Open VSX

[2021-09-15 20:17] MickeWest commented on #1336
@dbaeumer First off, thanks for jumping on this ticket so fast and the willingness to research what is causing it!
By default, I was under the impression that ESLint only scanned and parsed files open in the editor.
However, that does not seems to be the case. ESLint also seems to be scanning and parsing the /node_modules
folder which is normally pretty big.
The issue seems to be resolved by addin

[2021-09-15 20:17] #1336 closed

[2021-09-16 03:10] jpike88 commented on #1336
@MickeWest constant and moderate, what exactly does RAM usage look like? It still would have a sizeable base level right (like around 1.5GB)?

[2021-09-16 13:30] MickeWest commented on #1336
Here is a screen shoot of the memory usage.

![ESLint_Usage_After_Fix](https://user-images.githubusercontent.com/71844639/133621032-e05dff9a-ef94-41df-855b-1c4dc43a5b96.png)

[2021-09-16 16:11] RihardXXX commented on #707
thank you))

[2021-09-17 02:44] vxna opened #1337 "Infinity loop on format enabled"
Honestly, as no recent `vscode-eslint` versions were published lately and it also started to happen only after VS Code 1.60.1 got released, this looks like VS Code issue, but I hasn't spotted any weird behavior with other extensions but `vscode-eslint`.

https://user-images.githubusercontent.com/30002276/133716593-2fc790d8-db62-42cf-b158-aa140c3acc12.mp4

Steps to reproduce:

1. Use anything that

[2021-09-17 05:03] mckravchyk commented on #477
+1, it would be very useful when developing an Eslint plugin.

[2021-09-17 09:00] dbaeumer commented on #1337
@vxna followed your steps but was not able to reproduce. Any additional info:

https://user-images.githubusercontent.com/1931590/133755555-df989fa7-c0c1-4d7e-b687-41f36c273e1e.mp4

[2021-09-17 09:00] dbaeumer commented on #1337
And I can't play your screen cast. Can you upload it again?

[2021-09-17 10:24] vxna commented on #1337
@dbaeumer are you manually running format by keypress, with `editor.action.formatDocument`? I see that timestamps are changing in your video and ESLint runs multiple times. In my case, it runs even if VS Code window is not active, but have the file opened.

That's quite strange as it works for me. I think you can try [direct link](https://user-images.githubusercontent.com/30002276/133716593-2fc790

[2021-09-17 10:51] vxna commented on #1337
Gotcha. The screencast was HEVC encoded thus not playable everywhere, here's AVC version that should work:

https://user-images.githubusercontent.com/30002276/133770937-03a7d0aa-f232-4972-9542-21f740fecb6a.mp4

[2021-09-17 11:25] dbaeumer commented on #1337
@vxna opening the file didn't trigger an infinite loop for me.

The timestamps change since I did the following: typing in the file and pressing `Shift+Alt+F` to trigger format. None of those lead to an infinite loop either.

[2021-09-17 12:11] vxna commented on #1337
@dbaeumer that's the thing: https://github.com/microsoft/vscode/issues/126126#issuecomment-921747090

Thanks for your time!

[2021-09-17 12:11] #1337 closed

[2021-09-17 12:18] dbaeumer commented on #1337
OK. Thanks.

[2021-09-17 19:20] manojdcoder opened #1338 "Parsing error: File 'tsconfig.json' not found - if project does not contain tsconfig.json in workspace root"
Seems https://github.com/microsoft/vscode-eslint/issues/722 is happening again after upgrading VSCode to v1.60.1

[2021-09-17 19:33] manojdcoder commented on #1338
The [same solution](https://github.com/microsoft/vscode-eslint/issues/722#issuecomment-519620985) worked

[2021-09-17 19:33] #1338 closed

[2021-09-18 19:03] gmencz opened #1339 "Error: command 'eslint.*' not found"
I keep getting this error whenever trying to use any of the eslint commands from ctrl + shift + p:

![image](https://user-images.githubusercontent.com/43379549/133905720-68730ea9-ed7e-4dbe-b070-2528c233845b.png)

I've tried reinstalling the extension and even reinstalling vscode but the issue keeps happening, `eslint` works just fine from the terminal, it just doesn't work in vscode.

<html>
<body

[2021-09-18 21:16] webdevnerdstuff commented on #1055
@dbaeumer Ever since I disabled the TabNine extension, I haven't been having the problem. I did see it popup once or twice, but that's because it was actually a very large file, and my computer's resources were slowed down a little bit due to other reasons. TabNine isn't really an extension that runs on "save", but is just more of something that's on in the background, at least from what I can tel

[2021-09-19 09:04] pouyarezvani commented on #1055
@webdevnerdstuff @dbaeumer j was experiencing this issue every single day,and was making me miss out on work.
However a few days ago I noticed that that the extension [TypeScript ToolBox](https://marketplace.visualstudio.com/items?itemName=DSKWRK.vscode-generate-getter-setter)was hanging up. And since I uninstalled that extension, I have not experienced this issue anymore. I think the reason peopl

[2021-09-19 20:08] #1339 closed

[2021-09-20 08:56] dbaeumer commented on #1055
First, great that you could identify the extensions causing the problems for you.

Regarding your questions: this is due to the design how VS Code works and is not specific to ESLint. For the save sceanrio there are three processes involved:

- the editor process which triggers the save
- the extension host process running the extension code
- the eslint server process.

Due to the nature of Node

[2021-09-20 12:18] BartaG512 commented on #1055
Well maybe just dont show the popup? In this case?
https://www.linkedin.com/pulse/reframing-technique-problem-solving-usha-easwaran

[2021-09-21 06:46] Trinovantes opened #1340 "VSCode reporting error but not CLI"
Demo: https://github.com/Trinovantes/issue-vscode-eslint-vue-ts

Running:
1. `yarn install`
2. `yarn lint`

Will not produce an error as expected

However my project in VSCode is reporting an error:
![Screenshot 2021-09-21 024234](https://user-images.githubusercontent.com/458691/134123778-69eab174-52d0-4547-89ac-842adf4d5488.png)

[2021-09-21 13:18] dbaeumer commented on #1340
This error is not produced by the ESLint extension. It comes from the Vue extension. Errors produced by the eslint extension have the source eslint. See that attached screen shot:

<img width="382" alt="capture" src="https://user-images.githubusercontent.com/1931590/134177604-5a97ad74-9476-4ff6-a100-9d226b2cb7b4.png">

[2021-09-21 13:19] dbaeumer commented on #1340
Different `eslint-plugin-vue` for the error from the Vue extension and `eslint` for the error from the ESLint (this) exension.

[2021-09-21 13:19] #1340 closed

[2021-09-21 22:16] Trinovantes commented on #1340
Thanks

I found I still had Vetur extension installed on my WSL which was conflicting with Volar (I thought I uninstalled it already but it seems I only uninstalled it locally)

[2021-09-22 09:05] javierguzman opened #1341 "Plugin not reading properly the import/ignore field?"
Hello all,

I have started getting a red highlight when importing images using aliases, with the error "import/no-extraneous-dependencies".  My webpack build is ok and it does not complain when running eslint with webpack eslint plugin.

In order to get rid of this error, I added `"import/ignore": ["*.png", "*.jpg"]`  and **that made the error to go away**. However, I started getting webpack error

[2021-09-22 10:12] dbaeumer commented on #1341
What happens if you execute eslint on the command line and validate the file there  (e.g. `./node_modules/.bin/eslint ....`)

[2021-09-22 10:12] dbaeumer commented on #1341
The eslint extension honors everything the command line eslint honors. But this that are specific to webpack are not honored.

[2021-09-22 12:22] javierguzman commented on #1341
I have run npx eslint ./src/features/Header/Header.tsx -c ./config/.eslintrc.json and indeed I get the same error. I do not understand why with webpack is ok and with cli is not. I am completely lost.

[2021-09-23 07:17] dbaeumer commented on #1341
Two options I know of:

- webpack uses a different version of eslint, plugins, ...
- there is a eslint config somewhere inside of the webpack files,

I will close the issue since the design of the extension is to respect the same config / setting as eslint in the terminal does.

[2021-09-23 07:17] #1341 closed

[2021-09-23 21:06] AndysonDK commented on #717
I get the same error would love to see a PR

[2021-09-28 17:27] SE2Dev commented on #1143
@dbaeumer I just wanted to give a heads up. Although this issue was resolved in the 2.1.20 release, 2.1.25 appears to have a regression regarding this issue.

[2021-09-29 09:29] dbaeumer commented on #1143
@SE2Dev does the same test case reproduces it?

[2021-09-29 13:01] SE2Dev commented on #1143
Yep

[2021-09-29 13:53] dbaeumer commented on #1143
Can again reproduce. Thanks for reporting.

[2021-09-29 19:27] #1143 closed

[2021-09-30 16:10] devinrhode2 commented on #1150
I am migrating one of our companies projects to XO, which has it's own vscode extension.

Inside the new XO project, I am adding `"eslint.enable": false,` to our projects `.vscode/settings.json` file.

If `eslint.enable` was removed, we could get the same end result if there was a [`eslint.requireConfig` option](https://github.com/microsoft/vscode-eslint/issues/1194#issue-822929076)

[2021-09-30 17:02] aquib-J opened #1343 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-eslint`
- Extension Version: `2.1.23`
- OS Version: `Darwin x64 20.6.0`
- VS Code version: `1.60.0`

[code]

[2021-10-01 07:08] dbaeumer commented on #1150
I undepreciated `eslint.enable`

[2021-10-01 07:10] dbaeumer commented on #1343
Actually these number look pretty good. Totoal < 100ms. Was there anything additional that made you file the issue?

[2021-10-01 10:07] dbaeumer opened #1344 "How to tackle: Getting code actions from ESLint"
The cause of seeing that dialog can have many reasons. They are in almost all cases not related to the ESLint extension itself.

Typically reasons are:

- one of the eslint plugins is slow
- VS Code's extension host is busy which is usually caused by an extension different than ESLint

## Finding the reason

Before you file an issue please follow the following steps to narrow down the problem:

-

[2021-10-01 10:12] dbaeumer commented on #1055
I created https://github.com/microsoft/vscode-eslint/issues/1344 to document how to best track down the cause of `Getting Code action form ESLint` notification.

I will close this issue since since have such a monster issue is very hard to manage.

I plan to release a new version after VS Code stable has shipped next week with support for specifying rules on save.

[2021-10-01 10:12] #1055 closed

[2021-10-01 10:17] dbaeumer commented on #1159
Hve you tried `eslint.workingDirectories`. In setups with multiple project folders ESLint needs to know the working directories. A good indication for the setting is also that validating in a terminal requires a `cd` to work.

[2021-10-01 11:44] dbaeumer commented on #1297
This issue has been closed automatically because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2021-10-01 11:44] #1297 closed

[2021-10-01 11:45] dbaeumer commented on #1306
This issue has been closed automatically because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2021-10-01 11:45] #1306 closed

[2021-10-01 11:45] dbaeumer commented on #1311
This issue has been closed automatically because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2021-10-01 11:45] #1311 closed

[2021-10-01 11:45] dbaeumer commented on #1312
This issue has been closed automatically because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2021-10-01 11:45] #1312 closed

[2021-10-01 11:46] dbaeumer commented on #1313
This issue has been closed automatically because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2021-10-01 11:46] #1313 closed

[2021-10-01 11:46] dbaeumer commented on #1318
This issue has been closed automatically because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2021-10-01 11:46] #1318 closed

[2021-10-01 11:47] dbaeumer commented on #1321
This issue has been closed automatically because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

@justingrant please ping if you have additional info and I will reopen.

[2021-10-01 11:47] #1321 closed

[2021-10-01 11:52] dbaeumer commented on #267
This can now be customized using the new `eslint.rules.customizations` setting. The setting gives you full control over which severity is used when errors are detected. It also allows to not report an error at all to the UI.

[2021-10-01 11:52] #267 closed

[2021-10-01 11:57] dbaeumer commented on #464
I will close the issue. There is now a setting `eslint.runtime` which lets you point to a newer/different runtime than the one we ship in VS Code.

[2021-10-01 11:57] #464 closed

[2021-10-01 12:01] amannn commented on #267
@dbaeumer Thank you very much for the update on this issue!

Can you provide an example for how this would work?

I've tried this setting:

[code]

From what I can tell, this turns the rule completely off in VSCode and also doesn't provide auto-fixing anymore.

The behaviour I'm looking for is having no visual indication of the rule, but still using it for auto-fixing. Ideally this would be the ca

[2021-10-01 12:06] dbaeumer commented on #573
The feature has not gain any traction in the community. I therefore close the issue. Still a big Thank You to you for taking the time to create this issue! To learn more about how we handle feature requests, please see our [documentation](https://aka.ms/vscode-issue-lifecycle).

Happy Coding!

[2021-10-01 12:06] #573 closed

[2021-10-01 12:09] dbaeumer commented on #716
The feature has not gain any traction in the community. I therefore close the issue. Still a big Thank You to you for taking the time to create this issue! To learn more about how we handle feature requests, please see our [documentation](https://aka.ms/vscode-issue-lifecycle).

Happy Coding!

[2021-10-01 12:09] #716 closed

[2021-10-01 12:11] dbaeumer commented on #719
The next version (2.2.x) will contain a setting to customize the rules executed on save / fix. (e.g. eslint.codeActionsOnSave.rules)

[2021-10-01 12:11] #719 closed

[2021-10-01 13:04] dbaeumer commented on #733
Added setting `eslint.runtime.execArgv`

[2021-10-01 13:08] dbaeumer commented on #767
2.2.0 will ship with a new setting `eslint.codeActionOnSave.rules` to customize the rules used while running code action on save.

[2021-10-01 13:08] #767 closed

[2021-10-01 14:45] #801 closed

[2021-10-01 15:12] #825 closed

[2021-10-01 15:27] dbaeumer commented on #882
In 2.2.0 you can control which rules will be considered during auto fix on save and format. Setting is `eslint.codeActionOnSave.rules`

[2021-10-01 15:27] #882 closed

[2021-10-01 15:30] dbaeumer commented on #902
There are two new ways to customize this: `eslint.customization.rules` for the general rules and `eslint.codeActionOnSave.rules` for the rules to be honored during save and format.

[2021-10-01 15:30] #902 closed

[2021-10-01 15:31] dbaeumer commented on #929
No further action planned.

[2021-10-01 15:31] #929 closed

[2021-10-01 15:33] dbaeumer commented on #940
VS Code is working on a tab model.

[2021-10-01 15:34] dbaeumer commented on #1156
Got fixed with https://github.com/microsoft/vscode-eslint/issues/733

[2021-10-01 15:34] #1156 closed

[2021-10-01 15:35] dbaeumer commented on #972
Will come in 2.2.0. Coding is done.

[2021-10-01 15:35] #972 closed

[2021-10-01 15:37] dbaeumer commented on #994
The feature has not gain any traction in the community. I therefore close the issue. Still a big Thank You to you for taking the time to create this issue! To learn more about how we handle feature requests, please see our [documentation](https://aka.ms/vscode-issue-lifecycle).

Happy Coding!

[2021-10-01 15:37] #994 closed

[2021-10-01 15:38] dbaeumer commented on #1006
The feature has not gain any traction in the community. I therefore close the issue. Still a big Thank You to you for taking the time to create this issue! To learn more about how we handle feature requests, please see our [documentation](https://aka.ms/vscode-issue-lifecycle).

Happy Coding!

[2021-10-01 15:39] #1006 closed

[2021-10-01 15:44] #1064 closed

[2021-10-01 16:04] lencioni commented on #940
@dbaeumer Cool, thanks for the update! Do you have any links that explain what that means or how it relates to this issue?

[2021-10-01 17:04] dbaeumer commented on #267
@amannn good catch. There is an issue if all problems are off then code action on save short cuts. Need to consider this.

[2021-10-01 17:06] dbaeumer opened #1345 "Ensure that code action on save is still called even if all rules are off via customization"
The shortcut code is here: https://github.com/microsoft/vscode-eslint/blob/8701146a3b46465056f9332fd19b96f9f846e5e9/client/src/extension.ts#L1031

[2021-10-01 17:07] dbaeumer commented on #267
Opened https://github.com/microsoft/vscode-eslint/issues/1345

[2021-10-04 09:47] dbaeumer commented on #940
The tab model will allow to avoid to sync these documents to the eslint server.

[2021-10-04 10:43] #1345 closed

[2021-10-05 06:23] yosikawa opened #1347 "How to lint remote files?"
We have shared JS sources on file server like below.
Because this is the shared server, I don't want to install node_modules files here.

[code]
And eslint is installed locally.

[code]
How can I confugure to lint \\server\proj\file.js by vscode-eslint
using Node environment at C:\foo\bar ?

I tried with folowing .code-workspace configuration.
The linting works on C:\foo\bar\dummy.js but not on \\

[2021-10-05 07:20] dbaeumer commented on #1347
You can use `eslint.options.configFile` and specify the location of the .eslintrc file. See https://eslint.org/docs/developer-guide/nodejs-api

[2021-10-05 07:20] #1347 closed

[2021-10-05 10:28] yosikawa commented on #1347
Sorry to bother you but how?
I'm not calling API but just using vscode editor.
vscode seems to looking for .eslintrc file for network folder \\server\proj
But how can I configure the vscode-eslint extention
so that make it use C:\foo\bar\.eslintrc instead of  \\server\proj\.eslintrc ?
Do you mean eslint.options.overrideConfigFile ?
Since I cannot find eslint.options.configFile in the document you

[2021-10-05 11:28] yosikawa opened #1348 "How to lint remote files?"
#1347

I'm posting new issue because my previous post was closed.
It is closed but how can I do that?
I'm not calling API but just using vscode editor.
vscode seems to looking for .eslintrc file for network folder \\server\proj
But how can I configure the vscode-eslint extention
so that make it use C:\foo\bar\.eslintrc instead of \server\proj\.eslintrc ?
Do you mean eslint.options.overrideConfigFi

[2021-10-05 12:42] dbaeumer commented on #1238
I did the coding but the new language status API is still proposed. Has to wait a little.

[2021-10-05 12:43] dbaeumer commented on #1190
Will use the new status bar language entry which I hope will improve this.

[2021-10-06 12:07] dbaeumer commented on #1348
If you use ESLint version < 8 (which you most likely do since 8 is still in beta) the option is `eslint.options = { config: $file }`. You might want to search in the readme https://github.com/microsoft/vscode-eslint/blob/main/README.md for the `eslint.options` setting. There is an example.

[2021-10-06 13:23] dbaeumer commented on #828
You can use the new `codeActionsOnSave.rules` setting as well which is honored during format.

[2021-10-06 13:25] dbaeumer commented on #1003
The feature has not gain any traction in the community. I therefore close the issue. Still a big Thank You to you for taking the time to create this issue! To learn more about how we handle feature requests, please see our [documentation](https://aka.ms/vscode-issue-lifecycle).

Happy Coding!

[2021-10-06 13:25] #1003 closed

[2021-10-06 13:25] dbaeumer commented on #1038
Dups #795

[2021-10-06 13:25] #1038 closed

[2021-10-06 18:18] Brian-Bartels opened #1349 "Support Error on Unused Disable Directive"
Many Large Repos only lint via node tasks or CLI, and many times it is PR policy to not have any unused disable directives. VSCode should properly show error on unused disable directives. Preferably configurable via a vscode setting.

context: https://eslint.org/docs/user-guide/command-line-interface#--report-unused-disable-directives

Happy to contribute if this feature is accepted

[2021-10-06 18:27] #1349 closed, assigned to nobody

[2021-10-06 18:38] dbaeumer commented on #1074
I looked into this and it is actually hard to fix. ESLint is not giving me any context and it is therefore hard to decide whether I need to use `{ /* */}` or `//` to disable the rule

[2021-10-06 18:57] Brian-Bartels commented on #1349
It worked thanks!

[2021-10-06 19:18] dbaeumer commented on #1081
The feature has not gain any traction in the community. I therefore close the issue. Still a big Thank You to you for taking the time to create this issue! To learn more about how we handle feature requests, please see our [documentation](https://aka.ms/vscode-issue-lifecycle).

Happy Coding!

[2021-10-06 19:18] #1081 closed

[2021-10-07 08:10] yosikawa commented on #1348
It works! Thank you for quick reply.

[2021-10-08 12:19] dbaeumer commented on #1165
The feature has not gain any traction in the community. I therefore close the issue. Still a big Thank You to you for taking the time to create this issue! To learn more about how we handle feature requests, please see our [documentation](https://aka.ms/vscode-issue-lifecycle).

Happy Coding!

[2021-10-08 12:19] #1165 closed

[2021-10-08 12:25] dbaeumer commented on #1214
dups #1159

[2021-10-08 12:25] #1214 closed

[2021-10-08 12:25] dbaeumer commented on #1343
Without the additional information we can't work on this issue. Please ping when the information is available and we will reopen the issue.

[2021-10-08 12:29] dbaeumer commented on #1257
The feature has not gain any traction in the community. I therefore close the issue. Still a big Thank You to you for taking the time to create this issue! To learn more about how we handle feature requests, please see our [documentation](https://aka.ms/vscode-issue-lifecycle).

Happy Coding!

[2021-10-08 12:29] #1257 closed

[2021-10-08 12:34] dbaeumer commented on #1281
Version 2.2.0 has the setting reenabled.

[2021-10-08 12:34] #1281 closed

[2021-10-08 12:39] dbaeumer commented on #1295
Hmm, `machine-overridable` setting can be specified in the user settings according to https://code.visualstudio.com/api/references/contribution-points#contributes.configuration

Do you have an example that is not working?

[2021-10-09 16:45] entropitor commented on #1003
This comment is probably very relevant here as well: https://github.com/microsoft/vscode-eslint/pull/1053#issuecomment-936237529

[2021-10-13 01:31] zhuoyan123 opened #1351 "do not show error in symbolic link folder"
I worked on mac os, this is my workspace
![20211013092038](https://user-images.githubusercontent.com/43226113/137050507-b87a1889-d741-4c4b-83f2-27f76331155a.jpg)

the 'src' is linked to another folder, when I make error in some file in src, vscode-eslint can not give me error info, but webpack gives me.

this is stat when I maked an error
![image](https://user-images.githubusercontent.com/43226113

[2021-10-13 04:12] Avasam opened #1352 "Option for different color for linting errors"
I'd like to be able to differentiate visually linting errors in VSCode. The main reason being, if I see red, I know I have something to fix as it won't even compile (let's say a TypeScript error). If I see another color (other than warnings), I'll know it'll still compile (might even autoformat on save) and I can fix the linting issue while it's building.

I believe VSCode has `editorInfo.foregrou

[2021-10-14 06:46] bpasero opened #1358 "Conflict in default settings: Ignoring eslint.runtime.execArgv as eslint.runtime is null"
Seeing this in console in insiders.

![image](https://user-images.githubusercontent.com/900690/137265743-c5462fe2-2a14-431d-8bff-a2619bbb16d1.png)

//cc @sandy081

[2021-10-15 08:37] CombeeMike opened #1353 "vscode-eslint is not showing all TS errors"
I recently started an React TS application and just realized that ESLint is not showing me the same errors/warnings within VSCode as it does on the command line. It seems to be basically running correctly as it does show me some errors:

![image](https://user-images.githubusercontent.com/30658772/137457388-e11e4348-37fa-401e-9794-3cadaa5bc665.png)

My config file is saved at project root within `.

[2021-10-15 23:29] zardoy commented on #1352
Hey! Just want to share with you that there is also a way to distinguish between compile and eslint errors with ErrorLens and `"errorLens.messageTemplate": "$source $message"` setting. It looks like this:
![image](https://user-images.githubusercontent.com/46503702/137563949-82826326-4322-4a45-92e5-c6bde196b5d0.png)

But sometimes I also use `"eslint.rules.customizations": [{ "rule": "*", "severity

[2021-10-17 15:53] RobertSandiford opened #1354 "vscode-eslint fails to load eslint-plugin with entry point other than /index.js and not dot-prefixed"
I just tried to load this plugin: https://github.com/SebastienGllmt/eslint-plugin-no-floating-promise
with eslint and vscode-eslint.

The package specifies it's entry point with "main": "lib/index.js"

Command line eslint works. vscode-eslint fails

Changing the entry point to "main": "./lib/index.js" fixes the problem. So, it appears that vscode-eslint fails without a ./

Seems to be a fairly com

[2021-10-17 18:00] RobertSandiford commented on #1354
It started working later on. I don't know what the issue was...

I made a variant with './lib/index.js' and that seems to work but with errors. Then the original started working. Mystery

[2021-10-18 14:23] #1354 closed, assigned to nobody

[2021-10-18 14:26] dbaeumer commented on #1351
All I can recommend is to exclude the folder in this case using an `.eslintignore` file

[2021-10-19 04:29] charles-allen opened #1355 ""Extension 'ESLint' is configured as a formatter but it cannot format 'typescript'-files""
The ESLint plugin seems to have stopped formatting TypeScript files. I searched online, changelogs, and open issues. I cannot find any reference to this. I wondered if maybe we're supposed to migrate to "code actions on save"?

### Actual
_Format document_
![Screen Shot 2021-10-19 at 11 13 24](https://user-images.githubusercontent.com/31621095/137843018-6b5d4507-cf55-48ee-b303-811e164ccb92.png)

_

[2021-10-19 04:51] RebeccaStevens opened #1356 "Can I change the version of node that the eslint server is running on?"
I assume I can't and it is just whatever version ships with vscode itself but I thought I'd still ask.

Why?

My in editor linting is different from my commandline linting with regard to this issue: https://github.com/import-js/eslint-plugin-import/issues/2248
This is because vscode's eslint server is running in node 14.16.0 which does not understand the "node:" protocol. It was backported to node

[2021-10-19 08:14] #1356 closed, assigned to nobody

[2021-10-19 18:49] harrydoerr commented on #1355
I was running into this error earlier, and I found that I could get the plugin to run again on save after editing my .eslintrc.js and reloading the window. I run into the error again if I right-click and select "Format Selection" as the photo shows below:

<img width="438" alt="Screen Shot 2021-10-19 at 11 44 52 AM" src="https://user-images.githubusercontent.com/39283395/137972070-18ea5706-97c4-4f

[2021-10-19 20:49] douglance opened #1357 "eslint.rules.customizations add rule options"
Many eslint rules have additional configuration options that more finely tune how and when rules should be applied. Would it be possible to add those rules to the `eslint.rules.customizations` setting in VSCode?

It would be nice to have a workflow where my local development environment can have rules that are more strict than what is required by the project I'm working in. There are mistakes that

[2021-10-20 12:10] dbaeumer commented on #1353
@CombeeMike great analysis! The expectation is that the plugin behaves exactly the same way as eslint in the terminal. My guess is that some of the scripts change the config and therefore you see a different set of errors. Best would be to talk to the `create-react-app` people mentioning the difference between `npx eslint` and `npm run start/react-scripts start`.

I will close the issue for now. P

[2021-10-20 12:10] #1353 closed

[2021-10-20 12:40] dbaeumer commented on #1351
The validation doesn't happen correctly in the terminal. If I run `./node_modules/.bin/eslint src/App.test.js` I get

[code]

The extension can only validate files correctly iff the validation happens correctly in the terminal. I will close the issue for now.

If you still see problems after the validation happens correctly in the terminal please ping and I will reopen.

[2021-10-20 13:24] tassoevan opened #1359 "`.eslintignore` not honored in monorepo (using glob pattern)"
Just noticed that

[code]

will warn that my `packages/mypackage/.myfile.js` file is **ignored**, but

[code]

will enable `eslint` on it, matching the behavior defined by adding `!.myfile.js` on `packages/mypackage/.eslintignore`.

[2021-10-21 04:17] charles-allen commented on #1355
@dbaeumer - My issue is with "Format Document". I saw it yesterday in 2 completely different repos (one of which I know was working the day before, and one that was brand new). I will try it again now, and share a repo if I can still reproduce. Possibly the VSCode version is also relevant.

[2021-10-21 06:12] charles-allen commented on #1355
I have found a way to replicate the issue reliably, but it will be very difficult to provide a minimal repo (and that might no longer be relevant):

- Open a reasonably large Vue project in VSCode
- Quickly mess up the formatting
- Run format (keyboard shortcut or command palette)

And the resolution:

- Wait 10 seconds

It seems that this issue only exists when VSCode/extensions are still be init

[2021-10-21 06:49] lxghtless commented on #1355
It stopped working for format on save as well without a selection. I checked with my team at work and the same thing happened to everyone. We run a mix of Macs and Linux distros. I wish I could share a project to help diagnose the issue, but we can’t do that. If I find some extra time I’ll try to setup a reasonably similar project to share an example. Maybe it’s a coincidence that it happened at t

[2021-10-21 10:28] dbaeumer commented on #1355
@charles-allen I recognized that you were talking about format, that is why I didn't close the issue. But @harrydoerr and @lxghtless  reported on format on selection.

Without some steps to reproduce it is extremally hard to tell what is going on. Does this reproduce with all extensions disabled except ESLint. It could be a problem with another extension saturating the extension host.

[2021-10-21 10:30] dbaeumer commented on #1359
@tassoevan would you be able to provide me with a repository I can clone that demos the problem you are seeing. It is actually not clear to me from the description.

[2021-10-21 10:53] #1358 closed

[2021-10-21 13:41] CarstenWalther commented on #1351
I had the same problem. The eslint extension did not show linter errors from files in a symlinked folder. Running eslint from the terminal worked fine though.

As a workaround set the `nodePath` configuration to your node_modules directory. E.g. `"eslint.nodePath": "node_modules"`. Then it should show linter errors for files in symlinked folders.

[2021-10-25 08:58] roojay opened #1360 "v2.2.2 SyntaxError: Unexpected token '.'"
OS: macOS Molave  10.14.6
VSCode: 1.61.2
dbaeumer.vscode-eslint: v2.2.2

When I update vscode-eslint v2.2.1 to v2.2.2, the VSCode outputs this error.
![image](https://user-images.githubusercontent.com/11495164/138664159-a022efca-775a-4560-b7de-da297f978610.png)

This seems to be related to [Move to latest LSP libs
](https://github.com/microsoft/vscode-eslint/commit/a0e49f3807c1616cf75c5aa576070a66

[2021-10-28 01:09] #1360 closed, assigned to nobody

[2021-10-29 07:41] haishangfeie opened #1361 "React hook missing dependency warning (react-hooks/exhaustive-deps) not appearing"
expected：
The visual warning appeared on code as a yellow wavy line and provided an option to auto-fix dependencies.

now:
No warnings appear in the code as a yellow wavy line

version: 1.61.2 (Universal)
commit: 6cba118ac49a1b88332f312a8f67186f7f3c1643
date: 2021-10-19T15:49:28.381Z (1 周前)
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.6.0

[2021-10-29 19:07] RobertSandiford commented on #1354
I suspect this had something to do with the caching, which I wasn't aware of at the time.

[2021-11-01 17:48] fomenkogregory commented on #1186
Emmm, so you just disabled prettier. It's the same "fix" as deleting the project 🙂

[2021-11-02 08:41] dbaeumer commented on #1361
@haishangfeie does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-11-02 09:50] gaussianblurs opened #1362 "Extension does not work with pnpm"
Hello,
I am trying to use the eslint plugin (v2.1.20) with pnpm (v6.20.1) and nvm (v0.38.0).

When the eslint plugin initializes, I get the following output:
[code]

pnpm root -g:
`/home/gaussian/.nvm/versions/node/v16.13.0/pnpm-global/5/node_modules`

which pnpm:
`/home/gaussian/.nvm/versions/node/v16.13.0/bin/pnpm`

Please help me out

[2021-11-02 10:36] cgolinski opened #1363 "vscode shows error despite @ts-nocheck"
Hi vscode-eslint team! Hoping you can help me figure out what's going on here. Thanks!

## Summary

In my `.eslintrc.json` I have the following rule set:
[code]

<img width="915" alt="eslintrc json" src="https://user-images.githubusercontent.com/22013506/139830608-53d8078a-0e0d-4074-8b80-4f1ba70348dc.png">

When I run eslint (`eslint src/components/TestNoCheckRule/index.tsx`) on the command line,

[2021-11-02 11:28] cgolinski commented on #1363
Hmm. In other files, it seems that `//ts-nocheck` isn't being respected by eslint either. So might not be an issue with vscode-eslint. Will investigate further and report back.

[2021-11-02 19:19] cgolinski commented on #1363
`// @ts-ignore` is being respected by both eslint and vscode-eslint. Not sure why, but `// @ts-nocheck` is not being respected by either. Closing as this doesn't seem to be an issue wtih vscode-eslint.

[2021-11-02 19:19] #1363 closed

[2021-11-03 14:56] dbaeumer commented on #1362
@gaussianblurs what happens when executing `which pnpm` from inside a terminal in VS Code itself. I guess that the environment is already not correct for VS Code hence the eslint server can't find it either.

[2021-11-03 14:57] gaussianblurs commented on #1362
`which pnpm`:
/home/gaussian/.nvm/versions/node/v16.13.0/bin/pnpm

[2021-11-03 14:59] gaussianblurs commented on #1362
The output is the same from the VS Code terminal:
`which pnpm`:
/home/gaussian/.nvm/versions/node/v16.13.0/bin/pnpm

[2021-11-04 10:27] dbaeumer commented on #1362
I have no idea why this is happening then. If I give you instructions would you be willing to debug this?

[2021-11-04 11:50] gaussianblurs commented on #1362
Sure, I have already tried to fix it by adding the npm global binaries to my PATH like this: `$(npm config --global get prefix)/bin` but it didn't work. Definitely looks like an env issue, but I don't know where to look.

[2021-11-04 11:59] gaussianblurs commented on #1362
Found out where the issue comes from:
 `"eslint.packageManager": "pnpm"` in the user settinggs; when I remove this line and use workspace settings, everything works.

[2021-11-04 19:06] doomchild commented on #1229
I get this error when I create a new file.  To fix it, I either have to save the file, close it, then re-open it, or restart the LSP workspace.

[2021-11-04 20:15] maksimr commented on #1042
Do we have any chance to see the new version on Open VSX? 😶

[2021-11-04 22:11] gaussianblurs commented on #1362
I tried these settings in the settings.json file:

[code]

But it didn't work either

[2021-11-04 22:41] gaussianblurs commented on #1362
I think I have the same issue: https://archived.forum.manjaro.org/t/intellisense-in-vscode-doesnt-function-with-nvm/132978

[2021-11-05 10:29] dbaeumer commented on #1362
OK. The post you linked is interesting. If you start VS Code from a terminal in which `which pnpm` works does it work then?

[2021-11-05 11:49] SerhiyZheliznjak commented on #1355
For me Eslint formatter stopped working after updating to 1.62, for all previously supported extensions .js(x), .ts(x).
Eslint server is crashing with:

[code]

[2021-11-05 12:21] SerhiyZheliznjak commented on #1355
For me it was occurred  right after update to 1.62, not sure what I changed but after at least one more restart it works

[2021-11-06 07:48] 01Sharpshooter commented on #1042
It would be super nice as any version <2.2.0 is now just broken for ESLint 8 projects due to the lack of CliEngine which will only become a bigger issue with time. Thanks in advance!

[2021-11-09 06:48] laverdet commented on #1241
@edupsousa thank you for this contribution. I want to point out that setting a rule's severity to "off" does *not* disable automatic fixes from that rule from leaking through. As an example I tried to set "prefer-const" to "off" since the autofix for that is highly disruptive to the editing experience. The new setting actually creates a pretty confusing experience because there's no graphical call

[2021-11-09 08:07] dbaeumer commented on #1241
@laverdet this was more or less on purpose since a common use case is to see no errors for this that are easily auto-fixable. There is a second setting `eslint.codeActionsOnSave.rules` that allows to customize which one are honored.

[2021-11-09 14:51] standingdreams commented on #1055
I ran Bisect and the culprit for me is the [vscode-auto-close-tag](https://github.com/formulahendry/vscode-auto-close-tag) extension. I disabled it and now things are good to go...for now.

[2021-11-09 18:05] laverdet commented on #1241
@dbaeumer thank you for the tip. Your point about reducing visual noise while editing makes sense. I had problems with `eslint.codeActionsOnSave.rules` but I'll be sure to give it another try once more of the ecosystem has updated their dependencies to eslint 8.x.

[2021-11-09 22:54] dbaeumer commented on #1042
@chrisdias assigning to you.

[2021-11-10 07:43] 01Sharpshooter commented on #1042
Seems like the OpenVSX guys solved it themselves for now. 2.2.2 is available there.

[2021-11-10 08:32] danielrentz opened #1365 "Plugin unexpectedly loads eslint lib from embedded node_modules"
We have a somewhat weird setup here, where one project in a monorepo contains an embedded package.json:

[code]
One reason for that is to prevent installing the codeceptjs/puppeteer monsters in normal development mode. Sadly, this setup is given for now and cannot be changed.

The workspace config contains the recommended setup for monorepos:
[code]

As long as the embedded `project2/test/package.

[2021-11-10 10:01] JosefJezek opened #1366 "Support for VS Code for Web"
The 'ESLint' extension is not available in Visual Studio Code for the Web.

[https://vscode.dev](https://vscode.dev/)

Learn Why [https://code.visualstudio.com/docs/editor/vscode-web#_extensions](https://code.visualstudio.com/docs/editor/vscode-web#_extensions)

[2021-11-10 10:45] brynley opened #1367 "Plugin takes up 98%+ CPU usage"
As you can see from the screen shot below Code Helper (Renderer) is taking up 98%+ CPU usage, even when VSCode has been quit, causing the fans of my MacBook Pro to run at very high speeds.
![image](https://user-images.githubusercontent.com/20400802/141098241-66a3cf0f-c8e2-4331-a177-3e68b31ee005.png)

After searching for the culprit using `ps aux | grep {cpuPID}` where `{cpuPID}` is the PID of the

[2021-11-10 12:37] gaussianblurs commented on #1362
Yes it works with this method. Thanks for asnwering me, closing the issue.

[2021-11-10 12:37] #1362 closed

[2021-11-10 13:56] edupsousa commented on #1357
@dbaeumer may I take a chance on developing this feature? I made a first attempt at https://github.com/edupsousa/vscode-eslint/commit/f1d74b342f2813ebf0e1b20d9e272fe0d2e5ef68, but I will probably need some guidance on the best way to extend and parse configuration settings, writing documentation, and so on.

I tested this first attempt with ESLint version 8, and it looks like it's working fine. It

[2021-11-10 17:52] mbcodecamp1 opened #1368 "ESLINT-error: 2 similar files - one with many errors - the other without any error"
Hello,
I have 2 very similar files - see attachment!
With one, ESLINT reports 65 errors (problems) - with the other none!
I have already looked at the files with a HEX editor - but I can not really see any difference!
What can be the problem then?
Many thanks in advance!
Best regards
Markus

[ESLINT-error-20211110.pdf](https://github.com/microsoft/vscode-eslint/files/7514893/ESLINT-error-20211110.

[2021-11-11 02:41] #1042 closed

[2021-11-11 08:49] mbm-theman opened #1369 "2.2.2 Not working: Syntax error"
Hello, I've tried this configuration on both mac & windows but I get this same syntax error:

![image](https://user-images.githubusercontent.com/93955204/141267173-039d744d-caeb-40cc-8087-89ce27147bf0.png)

![image](https://user-images.githubusercontent.com/93955204/141267473-c9aa2cb8-df24-4fba-abd4-250bbfc6011b.png)

[2021-11-11 11:00] edvinv commented on #1355
Same here it works with Save (CTRL+S) but not working with Format document (CTRL+SHIFT+I).

[2021-11-11 16:47] him0 commented on #1369
I'm experiencing the same problem in my environment. Node.js v12.x and this plugin v2.2.2 case this problem. https://github.com/microsoft/vscode-eslint/issues/1360.

I use this plugin with rollbacking to v2.2.1 and solving this problem.Node.js v12 is supported until 2022-04-30, so I hope it works correctly.

[2021-11-11 16:53] mbm-theman commented on #1369
I'm using ESLint v8 and that is not supported until 2.2.2, I tried manually installing 2.1.24-Insider but that didnt work either

[2021-11-11 17:36] mbm-theman commented on #1369
Removing `eslint.runtime = "node"` from my vscode settings worked.

[2021-11-11 17:36] #1369 closed

[2021-11-11 18:04] Jared0430 commented on #1355
I was getting this issue too. It turns out when I ran `npx eslint --init`, the .eslintrc.js file it generated had

[code]

If I ran `npx eslint index.js` manually it complained `Parsing error: Invalid ecmaVersion`

I fixed it by change ecmaVersion from 13 to 12

[2021-11-11 18:08] dbaeumer commented on #1366
This will be hard to achieve.

[2021-11-11 18:10] dbaeumer commented on #1367
@brynley and steps on how I can reproduce this. Best would be a GitHub repository to clone.

[2021-11-11 18:15] dbaeumer commented on #1357
@edupsousa can you please outline in detail how this would then look like in a settings file. What I don't want to do is to mirror all the possible ESLint rule settings in a VS Code settings file. We would need to maintain the config / JSON schema for it. In addition it would put us into a catchup game if things change.

[2021-11-11 18:16] dbaeumer commented on #1365
Can you please provide me with a GitHub repository I can clone that reproduces this. Otherwise hard to say what is going on.

[2021-11-11 18:18] dbaeumer commented on #1368
What happens when you try to validate both files in a terminal?

[2021-11-11 21:09] seth100 opened #1370 "Format CSS rules inside <style> in .vue files"
Hi,

I configured VSCode to use `"dbaeumer.vscode-eslint` as default formatter for `js` and `vue` files:

[code]

and when I execute the "Format Document" option it correctly formats javascript and html code, while the CSS/SCSS code inside `style` tag does not get formatted, e.g.:

[code]

is there a way to make the formatter work as expected for style tags too?

Thanks

[2021-11-12 04:18] edupsousa commented on #1357
@dbaeumer I agree, mirroring the ESLint config is a bad idea (and exactly what I naively did at first). After thinking a little bit about this issue I realized that its already possible to accomplish the rule overriding through the `eslint.options` setting:

@douglance to use stricter rules on your local environment you can create a custom ESLint config file, and then on `.vscode/settings.json` yo

[2021-11-12 09:09] RobertasMurnikovas opened #1371 "UnhandledPromiseRejectionWarning: Error: Failed to load plugin 'vue' declared in 'frontend/.eslintrc.js': Cannot find module 'eslint-plugin-vue'"
Could someone explain me why am I getting this error from time to time even though I don't change anything?

`vscode/settings.json` :

[code]

`.eslintrc.js` :

[code]

`package.json` :

[code]

[2021-11-12 09:28] danielrentz commented on #1365
https://github.com/danielrentz/vscode-eslint-test

README contans step-by-step instructions

[2021-11-12 10:43] mbcodecamp1 opened #1372 "Correct setting in VSCode for all react projects with ESLINT and PRETTIER - why is it so difficult?"
Hello Dirk,
I need your help!
I use the latest version of VSCode =1.62!
Why is it so difficult to configure a correct cooperation of PRETTIER and ESLINT in my create-react-app projects?
Basically I would like to have:
- autom. formatting - when I change or save the file
- I would like to accept single and double quotation marks
- also I would like to allow CR LF at the end of a line
What exactly d

[2021-11-12 10:46] mbcodecamp1 commented on #1368
Hello Dirk,

it was a problem with CR LF!

I solved it with this in the .ESLINTRC-File:
rules: {
"prettier/prettier": [
"error",
{
endOfLine: "auto",
},
],
},

Thanks a lot for your help!

Grettings
Markus

[2021-11-12 10:48] mbcodecamp1 commented on #1368
Dirk,
can you please help me in this case?
https://github.com/microsoft/vscode-eslint/issues/1372
Thanks a lot!
Markus

[2021-11-15 09:46] tomenden opened #1373 "pnpm, eslint & typescript - Error: Failed to load plugin '@typescript-eslint' declared in '.eslintrc.js"
In my project, using pnpm, Node v14.6.0, Eslint 7.23.0 and the plugin's latest version, I get this error:
`Error: Failed to load plugin '@typescript-eslint' declared in '.eslintrc.js`

Unfortunately, I cannot share the project itself to allow for easy reproduction.
I went through all the relevant issues and tried the suggestions without any luck.

In the dir in which I open `code`, I successfully

[2021-11-15 13:48] dbaeumer commented on #1373
Did you set the settings `eslint.packageManager` to `pnpm`

[2021-11-15 13:50] dbaeumer commented on #1368
Closing this issue then.

[2021-11-15 13:50] #1368 closed

[2021-11-15 13:52] dbaeumer commented on #1372
I am not a prettier expert. All I can recommend is to first try to get everything working in the terminal including running eslint with the `--fix` option. If this all work try to use it from the ESLint extension. This helps identify if you have a eslint / prettier config problem or a vscode eslint config problem.

I will keep this issue open in case someone else has more experiences with prettier

[2021-11-15 13:53] dbaeumer commented on #1372
If it works in the terminal and not in VS Code eslint then file an issue here with detailed steps on how to reproduce. Best a GitHub repository to clone.

[2021-11-15 14:04] dbaeumer commented on #1365
If you execute ESLint in the terminal in the test project (this is what the extension currently does) then it fails with the same error

[code]

[2021-11-15 14:07] dbaeumer commented on #1365
The working directory setting is a resource setting and can't be specified in a workspace file. Simply add it .vscode/setting.json to project like this and it works

<img width="800" alt="capture" src="https://user-images.githubusercontent.com/1931590/141795621-a72c207a-8326-48a7-99f0-1a008e6c8f23.png">

[2021-11-15 14:07] #1365 closed

[2021-11-15 14:09] dbaeumer commented on #1371
Does the validation happen correctly in the terminal? If it does can you please provide me with a GitHub repository I can clone that demos this. Ensures that we are looking at the same setup.

[2021-11-15 14:16] RobertasMurnikovas commented on #1371
I've put my `vscode/settings.json` one layer above of frontend dir and with
[code]
and this seems to solve my issue

[2021-11-15 14:18] dbaeumer commented on #1371
The `vscode/settings.json` must be in the workspace folder root.

I will close the issue then. Please ping if there is still something open.

[2021-11-15 14:18] #1371 closed

[2021-11-15 14:20] dbaeumer commented on #1357
@edupsousa that is actually a good (and right) solution. I will close the issue although it requires ESLint 8 which we would require of the `eslint.rules.customizations` setting as well.

[2021-11-15 14:20] #1357 closed

[2021-11-15 14:22] dbaeumer commented on #1370
@seth100 this is outside my control. Best is:

- run eslint from the terminal with `--fix` until you get the expected result
- if you can't then please file an issue against the CSS plugin that you use for formatting.

[2021-11-15 14:22] #1370 closed

[2021-11-15 16:24] danielrentz commented on #1365
Ouch, thanks for investigation and clarification :)

[2021-11-15 17:26] tomenden commented on #1373
Yes

[2021-11-16 08:44] dbaeumer commented on #1373
Without reproducible steps (best a GitHub repository to clone) it is hard to say why it is not working.

[2021-11-16 14:44] brynley commented on #1367
Unable to give you access sadly as it is a private repo, I can tell you that it is a very large lerna based component library with 100+ components, using typescript and I'm on version `2.2.2` of vscode-eslint

[2021-11-16 18:28] tomenden commented on #1373
Thanks for your help. I will try to create a minimal reproducible repo and send it over.
Is there any way for me to further debug this myself?
As far as I understand, the eslint plugin should basically run `eslint` on the dir in which the workspace is open, is it not so?

[2021-11-17 20:23] tomenden commented on #1373
I found that the issue has to do with `public-hoist-pattern[]` I have defined in my .npmrc. Does this give any relevant clues that could help?
My issue with creating a reproducible repo is that most of the packages used by the project are private.
The reason for the `public-hoist-pattern` is that this is how the project runs in my CI environment which I don't have control over, and I want to run m

[2021-11-17 20:28] tomenden commented on #1373
To add more (hopefully useful) info:
Only some of my packages are hoisted, but not all. And eslint specifically is NOT.

Also, I want to reiterate - the command works fine in the command line (running `pnpm eslint` or `npm run eslint`)

[2021-11-18 14:31] dbaeumer commented on #1373
Are you using a mono repository. It might be a problem of working directories and the setting `eslint.woringDirectories` might be your friend.

[2021-11-18 14:38] dbaeumer commented on #1367
@brynley you could invite me to the repository. This avoids that you have to make it public.

[2021-11-18 15:11] sgtoj commented on #1367
This is also affect me too. It's an enterprise private reop that I cannot invite external users.

[2021-11-19 08:28] dbaeumer commented on #1367
Can any of you reproduce this consistently. If so I can give you instructions on how to debug this if you can't share the code.

[2021-11-19 08:31] dbaeumer commented on #1305
Got fixed in the meantime

[2021-11-19 08:32] #1305 closed

[2021-11-19 10:02] sgtoj commented on #1367
I'll watch for it to happen again.

[2021-11-21 11:20] paritosh-34 opened #1374 "Eslint 8 UnhandledPromiseRejectionWarning: Error: Invalid Options: - Unknown options: exclude"
My versions:
eslint version: `^8.0.1`
vscode-eslint extension version: `2.2.2`

I've tried fixing this by upgrading eslint to the latest version and also tried to downgrade my eslint version to `7.32.0`
This error still persists.

I saw this issue mentioned here: https://github.com/microsoft/vscode-eslint/issues/1330
but seems like it is still not fixed.
(I am getting `Unkown options: exclude` ins

[2021-11-22 14:23] danielrentz commented on #1365
I would like to reopen this issue. While everything works as described, things break again if the workspace file contains more folder entries.

I have committed a new testcase in the repository. If the code-workspace file contains an additional entry for the "test" folder in the `folders` array, the plugin starts to load the wrong eslint lib again:

./workspace.code-workspace
[code]
./.vscode/sett

[2021-11-22 16:15] brynley commented on #1367
For the same reason as @sgtoj I can't share the repo, I can get it to happen consistently, every time I enable it, I get the same outcome

[2021-11-22 17:04] brynley commented on #1367
I am now able to isolate it to a branch which is adding a new component, works fine in master, I will update if I find the cause

[2021-11-22 17:24] isidorn commented on #1366
Definitely something that would be super cool to have.

[2021-11-23 07:48] dbaeumer commented on #1365
@danielrentz does validating in the terminal work (see https://github.com/microsoft/vscode-eslint/issues/1365#issuecomment-968941577) ?

[2021-11-23 08:35] danielrentz commented on #1365
@dbaeumer I get the same error as you mentioned when explicitly calling the "wrong" eslint lib from the test folder. However, in our project setup, it is not intended to run eslint from the "test" folder, but only from the project roots.
I hoped to be able to model this with the "workingDirectories" option, which seems to work as long as the workspace configuration does not declare subfolders to b

[2021-11-23 11:03] brynley commented on #1367
@dbaeumer  So, I don't think this is an issue with the plugin itself, so my apologies for raising it here.

After debugging I managed to find the line of code that makes eslint infinitely loop:
![image](https://user-images.githubusercontent.com/20400802/143012334-96453dfc-d7ea-4bdf-8b41-abf96f1fb251.png)

The specific character causing the loop being the highlighted optional chaining operator, rem

[2021-11-23 11:03] #1367 closed

[2021-11-24 09:36] mashirozx opened #1376 "'plugins' doesn't add plugins to configuration to load. Please use the 'overrideConfig.plugins' option instead."
[code]

[2021-11-24 09:38] mashirozx commented on #1376
[code]

[code]

[2021-11-24 09:41] mashirozx commented on #1376
Simply, a `yarn create next-app --typescript` project.

[2021-11-24 09:44] mashirozx commented on #1376
And when I downgrade eslint to 7.23.0, it shows :

[code]

[2021-11-24 10:51] dbaeumer commented on #1376
@mashirozx  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-11-24 10:52] dbaeumer commented on #1367
@brynley did you open an issue against ESLint itself (the npm module) so that this can be fixed?

[2021-11-24 10:53] dbaeumer commented on #1367
...and thanks for getting back and closing the issue.

[2021-11-24 10:55] dbaeumer commented on #1365
@danielrentz declaring subfolders should work, however the entries in the array are order specific and the first match wins. Have you tried:

[code]

[2021-11-24 11:22] mashirozx commented on #1376
Hello, here's the repository:
https://git.moezx.cc/mashiro/eula

FYI:
Windows 10
Nodejs 16

[2021-11-24 12:03] danielrentz commented on #1365
@dbaeumer Tried it, iIt does not make any difference. Are you sure your plugin uses the "folders" settings in any way? I consider the "folders" option UI-only (File Explorer), and not something that should influence the behavior of plugins.

[2021-11-24 13:09] dbaeumer commented on #1365
Sorry, I got confused. What exactly do you try to achieve with the folder setting. ESLint doesn't honor it. The eslint setting to specify working directories is: `eslint.workingDirectories`

[2021-11-24 13:29] danielrentz commented on #1365
Exactly. Back to my "I want to reopen" comment :)
The "folders" option in the code-workspace file seems to influence how the plugin loads the eslint lib although it shoud not.

- If I have an entry `"./project1/test"` in the "folders" array, then (and only then) the plugin loads eslint from `./project1/test/node_modules` when trying to lint `project1/test/index.js`.
- If I only have the entry `"./

[2021-11-24 13:51] dbaeumer commented on #1376
Actually for me both the terminal and the VS Code extension result in the same problems:

<img width="752" alt="capture" src="https://user-images.githubusercontent.com/1931590/143250498-a8d5dcd9-00ec-4a52-8005-d4468f83495f.png">

and in the terminal

[code]

[2021-11-24 13:56] dbaeumer commented on #1365
Now you have two workspace folders and both need their own version of the `.vscode/settings.json` file with a corresponding entry for the working directories.

Think about a workspace folder as something that you also can open standalone. It must function independent of other folders. They don't influence each other.

Let me know if this helps.

[2021-11-24 15:59] danielrentz commented on #1365
Yes that seems to do the trick. I have seen the "folders" thingy just as a convenient way to define "bookmarks" for interesting places deeply inside the project, and did not expect any of these effects... So as rule of thumb to myself: If it has a package.json, it needs a vscode/settings.json too :)

[2021-11-25 02:12] mashirozx commented on #1376
Thanks.
But in my vscode, I can even not see the eslint errors LAL
![image](https://user-images.githubusercontent.com/16148054/143364480-ca01342a-ef3c-4120-8ef4-b67aa26d1dca.png)

Full log
[code]

[2021-11-25 02:14] mashirozx commented on #1376
`yarn lint` works
![image](https://user-images.githubusercontent.com/16148054/143365858-ed0d69de-6f3f-4dae-bf7d-b379d4594832.png)

[2021-11-25 02:16] mashirozx commented on #1376
vscode
[code]

eslint
![image](https://user-images.githubusercontent.com/16148054/143366076-d1a6dae7-fe25-436c-a72b-d69710b3870b.png)

[2021-11-25 02:42] mashirozx commented on #1376
When I try to open an old project (ESLint works fine previously), it also throws this error
[code]

What I did these days is that I upgraded NodeJS in Windows environment from v14 to v16.

[2021-11-25 08:03] mashirozx commented on #1376
Work's fine after reinstall vscode

[2021-11-25 08:03] #1376 closed

[2021-11-26 19:26] mudroljub commented on #91
[code]
or with auto fix:
[code]

[2021-11-26 20:16] lukejagodzinski opened #1377 "Glob pattern doesn't work in eslint.workingDirectories"
Hey, I've had this issue some time ago and I've opened issue here https://github.com/microsoft/vscode-eslint/issues/745
And I just want to tell that this issue still persists. The `eslint` cli doesn't see any problems with unresolved paths but vscode extensions just pollutes IDE with errors. I had to opt-out to defining path to every single package and I just can't use `*`.

EDIT:

To be more spec

[2021-11-27 22:11] FunctionDJ commented on #91
@mudroljub that's unrelated to the VSCode extension. the extension is there so that errors get shown in the editor itself, not just the console.

[2021-11-28 08:02] danielzzz opened #1378 "eslint not showing as a formatter"
hi, I am having a problem with eslint not showing as a formatter.

Version: v2.2.2
vcode: v1.62.3

First, it started showing errors that it could not be used as a formatter, then when I switched to a default js formatter, I cannot see eslint in the menu anymore. it seems like it doesn't register itself as a formatter

in the settings I have Eslint > Format > Enable set to true.

tried disabling/en

[2021-11-28 13:54] sinauq opened #1379 "With yarn berry, this plugin fails to find eslint plugins"
Trying to run a proejct with yarn berry + eslint, this plugin keeps throwing an error in Output:

```Failed to load plugin '@typescript-eslint' declared in '.eslintrc.js': Cannot find module '@typescript-eslint/eslint-plugin'```

I should the problem is not limited to this particular plugin. I rummaged through issues on yarn berry but couldn't find anything that solves my problem. Since I have no

[2021-11-28 19:02] dmtr343 commented on #1355
I got rid of this error for myself by adding this to the **settings.json**:
[code]

[2021-11-28 22:33] 1ike commented on #1355
Yes, it work. I can't set `eslint` as the default formatter, but I don't use it in a such manner. I tried to make it work with save via `onFocusChange` and stopped after I saw a comment with `Ctrl+S`. I think that there may be problems with vscode itself, so for now I'll wait with `Ctrl+S` and husky.

[2021-11-29 07:40] dbaeumer commented on #1377
Can you provide me with a minimal GitHub repository I can clone that demos this. I am pretty sure it has to do with the fact that paths in tsconfig.json can be relative and if the working directory is not correct then the path mapping will fail. But this is speculation until I can reproduce.

[2021-11-29 09:15] lukejagodzinski commented on #1377
@dbaeumer yep sorry, I will provide repro in a moment

[2021-11-29 10:36] lukejagodzinski commented on #1377
Ok here is a reproduction: https://github.com/lukejagodzinski/eslint-alias-bug
I've added the readme file there explaining the problem and hacky solution but I'm pasting it also here for the posterity.

**DETAILED EXPLANATION**

The problematic file is `packages/one/src/index.ts`.

When I try to import something from the `@pkg/lib` which is defined as the alias to `packages/one/src/lib` in `packag

[2021-11-29 23:49] hmbrg opened #1380 "Plugin "import" was conflicted between two extended config"
Hey!

I'm getting the following error when using vscode-eslint inside a monorepo:
[code]

The error happens when opening the directory `apps/web-app` inside this monorepo: https://github.com/hmbrg/blitzjs-monorepo-example/tree/main/apps/web-app

I'm using `root: true` and my settings look like this:
[code]

What could be wrong here? Thanks so much in advance!

[2021-11-30 13:26] dbaeumer commented on #1380
What happens when you run eslint in the terminal in one of the working directories. If it works OK can you then please provide me with a GitHub repository I can clone that demos this. Then I can investigate.

[2021-11-30 13:28] hmbrg commented on #1380
Everything works from the terminal. The GitHub repo is linked in the issue above. Thanks for helping!

[2021-11-30 14:12] dbaeumer commented on #1377
@lukejagodzinski you are using the wrong syntax. If you want to use patterns the syntax is

{
  "eslint.workingDirectories": [
    { "pattern": "./packages/*" }
  ]
}

This is to not break previous settings that use directory. See also https://github.com/Microsoft/vscode-eslint

[2021-11-30 14:12] #1377 closed

[2021-11-30 14:13] dbaeumer commented on #1377
Work for me after using the right syntax:
<img width="1124" alt="capture" src="https://user-images.githubusercontent.com/1931590/144063203-973f91e5-d125-452a-bbee-8040e5ff7f69.png">

[2021-11-30 14:19] dbaeumer commented on #1380
Can you please provide exact steps on how to reproduce what you are seeing. And I looked and the repository doesn't contain a VS Code settings.json file in a `.vscode` root folder. Is it missing

[2021-11-30 14:23] dbaeumer commented on #1380
Digging around a little shows that the same error happens in the terminal:

<img width="1008" alt="capture" src="https://user-images.githubusercontent.com/1931590/144064626-1e44c7c3-efaf-4451-b432-2517fcdc6abb.png">

Please make sure that validation happens correctly in the terminal using `./node_modules/.bin/eslint`. If you do change the working directory please make sure you have a corresponding

[2021-11-30 14:25] dbaeumer commented on #1379
@sinauq can you please provide me with a GitHub repository I can clone that demos what you are seeing (including steps on how to reproduce). Thanks

[2021-11-30 14:26] dbaeumer commented on #1378
Can you please provide me with a GitHub repository I can clone that demos what you are seeing, including steps on how to reproduce it in the repository. Thanks!

[2021-11-30 14:29] zeppelin commented on #1355
For me, removing [Babel ES6/ES7](https://marketplace.visualstudio.com/items?itemName=dzannotti.vscode-babel-coloring) did the trick. VSCode refused to recoginze ESLint as a formatter for js/ts files, regardless the configuration/settings.

[2021-11-30 14:47] danielzzz commented on #1378
hi, I am not sure what happened but I upgraded everything (vsc + extension + restored node_modules) and suddenly it started working again.
so it might have been some problem on my side maybe.. or maybe some incompatible versions..

thanks anyway!
dan

[2021-11-30 14:47] #1378 closed

[2021-11-30 14:50] Hitesh235 opened #1381 "Enabling shareable config option in vscode-eslint extension"
Can we have an **option to enable a shareable config from the vscode-eslint extension** itself so that the config can we shared across the entire vscode irrespective of the .eslintrc.json configuration which will be available in a given JS/TS project ?

Can we have something similar like this ? or is it available ? extending the shareable config via .**eslintrc.json** through
{

  "extends" : "mys

[2021-12-01 13:29] WebCaiQingChong opened #1382 "get Parsing error: The keyword 'import' is reserved"
[code]

this is my eslint.config.js, I had add .vscode in my project.
when use eslint V7 this is right.

[2021-12-01 13:35] dbaeumer commented on #1382
@WebCaiQingChong  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-12-01 13:37] dbaeumer commented on #1381
@Hitesh235 I think that this should be possible. Best to do is to make it work when running ESLint in a terminal. Then it should work in the extension as well.

I will close the issue as a questions since there is nothing I can do about it in the extension since the extension solely relies ESLint concepts to resolve configuration files.

[2021-12-01 13:37] #1381 closed

[2021-12-01 13:40] WebCaiQingChong commented on #1382
It isn't work in the termainal too. this is the git repo: [https://github.com/WebCaiQingChong/useBox](https://github.com/WebCaiQingChong/useBox)

[2021-12-01 13:41] WebCaiQingChong commented on #1382
my global eslint version is v8.2.0, my vscode-eslint version is latest v2.2.2

[2021-12-01 15:16] sinauq commented on #1379
Sure I'm working on one and will send one very soon.

[2021-12-01 15:48] sinauq commented on #1379
here's the example repo you requested: https://github.com/sinauq/yarn-with-eslint

Yarn berry is included in the project, so you just have to run ```yarn```.

[2021-12-01 16:33] dbaeumer commented on #1379
Works for me without any problems

<img width="599" alt="capture" src="https://user-images.githubusercontent.com/1931590/144274169-aa889567-74f1-4f53-98e0-615c380db4cd.png">

Any additional information you can provide?

[2021-12-01 17:04] #1382 closed

[2021-12-01 17:09] dbaeumer commented on #1382
It also looks like you are using a custom `eslint.config.js` config file name. You need to let VS Code know about this as well using the `eslint.options` setting. Please note that this setting is ESLint version dependent and reflects the ESLint API documented here: https://eslint.org/docs/developer-guide/nodejs-api#-new-eslintoptions

[2021-12-01 17:14] dbaeumer commented on #1382
Saw you are setting it in the settings.json however the format you use is for the new ESLint class API. You either need to use the CLIEngine options in `eslint.options` or set `eslint.useESLintClass` to true.

[2021-12-01 17:15] dbaeumer commented on #1382
Works with the `eslint.useESLintClass` setting
<img width="614" alt="capture" src="https://user-images.githubusercontent.com/1931590/144281594-4a9e5113-d07d-452c-a612-5b69f2b2e167.png">

[2021-12-01 19:20] sinauq commented on #1379
Okay I found the problem. I was looking through issues and came up with a suggestion to use ```"eslint.options.resolvePluginsRelativeTo": "../../../../",```. Apparently it was not working (at least in latest version of berry).

Thank you for checking this out and helping me.

[2021-12-01 19:20] #1379 closed

[2021-12-01 20:24] gajus opened #1383 "node version does not match that in terminal"
Output tab says:

[code]

Whereas terminal says:

[code]

[2021-12-01 20:34] gajus commented on #1383
I suspect this is because `vscode-eslint` does not respect `.nvmrc`. Since I don't see anyone mention this, what's the correct way to make it respect `.nvmrc`?

[2021-12-01 20:46] gajus commented on #1383
Is there a way to run `nvm use`  before vscode-eslint starts the server?

[2021-12-01 21:00] gajus commented on #1383
It doesn't look like it is picking up zshrc, even though I have it configured to use it:

[code]

[2021-12-01 21:10] gajus commented on #1383
Ended up hardcoding `"eslint.runtime"` value. Not ideal, though.

[2021-12-02 06:18] WebCaiQingChong commented on #1382
thank you very mach,  i have a try.

[2021-12-02 06:24] WebCaiQingChong commented on #1382
it works for me,thank you very mach.

[2021-12-02 08:28] dbaeumer commented on #1383
@gajus by default the extension uses the node runtime shipped with VS Code. This is why you see `v14.16.0`.

The way how to use a different node runtime is the `eslint.runtime` property. Usually using `node` as a value should pick the default version even if you are using a node version manager.

[2021-12-02 08:28] #1383 closed

[2021-12-02 08:32] dbaeumer commented on #1374
@paritosh-34  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-12-03 17:00] pouyarezvani commented on #1055
Every time I get this "Getting code action from "EsLint"" notifications it is because of the [Github Pull Request and Issues Extension](https://marketplace.visualstudio.com/items?itemName=GitHub.vscode-pull-request-github).
Sadly I can't disable that extension because i use it to make pull requests within vscode.
But Looks like it's not just a specific extension, Eslint would just hang up on whate

[2021-12-06 05:44] dancherb opened #1384 "Eslint recently stopped displaying and underlining errors properly (Node)"
The extension has recently stopped correctly underlining and displaying error messages for errors. It still indicates that an error is happening with a tiny bit of underlining, but no message.

This occurs in a "raw" Node project with "eslint-config-rallycoding": "^3.2.0" as a devDependency and _no other packages_ and a local .eslintrc file. Latest version of VSCode on Windows 10.

This error does

[2021-12-06 10:27] dbaeumer commented on #1384
@dancherb  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-12-06 11:43] tja4472 commented on #1374
I had to edit my settings.json file.

From:
[code]
To:
[code]

[2021-12-07 08:21] dbaeumer commented on #1374
@tja4472 this is expected since the API for ESLint V8 changed. There is nothing I can do about this.

[2021-12-07 20:35] Hitesh235 commented on #1381
Thank you @dbaeumer  That answered my question and I was able to configure the shareable config at User level so that the eslint extension will have the same.

[2021-12-08 08:04] Ebuall commented on #477
Only changing the config file helped to clear stale errors from unhealthy interaction between git and eslint

[2021-12-08 21:22] msachdeva17 opened #1385 "TypeScript and JavaScript Language Features"
We have written the needed data into your clipboard because it was too large to send. Please paste
<img width="773" alt="Screen Shot 2021-12-08 at 4 21 49 PM" src="https://user-images.githubusercontent.com/87348753/145286269-6c7e1f1c-f484-4d53-b38a-59f17803636c.png">
.

[2021-12-09 18:26] elliottregan commented on #1139
I also am having this issue. Command line works fine, VS Code throws an error. VS Code was fine with the syntax, and decided recently to stop working.

[2021-12-09 19:20] robspassky opened #1386 "Suggested refactoring for "react-hooks/exhaustive-deps" changes "?." to "." causing breakage"
Issue Type: <b>Bug</b>

1. Start with code like:

[code]

2. `extraVariable` is unneeded, so a yellow light bulb tooltip appears to perform the "react-hooks/exhaustive-deps" refactoring.

3. "Update the dependencies" automatically using the light bulb tooltip.

4. Actual result:

[code]
The refactoring to remove `extraVariable` is correct, but the side effect that changes `object?.name` to `object

[2021-12-10 02:18] mattfysh opened #1387 "Turn off "Failed to load the ESLint library" warnings"
I don't have eslint installed globally, and whenever I create a new folder for prototyping in a project that doesn't have eslint installed, I get this warning popping up. At times in the past, I've even seen this warning appear on every keystroke

Is there a way to disable it in new projects that don't use eslint? thanks!

[2021-12-10 15:28] dbaeumer commented on #1387
There is a setting `eslint.enable` which you can set to false in the workspace or globally.

[2021-12-10 15:28] #1387 closed

[2021-12-10 15:30] dbaeumer commented on #1386
@robspassky does the same fix happen when you execute eslint with --fix on the command line. If so please report this to the corresponding react-hooks plugin. If not can you provide me with a Github repository I can clone that demos this?

[2021-12-10 18:31] robspassky commented on #1386
Thanks for the quick response! Let me look into getting that extra information.

[2021-12-11 00:51] mattfysh commented on #1387
@dbaeumer is there an option just to disable this popup: https://github.com/microsoft/vscode-eslint/blob/7568b4ce8413e890e5f7d99b18845ccd00fd3d1a/client/src/extension.ts#L1368-L1409

Otherwise my only recourse is to disable eslint globally, and then enable individually in the ~100 projects I have that do use eslint?

[2021-12-12 12:09] simontegelid commented on #1373
I also get this error. Here is a bit more info:
[code]

node v16.13.1
"@typescript-eslint/eslint-plugin": "^5.6.0",
"@typescript-eslint/parser": "^5.6.0",

[2021-12-13 08:40] dbaeumer commented on #1373
As said earlier it would be great to have a GitHub repository I can clone that demos that.

@simontegelid what happens when you run eslint in the terminal?

[2021-12-13 08:57] dbaeumer commented on #1387
For the extension it is very hard to decide if you don't want ESLint to run or whether something is misconfigured. This is why this message is shown ONCE for a workspace folder you open. After the first time the message should not appear again. If it does please provide me with a GitHub repository I can clone that demos this and I will have a look why this is not working for you.

[2021-12-13 09:27] simontegelid commented on #1373
In the terminal it works just fine, so I made a npm script as a workaround for now. I'll see if I can arrange a repro repo. I think that the issue might have been resolved with a vscode restart, but not 100 % sure what's going on behind the scenes to be honest.

[2021-12-13 22:12] laverdet opened #1388 "`eslint.codeActionsOnSave.mode` silently overrides `eslint.codeActionsOnSave.rules`"
Using dbaeumer.vscode-eslint v2.2.2 w/ eslint v8.4.1

.vscode/settings.json:
[code]

.eslintrc.yaml:
[code]

package.json:
[code]

When saving a file all fixes are applied even though the rules are explicitly set to an empty array. It's ok that these two options are mutually exclusive but the interaction between them is surprising without any kind of runtime warning or documentation of this invari

[2021-12-14 10:18] dbaeumer commented on #1388
Thanks for reporting this. I will improve the documentation around this, but `"eslint.codeActionsOnSave.mode": "problems"` will win over `"eslint.codeActionsOnSave.rules"` since otherwise the whole purpose of the mode setting is superfluous.

This is not fully correct. If you use version >= 8 then the setting of `eslint.useESLintClass` is irrelevant since version 8 only ships with a ESLint Class A

[2021-12-14 10:27] #1388 closed

[2021-12-14 10:28] dbaeumer commented on #1373
OK. Ping me when the repro is ready.

[2021-12-14 18:06] laverdet commented on #1388
This is not the behavior I'm observing. If `"eslint.useESLintClass": true` is omitted from settings.json then `"eslint.codeActionsOnSave.rules": []` has no effect. I'm attaching a short screen recording https://imgur.com/a/fhDqpvX

[2021-12-15 08:32] Elanum opened #1389 "ESLint: Invalid Options: - Unknown options: experimentalDecorators"
I've just setup a new typescript project with Next.js, but somehow i always get this error message when opening a `.tsx` fille:

<img width="461" alt="Screenshot 2021-12-15 at 09 27 50" src="https://user-images.githubusercontent.com/45352895/146150776-05547c65-4151-4f19-a7fc-eb95c268d2b1.png">

I already tried the solutions from this issue: https://github.com/microsoft/vscode/issues/28097 but it's

[2021-12-15 10:19] dbaeumer commented on #1389
@Elanum  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2021-12-15 10:34] Elanum commented on #1389
When i run `yarn lint` or `npx eslint .` then everything works.
Here is the branch that i created: https://github.com/Elanum/Elanum/tree/feature/nx-setup

[2021-12-15 12:31] dbaeumer commented on #1388
You are correct (see https://github.com/microsoft/vscode-eslint/blob/7568b4ce8413e890e5f7d99b18845ccd00fd3d1a/server/src/eslintServer.ts#L392) However this is a bug and shouldn't be necessary

[2021-12-15 12:33] dbaeumer commented on #1388
Actually above comment is wrong. The whole code creates a ESLint class as a default at the end.

[2021-12-15 12:39] dbaeumer commented on #1388
Looking at the code I do think I fixed this, but not yet available in a new version. Do you have a repro I can clone that demos what you are seeing to ensure it works now.

[2021-12-15 12:44] dbaeumer commented on #1389
Works for me using the repository you provided. Any additional information you can share?

<img width="1076" alt="capture" src="https://user-images.githubusercontent.com/1931590/146188880-a1952c1f-0f49-438e-a6db-6cb5a9bf2e2b.png">

[2021-12-15 12:45] dbaeumer commented on #1389
Is there anything special in the ESLint Output channel?

[2021-12-15 13:19] lgluigi opened #1390 "Slow Lint response"
Issue Type: <b>Performance Issue</b>

After a software/ubuntu update, most of the time, lint is slowly responding, and sometimes get stuck for a couple minutes

Extension version: 2.2.2
VS Code version: Code 1.63.0 (7db1a2b88f7557e0a43fec75b6ba7e50b3e9f77e, 2021-12-07T05:16:45.441Z)
OS version: Linux x64 5.11.0-41-generic
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|

[2021-12-15 14:21] Parjoona commented on #1390
Also got the same problem.
Happens on both Insiders and newest release of VSCode.

[2021-12-15 15:19] lucas-giraldelli commented on #1390
Yeah, I also got the same problem.
Tried fresh install of vscode (but same repos).

[2021-12-15 15:30] lucas-giraldelli commented on #1390
For me the problem was github copilot, resolved the issue deactivating him.

[2021-12-15 20:23] laverdet commented on #1388
Sure, I made a repo which demonstrates the issue clearly:
https://github.com/laverdet/eslint-test

I've tested this on a clean installation of VS Code v1.63.1 with no user settings, and vscode-eslint v2.2.2. If you open the project and save the file `index.js` the content should not change. If you then open `.vscode/settings.json`, remove the line with content `	"eslint.useESLintClass": true,` and

[2021-12-16 07:29] Elanum commented on #1389
@dbaeumer here is my output console:
<img width="1082" alt="Screenshot 2021-12-16 at 08 26 48" src="https://user-images.githubusercontent.com/45352895/146326816-f34296c5-4184-49d9-8cdd-a553d06816e6.png">

[2021-12-16 12:42] scooper91 opened #1391 "ecmaVersion 2022 is "not accepted" warning"
Hi!

[ESLint version 8 allows `ecmaversion` to be set to `2022`.](https://eslint.org/docs/user-guide/configuring/language-options#specifying-parser-options).

Using ESLint directly works fine (e.g. `./node_modules/.bin/eslint some/file.mjs`), but VSCode shows a warning in the `eslint` config file for the `ecmaversion" value saying `Value is not accepted. Valid values: 3, 5, 6, 2015, 7, 2016, 8, 20

[2021-12-17 09:15] isChenKan opened #1392 "How to override .eslintrc.js in .vscode/settings.json?"
just like vscode-prettier (then .prettierrc  configuration file will not be use):
[code]
![image](https://user-images.githubusercontent.com/26793777/146519406-12f31fb6-84d5-477b-ae69-09c5bee7a686.png)

[2021-12-18 11:53] alirezanet commented on #91
**Workaround for Vue CLI**
add this task to your `tasks.json` file:
[code]

[2021-12-18 15:28] ram02z opened #1393 "Server is sending diagnostics without a character field"
I'd like to preface that I am using the server packaged in https://github.com/hrsh7th/vscode-langservers-extracted. However, I thought this might still be an issue since the Neovim development team has said that LSPs should specify a column in their diagnostics.

Reference:
https://github.com/neovim/neovim/issues/16673#issuecomment-996066249
https://github.com/neovim/neovim/pull/16675

[2021-12-19 17:04] jensmeindertsma opened #1394 "Extension resolves `parserOptions.project` differently from ESLint"
Hello all 👋
I'm building a monorepo where each package keeps it's own version of ESLint. When running ESLint from the command line things work great, but when I try to use the extension, it tries to resolve my `parserOptions.project` relative to the root of the project instead of the package root. This is a difference between ESLint and this extension. Is this intended?

[2021-12-21 21:18] dbaeumer commented on #1392
The the `eslint.options` setting and the documentation at https://eslint.org/docs/developer-guide/nodejs-api.

Please be aware the the properties of `eslint.options` depend on the version of ESLint you are using.

[2021-12-21 21:18] #1392 closed

[2021-12-23 13:29] MrR4P70R commented on #1389
Hi, I've been facing the same issue and fixed it myself because it was an user env problem.

I previously added this option "experimentalDecorators" in one of my VSCode's settings JSON file, issue was coming from there.
So be sure to check all of them : user, workspace and folder.

Search for this option in the JSON files and try to deleting it. :)

[2021-12-23 15:44] felipe-gustavo commented on #1355
Folks, I solved my issue with the plugin just running `yarn eslint <file>`, the CLI will show for you what is wrong with the plugin, in my case I switched the branch to another branch that requires a plugin that I haven't downloaded yet, so I downnloaded this plugin and restarted my VSCode and the plugin came back to working again. Apparently the vscode-eslint aren't treating and showing this erro

[2021-12-23 17:24] Elanum commented on #1389
Oh my god, this fixed it. Thank you so much @MrR4P70R !

[2021-12-23 17:24] #1389 closed

[2021-12-27 11:57] sklinov commented on #1361
Same for me - CLI `eslint` works fine and shows warning, but the VSCode one is not showing the warning

[2021-12-29 01:05] aaronadamsCA commented on #1323
Filed https://github.com/eslint/eslint/issues/15463, we'll see what they have to say!

[2021-12-30 12:33] bitboxx commented on #1055
The same issue brought me here, disabling vscode-auto-close-tag works for me. It's definitely not an ideal solution

[2022-01-02 00:10] zen0wu opened #1395 "After "Restart ESLint Server", the log disappears in the Output tab"
Cannot see the logs anymore, so I'm not too sure whether the server is still running or not (I think it is), but it would be great to have the logs

[2022-01-03 10:50] dbaeumer commented on #1395
The log is still there but there is a strange behavior in VS Code itself.

[2022-01-03 11:02] dbaeumer commented on #1361
@sklinov this repository fails for me on the command line since it doesn't have an .eslint configuration file

[code]

[2022-01-03 11:02] dbaeumer commented on #1361
Can you please add one so that it is self contained.

[2022-01-03 11:04] dbaeumer commented on #1394
I am pretty sure that you need to specify the `eslint.workingDirectories` setting. When you run eslint from the terminal are you changing directories first?

[2022-01-03 11:07] dbaeumer commented on #1393
@ram02z can you please provide me with the example code where this is happending since the npm ESLint module should have never generated this and I would like to forward the issue to the ESLint team.

[2022-01-03 11:09] dbaeumer commented on #1393
And I actually sanitize missing values to zero here: https://github.com/microsoft/vscode-eslint/blob/7568b4ce8413e890e5f7d99b18845ccd00fd3d1a/server/src/eslintServer.ts#L600

So I would really like to understand why this is happening.

[2022-01-03 11:18] dbaeumer commented on #1391
@scooper91 actually the JSON schema is maintained here: https://github.com/schemastore/schemastore/.  Best would be to give them a pull request to simply add `2022` as a value. Let me know how it goes.

[2022-01-03 11:18] #1391 closed

[2022-01-03 11:35] dbaeumer commented on #1388
Is fixed in main
![cast](https://user-images.githubusercontent.com/1931590/147926107-54789499-2491-4d11-994e-61c8e74730a7.gif)

[2022-01-03 12:39] ram02z commented on #1393
@dbaeumer sure.

Here is the file: https://gist.github.com/ram02z/e85910e6b8aa1044637607c5c950f595

Here are the neovim lsp logs that have a missing column: https://gist.github.com/ram02z/b11a3bbd53211d0199a13b32ad1e7a81

[2022-01-03 13:28] dbaeumer commented on #1390
Can you please enable tracing via the setting `"eslint.trace.server": "messages"` and attach the trace demonstrating the problem here. Then I can investigate and see whether this is an issue with the eslint server or VS Code itself

[2022-01-03 13:43] dbaeumer commented on #1393
@ram02z thanks for the file. But it is not enough to reproduce this. It looks like it depends on some configuration files / plugins / eslint version. Can you provide me with a GitHub repository I can clone that demos this?

[2022-01-03 14:00] ram02z commented on #1393
@dbaeumer You were right about the error depending on configuration/plugins.

Seems like the eslint-plugin-jsdoc plugin was causing the issue when the file was opened with the following `eslintrc.json` file.
[code]

The ESLint version is 8.6.0

[2022-01-04 10:58] tao-cumplido opened #1416 "editor.codeActionsOnSave.source.fixAll doesn't work when specified for multiple languages"
Issue Type: <b>Bug</b>

When `editor.codeActionsOnSave.source.fixAll` is specified in a combined setting for multiple languages it won't work, e.g.

[code]

does not work while

[code]

does.

The `editor.formatOnSave` setting doesn't seem to be affected and works fine either way.

VS Code version: Code - Insiders 1.64.0-insider (Universal) (990ad4044032b05c0ebf0f67f800c5845baad4c7, 2022-01-04T05:

[2022-01-04 13:29] dbaeumer commented on #1393
Thanks, was able to reproduce. The problem is that the jsdoc extension sets the values to `NaN` which is of type number in JS.

[2022-01-04 13:38] #1393 closed

[2022-01-04 15:18] webartoli opened #1396 "yarn berry, eslint & typescript - Unable to detect project on windows"
In my project, using yarn 3, Node v16.13.1, Eslint 7.23.0 and the plugin's latest version.

The configuration runs perfecly on WSL2 and MacOS M1 and via command line `yarn lint`

On windows I get this error in the first character of each file only on windows.

[code]

I have already followed all the rules described in [settings help](/microsoft/vscode-eslint/blob/main/history/settings_1_9_x.md).

[2022-01-04 17:36] scooper91 commented on #1391
Thanks! The change has been merged into the project (https://github.com/SchemaStore/schemastore/commit/8709880521f3607ea2291757c492d504f708426e). It is all working in VSCode now.

Thanks for your help!

[2022-01-04 18:15] sryze opened #1397 "No Babel config file detected for <filename>"
I have a project where there is a top-level `.eslintrc.json` and another config inside a subdirectory. When I open a file located in that subdirectory, VSCode complains that ESLint can't find Babel config:

Parsing error: No Babel config file detected for path/to/files.jsx. Either disable config file checking with requireConfigFile: false, or configure Babel so that it can find the config files.

[2022-01-04 23:24] bradtaniguchi commented on #733
For anyone confused as to why `eslint.runtime.execArgv` isn't recognized, as of 2.2.2, the setting was changed to:
`eslint.execArgv`

See:
https://github.com/microsoft/vscode-eslint/blob/main/CHANGELOG.md#222

[2022-01-05 08:52] dbaeumer commented on #1397
You need to very likely need to configure the setting `eslint.workingDirectories`. IF you validate in the terminal do you do a chdir before? This is a good indication for specifying a working directory.

[2022-01-05 09:04] sryze commented on #1397
Got it, thank you :+1:  Adding this to my workspace settings solved the issue:

[code]

[2022-01-05 09:04] #1397 closed

[2022-01-07 00:23] doteric opened #1398 "To be deleted - no longer relevant"
No longer relevant, sorry.

[2022-01-07 00:32] #1398 closed

[2022-01-09 20:44] moniuch opened #1400 "Fixed problems appear not fixed"
I am running a nodejs app written in TypeScript and I am experiencing an insane amount of problems.
An example would be

File without semicolons.
Adding semi rule to eslintrc.
VSCode: > ESLint: Fix all auto-fixable Problems

Result: semicolons added, but the squiggles still in place.
Only after I save the file, onSave effectively removes the squiggles

![image 2022-01-09 21-33-36](https://user-ima

[2022-01-10 13:20] dbaeumer commented on #1400
Do you have validate on save on for ESLint. See `eslint.run` setting?

If not can you please provider me with a GitHub repository I can clone that demos this.

[2022-01-10 13:49] FreekVR opened #1401 "Possible to pass environment variables to eslint server?"
Not sure if this is the right place to ask this, if this is possible from a more global vscode context I don't know about please let me know.

We have a use case where we use an eslint-plugin for GraphQL to access a remote graphql schema via HTTP(S) and use that to validate local graphql-files using eslint.

However, these graphql-endpoints are usually protected by an API key, which is why we pass

[2022-01-10 14:23] moniuch commented on #1400
Thanks for getting back.
As I have been constantly experimenting with my setup (a source of a big frustration) since posting this issue, the problem described above is no longer in place. At that time the `eslint.run` setting wasn't present. I added it only now.

Now though I am at a completely different step, struggling with a different set of problems which don't belong to this ticket.

Can I as

[2022-01-11 09:44] dbaeumer commented on #1400
No, prettier is not necessary. I do formatting solely with ESLint.

[2022-01-11 09:44] #1400 closed

[2022-01-11 09:46] dbaeumer commented on #1401
The only way I can currently think of is to put it into the environment of the shell and then start VS Code from that shell. In this case the variable should travel to the ESLint server.

[2022-01-13 18:23] moniuch opened #1402 "Could ESLint extension be more vocal about rule syntax problems?"
Having spent loads of time on a setup where I wouldn't need Prettier in the mix, and where only eslint fixers do their job, I found a problem in silent errors from eslint that slowed me down. I would like to share my experience hoping that ESLint could improve the debug experience for others.

At some point, where my numerous efforts weren't bringing any fixing result on save, I decided to run esl

[2022-01-13 23:43] youngha-sung opened #1403 "eslint auto fix doesn't work when vscode auto save is enabled"
I am trying to trigger the eslint auto fix when file is saved. However when I use vscode's autosave feature, eslint auto fix doesn't get triggered. It's working fine when I don't have autosave enabled and just manually hit cmd + s to save the file.

OS: OSX
settings.json:
[code]

Is there anything I am missing in the configuration to make this work? or is this a bug that needs to be fixed?

[2022-01-14 10:51] dbaeumer commented on #1403
This is designed that way in VS Code itself (it is not under control of this extension). When auto save is on `auto fix` is disabled. However you can trigger it manually when in auto save mode by pressing `cmd + s`

[2022-01-14 10:51] #1403 closed

[2022-01-14 10:53] dbaeumer commented on #1402
When this happened did something show up in the ESlint output channel ?

[2022-01-14 10:58] dbaeumer commented on #1402
It does end up in the channel. However the status bar item doesn't show up. Need to investigate why.

[code]

[2022-01-14 11:12] #1206 closed

[2022-01-14 11:16] dbaeumer commented on #1402
I looked into this but it needs some additional work in the LSP libraries since the ESLint extension has currently no way to recognize that the underlying LSP protocol wrote something to the channel.

[2022-01-14 11:37] moniuch commented on #1402
![image 2022-01-14 12-33-16](https://user-images.githubusercontent.com/681956/149509029-f7700aa5-b92f-4b54-8588-7e25957a77bd.png)

I deliberately wrapped `true` in quotes - no ESLint problems reported.
I just double-checked - a dangling comma (JSON violation) is nicely reported so the thing is "alive".

[2022-01-14 11:44] moniuch commented on #1402
OK, so by "channel" you mean [Terminal] > Output > ESLint

![image 2022-01-14 12-43-33](https://user-images.githubusercontent.com/681956/149510292-7dddc866-f926-497c-8fe0-438f8dc93891.png)

Confirmed, it lands there, and it is not manifested anywhere as a problem.

[2022-01-14 17:41] youngha-sung commented on #1403
@dbaeumer Ah, I see. NIT: It would be nice if it's documented from the extension side even though it's controlled from VS Code.

[2022-01-15 19:41] moniuch commented on #1402
@dbaeumer I just found somewhere a setting: `"eslint.alwaysShowStatus": true` however I am getting an error saying it cannot be used in my workspace (is that because it contains two apps - frontend and backend?)

[2022-01-17 03:42] wsdmzy commented on #1362
hi, how to solve it?

[2022-01-18 00:24] casp4 commented on #1383
An example snippet to add to vscode settings would be ideal here.

[2022-01-18 08:05] smalllong opened #1405 "Eslint extension not working with no logs"
Checking the output, it's not showing whether the eslint library is loaded or not, just got stuck forever and not working. After I changed package manager to yarn, it works and shows a loaded log. After all, giving some logs in this case can be helpful.

<img width="481" alt="Screen Shot 2022-01-18 at 4 02 54 PM" src="https://user-images.githubusercontent.com/15830624/149895760-24d32897-b270-4822-

[2022-01-18 14:44] dbaeumer opened #1406 "Investigate into ESLint support for notebooks"
Notebooks can contain JS and TS cells. Would be cool if we can use ESLint to validate them

[2022-01-21 21:08] slalomzacharyd opened #1407 "@typescript-eslint/no-floating-promises breaks vscode-eslint in incompatible ways with the command line"
On my project, when I enable `@typescript-eslint/no-floating-promises`, I get errors in the eslint output on vscode and all eslint output is broken:

[code]

This error does not happen in the console when run manually:
[code]

Key notes:
- Using the Monorepository setup has no effect on this problem. https://github.com/microsoft/vscode-eslint#mono-repository-setup
- Setting `parserOptions.project`

[2022-01-21 21:57] slalomzacharyd opened #1408 "vscode-eslint can't handle the babel-plugin-module-resolver rule"
I have code that uses both aliases and typescript and babel-plugin-module-resolver for when code is not going through the typescript compiler.  `vscode-eslint` doesn't seem to be applying the `babel-plugin-module-resolver` plugin.

.eslintrc.js
[code]
.babelrc.js
[code]

Output in vscode
[code]

Output in eslint
[code]

Expected:
`vscode-eslint` should work correctly like `eslint` and `eslint_d` w

[2022-01-24 03:58] dotherightthing opened #1409 "Removing JSDoc function type mangles JavaScript inside HTML script tags"
My document consists of an HTML file containing only `<script></script>` tags, and JavaScript within those tags.

With the default (`true`) setting for `editor.codeActionsOnSave` removing the `@function` type from JSDoc comments in that JavaScript causes the JavaScript to be mangled.

## Versions

* VSCode: 1.63.2 (macOS)
* ESLint plugin: v2.2.2

## Trigger

* Removing `@function ` preceding `@fun

[2022-01-24 13:02] dbaeumer commented on #1407
@slalomzacharyd would you mind preparing a GitHub repository I can clone that demos this. It ensure that we will look at the same setup

[2022-01-24 13:03] dbaeumer commented on #1408
@slalomzacharyd same here :-). Would you mind preparing a GitHub repository I can clone that demos this. It ensure that we will look at the same setup

[2022-01-24 21:27] slalomzacharyd commented on #1407
I'll look into it.  I'm fairly busy so it might take me a week (or two) worst case

[2022-01-26 15:14] dbaeumer commented on #1407
Great. Ping me when the repro is available.

[2022-01-26 15:16] dbaeumer commented on #1409
@dotherightthing what happens when you run eslint in the terminal with the --fix option. If it works there can you please provide me with a GitHub repository I can clone that demos this. That way we ensure that we are using the exact same setup.

[2022-01-26 15:17] dbaeumer commented on #1405
@smalllong what package manager are you using normally?

[2022-01-27 11:59] RebeccaStevens commented on #1233
Using "node" doesn't work for me; I need provide the full absolute path.

Note: I'm using WSL, Ubuntu 21.04

[2022-01-27 17:38] damnhandy commented on #1362
@gaussianblurs @dbaeumer While the solution works for launching VS Code from the CLI, hosted versions of VS Code still do not work. Thus, this is not a workable solution. Environments like [vscode.dev](https://vscode.dev), Coder, GitPods, etc.. don't have the ability to launch via command line. Thus, this issue should still remain open until a solution is available.

[2022-01-27 19:30] jdrydn commented on #1366
From the [Learn Way link](https://code.visualstudio.com/docs/editor/vscode-web#_extensions) above:

I wonder if this extension could be adjusted to only execute on the currently opened file(s) on the web?

There's also a [web extension authors guide](https://code.visualstudio.com/api/extension-guides/web-extensions) that may be useful for implementation(s).

[2022-01-28 07:41] dbaeumer commented on #1233
In WSL you need to set the setting on the WSL side as a machine setting.

[2022-01-28 07:47] dbaeumer commented on #1362
@damnhandy do you have any steps on how to reproduce this. @gaussianblurs issue was environment related when starting from the dock. At the end I think it depends on how you setup the machine environment whether VS Code and its extensions see pnpm on the path or not. This is nothing the extension can control and adding a user setting for this seems a little odd since it is usually something the en

[2022-01-28 08:18] RebeccaStevens commented on #1233
I'm not sure what you mean by "machine setting"

[2022-01-28 10:41] dbaeumer commented on #1233
<img width="309" alt="capture" src="https://user-images.githubusercontent.com/1931590/151532986-e593ad97-6a2f-4340-b567-c9a7dfaad8d6.png">

The WSL settings in the settings editor.

[2022-01-28 11:10] RebeccaStevens commented on #1233
That is where I set it

[2022-01-28 11:43] josh08h opened #1410 "Changing nodePath results in "Failed to load parser" errors"
[code]

[2022-01-28 11:49] josh08h commented on #1410
I am also seeing the following error:
[code]

[2022-01-28 11:51] josh08h commented on #1319
#1410

[2022-01-28 13:13] dbaeumer commented on #1410
Can you please provide me with a GitHub repository I can clone with instructions on how to reproduce this. Otherwise very hard to tell why it is not working.

[2022-01-28 13:14] dbaeumer commented on #1233
Is node on your path?

[2022-01-28 13:36] RebeccaStevens commented on #1233
Hmm weird. It all seems to be working now despite me not changing any settings since yesterday.
Yesterday I was getting an alert dialog when I started vscode stating that it couldn't start the eslint server with "node" (or something like that).
Ahh, computers are weird sometimes.

[2022-01-30 06:15] matheus-rib opened #1411 "Add a semicolon on a class property cause extension to gets confused on Typescript"
When you add a semicolon to a class property while you have `'@typescript-eslint/no-extra-semi'` on, it will cause to add a semi on every import statement and ESLint will act confused (saving will remove extra semi, but then it will add again).

Since there's no ESLint rule that enforces to not use semicolon on class properties, it can cause someone else (like i did) to lose a lot of time running

[2022-01-31 04:14] TomYang1993 opened #1412 "ESLint VScode plugin not using the correct ESlint version"
I installed ESlint globally, But I still got errors from a feature deprecated in ESLint V5.

![Screen Shot 2022-01-30 at 8 08 00 PM](https://user-images.githubusercontent.com/20257736/151737658-db09c3a3-ff2b-4fb0-8873-71197d5e7010.png)
<img width="602" alt="Screen Shot 2022-01-30 at 8 09 43 PM" src="https://user-images.githubusercontent.com/20257736/151737742-b79b9d55-d532-496f-a19b-17c2806b79c0.p

[2022-02-01 07:55] dbaeumer commented on #1411
@matheus-rib does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing. This ensure that we are using the same setup in terms of eslint version, plugins, ...

[2022-02-01 07:57] dbaeumer commented on #1412
Have you looked at the output of the ESLint channel. This will tell you which ESLint library it is using. May be there is one that the ESLint npm module finds first.

[2022-02-05 22:30] SleeplessByte commented on #1410
I'm seeing this error too and I have _not_ set a custom `nodePath`, but I also see this error when running `eslint` binary directly. Therefore makes me think it's not related to the plugin.

[2022-02-06 16:17] HaraldKi commented on #1267
Just found that is works already. I configure `Eslint` > Lint Task: Options` to contain `-f unix` to get output like
[code]
with which a ctrl+click brings me to the line with the error.

[2022-02-07 13:35] dbaeumer commented on #1410
If you see the error with the eslint binary itself it is indeed not related to this extension.

[2022-02-07 13:42] SleeplessByte commented on #1410
I found out why it happened. Posting here for visibility.

Node 7 has an interesting resolution strategy.
- On fresh install, it will "install" packages into `node_modules` (by default) and generate `package-lock.json`
- On subsequent installs it will use `package-lock.json` to determine what's new
- If `package-lock.json` is missing, it will _actually_ first use `node_modules` to generate a new `

[2022-02-07 20:52] stoplion opened #1413 "the extension ESLint is configured as formatter but it cannot format "TypescriptReact"-files"
[code]

![image](https://user-images.githubusercontent.com/231343/152870048-e4d80bfa-c289-408c-b43c-65bbd6069d33.png)

[2022-02-08 03:49] Byofa commented on #1413
Same with vue and javascript files

[2022-02-08 03:52] lgl017 opened #1414 "eslint create debug.log after vscode crashed"
After a oom chash, and reopen vscode, eslint will create debug.log when open a file(.ts or .vue) beside it.

![vscode oom](https://user-images.githubusercontent.com/27935867/152914892-d80e5b4e-330d-47e8-adcc-a8b2d33c402f.png)
![eslint](https://user-images.githubusercontent.com/27935867/152914895-c63a472b-b824-4856-8c95-4ef08842b5d6.png)

[2022-02-09 06:55] wmertens opened #1415 "'reportUnusedDisableDirectives' must be any of "error", "warn", "off", and null"
When I update my eslint installation, VSCode linting stops working with the below error. It works fine from the command line, so something in vscode is inserting it.

I don't set `reportUnusedDisableDirectives` myself, and this happens even when I disable everything in my .eslintrc.

I added logging in the eslint module and I see that `reportUnusedDisableDirectives` is set to `true`.

[code]

[2022-02-09 07:06] wmertens commented on #1415
I was able to work around this by setting `reportUnusedDisableDirectives: true` in my eslintrc. I tried setting it to `"error"` first but that gave an error, in the eslintrc it has to be a boolean.

[2022-02-09 09:42] dbaeumer commented on #1415
@wmertens can you please provide me with a Github repository I can clone that demos that. Otherwise it is very hard to tell why this fails.

[2022-02-09 09:46] dbaeumer commented on #1414
This looks something that is done by the Electron node which I use to run the server. You can specify `eslint.runtime` to point to a different node version.

@deepak1556 have you seen something like this?

[2022-02-09 09:49] dbaeumer commented on #1413
@stoplion can you please provider me with a Github repository I can clone that demos this. Otherwise very hard to tell what is going on since these since depend on many variables (configs, versions, ....)

[2022-02-09 11:10] Byofa commented on #1413
Ok it was my fault I had an error in my ``.eslintrc.js``, I didn't read carefully the eslint output.

[2022-02-09 12:45] wmertens commented on #1415
@dbaeumer thanks for checking! I have it with current master of https://github.com/StratoKit/strato-db.
Actually the workaround doesn't work, I forgot I patched eslint to ignore it.

The options that it uses are just the below, not from my eslintrc.
[code]

 I think they're the command line options somehow, when I run `npx eslint .` in the terminal the options it uses are
[code]

[2022-02-09 17:33] #1416 closed

[2022-02-09 21:01] EvHaus opened #1417 ".prettierignore is not used when using eslint-config-prettier"
When using the `vscode-eslint` extension combined with `eslint-config-prettier`, the ignore values set in `.prettierignore` are not being respected.

To reproduce this:

- Clone this repo where I've created a minimal reproduction https://github.com/EvHaus/prettier-vscode-ignore
- Install via `npm install`
- Note that running `npm run prettier` ignores `index.js`
- Note that running `npm run eslint

[2022-02-10 08:25] dbaeumer commented on #1417
@EvHaus can you please add a `settings.json` file to the repository with your configuration. I guess that the formatting is actually coming from the TypeScript/JavaScript language feature and not from ESLint.

[2022-02-10 08:28] dbaeumer commented on #1417
If I add

[code]
to the settings and saving index.js no formatting happens. So ESLint works correctly.

As said I guess that your configured formatter is TS/JS and hence that tool formats it.

[2022-02-10 08:28] #1417 closed

[2022-02-10 08:30] dbaeumer commented on #1415
If you have special options on the command line you can use the `eslint.options` VS Code setting to let ESLint know about this. Can you give that a try?

[2022-02-11 01:14] EvHaus commented on #1417
Hmm. Indeed. Changing from:

[code]

to

[code]

fixed the issue for me. Unfortunately, now it means that Prettier doesn't work on any project or file which doesn't ESLint doesn't support (such as `package.json`).

Is there no way in VSCode to have it run ALL formatters rather than only choosing one?

[2022-02-11 01:27] Juan-DeLeon commented on #1405
I'm having this same issue. My package manager is npm and I'm running vscode with the extension installed under WSL, not sure if that has anything to do with it.

[2022-02-11 17:32] tinynow commented on #1324
@pattrickrice I am having a similar issue. Do you mind sharing how was this resolved?

[2022-02-11 19:46] LMS007 opened #1418 "Shows css errors for scss in vue files but its not a lint error"
I'm running ESLint + Vetur and nothing else.

Running `eslint myfile.vue` on command lint does not produce any errors, but I see red underlines when creating nested classes using lang="scss"

`<style lang="scss">`

What seems incorrect is that I don't get errors when running the eslint command, but I do with the plugin.

<img width="247" alt="Screen Shot 2022-02-11 at 11 41 20 AM" src="https://use

[2022-02-11 20:20] LMS007 commented on #1418
closing out, likely issue with Vetur

[2022-02-11 20:20] #1418 closed

[2022-02-12 05:43] karansapolia opened #1419 "'Manage library execution' command missing"
The README says that the extension provides `ESLint: Manage Library Execution` command through the VS Code command palette (cmd + shift + p on mac) but it seems like the command is missing.

I was setting up [fastify](https://github.com/fastify/fastify/blob/main/docs/Guides/Contributing.md#setting-up-your-environment) on my machine and cannot perform the last step that involved running `ESLint: Ma

[2022-02-12 15:57] wmertens commented on #1415
Aha! That's why - somehow that configuration was in my eslint.options. Maybe I added it in there a few years ago? I removed it and everything's working again. Thanks!

[2022-02-12 15:57] #1415 closed

[2022-02-14 05:39] 4MOR3 opened #1420 "vscode-eslint plugin not using the newest eslint"
**vscode-eslint: v2.2.2**

when using `#` to declare more than one private function in class like pic below:
<img width="173" alt="Screen Shot 2022-02-15 at 10 00 04 AM" src="https://user-images.githubusercontent.com/39641565/153978333-4d4002d2-5c3f-44da-9e5d-b13742d311c7.png">

the error message is :`Duplicate name ''.eslint[no-dupe-class-members](https://eslint.org/docs/rules/no-dupe-class-membe

[2022-02-15 18:04] alumni opened #1421 "vscode-eslint blocks swc upgrade"
Seems `vscode-eslint` is blocking `swc` from being upgraded.

Running `yarn install` after pulling changes from a remote (with changed lockfile) has the following error:
[code]

[code]

In VSCode process explorer I can see `"<USER>\AppData\Local\Programs\Microsoft VS Code\Code.exe" --ms-enable-electron-run-as-node <USER>\.vscode\extensions\dbaeumer.vscode-eslint-2.2.2\server\out\eslintServer.js --

[2022-02-16 13:10] IllusionMH commented on #1420
From README:

Looks like ESLint version in your project doesn't support this syntax.

[2022-02-16 14:21] samuelhulla opened #1422 "ESLint Crashes in a monorepo"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: Version: 1.64.2 (Universal) [LTS] ✅
- OS Version: OS: Darwin arm64 21.3.0

## Issue description 📔

Hey, I've got a monorepo set up with multiple eslint configurations, however since the latest update I am unable to get my local vscode build of ESLint to work

- *Anecdotally, the same configuration does work on WebStor

[2022-02-17 23:08] imjonlam opened #1423 "Starting client failed - on ready failed"
Hello, we recently updated our ESLint version from `7.32.0` to `8.8.0`.
In doing so we had to move our `runtime` setting from `eslint.options` to `eslint.runtime`
After this change we got the error.

The only thing that works is if we set `eslint.runtime` to "node" but ideally that's not what we want.

Full post here: https://stackoverflow.com/questions/71089277/eslint-vs-code-starting-client-fail

[2022-02-18 09:22] juliaheller commented on #1170
Where did you put this? In which file?

[2022-02-18 10:38] AncientSwordRage opened #1424 "IntelliSense for .eslintrc.yml?"
Is this possible?

I'm currently using [this](https://gist.github.com/alefteris/39c9cfe3a6baa9fc5acf) but would prefer autocompletion.

[2022-02-21 09:06] mjochum opened #1425 "Use of environment variables in options values"
We have an ESLint setup which uses a *custom ESLint plugin* that we would like to share across multiple projects.

Having the plugin already pre-installed as a dependency of a `GLOBAL_PACKAGE` which all users have by default, we can configure `.vscode/settings.json` to use a shareable config file (that `extends` and loads the plugin from that location):
[code]

Now, if the users also want to *chec

[2022-02-22 10:40] allanlewis opened #1426 "Quick fix for `@intlify/vue-i18n/no-raw-text` in Vue template inserts wrong type of comment"
I'm using v2.2.3 of this plugin with ESLint 7.32.0 and `@intlify/eslint-plugin-vue-i18n` 1.2.0. When I enable the rule `@intlify/vue-i18n/no-raw-text` I correctly get errors for text in my templates that hasn't been extracted for i18n. However, the "quick fix" for these errors inserts a Javascript comment instead of an HTML comment:

[code]

It would be great if the "quick fix" could detect the co

[2022-02-22 23:18] mahmoudelshawaf commented on #1397
please can you tell me where you adding it in workspace settings?

[2022-02-23 02:48] ftlPhysicsGuy opened #1427 "ESLint is ignoring changes across TypeScript projects"
## The Setup
I have a typescript project (using Node.js and VSCode on macOS) with sub-projects for `server`, `client`, and `common` code.  Until recently, I kept all the typescript code for those sub-projects in one source folder (ugh!).  I have now changed my folder structure to separate the sub-projects like so:

[code]

The `client` and `server` index.ts files export from ../common/index, the s

[2022-02-23 06:05] sryze commented on #1397
@mahmoudelshawaf just put it inside inside `your_project_dir/.vscode/settings.json`
https://code.visualstudio.com/docs/getstarted/settings#_creating-user-and-workspace-settings

[2022-02-23 15:17] dbaeumer commented on #1427
This can depend on many things and without a GitHub repository I can clone that demos this in a minimal setup hard to tell. The most likely case is that the tsconfig.json files don't reference each other (e.g. client -> common and server -> common). You might look here for an example: https://github.dev/microsoft/vscode-languageserver-node/blob/309dd5172f2bc63be834eedf2832b9f99a908ad3/client/tscon

[2022-02-23 15:20] dbaeumer commented on #1425
This should come from VS Code. See https://github.com/microsoft/vscode/issues/2809 for the feature request there.

[2022-02-23 15:20] #1425 closed

[2022-02-23 15:38] p17gh commented on #1383
@dbaeumer I see you closed this, so I guess it's supposed to be fixed

for me, though, running
[code]

with this
[code]

inside vscode terminal
[code]

if I add to my config
[code]

in vscode i get a dialog
[code]

and in output,
[code]

If I remove the
[code]

I get instead
[code]

in terminal, in vscode,
[code]

with no errors

it looks like to me there's some kind of permission error?

but i do

[2022-02-23 16:19] dbaeumer commented on #1424
This should actually come from a plugin that supports YAML files and not from the ESLint plugin itself. For JSON files the extension relies on a JSON plugin as well. Have you tried https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml. What you would need to do so is to point to a schema using the `yaml.schemas` setting.

[2022-02-23 16:23] dbaeumer commented on #1383
It looks like node `v17.5.0` has problems accessing the eslint server on your disk. What happens when you run

[code]

in the terminal?

[2022-02-23 16:28] dbaeumer commented on #1423
The problem here is that the `options` settings have change in ESLint itself from version 7 to 8. For example `config` is now `overrideConfig`. I will add something to the readme to make this more clear. See https://eslint.org/docs/developer-guide/nodejs-api#-new-eslintoptions

[2022-02-23 16:28] #1423 closed

[2022-02-23 16:31] dbaeumer commented on #1423
Added this to the readme:

Be ware that the ESLint npm module changed how options are interpreted. It also changed the names of certain options. If you used `eslint.options` to pass special options to the ESLint npm module you might need to adapt the setting to the new [form](https://eslint.org/docs/developer-guide/nodejs-api#-new-eslintoptions)

[2022-02-23 16:33] dbaeumer commented on #1420
@4MOR3 have you checked which version of the ESLint library the extension is using. You can check by looking into the ESLint output channel. One of the first entries prints the path to the loaded library.

[2022-02-23 16:34] p17gh commented on #1383
@dbaeumer

from terminal inside vscode,
[code]

checking
[code]

[2022-02-23 16:36] dbaeumer commented on #1421
I think that ESLint is configured in a way that it loads that module (`swc.win32-x64-msvc.node`). For performance reason the ESLint server keeps the ESLint module alive to avoid constant process spawning. This is by design. So there is little I can do to avoid this.

I will close the issue since I have no plans to implement a mode that supports process spawning.

[2022-02-23 16:36] #1421 closed

[2022-02-23 16:38] dbaeumer commented on #1419
Yes, the command has been removed in favor of VS Code's workspace trust. Will remove from the Readme.

[2022-02-23 16:48] dbaeumer commented on #1383
What happens if you set the execute bit on the `esleslintServer.js` file. May be something in node has changed.

[2022-02-23 16:52] p17gh commented on #1383
no change, unfortunately
[code]

[2022-02-23 16:55] dbaeumer commented on #1383
Actually I tested this and node 17.5.0 has no problems executing a JS file without the execute bit set. So it seems to be something else on your machine that prevents node 17.5.0 to access the file.

[2022-02-23 16:58] 4MOR3 commented on #1420
it's the problem with my ESLint version. i've been using vue-cli, new project is vue3 so everything is ok, but this vue2 app's  ESLint's version is 6.7.2 , sorry for my carelessness

[2022-02-23 16:58] #1420 closed

[2022-02-23 16:59] dbaeumer commented on #1422
The crash happens in the ESLint npm library itself. What happens when you try to lint the file in a terminal using the workspace folder as the current working directory?

[2022-02-23 19:06] imjonlam commented on #1423
The `options` did change, that is correct. We had changed `config` to `overrideConfig` like you mentioned previously.

The issue is that when we changed `eslint.options: { runtime: ... }` to `eslint.runtime` as suggested in `v2.1.17`: that is when the error is received:
https://github.com/Microsoft/vscode-eslint/blob/HEAD/CHANGELOG.md

[2022-02-23 22:29] casp4 commented on #1383
@dbaeumer what machine did you test it on ? and was it fresh?

[2022-02-23 23:11] ftlPhysicsGuy commented on #1427
Thanks for the comment, @dbaeumer.

Looking at the example you provided, the references in my tsconfig.json files look very similar.  I'll add them to my original post for more info.  I'll also see if I can create a very small example of the issue to make available on GitHub.

[2022-02-24 02:55] ftlPhysicsGuy commented on #1427
I have created a small project that seems to demonstrate the issue:

[ESLintTest.zip](https://github.com/microsoft/vscode-eslint/files/8129304/ESLintTest.zip)

It contains only 2 sub-projects (`common` and `server`), and each of those contain only one .ts file ("TestState.ts" for `common` and "DummyServer.ts" for `server`).

The included tsconfig.json files are nearly identical to the ones in my a

[2022-02-24 10:56] dbaeumer commented on #1383
Ubuntu 20.04.4 LTS. Node was freshly installed, Ubuntu is older.

[2022-02-24 11:00] dbaeumer commented on #1423
Hmm, there was never a `eslint.options: { runtime: ... }` option? So this had never an impact and didn't select a node runtime.

[2022-02-24 11:34] samuelhulla commented on #1422
Hey @dbaeumer.

The one in `web/package.json` is  defined as

`eslint --ext .jsx,.js,.ts,.tsx src/`

The repo is managed by `yarn`, so `yarn eslint --ext .jsx,.js,.ts,.tsx src/` returns similar error as mentioned above

[code]

I'm not entiely sure, why it conflicted with different eslint plugin now instead of `@typescript-eslint` regardless, it seems there are troubles deciding between directorie

[2022-02-24 17:42] glen-84 commented on #1170
@juliaheller In the `.eslintrc.js` file for the workspace (i.e. `client/.eslintrc.js`).

[2022-02-24 20:38] casp4 commented on #1383
Thanks for the version, but could something else on that machine be helping node access the file?

[2022-02-25 08:47] dbaeumer commented on #1383
I search the WEB for it and I couldn't find any indication that Node changed this behavior in the 17.x release.

[2022-02-25 08:53] dbaeumer commented on #1422
@samuelhulla the extension depends on vanilla ESLint npm module. So if an error shows up when running `eslint` in a terminal it will show up in VS Code itself. There is nothing I can do to prevent this.

All I can recommend is to report this against ESLint itself using the terminal command as an example. I know a lot about ESLint but I am not very familiar with how they resolve plugins and disambi

[2022-02-25 08:53] #1422 closed

[2022-02-28 03:56] tjx666 opened #1428 "VSCode `Fix All` command doesn't trigger `ESLint: Fix all auto-fixable Problems`"
VSCode: 1.65.0-insider
OS: MacOS12.2.2
eslint: pre-rleasev2.2.3

[2022-03-01 22:43] Xenfo opened #1429 "Wierd linting bug"
When I open a file in the `packages/checkbox` directory on initial load, then ESLint works fine from what I can tell. If I open a file from `scripts` on initial load, there is an ESLint error as shown in the video. Everything works fine in CMD.

Repo: https://github.com/flux-ui/flux-ui/tree/feat/checkbox-variants
Example: https://user-images.githubusercontent.com/46873232/156261140-671c1d0b-2509-4

[2022-03-02 10:01] dbaeumer commented on #1429
Is there anything special in the ESLint output channel?

[2022-03-02 11:45] dbaeumer commented on #1429
I tried to reproduce this but couldn't. Can you please provide me with steps to do so. And I noticed that you have a working directories setting but scripts is not listed.

[2022-03-02 11:45] dbaeumer commented on #1359
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:45] #1359 closed

[2022-03-02 11:46] dbaeumer commented on #1361
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:46] #1361 closed

[2022-03-02 11:46] dbaeumer commented on #1372
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:46] #1372 closed

[2022-03-02 11:46] dbaeumer commented on #1373
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:46] #1373 closed

[2022-03-02 11:47] dbaeumer commented on #1374
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:47] #1374 closed

[2022-03-02 11:47] dbaeumer commented on #1380
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:47] #1380 closed

[2022-03-02 11:47] dbaeumer commented on #1384
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:47] #1384 closed

[2022-03-02 11:48] dbaeumer commented on #1386
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:48] #1386 closed

[2022-03-02 11:48] dbaeumer commented on #1390
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:48] #1390 closed

[2022-03-02 11:48] #1394 closed

[2022-03-02 11:48] dbaeumer commented on #1405
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:48] #1405 closed

[2022-03-02 11:49] dbaeumer commented on #1407
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:49] #1407 closed

[2022-03-02 11:49] dbaeumer commented on #1408
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:49] #1408 closed

[2022-03-02 11:49] dbaeumer commented on #1409
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:49] #1409 closed

[2022-03-02 11:50] dbaeumer commented on #1411
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:50] #1411 closed

[2022-03-02 11:50] dbaeumer commented on #1412
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:50] #1412 closed

[2022-03-02 11:50] dbaeumer commented on #1413
OK. Closing then.

[2022-03-02 11:51] dbaeumer commented on #1414
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-03-02 11:51] #1414 closed

[2022-03-03 12:42] Kyuuhachi opened #1430 "Doesn't detect eslint on $PATH"
If eslint is installed via a distro package manager (here Arch's pacman/yay), the language server can't find the executable unless npm is also installed, even though it is available on `$PATH`.

Tested on neovim (0.7.0+dev+1130+g11f7aeed7-1) using nvim-lspconfig (ec7119b), with `vscode-langservers-extracted` (4.1.0-1) and `eslint` (8.10.0-1).

[2022-03-04 03:34] lancedang64 commented on #1355
Doing this, I was able to see that my eslint error was:
[code]

My co-worker who had the same problem provided me with this solution:
in package.json, upgrade "eslint-plugin-react-hooks": 4.2.0 to 4.3.0, run yarn install, then eslint will start working again.
I then proceed to change it back and run yarn install again and the problem was fixed.

He said probably React fixed it in 4.3.0. Hope this

[2022-03-04 06:53] kasnet commented on #1376
settings.json:
  "eslint.options": {
    "overrideConfig": {
      "env": {
        "browser": true,
        "es6": true
      },
      "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
      },
      "rules": {
        "no-debugger": "off"
      }
    }
  },

[2022-03-04 14:21] dbaeumer commented on #1430
This is by design. The extension doesn't execute the eslint command it loads its library and keeps it in memory to speed up validation on typing.

[2022-03-04 14:21] #1430 closed

[2022-03-06 10:48] bengry opened #1431 "eslint.codeActionsOnSave.rules not working"
I've tried to use `eslint.codeActionsOnSave.rules` as documented to remove some rules from being ran while saving, but it seems like it doesn't work.

I tried using this in both the User settings and the Workspace settings (ideally this would be in the workspace so I can share it with my team).

doesn't work:
[code]

works:
[code]

I verified this by adding this line to `node_modules/eslint-plugin

[2022-03-07 05:18] cn2156 opened #1432 "bug: An import declaration can only be used at the top level of a module."
In 1.65, ESLint find problems "An import declaration can only be used at the top level of a module."
but in 1.64.2, ESLint not found any problems

The code is:
[code]

ESLint
v2.2.2
Released on
2015/11/16 19:58:32
Last updated
2022/1/13 17:49:56
Identifier
dbaeumer.vscode-eslint

Version: 1.65.0 (Universal)
Commit: b5205cc8eb4fbaa726835538cd82372cc0222d43
Date: 2022-03-02T11:11:20.886Z
Electron: 1

[2022-03-07 08:56] dbaeumer commented on #1432
Does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2022-03-07 12:01] dbaeumer commented on #1431
This works for me:
![cast](https://user-images.githubusercontent.com/1931590/157030624-74a05d71-fb0a-4967-bd32-b02ef0ad145b.gif)

Could you please provide me with a GitHub repository I can clone that demos what you are seeing. That ensures that we are looking at the exactly same setup.

[2022-03-07 12:22] dbaeumer commented on #1429
OK. I can reproduce now, but I have no good explanation for why this is happening. Very likely an issue of some caching in the eslint module.

[2022-03-07 12:34] dbaeumer commented on #1429
I digged a little bit around and it looks like a setup problem (very likely on your end). If I change `useUuid` in file `use-uuid.ts` for `useUuid$$` and run `npm run build` I get

<img width="839" alt="capture" src="https://user-images.githubusercontent.com/1931590/157035186-7f5d013c-6d10-46ad-a0d0-743b37ffd4db.png">

which give the same errors whithout TypeScript complaining about that `useUuid`

[2022-03-07 12:53] bengry commented on #1431
Thanks @dbaeumer - here's a repo with a reproduction https://github.com/bengry/vscode-eslint-code-actions-on-save-repro

Clone it, run `npm install` and save `second.js` (or `first.js`) while looking at `cycle-run.txt` - every time you save a line gets added to it.

![screencast 2022-03-07 14-51-00](https://user-images.githubusercontent.com/260431/157038098-8295a121-9dfa-4790-b7c6-77a80b8d1df5.gif

[2022-03-07 14:18] Xenfo commented on #1429
With $$ at the end it works fine.

Branch: https://github.com/Xenfo/flux-ui
Run: https://github.com/Xenfo/flux-ui/runs/5449584111?check_suite_focus=true

Could it be the experimental feature I have enabled for Typescript ESLint in my foot config?

[2022-03-08 01:10] cn2156 commented on #1432
Please clone the project: https://github.com/cn2156/vue3-for-test-eslint, then read the README.md to show the details.

[2022-03-08 08:36] dbaeumer commented on #1432
This problem comes from the TS extension. The source is `ts`. ESLint errors are reported using `eslint` as a source
<img width="530" alt="capture" src="https://user-images.githubusercontent.com/1931590/157198936-efa40224-1004-4772-94d3-79113dfa4aca.png">

[2022-03-08 08:36] #1432 closed

[2022-03-08 13:41] remcohaszing commented on #1431
I also just ran into this issue when adding a new rule to prevent from being autofixed. I have the following config:

[code]

I’ve been excluding `no-debugger` succesfully for a while now, but `jest/prefer-todo` is still being auto fixed. Also when `!no-debugger` is removed, `jest/prefer-todo` is still being autofixed. Maybe it doesn’t work for plugin rules?

[2022-03-09 02:20] ftlPhysicsGuy commented on #1427
So, I posted a working example of my issue a couple of weeks ago and haven't gotten any responses.  Can anyone else verify they see the same issue when using my example?  Am I doing something wrong or is this a bug?  Thanks.

[2022-03-09 08:43] GraemeF commented on #1427
I haven't tried in VSCode but I'm seeing a similar issue in Webstorm (in my project, haven't tried your repro project). Maybe this issue should be reported to the ESLint repo?

[2022-03-09 15:31] romainlp commented on #1427
@ftlPhysicsGuy Do you have the `gitlens` extension installed? I had similar issue and noticed that if i remove gitlens, it works well.

[2022-03-11 03:07] Avasam commented on #1352
Are you sure about this? Other plugins can already let VScode know whether something should show up as Error, Warning, Information or Hint.

For example, in the workspace's `settings.json` you would have:
[code]

For reference, this is how it's done in pylint and flake8:
![image](https://user-images.githubusercontent.com/1350584/157791839-f3338f4a-1070-4c96-aeb7-a700adeef242.png)
![image](https://

[2022-03-11 10:19] jayant246 opened #1433 "using React.Children.toArray for arrays and es-lint still asking for key prop"
As react docs suggest,  **React.Children.toArray(children)** Returns the children opaque data structure as a flat array with keys assigned to each child. But Es-Lint still suggest to add key prop.
Docs link - https://reactjs.org/docs/react-api.html#reactchildrentoarray
PFA screenshot:
![Screenshot from 2022-03-11 15-47-30](https://user-images.githubusercontent.com/43151324/157848143-643f81c0-f58c-

[2022-03-11 14:28] romanlex opened #1434 "Failed to load the eslint library message in WSL with worked eslint server"
Hi, I have the warn message with content
[code]
![image](https://user-images.githubusercontent.com/3369304/157886061-ad32630d-42f6-4ff2-ac93-887a303b8487.png)

But the eslint server is working properly
![image](https://user-images.githubusercontent.com/3369304/157886108-cfe73f4b-30b8-4c4a-9f5c-1066cc2d30cf.png)

Eslint output log:
<details>

[code]

</details>

[2022-03-14 08:19] dbaeumer commented on #1434
The ESLint server tries to load the library relative to the file and it will not reuse another library. So it could be that a library is found for file a but not for file b.

Does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2022-03-14 08:21] dbaeumer commented on #1433
Does the validation happen correctly when you use eslint in the terminal. And can you please show me the full error in the problems view.

If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2022-03-14 09:29] cusxio opened #1435 "extension is unable to find `pnpm` modules"
## Reproduction

https://github.com/cusxio/vscode-eslint-pnpm

![CleanShot 2022-03-14 at 17 22 41](https://user-images.githubusercontent.com/6487613/158142933-aa26f1ce-cf15-4f0f-8d37-53590ead46dd.png)

`vscode-eslint` is unable to locate `pnpm` installed modules.

[code]

## Description

The `packages/test` folder contains the following `eslint` config,

[code]

But it seems that for some reason,

[2022-03-14 11:01] #1431 closed

[2022-03-14 11:13] bengry commented on #1431
Are you sure it's fixed in `2.2.3`? I just tried it there with the same repo I linked above and it still reproduces:

![screencast 2022-03-14 13-11-39](https://user-images.githubusercontent.com/260431/158161085-828c35ac-43e9-4118-9636-d2f1ecbd6ce0.gif)

[2022-03-14 11:16] dbaeumer commented on #1427
This is not a problem with the ESLint extension but the ESLint and the TypeScript plugin itself. Running ESLint in the terminal produces:

[code]

which are the exact same error.

Running the project and then running eslint in the terminal again makes the errors got away as well.

I recommend that you report the bug against the typescript eslint plugin since there is little I can do in the extensi

[2022-03-14 11:16] #1427 closed

[2022-03-14 11:24] dbaeumer commented on #1431
Here is what I have tested and see

- remove the setting from the settings file
-  open `second.js`
- Without typing press Ctrl+S => entry in the `cycle-run.txt`
- add the setting to the settings file again
- open `second.js`
- Without typing press Ctrl+S => no entry in `cycle-run.txt`

If you type into a JS file it is immediately validated (without waiting for a save) and hence the cycle run is e

[2022-03-14 12:41] dbaeumer commented on #1435
This works for me without problems using the 2.2.3 pre-release version. Can you give that one a try?
<img width="837" alt="capture" src="https://user-images.githubusercontent.com/1931590/158174125-bd283aa2-6f4a-481a-b93f-f8e42fb70b9e.png">

[2022-03-14 12:49] dbaeumer commented on #1435
Actually I could reproduce this. The reason is that `pnpm` basically patches the NODE_PATH and the eslint extension doesn't know anything about this. See the eslint file in ./node_modules/.bin.

You get the same error when executing eslint directly without the patch NODE_PATH. See

[code]

The eslint extension has a setting `eslint.nodePath` which you can use to do the same modification to the nod

[2022-03-14 12:50] dbaeumer commented on #1435
Let me know if this works

[2022-03-14 13:04] dbaeumer commented on #1429
Actually what I meant is only changing `useUuid` to `useUuid$$` in `use-uuid.ts`. In this case I would expect that the TS compiler reports an error in checkbox.ts which it doesn't and ESLint still reports the error (even in the terminal). This indicates that the TS configuration isn't setup correctly resulting in TypeScript ESLint not working correctly either.

[2022-03-14 15:18] cusxio commented on #1435
Switching to the pre-release version didn't work for me.

Based on this image, it seems that you've installed the packages with `npm install` instead of `pnpm install`. So it uses the ["hoisted"](https://pnpm.io/npmrc#node-linker)  `node-linker`.

---

Could you provide some directions as to how this can be done?

I've checked `eslint` in `./node_modules/.bin` and `NODE_PATH` is a very very long s

[2022-03-14 20:57] #1429 closed

[2022-03-15 07:57] dbaeumer commented on #1435
All I can recommend is to copy the value and put it into the setting.

[2022-03-15 10:29] romanlex commented on #1434
@dbaeumer https://github.com/romanlex/ssr-template

[2022-03-15 11:30] cusxio commented on #1435
No worries, I hoisted `babel` in `.npmrc`.

[code]

[2022-03-15 11:30] #1435 closed

[2022-03-15 12:40] remcohaszing commented on #1431
This appears to have been fixed when using `editor.codeActionsOnSave` `source.fixAll`, but not when `editor.formatOnSave` is `true`.

https://user-images.githubusercontent.com/779047/158379081-7b947c01-188f-44e6-9d4a-f645271be032.mp4

These are the settings used:

[code]

This is the code I used to test (`foo.test.js`):

[code]

The repository that was used for the recording can be found [here](ht

[2022-03-15 19:33] dbaeumer commented on #1434
@romanlex before I dig into the repository does the validation happen correctly in the terminal for these files?

[2022-03-15 19:42] romanlex commented on #1434
@dbaeumer eslint check from terminal work properly

[2022-03-16 10:35] dbaeumer commented on #1434
Hmm, I can't reproduce this

<img width="806" alt="capture" src="https://user-images.githubusercontent.com/1931590/158571180-8753c303-d368-4748-bad0-fc8f72ff12b2.png">

[2022-03-16 10:38] dbaeumer commented on #1434
Even not if I but a folder with a @ into the path
<img width="1004" alt="capture" src="https://user-images.githubusercontent.com/1931590/158571702-6038d7c6-c4d2-4106-ae07-54c9727b4819.png">

[2022-03-16 15:51] whenmoon commented on #1344
`"eslint.codeActionsOnSave.mode"` is deprecated, please use `"editor.codeActionsOnSave": { "source.fixAll.eslint": true }`

[2022-03-17 08:52] romanlex commented on #1434
Your use WSL for check warn messages?

[2022-03-18 05:53] Toby-Liuzhifu opened #1436 "Error: Cannot find module 'xxx/node_modules/espree/dist/espree.cjs'"
When using the vscode plugin, open any file, and a prompt "ESLint: Cannot find module  /node/eleme/ele-client/node_modules/espree/dist/espree.cjs'. Please see the 'ESLint' output channel for details" will pop up.

output channel:
[Error - 1:52:42 PM] ESLint stack trace:
[Error - 1:52:42 PM] Error: Cannot find module '/node/eleme/ele-client/node_modules/espree/dist/espree.cjs'
    at createEsmNotFo

[2022-03-18 06:15] Toby-Liuzhifu commented on #1436
After restarting vscode the problem disappeared

[2022-03-18 06:15] #1436 closed

[2022-03-18 07:45] dbaeumer commented on #1434
Can you think of anything special with your WSL install? Are you on WSL2?

[2022-03-18 08:39] romanlex commented on #1434
![image](https://user-images.githubusercontent.com/3369304/158965705-f8569009-0da7-403d-930d-52c9a5e25b11.png)
![image](https://user-images.githubusercontent.com/3369304/158965804-4e0aa549-dc04-47e4-a454-6e924fee7189.png)

[2022-03-18 09:04] I2olanD opened #1437 "Unable to resolve path to module "@/...""
Hey,

we're currently using a monorepo (yarn workspaces) but using single eslint file with following structure:

[code]

eslintrc.js in the root is basically exporting the contents of utils/eslint-config/index.js. Running the linter via cmd works fine, but the extension is unable to resolve webpack import aliases.

[2022-03-21 07:47] dbaeumer commented on #1437
When you run ESLint on the command line do you change directory into one of the package directories. If so you need the ESLint extension know about this using the `eslint.workingDirectories` setting.

If you execute the command in the workspace folder root and everything works there can you please provider me with a GitHub repository that demos this that I can clone.

[2022-03-21 22:09] lvegerano commented on #1313
Has anyone found a solution other than removing the extension itself?

[2022-03-22 06:13] akobrina opened #1438 "Cached old eslintrc configuration"
I have installed ESlint for VS Code on a MAC OS. Everything was working as expected and highlighting the errors according to the config settings in my .eslintrc.js, which is located in the root folder of my project. But now, I after I have tweaked the config to remove "no-restricted-properties" setting and replaced it with "no-restricted-syntax" instead, I can still see the old rule loading with m

[2022-03-22 07:30] dbaeumer commented on #1438
You can set `eslint.debug`  to `true`. This prints into the ESLint output channel from were rules and configs are resolved and which values are used. This should allow you to track down why it is not picked up.

You can alternatively run eslint in the terminal and see what is happening there for a comparison.

[2022-03-22 07:32] dbaeumer commented on #1313
Without a project demoing this it is hard to tell what makes this fail.

[2022-03-22 10:26] cgestes commented on #1313
Not opening the root folder in vscode but adding individual subproject with "add folder to workspace" did the trick for me.

[2022-03-23 00:30] akobrina commented on #1438
Thank you for the fast reply @dbaeumer. I figured out what was wrong, so let me describe it here in case someone else will encounter it. Basically, I was implementing eslint for a new project and I had a test file going to check each new eslint rule. My test file looked something like this, with each code block prepended with a comment that I though would not be evaluated by eslint:
[code]
In real

[2022-03-23 00:30] #1438 closed

[2022-03-23 10:23] PenguinDetective commented on #1407
Bumping this - having the same issue on my VsCode.
Can this be re-opened?

Adding:
[code]
to my config, eslint complains with:
[code]
Adding:
[code]
to my config, eslint complains with:
[code]

[2022-03-24 08:07] dbaeumer commented on #1407
@PenguinDetective this is usual eslint / typescript setup and has very likely nothing to do with this extension. What happens when you execute eslint directly in the terminal?

[2022-03-25 14:28] luis-cosillo commented on #1229
I have the same problem, someone knows how to solve it, at the moment the solution is to upload that component a subfolder before, and there it reads, but when many subfolders eslint does not support it.

[code]

[2022-03-26 13:21] caiqalmeida opened #1439 ""Extension 'ESLint' is configured as formatter but it cannot format 'Typescript'-files"
Hey, I'm having this problem when ESLint don't format my Typescript code.
I've already installed previous versions, reinstalled my vs code and I keep getting this error message.

My ESLint configs on vs code :

`
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "eslint.alwaysShowStatus": true,
"[javascript]": {
  "editor.defaultFormatter": "dbaeumer.vscode-eslint"
},
"[types

[2022-03-26 20:09] ftlPhysicsGuy commented on #1427
I posted the issue to [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint), and it turns out that they do not support project references.  [See this link](https://github.com/typescript-eslint/typescript-eslint/issues/2094)

[2022-03-28 09:10] romanlex commented on #1434
@dbaeumer I reinstall vscode and I get the same error :(

[2022-03-28 12:19] dbaeumer commented on #1434
I checked again and the repository works for me without problems in WSL.

[code]

[code]

I don't have any idea why this fails on your machine.

[2022-03-28 12:22] dbaeumer commented on #1439
Without a reproducible case (e.g. a GitHub repository to clone) hard to tell why it is not working.

[2022-03-30 01:01] adamsuskin commented on #717
I am seeing this issue manifest with two open files. ESLint on the command-line works fine.

VSCode: `1.65.2`
vscode-eslint: `2.2.2`
OS: macOS Monterey `12.3`
ESLint: `8.4.1`
eslint-plugin-import: `2.25.4`
Node: `16.14.0`

[2022-03-30 06:15] CRC32EX opened #1440 "Cannot find module './App.vue' or its corresponding type declarations.ts(2307)"
# Steps to reproduce this issue

1. Init Vue3 project
[code]
![image](https://user-images.githubusercontent.com/25629617/160763495-cc6832d3-bebf-4e73-b03a-64678957cf87.png)

2. Install modules
[code]

3. Open VSCode

4. Error
[code]

![image](https://user-images.githubusercontent.com/25629617/160763573-3dd47680-9704-4940-aecd-3400c1c9b0d2.png)

# Environment
|#|Version|
|:--|:--|
|OS|Windows 11 64

[2022-03-31 07:22] dbaeumer commented on #1440
This error doesn't come from eslint. It comes from TypeScript  as you can see from the prefix `ts(2307)`. ESLint errors have a prefix that starts with `eslint`.

[2022-03-31 07:22] #1440 closed

[2022-03-31 12:29] CRC32EX commented on #1440
Solved.
I'm create `src/shims-vue.d.ts`

[code]

![image](https://user-images.githubusercontent.com/25629617/161054801-86c85747-28b3-421a-8dc1-2c7e2d32b486.png)

[2022-03-31 14:29] Tyriar opened #1441 "Default eslint.codeActionsOnSave.rules/execArgv value is invalid"
Open default settings JSON:

![image](https://user-images.githubusercontent.com/2193314/161079420-aef5663d-b90a-46ac-acd5-153a9983d21b.png)

[2022-03-31 21:43] caiqalmeida commented on #1439
I have trouble in any project with typescript, not one in specific.
But if you want i can create one, no problem.

[2022-04-01 06:01] wChenone opened #1442 "A weird one package.json error"
<img width="667" alt="image" src="https://user-images.githubusercontent.com/37658262/161204010-5cb12cdc-6d1e-4f8c-b622-983abe4b5e8d.png">

some projects  report  errors，and some projects are normal

[2022-04-01 08:29] dbaeumer commented on #1442
@wChenone  does the validation happen correctly when you use eslint in the terminal. If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2022-04-01 08:30] dbaeumer commented on #1439
Yes please.

[2022-04-02 02:02] petervesely opened #1443 "eslint --init failed with syntax error"
Hello,

I have just installed the module and tried to init the config. I got the following error:

`$ ./node_modules/.bin/eslint --init
You can also run this command directly using 'npm init @eslint/config'.
npx: installed 40 in 3.126s
/home/user/.npm/_npx/32206/lib/node_modules/@eslint/create-config/bin/create-config.js:9
import { initializeConfig } from "../lib/init/config-initializer.js";

[2022-04-02 02:11] caiqalmeida commented on #1439
I was creating an example: https://github.com/caiqalmeida/eslint-typescript-example and it appeared to update eslint to version 2.2.2, looks like it's fixed !

Sorry for bothering, appreciate your atention !

[2022-04-02 02:11] #1439 closed

[2022-04-02 07:00] wChenone commented on #1442
hi，I reinstalled vscode today, and then the error disappeared. Next time I meet you, I will provide a GitHub repository.

[2022-04-02 08:07] wChenone commented on #1442
hi，Now I have a problem again. As long as I npm install, I will make a mistake.
 The address ：  https://github.com/wChenone/testPackageERR

[2022-04-04 07:04] dbaeumer commented on #1442
@wChenone I can't reproduce this. Any additional steps I need to take:

![capture](https://user-images.githubusercontent.com/1931590/161490683-4825cfcb-e27e-44ad-9ae1-574d751c1653.png)

[2022-04-04 07:06] dbaeumer commented on #1443
@petervesely please report this to ESLint itself. This repository is about the ESLint extension for VS Code which uses ESLint under the hood.

[2022-04-04 07:06] #1443 closed

[2022-04-04 07:16] #1441 closed

[2022-04-04 07:20] dbaeumer opened #1447 "Make ESLint more approachable for new committers"
Currently the code structure for ESLint is very monolithic which make it very hard for new committers to provide pull requests. We should change this and add additional documentation as well.

[2022-04-04 23:44] simonv3 commented on #972
Just curious, eslint is now on 2.2.3, but the latest that I see in VSCode is 2.1.23. Is that update coming?

[2022-04-05 02:45] thomaswdean commented on #1229
I am also  seeing this issue on a Windows machine with the registry setting to allow for long file paths turned on. No visible errors but files with a path over 256 are not showing the linter errors.

[2022-04-05 03:43] luis-cosillo commented on #1229
@thomaswdean I had to move the files because I did not find suddenly someone has managed to solve it

[2022-04-05 03:46] thomaswdean commented on #1229
@luis-cosillo Thank you. I am considering doing the same. I just wanted to post here to see if anything is being done to address this issue.

[2022-04-05 04:05] luis-cosillo commented on #1229
@thomaswdean Yes, I still hope to have it because it may be later on, depending on the project, but hopefully they will fix it.

[2022-04-05 05:42] wChenone commented on #1442
<img width="676" alt="image" src="https://user-images.githubusercontent.com/37658262/161686316-3fd50454-990e-4126-9459-6bced8858476.png">

<img width="263" alt="image" src="https://user-images.githubusercontent.com/37658262/161686518-15ff8cc1-2047-4d97-9160-558ac0cf6aae.png">

This is mine, do not need any settings, pull down the install, just like this, I am using the vscode insiders version

[2022-04-05 07:13] dbaeumer commented on #1442
@sandy081 can you please give this a try under Mac. Might be path related. Steps are here: https://github.com/microsoft/vscode-eslint/issues/1442#issuecomment-1086583188

[2022-04-05 07:15] dbaeumer commented on #972
Which version of VS Code are you on? 2.2.3 needs a fairly updated VS Code version.

[2022-04-05 09:19] dead-claudia commented on #1266
Any updates? Still reproduces for me today.

[2022-04-05 11:56] simonv3 commented on #972
Thank you for the super fast reply @dbaeumer ! Updating eslint (i'd been ignoring the little warning for a couple of days) seems to have fixed it. Thanks!

[2022-04-06 05:32] sandy081 commented on #1442
I can't repro too.

[2022-04-06 09:22] dbaeumer commented on #1442
@sandy081 thanks

@wChenone we can't reproduce this neither on Mac nor on Linux. As asked earlier: does the validation happen correctly when using eslint in a terminal for that file?

[2022-04-06 09:39] wChenone commented on #1442
@sandy081
My computer is also mac.  When you use eslint on this file in the terminal, it also reports an error.
![image](https://user-images.githubusercontent.com/37658262/161946039-bf239973-0e20-4d6d-9157-7a8ed16da523.png)

[2022-04-06 14:11] dbaeumer commented on #1442
@wChenone then this is a general setup problem with ESLint and not with the VS Code eslint extension. All I can recommend is to find help with that in a public ESLint forum or at their repository.

[2022-04-06 14:11] #1442 closed

[2022-04-07 08:53] rchl commented on #1424
I think that .eslintrc.yaml should work with that server without any extra configuration since the server automatically loads schemas from schema-store.

[2022-04-07 09:13] AncientSwordRage commented on #1424
I checked, and I already had it installed.

![image](https://user-images.githubusercontent.com/5961746/162164418-d5de97bf-eaa6-4dd0-8143-e9cac6f22d6c.png)

![image](https://user-images.githubusercontent.com/5961746/162164179-432a5762-ae29-4544-9c26-cc70f84f84b1.png)

What next?

[2022-04-07 09:23] rchl commented on #1424
I don't think that schemas include all individual rules, just general eslint settings.

In any case, that's not an issue in this server.

[2022-04-07 18:35] betafcc commented on #1122
Thanks @numanaral , I was looking for a solution like that

FYI you can shorten it:

[code]

<img width="858" alt="image" src="https://user-images.githubusercontent.com/27316303/162268847-c2f608aa-a389-4d1d-85ec-abc42d28c1f1.png">

[2022-04-08 08:05] Rabbitzzc commented on #1355
![BIi3I5VJnj](https://user-images.githubusercontent.com/26913511/162392876-1690c871-b9ca-4925-b9e2-889fdc4aee94.png)

[2022-04-08 17:39] ocket8888 opened #1448 "Allow specifying nearest config directory as working directory"
Currently, I can specify that the eslint working directory should be
- workspace folder
- linted file directory
- "auto" inferred (the meaning of which is not very clear)
- specific sets of directories or directory globs

Consider a layout for an Angular project that uses Nightwatch for end-to-end testing. Nightwatch uses property names for some configuration options that need to be quoted like e.

[2022-04-11 07:51] dbaeumer commented on #1448
I am not sure if this will be possible since the working directory is the starting directory from which eslint (the npm module) will search for the `.eslintrc.json` file. Without that starting directory it will very likely not work at all.

[2022-04-12 02:41] AlejoM98 opened #1449 "falla con Angula.js"
Issue Type: <b>Bug</b>

marcaba como error varias lineas que no tenian en otro ordenador

Extension version: 2.2.3
VS Code version: Code 1.66.1 (8dfae7a5cd50421d10cd99cb873990460525a898, 2022-04-06T14:50:12.141Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz (8 x 2808)|
|GP

[2022-04-12 03:11] cdpark0530 commented on #1431
@remcohaszing Indeed `"editor.formatOnSave": true` ignores opt-in list of `eslint.codeActionsOnSave.rules`.

The opt-in feature only plays with this `.vscode/settings.json` on `dbaeumer.vscode-eslint 2.2.3`, `"eslint": "^8.13.0"`.
[code]

[2022-04-12 03:43] cdpark0530 opened #1450 "eslint.codeActionsOnSave.rules not working with "editor.formatOnSave": true for ts and tsx files"
# Bug Report

This issue occurs only when `.eslintrc.json` extends `plugin:@typescript-eslint/recommended`.

### 🔎 Search Terms

eslint.codeActionsOnSave.rules
related issue: [1431](https://github.com/microsoft/vscode-eslint/issues/1431)

### 🕗 Version & Regression Information

- VSCode: 1.66.1
- dbaeumer.vscode-eslint: 2.2.3 (pre-release)
- Node.js: 16.13.0
- eslint: 8.13.0
- @typescript-eslint/p

[2022-04-12 07:10] dbaeumer commented on #1449
@AlejoM98 could you please provide the issue description in English.

[2022-04-12 22:26] thomasobrien99 opened #1451 "Possible Bug: eslint installation from parent folder prioritized over eslint.nodePath"
Hello, thanks for this great extension. Curious about what I suspect may be a bug, but could also just be a misunderstanding:

Our project is setup with a traditional yarn project at the root of the repo, and one using `pnp` as a child, eg something like:
[code]

(The reason for this is that we'd like to incrementally adopt PnP if possible, while leaving the existing projects more or less alone)

[2022-04-13 08:57] dbaeumer commented on #1451
This is how node works. The NODE_PATH is used to find globally installed node modules. Node in general always starts from the file already running and searches from that point up the directory chain by looking for a node_modules folder. Only if this fails the NODE_PATH is considered. So, what you see is correct.

[2022-04-13 08:57] #1451 closed

[2022-04-13 09:05] dbaeumer commented on #1450
You also need to enable ESLint as a formatter using `eslint.format.enable`

[2022-04-13 09:15] cdpark0530 commented on #1450
@dbaeumer In my `.vscode/settings.json`, `eslint.format.enable` has always been `true`, yet it hasn't properly worked.

[2022-04-13 17:53] thomasobrien99 commented on #1451
Thanks for the response @dbaeumer. I feel like this _could_ still be prioritized over node's own default resolution? Although I guess that's not the intention.

So my understanding from this is that it's not possible for this extension to use the eslint version in the sub-project (unless it's in an actual node_modules folder) if there is an installation of eslint in a node_modules folder somewhere

[2022-04-18 07:00] WangLeto opened #1452 ".eslintignore not working in a multi-root workspaces"
I use root folder as a workspace, with eslint config file under it, and the subfolder `packages` as another workspace. Then I found that eslintignore fails to work in subfolder workspace when I open project as mutli-root workspaces.

The problem is ever mentioned in issue #428.
There is a [demo project](https://github.com/WangLeto/eslint-multi-root-workspaces) that reproduces it.

This is how I wr

[2022-04-19 07:12] dbaeumer commented on #1451
That is correct. That is how NodeJS works.

[2022-04-19 07:21] dbaeumer commented on #1452
ESLint (the npm package) only honors the ignore file in the current working directory. It doesn't look up the parent chain like it does for the .eslintrc file

[code]

This is how ESLint works.

[2022-04-19 07:21] #1452 closed

[2022-04-19 08:27] WangLeto commented on #1452
Thank you for reply, currently I added `.vscode/settings.json` setting workingDirectories to the subfolder as a workaround, like #428 did.

[2022-04-20 11:11] janjaap opened #1453 "Server crashes with message Error: Connection to server got closed. Server will not be restarted."
Eslint keeps crashing after the last update of Visual Studio Code.

VS Code:
[code]

Extension: v2.2.2
Eslint: v8.7.0

Stack trace:
[code]

[2022-04-20 14:04] damienmortini opened #1454 "One-liner operators in class constructors breaks ESLint initialization (loads infinitely)"
Issue is present on last version of VSCode and VSCode Insider.
OS tested on: Windows 11

**Sample code**

_Not Working_

[code]

_Working_

[code]

[2022-04-20 19:48] martinmckenna commented on #1355
Having the same issue. I'm finding that when I "Format Selection," it only works when my `settings.json` looks like this:

[code]

but then gives me the error in the OP when I change it to this:

[code]

[2022-04-21 01:32] kirill-develops commented on #1431
hey mate, Trying to get ESLINT to auto fix certain issues, but not all.

for example, I'd like it to handle arrow function formating, and spaces, and semicolans and quotes

` "eslint.codeActionsOnSave.rules": [
    "*semi*",
    "*jsx-quotes*"
  ],`

[2022-04-21 01:52] cdpark0530 commented on #1431
@kirill-develops I found [a solution](https://stackoverflow.com/a/71836561/10694438) for that.

[2022-04-21 01:55] kirill-develops commented on #1431
@cdpark0530 Legend mate! exactly what i was looking for!

[2022-04-21 02:25] kirill-develops commented on #1431
@cdpark0530 for whatever reason it's not actually doing anything on save and i have `editor.FormatOnSave: false`

any ideas?

[2022-04-21 02:34] cdpark0530 commented on #1431
@kirill-develops everything I know about this matter is in that answer. Make sure that your plugin is version 2.2.3, and your eslint config is correct(by checking if there is any error message in eslint plugin console)

[2022-04-21 07:04] dbaeumer commented on #1454
@damienmortini can you please provide me with a GitHub repository I can clone that demos this. Something like this highly depends on the used ESLint and plugin versions.

[2022-04-21 07:07] dbaeumer commented on #1453
This is not coming from the eslint server and points to some custom configuration.

Can you please provide me with a GitHub repository I can clone that demos what you are seeing. Then I can investigate?

[2022-04-21 09:59] janjaap commented on #1453
I think I found the issue. I had created a workspace with two project folders and since the extension was looking for the Eslint executable in that folder, it couldn't run. I've set the `eslint.nodePath` setting for both folders separately and now it works.

[2022-04-21 09:59] #1453 closed

[2022-04-22 22:53] BrandonMietheTBS opened #1455 "formatting errors"
Issue Type: <b>Bug</b>

used extension bisect to find error

Extension version: 2.2.2
VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:46:01.075Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10875H CPU @ 2.30GHz (16 x 2304)|
|GPU Status|2d_canvas: enabled<

[2022-04-23 07:15] Silic0nS0ldier opened #1456 "Support `.eslintrc.cjs`"
Since ESLint [7.26.0](https://github.com/eslint/eslint/releases/tag/v7.26.0) it has been possible to use `.eslintrc.cjs` as a config file name. Best I can tell, `vscode-eslint` does not support currently support this.

[2022-04-24 03:41] Aleuck opened #1457 "Can't autofix all problems"
I was trying to configure to autofix on save. But it doesn't work, not even when I use the action directly. Though auto fixing individual problems work as expected.

I am not sure if this is bug is caused by an issue in the plugin or in vscode itself.

### Environment

OS: macOS 12.3.1 (21E258)
VSCode: 1.66.2 (Universal)
ESLint plugin: v2.2.2

### Video demo:

https://user-images.githubusercontent

[2022-04-25 09:28] dbaeumer commented on #1457
@Aleuck could you please provide me with a GitHub repository I can clone that demonstrate this. This ensures that we are looking at the exact same setup and using the same test file.

[2022-04-25 09:31] dbaeumer commented on #1455
@BrandonMietheTBS can you please provide me with a GitHub repository that demonstrates what you are seeing (including steps on how to reproduce).

[2022-04-26 01:22] donferi commented on #1435
Is there a way we can make this a bit more seamless? Somehow have pnpm pass the `NODE_PATH` to the extension?

@zkochan may have an idea?

[2022-04-26 09:33] #1437 closed

[2022-04-26 13:54] jakubmazanec opened #1458 "Can't get rid of "Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser.""
`vscode-eslint` can't handle switching between packages in a TypeScript monorepo and linting correctly. When I work on two packages in the same repo, it seems that wrong `tsconfig.json` is loaded when linting the files from the second package, resulting in error `Parsing error: "parserOptions.project" has been set for @typescript-eslint/parser. The file does not match your project config: src\inde

[2022-04-27 00:56] ChrisDryden commented on #1458
I just came across the same issue in my monorepo with a very similar setup, my understanding is that the eslint.workingDirectories should be able to specify when you need to reload the .eslintrc, but when adding statements into the .eslintrc I see that it is only read once and not loaded for the second time when the new file is loaded. This is why it's not being registered as part of the tsconfig

[2022-04-27 10:38] jakubmazanec commented on #1458
Also I remembered that I had `eslint.workingDirectories` set to `[{"mode": "auto"}]` and it used to work; it broke sometime last year.

[2022-04-27 20:36] samlythemanly commented on #1450
I am also having this issue. @cdpark0530 did you ever get this resolved or is this still occurring?

[2022-04-27 23:36] cdpark0530 commented on #1450
@samlythemanly Without `formatOnSave`, yes I found [a solution](https://stackoverflow.com/questions/71813832/can-i-make-eslint-format-upon-my-formatting-rules-while-linting-upon-extensions/71836561#71836561) satisfying at least to me.

[2022-04-28 12:59] adrai opened #1459 "updating to eslint 8 generates "Parsing error: Invalid ecmaVersion.eslint""
"eslint": "8.14.0",
    "eslint-config-standard": "17.0.0",
    "eslint-plugin-import": "2.26.0",
    "eslint-plugin-n": "15.2.0",
    "eslint-plugin-promise": "6.0.0",
    "eslint-plugin-require-path-exists": "1.1.9",
    "eslint-plugin-standard": "5.0.0",

<img width="385" alt="image" src="https://user-images.githubusercontent.com/1086194/165757559-dae9a0d0-b1b5-4841-b4fb-7a087a596bf7.png">

[2022-04-28 14:14] leonbloy opened #1460 "Problems should not dissapear on file close"
Currently, when the extension has detected some problem in some file and it appears in the Problem panel, that problem "disappears" the moment the file is closed.

This is highly undesirable - lacking some mechanism to "open all files with problems", that info is lost.

Worst still, this happens also is the file was not originally open,

For example:
 - Enable the eslint task.
 - Add some typo to

[2022-04-29 01:15] spf-oss opened #1461 "eslint Server sendDiagnostics"
Whether the frequency of eslint diagnosis sending is too frequent and will be sent all the time during continuous input. Should it be controlled?

[2022-04-29 07:52] dbaeumer commented on #1461
You can partly control it by switch to validate on save. There is some debounce logic on the client to wait some time before requesting diagnostics. Currently there are no plans to add additional control over this.

[2022-04-29 07:52] #1461 closed

[2022-04-29 10:33] dbaeumer commented on #1450
@cdpark0530 could you please provide me with a GitHub repository I can clone that demos that. That ensure that we are using the exact same setup.

[2022-04-29 10:43] adrai commented on #1459
I uninstalled and reinstalled the plugin... it seems to work now...

[2022-04-29 11:36] adrai commented on #1459
I uninstalled and reinstalled the plugin... it seems to work now...

[2022-04-29 11:36] #1459 closed

[2022-05-01 12:25] harisraharjo opened #1462 "Eslint extension can't detect PNPM new global store location"
After I update my pnpm to version 7.0.0, eslint extension could not work and giving me this `Uncaught exception received.
Error: Command failed: pnpm root -g at checkExecSyncError (node:child_process:826:11)
    at execSync (node:child_process:900:15)
    at Object.get (.....)`. Probably it's because pnpm changes it's global store [location](https://github.com/pnpm/pnpm/releases/tag/v7.0.0)

[2022-05-02 11:44] dbaeumer commented on #1462
@harisraharjo

can you run `pnpm root -g` in a command prompt and let me know the outcome.

[2022-05-02 12:05] dbaeumer commented on #1458
The underlying problem is how typescript works. A file needs to go into a project. Since you don't let TS ESLint know about this assignment TS tries to do its best but fails for the second project.

The recommendation is to have a `eslintrc` file in each app1 and app2 and point to the corresponding tsconfig.json file. You can take this https://github.com/microsoft/vscode-eslint/blob/79d1e0dae146bb

[2022-05-02 12:06] dbaeumer commented on #1458
Just to note. It works in the terminal since a new process is launch on each validation.

[2022-05-02 13:57] harisraharjo commented on #1462
I did that yesterday and if I remembered correctly it tells me to run `pnpm setup`. Right now if I run `pnpm root -g` it gives me the _new_ pnpm store location but the extension still doesn't work

[2022-05-02 15:48] mckravchyk opened #1463 "Does not work with ESLint v8 (ESLint: Invalid Options: - Unknown options: object-shorthand)"
I have started a new project and VS Code ESLint would not work. This message popped up. ESLint from console was working fine. The problem persisted even after removing all ESLint configuration. The issue was resolved after downgrading to ESLint 7.x

`[Error - 5:44:09 PM] Error: Invalid Options:
- Unknown options: object-shorthand
    at processOptions (/home/.../project/node_modules/eslint/lib/esl

[2022-05-02 18:21] ChrisDryden commented on #1458
https://github.com/microsoft/vscode-eslint/issues/1296 I might be coming across this issue instead it describes a similar scenario

[2022-05-03 04:10] doubleplusc commented on #1462
I've encountered the same issue on Linux.
[code]
Running `pnpm root -g` in the command prompt gives me
/home/doubleplusc/.local/share/pnpm/global/5/node_modules

I set eslint.nodeEnv to the string above but the error persists.

Seems like the plugin does not have access to the pnpm command. In the VSCode terminal and a standalone terminal, I can run pnpm just fine.

[2022-05-03 12:05] dbaeumer commented on #1462
How do you install `pnpm` ?

[2022-05-03 12:19] dbaeumer commented on #1463
Which version of VS Code are you using? VS Code ships with a node version and I guess that one is too old. You can either use `eslint.runtime` to point to a newer node version or ensure that you are using the latest version of VS Code.

[2022-05-03 12:52] harisraharjo commented on #1462
Via corepack

[2022-05-03 14:51] merlindru commented on #1313
This worked for me @cgestes Thank you!!!

[2022-05-03 16:14] zhisui commented on #1329
I'm having the same problem，I solved it by updating the version of vscode

[2022-05-04 10:01] harisraharjo commented on #1462
Strangely, it works after I shut down my laptop. For people who encountered this issue, try to _shut_ _down_ your machine. I will close this issue for now

[2022-05-04 10:01] #1462 closed

[2022-05-04 10:01] dbaeumer commented on #1458
@jakubmazanec Sorry, didn't see that.

Actually I think it does makes sense that this config file is only loaded once since the server only loads the library once (otherwise validating on type had very bad performance implication). Referring to global state (`process.cwd()`) in that model can caused problems.

Any objection to close the issue since there is little I can do to fix this.

[2022-05-04 10:05] jakubmazanec commented on #1458
@dbaeumer Yes, that makes sense. Thanks again for the help.

[2022-05-04 10:05] #1458 closed

[2022-05-04 22:20] doubleplusc opened #1464 "Extension fails with pnpm command not found"
I previously commented on #1462 but OP's problem was fixed so the issue closed. My problem persists even after a restart, so I am creating a new issue.

I have pnpm installed on Linux via `npm install -g pnpm`. pnpm works fine in the vscode integrated terminal and standalone terminals.

The extension fails with the following error on load:
[code]
`pnpm root -g` returns
/home/doubleplusc/.local/sha

[2022-05-05 07:38] dbaeumer commented on #1464
How do you start VS Code? Can you try starting it from a terminal in which `pnpm` works and see if you get the same error?

[2022-05-05 09:22] BARALWUE opened #1465 "Saving '<Filename>': Getting code actions from "ESLint""
Since 2 days I get the message in the title when saving and it takes about half a minute each time.
Can anyone tell me if there was an update that causes this?

[2022-05-05 12:24] #1465 closed

[2022-05-05 16:44] doubleplusc commented on #1464
I always start it via my DE's application menu.
I did what you suggested, I opened a terminal (with working `pnpm`) and opened VSCode. The extension now works as intended.
I can start VSCode from the terminal for the time being, but it's really strange that starting via terminal vs non-terminal would have different behavior. Any chance this can be fixed?

[2022-05-06 09:33] postbird commented on #1055
In addition to modifying the global setting.json, I disabled formatOnSave in .vscode/setting.json, then the error disappeared

[2022-05-06 11:42] Asesjix commented on #1464
I have the same problem. In general, there are always various problems with regard to the shell.
In my opinion, the cause of the problem is that the plugin always starts its own instance of "/bin/sh" instead of creating an instance of the default automation profile shell.
Furthermore, the VSCode internal node is probably used and not the one from the environment. I think so because the node versio

[2022-05-08 03:29] justingrant commented on #1238
Is the new language status API available?

[2022-05-09 07:50] dbaeumer commented on #1238
Yes, but I have not merged the branch Yet.

[2022-05-10 09:53] vintprox opened #1466 "ESLint doesn't watch changes in .eslintrc.cjs"
Many known configuration files are synchronized. It was done with 754f8bc.

But it doesn't account for changes made in `.eslintrc.cjs` file, hence I have to restart ESLint server after tackling with config.

[2022-05-10 14:54] #1454 closed

[2022-05-10 14:54] damienmortini commented on #1454
Was actually caused by this issue, sorry for the bother https://github.com/microsoft/TypeScript/issues/48902

[2022-05-12 14:11] miauk22 opened #1468 "Support autodetecting Svelte"
Whenever I try to lint Svelte file I get `Unexpected token` error from `eslint(ParseError)` in very random places, but always at first few lines of file. Linting with CLI works fine, It's also working with Atom and Webstorm.

I'm using following stuff:
[code]
with `dbaeumer.vscode-eslint` extension v2.2.2.

File `.eslintrc.json` (without our rules):
[code]

Added following to `settings.json` for V

[2022-05-12 18:15] NedWilbur opened #1469 "Rule object not being cleared between lint checks"
I have custom ESLint rules, which I configure in the `.settings.json` via `"eslint.options": { "rulePaths": ["packages/tools/src/eslint-rules"] }`. These rules work as expected when manually running ESLint.

One of these rules (below) is checking for a unique value. Each time it comes across the value, it stores it in an object. If the value already exist within this object, it throws a lint error

[2022-05-13 12:57] dbaeumer commented on #1469
You need to scope the `foundKeys` value to something reasonable (e.g. file, node location)...

The problem is that the eslint extension to support validating on type keeps the ESLint parser alive and reuses it. Other I would need to spawn a new process while typing which doesn't scale at all.

The reason why it is working in ESLint is that it does spawn a new process on every time you run it in th

[2022-05-13 12:58] dbaeumer commented on #1468
@miauk22 can you please provide me with a GitHub repository I can clone that demos this?

[2022-05-13 14:24] miauk22 commented on #1468
https://github.com/miauk22/eslint-svelte-issue

[2022-05-13 15:18] NedWilbur commented on #1469
@dbaeumer Yes this confirms what I suspected, but not really sure how to create a rule like this that works with a persistent parser. I could make the rule scoped to only the file/node, but then the rule does not work properly when run across multiple files (these values need to be unique across the entire repo).

Is there anyway to have the extension simply not use this specific rule? If I move t

[2022-05-14 11:59] mckravchyk commented on #1463
I'm using 1.67.1, which is currently the latest version.

Version: 1.67.1
Commit: da15b6fd3ef856477bf6f4fb29ba1b7af717770d
Date: 2022-05-10T21:35:59.370Z
Electron: 17.4.3
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Linux x64 5.17.4

[2022-05-14 20:51] rchl commented on #1469
There is hundreds or thousands of rules across various eslint plugins and I've never noticed this problem with any rules that I'm using. Are you sure that you are using the eslint API correctly in your rule? Maybe ask in eslint developer forum or something for a possible solution?

[2022-05-14 23:04] ffxsam commented on #1055
What was the end result of this?

[2022-05-16 07:00] dbaeumer commented on #1055
The version got shipped. See setting https://insiders.vscode.dev/github/microsoft/vscode-eslint/blob/aa5170003e195ca25c4f19c275b29a641ea7b23c/README.md#L199

[2022-05-16 07:03] dbaeumer commented on #1469
You can control which rules the extension uses. See https://insiders.vscode.dev/github/microsoft/vscode-eslint/blob/aa5170003e195ca25c4f19c275b29a641ea7b23c/README.md#L232

[2022-05-16 07:05] dbaeumer commented on #1463
@mckravchyk can you try validating the file in the console using a node version 16.13.

If this works fine can you please provide me with a GitHub repository I can clone that demos what you are seeing.

If it doesn't work use the `eslint.runtime` option to ask the ESLint server to use a different node executable.

[2022-05-16 09:07] dbaeumer commented on #1468
Can you please add an eslint configuration. I get

[code]

[2022-05-16 10:33] miauk22 commented on #1468
Should be fine now, for some reason it was not uploaded earlier

[2022-05-16 18:31] #1469 closed

[2022-05-17 07:10] dbaeumer commented on #1468
Which extension are you using to get Svelte support. An extension is necessary otherwise the language id `"svelte"` is not known.

[2022-05-17 07:28] miauk22 commented on #1468
svelte.svelte-vscode ([this one](https://marketplace.visualstudio.com/items?itemName=svelte.svelte-vscode))

[2022-05-18 07:00] dbaeumer commented on #1468
Thanks!

[2022-05-21 07:32] danim47c opened #1470 "ESLint extension refreshes in seconds"
![CleanShot 2022-05-21 at 09 29 43](https://user-images.githubusercontent.com/48626234/169641081-cab8be20-52e4-43a8-b719-639828a8103d.gif)

[2022-05-23 07:52] xiangnanscu opened #1471 "How to configure to allow static class property syntax?"
[code]
Now the like:
![eslint-static](https://user-images.githubusercontent.com/8246344/169770365-806acb4a-3736-4646-87f1-f91cbde7dfbc.png)

Both local and global eslint version is `v8.16.0`
[code]
And my project root `package.json`:
[code]
And my project root `.eslintrc.js`:
[code]

[2022-05-23 09:22] dbaeumer commented on #1471
@xiangnanscu what happens if you validate that file using ESLint in the terminal?

[2022-05-23 09:25] dbaeumer commented on #1433
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-05-23 09:25] #1433 closed

[2022-05-23 09:25] dbaeumer commented on #1434
@romanlex is this still an issue for you?

[2022-05-23 09:26] dbaeumer commented on #1449
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-05-23 09:26] #1449 closed

[2022-05-23 09:26] dbaeumer commented on #1450
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-05-23 09:26] #1455 closed

[2022-05-23 09:26] dbaeumer commented on #1457
This issue has been closed because it needs more information and has not had recent activity. See also our issue reporting guidelines.

Happy Coding!

[2022-05-23 09:26] #1457 closed

[2022-05-23 09:33] xiangnanscu commented on #1471
@dbaeumer same as vs code
[code]

[2022-05-23 09:34] xiangnanscu commented on #1471
by the way, the vscode eslint extension version is `2.2.2`

[2022-05-23 09:42] xiangnanscu commented on #1471
I seem find the reason, I changed then line in `.eslintrc.js`
[code]
to
[code]
Problem solved.

[2022-05-23 09:42] #1471 closed

[2022-05-23 09:45] romanlex commented on #1434
Yes(

[2022-05-23 14:17] danim47c commented on #1470
Yes, sorry for that. Here I've recorded a video so you can see properly whats going on.

https://user-images.githubusercontent.com/48626234/169839824-fbad7f82-395a-42c3-8ac1-917c5115d23b.mp4

[2022-05-24 08:48] dbaeumer commented on #1470
That looks indeep wired. Can you provide me with a GitHub repository that demos that.

[2022-05-24 21:40] kelly-tock commented on #1373
came across this while migrating a repo I work on to pnpm. I had to one by one hoist as described here. happy to repro if we want to dive back in.

I have:
pnpm 7.1.5
a mono repo:
app1
- .eslintrc.js extends shared-eslint-config, and installs it as a workpsace dependency in pnpm
app2
- .eslintrc.js extends shared-eslint-config, and installs it as a workpsace dependency in pnpm
shared-eslint-config

[2022-05-25 10:41] miauk22 commented on #1468
@dbaeumer , do you still need more info about this one?

[2022-05-26 15:26] ruffin-- commented on #1460
2¢: If this is implemented, please make this optional/a setting. There are times I have legacy code where, if I had to correct everything in the project, would take years. ;) Being able to close files and concentrate on just what I'm working on today is live-saving.

[2022-05-26 15:40] ruffin-- opened #1472 "ESLint is not reporting issues in VS Code; does on command line."
I have a javascript file `C:\temp\temp.js`.

Its contents are:

[code]

Though the eslint extension is running...

![screenshot showing the output from the extension](https://user-images.githubusercontent.com/5659878/170522280-6b6ee58b-c862-4e66-bce5-347292799455.png)

[code]

... I'm not getting any errors reported.

If I run eslint on the command line using VSCode's terminal, it does return the

[2022-05-26 17:42] ruffin-- commented on #1472
### TL;DR

I didn't run `npm update -g`  after upgrading node?

--------

Adding that to settings actually wasn't the (only?) issue. It worked briefly, but then stopped again after a reboot. 😕

Based on [this](https://stackoverflow.com/a/68414182/1028230), I added the following to my settings.json for VS Code:

[code]

Now it's running, but saying it can't find eslint.

[code]

If I run it from th

[2022-05-28 10:14] danim47c commented on #1470
Thanks for your help but magically it fixed. I don't realized what it have changed, I hope I don't face this problem again.

[2022-05-28 10:14] #1470 closed

[2022-05-30 03:17] chinese-words-separator opened #1473 "Command 'ESLint: Restart ESLint Server' resulted in an error (command 'eslint.restart' not found)"
I tried to restart ESLint, and got that error

ESLint was running in my VSCode before, even without installing package.json in my project folder (a chrome extension project)

For some reasons, ESLint stops checking my code. I tried various steps to make ESLint work again, but it only worsens the problem as shown below:

![image](https://user-images.githubusercontent.com/91402471/170910700-d8be676a

[2022-05-30 03:56] Dunqing opened #1474 "packageManager set to pnpm will not work"
I see the following error in eslint output
<img width="1154" alt="image" src="https://user-images.githubusercontent.com/29533304/170914075-f6390b03-fd38-4130-a461-5c43844302cd.png">

After some investigation, I found out why. when my workspace already has `pnpm` installed and typing `pnpm root -g` in terminal will receive `Run "pnpm setup" to create it automatically, or set the global-bin-dir sett

[2022-05-30 09:24] pasan-pwl opened #1476 "Indentation issue with commented lines"
There is an indentation issue with comment lines. To give an clear idea please take look on the following screenshot with descriptions.

In my VS code I have configured to Auto saved with ESLint formatting.

In here I have two commented lines of code. (line 49 and 50) with proper indentation.
![Screenshot 2022-05-30 at 14 49 06](https://user-images.githubusercontent.com/96760254/170960738-31f8f917

[2022-05-30 13:55] dbaeumer commented on #1349
Things got renamed in ESLint when moving to the new API.

[2022-05-30 13:58] dbaeumer commented on #1473
Any steps how to reproduce this, best via a GitHub repository I can clone.

I tried and the command works for me or shows the following notification in the UI:
<img width="356" alt="capture" src="https://user-images.githubusercontent.com/1931590/171007537-48cd7c58-e100-4406-ba0a-7770ee9b0704.png">

[2022-05-30 14:05] dbaeumer commented on #1476
@pasan-pwl does the fixing happen correctly when you use eslint in the terminal (e.g. with the --fix option). If this is the case can you please provide me with a GitHub repository I can clone that demos what you are experiencing.

[2022-05-31 07:15] dbaeumer commented on #1468
@miauk22

The auto detection of Svelte is not working. However, you can enforce it via the `eslint.validate` setting. Something like

[code]

[2022-05-31 07:16] dbaeumer commented on #1468
<img width="568" alt="capture" src="https://user-images.githubusercontent.com/1931590/171114764-51625bf0-f407-4438-9211-e03cbac7bc8d.png">

[2022-05-31 09:57] tobiasbueschel commented on #1468
Thanks @dbaeumer your comment helped me fix the issue I had!

My `eslint` output on the CLI produced very different output to what VS Code was showing and setting it explicitly solved it.

[2022-06-01 02:14] fpintos opened #1477 "ESLint server keeps crashing with out-of-memory errors on WSL."
Issue Type: <b>Bug</b>

ESLint server keeps crashing with out-of-memory errors on WSL.

<details>
<summary>Sample output</summary>

[code]

</details>

Extension version: 2.2.2
VS Code version: Code 1.67.2 (c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5, 2022-05-17T18:15:52.058Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No
Remote OS version: Linux x64 5.10.102.1-microsoft-standard-WSL2

<d

[2022-06-02 10:50] dbaeumer commented on #1477
You can control the amount of memory associated with the server process using the setting: `eslint.execArgv`

[2022-06-02 10:50] #1477 closed

[2022-06-02 10:51] dbaeumer commented on #1473
OK. Thanks.

[2022-06-03 00:45] rafawendel opened #1478 "Extension doesn't parse TS configuration glob properly"
After exhaustive testing and comparison, I noticed when I use a globstar in my `tsconfig.json` file to match all files, despite my CLI Eslint + `@typescript-eslint/parser` parsing normally such configuration, VSCode ESLint server still will throw an error with the following:

[code]

The error goes away when my `tsconfig.eslint.json` explicitly includes the file, e.g.: `".eslintrc.js"`. Again, the