[2017-10-02 13:22] dbaeumer commented on #305
And ESLint is installed under /home/visi/.nvm/versions/node/v8.1.2

[2017-10-02 13:24] dbaeumer commented on #304
The ESLint extension doesn't do any interpretation of the configuration. It is passed to the ESLint npm module. What happens if you run ESLint from a terminal on that project give the same configuration?

[2017-10-02 13:30] dbaeumer commented on #302
You get the same error message when executing ESLint from a terminal without VS Code.

![capture](https://user-images.githubusercontent.com/1931590/31079632-8fc8d5e2-a786-11e7-8ad7-1f07cff3c96d.png)

Please report the issue against ESLint itself since there is little the ESLint extension can do to fix this.

[2017-10-02 13:30] #302 closed

[2017-10-02 13:32] avizov commented on #91
the link is broken... can you please check?

[2017-10-02 13:33] dbaeumer commented on #303
Actually this doesn't mean that the server actually needed so much time. The extension host is single threaded (node) and if another extension blocks the event loop the response can't be processed. Do you have any additional plugins installed. Does this repro with only having ESLint extension enabled?

[2017-10-02 13:34] dbaeumer commented on #91
https://github.com/Microsoft/vscode-eslint/blob/master/README.md#using-the-extension-with-vs-codes-task-running

[2017-10-02 13:38] dbaeumer commented on #275
This works for me. Can you provide a cloneable GitHub repository that reproduce the problem ?

[2017-10-02 13:51] janaagaard75 commented on #91
This answer here on Stack Overflow might also be helpful: https://stackoverflow.com/q/41702815/37147.

[2017-10-02 14:18] datoml commented on #303
I also tried with only ESLint extensions enabled and the same effect.
Do I have any chance to debug it?

[2017-10-02 14:20] avizov commented on #91
Just to verify, the proposed "task" solution is it from vscode client side (an ability to run tasks in vscode editor)?
In our case we are not using vscode  editor as our client but we are using some another editor tool. Is there option to run task using LSP protocol?

[2017-10-02 15:18] trs commented on #304
Yeah you're right, nothing to do with this extension.

Looks like this was confusion between versions 3 and 4. Gave an error with 3, but not with 4.
Thanks

[2017-10-02 15:18] #304 closed

[2017-10-02 15:30] igorvisi commented on #305
Yes It is .

[2017-10-04 08:08] dbaeumer commented on #305
Hard to say why this is failing then. It works for me using nvm as well.

Can you enable tracing to see where the extension actually tries to find the node modules. `"eslint.trace.server": "verbose"` and append the trace here.

[2017-10-04 08:43] dbaeumer commented on #303
Yes, you can do the following which would be highly appreciated:

- clone this repository
- run npm install
- run npm run compile
- open vscode
- in extension.ts change line https://github.com/Microsoft/vscode-eslint/blob/master\client\src\extension.ts#L361 to
[code]
- got the the debug viewlet
- select the Launch Extension configuration and start debugging (F5)
- open the workspace that shows the

[2017-10-04 09:57] anks333 commented on #48
I was facing the same issue,
probably because of eslint installation, eslint was installed globally on my system and all dependencies were installed as dev-dependency. so what I did, simply removed the eslint from global
 `npm uninstall -g eslint`
and install eslint locally
`npm i eslint --save-dev`

then run this(mac or Linux)
`./node_modules/.bin/eslint --init`

for windows
`.\node_modules\.bin\

[2017-10-04 10:17] datoml commented on #303
I tried to do npm install but it seems like the proxy wont let me install vscode.

[code]

Where do I have to add the proxy to make it work?

[2017-10-04 13:13] touzoku commented on #271
@dbaeumer I have the following configuration, still no reaction from VSCode.
[code]

[2017-10-05 07:26] clakech opened #308 "Multiples config files ?"
Hi,

We choose to mix our spec files and regular files in the same directories.

We would like to have separate eslint configuration for *.spec.js files and other *.js files.

Is that possible with this extension ? with eslint we use 2 differents config files and run 2 separate command line to lint our codebase

[2017-10-05 09:19] thinklinux opened #309 ".eslintignore is not working"
Uploading a screenshot. Maybe I am doing something wrong but the __test__ folder is not ignored for some reason.

![screen shot 2017-10-05 at 12 10 22](https://user-images.githubusercontent.com/326949/31219893-5af36e7a-a9c7-11e7-8be8-aa2a28696fa0.png)

VSCode 1.16.1
ESlint plugin version 1.3.2

[2017-10-06 07:26] scholtzm opened #310 "File path resolved incorrectly when using mono repo structure"
Seems like certain file paths are resolved incorrectly when using the following mono repo structure:

[code]

Here's a screenshot from a simple example project:

<img width="1302" alt="screen shot 2017-10-06 at 09 17 26" src="https://user-images.githubusercontent.com/2640934/31267287-db064b9a-aa77-11e7-8a06-5daba906b45a.png">

If I open the package directly:

<img width="696" alt="screen shot 2017

[2017-10-06 07:55] dbaeumer commented on #310
@scholtzm can you provide a GitHub repository I could clone. That will ease tracking this down.

[2017-10-06 07:59] dbaeumer commented on #309
The reason is that .eslintignore files are only resolve relative to the current working directory which in our cause the folder that contains the server folder. Hence the file is not read.

ESLint as support to specifying working directories for layouts like the one you use. Please see https://github.com/Microsoft/vscode-eslint#settings-options

Ping if this are still unclear.

[2017-10-06 07:59] #309 closed

[2017-10-06 08:00] dbaeumer commented on #308
This is currently not possible.

[2017-10-06 08:02] dbaeumer commented on #271
Does that work in a terminal using ESLint command line tool.

[2017-10-06 08:02] clakech commented on #308
thanks,

is this feature a good thing ? should we implement it here ? or elsewhere ?

[2017-10-06 08:05] dbaeumer commented on #303
This is really strange since the vscode.d.ts file is fetched from our GitHub repository an it looks like you were able to clone this repository. Do you need to configure proxies to access GitHub?

[2017-10-06 08:07] dbaeumer commented on #308
Yes, the right place to implement this is here. What needs to be done is to have a setting that allows to point to different configuration files for different file patterns. But I am not sure how to best then pass this to the ESLint npm module.

[2017-10-06 08:08] dbaeumer commented on #48
@anks333 ESLint in general (the command line version as well) requires that ESLint and all extension are either installed globally or locally. You can't mix the installation scope.

[2017-10-06 08:10] scholtzm commented on #310
@dbaeumer Here's the code from screenshots: https://github.com/scholtzm/vscode-eslint-issue-310

[2017-10-06 08:13] datoml commented on #303
I have set up a http.proxy for git and I was able to clone the repo. Unfortunately npm install isnt working.

[2017-10-06 08:13] touzoku commented on #271
@dbaeumer yes, see the comment above

[2017-10-06 08:57] clakech commented on #308
something need the config pattern of lint-staged project maybe ?

{
  "*.js": ".eslintrc.json",
  "*.spec.js": ".eslintrc.spec.json",
}

[2017-10-06 17:30] imdanielpiva commented on #265
Hello, there. I've been facing the same problem, isn't there any solution or explanation for this yet?

[2017-10-07 13:06] thomashoggard opened #311 "Failed to load the ESLint library for the document"
I'm receiving the error message **Failed to load the ESLint library for the document** when opening any JavaScript file.

VSCode Version: 1.17.0
ESLint Extension Version: 1.3.2

**.eslinerc.json**
[code]

**package.json**
[code]

**Error Message in OUTPUT Panel**
[code]

[2017-10-07 17:02] clakech commented on #308
Seems like we may have this is eslint already
https://eslint.org/docs/user-guide/configuring#configuration-based-on-glob-patterns

[2017-10-07 17:02] #308 closed

[2017-10-07 17:02] clakech commented on #308
Closing to investigate if this can be solve using eslint

[2017-10-09 00:06] igorvisi commented on #305
I only installed globally which normally works

[2017-10-09 00:06] #305 closed

[2017-10-09 13:00] QuentinRoy opened #312 ".prettierc overrides are ignored"
It seems the plugin ignores prettier's overrides options. E.g. the following `.prettierc` fails for the directory `build_tools`:

[code]

[2017-10-09 13:01] #312 closed

[2017-10-09 13:01] QuentinRoy commented on #312
Apologies, this was not addressed to this repository.

[2017-10-10 04:12] doctafaustus commented on #177
The global .eslintrc file was hiding in C:\Users\User for me. Deleting that solved this issue.

[2017-10-11 13:14] peltsi212 opened #313 "VSCode hangs or freezes when eslint is installed"
VSCode Version: Code 1.15.1 (41abd21, 2017-08-16T17:16:27.618Z)
OS Version: Linux x64 4.4.0-93-generic (Ubuntu 16.04 LTS)
Extensions:
Extension | Author (truncated) | Version
-- | -- | --
vscode-eslint | dba | 1.2.11

When eslint is disabled there is no problem
Related issue in vscode is 35475

steps to Reproduce:

25 Aug 2017

I cannot say exact pattern what to do to repeat freeze.
I am editing .

[2017-10-11 19:16] jeromequintard commented on #278
Since the last VSCode or Eslint version, I have the same issue :
https://stackoverflow.com/questions/46695894/eslint-vscode-the-whole-object-is-underlined

[2017-10-12 16:42] doasync commented on #48
@dbaeumer Yes, you are right. That's why I created only one package for Airbnb preset [eslint-config-airbnb-bundle](https://www.npmjs.com/package/eslint-config-airbnb-bundle), which can be installed globally or locally. You will get `eslint` command at once and it will support Airbnb config by default.

[2017-10-13 11:13] dbaeumer commented on #313
@peltsi212 ESLint validation happens in its own process which can't freeze the editor itself. How many ESLint errors do you usually have in our JS files ?

[2017-10-13 11:13] dbaeumer commented on #313
I also added a comment to #35475

[2017-10-13 11:17] dbaeumer commented on #308
@clakech thanks. I wasn't aware of this one either.

[2017-10-13 11:19] dbaeumer commented on #311
What happens if you execute ESLint in a terminal to validate the file. Is it working correctly?

[2017-10-13 11:23] clakech commented on #308
I tested this and now I can activte eslint in vscode, the proper
configuration is used depending of the pattern of the files
names/directories . It rocks !

Le ven. 13 oct. 2017 à 13:17, Dirk Bäumer <notifications@github.com> a
écrit :

--
Cyril Lakech

[2017-10-13 11:25] dbaeumer commented on #271
@touzoku I am not a page / visualforce file expert. Do you have a visual force plugin installed to get support for it?

[2017-10-13 11:26] dbaeumer commented on #308
Cool to know.

[2017-10-13 11:27] dbaeumer commented on #303
@datoml sorry for the late response. Was out of office. How does npm install fail ?

[2017-10-13 11:47] dbaeumer commented on #310
@scholtzm thanks. You need to let ESLint know which working directories you have. The reason is that ESLint resolves the ignore file locally to the current working directory which in your case is the folder which contains the packages folder. The documentation is here: https://github.com/Microsoft/vscode-eslint/blob/master/README.md

In the example you provide and entry like this is necessary:

[c

[2017-10-13 11:47] #310 closed

[2017-10-13 12:37] scholtzm commented on #310
@dbaeumer Thank you for your response. I did not know about that setting.

I tried placing it inside workspace config and it seems to solve the issue but only partially:

![image](https://user-images.githubusercontent.com/2640934/31546482-d3286492-b023-11e7-9553-9e1c3aaad1bc.png)

[2017-10-13 13:40] peltsi212 commented on #313
It varies. Normally 0 -30 errors per file and about 10 files open.
no-undef and no-unused-vars are typical errors.

Javascript is for Node 8 and contains ecmascript 2017 async and await .

[2017-10-13 14:25] peltsi212 commented on #313
I have .eslintrc.js in project root.
Content is
module.exports = {
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2017,
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    }
};

[2017-10-16 06:18] datoml commented on #303
Still the same problem :(.

[code]

[2017-10-16 07:44] dbaeumer commented on #313
@peltsi212 thanks for the information. When the hang appears do you have high CPU load ?

[2017-10-16 07:46] dbaeumer commented on #313
@peltsi212 can you please add the information to https://github.com/Microsoft/vscode/issues/35475. It is very unlikely that this is only caused by the ESLint extension so we should continue the discussion in the VS Code core system.

[2017-10-16 07:46] #313 closed

[2017-10-16 09:06] dbaeumer commented on #278
There is little I can do about it. The start / end information comes from the ESLint npm module and I am very reluctant to tweak some for specific purposes. Here is what ESLint gives me in the provided example:

![capture](https://user-images.githubusercontent.com/1931590/31603922-fccf7174-b261-11e7-82fe-2cd1ad4e5b8c.png)

I will close the issue. If you think the ranges should be different please

[2017-10-16 09:06] #278 closed

[2017-10-16 09:17] dbaeumer commented on #310
@scholtzm a little bit more tricky since the path in .eslintrc is relative. You can either make it absolute or ask ESLint to actively perform cwd operations using the following settings:

[code]

[2017-10-16 09:59] scholtzm commented on #310
And it works 👍 Thanks

[2017-10-16 10:39] halvardos opened #314 "eslint.run onSave not respected"
Hi!

Thanks for an awesome editor and plugin :)

I can't seem to get the plugin to work as expected with the setting  `"eslint.run": "onSave"`.

When setting the eslint.trace.server to verbose I can still see the linter running on every keystroke.

Below is a gist of my settings and a gist of some output from the plugin.

Settings:
https://gist.github.com/halvardos/21da17b6f5893ad11b444eca663875ee

[2017-10-16 11:06] halvardos commented on #314
My bad.

I did not see the difference between eslint problems and built in js validation problems.

I wish this setting had an onType option.
"javascript.validate.enable": false

[2017-10-16 11:06] #314 closed

[2017-10-16 14:54] i328638 opened #315 "Dynamic change of .eslintrc file rules"
When changing the .eslintrc file that exist in the project the validation does not changing respectively.
In the server it seems that on DidChangeWatchedFilesNotification supposed to handle this situation and validate all the open files again with the new rules, but it doesn't work for me.
Am I missing something?

[2017-10-16 16:11] Zeph33 opened #316 "vue file : sourcetext.startsWith is not a function"
VSCode 1.17.1 (windows x64)
ESlint Plugin 1.3.2
Vetur Plugin 0.9.11
Package.json :
[code]
Settings :
[code]
Open vue file generate error `sourcetext.startsWith is not a function`

[2017-10-17 04:52] dewdad opened #317 "ESlint does not autocorrect anymore"
- Windows 10 x64
- VSCode 1.16.1

None of the the commands to fix auto-correctable problems including the eslint.run: "onSave" settings work. I can see eslint warnings on the terminal such as
✘  http://eslint.org/docs/rules/no-trailing-spaces  Trailing spaces not allowed

package.json

[code]

.eslintrc.js
[code]

.vscode/settings.json
[code]

I'm also referencing this [issue opened on the VSCode

[2017-10-17 08:27] PaddyMann opened #318 "Can't get child create-react-app to eslint correctly"
I have a structure like:

[code]

The `app` folder was created by [create-react-app](https://github.com/facebookincubator/create-react-app) which sets up `eslint`.

Until recently, everything worked great. The rules were picked up from my base `.eslintrc` config and applied through the `api` and `app` directories.

Since the end of the week, something's changed and the eslint rules _are_ being app

[2017-10-17 12:18] halvardos opened #319 "Feature request: clear errors/warnings on type"
When i have  ` "eslint.run": "onSave"` set, i would prefer it if errors were cleared from the workspace when i start typing.

The reason why I have ` "eslint.run": "onSave"` set is that I get distracted by a lot of error signals in the editor and just want them shown when i press save.

For me this makes it harder to isolate one thing to work on, if there are multiple errors in the open file.

The

[2017-10-17 12:23] halvardos commented on #319
Maybe this is the wrong place for this, as this might be handled by the editor? That problems are underlined until they are fixed?

Even a line that is changed is now marked as a problem until I hit save again.

[2017-10-17 16:54] eric-burel commented on #272
Hi, I managed to reproduce on Ubuntu 16.04, using the Insider build of VSCode (v1.18) and only installing eslint.

Could you please take a look at this ? This bug is really painful and completely prevents me from using flow. I can help if you have an idea about what could cause this.

Note that:
- typing something else than `@flow` eg `@foobar` won't open those file
- typing `flow` does not trigge

[2017-10-18 05:17] Zeph33 commented on #316
Use eslint-plugin-vue beta 3 and vetur lint, no error and lint is ok

[2017-10-18 05:17] #316 closed

[2017-10-18 08:21] dbaeumer commented on #272
@eric-burel actually I have no idea. What content does the tmp file have? What is it's name. Does it give any hint who might be responsible for creating it

[2017-10-18 08:22] dbaeumer commented on #319
No it is the right place and a valid feature request. Are you willing to work on it?

[2017-10-18 08:27] dbaeumer commented on #317
@dewdad do you have auto save enabled?
[code]

Autofix doesn't work with auto save. If not can you provide a workspace I can clone to investigate. Easier for me to setup :-)

[2017-10-18 10:41] oliversalzburg opened #320 "Plugin looking for .eslintrc for non-existent file"
I see the following warning on my ESLint log:
[code]
I have no idea how it came up with the `migrate.js.git` filename. The `.eslintrc` is located in the `database2` folder.

[2017-10-19 06:54] dbaeumer commented on #320
This should be fixed. Which version of VS Code are you running ?

[2017-10-19 07:20] eric-burel commented on #272
Hi @dbaeumer here is a copy of the file in the original issue of `flow-for-vscode`. The generated files are always the same, and are similar to this in my own case too.

It talks about about triggering `flow` in a child process, and it also seem to contain information about the source code being typed. But once again, it appears without installing the flow plugin. So it looks like eslint or babel

[2017-10-19 12:51] oliversalzburg commented on #320
I ran into it in 1.17.1. Haven't confirmed with 1.17.2

[2017-10-19 20:53] scramble45 commented on #277
how did you solve this?

[2017-10-20 10:44] dbaeumer commented on #272
Can you check if such a file is generated when you run ESLint on the command line  / terminal ? I still have no idea why VS Code opens a file added to the tmp folder automatically

@bpasero have you ever heard about something like this?

[2017-10-20 10:47] dbaeumer commented on #318
Can you provide me with a GitHub repository to clone. That would help tracking it down.

What very likely will help is the `eslint.workingDirectories` setting for ESLint extension. See https://github.com/Microsoft/vscode-eslint/blob/master/README.md

[2017-10-20 10:51] dbaeumer commented on #315
This works for me:

![cast](https://user-images.githubusercontent.com/1931590/31817652-4ad1c36e-b595-11e7-991d-6c38a4a2c0a8.gif)

Can you provide a GitHub repository that I can clone to reproduce your behavior.

[2017-10-20 10:58] dbaeumer commented on #303
You could copy the file by hand from https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts into the client/node_modules/vscode location. You also need to remove the `"postinstall"` script from the client's package.json file to make npm install run successful.

[2017-10-20 16:59] eric-burel commented on #272
I'll try to provide you the project config that leads to this as soon as possible, what you'll need to debug this is definitely is a project where you can repro.
Do you know where those files could be located, so that I investigate more ?

[2017-10-20 20:12] philipithomas opened #321 ".eslintrc.js no longer loaded"
I've been using the VueJS Webpack starter kit, which uses a `.eslintrc.js`. This past week, it has stopped being loaded. Reviewing the documentation, it looks like this extension seeks and `.eslintrc.json` file instead of `.js`, and this has broken compatibility.

Will `.js` configuration files still be supported? If not, is there a migration guide?

[2017-10-23 06:20] bpasero commented on #272
We open a file automatically in the background if a document is created that contains unsaved changes. Maybe the extension is writing to this tmp file via our document API?

[2017-10-23 07:30] dbaeumer commented on #272
@eric-burel claims that this only happens with ESLint extension installed. And the ESLint extension is not writing to a document using VS Code's API.

@eric-burel you could try to debug this to see you could be the cause of this and whether it is an extension. To do so start VS Code with the following flag:

- start code with --inspect-extensions=9333
- when code opens open the developer tool (F1

[2017-10-23 07:32] dbaeumer commented on #321
@philipithomas all valid ESLint configuration formats are supported and a .eslintrc.js file works for me. Can you provide me with a GitHub repository that I can clone that demos the problem?

[2017-10-23 10:01] eric-burel commented on #272
Hi, I tried this, but the breakpoint does not seem to be triggered when those tmp file is triggered.
Am I setting the breakpoint right ?

![capture du 2017-10-23 12-00-08](https://user-images.githubusercontent.com/7983005/31883337-dcfb4b56-b7e9-11e7-8951-d353284f71f7.png)

[2017-10-23 10:19] eric-burel commented on #272
I tried to setup breakpoints on your package `extension.js`, here is the stack trace:

The file I work on as the word `flow` in the top comment section. Here I press @, so that the word `@flow` appears in my file, the breakoint on `didChange` is triggered, **tmp file is NOT open yet**

[code]

Breakpoint on `provideCodeActions`, **still no tmp file**

[code]

Next step when I press the play button

[2017-10-23 14:12] datoml commented on #303
Ok. I got it running ... kind of :).
This is what I got for now. But node is unable to connect.
![eslint-extension-debug](https://user-images.githubusercontent.com/10552487/31893848-e7b9eca0-b80c-11e7-8ca4-432deaf8d5c9.PNG)

[2017-10-23 14:43] #187 closed

[2017-10-23 14:44] dbaeumer commented on #187
See https://github.com/Microsoft/vscode-eslint/blob/master/README.md#settings-options how to enable this.

[2017-10-23 16:33] philipithomas commented on #321
@dbaeumer It's a private repo. I just validated that the `.eslintrc.js` file hasn't changed in 3 months, but it stopped being loaded in the last week or two.

When I go to VScode and try to run "ESLint: Fix all auto-fixable problems", it says `ESLint is not validating any files yet.`. What debugging tools do I have to specify a file, view a loaded file, see error logs, etc?

[2017-10-23 16:38] philipithomas commented on #321
@dbaeumer I created a new repo using the VueJS Webpack starter template and their ESLint config, and it has the same issue:

https://github.com/philipithomas/vue-eslint-demo

(Source repo - https://github.com/vuejs-templates/webpack)

When I open the workspace in VSCode, then open `src/components/HelloWorld.vue` and run `Eslint: Fix all auto-fixable problems`, it says `ESLint is not validating any

[2017-10-24 05:51] bpasero commented on #272
@eric-burel you could also try to set a breakpoint into `editorPart.ts#openEditor()` which is the method that gets called to open up an editor to see where this call is being made from.

[2017-10-24 07:03] ravshansbox opened #322 "Do not activate eslint server for projects without eslint config files."

[2017-10-24 08:14] eric-burel commented on #272
Hi, @bpasero, here it is:

When I type `@flow`, this is triggered:

[code]

Then it goes to the last line, triggering `this.doOpenEditor`. And it opens my tmp file.

So what may be wrong ? Something is calling the VSCode tab opening API ? Can I tell who triggered this event ?

[2017-10-24 09:50] dbaeumer commented on #272
If the breakpoint in `e.prototype.showTextDocument` is not hit then the file is not opened by an extension. This is the only API how an extension can actively open a file and make it visible in the editor.

This being said what could happen is the following:

- the tmp file exists as a buffer in our system
- since the tmp file is a JS file it travels to the ESLint extension
- they file gets auto f

[2017-10-24 09:52] dbaeumer commented on #272
and when you hit the `provideCodeActions` the second time for which file are code actions requested. For the tmp file?

[2017-10-24 09:56] dbaeumer commented on #272
And please enable ESLint tracing via the settings `"eslint.trace.server": "verbose"`. This prints a trace of the messages send to the ESLint server in the ESLint output channel. Please attach the trace here. May be it help explaining why the tmp file comes into the system.

[2017-10-24 10:00] dbaeumer commented on #322
This is a chicken egg problem. Since ESLint has so many ways to provide a config file it is hard to tell if a file has a valid .eslintrc configuration. It is simply not enough to look for a .eslintrc.json file in the root. In ESLint itself even the name of the config file can be custom. So the only way to find this out is to start the ESLint server.

I will close the issue. The way how we decided

[2017-10-24 10:00] #322 closed

[2017-10-24 10:04] dbaeumer commented on #321
This is not an .eslintrc.js issue. You need to tell the ESLint extension to validate vue files. Out of the box on JS files are validated. See the config setting: `eslint.validate` here: https://github.com/Microsoft/vscode-eslint

I will close the issue. @philipithomas please ping if using this setting didn't fix your problem.

[2017-10-24 10:04] #321 closed

[2017-10-24 10:07] dbaeumer commented on #303
Do you have a firewall that blocks port 6010. The debugger fails to connect to that port for the server?

[2017-10-24 10:19] ravshansbox commented on #322
At least it's possible to make it configurable with something like, `eslint.requireExplicitConfigFile: true`.

[2017-10-24 10:39] datoml commented on #303
Only the windows firewall afaik. But it seems like it tries to connect to an external ip again as you can see on the second screenshot. Or does this have nothing to do with the problem?

[2017-10-24 13:20] bpasero commented on #272
The stacktrace implies that this is the main side asking the renderer to open some files. Looking at how this can be triggered, here are some candidates:
* running "code filePath" as process to open a file path in code
* executing the `vscode.openFolder` command from an extension

[2017-10-24 15:54] eric-burel commented on #272
@dbaeumer setting auto fix to false will strill trigger the tmp file. The second `provideCodeAction` indeed seems to be targeted at the tmp file, since it runs the same workflow as when we open a file. The eslint trace will print in my bash or in the VSCode console ?

@bpasero Here is the stack trace when I type "@flow".

[code]

Here is what I have in the vs code console:
[code]

Note that this b

[2017-10-24 16:00] bpasero commented on #272
@eric-burel ok so if it is extension unrelated, could you distill some steps to reproduce for me to try out and see if I see the editors opening too?

[2017-10-24 20:24] eric-burel commented on #272
I'll try asap, this bug is dependant on the flow/esling/babel config (or maybe the 3 of them) so I'll try to build a minimal repo where you can reproduce.

[2017-10-25 13:08] i328638 commented on #91
I created PR #323 for prviding a new project level diagnostics mode.
I used the existing `initializationOptions: any` which is part of the initialization parameters.
I added there a new property `projectValidation` that if true, diagnostics are maintained on the whole project level and not only for opened documents.
I tried to cover the changes in document life cycle for this new mode.
Please revi

[2017-10-25 20:03] eric-burel commented on #272
Hi, after trying to build a minimal repo, I found out that this is definitely related to an underlying binary (I'll bet on flow), because the issue seems to have disappeared when I deleted node_modules and reinstalled it, which I guess may have updated some libs.

I'll try another day, in case I'm wrong.

[2017-10-26 11:09] tranquille opened #324 "Feature request: Ability to set babel-eslint environment variable BABEL_ENV"
Hi,

in my project I use babel with different environments and our linting is only working with a correctly set BABEL_ENV variable. Unfortunately there is no possibility to configure any Environment Variable for the eslint process in vscode. Or am I missing something?

Do someone know a workaround for this kind of problem? Or would it be possible to add a configuration for environment variable for

[2017-10-26 23:00] ma53 commented on #154
Is there any chance this issue will receive any attention?  There are no formatters available that can take the place of eslint's autoFix functionality, and to be required to run it multiple times is a major pain point.

[2017-10-27 00:13] alexeagle commented on #154
@ma53 I'm curious, what more do you want a formatter to fix?

On Angular we use clang-format which does things like sort imports alphabetically. That's a feature I know prettier is missing.

[2017-10-27 00:57] zp1112 commented on #185
@dbaeumer Still not working properly,When I try to autofix my elsint issues, I get incorrect textual changes.fix information have incorrect positions.This is my config

`// 将设置放入此文件中以覆盖默认设置
{
  "editor.fontSize": 18,
  "eslint.autoFixOnSave": true,
  "files.associations": {
      "*.vue": "vue"
  },
  "terminal.integrated.cursorStyle": "line",
  "terminal.integrated.shell.windows": "F:\\Git\\bin\\

[2017-10-27 01:12] ma53 commented on #154
I mentioned the lack of formatters that could take the place of ESLint to contest the argument @egamma made.  It seems to me he's dismissing this issue because he feels that this is a piece of responsibility that should be delegated to a formatter.  I disagree for a number of reasons, but even if I granted that point it's still the case that there is no such formatter that can fill the shoes of ES

[2017-10-27 01:41] alexeagle commented on #154
@ma53 I asked out of sincere curiosity, if there is something you think a formatter could be doing.

I think that everyone on the thread agrees that this should be fixed, however based on the design discussion it seems to be hard. That means trading off this issue against other things. Making that tradeoff requires looking at the alternatives. So if using a formatter *mostly* ameliorates the need

[2017-10-27 08:22] dbaeumer commented on #185
@zp112 can you please open a new issues with steps on how to reproduce your problem (best would be a GitHub repository I can clone). I quickly tested it and autofix does work for me in my simple setup.

[2017-10-27 08:24] dbaeumer commented on #324
@tranquille this is currently not possible.

However you can start VS Code from a terminal and setup the env in the terminal before. The env then travels down to the eslint process.

[2017-10-27 08:25] dbaeumer commented on #293
Closing as dup of #298

[2017-10-27 08:25] #293 closed

[2017-10-27 08:34] dbaeumer commented on #322
I still think that will be a slippery slope since such a setting will be force to honor all eslint config locations as well over time.

I think we should better have a setting to not show the output panel in case no validation can happen. And the eslint extension should stop the server if no validation can happen.

[2017-10-27 08:34] dbaeumer commented on #322
I am open for PRs to address this.

[2017-10-27 08:50] dbaeumer commented on #303
Sorry my mistake. The is something broken with the client install. It can't find the vscode-languageclient libraries hence the server will not start. Can you switch to the client folder open the package.json file and remove the postinstall script and then run npm install. This should install the missing npm modules.

[2017-10-27 11:47] ma53 commented on #154
@alexeagle I appreciate that you have taken the time to engage with me on this.  Let me see if I can give you a satisfactory answer.

I did not get that impression reading through it.  This statement seems to directly contradict your earlier comment (which, I admit, was over a year ago at this point, so please correct me if your thoughts on this have changed):

What is the ultimate reason these us

[2017-10-27 11:47] tranquille commented on #324
@dbaeumer thanks for your fast reply. With the workaround to start VS Code from the command line it's working like expected.

I will give it a shot to create a pull request for this feature. :-)

[2017-10-27 12:02] leandono commented on #154
Hi guys. We had this problem about six months ago, using Standardjs with the autoFixOnSave config enabled (that use ESlint behind). Our workaround was use Prettier to format the code (with some custom configuration works similar to Standard) and keep ESlint to only lint the code.

[2017-10-27 14:50] mudrz commented on #154
I started using Prettier because of this too, but it turns out it is better at formatting than ESlint anyways

[2017-10-30 07:30] datoml commented on #303
Hey. The postinstall script was already removed. I ran npm install again but nothing changed. Still got this error when launching the extension in debug mode.
![eslint-extension-debug-3](https://user-images.githubusercontent.com/10552487/32159168-97cdfef8-bd4c-11e7-8713-4e35c8473f78.PNG)

[2017-10-31 11:06] ItsNoHax opened #326 "Linting breaks when using a Mixin in React"
Please let me know how I can provide more information to debug this issue.

Basically at work we have a React-Native mobile app that still uses a couple mixins.

I've been noticing my linting start like lagging behind and eventually just stops working in these files.

[2017-10-31 14:13] egamma opened #327 "eslint: simplify description for packagemanager setting"
_From @egamma on October 31, 2017 14:11_

Testing #37142

Suggest to simplify the current description:
![image](https://user-images.githubusercontent.com/172399/32227975-2125394a-be4d-11e7-9fc5-f4a690159a88.png)

I would not mention global modules. For example:
"The package manager you use to install node modules."

_Copied from original issue: Microsoft/vscode#37297_

[2017-10-31 14:16] egamma opened #328 "ESLint should show a warning icon when something failed in the status bar"
In TSLint I now show a warning octicon when there is an error in the server (see below). Suggest that eslint uses the same approach.

![image](https://user-images.githubusercontent.com/172399/32228405-6f8d2484-be4e-11e7-832f-c224e67c63f2.png)

Also for TSlint I now show the status bar entry only when there is an error or warning. There is a setting to always show the status bar entry.

[2017-11-01 12:53] tsteuwer-accesso opened #329 ""indent" rules not being applied in function params"
We have the "recommended" rules as well as the following specific rules on indent:

[code]

It works everywhere except function parameters. For instance:

[code]

`myParam3` and `myParam4` should be aligned with `myParam1` and 2. However, this doesn't work in VS. If you run eslint on the file itself in commandline, it shows the errors.

[2017-11-01 13:24] #327 closed

[2017-11-01 14:30] Jamstah opened #330 "Not working on new install"
I installed the eslint module and opened up a javascript file, expecting it to "Just Work" as I have an eslint rc file and eslint installed globally.

I got no highlighting even when making obvious error, so I check the command palette and tried Enable ESLint, and got "command 'eslint.enable' not found"

I'm not sure where to go next...

[2017-11-01 14:31] maksimkurb opened #331 "Activating extension `dbaeumer.vscode-eslint` failed"
You have published version `1.4.1` just an hour ago and when I updated, plugin stopped working.
![2017-11-01 17-27-32](https://user-images.githubusercontent.com/1351924/32279585-37c6e076-bf2a-11e7-98d2-a10de543f4d4.png)

It looks like that plugin is failed to build before publishing to VS Marketplace

[code]

[2017-11-01 14:32] kvinlambert commented on #252
I'm having the same issue, tried pretty much everything, deleted all my extensions and downloaded only eslint, and nothing changed. I'm still have the "command 'eslint.*' not found" notification as soon as I try to enable the extension (which doesn't work at all for me) manually.

Any help would be greatly appreciated! 👍

[2017-11-01 14:32] maksimkurb commented on #331
Duplicate of #330

[2017-11-01 14:32] #331 closed

[2017-11-01 14:34] maksimkurb commented on #330
Have the same trouble. Attached logs in #331. It looks like that author published plugin that is not built successfully

[2017-11-01 14:44] dbaeumer commented on #252
@kvinlambert if you open the developer tools (Help > Toogle Developer Tools) is there anything in the console ?

[2017-11-01 14:48] dbaeumer commented on #330
Looking into it. Worked for me locally :-(

[2017-11-01 14:57] phi2039 commented on #330
PR Created #332

[2017-11-01 14:59] dbaeumer commented on #330
I don't know what happened but somehow the vsix didn't include the generated JS file. I made a new vsix and published it and controlled that the file is in. Sorry for that.

[2017-11-01 15:00] dbaeumer commented on #330
@phi2039 the compile error was not the source of this. But thanks anyways.

[2017-11-01 15:00] #330 closed

[2017-11-01 15:01] phi2039 commented on #330
No worries. Just glad to have it resolved. :-)

[2017-11-01 15:01] maksimkurb commented on #330
Maybe there is a typo?
[code]

[2017-11-01 15:05] dbaeumer commented on #330
@maksimkurb very good catch! Thanks a lot. This explains it. I compiled by hand and pushed a new version.

[2017-11-01 15:05] dbaeumer commented on #330
Tested 1.4.2 and it works.

[2017-11-01 15:07] Phuhwei commented on #252
@dbaeumer Same issue here with @kvinlambert, just happen today. Tried uninstall and reinstall.
console.ts:123 [Extension Host] Activating extension `dbaeumer.vscode-eslint` failed: Cannot find module '/Users/Len/.vscode/extensions/dbaeumer.vscode-eslint-1.4.1/client/out/extension'.
t.log @ console.ts:123
console.ts:123 [Extension Host] Activating extension `dbaeumer.vscode-eslint` failed:  Cannot

[2017-11-01 15:10] dbaeumer commented on #252
This was me breaking something in 1.4.1. I published 1.4.2 which addresses this.

[2017-11-01 15:20] Jamstah commented on #330
Super fast resolution, thank you, glad to know it wasn't just me :)

[2017-11-01 17:09] oliversalzburg opened #333 "VSCode complains about missingModuleReported.has and sourceCode.commentsExistBetween (was vscode#37404)"
- VSCode Version: Code 1.17.2 (b813d12980308015bcd2b3a2f6efa5c810c33ba5, 2017-10-16T13:59:46.104Z)
- OS Version: Windows_NT x64 10.0.15063
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.4.0
python|don|0.7.0
pgsql|dou|0.0.8
EditorConfig|Edi|0.11.1
vsc-material-theme|Equ|1.0.5
JSDocTagComplete|Hoo|0.0.2
vscode-esformatter|how|1.5.2
output-colorizer|IBM|0.1.2
vsco

[2017-11-01 20:01] dbaeumer commented on #333
@oliversalzburg can you prepare a example I could clone.

`commentsExistBetween` is found in the ESLint source code :-). Do you see some exceptions as well when executing eslint from a terminal directly.

[2017-11-02 06:28] TasukuUno commented on #208
Hi, It is better for me to specify rules that **disable** auto-fix like [linter-eslint (atom)](https://github.com/AtomLinter/linter-eslint/blob/5ed08f1c655729b383abf76b6347e585b2055c3d/package.json#L101-L108)! I think it is hard to set all of the other fixable rules...

[2017-11-02 11:29] oliversalzburg commented on #333
Can't repro. Must have been something messed up while re-installing global packages.

[2017-11-02 11:29] #333 closed

[2017-11-02 15:56] Cobain93 opened #334 "eslint doesn't work"
1. eslintrc

[code]

[2017-11-02 18:26] sladiri commented on #251
Thank you for the explanation, I understand that it might not be solvable, as not supported by WSL. It is not that much of an issue.

[2017-11-03 06:54] dbaeumer commented on #334
@Cobain93 can you please provide more information about what is not working. Best would be a GitHub repository demoing the problems to clone with steps to reproduce.

[2017-11-03 06:59] dbaeumer commented on #208
@AdenFlorian @TasukuUno comment makes sense to me. May be we can use the `!` to negate strings like in git config files.

[2017-11-03 07:07] dbaeumer commented on #329
This works for me:

<img width="334" alt="capture" src="https://user-images.githubusercontent.com/1931590/32363138-041b8e12-c06e-11e7-879f-f910698a378a.png">

Please provide a GitHub repository I can clone with steps to reproduce.

[2017-11-03 07:07] #329 closed

[2017-11-03 07:09] dbaeumer commented on #326
The first thing you can do it to enable tracing and attach a trace here. This will help identify if this is a problem in ESLint or somewhere else. To enable tracing add the setting `"eslint.trace.server": "messages"` to your workspace settings.

[2017-11-03 07:13] dbaeumer commented on #303
@datoml how does the folder `eslint\client\node_modules` look for you. It should contain these modules besides a lot of others.

<img width="379" alt="capture" src="https://user-images.githubusercontent.com/1931590/32363272-cc482daa-c06e-11e7-8eff-8ec73b56979d.png">

[2017-11-03 08:57] ItsNoHax commented on #326
![selection_007](https://user-images.githubusercontent.com/4223434/32366125-113fb500-c07d-11e7-9b9f-060a319b9bd0.png)

ESLint stops working till I restart VSCode, the trace doesn't really say anything. What else can I do to help you debug this?

[2017-11-03 10:37] doic opened #335 "Eslint installed globally, working from CLI, but not in VS"
Hello! I'm new to VS and Eslint.

Installed globally v 4.9.0, it works fine if I
`$ eslint ./project/js/app.js`

.eslintrc.json file is in my dev folder, I added also tasks.json (global config):
[code]

VS knows Eslint is running but anyway:
[code]

[2017-11-03 11:04] tsteuwer-accesso commented on #329
Before you close this, can you please tell me what version of VS code, what version of ES lint you are using? We just had 8 people try and all have the same issue. So it can't just be only you who it works for unless this got resolved at a specific version in VSCode or eslint.

[2017-11-03 12:35] dbaeumer commented on #329
@tsteuwer-accesso

- ESLint extension 1.4.2
- eslint npm module: 4.9.0

If you can reproduce this with a different setup can you please check if the error is correctly reported in a terminal. If yes, please provide me with a GitHub repository I can clone to reproduce this.

[2017-11-03 12:36] tsteuwer-accesso commented on #329
Thanks bud. Yes, I did have them check the terminal to see if running it there reported the errors and it did. Just not in VSCode. When they get in I'll have them take a look.

[2017-11-03 12:37] dbaeumer commented on #335
@doic for the eslint extension you don't need a tasks.json file. However you do need a .eslintrc configuration file. Can you provide me with a clone GitHub repository and your config then I will try to reproduce. This worked for me without problems.

One question: how did you install eslint globally yarn or npm

[2017-11-03 12:39] dbaeumer commented on #329
When executing in the terminal do you use a global installed eslint. Could that one be different from the one installed into your workspace ?

[2017-11-03 12:40] tsteuwer-accesso commented on #329
We thought that too and had them uninstall the global version and the issue persists. I use Vim but the rest of the guys are in VSC. So, I'll update this when they get in. Again, thanks so much for the help.

[2017-11-03 12:46] doic commented on #335
NPM

Can I just share my .eslintrc file here? I never used GitHub myself; I still need to learn how it works...

[code]

[2017-11-03 12:56] Cobain93 commented on #334
https://github.com/Cobain93/wxapp-dev    @dbaeumer    This is the demo, i think the important info is my os system is win10  professional 1709  (16299.19). the eslint is well in my workmate's pc

[2017-11-03 13:11] AdenFlorian commented on #208
@dbaeumer What should happen if you have this config?
[code]

Mixing includes and excludes complicates things a bit, so I made a table to help define the behavior of whatever we decide. Populated with my current implementation. I'll come and think about this more later.

| autoFixOnSave | behavior |
| ---------------- | ---------- |
| false                 | never auto fix on save |
| true

[2017-11-03 13:32] dbaeumer commented on #329
Do all of you use npm or yarn. If you use yarn you need to use some special configs.

[2017-11-03 13:37] dbaeumer commented on #334
@Cobain93 can you translate the instructions into English please

[2017-11-03 13:45] dbaeumer commented on #334
I tried the example and eslint starts and validates files. Can you please provide a description of what is not working for you.

[2017-11-03 13:55] dbaeumer commented on #335
@doic this works for me without problems

![capture](https://user-images.githubusercontent.com/1931590/32377033-c1b88cc6-c0a6-11e7-8cfd-54537f32282f.png)

Can you enable tracing to see why the library can't be resolved via: `"eslint.trace.server": "verbose"
`

[2017-11-03 14:06] Cobain93 commented on #334
It's confued for me. the eslint work fine util I update the win10 os system..

[2017-11-03 14:12] doic commented on #335
@dbaeumer I hope this is what you're asking for:
[code]

[2017-11-03 14:58] Cobain93 commented on #334
@dbaeumer    the ESLint output message ESLint library loaded from : xxx   is not show in my vscode. could you tell me how to solve the problem

[2017-11-03 15:30] jmhmd opened #336 "CPU to 100% with JSX"
I've been having an issue for a while now where the extension host process pegs the CPU. It always occurs when working with JSX, and most frequently seems to happen specifically when writing an html tag, before typing the closing tag. The eslint extension locks up displaying the error
[code]
and the CPU goes to 100%.

I narrowed it down to the eslint extension with `ps aux | grep [pid]`, which out

[2017-11-03 17:24] chipit24 opened #337 "Unable to find package.json"
When I open a module in VS code, eslint complains about all my import statements:

[code]

And in the output window for eslint I see the following:
[code]

I can't reproduce this issue when I run eslint from the command line. When I run `eslint ./app/**/*.js` from the terminal, I see no lint errors (I only see the `Failed to load .env.undefined.` error). This issue also persists if I disable all e

[2017-11-04 01:07] Cobain93 commented on #334
@dbaeumer   sorry, i find out  the NODE_PATH is not exist. after i set the system variable.the eslint work well. close the issue

[2017-11-04 01:07] #334 closed

[2017-11-06 08:34] dbaeumer commented on #337
@chipit24 do you work in a multi folder setup where the package.json & eslint configuration is in one of the subfolders. Then you need to confugre eslint using the workingDirectories setting. See here for an example: https://github.com/Microsoft/vscode-eslint#settings-options

If this doesn't address your problem please provide a GitHub repository demoing the problem that I can clone with steps on

[2017-11-06 08:44] dbaeumer commented on #336
@jmhmd please file the issue against vscode itself since the eslint server doesn't have any CPU load.

I am pretty sure that this is caused by another extension you have installed. Please try to run with `--disable-exensions` to see if it still reproduces.

And there is a performance side here with instructions on how you can help the VS Code team to track down issues in the extension host : https

[2017-11-06 08:44] #336 closed

[2017-11-06 08:47] dbaeumer commented on #335
@doic the extension is looking for the eslint node module here: `C:\Users\Doïc\AppData\Roaming\npm\node_modules`. Is this where the npm module is installed. If not, where is it installed on your system.

[2017-11-06 08:48] dbaeumer commented on #326
Can you provide me with an example that demos the problem. Best would be a GitHub repository to clone.

[2017-11-06 13:33] doic commented on #335
OK, so I looked at this directory and there was no eslint. I thought if I installed eslint globally via npm, it would work in VS Code?

I installed it locally and now it is working.
Do I need to install eslint in every new project for it to work in VS Code ?

[2017-11-06 15:29] dbaeumer commented on #144
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 15:29] #144 closed

[2017-11-06 15:30] dbaeumer commented on #152
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 15:30] #152 closed

[2017-11-06 15:30] dbaeumer commented on #169
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 15:30] #169 closed

[2017-11-06 15:30] dbaeumer commented on #172
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 15:30] #172 closed

[2017-11-06 15:31] dbaeumer commented on #207
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 15:31] #207 closed

[2017-11-06 15:31] dbaeumer commented on #212
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 15:31] #212 closed

[2017-11-06 15:31] dbaeumer commented on #237
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 15:31] #237 closed

[2017-11-06 15:55] dbaeumer commented on #274
@eromoe can you please provide a GitHub repository I can clone that demos the issue with steps how to reproduce?

[2017-11-06 16:07] dbaeumer commented on #275
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 16:07] #275 closed

[2017-11-06 16:08] dbaeumer commented on #311
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 16:08] #311 closed

[2017-11-06 16:08] dbaeumer commented on #317
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 16:08] #317 closed

[2017-11-06 16:09] dbaeumer commented on #320
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 16:09] #320 closed

[2017-11-06 16:09] dbaeumer commented on #318
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 16:09] #318 closed

[2017-11-06 16:10] dbaeumer commented on #315
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 16:10] #315 closed

[2017-11-06 16:11] kurtnovack commented on #240
I ran into this issue today and had the latest version. If anyone else sees this, uninstalling/reinstalling fixed it.

[2017-11-06 16:22] dbaeumer commented on #335
Global install npm eslint should work. Interestingly npm tells eslint that the global installed module is under `C:\Users\Doïc\AppData\Roaming\npm` and `C:\Users\Doïc\AppData\Roaming\npm\node_modules` but interestingly npm doesn't seem to install them there. Can you find out where npm installed it by either using the `where` or `which` command.

[2017-11-06 16:23] dbaeumer commented on #262
This issue has been closed because it needs more information and has not had recent activity. Thank you for your contributions.

[2017-11-06 16:23] #262 closed

[2017-11-06 16:24] dbaeumer commented on #253
@mcmunder is this still an issue for you. If so can you provide a GitHub repository that demos the problem with steps to reproduce.

[2017-11-06 16:29] dbaeumer commented on #98
This got already addressed in new versions of ESLint.

[2017-11-06 16:29] #98 closed

[2017-11-06 16:33] doic commented on #335
Oooh, interesting, it looks like the `ï` in my Windows user name is messing things up!
I ran `npm list -g` and the folder was `C:\Users\Do{c\AppData\Roaming\npm` !!

I'll try to figure out a way to replace it with a latin `i`.

[2017-11-06 21:02] chipit24 commented on #337
Thanks. I had the exact same issue as described in https://github.com/Microsoft/vscode-eslint/issues/196, and using `changeProcessCWD` as you suggested there has worked for me. The problem stems from `eslint-import-resolver-webpack`.

[2017-11-07 00:43] eromoe commented on #274
@dbaeumer  It is much better after  remove `"extends": "airbnb",  `  .

[2017-11-07 08:42] dbaeumer commented on #274
@eromoe good to hear. I will close the issue then.

[2017-11-07 08:42] #274 closed

[2017-11-07 08:48] dbaeumer commented on #337
@chipit24 currently not. Only if you start code from a terminal and set the env inside the terminal. The eslint server will then inherit the env.

I will close the issue. Please ping if you disagree.

[2017-11-07 08:48] #337 closed

[2017-11-07 08:50] dbaeumer commented on #335
@doic you might want to think about reporting this to npm.

[2017-11-07 10:07] dbaeumer commented on #255
This got already addressed.

[2017-11-07 10:07] #255 closed

[2017-11-07 10:19] doic commented on #335
@dbaeumer OK I will ! Thanks for your help !

[2017-11-08 00:33] believer-ufa opened #338 "Plugin working incorrectly in Pug templates"
- VSCode Version: 1.17.2
- OS Version: Arch Linux, latest

Steps to Reproduce:

1. run `npm install --save-dev eslint-plugin-pug`
2. set VSCode config option:

[code]

2. create some Pug template with `script` tag
3. create an error in JS code inside that tag
4. see what VSCode incorrectly highlighting that error

Example on screenshot:

![image](https://user-images.githubusercontent.com/801727/32

[2017-11-08 00:34] believer-ufa commented on #338
If we running `eslint` from command line, everything is fine:

[code]

[2017-11-08 03:41] zhengxiaoyao0716 opened #339 "Incorrect comments tip for `rules` options"
![image](https://user-images.githubusercontent.com/12682063/32530403-f9dfae6a-c478-11e7-995f-ba917ce63b27.png)

![image](https://user-images.githubusercontent.com/12682063/32530521-872e217a-c479-11e7-8d44-7800a69fbb2d.png)

![image](https://user-images.githubusercontent.com/12682063/32530436-1e9bf0ce-c479-11e7-907b-384c57527d76.png)

It's obviously that, the comments tip only works while the value

[2017-11-08 07:20] anacierdem opened #340 "Extension not loading plugin correctly"
Currently the plugin only runs eslint on js files and disregards the html plugin. I am using smarty tpl files and want to lint them in editor.

This was working properly approx. 1 week ago. Now there is a problem with eslint html plugin not loading. The extension reads and applies google style but not consider the plugin somehow. This means that the configuration is read properly but I'm not sure

[2017-11-08 09:06] dbaeumer commented on #340
Have you enabled html linting via the eslint settings. See here: https://github.com/Microsoft/vscode-eslint#settings-options section about `eslint.validate`.

If yes can you please provide a GitHub repository I can clone that demos the problem with steps to reproduce.

[2017-11-08 09:09] dbaeumer commented on #339
This is not a problem of the ESLint extension itself. If is a schema problem for the .eslintrc.json file which is maintained here: http://json.schemastore.org/eslintrc. Please file the report there.

[2017-11-08 09:09] #339 closed

[2017-11-08 09:13] dbaeumer commented on #338
@believer-ufa can you please provide me with a GitHub repository I can clone with steps to reproduce this.

In general the eslint plugin takes the error ranges reported by eslint npm mdoules and maps them to the VS Code editor. So I suspect that these errors have ranges that result in the shown squiggles. The command line ESLint tool only prints parts of the ranges.

[2017-11-08 09:14] dbaeumer commented on #335
Closing. This seems to be a npm installation problem.

[2017-11-08 09:14] #335 closed

[2017-11-08 09:18] zhengxiaoyao0716 commented on #339
@dbaeumer Thanks, but I think this is a problem of your extension.
The `.eslintrc.json` file has nothing wrong, for a rule option, it given the right description.
But the extension parsed it incorrect if the value of the option is not an array, and it should only parsed correctly while the value we wrote is an array.

[2017-11-08 10:47] dbaeumer commented on #339
@zhengxiaoyao0716 my extension is not parsing that file. It is the eslint npm module that does the parsing. So it is either a schema problem or a eslint npm module problem. What happens if you execute eslint from a terminal.

[2017-11-08 11:12] cloud-github commented on #119
No need to install package globally, just follow these steps
`npm install`
`npm info "eslint-config-airbnb-base@latest" peerDependencies`
`npm install -g install-peerdeps`
`install-peerdeps --dev eslint-config-airbnb-base`

Add "extends": "airbnb-base" to .eslintrc   file.
Finally, SUCCESS eslint-config-airbnb-base and its peerDeps were installed successfully.

[2017-11-08 11:34] zhengxiaoyao0716 commented on #339
@dbaeumer Well, I'm sorry, I found that the tip of the `.eslintrc` file was not support by this extension, instead support by `JSON` parser.
![image](https://user-images.githubusercontent.com/12682063/32546731-fd65749c-c4ba-11e7-8f37-8c3533133d45.png)

[2017-11-08 14:05] Dogyunjeong commented on #232
I have the same error.  I used Vue-cli and generated project folder with eslint option.

There is '.eslintr.js' file and vscode show the same info message.

[2017-11-08 14:16] believer-ufa commented on #338
@dbaeumer here's what you asked for )

https://github.com/believer-ufa/vscode-eslint-pug

[2017-11-09 07:56] dbaeumer commented on #232
Actually this got fixed a while ago. The message is now presented in the output window without bringing the window to front. As soon as the file is valid again files get revalidated.

[2017-11-09 07:56] #232 closed

[2017-11-09 07:56] dbaeumer commented on #232
@Dogyunjeong if you still see the dialog can you please provide a GitHub repository I can clone that demos the behavior with steps on how to reproduce.

[2017-11-09 10:27] ensean commented on #6
@dbaeumer I have created a [repo](https://github.com/ensean/my-web-store.git) to reproduce the issue
The demo web-store project is combined by the frontend and backend. The ```frontend``` is an webpack project create by vue-cli, the ```backend``` is an django project.

I have tried to config the ignorePath param in the workspace's settings.json as follows
[code]
But it seems that eslint-plugin can

[2017-11-09 21:41] bartlewis opened #341 "autoFixOnSave Throws Cursor to End of File"
After updating to VSCode 1.18.0 this morning, each time that ESLint runs, the cursor gets thrown to the bottom of the file. This seems to be related to the prettier plugin/rule.

[2017-11-10 09:53] initram opened #342 "ESlint server keeps crashing on VSCode 1.18"
Just upgraded to version 1.18 of VsCode and I get the following error from the ESLint plugin:

[code]

[2017-11-10 10:02] krewmarco opened #343 "Unable to open file when using remote eslint output"
I have a docker container running node, and I use VSCode to edit files from another machine.  I created a task to run "gulp serve" on my container which produces eslint output:

[code]

This works, and now I get notifications in the Problems window, and also on my source code.  However, when I click on the problem notification, the file can't be found and I get this message:

"Unable to open 'inde

[2017-11-10 11:55] dbaeumer commented on #343
This is currently not possible.

Please open an issue against vscode itself since this is a problem with the task execution engine in vscode.

[2017-11-10 11:55] #343 closed

[2017-11-10 11:58] dbaeumer commented on #342
This works for me.  I guess somehow the eslint extension installation is broken. Can you uninstall and reinstall it and see if this fixes the problem?

[2017-11-10 12:00] dbaeumer commented on #341
This doesn't reproduce for me with 1.18 and eslint 1.4.3. I guess this is caused by a plugin different than eslint.

Can you please disable all extension except eslint and try to reproduce. If you can pleas provide a GitHub repository I can clone that demos the problem with steps to reproduce.

[2017-11-10 12:02] dbaeumer commented on #6
This requires a working directory setup since the .eslintignore file is read relative to the current working directory by eslint. See https://github.com/Microsoft/vscode-eslint#settings-options

[2017-11-10 12:25] initram commented on #342
That solved it... weird.

[2017-11-10 12:26] #342 closed

[2017-11-10 13:37] dbaeumer commented on #338
@believer-ufa thanks, but the pug file is not linting at all. Do you have an additional plugin installed ?

[2017-11-10 14:07] ivancuric opened #344 "Possible to disable linting in <script> tags in html?"
I currently have some inline JS which is rendered using Jinja. Is it possible to disable linting inside html files?

Adding inline comments like `/* eslint-disable */` doesn't work, nor does adding `**/*.html` to .eslintignore.

[2017-11-10 15:15] Tom-Bonnike opened #345 "“Unexpected token ...” (object spread) when using `.eslintrc.js`"
Hello. This eslint config is valid JavaScript but makes the ESLint server crash with `Unexpected token ...`.
[code]

I guess it isn’t using my current node version (latest, v9) but some other version that doesn’t support spreading? When I start the VSCode debugger, it says it is indeed using v9… I’m not too sure what’s happening as I expect my extensions to use my node version?

I could obviously

[2017-11-10 15:48] believer-ufa commented on #338
Sorry, i think what is small problem in `.vscode/settings.json` file, i [fixed it](https://github.com/believer-ufa/vscode-eslint-pug/commit/0b590e39f5ecc73b71f49a6e61e59e7bf88432ec#diff-5b46cfda0ddaed371f52aa24ea2b0b2a) now.

Please do next again:

1. Clone [this repo](https://github.com/believer-ufa/vscode-eslint-pug) to your computer
2. Open VS Code
3. Install [ESLint extension](https://marketpl

[2017-11-11 19:00] bartlewis commented on #341
Thanks @dbaeumer. Working on putting something together, but have not yet been able to isolate the issue.

[2017-11-13 10:42] dbaeumer commented on #338
This still doesn't work for me. I can validate test.js file but no pug files.

![capture](https://user-images.githubusercontent.com/1931590/32721715-b4221550-c867-11e7-9b09-8fb9f8bd83f2.png)

[2017-11-13 10:45] dbaeumer commented on #345
The language server uses VS Codes shipped node version which is `7.9.0`. I will mark this as a feature request to support using a different node version.

[2017-11-13 10:46] dbaeumer commented on #344
I guess the errors you see come form the JS support inside VS Code. Can you show me a hover of one of the errors.

[2017-11-13 11:01] Tom-Bonnike commented on #345
Oh, okay. I might give it a try myself if I ever have the time. Thank you.

[2017-11-13 14:34] ivancuric commented on #344
Oh wow, my bad. It was `"html.validate.scripts": true` in VSCode.
Sorry!

[2017-11-13 14:34] #344 closed

[2017-11-14 00:23] believer-ufa commented on #338
I dont know.. Maybe you need to install `eslint` and `eslint-plugin-pug` globally.

Try to run on you machine:

[code]

And also try to set VS Code configuration in you user params:

[code]

And make sure what your ide using project's [.eslintrc.js](https://github.com/believer-ufa/vscode-eslint-pug/blob/master/.eslintrc.js).

I really dont know what also can affect this behaviour.

[2017-11-14 09:20] bsvipas opened #346 "ESLint doesn't show up"
![image](https://user-images.githubusercontent.com/30043375/32771915-f86348b8-c92c-11e7-9d93-0c40f7433176.png)

As you can see there's no ESLint, but that empty square takes place (look at my cursor). I have installed ESLint, but I can't see it. I'm using VS Code with multiple workspaces and this problem occurred after VS Code 1.18 and multiple workspaces. As you can see I can see Prettier, but in

[2017-11-14 10:19] bac-joker commented on #252
The computer power off suddenly shut down. Deleted  and downloaded eslint, and nothing changed. Reinstall vscode fixed this issue.

[2017-11-14 10:59] dbaeumer commented on #346
This is on purpose. The ESLint (as with TSLint) status bar icon will only show if there is an error since it didn't convey any information in the non error case.

[2017-11-14 10:59] #346 closed

[2017-11-14 11:05] dbaeumer commented on #338
Do you have any file extension mapping for pug defined ?

[2017-11-14 13:20] zymr-keshav opened #347 "Cannot find module 'eslint-config-react' Referenced from: /opt/projectFolder/.eslintrc"
system information
 - Mac OS High Sierra 10.13.1
 - VS code 1.18

**package.json**

[code]

**.eslintrc**

[code]

**.babelrc**

[code]

whenever I open any *.js* or *.jsx* file in vscode it gives an error on top

Do not understand why it is giving this error , already added too many plugins by looking into various solutions but still not able to resolve it.

[2017-11-14 18:06] renato commented on #91
I'm using a custom task to extract the eslint errors/warnings but the default $eslint-stylish problemMatcher doesn't add the "eslint" owner to the problems, so the [eslint] preffix is only added after I open a file, and when I close it the eslint problems are removed.

I understand that the errors are currently being cleared on close (#306) but is there a current workaround to both situations?

[2017-11-14 20:17] believer-ufa commented on #338
Sorry, i dont understand you question, can you explain?

I checked it again and saw that it works only with next settings:

[code]

Not `pug` as i think before.. Linting works only with `jade`.

Let me explain: i started use VS Code just few days ago, i almost do not configured my VS Code. Just installed few extensions for linting.

You can look at my screenshot with installed extensions in my ide

[2017-11-15 06:47] yanlee26 commented on #64
VS integrated with ESLint, this seems not needed now

[2017-11-15 08:32] dbaeumer commented on #338
Using Jade I can reproduce this. The error I get back from ESLint looks like this:

<img width="279" alt="capture" src="https://user-images.githubusercontent.com/1931590/32826142-9038119a-c9e7-11e7-8966-1118ac5e4ba1.png">

I simply take this information and transform it to a VS Code diagnostics. Since the value reported from ESLint spawns multiple lines it does the same in VS Code

If you think it

[2017-11-15 08:32] #338 closed

[2017-11-15 08:32] dbaeumer commented on #91
This is a bug on the VS Code side we are aware of.

[2017-11-15 08:33] dbaeumer commented on #347
Does this work when validating in a terminal ?

[2017-11-15 09:39] zymr-keshav commented on #347
this is working fine when validation with the terminal.

[2017-11-15 09:44] dbaeumer commented on #347
Do you have nested folders in your project (e.g. client & server) each using a different configuration? Then this might need a `eslint.workingDirectory` setting

[2017-11-15 09:52] zymr-keshav commented on #347
yes. I have following folders structure in my project
.

[2017-11-15 10:16] eric-burel commented on #272
Ok, it is related to older versions of flow-bin, because after updating to the very last version and cleaning up node_modules, it seems to be ok again (though I can't tell how it could trigger a VSCode tab opening, so there might be an underlying issue with VSCode...).

Much thanks for your help!

[2017-11-15 10:16] #272 closed

[2017-11-15 11:10] dbaeumer commented on #272
Happy to hear that the issue got resolved.

[2017-11-16 01:09] kaustubhpixvana opened #348 "Plugin spawning many Code Helper processes, using tons of CPU"
VS Code version: 1.18.0
OS version: macOS High Sierra 10.13.1
Plugin version: 1.4.3

Since the new Visual Studio update, I'm experiencing a huge amount of slowness when enabling the eslint plugin for vscode. Whenever I open more than one file, a bunch of 'Code Helper' processes spawn, essentially slowing vscode to a crawl and slowing my whole machine down.

<img width="1165" alt="screen shot 2017-

[2017-11-16 09:26] luoxlgh opened #349 "eslint-plugin-vue work on html files but does not work on vue files"
vscode user config is:
  "javascript.validate.enable" : false,

    "eslint.options": {
        "configFile": "E:/code-style/src/eslint/.eslintrc",
        "plugins": ["vue"]
    },
    "eslint.validate": [
        "javascript",
        "html",
        "vue"
    ]

.eslintrc:

`{

    "extends": [
        "./index.js",
        "plugin:vue/recommended"
    ],
    "plugins": [
        "vue"
    ],

[2017-11-16 15:09] dbaeumer commented on #349
Can you please provide a GitHub repository I can clone that demos the behavior with steps on how to reproduce. I am not able to reproduce this locally with my test bed.

[2017-11-16 15:11] dbaeumer commented on #348
Can you please provide the full command line of some of these CodeHelper processes?

[2017-11-16 15:15] dbaeumer commented on #347
Have you tried to use the settings `eslint.workingDirectory` described here https://github.com/Microsoft/vscode-eslint#settings-options to specify the working directories to be validate.

Can you please provide a self contained GitHub repository that demos the problem with steps on how to reproduce. Then I can have a look. But without this it is very hard to tell why it is not working.

[2017-11-16 17:54] kaustubhpixvana commented on #348
Sure, almost all of them either look like this:

`/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper /Users/kaustubh/Studio-UI/node_modules/inspectpack/lib/daemon/worker.js {"cache":{"cls":"NoopCache"}}`

or they look like this:

`/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper.app/Contents/MacOS/Code Helper --type=renderer --js

[2017-11-17 02:41] davidvalachovic commented on #208
@dbaeumer @TasukuUno @benpigchu  Thoughts?

[2017-11-17 02:50] mbarighzaai opened #350 "Failed to load the ESLint library for the document '...'"
I am receiving the following in VS Code:

[code]

I can run `eslint app/index.js` and it works just fine with no errors.

I have installed ESLint globally, tried reopening VSCode multiple times - with no luck.

My .estlintrc.json:

[code]

And my package.json:

[code]

[2017-11-17 09:38] dbaeumer commented on #350
I tried this and it fails for the in a terminal as well. Here is what i get:

[code]

In general with eslint all eslint  plugins and eslint itself must either all be install globally or locally. This is a limitation of ESLint and is not caused by the ESLint VS Code extension.

[2017-11-17 09:38] #350 closed

[2017-11-17 09:42] dbaeumer commented on #348
Both of these processes have nothing to do with the ESLint extension. The second one is a VS Code renderer the first one I actually don't know. I guess it is started by another extension. Please file the issue regarding the renderer against VS Code itself (if there are more than open VS Code windows because there is one per open VS Code window) and for the other one I advice that you check the add

[2017-11-17 09:42] #348 closed

[2017-11-17 10:52] dbaeumer commented on #208
@davidvalachovi good questions. I would say the first entry defines whether it is include or exclude. Mixing them does indeed make no sense.

Technically a setting can be a complex object property. But it makes using the feature more complex to setup.

[2017-11-17 14:27] davidvalachovic commented on #208
@dbaeumer Like this?

| autoFixOnSave | behavior |
| ---------------- | ---------- |
| false | never auto fix on save |
| true | auto fix everything on save |
| array with 'mode=include' as first entry | auto fix only rules in the array on save |
| array with 'mode=exclude' as first entry | auto fix all on save except for rules in array |
| array with any rule as first entry | default to auto fix

[2017-11-18 04:33] marswong commented on #187
Indeed, there is nothing to do with `yarn`, just add `"eslint.packageManager": "yarn"` to your vscode settings and it would fix at all :)

[2017-11-19 10:26] Alonski opened #351 "ESLint won't load"
Starting up VSCode I noticed today that ESLint stopped working.
The ESLint Button on the Bottom Right next to Select End Of Line Sequence Buttons is missing.

Looking at the Output from ESLint shows me:
[Info  - 12:23:18 PM] ESLint server is running.
[Info  - 12:23:27 PM] ESLint library loaded from: C:\Users\Alon\Documents\Project\node_modules\eslint\lib\api.js

After that nothing.

Please tell me

[2017-11-19 11:06] #351 closed

[2017-11-20 02:32] luoxlgh commented on #349
GitHub repostory is https://github.com/vusion/code-style/tree/develop。
It works on .vue file in cli, but weird in VSCode(version 1.17.1)。

![image](https://user-images.githubusercontent.com/11803544/32999549-e4cb8e4a-cddd-11e7-8984-91256326eaaa.png)

[2017-11-20 13:07] dbaeumer commented on #349
@luoxlgh I cloned the provided branch that the branch has no `eslintrc.json` file. Can you please provide an example an I clone and easily reproduce the problem with.

[2017-11-20 13:13] dbaeumer opened #352 "Mention that ESLint needs the latest node."

[2017-11-20 16:13] AdenFlorian commented on #208
Another idea, after looking at linter-eslint for atom.
Have `autoFixOnSave` work the way I have it in my PR (#325), and have a separate config property called `rulesToDisableWhileFixing` which will be an array of rules that will never be auto fixed (whether on save or on `executeAutoFix`), and overrides any rules in `autoFixOnSave`.

[2017-11-20 18:44] robsonpeixoto commented on #318
@dbaeumer
[code]

And edit any `src/registerServiceWorker.js` file, will show the warning:
[code]

[2017-11-20 18:47] robsonpeixoto commented on #318
My bad, after this step the lint will work: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#displaying-lint-output-in-the-editor

[2017-11-21 03:48] luoxlgh commented on #349
Sorry for wasting your time.
https://github.com/vusion/code-style/tree/feature/vsCode-test

clone this repository and `npm run test`。 The result is:
![image](https://user-images.githubusercontent.com/11803544/33054029-ca6bf452-ceb1-11e7-8fa9-834d03df70db.png)

But VSCode does not report bugs in vue file

[2017-11-21 10:42] dbaeumer commented on #349
You have no configured VS Code to validate vue files. There is no settings file. See here on how to enable ESLint parse for other file types than JS.

[2017-11-21 10:42] dbaeumer commented on #349
https://github.com/Microsoft/vscode-eslint#settings-options

[2017-11-21 10:49] dbaeumer commented on #349
This works for me after I install the Vetur extension which adds the vue language mode and adding this to the settings.
[code]

If you don't want to install Vectur you can also define vue as a language mode using the association settings. However I would recommend to use the Vectur extension.

[2017-11-21 10:49] #349 closed

[2017-11-21 10:58] dbaeumer commented on #208
Having two properties is not appealing to me. I would go with this https://github.com/Microsoft/vscode-eslint/issues/208#issuecomment-345257945 proposal then. Howver Nesting include / exclude rules makes sense if we provide wild cards. So something like
[code]

I don't know the ESLint rule names. But would something like this make sense?

[2017-11-21 18:58] GonchuB opened #353 "[Error] ImportDeclaration should appear when the mode is ES6 and in the module context."
I'm being shown this error constantly on save, but I don't see any "Problem" in the console, and have no idea what part of the linting phase is triggering it.

![image](https://user-images.githubusercontent.com/857221/33090982-8c07af58-ced4-11e7-8903-f46d11845cc2.png)

My config
[code]

Other extensions & version
![image](https://user-images.githubusercontent.com/857221/33091055-cb235e76-ced4-11e7

[2017-11-21 20:24] dbaeumer commented on #253
This issue has been closed automatically because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2017-11-21 20:24] #253 closed

[2017-11-21 20:24] dbaeumer commented on #280
This issue has been closed automatically because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2017-11-21 20:24] #280 closed

[2017-11-21 20:26] dbaeumer commented on #303
This issue has been closed automatically because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2017-11-21 20:26] #303 closed

[2017-11-21 20:26] dbaeumer commented on #326
This issue has been closed automatically because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2017-11-21 20:26] #326 closed

[2017-11-21 20:26] dbaeumer commented on #340
This issue has been closed automatically because it needs more information and has not had recent activity. See also our [issue reporting](https://aka.ms/vscodeissuereporting) guidelines.

Happy Coding!

[2017-11-21 20:26] #340 closed

[2017-11-21 20:35] dbaeumer commented on #353
When you run eslint in the terminal do you see an exception. Is there something in the Output channel for ESlint in VS Code?

[2017-11-21 20:41] GonchuB commented on #353
@dbaeumer there is nothing in the output tab (just git stats, nothing related to eslint), is there a way to debug the actual extension to see if its outputting something? Or should it be in the tab?

[2017-11-22 06:44] datoml commented on #303
Sorry for answering so late. Had to do some work on other projects.
They folder contains everything in your screenshot.

I think the problem is with our corporate proxy.

[2017-11-22 15:13] dbaeumer commented on #303
There is one other idea I have which could make this slow. Can you run the following command on your machine and see how long it takes: `npm config get prefix`

[2017-11-22 15:18] datoml commented on #303
I took about 1 - 2 seconds.

[2017-11-23 08:53] dbaeumer commented on #303
Actually I am running out of ideas. Does this reproduce for you on other machines as well. The initialize call of the ESLint server simply returns a JSON structure. So it might be starting up the service. Do you see slow down with other things in VS Code. For example HTML, JSON or TS support.

[2017-11-23 08:54] dbaeumer commented on #353
@GonchuB it should be in the tab. What happens if you run ESLint in a terminal (not in VS Code).

[2017-11-23 09:40] datoml commented on #303
The funny thing is that the Linter in Atom editor for instance runs without any problems.
The TSLint for VSCode also has nor problems. I think we can close it for now and I try to make some tests if I have some time :).

[2017-11-23 11:09] dbaeumer commented on #303
Sorry to hear. If you need additional help tracking this down then please ping me. I still don't get why you can't compile the eslint extension yourself. That would definitely ease tracking this down.

[2017-11-23 13:59] dj-hedgehog opened #354 "autoFixOnSave alternates between correct and wrong indentation"
I have quite strange error. I set `eslint.autoFixOnSave` to `true`. When I save a file once it formats my code successfully:

![image](https://user-images.githubusercontent.com/7140800/33176185-7836f5fc-d05e-11e7-802b-083591a901c4.png)

When I save it again it messes up the indentation.

![image](https://user-images.githubusercontent.com/7140800/33176226-9d8798ca-d05e-11e7-864b-ba160f684dca.png)

[2017-11-24 14:26] rojasmi1 opened #355 ".eslintrc is invalid: - Unexpected top-level property "rulePaths""
Recently I came across the following issue:

`.eslintrc is invalid: - Unexpected top-level property "rulePaths".`

After taking a look at the ESLint documentation that appears to be a valid config option: [https://eslint.org/docs/developer-guide/nodejs-api#cliengine](https://eslint.org/docs/developer-guide/nodejs-api#cliengine)

I tried the following and nothing worked:

- Re-installing the extens

[2017-11-25 00:18] aaayushsingh opened #356 "Whitespace inserted with unicode BOM"
- VSCode Version: Code 1.18.1 (929bacba01ef658b873545e26034d1a8067445e9, 2017-11-16T18:34:22.110Z)
- OS Version: Linux x64 4.12.12-custom
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.4.3
python|ms-|0.8.0
cpptools|ms-|0.14.2
JavaScriptSnippets|xab|1.5.0

---

Steps to Reproduce:

1. Launch VS Code and create a new JavaScript file
2. use VSCode to insert BOM.
3

[2017-11-26 02:05] ex90rts opened #357 "Not working for .jsx file extension"
VS Code@1.18.0
Eslint Extension@1.4.3

Not working for .jsx file extension, event added following configuration:
[code]

And I tried to update the "eslint.validate" configuration, add "jsx" as a language type, and the lint is working normal (javascriptreact is useless):
[code]

[2017-11-27 09:48] dbaeumer commented on #357
@ex90rts can you please provide a GitHub repository I can clone that demos your problem with steps to reproduce.

JSX support works for me and I am not sure I fully understand your problem from the issue description.

[2017-11-27 09:50] dbaeumer commented on #356
@aaayushsingh can you please file the issue against VS Code directly since the ESLint extension is not involved in this using the same steps as provided here.

[2017-11-27 09:51] dbaeumer commented on #355
@rojasmi1 does that same error appear when running eslint in a terminal directly ?

[2017-11-27 09:53] dbaeumer commented on #353
@GonchuB can you please provide a GitHub repository I can clone that demos the behavior with steps to reproduce. Then I can investigate why an error is thrown in this case.

[2017-11-27 09:54] dbaeumer commented on #354
@dj-hedgehog do you have any other extension installed (especially one of the other prettiers out there)?

[2017-11-27 09:55] dbaeumer commented on #354
If not can you provide me with a GitHub repository that demos the behavior with steps on how to reproduce.

[2017-11-27 10:18] arenddeboer commented on #354
I had the same issue with "JavaScript Standard Style" and ```"editor.formatOnSave": true,``` in workspace settings. This resulted in the formatters competing to format the document ( I suppose), which might give you this behavior.
Setting ```"editor.formatOnSave": false,``` solved it for me.

[2017-11-27 13:19] GonchuB commented on #353
@dbaeumer unfortunately I cannot, as the repo I'm working on is private and couldn't really isolate the issue to reproduce. Was hoping to get some debugging information out of this issue in order to pinpoint the culprit. Will close and reopen if the issue persists and I can isolate.

[2017-11-27 13:19] #353 closed

[2017-11-28 12:11] GonchuB commented on #353
Although can reproduce in some files, still no output:

![vscode error](https://user-images.githubusercontent.com/857221/33319133-0e017e8e-d41c-11e7-800a-b225a93d1190.gif)

[2017-11-28 16:21] dj-hedgehog commented on #354
@arenddeboer You were actually right but it was a little bit hidden. In my global settings I did not have `editor.formatOnSave` but someone from my team commited the `.vscode/settings.json` file which contained `editor.formatOnSave = true`. Since I removed it everything has been working butter smooth.

[2017-11-28 16:21] #354 closed

[2017-11-29 01:10] jgardner04 opened #358 "Pull .eslintrc file from remote location"
I use multiple computers with VS Code and use the a sync settings command to push my configuration between computers via a GitHub Gist. I would love the ability to do this with my .eslintrc file as well. I can envision a scenario where teams would want to share a file and this would be a way they could centralize that file.

[2017-11-30 16:41] bpasero commented on #356
As reported in https://github.com/Microsoft/vscode/issues/39258#issuecomment-348209471 it looks like a quick fix was used to "fix the bom" issue. That quick fix is not from VS Code.

[2017-11-30 23:04] #347 closed

[2017-12-01 18:03] weekian opened #359 "Improper indentation for Javascript switch statement"
The following indentation does not prompt an error from eslint on VSCode

[code]

This is my .eslintrc.json file contents

[code]

[2017-12-04 10:04] #355 closed

[2017-12-04 10:04] #357 closed

[2017-12-04 10:39] dbaeumer commented on #359
Do you see an error when running eslint directly in the terminal ?

[2017-12-04 10:43] dbaeumer commented on #356
@bpasero thanks. I interpreted use `VSCode to insert BOM` as your save with BOM action.

[2017-12-04 10:45] dbaeumer commented on #358
You can use the `eslint.options` to control this. The possible properties are the command line argument available to eslint.

[2017-12-04 10:45] #358 closed

[2017-12-04 10:45] dbaeumer commented on #358
See https://github.com/Microsoft/vscode-eslint#settings-options

[2017-12-04 14:57] warpdesign opened #360 ".eslintrc.json: ESLint configuration is invalid: - Unexpected top-level property "overrides""
Im am getting this error in VSCode:

I don't get the error when running ESLint from the terminal.

This appears to be a valid top-level property according the [ESLint's documentation page](https://eslint.org/docs/user-guide/configuring#example-configuration).

Here is my .eslintrc.json

[code]

I am using the following versions:

ESLint `4.12.1`
Node `7.8.0`
VSCode Insiders
ESLint VSCode plugin `1

[2017-12-04 15:26] dbaeumer commented on #356
API request is: https://github.com/Microsoft/vscode/issues/39558

[2017-12-04 21:18] george-norris-salesforce commented on #351
@Alonski can you please share how you fixed? I am having the same issue. Thanks

[2017-12-04 21:24] george-norris-salesforce opened #361 "Eslint stopped working for jsx files"
Having same issue as this closed issue: https://github.com/Microsoft/vscode-eslint/issues/178
Ive tried all the things mentioned in this post.
Using latest VSCode and Eslint.
Eslint stopped working for a while then suddenly started working again. Now it's broken for JSX once again.

[2017-12-04 21:30] george-norris-salesforce commented on #361
Closing.
All  *.jsx files were being classified as JSX instead of Javascript React,  due to another extension I had added.

[2017-12-04 21:30] #361 closed

[2017-12-04 22:39] aaayushsingh commented on #356
Apparently vscode removes BOM from file before loading it into memory. That could be a reason why vscode-eslint can't detect BOM and double BOM is inserted on saving.

[2017-12-05 06:23] Alonski commented on #351
I think if I remember correctly I ended up nuking my node modules folder and npm installing :)

[2017-12-05 16:43] dbaeumer commented on #351
Just to clarify: we change the status button so that it only shows if there are errors. There were to many status button down there :-)

[2017-12-05 16:43] dbaeumer commented on #356
Exactly. This is what I was trying to say. However to find that out I need the API request.

[2017-12-05 16:50] dbaeumer commented on #360
This works for me without problems. Only difference is that I use Node 8.9.1. I do have eslint installed locally.

<img width="1135" alt="capture" src="https://user-images.githubusercontent.com/1931590/33619153-bcd01c36-d9e4-11e7-8d62-97acba0409b5.png">

[2017-12-05 16:50] dbaeumer commented on #360
Any other information to reproduce this?

[2017-12-06 06:44] jasononeil commented on #345
@dbaeumer how would you feel about having a preference named `eslint.nodeCmd` that allows you to specify the path to a custom version of Node to use when launching eslint?

I started looking into this, but am not sure if the CLIEngine that eslint exports runs as a separate process or as a JS function in the current process. If it's a separate process it should be possible to change use a custom no

[2017-12-06 10:20] dbaeumer commented on #345
@jasonb01: the CLIEngine is already running in VS Code shipped node version. So the setting needs to be interpreted on the client side. The Server options to the LSP client already take a runtime attribute (see https://github.com/Microsoft/vscode-eslint/blob/master/client\src\extension.ts#L354). So all that needs to be done is to set that runtime to the installed node version to use.

I would name

[2017-12-10 12:36] ravshansbox opened #362 "'Fix all auto-fixable Problems' fixes problems one at a time."
<img width="299" alt="screen shot 2017-12-10 at 5 33 38 pm" src="https://user-images.githubusercontent.com/1499188/33804899-92e9e614-ddd0-11e7-9c1f-b2793c61698f.png">
<img width="306" alt="screen shot 2017-12-10 at 5 33 55 pm" src="https://user-images.githubusercontent.com/1499188/33804900-98bbbaae-ddd0-11e7-90b0-d9bbe64ed628.png">
<img width="291" alt="screen shot 2017-12-10 at 5 34 13 pm" src="h

[2017-12-10 12:37] ravshansbox commented on #362
The same problem with 'autoFixOnSave' feature.

[2017-12-10 12:38] ravshansbox commented on #362
But calling `eslint --fix` fixes all at once.

[2017-12-11 05:12] weekian commented on #359
Oops, researched on the indentation styles for switch statements and found that this is an acceptable indentation. Sorry about that

[2017-12-11 05:12] #359 closed

[2017-12-11 08:55] dbaeumer commented on #362
Dups #154

[2017-12-11 08:55] #362 closed

[2017-12-12 17:05] #360 closed

[2017-12-13 08:43] bary12 opened #363 "Linting files outside of the npm package?"
I have ESlint installed in an npm package, but the npm package is only in a small part of my project.

[code]

Only the files in tests/ are being linted. I've tried changing the working directory, installing eslint globally, no luck.

[2017-12-13 09:33] dbaeumer commented on #363
@bary12 installing eslint globally should work. When you open a file from the libs folder what is printed in the ESLint output channel.

You can also use the `eslint.nodePath` setting to control the install location of the eslint npm modules.

[2017-12-13 09:40] bary12 commented on #363
ESlint output channel:

[code]

I have tried `"eslint.nodePath": "C:/Users/Bary/AppData/Roaming/npm"`. This is where the eslint package is installed globally, but it still didn't work.

[2017-12-14 08:29] dbaeumer commented on #363
This is strange. The ESLint extension has no `missingModuleReported` var or property. If you run ESLint in a terminal does it work or will it result in errors as well.

[2017-12-14 08:31] dbaeumer commented on #363
Sorry, my fault. Search in the wrong repository :-)

[2017-12-14 08:35] dbaeumer commented on #363
This is very wired. `missingModuleReported` is a HashMap created in main and it fails since it doesn't offer a 'has' function which all Maps have. Which version of VS Code and ESLint are you using.

The reason why this happens is that ESLint (the npm module) requires all plugins and the npm module itself to be either installed locally or globally. Since the files in the lib directory are validated

[2017-12-14 17:21] bary12 commented on #363
Thank you, I did forget to install the plugin globally and now it works.

[2017-12-14 17:21] #363 closed

[2017-12-15 04:22] limeandcoconut opened #364 "Not following config file for .vue files"
When linting `.vue` files I don't seem to have the rules from my config file. I can get an error for `no-multiple-empty-lines` right at the start of a script tag, like so:

<img width="277" alt="screen shot 2017-12-14 at 8 13 59 pm" src="https://user-images.githubusercontent.com/14302276/34026629-37ef3d10-e10c-11e7-9f4e-d2b4c5435375.png">

but no other errors at all.  As you can see I'm not gettin

[2017-12-15 10:12] dbaeumer commented on #364
What happens if you execute eslint directly in the terminal.

If it works there can you please provide a GitHub repository that demos the problem with steps how to reproduce.

[2017-12-15 15:05] sfabriece opened #365 "extension not working"
I'm trying to setup a simple nodejs project but the extension is throwing errors.

config:

[code]

error:

[code]

package.json:

[code]

[2017-12-15 16:04] dbaeumer commented on #365
@sfabriece what happens when you run eslint from a teminal. If this works without problem can you proivide a Github repository that I can clone which demos the problem with steps on how to reproduce.

[2017-12-15 16:06] sfabriece commented on #365
it works fine from the terminal. Let me try to put together a repo.

[2017-12-15 16:21] sfabriece commented on #365
@dbaeumer here is a repo to reproduce: https://github.com/sfabriece/vscode-eslint-test

[2017-12-15 21:39] limeandcoconut commented on #364
It seems to work fine in the terminal (though I'm not intimately familiar with the cli).

Heres my [repo](https://github.com/limeandcoconut/vue-g). It's a slightly modified `electron-vue` boilerplate.

The file I'm attempting to lint is `./src/renderer/App.vue` roundabouts `line 15` where the script tag starts.

Should reproduce if you:

1. clone
2. `yarn`
3. `yarn global add vue-eslint-parser@2.0

[2017-12-17 00:46] fleumari opened #366 "Expected indentation of 2 spaces but found 0 - Shows error but does not fix it!"
https://i.gyazo.com/415a5bc10c34f450fabca3e8563dffd4.png

I'm using the default settings & auto-generated settings from vuejs.

[2017-12-18 04:23] rfossella opened #367 "Cannot read property 'toLowerCase' of undefined"
Hello,
Running Vscode and recently starting having issue whereby, when I enter an EJS file I get the message "_Cannot read property 'toLowerCase' of undefined_".  I disabled the extension and the warning disappeared as did (obviously) the linting.  This has only surfaced recently.

I noticed some other posts regarding the Prettier format extension, which I have installed.  Is this possibly related

[2017-12-18 05:50] rfossella commented on #367
Please disregard. Code outliner extension caused issues for EJS.

[2017-12-18 05:50] #367 closed

[2017-12-18 07:44] chantlong opened #368 "Unexpected Identifier"
I am using eslint extension along with prettier for vscode.

In my react components, when I type a function name, as I'm typing, the error image from the 2nd screenshot constantly pops up. So for _n_ letters I type, the popup shows up _n_ times.

[code]
Does not happen if all functions are written like the above.

[code]
Error constantly pops up if I have functions written in this format. (but I w

[2017-12-18 10:51] dbaeumer commented on #368
What happens if you execute the eslint command directly in the terminal. This error looks more like an exception in ESLint npm module then a linting diagnostics.

If everything works fine in the terminal can you please provide me with a GitHub repository that demos the behavior with steps on how to reproduce.

[2017-12-18 10:53] dbaeumer commented on #366
What happens if you execute ESLint in a terminal. If everything works there please provide me with a GitHub repository I can clone that demos the behavior with steps to reproduce.

[2017-12-18 11:10] dbaeumer commented on #364
Running yarn install prints
[code]

In general eslint and all plugins must be either installed globally or locally. This is a limitation ESLint itself.

Following this advice made linting work for me. If you still have problems please provide a self contained example demoing the problem.

[2017-12-18 11:10] #364 closed

[2017-12-18 11:19] chantlong commented on #368
@dbaeumer  Thanks for getting back. So I tried running eslint in terminal directly on the js file and there are no errors. The error only pops up in vscode when I type a function like `toggle...`

I'll get back to you when I have the GitHub repo ready.

[2017-12-18 11:41] chantlong commented on #368
@dbaeumer Here's the link the repo. In the index.js file, there's a comment on L12. Try typing a function name there and vscode pops those errors out. (at least in my workspace)
https://github.com/chantlong/test-eslint-prettier-standard

[2017-12-18 13:58] dbaeumer commented on #365
This works for me without problems using the above github repository

![capture](https://user-images.githubusercontent.com/1931590/34109452-e8fe23ce-e403-11e7-8d98-12bfd5b50306.png)

Any additional info?

[2017-12-18 14:07] dbaeumer commented on #368
I tries to running eslint from the command line and here is what I get:

[code]

You need to put `too` in the file where you indicated and then run eslint from the terminal (e.g. `.\node_modules\.bin\eslint index.js`. This looks like a ESLint problem to me. Can you please report it there.

[2017-12-18 14:07] #368 closed

[2017-12-18 15:06] sfabriece commented on #365
any special settings for eslint?

I'm using npm v5
i'm on windows 10

It might also be another plugin messing with my settings.

[2017-12-19 08:57] dbaeumer commented on #365
I am using npm 5.5.1 and node 8.9.1. I am on Windows 10 also.

Are you sure that in your setup eslint and all eslint plugins are either installed locally or globally. This has to be that way and is a limitation of ESLint npm module itself.

[2017-12-19 14:02] Khachatour opened #369 "Issue with VSCode's latest version."
Hey there folks!
Am I the only who is experiencing problems with this plugin and VSCode's latest version ?
My current version is `1.19.0`.

Thanks in advance, for any kind of response!

[2017-12-19 19:24] nrgraham23 opened #370 "Underlining entire object on eslint error"
Hello,

This is the same issue as #278 but that issue is closed and locked.

Is it possible to simply underline the line where the error occurs instead of everything from line to endLine?

I presume that is what is happening based on https://user-images.githubusercontent.com/1931590/31603922-fccf7174-b261-11e7-82fe-2cd1ad4e5b8c.png

The vim plugin I have seen some co-workers using simply puts an e

[2017-12-20 09:13] dbaeumer commented on #369
Can you provide a GitHub repository I can clone that demos your problems. Then I can investigate.

[2017-12-20 09:16] dbaeumer commented on #370
As I outlined in #278 the error ranges come from the ESLint npm module and I am relectant to start to change them. This will cause other issues where user will complain about not underlining enough. All I could think of is a setting that controls this that is off by default.

A pull request implementing this is welcome.

[2017-12-20 12:08] Khachatour commented on #369
@dbaeumer Yes mate, I think [this](https://github.com/Khachatour/dc-heroes) one can help you

[2017-12-20 18:07] nrgraham23 commented on #370
I'll look into what would be involved with adding an option (default off) that would cause multi-line errors to only underline the first line.  It will probably be a few weeks before I am able to get to this though.

Thanks.

[2017-12-20 18:36] sfabriece commented on #365
They are installed locally. It might be another extension messing with eslint. I'll try disabling all of them and see if I can identify which.

[2017-12-20 18:50] sfabriece commented on #365
I installed vscode insider edition and only installed the eslint extension. I'm still getting the same result. I have no idea what is wrong.

[2017-12-20 20:24] svictoreq opened #371 "Local .eslintrc file is not loading?"
**Extension version**: 1.4.3

I installed eslint in all my projects locally. And during the installation, I selected that I was not using React. The extension worked fine so far, but now every time I open a JS file, I get an error saying that the React module can not be found.
This is the output that I get:
[code]
![image](https://user-images.githubusercontent.com/29575744/34226892-8f9e8cc0-e5a1-1

[2017-12-21 09:01] dbaeumer commented on #365
Any special paths (e.g. paths with spaces, special unicode charactes, ....)

[2017-12-21 09:04] dbaeumer commented on #369
Trying to run npm install on that repro produces:

[code]

for me.

Can you provide me with a more self contained repository that demos this. And what exactly is not working for you.

[2017-12-21 09:05] dbaeumer commented on #370
That is OK.

[2017-12-21 09:08] dbaeumer commented on #371
@svictoreq what happens if you run eslint in the terminal. E.g.:
[code]

If this works without problems can you please provide me with a GitHub repository I can clone that demos the behavior. Then I will investigate and see what causes this.

[2017-12-21 13:14] svictoreq commented on #371
When I run the command you gave me, it returns that `eslint` is not found. But when i run `.\node_modules\.bin\eslint --debug c:\Users\svict\Dropbox\Development\Practices\element-creator\src\app.js` It returns this:

[code]

[2017-12-21 14:32] JonathanGes opened #372 "Since upgrading to VSCode 1.19.1 I get "babel-eslint" module not found"
I'm using airbnb's config. If i install babel-eslint, i get errors in different rules on airbnb's config file.
Does this make sense? I didn't have this issue with the previous version of VSCode.

[2017-12-21 14:43] blackbetty opened #373 "Support overriding ESLintRC config in plugin eslint.options"
For highlighting purposes, I would like to be able to set rules as warnings that are set as errors in my organization's `.eslintrc`. Is this possible?

[2017-12-22 01:44] sfabriece commented on #365
I'll have a look and let you know.

[2017-12-22 08:52] dbaeumer commented on #373
You can use `eslint.options` settings which accepts all the command line option eslint provides (https://eslint.org/docs/user-guide/command-line-interface). However I have never tried to override rules with it so I am not sure whether it will work

[2017-12-22 08:52] #373 closed

[2017-12-22 08:54] dbaeumer commented on #372
May be VS Code now includes a schema for airbnb config files. Are the errors valid. Can you provide information about the kind of errors.

The ESLint extension itself doesn't do anything special with airbnb config files. So if there needs to be fixed something it has to happen in VS Code.

[2017-12-22 08:56] dbaeumer commented on #371
@svictoreq can you please provide me with a GitHub repository I can clone that demos the behavior. Then I will investigate and see what causes this.

[2017-12-23 05:22] svictoreq commented on #371
@dbaeumer I'm sorry for the delay, this is the repo https://github.com/svictoreq/element-creator

[2017-12-24 10:11] Khachatour commented on #369
All the others are private repositories, so I think now, but problem is auto fix on save. What you think ?

[2017-12-25 11:05] #366 closed

[2017-12-26 13:31] joshunger opened #374 "Failed to load the ESLint library for the document when eslint is installed by yarn"
I'm seeing Failed to load the ESLint library for the document when eslint is installed by yarn.  I have configured the following -

[code]

To find the node path I did -
[code]

And then in `settings.json` set the following

[code]

Then I receive this error message -
[code]

Is yarn installation of eslint supported?

[2017-12-26 13:43] joshunger commented on #374
Argh looks like this setting fixed it -

[code]

Maybe it could just autodetect / try both?

[2017-12-27 09:10] ahhmarr opened #375 "spread operators are not working in vscode"
all the other validations are working fine except spread operator

my code

`config.params = { ...config.params, ...credentials };`

vscode settings

  // Use 'prettier-eslint' instead of 'prettier'. Other settings will only be fallbacks in case they could not be inferred from eslint rules.
  "eslint.autoFixOnSave": true,
  "editor.tabCompletion": true,
  "editor.formatOnSave": true,
  "prettier.e

[2017-12-27 13:25] mkurayan opened #376 "How to lint only concrete file in project."
I work on old project were we do not use eslint.
But I want to use it for new JS files which I going to add into the project.

How I can setup eslint only to check concrete file?
Is there any short key for that?
(Previously I used Sublime+JSHint there was very useful short key for validation)

[2017-12-28 06:34] spalger opened #377 "Feature: Support ignoring auto-fix for certain rules?"
A feature I use all the time in https://github.com/AtomLinter/linter-eslint that I'm missing in vscode-eslint is the ability to blacklist certain rules (like `no-debugger`) from auto fix on save.

[2017-12-28 09:46] chantlong commented on #368
@dbaeumer

Right now I can get by it by adding the `"eslint.run": "onSave"` option so vscode does not throw the popup notification out as I'm typing the function name. All my eslint errors appear in the Problems status bar but this error is the only situation where I get popup notifications. Is there anyway at the moment to disable vscode from popping out eslint error notifications on the top scre

[2017-12-28 11:50] XQONE opened #378 "can't support '.eslintrc.js'"
If i want to use  '.eslintrc.js' , I must set` "eslint.options": { "configFile": "**/.eslintrc.js" }`. Can it support .js file just like  '.eslintrc.json'

[2017-12-28 11:53] XQONE commented on #378
sorry, my fault.

[2017-12-28 11:53] #378 closed

[2017-12-29 09:05] #372 closed

[2017-12-29 11:20] findoo opened #379 "Indent SwitchCase being ignored"
VS Code version: Version 1.19.1
OS Version: Mac OSX 10.12.6
ESLint Version: 4.12.0
VSCode-eslint version: 1.4.3

Config -
[code]

Code -
[code]

Running eslint in the console gives me no warnings, but VS code flags up an error with indentation -

[2017-12-29 23:12] dusty commented on #369
I'm also having a problem with eslint.autoFixOnSave not working.  However, I found that if I disable editor.formatOnSave that it starts working again.

[2017-12-29 23:48] dusty opened #380 "eslint.autoFixOnSave conflicting with editor.formatOnSave"
Using vscode 1.19.1, with the most recent eslint plugin, I am having issues with autoFixOnSave not firing.

I've narrowed it down to the following settings.

autoFix does not fire.
[code]

autoFix works, but I can't autoFormat any other document types
[code]

autoFix works, but now my eslint/prettier configuration conflicts with vscode's javascript formatter.  I often have to save several times un

[2018-01-02 15:47] andyczerwonka commented on #380
I can't seem to get `autoFixOnSave` to work at all - don't really understand what combination of editor and eslint settings will get my editor to autoformat of save according to the eslint rules.

[2018-01-02 20:18] svictoreq commented on #371
Hey @dbaeumer I cloned the repo again into my computer, and it worked fine.
I don't know if the problem is due to the fact that I created the repository on a Linux machine, and copied it to a Windows machine -with the node_modules directory included- with a USB flash drive. Could it be because of that?

[2018-01-03 13:47] IanSavchenko commented on #380
Seeing the same problem as @dusty. VS Code 1.19.1, plugin 1.4.3.

[2018-01-04 09:00] hanxue opened #381 "VSCode Problems does not show updated ESLint errors"
When ESLint first runs, the errors are displayed in the `Problems` window. Subsequent errors for the file are not shown.

How do I see the updated ESLint errors?

![kapture 2018-01-04 at 16 58 53](https://user-images.githubusercontent.com/760008/34556259-a0490ee4-f170-11e7-8891-585c5aa27679.gif)

See the video above. I saved the file at the end before right-clicking, but the Problems below does no

[2018-01-06 07:16] KJlmfe commented on #380
Same problem +1

I want to execute `"editor.formatOnSave": true` before executing `"eslint.autoFixOnSave": true`

[2018-01-07 12:57] StaticNoiseLog opened #382 "Error: Cannot find module '../conf/eslint.json'"
Versions:
Plugin: ESLint 1.4.3
Node module: eslint@4.15.0
Visual Studio Code: Version 1.19.1

I am on a Mac and basically did this:

- sudo npm install -g eslint
- Open Visual Studio Code with a Multi-root Workspace
- Install the vscode-eslint plugin

I now get the following error (actually it is just an Info message) on startup of VSC in its OUTPUT window. Things seem to be working, but it is a b

[2018-01-08 03:15] xcatliu opened #383 "Feature: Support load different config files for each kind of filetype"
Is there a way to load `.eslintrc.js` for `.js,.jsx` files while `.eslintrc-ts.js` for `.ts,.tsx` files?

[2018-01-08 13:45] Khachatour commented on #369
After a while I've switched to Prettier, I've tried disabling `editor.formatOnSave` nothing happened, so I've switched!

[2018-01-08 13:45] #369 closed

[2018-01-08 14:06] dbaeumer commented on #383
@xcatliu such a feature would need to come from ESLint itself (see https://github.com/eslint/eslint). Please file a corresponding issue there.

[2018-01-08 14:06] #383 closed

[2018-01-08 14:10] dbaeumer commented on #382
@StaticNoiseLog I tried to reproduce this in my test multi root workspace but could not. Can you provide me with a GitHub repository that I can clone that demos this behavior ?

[2018-01-08 14:28] dbaeumer commented on #380
You can disable format on save for JavaScript files using the following setting:
[code]

The on save only the ESLint autofix will be triggered.

VS Code offers no API to control the order of a save participants (e.g. first formant then auto fix). So I will close the issue since ESLint can't control this. Please file a issue against VS Code if @KJlmfe feels strong about it.

[2018-01-08 14:28] #380 closed

[2018-01-08 14:32] dbaeumer commented on #381
This works for me without any problems. Can you please provide a GitHub repository that demos the behavior with steps to reproduce?

Do you have any additional extension installed beside the ESLint extensions?

[2018-01-08 14:58] dbaeumer commented on #371
@svictoreq no I don't think so. I would rather say it is a setup of the Linux machine that makes it fail.

I cloned the repository and it failed for me due to

[code]

After creating an .eslintrc.json file everything worked for me as expected.

[2018-01-08 15:03] dbaeumer commented on #379
@findoo I can't reproduce this using the latest version of eslint with the above same code. Can you provide me with a GitHub repository I can clone that demos the behavior.

[2018-01-08 15:04] svictoreq commented on #371
Then should we consider this as a closed issue? Because I have been using the extension daily and it has worked correctly, even in projects used in both systems.

[2018-01-08 15:17] dbaeumer commented on #368
No there is currently no way to prevent this pop up.

[2018-01-08 15:17] dbaeumer commented on #371
Great. Closing then.

[2018-01-08 15:17] #371 closed

[2018-01-08 15:19] dbaeumer commented on #377
Marking as dup of #208

[2018-01-08 15:19] #377 closed

[2018-01-08 15:20] dbaeumer commented on #376
You can add a .eslintignore file and list the old files you don't want to validate.

[2018-01-08 15:20] #376 closed

[2018-01-08 15:22] dbaeumer commented on #375
@ahhmarr what happens if you validate the file in the terminal. Does it work correctly. If so can you please provide a GitHub repository I can clone that demos the behavior.

[2018-01-08 15:25] dbaeumer commented on #374
This is only a problem if yarn is used to install eslint globally. If installed locally it works regardless whether yarn or npm is used.

I will close the issue since most of the time eslint is installed locally. Please ping if you disagree.

[2018-01-08 15:29] ahhmarr commented on #375
I'll create a repo which reproduces the issue

[2018-01-08 15:30] joshunger commented on #374
@dbaeumer Do you have usage data that backs this up?  And would you accept a PR to fix?

[2018-01-08 15:53] ahhmarr commented on #375
https://github.com/ahhmarr/vscode-rest-operator-eslint-issue

[2018-01-08 16:17] findoo commented on #379
Thanks for your response @dbaeumer. I've created a repo which has this behaviour - https://github.com/findoo/eslint-bug

[2018-01-08 20:54] Mr-NVR opened #384 "Error: Cannot find module 'circular-json'"
ESLint 1.4.3, vscode 1.19.1

Haven't used vscode in a while due to the holidays.  Started it today and received:

Tried:

but grep returned nothing.  Disabled extensions and the error went away.  Began re-enabling and restarting one-by-one and the error returned after enabling and restarting dbaeumer.vscode-eslint.

[2018-01-09 08:47] dbaeumer commented on #384
The ESLint extension itself doesn't depend on `circular-json`. So this will very likely come in by an ESLint plugin. What happens when you run eslint from the terminal in the project. Do you see a comparable error. If not can you please provide a GitHub repository that demos the problem.

[2018-01-09 08:53] dbaeumer commented on #379
Very strange. This works for me without any problems.

<img width="834" alt="capture" src="https://user-images.githubusercontent.com/1931590/34712398-0245d180-f523-11e7-81c7-b4a5719d8386.png">

[2018-01-09 08:57] dbaeumer commented on #379
I hardly believe that this is Mac specific, but @sandy081 can you please clone the above repository and see if this works for you. Will take ~ 2 minutes :-)

[2018-01-09 09:22] dbaeumer commented on #375
Very strange. This works for me without any problems. Any additional information?

<img width="983" alt="capture" src="https://user-images.githubusercontent.com/1931590/34713556-f2f5df46-f526-11e7-8d1b-ca6e5bb257d9.png">

[2018-01-09 09:26] ericvincent83 commented on #379
I just reproduced the exact same behaviour as @findoo on my mac with the above repository
The version of my tools matches his.

[2018-01-09 09:27] dbaeumer commented on #374
We always try hard to avoid global dependencies and from all the issue I got so far most people install eslint locally to their project. The only thing they might have outside of the project is a global eslint configuration file. PRs are always welcome. I will reopen the issue.

[2018-01-09 09:28] findoo commented on #379
@dbaumer here's the output from the eslint channel
[code]

[2018-01-09 09:30] dbaeumer commented on #379
I ran `npm install` in the cloned repository and it installed ESLint 4.15.0 for me. Is this the version you are using as well?

[2018-01-09 09:31] joshunger commented on #374
Yeah same here.  👍

[2018-01-09 09:34] joshunger commented on #374
@dbaeumer how about just a documentation hint in the error message?  That'd be a good start.  I can make the change if you want.

[2018-01-09 09:42] dbaeumer commented on #374
Tweaking the error message is definitely a first good step.

[2018-01-09 09:52] findoo commented on #379
Yeah 4.15.0. Has same behaviour with 4.12.0 as well from when I originally posted.

[2018-01-09 09:53] ericvincent83 commented on #379
I got ESLint 4.15.0 from yarn install instead of npm install

[2018-01-09 11:19] jasonxia23 opened #385 "lint not working on eslint-plugin-vue@4.x"
JavaScript in script tag linted uncorrectly.
[code]
No error throws.

[2018-01-09 13:57] sandy081 commented on #379
@dbaeumer I do not see any ESLint problems

<img width="1016" alt="screen shot 2018-01-09 at 14 56 32" src="https://user-images.githubusercontent.com/10746682/34724213-5baf058c-f54d-11e7-991e-0d916f754683.png">

[2018-01-09 19:22] itajaja opened #386 "issues with webpack.config.js syntax"
my webpack.config.js syntax is not compatible with node 7 which I think is the version of node shipped in vscode that this plugin uses. What that means is that with the `eslint-import` plugin and `"import/resolver": "webpack"` vscode-eslint doesn't work correctly. Is there a way to specify a different node runtime?

[2018-01-10 09:47] dbaeumer commented on #379
Thanks @sandy081. I am a little lost here. We can't reproduce this on Windows nor on Mac. Anything you can think of that is special with our machines / setup ?

[2018-01-10 09:50] dbaeumer commented on #386
No, this is currently not possible. Dups  #345

[2018-01-10 09:50] #386 closed

[2018-01-10 09:51] dbaeumer commented on #385
Have you enabled vue linting as described here: https://github.com/Microsoft/vscode-eslint#settings-options. The setting is `eslint.validate`.

If yes can you please provide me with a GitHub repository I can clone that demos the behavior.

[2018-01-10 12:58] joshunger opened #387 "Add a run on display setting to run when you switch tabs in vs code"
It would be really helpful to add a run on display setting (indifferent on name) when you switch tabs in vs code.

Here is a common scenario -

1. Add an import that doesn't exist in File A.
2. Get red squiggles
3. Create a new file B for the missing import, edit and save in VS Code.
4. Go back to your original file.

Expecting: red squiggle disappears
Actual: I have to type a space or something e

[2018-01-10 13:08] jasonxia23 commented on #385
@dbaeumer

**repo**
https://github.com/jasonxia23/vscode-eslint-vue

---
**`yarn run lint`**
[code]

---
**behavior in vscode**
![image](https://user-images.githubusercontent.com/15098719/34774303-c6faf376-f649-11e7-87a7-f64d7b36963d.png)

[2018-01-10 17:05] StaticNoiseLog commented on #382
Thanks for having a look, surely not an urgent issue. By coincidence I saw that the problem seems to be related with the presence of a node_modules folder (explained at the end)

Here is how to reproduce the problem:

In an empty directory:
    git clone https://github.com/StaticNoiseLog/vscode-eslint_382.git

In Visual Studio Code:
File, Open Workspace...
../vscode-eslint_382/DEV.code-workspace
O

[2018-01-11 09:07] dbaeumer commented on #382
@StaticNoiseLog thanks. I cloned the repository, but it contains a prepopulated node_modules folder which doesn't work on my machine. Additionally the repository doesn't contain a src/app.js file. Can you please provide me with an example that contains a package.json file which I can use to install the dependencies.

Looking at the code a little I suspect that this might be a problem of not having

[2018-01-11 09:22] dbaeumer commented on #385
As said in my previous comment you need to enable vue validation in the eslint.validate settings. Something like:
[code]

<img width="232" alt="capture" src="https://user-images.githubusercontent.com/1931590/34817810-4e94313e-f6b9-11e7-9314-db815cab6959.png">

[2018-01-11 09:22] #385 closed

[2018-01-11 09:26] dbaeumer commented on #387
@joshunger good catch. The problem here is that ESLint currently is a single file validator. Scenarios like this need to validate files when other files change / are created / get deleted. Need to think about this more. Doing this on tab change might be an option but will cause problems as well since the count in the status bar should drop to zero as soon as the file gets created.

[2018-01-11 09:28] Kappert1Swisscom commented on #382
Yes, I have put node_modules in Git because without it the problem does not occur. It is well possible that application is not in a working state. You do not have to run the application. Just open a JavaScript file.
The app.js should be there, but is in a subdirectory:
https://github.com/StaticNoiseLog/vscode-eslint_382/blob/master/Aurelia/contact-manager/src/app.js

Thanks for the suggestion that

[2018-01-11 10:07] fiznool commented on #245
Would love to see this too. The same feature is currently available in WebStorm:

<img width="501" alt="screen shot 2018-01-11 at 10 07 19" src="https://user-images.githubusercontent.com/820863/34819994-4155360a-f6b7-11e7-9256-3cddabfcbbe2.png">

[2018-01-11 10:58] dashokkumar93 opened #388 "Creating and extending custom rules in eslint."
In my code i wrote on VS Code(Containing eslint) most of the cases where a line containing a string.
like the below one.
[code]

I need an auto-fix option in es-lint such that it adds a (a static) comment at the end of line for the lines containing string on VS Code. like this
[code]
Is there any way of achieving this on VSCode?

[2018-01-11 11:13] jasonxia23 commented on #385
I have enable vue validation in the eslint.validate settings.
[code]
My VSCode version is 1.18.0.

[2018-01-11 13:19] StaticNoiseLog commented on #382
Yes, I have put node_modules in Git because without it the problem does not occur. It is well possible that the application is not in a working state. You do not have to run the application. Just open a JavaScript file for editing.
The app.js should be there, but is in a subdirectory:
https://github.com/StaticNoiseLog/vscode-eslint_382/blob/master/Aurelia/contact-manager/src/app.js

Thanks for the

[2018-01-12 00:19] Mr-NVR commented on #384
Thanks.

Wasn't able to nail down which extension had the dependency so "npm uninstall"ed all eslint dependencies, then followed amackintosh's recommendations here: https://github.com/airbnb/javascript/issues/1589 and added the following to the .eslintrc.json.

[code]

So strange that it showed up the day I returned from winter break.

[2018-01-12 10:00] dbaeumer commented on #385
If you use "vue" as the file type you need to have the Vectur extension installed as well. This is all I did to get your GitHub repository to work correctly.

[2018-01-12 10:05] mkurayan commented on #376
Well this is not a validation per request, when you can control when it happens, but still thanks for you attention and advice.

[2018-01-12 16:23] StaticNoiseLog commented on #382
@dbaeumer Your hint was good! I had installed ESLint globally (eslint@4.15.0) and there was a local node package in this project with a dependency on an older ESLint version (eslint@2.13.1).

I used this command and (after some resistance) could uninstall gulp-eslint:
    npm uninstall gulp-eslint

This got rid of the message.
I don't know what removing these packages will break and where they cam

[2018-01-12 17:37] bensaufley opened #389 "Configuration for rule "indent" is invalid: Value "data["1"].MemberExpression has additional properties"
I'm getting this popping up over my editor whenever I open a JS file. Running `./node_modules/.bin/eslint path/to/that/file.js` within the project root does not produce this error.

ESLint version: 4.14.0
Plugin version: 1.4.3
VS Code version: 1.19.2

I don't see a `data["1"]` anywhere; the only reference to `MemberExpression` I'm finding (and the only one I'm finding in the ESLint docs) is in `in

[2018-01-14 09:24] techieshark opened #391 "request: better error message if eslint crashes"
I started noticing an initially inexplicable error in vscode.

After updating from eslint 4.13 to 4.14, when I open a js file in vscode, the following error pops up: "Error: Cannot read propery 'type' of undefined [close]"

!["Error: Cannot read propery 'type' of undefined [close]"](https://user-images.githubusercontent.com/1072292/34914482-77893e66-f8c8-11e7-898e-d74def6a911f.png)

That's at the

[2018-01-14 09:45] techieshark commented on #391
In case anyone else ends up running across that eslint issue, it was because I had updated from eslint 3.x to 4.x without updating from babel-eslint 7.x to 8.x. This fixed the eslint crash for me: `yarn add -D eslint@4.x babel-eslint@8`.

Would still be great to have that vscode error more verbose to help narrow down the problem faster.

[2018-01-15 06:17] jasonxia23 commented on #385
I cloned my repo and opened it in VSCode. It is OK now. Don't know the reason. Thanks  anyway for your patience.

[2018-01-15 10:13] #391 closed

[2018-01-15 10:17] dbaeumer commented on #389
Can you provide me with a GitHub repository I can clone that demos the problem.

[2018-01-15 10:19] dbaeumer commented on #382
@StaticNoiseLog thanks for getting back to me and I am happy it works now. Closing the issue.

[2018-01-15 10:19] #382 closed

[2018-01-15 10:52] dbaeumer commented on #384
Do I understand correctly and everything is working again ?

[2018-01-15 12:11] ChrisYhP commented on #389
i have the same problem....how to fix it

[2018-01-15 12:46] dbaeumer commented on #388
No. Such a customizable auto fix support has to come from ESLint itself since VS Code is only leveraging the default ESLint npm auto fix support.

[2018-01-15 12:46] #388 closed

[2018-01-15 14:53] #381 closed

[2018-01-15 15:27] findoo commented on #379
Nevermind, was a sneaky user setting overriding the .eslintrc rule 🤦
Closed.

[2018-01-15 15:27] #379 closed

[2018-01-15 21:03] techieshark opened #392 "Update README: new task config style for running project-wide lint"
Following the README instructions to make a task that lints all files, and noticed the task config style provided is outdated: the version provided is [v0.1.0](https://code.visualstudio.com/docs/editor/tasks-v1) but I expected it to be [v2.0](https://code.visualstudio.com/docs/editor/tasks)).

This is the v0.1 config from the README now:
[code]

I modified this to make a v2 tasks.json config:

[co

[2018-01-15 21:21] techieshark commented on #392
See also: #91

[2018-01-15 22:47] techieshark commented on #391
This is great - now it shows:

![improved vscode eslint error notification](https://user-images.githubusercontent.com/1072292/34959775-d77cf130-f9ec-11e7-93df-c2d4f620c466.png)

However, in the case of the error I had, `eslint` crashed in such a way that that the error visible  when running `eslint` on the command line isn't reported in the ESLint output channel within vscode, as shown below:

![e

[2018-01-16 03:06] seancheung opened #393 "It always get broken each time eslint gets updated."
[Extension version] 1.4.4
[Global eslint version] 4.15.0
[VSCode version] 1.19.2
[Node version] 7.9.0
[OS] Windows 10 x64

![image](https://user-images.githubusercontent.com/5442563/34970039-0515b1ca-faad-11e7-8d8c-17a466085d02.png)
![image](https://user-images.githubusercontent.com/5442563/34970044-0c775e96-faad-11e7-829c-19e210809ec9.png)

[2018-01-16 09:39] dbaeumer commented on #393
This works for me without any problems. Is there anything special you can think of. After the update does the extension exist correctly in `~/.vscode/extensions`

[2018-01-16 09:40] dbaeumer commented on #393
@sandy081 FYI. Anything you can think of breaking an extension on update.

[2018-01-16 09:47] dbaeumer commented on #391
Thanks for the great analysis. I add the code. Please have a look at this commit. If OK I will publish a new version.

https://github.com/Microsoft/vscode-eslint/commit/339d507d8e1d8fafdeb21025073693e74ceb20a4

[2018-01-16 09:52] dbaeumer commented on #392
@techieshark PR is welcome. In the readme we should mentioning the following.

- if there is a script in the package.json then the task will be auto detected and the UI will let you pick a problem matcher and will automatically generate a tasks.json for you
- for non npm script users we should provide the tasks.json file as mentioned above.

[2018-01-16 09:53] dbaeumer commented on #392
Now that I think about we should do even better and the ESLint extension should contribute a task to validate the whole project. Then nothing is necessary at all. Would you want to look into this?

[2018-01-16 09:53] #375 closed

[2018-01-16 19:03] martin-eq commented on #393
Had the same issue just now. I uninstalled the extension, installed again and it's working now. Not sure why it broke.

[2018-01-16 20:13] techieshark commented on #391
Looks good and works. Thanks!

[2018-01-16 21:44] techieshark commented on #392
@dbaeumer hmm. I'm not sure what you mean by "extension should contribute a task".

Looking at the capabilities available to extensions, I see that extensions can [contribute commands](https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributescommands) and [contribute configuration](https://code.visualstudio.com/docs/extensionAPI/extension-points#_contributesconfiguration), as w

[2018-01-17 06:14] seancheung commented on #393
Hmm thanks @dbaeumer  @martin-eq
I deleted ~/.vscode/extensions and reinstalled it from scratch(actually from settings-sync) and now it works!
Don't know why.

[2018-01-17 06:14] #393 closed

[2018-01-17 06:18] seancheung commented on #393
I remembered that it happened once  on my mac and the solution was also a re-installation.

[2018-01-17 09:45] sandy081 commented on #393
@dbaeumer No clue.

@seancheung It would be helpful to know the steps you followed to get this issue which might give us some hint.

Thanks.

[2018-01-18 21:49] mcdado opened #394 "IntelliSense for .eslintrc.js?"
I love the fact that the JSON configuration file gets IntelliSense autocompletion.
I image it must be harder, but would it be possible to add the same support to `.eslintrc.js`?

My configuration looks something like this:
[code]

I prefer to use the `.js` format for various reasons, the fact that it is legal to use comments. I'm not sure it's a thing, but can one use conditionals and other logic

[2018-01-19 19:39] Katherraptor opened #395 "Eslint.options Env doesn't apply on Node LTS"
We just updated our node version to LTS and this caused my `eslint.options` `"env": { "es6": true }` value to be disregarded. If I set the `env` value directly in my `.eslintrc.something.json` (specified in `eslint.options` `configFile` which does seem to be working) it works as my `env` flag in `eslint.options` was previously working before this update. But the `env` CLI command from `eslint.opti

[2018-01-21 11:59] genna87 commented on #251
Newbie here

There's any workaround to use the eslint installed in WSL?

[2018-01-21 20:07] agm1984 commented on #164
I notice this is a bit of a rough spot in VS Code. My partner and I have been using VS Code for a year, and we notice that a couple times a week, ES Lint hemmhorages and starts underlining stuff incorrectly.

It usually happens when you have been using VS Code for a long time and/or have lots of open editors.

I also notice that it seems to exacerbate the issue if you are making lots of small chan

[2018-01-22 02:32] subyraman opened #396 "Passing a rulesdir to the eslint command"
My project has a custom `rulesdir` that is run like `eslint . --rulesdir ~/src/project/custom_rules`.

I have included the `rulesdir` param in `eslint.options`, but the linter is telling me that it cannot find the rule. I'm unsure how to begin debugging if the extension is running the linter with this parameter or not.

[2018-01-22 05:40] subyraman commented on #396
My bad, this is `rulePaths` in the CLI engine.

[2018-01-22 05:40] #396 closed

[2018-01-22 08:16] dbaeumer commented on #164
@agm1984 thanks for providing this. One tip: you can always restart ESLint by reloading the Window. You don't need to close and reopen VS Code.

[2018-01-22 08:19] dbaeumer commented on #395
@Katherraptor the eslint server is running on the node version that ships with VS Code. So updating your node version shouldn't have any affect. Can you provide me with a GitHub repository that demos this?

[2018-01-22 10:54] #384 closed

[2018-01-22 11:34] genna87 opened #397 "WSL integration"
ESLint extension doesn't seems to work if ESLint is installed on the Windows Subsystem for Linux

The only way to make it work is to install Node.js and ESLint for Windows too?

[2018-01-22 14:53] fabioimpe commented on #392
Hi, I'm trying to configure the task using the npm way, but the package.json where the script is configured is not on the workspace root, I noticed that there is the "path" property which allows to specify the path to the package.json, I set it but the output on the console is always:
`Error: The npm task detection didn't contribute a task for the following configuration:
{
    "label": "Run eslin

[2018-01-22 18:49] Katherraptor commented on #395
Repo:
https://github.com/Katherraptor/VscodeEslintTest

Current setup errors on `const`

[2018-01-23 06:31] techieshark commented on #392
@fabioimpe,

I notice the same problem when I try moving my `package.json` into a new folder like `client/` (even after ensuring I had added the root folder to a workspace and add `"path": "${workspaceFolder}/client/"` to tasks.json as you did.  (Note from [docs](https://code.visualstudio.com/docs/editor/variables-reference): "The ${workspaceRoot} variable is deprecated in favor of the ${workspace

[2018-01-23 08:59] JakubRimal opened #398 "Disabling Rules with Inline Comments (eslint-disable) doesn't work"
As it is described at https://eslint.org/docs/user-guide/configuring#disabling-rules-with-inline-comments it should be possible to disable ESLint by comments but it seems like vscode-eslint plugin ignores it.

[2018-01-23 09:10] JakubRimal commented on #398
Ok, now I've realized that it should be **block** comment when you use `eslint-disable` which is in contrast with the usage of `eslint-disable-line` and `eslint-disable-next-line` where it is possible to use inline comment.
This is a bit confusing as the [eslint package](https://www.npmjs.com/package/eslint) works with both types of comments.

[2018-01-23 09:50] maranomynet commented on #374
Since installing eslint globally is a valid option, it would make sense to automatically look for both npm and yarn global installs, and thus do away with the need to fiddle with settings.

[2018-01-23 14:58] joshunger commented on #374
@dbaeumer can you approve my PR?

[2018-01-26 08:00] dbaeumer commented on #374
Done. I am very busy with work in VS Code itself. So sorry for the delay.

[2018-01-26 08:00] dbaeumer commented on #374
Keeping the issue open for the PR to auto detect this.

[2018-01-26 08:04] dbaeumer commented on #392
@techieshark there is: see https://github.com/Microsoft/vscode/blob/master/src\vs\vscode.d.ts#L5635 and https://github.com/Microsoft/vscode-extension-samples/blob/master/task-provider-sample\src\extension.ts#L1

[2018-01-26 08:06] dbaeumer commented on #397
That is true and to make the extension work in WSL works needs to happen in VS Code itself. See all the issues we have in vscode repository labeled with WSL.

I will close the issue since this is something that should be solved in VS Code in a more general way than only in this extension.

[2018-01-26 08:06] #397 closed

[2018-01-26 08:09] dbaeumer commented on #251
See my comments here: https://github.com/Microsoft/vscode-eslint/issues/397

As commented there work has to happen in VS Code first to make this a nice experience since when running in WSL paths need to be different as well and VS Code on Windows assumes a Windows path format. I will keep this issue for tracking this open.

[2018-01-26 17:00] fabioimpe commented on #392
@techieshark Thank you, for now the solution 1 fit better to me

@dbaeumer broken links :(

[2018-01-26 21:36] mjbvz opened #399 "Adopt VSCode 1.20's new CodeAction type"
VS Code 1.20 adds a new [`CodeAction`](https://github.com/Microsoft/vscode/blob/master/src/vs/vscode.d.ts#L1897) type that attaches additional metadata to code actions. This additional information is already being used in a few places:

* `CodeAction.kind` describes the kind of a code action (extract refactoring, quickfix, ...) Kinds are used for VS Code's new `refactor` command, and they are used

[2018-01-27 08:13] sebelga opened #400 "Casing of <lib> does not match the underlying filesystem"
Hello
I am getting false positive with the plugin on the rule "import/no-unresolved" in Visual Studio Code.

I get "`Casing of <lib> does not match the underlying filesystem`".
But when I run eslint from the command line, I don't get this error.

It is related to https://github.com/benmosher/eslint-plugin-import/issues/720 and seems to have been fixed in version 2.8.0 of "eslint-plugin-import" but

[2018-01-28 14:25] sambigelow44 commented on #368
I am having an issue with this as well. I would love it if I could just turn off notifications from vscode-eslint. Is there any way to do that? I still want the squiggly lines, just not the popup notifications.

[2018-01-30 03:48] icharge opened #401 "Incorrect linter :("
![image](https://user-images.githubusercontent.com/1619007/35547347-1ca4f856-05ab-11e8-97cd-b7f532c5e061.png)

[2018-01-30 09:30] dbaeumer commented on #401
What happens if you lint that file in a terminal ?

[2018-01-30 09:32] icharge commented on #401
It is fine now, I just set wrong config. (My first time using) :)

[2018-01-30 09:32] #401 closed

[2018-01-30 10:16] dbaeumer commented on #352
Closing.

[2018-01-30 10:16] #352 closed

[2018-01-30 14:04] husayt opened #402 "it takes ages for eslint to load:"
It takes about 3 minutes for eslint to load in VS code 1.18.1

What could be cauisng this?

[2018-01-31 10:34] basickarl opened #403 "UnhandledPromiseRejectionWarning when renaming .eslintrc.json"
[code]

While eslint is active, renaming the .eslintrc.json file results in the above error. No try catch and helpful error mesage (.eslintrc.json cannot be found for example).

[2018-01-31 13:30] dbaeumer commented on #402
Actually I have no idea. What happens if you run eslint from within a terminal on that project. Does it take a long time to start as well?

[2018-01-31 16:03] Andy-QT opened #404 "multiple shelljs_ files opens"
Only with extension active,  VSCode opens multiple files by it self:
1x EXEC-CHILD.JS in .\node_modules\shelljs\src\exec-child.js
Multiple times SHELLJS in .\AppData\Local\Temp\shelljs_c1c7b5c58ea0568d229c

SHELLJS contains:
{
"command":"svn info",
"execOptions":{
  "silent":true,
  ..,
  "stderrFile":".\\AppData\\Local\\Temp\\shelljs_2550622ccfa1212e1894"
}

![vscode_eslint_openfiles](https://use

[2018-02-01 15:01] dbaeumer commented on #404
@Andy-QT that is really strange since the ESLint extension does do anything with shelljs. Do you have a repository I can clone that demos this?

[2018-02-01 15:18] #403 closed

[2018-02-01 15:33] basickarl commented on #403
@notlaforge Care to leave a comment for the close?

[2018-02-01 15:33] basickarl commented on #403
@dbaeumer Care to leave a comment for the close?

[2018-02-01 15:34] basickarl commented on #403
@dbaeumer I see what you did there, nice.

[2018-02-01 15:38] dbaeumer commented on #403
Problem was that I converted Object to Map a while ago and forgot to places when the .eslintrc file changes.

[2018-02-01 15:40] dbaeumer commented on #400
@sebelga does the problem show up if you run eslint from the terminal as well. If so I would recommend to ask the question in this repository:  benmosher/eslint-plugin-import

[2018-02-01 15:52] dbaeumer commented on #392
Fixed above links

[2018-02-01 15:55] dbaeumer commented on #398
Hmm, this is strange since the eslint extension uses the eslint npm module to do the work. Does this work if you lint the file in a terminal using the same eslint npm module?

[2018-02-01 15:57] dbaeumer commented on #394
Dups #124.

[2018-02-01 15:57] #394 closed

[2018-02-01 16:10] sebelga commented on #400
@dbaeumer I don't get the error in the terminal. Only inside VS studio code.

This is what I get:

![alt text](https://s3.eu-central-1.amazonaws.com/sebelga-tmp/eslint-import-error.png "eslint import error")

[2018-02-01 16:26] JakubRimal commented on #398
You are right, my fault, I was confused as I thought that with eslint package it works because the build didn't fail. But it was only warning so the build should not fail.
Now I've tried that VS Code ESLint extension has exactly the same behavior as eslint in terminal so it works correctly and I'm sorry about that I've created this issue.

[2018-02-01 16:26] #398 closed

[2018-02-01 20:21] Andy-QT commented on #404
@dbaeumer i don not have a repository.
CLI has no errors
![eslint_cli](https://user-images.githubusercontent.com/2870154/35700906-9baff3f4-0794-11e8-8424-4e4661ac7b30.jpg)

I have made a screen record of VSCode (.avi), maybe it is helpful.
[VSCode_eslint_error.zip](https://github.com/Microsoft/vscode-eslint/files/1687060/VSCode_eslint_error.zip)

Is it possible to clear VSCode cache or anything el

[2018-02-02 14:30] PavelPolyakov commented on #154
Decided to give a try to `vs code` and found that `eslint` doesn't fix everything in one go. That was disappointing.

I think it's obvious bug, because after the first run `eslint` actually knows that some part of the code remained to be incorrect, why not to try to fix it if another `fix all auto-fixable problems` run will do so. If this is a feature the name of the command is misleading, should

[2018-02-02 16:30] Andy-QT commented on #404
@dbaeumer We have found the error.
It was an error with a relative path.

Eslint in CLI had no errors because we started it in the project root folder with .eslintrc.json

The question is, which path is used in VSCode?
I could not find any information in the VSCode output console.

[2018-02-02 16:30] #404 closed

[2018-02-05 14:27] dbaeumer commented on #404
If a path is relative it will be treated relative to a workspace folder. How did the path look like and how did the workspace folder path look like

[2018-02-06 10:44] dbaeumer commented on #154
@PavelPolyakov thanks for your willingness to look into this.

The problem is that the result of the fixes need to be applied on the client side since the client owns the document content since it is open in the editor. After the first round is applied the eslint server receives a document change event with the change / new content and the parses the document again to compute any ESLint errors and

[2018-02-06 15:19] samtsai commented on #398
In my case running `eslint` from command line produces no errors/warnings but in the Vue template it does.  Code displays the error for the rule: `vue/require-v-for-key` which I disabled via comments:
``

I've combed through `eslint-plugin-vue` issues but haven't found any yet, especially since, running `eslint` in command line works as expected.

[2018-02-07 13:54] #402 closed

[2018-02-07 20:32] pdomaleczny opened #405 "Bug with custom alias in Webpack"
Version of used depedencies:
[code]

Configuration of resolving alias: `webpack.config.js`
[code]
Configuration of `.eslint.js`:
[code]

Description of issue:
As you can see I have defined custom alias in webpack and when I am running `eslint` from the CLI everything passes but somehow VS plugin cannot resolve aliases and highlights every line when I am trying to import things from `myCustomAlias`

[2018-02-08 08:42] dbaeumer commented on #405
@pdomaleczny when  you run ESLint from the terminal do you run it in the same directory that you open in VS Code. IF you have a complex multi folder setup you need to let ESLint extension know which directory are root directories to find the right config files.

Can you share a GitHub repository that demos the problem. Then I can have a look and see whether this is a bug in the ESLint extension.

[2018-02-08 08:55] pdomaleczny commented on #405
@dbaeumer Hi, thanks for so quick reply. Yeah both CLI run and the one from Visual Studio Code run from the same directory.
That's my structure:
[code]
And thats my npm script that passes:
`"lint": "eslint --ext .js --ext .jsx src"`

I get both errors when I try to import:
[code]
If I find more time in the weekend I will make demo repository so you can reproduce that issue :v:

[2018-02-09 09:54] emmiz commented on #164
@dbaeumer What do you mean with "Reload window"? If I close the tab of an affected file and then reopen, the same errors are still there. :-/ I think I have the same problems as @agm1984.

[2018-02-09 16:58] Lajnold commented on #365
This might happen if you have a global ~/.eslintrc that uses eslint-plugin-react. I have a problem where Visual Studio or ReSharper or something sometimes creates ~/.eslintrc upon startup, and it includes some plugin that isn't present in the project's package.json. After that, vscode-eslint doesn't work until I've removed ~/.eslintrc.

I've seen bug reports about ~/.eslintrc being used despite th

[2018-02-09 22:18] agm1984 commented on #164
Yes, I observed the same yesterday. I was seeing some weird ES Lint behaviour and closing the tab changed the errors that were outputting but it was still in an error state.

I pasted in a bunch of old HTML markup into a React component and that blew up ESLint instantly. I had to close VS Code and reopen it to fix it. VS Code seemed to really hate that the HTML markup didn't have proper self-closi

[2018-02-13 05:26] chenzhenxi commented on #405
I have exactly the same issue, and it's happened in all my ides. including VSCODE, SUBLIME, WEBSTORM...

[2018-02-16 12:24] Lajnold commented on #365
@dbaeumer: Can you reproduce the problem where an invalid ~/.eslintrc stops the extension from working?

[2018-02-16 17:23] egamma opened #406 "Rename server.js to a more specific name so that eslint is easily recognized by code --status"
For tslint I´ve renamed the server.js to tslintServer.js

![image](https://user-images.githubusercontent.com/172399/36320415-6ea46558-1346-11e8-8db1-0f1e3f3a1263.png)

[2018-02-17 01:58] focux commented on #405
Same here.

[2018-02-17 13:01] pdomaleczny commented on #405
@dbaeumer Any progress on reproducing this issue? Sorry but I was off for more than week and I wasn't able to do demo repo for that. If you still couldn't reproduce that I will create simple demo repo ✌️

[2018-02-19 02:23] chenzhenxi commented on #405
I think I figured it out, it's not a VS code issue.

Es-lint webpack plugin only support webpack.config.js file that export Object.

not working
[code]

working

[code]

[2018-02-19 03:58] PTBKoo commented on #365
I have the same problem but I have my eslint and all eslint plugins installed globally. It looks like vscode-eslint plugin is looking for the file locally when i have eslint globally installed. Not sure when this problem started. I also dont have a local .eslintrc file in my project.

[2018-02-19 08:16] pdomaleczny commented on #405
@chenxsan I have and it still doesn't work :(
[code]

[2018-02-19 10:26] dbaeumer commented on #405
Was out on vacation as well so a repository demoing this is still appreciated.

[2018-02-19 10:29] dbaeumer commented on #365
@Lajnold only if there is no project local config. But this is nothing VS Code can fix because in such a setup eslint on the command line doesn't succeed either.

[2018-02-19 10:31] Lajnold commented on #365
In my case, there is a project local config. eslint on the command line works, but vscode-eslint fails.

[2018-02-19 10:33] dbaeumer commented on #406
Good suggestion.

[2018-02-19 10:33] #406 closed

[2018-02-19 10:41] dbaeumer commented on #365
@Lajnold what kind of error are you seeing? This works for me with the following broken .eslintrc.json file in my home directory.

[code]

[2018-02-19 10:43] dbaeumer commented on #365
Setup problem. I was not able to reproduce this. I see now:

![capture](https://user-images.githubusercontent.com/1931590/36373991-24ad7fa4-156a-11e8-99a8-6467ed93f565.png)

[2018-02-19 10:44] dbaeumer commented on #365
But I don't known why this is happening since I am not instructing eslint to read the config.

[2018-02-19 10:53] dbaeumer commented on #365
This actually fails in ESLInt itself

![capture](https://user-images.githubusercontent.com/1931590/36374379-67e0a674-156b-11e8-83ec-a20b8881c38f.png)

I don't know why in a library setup they read that file and fail and in a command line setup they don't

[2018-02-19 11:23] dbaeumer commented on #365
The problematic part in ESLint lib is this

[code]

Need to understand why this is not working when used as a library.

[2018-02-19 13:36] dbaeumer commented on #365
OK. The problem is a path comparing issue: when using the ESLint API they tripple equal paths which in this setup are `c:\Users\dirkb` and `C:\Users\dirkb` which are obviously not equal and then they try to read the config from the user dir although it should be ignored.

[2018-02-19 16:37] #365 closed

[2018-02-19 16:48] Lajnold commented on #365
Nice, thanks!

[2018-02-20 07:53] xerosanyam opened #408 "autoFixOnSave stops automatically after some time."
This may be a duplicate of  #283. Opening this issue again as there was not solution suggested.
OS: Ubuntu 17.10
Version: 1.20.0 (Had this problem in previous versions too)

[2018-02-20 08:01] Lajnold commented on #365
By the way, it looks like you meant to publish 1.4.7, but actually published 1.4.6. The publishing seems to be one step behind.

[2018-02-21 21:36] Hirse opened #409 "Add Command to create a YAML configuration"
The extension currently has a command to `Create '.eslintrc.json' file`, but I would prefer to use `.eslintrc.yml`.

Is it possible to add a command that generates a YAML configuration with the same content?

[2018-02-22 04:42] AdenFlorian commented on #208
@dbaeumer I'm actually not a fan of my suggestion using 'mode=include` as the first element in the array to control the behavior. Any chance you would go for the object idea? I think I would be able to write an enum to give the user autocomplete for the `mode` property, where that would be a bit harder, if even possible, to do with it being the first entry in the array.

[code]

[2018-02-22 09:38] pdomaleczny commented on #405
@focux @chenzhenxi I don't know how about you guys but in some magic way I am not occurring this issue anymore. Was any recent update @dbaeumer ?

[2018-02-22 16:43] jsodeman opened #411 "Extends isn't playing well with others"
My settings.json is
[code]

When I have .eslintrc.json set to
[code]
then VS Code reports 9 problems with my code. But when I add in the vue plugin as follows then I get 0 problems reported.
[code]

I'm using:
eslint 4.18.1
eslint-plugin-vue 4.2.2
and the Vetur and ESLint VS Code extensions

[2018-02-22 21:05] #395 closed

[2018-02-23 00:23] pierznj opened #412 "Why do I get linter errors with an arrow function?"
I have an eslint error showing at this line:

    locBase.forEach((l) => {

which highlights the > character as unexpected. In my (user) settings I have:

    	"eslint.options" : {
		"ecmaFeatures": {
			"arrowFunctions": true,

No workspace settings. It's just the first instance of an arrow function operator that gets highlighted. Why do I see this error?

[2018-02-23 10:20] dbaeumer commented on #412
As described in the README (https://github.com/Microsoft/vscode-eslint )the eslint.options property is for CLI options which have a different structure than the .eslintrc* file. I would recommend that you add a .eslintrc.json file to the project and configure ESLint there. You can create on with eslint --init.

[2018-02-23 10:20] #412 closed

[2018-02-23 11:47] dbaeumer commented on #405
No, nothing that would have addressed something like this.

[2018-02-23 13:37] dbaeumer commented on #164
Actually closing and reopening the tab should clear the errors and re-compute them. If in this scenario the errors are still wrongly computed can you do the following:

- enable tracing (`"eslint.trace.server": "messages"`)
- close the file
- reopen the file

and append the trace here.

[2018-02-23 17:23] jsodeman commented on #411
With `"extends": ["airbnb-base", "plugin:vue/strongly-recommended"],`

Running the following from the command line:
`eslint --ext .js,.vue -c .eslintrc.json js/src/`

Results in 0 error reported in VSCode and 9 errors reported on the command line.

With `"extends": ["airbnb-base"],`

Results in 0 error reported in VSCode and 0 errors reported on the command line. So it looks like eslint-plugin-vue

[2018-02-24 18:38] agm1984 commented on #164
[GOOD DEBUG INFO ENCLOSED]

Dang, I'm sorry Dirk. I had the most perfect reproduction last night of some ES Lint errors.

I always roll with eslint tracing on verbose 24/7. I changed it to messages and back to verbose, but I wasn't able to see where the traces go.

I was looking in the integrated terminal and none of the tabs had any info. The problems one was showing the ES Lint errors, but no 't

[2018-02-25 14:22] WellJa opened #413 "Option to bypass local installation of eslint?"
I couldn't find an option to bypass the search for the local installation of eslint.

Why do I need that?
When editing in VSCode I really like to use one set of linting rules for all of my projects.

Therefore I have installed eslint globally and have defined my own .eslintrc in my home directory.
I always like to use these (standard) settings when editing.

[2018-02-25 22:44] dennisjac opened #414 "eslint extension doesn't work"
I'm running VSCode 1.20.1 and vscode-eslint 1.4.6 and while the plugin is installed and enabled when I open a directory with a valid .eslintrc the javascript code doesn't seem to get linted at all. The problems pane always shows no errors and the output and debug console panes stay empty.
Running eslint (globally installed) on the command line shows the problems correctly as expected.

[2018-02-25 22:54] dennisjac commented on #414
I was able to "fix" this problem by creating a backup of the  `.config/Code` folder and then deleting it. Now the plugin seems to work but doesn't find the globally installed (`npm install -g`) eslint. In the terminal I can start eslint fine:
[code]

[2018-02-26 08:14] dbaeumer commented on #414
@dennisjac this works for me. When you open the workspace can you switch to the ESLint Output channel and see if there is any error reported there?

[2018-02-26 08:22] #413 closed, assigned to nobody

[2018-02-26 08:31] dbaeumer commented on #164
@agm1984 thanks for getting back to me. The log appears in the ESLint Output channel. Go Vies > Output and then select ESLint from the drop down in the Output pane.

As a side note: running in verbose tracing produces a lot of output and will very likely slow down your machine as well. Most of the time it is enough to run in `messages` mode to track down problem.

[2018-02-26 08:34] dbaeumer commented on #411
@jsodeman have you installed the vue extension from the market place (https://marketplace.visualstudio.com/items?itemName=octref.vetur). Without a vue plugin the language `vue` is not known to VS Code and the configuration

[code]

has no effect.

[2018-02-26 15:49] jsodeman commented on #411
Yes, I've got both the Vetur and ESLint plugins installed in VS Code.

[2018-02-26 15:56] jsodeman commented on #411
I'm not sure if one of the Code extensions updated but today the errors started being reported correctly.

[2018-02-26 19:04] agm1984 commented on #164
Awesome thanks. Ok, I will update with new data when I can reproduce.

[2018-02-27 03:37] abc45628 opened #415 "/*exported*/ not work"
i add 'exported' in my js, but it still alert me 'no-unused-vars'. my project is a browser project
eslint version 1.4.7
vscode version 1.20.1
![tim 20180227113143](https://user-images.githubusercontent.com/9178345/36709396-9a2cf9dc-1bb2-11e8-94ea-4439fdea8f70.png)

[2018-02-27 08:56] dbaeumer commented on #415
What happens when you run eslint in a terminal on that file. Is the error still reported. The extension basically run the ESLint npm module.

[2018-02-27 08:57] dbaeumer commented on #415
If running in the terminal doesn't reproduce the issue please provide a GitHub issue that demos the behavior.

[2018-02-27 08:58] dbaeumer commented on #411
Can you provide me with a GitHub repository I can clone that reproduce the problem. Then I can have a look and try to understand why this is happening.

[2018-02-27 09:35] dbaeumer commented on #297
I lately fixed problems with the current working directory which resulted in problems where the .eslintignore will not work correctly. Do you still see the problem?

[2018-02-27 12:43] abc45628 commented on #415
it still warning . anything can i do?
`C:\Users\zzzzz>npm i -g eslint
C:\Users\zzzzz\AppData\Roaming\npm\eslint -> C:\Users\zzzzz\AppData\Roaming\npm\node_modules\eslint\bin\eslint.js
npm WARN ajv-keywords@3.1.0 requires a peer of ajv@^6.0.0 but none is installed. You must install peer dependencies yourself.

+ eslint@4.18.1
updated 1 package in 18.505s

C:\Users\zzzzz>eslint d:/111.js

d:\111.js

[2018-02-27 20:06] willisplummer commented on #405
I'm still experiencing this issue :/

[2018-02-27 20:31] dennisjac commented on #414
This is what I see in the output pane:
[code]
While `eslint` is globally installed and working fine when invoked manually the extension simply doesn't seem to recognize it.

[2018-02-28 10:29] dbaeumer commented on #414
@dennisjac which package manager are you using? npm or yarn. For yarn you need to let eslint know about is using "eslint.packageManager": "yarn"`

[2018-02-28 10:31] dbaeumer commented on #405
@willisplummer can you provide a GitHub repository that repros the problem.

[2018-02-28 10:33] dbaeumer commented on #415
If you see the problem in the terminal as well the issue is unrelated with the ESLint extension. You might be better off asking the question on stack overflow or in the corresponding eslint GitHub repository.

[2018-02-28 10:33] #415 closed

[2018-02-28 10:47] valentinpalkovic opened #416 "ecmaVersion 2018 (9) not supported"
**System**:
- Visual Studio Code 1.20.1
- Eslint Plugin Version 1.4.7
- macOS 10.13.3
- Eslint 4.18.1

**Issue**:
In Eslint 4.16.0 a new ecmaVersion (2018) was introduced. In the newest version (v4.18.1) the experimentalObjectRestSpread option was deprecated. With the current setup it is not possible to avoid the error "Parsing error: ',' expected when using object spread in function argument.

**

[2018-02-28 10:57] dennisjac commented on #414
I'm using npm and I've installed eslint with`sudo npm install -g eslint`. eslint is present in the system path and can be run normally:
[code]

[2018-02-28 11:13] #416 closed

[2018-02-28 11:13] valentinpalkovic commented on #416
Error solved. Doesn't have to do anything qwith object spread. Code before was broken.

[2018-02-28 12:11] willisplummer commented on #405
@dbaeumer i can but also it looks like this was an issue with some webpack configuration stuff after ejecting create react app.

here's the project wher i've:

- ejected create-react-app
- added an alias for `./src` to the webpack config
- added `eslint-import-resolver-webpack` and `eslint-plugin-import` to the lint config in package json

[2018-02-28 18:57] WraithKenny opened #417 ""Format Document" command should use ESLint"
There didn't seem to be any mention of this functionality, except a by implication in "formatOnSave" issues.

VSCode has a JavaScript formatter, but ESLint should replace it, not use a secondary one with a different conflicting command.

[2018-03-01 09:23] jas99 commented on #297
I will chk and post back,
Thx

[2018-03-01 09:41] dbaeumer commented on #297
OK. Thanks.

[2018-03-01 09:45] dbaeumer commented on #414
What does `npm config get prefix` evalute to (execute in a terminal). This is where ESLint expects the node module to be installed. Is this true on our system ?

[2018-03-01 13:20] hidingmode opened #418 "[Feature request] Add link to github page for the hover box"
I think it will be nice to have some clickable links from the hover box linking to the github page of the error message like in this case, there should be link to https://github.com/vuejs/eslint-plugin-vue/blob/master/docs/rules/valid-v-bind.md

![image](https://user-images.githubusercontent.com/7817101/36846504-e1794144-1d95-11e8-8fc2-8e280fa0b74d.png)

[2018-03-01 13:25] cjduncana opened #419 "Javascript Formatter mistakes < in Flow's Generics for a Binary Operator"
- ESLint Version: 1.4.7
- VSCode Version: 1.20.1
- OS Version: 10.11.6

# Steps to Reproduce:

1. Enable the following setting: `javascript.format.insertSpaceBeforeAndAfterBinaryOperators`
2. Write the following code:
[code]
3. Format document.

## Expected

The code in the page to stay the same.

## Actual

[code]

Notice how the formatter changed the Generic in line 5. Eventhough the type is ide

[2018-03-01 14:06] cjduncana commented on #419
Putting parentheses around the type (`(Array<number>)`) solves the issue, but I still find it odd that the formatter treats the same type differently.

[2018-03-01 16:16] jsodeman commented on #411
I'll work on putting one together.

[2018-03-02 08:18] dbaeumer commented on #419
@cjduncana this repository is about the VS Code ESLint extension. The JavaScript formatter is provided by VS Code itself. Please file the issue here: https://github.com/Microsoft/vscode

[2018-03-02 08:18] #419 closed

[2018-03-02 11:02] ea2973929 opened #420 "[Feature Request]: Option to auto fix all _indent_ problems on save"
Today there is an option to auto fix all errors on save and on type. I'm not always convinced that the eslint fix is the best one in all cases so I usually leave this off.

However, I am confident that eslint can fix all my _indentation_ and as such could be used as a nice auto-indent complement to VSCode.

So this request is to add the possibility to auto indent using eslint and leave the rest of

[2018-03-02 11:33] ris58h opened #421 ""Failed to load the ESLint library""
Hi!
I have ESLint installed globally and .eslintrc.json in my home dir.
VSCode (Version 1.20.1) is installed with snap.
I use NVM.
`which node`
`/home/ris/.nvm/versions/node/v9.6.1/bin/node`

`which npm`
`/home/ris/.nvm/versions/node/v9.6.1/bin/npm`

`which eslint`
`/home/ris/.nvm/versions/node/v9.6.1/bin/eslint`

`printenv NODE_PATH` or 'echo $NODE_PATH' is empty BUT when I set `"eslint.trace.ser

[2018-03-02 11:50] cjduncana commented on #419
The reason why I posted the bug here is because the formatting only occurs when this plug in is enabled. Should I still report the bug in the other repo?

[2018-03-03 17:01] joelmukuthu commented on #341
I'm also experiencing this issue and it seems to happen when eslint is integrated with prettier. I disabled all other plugins besides eslint and trimmed down my vscode settings to only the ones below.

The cursor jumps to the end of the file on saving (with Ctrl+S) if there are **formatting** (i.e. prettier) errors to be fixed. If there are no lint errors, or there are other errors that are not tr

[2018-03-05 09:42] dbaeumer commented on #341
I can't reproduce this given the provided steps:

![cast](https://user-images.githubusercontent.com/1931590/36968123-e6f0c4e8-2061-11e8-9e73-20391e656b2a.gif)

[2018-03-05 09:44] dbaeumer commented on #419
Hmm, that is strange. When you disable the VS Code formatter what happens then? Have you enabled any ESLint auto fixing?

[2018-03-05 09:47] dbaeumer commented on #421
What is the output of running `npm config get prefix` in a terminal ?

[2018-03-05 11:25] joelmukuthu commented on #341
Hmm.. I'm on my work computer and now I can't either. I'll try again when I get to my home computer. One thing though, if you have the cursor in between `'foo'`:
[code]
then save the file, the cursor jumps to the end of the line, perhaps because the `'foo'` gets changed to `"foo"`. is that expected or is it also the bug manifesting in a different way?

[2018-03-05 11:33] David-Else commented on #417
Yes! Please just build this into VS Code! There is literally no point in having a crummy linter that no body uses built into VS Code and the good one that everyone uses as a plugin!

VS Code is advertised as having linting built in, this is a perfect opportunity to simplify and save time and effort for the user while eliminating the need for maintaining multiple plugins (bits of VS Code). Please h

[2018-03-05 13:58] ris58h commented on #421
@dbaeumer  Never mind. It's just started working. I don't know the reason.

[2018-03-06 02:32] moltar commented on #417
I can't believe this is not a thing. I was so sure that it is how the extension is supposed to work that I spent an hour reading the README, code and VS Code settings to understand why it is not working. Only to realize, via this issue, that there is no actual support for this yet. I think it's a must-have feature.

[2018-03-06 08:33] dbaeumer commented on #341
This is somehow expected since the ESLint formatter replaces a wide range of text making it hard to keep the cursor stable. However if you see something really wired feel free to open a seperate issue.

[2018-03-06 14:29] dennisjac commented on #414
The problem was me apparently. In the past I installed nvm but forgot about it so I was working by default in an nvm environment but didn't realize it. So when I did `sudo npm install -g eslint` the eslint package ended up in the gobal system path which is not identical with the nvm environments.
`npm install -g eslint` (without the sudo) fixes the issue and now VSCode and the extension see the es

[2018-03-06 14:29] #414 closed

[2018-03-06 15:43] pdomaleczny commented on #405
@willisplummer @dbaeumer Sorry for a little absence. I had some business trips. I have `resolve` in `webpack.config.js` and my eslint settings are pointing to it. I have no errors when I run `eslint` from CLI but in VS Code everything is highlighted so I guess it isn't a solution for me :C

[2018-03-07 09:13] joelmukuthu commented on #341
Okay. I'm still experiencing this issue (jumping to end of file) every now and then but I haven't managed to create a minimal test case. I'll post back here if I manage

[2018-03-07 15:07] dbaeumer commented on #414
No problem.

[2018-03-08 10:36] #297 closed

[2018-03-08 15:05] PolGuixe opened #422 "[eslint] Casing of {add node package} does not match the underlying filesystem. (import/no-unresolved)"
The linter doesn't seem to be able to resolve the node modules I have installed.

Do I need to add any configuration parameter?

In the project, I am using VS-code the project the node_modules folder is in `project_folder/node_modules`.

[2018-03-09 16:17] ris58h commented on #421
@dbaeumer I found out that it's a project (folder) related issue. When I open different folder in VS Code ESLint starts without any problem.

`npm config get prefix` gives me `/home/ris/.nvm/versions/node/v9.6.1`

When I set `eslint.trace.server` to `verbose` I still get `[Trace - 7:08:40 PM] NODE_PATH value is: /usr/local/lib/node_modules` (`eslint.nodePath` is `null` for both user and workspace

[2018-03-10 00:31] cjduncana commented on #419
If I set `"javascript.format.enable": false`, then no formatting happens. It technically fixes the problem, but then you lose the benefit of VSCode's auto-formatter.

[2018-03-12 00:35] Hirse commented on #417
You can run ESLint in `--fix`-mode with the `"eslint.executeAutofix"` command. If you re-map that to the _format_-shortcut, it comes pretty close to this request. 😄

[2018-03-12 09:16] dbaeumer commented on #421
We don't cache any of these values. You even get a new server on a new workspace folder Window. Can you think of any difference between the two projects? Is `npm config get prefix` the same for both projects?

[2018-03-12 15:08] badsyntax opened #424 "autofix not using .eslintrc file"
Hi there. I'm having a problem with autofix not using the settings i've defined in `.eslintrc`

I'm using vscode-eslint v1.4.7

eslint linting works great, and uses the settings defined in my `.eslintrc`.

Running `eslint --fix` from an npm script works fine. For example: `eslint src/App.jsx --fix`

Running "Fix all fixable problems" from vscode completely ignores the settings in `.eslintrc`.

Why

[2018-03-12 15:10] brianblakely opened #425 "eslintrc Intellisense: Allow ecmaVersion 2018/9"
Currently uses old linting and only allows max version 2017/8.

Per ESLint documentation:

[2018-03-12 15:20] brianblakely commented on #425
I now realize that this is upstream and filed a pull req with SchemaStore:
https://github.com/SchemaStore/schemastore/pull/417

[2018-03-12 15:20] #425 closed

[2018-03-12 15:56] supernoir opened #426 "VSCode + ESLint: 4 minute delay between ESLint server start and library loaded"
Hi there,

please help me fix this really annoying issue that keeps me from working every day. Thank you!

### Description
I have set up a new development environment on a Windows 10 Pro Machine, installed Node and configured my clean install of VSCode to use both ESLint and Prettier. Prettier is usually available to use within Milliseconds, and the ESLint Server is starting within seconds after o

[2018-03-12 16:41] badsyntax commented on #424
It could very well be a limitation of eslint CLIEngine. See possible related task: https://github.com/eslint/eslint/issues/5179

I will have to setup a custom vscode task to run the `eslint --fix` from the bin file.

[2018-03-12 18:30] badsyntax commented on #424
I've discovered that the config **is** actually used, and it's an issue with the autofix command. Apologies for the wrong info to start with.
I am using prettier with eslint, and I need to execute the autofix command twice for it to apply the correct fixes.

It seems as though on the first autofix it applies the eslint fixes, and on the second autofix it applies the prettier fixes.

I am using the

[2018-03-12 19:08] ris58h commented on #421
`npm config get prefix` is the same for both projects.

I opened another (3rd) project and it has the same issue. So I deleted `node_modules` for working project (I believe there was some implicit eslint dependency/config) and found out that it's a global problem with my environment.

I fully reinstalled the extension and ESLint but still get the error.

Running `eslint path_to_file` from console

[2018-03-13 00:28] cjduncana commented on #419
I can't share the repo. It is private, but the code snippet above reliably demonstrate the issue.

[2018-03-13 03:27] agm1984 commented on #164
Hey @dbaeumer, looks like my ESLint stopped working and took out some other extension that highlights colours in code (for highlighting CSS hexcodes, etc).

I'm looking at the trace and I see:

[code]

Everything looks fine above that. That error, the text in the tracing at various points in time, and my symptoms at this exact moment look very good in terms of uncovering a bug I see all the time t

[2018-03-13 05:25] badsyntax commented on #424
Closing in favour of https://github.com/Microsoft/vscode-eslint/issues/154

[2018-03-13 05:25] #424 closed

[2018-03-13 14:39] dbaeumer commented on #164
Thanks for the trace. However it is very hard to say why ESLint stopped. The problem doesn't seem to be on the server side since the client seems to stop sending

[code]

which on the server side triggers the problem computation. When this happens do you see high CPU load on your system. If so which process shows high load. And do other extensions still work ?

For CPU load and other things you ca

[2018-03-13 16:16] dbaeumer commented on #421
This is very strange. Under `/home/ris/.nvm/versions/node/v9.6.1/lib/node_modules` is there an eslint folder containing the eslint npm package ? And just to double check. Are you using yarn ?

[2018-03-13 16:23] dbaeumer commented on #426
This is very unusual and I had one other user of ESLint reporting this and we were not able to track down why this is happening. For most users the eslint server starts in ~1 second. Did you see this on another machine?

Do you see any unusual CPU load when opening a JS file for which ESLint should compute errors. Are you willing to install a custom version with some additional logging ?

[2018-03-13 17:08] dbaeumer commented on #208
May be we first should agree on what we want to provide and then come up with a syntax on how to best describe this in JSON. In general I see the following:

- we have a start set of rules from which we want to exclude a part
- we have an empty set into which we want to add / include rules.
- for an inclusion description we can specify exclusion again (only makes sense if we support globbing)
- fo

[2018-03-13 19:31] ris58h commented on #421
There is ESLint (package.json shows me 4.8.12). I do not use yarn. Those projects are simple web-extensions without any package manager.

[2018-03-13 21:03] ris58h commented on #421
I have to add that I missed some important trace message:
`[Trace - 11:49:49 PM] 'npm config get prefix' value is: /usr/local`
`[Trace - 11:49:49 PM] NODE_PATH value is: /usr/local/lib/node_modules`
but `npm config get prefix` from VS Code terminal is still `/home/ris/.nvm/versions/node/v9.6.1`
Seems like it's a VS Code problem.

[2018-03-14 09:31] dbaeumer commented on #208
Given the above idea we could do the following: if `rules` is missing we start with an empty set and only includes are allows. If rules are given then only exclude is allowed.

[2018-03-14 11:08] dbaeumer commented on #421
How do you start VS Code? Can you start it from the terminal where `npm config get prefix` prints the correct value. Then everything is fine I guess. I suspect that when VS Code is started using some dock icon then the environment is not set correctly (e.g.the .bashrc usually doesn't do all things when not in interactive mode). This is nothing VS Code not ESLint can fix. It is how shells / *nix be

[2018-03-14 16:25] ris58h commented on #421
You are right. It works when I start it from console.
Thank you for your time!

[2018-03-14 16:25] #421 closed

[2018-03-15 12:43] PolGuixe commented on #422
@dbaeumer I found the cause of the problem.

We decided to change the name of the project from "RandomProjectName" to "randomprojectname".

However, I didn't change the workspace path.... :( and this was causing the issue....

[2018-03-15 12:43] #422 closed

[2018-03-15 16:39] Manc opened #427 "Code Helper process uses 100% CPU"
The problems only started within, last 1 or 2 weeks, not exactly sure. The fans of my iMac start blowing and Activity Monitor shows **Code Helper** being constantly at around 99.9 to 100.0%.

I took the process ID as shown in Activity Monitor (in my case 77422) and ran `ps aux | grep 77422` in the terminal, giving me:

`77422  95.2  0.4  5111808 142308   ??  R     4:29pm   2:01.30 /Applications/Vi

[2018-03-16 09:17] dbaeumer commented on #427
@Manc do you have steps to reproduce this on the code you are currently working on. If so can you share that code so that I can investigate. Without steps it will be very hard to track down.

There is additional things you can do: when it happens can you run eslint from the command line on exactly the same workspace and see what happens. If this produces high CPU load as well it is very likely a b

[2018-03-16 10:15] Manc commented on #427
@dbaeumer Thank you very much for pointing me into a direction. Running ESLint manually (with option `--debug`) causes the CPU consumption of the process go up to 100% and it gets stuck on (at least) one of my JavaScript files. Unfortunately I haven't figured out why that is yet, but it looks like it the problem has indeed nothing to do with this plugin.

Thanks for your help and thanks for this p

[2018-03-16 10:15] #427 closed

[2018-03-16 19:58] WraithKenny opened #428 "Config should check parent folders, even in multi-root workspaces."
[code]
Where `folder` contains the .eslintignore, package.json, etc.

When this ***isn't*** opened as a Multi-root Workspace, VSCode-ESLint will correctly find the config in it's parent `folder` when linting files within `folder/subfolder`.

However, when opened as a Multi-root Workspace, it seems to stop checking at `folder/subfolder` and is prevented from checking it's parent (as eslint would no

[2018-03-16 21:15] nschurmann commented on #417
@Hirse excellent!, how to do that also on save? 😄

[2018-03-17 08:38] stoplion commented on #400
+1

[2018-03-17 15:46] freedom5566 opened #429 "[Feature Request]:Can choose to perform the check with the command"
If I don't install eslint,can I want to use docker to build eslint command-line check code style.

e.g.

`docker --rm -ti $PWD:/usr/src/app eslint app.js`

Add vscode settings `eslint.checkcli:"docker --rm -ti $PWD:/usr/src/app eslint app.js"`

of course，`eslint.checkcli` Default is close.

[2018-03-19 08:02] dbaeumer commented on #429
No, this is not possible through ESLint. However you could create a VS Code task that does this.

See: https://code.visualstudio.com/docs/editor/tasks

[2018-03-19 08:02] #429 closed

[2018-03-19 08:06] dbaeumer commented on #400
@sebelga can you provide me with a GitHub repository I can clone that demos this ?

Which OS are you on and does the name of the VS Code workspace folder you open match the name on disk in terms of casing?

[2018-03-19 08:24] sebelga commented on #400
It is related to my repo I guess because other project using eslint don't have this issue.
The repo with errors is https://github.com/sebelga/gstore-node
I was going to copy/paste all file to new files but didn't have time to do it yet.

[2018-03-19 08:25] dbaeumer commented on #428
@WraithKenny can you provide me with a GitHub repository I can clone that demos what you are seeing to ensure I have the same understanding about what is not working. I am not sure what you mean about config (e.g .eslintrc.* files, .eslintignore, ...)

[2018-03-19 08:32] dbaeumer commented on #400
This works for me without problems.

<img width="964" alt="2018-03-19 09_30_53-casing of _lib_ does not match the underlying filesystem issue 400 microsof" src="https://user-images.githubusercontent.com/1931590/37585163-6a2bc8e8-2b58-11e8-9e73-a0e3f0bab33d.png">

[2018-03-19 08:35] sebelga commented on #400
Interesting... I did clone the project in an new folder though (I got that far :smile: )...
I will do it again and let you know. Thanks for looking into this :+1:

[2018-03-19 14:23] WraithKenny commented on #428
I don't know what happened, but it seems to work just fine now. :-/ loosing my mind I guess

[2018-03-19 14:23] #428 closed

[2018-03-19 14:35] lbssousa opened #430 "Possible confict with eslint-plugin-vue when using ...mapGetters/...mapActions"
**Tell us about your environment**

* **ESLint Version:** 4.15.0
* **eslint-plugin-vue Version:** 4.0.0
* **vscode-eslint extension Version:** 1.4.7
* **Node Version:** 8.10.0

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
First of all, I'm not sure if this is a problem with eslint-plugin-vue or with vscode-eslint ex

[2018-03-20 08:22] dbaeumer commented on #430
This looks to me like a problem with `eslint-plugin-vue` plugin. When you run eslint from the terminal will the exception shows up as well. If so it is definitely independent of the VS Code eslint extension.

[2018-03-20 13:34] madvik opened #431 "Error"
Sorry it is an error, I want to delete this issue

[2018-03-20 13:41] #431 closed

[2018-03-20 16:48] #426 closed

[2018-03-21 02:56] clive107 commented on #422
@PolGuixe I had the same issue with you. This solved my issue.

[2018-03-21 14:53] r24y commented on #267
@dbaeumer I haven't tried that. I might have time today to work on it

[2018-03-21 14:58] citypaul opened #432 "Ubuntu: command 'eslint.enable' not found"
Hello there,

I recently started using VS Code on Ubuntu, but have so far been unable to get the eslint plugin to work. I'm not sure why. It's installed both locally to my project and globally on my machine. I'm able to run `yarn lint` from the command line and ESLint runs as expected. However, whenever I try to run it via the VS Code plugin, I get the message: `command 'eslint.enable' not found`

[2018-03-21 15:04] citypaul commented on #432
Interestingly, the version of node listed in the above dump from the "about" dialog is different to the version of node from the command line inside VS Code. I'm using v9.8.0 on the command line. Could this be why?

[2018-03-21 17:47] gregbty opened #433 "Rule for `import/no-extraneous-dependencies` being ignored"
We have the following snippet below in our ESLint config. Running lint directly yields no errors while the plugin does. The configuration is valid according to: [import/no-extraneous-dependencies](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md#importno-extraneous-dependencies-forbid-the-use-of-extraneous-packages). We are using ESLint `4.18.2

[2018-03-21 23:31] citypaul commented on #432
Ok, so I managed to figure this one out myself. I thought I'd come back here and explain not only what the issue was, but how I debugged it for other people who may struggle with a similar issue in the future.

There's an option in vs code that allows you to open the chrome dev tools and inspect vs code itself that way. It's pretty cool. You can get to it by selecting: `Developer: toggle developer

[2018-03-21 23:31] #432 closed

[2018-03-22 06:14] techsin opened #434 "vscode giving error for file ignored in eslintignore"
[code]

**frontend/src/.eslintrc**

[code]

**frontend/src/.eslintignore**
`lib/*`

Workspace settings:

[code]

# Error:

9 errors with jquery.js (of course its minified file)

[2018-03-22 08:34] dbaeumer commented on #434
@techsin since lib is a sibling of src you (to my knowledge) can't exclude lib that way.

What happens if you run eslint from a terminal in the src directory ?

[2018-03-22 17:06] techsin commented on #434
ok sorry /lib is inside /src

[2018-03-22 17:22] techsin commented on #434
now errors only appear when you select the minified itself after few seconds but as soon as you select another file errors disappear.

[2018-03-23 12:15] neo21670 commented on #341
+1 also experiencing this, even for minor modifications/fixes.

[2018-03-25 05:52] varghesejacob commented on #251
I got it working with `"eslint.nodePath": "C:/Users/WINDOWSUSERNAME/AppData/Local/Packages/CanonicalGroupLimited.UbuntuonWindows_79rhkp1fndgsc/LocalState/rootfs/home/UBUNTUUSERNAME/.npm-global/lib/node_modules",`

I have nodejs and eslint installed inside WSL with VSCode installed on Windows. Just point `eslint.nodePath` to your global node_modules folder and it should work.

[2018-03-25 18:46] mellson commented on #341
I had the same problem with the [sort-imports](https://github.com/amatiasq/vsc-sort-imports) extension installed

[2018-03-26 07:03] doberkofler opened #435 "Only show problems from tab that currently has the focus"
The VS Code eslint plugin shows all problems in the `Problems` pane but it would be very useful to only see (and concentrate on) the problems in the file currently working on.
Is there a way to do so and if not, could an option be added to configure this?

[2018-03-26 10:08] dbaeumer commented on #435
This is something that should be supported by VS Code (e.g filter the problems view based on the active editor) instead of adding an option to the ESLint extension which makes it very specific to ESLint. I am closing the issue. Please file a corresponding feature request against VS Code.

[2018-03-26 10:08] #435 closed

[2018-03-26 10:11] dbaeumer commented on #251
@varghesejacob as noted in the WSL documentation (from Windows, not related to VS Code at all) direct access to the Linux file system from withing Windows (e.g `C:/Users/WINDOWSUSERNAME/AppData/Local/Packages/CanonicalGroupLimited.UbuntuonWindows_79rhkp1fndgsc/LocalState/rootfs/home/UBUNTUUSERNAME/.npm-global/lib/node_modules`) is highly discouraged. So I would not go down that path.

[2018-03-26 10:13] dbaeumer commented on #434
I don't think that this has anything to do with the number of files to got through. An example demoing this is still highly appreciated.

[2018-03-26 10:22] doberkofler commented on #435
I opened a new request but was wondering, if only checking the current file might not also improve the overall performance of the eslint plugin?

[2018-03-26 19:07] schallm opened #436 "Parsing errors not showing in Problems tab when running "lint whole folder" task"
When running the "lint whole folder" task within VSCode, parsing errors are not represented in the Problems tab even though they are found by eslint in the terminal tab.  These files should show with issues.

Tested on Windows 10, VSCode 1.21.1, ESLint plugin 1.4.7

1. Create files found at end of ticket in C:\Temp\vscode-eslint
2. Open C:\Temp\vscode-eslint folder in vscode
3. Run "lint whole fol

[2018-03-27 06:57] iosky opened #437 "eslint server crashed 5 times in the last 3 minutes. the server will not be restarted."
![image](https://user-images.githubusercontent.com/27005213/37951485-1f5cde60-31cf-11e8-9715-5772350c3925.png)

[2018-03-27 06:59] iosky commented on #437
first of all , I have globally instanlled eslint by npm

[2018-03-27 08:48] #430 closed

[2018-03-27 08:56] dbaeumer commented on #437
@iosky anything special in the ESLint Output channel. What happens if you execute eslint from a terminal on the same file / project. Does it work correctly ?

[2018-03-27 08:59] dbaeumer commented on #435
ESLint only check the current file you are typing in. However the VS Code guideline is generate errors for all files that are open. This is why as long as a file is open and errors where detected they are shown in the problems view. When you close a file they are cleared. In this regard ESLint extension tries to be a good extension.

[2018-03-27 10:16] bpasero opened #438 ""TypeDefinition null" spam in console"
![image](https://user-images.githubusercontent.com/900690/37961481-b50cbd16-31b8-11e8-9bdf-5237e20cc26e.png)

=> just open VSCode insiders on the VSCode sources

[2018-03-27 10:45] iosky commented on #437
this has been tested ,and it works.
![image](https://user-images.githubusercontent.com/27005213/37962817-ea985fea-31ee-11e8-872b-a38695305d8d.png)

[2018-03-27 13:43] dbaeumer commented on #437
Anything in the ESLint Output Channel (e.g. OUTPUT tab -> ESLint drop down). Can you provide the sample as a GitHub repository I can clone so that I can investigate ?

Does ESLint work for you on other projects or does it always fail ?

[2018-03-27 13:44] dbaeumer commented on #438
I published a new version 1.4.8.

[2018-03-27 13:44] #438 closed

[2018-03-27 14:18] iosky commented on #437
once the vscode is restarted, it will report this problem, but in terminal, eslint works normally

[2018-03-27 14:25] iosky commented on #437
during this time, I also completely uninstall be vscode and then reinstall it, but it will also report this error.

[2018-03-27 14:28] iosky commented on #437
this is my a test library for my local installation of eslint, but it's still wrong.
git@github.com:iosky/eslintTest.git

[2018-03-28 09:45] JoeHetfield commented on #405
Guys, I fond an important clue. Seems the way of wabpack.config.js export affect this:

[code]

[2018-03-28 09:49] renaudtertrais opened #439 "Strange errors"
Hello,

I have a strange behaviour. Sometimes Eslint highlight wrong errors (not present when using the cli). It feels like little glitches:
![image](https://user-images.githubusercontent.com/5002260/38021697-e345b2e4-327d-11e8-9907-19f2b7a56dba.png)

![image](https://user-images.githubusercontent.com/5002260/38021738-f62838b4-327d-11e8-8fe6-849f8a4ef420.png)

For example, here there are not even

[2018-03-28 18:44] dbaeumer commented on #439
These errors don't come from the ESLint extension. They come from the build in JS support. You can see this by the`[js]` prefix. ESLint errors are prefix with `[eslint]`.

Please report the issue directly to VS Code.

[2018-03-28 18:44] #439 closed

[2018-03-28 19:53] dbaeumer commented on #437
The link in this comment https://github.com/Microsoft/vscode-eslint/issues/437#issuecomment-376545719 doesn't point to a valid GitHub repository. Can you please provide the correct link.

And is there anything in the ESLint Output Channel.

[2018-03-29 04:10] iosky commented on #437
eslint does not run, so nothing appears in the output box

[2018-03-29 04:12] iosky commented on #437
git@github.com:iosky/eslintTest.git
isn't this repository ok ?

[2018-03-29 08:36] schmic opened #440 "eslint server takes ~3-5 minutes until available"
I don't know since when this is a problem but the start of the eslint server takes between 3-5 minutes here.

[code]

I just upgraded from eslint 3.x to 4.19.1, which didn't help.

Any information I can provide to hunt that down?

[2018-03-30 12:51] kamalbennani commented on #405
I have the same problem, when I run eslint in CMD I have no errors by my IDE complains about all my imports that are using aliases ! Did you find any solution to this ?

[2018-03-30 13:07] kamalbennani opened #441 "Bug with custom alias in Webpack (Mono-Repo with Multiple Apps)"
Following https://github.com/Microsoft/vscode-eslint/issues/405 I am facing exactly the same problem where my project is composed of a several applications and each them might define a "custom" webpack configuration which extends a common configuration which is defined in the root of the project.
[code]
A custom webpack configuration looks like so:
__apps/app1/webpackConfig.js__
[code]

**Note tha

[2018-03-31 09:00] liyi8576 opened #442 "TypeError: Cannot read property 'language' of undefined"
When I execute with eslint command, I can run normally
[code]
I use the atom editor, eslint can also run the right

But when I use eslint plug-in, the console is wrong, the error message is as follows:
[code]

My eslint configuration file “.eslintrc.json ” is as follows:
[code]

The eslint plug-in version number of my vscode editor is 1.4.8
The dependencies configured in package.json are as follow

[2018-03-31 19:25] plmrry opened #443 "When using `eslint-plugin-markdown`, errors are not highlighted correctly"
When using `eslint-plugin-markdown`, errors are not highlighted correctly:

![screen shot 2018-03-31 at 3 22 59 pm](https://user-images.githubusercontent.com/688617/38166779-8c2db1ec-34f7-11e8-8e75-3e70debcd781.png)

Note that the javascript _is_ being linted correctly: On hover, the correct `no-unused-vars` warning is shown. (`'foo' is assigned a value but never used`)

[2018-03-31 19:55] plmrry commented on #443
After some testing, it seems like this is a problem with `eslint-plugin-markdown` not reporting the correct character positions

[2018-03-31 19:55] #443 closed

[2018-04-01 05:13] GiancarlosIO commented on #405
I have the same issue! did someone find a solution for this? :(

[2018-04-02 10:49] #434 closed

[2018-04-03 09:37] dbaeumer commented on #405
I cloned the example provided in this comment https://github.com/willisplummer and running `.\node_modules\.bin\eslint .\src\App.js` produces the same errors in the terminal:

<img width="748" alt="capture" src="https://user-images.githubusercontent.com/1931590/38241775-63114696-3733-11e8-974d-4c4c88bc3153.png">

Can someone provide me with an example where the errors only show up in the ESLint ex

[2018-04-03 09:45] willisplummer commented on #405
@dbaeumer I'd imagine that you're able to replicate the issue in the terminal because you're not providing an ENV flag when running the linter - if you run `yarn lint` you'll see the intended behavior(?)

[2018-04-03 09:54] dbaeumer commented on #442
@liyi8576 I am not able to reproduce this:

<img width="389" alt="capture" src="https://user-images.githubusercontent.com/1931590/38242702-be5933b8-3735-11e8-8467-282ac6e8455d.png">

Can you please provide me with a GitHUb repository I can clone that demos the problematic behaviour?

[2018-04-03 10:01] dbaeumer commented on #405
If I set Node_ENV to development everything works for me both in the terminal and in VS Code. Please note that you need to start VS Code form the terminal having Node_ENV set so that the eslint plug-ins correctly see the environemt variable.

[2018-04-03 10:04] dbaeumer commented on #441
@kamalbennani can you please provide a GitHub repository I can clone that demos the behaviour. Please note that if you have a mono repository you need to configure roots using the `eslint.workingDirectories` as described here: https://github.com/Microsoft/vscode-eslint

[2018-04-03 10:07] dbaeumer commented on #440
I have another report about slow startup times, but I was never able to reproduce this. If I give you instructions how to compile ESLint form source would you be willing to debug / profile this to see where the time is spent. Do you see CPU load during this time ?

If you run ESLint on the same project from the command line (terminal) do you see slow start up as well?

[2018-04-03 10:09] dbaeumer commented on #437
Now the link doesn't work. The correct one is https://github.com/iosky/eslintTest :-)

[2018-04-03 10:14] dbaeumer commented on #437
The repository doesn't work for me. It contains a references to

<img width="357" alt="capture" src="https://user-images.githubusercontent.com/1931590/38243667-8a7fbc94-3738-11e8-925e-944c12661bf2.png">

[2018-04-03 10:38] schmic commented on #440
If I run ESLint by hand it works flawless and instantly.
There is a short CPU spike for ~2-3 seconds.

Sure you can provide information to gather more data!

[2018-04-04 08:11] dbaeumer commented on #440
Let use first enable some logging. For the workspace you see this can you set the following option: `"eslint.trace.server": "verbose"` and paste the output from the ESLint output channel here.

[2018-04-04 08:13] dbaeumer commented on #341
Can someone experiencing this provide me with a sample file or a GitHub repository I can clone.

[2018-04-05 05:55] iosky commented on #437
Now, the repository is work, but eslint doesn't run in vscode
https://github.com/iosky/eslintTest.git

[2018-04-05 07:11] dbaeumer commented on #437
I cloned the repository again and I still get

<img width="739" alt="capture" src="https://user-images.githubusercontent.com/1931590/38351768-43ca9a56-38b1-11e8-8c42-c14d68d59c83.png">

[2018-04-05 07:12] dbaeumer commented on #437
After removing the eslint options from the setting everything works for me as expected:

<img width="756" alt="capture" src="https://user-images.githubusercontent.com/1931590/38351832-87fdfbbe-38b1-11e8-8321-d97d6b016c05.png">

[2018-04-05 07:14] dbaeumer commented on #437
Is there anything in the ESLint Output Channel? And can you enable logging to see when the server crashes `"eslint.trace.server": "verbose"`

[2018-04-05 07:40] schmic commented on #440
I had to obfuscate the output a bit ...

[code]

[2018-04-05 12:38] iosky commented on #437
I set, but no thing in the output channel, I wonder if my local setting affects eslint server. Is there a requirement on node's path setting? I have changed the global installation path of node before

[2018-04-05 12:49] JonWallsten commented on #442
I have the same or similar error. Attached is the console from VSCode.
![image](https://user-images.githubusercontent.com/5993909/38366567-71514356-38e0-11e8-8322-289afee11ec0.png)

[2018-04-05 14:42] drw112 commented on #440
I have exactly the same output as @schmic .  At about 3 minutes and 10 seconds after the project has started ESLint will start reporting errors in my files.  I compared my verbose output to his and it looks nearly identical.

[2018-04-06 07:29] schmic commented on #417
@nschurmann I think you have to disable `editor.formatOnSave` and do it manually before you save. Otherwise the default formatter will overwrite what eslint "fixed".

[2018-04-06 07:43] dbaeumer commented on #437
I created a special vsix that disables the disposing of the output channel to see if we get better tracing when the server crashes. To install the vsix do the following:

- download this zip:
[vscode-eslint-1.4.8.zip](https://github.com/Microsoft/vscode-eslint/files/1883128/vscode-eslint-1.4.8.zip)
- change the extension to vsix
- uninstall the eslint extension
- install the eslint extension from

[2018-04-06 07:55] dbaeumer commented on #440
@schmic thanks for the trace. The normal startup of the server is as expected however querying the node / npm configuration seems to take a long time on your machine. I believe you are hitting a known problem with `npm config get prefix` (see https://github.com/npm/npm/issues/14458).

@schmic  and @drw112 to confirm this can you please both open a terminal and then run `npm config get prefix` in t

[2018-04-06 08:04] dbaeumer commented on #440
Another thing you can do is the following: set the eslint setting nodePath to the value where you global node modules are installed e.g to the value returned from `npm config get prefix`. @schmic in your case `"eslint.nodePath"="D:\\Dev\\NodeJS\\node_modules"`

[2018-04-06 08:12] dbaeumer commented on #442
@JonWallsten this looks like a broken install to me. Could you try to uninstall ESLint and then reinstall.

[2018-04-06 08:45] JonWallsten commented on #442
@dbaeumer Should have mention. I tried that yesterday. With a restart in between to be sure. Same result.

[2018-04-06 11:17] jesperjohansson opened #444 ""no-unused-vars" linting errors with the latest VS Code update (1.22.1)"
Since updating Visual Studio Code to 1.22.1 the extension doesn't seem to work properly (version 1.4.8). I get `no-unused-vars` errors in my React project:

![image](https://user-images.githubusercontent.com/21033162/38418408-96c500de-399c-11e8-9c06-40d31c970e7b.png)

My `eslintConfig` in `package.json`:
[code]

[2018-04-06 11:27] #444 closed

[2018-04-06 11:48] drw112 commented on #440
For me `npm config get prefix` returns in <1 second.

If I set ```eslint.nodePath``` to the value returned by `npm config get prefix` in my VSCode user settings it has no noticeable impact on load time. Still ~3 minutes.

[2018-04-06 12:15] iosky commented on #437
I did，But，when the server crashes， there is nothing in the output panel except the error alert

[2018-04-06 12:55] dbaeumer commented on #440
@drw112 in our trace is there also a big time gap before you see `npm config get prefix` in the log?

[2018-04-06 12:58] dbaeumer commented on #437
@iosky  strange. Could you do the following: before opening the JS file open the developer console via Help > Toggle Developer Tools. Then open the JS file that makes the server crash. Is there anything in the console of the developer tools ?

[2018-04-06 13:09] dbaeumer commented on #442
@JonWallsten this is really strange. Can you double check that there is directory `vscode-languageclient` under `c:\Users\jway52\.vscode\extensions\dbaeumer.vscode-eslint-1.4.8\client\node_modules`

And can you do the following as well: disable the built-in Git extension and then try to reproduce this. To do so filter the extension viewlet for `@builtin` and then disable Git.

[2018-04-06 13:27] schmic commented on #440
[code]

ESLint is installed in my project (top-level node_modules folder), not globally. Though entering the path to it doesn't help.

Might this be a problem with sitting behind a proxy? Having one configured? ... ?

[2018-04-06 13:41] drw112 commented on #440
I am also behind a proxy and have one configured in npmrc.

[2018-04-06 13:55] iosky commented on #437
![image](https://user-images.githubusercontent.com/27005213/38424923-164f2274-39e5-11e8-9d7b-50c3dd06304e.png)

[2018-04-06 13:59] schmic commented on #440
What I know is that our firewall drops connections instead of rejecting them.
So if a process tries to connect to the outside world without using the configured proxy it results in a (30s?) timeout error, multiply that 5-6 tries ...

Mine is set in the environment (http_proxy/https_proxy) not .npmrc

[2018-04-06 15:34] coyle5280 commented on #437
@dbaeumer I can't think of anything that I have changed or installed over the last few days that would make my machine different from my colleagues.
Here is the output from ESlisnt:

![image](https://user-images.githubusercontent.com/11877788/38429805-b4471310-397c-11e8-98f6-67f49614527e.png)

My console output is the same as @iosky

[2018-04-06 20:03] Leeoku opened #445 "eslint Javascript, new exponent operator doesn't work."
Delete

[2018-04-06 20:16] chrisdothtml opened #446 "Add option to auto-disable if no `.eslintrc`"
When I open a repo that doesn't use eslint, I get an obtrusive `output` error from this plugin, requiring me to manually disable it every single time.

It'd be really nice to have an option for this plugin to auto-disable itself if no `.eslintrc` is present in the repo (and/or if it's not in the dependencies)