[2019-02-11 18:35] svipben commented on #609
@dbaeumer I vote for an automatic validation and auto fix enabling for TypeScript files because of this `https://github.com/typescript-eslint/typescript-eslint`. I'm currently using it in VS Code and it works perfectly.

[2019-02-12 06:29] sgon00 opened #622 "[eslint] Parsing error: The keyword 'const' is reserved"
VSCode: Version 1.31.0
ESLint: 1.8.0
I have nothing in VSCode User Settings for ESlint extension.

I have `.eslintrc.json` with the following contents:

[code]

But it doesn't work at all. VSCODE still reports this error `[eslint] Parsing error: The keyword 'const' is reserved`
I even tried `eslintConfig` in `package.json`, but it still doesn't work.
So far, only adding `/* eslint-env node, es6 */

[2019-02-12 06:37] #622 closed

[2019-02-12 09:14] pengxiaotian opened #623 "Warn about doubled configured validate rules"
我今天更新了eslint 1.18.0 和 vscode  版本: 1.31.0 (user setup)
然后我发现自动修复功能在 .vue 文件中不生效,只是提示错误, 在 .js 文件中一切正常

[2019-02-12 09:29] #608 closed

[2019-02-13 02:23] aladdin-add commented on #208
you can use [eslint-plugin-no-autofix](https://www.npmjs.com/package/eslint-plugin-no-autofix):
eslintrc:
[code]

[2019-02-13 02:36] usernamehw commented on #621
https://marketplace.visualstudio.com/items?itemName=PhilHindle.errorlens

https://marketplace.visualstudio.com/items?itemName=IgorSbitnev.error-gutters

https://marketplace.visualstudio.com/items?itemName=JoeBerria.statusbarerror

[2019-02-13 08:04] 282159468 commented on #623
same issure in jsx file

[2019-02-13 12:43] briosam opened #624 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/briosam/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-

[2019-02-13 15:35] BigsonLvrocha commented on #623
In my case, with eslint 1.18.0 and vscode 1.31.1 it's not even working for .js files

[2019-02-14 15:25] viT-1 commented on #464
https://github.com/Microsoft/vscode-eslint/issues/405#issuecomment-380745912

Still have this issue with VSCode 1.30.1
Project is bundled normally, but eslint plugin underlines me "incorrect" imports in paths with webpack aliases.

Here I found workaround but don't understand how to fix .eslintrc file.
https://github.com/Microsoft/vscode-eslint/issues/464#issuecomment-387205760

No solution to the

[2019-02-14 15:27] viT-1 commented on #464
@alecf Can you show your root .eslintrc workaround?
I need to install babel-register globally?

[2019-02-14 15:46] viT-1 commented on #464
I changed webpack config from this:
`resolve: {
        alias: {
            '~': path.resolve(__dirname),
            '@': path.resolve(__dirname, './src'),
        },
    },`
to this:
`resolve: {
        alias: {
            '~': path.resolve(__dirname),
            '@': path.resolve(__dirname, 'src'),
        },
    },`

It seems to be ok. But intellisence not showing fresh added methods in imp

[2019-02-17 08:13] Yusadolat opened #627 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 4.18.0-15-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/yusadolat/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-c

[2019-02-18 14:12] dbaeumer commented on #614
The ESLint extension runs the eslint npm module on the Windows and not on the WSL side. This is why this is failing.

There is nothing wrong in theory but it needs better support in VS Code itself to make this scenario happening.

[2019-02-18 14:13] dbaeumer commented on #616
@islamideveloper do you sill have the profile. Without it there is little I can do.

[2019-02-18 14:16] dbaeumer commented on #617
Dups #616

[2019-02-18 14:16] #617 closed

[2019-02-18 14:19] dbaeumer commented on #618
One of the plugins calls process.exit() which make the ESLint process exit. If you can provide me with the repository that shows the behavior I can look which plugin causes this.

[2019-02-18 14:21] dbaeumer commented on #370
https://github.com/Microsoft/vscode-eslint/issues/607 is asking for only underlying the first token.

[2019-02-18 14:22] dbaeumer commented on #607
Left a comment in https://github.com/Microsoft/vscode-eslint/issues/607.

For that the extension needs to report the error on `[9:0]` and not as `[9:28]` which I exactly what I am not a fan of.

[2019-02-18 14:54] dbaeumer commented on #620
@jrieken I looked at the CPU profile and there is nothing specific from the ESLint extension in the profile. Any hint for what to look at? What might be special with ESLint is that it is activated eagerly since it depends on user configuration which file types it lints. I manually profiled the activate method and there is nothing special with it.

[2019-02-18 14:58] dbaeumer commented on #627
@Yusadolat do you still have the cpuprofile?

Dups #620

[2019-02-18 14:58] #627 closed

[2019-02-18 15:01] dbaeumer commented on #615
Trace looks very comparable to the one from #620. Marking as dup.

[2019-02-18 15:01] #615 closed

[2019-02-18 15:02] dbaeumer commented on #616
Dups #620

[2019-02-18 15:02] #616 closed

[2019-02-18 15:03] dbaeumer commented on #624
Dups #620

[2019-02-18 15:03] #624 closed

[2019-02-18 15:04] dbaeumer commented on #609
The only problem we need to keep in mind is that a misbehaving plugin might caused bad fixes in the code. This is why this is currently a opt in.

PR welcome to make this a opt-out.

[2019-02-18 15:06] dbaeumer commented on #623
@pengxiaotian can you please provide a description in English?

[2019-02-18 15:08] dbaeumer commented on #623
Did you enable auto fix in Vue files as described [here](https://github.com/Microsoft/vscode-eslint) for `eslint.validate`

[2019-02-18 15:09] dbaeumer commented on #623
See also https://github.com/Microsoft/vscode-eslint/issues/185#issuecomment-307842751

[2019-02-18 18:06] LambdaFalcon commented on #607
Sorry for asking, but why are you not a fan of this?
It could be an optional setting for how errors should be reported graphically.
It would help the people who are seeing entire files underlined in red

[2019-02-19 03:31] pengxiaotian commented on #623
@dbaeumer okay,I will consider using English in the future.
today, I asked my colleague to install my project on his computer. The same problem.
here are some of my configurations:

.eslintrc.js file configuration
[code]
Workspace configuration
[code]
Partial dependence

[code]
VSCode
version: 1.31.1 (user setup)
提交: 1b8e8302e405050205e69b59abb3559592bb9e60
日期: 2019-02-12T02:20:54.427Z
Electron: 3

[2019-02-19 04:28] xerosanyam opened #628 "ESLint is not validating any files yet."
Still happening in VSCode version 1.30.2, version of ESLint - 1.8.0

[2019-02-19 07:12] qzdFront commented on #618
I also encountered the same problem, according to my test, every time I use import to select the path will cause Eslint sever shut down.
plugin list : https://gist.github.com/qzdFront/9bfa512e331bf1e31494f10a1a567dc1

[2019-02-19 08:40] dbaeumer commented on #623
Do you have an extension instsalled that adds the VUE file type (e.g. https://marketplace.visualstudio.com/items?itemName=octref.vetur) ?

To make sure we are looking at the same problem could your provide me with a GitHub repository I can clone that demos what you see.

[2019-02-19 08:41] dbaeumer commented on #618
@qzdFront can you provide me with a GitHub repository I can clone that repros what you are seeing.

[2019-02-19 08:42] dbaeumer commented on #628
@xerosanyam this works for me. Can you provide me with a GitHub repository I can clone that demos what you are seeing. Do you have eslint installed (`npm install eslint`)?

[2019-02-19 08:44] pengxiaotian commented on #623
I have already installed

![image](https://user-images.githubusercontent.com/27847994/53001385-6a396b80-3465-11e9-8140-5d90388e867d.png)

[2019-02-19 08:46] dbaeumer commented on #623
That looks OK. Can you provide me with a GitHub repository I can clone that demos what you see.

[2019-02-19 08:50] dbaeumer commented on #621
@manuelbieh I disagree since it will make highlighting of errors different from extension to extension and therefore will make the user experience worse. IMO this is something that needs to either be addressed by an extension for all errors or by VS Code itself.

Any objections to close the issue.

[2019-02-19 08:53] dbaeumer commented on #208
@aladdin-add thanks a lot for the pointer.

I would argue that we can close the issue since having a solution in ESLint itself is preferable over a custom solution in the extensions. Any objection ?

[2019-02-19 09:09] pengxiaotian commented on #623
Please understand that the source code is not uploaded to github for work reasons. However, I have a personal experimental project here, which is the same problem.
https://gitee.com/rapex/VCharts-UI.git

[2019-02-19 09:13] pengxiaotian commented on #623
If the address cannot be accessed, this is the compressed package of the code.
[VCharts-UI.zip](https://github.com/Microsoft/vscode-eslint/files/2879242/VCharts-UI.zip)

[2019-02-19 09:33] dbaeumer commented on #612
This works for me:

![capture](https://user-images.githubusercontent.com/1931590/53004565-bc609980-3431-11e9-86f7-98f8872d9a44.png)

Can you provide me with a GitHub repository I can clone that demos what you see.

[2019-02-19 09:43] pengxiaotian commented on #623
I don't think this has anything to do with the code.........
All my projects have the same problem

[2019-02-19 10:04] dbaeumer commented on #623
Can you let me know what you expect to see working and it doesn't with a simple example. I tested it locally and for me eslint validating in Vue files does work.

[2019-02-19 10:04] dbaeumer commented on #623
![capture](https://user-images.githubusercontent.com/1931590/53006776-2bd88800-3436-11e9-879a-42b410fd9d88.png)

[2019-02-19 10:08] dbaeumer commented on #607
Up to now the ESLint extension uses the eslint npm module and simply transforms the results returned from the npm modules into VS Code data types. This has the advantage that if you run eslint on the console or a task the same error ranges are reported. If we start tempering with the range in one then they will not be the same anymore and you might see flickering or double ranges if the errors fro

[2019-02-19 10:09] pengxiaotian commented on #623
Now only the error is indicated. When I save, the three semicolons should be automatically fixed and deleted.
![image](https://user-images.githubusercontent.com/27847994/53007036-6a3f6880-3471-11e9-8a65-b52adeac02c3.png)

[2019-02-19 10:10] dbaeumer commented on #550
@leoselig simply configure the `"eslint.workingDirectories"` for each workspace package and it should work as expected.

[2019-02-19 10:13] dbaeumer commented on #623
This actually doesn't look like an error produced by eslint. All errors produced by the eslint extension have a eslint(code) prefix. Something like:

![capture](https://user-images.githubusercontent.com/1931590/53007366-62fb6900-3437-11e9-811d-7cff46b943f9.png)

[2019-02-19 10:16] dbaeumer commented on #623
Actually I see this when adding extract semicolons when produced by eslint:

![capture](https://user-images.githubusercontent.com/1931590/53007550-c2f20f80-3437-11e9-8a05-5b7075cba7f2.png)

[2019-02-19 10:18] dbaeumer commented on #623
What happens if you run eslint on the command line on that file using the `--fix` option

[2019-02-19 10:21] pengxiaotian commented on #623
It stands to reason that eslint should be fixed automatically when I save it, but it doesn't actually.
type Ctrl + S
![image](https://user-images.githubusercontent.com/27847994/53007870-1766b080-3473-11e9-83ae-a31d3fdcce94.png)
![image](https://user-images.githubusercontent.com/27847994/53007938-3a916000-3473-11e9-955d-5f2b2b7cbba0.png)

[2019-02-19 10:24] pengxiaotian commented on #623
These operations are normal in the .js file.

[2019-02-19 10:31] Yzrsah commented on #612
hi Dirk,

I am getting this error in console log,
it may be related to the reason why the ESLint indicator stays open:

[code]

[2019-02-21 06:25] Yzrsah commented on #612
@dbaeumer I realized the indicator is staying open when I don't have `${workspaceRoot}/package.json`

I have a multi-root workspace, with nested packages, local_modules

[2019-02-21 10:00] pengxiaotian commented on #623
Problem with the `--fix` option was successfully fixed

![image](https://user-images.githubusercontent.com/27847994/53160123-3fd0e500-3602-11e9-8e0f-3f58ef62a322.png)

[2019-02-21 19:15] kdegrace commented on #600
Happens to me all the time as well.  It will work for a short while, then suddenly just stop working.  My workaround is to restart vscode.

[2019-02-22 06:37] xianghongai opened #629 "need update 'problems' message in config file "globals" property"
For historical reasons, the boolean value `false` and the string value `"readable"` are equivalent to `"readonly"`. Similarly, the boolean value `true` and the string value `"writeable"` are equivalent to `"writable"`. However, the use of older values is deprecated.

- [Specifying Globals - ESLint](https://eslint.org/docs/user-guide/configuring#specifying-globals)

![2019-02-22-143343](https://use

[2019-02-22 09:14] xianghongai opened #630 "'yield-star-spacing' rule conflict"
.eslintrc.json

[code]

yield-star-spacing.js
[code]

![2019-02-22-171323](https://user-images.githubusercontent.com/2075006/53232079-4aa07e00-36c5-11e9-98fd-b77e651a5316.png)

[2019-02-23 01:46] optimix-designer opened #631 "Error in VS Code: ESLint: mudule is not defined"
Hello,
After installing ESLint extension to VS Code and configuring it to validate and autofix several languages received the following error:

` ESLint: mudule is not defined. Please see the 'ESLint' output channel for details.`

Here's a screenshot of the error:
http://prntscr.com/mowsdp

![eslint-error](https://user-images.githubusercontent.com/3405378/53279923-66377300-371d-11e9-9f00-9694a5c5d

[2019-02-23 12:06] nicobarray commented on #600
@dbaeumer Just to say that I'm keeping watch on the logs, if it happens again, I'll paste them here :)

[2019-02-23 13:18] optimix-designer commented on #631
Please never mind. I've made a typo in `.prettierrc.js` file. Sorry, my bad :)

[2019-02-23 13:18] #631 closed

[2019-02-23 16:43] joshunger commented on #628
I'm seeing the same issue @dbaeumer @xerosanyam

Extension version: 1.8.0
VS Code version: Code - Insiders 1.32.0-insider (11416de365a1e96302e171c9eebc2547872ac230, 2019-02-23T08:16:36.706Z)
OS version: Darwin x64 18.2.0

[code]

[2019-02-23 16:55] joshunger commented on #628
I had accidentally executed **ESLint: Disabled ESLint**. Executing **ESLint: Enable ESLint** fixed the issue. It might be helpful to update the text of this error message?

[2019-02-25 08:56] jrieken commented on #620
Does it look like that: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#code-loading? Iff so then it's code loading.

[2019-02-25 14:48] lafriks opened #632 "In NativeScript in app folder there is addtional `package.json` that misleads eslint"
In NativeScript apps there is `app/package.json`  file with contents
[code]

In project root folder there is also `package.json` that contains all dependencies. There currently seems to be no way to look for dependencies in workspace root package.json instead on app folders one.

[2019-02-25 20:18] alexd16 opened #633 "Lint whole folder ignore workingDirectories setting"
Hey

Not sure if this was already reported but could not find any similar issue.

I noticed that if I ran the 'lint whole folder' task it ignores the workingDirectories setting.
Is this intended behaviour?

If so is it something that would make sense to change? if so I could open a PR for it, would just need some pointer on how to approach it

Thanks

[2019-02-26 03:16] kevingermain commented on #600
@kdegrace Exactly the same problems!!! Frustrating :'(

[2019-02-26 06:47] zliy opened #634 "eslint extension keep crashing in a project created by vue-cli 3"
eslint extension keep crashing in a project created by vue-cli 3, while `yarn run lint` works well.

download [this repository](https://github.com/zliy/eslint-crash-example), open in vscode, install dependences (`yarn`), reload vscode, go to `src/main.js`, then eslint extension will crash immediately

## step to reproduce

1. create a project with vue-cli 3, Check these configurations: `CSS Pre-pr

[2019-02-26 13:08] dbaeumer commented on #623
Since I can't reproduce this can you please create a simple project on GitHub that I can clone that demos this. I agree that this is very likely not specific to your code. It is very likely more caused by a setup problem.

[2019-02-26 13:10] dbaeumer commented on #612
Looks indeed suspicious. Can you please provide me with a GitHub repository I can clone which demos this. I don't see that exception in my test cases.

[2019-02-26 13:12] dbaeumer commented on #629
@xianghongai this is handle by the eslintrc schema file which is maintained here: https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/eslintrc.json

Please file the issue there. Thanks.

[2019-02-26 13:12] #629 closed

[2019-02-26 13:25] dbaeumer commented on #630
The same problems are reported when running eslint in the terminal:

<img width="512" alt="capture" src="https://user-images.githubusercontent.com/1931590/53415737-41b7f100-39d2-11e9-9993-2dfc4e12ac4a.png">

Please report the issue to ESLint itself if you think there is something wrong with the reported diagnostics.

[2019-02-26 13:25] #630 closed

[2019-02-26 13:32] dbaeumer commented on #628
@joshunger will look into it. Best would be to print some info about which workspace folders are disabled.

[2019-02-26 13:33] dbaeumer commented on #632
@lafriks can you provide me with a GitHub repository and steps that show what exactly the issue is you are having?

[2019-02-26 13:36] dbaeumer commented on #633
Honoring these setting would make perfect sense. The code should basically make a cd into these working dirs before executing the lint task. So instead of contributing one there would be n, one per working dir setting.

The corresponding code is here: https://github.com/Microsoft/vscode-eslint/blob/master/client/src/tasks.ts#L44

[2019-02-26 13:46] dbaeumer commented on #600
@kdegrace @kevingermain and steps how I can reproduce this. It is hard to fix without being able to reproduce.

[2019-02-26 13:47] dbaeumer commented on #634
This is caused by a native node module that you are using. In this case you need to tell ESLint to use the same node runtime to load the native module. This can be done using the `eslint.runtime` setting.

Let me know if this works for you?

[2019-02-26 15:01] zliy commented on #634
Thanks a lot, it works for me😄

[2019-02-26 15:01] #634 closed

[2019-02-26 17:10] wouterkroes commented on #634
@dbaeumer @zliy I am having the same issue.

What exactly should I use as value for runtime?
[code]

[2019-02-26 17:20] Yzrsah commented on #612
It's a large workspace with many nested projects and packages with different eslint scopes, nested inheritance level of plugins being resolved implicitly, a bunch of eslint/lib/api.js's detected

The issue was resolved in part by making an eslintrc at the root level that is compatible with everything. Also by making explicit some plugin scoping.

Without that eslintrc in the root, I get the glob e

[2019-02-26 17:21] Yzrsah commented on #612
It's a large workspace with many nested projects and packages with different eslint scopes, nested scope levels of eslint plugins being resolved implicitly, a bunch of eslint/lib/api.js's detected

The issue was resolved in part by making an eslintrc at the root level that is compatible with everything. Also by making explicit some plugin scoping.

Without that eslintrc in the root, I get the glob

[2019-02-26 18:01] anmartins commented on #633
Hey,

I have a solution for this issue i'll open a PR.

[2019-02-26 18:30] lafriks commented on #632
I just created sample: https://github.com/lafriks/test-nativescript-vue

You could probably need nativescript first.
[code]

When running:
[code]

Result is:
![image](https://user-images.githubusercontent.com/165205/53436987-23b7b400-3a05-11e9-838a-a0b7adfc5719.png)

But vscode-eslint shows linting errors for dependencies:
![image](https://user-images.githubusercontent.com/165205/53437073-5a8dca00

[2019-02-26 22:33] jcace commented on #600
Having the same problem here. autoFixOnSave just stops working altogether. Very sporadic it seems. I'm not seeing any output in the log either (although maybe I'm looking in the wrong place..?)

[2019-02-27 01:19] zliy commented on #634
@wouterkroes
run `which node` in the terminal, you will get a path to the node executable in your system.
ps: `eslint.runtime` setting is for vscode

same issue [#543](https://github.com/Microsoft/vscode-eslint/issues/543#issuecomment-422315554)

[2019-02-27 10:35] gonxas commented on #618
Sorry, can't give you the repo, since it's private. This is the output the console is trhowing:
`[Info  - 11:29:27 AM] ESLint server stopped.
[Info  - 11:29:27 AM] ESLint server running in node v10.2.0
[Info  - 11:29:27 AM] ESLint server is running.
[Info  - 11:29:28 AM] ESLint library loaded from: /Users/gonxas/Projects/iOS/DigitalClipboard/DC/node_modules/eslint/lib/api.js
cosmiconfig requires a

[2019-02-27 14:27] dbaeumer commented on #632
Actually `npm run lint` doesn't call eslint directly and I have no idea what `vue-cli-service lint` does. However running eslint directly in a terminal produces the same error:

<img width="886" alt="capture" src="https://user-images.githubusercontent.com/1931590/53497153-db9b9e80-3aa3-11e9-8960-73710be13132.png">

So unless someone knows how to setup ESLint (https://eslint.org/) I am a little los

[2019-02-27 14:30] dbaeumer commented on #600
Can someone that sees this enable server tracing to find out if the corresponding messages are still sent to ESLint. To do so add the following setting:

[code]

[2019-02-27 14:43] dbaeumer commented on #618
@gonxas thanks. Unfortunatelly the eslintrc file doesn't provide enough information to understand what is happening.

Can you run eslint from a terminal and see if there is any additional information written to the console?

[2019-02-27 17:25] kevingermain commented on #600
@dbaeumer I'm going to try to dig about it but it's a really curious issue. After starting again VS Code, I know it will work again, but for only short period of time like 10 minutes or something like that.

[2019-02-27 18:19] shanemgrey commented on #628
Having the same problem today, I'm fairly sure I didn't disable EsLint at any point,

But disabling and enabling it for the workspace did restore the AutoFixOnSave functionality I had working before.  Simply enabling it may have worked, but I first selected disable under the "Did you turn it off and back on?" rule of fixing things.

Thanks for the hint.

Uninstalling and reinstalling eslint did no

[2019-02-27 18:50] lafriks commented on #632
As a workaround I currently have set `.eslintrc.js` for anyone getting this error this way:

[code]

[2019-02-27 22:03] bugs181 opened #636 "eslint is not using local config"
I have eslint installed globally and locally. However, the vscode plugin is not respecting the local configuration files. When running from terminal, everything works as expected however I want to use VSCode's version that provides gutter colors and other visual indicators.

Directory structure:
[code]

Running eslint from terminal:
[code]

Global linter used: (local `.eslintrc.json` has `"prefer-

[2019-02-28 00:33] kevingermain commented on #600
@dbaeumer I think I have a start of an answer! After a search and replace a string in multiple files, the autoFixOnSave is not working anymore!

[2019-02-28 02:41] tunnckoCore commented on #601
Yup. Something should be done.

[2019-02-28 15:33] leoselig commented on #550
@dbaeumer I should have been more clear about what issue I still have with this. We are working in quite a large mono repository where packages tend to come (and even go) **quite** frequently. Therefore I dislike maintaining a list of `
eslint.workingDirectories` but a glob does not seem to work at the moment.

[2019-02-28 17:56] jcace commented on #600
hi @dbaeumer . I turned on server tracing . Here's the output:

[code]

![image](https://user-images.githubusercontent.com/12418265/53587235-b5770c80-3b3e-11e9-8599-4d015d58d017.png)

It's still showing lint errors, but 'autoFixOnSave' doesn't appear to be working. I can still "ctrl-." and fix the problem though.

Here's my .eslintrc config:
[code]

It will sometimes start working if I reload VSCo

[2019-03-01 14:51] dbaeumer commented on #632
@lafriks any objection to close this issue. I don't see what ESLint extension can do to make this a better expierence.

[2019-03-01 14:54] dbaeumer commented on #601
@tunnckoCore can you be a little bit more specific. I still think there is nothing the ESLint extension needs to do.

[2019-03-01 14:56] dbaeumer commented on #636
@bugs181 can you provide me with a GitHub repository that I can clone that demos this behaviour.

[2019-03-01 18:14] tunnckoCore commented on #601
Maybe. I don't know. Yea, maybe more correct would be eslint to support it.

[2019-03-01 22:21] bugs181 commented on #636
Here you go. I'm curious if this could perhaps be a bug with `pnpm` not correctly installing the local eslint version. Not really sure.

https://github.com/bugs181/vscode-eslint-bug-636

[2019-03-01 23:55] lafriks commented on #632
Yes sure, I believe this could be actually eslint issue

[2019-03-01 23:55] #632 closed

[2019-03-03 00:59] andrew-humu commented on #605
For anyone else that finds this issue, the relevant ticket in the [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint) project is:

https://github.com/typescript-eslint/typescript-eslint/issues/251

[2019-03-03 13:36] pengxiaotian commented on #623
It seems that I have the same error again today. I ignored it last time：

    Failed to load the ESLint library for the document f:\Qlw-VCharts-UI\src\components\Index.vue

    To use ESLint please install eslint by running npm install eslint in the workspace folder Qlw-VCharts-UI
    or globally using 'npm install -g eslint'. You need to reopen the workspace after installing eslint.

    If you a

[2019-03-03 14:20] pengxiaotian commented on #623
I know what went wrong, it is the reason for the configuration.
But I don't know what the specific reason is.

![image](https://user-images.githubusercontent.com/27847994/53696477-3dd90400-3e02-11e9-8ea3-23204ca39171.png)

![image](https://user-images.githubusercontent.com/27847994/53696494-5c3eff80-3e02-11e9-8033-3e9b43d44490.png)

Is this order important?

[2019-03-04 02:10] pengxiaotian commented on #600
This problem was found in #623.

[2019-03-04 02:11] pengxiaotian commented on #600
Is the configuration file order problem.

[2019-03-04 10:46] dbaeumer commented on #636
Works for me out of the box:

<img width="859" alt="capture" src="https://user-images.githubusercontent.com/1931590/53728425-0b1b2400-3e73-11e9-86a9-00f9c10b9a52.png">

One thing you can try is to set the package manage for eslint to pnpm using `"eslint.packageManager": "pnpm"`

[2019-03-04 10:48] dbaeumer commented on #623
The problem is that `"vue"` is listed two times one as a string and one as a literal. Simply the second one wins

[2019-03-04 11:02] dbaeumer commented on #600
@jcace thanks for the trace. What is interesting is the fact the the client never sends a will save request which is necessary to trigger fix on save. The trace should look something like this:

[code]

Are you sure you have configured fix on save correctly. This requires two settings:

[code]

[2019-03-04 17:31] bugs181 commented on #636
Oddly enough, I'm getting completely different behavior with no modifications to the uploaded project. Now eslint is complaining about plugins, however my local eslint does not have any plugins listed.

[code]

Running the above command from CLI seems to use the correct configuration. Not sure what could be happening at this stage.

[code]

Added that line to `package.json`; with the same result.

[2019-03-04 19:33] bugs181 commented on #636
Update: after reading through #482, it appears I too have misunderstood the use of `configFile` option.

I had assumed it acted as a fallback mechanism, only being used if a local `.eslintrc` file didn't exist. After removing that line from my User settings in VSCode, everything behaves as expected.

Since this is very much a vscode-eslint specific feature (leaving CLI alone), I'd like to add my s

[2019-03-05 00:34] ilias-t opened #637 "Suppress warnings only"
### Type of Issue
Feature Request

### Description
Looking for an option that will disable warnings in VSCode, while still displaying errors. Something akin to eslint's quiet [flag](https://eslint.org/docs/user-guide/command-line-interface#handling-warnings).

[2019-03-05 05:27] pengxiaotian commented on #623
I think this is an invisible rule and should be annotated.
I see that many people are configured this way.

[2019-03-05 09:55] rofiuddin15 opened #638 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 4.18.0-16-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/rofiareiv/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-c

[2019-03-05 09:55] rofiuddin15 opened #639 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 4.18.0-16-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/rofiareiv/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-c

[2019-03-05 09:55] rofiuddin15 opened #640 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.0`
- OS Version: `Linux x64 4.18.0-16-generic`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/rofiareiv/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-c

[2019-03-05 14:43] dbaeumer commented on #639
Dups #638

[2019-03-05 14:43] #639 closed

[2019-03-05 14:43] dbaeumer commented on #640
Dups #638

[2019-03-05 14:43] #640 closed

[2019-03-05 18:06] daaru00 commented on #628
Same issue, can someone provide more info about this error? The message "ESLint is not validating any files yet." does not mean nothing for me.

eslint is installed, configuration file is generate by `node_modules/.bin/eslint --init`, eslint is enabled inside project.. something else is required?

[2019-03-05 19:07] daaru00 commented on #628
After a lot of try I figure out what the problem is, you need to specify inside the vscode configuration the `eslint.validate` with file type that you want to lint. For example, in a Vue project you have to specify:
[code]

Then, this is the really strange thing, nothing happens, will still not work, you have to disable and re-enable the linter with command `ESlint: Disable ESLint` and  `ESlint: E

[2019-03-06 01:55] axetroy opened #641 "Feature Request: autocomplete for eslint comment"
![2019-03-06 09 53 18](https://user-images.githubusercontent.com/9758711/53850303-b3f18c80-3ff5-11e9-9d01-7a559c24e629.png)
![2019-03-06 09 53 49](https://user-images.githubusercontent.com/9758711/53850327-c370d580-3ff5-11e9-901d-c9cf1286006e.png)

I am writing an extension that automatically completes these comments.

But I hope that this is implemented by the official extension.

### Why do I ne

[2019-03-06 11:00] dbaeumer commented on #638
Dups #620

[2019-03-06 11:00] #638 closed

[2019-03-06 11:20] dbaeumer commented on #620
Closing. Version 1.8.1 ships web packed.

[2019-03-06 11:20] #620 closed

[2019-03-06 11:47] clock157 opened #642 "Infer `eslint.validate` from plugins configuration."
demo repo:
https://github.com/clock157/bug-vscode-eslint-typescript

run command can found error but not report in vscode.

set `setting.json` not work too.
[code]

[2019-03-06 14:58] Sujimoshi commented on #642
The same. My config:
[code]

[2019-03-07 07:45] dbaeumer commented on #642
Strange. This works for me using the repository from https://github.com/Microsoft/vscode-eslint/issues/642#issue-417763561 and adding the following setting.

[code]

<img width="531" alt="capture" src="https://user-images.githubusercontent.com/1931590/53940198-53c21f80-40b5-11e9-828a-4da5fbbeb761.png">

[2019-03-07 07:45] dbaeumer commented on #642
Any additional information how to reproduce what you are seeing.

[2019-03-07 07:46] dbaeumer commented on #641
Nice idea. Are you willing to provide a pull request ?

[2019-03-07 07:59] dbaeumer commented on #628
I changed the message to:

<img width="340" alt="capture" src="https://user-images.githubusercontent.com/1931590/53940951-31c99c80-40b7-11e9-9f2b-d6fe8fb74155.png">

However I can't reproduce the lack of applying configuration changes. This works for me.

[2019-03-07 08:05] axetroy commented on #641
@dbaeumer
In fact, I have implemented some functions in here https://github.com/axetroy/vscode-comment-autocomplete.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/9758711/53940781-7ffb9180-40f1-11e9-99a4-b208dd54a28b.gif)

But it still has some problems.

1. Cannot render correctly in `JSX/TSX/VUE`
2. No analysis context, frequent auto-completion.

So, if you have a better so

[2019-03-07 10:12] Sujimoshi commented on #642
Eslint extension info:
[code]

[2019-03-07 10:36] Sujimoshi commented on #642
Work!!! After update to latest vscode

[2019-03-07 14:50] daaru00 commented on #628
@dbaeumer have you tried this?
1) remove the module
2) open a couple of files in a project environment
3) re-install the module
4) try to configure and run linter for that opened files

seems related to current open documents, I think.

[2019-03-07 19:59] jcace commented on #600
Yup, it's configured properly. Still having problems though:
[code]

It really seems to depend on the project. Some projects, it works OK, but others it just won't work at all, unless I try reloading a bunch of times.

[2019-03-08 07:13] #618 closed

[2019-03-08 07:13] #612 closed

[2019-03-08 07:13] #208 closed

[2019-03-08 07:13] #621 closed

[2019-03-08 07:16] alexlouden commented on #628
I added `"eslint.trace.server": "messages"` to my user settings, then checked the Output of ESLint and got the following message:

I tried to update, and discovered that VS code was running out of my downloads folder, so it couldn't update 🤦‍♂️ (see [issue](https://github.com/Microsoft/vscode/issues/7426)). I moved it to Applications, updated, and now ESLint is working again! Hope this helps someo

[2019-03-08 10:38] dbaeumer opened #643 "Support hot install of ESLint npm modules"
Currently this requires a reload.

[2019-03-08 10:38] dbaeumer commented on #628
@daaru00 the extension doesn't support hot install of the eslint npm package right now. I created https://github.com/Microsoft/vscode-eslint/issues/643.

[2019-03-08 10:52] dbaeumer commented on #628
@alexlouden release a new version that addresses the version mismatch.

[2019-03-08 10:52] dbaeumer commented on #628
Releases 1.8.2 which containes the improved error message

[2019-03-08 10:52] #628 closed

[2019-03-08 10:56] dbaeumer commented on #642
@Sujimoshi this was a problem on my end not treating versions correctly. I fixed this and releases 1.8.2 which now prereqs the right VS Code version. Sorry for that.

@clock157 any additional information. Are you still seeing this ?

[2019-03-08 10:58] dbaeumer commented on #600
@jcace can you provide me with a GitHub repository I can clone that demos this.

[2019-03-08 11:03] dbaeumer commented on #641
@axetroy I would actually not create a generic extension for this. I think we are better off to have these in the corresponding linters, prettier extensions.

And you can contribute snippets statically. See https://github.com/Microsoft/vscode/blob/master/extensions/html/package.json#L78 and https://github.com/Microsoft/vscode/blob/master/extensions/html/snippets/html.snippets.json#L1 as an example

[2019-03-08 11:05] dbaeumer commented on #637
@ilias-t just to clarify. Only for ESlint?

[2019-03-08 11:10] clock157 commented on #642
hi @dbaeumer, thanks for your help, It works.
[code]
can this option set to default that `tslint` will deprecated?

[2019-03-08 11:13] dbaeumer commented on #636
@bugs181 I am not sure I understand what you are asking for. The `configFile` is exactly the same as the `--config` option for the command line. This is standard ESLint behaviour.

Have you looked intpo `baseConfig` (see https://eslint.org/docs/developer-guide/nodejs-api#cliengine). I think that helps in your setup.

[2019-03-08 11:16] dbaeumer commented on #642
The problem here is that eslint (the npm module) out of the box only validates JS files. Everything else comes in as a configuration. What I can look into is whether I am able to infer this from the plugins section.

[2019-03-08 11:34] axetroy commented on #641
@dbaeumer Yes, I agree that!

But I am afraid that snippets can't achieve this feature.

eg.

[code]

**there are 3 comment styles and maybe more.**

It's hard to tell how to comment.

this may require using AST to parse the file.

I will not initiate PR until I solve this problem.

If your team has a better way, then just do it.

[2019-03-08 11:59] bugs181 commented on #636
Aha! The not so subtle difference between `configFile` and `baseConfig` options.

According to those docs:

The interesting bit is:

Whereas for `baseConfig`:

My earlier stated problem was that the `configFile` is completely over-riding my local `.eslintrc` rules, so it sounds appropriate to switch to `baseConfig`

Unfortunately, it appears that `baseConfig` has no effect.
I would assume this is

[2019-03-08 16:16] edarioq commented on #417
Like others have said, the easiest fix is to install Prettier from the VS Extension Marketplace. Create a `prettierrc`file, copy and paste the following:

[code]

Works well with Airbnb eslint rules.

[2019-03-08 16:53] aMarCruz commented on #417
Also there's a [eslint-plugin-prettierx](https://www.npmjs.com/package/eslint-plugin-prettierx) with more options than the default Prettier ones (I'm the author).

For example, this is an .eslintrc.json with the "default" preset:

[code]

It works like any other ESLint plugin, it can be used with the VS Code ESlint or in the command line with `eslint --fix`.

The plugin includes [Prettierx](https:

[2019-03-09 12:52] usernamehw commented on #208
@aladdin-add I'm unable to use that plugin.

This config works (no autofix):
[code]
After adding just one more rule (that should be autofixed):
[code]
ESLint just completely stops: ``ESLint: Fixable rules should export a `meta.fixable` property.. Please see the 'ESLint' output channel for details.``.

[code]

[2019-03-09 13:45] aladdin-add commented on #208
@usernamehw thanks for the feedback, I will publish a patch to fix it! 😄

[2019-03-09 14:24] aladdin-add commented on #208
@usernamehw could you try `eslint-plugin-no-autofix@0.0.2`?

[2019-03-09 14:42] usernamehw commented on #208
@aladdin-add, working great now 👍

[2019-03-10 13:52] gernotpokorny commented on #550
Why such complicated logic? Why not just respect `.eslintignore` for the current directory and sub-directories? I mean currently you cannot open a folder with many sub-folders without maintaining this list.

[2019-03-11 08:08] dbaeumer commented on #636
To my understanding `baseConfig` is an object literal and not a path to a file.

[2019-03-11 08:09] dbaeumer commented on #641
@axetroy valid point !

[2019-03-11 21:51] ilias-t commented on #637
Yes, an ability to specifically quiet eslint warnings is what I had in mind.

[2019-03-12 04:29] jordanbtucker commented on #629
See https://github.com/SchemaStore/schemastore/pull/645 and https://github.com/SchemaStore/schemastore/pull/651

[2019-03-13 09:58] David-Else commented on #609
https://github.com/typescript-eslint/typescript-eslint seems to be working great, but I had to search through bug reports to find the config info to make it work in VS Code... very bad user experience! Please enable it by default.

[2019-03-13 13:46] franciscolourenco opened #644 "Add option to auto fix on paste"
Often pasted code will have the wrong formatting. It would be great to have an option to enable auto-fixing on save.

[2019-03-13 14:53] silvenon commented on #637
I want this so much. 👍 I'm working on a project with lots of ESLint warnings, so all those orange underlines are incredibly distracting. It would significantly improve my productivity if this can be turned off. 😄

[2019-03-13 14:57] silvenon commented on #637
Maybe the option could be `"eslint.quiet": true`?

[2019-03-14 12:13] ajerez commented on #267
Any updates on this?

[2019-03-15 07:16] shankarsingh482 opened #645 "ESlint-issue-vscode Not working with new release"
Hey , Is there any issue with elslint after new update for vs code.
[code]
My settings.json file.

[2019-03-15 09:41] dbaeumer commented on #645
Works for me. Can you provide me with a GitHub reposistory I can clone that demos what you are seeing.
<img width="356" alt="capture" src="https://user-images.githubusercontent.com/1931590/54422454-d595f680-470e-11e9-88e8-669b3b1e899e.png">

[2019-03-15 09:42] shankarsingh482 commented on #645
Sorry sir , It's enterprise Github repo  will not be able to share that.

[2019-03-15 09:42] dbaeumer commented on #267
No, not from my side. @ryaninvents any update.

[2019-03-15 09:43] dbaeumer commented on #645
Can you try to distill something. Without reproducible steps hard to tell what is going wrong.

[2019-03-15 09:45] dbaeumer commented on #637
`"eslint.quite"` as a setting name makes sense.  PR welcome :-)

[2019-03-15 09:46] shankarsingh482 commented on #645
I guess it will provide help to you.
![image](https://user-images.githubusercontent.com/24459676/54422798-40f2bf00-4735-11e9-8e46-34d93f8dcafc.png)

[2019-03-15 09:51] shankarsingh482 commented on #645
![image](https://user-images.githubusercontent.com/24459676/54423175-0dfcfb00-4736-11e9-8c9a-9b0c11bae2ea.png)

[2019-03-15 10:02] dbaeumer commented on #609
I quickly looked into this and it is a little bit more tricky. The problem is that the extension currently doesn't know if the eslint npm module is configured in a way that it will be able to validate TS files. If I enable this by default and eslint is not configured correctly I will validate TS files with a JS validator which has bad effects. See also https://github.com/Microsoft/vscode-eslint/is

[2019-03-15 10:04] shankarsingh482 commented on #645
Error message of eslint.

![image](https://user-images.githubusercontent.com/24459676/54423924-c24b5100-4737-11e9-92f8-250d7031501d.png)

[2019-03-15 10:06] dbaeumer commented on #645
@shankarsingh482 what messages are in thge output panel.

This is usually caused by a ESLint setup that calls `process.exit()` which is caused by a not correctly configured ESLint.

What happens if you validate the file using ESLint on the command line?

[2019-03-15 10:09] shankarsingh482 commented on #645
@dbaeumer - We installed the ESlint globally and it runs automatically on save of particular file.

[2019-03-16 13:32] snooopcatt commented on #614
ironic, given that Idea works better with WSL than MS product

[2019-03-18 09:03] dbaeumer commented on #645
@shankarsingh482 can you pleasee provide the following informaiton:

- what happens if you run ESLint on file in the terminal?
- the information form the output panel

Best would still be a reprodicable case.

[2019-03-18 14:59] shankarsingh482 commented on #645
@dbaeumer I lower the version of vs code  and ESlint and it starts working.

[2019-03-19 07:41] dbaeumer commented on #645
@shankarsingh482 I am not trying to say that there is not issue. But without more information as requested here https://github.com/Microsoft/vscode-eslint/issues/645#issuecomment-473824854 there is little I can do to understand why it is not working for you.

[2019-03-19 11:32] mkp7 commented on #628
Possible ways of reproducing the issue are to open a new window and then "open folder" or "add workspace folder" to it.

I remember opening a new window for a separate project, it was working with the previous workspace/window but not with the new window. Since then it isn't working with any folder/workspace.

All the folders I tested with had `eslint --init` done.

[2019-03-19 17:25] jtsom opened #646 "Extension causing high cpu load"
This has been claimed to be fixed, but I am experiencing the eslint extension causing high cpu load:

[code]

[2019-03-20 10:56] dbaeumer commented on #646
@jtsom any steps on how to reproduce this. Do you have a GitHub repository I can clone to find out why the eslintServer causes such a high CPU load?

[2019-03-20 11:05] AdriaRios commented on #628
Any update guys?

[2019-03-20 16:27] saranshkataria commented on #609
Can we not read the eslintrc file to see if a typescript plugin is installed?

[2019-03-20 20:43] agwells commented on #609
Could you use `CLIEngine.getConfigForFile()` to check for the presence of the `@typescript-eslint` plugin? https://github.com/eslint/eslint/blob/master/docs/developer-guide/nodejs-api.md#clienginegetconfigforfile

[2019-03-21 07:16] dbaeumer commented on #609
@saranshkataria I would like to avoid reading the eslintrc file myself for the following reasons:

- can exist in different formats `js`, `json`, `yml`, ...
- if its format evolve I need to catch up.

I so far tried hard to stay away from this.

@agwells nice idea `CLIEngine.getConfigForFile()`. Would still require understanding the return JSON strcuture but at least it doesn't require file looksu

[2019-03-21 08:23] gonxas commented on #618
Hey @dbaeumer. Sorry for the delay, I've been on vacations.
Can you tell me how to run eslint from a terminal please? I've been only using it on Visual Studio Code

Thanks

[2019-03-21 20:10] dbaeumer commented on #618
@gonxas with ESLint both the npm eslint package and all plugins must either be install all globally or all locally. You can't mix the installation scope.

[2019-03-21 21:22] agwells commented on #609
I'm not sure that it is really necessary to make sure the user has their ESlint configured correctly, so long as:

1. `typescript` and `typscriptreact` are not included in `eslint.validate` by default
2. And `eslint.autoFixOnSave` is `false` by default

Then, if the user enables all that, they've taken a deliberate step and can assume the risk themselves.

For that matter, the risk of inappropriat

[2019-03-21 21:27] jcace commented on #600
I'll try to get something... Unfortunately most of our repos are private. Will let you know as we're still having the problem

[2019-03-22 09:02] dbaeumer commented on #609
@agwells 1. and 2. are actually the case but the requests ask to make this a better out of the box expierence. So include `typescript` and `typscriptreact` in the `eslint.validate` and even enable autofix. But this makes only sense when the linter is configured to lint TS files.

[2019-03-22 09:23] gonxas commented on #618
@dbaeumer shouldn't those lines have installed everything globaly?

[2019-03-23 13:49] soydepr opened #647 "es warning"
how to remove es6  warning

[2019-03-23 16:57] diegohaz commented on #600
I'm having this problem as well with https://github.com/reakit/reakit/tree/next

It works for several minutes (or hours? I didn't track it), then stop working. So I have to restart VSCode to work around this.

[2019-03-23 17:08] nikolay-borzov commented on #645
Maybe it is not related. For me, ESLint doesn't work if `Eslint: Enable` unchecked in 'User Settings' but checked in 'Workspace Setting'. Once `Eslint: Enable` in 'User Settings' is checked the extension is loaded

[2019-03-24 09:32] rowild opened #648 "Excluding folders does not work"
I want to exclude a folder by name of "public", so I added a `.eslintignore` and added `/public` to it.
Additionally, in VS Code und the workspace settings, I added:
[code]
hoping that eslint will do its work only in that folder.

Unfortunately, this does not work, the files in `public` are still analysed and marked red by eslint.

If I am doing something wrong, I really don't know. Googled like t

[2019-03-26 10:12] dbaeumer commented on #645
@nikolay-borzov I can not reproduce this:

![capture](https://user-images.githubusercontent.com/1931590/54989069-17008e80-4fb8-11e9-8e57-857ee47c4d9d.png)

Any additional steps?

[2019-03-26 10:33] nikolay-borzov commented on #645
@dbaeumer, let me investigate it. I'll update this comment with additional details

[2019-03-26 11:47] gonxas commented on #618
@dbaeumer I just saw a found log of messages on Visual Studio Code:

does this gives a bit more of information?

[2019-03-26 13:32] SzHeJason commented on #417
https://github.com/ryuta46/vscode-multi-command
[code]

[code]

[2019-03-27 19:40] tommulkins commented on #634
Is there a way to set VS Code to automatically the currently selected Node.js version as selected via NVM?

[2019-03-28 09:18] dbaeumer commented on #634
IMO
[code]

should do the trick.

[2019-03-28 09:21] dbaeumer commented on #618
`npm i -g eslint` installs eslint globally, whereas `npm i eslint-plugin-prettier@latest --save-dev` installs the plugin locally.

The server shuts down because of this

[code]

Do you have eslint.runtime configured ?

[2019-03-28 09:27] dbaeumer commented on #647
I think this is better ask in the ESLint channel (stack overflow) since this is a contfiguration of ESLint npm itself. The VS Code extension is based on ESLint npm. A good way to tweak things like this is to execute eslint in a terminal to see how standard eslint behaves.

[2019-03-28 09:27] #647 closed

[2019-03-28 14:21] rjgotten opened #649 "Suppress autofix when Git merge markers are present"
Currently autofix can be either enabled 'on type' or 'on save' and applies while VSCode is used to resolve Git merge conflicts.

This leads to catastrophic corruptions of file content when autofixing files that have HTML(-like) linting enabled via various extension packages such as for `.vue` files, which misinterpret Git merge markers as HTML tags.

As a precaution, autofix behavior should be com

[2019-03-28 14:22] tommulkins commented on #634
So simple!  It worked, thank you.

[2019-03-28 15:33] nphmuller opened #650 "ESLint: Lint Whole Folder task not appearing"
The docs describe that setting the `eslint.provideLintTask` setting to `true` should add an `ESLint: Lint Whole Folder` command to the Command Palette. The command however is not appearing for me.

VSCode 1.32.3
ESLint: 1.8.2

Repro:
Go to File -> Preferences -> Settings
Under Extensions -> ESLint check `Eslint: Provide Lint Task` (Tested both in User Settings and Workspace Settings)
Restart Code

[2019-03-29 04:57] ashah023 opened #651 "TypeError: Cannot read property of 'CLIEngine' of undefined"
Hi team,

I've been consistently getting this error in the output channel of ESLint and was wondering if you could point me in the right direction:

[code]

If there's any suggestions or information you know of that can help me resolve this, please let me know. Thanks!

[2019-03-29 12:48] gonxas commented on #618
I'm not sure... Searching I found and follow this: https://github.com/runtimejs/eslint-config-runtime

I added edited this line in the config file I uploaded earlier:
  "extends": ["eslint:recommended", "plugin:react/recommended", "runtime"],

but nothing happened.

[2019-03-29 13:09] rowild commented on #648
Thanks for your feedback and your offer to take a look at my setup, @dbaeumer ! But i have no github repo where my project is stored. Yet. Sorry...

However - I think, I understood a little bit more about the setup and got it working, at least for this project. One reason might have been that I used "false" instead of "off" in the eslintconfig file...

This is what I have now:
- put .eslintignore

[2019-03-29 13:09] #648 closed

[2019-03-29 16:49] dbaeumer commented on #648
Good to see you got it working.

[2019-03-29 16:51] dbaeumer commented on #651
@ashah023 which version of ESLint npm are you using. Can you provide me with a GitHub repository that reveals the behavior I could clone?

[2019-03-29 17:06] dbaeumer commented on #650
The task doesn't show up in the command palette. It shows up in the task selection box. Execute Terminal > Run Task to see the list of available Tasks.

<img width="673" alt="capture" src="https://user-images.githubusercontent.com/1931590/55249861-58f63280-524d-11e9-949d-92abbbe5f16e.png">

[2019-03-29 19:14] nphmuller commented on #650
I almost couldn't imagine the entire feature not working, but I just couldn't figure it out. Thanks for the help!

[2019-03-29 19:14] #650 closed

[2019-04-01 03:15] corbfon commented on #600
I'm having this problem... I just set up eslint/prettier with my project and it was working beautifully. In the middle of coding, it stopped, and restarting _has not helped me_ 😢

[2019-04-01 08:05] #646 closed

[2019-04-01 08:05] #636 closed

[2019-04-01 09:53] dbaeumer commented on #600
@corbfon sounds like you can reproduce it. Are you able to share the repository?

[2019-04-04 16:13] anburocky3 commented on #651
I'm too experiencing the same problem. here is the complete log
[code]

[2019-04-05 02:46] anburocky3 commented on #651
**Update:** restarting the editor, fixed the issue.

[2019-04-05 08:57] dbaeumer commented on #651
Any steps to reproduce?

[2019-04-05 22:20] ashah023 commented on #651
ESLint: 5.16.0
npm: 6.7.0

I'll try to put together a clone-able repository for you this weekend. Thank you for your assistance.

[2019-04-06 12:05] arcanis commented on #154
Is there a recommended workaround at the moment? From what I gather we can either:

- Press ^S multiple times
- Run `eslint --fix`

Could an extension rebind `ctrl+S` / `cmd+S` to continuously run a save until the buffer becomes stable (since the rebind would be outside of the "real" save event I guess it would not be subject to the 200ms threshold)? That would preserve the markers and work from w

[2019-04-06 17:36] thernstig commented on #154
@arcanis Using Prettier with ESLint is a workaround that works as it will do all formatting once on save. See https://github.com/Microsoft/vscode-eslint/issues/154#issuecomment-438995360.

[2019-04-06 21:59] geekysmurf123 opened #652 "VCS - JavaScript Space Errors"
Hi.  Great project!  I am having an issue while using this in Visual Code Studio.  In my JavaScript files I am getting the red squiggly errors on all of my spaces/whitespaces.

I have identified that it is this extension by turning it off and then this issue goes away.
I checked all of the settings for this extension and nothing seems to take it away.

I checked online and there is no answer to th

[2019-04-07 04:36] ExE-Boss commented on #609
I think we should use [`CLIEngine.getConfigForFile(…)`](https://github.com/eslint/eslint/blob/master/docs/developer-guide/nodejs-api.md#clienginegetconfigforfile) to determine whether ESLint is correctly configured to be able to lint TypeScript files, and if it’s not, we would give the user a suggestion to install the @typescript-eslint plugin.

[2019-04-07 22:23] agwells commented on #609
To me these settings are fine as-is. As I see it, this excellent plugin already has all the functionality it needs, it's just that this one config setting is confusing. :)

Specifically, as a user of the plugin, I expected that if I enter this in my settings...

[code]

... that it would result in TypeScript and TSX getting the same level of functionality as JavaScript and JSX.

The ability for th

[2019-04-08 08:14] dbaeumer commented on #609
This is actually easy and I can add this.

[2019-04-08 08:27] dbaeumer commented on #652
@geekysmurf123 this is very likely caused by the setting for ESLint itself (e.g. the settings maintained in the `.eslintrc` file). To verify this can you run eslint from a terminal and see which errors are reported. You can also use the  eslint `--print-config` option to see which settings eslint itself uses to validate a file.

I that all doesn't help can you provide me with a GitHub repository I

[2019-04-08 13:34] dpinol commented on #637
That would be great. I tried https://github.com/aladdin-add/eslint-plugin-no-autofix but I couldn't make it work.
An alternative to eslint.quiet could be adding an option to specify extra arguments to the eslint command (eg. eslint.flags="--quiet")

[2019-04-09 03:40] diegohaz commented on #600
I'm still having this problem. But it happens randomly. It's hard to reproduce.

[2019-04-09 17:37] diegohaz commented on #600
I think I've got something. Not sure, but now that I'm doing a bunch of refactors (using <kbd>F2</kbd>, which updates multiple files automatically, and then saving all files), I'm experiencing this very often (after 20 saved files or so).

Maybe this happens after x number of files have been saved?

[2019-04-09 17:54] diegohaz commented on #600
This is the output I see on the ESLint channel after updating and saving a document that's supposed to have error status and be automatically fixed on save (neither of them happened).
[code]
After using `Developer: Reload Window` command and saving the file, I got this output:
[code]

[2019-04-10 08:34] Mykybo opened #653 "Does not work with Yarn PnP"
[code]

[2019-04-10 08:35] dbaeumer commented on #653
@Mykybo can you please provide steps on how to reproduce this?

[2019-04-10 08:52] dbaeumer commented on #600
`Received request 'workspace/configuration` is expected. We cache the configuration on the server per file basis. So if you open a new file or change it content on the client the file is marked as open on the server and its configuration is read. This is why you see these requests.

So this by itself doesn't explain why this stops working. What is suspicious are these:

[code]

without a correspon

[2019-04-10 09:10] gonxas commented on #618
hey @dbaeumer any ideas what may be happening here?

[2019-04-10 10:13] Mykybo commented on #653
minimal example where I managed to reproduce this issue:
package.json:
[code]
eslint.rc:
[code]

Installing the old way the vscode eslint plugin works as expected. When installed using yarn pnp, the plugin does not work.

[2019-04-10 10:24] Mykybo commented on #601
This a problem with this extension and has nothing to do with eslint itself. Yarn PnP does not create /node_modules, but your extension tries to load it from there instead of asking yarn to resolve it.

[2019-04-10 10:50] gokulsgr opened #654 "Eslint quick fix not showing"
Issue Type: <b>Bug</b>

Eslint quick fix (bulb) not showing
Auto save not working sometimes

Extension version: 1.8.2
VS Code version: Code 1.33.0 (0dd516dd412d42323fc3464531b1c715d51c4c1a, 2019-04-04T15:11:32.076Z)
OS version: Darwin x64 18.5.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz (4 x 3400)|
|GPU Status|2d_canvas: enabled

[2019-04-10 11:35] diegohaz commented on #600
I copied the whole output (after cleaning), so I guess they are really missing.

I was refactoring. When I changed a symbol, vscode opened the dependent files automatically. Then I saved all.

[2019-04-10 12:58] amannn opened #655 "Ignore auto fixable rules while typing"
The eslint integration for atom has a feature that allows to ignore auto fixable rules while typing (https://github.com/AtomLinter/linter-eslint/issues/894). I find this to be very useful for stylistic errors like the one from prettier.

If you have "Auto Fix On Save" enabled, the code will be taken care of anyway afterwards. Therefore I think there's no need to report them while typing. Of course

[2019-04-10 18:43] mcmar opened #656 "changeProcessCWD Documentation incorrect"
I just wasted several hours trying in vain to debug because 1 small line of documentation in the README file is incorrect.
It states:

Then using the setting:
[code]
  will validate files inside the server directory with the **server directory as the current working directory**. (emphasis added)

I found an issue where someone was similarly confused and that issue appears to have been closed and l

[2019-04-10 20:05] bradennapier commented on #645
Mine just times out on every request

[code]

[2019-04-11 08:24] dbaeumer commented on #645
@bradennapier does this reproduce for you. If yes can you provide me with steps?

[2019-04-11 08:36] dbaeumer commented on #656
I agree that the documentationis misleading. The problem is that there are two kind of working directories for eslint:

- the one you can set for eslint
- the one for the process.

I will look at your PR (thanks) and will clarify this to ensure there is no misunderstanding in the fuuture.

[2019-04-11 08:36] #656 closed

[2019-04-11 09:09] dbaeumer commented on #654
@gokulsgr can you please provide steps on how to reproduce what you are seeing. The light bulb shows for me.

[2019-04-11 09:09] dbaeumer commented on #654
Best would be a GitHub repository I can clone.

[2019-04-11 11:38] dbaeumer commented on #600
@diegohaz I created a special version of ESLint which contains more logging to see why this stops working. It is attached to this comment. Download the zip and change the extension to vsix. Then de-install the eslint extension and install the vsix using the `Install from VSIX` command (Ctrl+P). If you see it happening again can you provide me with the output from the ESLint channel. Thanks.

[vsco

[2019-04-11 13:19] dbaeumer commented on #601
I do ask yarn for the node modules path and then use `require.resolve()` to load it. There is no hardcoded knowledge of a `node_modules` folder in this extension.

Can anyone provided me with hints how that should work with yarn --pnp. To the documentation here it should work out of the box for require.resolve. https://yarnpkg.com/en/docs/pnp/getting-started

[2019-04-11 13:20] dbaeumer commented on #653
Dups #601

[2019-04-11 13:20] #653 closed

[2019-04-11 13:21] dbaeumer commented on #601
Setup to reproduce: https://github.com/Microsoft/vscode-eslint/issues/653#issuecomment-481629947

[2019-04-11 13:23] dbaeumer commented on #618
No, since I can't reproduce this (at least not exactly what you are seeing). What happens if you execute eslint directly from the terminal?

[2019-04-13 17:03] Titio-Lele opened #658 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.2`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.33.1`

[code]

[2019-04-15 18:15] #652 closed

[2019-04-16 04:10] ashah023 commented on #651
Sorry, I haven't had the time to create a clone-able repository. Should I close this and open another issue when I have the chance to make one, or leave this one open and revisit it later?

Thank you for your time.

[2019-04-16 08:31] dbaeumer commented on #658
@Titio-Lele any additional info how this happend. The error indicates that the client couldn't be started. Can you reproduce this?

[2019-04-16 08:32] dbaeumer commented on #651
@ashah023 I leave this one open for some time.

[2019-04-17 07:59] ajrussellaudio opened #659 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-eslint`
- Extension Version: `1.8.2`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.33.1`

[dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt](https://github.com/Microsoft/vscode-eslint/files/3088458/dbaeumer.vscode-eslint-unresponsive.cpuprofile.txt)

[2019-04-18 07:14] whoimiArt opened #660 "使用ESLtINT 保存代码时自动格式化无效"
Issue Type: <b>Bug</b>

在使用VSCODE 一段时间后，使用ESLtINT 保存代码时自动格式化无效，重启VSCODE 后又会生效。

Extension version: 1.8.2
VS Code version: Code 1.33.1 (51b0b28134d51361cf996d2f0a1c698247aeabd8, 2019-04-11T08:27:14.102Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-5005U CPU @ 2.00GHz (4 x 1995)|
|GPU Status|2d_canvas: enabled<br>

[2019-04-18 09:10] dbaeumer commented on #660
Dups https://github.com/Microsoft/vscode-eslint/issues/600

[2019-04-18 09:10] #660 closed

[2019-04-20 02:56] ilias-t commented on #637
Just up a PR to address this—any feedback welcome & feel free to assign the issue to me 🙏

[2019-04-22 09:33] bmashru commented on #651
Facing the same issue

    at n.then.e (/Users/userName/.vscode/extensions/dbaeumer.vscode-eslint-1.8.2/server/out/eslintServer.js:1:28292)
    at process._tickCallback (internal/process/next_tick.js:68:7)

[2019-04-22 14:12] tsysrws opened #662 "VSCODE not linting *.test.js files"
I have VSCODE and have started using ESLINT for all of my projects. ESLINT will run for files with .js and .jsx extensions, but not with test.js extensions.

VSOCDE version 1.31.0
ESLINT version 5.16.0
.eslintrc.json
{ "parser": "babel-eslint", "extends": ["airbnb"], "env": { "browser": true, "node": true, "jest": true }, "rules": { "no-console": 1, "comma-dangle": "off", "react/jsx-filename-exten

[2019-04-22 14:15] #654 closed

[2019-04-22 14:15] #645 closed

[2019-04-23 03:18] decentraliser commented on #651
same here:
node v10.2.0
win10

`
    "eslint": "^5.16.0",
    "eslint-config-airbnb-base": "^13.1.0",
    "eslint-plugin-import": "^2.16.0",
    "eslint-plugin-vue": "^5.2.2",

(node:73400) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'CLIEngine' of undefined
    at n.then.e (c:\Users\jeanl\.vscode\extensions\dbaeumer.vscode-eslint-1.8.2\server\out\eslintServer.js:1:28292)

[2019-04-23 03:27] decentraliser commented on #651
I just downgraded `eslint `version to 5.15.0, ran `npm i`, and I am not facing the issue anymore

[2019-04-23 08:48] dbaeumer commented on #600
@diegohaz any additional information?

[2019-04-23 08:54] dbaeumer commented on #651
Strange, eslint 5.16.0 works for me. @decentraliser can you provide me with a GitHub repository I can clone that demos what you are seeing.

![capture](https://user-images.githubusercontent.com/1931590/56567883-20304b80-65b6-11e9-9067-3557cbbc9f8e.png)

[2019-04-23 08:56] dbaeumer commented on #662
The is default ESLint (https://eslint.org/) behaviour.

Dups https://github.com/Microsoft/vscode-eslint/issues/550

[2019-04-23 08:56] #662 closed

[2019-04-23 11:15] #658 closed

[2019-04-23 11:24] decentraliser commented on #651
for some reason after a few tries, I didn't manage to reproduce it @dbaeumer ...

[2019-04-24 03:01] zzzgit opened #663 "autofix doesn't work when working with typescript-eslint"
In a typescript project, I use `typescript-eslint` to plugin into eslint.
This is my config:
[code]
And then I found there will be no autofix bulb in vs-code.
Maybe this plugin can't work well with `typescript-eslint`

[2019-04-24 07:43] dbaeumer commented on #659
@ajrussellaudio thanks for providing the information.

[2019-04-24 07:45] dbaeumer commented on #663
@zzzgit see here for how to enable it https://github.com/Microsoft/vscode-eslint/issues/609#issuecomment-460554105 and a discussion what the underlying problem is.

[2019-04-24 07:45] #663 closed

[2019-04-24 07:46] dbaeumer commented on #651
Does anyone have additional info on how to reproduce.

[2019-04-24 10:00] bmashru commented on #651
Upgraded to 5.16 and EsLint started working.

[2019-04-24 10:41] jasperkennis opened #664 "ESlint server not starting"
Since recently vsc fails to run the linter for me, but I'm not sure what I have changed that causes this.

I get the following output for it:
[code]

I'm running OsX 10.14.4 (18E226), with the following versions of node and npm:

[code]

and have the following vsc config:
[code]

There seems to be a few related tickets that were solved by fixing the nodePath but as far as I can tell mine is set co

[2019-04-25 09:10] dbaeumer commented on #651
@bmashru do you remember which eslint version you used before?

[2019-04-25 09:13] dbaeumer commented on #664
It is this setting `"eslint.runtime": "/usr/local/bin/eslint"` It must point to a node runtime not eslint itself.

See also https://github.com/Microsoft/vscode-eslint/issues/566

[2019-04-25 09:13] #664 closed

[2019-04-25 09:37] jasperkennis commented on #664
Ah d'oh, I misread it, thanks so much!

[2019-04-25 14:49] deanhtid commented on #251
anyone got this to work. Been trying stuff for hours :(

[2019-04-26 09:28] deanhtid opened #666 "WSL and VSCode eslint not working"
So I can't for the life of me get ESLint to work using WSL and VSCode.

It runs fine in the terminal.

I have node installed through the wsl terninal using /n

I have the eslintrc file saved at ~

Any help getting this set up would be greatly appreciated.

❯ npm config get prefix
/home/deanhtid99/n

❯ npm root -g
/home/deanhtid99/n/lib/node_modules

[2019-04-26 09:56] dbaeumer commented on #251
This will improve in VS Code itself. See https://github.com/Microsoft/vscode/wiki/Roadmap WSL support.

[2019-04-26 09:56] dbaeumer commented on #666
Dups #251

[2019-04-26 09:56] #666 closed

[2019-04-26 10:47] deanhtid commented on #251
Don't suppose you can explain this a bit more as I can't seem to get it working

[2019-04-26 11:08] bmashru commented on #651
@dbaeumer

Before:
 global ver: 5.16
 project ver: 5.15.1

Current (Working):
 global ver: 5.16
 project ver: 5.16

[2019-04-26 11:34] revathskumar opened #667 "Eslint server crashes with webpack resolver settings"
Issue Type: <b>Bug</b>

using `eslint-import-resolver-webpack` causes the eslint server to crash.

[code]

Started to crash when the highlighted part the above `.eslintrc` is added.

In console this error found.

[code]

running `eslint` outside of the vscode works fine with the new `webpack` setting.

Extension version: 1.8.2
VS Code version: Code - Insiders 1.34.0-insider (63655183ba5305b70ffaf1

[2019-04-26 11:48] crown3 opened #668 "eslint extension keep crashing in a project created by neutrinojs cli v8.3.0"
eslint keep crashing in this project created by [neutrinojs](https://neutrinojs.org/packages/react/) and `yarn lint` is okay.

## step to reproduce

download [this repository](https://github.com/crown3/eslint-crash-example), just trigger a save action in any js file while `"eslint.autoFixOnSave": true`. I had set `"eslint.runtime": "node"` from this issue #634 , but no use.

![image](https://user-

[2019-04-27 19:03] diegohaz commented on #600
Sorry for the delay. Here's the log. I'm not sure when it stopped working though.

<details>
<pre>
[Trace - 15:52:55] Sending notification 'textDocument/didChange'.
[Trace - 15:52:55] Received notification 'textDocument/publishDiagnostics'.
[Trace - 15:52:55] Received notification 'eslint/status'.
[Trace - 15:52:56] Sending notification 'textDocument/didChange'.
[Trace - 15:52:56] Received notific

[2019-04-28 23:14] lifenstein commented on #251
To start with, the instructions are for VS Code installed in Windows, with `node` and `eslint` binaries available in the bash %PATH. You may also need the Windows version of node installed, but this can also cause other issues, so try without it first.

The `wsl` command available once WSL is enabled is a wrapper that accepts a linux command (and optionally its arguments) as input, and runs the gi

[2019-04-29 08:15] KnightYoshi opened #669 "Add support for @inheritdoc"
I have a base class that defines the @param types, names, and descriptions. I extend the base class that overrides one of the methods of the base class. However, when using `@inheritdoc` ESLint doesn't provide any information of the object from the parameter that I'm referencing.

_foo.js_
[code]

_bar.js_
[code]

I would expect auto-complete and hints for the `Entity` type in `Bar#something` sinc

[2019-04-29 10:45] h0rhay opened #670 "Autofix lightbulb not showing / Autofix on save not working (js, jsx)"
Using VS code 1.33

A Gatsby React project.

my eslintrc:
[code]

My devdeps:

[code]

I can't figure out what I'm missing..

I get no lightbulbs..
Running this:  `./node_modules/.bin/eslint --fix` just lists available commands.. doesnt fix anything

Thanks

[2019-04-30 22:26] ZYinMD commented on #600
Google lead me here. I think it's very hard to reproduce, because restart vscode fixes it.

To be more specific:
I realize autofix stopped working -> I close all tabs -> open a js file -> see no errors in the `Problem` panel -> delete one semicolan -> see red squiggle, plus one error in the panel -> do Ctrl-S, nothing happens -> restart VSCode, do Ctrl-S, semicolon re-appears.

[2019-05-02 13:44] raiskila commented on #495
This seems like a good idea. Personally I don't have eslint globally installed at all, causing vscode-eslint to nag about this every time I open a new JS project that doesn't have eslint locally set up.

[2019-05-03 23:25] hikurangi commented on #251
1.33 may have just fixed this: https://code.visualstudio.com/docs/remote/wsl

[2019-05-04 06:52] deanhtid commented on #251
I seen this. I'm yet to test but looks great. Can't wait to try it

On Sat, 4 May 2019, 00:25 Hikurangi, <notifications@github.com> wrote:

[2019-05-04 21:56] SnO2WMaN opened #671 "overrides not working"
https://eslint.org/docs/user-guide/configuring#disabling-rules-only-for-a-group-of-files

This extension does not consider the overrides described in eslint config file ex. `.eslintrc`.

Please confirm it is.

[2019-05-06 09:48] dbaeumer commented on #251
Yes, https://code.visualstudio.com/docs/remote/wsl will fix this.

[2019-05-06 09:49] dbaeumer commented on #614
https://code.visualstudio.com/docs/remote/wsl will fix this. I am closing this issue.

[2019-05-06 09:49] #614 closed

[2019-05-06 09:49] dbaeumer commented on #251
Will close the issue since there is nothing to do in the ESLint extension :-)

[2019-05-06 09:49] #251 closed

[2019-05-06 10:23] dbaeumer commented on #671
Actually, this works for me:

![capture](https://user-images.githubusercontent.com/1931590/57219887-c12cf680-6ff9-11e9-8971-e3f8ffa582f0.png)

Please provide me with a GitHub repository that demos the problem you see.

[2019-05-06 12:24] dbaeumer commented on #600
@diegohaz thanks for the additional information. It indeed helps. So I think what is happening is the following:

- there is a time budget in VS Code for the willSaveWaitUntil hook of 1.5 sec
- if you violate it three times it is not called anymore.
- there is an entry `[Trace - 18:58:01] Received response 'textDocument/willSaveWaitUntil - (480)' in 1994ms.` after which the fixing stops working wh

[2019-05-06 12:34] dbaeumer commented on #493
Closing. Please ping if you can still reproduce.

[2019-05-06 12:34] #493 closed

[2019-05-06 12:37] dbaeumer commented on #670
Does this not work at all or stops working like described in #600.

If it is not working at all do you have the following settings:

[code]

[2019-05-06 12:41] dbaeumer commented on #669
This has nothing to do with ESLint itself. Moving to TypeScript which powers the JS experience in VS Code.

[2019-05-06 12:45] dbaeumer commented on #668
This is very likely cause by the fact that we use Electron as a node runtime and the native modules compiled are not working with the Electron node version. Can you try to use the following setting `eslint.runtime` and point it to a node version (the executable) for which the libraries got compiled. You can take the node version which is used when executing eslint in a terminal if that works succe

[2019-05-06 12:47] dbaeumer commented on #667
This is caused by the same underlying reason as described in #668. See https://github.com/Microsoft/vscode-eslint/issues/668#issuecomment-489607012 for how to fix this.

[2019-05-06 12:47] #667 closed

[2019-05-06 12:51] dbaeumer commented on #651
I can not reproduce this. ESLint `5.15.1` works for me as well.

Has anyone additional info on how to reproduce?

[2019-05-06 13:02] #637 closed

[2019-05-06 13:21] crown3 commented on #668
Did you mean that ?
![image](https://user-images.githubusercontent.com/19649900/57227744-bba8ce00-7044-11e9-8c5d-435abf7f366a.png)
But it still broken ...
![image](https://user-images.githubusercontent.com/19649900/57227791-d2e7bb80-7044-11e9-936b-c8d61ad2851f.png)

[2019-05-06 17:24] codytooker opened #672 "vue/valid-template-rule"
It seems as if the vue/valid-template-rule is not being correctly interpreted by vscode-eslint.

When building Vue VativeScript apps we have the ability to have multiple templates in one file following this format

[code]

Vscode marks everything inside the second template as failed saying the vue/valid-template-rule is in error.  However running eslint from the command line doesn't mark this as a

[2019-05-06 17:59] jsejcksn commented on #614
@dbaeumer So I will need to install another extension before being able to use ESLint in Windows? I'm confused.

Will you please elaborate here what steps will be needed (starting from a fresh Windows 10 installataion) to get ESLint working in VS Code through WSL?

[2019-05-07 06:24] golopot commented on #655
Does "while typing" mean that the warnings are suppressed only in a short period after keystroke? I kind of want the warning to be suppressed _always_.

[2019-05-07 06:27] amannn commented on #655
"While typing" means until you save, so no matter if you're actually typing or not. As they are fixed on save you never really get them reported.

[2019-05-07 10:13] linkdesu commented on #417
You need to install ESLint plugin first, then this will work really well.

[2019-05-07 10:46] dbaeumer commented on #614
@jsejcksn A good documentation on how to use this is here: https://code.visualstudio.com/docs/remote/wsl#_getting-started

The benefit of this approach is that not only the ESLint runs in WSL but also language support and debugging. So it is a more holistic solution then only running ESLint in WSL.

Please note that the general WSL support in VS Code is currently only available in Insider. But it

[2019-05-07 10:52] dbaeumer commented on #672
@codytooker what happens when you validate that file in a terminal using eslint directly.

[2019-05-07 12:08] dbaeumer commented on #668
Yes, but this is now very strange since it crashes the extension host. Can you provide me with a GitHub repository I can clone that demos what you see (might require some additional info on how to reproduce)

[2019-05-07 13:09] golopot commented on #655
A variant approach is to ignore "layout" rules while typing. Layout rules are those with `meta.type === "layout"`. Meta.type is [documented here](https://eslint.org/docs/developer-guide/working-with-rules#rule-basics).

[2019-05-07 15:51] codytooker commented on #672
@dbaeumer When running eslint from the terminal directly on the file, it shows no eslint errors.

[2019-05-08 05:11] golopot commented on #124
There is intellisense in `.eslintrc` or `.eslintrc.json`, but not in `.eslintrc.js`.

[2019-05-08 09:33] dbaeumer commented on #672
@codytooker can  you provide me with a GitHub repository I can clone that demos what you are seeing?

[2019-05-08 14:29] codytooker commented on #672
@dbaeumer here you go https://github.com/codytooker/nativescript-todos. It's a simple project building the todomvc.

[2019-05-08 15:14] SnO2WMaN commented on #671
I'm sorry. It's my bad in configuration file.

I wanted to report a bug that VSCode does not interpret it as Typescript even if I specify a parser (eg: @ typescripts-eslint/parser) in `overrides`, but my own configuration file `overrides.files` I was just wrong in specifying the pattern of.

Sorry.

[2019-05-08 15:14] #671 closed

[2019-05-08 17:19] CharlesStover opened #673 "Autocomplete for eslint.codeAction.disableRuleComment inserts newLine instead of separateLine"
### Current Behavior
Creating a rule for `eslint.codeAction.disableRuleComment` will autocomplete with `location: 'newLine'` and a warning that `newLine` is not a valid location.

### Expected Behavior
It should autocomplete with `location: 'separateLine'`

[2019-05-08 22:13] caseysiebel opened #675 "ESlint throwing lint errors originating in node_modules"
I've opened Visual Studio Code to my working directory with `.estlintrc.js` and `.eslintignore` files.

VS code is showing hundreds of error all originating from the `flow-typed` and `node_modules` directories. This issue persists whether or not `flow-typed` and `node_modules` are present in the `.eslintignore` file.

This issue arouse suddenly a few weeks ago. Before that everything worked as exp

[2019-05-09 02:15] crown3 commented on #668
@dbaeumer I had listed the address at the beginning, download [this repository](https://github.com/crown3/eslint-crash-example)

[2019-05-09 10:16] dbaeumer commented on #675
@caseysiebel can you provide me with a GitHub repository I can clone that demos this. I can not reproduce this.

[2019-05-09 10:16] dbaeumer commented on #675
Are you opening these files in the editor (e.g. the once from the node_modules folder?)

[2019-05-09 10:17] dbaeumer commented on #668
Sorry, missed that.

[2019-05-09 11:23] dbaeumer commented on #668
Can't reproduce this. It works for me even without setting `eslint.runtime`

![capture](https://user-images.githubusercontent.com/1931590/57450022-a5c22580-725d-11e9-8135-a4cfef51b92b.png)

Any additional info?

[2019-05-09 15:03] crown3 commented on #668
I have open a new project based on neutrino@next, but it's no problem in there. This may be my own personal problem.

Turn off the issue first. If find the other reason, I will reopen this.

[2019-05-09 15:03] #668 closed

[2019-05-11 09:45] loilo opened #676 "eslint.options.env is not respected"
When configuring default options for ESLint through VSCode options, the `env` option is ignored:

[code]

[code]

**Notes:**
* This seems to be the exact same issue as #395.
* Everything works as expected when the same options are defined in an `.eslintrc` file.

A reproduction repository can be found at [loilo/repro-vscode-eslint-676](https://github.com/loilo/repro-vscode-eslint-676).

[2019-05-14 09:32] kg-currenxie commented on #154
Not sure what's the point of the plugin if we have to hit cmd+S multiple times 🤦‍♂
Not only is it annoying, if you have an auto-reload listener set up for your browser, it will reload (sometimes with an error), then reload again, etc

[2019-05-14 18:23] dbaeumer commented on #676
Actually this is a quirk in npm ESLint itself. In the options for the CLIEngine this is called `envs` not `env`. See https://eslint.org/docs/developer-guide/nodejs-api#cliengine

[2019-05-14 18:23] #676 closed

[2019-05-14 19:13] loilo commented on #676
Weird. Thanks for investigating!

[2019-05-15 15:12] #651 closed

[2019-05-15 15:12] #670 closed

[2019-05-17 19:12] #675 closed

[2019-05-17 21:30] David-Else commented on #91
@dbaeumer `provideLintTask` seems to be linting `.js` files, but not `.ts` files... can we get a task that does that? The `.js` files need to be ignored. I have this in settings already:
[code]
[code]
Something like this would be ideal :)
[code]
Thanks!

[2019-05-18 07:01] kleinfreund opened #677 "Node binary from Snap: Failed to load the ESLint library"
- Node:
  - `which node`: /snap/bin/node
  - `node -v`: v12.2.0
- NPM:
  - `which npm`: /home/phil/.npm-global/bin/npm
  - `npm -v`: 6.9.0
  - `npm config get prefix`: /home/phil/.npm-global
- ESLint:
  - `which eslint`: /home/phil/.npm-global/bin/eslint
  - `eslint -v`: v5.16.0
- VSCode:
  - `which code`: /snap/bin/code
  - `code -v`: 1.34.0, a622c65b2c713c890fcf4fbf07cf34049d5fe758, x64

---

I

[2019-05-19 02:00] SheikhG1900 opened #678 "ESLint server running in older version of node"
**ESLint Log**
[code]

**Terminal**
[code]

Please help me to upgrade eslint's node version.

[2019-05-20 12:20] dbaeumer commented on #678
Use the `eslint.runtime` setting to specify the location of the node executable to use. By default Electron's node version is used.

[2019-05-20 12:20] #678 closed

[2019-05-20 12:23] dbaeumer commented on #677
@kleinfreund what is the output of `npm config get prefix`? And does the same happen when you specify `"eslint.runtime"="node"` as a setting?

[2019-05-20 12:36] kleinfreund commented on #677
Running `npm config get prefix` yields `/home/phil/.npm-global`.

Specifying `"eslint.runtime": "node"` in VS Code and restarting changes the error:

[code]

Additionally, the extension reports this in a notification:

[code]

[2019-05-20 12:40] dbaeumer commented on #91
@David-Else the task actually doesn't have any filter. All it does is calling `.\node_modules\.bin\eslint .` How do you lint all ts files from the command line right now?

[2019-05-20 12:41] kleinfreund commented on #677
Ah, I should’ve added the initial output from ESLint. It reports that the node runtime is node v10.2.0.

[code]

[2019-05-20 12:45] dbaeumer commented on #677
That output is strange since it still uses the Electron's node version. Do you see the same when using `"eslint.runtime": "/snap/bin/node"`?

[2019-05-20 12:47] kleinfreund commented on #677
Yes, I do. It still reports crashing ESLint server.

[2019-05-20 12:56] dbaeumer commented on #677
Which version number do you see in:

[code]

Do things work when node is not installed from snap?

[2019-05-20 13:07] dbaeumer commented on #672
@codytooker I cloned the project however I am not sure which file to open and what error you think shouldn't be presented.

[2019-05-20 14:20] codytooker commented on #672
@dbaeumer any of the .vue components that have two template roots.  `<template web>` `<template native>` cause the problem.  in particular `src/components/todo/TodoList.vue`

VsCode underlines the entire second template.

![image](https://user-images.githubusercontent.com/19712217/58028524-89857a80-7ae0-11e9-9974-50cd191badbf.png)

with error [vue/valid-template-root]

[2019-05-21 05:45] kleinfreund commented on #677
I only get `ESLint server running in node v10.2.0` when I don’t explicitly set `eslint.runtime` to either `node` or `/snap/bin/node`. Then, the node version is v10.2.0 as stated above. If I set the runtime, however, the output does not contain a line with a version number. Just the lines that I posted in https://github.com/microsoft/vscode-eslint/issues/677#issuecomment-493968620.

[2019-05-21 08:25] David-Else commented on #91
@dbaeumer I use:
[code]
I was wondering, did you try the `--cache` option for linting then entire workspace? It looks like it should speed things up, but I have not tested it myself.

[2019-05-22 10:56] dbaeumer commented on #91
Looks like . defaults to .js. So the task might not work for other file types either. One idea would be to use the validate setting to understand which extensions to validate.

[2019-05-22 11:03] dbaeumer commented on #91
To implement this we however need API to map a language ID to the file extensions. Seems to not be available right now.

[2019-05-23 11:12] dbaeumer commented on #677
OK, that means that very likely node doesn't launch at all. I am a little puzzled why when installing snaps this doesn't work. Does anyone have an idea what makes snaps different.

[2019-05-23 13:21] callumlocke opened #679 "import/no-unresolved"

[2019-05-23 13:21] #679 closed

[2019-05-23 13:46] callumlocke commented on #464
Thanks @alecf for the workaround. Switching from `.eslintrc` to `.eslintrc.js` and adding `require('@babel/register')` fixed it for me.

Still, I don't think this hack should be necessary, seems like this is a bug in the VSCode plugin, if the CLI works fine without the hack.

By the way, this only started happening to me after upgrading to Babel 7 and switching from `.babelrc` to `babel.config.js`

[2019-05-23 14:12] dbaeumer commented on #464
Regarding https://github.com/microsoft/vscode-eslint/issues/464#issuecomment-463676765

Can someone provide me with a GitHub repository that I can clone with steps on how to reproduce this?

Regarding using a different node version than the one that is shipped in VS Code. Use the `eslint.runtime` setting

[2019-05-26 12:23] kasvtv commented on #267
Any news on this? I would like to emphasize how much of a difference this would make:

This option will allow ESLint to completely **replace** any formatting tooling like Prettier, Beautify etc for VScode! The only reason why it doesn't right now (at least for me) is that the mandatory warnings while typing are just too distracting.

Both Prettier and Beautify aren't very configurable, at least no

[2019-05-27 14:12] dbaeumer commented on #267
@kasvtv thanks for the PR. Due to https://github.com/microsoft/vscode-eslint/issues/154 this however can have a strange side effect. In the code the same kind of error might be reported as a problem and not being reported. AN example is superfluous `;`. In code like

[code]

the last `;;;` will not be reported as a problem whereas `;;;;;` are. The reason being is that the first autofix round ESlin

[2019-05-27 18:35] kasvtv commented on #267
Yes, I did experience that already actually.
Mostly with indentation requiring a second pass before it gets it right.

It seems to me that layout fixes are applied too early in the fix queue. Not entirely sure how easy that is to change. Performing them in order based on their fixType might help.

Fixing the --fix to become truly idempotent should be the last step in making ESlint double as a form

[2019-05-29 16:58] matheo commented on #651
I had the same error but was `eslint` version mismatch indeed. Thanks!

[2019-05-29 17:30] mauron85 commented on #91
@dbaeumer I've tried to add `.ts` extensions in `settings.json`, but it doesn't seems to be working with `provideLintTask`.

[code]

[2019-05-30 08:59] Lynn-cc opened #681 "fail to load eslint locally?"
![image](https://user-images.githubusercontent.com/540202/58621173-60909100-82fb-11e9-97d5-939aeb21bf7b.png)

system:macOS
system version: 10.13.6
vscode version: 1.34
network: company network with proxy, use `tnpm` instead of `npm` when install packages.

Could eslint be loaded locally ?
 I don't want to install it globally because many plugins also need to be installed globally.

[2019-05-30 11:34] kleinfreund commented on #677
@dbaeumer Does this issue require more information from my part?

[2019-05-31 10:25] dbaeumer commented on #677
@kleinfreund actually no since it is a dup of https://github.com/microsoft/vscode/issues/72042

[2019-05-31 10:26] dbaeumer commented on #677
The fix has to happen there.

As a work around if you start VS Code from a terminal using the `code` command then everything should work as expected.

[2019-05-31 10:31] dbaeumer commented on #681
Installing eslint locally works for me if installed using yarn or npm without any problems. What exactly is `tnpm`. Can you lint your file using eslint installed locally from the terminal?

If it works can you please provide me with a GitHub repository I can clone that demos the problem you are seeing?

[2019-05-31 18:26] mattapperson commented on #91
@mauron85 seeing the same issue as you, can't seem to get the task to find any files

[2019-05-31 18:43] kleinfreund commented on #677
I just wanted to note that the workaround does not work for me.

Running `code` from either zsh or bash still produces `Failed to load the ESLint library for the document …`.

[2019-06-03 13:42] dbaeumer commented on #677
That is strange. When you open the developer tools inside VS Code and print `process.env.Path` does this differ from the PATH you see normally in a terminal?

[2019-06-03 13:44] dbaeumer opened #682 "Lint task should honor eslint.options setting"
For the details see: https://github.com/microsoft/vscode-eslint/issues/91#issuecomment-497033867

[2019-06-03 13:45] dbaeumer commented on #91
This actually a good point and these should be honored when running the lint task. I opened https://github.com/microsoft/vscode-eslint/issues/682 which would be a good candidate for a PR :-)

[2019-06-03 14:25] kleinfreund commented on #677
No, the `process.env.PATH` property logged via VS Code’s dev tools and my system’s `PATH` environment are identical.

[2019-06-04 02:11] Lynn-cc commented on #681
Thanks for your tips that I fount `./node_modules/.bin/eslint` link exsit but can't run, because `./node_modules/eslint/bin/eslint` is not exsit. I don't know why but after reinstall the node_modules, the error logs gone. Thanks you very much.

[2019-06-04 07:04] jsejcksn opened #683 "Cannot find module <eslint-config>"
ESLint complains:

[code]

But it's definitely there:

[code]

`package.json`:
[code]

Is this some kind of local/global issue? I couldn't find any info about using local `eslintrc` files with global `eslint` installations or vice versa, but I'm suspicious.

[2019-06-04 09:49] dbaeumer commented on #683
@jsejcksn this is a ESLint (https://eslint.org/) limitation. ESlint and the plug-ins it loads must either all be installed locally or globally. You can not mix ESLint install locations.

[2019-06-04 09:49] #683 closed

[2019-06-04 09:52] dbaeumer commented on #677
This is very wired. We could only reproduce this when the PATH didn't match as outline in microsoft/vscode#72042. I will reopen the issue but I am a little at a loss what causes this on your end.

[2019-06-04 09:53] dbaeumer commented on #681
OK. Closing the issue then.

[2019-06-04 09:53] #681 closed

[2019-06-06 09:48] overlookmotel commented on #245
I think this can be closed since feature was added in #530.

[2019-06-06 10:04] #245 closed

[2019-06-07 09:32] arnaudrenaud opened #684 "Unable to get error highlighting or auto-fix on .ts files"
VS Code does not highlight any error on `.ts` files, and does not auto-fix them on save either.

VS Code does, however, highlight and auto-fix errors on `.js` files.
Furthermore, ESLint CLI does report errors on `.ts` files when running this command: `./node_modules/.bin/eslint src/ --ext .js,.ts`.

I use the following configuration:
`.eslintrc.js`:
[code]

`.settings.json`:
[code]

`package.json`

[2019-06-07 15:18] IanIsFluent opened #685 "Sometimes get no auto-fix"
I'm very confused by the auto-fix suggestions in the ESLint plugin, some 'easy' ones don't seem to be available - and I'm sure ones that I was just using become unavailable later.

* I **can** auto-fix a `comma-dangle` (which removes it)
* I **can't** auto-fix a `no-unused-vars` (which should remove it)
* I **can't** auto-fix a `eqeqeq` (which should add an `=`)
* I **can't** auto-fix a `no-const-

[2019-06-07 17:33] jgierer12 commented on #601
Seems like this has to be resolved upstream in [microsoft/vscode-languageserver-node](https://github.com/microsoft/vscode-languageserver-node/), since that is where `Files.resolve` comes from. I opened an issue there: microsoft/vscode-languageserver-node#496

[2019-06-11 08:38] dbaeumer commented on #601
See my comment here: https://github.com/microsoft/vscode-languageserver-node/issues/496#issuecomment-500744820

[2019-06-11 08:51] dbaeumer commented on #685
Could you provide me with a GitHub repository I can clone that demos it. That ensure we have the same eslint and plug-in versions installed.

[2019-06-11 08:54] dbaeumer commented on #684
Dups https://github.com/microsoft/vscode-eslint/issues/609

See https://github.com/microsoft/vscode-eslint/issues/609#issuecomment-460554105 for how to enable it.

There are some ideas how to improve this but the underlying problem is that the eslint plugin doesn't know that eslint got configure to validate TS Lint files.

[2019-06-11 09:01] IanIsFluent commented on #685
Oh - so it _should_ be trying to auto-fix these?! Awesome! I'll see if I ever get time then! ;)

[2019-06-11 21:05] thomaLV opened #686 "[bug] Fix order"
**Tell us about your environment**

* **ESLint Version:** 5.16.0
* **Node Version:** 12.4.0
* **npm Version:** 6.9.0

**Please show your full configuration:**

<details>
<summary>Configuration (excerpt)</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

Running in vscode I clicked

[2019-06-12 15:36] Bkucera commented on #154
I'll take a stab at fixing this later this week, should be able to batch fixes from multiple eslint passes before resolving the handler for `textDocument.onWillSaveTextDocument`

Doesn't help that there are currently zero tests for this project, though

[2019-06-12 16:16] arnaudrenaud commented on #684
I already have the configuration specified in https://github.com/microsoft/vscode-eslint/issues/609#issuecomment-460554105 and it produces the outcome described above.

[2019-06-12 16:35] Bkucera opened #687 "race condition with validate onType and autoFixOnSave"
if validate is set to `onType`(default), there is a race condition where you make an edit and save before eslint has finished parsing, so no errors are detected in the handler for `autoFixOnSave`

This usually only happens with large files, but could be as simple to fix as checking if linting is currently happening, and waiting for it to finish before calculating file edits

[2019-06-13 07:20] dbaeumer commented on #684
Can you provide me with a GitHub repository that I can clone that demos this?

[2019-06-13 07:26] dbaeumer commented on #687
I think this is a different problem. There is a time budget limitation in VS Code for computing fixes on save. This is to avoid that extensions can block a save. The budget is fairly small (200ms) which might not be enough for large files. What the eslint extension should change is to let the user know when this happens to avoid confusion.

Implementation wise this has to happen on the client side

[2019-06-13 07:28] dbaeumer commented on #686
@thomaLV does the same happen when running ESLint in a terminal requesting fixing problems?

[2019-06-13 10:26] arnaudrenaud commented on #684
I reproduce the error with this repo: https://github.com/arnaudrenaud/typescript-vscode-eslint-issue with VS Code 1.35.1 and VS Code ESLint 1.9.0.

[2019-06-13 11:10] thernstig opened #688 "Default .eslintrc.json file association"
If possible, could the extension make it so that the default file association is set to JSON with comments? Currently I have to use this in my configuration for it to work with comments:

[code]

As .eslintrc.json is jsonc by default, it would be better for everyone if the extension defaulted to this. Not sure if VS Code supports the extension API to do this?

[2019-06-14 08:59] zzzgit opened #689 "[feature request] export a formatter to vs-code"
I want to use `eslint --fix` to format the file I am modifying.
However, I don't want to type the command in terminal.
Can you please export a formatter into vs-code for me to set it in `setting.json` as `editor.defaultFormatter: 'microsoft.prettier-vscode'`?

[2019-06-14 13:53] sandy081 opened #690 "Flag machine specific configurations like paths as machine scoped"
Machine Scope for configurations were introduced in [1.34](https://code.visualstudio.com/updates/v1_34#_machinespecific-settings) which will help in [remote set ups](https://code.visualstudio.com/docs/remote/remote-overview).

I would like to encourage extension authors to adopt to machine scope if you have any settings that you think they are scoped to machine like `eslint.nodePath`

For example,

[2019-06-14 20:44] vpiskunov commented on #672
Any update on this? Same issue here.

Also, disabling the rule via 'vue/valid-template-root': 'off' doesn’t disable the rule for some reason?

[2019-06-17 09:08] dbaeumer commented on #690
As dicussed I made the `eslint.runtime` as machine setting. For the `nodePath` we need an extended solution in the settings space.

[2019-06-17 09:17] #688 closed

[2019-06-17 09:17] dbaeumer commented on #688
Nice idea.

[2019-06-17 09:29] dbaeumer commented on #672
Actually, that is not caused by the ESLint plugin. I see this error even with ESLint extension disabled. Looking into this it looks like the diagnostics are generated by the `Vue Language Server`. Disabling the Vetur makes the error go away.

Can you please report the issue against the Vetur plugin?

[2019-06-17 09:29] #672 closed

[2019-06-17 09:32] dbaeumer commented on #689
Two options:

- enable autofix on save
- run autofix by command in VS Code itself using `Ctrl+Shift+P` > `ESLint: Fix all autofixable Problems`

Is there anything else you thing should be provided ?

[2019-06-17 15:31] #689 closed

[2019-06-18 11:25] orblazer opened #691 "Parsing error: File 'tsconfig.json' not found."
Hello,
I have an error when i check git diff on vscode with typescript files.

Version of vscode-eslint: 1.9.0
Version of vscode: 1.35.1

The error :
[code]

Thanks.

[2019-06-18 17:57] thomaLV commented on #686
No, running ESLint in a terminal instead fixes the problem.
`eslint --fix 'file.js'`

[2019-06-18 18:06] thomaLV commented on #686
The problem exists for other rules as well. Clicking "Fix all indent problems" in the below picture turns
[code]
into
[code]
![image](https://user-images.githubusercontent.com/36425287/59708025-38ae9200-9204-11e9-98f0-641d0931a3dd.png)

[2019-06-19 09:03] dbaeumer commented on #691
@orblazer can you please elaborate why you think this is something caused by ESLint. If you think this is a VS Code problem itself please file the issue here: https://github.com/microsoft/vscode

[2019-06-19 09:05] dbaeumer commented on #686
OK. Can you provide me with a GitHub repository I can clone that demos this. This ensures that I end up with the same setup and configuration.

[2019-06-19 09:49] orblazer commented on #691
@dbaeumer I think is eslint because on the error is that : ![Screenshot_20190619_114807](https://user-images.githubusercontent.com/1344792/59755394-21b18380-9288-11e9-87d7-c3d94f08e99e.png)

[2019-06-20 09:21] RexProg opened #692 "recognize the variable as a used and read variable"
[code]

I expected to recognize the access_token as a used and read variable

Something that actually goes
'access_token' is defined but never used.

Environment:
Windows 10 64bit

ESLint Version: 1.9.0
Node Version: 10.16.0
npm Version: 6.9.0

[2019-06-21 19:32] CobraClutch commented on #600
A way to disable/change the willSaveWaitUntil would be appreciated!

[2019-06-24 04:34] xaviershay commented on #477
For those who were also wondering what this means/how to do it: Open the command palette ( `Ctrl + Shift + P` ) and execute `Reload Window` command (type it in until it autocompletes, press enter). Note that it will reload any terminals (I think it's basically equivalent to closing and re-opening VS Code?)

[2019-06-24 09:21] liangzr opened #693 "Autofix not working correctly when using both `semi` and `eol-last`"
`eslint.executeAutofix` not working correctly when using both `semi` and `eol-last`

#### Example:
[code]
#### Step to reproduce:

1. execute `eslint.executeAutofix`

[code]

continue to prompt 'eol-last' problem

2. execute `eslint.executeAutofix` again

[code]

no more lint errors

---

As shown above, eslint can't work correctly in this case. However, `eslint src --fix` could fix the problems *

[2019-06-24 10:26] jayshah123 opened #694 "Unexpected token in Eslint Plugin, eslint command works fine"
Vscode version: `1.25.1`
Eslint plugin version: `1.4.12`
Node version: `v8.11.3`
Mac Os: High Sierra
I tried to update Eslint plugin version to `1.9.0` but even after install it remains `1.4.12`.
I tried to update VSCode itself, but it says no updates available.

In package.json
[code]

Eslint terminal output window:
[code]

[2019-06-25 02:28] TidyIQ opened #695 "Uses the wrong working directory"
My package.json file is located at `C:\Users\Me\Websites\Templates\core`, which I'll refer to here as my Correct Working Directory (CWD). Inside the package.json I have:

[code]
I have also installed `eslint-plugin-react` within CWD.

There seems to be a bug with vscode-eslint ([according to ESLint here](https://github.com/eslint/eslint/issues/11891#issuecomment-504981956)) as instead of looking f

[2019-06-25 09:42] dbaeumer commented on #695
@TidyIQ can you provide me with a GitHub repository I can clone that demos this.

Which directory is the workspace folder you open. You might need to set the `eslint.workingDirectories` if things are in sub folders since the plugin seems to be loaded relatively.

[2019-06-25 09:43] dbaeumer commented on #694
This is caused by the fact that the plugin uses a JS construct which is not supported yet by electron node. You can use the setting `eslint.runtime` to point to a never version of node that supports that feature.

[2019-06-25 09:43] #694 closed

[2019-06-25 09:45] dbaeumer commented on #693
@liangzr can you please provide me with a GitHub repository I can clone that demos this. That will ensure that we have the same setup.

[2019-06-25 09:48] dbaeumer commented on #600
@CobraClutch you can disable autofix. But there is no setting in VS Code to increase the time budget.

[2019-06-25 09:52] dbaeumer commented on #691
@orblazer does this also happen when executing ESLint from the terminal?

[2019-06-25 09:52] dbaeumer commented on #691
If not can you provide me with a GitHub repository I can clone that demos this?

[2019-06-25 10:34] jayshah123 commented on #694
`eslint.runtime` is an Unknown configuration setting in VSCode settings.
`eslint.nodePath` was a valid configuration setting but issue still persists after updating `eslint.nodePath` to point to node `v10.6.0`

[2019-06-25 12:28] liangzr commented on #693
I have reproduced the error in this repo: https://github.com/liangzr/vscode-eslint-demo, and configured two ways to lint code

1. Use **vscode**, with .vscode settings

Just execute the `eslint.executeAutofix` twice as mentioned above

2. Use eslint command-line

[code]

[2019-06-25 13:08] samrith-s opened #696 "ESLint fails to load plugins when using ESLint 6.x"
I have the following packages installed as dev deps:
[code]

And this is my `.eslintrc` file:
[code]

I have `Format on Save` on. When I run `eslint --fix`, it works properly. But when I hit save, I get the following error. It doesn't work for any plugin, even though I have all of them installed.
![image](https://user-images.githubusercontent.com/9032162/60100881-f7196c00-975a-11e9-922e-7c853d8df8

[2019-06-25 13:26] CobraClutch commented on #600
Right. My comment was  a +1 for your previous comment on May 6: to add a setting to increase the time budget.

[2019-06-25 13:59] jayshah123 commented on #694
Finally, I just downloaded vscode `1.35.1` and it uses eslint extension version `1.9.0` where issue no longer occurs.

[2019-06-26 09:19] #686 closed

[2019-06-26 09:50] qguv commented on #417
A couple things I'd like to point out here:

- binding to the built-in VS Code formatter is a single function call and is done by other projects such as [Beautify](https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify) [(registration code)](https://github.com/HookyQR/VSCodeBeautify/blob/6dfff2f014acb7358ef67aadc77bc0aa8f255e7e/extension.js#L90-L97) and [typescript-language-features]

[2019-06-26 10:51] ReasonableDeveloper commented on #696
I'm getting the same error. I'm using `TypeScript` + `Yarn workspaces` + `Lerna` and have all the plugins installed `locally` and `globally`.

[code]

[2019-06-26 16:35] samrith-s commented on #696
I still continue to have this problem, even after restarting VS Code. I've tried everything:
- Deleting `node_modules` and `yarn.lock` and running `yarn install` again.
- Removing the packages and adding them again.
- Removing ESLint and adding it again.

And weirdly, it's just a problem with this project. In another [project](https://github.com/samrith-s/react-live-time), I get this error:
[code]

[2019-06-26 23:13] roblourens opened #697 ".eslintignore is not working in VS Code May 2019 (1.35.1) on MacOS Mojave 10.14.5"
Copied from https://github.com/microsoft/vscode/issues/76194 @IndeDude

Issue Type: <b>Bug</b>
create file .eslintignore in project root folder
enter the following.
`**/*.json`
save file
start up VS Code
enable eslint
set eslint run onType
create jsconfig.json (or any json file of your preference)
and enter the following:

[code]

save the file

open any javascript/jsx file
and you will see eslint

[2019-06-27 08:41] dbaeumer commented on #697
@IndeDude the .eslintignore file is not search the parent chain. This is a ESLint npm module feature. I tested and the ignore works for me in my setup.

By default ESLint is not validating json files. To be sure I am looking at the right problem can you share a GitHub repository that I can clone that demos this.

[2019-06-27 08:45] dbaeumer commented on #696
@samrith-s since this seems to be setup specific can you share a GitHub repository I can clone that demos this.

[2019-06-27 08:47] samrith-s commented on #696
I unfortunately cannot share the repository, it's a private one on GitHub. I'll setup a repository which tries to replicate this.

Also, could you just tell me what does `plugin 'import' specified in CLIOptions means?`? I do not have ESLint globally, and I get this error even when I remove the plugins attribute from my RC file.

[2019-06-27 09:20] samrith-s commented on #696
@dbaeumer Here is a reproducible repository. Do let me know if you get the error, because I am getting it in this repository as well.

https://github.com/samrith-s/vscode-eslint-reproduce-error

[2019-06-27 09:36] orblazer commented on #691
@dbaeumer i just use nuxt.js typescript starter

And i have error on file like :
[code]

Sorry but for now i don't have big time for more investigation :disappointed:

[2019-06-27 14:24] IndeDude commented on #697
@dbaemer I have created a git repo [here](https://IndeDude@bitbucket.org/IndeDude/eslintignoredemo.git).  Thanks

[2019-06-27 14:29] samrith-s commented on #696
Also possibly related to this: https://github.com/prettier/prettier-vscode/issues/672

[2019-06-27 14:42] IndeDude commented on #697
@dbaeumer the repo you asked for is [here](https://IndeDude@bitbucket.org/IndeDude/eslintignoredemo.git). Thanks

[2019-06-28 08:11] dbaeumer commented on #697
@IndeDude thanks. But I have problems accessing this repository. Can you fork it to GitHub?

[2019-06-28 08:26] dbaeumer commented on #696
@samrith-s actually it works for me

<img width="868" alt="capture" src="https://user-images.githubusercontent.com/1931590/60328746-34663f80-998f-11e9-9218-ae1f9c76dde6.png">

[2019-06-28 08:28] dbaeumer commented on #691
How does your `tsconfig.json` content look like ?

[2019-06-28 12:30] samrith-s commented on #696
@dbaeumer I think this happened with Prettier-ESLint integration on. I'm closing this issue as it is related to the issue with `prettier-vscode` and not with `vscode-eslint`. I started getting these errors after upgrading to Node 12.

[2019-06-28 12:46] sevenmay commented on #696
I have this same problem and i don't use `prettier-vscode`.

[2019-06-28 12:47] samrith-s commented on #696
@sevenmay What version of Node are you on?

[2019-06-28 13:59] sevenmay commented on #696
v8.11.2

[2019-06-28 14:04] IndeDude commented on #697
@dbaeumer  sorry about that. [Here](https://github.com/IndeDude/eslintignoredemo.git) is the github repo

[2019-06-28 15:41] Piero87 opened #699 ".eslintignore not working"
Hi,
I have this version of VSCode 1.35.1, for macOS, this is my project structure:

[code]

I want ignore app.js and i have write this in ignore file:

[code]

But Eslint continue a give me error on that file and lint it, I can't understand where is the problem, any help?

[2019-06-30 22:52] saostad commented on #696
same problem here.

[2019-07-01 08:02] dbaeumer commented on #696
Do any of you use `eslint.runtime` setting to point to a node version. Otherwise VS Code eslint uses the one shipped with VS Code itself so it don't matter which node version you have installed.

[2019-07-01 08:04] dbaeumer commented on #699
Is it ignored when running ESLint from the terminal. If yes, can you please provide me with a GitHub repository I can clone that demos what you see.

Also note the the `.eslintignore` file must be in the current working directory to work. It is not honor up the parent file chain. This is ESLint npm behaviour.

[2019-07-01 08:15] dbaeumer commented on #697
@IndeDude these errors are generated by the jsonc language server. The don't come from ESLint. You see this with the owner of the problem. Is is `jsonc`. ESLint errors do have the `eslint` owner.

These errors are actually valid since the path setting in the jsconfig.json is a object literal.

<img width="358" alt="capture" src="https://user-images.githubusercontent.com/1931590/60420933-17c54400-9

[2019-07-01 08:15] #697 closed

[2019-07-01 08:33] dbaeumer commented on #693
Since this also happens when executing the command in a terminal it indicates that it is a problem with the ESLint npm module. Please report the issue here: https://github.com/eslint/eslint

[2019-07-01 11:55] danielcooke1996 opened #700 "Eslint v6 > eslint.workingDirectories being ignored"
It seems after upgrading to v6.0.1 of eslint, the `eslint.workingDirectories` config option is being ignored.
[code]

We expect the plugin `import/resolver` to point to our webpack config in `packages/user-interface` not at the root `/` level.

[code]

It should be resolving the path from the package, as i've set `changeProcessCWD` to true

[2019-07-01 12:36] or2008 commented on #696
same issue here,
Failed to load plugin 'jest' declared in '--config': Cannot find module 'eslint-plugin-jest'

and eslint-plugin-jest and eslint both are installed globaly

[2019-07-01 12:45] saostad commented on #696
I am not using it.

[2019-07-02 02:13] seed-of-apricot opened #701 "Possible conflict with prettier in tab width formatting?"
I am not sure which package / extension causes this issue, but sometimes there seems a conflict between eslint and prettier in tab width formatting.

Here is a gif screenshot.
![upload](https://user-images.githubusercontent.com/26666870/60477055-c346b680-9c32-11e9-9c62-bbbc2da69b9a.gif)

It seems that this behavior oftentimes occurs when I make an interface but might happen in another situation. A

[2019-07-02 02:23] liangzr commented on #693
@dbaeumer It won't happen when executing the `eslint` command using my repo, did you reproduce it with `eslint` command in a terminal?

[2019-07-02 06:52] dbaeumer commented on #693
Sorry, I misunderstood you then. I read your comment https://github.com/microsoft/vscode-eslint/issues/693#issuecomment-505422417 that it does happen in the terminal.

[2019-07-02 06:56] dbaeumer commented on #701
@seed-of-apricot best would be to have a GitHub repository I can clone that demos this.

In general having to formatters touching the same regions might be problematic although the second formatter should see the n+1 document state.

[2019-07-02 06:58] dbaeumer commented on #696
A GitHub repository that demos this is highly appreciated. Otherwise it is very hard to track this down.

[2019-07-02 07:01] dbaeumer commented on #700
@danielcooke1996 can you provide me with a GitHub repository that I can clone that shows the problem. I tested it locally and the `workingDirectories` setting still works for me.

[2019-07-02 10:19] #695 closed

[2019-07-02 15:08] samrith-s commented on #696
Hey @dbaeumer, the repo I sent doesn't work with Node v12, but works with Node v10. I do not have `eslint.runtime` configured.

[2019-07-02 15:36] saostad commented on #696
I think that's a prettier-vscode problem:

here is a repo to see:
https://github.com/saostad/react-typescript-starter

[2019-07-02 17:06] seed-of-apricot commented on #701
@dbaeumer

Here's the repo.

https://github.com/seed-of-apricot/vscode-eslint_issues_701

Step to reproduce:
1. clone the repo.
2. add "Hoge.ts" to "src/hoge".
3. write the exact same thing as shown in the gif.

[2019-07-02 21:42] UncleClapton commented on #696
Hi there!

I ran into this today while updating our ESLint config repository ([found here](https://github.com/fuelrats/fuelrats-eslint-config)).

I've done some digging and found that it's probably an incompatibility between vscode-eslint and ESLint 6, but without more detailed error reporting from the extension I can't pinpoint the problem.

Here's some major things I noted while testing:

* Prob

[2019-07-03 07:19] r-i-c-h commented on #696
I'm seconding that it's related to ESLint reaching a new semver V6 on Jun21/(6.01 on Jun24)

__Best Practice__ has always been to install eslint and setup `.eslintrc` files and plugins on project-by-project basis as defined in a project's `package.json`.

Real World is that many of us use either global eslint installations, global `.eslintrc` files, or globally-installed plugins. Before v6, to be

[2019-07-03 10:07] dbaeumer commented on #696
@r-i-c-h and @UncleClapton thanks for providing the detailed information.

I upgraded my test projects to use ESLint 6.0 and the latest version of the plugins and every thing works for me.

I tried to test https://github.com/fuelrats/fuelrats-eslint-config but I can't reach the repository. @UncleClapton is it public?

[2019-07-03 10:07] dbaeumer commented on #701
Thanks!

[2019-07-03 14:14] sryze opened #702 "Parsing error: Unexpected token /"
When I use eslint on the command line I don't get any errors, but inside VS Code it complains about this line (at the closing h1 tag):

[code]

.eslintrc.json:

[code]

Extensions settings:

[code]

(VS Code identifies my file as JavaScript React)

ESLint version: tried 6.0.1, 5.16, 5.13 (global eslint - same version)
VS Code: 1.35.1
Extension version: 1.9.0

[2019-07-03 20:03] Luxiyalu commented on #696
I was getting the same error for `react-hooks` config, and unchecking the VSCode option `Use 'prettier-tslint' instead of 'prettier'` dissipated the error for me.

[2019-07-03 20:25] echarpibm commented on #696
Started having issues with ESLint today after experimenting with migration to node 12.

I had everything installed at global level (ESLint and babel-eslint) and started seeing the `failed to load parser` error in VS Code.

This statement from @r-i-c-h helped me resolve my issue.

I simply installed the plugin at project level and everything started to work.

Hoping that this helps others as well.

[2019-07-04 03:47] UncleClapton commented on #696
@dbaeumer it's public on npm, yes. `@fuelrats/eslint-config` or `@fuelrats/eslint-config-react`

What @r-i-c-h suggested doesn't reflect my own testing unfortunately, so this is still an issue I'm having. I have always preferred an all local install over global. Makes for less version conflicts across projects.

I have a few ideas of what to try next. I'll update if I get a solid answer.

[2019-07-04 09:18] dbaeumer commented on #696
@UncleClapton does the repository still show the problem of loading ESLint ?

[2019-07-04 09:20] dbaeumer commented on #702
@sryze can you please provide me with a GitHub repository I can clone that demos this. This ensures that we are using the same setup.

[2019-07-04 09:21] dbaeumer commented on #702
and one more thing. Can you paste a screen shot of the error first to ensure that the error is really produced by the ESLint plugin.

[2019-07-04 09:53] chaitanyapotti commented on #696
I face the same issue. The issue started when i upgraded to eslint 6 and disappears when downgraded to 5.
Repo linked [here](https://github.com/torusresearch/torus-website/tree/develop/app)

[2019-07-04 10:21] UncleClapton commented on #696
@dbaeumer it does.

After some further digging I think I finally found **a** culprit, however I'm not sure if this is the cause or just another side-effect of the changes in ESLint v6.

I found that in my specific case, this error was caused by the project not being vscode's workspace root. Whenever I load one of the individual config projects into vscode, everything resolves fine. When I load the

[2019-07-04 10:48] sivanesh-12 commented on #696
Updation of ESLint to v6 is the cause for this failure.

As per [Migrating to 6.0 Docs](https://eslint.org/docs/user-guide/migrating-to-6.0.0#-plugins-and-shareable-configs-are-no-longer-affected-by-eslints-location)

If you use a **global installation** of ESLint _(e.g. installed with `npm install eslint --global`)_ along with plugins. Then you should install those plugins locally in the projects

[2019-07-04 16:19] pikadun opened #703 "Failed to load config \"standard\" to extend from."
I got ther error
[code]
And there is logs
[code]

 `eslint` and `eslint-config-standard` are installed gloabl

[2019-07-04 18:37] sryze commented on #702
![bug](https://user-images.githubusercontent.com/4525736/60683996-061bbf00-9ebd-11e9-9840-9410df19b1fa.PNG)

[2019-07-04 21:40] blacksteed232 commented on #696
I agree with @UncleClapton, I have something like this

[code]

If I open `projectB` as the root in VSCode, the plugin works fine, but if I open `parentProject`, I will see the error

I also tried to downgrade to ESLint 5 and the situation is the same.

[2019-07-05 07:16] Davidliking opened #704 "新版vscode-eslint1.9.0版本 notice 屎黄色波浪线？超级影响开发感官！！！"
新版vscode-eslint1.9.0版本 notice 屎黄色波浪线？超级影响开发感官！！！

[2019-07-05 08:30] dbaeumer commented on #704
Can you please provide a description in English with steps on how to reproduce what you are seeing. Thanks

[2019-07-05 08:32] dbaeumer commented on #696
@blacksteed232 do you have an example project I can clone that demos this?

[2019-07-05 08:33] dbaeumer commented on #702
Can you provide me with a GitHub repository that demos this. HTML support works fine for me.

[2019-07-05 08:34] dbaeumer commented on #703
@pikadun what ESLint version are you using 6.x ? Then this might be related to https://github.com/microsoft/vscode-eslint/issues/696

[2019-07-05 08:41] chaitanyapotti commented on #696
@dbaeumer [Here](https://github.com/torusresearch/torus-website) is the project. you can demo the behaviour in this

[2019-07-05 08:50] naveenkumarkandasamy opened #705 "Quick fix is not working"
Issue Type: <b>Bug</b>

1. dont indent the code properly

Extension version: 1.9.0
VS Code version: Code 1.36.0 (0f3794b38477eea13fb47fbe15a42798e6129338, 2019-07-03T13:25:46.372Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (4 x 2712)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>f

[2019-07-05 08:50] #705 closed

[2019-07-05 09:00] dbaeumer commented on #696
@chaitanyapotti your problem seems different. Since you have relative paths in your config you need to tell the ESLint extension where the ESLint working directory is. I got your example working using:

[code]

[2019-07-05 09:19] #691 closed

[2019-07-05 10:48] jimblue commented on #703
same problem here with eslint 6

[2019-07-05 14:04] pikadun commented on #703
@dbaeumer This is caused by eslint 6.0.1.
When I tried `eslint --debug example.js`, I got the message:
[code]

[2019-07-05 14:57] archer3cl opened #706 "Quick Fix hover not working"
After updating to VS Code 1.36.0 the option for quick fix when hovering does not apply the related action.
![NOACTION](https://user-images.githubusercontent.com/4583932/60730600-270b0100-9f0b-11e9-84ef-5a3a05379c42.gif)

Using the quick fix on the bulb action does.
![ACTION](https://user-images.githubusercontent.com/4583932/60730671-4a35b080-9f0b-11e9-8fe9-2b6b7b6f3700.gif)

VS Code Info
Version:

[2019-07-05 14:58] sryze commented on #702
Here you go: https://github.com/sryze/vscode-eslint-issue-702

Reproduce the bug with:

[code]

[2019-07-05 15:50] sryze commented on #702
I think it has something to do with my local eslint, when I use the global package

[code]

output:

[code]

However, if I run the local version:

[code]

it produces:

[code]

If I uninstall the local eslint package, VS Code ESLint works as it should.

[2019-07-05 21:34] MatiasOlivera commented on #706
I'm having the same problem after updating VSCode. I'm going to use the bulb action meanwhile.

[code]

[2019-07-06 02:49] UncleClapton commented on #696
@dbaeumer Thanks for pointing out `eslint.workingDirectories`. This fixed my issues. thanks!

[2019-07-06 06:01] chaitanyapotti commented on #696
@dbaeumer that fixed it for me. Thanks

[2019-07-06 11:34] neillindberg opened #707 "Quick Fix for CRLF to LF does not work"
Issue Type: <b>Bug</b>

I'm seeing a lint error after copying (some code in View Raw, in the browser)  and pasting into a new document.
The error:
Expected linebreaks to be 'LF' but found 'CRLF'.eslint(linebreak-style)

A Quick Fix is offered, but no matter if I attempt to apply to one line or all lines with the problem it is never resolved and the error persists.

VS Code version: Code 1.35.1 (c7

[2019-07-06 12:58] blacksteed232 commented on #696
@dbaeumer Thank you `eslint.workingDirectories` works for me

[2019-07-06 13:55] zjb19970804 commented on #706
Yes, after updating the latest version of vscode IDE today, eslink has changed. It used to be normal, but I can use Ctrl +. to fix code errors.

[2019-07-06 15:57] ReasonableDeveloper commented on #696
Unfortunately, this did not fix it for me using lerna + yarn workspace monorepository.

My structure looks like this
[code]

The VSCode ESLint output always shows an error like the following
[code]

Issue shows up even with following `yarn workspace` configuration inside the root `package.json`. Here I try to prevent hoisting of `eslint-config-react-app` into the root folder but even after cleanin

[2019-07-06 19:56] davidysoards commented on #695
I'm having the same issue. It seems to be looking for the "react" module in the parent directory instead of the project root directory. Extremely frustrating
_Error: Error while loading rule 'react/no-typos': Cannot find module 'react' from '/Users/davidsoards/projects/sandbox'_

my project directory is located inside sandbox/

why is it doing this?
This should be reopened.

[2019-07-06 20:27] johnnyreilly commented on #700
I'm afraid I don't have a repro to share at present (apologies - I know that doesn't help you much) but I seem to be bumping on this too

[2019-07-06 20:29] danielcooke1996 commented on #700
@dbaeumer I will try to get a reproduction repo this week at some point

[2019-07-07 16:02] ReasonableDeveloper commented on #696
The fix for the issue I described above was to install `eslint-config-react-app` into the `package.json` of the `root`, then set a `yarn resolution` to make sure it doesn't install a newer version of `babel-eslint`.

[code]

[2019-07-07 22:33] johnpyp commented on #696
Before the update it seems like "monorepo" style directories worked without the need to specify nested eslint working directories. Is it possible to implicitly detect them (like before) rather than having to explicitly specify them?

[2019-07-07 22:53] parkerault commented on #477
I'll 👍 this feature too; mucking about with your .eslintconfig file is a *nightmare* if you have to reload VSCode every time you change a rule to see if it works, especially if you have an underpowered computer and lots of extensions (and if your workplace forces the use of shitty antivirus software that make launching VSCode take 30 seconds!!!).

[2019-07-08 01:16] dbnapp commented on #707
I've been trying to fix this for the past day and your comment saved me.

In my set up I have eslint and prettierjs plugins installed. I've tried toggling all different settings but none of them would fix this issue. Prettier would format the entire file but the crlf problem would remain. Clicking the `quick-fix` option would also have no effect.

Thankfully my project is small so this wasn't a pr

[2019-07-08 08:19] #699 closed

[2019-07-08 08:28] Davidliking commented on #704
Okay, I've encountered the problem that the new version of vscode-eslint 1.9.0 code hints turned into shit yellow wavy lines.

[2019-07-08 08:31] Davidliking commented on #704
Can you give me some solutions, such as setting some parameters in the configuration file?

[2019-07-08 08:37] Davidliking commented on #704
Reproductive steps, such as writing corresponding JavaScript fragments, deliberately expose the problem of writing norms, for example, "! = Then eslint will report, better written as'! == Now you can see that there are shit yellow wavy lines in the compiler, not subject settings.

[2019-07-08 08:56] dbaeumer commented on #704
@Davidliking could you please provide steps or a GitHub repository I can clone that demos what you are seeing. Having good reproducible steps is a prerequisite to efficiently act on an issue.

[2019-07-08 08:59] dbaeumer commented on #477
The extension should handle changes to `**/.eslintr{c.js,c.yaml,c.yml,c,c.json}` files correctly if located in the workspace. Where is the `.eslintconfig` located.

[2019-07-08 09:00] dbaeumer commented on #477
I will accept a PR that add a corresponding command to the extension.

[2019-07-08 09:01] Davidliking commented on #704
"if (!utils.isNullOrEmpty(typeID) || typeID== "") {
     searchParams.typeID= typeID;
 }"
or
"if (typeID!= "") {
     searchParams.typeID= typeID;
 }"
You can try these two code snippets in the compiler.

[2019-07-08 09:04] dbaeumer opened #708 "Autodetect and propose working directories in mono repositories"
See https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-509036017

We could add a command that tries to auto-detect working directories in monorepros and propose a corresponding configuration.

[2019-07-08 09:05] dbaeumer commented on #696
@johnpyp I see your point but the underlying cause of this is that ESLint 6.0 changed the way how they resolve / load plugins. There was no change in the extension.

Detecting the folders in a monrepro might not be easy. I opened https://github.com/microsoft/vscode-eslint/issues/708 since I would like to keep this is focused on the loading issue.

A PR implementing https://github.com/microsoft/vsc

[2019-07-08 09:09] dbaeumer commented on #704
Trying those actually produces a reasonable result for me:

<img width="452" alt="capture" src="https://user-images.githubusercontent.com/1931590/60798083-c3820d00-a170-11e9-8c09-978caa7bc392.png">

This is why it is important that you provide me with a GitHub repository I can clone that demos what you are seeing. Otherwise we will never look at the same setup.

[2019-07-08 09:10] dbaeumer commented on #700
@johnnyreilly have you upgraded to ESLint 6.0. If so you might want to look at: https://github.com/microsoft/vscode-eslint/issues/696

[2019-07-08 09:11] dbaeumer commented on #695
Have you lately upgraded to ESLint 6.0. You might want to look at https://github.com/microsoft/vscode-eslint/issues/696

[2019-07-08 09:13] dbaeumer commented on #706
@mjbvz same as with the Java plugin. Has something changed here in VS Code ?

[2019-07-08 09:15] Davidliking commented on #704
Sorry, the details can not be released, because it will involve confidential company content, I think my description is very clear, just read the code screenshot you released, I seem to think of a solution, if possible, I will put the solution under the problem. Thank you for your support.

[2019-07-08 09:16] dbaeumer commented on #706
I move the issue to VS Code since the quick fix action computation is the same in both pathes.

[2019-07-08 09:18] dbaeumer commented on #704
What do you think should be different in my screen shot? the two red squiggles are there because my linter rules require `===` and `!==`.

[2019-07-08 09:20] dbaeumer commented on #702
This seems to explain it. ESLint 6.0.1 changed the way how eslint plug-ins are resolved and they now recommend that everything is installed locally. You might want to read https://github.com/microsoft/vscode-eslint/issues/696

I will close the issue. Please ping if #696 is not helpful for you.

[2019-07-08 09:21] dbaeumer commented on #703
@pikadun thanks. Closing as dup of #696 then

[2019-07-08 09:21] #703 closed

[2019-07-08 09:24] Davidliking commented on #704
Two red wavy lines seem to be the effect of your eslint prompt
![A3LV4)LY7)DK2P~FHL5K{`4](https://user-images.githubusercontent.com/28680808/60799177-3f964800-a1a5-11e9-912b-222483c3017d.png)

[2019-07-09 01:24] davidysoards commented on #695
update no, but it was a brand new repo, so yes it was on v6.0. Thanks!

[2019-07-09 01:44] davidysoards commented on #696
the "eslint.workingDirectories" approach OR opening vscode from a terminal window inside the project root folder with "code ." work for me, but I hope this issue gets fixed. thanks @dbaeumer

[2019-07-09 02:52] TidyIQ commented on #696
eslint.workingDirectories doesn't work

[2019-07-09 09:41] dbaeumer commented on #696
@davidysoards are you saying this makes a different for you whether you open code from a terminal or not. If so can you provide me with a GitHub repository I can clone that demos this.

As I was trying to explain [here](https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-509143591) this is nothing I can fix easily since it is caused by ESLint 6.0 not supporting plug-in loading in th

[2019-07-09 09:44] dbaeumer commented on #704
What is the exact error of those?

[2019-07-09 13:22] davidysoards commented on #696
@dbaeumer I was just stating the easiest way I know to "open the app directory as a folder."
I used the gatsby-starter-default and added an .eslintrc.json file to the root folder set to
[code]
and the extension is working as expected. Thanks again for your help.

[2019-07-09 14:26] anilanar opened #709 "VSCode quickfix to disable rule"
![image](https://user-images.githubusercontent.com/753736/60896104-0a9dfa00-a266-11e9-895e-4332d3e4e211.png)

For original eslint rules, VSCode's quickfix provide menu items for disabling the rule for the whole file or for the line etc.

However `@typescript` rules don't have it.
Just wondering if this is happening just to me, and if so, I'd like to help figure out a solution for it.

[2019-07-09 14:29] anilanar commented on #709
Nevermind, I solved the issue with:

[code]

I already had it in my config in "user" settings, but "workspace" settings were overriding it with

[code]

[2019-07-09 14:29] #709 closed

[2019-07-09 23:27] dkadrios commented on #696
I'm having the same issues with eslint 6, and to add a new wrinkle, now when reverting back to eslint 5.16.0, prettier is throwing ```Cannot find module './utils/ast-utils'```

I've tried nuking node_modules (even yarn.lock) but the issue persists.  Seems like once you install eslint 6, something in vsc's integration gets permanently borked.

Anyone else having issues reverting to eslint 5?  Any w

[2019-07-09 23:48] ReasonableDeveloper commented on #696
Try npms timetravel feature (may need to run `npm i -g npm` before to make
sure you don't get any dependencies rely on eslint 6+.
npm i --before 2019-04-01

On Wed, Jul 10, 2019, 01:27 Darin Kadrioski <notifications@github.com>
wrote:

[2019-07-10 00:54] dkadrios commented on #696
I confirmed that the only package change was eslint 5 to 6 and then back to 5.

What ultimately resolved this for me was to reinstall vscode

[2019-07-10 01:10] MuhammadJamaluddin opened #710 "Quick Fix menu options are not working"
Issue Type: <b>Bug</b>

Install the ESlint extension & Airbnb linting style guide & then try to use any of the actions listed in the "Quick Fix" menu...

Extension version: 1.9.0
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:59:35.033Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core

[2019-07-10 09:48] dbaeumer commented on #710
This is a know VS Code issue and will be fixed there for the next recovery build.

[2019-07-10 09:50] dbaeumer commented on #696
This sounds really strange since the VS Code installation should have no impact on this

[2019-07-10 15:06] manuelbieh commented on #696
@dkadrios - same issue here. I upgraded to ESLint 6 and still got this ast-utils error. What helped for me (instead of uninstalling VSCode) was to revert back to ESLint 5 in the project folder and then rename[!] the project folder and restart VSCode. After I reverted to ESLint 5 **and** renamed the folder, the error disappeared. That's still ugly but better than having to reinstall VSCode complete

[2019-07-10 17:11] dkadrios commented on #696
I didn't think to rename the project folder -- good to hear that that works.  Much simpler.

Reinstalling was actually trivial thanks to the Settings Sync extension which I highly recommend using, especially if you use vscode on multiple machines.  https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync
Once I had the new binary, I just need to install that one extension and it

[2019-07-10 23:24] SHxKM commented on #655
+1. It's very annoying to get a huge block of red squiggly lines just because I've just opened a `<div` (typo intended) that I've created.

[2019-07-11 00:04] SHxKM opened #711 "Add option for delay"
My proposal is to implement one of the following options:

A) _don't_ display any warnings (and possibly errors) in the editor, but *do* fix those on save.

or:

B) Add an option to add a time delay between the last character typed, and the appearance of warnings/errors

or:

C) Add an option to only display warnings and errors on save

A, B, C all solve the same problem: For `.vue` files for exam

[2019-07-11 00:38] parkerault commented on #477
I didn't realize until later that you only have to close and re-open the *file*. That, and a combination of errors were making me think I had to reload the whole instance. I think the problem is more with the UX around presenting errors in the eslint config for new users. Perhaps a notification that an eslintrc file was found but can't be loaded because x, y, and z.

[2019-07-11 04:03] dancherb commented on #696
@manuelbieh Thanks, this helped me as well. I'd wiped any trace of the new eslint after creating a new react-native project on the latest react-native version, nuked node_modules and wiped package-lock.json multiple times, but was still getting the error - renaming and restarting sorted it out.

[2019-07-11 07:39] ivo-urbanek commented on #696
After update to Eslint v6.x:
[Info  - 9:03:19 AM] ESLint server stopped.
[Info  - 9:03:20 AM] ESLint server running in node v10.2.0
[Info  - 9:03:20 AM] ESLint server is running.
[Info  - 9:03:21 AM] ESLint library loaded from: /srv/dev/users/app/node_modules/eslint/lib/api.js
[Error - 9:03:21 AM]
Failed to load plugin 'react' declared in 'users/app/.eslintrc': Cannot find module 'eslint-plugin-re

[2019-07-11 11:15] buschtoens opened #712 "Use file location for `.eslintrc.js` resolution"
It seems that when using multiple `.eslintrc.js` files throughout the workspace (of which some may use `root: true`), vscode-eslint doesn't follow the same [resolution algorithm that eslint itself uses](https://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy).

It seems that `eslint.workingDirectories` could be a (very inelegant and manual) solution to this problem, by

[2019-07-11 11:38] buschtoens commented on #712
Hm, I'm having trouble reproducing this in a fresh repo... 🤔
I'll investigate further.

[2019-07-11 18:59] MuhammadJamaluddin commented on #710
When would that be?

[2019-07-11 21:03] dbaeumer commented on #710
Soon.

[2019-07-11 21:03] #710 closed

[2019-07-11 21:05] dbaeumer commented on #712
I actually should since the extension uses the eslint npm module. Best to understand what goes wrong would be a GitHub repository I can clone that demos the behaviour.

[2019-07-11 21:07] dbaeumer commented on #711
Sounds like a dup of https://github.com/microsoft/vscode-eslint/issues/655

[2019-07-11 21:07] #711 closed

[2019-07-11 21:08] SHxKM commented on #711
@dbaeumer fair enough. I thought the other issue wasn't as detailed and wasn't even sure I was talking about the same as the other poster. I will the contents there to augment.

[2019-07-11 21:09] SHxKM commented on #655
My other issue #711 was closed as a dupe of this one, so I'm posting the more detailed proposal here. From my issue OP:

My proposal is to implement one of the following options:

A) _don't_ display any warnings (and possibly errors) in the editor, but *do* fix those on save.

or:

B) Add an option to add a time delay between the last character typed, and the appearance of warnings/errors

or:

C)

[2019-07-12 04:14] raksa opened #713 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'CLIEngine' of undefined"
(node:2850) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'CLIEngine' of undefined
    at n.then.e (/Users/raksa/.vscode/extensions/dbaeumer.vscode-eslint-1.9.0/server/out/eslintServer.js:1:47836)
    at process._tickCallback (internal/process/next_tick.js:68:7)
(node:2850) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing i

[2019-07-12 04:14] raksa opened #714 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'CLIEngine' of undefined"
MacOSX 10.14.5
vscode:
1.36.1
2213894ea0415ee8c85c5eea0d0ff81ecc191529
x64

[code]

[2019-07-12 12:47] buschtoens commented on #712
That's what I was trying to set up, but so far I couldn't reproduce the issue. 😅
I'll give it another go in the next days though.

Thanks for replying already!

[2019-07-12 14:54] dbaeumer commented on #714
Dups #713

[2019-07-12 14:54] #714 closed

[2019-07-12 14:55] dbaeumer commented on #713
@raksa do you have any steps how to reproduce this. Do you have a GitHub repository I can clone that demos this?

[2019-07-12 16:25] raksa commented on #713
hi @dbaeumer  you can follow clone and follow the step in README.md
the repo https://github.com/raksa/eslint_error

<img width="1026" alt="Screen Shot 2019-07-12 at 11 22 49 PM" src="https://user-images.githubusercontent.com/4116021/61143341-24f10580-a4fc-11e9-9706-56bfad9053cc.png">

hope you can catch the bug, thanks

[2019-07-13 11:50] golopot commented on #692
This repo is probably a wrong place for this issue. That said, eslint is working as intended in that code snippet because `access_token` is unused.

[2019-07-14 13:06] Lighttree commented on #712
I have same issue in newly created project.

With following dependencies:

[code]

and following folder structure:

[code]

If I use `my-project-parent` as `WORKSPACE ROOT` I start to have issues with `ESLint` in `Output` and it throws issues about missing `modules`.

In case I open `my-project` as `WORKSPACE ROOT` it works fine.

Log:

[code]

It also works fine if I run following command from fo

[2019-07-15 16:01] felixle236 opened #715 "Auto fix not working with ignoreDeclarationSort of sort-imports"
I'm using Eslint with version ^6.0.1

My rule:
[code]

Thanks so much.

[2019-07-16 01:48] cassv24 commented on #696
Same issue here, 🐧Ubuntu 19.04, "eslint": "^6.0.1"

[code]

[2019-07-16 10:19] #704 closed

[2019-07-16 11:16] tomerep opened #716 "[Feature request] suggest a fix if eslint npm package isn't installed."
Problem description:
1. open VSCode and install vscode-eslint extension.
2. Create / Import a project.
3. Open js file.

Actual: the user gets an error message saying that eslint package isn't installed.

Proposal: To display a message with 2 buttons: 'npm install' and 'Disable Eslint'.

[2019-07-16 11:21] Tzahile commented on #696
I had a this error after upgrading to Eslint 6 version, using prettier:
[code]

luckily, @Luxiyalu suggestion solved it for me!
(with eslint option - `Use 'prettier-eslint' instead of 'prettier'`)

[2019-07-17 13:23] SMerdzhanov commented on #696
Hey guys, I'm very late for the party... But I've been having pretty similar headaches for a couple of days and **decided to share what worked for me.**

### Findings

**Symptoms:**
- ESLint works from the CLI
- ESLint does not work within VSCode
- ESLint >= v6
- ESLint in VSCode throws random load plugin failures and suggests installing the "missing" dependency

**The issue seems to be a combinat

[2019-07-17 14:02] feugy commented on #696
Horray @SMerdzhanov, you just saved my life.

In my case, I had to specify `changeProcessCWD`, because my subfolders have different plugins and configurations.
I'm using a workspace, but this has _no effect on the working directories_, so don't be concerned about it.

**Project structure:**
[code]
**root/.vscode/settings.json:**
[code]

[2019-07-17 14:35] cassv24 commented on #696
### From what I see in the [docs eslint.workingDirectories](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint), **this is not a bug**, but the way it's supposed to work when you have a root structure as fallow:
[code]
In your _settings.json_
[code]
**Note:** You don't need to add any `"root": true `in your `.eslintrc.js` for this to work.

**When you think about it, it doe

[2019-07-17 17:17] sryze commented on #702
Same problem with ESLint 5.16, I don't think it's related to the version.

The extension works only if I delete the local eslint package and install eslint globally.

[2019-07-17 18:33] dvonlehman commented on #696
In case it helps anyone, I solved the `Cannot find module './utils/ast-utils'` error when running Prettier in vscode by setting `"prettier.eslintIntegration": false`.

[2019-07-18 14:41] ehmicky opened #717 "`eslint-plugin-import` rule `import/no-unused-modules` does not work with vscode-eslint."
The plugin [`eslint-plugin-import`](https://github.com/benmosher/eslint-plugin-import) has a rule [`import/no-unused-modules`](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-unused-modules.md) that checks (among other things) for exports that are not used in other files.

[code]

This does not work well with vscode-eslint: files that have not been opened in the editor

[2019-07-20 13:31] johnpapa commented on #696
I also solved this in a vscode node extension app (Peacock) by setting `"prettier.eslintIntegration": false.`

to be clear - prettier still formats for me.

thanks @dvonlehman

[2019-07-22 11:03] kurtextrem commented on #154
@bkucera any news?

[2019-07-22 13:32] Bkucera commented on #154
I was working on adding tests for existing code (Using same approach as the `vscode-prettier` project). As this extension has >20M installs and auto-updates, I would hate to introduce a regression. Still planning on fixing this bug after that

[2019-07-22 21:54] ThibaultVlacich opened #718 "ESLint in VSCode shows errors that the command line ESLint does not"
I'm noticing an issue with ESLint in VisualStudio Code. As you can see in the following screenshots, I'm seeing errors in the editor that are not here when I'm testing the same file directly with the command line tool.

I feel like the issue is the due to the use of the "@" alias, that VueJS adds.

PS: I created a Vue project using Vue CLI, using the ESLint+AirBnb preset, and haven't made any cust

[2019-07-23 04:40] Jamesernator opened #719 "Allow omitting specific rules from fix"
I am aware #208 was already closed, however since then a specific API for filtering rules from being fixed was added to `CLIEngine` https://eslint.org/docs/developer-guide/nodejs-api#cliengine .

One of the pain points with the solution in #208 is that the `no-autofix` plugin requires adding it into every project specifically and only supports the builtin rules.

I'd like to propose again supporti

[2019-07-23 04:50] Jamesernator commented on #719
Alternatively as an event more flexible option it might be a possibility to treat `eslint.options.fix` as a function body if it happens to be a string e.g.:

[code]

[2019-07-23 05:01] huw commented on #689
Hey @dbaeumer — I'm curious why this package overrides the save handler in VS Code instead of providing a formatter according to VS Code's specs. Is there some kind of extra behaviour required?

It would be neater (but obviously not critical) if we could select "ESLint Fix" as a formatter. Is there a possibility that having `eslint.autoFixOnSave` enabled while another formatter is specified on a f

[2019-07-23 09:40] dinidu-bhathiya commented on #696
We fix this issue by changing

 ` "editor.formatOnSave": false,`
and
`"eslint.autoFixOnSave": true`.

With this eslint extension is going to do the correcting lint issue on saving the code and there is no need to use the prettier extension at all.

[2019-07-23 17:50] DvJuanMartin commented on #696
I had a this error after upgrading to Eslint 6 version, using prettier. Thats work for my.

[2019-07-23 19:19] sarpik commented on #124
Up - still needed!

Filename `.eslintrc` [is deprecated](https://eslint.org/docs/user-guide/configuring#configuration-file-formats) and `.eslintrc.js` does NOT have intelliSense.

[2019-07-23 19:20] sarpik commented on #124
Up - still needed!

Filename `.eslintrc` [is deprecated](https://eslint.org/docs/user-guide/configuring#configuration-file-formats) and `.eslintrc.js` does NOT have intelliSense.

/cc @dbaeumer

[2019-07-23 20:23] julianlam commented on #696
It seems by an large the only people affected this bug use VSCode by opening a folder into the workspace that contains multiple subfolders, and eslint is only installed on *those* subfolders, but specifically **not** the workspace root.

Seemingly vscode-eslint instructs ESLint to look only at the workspace root for eslint and various eslint plugins, and now ESLint does not search subfolders for t

[2019-07-24 22:59] andrucz commented on #691
Same here

[2019-07-25 09:06] mkkoh commented on #696
What worked for me was to downgrade to version 5 of ESLint. Global install here.

[2019-07-25 10:12] gaoshijun1993 opened #720 "eslint-disable doest not work for vue template"
The usage can be found here: https://vuejs.github.io/eslint-plugin-vue/user-guide/#disabling-rules-via-eslint-disable, which works well in eslint cmd line.

[2019-07-25 14:55] davidysoards commented on #696
This is def a workaround though and NOT a solution because what makes Prettier great is that it IS opinionated. Configuring ESLint for formatting (different than code correction) is a pain and a huge time suck.

[2019-07-25 14:56] ljharb commented on #696
@davidysoards it takes two-three config lines - one to enable the prettier plugin, and another to extend the prettier config (which disables all conflicting formatting rules).

Prettier should only ever be run through eslint, never directly.

[2019-07-25 15:10] domoritz opened #721 "High CPU usage"
On https://github.com/vega/vega-lite/commit/dc7278f1b42acbad5bfecfe56131830d78c00551, I get high (99%) CPU usage with VScode.

MacOS, VSCode 1.36.1, Eslint plugin 1.9.0. Could be related to https://github.com/microsoft/vscode-eslint/issues/659 but I can't downgrade TypeScript.

[2019-07-25 15:17] davidysoards commented on #696
@ljharb I thought he was suggesting not using prettier at all. But I also prefer to use prettier separately because I use it to format html, css, and scss as well.

[2019-07-25 18:30] woodreamz commented on #696
Same issue for me. I tried a lot of things but the only solution for me was to downgrade to eslint 5.6.0. I will wait for a fix.

[2019-07-26 09:46] joepio opened #722 "Parsing error: File 'tsconfig.json' not found - if project does not contain tsconfig.json in workspace root"
I have a project ([repo link](https://github.com/ontola/ori-search/)) that has two separate tsconfig files in non-root folders. When I open this project in VScode, the linter gives this error in every TS file:

[code]

That path indeed does not link to an existing file, since it should look in a specific subdirectory of `project-root` .

Whenever I open one of the subfolders, the error goes away a

[2019-07-27 08:57] TylerR909 commented on #722
I also just ran in to this in a yarn workspace.

[code]

Trying to plug in ESLint in `first/` right now. The package `tsconfig.json`s both extend the root `tsconfig.json`. The `.eslintrc.js` file has this set...

[code]

But it looks like the VSCode plugin is resolving that to `project/tsconfig.json` according to the error. If I set `project: './packages/first/tsconfig.json` then VSCode starts rep

[2019-07-29 08:17] Kosta-Github commented on #712
This is a test repo similar to the setup described by @Lighttree : https://github.com/Kosta-Github/eslint-vscode-issue

The contained `REAMDE.md` contains some more infos for running `eslint --debug` in the different folders.

The quick summary is:

Note that the `vscode` plugin is already detecting the correct (i.e., local) `eslint` instance to use:

[code]

As well as the correct `eslint config`

[2019-07-29 20:31] danisal commented on #696
I have the same problem... Is it solved?

[2019-07-30 06:08] marksamman commented on #696
Has this been reported to ESLint since ESLint 6.0 is what broke it? Perhaps they could adjust the plugin loading system to accommodate the extension.

[2019-07-30 06:14] al1khavari commented on #696
same problem for me in eslint version 6.x.x  but everythings fine in eslint version 5.0.0

[2019-07-30 14:49] Teoxoy commented on #601
This issue can be closed.
It has been resolved at yarnpkg/berry#312

[2019-07-30 15:47] NaciAkce commented on #696
best solution in my case. Without changing any configuration except this

`{
    "eslint.workingDirectories": [
        { "directory": "./src", "changeProcessCWD": true }
    ]
}`

[2019-07-30 16:31] bohmanart commented on #696
The `eslint.workingDirectories` fix worked for me too, to get eslint working again but prettier still throws this error.

[code]

[2019-07-30 17:35] xsrvmy opened #723 "Console escape characters show up in the error message"
When the eslint error message contain console escape sequences such as color change, the sequence shows up in vscode's error message as raw text.

For example, a bold light blue word "Link" is showing up as `[1;96mLink[0m`.

Presumably the `--no-color` option need to be enabled. #460 is similar but for a different problem.

[2019-07-30 18:50] iansan5653 opened #724 "Checking is silently failing"
I am experiencing no errors at all in my files, even when I intentionally break the rules. Linting with the CLI works fine, so I know there should be errors and warnings, but nothing appears.

The errors raised by the `ts` compiler still do appear and the `lint whole folder` task is registered.

The problem is occurring in both JavaScript and TypeScript problems, and only started with a recent upd

[2019-07-31 02:17] Jonathan0wh commented on #696
Thanks! You saved my life! Got the same issue after upgrading from Eslint 5 to 6. I guess this is a problem with [prettier-eslint](https://github.com/prettier/prettier-eslint) with Eslint 6.

[2019-07-31 13:30] dlferro commented on #712
Another example where this wouldn't work since it doesn't follow the native eslint resolution would be

[code]

[2019-07-31 19:33] subz390 commented on #707
LF problem in a JS file.
![LF](https://user-images.githubusercontent.com/11546815/62238952-e0a2a800-b3cb-11e9-90c9-09e28f9780b5.png)
Quick fix attempts to fix the problem, I can see the page refresh, but the file remains unix/LF.
Quick fix works with other ESLinting issues.

Manually selecting the EOL sequence from the status bar to CRLF changes the file to windows/CRLF
![EOL](https://user-images.

[2019-08-01 02:25] argarner commented on #600
I'm having the exact same issue. I tried disabling all extensions (apart from eslint) and tried numerous user settings configs to try to get it to work. Mine does format on save, but doesn't work for a specific setting (max-len). eslint is aware of the max-len error (see image), but nothing I do enables it to actually format on save or process a fix.

<img width="1042" alt="Screen Shot 2019-08-01

[2019-08-01 12:48] revelt commented on #719
PS. Atom has it already so VSCode should be able to implement it as well:

<img width="738" alt="atom_eslint" src="https://user-images.githubusercontent.com/8344688/62294512-ff07b280-b462-11e9-9c42-181afa97aba5.png">
—https://atom.io/packages/linter-eslint

[2019-08-02 06:40] mckernanin commented on #724
I am seeing the same issue. Here's a repo you can clone for an example. This does seem specific to remote WSL setup, as the same repo works fine on my mac. https://github.com/mckernanin/eve-mining-manager/

[2019-08-02 12:09] cyberixae commented on #722
I was able to fix the issue in my case by removing parserOptions entirely. I realise this may not work for everyone but for me it seemed fine.

[2019-08-02 20:38] TylerR909 commented on #722
For me the error resolved when I got started on integrating ESLint into a 2nd package. At that point, yarn workspace hoisting took over and pulled ESLint up to the root node_modules, VSCode ESLint Plugin could find the executable, and it started respecting nested .eslintrc files.

[2019-08-03 00:18] TylerR909 commented on #722
Sorta broke again. Yarn Workspaces stopped hoisting `eslint-plugin-prettier` even though it's used in two packages. `packages/server` and `packages/client` both use it and extend their common configs from the root of the project. The VSCode plugin is seeing `eslint-plugin-prettier` in the root config then instead of resolving it from `packages/*/.eslintrc.js` where it's used (and root=true for wha

[2019-08-03 22:04] mzedeler commented on #696
I had exactly the same symptoms, even when I just install ESLint from scratch in a simple project with a single configuration. It turned out that I had to add `"root": true` to the configuration that was otherwise generated automatically by `eslint --init`.

[2019-08-04 12:15] krutoo commented on #713
I have same issue with ESLint 6.1.0 and VSCode 1.36.1

[2019-08-05 09:06] anthonybrown opened #725 "Invalid ecmaVersion"
**System**

- Visual Studio Code 1.36.1
- ESLint plugin Version 1.9.0
- macOS 10.14.5

**Issue:**
I'm getting a parsing error: Invalid ecmaVersion in the `problems` panel.
It's complaining about the `import` statements.
Here are my settings for `eslint` in vscode
I tried setting it to different versions of ecmascript but that just throws new errors in other places which are bugs I am suspecting bu

[2019-08-05 09:08] anthonybrown commented on #725
![Screen Shot 2019-08-05 at 5 07 30 AM](https://user-images.githubusercontent.com/1719818/62452855-036fec00-b73f-11e9-8914-a3be14a9a2cd.png)

[2019-08-06 07:31] raksa commented on #713
bug with **eslint@6.1.0**

[2019-08-06 07:41] krutoo commented on #713
@raksa But for me its not worked with 6.1.0 and works with 6.0.0

[2019-08-06 07:42] Lokilicious commented on #713
@raksa Not working with 6.1.0

[2019-08-06 10:22] raksa commented on #713
VSCode Version 1.36.1 (1.36.1)
Eslint Version 6.1.0
VSCode ESLint Extension version 1.9.0
Working for now

<img width="1280" alt="Screen Shot 2019-08-06 at 3 05 48 PM" src="https://user-images.githubusercontent.com/4116021/62532419-8479d100-b86e-11e9-92dd-6ef7ee00edd3.png">

[2019-08-06 10:48] Lokilicious commented on #713
I am running with exactly the same versions and still cannot get it to work

![version](https://user-images.githubusercontent.com/15230279/62534079-85980780-b848-11e9-81ee-8fe8973aad02.png)

[2019-08-06 14:51] dbaeumer commented on #601
@Teoxoy cool to hear. I do have a question: how were you able to solve this in yarn without any changes to ESLint?

[2019-08-06 16:25] Teoxoy commented on #601
@vlasenko implemented it.

Yarn v2 has an optional package called `@berry/pnpify` which wraps typescript and now eslint. Installing `pnpify` and then adding this vscode setting `"eslint.nodePath": "scripts/tssdk"` makes eslint work in a pnp environment.

[2019-08-07 07:39] Lokilicious commented on #713
@dbaeumer @raksa in my opinion this is not fixed yet, the example code provided by @raksa is still giving me the same error.

For eslint version 6.0.0 and 6.0.1 as well.

Please reopen.

[2019-08-07 12:39] dbaeumer commented on #601
Very cool. Thanks for the clarification.

[2019-08-07 12:39] #601 closed

[2019-08-07 14:47] dbaeumer commented on #685
Any update?

[2019-08-07 14:54] dbaeumer commented on #684
This works for me after moving the `settings.json` file into the `.vscode` folder which is its location.

<img width="774" alt="capture" src="https://user-images.githubusercontent.com/1931590/62633197-0f70cf00-b934-11e9-9bcb-0cee3043e1b5.png">

[2019-08-07 14:54] #684 closed

[2019-08-07 14:56] dbaeumer commented on #692
I agree with @golopot. Closing the issue.

[2019-08-07 14:56] #692 closed

[2019-08-07 14:57] dbaeumer commented on #715
Does it work if you run eslint from the command line with `--fix`. If so can you please provide me with a GitHub repository I can clone that demos this.

[2019-08-07 14:59] dbaeumer commented on #716
There is a command `Disable ESLint`. An npm install would be helpful as well.

Good candidate for a PR :-)

[2019-08-07 15:06] dbaeumer commented on #702
Thanks for the repository.

The same happens when running eslint from the command line

<img width="748" alt="capture" src="https://user-images.githubusercontent.com/1931590/62634152-b144eb80-b935-11e9-9639-317672d13342.png">

[2019-08-07 15:07] dbaeumer commented on #702
@sryze I will close the issue since this is not related to the ESLint extension. If you still see the error with a successful validation in the terminal please ping.

[2019-08-07 15:08] #702 closed

[2019-08-07 15:11] IanIsFluent commented on #685
Sorry, mate. I've not been working with VSCode since I posted this. And not sure when I will again. So may as well close it, as I can't provide what you need right now 😢

[2019-08-07 15:20] dbaeumer commented on #717
@ehmicky ESLint only validates the open files. This is comparable to running eslint in the terminal for a single file. E.g. `eslint folder/file.js`. If you do this are the exports reported as well?

There is also a eslint validate task that validates the whole project. It can be enable with `"eslint.provideLintTask": true`. You can invoke the task using `Run Task` from the Terminal menu.

[2019-08-07 16:16] mdelano commented on #154
Looking forward to this fix. Any updates?

[2019-08-07 16:20] FOr3st commented on #154
With autofix set up on every save I need even ___3!___ saves.
Consider an example:

Initial code:
[code]

After 1st save:
[code]

After 2nd save:
[code]

After 3rd save:
[code]

However, ```npm run lint -- --fix``` does the job in a single run.

[2019-08-07 16:26] Bkucera commented on #154
One of the issues is with large files in VSCode. Basically the after-save hook only gives you a couple hundred millis to create patches, and ESLint will sometimes need longer than that, even with only one pass.

Today, this can happen in files > 2k SLOC

If we run multiple ESLint passes, who knows what the "maximum" filesize you can format will be, 800 SLOC? That's why it's important to set up det

[2019-08-07 17:08] ErikHumphrey commented on #722
Also experiencing the same issue because our project has no tsconfig.json in the root directory. Is it possible to specify a custom path?

[2019-08-07 17:10] ErikHumphrey commented on #722
Possibly can't be fixed until https://github.com/typescript-eslint/typescript-eslint/issues/251 is resolved (from #605)

[2019-08-07 17:12] ehmicky commented on #717
@dbaeumer thanks for looking into this.

If I understand you correctly, VSCode-ESLint only validates the opened files. This would be an issue with rules like [`no-unused-modules`](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-unused-modules.md) where linting needs to happen project-wise and not file-wise.

Doing `eslint folder/file.js` works (i.e. the exports are not

[2019-08-07 23:23] DesignBySite commented on #710
I have been affected by this as well. individual quick fix option does not work, but if there are repeat instances of an error, it will apply the fix if I select the "Fix all ...". Is it possible to revert back to a previous version of VS code installation on my machine? Or when will the next build be released that resolves this issue?

[2019-08-08 01:39] hasezoey opened #726 "Some Questions"
Context: i wanted to upgrade from "tslint" (& vscode-tslint(deprecated version)) to eslint & vscode-eslint, but came to these errors

after using https://github.com/typescript-eslint/typescript-eslint i got some errors:
1. "cannot find .eslintrc.json" - fixed by `"eslint.options": {"useEslintrc": false}`
2. https://github.com/microsoft/vscode-eslint/issues/725 - i didnt got it fixed
3. "cannot fin

[2019-08-08 08:57] buschtoens commented on #712
I think most issues can be traced back to an incorrect `process.cwd()`.

I have a [shareable config](https://github.com/ClarkSource/eslint-config/tree/master/packages/eslint-config-ember-order-imports) that looks up the package name from the `package.json` of the project, to configure [`import-helper/order-imports`](https://github.com/Tibfib/eslint-plugin-import-helpers/blob/master/docs/rules/orde

[2019-08-08 09:00] buschtoens commented on #712
@dbaeumer I can provide a reproduction repo, if it helps! What is your opinion on my suggestion above?

[2019-08-08 10:09] dbaeumer commented on #718
@ThibaultVlacich when executing the command in the terminal are you doing this from the workspace folder or the client folder. If the second then you need to tell ESLint about your working directories (see the `eslint.workingDirectories` setting). I am pretty sure you see the error in the terminal as well if you validate the file from the root folder.

If not, can you please provide me with a GitH

[2019-08-08 10:12] dbaeumer commented on #689
ESLint autfix is not a formatter. A formatter usually touched white space where are fix really changes your code. This is why this is implemented on save.

[2019-08-08 10:14] dbaeumer commented on #720
@gaoshijun1993 can you please provide me with a GitHub repository I can clone which demos the problem.

[2019-08-08 10:17] dbaeumer commented on #723
The ESLint extension doesn't shell out to the eslint cmd. It uses the ESLint npm module directly which doesn't embed any ANSI codes.

Are you using the babel-eslint parser which seems to embed this directly.

[2019-08-08 10:20] dbaeumer commented on #707
The underlying problem here is that VS Code abstracts the line ending away (it is basically an array of lines) and hence it is not obvious on how to manipulate the line endings. Need to dig deeper.

[2019-08-08 10:23] dbaeumer commented on #600
@argarner can you provide me with a GitHub repository that I can clone that demos this. Trying to setup stuff like this mostly fails since I will have some minor difference which will then make it work.

[2019-08-08 10:27] dbaeumer commented on #719
Good PR opportunity.

However I am against `eval` since this will result in a security problem.

[2019-08-08 10:29] dbaeumer commented on #724
@iansan5653 can you provide me with a GitHub repository I can clone that demos this. ESLint still works for me (even in a WSL setup).

[2019-08-08 10:29] dbaeumer commented on #724
I can't clonse mckernanin/eve-mining-manager

[2019-08-08 10:34] revelt commented on #719
to add 2p., it's essential that we skip rules **on code editor level only**. When I upload the code to the CI (GitLab's or whatever), I do want the code to be fixed.

In practice, while developing, I want to exclude ESLint rules that catch `t.only()` isolated unit tests from auto-fixing. Otherwise, when I save, `.only` would get removed and unit test isolation would not work at all. But on CI rele

[2019-08-08 10:42] dbaeumer commented on #696
Can someone provide me with a small GitHub repository I can clone that demos the prettier problem. Then I can have a look whether I could work around it.

[2019-08-08 10:44] dbaeumer commented on #725
@anthonybrown what happens if you run eslint in a terminal. If it works there can you provide me with a GitHub repository I can clone that demos this. Then I will investigate.

[2019-08-08 12:10] dbaeumer commented on #713
Actually even eslint fails when executed in the terminal.

[code]

So I think that this is a problem with ESLint itself, however I agree that the error message should be better in the extension.

[2019-08-08 13:47] dbaeumer commented on #713
Improved ESLint extension to print the additional information to the Output panel. You now get

[code]

[2019-08-08 13:56] manuelbieh commented on #696
It's not exactly "small" but it's still easy to reproduce:
[code]

Open VSCode with eslint and eslint-prettier enabled and you should get the error in the Output panel of VSCode.

[2019-08-08 13:59] iansan5653 commented on #724
@dbaeumer It wasn't linked to a specific project for me. I was able to fix it though with:
[code]
Although I'm surprised that was necessary because `eslint` was installed locally as well.

[2019-08-08 14:13] dbaeumer commented on #685
Fair enough

[2019-08-08 14:19] dbaeumer commented on #722
I am pretty sure that this is unrelated to the extension itself.

@joepio what happens if you validate files in the front / server folder in a terminal using eslint command. Will that work?

[2019-08-08 14:51] dbaeumer commented on #717
@ehmicky thanks for the additional information. The problem is that we can't do that on typing since it would not scale parsing all files in a workspace.

What would work is that we auto trigger the lint task on save so that there is not need for a user interaction.

[2019-08-08 14:52] dbaeumer commented on #717
Good opportunity for a PR.

[2019-08-08 14:54] ehmicky commented on #717
@dbaeumer yes triggering the lint task on save would work for me, thanks!

[2019-08-08 15:05] joepio commented on #722
Running eslint in the `/front` subdirectory works just fine.

`eslint --ext .js,.jsx,.ts,.tsx ./src  `

[2019-08-08 15:26] dbaeumer commented on #726
I created a test workspace myself and I can't reproduce any of the problems you described.

Here is what works for me:

<img width="1224" alt="capture" src="https://user-images.githubusercontent.com/1931590/62715802-78724880-ba01-11e9-9661-927a85abc3df.png">

Any additional information you can provide to make this reproducible for me. Best would be a GitHub repository to clone.

[2019-08-08 16:02] dbaeumer commented on #712
@buschtoens I am actually against such an automatic mechanism. Major reasons are:

- we might do something work and then the user has no control over this
- it makes the extension `duplicate` resolving code from eslint which I so far stayed away from. If eslint for some reason changes I need to rewrite this.

I am also pretty sure that if in your example you validate a file in one of these folders

[2019-08-08 16:38] hasezoey commented on #726
https://github.com/hasezoey/typegoose/tree/r6/eslint

vscode global settings for eslint
[code]

images:

![](https://i.imgur.com/EvCWz1F.png)

if
[code]

![](https://i.imgur.com/C4ekJ0I.png)

[2019-08-08 16:44] dbaeumer commented on #696
@manuelbieh I cloned the repository and followed your steps but can't make it fail. Can you provide me exactly which file to open and what to do inside the file.

![cast](https://user-images.githubusercontent.com/1931590/62721484-94c7b280-ba0c-11e9-90ce-7ba34022aa52.gif)

[2019-08-08 16:47] dbaeumer commented on #724
@iansan5653 sounds indeed wired. What might has changed with this is the version of ESLint (-> 6.1.0).

I will close the issue. Please ping if you see this again or if you have additional information.

[2019-08-08 16:47] #724 closed

[2019-08-08 16:54] dbaeumer commented on #726
Just to ensure: the `eslintrc.js` needs to be named `.eslintrc.js`.

[2019-08-08 17:01] manuelbieh commented on #696
Ah, sorry. This only happens when you have `"prettier.eslintIntegration": true,`

[2019-08-08 17:07] hasezoey commented on #726
renamed the file to .eslintrc.js and removed `"configFile": "eslintrc.js",` and set `"useEslintrc": true,` but still "Parsing error: File '/home/hasezoey/tsconfig.json' not found."

[2019-08-08 17:13] dbaeumer commented on #726
I clone the repository, checked out r6/eslint and did the following modifications:

- renamed eslintrc.js
- added the following settings:
[code]
- no working directory setting

I don't get a parsing error but

[code]

which I also get when exectuing eslint directly in the terminal

[code]

When you executing eslint in the terminal do you also see the parsing error. If so, please talk to the eslint

[2019-08-08 17:14] dbaeumer commented on #726
Some as above with

[code]

[2019-08-08 17:20] hasezoey commented on #726
when i execute `npm run lint` (also eslint in cli), i only get the linting errors i should get

[2019-08-08 17:21] dbaeumer commented on #722
@joepio I mean running it in the workspace folder. Something like

`eslint --ext .js,.jsx,.ts,.tsx ./front/src`

Have you tried to add the following configuration to tell eslint what your working directories are:

[code]

[2019-08-08 17:27] dbaeumer commented on #726
Same

[code]

[2019-08-08 17:30] hasezoey commented on #726
try pulling again... (modified something)

[2019-08-08 17:33] dbaeumer commented on #696
Format on Save still works but Format Documet gives me this in the Prettier channel.

<img width="1015" alt="capture" src="https://user-images.githubusercontent.com/1931590/62724501-6dc0af00-ba13-11e9-879a-649d0d15c059.png">

[2019-08-08 17:37] dbaeumer commented on #726
Same outcome

<img width="1130" alt="capture" src="https://user-images.githubusercontent.com/1931590/62724754-f7707c80-ba13-11e9-80a2-c344e4677d98.png">

[2019-08-08 17:39] hasezoey commented on #726
oops the npm run lint script is still targeted at eslintrc and not .eslintrc

-> fixed it, pull again...

[2019-08-08 17:48] joepio commented on #722
Does not seem to work:  `ESLint couldn't find the plugin "@typescript-eslint/eslint-plugin".`, which makes sense, since there is no `node_modules` folder with the plugin in that dir.

This works! Nice, thanks!

[2019-08-08 17:49] hasezoey commented on #726
Note https://github.com/microsoft/vscode-eslint/issues/722#issuecomment-519620985 didnt fix it for me

[2019-08-08 17:50] dbaeumer commented on #722
Closing the issue then.

[2019-08-08 17:50] #722 closed

[2019-08-08 17:52] dbaeumer commented on #726
Now it works for me in code and the terminal

<img width="871" alt="capture" src="https://user-images.githubusercontent.com/1931590/62725515-8b8f1380-ba15-11e9-80e3-d2b8117e4eb7.png">

The only setting I have is:

[code]

I think this is caused by prettier. Do you have it installed. See the comments here https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-519529040 and below

[2019-08-08 17:54] jkmuka commented on #696
After installing whenever I open VS Code I get this error. I am not using prettier and the config file is present in the path it is trying to load it from.

ESLint: Failed to load config "defaults/configurations/eslint" to extend from. Referenced from: ...\.eslintrc. Please see the 'ESLint' output channel for details.

`{
  /* See all the pre-defined configs here: https://www.npmjs.com/package/esl

[2019-08-08 17:55] hasezoey commented on #726
yes i have prettier installed, but for typescript until now i used tslint to auto fix it and disabled prettier (for ts files)

[2019-08-08 17:57] hasezoey commented on #726
yes removing every option except eslint.validate fixed it, but somehow it only lints the opened files, is this intended?

[2019-08-08 17:59] ThibaultVlacich commented on #718
You are right, I'm not seeing the error when I use the `client` folder as the root directory.

[2019-08-08 17:59] #718 closed

[2019-08-08 18:02] dbaeumer commented on #726
Yes, this is intended. The is a lint task which lints the whole project `"eslint.provideLintTask": true`. Or you run the npm script you already have and assicate the eslint problem matcher with it.

I will close the issue.

[2019-08-08 18:02] #726 closed

[2019-08-08 18:03] dbaeumer commented on #726
And great to see it is working now

[2019-08-08 18:04] hasezoey commented on #726
i have `"eslint.provideLintTask": true,` this the hole time enabled, but dosnt seem to work?

[2019-08-08 18:34] buschtoens commented on #712
FWIW I was able to fix my config by extending [`import-helper/order-imports`](https://github.com/Tibfib/eslint-plugin-import-helpers/blob/master/docs/rules/order-imports.md) as [`eslint-plugin-import-helpers-with-package`](https://github.com/ClarkSource/eslint-config/blob/9aba9c2204db6e1c62af8e20533254e33c8f5a21/packages/eslint-plugin-import-helpers-with-package/rules/order-imports.ts), which can

[2019-08-08 18:43] #712 closed

[2019-08-08 18:52] hasezoey commented on #726
found how provideLintTask works, but why does it lint **everything** even when the following is supplied?
[code]

[2019-08-08 19:46] dbaeumer commented on #712
@buschtoens cool.

[2019-08-08 19:51] dbaeumer commented on #726
Actually I don't know. According to https://eslint.org/docs/developer-guide/nodejs-api#cliengine this seems to be correct. Does a full path make a difference?

[2019-08-08 20:02] hasezoey commented on #726
no it dosnt make a difference

[2019-08-09 04:44] 5310 commented on #696
In my case, I have ESLint etc installed via PNPM. Up until recently, it all used to work fine, but starting on this new project I noticed it started throwing `ESLint: Failed to load config "standard" to extend from. Referenced from: /home/scio/.config/Code/User/eslintrc. Please see the 'ESLint' output channel for details.`

Naturally, I have all the modules installed just fine, and can also run `e

[2019-08-09 06:38] fedorovsky commented on #696
https://github.com/fedorovsky/npm-package-js/tree/eslint
![Screenshot_2](https://user-images.githubusercontent.com/7301838/62759259-72c04580-ba89-11e9-9e41-a1d7cc48948e.png)

[2019-08-09 07:14] liuxsen commented on #600
As long as `"plugins": ["markdown"]`  added, it can't be repaired automatically.

[2019-08-09 07:15] dbaeumer commented on #713
@raksa I will close the issue again. If you want to see the issue reopened, please explain why.

[2019-08-09 07:15] #713 closed

[2019-08-09 07:16] raksa commented on #713
okay when I see the problem reopen and report again, thanks

[2019-08-09 09:04] buschtoens commented on #712
Whoops, didn't mean to close this issue. GitHub did this for me, since I referenced this as `Fixes` in a PR in a private repo.

If any of the other participants feel that this should be reopened, I can do so. But at least for me, the issue is solved for now.

[2019-08-09 10:51] nikitavoloboev opened #727 "Is it possible to add setting to suppress `Failed to load the ESLint library ..` message from showing"
I nearly always get this popup every time I open most projects in VSCode:

![2019-08-09 at 11 49](https://user-images.githubusercontent.com/6391776/62774126-dfdcd680-ba9b-11e9-8ca1-4e3463c971df.png)

Is it possible to add setting to suppress this `Failed to load the ESLint library ..` message from showing?

Thank you.

[2019-08-09 12:12] alexbleggi commented on #696
I was having this issue using eslint-config-airbnb-base, so I installed it using npx install-peerdeps -D eslint-config-airbnb-base, and it worked...

[2019-08-09 12:12] alexbleggi commented on #726
I was having this issue using eslint-config-airbnb-base, so I installed it using npx install-peerdeps -D eslint-config-airbnb-base, and it worked...

[2019-08-09 12:34] alexbleggi commented on #726
I was having this issue using eslint-config-airbnb-base, so I installed it using npx install-peerdeps --dev eslint-config-airbnb-base, and it worked...

In my case, this issue was due to a ESLint version conflict with eslint-config-airbnb-base, the peerdeps lowed the ESLint version to 5.3...

[2019-08-09 12:40] fedorovsky commented on #696
Thank. A new version was released in which everything worked.

[2019-08-09 13:53] LeanKhan commented on #696
Also had the problem, working on a nuxt project and VSCode was not formatting the <template> section properly. I downgraded to eslint@5.16.0 still got the error, So here's what I did:

![image](https://user-images.githubusercontent.com/34924520/62783765-ff342d80-bab4-11e9-9ac9-e1819680929c.png)
![image](https://user-images.githubusercontent.com/34924520/62783970-5508d580-bab5-11e9-8d3b-64b9117f729

[2019-08-09 13:55] dbaeumer commented on #713
This is fixed internally in the code base, but it requires a new ESLint version. But as always issues get closed when fixed in the code base.

[2019-08-09 13:56] dbaeumer commented on #713
And please remember this in your example this is a setup issue of eslint and not a problem with the extension itself.

[2019-08-09 14:02] dbaeumer commented on #727
@nikitavoloboev this should only happen once per workspace. The problem is that it is very hard to determine whether this is a misconfiguration or whether this is intended.

Do you see this on a workspace twice?

[2019-08-09 14:07] dbaeumer commented on #696
@fedorovsky a new version of prettier ?

[2019-08-09 14:16] dbaeumer commented on #696
Some recommendation to better track down what is going wrong:

- first run eslint from the terminal out of the workspace folder you have open. That means if our workspace folder is under `/users/dirkb/myProject` run eslint in the terminal with the cwd set to `/users/dirkb/myProject`.
- ensure to use the local eslint version if installed by using `node_modules/.bin/eslint`

If this run without prob

[2019-08-09 14:23] dbaeumer commented on #726
@hasezoey which is actually good since it is my fault. The `eslint.options` don't have any impact on the task :-).

But since you have npm script to validate you can simply add the following to the tasks.json file in the .vscode folder:

[code]

[2019-08-09 15:10] torresandres commented on #725
@anthonybrown I just ran into the same problem as you.

I just uninstalled and installed again the VSCode ESLint extension and now it works perfectly.

[2019-08-09 15:15] hasezoey commented on #726
already done it, just wanted to know and test `"eslint.provideLintTask": true` so i though it might be worth noting this

[2019-08-09 15:43] nikitavoloboev commented on #727
Don't think so.

But it is still annoying to see it on per workspace basis. Why is it hard to dismiss this message from showing?

Also if it is hard, is it at least possible to dismiss it after some time? Currently to dismiss it, I have to manually dismiss it myself. I would love if it disappeared itself after 2 seconds.

[2019-08-11 02:51] garyking opened #728 "Use eslint specified in `eslint.nodePath` rather than global, for untitled files"
For untitled files, why does it forcefully tries to use the global eslint, rather than the one specified in `eslint.nodePath`?

Instead, for untitled files, it should still continue to use the eslint specified in `nodePath`, or whatever it uses by default for workspaces.

I assume there's a technical limitation for this, and if so, then please mention it in the readme, and please suggest a workaro

[2019-08-11 21:21] max-lychko commented on #696
Upgrade VSCode to 1.37.0. Hope this help

[2019-08-12 07:51] dbaeumer commented on #725
@torresandres did it work for you in the terminal?

[2019-08-12 08:04] dbaeumer commented on #727
The notification auto-dismisses however only after 15 seconds. This is VS Code default behavior which I can't overwrite. Instead of adding another custom solution (e.g. a setting in ESLint) I am more in favor of pushing for https://github.com/microsoft/vscode/issues/41767 and
 https://github.com/microsoft/vscode/issues/46676 in VS Code. I will close this issue for now to see if this can gain some

[2019-08-12 08:04] #727 closed

[2019-08-12 08:07] #682 closed

[2019-08-12 08:45] dbaeumer commented on #728
@garyking where do you define the `nodePath` setting. In the user file or the workspace file. The problem is that for untitled files I actually don't know where it will be saved and hence don't know which setting to consider. But I think the user setting should still be respected.

[2019-08-12 10:26] felix-voicehub opened #729 "eslint.nodePath not resulting in module resolving"
Hi,

My eslint is complaining about not finding the installed config to extend from:

Referenced from: /Users/ME/Desktop/dev/MYCODEFOLDER/client/.eslintrc.js
    at configMissingError (/usr/local/lib/node_modules/eslint/lib/cli-engine/config-array-factory.js:233:9)

This error shows up when opening the folder with my code in vscode, which has no node_modules, as everything is dockerized. There are

[2019-08-12 16:26] garyking commented on #728
I set `nodePath` in the user file (global `settings.json` VS Code) file. Yes, I think that one should be respected.

[2019-08-12 17:26] torresandres commented on #725
@dbaeumer I'm sorry I didn't test it on the terminal at that moment, but I created some errors on purpose and ran `eslint .` and it worked perfect on the terminal just now.

It's possible that VSCode had an older version of this extension?

[2019-08-13 07:18] dbaeumer commented on #725
@torresandres the extension should actually auto update unless you disabled that. Any steps to reproduce what you are seeing (a GitHub repository to clone)

[2019-08-13 07:37] dbaeumer commented on #728
I tested it and the user setting is still respected in this case. Can you enable logging
`"eslint.trace.server": "verbose"` to see which node path is used in the server for the file.

[2019-08-13 07:37] dbaeumer commented on #728
The log is printed to the ESlint Output channel.

[2019-08-13 07:41] dbaeumer commented on #729
@felix-voicehub does ESLint work for you in the terminal ?

The error indicates that `airbnb-base` plugin can't be loaded. Are you sure it is installed.

[2019-08-13 07:48] felix-voicehub commented on #729
@dbaeumer `eslint` shows the commands, `eslint FILE` shows the same error:

Extending from `airbnb-base` actually means this module: https://www.npmjs.com/package/eslint-config-airbnb-base, as can be seen in its readme. This module is globally installed as shown above.

[2019-08-13 08:00] felix-voicehub commented on #729
I might have found the issue:

https://eslint.org/docs/user-guide/migrating-to-6.0.0#-plugins-and-shareable-configs-are-no-longer-affected-by-eslints-location

I was hoping to avoid this, but anyway, installing it in the working directory does solve this issue.

[2019-08-13 08:55] anthonybrown commented on #725
The error went away after the last update

On Tue, Aug 13, 2019 at 3:18 AM Dirk Bäumer <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-08-13 16:32] garyking commented on #462
Closing, since this is a dupe of my other issue at #510.

[2019-08-13 16:32] #462 closed

[2019-08-13 16:42] garyking commented on #728
I can confirm that in untitled files, this extension still uses the global `eslint` package to lint the untitled file, so that's good.

BUT, when I made this thread, I had just upgraded to eslint v6, and had a bunch of problems with this extension and with that upgrade. So since then, I've downgraded to eslint v5.

From what I remember from when I was testing things, since eslint v6 doesn't suppor

[2019-08-14 08:29] dbaeumer commented on #728
The is a dedicated issue here to track the ESLint v6 problems: https://github.com/microsoft/vscode-eslint/issues/696

Especially useful might be this comment: https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-519936333

I will close the issue. Please ping if you think there is something that needs to be done other than what is discussed in #696

[2019-08-14 08:29] #728 closed

[2019-08-14 08:31] dbaeumer commented on #725
@anthonybrown I will close the issue then. Please ping if you still see any issues.

[2019-08-14 08:31] #725 closed

[2019-08-14 08:33] dbaeumer commented on #729
@felix-voicehub great to hear. I will close the issue then. The ESLint v6 migration does cause issue mainly caused by ESLint itself (not the extension). Fort details you might want to look at #696

[2019-08-14 08:33] #729 closed

[2019-08-14 15:17] #715 closed

[2019-08-14 22:00] AlexZeitler opened #730 "[Feature Request]: Toggle/Display ESLint Status in Statusbar"
When migrating code bases it can be useful to disable ESLint at first because of too much squiggly red lines.
Sometimes then I forget to re-enable it again so it would be nice to have the status of ESLint displayed in the VS Code Status bar and also be able to enable/disable it by just clicking on it.

I can send a PR if you're willing to include it.

[2019-08-15 00:57] hutch120 commented on #696
I'm guessing a lot of people are seeing this as a result of upgrading their `create-react-app` projects which uses ESLint ^6.

Thanks to the comments in this thread, we solved the ESLint plugins not loading issue by adding the following to the vscode workspace settings.json

[code]

Note that the recommended [install procedure](https://github.com/facebook/create-react-app#quick-overview)  for `cre

[2019-08-15 10:17] #723 closed

[2019-08-15 10:17] #720 closed

[2019-08-15 11:48] dbaeumer commented on #730
Yes, PRs are always welcome. Couple of hints:

- this should be combined with `alwaysShowStatus` setting
- if this is true the status item could indicate that eslint is disabled for the current workspace.

[2019-08-15 14:04] yeraydiazdiaz commented on #691
FWIW, I solved this by setting `changeProcessCWD` in the `workingDirectories` setting:

[code]

[2019-08-15 21:24] AlexZeitler commented on #730
Is there something else to do to display the status bar item?

![image](https://user-images.githubusercontent.com/287480/63127832-b1875b80-bfb3-11e9-979f-7fd6dd782277.png)

[2019-08-16 01:43] eamodio commented on #721
I'm seeing the same thing -- started very recently and it was the eslintserver.js that was consuming a lot of CPU.

[2019-08-16 05:13] MAPESO commented on #708
@dbaeumer This problem is not presented in versions before to **6.x.x**. I am aware that version 6 of eslint handled differently the way the plugin behaves by treating the installation locally. I would really love to know why this problem is not presented in version 5 :)

[2019-08-16 08:13] dbaeumer commented on #730
Yes, since the item only shows if a server is running. If you want to indicate the non runnning additional code is necessary.

[2019-08-16 11:12] semenov-k opened #731 "[Feature Request] A more friendly way to mark the "no-trailing-space" in the editor"
I have a bit confusing thing.
![space](https://user-images.githubusercontent.com/16195166/63163431-c6f59780-c03e-11e9-90fa-f596ada12aa6.png)
When I see an error like in the picture above, I cannot say what exactly the type of error I have. It seems like `Unexpected token` error. I should go to the "PROBLEMS" tab and find that's `eslint(no-trailing-space)` error. But if to mark the "trailing space"

[2019-08-18 10:49] adamprocter commented on #696
Can no longer build my vue app with line 6 in place, commenting out removed the error from vue build which is

Module build failed (from ./node_modules/@vue/cli-plugin-eslint/node_modules/eslint-loader/index.js):
Error: Failed to load plugin prettier: Cannot find module 'eslint-plugin-prettier'
Referenced from: /Users/adamprocter/Documents/GitKraken/couchdocs/.eslintrc.js

<img width="928" alt="Sc

[2019-08-19 08:58] Amy0904 opened #732 "设置显示红色波浪线标记"

[2019-08-19 09:13] dbaeumer commented on #732
Can you please provide a description and steps to reproduce in English?

[2019-08-19 09:14] dbaeumer commented on #696
Have you tried the recipe here https://github.com/microsoft/vscode-eslint/issues/696#issuecomment-519936333 to track down what causes the problem?

[2019-08-19 09:16] dbaeumer commented on #731
Currently the ESLint extension doesn't modify the error ranges provided by eslint itself. However I see that for this particular problem moving it might be helpful although I could argue that eslint itself could profit from this as well. Have you talked to the eslint folks about this.

[2019-08-19 09:42] singleghost opened #733 "Eslint server crashes when lints a large bunch of files."
When I use eslint plugin in VSCode to lint a large bunch of files, the eslint server crashes. I try to find some way to add node options like "--max-old-space-size=4096", "--stack_size=10000" to start eslint server but failed.

crash message
[code]

Eslint version: 1.9.0
Vscode version: 1.37.0-insider

[2019-08-19 13:47] ehellman opened #734 "Adding resolvePluginsRelativeTo in eslint.options"
We have our build system split into 2 parts for various reasons. But we'd like to keep everything related to ESLint in the buildsystem package instead of spreading it out. This is our current setup for `eslint@6.2.0`:

[code]

The lint task in package.json uses `-resolve-plugins-relative-to` in the command to make it work. Is it possible to do something to make this work from the VS Code extension

[2019-08-19 17:53] andysbolton opened #735 "ESLint not found in command palette and is not enabled"
Unfortunately I'm not sure how to provide an environment to recreate this so it may be a fool's errand, but fairly consistently, the ESLint plugin will work great and then somehow become disabled. Normally if I look in the command palette, I'll be able to execute the `Enable ESLint for this Workspace` command and it will start up, but in these cases the command is not appearing. Furthermore, ESLin

[2019-08-19 17:59] andysbolton commented on #735
Just found https://github.com/microsoft/vscode-eslint/issues/252, closing now...

[2019-08-19 17:59] #735 closed

[2019-08-19 19:01] semenov-k commented on #731
@dbaeumer, not yet. I will write to them.

[2019-08-20 11:43] ffaubert opened #736 "Please upgrade to eslint 6.2.1"
v6.2.0 has some issues with false positives
https://github.com/eslint/eslint/issues/12117

[2019-08-20 11:47] ffaubert commented on #736
Disregard. Problem not actually solved in v6.2.1.

[2019-08-20 11:47] #736 closed

[2019-08-20 13:15] dbaeumer commented on #736
Just to clarify. The eslint version is fully under your control. The extension doesn't ship with any pre bundled version.

[2019-08-20 13:19] dbaeumer commented on #734
The extension has such a settting. It is historically called `eslint.nodePath` and works like the NODE_PATH environment variable.

[2019-08-20 13:19] #734 closed

[2019-08-20 13:21] dbaeumer commented on #733
@singleghost this can currently not be controlled.

What are you linting that 1 GB of memory is not enough. The server only validates the open files so that should be usually not be more than a handful?

[2019-08-20 13:34] jekusz opened #737 "resolve %appdata% from vs code settings properly"
Having a vscode setting as follows:
[code]
gives this error:
[code]
If the path in the settings file is provided absolute (i.e. C:\\...) then everything works fine which leads to the belief that %appdata% doesn't get resolved as it should.

[2019-08-21 02:22] singleghost commented on #733
Actually I open hundreds of file in vscode at same time. Just because using eslint in the vscode is convenient than using it in the command line 😄 . It would be helpful If can specify the argument for starting server.

[2019-08-21 08:24] dbaeumer commented on #733
There is also a lint task in VS Code that you can use to lint all the files without the need to open them. To enable the task use `eslint.lintTask.enable` using 1.9.1 of ESLint. You can also control the command line using `eslint.lintTask.options`

[2019-08-21 08:25] dbaeumer commented on #737
@jekusz please file the issue against VS Code directly. This should be handle there since the ESLint extension calls VS Code API to resolve a setting.

[2019-08-21 08:25] #737 closed

[2019-08-21 08:32] singleghost commented on #733
I have tried that task but it dumps it output to the integrated terminal not the problem panel. In the problem panel, I can easily jump to the desired position in the file but I can't do this in the integrated terminal.

[2019-08-21 09:10] dbaeumer commented on #733
It does both. It dumps the output to the terminal and captures problems from it that appear in the problems view. Doesn't that work for you?

[2019-08-21 12:09] tkesgar opened #738 "Error when creating new file, but disappear on window reload"
I am getting this error every time I created a new TypeScript file:

[code]

The error disappears if I run `"Developer: Reload Window"`.

The error does not appear if I deleted a TypeScript file and created a new file with the same name.

Visual Studio Code version:

[code]

Extension:

[code]

.eslintrc.json:

[code]

package.json:

[code]

Repository:
https://github.com/charaverse/admiral-hipper

[2019-08-21 12:21] singleghost commented on #733
Oh! It does dumps the output to the problems panel. However, I still cannot pass --max-old-space-size to it because it is a node argument.

[2019-08-21 16:41] marszall87 commented on #600
I'm having the same problem. Interesting fact is that it NEVER autofixes `.ts` files after save (and yes, I enabled it in settings, calling autofix manually works), but it always works for `.js` files. Similar  symptoms as above, for `.ts` files I only see this in output:

[code]

For regular `.js` files:
[code]

[2019-08-21 20:55] thomassuckow opened #739 "Plugin locks *.asar files"
This plugin seems to lock *.asar files (As identified with LockHunter) in the project output directories despite being in .gitignore and not being an extension eslint should be scanning.

I suspect this plugin is traversing directories looking for files and because vscode is an electron app, *.asar files are handled "unusually". I believe they appear as directories to the normal node.js file manip

[2019-08-22 14:00] alexbrotman opened #740 "Show V8 syntax as valid"
Requesting a feature to show V8 syntax as valid via comment-based setting in file.

Example:
[code]

[2019-08-23 03:01] Kostanos opened #741 "vscode-eslint is not seeing NODE_ENV variable"
I'm straggling with NODE_ENV and vscode-eslint.

my **webpack.config.js** has multiples places where **process.env.NODE_ENV** is used.

NODE_ENV is set before vstudio called as `env NODE_ENV=development`

When you run `echo $NODE_ENV` in vstudio terminal, it prints **development**, but vscode-eslint always failed when reading my *webpack.config.js*

PS. when I run eslint from command line it works

[2019-08-23 07:28] dbaeumer commented on #741
Seeing it in the terminal doesn't necessarily mean that the variable is present in VS Code itself since the terminal launches it's own processes. Can you check the following

- Help -> Toggle Developer Tools
- in the developer tools console type `process.env.NODE_ENV`.

What is the value?

If you are under Linux what might matter is how you start VS Code. Although we try to setup the shell environ

[2019-08-23 07:29] dbaeumer commented on #740
What happens if you validate this using ESLint directly in a terminal ?

[2019-08-23 07:38] dbaeumer commented on #739
@bpasero do you know if electron scans for ASAR's in the working directory (the ESLint server starts on the folder directory).

@thomassuckow you can work around this for now using the `eslint.runtime` setting and pointing it to a install node version.

[2019-08-23 07:40] bpasero commented on #739
I doubt electron would scan, but for sure any fs operation that we do can result in ASAR code being executed because we do not disable ASAR every since we use it for our node modules (@alexandrudima to confirm).